Repository home-assistant/frontend, changes with the labels that .github/labeler.yml gives for each.
All labels: Build, Cast, Demo, Design, Dependencies, GitHub Actions, Supervisor

Add last_used option for pipeline and explicit default (#17329)
  src/components/ha-assist-pipeline-picker.ts
  src/components/ha-selector/ha-selector-assist-pipeline.ts
  src/data/selector.ts
  src/dialogs/voice-command-dialog/ha-voice-command-dialog.ts
  src/dialogs/voice-command-dialog/show-ha-voice-command-dialog.ts
  src/external_app/external_messaging.ts
  src/panels/lovelace/common/handle-action.ts
  src/panels/lovelace/components/hui-action-editor.ts
  src/panels/lovelace/hui-root.ts
  src/panels/shopping-list/ha-panel-shopping-list.ts
  src/translations/en.json
Labels: none

Apply suggestions from code review
  src/translations/en.json
Labels: none

Remove duplicate values from log severity enum
  src/data/integration.ts
Labels: none

Update src/translations/en.json
  src/translations/en.json
Labels: none

Rename ActionHandler interface to avoid class conflict
  src/panels/lovelace/common/directives/action-handler-directive.ts
Labels: none

Service selector
  gallery/src/pages/components/ha-selector.ts
  src/components/ha-selector/ha-selector-service.ts
  src/components/ha-selector/ha-selector.ts
  src/data/selector.ts
Labels: Design

Add event entity
  gallery/src/pages/lovelace/entities-card.ts
  src/common/const.ts
  src/common/entity/compute_state_display.ts
  src/common/entity/domain_icon.ts
  src/common/entity/get_states.ts
  src/common/entity/state_active.ts
  src/data/entity_attributes.ts
  src/data/scene.ts
  src/dialogs/more-info/const.ts
  src/panels/config/automation/condition/types/ha-automation-condition-numeric_state.ts
  src/panels/config/automation/condition/types/ha-automation-condition-state.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-numeric_state.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-state.ts
  src/panels/lovelace/create-element/create-row-element.ts
  src/panels/lovelace/entity-rows/hui-event-entity-row.ts
  src/state-summary/state-card-content.js
  src/state-summary/state-card-event.ts
  src/translations/en.json
Labels: Design

Remove unused style
  src/onboarding/onboarding-location.ts
Labels: none

Increase line-height
  src/auth/ha-authorize.ts
  src/onboarding/onboarding-analytics.ts
  src/onboarding/onboarding-core-config.ts
  src/onboarding/onboarding-integrations.ts
  src/onboarding/onboarding-location.ts
  src/onboarding/onboarding-name.ts
Labels: none

Add support for registering config panels (#17296)
  src/data/integration.ts
  src/panels/config/integrations/ha-config-integration-page.ts
  src/types.ts
Labels: none

Add support for registering config panels (#17296)
  src/data/integration.ts
  src/panels/config/integrations/ha-config-integration-page.ts
  src/types.ts
Labels: none

Add prefix support to text selector
  src/components/ha-selector/ha-selector-text.ts
  src/data/selector.ts
  src/panels/config/script/ha-script-editor.ts
Labels: none

Adjust button icon
  src/common/const.ts
  src/common/entity/domain_icon.ts
Labels: none

Improve default theme wording
  src/panels/profile/ha-pick-theme-row.ts
  src/translations/en.json
Labels: none

Apply suggestions
  src/translations/en.json
Labels: none

Add prefix support to text selector (#17335)
  src/components/ha-selector/ha-selector-text.ts
  src/data/selector.ts
  src/panels/config/script/ha-script-editor.ts
Labels: none

Add prefix support to text selector (#17335)
  src/components/ha-selector/ha-selector-text.ts
  src/data/selector.ts
  src/panels/config/script/ha-script-editor.ts
Labels: none

Change button to plus and minus to inc/dec position
  src/panels/lovelace/components/hui-card-options.ts
  src/translations/en.json
Labels: none

Use nominatim from openstreetmap for location search in onboarding (#17287)
  src/auth/ha-authorize.ts
  src/components/map/ha-locations-editor.ts
  src/components/map/ha-map.ts
  src/data/currency.ts
  src/data/openstreetmap.ts
  src/html/onboarding.html.template
  src/onboarding/onboarding-analytics.ts
  src/onboarding/onboarding-core-config.ts
  src/onboarding/onboarding-integrations.ts
  src/onboarding/onboarding-location.ts
  src/onboarding/onboarding-name.ts
  src/translations/en.json
Labels: none

Use nominatim from openstreetmap for location search in onboarding (#17287)
  src/auth/ha-authorize.ts
  src/components/map/ha-locations-editor.ts
  src/components/map/ha-map.ts
  src/data/currency.ts
  src/data/openstreetmap.ts
  src/html/onboarding.html.template
  src/onboarding/onboarding-analytics.ts
  src/onboarding/onboarding-core-config.ts
  src/onboarding/onboarding-integrations.ts
  src/onboarding/onboarding-location.ts
  src/onboarding/onboarding-name.ts
  src/translations/en.json
Labels: none

Change button to plus and minus to inc/dec position (#17194)
  src/panels/lovelace/components/hui-card-options.ts
  src/translations/en.json
Labels: none

Change button to plus and minus to inc/dec position (#17194)
  src/panels/lovelace/components/hui-card-options.ts
  src/translations/en.json
Labels: none

Remove home assistant translation
  src/components/ha-theme-picker.ts
  src/panels/profile/ha-pick-theme-row.ts
  src/translations/en.json
Labels: none

Improve default theme wording (#17336)
  src/components/ha-theme-picker.ts
  src/panels/profile/ha-pick-theme-row.ts
  src/translations/en.json
Labels: none

Improve default theme wording (#17336)
  src/components/ha-theme-picker.ts
  src/panels/profile/ha-pick-theme-row.ts
  src/translations/en.json
Labels: none

Use the user-provided name when sorting devices (#17297)
  src/components/device/ha-device-picker.ts
Labels: none

Use the user-provided name when sorting devices (#17297)
  src/components/device/ha-device-picker.ts
Labels: none

Hide no theme option when required
  src/components/ha-theme-picker.ts
Labels: none

Define update listener as arrow function
  src/components/ha-code-editor.ts
Labels: none

Hide no theme option when required (#17338)
  src/components/ha-theme-picker.ts
Labels: none

Hide no theme option when required (#17338)
  src/components/ha-theme-picker.ts
Labels: none

Fix subscribing
  src/dialogs/more-info/controls/more-info-weather.ts
  src/panels/lovelace/cards/hui-weather-forecast-card.ts
  src/panels/lovelace/entity-rows/hui-weather-entity-row.ts
Labels: none

Use ha-outlined icon button in lock more info
  src/components/ha-outlined-icon-button.ts
  src/dialogs/more-info/controls/more-info-lock.ts
Labels: none

Expand use of prettier to all tracked files
  .github/release-drafter.yml
  .github/workflows/codeql-analysis.yml
  .prettierignore
  .vscode/launch.json
  .vscode/tasks.json
  cast/public/service_worker.js
  demo/public/service_worker.js
  gallery/src/pages/Text/remove-delete-add-create.markdown
  gallery/src/pages/brand/logo.markdown
  gallery/src/pages/components/ha-alert.markdown
  gallery/src/pages/components/ha-dialogs.markdown
  gallery/src/pages/components/ha-gauge.markdown
  gallery/src/pages/components/ha-switch.markdown
  gallery/src/pages/concepts/home.markdown
  gallery/src/pages/date-time/date-time-numeric.markdown
  gallery/src/pages/date-time/date-time-seconds.markdown
  gallery/src/pages/date-time/date-time-short-year.markdown
  gallery/src/pages/date-time/date-time-short.markdown
  gallery/src/pages/date-time/date-time.markdown
  gallery/src/pages/date-time/date.markdown
  gallery/src/pages/date-time/time-seconds.markdown
  gallery/src/pages/date-time/time-weekday.markdown
  gallery/src/pages/date-time/time.markdown
  gallery/src/pages/lovelace/introduction.markdown
  gallery/src/pages/user-test/configuration-menu.markdown
  gallery/src/pages/user-test/user-types.markdown
  lint-staged.config.js
  package.json
Labels: Design, Dependencies, GitHub Actions

Expand use of prettier to all tracked files (#17311)
  .github/release-drafter.yml
  .github/workflows/codeql-analysis.yml
  .prettierignore
  .vscode/launch.json
  .vscode/tasks.json
  cast/public/service_worker.js
  demo/public/service_worker.js
  gallery/src/pages/Text/remove-delete-add-create.markdown
  gallery/src/pages/brand/logo.markdown
  gallery/src/pages/components/ha-alert.markdown
  gallery/src/pages/components/ha-dialogs.markdown
  gallery/src/pages/components/ha-gauge.markdown
  gallery/src/pages/components/ha-switch.markdown
  gallery/src/pages/concepts/home.markdown
  gallery/src/pages/date-time/date-time-numeric.markdown
  gallery/src/pages/date-time/date-time-seconds.markdown
  gallery/src/pages/date-time/date-time-short-year.markdown
  gallery/src/pages/date-time/date-time-short.markdown
  gallery/src/pages/date-time/date-time.markdown
  gallery/src/pages/date-time/date.markdown
  gallery/src/pages/date-time/time-seconds.markdown
  gallery/src/pages/date-time/time-weekday.markdown
  gallery/src/pages/date-time/time.markdown
  gallery/src/pages/lovelace/introduction.markdown
  gallery/src/pages/user-test/configuration-menu.markdown
  gallery/src/pages/user-test/user-types.markdown
  lint-staged.config.js
  package.json
Labels: Design, Dependencies, GitHub Actions

Expand use of prettier to all tracked files (#17311)
  .github/release-drafter.yml
  .github/workflows/codeql-analysis.yml
  .prettierignore
  .vscode/launch.json
  .vscode/tasks.json
  cast/public/service_worker.js
  demo/public/service_worker.js
  gallery/src/pages/Text/remove-delete-add-create.markdown
  gallery/src/pages/brand/logo.markdown
  gallery/src/pages/components/ha-alert.markdown
  gallery/src/pages/components/ha-dialogs.markdown
  gallery/src/pages/components/ha-gauge.markdown
  gallery/src/pages/components/ha-switch.markdown
  gallery/src/pages/concepts/home.markdown
  gallery/src/pages/date-time/date-time-numeric.markdown
  gallery/src/pages/date-time/date-time-seconds.markdown
  gallery/src/pages/date-time/date-time-short-year.markdown
  gallery/src/pages/date-time/date-time-short.markdown
  gallery/src/pages/date-time/date-time.markdown
  gallery/src/pages/date-time/date.markdown
  gallery/src/pages/date-time/time-seconds.markdown
  gallery/src/pages/date-time/time-weekday.markdown
  gallery/src/pages/date-time/time.markdown
  gallery/src/pages/lovelace/introduction.markdown
  gallery/src/pages/user-test/configuration-menu.markdown
  gallery/src/pages/user-test/user-types.markdown
  lint-staged.config.js
  package.json
Labels: Design, Dependencies, GitHub Actions

Update self-sufficiency card title and tooltip (#17241)
  src/translations/en.json
Labels: none

Update self-sufficiency card title and tooltip (#17241)
  src/translations/en.json
Labels: none

Use ha-outlined icon button in lock more info (#17339)
  src/components/ha-outlined-icon-button.ts
  src/dialogs/more-info/controls/more-info-lock.ts
Labels: none

Use ha-outlined icon button in lock more info (#17339)
  src/components/ha-outlined-icon-button.ts
  src/dialogs/more-info/controls/more-info-lock.ts
Labels: none

.github/labeler.yml:

Build:
  - build-scripts/**
  - .browserslistrc
  - gulpfile.js

Cast:
  - cast/src/**
  - src/cast/**

Demo:
  - demo/src/**
  - src/fake_data/**

Design:
  - gallery/src/**
  - src/fake_data/**

Dependencies:
  - package.json
  - renovate.json
  - yarn.lock
  - .yarn/**
  - .yarnrc.yml
  - .nvmrc

GitHub Actions:
  - .github/workflows/**
  - .github/*.yml

Supervisor:
  - hassio/src/**
