Repository home-assistant/frontend, changes with the labels that .github/labeler.yml gives for each.
All labels: Build, Cast, Demo, Design, Dependencies, GitHub Actions, Supervisor

.github/labeler.yml:

Build:
  - build-scripts/**
  - .browserslistrc
  - gulpfile.js

Cast:
  - cast/src/**
  - src/cast/**

Demo:
  - demo/src/**
  - src/fake_data/**

Design:
  - gallery/src/**
  - src/fake_data/**

Dependencies:
  - package.json
  - renovate.json
  - yarn.lock
  - .yarn/**
  - .yarnrc.yml
  - .nvmrc

GitHub Actions:
  - .github/workflows/**
  - .github/*.yml

Supervisor:
  - hassio/src/**

Use icon button to switch between code and editor
  src/panels/lovelace/editor/config-elements/hui-conditional-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-stack-card-editor.ts
  src/panels/lovelace/editor/hui-sub-element-editor.ts
Labels: none

Don't show paste from clipboard card when user search for a card
  src/panels/lovelace/editor/card-editor/hui-card-picker.ts
Labels: none

Consistently treat `standby` as a non-active state for media_player (#17289)
  src/data/media-player.ts
  src/dialogs/more-info/controls/more-info-media_player.ts
  src/panels/lovelace/cards/hui-media-control-card.ts
  src/panels/lovelace/entity-rows/hui-media-player-entity-row.ts
Labels: none

Consistently treat `standby` as a non-active state for media_player (#17289)
  src/data/media-player.ts
  src/dialogs/more-info/controls/more-info-media_player.ts
  src/panels/lovelace/cards/hui-media-control-card.ts
  src/panels/lovelace/entity-rows/hui-media-player-entity-row.ts
Labels: none

state-humidifier-on-color
  src/components/chart/state-history-chart-line.ts
  src/resources/ha-style.ts
Labels: none

Add support for registering config panels
  src/data/integration.ts
  src/panels/config/integrations/ha-config-integration-page.ts
  src/types.ts
Labels: none

Fix autocorrect and spellcheck for ha-textfield (#17274)
  src/components/ha-combo-box.ts
  src/components/ha-textfield.ts
  src/panels/config/entities/entity-registry-settings-editor.ts
  src/panels/developer-tools/state/developer-tools-state.js
Labels: none

Fix autocorrect and spellcheck for ha-textfield (#17274)
  src/components/ha-combo-box.ts
  src/components/ha-textfield.ts
  src/panels/config/entities/entity-registry-settings-editor.ts
  src/panels/developer-tools/state/developer-tools-state.js
Labels: none

Add condition selector for blueprint (#17278)
  src/components/ha-selector/ha-selector-condition.ts
  src/components/ha-selector/ha-selector.ts
  src/data/selector.ts
Labels: none

Add condition selector for blueprint (#17278)
  src/components/ha-selector/ha-selector-condition.ts
  src/components/ha-selector/ha-selector.ts
  src/data/selector.ts
Labels: none

Add icon to edit card overflow menu (#17293)
  src/panels/lovelace/components/hui-card-options.ts
  src/translations/en.json
Labels: none

Add icon to edit card overflow menu (#17293)
  src/panels/lovelace/components/hui-card-options.ts
  src/translations/en.json
Labels: none

Use icon button to switch between code and editor (#17294)
  src/panels/lovelace/editor/config-elements/hui-conditional-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-stack-card-editor.ts
  src/panels/lovelace/editor/hui-sub-element-editor.ts
Labels: none

Use icon button to switch between code and editor (#17294)
  src/panels/lovelace/editor/config-elements/hui-conditional-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-stack-card-editor.ts
  src/panels/lovelace/editor/hui-sub-element-editor.ts
Labels: none

Don't show paste from clipboard card when user search for a card (#17295)
  src/panels/lovelace/editor/card-editor/hui-card-picker.ts
Labels: none

Don't show paste from clipboard card when user search for a card (#17295)
  src/panels/lovelace/editor/card-editor/hui-card-picker.ts
Labels: none

Refactor lock and alarm panel code dialog (#17254)
  src/data/lock.ts
  src/dialogs/more-info/components/lock/ha-more-info-lock-toggle.ts
  src/dialogs/more-info/controls/more-info-lock.ts
Labels: none

Refactor lock and alarm panel code dialog (#17254)
  src/data/lock.ts
  src/dialogs/more-info/components/lock/ha-more-info-lock-toggle.ts
  src/dialogs/more-info/controls/more-info-lock.ts
Labels: none

Add current humidity to humidifier history chart (#17288)
  src/components/chart/state-history-chart-line.ts
  src/data/history.ts
  src/resources/ha-style.ts
  src/translations/en.json
Labels: none

Add current humidity to humidifier history chart (#17288)
  src/components/chart/state-history-chart-line.ts
  src/data/history.ts
  src/resources/ha-style.ts
  src/translations/en.json
Labels: none

remove detect text
  src/onboarding/onboarding-location.ts
  src/translations/en.json
Labels: none

Use `ui.common.search`
  src/onboarding/onboarding-location.ts
  src/translations/en.json
Labels: none

Use translation keys for Network configuration pages (#17261)
  src/panels/config/network/dialog-ip-detail.ts
  src/panels/config/network/ha-config-network.ts
  src/panels/config/network/supervisor-network.ts
  src/translations/en.json
Labels: none

Use translation keys for Network configuration pages (#17261)
  src/panels/config/network/dialog-ip-detail.ts
  src/panels/config/network/ha-config-network.ts
  src/panels/config/network/supervisor-network.ts
  src/translations/en.json
Labels: none

padding changes
  src/panels/config/automation/action/types/ha-automation-action-choose.ts
Labels: none

Use the user-provided name when sorting devices
  src/components/device/ha-device-picker.ts
Labels: none

Make action-choose options collapsible (#17239)
  src/panels/config/automation/action/types/ha-automation-action-choose.ts
  src/translations/en.json
Labels: none

Make action-choose options collapsible (#17239)
  src/panels/config/automation/action/types/ha-automation-action-choose.ts
  src/translations/en.json
Labels: none

Update config and remove .prettierignore
  .prettierignore
  package.json
  prettier.config.js
Labels: Dependencies

Remove paper-input elements from supervisor-network
  src/panels/config/network/supervisor-network.ts
Labels: none

Remove paper-items from ha-config-area-page
  src/panels/config/areas/ha-config-area-page.ts
Labels: none

Update wording in UI when restoring partial backup
  hassio/src/dialogs/backup/dialog-hassio-backup.ts
Labels: Supervisor

Update wording in UI when restoring partial backup (#17319)
  hassio/src/dialogs/backup/dialog-hassio-backup.ts
Labels: Supervisor

Update wording in UI when restoring partial backup (#17319)
  hassio/src/dialogs/backup/dialog-hassio-backup.ts
Labels: Supervisor

Use device battery entity for vacuum more info
  src/data/entity_registry.ts
  src/dialogs/more-info/controls/more-info-vacuum.ts
Labels: none

Add crosshairs, destroy globals, and tweak updates for code editor
  src/components/ha-code-editor.ts
  src/components/ha-yaml-editor.ts
  src/resources/codemirror.ondemand.ts
  src/resources/codemirror.ts
Labels: none

Add last-used option for pipeline and explicit default
  src/components/ha-assist-pipeline-picker.ts
  src/components/ha-selector/ha-selector-assist-pipeline.ts
  src/data/selector.ts
  src/dialogs/voice-command-dialog/ha-voice-command-dialog.ts
  src/dialogs/voice-command-dialog/show-ha-voice-command-dialog.ts
  src/external_app/external_messaging.ts
  src/panels/lovelace/common/handle-action.ts
  src/panels/lovelace/components/hui-action-editor.ts
  src/panels/lovelace/hui-root.ts
  src/panels/shopping-list/ha-panel-shopping-list.ts
  src/translations/en.json
Labels: none

Default to last used
  src/components/ha-assist-pipeline-picker.ts
  src/dialogs/voice-command-dialog/ha-voice-command-dialog.ts
  src/dialogs/voice-command-dialog/show-ha-voice-command-dialog.ts
  src/panels/lovelace/common/handle-action.ts
Labels: none

Update attribution location
  src/onboarding/onboarding-location.ts
  src/translations/en.json
Labels: none

Add last_used option for pipeline and explicit default (#17329)
  src/components/ha-assist-pipeline-picker.ts
  src/components/ha-selector/ha-selector-assist-pipeline.ts
  src/data/selector.ts
  src/dialogs/voice-command-dialog/ha-voice-command-dialog.ts
  src/dialogs/voice-command-dialog/show-ha-voice-command-dialog.ts
  src/external_app/external_messaging.ts
  src/panels/lovelace/common/handle-action.ts
  src/panels/lovelace/components/hui-action-editor.ts
  src/panels/lovelace/hui-root.ts
  src/panels/shopping-list/ha-panel-shopping-list.ts
  src/translations/en.json
Labels: none
