Repository home-assistant/frontend, changes with the labels that .github/labeler.yml gives for each.
All labels: Build, Cast, Demo, Design, Dependencies, GitHub Actions, Supervisor

.github/labeler.yml:

Build:
  - build-scripts/**
  - .browserslistrc
  - gulpfile.js

Cast:
  - cast/src/**
  - src/cast/**

Demo:
  - demo/src/**
  - src/fake_data/**

Design:
  - gallery/src/**
  - src/fake_data/**

Dependencies:
  - package.json
  - renovate.json
  - yarn.lock
  - .yarn/**
  - .yarnrc.yml
  - .nvmrc

GitHub Actions:
  - .github/workflows/**
  - .github/*.yml

Supervisor:
  - hassio/src/**

Add event entity (#17332)
  gallery/src/pages/lovelace/entities-card.ts
  src/common/const.ts
  src/common/entity/compute_state_display.ts
  src/common/entity/domain_icon.ts
  src/common/entity/get_states.ts
  src/common/entity/state_active.ts
  src/data/entity_attributes.ts
  src/data/logbook.ts
  src/data/scene.ts
  src/dialogs/more-info/const.ts
  src/panels/config/automation/condition/types/ha-automation-condition-numeric_state.ts
  src/panels/config/automation/condition/types/ha-automation-condition-state.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-numeric_state.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-state.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/lovelace/create-element/create-row-element.ts
  src/panels/lovelace/entity-rows/hui-event-entity-row.ts
  src/state-summary/state-card-content.js
  src/state-summary/state-card-event.ts
  src/translations/en.json
Labels: Design

Add event entity (#17332)
  gallery/src/pages/lovelace/entities-card.ts
  src/common/const.ts
  src/common/entity/compute_state_display.ts
  src/common/entity/domain_icon.ts
  src/common/entity/get_states.ts
  src/common/entity/state_active.ts
  src/data/entity_attributes.ts
  src/data/logbook.ts
  src/data/scene.ts
  src/dialogs/more-info/const.ts
  src/panels/config/automation/condition/types/ha-automation-condition-numeric_state.ts
  src/panels/config/automation/condition/types/ha-automation-condition-state.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-numeric_state.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-state.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/lovelace/create-element/create-row-element.ts
  src/panels/lovelace/entity-rows/hui-event-entity-row.ts
  src/state-summary/state-card-content.js
  src/state-summary/state-card-event.ts
  src/translations/en.json
Labels: Design

Implement forecast types for Weather (#15028)
  src/data/weather.ts
  src/dialogs/more-info/controls/more-info-weather.ts
  src/panels/lovelace/cards/hui-weather-forecast-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/editor/config-elements/hui-weather-forecast-card-editor.ts
  src/panels/lovelace/entity-rows/hui-weather-entity-row.ts
  src/translations/en.json
Labels: none

Implement forecast types for Weather (#15028)
  src/data/weather.ts
  src/dialogs/more-info/controls/more-info-weather.ts
  src/panels/lovelace/cards/hui-weather-forecast-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/editor/config-elements/hui-weather-forecast-card-editor.ts
  src/panels/lovelace/entity-rows/hui-weather-entity-row.ts
  src/translations/en.json
Labels: none

Filter energy grid sources to not allow duplicates
  src/components/entity/ha-statistic-picker.ts
  src/panels/config/energy/components/ha-energy-grid-settings.ts
  src/panels/config/energy/dialogs/dialog-energy-grid-flow-settings.ts
  src/panels/config/energy/dialogs/show-dialogs-energy.ts
Labels: none

minor line rearrangement
  src/components/entity/ha-statistic-picker.ts
Labels: none

Enable cache in CI and locally for ESLint and Prettier
  .github/workflows/ci.yaml
  .github/workflows/cleanup.yaml
  lint-staged.config.js
  package.json
Labels: Dependencies, GitHub Actions

Add device_class PH, including default icon
  gallery/src/pages/misc/entity-state.ts
  src/common/const.ts
  src/common/entity/get_states.ts
Labels: Design

Fix change in ids
  src/panels/config/network/supervisor-network.ts
Labels: none

Fix trailing gap on energy graph cards
  src/panels/lovelace/cards/energy/hui-energy-gas-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-solar-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-usage-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-water-graph-card.ts
Labels: none

Use date methods instead of unix time calculation
  src/panels/lovelace/cards/energy/hui-energy-gas-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-solar-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-usage-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-water-graph-card.ts
Labels: none

Remove cache cleanup action
  .github/workflows/cleanup.yaml
Labels: GitHub Actions

Enable cache in CI and locally for ESLint and Prettier (#17384)
  .github/workflows/ci.yaml
  lint-staged.config.js
  package.json
Labels: Dependencies, GitHub Actions

Enable cache in CI and locally for ESLint and Prettier (#17384)
  .github/workflows/ci.yaml
  lint-staged.config.js
  package.json
Labels: Dependencies, GitHub Actions

Disallow custom entity
  src/components/ha-target-picker.ts
Labels: none

Add device_class PH, including default icon (#17385)
  gallery/src/pages/misc/entity-state.ts
  src/common/const.ts
  src/common/entity/get_states.ts
Labels: Design

Add device_class PH, including default icon (#17385)
  gallery/src/pages/misc/entity-state.ts
  src/common/const.ts
  src/common/entity/get_states.ts
Labels: Design

Change errorMessage into validationMessage for remaining forms
  src/panels/calendar/dialog-calendar-event-editor.ts
  src/panels/config/application_credentials/dialog-add-application-credential.ts
  src/panels/config/areas/dialog-area-registry-detail.ts
  src/panels/config/entities/entity-registry-settings-editor.ts
  src/panels/config/person/dialog-person-detail.ts
  src/panels/config/tags/dialog-tag-detail.ts
  src/panels/config/users/dialog-add-user.ts
Labels: none

Add radio list item
  src/components/ha-radio-list-item.ts
Labels: none

Add My support for companion app settings
  src/panels/my/ha-panel-my.ts
  src/translations/en.json
Labels: none

Add My support for companion app settings (#17398)
  src/panels/my/ha-panel-my.ts
  src/translations/en.json
Labels: none

Add My support for companion app settings (#17398)
  src/panels/my/ha-panel-my.ts
  src/translations/en.json
Labels: none

Complete service translation support in service dev tools
  src/panels/developer-tools/service/developer-tools-service.ts
Labels: none

Process review comments
  src/panels/developer-tools/service/developer-tools-service.ts
Labels: none

Adjust default icon of event entity
  src/common/entity/domain_icon.ts
Labels: none

Adjust default icon of event entity (#17401)
  src/common/entity/domain_icon.ts
Labels: none

Adjust default icon of event entity (#17401)
  src/common/entity/domain_icon.ts
Labels: none

Complete service translation support in service dev tools (#17399)
  src/panels/developer-tools/service/developer-tools-service.ts
Labels: none

Complete service translation support in service dev tools (#17399)
  src/panels/developer-tools/service/developer-tools-service.ts
Labels: none

Make required asterisk consistent
  src/components/ha-selector/ha-selector-number.ts
  src/components/ha-selector/ha-selector-template.ts
Labels: none

Bumped version to 20230725.0
  pyproject.toml
Labels: none

Bumped version to 20230725.0
  pyproject.toml
Labels: none
