Repository home-assistant/frontend, changes with the labels that .github/labeler.yml gives for each.
All labels: Build, Cast, Demo, Design, Dependencies, GitHub Actions, Supervisor

Fix missing autocomplete in energy settings (#17218)
  src/components/entity/ha-statistic-picker.ts
Labels: none

Fix missing autocomplete in energy settings (#17218)
  src/components/entity/ha-statistic-picker.ts
Labels: none

Fix a browser hang with charts in grids (#17244)
  src/components/chart/state-history-charts.ts
Labels: none

Fix a browser hang with charts in grids (#17244)
  src/components/chart/state-history-charts.ts
Labels: none

Update download-translations.js
  build-scripts/gulp/download-translations.js
Labels: Build

Update download-translations.js
  build-scripts/gulp/download-translations.js
Labels: Build

Simplify script/automation action description with nested conditions/triggers (#17252)
  src/data/script_i18n.ts
  src/translations/en.json
Labels: none

Simplify script/automation action description with nested conditions/triggers (#17252)
  src/data/script_i18n.ts
  src/translations/en.json
Labels: none

Move call lock service to entity file
  src/data/lock.ts
  src/dialogs/more-info/components/lock/ha-more-info-lock-toggle.ts
  src/dialogs/more-info/controls/more-info-lock.ts
Labels: none

Move call alarm service to entity file
  src/state/connection-mixin.ts
Labels: none

Fix notification error when calling service
  src/state/connection-mixin.ts
Labels: none

Fix notification error when calling service (#17255)
  src/state/connection-mixin.ts
Labels: none

Fix notification error when calling service (#17255)
  src/state/connection-mixin.ts
Labels: none

Fix history issue when closing more info dialog by clicking update
  src/panels/config/entities/editor-tabs/settings/entity-settings-helper-tab.ts
  src/panels/config/entities/entity-registry-settings.ts
Labels: none

Revise self-sufficiency card tooltip
  src/translations/en.json
Labels: none

Prevent items in add integration dialog from flickering
  src/panels/config/integrations/dialog-add-integration.ts
Labels: none

Network labels
  src/panels/config/network/dialog-ip-detail.ts
  src/panels/config/network/ha-config-network.ts
  src/panels/config/network/supervisor-network.ts
  src/translations/en.json
Labels: none

Bump HAWS to 8.2.0
  package.json
  src/entrypoints/core.ts
  src/onboarding/ha-onboarding.ts
  yarn.lock
Labels: Dependencies

Bump HAWS to 8.2.0 (#17263)
  package.json
  src/entrypoints/core.ts
  src/onboarding/ha-onboarding.ts
  yarn.lock
Labels: Dependencies

Bump HAWS to 8.2.0 (#17263)
  package.json
  src/entrypoints/core.ts
  src/onboarding/ha-onboarding.ts
  yarn.lock
Labels: Dependencies

Remove quotes
  src/panels/config/network/ha-config-network.ts
Labels: none

Add support for service translations
  src/components/ha-service-control.ts
  src/components/ha-service-description.js
  src/components/ha-service-picker.ts
  src/data/script_i18n.ts
  src/data/translation.ts
  src/panels/config/ha-panel-config.ts
  src/panels/config/integrations/integration-panels/zha/zha-add-devices-page.ts
  src/panels/config/integrations/integration-panels/zha/zha-device-card.ts
  src/panels/config/integrations/integration-panels/zha/zha-device-pairing-status-card.ts
  src/panels/lovelace/common/handle-action.ts
Labels: none

Add selector translation support
  src/components/ha-service-control.ts
Labels: none

Add download button to assist sentence parser dev tool
  src/panels/developer-tools/assist/developer-tools-assist.ts
Labels: none

Add support for service translations (#17264)
  src/components/ha-service-control.ts
  src/components/ha-service-description.js
  src/components/ha-service-picker.ts
  src/data/script_i18n.ts
  src/data/translation.ts
  src/panels/config/ha-panel-config.ts
  src/panels/config/integrations/integration-panels/zha/zha-add-devices-page.ts
  src/panels/config/integrations/integration-panels/zha/zha-device-card.ts
  src/panels/config/integrations/integration-panels/zha/zha-device-pairing-status-card.ts
  src/panels/lovelace/common/handle-action.ts
Labels: none

Add support for service translations (#17264)
  src/components/ha-service-control.ts
  src/components/ha-service-description.js
  src/components/ha-service-picker.ts
  src/data/script_i18n.ts
  src/data/translation.ts
  src/panels/config/ha-panel-config.ts
  src/panels/config/integrations/integration-panels/zha/zha-add-devices-page.ts
  src/panels/config/integrations/integration-panels/zha/zha-device-card.ts
  src/panels/config/integrations/integration-panels/zha/zha-device-pairing-status-card.ts
  src/panels/lovelace/common/handle-action.ts
Labels: none

Prune empty value_template field from numeric_state
  src/panels/config/automation/condition/types/ha-automation-condition-numeric_state.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-numeric_state.ts
Labels: none

Prevent items in add integration dialog from flickering (#17260)
  src/panels/config/integrations/dialog-add-integration.ts
Labels: none

Prevent items in add integration dialog from flickering (#17260)
  src/panels/config/integrations/dialog-add-integration.ts
Labels: none

Prune empty value_template field from numeric_state (#17272)
  src/panels/config/automation/condition/types/ha-automation-condition-numeric_state.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-numeric_state.ts
Labels: none

Prune empty value_template field from numeric_state (#17272)
  src/panels/config/automation/condition/types/ha-automation-condition-numeric_state.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-numeric_state.ts
Labels: none

Remove hideMoreInfoDialog function
  src/dialogs/more-info/show-ha-more-info-dialog.ts
  src/panels/config/entities/ha-config-entities.ts
Labels: none

`start_pause` is only supported on entities that don't have `STATE` sup… (#17147)
  src/dialogs/more-info/controls/more-info-vacuum.ts
  src/panels/lovelace/tile-features/hui-vacuum-commands-tile-feature.ts
Labels: none

`start_pause` is only supported on entities that don't have `STATE` sup… (#17147)
  src/dialogs/more-info/controls/more-info-vacuum.ts
  src/panels/lovelace/tile-features/hui-vacuum-commands-tile-feature.ts
Labels: none

Fix history issue when closing more info dialog by clicking update (#17257)
  src/dialogs/more-info/show-ha-more-info-dialog.ts
  src/panels/config/entities/editor-tabs/settings/entity-settings-helper-tab.ts
  src/panels/config/entities/entity-registry-settings.ts
  src/panels/config/entities/ha-config-entities.ts
Labels: none

Fix history issue when closing more info dialog by clicking update (#17257)
  src/dialogs/more-info/show-ha-more-info-dialog.ts
  src/panels/config/entities/editor-tabs/settings/entity-settings-helper-tab.ts
  src/panels/config/entities/entity-registry-settings.ts
  src/panels/config/entities/ha-config-entities.ts
Labels: none

Fix autocorrect and spellcheck for ha-textfield
  src/components/ha-textfield.ts
Labels: none

Fix spellcheck
  src/components/ha-combo-box.ts
  src/panels/developer-tools/state/developer-tools-state.js
Labels: none

disable autocapitalize and autocorrect in entity id field
  src/panels/config/entities/entity-registry-settings-editor.ts
Labels: none

Add condition selector for blueprint
  src/components/ha-selector/ha-selector-condition.ts
  src/components/ha-selector/ha-selector.ts
  src/data/selector.ts
Labels: none

.github/labeler.yml:

Build:
  - build-scripts/**
  - .browserslistrc
  - gulpfile.js

Cast:
  - cast/src/**
  - src/cast/**

Demo:
  - demo/src/**
  - src/fake_data/**

Design:
  - gallery/src/**
  - src/fake_data/**

Dependencies:
  - package.json
  - renovate.json
  - yarn.lock
  - .yarn/**
  - .yarnrc.yml
  - .nvmrc

GitHub Actions:
  - .github/workflows/**
  - .github/*.yml

Supervisor:
  - hassio/src/**
