Repository home-assistant/frontend, pull requests merged in 2018-10, with the labels that each got.

#1715 Remove turn_off from brightness slider
  src/dialogs/more-info/controls/more-info-light.js
Labels: Hacktoberfest, cla-signed, in progress

#1717 Add l10n suppor for profile panel
  src/panels/profile/ha-change-password-card.js
  src/panels/profile/ha-mfa-module-setup-flow.js
  src/panels/profile/ha-mfa-modules-card.js
  src/panels/profile/ha-panel-profile.js
  src/translations/en.json
Labels: Hacktoberfest, cla-signed, in progress

#1719 Apply user language preference on datetime formatting
  src/components/state-history-chart-line.js
  src/components/state-history-chart-timeline.js
  src/dialogs/more-info/controls/more-info-sun.js
  src/panels/config/cloud/ha-config-cloud-account.js
  src/panels/dev-info/ha-panel-dev-info.js
  src/panels/history/ha-panel-history.js
  src/panels/logbook/ha-logbook.js
  src/panels/logbook/ha-panel-logbook.js
  src/panels/mailbox/ha-panel-mailbox.js
  src/panels/profile/ha-long-lived-access-tokens-card.js
  src/panels/profile/ha-refresh-tokens-card.js
Labels: Hacktoberfest, cla-signed, in progress

#1713 Add pressure sensor device class
  src/common/entity/sensor_icon.js
  src/util/hass-attributes-util.js
Labels: Hacktoberfest, cla-signed, in progress

#1720 Fix zero degree in weather card
  src/cards/ha-weather-card.js
  src/dialogs/more-info/controls/more-info-weather.js
Labels: Hacktoberfest, cla-signed, in progress

#1718 L10N config-entries
  src/panels/config/config-entries/ha-ce-entities-card.js
  src/panels/config/config-entries/ha-config-entries-dashboard.js
  src/panels/config/config-entries/ha-config-entry-page.js
  src/panels/config/config-entries/ha-device-card.js
  src/panels/config/dashboard/ha-config-dashboard.js
  src/translations/en.json
Labels: Hacktoberfest, cla-signed, in progress

#1661 Convert climate water heaters to new water_heaters component
  src/common/const.js
  src/common/entity/domain_icon.js
  src/components/ha-water_heater-control.js
  src/components/ha-water_heater-state.js
  src/components/state-history-chart-line.js
  src/data/ha-state-history-data.js
  src/dialogs/more-info/controls/more-info-content.js
  src/dialogs/more-info/controls/more-info-water_heater.js
  src/state-summary/state-card-content.js
  src/state-summary/state-card-water_heater.js
  src/translations/en.json
  src/util/hass-attributes-util.js
Labels: cla-signed, in progress

#1721 Fix link color for Hass.io update panel
  hassio/src/dashboard/hassio-hass-update.js
Labels: cla-signed, in progress

#1702 Use new LL command
  src/panels/lovelace/ha-panel-lovelace.js
Labels: cla-signed, in progress

#1730 Lovelace: Remove margin from conditional if not shown
  src/panels/lovelace/cards/hui-conditional-card.js
Labels: cla-signed, in progress

#1734 Fix console errors in LL when entities are unavailable.
  src/panels/lovelace/entity-rows/hui-input-number-entity-row.js
  src/panels/lovelace/entity-rows/hui-input-text-entity-row.js
  src/panels/lovelace/entity-rows/hui-media-player-entity-row.js
  src/panels/lovelace/entity-rows/hui-text-entity-row.js
  src/panels/lovelace/entity-rows/hui-timer-entity-row.js
Labels: cla-signed, in progress

#1725 [WIP] Handle dict syntax in state trigger "for"
  src/entrypoints/compatibility.js
  src/panels/config/js/trigger/state.js
Labels: Hacktoberfest, cla-signed, in progress

#1739 Inline domain icon
  src/components/domain-icon.js
  src/panels/logbook/ha-logbook.js
Labels: cla-signed, in progress

#1738 Introduce Lit Element
  package.json
  src/components/buttons/ha-call-api-button.js
  yarn.lock
Labels: Hacktoberfest, cla-signed, in progress

#1746 transpile mjs
  webpack.config.js
Labels: cla-signed, in progress

#1733 Add time created to persistent notifications.
  src/panels/lovelace/components/notifications/hui-persistent-notification-item.js
Labels: Hacktoberfest, cla-signed, in progress

#1748 Update Lit to 0.6.2
  package.json
  src/components/buttons/ha-call-api-button.js
  yarn.lock
Labels: cla-signed, in progress

#1744 Add sensor-graph-card
  src/panels/lovelace/cards/hui-sensor-card.js
  src/panels/lovelace/common/create-card-element.js
Labels: Hacktoberfest, cla-signed, in progress

#1714 Fix non-working zwave log andriod PWA
  src/common/config/is_pwa.js
  src/panels/config/zwave/zwave-log-dialog.js
  src/panels/config/zwave/zwave-log.js
Labels: Hacktoberfest, cla-signed, in progress

#1750 Fix sensor card error when only one state history entry.
  src/panels/lovelace/cards/hui-sensor-card.js
Labels: cla-signed, in progress

#1742 Adding Gauge Card to Lovelace
  gallery/src/demos/demo-hui-gauge-card.js
  src/panels/lovelace/cards/hui-gauge-card.js
  src/panels/lovelace/common/create-card-element.js
Labels: Hacktoberfest, cla-signed, in progress

#1728 Logbook: filter by entity and period
  src/panels/logbook/ha-logbook-data.js
  src/panels/logbook/ha-logbook.js
  src/panels/logbook/ha-panel-logbook.js
Labels: Hacktoberfest, cla-signed, in progress

#1757 Missing localize mix in
  src/panels/config/config-entries/ha-ce-entities-card.js
Labels: cla-signed, in progress

#1760 Convert glance card to lit
  package.json
  src/panels/lovelace/cards/hui-glance-card.js
Labels: Hacktoberfest, cla-signed, in progress

#1761 add min-width to childeren of horizontal stack
  src/panels/lovelace/cards/hui-horizontal-stack-card.js
Labels: Hacktoberfest, cla-signed, in progress

#1763 Introduce object rest spread
  config/babel.js
  gallery/webpack.config.js
  hassio/webpack.config.js
  package.json
  src/panels/lovelace/cards/hui-entity-filter-card.js
  src/panels/lovelace/cards/hui-gauge-card.js
  src/panels/lovelace/cards/hui-glance-card.js
  src/panels/lovelace/cards/hui-sensor-card.js
  webpack.config.js
Labels: Hacktoberfest, cla-signed, in progress

#1769 Fix checking for syntax if for doesn't exist
  src/panels/config/js/trigger/state.js
Labels: cla-signed, in progress

#1771 Clean up localize mixin
  src/mixins/lit-localize-mixin.js
  src/mixins/localize-base-mixin.js
  src/mixins/localize-lite-mixin.js
  src/mixins/localize-mixin.js
  src/panels/lovelace/cards/hui-glance-card.js
  src/panels/profile/ha-panel-profile.js
  src/util/app-localize-behavior.js
Labels: cla-signed, in progress

#1772 Remove default export fire event
  gallery/src/data/provide_hass.js
  src/common/dom/fire_event.js
  src/components/buttons/ha-call-api-button.js
  src/mixins/events-mixin.js
  src/panels/lovelace/common/create-card-element.js
  src/panels/lovelace/common/create-hui-element.js
  src/panels/lovelace/common/create-row-element.js
Labels: Hacktoberfest, cla-signed, in progress

#1773 Introduce TypeScript
  config/babel.js
  gallery/webpack.config.js
  hassio/webpack.config.js
  package.json
  src/mixins/lit-localize-mixin.js
  src/mixins/lit-localize-mixin.ts
  src/mixins/localize-base-mixin.js
  src/mixins/localize-base-mixin.ts
  src/mixins/localize-mixin.js
  src/panels/lovelace/cards/hui-glance-card.ts
  src/panels/lovelace/common/create-card-element.js
  src/panels/lovelace/types.ts
  src/types.ts
  tsconfig.json
  tslint.json
  webpack.config.js
  yarn.lock
Labels: Hacktoberfest, cla-signed, in progress

#1758 Adding Alarm Panel to Lovelace
  gallery/src/demos/demo-hui-alarm-panel-card.js
  src/panels/lovelace/cards/hui-alarm-panel-card.js
  src/panels/lovelace/common/create-card-element.js
Labels: Hacktoberfest, cla-signed, in progress

#1766 Button Card - Lovelace Addition
  gallery/src/demos/demo-hui-entity-button-card.js
  src/panels/lovelace/cards/hui-entity-button-card.js
  src/panels/lovelace/common/create-card-element.js
Labels: Hacktoberfest, cla-signed, in progress

#1774 Fix Icon spacing in Logbook list
  src/panels/logbook/ha-logbook.js
Labels: cla-signed, in progress

#1776 Add types to hass object properties
  src/types.ts
Labels: Hacktoberfest, cla-signed, in progress

#1777 Hide Z-Wave "Remove/Replace Failed Node" Buttons unless nodes are failed
  src/panels/config/zwave/ha-config-zwave.js
Labels: Hacktoberfest, cla-signed, in progress

#1779 Lovelace: Add a label entity row
  gallery/src/demos/demo-hui-entities-card.js
  src/panels/lovelace/common/create-row-element.js
  src/panels/lovelace/special-rows/hui-section-row.js
Labels: Hacktoberfest, cla-signed, in progress

#1780 Type check as part of lint
  package.json
  src/mixins/lit-localize-mixin.ts
  src/mixins/localize-base-mixin.ts
  src/panels/lovelace/cards/hui-glance-card.ts
Labels: Hacktoberfest, cla-signed, in progress

#1778 Update Button Card to TS + Lit
  src/panels/lovelace/cards/hui-entity-button-card.js
  src/panels/lovelace/cards/hui-entity-button-card.ts
  src/panels/lovelace/common/create-card-element.js
Labels: Hacktoberfest, cla-signed, in progress

#1782 Added domain icon for homekit
  src/common/entity/domain_icon.js
Labels: Hacktoberfest, cla-signed, in progress

#1781 Upgrade MDI icons
  yarn.lock
Labels: Hacktoberfest, cla-signed, in progress

#1785 Fix showing sub info
  src/panels/config/cloud/ha-config-cloud-account.js
Labels: Hacktoberfest, cla-signed, in progress

#1784 Add some decorators
  config/babel.js
  package.json
  src/mixins/lit-localize-mixin.ts
  src/panels/lovelace/cards/hui-entity-button-card.ts
  src/panels/lovelace/cards/hui-glance-card.ts
  tslint.json
  yarn.lock
Labels: Hacktoberfest, cla-signed, in progress

#1789 Lovelace: Fix margins in vertical-stack
  src/panels/lovelace/cards/hui-vertical-stack-card.js
Labels: cla-signed, in progress

#1788 Guard cloud info being null
  src/panels/config/cloud/ha-config-cloud.js
Labels: cla-signed, in progress

#1790 Remove property decorator
  config/babel.js
  package.json
  src/panels/lovelace/cards/hui-entity-button-card.ts
  src/panels/lovelace/cards/hui-glance-card.ts
  tsconfig.json
  yarn.lock
Labels: cla-signed, in progress

#1783 Adding Theme option to Glance and Button Cards
  src/panels/lovelace/cards/hui-entity-button-card.ts
  src/panels/lovelace/cards/hui-glance-card.ts
Labels: Hacktoberfest, cla-signed, in progress

#1745 Lovelace: Allow press-and-hold on picture-elements elements.
  package.json
  src/panels/lovelace/cards/hui-picture-elements-card.js
  src/panels/lovelace/elements/hui-icon-element.js
  src/panels/lovelace/elements/hui-image-element.js
  src/panels/lovelace/elements/hui-state-icon-element.js
  src/panels/lovelace/elements/hui-state-label-element.js
  src/panels/lovelace/mixins/element-click-mixin.js
  yarn.lock
Labels: Hacktoberfest, cla-signed, in progress

#1799 Fix history graphs not loading
  src/data/ha-state-history-data.js
Labels: Hacktoberfest, cla-signed, in progress

#1800 Show currently selected language in profile settings. Resolves #1797
  src/panels/profile/ha-pick-language-row.js
Labels: Hacktoberfest, cla-signed, in progress

#1802 Add hass on badge
  src/panels/lovelace/elements/hui-state-badge-element.js
  src/panels/lovelace/hui-view.js
Labels: cla-signed, in progress

#1804 Fix automation editor
  src/panels/config/automation/ha-automation-editor.js
  src/panels/config/script/ha-script-editor.js
Labels: cla-signed, in progress

#1801 Convert hui-iframe-card to LitElement/TypeScript
  src/panels/lovelace/cards/hui-iframe-card.js
  src/panels/lovelace/cards/hui-iframe-card.ts
  src/panels/lovelace/common/create-card-element.js
Labels: Hacktoberfest, cla-signed, in progress

#1786 Changing Glance Column Width default to fill card
  src/panels/lovelace/cards/hui-glance-card.ts
Labels: Hacktoberfest, cla-signed, in progress

#1794 Glance Card update to show when entity is unavailable
  src/panels/lovelace/cards/hui-glance-card.ts
Labels: Hacktoberfest, cla-signed, in progress

#1805 Set attributes in input form controls
  src/components/entity/ha-entity-picker.js
  src/panels/dev-service/ha-panel-dev-service.js
  src/panels/dev-state/ha-panel-dev-state.js
Labels: Hacktoberfest, cla-signed, in progress

#1811 Fix overflow of image elements.
  src/panels/lovelace/elements/hui-image-element.js
  src/panels/lovelace/mixins/element-click-mixin.js
Labels: cla-signed, in progress

#1809 Fix mailbox issues with this.fire() and this.language undefined
  src/panels/mailbox/ha-panel-mailbox.js
Labels: Hacktoberfest, cla-signed, in progress

#1807 Safer brightness calculation for icons
  src/components/entity/state-badge.js
Labels: Hacktoberfest, cla-signed, in progress

#1822 Refresh cloud status if paying sub info comes in
  src/panels/config/cloud/ha-config-cloud-account.js
Labels: cla-signed, in progress

#1816 History Panel this.hass.language fix
  src/panels/history/ha-panel-history.js
Labels: Hacktoberfest, cla-signed

#1808 Convert hui-markdown-card to TypeScript/LitElement
  src/panels/lovelace/cards/hui-markdown-card.js
  src/panels/lovelace/cards/hui-markdown-card.ts
  src/panels/lovelace/common/create-card-element.js
Labels: Hacktoberfest, cla-signed, in progress, lovelace

#1825 Fix reference to this.language
  src/components/state-history-chart-line.js
  src/components/state-history-chart-timeline.js
  src/components/state-history-charts.js
  src/dialogs/more-info/controls/more-info-sun.js
  src/panels/config/cloud/ha-config-cloud-account.js
  src/panels/dev-info/ha-panel-dev-info.js
  src/panels/logbook/ha-logbook.js
  src/panels/logbook/ha-panel-logbook.js
  src/panels/profile/ha-long-lived-access-tokens-card.js
  src/panels/profile/ha-pick-language-row.js
  src/panels/profile/ha-refresh-tokens-card.js
Labels: cla-signed, in progress

#1832 Add option to pick number of columns for glance card
  src/panels/lovelace/cards/hui-glance-card.ts
Labels: Hacktoberfest, lovelace

#1830 Always define localize func
  src/mixins/lit-localize-mixin.ts
Labels: Hacktoberfest, cla-signed

#1834 Fix chart tooltip
  src/components/state-history-chart-timeline.js
Labels: Hacktoberfest

#1838 Improve size of device cards and add max-width for entities
  src/panels/config/config-entries/ha-ce-entities-card.js
  src/panels/config/config-entries/ha-config-entries.js
  src/panels/config/config-entries/ha-config-entry-page.js
  src/panels/config/config-entries/ha-device-card.js
  src/panels/config/ha-panel-config.js
Labels: cla-signed, in progress

#1842 Generate icons from `.ts. files
  gulp/tasks/gen-icons.js
Labels: cla-signed, in progress

#1841 `connection` is being populated for `HomeAssistant` type, not `conn`
  src/types.ts
Labels: cla-signed, in progress

#1843 Add HomeAssistant object hass to LovelaceCard interface
  src/panels/lovelace/cards/hui-entity-button-card.ts
  src/panels/lovelace/cards/hui-glance-card.ts
  src/panels/lovelace/types.ts
Labels: cla-signed, in progress

#1831 Convert hui-conditional-card to TypeScript
  src/panels/lovelace/cards/hui-conditional-card.js
  src/panels/lovelace/cards/hui-conditional-card.ts
  src/panels/lovelace/common/create-card-element.js
Labels: Hacktoberfest, cla-signed, in progress, lovelace

#1839 TS history data
  src/cards/ha-history_graph-card.js
  src/components/state-history-chart-line.js
  src/data/cached-history.ts
  src/data/ha-state-history-data.js
  src/data/history.ts
  src/dialogs/more-info/more-info-controls.js
  src/panels/history/ha-panel-history.js
  src/panels/lovelace/cards/hui-history-graph-card.js
Labels: Hacktoberfest, cla-signed, in progress

#1844 Reduce device registry card height
  src/panels/config/config-entries/ha-device-card.js
Labels: Hacktoberfest, cla-signed, in progress

#1845 Fix sorting of addons
  hassio/src/addon-store/hassio-addon-repository.js
  hassio/src/addon-store/hassio-addon-store.js
Labels: Hacktoberfest, cla-signed, in progress

#1847 Remove extending of HassLocalizeMixin as it is not needed
  src/panels/lovelace/cards/hui-iframe-card.ts
Labels: cla-signed, in progress

#1849 Fix mixin names
  src/mixins/lit-localize-mixin.ts
  src/mixins/localize-base-mixin.ts
  src/mixins/localize-lite-mixin.js
  src/mixins/localize-mixin.js
  src/panels/lovelace/cards/hui-entity-button-card.ts
  src/panels/lovelace/cards/hui-glance-card.ts
  src/panels/lovelace/cards/hui-iframe-card.ts
Labels: cla-signed, in progress

#1846 Convert hui-vertical-stack-card to TypeScript/LitElement
  src/panels/lovelace/cards/hui-vertical-stack-card.js
  src/panels/lovelace/cards/hui-vertical-stack-card.ts
  src/panels/lovelace/common/create-card-element.js
  tslint.json
Labels: cla-signed, in progress

#1850 Fix for some dev pages crashing on iOS.
  src/panels/dev-service/ha-panel-dev-service.js
  src/panels/dev-state/ha-panel-dev-state.js
Labels: cla-signed, in progress

#1792 Updating Entities Card to TS+lit
  src/panels/lovelace/cards/hui-entities-card.js
  src/panels/lovelace/cards/hui-entities-card.ts
  src/panels/lovelace/common/create-card-element.js
  src/panels/lovelace/entity-rows/types.ts
  src/panels/lovelace/hui-unused-entities.js
  src/panels/lovelace/types.ts
Labels: Hacktoberfest, cla-signed, in progress, lovelace

#1852 Convert hui-error-card to TypeScript/LitElement
  src/panels/lovelace/cards/hui-error-card.js
  src/panels/lovelace/cards/hui-error-card.ts
  src/panels/lovelace/common/create-card-element.js
Labels: cla-signed, in progress

#1856 Fix stack card getSize
  src/panels/lovelace/cards/hui-vertical-stack-card.ts
Labels: cla-signed, in progress

#1857 Gallery: fix notifs, fake config/services, glance demo
  gallery/src/components/demo-card.js
  gallery/src/data/demo_config.js
  gallery/src/data/demo_services.ts
  gallery/src/data/provide_hass.js
  gallery/src/demos/demo-hui-entities-card.js
  gallery/src/demos/demo-hui-entity-filter-card.js
  gallery/src/demos/demo-hui-glance-card.js
  gallery/src/demos/demo-hui-stack-card.js
  gallery/src/ha-gallery.js
Labels: Hacktoberfest, cla-signed, in progress

#1861 Fix for input slider on Regular UI
  src/state-summary/state-card-input_number.js
Labels: Hacktoberfest, cla-signed

#1814 Thermostat Card LoveLace
  gallery/src/data/entity.js
  gallery/src/demos/demo-hui-thermostat-card.js
  gallery/webpack.config.js
  package.json
  src/panels/lovelace/cards/hui-thermostat-card.ts
  src/panels/lovelace/common/create-card-element.js
  src/resources/jquery.roundslider.js
  src/resources/jquery.ts
  webpack.config.js
  yarn.lock
Labels: Documentation-Needed, Hacktoberfest, cla-signed, lovelace

#1860 Enforce prettier for TypeScript
  package.json
  src/panels/lovelace/cards/hui-conditional-card.ts
  src/panels/lovelace/cards/hui-markdown-card.ts
  tslint.json
  yarn.lock
Labels: Hacktoberfest, cla-signed

#1853 Convert hui-picture-elements-card to TypeScript/LitElement
  gallery/src/demos/demo-hui-picture-elements-card.js
  src/panels/lovelace/cards/hui-picture-elements-card.js
  src/panels/lovelace/cards/hui-picture-elements-card.ts
  src/panels/lovelace/elements/types.ts
Labels: Hacktoberfest, cla-signed, in progress

#1824 Allow custom UI on "card" entities
  src/components/ha-cards.js
Labels: Hacktoberfest, cla-signed, in progress

#1862 1813 - Improve Hass.io System cards UI
  hassio/src/system/hassio-host-info.js
  hassio/src/system/hassio-supervisor-info.js
Labels: Hass.io, cla-signed, in progress

#1864 Prettier fixes
  src/panels/lovelace/cards/hui-stack-card.ts
  src/panels/lovelace/elements/types.ts
Labels: cla-signed, in progress

#1865 Extract navigate mixin
  src/common/navigate.ts
  src/mixins/navigate-mixin.js
  src/panels/config/dashboard/ha-config-dashboard.js
  src/panels/config/users/ha-config-users.js
Labels: cla-signed, in progress

#1867 Thermostat fix
  src/panels/lovelace/cards/hui-thermostat-card.ts
Labels: cla-signed, in progress

#1868 Fix hass setting on stack
  src/panels/lovelace/cards/hui-entities-card.ts
  src/panels/lovelace/cards/hui-horizontal-stack-card.ts
  src/panels/lovelace/cards/hui-stack-card.ts
  src/panels/lovelace/cards/hui-vertical-stack-card.ts
Labels: cla-signed, in progress

#1871 Convert hui-icon-element to TypeScript/LitElement
  src/common/dom/handle-click.ts
  src/common/string/compute-tooltip.ts
  src/panels/lovelace/common/create-hui-element.js
  src/panels/lovelace/elements/hui-icon-element.js
  src/panels/lovelace/elements/hui-icon-element.ts
  src/panels/lovelace/elements/types.ts
Labels: Hacktoberfest, cla-signed, in progress, lovelace

#1895 Make hass optional within EntityRow as it may not be defined
  src/panels/lovelace/entity-rows/types.ts
Labels: cla-signed, in progress

#1883 Change icon to set operation_mode to "off"
  src/panels/lovelace/cards/hui-thermostat-card.ts
Labels: cla-signed, in progress

#1900 Add to HTML tag name map to picture-elements
  src/panels/lovelace/cards/hui-picture-elements-card.ts
Labels: cla-signed, in progress

#1893 Convert hui-state-label-element to TypeScript/LitElement
  src/panels/lovelace/common/create-hui-element.js
  src/panels/lovelace/elements/hui-state-label-element.js
  src/panels/lovelace/elements/hui-state-label-element.ts
Labels: cla-signed, in progress

#1888 Convert hui-service-button-element to TypeScript/LitElement
  src/panels/lovelace/common/create-hui-element.js
  src/panels/lovelace/elements/hui-service-button-element.js
  src/panels/lovelace/elements/hui-service-button-element.ts
Labels: cla-signed, in progress

#1901 Handle no operation mode
  package.json
  src/panels/lovelace/cards/hui-thermostat-card.ts
  src/types.ts
  yarn.lock
Labels: cla-signed, in progress

#1891 Convert hui-state-icon-element to TypeScript/LitElement
  src/panels/lovelace/common/create-hui-element.js
  src/panels/lovelace/elements/hui-state-icon-element.js
  src/panels/lovelace/elements/hui-state-icon-element.ts
Labels: cla-signed, in progress

#1892 Convert hui-state-badge-element to TypeScript/LitElement
  src/panels/lovelace/common/create-hui-element.js
  src/panels/lovelace/elements/hui-state-badge-element.js
  src/panels/lovelace/elements/hui-state-badge-element.ts
Labels: cla-signed, in progress

#1886 Gauge convert and fix issues
  src/panels/lovelace/cards/hui-gauge-card.js
  src/panels/lovelace/cards/hui-gauge-card.ts
  src/panels/lovelace/common/create-card-element.js
Labels: cla-signed, in progress

#1896 Convert hui-divider-row to TypeScript/LitElement
  src/panels/lovelace/common/create-row-element.js
  src/panels/lovelace/special-rows/hui-divider-row.js
  src/panels/lovelace/special-rows/hui-divider-row.ts
Labels: cla-signed, in progress

#1898 Convert hui-weblink-row to TypeScript/LitElement
  src/panels/lovelace/cards/hui-entities-card.ts
  src/panels/lovelace/common/create-row-element.js
  src/panels/lovelace/entity-rows/types.ts
  src/panels/lovelace/special-rows/hui-weblink-row.js
  src/panels/lovelace/special-rows/hui-weblink-row.ts
Labels: cla-signed, in progress

#1899 Convert hui-climate-entity-row to TypeScript/LitElement
  src/panels/lovelace/common/create-row-element.js
  src/panels/lovelace/entity-rows/hui-climate-entity-row.js
  src/panels/lovelace/entity-rows/hui-climate-entity-row.ts
Labels: cla-signed, in progress

#1908 Adding Arm_night to the translations
  src/translations/en.json
Labels: cla-signed, in progress

#1897 Convert hui-section-row to TypeScript/LitElement
  src/panels/lovelace/common/create-row-element.js
  src/panels/lovelace/special-rows/hui-section-row.js
  src/panels/lovelace/special-rows/hui-section-row.ts
Labels: Hacktoberfest, cla-signed, in progress

#1912 Fixes errors in PRs based on dev
  src/panels/lovelace/common/create-row-element.js
Labels: Hacktoberfest, cla-signed, in progress

#1909 Add themes to entities
  src/panels/lovelace/cards/hui-entities-card.ts
Labels: Hacktoberfest, cla-signed, in progress

#1913 Fixes #1910 - Entities Margin correction
  src/panels/lovelace/cards/hui-entities-card.ts
Labels: Hacktoberfest, cla-signed, in progress

#1874 LoveLace Light Card
  gallery/src/data/entity.js
  gallery/src/demos/demo-hui-light-card.js
  src/panels/lovelace/cards/hui-light-card.ts
  src/panels/lovelace/common/create-card-element.js
  src/types.ts
Labels: Documentation-Needed, Hacktoberfest, cla-signed, in progress

#1918 Entities card: propagate hass correctly
  src/panels/lovelace/cards/hui-entities-card.ts
Labels: Hacktoberfest, cla-signed, in progress

#1925 Update testing tools
  package.json
  yarn.lock
Labels: cla-signed, in progress

#1923 Update vaadin components
  package.json
  src/components/entity/ha-entity-picker.js
  src/components/ha-combo-box.js
  yarn.lock
Labels: cla-signed, in progress

#1922 Update mdi icons
  package.json
  yarn.lock
Labels: breaking change, cla-signed, in progress

#1924 Update TypeScript to latest
  package.json
  yarn.lock
Labels: cla-signed, in progress

#1885 Addition to Edit Love Lace Cards
  src/panels/lovelace/common/data.ts
  src/panels/lovelace/components/ha-dialog-edit-card.ts
  src/panels/lovelace/components/hui-card-options.ts
  src/panels/lovelace/hui-root.js
  src/panels/lovelace/hui-view.js
  tsconfig.json
Labels: Hacktoberfest, cla-signed, in progress

#1894 Convert hui-call-service-row to TypeScript/LitElement
  src/panels/lovelace/cards/hui-entities-card.ts
  src/panels/lovelace/common/create-row-element.js
  src/panels/lovelace/entity-rows/types.ts
  src/panels/lovelace/special-rows/hui-call-service-row.js
  src/panels/lovelace/special-rows/hui-call-service-row.ts
Labels: Hacktoberfest, cla-signed, in progress

#1927 Fix conditional card with undefined hass
  src/panels/lovelace/cards/hui-conditional-card.ts
Labels: cla-signed, in progress

#1930 Fix calculation of size of glance card
  src/panels/lovelace/cards/hui-glance-card.ts
Labels: cla-signed, in progress

#1928 Catch translation errors
  src/mixins/localize-base-mixin.ts
Labels: Hacktoberfest, cla-signed, in progress

#1929 Add preview to edit LL card
  src/panels/lovelace/components/hui-card-options.ts
  src/panels/lovelace/editor/hui-dialog-edit-card.ts
  src/panels/lovelace/editor/hui-yaml-card-preview.ts
  src/panels/lovelace/editor/hui-yaml-editor.ts
Labels: cla-signed, in progress

#1920 Update Types for various cards
  src/panels/lovelace/cards/hui-error-card.ts
  src/panels/lovelace/cards/hui-gauge-card.ts
  src/panels/lovelace/cards/hui-iframe-card.ts
  src/panels/lovelace/cards/hui-markdown-card.ts
  src/panels/lovelace/cards/hui-thermostat-card.ts
Labels: Hacktoberfest, cla-signed, in progress

#1931 Fixes: #1902 - Thermostat/Light Background
  src/panels/lovelace/cards/hui-light-card.ts
  src/panels/lovelace/cards/hui-thermostat-card.ts
Labels: Hacktoberfest, cla-signed, in progress

#1935 Move click and tooltip function to LL folder
  src/panels/lovelace/common/compute-tooltip.ts
  src/panels/lovelace/common/handle-click.ts
  src/panels/lovelace/elements/hui-icon-element.ts
  src/panels/lovelace/elements/hui-image-element.ts
  src/panels/lovelace/elements/hui-state-icon-element.ts
  src/panels/lovelace/elements/hui-state-label-element.ts
Labels: Hacktoberfest, cla-signed, in progress

#1934 Remove unused click mixin
  src/panels/lovelace/mixins/element-click-mixin.js
Labels: Hacktoberfest, cla-signed, in progress
