Repository home-assistant/frontend, pull requests merged in 2018-11, with the labels that each got.

#1940 Fix overlapping device cards
  src/panels/config/config-entries/ha-config-entry-page.js
  src/panels/config/config-entries/ha-device-card.js
Labels: cla-signed, in progress

#1919 Remove side effects of render and Add types - Button/Glance
  src/panels/lovelace/cards/hui-entity-button-card.ts
  src/panels/lovelace/cards/hui-glance-card.ts
Labels: Hacktoberfest, cla-signed, in progress

#1949 don't compress for CI runs
  hassio/webpack.config.js
  webpack.config.js
Labels: cla-signed, in progress

#1947 Light, Thermostat, and Gauge - Theme Addition
  src/panels/lovelace/cards/hui-gauge-card.ts
  src/panels/lovelace/cards/hui-light-card.ts
  src/panels/lovelace/cards/hui-thermostat-card.ts
  src/panels/lovelace/common/has-changed.ts
Labels: cla-signed, in progress

#1973 Mark edit as alpha
  src/panels/lovelace/hui-root.js
Labels: cla-signed, in progress

#1975 Revert RTL PR
  src/layouts/home-assistant-main.js
  src/translations/translationMetadata.json
  src/types.ts
Labels: cla-signed, in progress

#1977 Hide state if its unknown e.g. the climate entity does not have one
  src/components/ha-climate-state.js
Labels: cla-signed, in progress

#1978 add vscode extension recommondations
  .gitignore
  .vscode/extensions.json
Labels: cla-signed, in progress

#1976 Convert auth to TS
  package.json
  src/common/auth/external_auth.ts
  src/common/auth/token_storage.ts
  src/data/ws-notifications.ts
  src/data/ws-panels.js
  src/data/ws-panels.ts
  src/data/ws-themes.js
  src/data/ws-themes.ts
  src/data/ws-user.js
  src/data/ws-user.ts
  src/entrypoints/core.ts
  src/types.ts
  webpack.config.js
  yarn.lock
Labels: cla-signed, in progress

#1983 Split up cloud card
  src/panels/config/cloud/cloud-alexa-pref.ts
  src/panels/config/cloud/cloud-google-pref.ts
  src/panels/config/cloud/data.ts
  src/panels/config/cloud/ha-config-cloud-account.js
  src/panels/config/cloud/types.ts
Labels: cla-signed, in progress

#1987 Fix Sensor Card unknown state values
  src/panels/lovelace/cards/hui-sensor-card.js
Labels: cla-signed, in progress

#1993 Fix sensor card svg <path> error & template literals
  src/panels/lovelace/cards/hui-sensor-card.js
Labels: cla-signed, in progress

#1944 Add getElementConfig to Glance + Add Form UI for updating YAML
  src/panels/lovelace/cards/hui-glance-card.ts
  src/panels/lovelace/editor/hui-dialog-edit-card.ts
  src/panels/lovelace/editor/hui-glance-card-editor.ts
  src/panels/lovelace/editor/hui-yaml-card-preview.ts
  src/panels/lovelace/editor/hui-yaml-editor.ts
  src/panels/lovelace/editor/types.ts
  src/panels/lovelace/types.ts
Labels: cla-signed, in progress

#1970 New Card: Shopping List
  gallery/src/data/provide_hass.js
  gallery/src/demos/demo-hui-shopping-list-card.js
  src/data/shopping-list.ts
  src/panels/lovelace/cards/hui-shopping-list-card.ts
  src/panels/lovelace/common/create-card-element.js
Labels: cla-signed, in progress

#1933 Convert cover-row to TypeScript/LitElement
  src/panels/lovelace/common/create-row-element.js
  src/panels/lovelace/entity-rows/hui-cover-entity-row.js
  src/panels/lovelace/entity-rows/hui-cover-entity-row.ts
  src/util/cover-model.js
Labels: Hacktoberfest, cla-signed, in progress

#1999 Make conditional not take up space in stacks when hidden
  src/panels/lovelace/cards/hui-conditional-card.ts
Labels: cla-signed, in progress

#680 Expose entities for Google/Alexa
  src/common/entity/entity_filter.ts
  src/panels/config/cloud/cloud-alexa-pref.ts
  src/panels/config/cloud/cloud-exposed-entities.ts
  src/panels/config/cloud/cloud-google-pref.ts
  src/panels/config/cloud/types.ts
  test-mocha/common/entity/entity_filter.ts
Labels: cla-signed, in progress

#1939 Convert hui-toggle-entity-row to TypeScript/LitElement
  src/panels/lovelace/entity-rows/hui-toggle-entity-row.js
  src/panels/lovelace/entity-rows/hui-toggle-entity-row.ts
Labels: Hacktoberfest, cla-signed, in progress

#1985 Convert call-service to TypeScript
  src/panels/lovelace/common/call-service.js
  src/panels/lovelace/common/call-service.ts
  src/panels/lovelace/entity-rows/types.ts
  src/panels/lovelace/special-rows/hui-call-service-row.ts
Labels: cla-signed, in progress

#2004 Fix iframe aspect_ratio
  src/panels/lovelace/cards/hui-iframe-card.ts
Labels: cla-signed, in progress

#2007 Add text color to error row
  src/panels/lovelace/entity-rows/hui-error-entity-row.ts
Labels: cla-signed, in progress

#2022 Convert hui-lock-entity-row to TypeScript/LitElement
  src/panels/lovelace/entity-rows/hui-lock-entity-row.js
  src/panels/lovelace/entity-rows/hui-lock-entity-row.ts
Labels: cla-signed, in progress

#2020 Convert hui-script-entity-row to TypeScript/LitElement
  src/panels/lovelace/entity-rows/hui-script-entity-row.js
  src/panels/lovelace/entity-rows/hui-script-entity-row.ts
Labels: cla-signed, in progress

#2021 Convert hui-scene-entity-row to TypeScript/LitElement
  src/panels/lovelace/entity-rows/hui-scene-entity-row.js
  src/panels/lovelace/entity-rows/hui-scene-entity-row.ts
Labels: cla-signed, in progress

#2017 Convert hui-text-entity-row to TypeScript/LitElement
  src/panels/lovelace/entity-rows/hui-text-entity-row.js
  src/panels/lovelace/entity-rows/hui-text-entity-row.ts
Labels: cla-signed, in progress

#2015 Convert hui-group-entity-row to TypeScript/LitElement
  src/panels/lovelace/entity-rows/hui-group-entity-row.js
  src/panels/lovelace/entity-rows/hui-group-entity-row.ts
Labels: cla-signed, in progress

#2023 Fix link color in persistent notification
  src/panels/lovelace/components/notifications/hui-persistent-notification-item.js
Labels: cla-signed, in progress

#2030 Convert hui-picture-card to TypeScript/LitElement
  src/panels/lovelace/cards/hui-picture-card.js
  src/panels/lovelace/cards/hui-picture-card.ts
Labels: cla-signed, in progress

#2005 Add checked item section to shopping-list-card
  src/panels/lovelace/cards/hui-shopping-list-card.ts
  src/translations/en.json
Labels: cla-signed, in progress

#2026 Timezone support for displaying header with date in logbook
  src/panels/logbook/ha-logbook.js
Labels: cla-signed, in progress

#2033 Fix int in ha-form
  src/components/ha-form.js
Labels: cla-signed, in progress

#2034 Add clearing of checked items to shopping-list-card
  src/data/shopping-list.ts
  src/panels/lovelace/cards/hui-shopping-list-card.ts
  src/translations/en.json
Labels: cla-signed, in progress

#2032 Upgrade Lit
  package.json
  src/panels/lovelace/common/directives/long-press-directive.ts
  yarn.lock
Labels: cla-signed, in progress

#2040 Glance fix - For Screwed up dev
  src/panels/lovelace/cards/hui-glance-card.ts
  src/panels/lovelace/components/hui-entity-editor.ts
  src/panels/lovelace/components/hui-theme-select-editor.ts
  src/panels/lovelace/editor/hui-dialog-edit-card.ts
  src/panels/lovelace/editor/hui-glance-card-editor.ts
  src/panels/lovelace/editor/process-editor-entities.ts
  src/panels/lovelace/editor/types.ts
  src/panels/lovelace/entity-rows/types.ts
Labels: cla-signed, in progress

#2036 Add icon for manual mode
  src/panels/lovelace/cards/hui-thermostat-card.ts
  src/translations/en.json
Labels: cla-signed, in progress

#2039 Update Lovelace Thermostat Card to include all supported thermostat m…
  src/panels/lovelace/cards/hui-thermostat-card.ts
Labels: cla-signed, in progress

#2062 Remove extra >
  src/panels/lovelace/entity-rows/hui-group-entity-row.ts
Labels: cla-signed, in progress

#2055 Convert compute functions to TypeScript
  src/panels/lovelace/cards/hui-conditional-card.ts
  src/panels/lovelace/cards/hui-horizontal-stack-card.ts
  src/panels/lovelace/cards/hui-vertical-stack-card.ts
  src/panels/lovelace/common/compute-card-size.js
  src/panels/lovelace/common/compute-card-size.ts
  src/panels/lovelace/common/compute-notifications.ts
  src/panels/lovelace/hui-root.js
  src/panels/lovelace/hui-view.js
Labels: cla-signed, in progress

#2064 Flatline fix for Sensor Cards
  src/panels/lovelace/cards/hui-sensor-card.js
Labels: cla-signed, in progress

#2008 Added migrate dialog when card has no ID
  src/panels/lovelace/common/data.ts
  src/panels/lovelace/components/hui-card-options.ts
  src/panels/lovelace/editor/hui-card-preview.ts
  src/panels/lovelace/editor/hui-dialog-edit-card.ts
  src/panels/lovelace/editor/hui-edit-card.ts
  src/panels/lovelace/editor/hui-migrate-config.ts
  src/panels/lovelace/editor/hui-yaml-card-preview.ts
  src/panels/lovelace/editor/hui-yaml-editor.ts
  src/panels/lovelace/editor/types.ts
  src/panels/lovelace/editor/yaml-ext-schema.ts
  src/panels/lovelace/hui-view.js
  src/panels/lovelace/types.ts
  src/translations/en.json
Labels: cla-signed, in progress

#2067 Update Hassio with security options
  hassio/src/addon-store/hassio-addon-repository.js
  hassio/src/addon-view/hassio-addon-info.js
  hassio/src/components/hassio-card-content.js
  hassio/src/dashboard/hassio-addons.js
Labels: cla-signed, in progress

#2069 Improve sensor graph algorithm
  src/panels/lovelace/cards/hui-sensor-card.js
Labels: cla-signed, in progress

#2070 Pin Lit-HTML and Lit-Element
  package.json
  src/panels/lovelace/common/directives/long-press-directive.ts
  yarn.lock
Labels: in progress

#2050 Convert hui-input-text-entity-row to TypeScript/LitElement
  src/data/input_text.ts
  src/panels/lovelace/entity-rows/hui-input-text-entity-row.js
  src/panels/lovelace/entity-rows/hui-input-text-entity-row.ts
Labels: cla-signed, in progress

#2048 Convert hui-input-select-entity-row to TypeScript/LitElement
  src/data/input-select.ts
  src/panels/lovelace/entity-rows/hui-input-select-entity-row.js
  src/panels/lovelace/entity-rows/hui-input-select-entity-row.ts
Labels: cla-signed, in progress

#2014 RTL support (POC)
  src/layouts/home-assistant-main.js
  src/translations/translationMetadata.json
  src/types.ts
Labels: cla-signed, in progress

#2073 Allow Google unlocking locks
  src/panels/config/cloud/cloud-alexa-pref.ts
  src/panels/config/cloud/cloud-google-pref.ts
  src/panels/config/cloud/data.ts
  src/panels/config/cloud/types.ts
Labels: cla-signed, in progress

#2078 Use overrideIcon via data binding
  src/components/entity/state-badge.js
Labels: cla-signed, in progress

#2044 Dont change config on init
  src/panels/lovelace/components/hui-entity-editor.ts
  src/panels/lovelace/components/hui-theme-select-editor.ts
  src/panels/lovelace/editor/config-elements/hui-entities-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-glance-card-editor.ts
  src/panels/lovelace/editor/hui-edit-card.ts
Labels: cla-signed, in progress

#2082 Convert toggle functions to TypeScript
  src/panels/lovelace/cards/hui-entity-button-card.ts
  src/panels/lovelace/cards/hui-glance-card.ts
  src/panels/lovelace/cards/hui-picture-entity-card.js
  src/panels/lovelace/cards/hui-picture-glance-card.ts
  src/panels/lovelace/common/entity/toggle-entity.js
  src/panels/lovelace/common/entity/toggle-entity.ts
  src/panels/lovelace/common/entity/turn-on-off-entities.ts
  src/panels/lovelace/common/entity/turn-on-off-entity.ts
  src/panels/lovelace/common/handle-click.ts
Labels: cla-signed, in progress

#2080 Convert shopping-list add item call to websockets
  src/data/shopping-list.ts
Labels: Blocked, cla-signed, in progress

#2081 add "for" input field to numeric_state in trigger editor
  src/panels/config/js/trigger/numeric_state.js
Labels: cla-signed, in progress

#2091 Generate Lovelace config on the fly
  src/common/entity/extract_views.ts
  src/common/entity/get_view_entities.ts
  src/common/entity/split_by_groups.ts
  src/panels/lovelace/common/generate-lovelace-config.ts
  src/panels/lovelace/ha-panel-lovelace.js
  src/panels/lovelace/hui-root.js
Labels: cla-signed, in progress

#2087 Add support for timestamp device class
  src/common/datetime/relative_time.ts
  src/panels/lovelace/common/create-row-element.js
  src/panels/lovelace/components/hui-timestamp-display.ts
  src/panels/lovelace/entity-rows/hui-error-entity-row.ts
  src/panels/lovelace/entity-rows/hui-sensor-entity-row.ts
Labels: cla-signed, in progress

#2098 Handle non existing states
  src/panels/lovelace/common/generate-lovelace-config.ts
Labels: cla-signed, in progress

#2103 Type LovelaceConfig -> LovelaceCardConfig
  src/panels/lovelace/cards/hui-conditional-card.ts
  src/panels/lovelace/cards/hui-entities-card.ts
  src/panels/lovelace/cards/hui-entity-button-card.ts
  src/panels/lovelace/cards/hui-error-card.ts
  src/panels/lovelace/cards/hui-gauge-card.ts
  src/panels/lovelace/cards/hui-glance-card.ts
  src/panels/lovelace/cards/hui-iframe-card.ts
  src/panels/lovelace/cards/hui-light-card.ts
  src/panels/lovelace/cards/hui-markdown-card.ts
  src/panels/lovelace/cards/hui-picture-card.ts
  src/panels/lovelace/cards/hui-picture-elements-card.ts
  src/panels/lovelace/cards/hui-picture-glance-card.ts
  src/panels/lovelace/cards/hui-shopping-list-card.ts
  src/panels/lovelace/cards/hui-stack-card.ts
  src/panels/lovelace/cards/hui-thermostat-card.ts
  src/panels/lovelace/common/data.ts
  src/panels/lovelace/common/generate-lovelace-config.ts
  src/panels/lovelace/components/hui-card-options.ts
  src/panels/lovelace/editor/hui-card-preview.ts
  src/panels/lovelace/editor/hui-dialog-edit-card.ts
  src/panels/lovelace/editor/hui-edit-card.ts
  src/panels/lovelace/editor/types.ts
  src/panels/lovelace/types.ts
Labels: cla-signed, in progress

#2106 Fix wrong import
  src/panels/lovelace/components/hui-entities-toggle.js
Labels: cla-signed, in progress

#2100 Add dialog to save config
  src/panels/lovelace/common/data.ts
  src/panels/lovelace/components/hui-card-options.ts
  src/panels/lovelace/editor/hui-dialog-edit-card.ts
  src/panels/lovelace/editor/hui-dialog-save-config.ts
  src/panels/lovelace/ha-panel-lovelace.js
  src/panels/lovelace/hui-root.js
  src/panels/lovelace/types.ts
  src/translations/en.json
Labels: cla-signed, in progress

#2108 Document types in fireEvent
  src/common/dom/fire_event.ts
  src/layouts/app/dialog-manager-mixin.js
  src/layouts/app/dialog-manager-mixin.ts
  src/layouts/app/home-assistant.js
  src/panels/lovelace/cards/hui-picture-glance-card.ts
  src/panels/lovelace/common/handle-click.ts
  src/panels/lovelace/components/hui-card-options.ts
  src/panels/lovelace/components/hui-theme-select-editor.ts
  src/panels/lovelace/editor/hui-dialog-edit-card.ts
  src/panels/lovelace/editor/hui-dialog-save-config.ts
  src/panels/lovelace/editor/hui-edit-card.ts
  src/polymer-types.ts
Labels: cla-signed, in progress

#2102 Add Cloud Webhook management
  src/data/cloud.ts
  src/data/webhook.ts
  src/panels/config/cloud/cloud-alexa-pref.ts
  src/panels/config/cloud/cloud-google-pref.ts
  src/panels/config/cloud/cloud-webhook-manage-dialog.ts
  src/panels/config/cloud/cloud-webhooks.ts
  src/panels/config/cloud/ha-config-cloud-account.js
  src/panels/config/cloud/types.ts
  src/resources/ha-style.js
  src/types.ts
Labels: cla-signed, in progress

#2115 Convert authorize page to lit
  src/auth/ha-auth-flow.js
  src/auth/ha-authorize.js
  src/auth/ha-authorize.ts
  src/auth/ha-pick-auth-provider.js
  src/data/auth.ts
  src/mixins/lit-localize-lite-mixin.ts
  src/mixins/localize-lite-base-mixin.ts
  src/mixins/localize-lite-mixin.js
  src/mixins/localize-lite-mixin.ts
  src/onboarding/ha-onboarding.js
Labels: cla-signed, in progress

#2114 Convert shopping-list update to WebSockets
  src/data/shopping-list.ts
Labels: Blocked, Lovelace, cla-signed

#2117 Update UI in the config Elements
  src/panels/lovelace/editor/config-elements/config-elements-style.ts
  src/panels/lovelace/editor/config-elements/hui-entities-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-glance-card-editor.ts
  src/panels/lovelace/editor/hui-edit-card.ts
Labels: cla-signed, in progress

#2119 Move lovelace data to /src/data/lovelace.ts
  src/data/lovelace.ts
  src/panels/lovelace/cards/hui-conditional-card.ts
  src/panels/lovelace/cards/hui-entities-card.ts
  src/panels/lovelace/cards/hui-entity-button-card.ts
  src/panels/lovelace/cards/hui-error-card.ts
  src/panels/lovelace/cards/hui-gauge-card.ts
  src/panels/lovelace/cards/hui-glance-card.ts
  src/panels/lovelace/cards/hui-iframe-card.ts
  src/panels/lovelace/cards/hui-light-card.ts
  src/panels/lovelace/cards/hui-markdown-card.ts
  src/panels/lovelace/cards/hui-picture-card.ts
  src/panels/lovelace/cards/hui-picture-elements-card.ts
  src/panels/lovelace/cards/hui-picture-glance-card.ts
  src/panels/lovelace/cards/hui-shopping-list-card.ts
  src/panels/lovelace/cards/hui-stack-card.ts
  src/panels/lovelace/cards/hui-thermostat-card.ts
  src/panels/lovelace/common/generate-lovelace-config.ts
  src/panels/lovelace/components/hui-card-options.ts
  src/panels/lovelace/editor/hui-card-preview.ts
  src/panels/lovelace/editor/hui-dialog-edit-card.ts
  src/panels/lovelace/editor/hui-dialog-save-config.ts
  src/panels/lovelace/editor/hui-edit-card.ts
  src/panels/lovelace/editor/hui-migrate-config.ts
  src/panels/lovelace/editor/hui-yaml-editor.ts
  src/panels/lovelace/editor/types.ts
  src/panels/lovelace/ha-panel-lovelace.js
  src/panels/lovelace/types.ts
Labels: cla-signed, in progress

#2122 Removes Height, Light Width and Line Color from Sensor
  src/panels/lovelace/cards/hui-sensor-card.js
Labels: cla-signed, in progress

#2126 Update Aspect Ratio on Map card
  src/panels/lovelace/cards/hui-map-card.js
Labels: cla-signed, in progress

#2130 Add Name Variable to Plant Card
  src/cards/ha-plant-card.js
  src/panels/lovelace/cards/hui-legacy-wrapper-card.js
Labels: cla-signed, in progress

#2127 Title to Name for Gauge
  src/panels/lovelace/cards/hui-gauge-card.ts
Labels: Breaking Change, cla-signed, in progress

#2131 Add name variable - Weather Card
  src/cards/ha-weather-card.js
Labels: cla-signed, in progress

#2133 Fixes: #2084 : Fix for extra padding
  src/components/ha-cards.js
Labels: cla-signed, in progress

#2134 Unit patch for Gauge
  src/panels/lovelace/cards/hui-gauge-card.ts
Labels: cla-signed, in progress

#2135 Combine edit and complete shopping-list calls
  src/data/shopping-list.ts
  src/panels/lovelace/cards/hui-shopping-list-card.ts
Labels: cla-signed, in progress

#2116 Add delete card func
  src/data/lovelace.ts
  src/panels/lovelace/components/hui-card-options.ts
  src/panels/lovelace/editor/delete-card.ts
  src/panels/lovelace/editor/hui-dialog-edit-card.ts
  src/panels/lovelace/editor/hui-migrate-config.ts
Labels: cla-signed, in progress

#2142 Resolve warning for missing computeStateName
  src/cards/ha-weather-card.js
Labels: cla-signed, in progress

#2144 Convert hui-entities-toggle to TypeScript/LitElement
  src/panels/lovelace/components/hui-entities-toggle.js
  src/panels/lovelace/components/hui-entities-toggle.ts
Labels: cla-signed, in progress

#2138 Display alert entity row as a toggle
  src/panels/lovelace/common/create-row-element.js
Labels: cla-signed, in progress

#2141 Convert shopping-list clear to WebSockets
  src/data/shopping-list.ts
Labels: Blocked, cla-signed, in progress

#2136 Convert hui-media-player-entity-row to TypeScript/LitElement
  src/panels/lovelace/entity-rows/hui-media-player-entity-row.js
  src/panels/lovelace/entity-rows/hui-media-player-entity-row.ts
Labels: cla-signed, in progress

#2137 Check if config is compatible with UI editor
  package.json
  src/panels/lovelace/editor/config-elements/hui-entities-card-editor.ts
  src/panels/lovelace/editor/hui-dialog-edit-card.ts
  src/panels/lovelace/editor/hui-edit-card.ts
  yarn.lock
Labels: cla-signed, in progress

#2143 Allow for state_image and camera_image in picture-elements card
  src/panels/lovelace/cards/hui-picture-elements-card.ts
Labels: cla-signed, in progress

#2156 Upgrade deps
  package.json
  yarn.lock
Labels: cla-signed, in progress

#2149 Extract media-player constants to src/data
  src/data/media-player.ts
  src/panels/lovelace/entity-rows/hui-media-player-entity-row.ts
Labels: cla-signed, in progress

#2151 Extract Supported features into own funciton
  src/common/entity/can_toggle_state.ts
  src/common/entity/feature_class_names.ts
  src/common/entity/supports-feature.ts
  src/dialogs/more-info/controls/more-info-climate.js
  src/dialogs/more-info/controls/more-info-vacuum.js
  src/dialogs/more-info/controls/more-info-water_heater.js
  src/panels/lovelace/entity-rows/hui-media-player-entity-row.ts
  src/util/cover-model.js
  src/util/hass-media-player-model.js
Labels: cla-signed

#2150 Add own types + add config validation to glances
  src/panels/lovelace/common/structs/is-entity-id.ts
  src/panels/lovelace/common/structs/is-icon.ts
  src/panels/lovelace/common/structs/struct.ts
  src/panels/lovelace/editor/config-elements/hui-entities-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-glance-card-editor.ts
Labels: cla-signed, in progress
