Repository home-assistant/frontend, pull requests merged in 2018-12, with the labels that each got.

#2140 Convert Sensor Card to Typescript
  src/panels/lovelace/cards/hui-sensor-card.js
  src/panels/lovelace/cards/hui-sensor-card.ts
Labels: Breaking Change, cla-signed, in progress

#2157 Update demo-hui-glance-card.js
  gallery/src/demos/demo-hui-glance-card.js
Labels: cla-signed, in progress

#2169 Remove .ts extensions
  src/panels/lovelace/common/create-card-element.js
  src/panels/lovelace/hui-unused-entities.js
  src/panels/lovelace/hui-view.js
Labels: cla-signed, in progress

#2165 Move computeRTL to a separate file and add RTL support in state-info
  src/common/util/compute_rtl.ts
  src/components/entity/state-info.js
  src/dialogs/more-info/more-info-controls.js
  src/layouts/home-assistant-main.js
  src/state-summary/state-card-display.js
Labels: cla-signed, in progress

#2160 Add card functionality
  src/common/util/uid.ts
  src/data/lovelace.ts
  src/panels/lovelace/cards/hui-entities-card.ts
  src/panels/lovelace/cards/hui-glance-card.ts
  src/panels/lovelace/common/get-card-element-tag.ts
  src/panels/lovelace/components/hui-card-options.ts
  src/panels/lovelace/editor/config-elements/hui-entities-card-editor.ts
  src/panels/lovelace/editor/hui-card-picker.ts
  src/panels/lovelace/editor/hui-card-preview.ts
  src/panels/lovelace/editor/hui-dialog-edit-card.ts
  src/panels/lovelace/editor/hui-edit-card.ts
  src/panels/lovelace/editor/types.ts
  src/panels/lovelace/hui-view.js
Labels: cla-signed, in progress

#2113 Convert process-config-entities to TypeScript
  src/panels/lovelace/cards/hui-entities-card.ts
  src/panels/lovelace/cards/hui-entity-filter-card.js
  src/panels/lovelace/cards/hui-glance-card.ts
  src/panels/lovelace/cards/hui-history-graph-card.js
  src/panels/lovelace/cards/hui-map-card.js
  src/panels/lovelace/cards/hui-picture-glance-card.ts
  src/panels/lovelace/common/process-config-entities.js
  src/panels/lovelace/common/process-config-entities.ts
Labels: cla-signed, in progress

#2168 Convert hui-picture-entity-card to TypeScript/LitElement
  src/data/entity.ts
  src/panels/lovelace/cards/hui-picture-entity-card.js
  src/panels/lovelace/cards/hui-picture-entity-card.ts
  src/panels/lovelace/common/handle-click.ts
Labels: cla-signed, in progress

#2173 Convert hui-unused-entities to TypeScript/LitElement
  src/panels/lovelace/hui-root.js
  src/panels/lovelace/hui-unused-entities.js
  src/panels/lovelace/hui-unused-entities.ts
Labels: cla-signed, in progress

#2174 Stop MouseEvent from reach parent element
  src/panels/lovelace/entity-rows/hui-media-player-entity-row.ts
Labels: cla-signed, in progress

#2177 Fix process entity
  src/panels/lovelace/common/process-config-entities.ts
Labels: cla-signed, in progress

#2178 Sensor Card - Theme Addition - Align Card Variables
  src/panels/lovelace/cards/hui-sensor-card.ts
Labels: cla-signed, in progress

#2179 Fixes Color not being overwritten by themes for cards
  src/components/ha-card.js
Labels: cla-signed, in progress

#2176 Add badges to view editor
  src/panels/lovelace/editor/config-elements/hui-view-editor.ts
  src/panels/lovelace/editor/hui-edit-view.ts
  src/panels/lovelace/editor/types.ts
  src/panels/lovelace/hui-root.js
  src/panels/lovelace/hui-view.js
Labels: cla-signed, in progress

#2181 Make Lovelace the default!
  src/components/ha-cards.js
  src/layouts/app/home-assistant.js
  src/layouts/home-assistant-main.js
  src/layouts/partial-panel-resolver.js
  src/panels/dev-info/ha-panel-dev-info.js
  src/panels/kiosk/ha-panel-kiosk.js
  src/panels/states/ha-panel-states.js
Labels: cla-signed, in progress

#2183 Catch errors in preview and fix entity picker
  src/panels/lovelace/components/hui-entity-editor.ts
  src/panels/lovelace/editor/hui-card-preview.ts
  src/panels/lovelace/editor/hui-edit-view.ts
Labels: cla-signed, in progress

#2189 Add gallery demo for Long Press directive
  gallery/src/demos/demo-hui-alarm-panel-card.ts
  gallery/src/demos/demo-hui-conditional-card.ts
  gallery/src/demos/demo-hui-entities-card.ts
  gallery/src/demos/demo-hui-entity-button-card.ts
  gallery/src/demos/demo-hui-entity-filter-card.ts
  gallery/src/demos/demo-hui-gauge-card.ts
  gallery/src/demos/demo-hui-glance-card.ts
  gallery/src/demos/demo-hui-iframe-card.ts
  gallery/src/demos/demo-hui-light-card.ts
  gallery/src/demos/demo-hui-map-card.ts
  gallery/src/demos/demo-hui-markdown-card.ts
  gallery/src/demos/demo-hui-media-player-rows.ts
  gallery/src/demos/demo-hui-picture-elements-card.ts
  gallery/src/demos/demo-hui-picture-entity-card.ts
  gallery/src/demos/demo-hui-picture-glance-card.ts
  gallery/src/demos/demo-hui-shopping-list-card.ts
  gallery/src/demos/demo-hui-stack-card.ts
  gallery/src/demos/demo-hui-thermostat-card.ts
  gallery/src/demos/demo-more-info-light.ts
  gallery/src/demos/demo-util-long-press.ts
  gallery/src/ha-gallery.js
  src/data/light.ts
Labels: cla-signed, in progress

#2187 Align `picture-glance` card tap/hold actions
  src/panels/lovelace/cards/hui-picture-glance-card.ts
  src/panels/lovelace/common/handle-click.ts
Labels: Documentation-Needed, cla-signed

#2186 Align `picture` card tap/hold actions
  src/panels/lovelace/cards/hui-picture-card.ts
  src/panels/lovelace/cards/hui-picture-entity-card.ts
Labels: Documentation-Needed, cla-signed, in progress

#2170 Handle mouse events on touchscreens. Fix #2085
  src/panels/lovelace/common/directives/long-press-directive.ts
Labels: cla-signed, in progress

#2193 Action tooltips
  src/panels/lovelace/common/compute-tooltip.ts
  src/panels/lovelace/elements/types.ts
Labels: cla-signed, in progress

#2192 Fix view without badges
  src/panels/lovelace/editor/hui-edit-view.ts
Labels: cla-signed, in progress

#2195 Add script to show stats
  script/develop
  script/size_stats
  webpack.config.js
Labels: cla-signed, in progress

#2196 Code split Leaflet
  src/common/dom/setup-leaflet-map.js
  src/panels/lovelace/cards/hui-map-card.js
  src/panels/map/ha-panel-map.js
Labels: cla-signed, in progress

#2197 Code split jQuery roundslider
  src/panels/lovelace/cards/hui-light-card.ts
  src/panels/lovelace/cards/hui-thermostat-card.ts
  src/resources/jquery.roundslider.js
  src/resources/jquery.roundslider.ondemand.ts
Labels: cla-signed, in progress

#2198 Code split edit dialog
  src/panels/lovelace/components/hui-card-options.ts
  src/panels/lovelace/editor/hui-dialog-edit-card.ts
  src/panels/lovelace/editor/hui-dialog-edit-view.ts
  src/panels/lovelace/editor/show-edit-card-dialog.ts
  src/panels/lovelace/editor/show-edit-view-dialog.ts
  src/panels/lovelace/hui-root.js
  src/panels/lovelace/hui-view.js
Labels: cla-signed, in progress

#2194 Fix no or just 1 view
  src/panels/lovelace/components/hui-entity-editor.ts
  src/panels/lovelace/hui-root.js
Labels: cla-signed, in progress

#2199 Fix Lovelace weather card
  src/panels/lovelace/cards/hui-weather-forecast-card.js
Labels: cla-signed, in progress

#2202 Fix `picture-element` card elements
  src/panels/lovelace/cards/hui-picture-elements-card.ts
Labels: cla-signed, in progress

#2201 Add id = 0 handling
  src/panels/lovelace/editor/config-elements/hui-view-editor.ts
  src/panels/lovelace/editor/hui-dialog-edit-view.ts
  src/panels/lovelace/hui-view.js
Labels: cla-signed, in progress

#2191 Light Tap/Hold Action fix
  src/panels/lovelace/cards/hui-light-card.ts
Labels: cla-signed, in progress

#2204 Edit view Fix
  src/panels/lovelace/editor/hui-edit-view.ts
Labels: cla-signed, in progress

#2206 Update gallery demos
  gallery/src/demos/demo-hui-glance-card.ts
  gallery/src/demos/demo-hui-picture-elements-card.ts
  gallery/src/demos/demo-hui-picture-glance-card.ts
Labels: cla-signed, in progress

#2205 Better display of sensor values. E.g. with units.
  src/panels/lovelace/entity-rows/hui-sensor-entity-row.ts
Labels: cla-signed, in progress

#2200 Force refresh on manual refresh
  src/data/lovelace.ts
  src/panels/lovelace/ha-panel-lovelace.js
Labels: cla-signed, in progress

#2208 20181207.0
  gallery/src/demos/demo-hui-glance-card.ts
  gallery/src/demos/demo-hui-picture-elements-card.ts
  gallery/src/demos/demo-hui-picture-glance-card.ts
  script/develop
  script/size_stats
  src/common/dom/setup-leaflet-map.js
  src/data/lovelace.ts
  src/panels/lovelace/cards/hui-light-card.ts
  src/panels/lovelace/cards/hui-map-card.js
  src/panels/lovelace/cards/hui-picture-elements-card.ts
  src/panels/lovelace/cards/hui-thermostat-card.ts
  src/panels/lovelace/cards/hui-weather-forecast-card.js
  src/panels/lovelace/common/compute-tooltip.ts
  src/panels/lovelace/components/hui-card-options.ts
  src/panels/lovelace/components/hui-entity-editor.ts
  src/panels/lovelace/editor/config-elements/hui-view-editor.ts
  src/panels/lovelace/editor/hui-dialog-edit-card.ts
  src/panels/lovelace/editor/hui-dialog-edit-view.ts
  src/panels/lovelace/editor/hui-edit-view.ts
  src/panels/lovelace/editor/show-edit-card-dialog.ts
  src/panels/lovelace/editor/show-edit-view-dialog.ts
  src/panels/lovelace/elements/types.ts
  src/panels/lovelace/entity-rows/hui-sensor-entity-row.ts
  src/panels/lovelace/ha-panel-lovelace.js
  src/panels/lovelace/hui-root.js
  src/panels/lovelace/hui-view.js
  src/panels/map/ha-panel-map.js
  src/resources/jquery.roundslider.js
  src/resources/jquery.roundslider.ondemand.ts
  webpack.config.js
Labels: cla-signed, in progress

#2210 Fix horizontal stack in cardpicker
  src/panels/lovelace/editor/hui-card-picker.ts
Labels: cla-signed, in progress

#2209 grammar tweaks
  src/panels/lovelace/editor/hui-edit-view.ts
Labels: cla-signed, in progress

#2213 Fix edit view and layout
  src/panels/lovelace/components/hui-card-options.ts
  src/panels/lovelace/editor/hui-dialog-edit-card.ts
  src/panels/lovelace/editor/hui-edit-view.ts
  src/panels/lovelace/hui-root.js
Labels: cla-signed, in progress

#2214 Save columns as string
  src/panels/lovelace/editor/config-elements/hui-glance-card-editor.ts
  src/panels/lovelace/editor/types.ts
Labels: cla-signed, in progress

#2235 Remove alarm-panel UI editor
  src/panels/lovelace/cards/hui-alarm-panel-card.js
  src/panels/lovelace/editor/config-elements/hui-alarm-panel-card-editor.ts
Labels: cla-signed, in progress

#2226 Fix long press in FF
  src/panels/lovelace/common/directives/long-press-directive.ts
Labels: cla-signed, in progress

#2228 Changes for new storage
  src/data/lovelace.ts
  src/panels/lovelace/cards/hui-light-card.ts
  src/panels/lovelace/common/generate-lovelace-config.ts
  src/panels/lovelace/components/hui-card-options.ts
  src/panels/lovelace/editor/card-editor/hui-card-picker.ts
  src/panels/lovelace/editor/card-editor/hui-card-preview.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-edit-card.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-pick-card.ts
  src/panels/lovelace/editor/card-editor/hui-edit-card.ts
  src/panels/lovelace/editor/card-editor/hui-yaml-editor.ts
  src/panels/lovelace/editor/card-editor/show-edit-card-dialog.ts
  src/panels/lovelace/editor/config-elements/hui-entities-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-glance-card-editor.ts
  src/panels/lovelace/editor/config-util.ts
  src/panels/lovelace/editor/delete-card.ts
  src/panels/lovelace/editor/delete-view.ts
  src/panels/lovelace/editor/hui-dialog-save-config.ts
  src/panels/lovelace/editor/hui-migrate-config.ts
  src/panels/lovelace/editor/show-save-config-dialog.ts
  src/panels/lovelace/editor/types.ts
  src/panels/lovelace/editor/view-editor/hui-dialog-edit-view.ts
  src/panels/lovelace/editor/view-editor/hui-edit-view.ts
  src/panels/lovelace/editor/view-editor/hui-view-editor.ts
  src/panels/lovelace/editor/view-editor/show-edit-view-dialog.ts
  src/panels/lovelace/ha-panel-lovelace.js
  src/panels/lovelace/ha-panel-lovelace.ts
  src/panels/lovelace/hui-root.js
  src/panels/lovelace/hui-view.js
  src/panels/lovelace/types.ts
  src/types.ts
Labels: cla-signed, in progress

#2237 Revert lovelace as default
  src/common/const.ts
  src/layouts/app/home-assistant.js
  src/layouts/home-assistant-main.js
  src/panels/dev-info/ha-panel-dev-info.js
Labels: cla-signed, in progress

#2241 Allow moving cards
  src/panels/lovelace/components/hui-card-options.ts
  src/panels/lovelace/editor/config-util.ts
  test-mocha/panels/lovelace/editor/config-util.spec.ts
Labels: cla-signed, in progress

#2243 Simplify Lovelace mode
  src/panels/lovelace/ha-panel-lovelace.ts
  src/panels/lovelace/types.ts
Labels: cla-signed, in progress

#2244 Disable edit in yaml mode
  src/panels/lovelace/hui-root.js
Labels: cla-signed, in progress

#2246 Add raw config editor for storage mode
  src/panels/lovelace/ha-panel-lovelace.ts
  src/panels/lovelace/hui-editor.ts
  src/panels/lovelace/hui-root.js
  src/panels/lovelace/types.ts
Labels: cla-signed, in progress

#2247 20181210.1
  setup.py
  src/panels/lovelace/ha-panel-lovelace.ts
  src/panels/lovelace/hui-editor.ts
  src/panels/lovelace/hui-root.js
  src/panels/lovelace/types.ts
Labels: cla-signed, in progress

#2248 Small fixes
  src/panels/lovelace/ha-panel-lovelace.ts
  src/panels/lovelace/hui-editor.ts
Labels: cla-signed, in progress

#2252 Add webhook trigger to automation editor
  src/panels/config/js/trigger/trigger_edit.js
  src/panels/config/js/trigger/webhook.js
  src/translations/en.json
Labels: cla-signed, in progress

#2255 Handle webhook component not loaded
  src/data/websocket_api.ts
  src/panels/config/cloud/cloud-webhooks.ts
Labels: cla-signed, in progress

#2262 Add move card to view
  src/panels/lovelace/components/hui-card-options.ts
  src/panels/lovelace/editor/config-util.ts
  test-mocha/panels/lovelace/editor/config-util.spec.ts
Labels: cla-signed, in progress

#2264 Convert HUI-ROOT to Lit Element
  src/data/lovelace.ts
  src/panels/lovelace/hui-editor.ts
  src/panels/lovelace/hui-root.js
  src/panels/lovelace/hui-root.ts
Labels: cla-signed, in progress

#2257 UI Editor for `alarm-panel` card
  src/panels/lovelace/cards/hui-alarm-panel-card.js
  src/panels/lovelace/editor/config-elements/hui-alarm-panel-card-editor.ts
Labels: cla-signed, in progress

#2231 UI Editor for `markdown` card
  src/panels/lovelace/cards/hui-markdown-card.ts
  src/panels/lovelace/editor/config-elements/hui-markdown-card-editor.ts
Labels: cla-signed, in progress

#2229 UI Editor for `gauge` card
  src/panels/lovelace/cards/hui-gauge-card.ts
  src/panels/lovelace/editor/config-elements/hui-gauge-card-editor.ts
Labels: cla-signed, in progress

#2232 UI Editor for `light` card
  src/panels/lovelace/cards/hui-light-card.ts
  src/panels/lovelace/editor/config-elements/hui-light-card-editor.ts
Labels: cla-signed, in progress

#2227 UI editor for `shopping-list` card
  src/panels/lovelace/cards/hui-shopping-list-card.ts
  src/panels/lovelace/editor/config-elements/hui-shopping-list-editor.ts
Labels: cla-signed, in progress

#2266 Convert ha-label-badge to lit
  src/components/ha-label-badge.ts
Labels: cla-signed, in progress

#2267 UI Editor for `sensor` card
  src/panels/lovelace/cards/hui-sensor-card.ts
  src/panels/lovelace/editor/config-elements/hui-sensor-card-editor.ts
Labels: cla-signed, in progress

#2230 UI Editor for `iframe` card
  src/panels/lovelace/cards/hui-iframe-card.ts
  src/panels/lovelace/editor/config-elements/hui-iframe-card-editor.ts
Labels: cla-signed, in progress

#2272 :broom: organize editor imports
  src/panels/lovelace/editor/config-elements/hui-alarm-panel-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-entities-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-gauge-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-glance-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-light-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-markdown-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-sensor-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-thermostat-card-editor.ts
Labels: cla-signed, in progress

#2269 :broom: update `value` attributes to properties
  src/panels/lovelace/cards/hui-shopping-list-card.ts
  src/panels/lovelace/editor/config-elements/hui-alarm-panel-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-entities-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-gauge-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-glance-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-light-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-markdown-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-sensor-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-shopping-list-editor.ts
  src/panels/lovelace/editor/config-elements/hui-thermostat-card-editor.ts
  src/panels/lovelace/editor/view-editor/hui-view-editor.ts
Labels: cla-signed, in progress

#2270 Speed things up
  src/common/util/render-status.ts
  src/components/entity/ha-state-label-badge.ts
  src/mixins/lit-localize-mixin.ts
  src/panels/lovelace/cards/hui-thermostat-card.ts
  src/panels/lovelace/hui-root.ts
  src/panels/lovelace/hui-view.ts
Labels: cla-signed, in progress

#2275 Generalize errors
  gallery/src/demos/demo-hui-stack-card.ts
  src/panels/lovelace/cards/hui-error-card.ts
  src/panels/lovelace/cards/hui-gauge-card.ts
  src/panels/lovelace/cards/hui-legacy-wrapper-card.js
  src/panels/lovelace/cards/hui-picture-entity-card.ts
  src/panels/lovelace/common/create-card-element.js
  src/panels/lovelace/common/create-error-card-config.js
  src/panels/lovelace/common/create-hui-element.js
  src/panels/lovelace/common/create-row-element.js
  src/panels/lovelace/editor/card-editor/hui-card-preview.ts
Labels: cla-signed, in progress

#2277 Change edit mode + add edit lovelace
  src/panels/lovelace/components/hui-card-options.ts
  src/panels/lovelace/editor/lovelace-editor/hui-dialog-edit-lovelace.ts
  src/panels/lovelace/editor/lovelace-editor/hui-lovelace-editor.ts
  src/panels/lovelace/editor/lovelace-editor/show-edit-lovelace-dialog.ts
  src/panels/lovelace/hui-editor.ts
  src/panels/lovelace/hui-root.ts
Labels: cla-signed, in progress

#2276 TS create element functions
  gallery/src/components/demo-card.js
  src/data/lovelace.ts
  src/panels/lovelace/cards/hui-conditional-card.ts
  src/panels/lovelace/cards/hui-entities-card.ts
  src/panels/lovelace/cards/hui-entity-filter-card.js
  src/panels/lovelace/cards/hui-error-card.ts
  src/panels/lovelace/cards/hui-picture-elements-card.ts
  src/panels/lovelace/cards/hui-stack-card.ts
  src/panels/lovelace/common/compute-unused-entities.js
  src/panels/lovelace/common/compute-unused-entities.ts
  src/panels/lovelace/common/create-card-element.ts
  src/panels/lovelace/common/create-hui-element.ts
  src/panels/lovelace/common/create-row-element.ts
  src/panels/lovelace/common/is-valid-object.ts
  src/panels/lovelace/editor/card-editor/hui-card-preview.ts
  src/panels/lovelace/entity-rows/types.ts
  src/panels/lovelace/hui-root.ts
  src/panels/lovelace/hui-unused-entities.ts
  src/panels/lovelace/hui-view.ts
Labels: cla-signed, in progress

#2279 Add camera card on generate
  src/panels/lovelace/common/generate-lovelace-config.ts
Labels: cla-signed, in progress

#2271 :broom: `domain-filter` as attribute as it does not change
  src/panels/lovelace/editor/config-elements/hui-alarm-panel-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-gauge-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-light-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-sensor-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-thermostat-card-editor.ts
Labels: cla-signed, in progress

#2291 Clear view cache edit mode
  src/panels/lovelace/hui-root.ts
Labels: cla-signed, in progress

#2290 Fix opening edit dialog twice when closed by clicking on overlay
  src/panels/lovelace/editor/card-editor/hui-dialog-edit-card.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-pick-card.ts
  src/panels/lovelace/editor/card-editor/hui-edit-card.ts
Labels: cla-signed, in progress

#2289 Fix setting aspect ratio in percentage
  src/common/util/parse-aspect-ratio.ts
  test-mocha/common/util/parse_aspect_ratio_test.ts
Labels: cla-signed, in progress

#2303 remove Animation for thermostat and light
  src/panels/lovelace/cards/hui-light-card.ts
  src/panels/lovelace/cards/hui-thermostat-card.ts
Labels: cla-signed, in progress

#2259 Alarm Card Conversion
  src/data/alarm_control_panel.ts
  src/panels/lovelace/cards/hui-alarm-panel-card.js
  src/panels/lovelace/cards/hui-alarm-panel-card.ts
Labels: cla-signed, in progress

#2339 Fix undefined on plant/weather card
  src/cards/ha-plant-card.js
  src/cards/ha-weather-card.js
Labels: cla-signed, in progress

#2342 :broom: remove unnecessary editor types
  src/panels/lovelace/editor/config-elements/hui-alarm-panel-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-entities-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-gauge-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-glance-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-iframe-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-light-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-markdown-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-sensor-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-shopping-list-editor.ts
  src/panels/lovelace/editor/config-elements/hui-thermostat-card-editor.ts
Labels: cla-signed, in progress

#2336 :sparkles: UI Editor for `media-control` card
  src/panels/lovelace/cards/hui-media-control-card.js
  src/panels/lovelace/editor/config-elements/hui-media-control-card-editor.ts
Labels: cla-signed, in progress

#2343 Fix service button element
  src/layouts/app/connection-mixin.js
  src/panels/lovelace/elements/hui-service-button-element.ts
Labels: cla-signed, in progress

#2335 :hammer: Fix for element positioning
  gallery/src/demos/demo-hui-picture-elements-card.ts
  src/panels/lovelace/cards/hui-picture-elements-card.ts
Labels: cla-signed, in progress

#2344 Fix notifications drawer
  src/panels/lovelace/components/notifications/hui-notifications-button.js
  src/panels/lovelace/hui-root.ts
Labels: cla-signed, in progress

#2345 20181211 1
  gallery/src/demos/demo-hui-picture-elements-card.ts
  setup.py
  src/cards/ha-plant-card.js
  src/cards/ha-weather-card.js
  src/common/util/parse-aspect-ratio.ts
  src/layouts/app/connection-mixin.js
  src/panels/config/cloud/cloud-exposed-entities.ts
  src/panels/config/cloud/cloud-webhooks.ts
  src/panels/lovelace/cards/hui-entities-card.ts
  src/panels/lovelace/cards/hui-entity-button-card.ts
  src/panels/lovelace/cards/hui-gauge-card.ts
  src/panels/lovelace/cards/hui-glance-card.ts
  src/panels/lovelace/cards/hui-light-card.ts
  src/panels/lovelace/cards/hui-picture-elements-card.ts
  src/panels/lovelace/cards/hui-sensor-card.ts
  src/panels/lovelace/cards/hui-thermostat-card.ts
  src/panels/lovelace/components/hui-entities-toggle.ts
  src/panels/lovelace/components/hui-timestamp-display.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-edit-card.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-pick-card.ts
  src/panels/lovelace/editor/card-editor/hui-edit-card.ts
  src/panels/lovelace/elements/hui-service-button-element.ts
  src/panels/lovelace/ha-panel-lovelace.ts
  test-mocha/common/util/parse_aspect_ratio_test.ts
Labels: cla-signed, in progress

#2286 :sparkles: UI Editor for `plant-status` card
  src/panels/lovelace/cards/hui-plant-status-card.js
  src/panels/lovelace/editor/config-elements/hui-plant-status-card-editor.ts
Labels: cla-signed, in progress

#2319 Fix android external auth
  src/common/auth/external_auth.ts
Labels: cla-signed, in progress

#2352 render `error-entity-row` when state not available
  src/panels/lovelace/entity-rows/hui-climate-entity-row.ts
Labels: cla-signed, in progress

#2347 :broom: remove unused configs when empty
  src/panels/lovelace/cards/hui-alarm-panel-card.ts
  src/panels/lovelace/cards/hui-entities-card.ts
  src/panels/lovelace/cards/hui-gauge-card.ts
  src/panels/lovelace/cards/hui-glance-card.ts
  src/panels/lovelace/cards/hui-iframe-card.ts
  src/panels/lovelace/cards/hui-light-card.ts
  src/panels/lovelace/cards/hui-markdown-card.ts
  src/panels/lovelace/cards/hui-media-control-card.js
  src/panels/lovelace/cards/hui-plant-status-card.js
  src/panels/lovelace/cards/hui-sensor-card.ts
  src/panels/lovelace/cards/hui-shopping-list-card.ts
  src/panels/lovelace/cards/hui-thermostat-card.ts
  src/panels/lovelace/editor/config-elements/hui-alarm-panel-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-entities-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-gauge-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-glance-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-iframe-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-light-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-markdown-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-media-control-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-plant-status-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-sensor-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-shopping-list-editor.ts
  src/panels/lovelace/editor/config-elements/hui-thermostat-card-editor.ts
Labels: cla-signed, in progress

#2364 Cleanup of `picture` card editor
  src/panels/lovelace/components/hui-action-editor.ts
  src/panels/lovelace/editor/config-elements/hui-picture-card-editor.ts
Labels: cla-signed, in progress

#2356 Fix incorrect state display being cached
  src/common/entity/compute_state_display.ts
  src/common/entity/compute_state_name.ts
  test-mocha/common/entity/compute_state_display.ts
Labels: cla-signed, in progress

#2282 Update UI and Add Move Card to a Dialogue
  src/panels/lovelace/components/hui-card-options.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-move-card-view.ts
  src/panels/lovelace/editor/card-editor/hui-edit-card.ts
  src/panels/lovelace/editor/card-editor/show-move-card-view-dialog.ts
  src/panels/lovelace/hui-editor.ts
  src/panels/lovelace/hui-root.ts
Labels: cla-signed, in progress

#2367 20181211.2
  setup.py
  src/common/entity/compute_state_display.ts
  src/common/entity/compute_state_name.ts
  test-mocha/common/entity/compute_state_display.ts
Labels: cla-signed, in progress

#2287 ✨ UI Editor for `map` card
  src/panels/lovelace/cards/hui-map-card.js
  src/panels/lovelace/editor/config-elements/hui-map-card-editor.ts
Labels: cla-signed, in progress

#2385 Update favicon-apple-180x180.png
  public/icons/favicon-apple-180x180.png
Labels: cla-signed, in progress
