Repository home-assistant/frontend, pull requests merged in 2019-10, with the labels that each got.

#3836 Add missing domain icons
  src/common/entity/domain_icon.ts
Labels: Hacktoberfest, cla-signed

#3840 Remove local mdc-datatable
  mdc-data-table/CHANGELOG.md
  mdc-data-table/LICENSE
  mdc-data-table/README.md
  mdc-data-table/_mixins.scss
  mdc-data-table/_variables.scss
  mdc-data-table/adapter.d.ts
  mdc-data-table/adapter.js
  mdc-data-table/adapter.js.map
  mdc-data-table/adapter.ts
  mdc-data-table/component.d.ts
  mdc-data-table/component.js
  mdc-data-table/component.js.map
  mdc-data-table/component.ts
  mdc-data-table/constants.d.ts
  mdc-data-table/constants.js
  mdc-data-table/constants.js.map
  mdc-data-table/constants.ts
  mdc-data-table/foundation.d.ts
  mdc-data-table/foundation.js
  mdc-data-table/foundation.js.map
  mdc-data-table/foundation.ts
  mdc-data-table/index.d.ts
  mdc-data-table/index.js
  mdc-data-table/index.js.map
  mdc-data-table/index.ts
  mdc-data-table/mdc-data-table.scss
  mdc-data-table/package.json
  mdc-data-table/types.d.ts
  mdc-data-table/types.js
  mdc-data-table/types.js.map
  mdc-data-table/types.ts
  src/components/data-table/ha-data-table.ts
Labels: Hacktoberfest, cla-signed

#3842 Fix some styling of ha-switch
  src/components/entity/ha-entity-toggle.ts
  src/components/ha-switch.ts
  src/panels/config/cloud/account/cloud-alexa-pref.ts
  src/panels/config/cloud/account/cloud-google-pref.ts
  src/panels/config/cloud/account/cloud-remote-pref.ts
  src/panels/lovelace/editor/config-elements/config-elements-style.ts
Labels: Hacktoberfest, cla-signed

#3807 add actions to picture-glance entities
  src/panels/lovelace/cards/hui-picture-glance-card.ts
Labels: cla-signed

#3857 Update documentation link URL for integrations
  demo/src/stubs/translations.ts
  gallery/src/data/demo_states.js
  src/panels/config/cloud/dialog-manage-cloudhook/dialog-manage-cloudhook.ts
  src/panels/profile/ha-pick-theme-row.js
  src/panels/profile/ha-push-notifications-row.js
Labels: Hacktoberfest, cla-signed

#3605 Allow user selection of text in Lovelace
  src/panels/lovelace/hui-root.ts
Labels: cla-signed

#3843 Add entity registry functions to device page
  src/panels/config/devices/device-detail/ha-device-card.js
  src/panels/config/devices/device-detail/ha-device-entities-card.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/config/entity_registry/dialog-entity-registry-detail.ts
  src/panels/config/entity_registry/ha-config-entity-registry.ts
  src/panels/config/entity_registry/show-dialog-entity-registry-detail.ts
  src/translations/en.json
Labels: Hacktoberfest, cla-signed

#3841 Guard for null badges
  src/panels/lovelace/editor/view-editor/hui-edit-view.ts
  src/panels/lovelace/ha-panel-lovelace.ts
  src/panels/lovelace/views/hui-view.ts
Labels: Hacktoberfest, cla-signed

#3863 Default hide disabled entities from entity registry
  src/panels/config/entity_registry/ha-config-entity-registry.ts
  src/translations/en.json
Labels: Hacktoberfest, cla-signed

#3862 Allow yaml in script and automation
  src/panels/config/js/script/call_service.tsx
  src/panels/config/js/script/event.tsx
  src/panels/config/js/trigger/event.tsx
  src/panels/config/js/yaml_textarea.tsx
Labels: Hacktoberfest, cla-signed

#3861 Allow yaml in dev events
  src/panels/developer-tools/event/developer-tools-event.js
Labels: Hacktoberfest, cla-signed

#3860 Allow yaml in dev services
  src/panels/developer-tools/service/developer-tools-service.js
Labels: Hacktoberfest, cla-signed

#3859 Allow yaml in dev states
  src/panels/developer-tools/state/developer-tools-state.js
Labels: Hacktoberfest, cla-signed

#3858 Align background with tiles
  src/panels/lovelace/cards/hui-map-card.ts
Labels: Hacktoberfest, cla-signed

#3856 Fix dark switch for map card editor
  src/panels/lovelace/editor/config-elements/hui-map-card-editor.ts
Labels: Hacktoberfest, cla-signed

#3868 Fix issue where help icon overlapped with header text on mobile devices
  src/panels/config/zwave/ha-config-zwave.js
  src/panels/config/zwave/zwave-network.ts
Labels: Hacktoberfest, cla-signed

#3869 Add localization to user config page (#3845)
  src/panels/config/users/ha-config-user-picker.js
  src/panels/config/users/ha-user-editor.ts
  src/translations/en.json
Labels: Hacktoberfest, cla-signed

#3871 Add localization to persons config page (#3846)
  src/panels/config/person/dialog-person-detail.ts
  src/panels/config/person/ha-config-person.ts
  src/translations/en.json
Labels: Hacktoberfest, cla-signed

#3866 Make script editor translatable
  src/panels/config/script/ha-script-editor.js
  src/panels/config/script/ha-script-picker.ts
  src/translations/en.json
Labels: Hacktoberfest, cla-signed

#3874 Add link to Z-Wave docs in Z-Wave config panel
  src/panels/config/zwave/zwave-network.ts
  src/translations/en.json
Labels: Hacktoberfest, cla-signed

#3877 Fix styling system options
  src/dialogs/config-entry-system-options/dialog-config-entry-system-options.ts
Labels: Hacktoberfest, cla-signed

#3880 Fix whitespace error in services
  src/panels/developer-tools/service/developer-tools-service.js
Labels: Hacktoberfest, cla-signed

#3875 Make cloud account panel translatable
  src/panels/config/cloud/account/cloud-account.js
  src/panels/config/cloud/account/cloud-alexa-pref.ts
  src/panels/config/cloud/account/cloud-google-pref.ts
  src/panels/config/cloud/account/cloud-remote-pref.ts
  src/panels/config/cloud/account/cloud-webhooks.ts
  src/panels/config/cloud/alexa/cloud-alexa.ts
  src/panels/config/cloud/dialog-cloud-certificate/dialog-cloud-certificate.ts
  src/panels/config/cloud/dialog-manage-cloudhook/dialog-manage-cloudhook.ts
  src/panels/config/cloud/forgot-password/cloud-forgot-password.js
  src/panels/config/cloud/google-assistant/cloud-google-assistant.ts
  src/panels/config/cloud/login/cloud-login.js
  src/panels/config/cloud/register/cloud-register.js
  src/translations/en.json
Labels: Hacktoberfest, cla-signed

#3881 Add localization to ZHA panel
  src/panels/config/zha/zha-add-devices-page.ts
  src/panels/config/zha/zha-cluster-attributes.ts
  src/panels/config/zha/zha-cluster-commands.ts
  src/panels/config/zha/zha-clusters.ts
  src/panels/config/zha/zha-device-card.ts
  src/panels/config/zha/zha-network.ts
  src/panels/config/zha/zha-node.ts
  src/translations/en.json
Labels: Hacktoberfest, cla-signed

#3905 HA Cloud overflow wrap
  src/panels/config/cloud/account/cloud-remote-pref.ts
  src/panels/config/cloud/dialog-cloud-certificate/dialog-cloud-certificate.ts
Labels: Hacktoberfest, cla-signed

#3930 Fixes to script localization
  src/panels/config/script/ha-script-editor.js
  src/panels/config/script/ha-script-picker.ts
  src/translations/en.json
Labels: cla-signed

#3936 Exclude persistent_notifications domain when computing unused entities
  src/panels/lovelace/common/compute-unused-entities.ts
Labels: cla-signed, hacktoberfest

#3942 editor support for scene script action
  src/panels/config/js/script/action_edit.tsx
  src/panels/config/js/script/scene.tsx
  src/translations/en.json
Labels: cla-signed

#3872 Normalize longitude to the range between -180 to +180 degrees
  src/components/map/ha-location-editor.ts
Labels: cla-signed, hacktoberfest

#3935 Add intro to OZW log z-wave config section
  src/panels/config/zwave/zwave-log.js
  src/translations/en.json
Labels: cla-signed, hacktoberfest

#3939 Correct usage of Zigbee vs ZigBee #2
  translations/en.json
Labels: cla-signed, hacktoberfest

#3938 Correct usage of Zigbee vs ZigBee #1
  src/translations/en.json
Labels: cla-signed, hacktoberfest

#3839 add title option to stack cards
  src/panels/lovelace/cards/hui-stack-card.ts
Labels: cla-signed, hacktoberfest

#3941 Add localized names to card editor
  src/panels/lovelace/editor/card-editor/hui-card-picker.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-edit-card.ts
  src/panels/lovelace/editor/config-elements/hui-alarm-panel-card-editor.ts
  src/translations/en.json
Labels: cla-signed, hacktoberfest

#3960 Add default text to Markdown card editor
  src/panels/lovelace/cards/hui-markdown-card.ts
Labels: cla-signed

#3959 Changed the states-ui toggle button to unobstrusive text link.
  src/panels/developer-tools/info/developer-tools-info.ts
Labels: cla-signed

#3957 fix media row secondary info
  src/panels/lovelace/entity-rows/hui-media-player-entity-row.ts
Labels: cla-signed

#3855 Add report state toggle for Google
  src/data/cloud.ts
  src/panels/config/cloud/account/cloud-google-pref.ts
Labels: cla-signed, hacktoberfest

#3962 Fix updating entity id in entity-registry-dialog
  src/panels/config/entity_registry/dialog-entity-registry-detail.ts
Labels: cla-signed

#3963 Convert integration entry page to data table
  src/components/data-table/ha-data-table.ts
  src/panels/config/devices/device-detail/ha-device-card.js
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/panels/config/devices/ha-devices-data-table.ts
  src/panels/config/integrations/config-entry/ha-ce-entities-card.js
  src/panels/config/integrations/config-entry/ha-config-entry-page.ts
Labels: cla-signed, hacktoberfest

#3949 picture-glance: check for entity state change
  src/panels/lovelace/cards/hui-picture-glance-card.ts
Labels: cla-signed, hacktoberfest

#3970 Allow device triggers to specify extra fields
  src/components/ha-form.js
  src/data/device_automation.ts
  src/panels/config/js/preact-types.ts
  src/panels/config/js/trigger/device.tsx
  src/translations/en.json
Labels: cla-signed, hacktoberfest

#3975 20191002.2
  setup.py
  src/components/ha-form.js
  src/data/device_automation.ts
  src/panels/config/js/preact-types.ts
  src/panels/config/js/trigger/device.tsx
  src/panels/lovelace/cards/hui-picture-glance-card.ts
  src/translations/en.json
Labels: cla-signed

#3968 Renamed Toggle Editor button #3617
  src/panels/lovelace/editor/card-editor/hui-card-editor.ts
  src/translations/en.json
Labels: cla-signed, hacktoberfest

#3977 Upgrade MDI icons to 4.5.95
  package.json
  yarn.lock
Labels: cla-signed

#3971 Remove overflow attribute from view column
  src/panels/lovelace/views/hui-view.ts
Labels: cla-signed

#3953 Move position of alexa state report toggle. Fixes #3904
  src/panels/config/cloud/account/cloud-alexa-pref.ts
Labels: cla-signed, hacktoberfest

#3980 Convert YAMLTextArea to code mirror editor
  src/components/ha-yaml-editor.ts
  src/panels/config/js/preact-types.ts
  src/panels/config/js/yaml_textarea.tsx
  src/panels/lovelace/editor/card-editor/hui-card-editor.ts
  src/panels/lovelace/hui-editor.ts
  src/resources/ha-style.ts
Labels: cla-signed

#3811 ability to hide tabs
  src/data/lovelace.ts
  src/panels/lovelace/hui-root.ts
Labels: cla-signed

#3973 Allow device conditions to specify extra fields
  src/data/device_automation.ts
  src/panels/config/js/condition/device.tsx
  src/translations/en.json
Labels: cla-signed

#3967 Remove redundant text in Cloud panel #3824
  src/panels/config/cloud/account/cloud-alexa-pref.ts
  src/panels/config/cloud/account/cloud-google-pref.ts
  src/translations/en.json
Labels: cla-signed, hacktoberfest

#3965 Migrate entity registry to data-table
  src/components/data-table/ha-data-table.ts
  src/components/data-table/sort_filter_worker.ts
  src/panels/config/devices/ha-devices-data-table.ts
  src/panels/config/entity_registry/ha-config-entity-registry.ts
  src/panels/lovelace/editor/unused-entities/hui-unused-entities.ts
  src/translations/en.json
Labels: cla-signed, hacktoberfest

#3978 Update google cloud card
  src/panels/config/cloud/account/cloud-google-pref.ts
  src/translations/en.json
Labels: cla-signed, hacktoberfest

#3981 Add code mirror editors to the dev-tools data fields
  package.json
  src/components/ha-code-editor.ts
  src/components/ha-yaml-editor.ts
  src/panels/config/js/preact-types.ts
  src/panels/config/js/yaml_textarea.tsx
  src/panels/developer-tools/event/developer-tools-event.js
  src/panels/developer-tools/mqtt/developer-tools-mqtt.ts
  src/panels/developer-tools/service/developer-tools-service.js
  src/panels/developer-tools/state/developer-tools-state.js
  src/panels/developer-tools/template/developer-tools-template.js
  src/panels/lovelace/editor/card-editor/hui-card-editor.ts
  src/panels/lovelace/hui-editor.ts
  src/resources/codemirror.ondemand.ts
  src/resources/codemirror.ts
  yarn.lock
Labels: cla-signed

#3982 Add cache headers to demo and cast
  build-scripts/gulp/gather-static.js
  cast/public/_headers
  demo/public/_headers
Labels: cla-signed

#3987 Update ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE.md
Labels: cla-signed

#3873 Remove 'Pick script to edit' headline from script editor
  src/panels/config/script/ha-script-picker.ts
  src/translations/en.json
Labels: cla-signed, hacktoberfest

#3906 Add no devices available hint to person editor
  src/panels/config/person/dialog-person-detail.ts
  src/translations/en.json
Labels: cla-signed, hacktoberfest

#3993 Fixes documentation URL for HTML5 push notifications
  src/panels/profile/ha-push-notifications-row.js
Labels: cla-signed, hacktoberfest

#3992 Added note about more integrations to bottom of Set up new integration dialog
  src/dialogs/config-flow/step-flow-pick-handler.ts
  src/translations/en.json
Labels: cla-signed

#3997 Translate Advanced mode toggle
  src/panels/profile/ha-advanced-mode-card.ts
  src/translations/en.json
Labels: cla-signed, hacktoberfest

#3995 Improve customize.yaml non-inclusion warning message
  src/panels/config/customize/ha-form-customize.js
Labels: cla-signed

#4002 Allow device actions to specify extra fields
  src/data/device_automation.ts
  src/panels/config/js/condition/device.tsx
  src/panels/config/js/script/device.tsx
  src/panels/config/js/trigger/device.tsx
  src/translations/en.json
Labels: cla-signed

#4001 Fix integration names not wrapping
  src/onboarding/integration-badge.ts
Labels: cla-signed

#3996 Added integration name to System Options dialog
  src/dialogs/config-entry-system-options/dialog-config-entry-system-options.ts
  src/translations/en.json
Labels: cla-signed, hacktoberfest

#3991 Alarm Panel card: number buttons outline and adjusted padding and font-size fixing #2812
  src/panels/lovelace/cards/hui-alarm-panel-card.ts
Labels: cla-signed

#3937 add show_state option for picture-glance entities
  src/panels/lovelace/cards/hui-glance-card.ts
  src/panels/lovelace/cards/hui-picture-glance-card.ts
  src/panels/lovelace/cards/types.ts
Labels: cla-signed, documentation needed, hacktoberfest

#3955 Updates alarm more-info dialog button styles to match lovelace card
  src/dialogs/more-info/controls/more-info-alarm_control_panel.js
Labels: cla-signed, hacktoberfest

#3958 filter system users from Person editor
  src/components/user/ha-user-picker.ts
Labels: cla-signed, hacktoberfest

#4018 display card errors with yaml config
  src/panels/lovelace/cards/hui-error-card.ts
Labels: cla-signed

#3867 Custom badges
  src/data/lovelace.ts
  src/panels/lovelace/badges/hui-entity-filter-badge.ts
  src/panels/lovelace/badges/hui-error-badge.ts
  src/panels/lovelace/badges/hui-state-label-badge.ts
  src/panels/lovelace/badges/types.ts
  src/panels/lovelace/common/create-badge-element.ts
  src/panels/lovelace/common/generate-lovelace-config.ts
  src/panels/lovelace/editor/view-editor/hui-edit-view.ts
  src/panels/lovelace/types.ts
  src/panels/lovelace/views/hui-view.ts
Labels: cla-signed, documentation needed, hacktoberfest

#4017 Switch theme
  demo/src/configs/jimpower/theme.ts
  demo/src/configs/kernehed/theme.ts
  demo/src/configs/teachingbirds/theme.ts
  src/components/ha-switch.ts
  src/resources/ha-style.ts
Labels: cla-signed

#3734 Convert thermostat to round-slider
  package.json
  src/panels/lovelace/cards/hui-thermostat-card.ts
  src/resources/jquery.roundslider.js
  src/resources/jquery.roundslider.ondemand.ts
  src/resources/jquery.ts
  yarn.lock
Labels: cla-signed

#4033 Translated developer tools events page
  src/panels/developer-tools/event/developer-tools-event.js
  src/panels/developer-tools/event/event-subscribe-card.ts
  src/panels/developer-tools/event/events-list.js
  src/translations/en.json
Labels: cla-signed

#4004 Made thermostat history graph localizable
  src/components/state-history-chart-line.js
  src/translations/en.json
Labels: cla-signed

#4000 Migrate ha-form to lit
  src/auth/ha-auth-flow.ts
  src/components/ha-form.js
  src/components/ha-form/ha-form-boolean.ts
  src/components/ha-form/ha-form-float.ts
  src/components/ha-form/ha-form-integer.ts
  src/components/ha-form/ha-form-select.ts
  src/components/ha-form/ha-form-string.ts
  src/components/ha-form/ha-form.ts
  src/dialogs/config-flow/dialog-data-entry-flow.ts
  src/dialogs/config-flow/step-flow-form.ts
  src/panels/config/js/condition/device.tsx
  src/panels/config/js/script/device.tsx
  src/panels/config/js/trigger/device.tsx
  src/panels/profile/ha-mfa-module-setup-flow.js
  src/resources/ha-style.ts
Labels: cla-signed

#4043 translate view editor and explain panel mode
  src/panels/lovelace/editor/view-editor/hui-view-editor.ts
  src/translations/en.json
Labels: cla-signed

#4039 Translated developer tools state page
  src/panels/developer-tools/state/developer-tools-state.js
  src/translations/en.json
Labels: cla-signed

#4026 add feature request template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: cla-signed

#4051 fix double tap on glance entity
  src/panels/lovelace/cards/hui-glance-card.ts
  src/panels/lovelace/cards/hui-picture-glance-card.ts
Labels: cla-signed

#4038 more-info dialog for counter
  src/common/const.ts
  src/common/entity/domain_icon.ts
  src/dialogs/more-info/controls/more-info-content.ts
  src/dialogs/more-info/controls/more-info-counter.ts
  src/translations/en.json
Labels: cla-signed

#3972 Add width property to light card to fix #3964
  src/panels/lovelace/cards/hui-light-card.ts
Labels: cla-signed

#4052 Translated developer tools mqtt page
  src/panels/developer-tools/mqtt/developer-tools-mqtt.ts
  src/panels/developer-tools/mqtt/mqtt-subscribe-card.ts
  src/translations/en.json
Labels: cla-signed

#4049 Translated developer tools services page
  src/panels/developer-tools/service/developer-tools-service.js
  src/translations/en.json
Labels: cla-signed

#4050 Translated developer tools template page
  src/panels/developer-tools/template/developer-tools-template.js
  src/translations/en.json
Labels: cla-signed

#4058 Use only decorators
  demo/src/custom-cards/ha-demo-card.ts
  src/auth/ha-authorize.ts
  src/components/ha-label-badge.ts
  src/dialogs/more-info/controls/more-info-content.ts
  src/panels/config/area_registry/dialog-area-registry-detail.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/cloud/account/cloud-google-pref.ts
  src/panels/config/cloud/account/cloud-remote-pref.ts
  src/panels/config/cloud/account/cloud-webhooks.ts
  src/panels/config/cloud/dialog-manage-cloudhook/dialog-manage-cloudhook.ts
  src/panels/config/person/ha-config-person.ts
  src/panels/config/zha/zha-cluster-attributes.ts
  src/panels/config/zha/zha-cluster-commands.ts
  src/panels/config/zha/zha-clusters.ts
  src/panels/config/zha/zha-network.ts
  src/panels/developer-tools/info/system-health-card.ts
  src/panels/developer-tools/logs/dialog-system-log-detail.ts
  src/panels/developer-tools/logs/error-log-card.ts
  src/panels/developer-tools/logs/system-log-card.ts
  src/panels/lovelace/views/hui-view.ts
Labels: cla-signed

#3974 Bring back babel
  build-scripts/babel.js
  build-scripts/webpack.js
  gallery/webpack.config.js
  hassio/webpack.config.js
  package.json
  src/mixins/lit-localize-lite-mixin.ts
  src/mixins/subscribe-mixin.ts
  src/state/hass-base-mixin.ts
  tsconfig.json
  yarn.lock
Labels: cla-signed

#4062 Hide "Save" on card configuration modal if no card is picked
  src/panels/lovelace/editor/card-editor/hui-dialog-edit-card.ts
Labels: cla-signed

#4061 Move Home Assistant and version on info page into h2
  src/panels/developer-tools/info/developer-tools-info.ts
Labels: cla-signed

#4024 add icon option to entities card name
  src/panels/lovelace/cards/hui-entities-card.ts
  src/panels/lovelace/cards/types.ts
Labels: cla-signed

#4060 Make updateHass not async
  src/state/hass-base-mixin.ts
Labels: cla-signed

#4054 Translated developer tools info page
  src/panels/developer-tools/info/developer-tools-info.ts
  src/panels/developer-tools/info/system-health-card.ts
  src/translations/en.json
Labels: cla-signed

#4045 Update snapshot actions to be a list
  hassio/src/dialogs/snapshot/dialog-hassio-snapshot.ts
Labels: cla-signed

#4076 Clean up mixins
  src/components/ha-checkbox.ts
  src/components/ha-fab.ts
  src/components/ha-icon.ts
  src/components/ha-paper-dropdown-menu.ts
  src/components/ha-paper-icon-button-arrow-next.ts
  src/components/ha-paper-icon-button-arrow-prev.ts
  src/components/ha-paper-icon-button-next.ts
  src/components/ha-paper-icon-button-prev.ts
  src/components/ha-switch.ts
  src/mixins/lit-localize-lite-mixin.ts
  src/mixins/localize-lite-base-mixin.ts
  src/mixins/localize-lite-mixin.ts
  src/mixins/provide-hass-lit-mixin.ts
  src/mixins/subscribe-mixin.ts
  src/state/auth-mixin.ts
  src/state/connection-mixin.ts
  src/state/dialog-manager-mixin.ts
  src/state/disconnect-toast-mixin.ts
  src/state/haptic-mixin.ts
  src/state/hass-base-mixin.ts
  src/state/hass-element.ts
  src/state/more-info-mixin.ts
  src/state/notification-mixin.ts
  src/state/sidebar-mixin.ts
  src/state/themes-mixin.ts
  src/state/translations-mixin.ts
  src/state/url-sync-mixin.ts
  src/state/zha-dialog-mixin.ts
  src/types.ts
Labels: cla-signed

#4074 Move compression from Webpack to Gulp
  build-scripts/gulp/app.js
  build-scripts/gulp/compress.js
  build-scripts/gulp/gather-static.js
  build-scripts/webpack.js
Labels: cla-signed

#4059 Add hovers (title attrs) to buttons on integrations config entry
  src/panels/config/integrations/config-entry/ha-config-entry-page.ts
  src/translations/en.json
Labels: cla-signed

#4068 Changed outdated "GUI editor" reference to "visual editor"
  src/panels/lovelace/editor/card-editor/hui-card-editor.ts
Labels: cla-signed

#4031 Split data table background color into separate theme variable
  src/components/data-table/ha-data-table.ts
  src/resources/ha-style.ts
Labels: cla-signed

#4079 Fix `yaml` name collision in card editor
  gallery/src/components/demo-card.js
  package.json
  src/panels/config/js/yaml_textarea.tsx
  src/panels/developer-tools/event/developer-tools-event.js
  src/panels/developer-tools/service/developer-tools-service.js
  src/panels/developer-tools/state/developer-tools-state.js
  src/panels/lovelace/cards/hui-error-card.ts
  src/panels/lovelace/editor/card-editor/hui-card-editor.ts
  src/panels/lovelace/hui-editor.ts
  yarn.lock
Labels: cla-signed

#4085 Fix for Zone icon visibility on Map panel and Lovelace Map card
  src/panels/lovelace/cards/hui-map-card.ts
  src/panels/map/ha-panel-map.js
Labels: cla-signed

#4057 card level themes
  hassio/src/hassio-main.ts
  src/common/dom/apply_themes_on_element.ts
  src/fake_data/provide_hass.ts
  src/panels/lovelace/cards/hui-alarm-panel-card.ts
  src/panels/lovelace/cards/hui-entities-card.ts
  src/panels/lovelace/cards/hui-entity-button-card.ts
  src/panels/lovelace/cards/hui-gauge-card.ts
  src/panels/lovelace/cards/hui-glance-card.ts
  src/panels/lovelace/cards/hui-light-card.ts
  src/panels/lovelace/cards/hui-markdown-card.ts
  src/panels/lovelace/cards/hui-picture-card.ts
  src/panels/lovelace/cards/hui-picture-elements-card.ts
  src/panels/lovelace/cards/hui-picture-entity-card.ts
  src/panels/lovelace/cards/hui-picture-glance-card.ts
  src/panels/lovelace/cards/hui-plant-status-card.ts
  src/panels/lovelace/cards/hui-sensor-card.ts
  src/panels/lovelace/cards/hui-shopping-list-card.ts
  src/panels/lovelace/cards/hui-thermostat-card.ts
  src/panels/lovelace/cards/hui-weather-forecast-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/common/has-changed.ts
  src/panels/lovelace/editor/config-elements/hui-alarm-panel-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-markdown-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-picture-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-picture-entity-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-picture-glance-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-plant-status-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-shopping-list-editor.ts
  src/panels/lovelace/editor/config-elements/hui-weather-forecast-card-editor.ts
  src/panels/lovelace/views/hui-panel-view.ts
  src/panels/lovelace/views/hui-view.ts
  src/state/themes-mixin.ts
Labels: cla-signed

#4073 Convert more-info-weather to LitElement
  src/dialogs/more-info/controls/more-info-weather.js
  src/dialogs/more-info/controls/more-info-weather.ts
Labels: cla-signed

#4075 Convert more-info-sun to Lit
  src/dialogs/more-info/controls/more-info-sun.js
  src/dialogs/more-info/controls/more-info-sun.ts
Labels: cla-signed

#4028 add actions to state-badge element and state-label-badge (default Lovelace badge type)
  src/cards/ha-badges-card.js
  src/cards/ha-badges-card.ts
  src/components/entity/ha-state-label-badge.ts
  src/panels/lovelace/badges/hui-state-label-badge.ts
  src/panels/lovelace/badges/types.ts
  src/panels/lovelace/elements/hui-state-badge-element.ts
  src/panels/lovelace/elements/hui-state-label-element.ts
  src/panels/lovelace/elements/types.ts
Labels: cla-signed, hacktoberfest

#4090 Add positive_time_period_dict to ha-form
  src/components/ha-form/ha-form-float.ts
  src/components/ha-form/ha-form-integer.ts
  src/components/ha-form/ha-form-positive_time_period_dict.ts
  src/components/ha-form/ha-form.ts
  src/components/paper-time-input.js
Labels: cla-signed, hacktoberfest

#4089 Change ha-device-picker to combo box + improve name handling + show area
  src/components/device/ha-device-picker.ts
Labels: cla-signed, hacktoberfest

#4067 Changed button to text
  src/panels/lovelace/editor/view-editor/hui-edit-view.ts
Labels: cla-signed, hacktoberfest

#4095 revert lovelace selectable text
  src/panels/lovelace/hui-root.ts
Labels: cla-signed

#4101 Fix issue where long states do not wrap
  src/state-summary/state-card-display.js
Labels: cla-signed

#4098 Fix link to translation documentation
  translations/README.md
Labels: cla-signed

#4083 Added view title to heading of Lovelace Add Card picker
  src/panels/lovelace/editor/card-editor/hui-card-picker.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-edit-card.ts
  src/translations/en.json
Labels: cla-signed, hacktoberfest

#4037 added title to view configuation
  src/panels/lovelace/editor/view-editor/hui-edit-view.ts
  src/translations/en.json
Labels: cla-signed, hacktoberfest

#4102 Fix delete button styling in hui-edit-view
  src/panels/lovelace/editor/view-editor/hui-edit-view.ts
Labels: cla-signed

#4053 Confirmation Dialog
  src/components/buttons/ha-call-service-button.js
  src/dialogs/confirmation/dialog-confirmation.ts
  src/dialogs/confirmation/show-dialog-confirmation.ts
  src/panels/config/entity_registry/dialog-entity-registry-detail.ts
  src/panels/config/integrations/config-entry/ha-config-entry-page.ts
  src/panels/lovelace/components/hui-card-options.ts
  src/panels/lovelace/editor/delete-card.ts
  src/panels/lovelace/editor/view-editor/hui-edit-view.ts
  src/translations/en.json
Labels: cla-signed, hacktoberfest

#4035 add sensor card to first demo
  demo/src/configs/arsaboo/entities.ts
  demo/src/configs/arsaboo/lovelace.ts
  src/translations/en.json
Labels: cla-signed, hacktoberfest

#4041 Revise hassio update card design
  hassio/src/dashboard/hassio-update.ts
Labels: cla-signed, hacktoberfest

#4107 Adds a white background to the QR code for MFA
  src/panels/profile/ha-mfa-module-setup-flow.js
Labels: cla-signed

#4106 Fix more integrations message
  src/dialogs/config-flow/dialog-data-entry-flow.ts
  src/dialogs/config-flow/show-dialog-data-entry-flow.ts
  src/dialogs/config-flow/step-flow-pick-handler.ts
  src/panels/config/integrations/ha-config-entries-dashboard.ts
  src/panels/config/integrations/ha-config-integrations.ts
Labels: cla-signed

#4108 Clean up device card
  src/panels/config/devices/device-detail/ha-device-card.js
  src/panels/config/devices/device-detail/ha-device-card.ts
  src/panels/config/devices/device-detail/ha-device-entities-card.ts
  src/translations/en.json
Labels: cla-signed

#4023 support actions on rows
  src/panels/lovelace/cards/hui-entities-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/common/directives/long-press-directive.ts
  src/panels/lovelace/components/hui-generic-entity-row.ts
  src/panels/lovelace/entity-rows/hui-input-select-entity-row.ts
Labels: cla-signed, hacktoberfest

#4123 translated most aria-labels in ts files
  src/components/device/ha-device-picker.ts
  src/components/entity/ha-entity-picker.ts
  src/components/ha-menu-button.ts
  src/components/ha-sidebar.ts
  src/panels/lovelace/components/hui-card-options.ts
  src/panels/lovelace/components/hui-entities-toggle.ts
  src/panels/lovelace/hui-root.ts
  src/translations/en.json
Labels: cla-signed

#4129 Fix styling delete view btn
  src/panels/lovelace/editor/view-editor/hui-edit-view.ts
Labels: cla-signed

#4127 Fix variable column widths
  src/panels/lovelace/views/hui-view.ts
Labels: cla-signed

#4135 Change entity reg table to full width
  src/panels/config/entity_registry/ha-config-entity-registry.ts
Labels: cla-signed

#4136 20191025.0
  setup.py
  src/components/device/ha-device-picker.ts
  src/components/entity/ha-entity-picker.ts
  src/components/ha-menu-button.ts
  src/components/ha-sidebar.ts
  src/panels/config/entity_registry/ha-config-entity-registry.ts
  src/panels/lovelace/components/hui-card-options.ts
  src/panels/lovelace/components/hui-entities-toggle.ts
  src/panels/lovelace/editor/view-editor/hui-edit-view.ts
  src/panels/lovelace/hui-root.ts
  src/panels/lovelace/views/hui-view.ts
  src/translations/en.json
  translations/ca.json
  translations/da.json
  translations/en.json
  translations/es.json
  translations/et.json
  translations/fr.json
  translations/hu.json
  translations/is.json
  translations/it.json
  translations/lb.json
  translations/nb.json
  translations/nl.json
  translations/pl.json
  translations/pt-BR.json
  translations/ro.json
  translations/ru.json
  translations/zh-Hans.json
  translations/zh-Hant.json
Labels: cla-signed

#4128 Add Netatmo specific states
  src/translations/en.json
Labels: cla-signed

#4152 Only do haptic on entity interactions
  src/panels/lovelace/common/handle-click.ts
Labels: cla-signed

#4148 Added title attributes and translated them in Configure UI Mode
  src/panels/lovelace/hui-root.ts
  src/translations/en.json
Labels: cla-signed

#4146 Translated automation and script editor
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/js/script.tsx
  src/panels/config/script/ha-script-editor.js
  src/panels/config/script/ha-script-picker.ts
  src/translations/en.json
Labels: cla-signed

#4145 More descriptive delete/move buttons + red delete
  src/panels/lovelace/components/hui-card-options.ts
  src/translations/en.json
Labels: cla-signed

#4142 Translated lovelace raw config editor and lovelace editing UI mode
  src/panels/lovelace/ha-panel-lovelace.ts
  src/panels/lovelace/hui-editor.ts
  src/panels/lovelace/hui-root.ts
  src/translations/en.json
Labels: cla-signed

#4150 Migrate voice command dialog
  package.json
  src/common/config/is_component_loaded.ts
  src/components/ha-start-voice-button.js
  src/data/conversation.ts
  src/dialogs/ha-more-info-dialog.js
  src/dialogs/ha-voice-command-dialog.js
  src/dialogs/more-info/controls/more-info-media_player.js
  src/dialogs/more-info/more-info-controls.js
  src/dialogs/voice-command-dialog/ha-voice-command-dialog.ts
  src/dialogs/voice-command-dialog/show-ha-voice-command-dialog.ts
  src/panels/config/core/ha-config-section-core.js
  src/panels/config/dashboard/ha-config-dashboard.js
  src/panels/config/dashboard/ha-config-navigation.ts
  src/panels/config/ha-panel-config.ts
  src/panels/config/person/dialog-person-detail.ts
  src/panels/config/server_control/ha-config-section-server-control.js
  src/panels/developer-tools/ha-panel-developer-tools.ts
  src/panels/lovelace/hui-root.ts
  src/panels/profile/ha-push-notifications-row.js
  src/panels/shopping-list/ha-panel-shopping-list.js
  src/panels/states/ha-panel-states.js
  src/translations/en.json
  yarn.lock
Labels: cla-signed
