Repository home-assistant/frontend, pull requests merged in 2019-01, with the labels that each got.

#2388 Allow empty friendly_name
  src/common/entity/compute_state_name.ts
Labels: cla-signed, in progress

#2346 Check config on save
  src/panels/lovelace/hui-editor.ts
Labels: Editor, cla-signed, in progress

#2393 ✨ UI Editor for `entity-button` card
  src/panels/lovelace/cards/hui-entity-button-card.ts
  src/panels/lovelace/editor/config-elements/hui-entity-button-card-editor.ts
Labels: cla-signed, in progress

#2369 ✨ `thermostat` card: follow same step logic as more-info
  src/panels/lovelace/cards/hui-thermostat-card.ts
Labels: cla-signed, in progress

#2375 Fix climate control rounding error
  src/components/ha-climate-control.js
Labels: cla-signed, in progress

#2379 Lovelace alarm panel should respects the code_format
  src/panels/lovelace/cards/hui-alarm-panel-card.ts
Labels: New feature, cla-signed, in progress

#2390 Allow for removal of broadcast node in UI
  src/panels/config/zwave/zwave-groups.js
Labels: cla-signed, in progress

#2389 Config panel for ZHA
  src/panels/config/dashboard/ha-config-navigation.js
  src/panels/config/ha-panel-config.js
  src/panels/config/zha/ha-config-zha.ts
  src/panels/config/zha/zha-network.ts
  src/translations/en.json
  translations/en.json
Labels: cla-signed, in progress

#2415 Small fixes to sensor editor
  src/panels/lovelace/editor/config-elements/hui-sensor-card-editor.ts
Labels: cla-signed, in progress

#2411 Removed excessive bracket in css
  src/cards/ha-weather-card.js
Labels: cla-signed, in progress

#2425 Gauge editor: Change title to name
  src/panels/lovelace/editor/config-elements/hui-gauge-card-editor.ts
Labels: cla-signed, in progress

#2424 Proper RTL support in weather forecast card
  src/cards/ha-weather-card.js
  src/panels/dev-state/ha-panel-dev-state.js
Labels: cla-signed, in progress

#2428 Remove styleMap for base-unit
  src/panels/lovelace/cards/hui-gauge-card.ts
Labels: cla-signed, in progress

#2439 🛠️ add `resources` to lovelace struct
  src/panels/lovelace/hui-editor.ts
Labels: cla-signed, in progress

#2435 Add dismiss functionality to html5 notifications.
  src/entrypoints/service-worker-hass.js
Labels: cla-signed, in progress

#2432 Force dev panels to LTR even in RTL language to make it usable. Same for logbook
  src/panels/dev-event/ha-panel-dev-event.js
  src/panels/dev-info/ha-panel-dev-info.js
  src/panels/dev-mqtt/ha-panel-dev-mqtt.js
  src/panels/dev-service/ha-panel-dev-service.js
  src/panels/dev-template/ha-panel-dev-template.js
  src/panels/logbook/ha-logbook.js
Labels: cla-signed, in progress

#2440 Correctly wrap weblink entities
  src/panels/lovelace/common/generate-lovelace-config.ts
  src/panels/lovelace/entity-rows/types.ts
  src/panels/lovelace/special-rows/hui-weblink-row.ts
Labels: cla-signed, in progress

#2421 Expand ZHA configuration panel
  src/data/zha.ts
  src/panels/config/zha/ha-config-zha.ts
  src/panels/config/zha/types.ts
  src/panels/config/zha/zha-cluster-attributes.ts
  src/panels/config/zha/zha-cluster-commands.ts
  src/panels/config/zha/zha-clusters.ts
  src/panels/config/zha/zha-entities.ts
  src/panels/config/zha/zha-network.ts
  src/panels/config/zha/zha-node.ts
Labels: cla-signed, in progress

#2447 Thermostat: check if we are attached before getting clientWidth
  src/panels/lovelace/cards/hui-thermostat-card.ts
Labels: cla-signed, in progress

#2444 RTL support for history timeline
  src/components/state-history-chart-timeline.js
Labels: cla-signed, in progress

#2446 Allow push notifications to suggest its device name
  src/components/ha-push-notifications-toggle.js
Labels: cla-signed, in progress

#2454 Address outstanding items for ZHA config panel
  src/data/zha.ts
Labels: cla-signed, in progress

#2456 Fix gauge
  src/panels/lovelace/cards/hui-gauge-card.ts
Labels: cla-signed, in progress

#2452 Rebuild just the card instead of entire view
  src/panels/lovelace/common/create-card-element.ts
  src/panels/lovelace/common/create-hui-element.ts
  src/panels/lovelace/common/create-row-element.ts
  src/panels/lovelace/hui-root.ts
  src/panels/lovelace/hui-view.ts
  src/panels/lovelace/types.ts
Labels: cla-signed, in progress

#2464 Fix long press directive
  src/panels/lovelace/common/directives/long-press-directive.ts
Labels: cla-signed, in progress

#2414 Make Lovelace default
  src/common/const.ts
  src/panels/dev-info/ha-panel-dev-info.js
Labels: cla-signed, in progress

#2465 Set preferred panel right away
  src/layouts/app/home-assistant.js
Labels: cla-signed, in progress

#2467 Rebuild card instead of entire stack
  src/panels/lovelace/cards/hui-stack-card.ts
Labels: cla-signed, in progress

#2466 Style edit card button
  src/panels/lovelace/components/hui-card-options.ts
Labels: cla-signed, in progress

#2472 Used wrong config key and TS didn't raise
  src/panels/lovelace/cards/hui-alarm-panel-card.ts
Labels: cla-signed, in progress

#2471 Use right constant for alarm panel
  src/data/alarm_control_panel.ts
  src/panels/lovelace/cards/hui-alarm-panel-card.ts
Labels: cla-signed, in progress

#2468 Be specific on Danish-Norwegian translation name
  src/translations/translationMetadata.json
Labels: cla-signed, in progress

#2475 Html5 push notice, skip opening url if an action was called
  src/entrypoints/service-worker-hass.js
Labels: cla-signed, in progress

#2480 Convert label badge to use static get styles
  src/components/ha-label-badge.ts
Labels: cla-signed, in progress

#2479 Use static get styles to embed ha-style
  src/panels/config/cloud/cloud-webhook-manage-dialog.ts
  src/panels/lovelace/hui-editor.ts
  src/panels/lovelace/hui-root.ts
  src/resources/ha-style.ts
Labels: cla-signed, in progress

#2478 Honor group control hidden setting
  src/panels/lovelace/cards/hui-entities-card.ts
  src/panels/lovelace/common/generate-lovelace-config.ts
  src/panels/lovelace/editor/config-elements/hui-entities-card-editor.ts
Labels: cla-signed, in progress

#2481 Fix ll-rebuild only keeps the card that should be deleted
  src/panels/lovelace/cards/hui-stack-card.ts
  src/panels/lovelace/hui-view.ts
Labels: cla-signed, in progress

#2476 paper-slider RTL fix
  src/components/ha-slider.js
  src/panels/lovelace/entity-rows/hui-input-number-entity-row.js
Labels: cla-signed, in progress

#2485 Climate entity row for water-heater
  src/panels/lovelace/common/create-row-element.ts
Labels: cla-signed, in progress

#2487 Fix getCardSize iFrame
  src/panels/lovelace/cards/hui-iframe-card.ts
Labels: cla-signed, in progress

#2486 Activate edit mode after taking control
  src/panels/lovelace/editor/hui-dialog-save-config.ts
  src/panels/lovelace/ha-panel-lovelace.ts
Labels: cla-signed, in progress

#2488 Ignore weblinks that don't exist when converting groups to lovelace config
  src/panels/lovelace/common/generate-lovelace-config.ts
Labels: cla-signed, in progress

#2489 Put geo_events on a map instead of an entities card.
  src/panels/lovelace/cards/hui-map-card.js
  src/panels/lovelace/common/generate-lovelace-config.ts
Labels: Documentation-Needed, cla-signed, in progress

#2492 Position thermostat correctly
  src/panels/lovelace/cards/hui-thermostat-card.ts
Labels: cla-signed, in progress

#2499 Optimizes image assets
  gallery/public/images/bed.png
  gallery/public/images/divider.png
  gallery/public/images/floorplan.png
  gallery/public/images/kitchen.png
  gallery/public/images/light_bulb_off.png
  gallery/public/images/light_bulb_on.png
  gallery/public/images/living_room.png
  public/icons/favicon-1024x1024.png
  public/icons/favicon-192x192.png
  public/icons/favicon-384x384.png
  public/icons/favicon-512x512.png
  public/icons/favicon-apple-180x180.png
  public/icons/tile-win-150x150.png
  public/icons/tile-win-310x150.png
  public/icons/tile-win-310x310.png
  public/icons/tile-win-70x70.png
  public/images/card_media_player_bg.png
  public/images/config_ecobee_thermostat.png
  public/images/config_fitbit_app.png
  public/images/config_flows/config_homematicip_cloud.png
  public/images/config_icloud.png
  public/images/config_insteon.png
  public/images/config_philips_hue.jpg
  public/images/config_webos.png
  public/images/config_wink.png
  public/images/logo_automatic.png
  public/images/logo_axis.png
  public/images/logo_deconz.jpeg
  public/images/logo_philips_hue.png
  public/images/logo_plex_mediaserver.png
  public/images/notification-badge.png
  public/images/smart-tv.png
Labels: cla-signed, in progress

#2496 Deep clone config
  package.json
  src/panels/lovelace/common/create-card-element.ts
  src/panels/lovelace/common/create-hui-element.ts
  src/panels/lovelace/common/create-row-element.ts
  src/panels/lovelace/editor/card-editor/hui-card-preview.ts
  yarn.lock
Labels: cla-signed, in progress

#2495 RTL fix for precipitation
  src/cards/ha-weather-card.js
Labels: cla-signed, in progress

#2503 Update demo-hui-entity-button-card.ts
  gallery/src/demos/demo-hui-entity-button-card.ts
Labels: cla-signed, in progress

#2505 Update WC polyfills
  yarn.lock
Labels: cla-signed, in progress

#2509 Update lovelace.ts
  demo/src/configs/kernehed/lovelace.ts
Labels: cla-signed, in progress

#2508 Update entities.ts
  demo/src/configs/kernehed/entities.ts
Labels: cla-signed, in progress

#2501 Make edit-dialog look ok on mobile
  src/dialogs/ha-more-info-dialog.js
  src/panels/lovelace/editor/card-editor/hui-edit-card.ts
  src/resources/ha-style.ts
Labels: cla-signed, in progress

#2510 Update entities.ts
  demo/src/configs/kernehed/entities.ts
Labels: cla-signed, in progress

#2516 Add teachingbirds demo
  demo/public/assets/teachingbirds/House_square.jpg
  demo/public/assets/teachingbirds/Stefan_square.jpg
  demo/public/assets/teachingbirds/background_square.png
  demo/public/assets/teachingbirds/cleaning_square.jpg
  demo/public/assets/teachingbirds/clothes_drying_square.jpg
  demo/public/assets/teachingbirds/dryer_square.jpg
  demo/public/assets/teachingbirds/folded_clothes_square.jpg
  demo/public/assets/teachingbirds/guests_square.jpg
  demo/public/assets/teachingbirds/isa_square.jpg
  demo/public/assets/teachingbirds/laundry_clean_2_square.jpg
  demo/public/assets/teachingbirds/laundry_running_square.jpg
  demo/public/assets/teachingbirds/mailbox_bw_square.jpg
  demo/public/assets/teachingbirds/mailbox_square.jpg
  demo/public/assets/teachingbirds/meteogram.png
  demo/public/assets/teachingbirds/radiator_off.jpg
  demo/public/assets/teachingbirds/radiator_on.jpg
  demo/public/assets/teachingbirds/roomba_bw_square.jpg
  demo/public/assets/teachingbirds/roomba_square.jpg
  demo/public/assets/teachingbirds/trash_bear_bw_square.jpg
  demo/public/assets/teachingbirds/trash_square.jpg
  demo/public/assets/teachingbirds/washer_square.jpg
  demo/src/configs/demo-configs.ts
  demo/src/configs/jimpower/index.ts
  demo/src/configs/kernehed/index.ts
  demo/src/configs/teachingbirds/entities.ts
  demo/src/configs/teachingbirds/index.ts
  demo/src/configs/teachingbirds/lovelace.ts
  demo/src/ha-demo.ts
  demo/src/stubs/history.ts
  demo/src/stubs/shopping_list.ts
  src/fake_data/provide_hass.ts
  src/panels/lovelace/cards/hui-gauge-card.ts
  src/panels/lovelace/cards/hui-sensor-card.ts
Labels: cla-signed, in progress

#2515 Remove ids from demo configs
  demo/src/configs/jimpower/lovelace.ts
  demo/src/configs/kernehed/lovelace.ts
Labels: cla-signed, in progress

#2513 Edit dialogs for mobile
  src/panels/lovelace/editor/card-editor/hui-card-picker.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-pick-card.ts
  src/panels/lovelace/editor/card-editor/hui-edit-card.ts
  src/panels/lovelace/editor/hui-dialog-save-config.ts
  src/panels/lovelace/editor/lovelace-editor/hui-dialog-edit-lovelace.ts
  src/panels/lovelace/editor/view-editor/hui-edit-view.ts
Labels: cla-signed, in progress

#2518 Add themes to demos
  demo/src/configs/demo-configs.ts
  demo/src/configs/jimpower/entities.ts
  demo/src/configs/jimpower/index.ts
  demo/src/configs/jimpower/theme.ts
  demo/src/configs/kernehed/index.ts
  demo/src/configs/kernehed/theme.ts
  demo/src/configs/teachingbirds/index.ts
  demo/src/configs/teachingbirds/theme.ts
  demo/src/configs/types.ts
  demo/src/ha-demo.ts
  src/fake_data/demo_config.ts
  src/fake_data/provide_hass.ts
  src/types.ts
Labels: cla-signed, in progress

#2519 More tweaks
  demo/public/index.html
  demo/src/configs/demo-configs.ts
  demo/src/configs/kernehed/lovelace.ts
  demo/src/configs/teachingbirds/lovelace.ts
  demo/src/configs/teachingbirds/theme.ts
  demo/src/custom-cards/ha-demo-card.ts
  demo/src/ha-demo.ts
  src/fake_data/provide_hass.ts
  src/layouts/app/home-assistant.js
  src/layouts/partial-panel-resolver.js
  src/types.ts
Labels: cla-signed, in progress

#2526 Fix routing
  src/layouts/app/home-assistant.js
  src/layouts/home-assistant-main.js
Labels: cla-signed, in progress

#2527 20190121.0
  demo/public/assets/teachingbirds/plants.png
  demo/public/index.html
  demo/src/configs/demo-configs.ts
  demo/src/configs/kernehed/lovelace.ts
  demo/src/configs/teachingbirds/entities.ts
  demo/src/configs/teachingbirds/lovelace.ts
  demo/src/configs/teachingbirds/theme.ts
  demo/src/custom-cards/ha-demo-card.ts
  demo/src/ha-demo.ts
  setup.py
  src/fake_data/provide_hass.ts
  src/layouts/app/home-assistant.js
  src/layouts/home-assistant-main.js
  src/layouts/partial-panel-resolver.js
  src/layouts/partial-panel-resolver.ts
  src/panels/lovelace/ha-panel-lovelace.ts
  src/types.ts
  translations/uk.json
Labels: cla-signed, in progress

#2528 Fix panels with subpaths
  src/layouts/partial-panel-resolver.ts
Labels: cla-signed, in progress

#2529 More demo stubs
  demo/src/configs/jimpower/theme.ts
  demo/src/configs/teachingbirds/lovelace.ts
  demo/src/ha-demo.ts
  demo/src/stubs/events.ts
  demo/src/stubs/history.ts
  demo/src/stubs/system_log.ts
  demo/src/stubs/template.ts
  src/fake_data/demo_config.ts
  src/fake_data/entity.ts
  src/fake_data/provide_hass.ts
  src/panels/dev-template/ha-panel-dev-template.js
Labels: cla-signed, in progress

#2530 20190121.1
  demo/src/configs/jimpower/theme.ts
  demo/src/configs/teachingbirds/lovelace.ts
  demo/src/ha-demo.ts
  demo/src/stubs/events.ts
  demo/src/stubs/history.ts
  demo/src/stubs/system_log.ts
  demo/src/stubs/template.ts
  setup.py
  src/fake_data/demo_config.ts
  src/fake_data/entity.ts
  src/fake_data/provide_hass.ts
  src/layouts/partial-panel-resolver.ts
  src/panels/dev-template/ha-panel-dev-template.js
Labels: cla-signed, in progress

#2531 Add lit-html plugin to vs code recommendations
  .vscode/extensions.json
Labels: cla-signed, in progress

#2534 Add Arsaboo demo
  demo/public/assets/arsaboo/floorplans/ecobee_blank.png
  demo/public/assets/arsaboo/floorplans/main.png
  demo/public/assets/arsaboo/floorplans/second.png
  demo/public/assets/arsaboo/icons/Harmony.png
  demo/public/assets/arsaboo/icons/abode_disabled.png
  demo/public/assets/arsaboo/icons/abode_enabled.png
  demo/public/assets/arsaboo/icons/automation_disabled.png
  demo/public/assets/arsaboo/icons/automation_enabled.png
  demo/public/assets/arsaboo/icons/camera_backyard_recording.png
  demo/public/assets/arsaboo/icons/camera_backyard_streaming.png
  demo/public/assets/arsaboo/icons/camera_driveway_recording.png
  demo/public/assets/arsaboo/icons/camera_driveway_streaming.png
  demo/public/assets/arsaboo/icons/camera_patio_recording.png
  demo/public/assets/arsaboo/icons/camera_patio_streaming.png
  demo/public/assets/arsaboo/icons/camera_porch_recording.png
  demo/public/assets/arsaboo/icons/camera_porch_streaming.png
  demo/public/assets/arsaboo/icons/ecobee_blank.png
  demo/public/assets/arsaboo/icons/garage_door_closed.png
  demo/public/assets/arsaboo/icons/garage_door_open.png
  demo/public/assets/arsaboo/icons/light_bulb_off.png
  demo/public/assets/arsaboo/icons/light_bulb_on.png
  demo/public/assets/arsaboo/icons/light_off.png
  demo/public/assets/arsaboo/icons/light_on.png
  demo/public/assets/arsaboo/icons/security_armed_red.png
  demo/public/assets/arsaboo/icons/security_disarmed.png
  demo/public/assets/arsaboo/icons/tv_disabled.png
  demo/public/assets/arsaboo/icons/tv_enabled.png
  demo/public/assets/arsaboo/icons/tv_off2.png
  demo/public/assets/arsaboo/icons/tv_on2.png
  demo/src/configs/arsaboo/entities.ts
  demo/src/configs/arsaboo/index.ts
  demo/src/configs/arsaboo/lovelace.ts
  demo/src/configs/arsaboo/theme.ts
  demo/src/configs/demo-configs.ts
  demo/src/ha-demo.ts
  demo/src/stubs/media_player.ts
  src/cards/ha-media_player-card.js
  src/fake_data/entity.ts
  src/panels/lovelace/cards/hui-thermostat-card.ts
  src/panels/lovelace/components/hui-entities-toggle.ts
  src/panels/lovelace/hui-root.ts
Labels: cla-signed, in progress

#2535 Demo update
  .vscode/extensions.json
  demo/public/assets/arsaboo/floorplans/ecobee_blank.png
  demo/public/assets/arsaboo/floorplans/main.png
  demo/public/assets/arsaboo/floorplans/second.png
  demo/public/assets/arsaboo/icons/Harmony.png
  demo/public/assets/arsaboo/icons/abode_disabled.png
  demo/public/assets/arsaboo/icons/abode_enabled.png
  demo/public/assets/arsaboo/icons/automation_disabled.png
  demo/public/assets/arsaboo/icons/automation_enabled.png
  demo/public/assets/arsaboo/icons/camera_backyard_recording.png
  demo/public/assets/arsaboo/icons/camera_backyard_streaming.png
  demo/public/assets/arsaboo/icons/camera_driveway_recording.png
  demo/public/assets/arsaboo/icons/camera_driveway_streaming.png
  demo/public/assets/arsaboo/icons/camera_patio_recording.png
  demo/public/assets/arsaboo/icons/camera_patio_streaming.png
  demo/public/assets/arsaboo/icons/camera_porch_recording.png
  demo/public/assets/arsaboo/icons/camera_porch_streaming.png
  demo/public/assets/arsaboo/icons/ecobee_blank.png
  demo/public/assets/arsaboo/icons/garage_door_closed.png
  demo/public/assets/arsaboo/icons/garage_door_open.png
  demo/public/assets/arsaboo/icons/light_bulb_off.png
  demo/public/assets/arsaboo/icons/light_bulb_on.png
  demo/public/assets/arsaboo/icons/light_off.png
  demo/public/assets/arsaboo/icons/light_on.png
  demo/public/assets/arsaboo/icons/security_armed_red.png
  demo/public/assets/arsaboo/icons/security_disarmed.png
  demo/public/assets/arsaboo/icons/tv_disabled.png
  demo/public/assets/arsaboo/icons/tv_enabled.png
  demo/public/assets/arsaboo/icons/tv_off2.png
  demo/public/assets/arsaboo/icons/tv_on2.png
  demo/src/configs/arsaboo/entities.ts
  demo/src/configs/arsaboo/index.ts
  demo/src/configs/arsaboo/lovelace.ts
  demo/src/configs/arsaboo/theme.ts
  demo/src/configs/demo-configs.ts
  demo/src/configs/teachingbirds/lovelace.ts
  demo/src/ha-demo.ts
  demo/src/stubs/media_player.ts
  src/cards/ha-media_player-card.js
  src/fake_data/entity.ts
  src/panels/lovelace/cards/hui-thermostat-card.ts
  src/panels/lovelace/components/hui-entities-toggle.ts
  src/panels/lovelace/hui-root.ts
Labels: cla-signed, in progress

#2537 Update entities.ts
  demo/src/configs/kernehed/entities.ts
Labels: cla-signed, in progress

#2538 Add missing style
  src/panels/lovelace/cards/hui-thermostat-card.ts
Labels: cla-signed, in progress

#2542 Demo update
  demo/public/api/camera_proxy_stream/camera.backyard
  demo/public/api/camera_proxy_stream/camera.driveway
  demo/public/api/camera_proxy_stream/camera.patio
  demo/public/api/camera_proxy_stream/camera.porch
  demo/public/index.html
  demo/public/manifest.json
  demo/src/configs/arsaboo/lovelace.ts
  demo/src/configs/kernehed/entities.ts
  demo/src/entrypoint.ts
  demo/webpack.config.js
  src/panels/lovelace/cards/hui-thermostat-card.ts
  src/util/register-service-worker.js
  webpack.config.js
Labels: cla-signed, in progress

#2543 Fix camera images
  demo/public/api/camera_proxy_stream/camera.backyard
  demo/public/api/camera_proxy_stream/camera.driveway
  demo/public/api/camera_proxy_stream/camera.patio
  demo/public/api/camera_proxy_stream/camera.porch
Labels: cla-signed, in progress

#2545 Do not show new service worker toast
  src/util/register-service-worker.js
Labels: in progress

#2546 Update demo
  src/util/register-service-worker.js
Labels: cla-signed, in progress

#2547 Fix action editor
  demo/src/configs/arsaboo/lovelace.ts
  src/panels/lovelace/editor/config-elements/hui-entity-button-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-picture-card-editor.ts
Labels: in progress

#2548 Fix action editor (#2547)
  demo/src/configs/arsaboo/lovelace.ts
  src/panels/lovelace/editor/config-elements/hui-entity-button-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-picture-card-editor.ts
Labels: cla-signed, in progress

#2550 Correct patio cam
  demo/public/api/camera_proxy_stream/camera.patio
Labels: cla-signed, in progress

#2552 Demo fixess
  demo/public/index.html
  demo/public/manifest.json
  demo/webpack.config.js
  src/cards/ha-media_player-card.js
  src/html/index.html.template
Labels: cla-signed, in progress

#2553 Some more demo fixes
  demo/public/api/camera_proxy_stream/camera.patio
  demo/public/index.html
  demo/public/manifest.json
  demo/webpack.config.js
  src/cards/ha-media_player-card.js
  src/html/index.html.template
Labels: in progress

#2533 Make ZHA config panel use static get styles
  src/panels/config/zha/ha-config-zha.ts
  src/panels/config/zha/zha-cluster-attributes.ts
  src/panels/config/zha/zha-cluster-commands.ts
  src/panels/config/zha/zha-clusters.ts
  src/panels/config/zha/zha-entities.ts
  src/panels/config/zha/zha-network.ts
  src/panels/config/zha/zha-node.ts
Labels: cla-signed, in progress

#2556 Fixed typo: "unsafed" -> "unsaved"
  src/panels/lovelace/hui-editor.ts
Labels: cla-signed, in progress

#2551 Use columns in edit card on wide screens
  src/panels/lovelace/editor/card-editor/hui-edit-card.ts
Labels: cla-signed, in progress

#2555 Add group to domains that can be toggled
  src/common/const.ts
  src/panels/lovelace/entity-rows/hui-group-entity-row.ts
Labels: cla-signed, in progress

#2563 add history-graph to generated mode
  src/panels/lovelace/common/generate-lovelace-config.ts
Labels: cla-signed, in progress

#2564 Revert edit in group-entity-row
  src/panels/lovelace/entity-rows/hui-group-entity-row.ts
Labels: cla-signed, in progress

#2572 Update lit-element to rc5
  package.json
  yarn.lock
Labels: cla-signed, in progress

#2574 Update marked to 0.6.0
  package.json
  yarn.lock
Labels: cla-signed, in progress

#2573 Upgrade MDI/svg
  gulp/tasks/gen-icons.js
  src/common/entity/binary_sensor_icon.ts
  src/components/entity/ha-state-label-badge.ts
  src/fake_data/demo_panels.ts
  src/panels/lovelace/cards/hui-alarm-panel-card.ts
  yarn.lock
Labels: cla-signed, in progress

#2575 Upgrade build tools
  package.json
  yarn.lock
Labels: cla-signed, in progress

#2577 Generalize minifier
  config/.eslintrc.json
  config/minimizer.js
  demo/webpack.config.js
  gallery/webpack.config.js
  hassio/webpack.config.js
  webpack.config.js
Labels: cla-signed, in progress

#2583 Convert ha-init-page to lit/ts
  src/layouts/ha-init-page.js
  src/layouts/ha-init-page.ts
Labels: cla-signed, in progress

#2590 Improve "Full Log" button on Dev Info panel
  src/panels/dev-info/ha-panel-dev-info.js
Labels: cla-signed, in progress

#2580 Convert common dir to TS
  src/common/dom/apply_themes_on_element.ts
  src/common/dom/dynamic_content_updater.ts
  src/common/dom/load_resource.ts
  src/common/dom/scroll-to-target.ts
  src/common/dom/setup-leaflet-map.ts
  src/common/preact/event.ts
  src/common/preact/unmount.ts
  src/common/string/compare.ts
  src/common/util/debounce.ts
  src/panels/lovelace/hui-root.ts
  src/types.ts
Labels: cla-signed, in progress

#2586 Convert <home-assistant> to Lit/TS
  demo/src/ha-demo.ts
  src/common/dom/fire_event.ts
  src/common/navigate.ts
  src/components/ha-toast.ts
  src/layouts/app/auth-mixin.js
  src/layouts/app/connection-mixin.js
  src/layouts/app/dialog-manager-mixin.ts
  src/layouts/app/disconnect-toast-mixin.js
  src/layouts/app/disconnect-toast-mixin.ts
  src/layouts/app/hass-base-mixin.js
  src/layouts/app/hass-base-mixin.ts
  src/layouts/app/home-assistant.js
  src/layouts/app/home-assistant.ts
  src/layouts/app/more-info-mixin.js
  src/layouts/app/notification-mixin.js
  src/layouts/app/sidebar-mixin.js
  src/layouts/app/themes-mixin.js
  src/layouts/app/translations-mixin.js
  src/layouts/home-assistant-main.js
  src/util/register-service-worker.js
Labels: cla-signed, in progress

#2589 "skip" is confusing for a lot of users
  src/panels/lovelace/editor/card-editor/hui-dialog-pick-card.ts
Labels: cla-signed, in progress

#2595 Revert ""skip" is confusing for a lot of users (#2589)"
  src/panels/lovelace/editor/card-editor/hui-dialog-pick-card.ts
Labels: cla-signed, in progress

#2593 Simplify localize
  src/common/datetime/relative_time.ts
  src/common/entity/compute_state_display.ts
  src/common/translations/localize.ts
  src/components/entity/ha-state-label-badge.ts
  src/data/cached-history.ts
  src/data/history.ts
  src/fake_data/provide_hass.ts
  src/layouts/app/connection-mixin.js
  src/layouts/app/disconnect-toast-mixin.ts
  src/layouts/app/translations-mixin.ts
  src/mixins/lit-localize-lite-mixin.ts
  src/mixins/lit-localize-mixin.ts
  src/mixins/localize-base-mixin.ts
  src/mixins/localize-lite-base-mixin.ts
  src/mixins/localize-lite-mixin.ts
  src/mixins/localize-mixin.js
  src/panels/lovelace/common/generate-lovelace-config.ts
  src/types.ts
Labels: cla-signed, in progress

#2597 Remove Lit localize mixin
  src/auth/ha-authorize.ts
  src/layouts/app/disconnect-toast-mixin.ts
  src/mixins/lit-localize-mixin.ts
  src/panels/lovelace/cards/hui-alarm-panel-card.ts
  src/panels/lovelace/cards/hui-entities-card.ts
  src/panels/lovelace/cards/hui-entity-button-card.ts
  src/panels/lovelace/cards/hui-glance-card.ts
  src/panels/lovelace/cards/hui-light-card.ts
  src/panels/lovelace/cards/hui-picture-entity-card.ts
  src/panels/lovelace/cards/hui-picture-glance-card.ts
  src/panels/lovelace/cards/hui-shopping-list-card.ts
  src/panels/lovelace/cards/hui-thermostat-card.ts
  src/panels/lovelace/components/hui-card-options.ts
  src/panels/lovelace/components/hui-theme-select-editor.ts
  src/panels/lovelace/components/hui-timestamp-display.ts
  src/panels/lovelace/editor/card-editor/hui-card-picker.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-move-card-view.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-pick-card.ts
  src/panels/lovelace/editor/card-editor/hui-edit-card.ts
  src/panels/lovelace/editor/config-elements/hui-alarm-panel-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-entities-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-entity-button-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-gauge-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-glance-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-iframe-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-light-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-map-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-markdown-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-media-control-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-picture-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-plant-status-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-sensor-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-shopping-list-editor.ts
  src/panels/lovelace/editor/config-elements/hui-thermostat-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-weather-forecast-card-editor.ts
  src/panels/lovelace/editor/hui-dialog-save-config.ts
  src/panels/lovelace/editor/lovelace-editor/hui-dialog-edit-lovelace.ts
  src/panels/lovelace/editor/lovelace-editor/hui-lovelace-editor.ts
  src/panels/lovelace/editor/view-editor/hui-edit-view.ts
  src/panels/lovelace/editor/view-editor/hui-view-editor.ts
  src/panels/lovelace/elements/hui-icon-element.ts
  src/panels/lovelace/elements/hui-image-element.ts
  src/panels/lovelace/elements/hui-state-icon-element.ts
  src/panels/lovelace/elements/hui-state-label-element.ts
  src/panels/lovelace/entity-rows/hui-group-entity-row.ts
  src/panels/lovelace/entity-rows/hui-lock-entity-row.ts
  src/panels/lovelace/entity-rows/hui-media-player-entity-row.ts
  src/panels/lovelace/entity-rows/hui-scene-entity-row.ts
  src/panels/lovelace/entity-rows/hui-script-entity-row.ts
  src/panels/lovelace/entity-rows/hui-sensor-entity-row.ts
  src/panels/lovelace/entity-rows/hui-text-entity-row.ts
  src/panels/lovelace/entity-rows/hui-toggle-entity-row.ts
  src/panels/lovelace/ha-panel-lovelace.ts
  src/panels/lovelace/hui-editor.ts
  src/panels/lovelace/hui-root.ts
  src/panels/lovelace/hui-view.ts
Labels: cla-signed, in progress

#2599 Fix demo routing
  demo/webpack.config.js
  src/layouts/app/home-assistant.ts
Labels: cla-signed, in progress

#2584 RTL fix for obstructed notification drawer
  src/panels/lovelace/components/notifications/hui-notification-drawer.js
Labels: cla-signed, in progress

#2608 Fix Google Assistant skill link
  src/panels/config/cloud/cloud-google-pref.ts
Labels: cla-signed, in progress

#2613 Fix localize lite mixin types
  src/auth/ha-authorize.ts
  src/mixins/lit-localize-lite-mixin.ts
Labels: cla-signed, in progress

#2616 Add help text for ZHA reconfigure node
  src/panels/config/zha/zha-node.ts
  src/translations/en.json
Labels: cla-signed, in progress

#2612 Fix entity names in notification
  src/layouts/app/connection-mixin.js
Labels: cla-signed, in progress

#2560 html5 notifications add VAPID support
  src/components/ha-push-notifications-toggle.js
  src/data/notify_html5.ts
Labels: cla-signed, in progress

#2624 Refactor dev-info page
  src/data/error_log.ts
  src/data/system_log.ts
  src/panels/dev-info/dialog-system-log-detail.ts
  src/panels/dev-info/error-log-card.ts
  src/panels/dev-info/ha-loaded-components.js
  src/panels/dev-info/ha-panel-dev-info.js
  src/panels/dev-info/ha-panel-dev-info.ts
  src/panels/dev-info/show-dialog-system-log-detail.ts
  src/panels/dev-info/system-log-card.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-move-card-view.ts
  src/polymer-types.ts
Labels: cla-signed, in progress

#2633 Fix thermostat with radius 0
  src/panels/lovelace/cards/hui-thermostat-card.ts
Labels: cla-signed, in progress

#2610 Move views
  src/panels/lovelace/editor/config-util.ts
  src/panels/lovelace/hui-root.ts
  test-mocha/panels/lovelace/editor/config-util.spec.ts
Labels: cla-signed, in progress

#2617 Support for geolocation trigger
  src/panels/config/js/trigger/geo_location.js
  src/panels/config/js/trigger/trigger_edit.js
  src/translations/en.json
  translations/en.json
Labels: cla-signed, in progress

#2622 Fix weird spaces in jimpowers demo
  demo/src/custom-cards/card-modder.js
Labels: cla-signed, in progress

#2600 more-info icon for light-card
  src/panels/lovelace/cards/hui-light-card.ts
Labels: cla-signed, in progress

#2634 Fix icon view demo jimpower
  demo/src/configs/jimpower/lovelace.ts
Labels: cla-signed, in progress

#2626 Add system health card
  src/data/system_health.ts
  src/panels/dev-info/ha-panel-dev-info.ts
  src/panels/dev-info/system-health-card.ts
  src/translations/en.json
Labels: cla-signed, in progress

#2598 more-info for thermostat-card
  src/panels/lovelace/cards/hui-thermostat-card.ts
Labels: cla-signed, in progress

#2623 Use demo icons instead of mdi
  .gitignore
  demo/script/build_demo
  demo/script/develop_demo
  demo/script/gen-icons.js
  demo/src/configs/arsaboo/entities.ts
  demo/src/configs/arsaboo/lovelace.ts
  demo/src/entrypoint.ts
  demo/src/resources/hademo-icons.js
Labels: cla-signed, in progress

#2630 Allow editting entity registry
  src/data/entity_registry.ts
  src/dialogs/more-info/more-info-settings.js
  src/layouts/app/dialog-manager-mixin.ts
  src/panels/config/config-entries/ha-ce-entities-card.js
  src/panels/config/dashboard/ha-config-navigation.js
  src/panels/config/entity_registry/dialog-entity-registry-detail.ts
  src/panels/config/entity_registry/ha-config-entity-registry.ts
  src/panels/config/entity_registry/show-dialog-entity-registry-detail.ts
  src/panels/config/ha-panel-config.js
  src/translations/en.json
Labels: cla-signed, in progress

#2609 Add code editor to YAML editor
  package.json
  src/panels/lovelace/components/hui-yaml-editor.ts
  src/panels/lovelace/editor/card-editor/hui-edit-card.ts
  src/panels/lovelace/editor/card-editor/hui-yaml-editor.ts
  src/panels/lovelace/editor/yaml-ext-schema.ts
  src/panels/lovelace/hui-editor.ts
  yarn.lock
Labels: cla-signed, in progress

#2636 Convert generic row to LitElement/TS
  src/panels/lovelace/components/hui-generic-entity-row.js
  src/panels/lovelace/components/hui-generic-entity-row.ts
Labels: cla-signed, in progress

#2637 Add an empty state card
  src/panels/lovelace/cards/hui-empty-state-card.ts
  src/panels/lovelace/common/generate-lovelace-config.ts
  src/translations/en.json
Labels: cla-signed, in progress

#2631 Add Area registry page
  src/data/area_registry.ts
  src/data/device_registry.ts
  src/panels/config/area_registry/dialog-area-registry-detail.ts
  src/panels/config/area_registry/ha-config-area-registry.ts
  src/panels/config/area_registry/show-dialog-area-registry-detail.ts
  src/panels/config/config-entries/ha-config-entries.js
  src/panels/config/config-entries/ha-config-entry-page.js
  src/panels/config/config-entries/ha-device-card.js
  src/panels/config/dashboard/ha-config-navigation.js
  src/panels/config/ha-panel-config.js
  src/translations/en.json
Labels: cla-signed, in progress

#2628 panel toggle for view UI Editor
  src/panels/lovelace/editor/view-editor/hui-view-editor.ts
Labels: cla-signed, in progress

#2639 Convert ha-entity-toggle to Lit/TS
  src/components/entity/ha-entity-toggle.js
  src/components/entity/ha-entity-toggle.ts
Labels: cla-signed, in progress

#2638 Convert entity filter to TS
  src/panels/lovelace/cards/hui-entity-filter-card.js
  src/panels/lovelace/cards/hui-entity-filter-card.ts
  src/panels/lovelace/types.ts
Labels: cla-signed, in progress

#2570 Force LTR on configuration validation message so errors are readable also in RTL langauges
  src/panels/config/core/ha-config-section-core.js
Labels: cla-signed, in progress

#2641 Minify images Arsaboo
  demo/public/assets/arsaboo/icons/camera_backyard_recording.png
  demo/public/assets/arsaboo/icons/camera_backyard_streaming.png
  demo/public/assets/arsaboo/icons/camera_driveway_recording.png
  demo/public/assets/arsaboo/icons/camera_driveway_streaming.png
  demo/public/assets/arsaboo/icons/camera_patio_recording.png
  demo/public/assets/arsaboo/icons/camera_porch_recording.png
  demo/public/assets/arsaboo/icons/camera_porch_streaming.png
  demo/public/assets/arsaboo/icons/ecobee_blank.png
  demo/public/assets/arsaboo/icons/garage_door_closed.png
  demo/public/assets/arsaboo/icons/garage_door_open.png
  demo/public/assets/arsaboo/icons/light_bulb_off.png
  demo/public/assets/arsaboo/icons/light_bulb_on.png
Labels: cla-signed, in progress
