Repository home-assistant/frontend, pull requests merged in 2019-04, with the labels that each got.

#3042 Reset camera prefs
  src/dialogs/more-info/controls/more-info-camera.ts
Labels: cla-signed, in progress

#3043 Edit card fixes
  src/panels/lovelace/editor/card-editor/hui-card-preview.ts
  src/panels/lovelace/editor/card-editor/hui-edit-card.ts
  src/resources/styles.ts
Labels: cla-signed, in progress

#3048 Add targeted joins to ZHA config panel
  src/data/zha.ts
  src/panels/config/zha/zha-add-devices-page.ts
  src/panels/config/zha/zha-device-card.ts
Labels: cla-signed, in progress

#3039 Simplify hass subpage
  src/layouts/hass-subpage.ts
Labels: cla-signed, in progress

#3040 Don't import Polymer Legacy directly.
  src/dialogs/more-info/controls/more-info-input_datetime.js
  src/resources/ha-style.ts
Labels: cla-signed, in progress

#3049 Increase ZHA add device subscription time
  src/panels/config/zha/zha-add-devices-page.ts
Labels: cla-signed, in progress

#3047 RTL fix for drop downs
  src/components/ha-paper-dropdown-menu.ts
  src/dialogs/more-info/controls/more-info-climate.js
  src/dialogs/more-info/controls/more-info-fan.js
  src/dialogs/more-info/controls/more-info-light.js
  src/dialogs/more-info/controls/more-info-media_player.js
  src/dialogs/more-info/controls/more-info-vacuum.js
  src/dialogs/more-info/controls/more-info-water_heater.js
  src/panels/lovelace/entity-rows/hui-input-select-entity-row.ts
  src/panels/profile/ha-pick-language-row.js
  src/panels/profile/ha-pick-theme-row.js
Labels: cla-signed, in progress

#3038 Upgrade deps
  gulp/tasks/gen-icons.js
  gulp/tasks/translations.js
  package.json
  src/common/util/time-cache-function-promise.ts
  src/html/authorize.html.template
  src/html/index.html.template
  src/html/onboarding.html.template
  src/panels/lovelace/components/hui-yaml-editor.ts
  src/panels/lovelace/hui-root.ts
  test-mocha/common/entity/entity_filter.ts
  tsconfig.json
  yarn.lock
Labels: cla-signed, in progress

#3050 Fix arsaboo demo unit
  demo/src/configs/arsaboo/entities.ts
Labels: cla-signed, in progress

#3053 Upgrade workbox to v4
  demo/webpack.config.js
  package.json
  src/entrypoints/app.ts
  src/entrypoints/authorize.ts
  src/entrypoints/compatibility.ts
  src/entrypoints/hass-icons.ts
  src/entrypoints/service-worker-hass.js
  src/util/show-new-frontend-toast.js
  webpack.config.js
  yarn.lock
Labels: cla-signed, in progress

#3057 Add device_class_power to sensor
  src/common/entity/sensor_icon.ts
  src/util/hass-attributes-util.js
Labels: cla-signed, in progress

#3056 Remove unnecessary resolutions
  package.json
  yarn.lock
Labels: cla-signed, in progress

#3055 Converted paper-dialog to ha-paper-dialog
  hassio/src/hassio-markdown-dialog.js
  hassio/src/snapshots/hassio-snapshot.js
  src/components/dialog/ha-iron-focusables-helper.js
  src/components/dialog/ha-paper-dialog.ts
  src/dialogs/config-flow/dialog-config-flow.ts
  src/dialogs/config-flow/step-flow-abort.ts
  src/dialogs/config-flow/step-flow-create-entry.ts
  src/panels/config/area_registry/dialog-area-registry-detail.ts
  src/panels/config/cloud/cloud-webhook-manage-dialog.ts
  src/panels/config/cloud/dialog-cloud-certificate.ts
  src/panels/config/entity_registry/dialog-entity-registry-detail.ts
  src/panels/config/person/dialog-person-detail.ts
  src/panels/config/users/ha-dialog-add-user.js
  src/panels/config/zwave/zwave-log-dialog.js
  src/panels/config/zwave/zwave-log.js
  src/panels/dev-info/dialog-system-log-detail.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-move-card-view.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-pick-card.ts
  src/panels/lovelace/editor/card-editor/hui-edit-card.ts
  src/panels/lovelace/editor/hui-dialog-save-config.ts
  src/panels/lovelace/editor/lovelace-editor/hui-dialog-edit-lovelace.ts
  src/panels/lovelace/editor/view-editor/hui-edit-view.ts
  src/panels/mailbox/ha-dialog-show-audio-message.js
  src/panels/profile/ha-mfa-module-setup-flow.js
Labels: cla-signed, in progress

#3058 Add device_class_signal_strength to sensor
  src/common/entity/sensor_icon.ts
  src/util/hass-attributes-util.js
Labels: cla-signed, in progress

#3062 Add hassio ingress support
  hassio/src/addon-view/hassio-addon-info.js
  hassio/src/entrypoint.js
  hassio/src/hassio-main.js
  hassio/src/ingress-view/hassio-ingress-view.ts
  src/components/ha-paper-icon-button-arrow-prev.ts
  src/data/hassio.ts
  src/layouts/hass-subpage.ts
Labels: cla-signed, in progress

#3067 Clean up hassio panel
  hassio/src/addon-view/hassio-addon-info.js
  hassio/src/addon-view/hassio-addon-view.js
  hassio/src/dialogs/markdown/dialog-hassio-markdown.ts
  hassio/src/dialogs/markdown/show-dialog-hassio-markdown.ts
  hassio/src/dialogs/snapshot/dialog-hassio-snapshot.ts
  hassio/src/dialogs/snapshot/show-dialog-hassio-snapshot.ts
  hassio/src/entrypoint.js
  hassio/src/hassio-data.js
  hassio/src/hassio-main.js
  hassio/src/hassio-main.ts
  hassio/src/hassio-pages-with-tabs.js
  hassio/src/ingress-view/hassio-ingress-view.ts
  hassio/src/snapshots/hassio-snapshots.js
  hassio/src/system/hassio-host-info.js
  src/data/hassio.ts
  src/dialogs/make-dialog-manager.ts
  src/layouts/app/dialog-manager-mixin.ts
  src/layouts/app/hass-base-mixin.ts
  src/layouts/hass-router-page.ts
  src/layouts/partial-panel-resolver.ts
  src/mixins/provide-hass-lit-mixin.ts
Labels: cla-signed, in progress

#3068 Clean up hassio tabs page
  hassio/src/hassio-main.ts
  hassio/src/hassio-pages-with-tabs.js
  hassio/src/hassio-pages-with-tabs.ts
  hassio/src/hassio-tabs-router.ts
  hassio/src/snapshots/hassio-snapshots.js
  src/layouts/hass-router-page.ts
Labels: cla-signed, in progress

#3066 fix showing edit entity icon in more info dialog
  src/dialogs/ha-more-info-dialog.js
  src/dialogs/more-info/more-info-settings.js
Labels: cla-signed, in progress

#3069 Fix paper-icon-button fail
  hassio/src/hassio-main.ts
  hassio/src/ingress-view/hassio-ingress-view.ts
  yarn.lock
Labels: cla-signed, in progress

#3074 Hass.io: Clean up even more
  gulp/tasks/gen-icons.js
  hassio/script/gen-icons.js
  hassio/src/addon-store/hassio-addon-repository.js
  hassio/src/addon-store/hassio-addon-repository.ts
  hassio/src/addon-store/hassio-addon-store.js
  hassio/src/addon-store/hassio-addon-store.ts
  hassio/src/addon-store/hassio-repositories-editor.js
  hassio/src/addon-store/hassio-repositories-editor.ts
  hassio/src/addon-view/hassio-addon-info.js
  hassio/src/addon-view/hassio-addon-view.js
  hassio/src/components/hassio-card-content.js
  hassio/src/components/hassio-card-content.ts
  hassio/src/dashboard/hassio-dashboard.js
  hassio/src/dashboard/hassio-dashboard.ts
  hassio/src/hassio-main.ts
  hassio/src/hassio-pages-with-tabs.ts
  hassio/src/hassio-tabs-router.ts
  hassio/src/ingress-view/hassio-ingress-view.ts
  hassio/src/resources/hassio-style.js
  hassio/src/system/hassio-host-info.js
  hassio/src/system/hassio-supervisor-info.js
  hassio/src/system/hassio-system.js
  src/data/hassio.ts
  src/layouts/hass-router-page.ts
  src/layouts/loading-screen.ts
Labels: cla-signed, in progress

#3075 Revert tsconfig change
  package.json
  src/panels/lovelace/components/hui-yaml-editor.ts
  test-mocha/common/entity/entity_filter.ts
  tsconfig.json
  yarn.lock
Labels: cla-signed, in progress

#3078 Hass.io snapshots -> Lit
  hassio/src/ingress-view/hassio-ingress-view.ts
  hassio/src/snapshots/hassio-snapshots.js
  hassio/src/snapshots/hassio-snapshots.ts
  hassio/webpack.config.js
  src/data/hassio.ts
  src/polymer-types.ts
Labels: cla-signed, in progress

#3079 Add description support to UI
  hassio/src/addon-view/hassio-addon-network.js
Labels: cla-signed, in progress

#3072 Fix sorting and use user given name if available in ZHA config panel
  src/panels/config/zha/functions.ts
  src/panels/config/zha/ha-config-zha.ts
  src/panels/config/zha/zha-binding.ts
  src/panels/config/zha/zha-node.ts
Labels: cla-signed, in progress

#3032 🕶 convert hui-persisten-notification-item to TypeScript/LitElement
  src/panels/lovelace/components/notifications/hui-configurator-notification-item.ts
  src/panels/lovelace/components/notifications/hui-notification-item.ts
  src/panels/lovelace/components/notifications/hui-persistent-notification-item.js
  src/panels/lovelace/components/notifications/hui-persistent-notification-item.ts
  src/panels/lovelace/components/notifications/types.ts
Labels: cla-signed, in progress

#3085 Support ingress custom panels
  hassio/src/addon-view/hassio-addon-network.js
  hassio/src/hassio-main.ts
  src/components/ha-sidebar.ts
  src/data/hassio.ts
  src/data/panel_custom.ts
  src/entrypoints/custom-panel.ts
  src/panels/custom/ha-panel-custom.ts
  src/types.ts
Labels: cla-signed, in progress

#3059 Added padding definition for type game
  src/cards/ha-media_player-card.js
Labels: cla-signed, in progress

#3094 addon -> add-on
  hassio/src/addon-view/hassio-addon-info.js
Labels: cla-signed, in progress

#3086 Add Stream Element
  src/components/ha-camera-stream.ts
  src/dialogs/more-info/controls/more-info-camera.ts
  src/panels/lovelace/cards/hui-picture-elements-card.ts
  src/panels/lovelace/cards/hui-picture-entity-card.ts
  src/panels/lovelace/cards/hui-picture-glance-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/components/hui-image.ts
Labels: Documentation-Needed, cla-signed, in progress

#3090 Match list of classes for cover to backend
  src/util/hass-attributes-util.js
Labels: cla-signed, in progress

#3087 Update user-agents to 2.0.0
  setup.py
Labels: cla-signed, in progress

#3098 20190417.0
  hassio/src/addon-view/hassio-addon-info.js
  hassio/src/addon-view/hassio-addon-network.js
  hassio/src/components/hassio-card-content.ts
  hassio/src/dashboard/hassio-hass-update.js
  hassio/src/hassio-main.ts
  setup.py
  src/cards/ha-media_player-card.js
  src/components/ha-camera-stream.ts
  src/components/ha-sidebar.ts
  src/data/hassio.ts
  src/data/panel_custom.ts
  src/dialogs/more-info/controls/more-info-camera.ts
  src/entrypoints/custom-panel.ts
  src/panels/custom/ha-panel-custom.ts
  src/panels/lovelace/cards/hui-picture-elements-card.ts
  src/panels/lovelace/cards/hui-picture-entity-card.ts
  src/panels/lovelace/cards/hui-picture-glance-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/components/hui-image.ts
  src/types.ts
  src/util/hass-attributes-util.js
  translations/af.json
  translations/ca.json
  translations/de.json
  translations/el.json
  translations/en.json
  translations/es-419.json
  translations/es.json
  translations/it.json
  translations/ja.json
  translations/ko.json
  translations/lb.json
  translations/nb.json
  translations/nl.json
  translations/pl.json
  translations/ru.json
  translations/zh-Hant.json
Labels: cla-signed, in progress

#3096 Add device_class for switches
  src/util/hass-attributes-util.js
Labels: cla-signed, in progress

#3100 Ask users if they want to install iOS app
  src/html/index.html.template
Labels: cla-signed, in progress

#3101 Add support for secure devices pin
  src/data/cloud.ts
  src/panels/config/cloud/cloud-google-pref.ts
Labels: cla-signed, in progress

#3102 Regenerate LL when attached
  src/panels/lovelace/ha-panel-lovelace.ts
Labels: cla-signed

#3104 20190419.0
  setup.py
  src/data/cloud.ts
  src/html/index.html.template
  src/panels/config/cloud/cloud-google-pref.ts
  src/panels/lovelace/ha-panel-lovelace.ts
  src/util/hass-attributes-util.js
  translations/af.json
  translations/es.json
  translations/pl.json
  translations/sl.json
Labels: cla-signed, in progress

#3106 Allow 'Discovered' flows to have title placeholders
  src/panels/config/integrations/ha-config-entries-dashboard.js
Labels: cla-signed, in progress

#3099 Initial haptics support
  src/components/entity/ha-entity-toggle.ts
  src/layouts/app/connection-mixin.js
  src/panels/lovelace/components/hui-entities-toggle.ts
  src/panels/lovelace/entity-rows/hui-input-select-entity-row.ts
  src/util/haptics.ts
Labels: cla-signed, in progress

#3113 Hass.io: Support automated panel integration
  hassio/src/addon-view/hassio-addon-info.js
Labels: cla-signed, in progress

#3112 Add external app message bus
  src/components/ha-sidebar.ts
  src/entrypoints/core.ts
  src/external_app/external_auth.ts
  src/external_app/external_config.ts
  src/external_app/external_messaging.ts
  src/types.ts
  test-mocha/external_app/external_messaging.spec.ts
  translations/en.json
Labels: cla-signed, in progress

#3114 Hass.io update labels
  hassio/src/addon-view/hassio-addon-info.js
Labels: cla-signed, in progress

#3117 Add connection events to bus
  src/external_app/external_events_forwarder.ts
  src/external_app/external_messaging.ts
  src/layouts/app/connection-mixin.js
  src/types.ts
Labels: cla-signed, in progress

#3116 Forward haptic events to external apps
  src/external_app/external_events_forwarder.ts
  src/external_app/external_messaging.ts
  src/util/haptics.ts
Labels: cla-signed, in progress

#3119 20190424.0
  hassio/src/addon-view/hassio-addon-info.js
  setup.py
  src/components/entity/ha-entity-toggle.ts
  src/components/ha-sidebar.ts
  src/entrypoints/core.ts
  src/external_app/external_auth.ts
  src/external_app/external_config.ts
  src/external_app/external_events_forwarder.ts
  src/external_app/external_messaging.ts
  src/layouts/app/connection-mixin.js
  src/panels/config/integrations/ha-config-entries-dashboard.js
  src/panels/lovelace/components/hui-entities-toggle.ts
  src/panels/lovelace/entity-rows/hui-input-select-entity-row.ts
  src/types.ts
  src/util/haptics.ts
  test-mocha/external_app/external_messaging.spec.ts
  translations/ca.json
  translations/cs.json
  translations/el.json
  translations/is.json
  translations/pl.json
  translations/sv.json
Labels: in progress

#3110 Move picking new integration into dialog
  src/data/config_entries.ts
  src/dialogs/config-flow/dialog-config-flow.ts
  src/dialogs/config-flow/show-dialog-config-flow.ts
  src/dialogs/config-flow/step-flow-form.ts
  src/dialogs/config-flow/step-flow-pick-handler.ts
  src/panels/config/integrations/ha-config-entries-dashboard.js
Labels: cla-signed, in progress

#3120 Don't proxy external accessible covers
  src/cards/ha-media_player-card.js
Labels: cla-signed, in progress

#3121 Basic input-datetime entity row
  src/components/ha-date-input.ts
  src/components/paper-time-input.js
  src/data/input_datetime.ts
  src/panels/lovelace/common/create-row-element.ts
  src/panels/lovelace/entity-rows/hui-input-datetime-entity-row.ts
Labels: cla-signed, in progress

#3131 Conditionally attach external message bus
  src/entrypoints/core.ts
  src/external_app/external_auth.ts
Labels: cla-signed, in progress

#3122 Allow changing state-icon element icon
  src/panels/lovelace/elements/hui-state-icon-element.ts
  src/panels/lovelace/elements/types.ts
Labels: cla-signed, in progress

#3111 Tooltip picture elements
  src/panels/lovelace/common/compute-tooltip.ts
  src/translations/en.json
Labels: cla-signed, in progress

#3132 Fix input select more info
  src/common/dom/stop_propagation.ts
  src/data/input-select.ts
  src/panels/lovelace/entity-rows/hui-input-select-entity-row.ts
  src/polymer-types.ts
  src/state-summary/state-card-input_select.js
  src/state-summary/state-card-input_select.ts
  src/types.ts
Labels: cla-signed, in progress

#3124 Disable the show in sidebar toggle when HA < 0.92
  hassio/src/addon-view/hassio-addon-info.js
Labels: cla-signed, in progress

#3134 20190427.0
  hassio/src/addon-view/hassio-addon-info.js
  setup.py
  src/cards/ha-media_player-card.js
  src/common/dom/stop_propagation.ts
  src/components/ha-date-input.ts
  src/components/paper-time-input.js
  src/data/config_entries.ts
  src/data/input-select.ts
  src/data/input_datetime.ts
  src/dialogs/config-flow/dialog-config-flow.ts
  src/dialogs/config-flow/show-dialog-config-flow.ts
  src/dialogs/config-flow/step-flow-form.ts
  src/dialogs/config-flow/step-flow-pick-handler.ts
  src/entrypoints/core.ts
  src/external_app/external_auth.ts
  src/panels/config/integrations/ha-config-entries-dashboard.js
  src/panels/lovelace/common/compute-tooltip.ts
  src/panels/lovelace/common/create-row-element.ts
  src/panels/lovelace/elements/hui-state-icon-element.ts
  src/panels/lovelace/elements/types.ts
  src/panels/lovelace/entity-rows/hui-input-datetime-entity-row.ts
  src/panels/lovelace/entity-rows/hui-input-select-entity-row.ts
  src/polymer-types.ts
  src/state-summary/state-card-input_select.js
  src/state-summary/state-card-input_select.ts
  src/translations/en.json
  src/types.ts
  translations/cy.json
  translations/el.json
  translations/hu.json
  translations/is.json
Labels: cla-signed, in progress

#3138 Use signed path for camera snapshot
  hassio/src/dialogs/snapshot/dialog-hassio-snapshot.ts
  src/auth/data.ts
  src/auth/types.ts
  src/cards/ha-camera-card.js
  src/data/auth.ts
  src/data/camera.ts
  src/panels/lovelace/components/hui-image.ts
Labels: cla-signed, in progress

#3127 Use named slots to have advanced ha-card headers
  src/components/ha-card.ts
  src/panels/lovelace/cards/hui-entities-card.ts
Labels: cla-signed, in progress

#3136 Switch source selection to same logic as SoundMode
  src/dialogs/more-info/controls/more-info-media_player.js
Labels: cla-signed, in progress

#3141 Use Node 12
  .nvmrc
  test-mocha/common/datetime/format_date.ts
  test-mocha/common/datetime/format_date_time.ts
  test-mocha/common/datetime/format_time.ts
  yarn.lock
Labels: cla-signed, in progress
