Repository home-assistant/frontend, pull requests merged in 2020-08, with the labels that each got.

#6491 Add UI for new script functions
  src/data/script.ts
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/action/types/ha-automation-action-choose.ts
  src/panels/config/automation/action/types/ha-automation-action-repeat.ts
  src/panels/config/integrations/ha-integration-card.ts
  src/resources/styles.ts
  src/translations/en.json
Labels: cla-signed

#6505 Replace createValidEntityId with slugify
  src/common/entity/valid_entity_id.ts
  src/common/string/slugify.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/config/integrations/integration-panels/zha/zha-device-card.ts
  src/panels/config/lovelace/dashboards/dialog-lovelace-dashboard-detail.ts
  src/panels/config/script/ha-script-editor.ts
  src/panels/lovelace/editor/view-editor/hui-view-editor.ts
Labels: cla-signed

#6430 Introduce dark mode and primary color picker
  hassio/src/hassio-main.ts
  package.json
  src/common/color/convert-color.ts
  src/common/color/lab.ts
  src/common/color/rgb.ts
  src/common/dom/apply_themes_on_element.ts
  src/common/dom/setup-leaflet-map.ts
  src/components/data-table/ha-data-table.ts
  src/components/date-range-picker.ts
  src/components/ha-card.ts
  src/components/ha-dialog.ts
  src/components/ha-markdown-element.ts
  src/components/ha-radio.ts
  src/components/ha-sidebar.ts
  src/components/map/ha-location-editor.ts
  src/components/map/ha-locations-editor.ts
  src/components/map/ha-map.ts
  src/components/user/ha-user-badge.ts
  src/dialogs/more-info/ha-more-info-dialog.ts
  src/dialogs/voice-command-dialog/ha-voice-command-dialog.ts
  src/fake_data/provide_hass.ts
  src/html/index.html.template
  src/onboarding/onboarding-core-config.ts
  src/panels/calendar/ha-full-calendar.ts
  src/panels/config/core/ha-config-core-form.ts
  src/panels/config/entities/dialog-entity-editor.ts
  src/panels/config/zone/dialog-zone-detail.ts
  src/panels/config/zone/ha-config-zone.ts
  src/panels/lovelace/cards/hui-map-card.ts
  src/panels/lovelace/components/hui-card-options.ts
  src/panels/lovelace/special-rows/hui-divider-row.ts
  src/panels/lovelace/special-rows/hui-section-row.ts
  src/panels/map/ha-panel-map.js
  src/panels/profile/ha-pick-theme-row.js
  src/panels/profile/ha-pick-theme-row.ts
  src/resources/codemirror.ts
  src/resources/ha-style.ts
  src/resources/markdown_worker.ts
  src/resources/styles.ts
  src/state/themes-mixin.ts
  src/translations/en.json
  src/types.ts
  src/util/ha-pref-storage.ts
  tsconfig.json
  yarn.lock
Labels: cla-signed

#6479 Move view edit dialog to mwc
  src/panels/config/zone/dialog-zone-detail.ts
  src/panels/lovelace/components/hui-entity-editor.ts
  src/panels/lovelace/editor/view-editor/hui-dialog-edit-view.ts
Labels: cla-signed

#6490 Update lint rules
  .eslintrc.json
  src/common/entity/battery_icon.ts
  src/common/entity/supports-feature.ts
  src/components/buttons/ha-call-service-button.js
  src/components/buttons/ha-progress-button.js
  src/components/dialog/ha-iron-focusables-helper.js
  src/components/ha-color-picker.js
  src/components/ha-cover-controls.js
  src/components/ha-cover-tilt-controls.js
  src/components/ha-service-description.js
  src/components/paper-time-input.js
  src/dialogs/more-info/controls/more-info-configurator.js
  src/dialogs/more-info/controls/more-info-cover.js
  src/dialogs/more-info/controls/more-info-fan.js
  src/dialogs/more-info/controls/more-info-group.js
  src/dialogs/more-info/controls/more-info-input_datetime.js
  src/dialogs/more-info/controls/more-info-light.js
  src/dialogs/more-info/controls/more-info-media_player.js
  src/dialogs/more-info/controls/more-info-water_heater.js
  src/entrypoints/service_worker.ts
  src/panels/config/ha-entity-config.js
  src/panels/developer-tools/state/developer-tools-state.js
  src/panels/map/ha-panel-map.js
  src/state-summary/state-card-cover.js
  src/util/hass-media-player-model.js
Labels: cla-signed

#6507 Add identifiers to DeviceRegistryEntry
  src/data/device_registry.ts
Labels: cla-signed

#6478 Allow to select a different dashboard when adding entities / moving cards
  cast/src/receiver/layout/hc-lovelace.ts
  cast/src/receiver/layout/hc-main.ts
  src/panels/lovelace/components/hui-card-options.ts
  src/panels/lovelace/components/hui-views-list.ts
  src/panels/lovelace/editor/add-entities-to-view.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-move-card-view.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-suggest-card.ts
  src/panels/lovelace/editor/card-editor/show-move-card-view-dialog.ts
  src/panels/lovelace/editor/card-editor/show-suggest-card-dialog.ts
  src/panels/lovelace/editor/select-view/hui-dialog-select-view.ts
  src/panels/lovelace/editor/select-view/show-select-view-dialog.ts
  src/panels/lovelace/editor/unused-entities/hui-unused-entities.ts
  src/panels/lovelace/ha-panel-lovelace.ts
  src/panels/lovelace/types.ts
  src/translations/en.json
Labels: cla-signed

#6492 Fix gauge when safari is zoomed
  src/components/ha-gauge.ts
  src/panels/lovelace/hui-root.ts
Labels: cla-signed

#6508 Add Z-Wave device info to OZW device pages
  src/data/ozw.ts
  src/panels/config/devices/device-detail/integration-elements/ozw/ha-device-info-ozw.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/translations/en.json
Labels: cla-signed

#6513 Punycode client id on auth page
  package.json
  src/auth/ha-authorize.ts
  yarn.lock
Labels: cla-signed

#6512 Fix location editor in onboarding
  src/components/map/ha-location-editor.ts
Labels: cla-signed

#6511 Close entity registry dialog when navigation away
  src/components/ha-related-items.ts
  src/panels/config/entities/entity-registry-settings.ts
Labels: cla-signed

#6517 Bump mwc to 0.18
  package.json
  src/panels/lovelace/editor/config-elements/hui-markdown-card-editor.ts
  yarn.lock
Labels: cla-signed

#6523 Fix alignment in integration badge during onboarding
  src/onboarding/integration-badge.ts
Labels: cla-signed

#6524 20200805.0
  package.json
  setup.py
  src/auth/ha-authorize.ts
  src/components/ha-related-items.ts
  src/components/map/ha-location-editor.ts
  src/data/ozw.ts
  src/onboarding/integration-badge.ts
  src/panels/config/devices/device-detail/integration-elements/ozw/ha-device-info-ozw.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/config/entities/entity-registry-settings.ts
  src/panels/lovelace/editor/config-elements/hui-markdown-card-editor.ts
  src/translations/en.json
  translations/frontend/cs.json
  translations/frontend/da.json
  translations/frontend/en.json
  translations/frontend/es.json
  translations/frontend/fr.json
  translations/frontend/it.json
  translations/frontend/nb.json
  translations/frontend/pl.json
  translations/frontend/ru.json
  translations/frontend/sv.json
  translations/frontend/zh-Hans.json
  yarn.lock
Labels: cla-signed

#6541 Remove !important from h2
  src/components/ha-markdown.ts
Labels: cla-signed

#6521 Fix theme loading on earlier versions
  hassio/src/hassio-main.ts
Labels: cla-signed, supervisor

#6543 Open more info on top
  src/panels/config/entities/dialog-entity-editor.ts
Labels: cla-signed

#6545 Mark card editor dirty on prefilled create
  src/panels/lovelace/editor/card-editor/hui-dialog-edit-card.ts
  src/panels/lovelace/hui-root.ts
Labels: cla-signed

#6546 Only show stage bage if not stable
  hassio/src/addon-view/info/hassio-addon-info.ts
Labels: cla-signed, supervisor

#6532 Fixes display issues with the new darkmode
  src/components/ha-markdown.ts
  src/html/index.html.template
  src/layouts/ha-init-page.ts
  src/panels/config/integrations/ha-integration-card.ts
  src/panels/profile/ha-mfa-module-setup-flow.js
  src/resources/styles.ts
Labels: cla-signed

#6539 Fix color and overlap in close dialog header
  src/panels/lovelace/editor/select-view/hui-dialog-select-view.ts
Labels: cla-signed

#6540 Fixes display issues with longer dates
  src/components/ha-date-range-picker.ts
Labels: cla-signed

#6488 Show small header on ingress panels when the sidebar is hidden
  hassio/src/dialogs/markdown/dialog-hassio-markdown.ts
  hassio/src/hassio-main.ts
  hassio/src/hassio-panel.ts
  hassio/src/hassio-router.ts
  hassio/src/ingress-view/hassio-ingress-view.ts
  src/state/url-sync-mixin.ts
Labels: cla-signed, supervisor

#6561 Fix z-index light and thermostat more info button
  src/panels/lovelace/cards/hui-light-card.ts
  src/panels/lovelace/cards/hui-thermostat-card.ts
Labels: cla-signed

#6562 Merge dev to master for 20200807.0
  hassio/src/addon-view/info/hassio-addon-info.ts
  hassio/src/dialogs/markdown/dialog-hassio-markdown.ts
  hassio/src/hassio-main.ts
  hassio/src/hassio-panel.ts
  hassio/src/hassio-router.ts
  hassio/src/ingress-view/hassio-ingress-view.ts
  setup.py
  src/components/ha-date-range-picker.ts
  src/components/ha-markdown.ts
  src/html/index.html.template
  src/layouts/ha-init-page.ts
  src/panels/config/entities/dialog-entity-editor.ts
  src/panels/config/integrations/ha-integration-card.ts
  src/panels/lovelace/cards/hui-light-card.ts
  src/panels/lovelace/cards/hui-thermostat-card.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-edit-card.ts
  src/panels/lovelace/editor/select-view/hui-dialog-select-view.ts
  src/panels/lovelace/hui-root.ts
  src/panels/profile/ha-mfa-module-setup-flow.js
  src/resources/styles.ts
  src/state/url-sync-mixin.ts
  translations/frontend/ca.json
  translations/frontend/cs.json
  translations/frontend/da.json
  translations/frontend/es.json
  translations/frontend/fr.json
  translations/frontend/nb.json
  translations/frontend/pl.json
  translations/frontend/pt.json
  translations/frontend/ru.json
  translations/frontend/sv.json
  translations/frontend/zh-Hans.json
  translations/frontend/zh-Hant.json
Labels: cla-signed

#6555 Change English/default naming of Configure UI to Edit Dashboard
  src/translations/en.json
Labels: cla-signed

#6525 Add diagnostics toggle
  hassio/src/system/hassio-supervisor-info.ts
  src/components/ha-settings-row.ts
  src/data/hassio/supervisor.ts
  src/panels/profile/ha-advanced-mode-row.ts
  src/panels/profile/ha-force-narrow-row.ts
  src/panels/profile/ha-long-lived-access-tokens-card.js
  src/panels/profile/ha-pick-dashboard-row.ts
  src/panels/profile/ha-pick-language-row.js
  src/panels/profile/ha-pick-theme-row.ts
  src/panels/profile/ha-push-notifications-row.js
  src/panels/profile/ha-refresh-tokens-card.js
  src/panels/profile/ha-set-suspend-row.ts
  src/panels/profile/ha-set-vibrate-row.ts
  src/panels/profile/ha-settings-row.js
Labels: cla-signed, supervisor

#6564 Reorder to not break jinja templates
  src/html/index.html.template
Labels: cla-signed

#6566 Merge to master for 20200807.1
  setup.py
  src/html/index.html.template
Labels: cla-signed

#6569 Fix hassio panel dark mode
  hassio/src/hassio-main.ts
Labels: cla-signed

#6583 Set min width
  src/panels/lovelace/editor/view-editor/hui-dialog-edit-view.ts
Labels: cla-signed

#6582 Set header and tab color
  src/panels/lovelace/editor/view-editor/hui-dialog-edit-view.ts
Labels: cla-signed

#6594 Use primary-background-color when it exists
  src/html/index.html.template
Labels: cla-signed

#6595 Fix wrapping for diagnostics row
  hassio/src/system/hassio-supervisor-info.ts
Labels: cla-signed, supervisor

#6596 Merge to master for 20200811.0
  setup.py
  src/html/index.html.template
  src/panels/lovelace/editor/view-editor/hui-dialog-edit-view.ts
Labels: cla-signed

#6597 Only show diagnostics if system is supported
  hassio/src/system/hassio-supervisor-info.ts
  hassio/src/system/hassio-system.ts
Labels: cla-signed, supervisor

#6603 Use default as fallback theme for older versions
  hassio/src/hassio-main.ts
Labels: cla-signed, supervisor

#6634 Fix exceptional weither icon size (#6425)
  src/panels/lovelace/cards/hui-weather-forecast-card.ts
Labels: cla-signed

#6630 Add style to combobox
  src/resources/styles.ts
Labels: cla-signed

#6638 Fix navigation after ZHA device removal
  src/panels/config/devices/device-detail/integration-elements/zha/ha-device-actions-zha.ts
Labels: cla-signed

#6556 Set SameSite=Strict attribute for ingress_session
  src/data/hassio/supervisor.ts
Labels: cla-signed, supervisor

#6592 Light More Info: Convert to Lit Element
  src/dialogs/more-info/controls/more-info-light.js
  src/dialogs/more-info/controls/more-info-light.ts
  src/types.ts
Labels: cla-signed

#6619 Media More Info: Convert to Lit Element
  src/data/media-player.ts
  src/dialogs/more-info/controls/more-info-media_player.js
  src/dialogs/more-info/controls/more-info-media_player.ts
  src/panels/lovelace/cards/hui-media-control-card.ts
  src/types.ts
Labels: cla-signed

#6530 Add OZW Refresh Node Dialog
  src/data/ozw.ts
  src/panels/config/devices/device-detail/integration-elements/ozw/ha-device-info-ozw.ts
  src/panels/config/integrations/integration-panels/ozw/dialog-ozw-refresh-node.ts
  src/panels/config/integrations/integration-panels/ozw/show-dialog-ozw-refresh-node.ts
  src/translations/en.json
Labels: cla-signed

#6590 Save Config Dialog - Convert to MWC
  src/panels/lovelace/editor/hui-dialog-save-config.ts
Labels: cla-signed

#6547 Adds theming and dark mode to code editor
  src/components/ha-code-editor.ts
  src/resources/styles.ts
Labels: cla-signed

#6646 Add picture upload component
  package.json
  src/components/ha-picture-upload.ts
  src/data/image.ts
  src/data/person.ts
  src/dialogs/image-cropper-dialog/image-cropper-dialog.ts
  src/dialogs/image-cropper-dialog/show-image-cropper-dialog.ts
  src/panels/config/person/dialog-person-detail.ts
  src/panels/config/person/ha-config-person.ts
  src/state/connection-mixin.ts
  src/translations/en.json
  yarn.lock
Labels: cla-signed

#6601 Add tag config panel
  src/data/automation.ts
  src/data/tag.ts
  src/external_app/external_config.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-tag.ts
  src/panels/config/ha-panel-config.ts
  src/panels/config/tags/dialog-tag-detail.ts
  src/panels/config/tags/ha-config-tags.ts
  src/panels/config/tags/show-dialog-tag-detail.ts
  src/panels/config/tags/tag-image.ts
  src/translations/en.json
Labels: cla-signed

#6598 Update MDI to 5.5.55
  package.json
  src/components/ha-icon.ts
  yarn.lock
Labels: cla-signed

#6628 Improve messaging of empty device info cards
  src/panels/config/devices/ha-config-device-page.ts
  src/translations/en.json
Labels: cla-signed

#6644 Use secure cookie if https
  src/data/hassio/supervisor.ts
  test-mocha/hassio/create_session.spec.ts
Labels: cla-signed

#6673 Add template to the list of reloadables
  src/common/config/is_service_loaded.ts
  src/panels/config/server_control/ha-config-server-control.ts
  src/translations/en.json
Labels: WTH, cla-signed

#6497 Update mocha and eslint-import-resolver-webpack
  package.json
  yarn.lock
Labels: cla-signed

#6672 Media browser
  src/components/data-table/ha-data-table.ts
  src/components/media-player/dialog-media-player-browse.ts
  src/components/media-player/ha-media-player-browse.ts
  src/components/media-player/show-media-browser-dialog.ts
  src/data/media-player.ts
  src/dialogs/more-info/controls/more-info-media_player.ts
  src/panels/lovelace/cards/hui-media-control-card.ts
  src/translations/en.json
Labels: cla-signed

#6679 Fix create write tag
  src/panels/config/tags/dialog-tag-detail.ts
  src/panels/config/tags/ha-config-tags.ts
Labels: cla-signed

#6671 Fix time format in charts
  src/components/entity/ha-chart-base.js
  src/components/state-history-chart-line.js
  src/components/state-history-chart-timeline.js
Labels: WTH, cla-signed

#6663 Adjust tags just scanned time display
  src/common/datetime/relative_time.ts
  src/panels/config/tags/ha-config-tags.ts
  src/translations/en.json
Labels: cla-signed

#6667 Use default panel if panel in settings doesn't exist
  src/data/panel.ts
Labels: cla-signed

#6647 Fix updating history card + only update when entity changed
  src/panels/lovelace/cards/hui-history-graph-card.ts
  src/panels/lovelace/common/has-changed.ts
Labels: cla-signed

#6687 Media Browser: Fix dark mode
  src/components/media-player/ha-media-player-browse.ts
Labels: cla-signed

#6688 Move click listener
  src/components/media-player/ha-media-player-browse.ts
Labels: cla-signed

#6669 Convert dev tools template to Lit and store last used template
  src/panels/developer-tools/template/developer-tools-template.js
  src/panels/developer-tools/template/developer-tools-template.ts
  src/translations/en.json
Labels: WTH, cla-signed

#6625 Use media query for darkmode on login and onboarding
  src/components/map/ha-location-editor.ts
  src/html/authorize.html.template
  src/html/onboarding.html.template
  src/layouts/home-assistant-main.ts
  src/onboarding/onboarding-core-config.ts
  src/translations/en.json
Labels: cla-signed

#6690 Replace confirm with confirmation dialogs in snapshots
  hassio/src/dialogs/snapshot/dialog-hassio-snapshot.ts
Labels: cla-signed

#6670 Beginning pages for OZW Config Panel
  src/data/ozw.ts
  src/panels/config/ha-panel-config.ts
  src/panels/config/integrations/ha-integration-card.ts
  src/panels/config/integrations/integration-panels/ozw/ozw-config-dashboard.ts
  src/panels/config/integrations/integration-panels/ozw/ozw-config-network.ts
  src/panels/config/integrations/integration-panels/ozw/ozw-config-router.ts
  src/translations/en.json
Labels: cla-signed

#6682 Show the entity id that first used the context in logbook
  src/data/logbook.ts
  src/panels/logbook/ha-logbook.ts
Labels: WTH, cla-signed, wait for backend

#6193 Add icons for new sensor device classes
  src/common/entity/sensor_icon.ts
Labels: cla-signed

#5813 Calendar Card: New Card
  package.json
  src/components/ha-button-toggle-group.ts
  src/panels/calendar/ha-full-calendar.ts
  src/panels/calendar/ha-panel-calendar.ts
  src/panels/lovelace/cards/hui-calendar-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/create-element/create-card-element.ts
  src/panels/lovelace/editor/config-elements/hui-calendar-card-editor.ts
  src/panels/lovelace/editor/lovelace-cards.ts
  src/translations/en.json
  src/types.ts
  yarn.lock
Labels: cla-signed

#6691 Fix calendar
  src/components/ha-button-toggle-group.ts
  src/panels/calendar/ha-full-calendar.ts
Labels: cla-signed

#6675 Add methods for new trigger/condition commands
  src/data/automation.ts
  src/types.ts
Labels: cla-signed, wait for backend

#6694 Add disabled text color to dark mode
  src/resources/styles.ts
Labels: cla-signed

#6695 No background repeat media browser
  src/components/media-player/ha-media-player-browse.ts
Labels: cla-signed

#6699 Supervisor system
  hassio/src/dialogs/network/dialog-hassio-network.ts
  hassio/src/dialogs/network/show-dialog-network.ts
  hassio/src/system/hassio-host-info.ts
  hassio/src/system/hassio-supervisor-info.ts
  hassio/src/system/hassio-supervisor-log.ts
  hassio/src/system/hassio-system.ts
  src/components/ha-settings-row.ts
  src/data/hassio/host.ts
  src/data/hassio/network.ts
  src/data/hassio/supervisor.ts
Labels: WTH, cla-signed, supervisor

#6697 Add universal to the list of reloadables
  src/panels/config/server_control/ha-config-server-control.ts
  src/translations/en.json
Labels: WTH, cla-signed

#6702 Add aria roles to data table
  src/components/data-table/ha-data-table.ts
Labels: accessibility, cla-signed

#6656 Add UI control to reload a config entry (integration)
  src/data/config_entries.ts
  src/panels/config/integrations/ha-integration-card.ts
  src/translations/en.json
Labels: WTH, cla-signed, wait for backend

#6705 Add rest/command_line/filter/statistics to the list of reloadables
  src/panels/config/server_control/ha-config-server-control.ts
  src/translations/en.json
Labels: WTH, cla-signed

#6707 Filter attributes in more info light
  src/dialogs/more-info/controls/more-info-light.ts
Labels: cla-signed

#6701 Theme tweaks
  src/components/ha-code-editor.ts
  src/panels/lovelace/entity-rows/types.ts
  src/panels/lovelace/special-rows/hui-divider-row.ts
  src/panels/lovelace/special-rows/hui-section-row.ts
Labels: WTH, cla-signed

#6703 Add watchdog toggle
  hassio/src/addon-view/info/hassio-addon-info.ts
  src/data/hassio/addon.ts
Labels: cla-signed, supervisor, wait for backend

#6706 Changes to add-on options
  hassio/src/addon-view/info/hassio-addon-info.ts
  hassio/src/system/hassio-host-info.ts
  hassio/src/system/hassio-supervisor-info.ts
Labels: cla-signed, supervisor

#6712 Fix more info media player dropdowns
  src/dialogs/more-info/controls/more-info-media_player.ts
Labels: cla-signed

#6711 Limit changing network to systems that have that support
  hassio/src/system/hassio-host-info.ts
Labels: cla-signed, supervisor

#6708 Adds ha-bar component
  src/components/ha-bar.ts
  src/components/ha-gauge.ts
  src/util/calculate.ts
  test-mocha/util/calculate.spec.ts
Labels: cla-signed

#6709 Adds confirmation dialog to updates
  hassio/src/dashboard/hassio-update.ts
Labels: WTH, cla-signed, supervisor

#6715 Round with 1 decimal for weather card
  src/data/weather.ts
Labels: cla-signed

#6454 Restored card margin for narrow viewports
  src/panels/lovelace/views/hui-view.ts
Labels: WTH, cla-signed

#6724 Graph Footer: Fix Editor Warning
  src/panels/lovelace/header-footer/types.ts
Labels: cla-signed

#6725 Use ha-progress-button for update cards
  hassio/src/dashboard/hassio-update.ts
Labels: cla-signed, supervisor

#6698 Allow owner users to change password of any user
  src/data/auth.ts
  src/panels/config/users/dialog-add-user.ts
  src/panels/config/users/dialog-user-detail.ts
  src/translations/en.json
Labels: WTH, cla-signed

#6721 Add generic/generic_thermostat/homekit/min_max/history_stats/trend/ping/filesize to the list of reloadables
  src/panels/config/server_control/ha-config-server-control.ts
  src/translations/en.json
Labels: WTH, cla-signed

#6717 Enable filtering on hidden columns
  src/components/data-table/ha-data-table.ts
  src/components/data-table/sort_filter_worker.ts
  src/panels/config/areas/ha-config-areas-dashboard.ts
  src/panels/config/devices/ha-config-devices-dashboard.ts
Labels: cla-signed

#6728 Convert ha-progress-button to lit
  src/components/buttons/ha-progress-button.js
  src/components/buttons/ha-progress-button.ts
Labels: cla-signed

#6723 Entities & Glance Card: Add state color to editors
  src/panels/lovelace/editor/config-elements/hui-entities-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-glance-card-editor.ts
  src/translations/en.json
Labels: cla-signed

#6743 Ignore 504 errors while updating
  hassio/src/dashboard/hassio-update.ts
Labels: WTH, cla-signed, supervisor

#6741 Dismiss dialog if the user clicks outside it or hit the escape button
  hassio/src/dialogs/network/dialog-hassio-network.ts
  src/dialogs/generic/dialog-box.ts
Labels: WTH, cla-signed

#6716 Remove animation delay from paper tooltip
  hassio/src/addon-view/info/hassio-addon-info.ts
  src/dialogs/config-flow/dialog-data-entry-flow.ts
  src/dialogs/config-flow/step-flow-form.ts
  src/dialogs/notifications/persistent-notification-item.ts
  src/layouts/hass-tabs-subpage-data-table.ts
  src/panels/config/areas/ha-config-area-page.ts
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/helpers/dialog-helper-detail.ts
  src/panels/config/helpers/ha-config-helpers.ts
  src/panels/config/lovelace/dashboards/ha-config-lovelace-dashboards.ts
  src/panels/config/lovelace/resources/ha-config-lovelace-resources.ts
  src/panels/config/scene/ha-scene-dashboard.ts
  src/panels/config/users/dialog-user-detail.ts
  src/panels/config/zone/ha-config-zone.ts
  src/panels/profile/ha-refresh-tokens-card.js
Labels: cla-signed

#6746 Remove credentials for load module
  src/common/dom/load_resource.ts
Labels: cla-signed

#6753 Fix render modifiers - public to protected
  hassio/src/components/hassio-ansi-to-html.ts
  hassio/src/system/hassio-host-info.ts
  hassio/src/system/hassio-supervisor-info.ts
  hassio/src/system/hassio-supervisor-log.ts
  hassio/src/system/hassio-system.ts
  src/components/ha-circular-progress.ts
  src/panels/config/automation/action/types/ha-automation-action-condition.ts
  src/panels/config/automation/action/types/ha-automation-action-delay.ts
  src/panels/config/automation/condition/types/ha-automation-condition-numeric_state.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-event.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-homeassistant.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-numeric_state.ts
  src/panels/lovelace/hui-editor.ts
Labels: cla-signed

#6754 Fix automation modes documentation link
  src/panels/config/automation/ha-automation-editor.ts
Labels: cla-signed

#6750 Change spot clean icon
  src/dialogs/more-info/controls/more-info-vacuum.ts
Labels: cla-signed

#6752 Call service button feedback
  src/components/buttons/ha-progress-button.ts
  src/panels/developer-tools/service/developer-tools-service.js
Labels: cla-signed

#6720 Media browser tweaks
  src/components/ha-dialog.ts
  src/components/media-player/dialog-media-player-browse.ts
  src/components/media-player/ha-media-player-browse.ts
Labels: cla-signed

#6677 Stop image from rendering for camera when disconnected and update when reconnected
  src/panels/lovelace/common/has-changed.ts
  src/panels/lovelace/components/hui-image.ts
Labels: cla-signed
