Repository home-assistant/frontend, pull requests merged in 2020-10, with the labels that each got.

#7181 Fix panel view and backgrounds
  cast/src/receiver/entrypoint.ts
  src/panels/lovelace/views/hui-masonry-view.ts
  src/panels/lovelace/views/hui-panel-view.ts
Labels: cla-signed

#7175 Logbook: fix custom Icon
  src/common/entity/binary_sensor_icon.ts
  src/data/logbook.ts
  src/panels/logbook/ha-logbook.ts
Labels: cla-signed

#7185 20201001.0
  cast/src/receiver/entrypoint.ts
  setup.py
  src/common/entity/binary_sensor_icon.ts
  src/data/logbook.ts
  src/panels/config/integrations/integration-panels/ozw/ozw-config-dashboard.ts
  src/panels/logbook/ha-logbook.ts
  src/panels/lovelace/views/hui-masonry-view.ts
  src/panels/lovelace/views/hui-panel-view.ts
  src/translations/en.json
  translations/frontend/ca.json
  translations/frontend/cs.json
  translations/frontend/el.json
  translations/frontend/en.json
  translations/frontend/es.json
  translations/frontend/et.json
  translations/frontend/nb.json
  translations/frontend/pl.json
  translations/frontend/pt.json
  translations/frontend/ru.json
  translations/frontend/zh-Hant.json
Labels: cla-signed

#7188 Fix reversal in power icon
  src/common/entity/binary_sensor_icon.ts
Labels: cla-signed

#7192 Entities Card: Fix Header Toggle
  src/panels/lovelace/cards/hui-entities-card.ts
  src/panels/lovelace/components/hui-entities-toggle.ts
Labels: cla-signed

#7191 Logbook: Fix for no state obj
  src/data/logbook.ts
Labels: cla-signed

#7187 Set hass when creating card
  cast/src/receiver/layout/hc-lovelace.ts
  src/panels/lovelace/views/hui-view.ts
Labels: cla-signed

#7196 use ha-svg-icon in more-info-weather
  src/dialogs/more-info/controls/more-info-weather.ts
Labels: cla-signed

#7193 Warning Element: Fix Overflow in Entity Row
  src/panels/lovelace/components/hui-warning.ts
Labels: cla-signed

#7226 Styling fixes for hui-masonry-view
  src/panels/lovelace/views/hui-masonry-view.ts
Labels: cla-signed, hacktoberfest

#7228 Use client_id if no client_name in delete dialog
  src/panels/profile/ha-refresh-tokens-card.ts
Labels: cla-signed, hacktoberfest

#7227 Use consistent title case for headers in Supervisor
  hassio/src/addon-store/hassio-addon-store.ts
  hassio/src/hassio-tabs.ts
  hassio/src/snapshots/hassio-snapshots.ts
  hassio/src/system/hassio-host-info.ts
  hassio/src/system/hassio-supervisor-info.ts
  hassio/src/system/hassio-supervisor-log.ts
  hassio/src/system/hassio-system-metrics.ts
Labels: cla-signed, hacktoberfest, supervisor

#7180 Allow viewport scaling (zooming) of frontend
  src/html/_style_base.html.template
Labels: cla-signed, hacktoberfest

#7232 Fix Apple not showing cards
  src/panels/lovelace/views/hui-masonry-view.ts
  src/translations/en.json
Labels: cla-signed, hacktoberfest

#7197 dot notation for path property of ha-svg-icon
  hassio/src/addon-store/hassio-addon-store.ts
  hassio/src/addon-view/info/hassio-addon-info.ts
  hassio/src/dialogs/repositories/dialog-hassio-repositories.ts
  hassio/src/dialogs/snapshot/dialog-hassio-snapshot.ts
  hassio/src/ingress-view/hassio-ingress-view.ts
  hassio/src/snapshots/hassio-snapshots.ts
  src/common/search/search-input.ts
  src/components/ha-date-range-picker.ts
  src/components/ha-dialog.ts
  src/components/ha-menu-button.ts
  src/panels/config/areas/ha-config-areas-dashboard.ts
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/action/types/ha-automation-action-choose.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/helpers/ha-config-helpers.ts
  src/panels/config/integrations/ha-config-integrations.ts
  src/panels/config/integrations/ha-integration-card.ts
  src/panels/config/integrations/integration-panels/zha/zha-config-dashboard.ts
  src/panels/config/integrations/integration-panels/zha/zha-groups-dashboard.ts
  src/panels/config/lovelace/dashboards/ha-config-lovelace-dashboards.ts
  src/panels/config/lovelace/resources/ha-config-lovelace-resources.ts
  src/panels/config/person/ha-config-person.ts
  src/panels/config/scene/ha-scene-dashboard.ts
  src/panels/config/scene/ha-scene-editor.ts
  src/panels/config/script/ha-script-editor.ts
  src/panels/config/script/ha-script-picker.ts
  src/panels/config/tags/ha-config-tags.ts
  src/panels/config/users/ha-config-users.ts
  src/panels/config/zone/ha-config-zone.ts
  src/panels/logbook/ha-panel-logbook.ts
  src/panels/lovelace/components/hui-card-options.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-edit-card.ts
  src/panels/lovelace/editor/hui-dialog-save-config.ts
  src/panels/lovelace/editor/unused-entities/hui-unused-entities.ts
  src/panels/lovelace/hui-root.ts
  src/panels/lovelace/views/hui-masonry-view.ts
  src/panels/lovelace/views/hui-panel-view.ts
Labels: cla-signed, hacktoberfest

#7237 Fix flickering scrollbar when using progress-spinner
  src/components/ha-circular-progress.ts
Labels: cla-signed, hacktoberfest

#7236 Only do 1 token update a time
  src/external_app/external_auth.ts
Labels: cla-signed, hacktoberfest

#7233 replace ha-icon_button and ha-icon in stack card editor
  src/panels/lovelace/editor/config-elements/hui-stack-card-editor.ts
  src/translations/en.json
Labels: cla-signed, hacktoberfest

#7245 Bump Lit, use cache for query
  hassio/src/addon-view/config/hassio-addon-config.ts
  hassio/src/dialogs/repositories/dialog-hassio-repositories.ts
  package.json
  src/components/buttons/ha-progress-button.ts
  src/components/data-table/ha-data-table.ts
  src/components/entity/ha-entity-attribute-picker.ts
  src/components/entity/ha-entity-picker.ts
  src/components/ha-button-menu.ts
  src/components/ha-form/ha-form-boolean.ts
  src/components/ha-form/ha-form-float.ts
  src/components/ha-form/ha-form-multi_select.ts
  src/components/ha-form/ha-form-positive_time_period_dict.ts
  src/components/ha-form/ha-form-select.ts
  src/components/ha-hls-player.ts
  src/components/ha-yaml-editor.ts
  src/dialogs/image-cropper-dialog/image-cropper-dialog.ts
  src/dialogs/voice-command-dialog/ha-voice-command-dialog.ts
  src/layouts/hass-tabs-subpage-data-table.ts
  src/managers/notification-manager.ts
  src/panels/config/automation/action/types/ha-automation-action-event.ts
  src/panels/config/automation/action/types/ha-automation-action-service.ts
  src/panels/config/automation/thingtalk/dialog-thingtalk.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/helpers/forms/ha-input_select-form.ts
  src/panels/config/integrations/integration-panels/zha/zha-add-group-page.ts
  src/panels/config/integrations/integration-panels/zha/zha-clusters-data-table.ts
  src/panels/config/integrations/integration-panels/zha/zha-device-endpoint-data-table.ts
  src/panels/config/integrations/integration-panels/zha/zha-group-binding.ts
  src/panels/config/integrations/integration-panels/zha/zha-group-page.ts
  src/panels/config/logs/dialog-system-log-detail.ts
  src/panels/config/logs/ha-config-logs.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-create-card.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-delete-card.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-edit-card.ts
  src/panels/lovelace/editor/card-editor/hui-entity-picker-table.ts
  src/panels/lovelace/editor/unused-entities/hui-unused-entities.ts
  yarn.lock
Labels: cla-signed, hacktoberfest

#7239 Avoid fetching logbook when there will never be entries
  src/data/logbook.ts
  src/dialogs/more-info/ha-more-info-logbook.ts
Labels: cla-signed, hacktoberfest

#7204 Update script editor panel tooltips
  src/panels/config/script/ha-script-editor.ts
  src/panels/config/script/ha-script-picker.ts
  src/translations/en.json
Labels: cla-signed, hacktoberfest

#6200 Upgrade to Webpack 5
  build-scripts/bundle.js
  build-scripts/webpack.js
  package.json
  src/components/data-table/sort-filter.ts
  src/resources/render-markdown.ts
  src/types.ts
  yarn.lock
Labels: cla-signed

#7249 Bump typescript (4) and babel
  .eslintrc.json
  hassio/src/dialogs/network/dialog-hassio-network.ts
  hassio/src/dialogs/snapshot/dialog-hassio-snapshot-upload.ts
  package.json
  src/auth/ha-auth-flow.ts
  src/common/util/debounce.ts
  src/common/util/subscribe-one.ts
  src/common/util/throttle.ts
  src/components/data-table/ha-data-table.ts
  src/components/date-range-picker.ts
  src/components/ha-yaml-editor.ts
  src/components/map/ha-location-editor.ts
  src/components/map/ha-locations-editor.ts
  src/data/automation.ts
  src/data/collection.ts
  src/data/entity_registry.ts
  src/data/hassio/addon.ts
  src/data/hassio/hardware.ts
  src/data/panel_custom.ts
  src/data/script.ts
  src/data/translation.ts
  src/data/ws-templates.ts
  src/dialogs/domain-toggler/dialog-domain-toggler.ts
  src/entrypoints/custom-panel.ts
  src/panels/config/automation/action/types/ha-automation-action-wait_template.ts
  src/panels/config/devices/device-detail/integration-elements/mqtt/mqtt-discovery-payload.ts
  src/panels/config/devices/device-detail/integration-elements/ozw/ha-device-actions-ozw.ts
  src/panels/config/entities/dialog-entity-editor.ts
  src/panels/config/tags/dialog-tag-detail.ts
  src/panels/custom/ha-panel-custom.ts
  src/panels/lovelace/cards/hui-stack-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/components/hui-warning.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-create-card.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-edit-card.ts
  src/panels/lovelace/editor/config-elements/hui-picture-glance-card-editor.ts
  src/panels/lovelace/elements/hui-service-button-element.ts
  src/panels/lovelace/elements/types.ts
  src/panels/lovelace/entity-rows/hui-group-entity-row.ts
  src/panels/lovelace/entity-rows/types.ts
  src/panels/lovelace/header-footer/hui-buttons-header-footer.ts
  src/panels/lovelace/header-footer/hui-graph-header-footer.ts
  src/panels/lovelace/header-footer/hui-picture-header-footer.ts
  src/panels/lovelace/special-rows/hui-buttons-row.ts
  src/panels/lovelace/types.ts
  src/panels/profile/ha-panel-profile.ts
  src/types.ts
  src/util/hass-call-api.ts
  yarn.lock
Labels: cla-signed, hacktoberfest

#7261 Fix cloud webhooks
  src/panels/config/cloud/account/cloud-webhooks.ts
Labels: cla-signed, hacktoberfest

#7263 Fix ha-bar display issue on firefox
  src/components/ha-bar.ts
Labels: cla-signed, hacktoberfest

#7230 Add "quick open" style dialog for selecting entities and running reload commands
  src/common/string/sequence_matching.ts
  src/dialogs/quick-open/ha-quick-open-dialog.ts
  src/dialogs/quick-open/show-dialog-quick-open.ts
  src/layouts/home-assistant.ts
  src/state/quick-open-mixin.ts
  src/translations/en.json
  src/types.ts
Labels: cla-signed, documentation added, hacktoberfest

#7252 Fix tab focus issue in entity picker and password form.
  src/components/entity/ha-entity-picker.ts
  src/components/ha-form/ha-form-string.ts
Labels: cla-signed, hacktoberfest

#7251 Do not show weather forecast in generated UI
  src/panels/lovelace/common/generate-lovelace-config.ts
Labels: cla-signed, hacktoberfest

#7265 Warn about slow snapshot downloads
  hassio/src/dialogs/snapshot/dialog-hassio-snapshot.ts
Labels: cla-signed, hacktoberfest, supervisor

#7256 Fixed localization of relative time
  src/common/datetime/relative_time.ts
  src/translations/en.json
Labels: cla-signed, hacktoberfest

#7248 Replace mdc circular progress with mwc
  package.json
  src/components/ha-circular-progress.ts
  src/panels/config/automation/thingtalk/dialog-thingtalk.ts
  src/panels/config/integrations/integration-panels/zha/zha-add-group-page.ts
  src/panels/config/integrations/integration-panels/zha/zha-group-page.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-edit-card.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-suggest-card.ts
  src/panels/lovelace/editor/hui-dialog-save-config.ts
  src/panels/lovelace/editor/lovelace-editor/hui-dialog-edit-lovelace.ts
  src/panels/lovelace/editor/view-editor/hui-dialog-edit-view.ts
  yarn.lock
Labels: cla-signed, hacktoberfest

#7207 Add keyboard shortcut to save automation/scene/script
  src/mixins/keyboard-shortcut-mixin.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/scene/ha-scene-editor.ts
  src/panels/config/script/ha-script-editor.ts
Labels: cla-signed, hacktoberfest

#7250 Put automation/script editor actions in a menu
  src/components/ha-button-menu.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/script/ha-script-editor.ts
Labels: cla-signed, hacktoberfest

#7092 Display qr code in tag properties
  package.json
  src/panels/config/tags/dialog-tag-detail.ts
  src/translations/en.json
  yarn.lock
Labels: cla-signed

#7194 Show moon phase icon in state-label-badge
  src/components/entity/ha-state-label-badge.ts
Labels: cla-signed, hacktoberfest

#7208 Edit Person button in the Person "more info" dialog (fixes #4706)
  src/dialogs/more-info/ha-more-info-dialog.ts
  src/panels/config/person/ha-config-person.ts
  src/translations/en.json
Labels: cla-signed, hacktoberfest

#7235 Fix history chart fetching changes
  src/data/cached-history.ts
  src/dialogs/more-info/ha-more-info-history.ts
  src/panels/lovelace/cards/hui-history-graph-card.ts
Labels: cla-signed, hacktoberfest

#7247 Supervisor disk usage more info
  hassio/src/system/hassio-system-metrics.ts
  src/util/bytes-to-string.ts
Labels: cla-signed, hacktoberfest, supervisor

#7255 Ensure ha-dialog uses correct <a> color
  src/resources/styles.ts
Labels: cla-signed, hacktoberfest

#7202 Weather card: Add wind speed direction
  src/data/weather.ts
  src/dialogs/more-info/controls/more-info-weather.ts
  src/panels/lovelace/cards/hui-weather-forecast-card.ts
  src/types.ts
Labels: cla-signed, hacktoberfest

#7205 Add link to documentation for persons
  src/panels/config/person/ha-config-person.ts
  src/translations/en.json
Labels: cla-signed, hacktoberfest

#7129 Add help link on automations picker and updated links for scripts and scenes
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/scene/ha-scene-dashboard.ts
  src/panels/config/script/ha-script-picker.ts
Labels: cla-signed

#7199 Sort profile refresh tokens by 'last used at' date (#4484)
  src/panels/profile/ha-refresh-tokens-card.ts
Labels: cla-signed, hacktoberfest

#7311 hassio-addon-info.ts: Fix spelling
  hassio/src/addon-view/info/hassio-addon-info.ts
Labels: cla-signed, hacktoberfest

#7286 Rename 'quick open dialog' to 'quick bar'
  src/dialogs/quick-bar/ha-quick-bar.ts
  src/dialogs/quick-bar/show-dialog-quick-bar.ts
  src/dialogs/quick-open/show-dialog-quick-open.ts
  src/layouts/home-assistant.ts
  src/state/quick-bar-mixin.ts
  src/translations/en.json
Labels: cla-signed, hacktoberfest

#7229 Close notification drawer after dismissing last notification
  src/dialogs/notifications/notification-drawer.js
Labels: cla-signed, hacktoberfest

#7289 Fix Entity Toggle not working for Type Row
  src/panels/lovelace/cards/hui-entities-card.ts
Labels: cla-signed, hacktoberfest

#7301 Use translations for alexa
  src/panels/config/cloud/alexa/cloud-alexa.ts
Labels: cla-signed, hacktoberfest

#7298 Update compatibility and fix polyfills for ES5
  build-scripts/bundle.js
  package.json
  src/resources/compatibility.ts
  yarn.lock
Labels: cla-signed, hacktoberfest

#7216 Fix charts tooltip
  src/components/entity/ha-chart-base.js
Labels: cla-signed, hacktoberfest

#7273 Scriptomation yaml editor
  src/components/ha-yaml-editor.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/script/ha-script-editor.ts
  src/translations/en.json
Labels: cla-signed, hacktoberfest

#7313 Capitalize first character of attributes
  src/components/ha-attributes.ts
Labels: cla-signed, hacktoberfest

#7310 Added entity_id to history graph tooltip
  src/components/entity/ha-chart-base.js
  src/components/state-history-chart-timeline.js
Labels: cla-signed, hacktoberfest

#7305 Weather Card: add icons instead of text
  src/data/weather.ts
  src/panels/lovelace/cards/hui-weather-forecast-card.ts
Labels: cla-signed, hacktoberfest

#7300 Show disabled entities for a config_entry by default + number of hidden entities
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/panels/config/entities/ha-config-entities.ts
  src/translations/en.json
Labels: cla-signed, hacktoberfest

#7321 Add documentation link to "customize" dialog
  src/panels/config/customize/ha-config-customize.js
  src/panels/config/customize/ha-form-customize.js
  src/translations/en.json
Labels: cla-signed, hacktoberfest

#7283 Fix issue with enter key not executing selected item in quick bar list
  src/dialogs/quick-bar/ha-quick-bar.ts
Labels: cla-signed, hacktoberfest

#7293 Fix: Quick Bar not launching on windows
  src/state/quick-bar-mixin.ts
Labels: cla-signed, hacktoberfest

#7328 Add tests for fuzzy sequence matcher
  test-mocha/common/string/sequence_matching.test.ts
Labels: cla-signed, hacktoberfest

#7317 Check if video el still exists before exoplayer resize in ha-hls-player
  src/components/ha-hls-player.ts
Labels: cla-signed, hacktoberfest

#7331 Add warning to badge preview in "Panel Mode"
  src/panels/lovelace/editor/view-editor/hui-dialog-edit-view.ts
  src/translations/en.json
Labels: cla-signed, hacktoberfest

#7306 Add friendly name to quick bar list and filter
  src/common/string/sequence_matching.ts
  src/dialogs/quick-bar/ha-quick-bar.ts
  test-mocha/common/string/sequence_matching.test.ts
Labels: cla-signed, hacktoberfest

#6789 New component: ha-expansion-panel
  src/components/ha-expansion-panel.ts
Labels: cla-signed

#7343 Update entity picker
  src/components/entity/ha-entity-picker.ts
Labels: cla-signed, hacktoberfest

#7288 Make enter key execute first filtered item in Quick Bar
  src/dialogs/quick-bar/ha-quick-bar.ts
Labels: cla-signed, hacktoberfest

#7319 Fix es5 build
  build-scripts/bundle.js
  build-scripts/webpack.js
  package.json
  src/common/translations/localize.ts
  src/components/ha-sidebar.ts
  src/html/_js_base.html.template
  src/html/_preload_roboto.html.template
  src/html/authorize.html.template
  src/html/onboarding.html.template
  src/resources/compatibility.ts
  src/state/themes-mixin.ts
  yarn.lock
Labels: cla-signed, hacktoberfest

#7335 Use attribute picker for sec. info in weather card editor
  src/components/entity/ha-entity-attribute-picker.ts
  src/panels/lovelace/editor/config-elements/hui-weather-forecast-card-editor.ts
Labels: cla-signed, hacktoberfest

#7291 Add Friendly Name to the Entity Picker + FuzzySeq Algo
  src/common/string/sequence_matching.ts
  src/components/entity/ha-entity-picker.ts
Labels: cla-signed, hacktoberfest

#7348 Fix attribute picker suffix
  src/components/entity/ha-entity-attribute-picker.ts
Labels: cla-signed, hacktoberfest

#7238 Header styling & paper-tabs improvements
  src/components/ha-menu-button.ts
  src/components/ha-tabs.ts
  src/panels/developer-tools/ha-panel-developer-tools.ts
  src/panels/lovelace/hui-root.ts
  src/panels/mailbox/ha-panel-mailbox.js
  src/resources/styles.ts
Labels: cla-signed, hacktoberfest

#7351 New "clickable" property for <ha-data-table>
  src/components/data-table/ha-data-table.ts
  src/layouts/hass-tabs-subpage-data-table.ts
  src/panels/config/areas/ha-config-areas-dashboard.ts
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/helpers/ha-config-helpers.ts
  src/panels/config/integrations/integration-panels/ozw/ozw-network-nodes.ts
  src/panels/config/integrations/integration-panels/zha/zha-groups-dashboard.ts
  src/panels/config/lovelace/dashboards/ha-config-lovelace-dashboards.ts
  src/panels/config/lovelace/resources/ha-config-lovelace-resources.ts
  src/panels/config/users/ha-config-users.ts
Labels: cla-signed, hacktoberfest

#7177 Lovelace Cards: Update size calcs and add height fixes for horizontal stacks
  src/panels/lovelace/cards/hui-alarm-panel-card.ts
  src/panels/lovelace/cards/hui-button-card.ts
  src/panels/lovelace/cards/hui-calendar-card.ts
  src/panels/lovelace/cards/hui-entities-card.ts
  src/panels/lovelace/cards/hui-gauge-card.ts
  src/panels/lovelace/cards/hui-glance-card.ts
  src/panels/lovelace/cards/hui-history-graph-card.ts
  src/panels/lovelace/cards/hui-horizontal-stack-card.ts
  src/panels/lovelace/cards/hui-humidifier-card.ts
  src/panels/lovelace/cards/hui-iframe-card.ts
  src/panels/lovelace/cards/hui-light-card.ts
  src/panels/lovelace/cards/hui-map-card.ts
  src/panels/lovelace/cards/hui-markdown-card.ts
  src/panels/lovelace/cards/hui-media-control-card.ts
  src/panels/lovelace/cards/hui-picture-card.ts
  src/panels/lovelace/cards/hui-picture-elements-card.ts
  src/panels/lovelace/cards/hui-picture-entity-card.ts
  src/panels/lovelace/cards/hui-picture-glance-card.ts
  src/panels/lovelace/cards/hui-plant-status-card.ts
  src/panels/lovelace/cards/hui-shopping-list-card.ts
  src/panels/lovelace/cards/hui-thermostat-card.ts
  src/panels/lovelace/cards/hui-vertical-stack-card.ts
  src/panels/lovelace/cards/hui-weather-forecast-card.ts
  src/panels/lovelace/common/generate-lovelace-config.ts
  src/panels/lovelace/header-footer/hui-buttons-header-footer.ts
  src/panels/lovelace/header-footer/hui-graph-header-footer.ts
  src/util/bytes-to-string.ts
Labels: breaking, cla-signed

#7352 Little clean up in data table
  src/components/data-table/ha-data-table.ts
Labels: cla-signed, hacktoberfest

#7304 Add the options dark_mode_filter and dark_mode_image to the picture elements card
  src/panels/lovelace/cards/hui-picture-elements-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/components/hui-image.ts
Labels: cla-signed, hacktoberfest

#7203 Add product picture to ozw node dashboard
  src/panels/config/integrations/integration-panels/ozw/ozw-node-dashboard.ts
Labels: cla-signed, hacktoberfest

#7223 Add button that dismisses all notifications
  src/dialogs/notifications/notification-drawer.js
  src/translations/en.json
Labels: cla-signed, hacktoberfest

#7360 Entity Picker: undo fuzzy algorithm
  src/components/entity/ha-entity-picker.ts
Labels: cla-signed, hacktoberfest

#7269 Add docker registry management
  hassio/src/addon-store/hassio-addon-store.ts
  hassio/src/dialogs/registries/dialog-hassio-registries.ts
  hassio/src/dialogs/registries/show-dialog-registries.ts
  src/data/hassio/docker.ts
Labels: cla-signed, hacktoberfest, supervisor

#7365 Remove query caching to get YAML editor toggle working again
  src/panels/lovelace/editor/card-editor/hui-dialog-edit-card.ts
Labels: cla-signed, hacktoberfest

#7195 Sort persistent notifications ascending
  src/dialogs/notifications/notification-drawer.js
Labels: cla-signed, hacktoberfest

#7324 Prevent old more info control to be created
  src/common/dom/dynamic-element-directive.ts
  src/dialogs/more-info/ha-more-info-dialog.ts
Labels: cla-signed, hacktoberfest

#7345 Fix more info group
  src/dialogs/more-info/controls/more-info-group.js
  src/dialogs/more-info/controls/more-info-group.ts
  src/dialogs/more-info/state_more_info_control.ts
Labels: cla-signed, hacktoberfest

#7357 Harmonize the font sizes on area and device page
  src/panels/config/areas/ha-config-area-page.ts
  src/panels/config/devices/ha-config-device-page.ts
Labels: cla-signed, hacktoberfest

#7346 Add Counter to Helpers
  src/data/counter.ts
  src/panels/config/entities/const.ts
  src/panels/config/entities/editor-tabs/settings/entity-settings-helper-tab.ts
  src/panels/config/helpers/const.ts
  src/panels/config/helpers/dialog-helper-detail.ts
  src/panels/config/helpers/forms/ha-counter-form.ts
  src/translations/en.json
Labels: cla-signed, hacktoberfest

#7332 Add dialog and links for unsupported supervisor installation
  hassio/src/system/hassio-supervisor-info.ts
  src/data/hassio/resolution.ts
Labels: cla-signed, hacktoberfest, supervisor

#7278 add help button to tags config panel
  src/panels/config/tags/ha-config-tags.ts
  src/translations/en.json
Labels: cla-signed, hacktoberfest

#7355 Properly wrap integration title / device names
  src/panels/config/integrations/ha-integration-card.ts
Labels: cla-signed, hacktoberfest

#7320 Entity registry settings: Remove "Override" string + use domain icon as fallback
  src/panels/config/entities/entity-registry-settings.ts
  src/translations/en.json
Labels: cla-signed, hacktoberfest

#7373 Make <ha-card> use <h1> for header
  cast/src/launcher/layout/hc-layout.ts
  hassio/src/addon-view/info/hassio-addon-info.ts
  src/components/ha-card.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/config/scene/ha-scene-editor.ts
  src/panels/lovelace/cards/hui-entities-card.ts
  src/panels/lovelace/cards/hui-stack-card.ts
Labels: cla-signed, hacktoberfest

#7374 Minor tweaks for when media player has no items
  src/components/media-player/ha-media-player-browse.ts
Labels: cla-signed, hacktoberfest

#7362 Fix hls player
  src/components/ha-hls-player.ts
Labels: cla-signed, hacktoberfest

#7363 Fix navigation links for "script/edit"
  src/panels/config/areas/ha-config-area-page.ts
  src/panels/config/devices/ha-config-device-page.ts
Labels: cla-signed, hacktoberfest

#7368 Refactor quick bar to use a common interface for future commands and …
  src/dialogs/quick-bar/ha-quick-bar.ts
Labels: cla-signed, hacktoberfest

#7377 Initial OZW Node Config Panel
  src/data/ozw.ts
  src/panels/config/integrations/integration-panels/ozw/ozw-node-config.ts
  src/panels/config/integrations/integration-panels/ozw/ozw-node-dashboard.ts
  src/panels/config/integrations/integration-panels/ozw/ozw-node-router.ts
  src/translations/en.json
Labels: cla-signed, hacktoberfest

#7364 Use ha-card for dev tool "Services" + visual tweaks
  src/panels/developer-tools/service/developer-tools-service.js
  src/panels/developer-tools/state/developer-tools-state.js
  src/panels/developer-tools/template/developer-tools-template.ts
  src/resources/styles.ts
Labels: cla-signed, hacktoberfest

#7376 Enable volume up/down for media player
  src/dialogs/more-info/controls/more-info-media_player.ts
Labels: cla-signed, hacktoberfest

#7323 Add option to copy system info into clipboard
  src/panels/config/info/system-health-card.ts
  src/panels/config/logs/dialog-system-log-detail.ts
Labels: cla-signed, hacktoberfest

#7370 Make error texts of device automation picker translatable
  src/components/device/ha-device-action-picker.ts
  src/components/device/ha-device-automation-picker.ts
  src/components/device/ha-device-condition-picker.ts
  src/components/device/ha-device-trigger-picker.ts
  src/translations/en.json
Labels: cla-signed, hacktoberfest

#7383 Clean up general config page code
  src/panels/config/core/ha-config-section-core.js
  src/panels/config/server_control/ha-config-server-control.ts
Labels: cla-signed, hacktoberfest

#7349 Fix alignment / padding of ha-switch
  src/panels/lovelace/editor/config-elements/config-elements-style.ts
Labels: cla-signed, hacktoberfest

#7366 Add Timer to Helpers
  src/data/timer.ts
  src/panels/config/entities/const.ts
  src/panels/config/entities/editor-tabs/settings/entity-settings-helper-tab.ts
  src/panels/config/helpers/const.ts
  src/panels/config/helpers/dialog-helper-detail.ts
  src/panels/config/helpers/forms/ha-timer-form.ts
  src/translations/en.json
Labels: cla-signed, hacktoberfest

#7394 Move valid so we don't cache an empty element for add-on config
  hassio/src/addon-view/config/hassio-addon-config.ts
Labels: cla-signed, hacktoberfest, supervisor

#7390 Fixes for snapshot upload during onboarding
  hassio/src/components/hassio-upload-snapshot.ts
  hassio/src/dialogs/snapshot/dialog-hassio-snapshot.ts
  src/data/hassio/common.ts
  src/onboarding/onboarding-restore-snapshot.ts
Labels: cla-signed, hacktoberfest

#7220 Add support for displaying time listeners
  src/data/ws-templates.ts
  src/panels/developer-tools/template/developer-tools-template.ts
  src/panels/lovelace/cards/hui-markdown-card.ts
  src/translations/en.json
Labels: cla-signed, hacktoberfest

#7371 Improved automation & script menus + show errors in toast
  src/managers/notification-manager.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/scene/ha-scene-editor.ts
  src/panels/config/script/ha-script-editor.ts
Labels: cla-signed, hacktoberfest

#7354 Detect Lovelace resource type based on file extension
  src/data/lovelace.ts
  src/panels/config/lovelace/resources/dialog-lovelace-resource-detail.ts
Labels: cla-signed, hacktoberfest

#7382 Move error log <ha-card> + color in log entries
  src/panels/config/logs/error-log-card.ts
  src/panels/config/logs/system-log-card.ts
Labels: cla-signed, hacktoberfest

#7356 Add dialog-box warning support
  src/dialogs/generic/dialog-box.ts
  src/dialogs/generic/show-dialog-box.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/translations/en.json
Labels: cla-signed, hacktoberfest

#7396 Visual alignment between PR 7364 & 7220
  src/panels/developer-tools/template/developer-tools-template.ts
Labels: cla-signed, hacktoberfest

#7387 Quick Bar dark mode, ignore leading white space
  src/dialogs/quick-bar/ha-quick-bar.ts
Labels: cla-signed, hacktoberfest

#7400 bump node-vibrant to 3.1.6
  package.json
Labels: cla-signed, hacktoberfest

#7402 Fix syntax error
  README.md
Labels: cla-signed, hacktoberfest

#7399 Bump round-slider to 0.5.2
  package.json
  yarn.lock
Labels: cla-signed, hacktoberfest

#7403 Modified icons of binary sensors: gas, problem, safety, smoke
  src/common/entity/binary_sensor_icon.ts
Labels: hacktoberfest

#7367 Add scoring and sorting to sequence matcher
  .eslintrc.json
  src/common/string/filter/char-code.ts
  src/common/string/filter/filter.ts
  src/common/string/filter/sequence-matching.ts
  src/common/string/sequence_matching.ts
  src/dialogs/quick-bar/ha-quick-bar.ts
  test-mocha/common/string/sequence_matching.test.ts
Labels: cla-signed, hacktoberfest

#7388 Only admins can launch quick bar
  src/state/quick-bar-mixin.ts
Labels: cla-signed, hacktoberfest

#7404 Fix alignments in integration card
  src/panels/config/integrations/ha-integration-card.ts
Labels: cla-signed, hacktoberfest

#7401 Add entity filter to history panel
  src/data/history.ts
  src/panels/history/ha-panel-history.ts
  src/panels/logbook/ha-panel-logbook.ts
Labels: cla-signed, hacktoberfest

#7407 Pass updated cards and badges to view element
  src/panels/lovelace/views/hui-view.ts
Labels: cla-signed, hacktoberfest

#7397 Light hui & more-info card fixes
  src/components/ha-labeled-slider.js
  src/components/ha-slider.js
  src/dialogs/more-info/controls/more-info-light.ts
  src/panels/lovelace/cards/hui-light-card.ts
  src/resources/styles.ts
  src/state-summary/state-card-input_number.js
Labels: cla-signed, hacktoberfest

#7411 Fix Yarn lock
  yarn.lock
Labels: cla-signed, hacktoberfest

#7405 Change logic for the new version handling
  hassio/src/addon-store/hassio-addon-repository.ts
  hassio/src/addon-view/info/hassio-addon-info.ts
  hassio/src/components/hassio-card-content.ts
  hassio/src/dashboard/hassio-addons.ts
  hassio/src/dashboard/hassio-update.ts
  hassio/src/hassio-panel-router.ts
  hassio/src/hassio-router.ts
  hassio/src/system/hassio-host-info.ts
  hassio/src/system/hassio-supervisor-info.ts
  src/data/hassio/addon.ts
  src/data/hassio/host.ts
  src/data/hassio/supervisor.ts
Labels: cla-signed, hacktoberfest, supervisor

#7359 Improve performance of quick bar
  src/common/search/search-input.ts
  src/common/string/filter/sequence-matching.ts
  src/dialogs/quick-bar/ha-quick-bar.ts
  src/resources/styles.ts
Labels: cla-signed, hacktoberfest

#7416 Fix icon for unavailable buttons
  src/components/entity/state-badge.ts
  src/panels/lovelace/components/hui-buttons-base.ts
Labels: cla-signed, hacktoberfest

#7412 Fix prettier that keeps messing with merging dev
  hassio/src/system/hassio-system-metrics.ts
  src/components/entity/ha-chart-base.js
  src/components/ha-menu-button.ts
  src/panels/config/person/ha-config-person.ts
  src/panels/config/tags/ha-config-tags.ts
  src/panels/profile/ha-refresh-tokens-card.ts
Labels: cla-signed, hacktoberfest

#7369 Compact header
  src/components/ha-sidebar.ts
  src/components/ha-tabs.ts
  src/dialogs/notifications/notification-drawer.js
  src/layouts/hass-error-screen.ts
  src/layouts/hass-loading-screen.ts
  src/layouts/hass-subpage.ts
  src/layouts/hass-tabs-subpage-data-table.ts
  src/layouts/hass-tabs-subpage.ts
  src/panels/calendar/ha-panel-calendar.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/iframe/ha-panel-iframe.js
  src/panels/lovelace/cards/hui-starting-card.ts
  src/panels/lovelace/hui-root.ts
  src/panels/lovelace/views/hui-masonry-view.ts
  src/panels/lovelace/views/hui-panel-view.ts
  src/panels/mailbox/ha-dialog-show-audio-message.js
  src/panels/map/ha-panel-map.js
  src/panels/media-browser/ha-panel-media-browser.ts
  src/resources/ha-style.ts
  src/resources/styles.ts
  src/translations/en.json
Labels: cla-signed, hacktoberfest

#7413 Fix Firefox quick bar issue by allowing Ctrl+P to toggle modes
  src/dialogs/quick-bar/ha-quick-bar.ts
Labels: cla-signed, hacktoberfest

#7418 Fix position edit card dialog
  src/panels/lovelace/editor/card-editor/hui-dialog-edit-card.ts
Labels: cla-signed, hacktoberfest

#7182 Add context to event trigger
  src/components/user/ha-user-picker.ts
  src/components/user/ha-users-picker.ts
  src/data/automation.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-event.ts
  src/panels/config/person/dialog-person-detail.ts
  src/panels/config/zone/dialog-zone-detail.ts
  src/translations/en.json
Labels: cla-signed

#7419 Haos update button
  hassio/src/hassio-panel-router.ts
  hassio/src/hassio-router.ts
  hassio/src/system/hassio-host-info.ts
  hassio/src/system/hassio-supervisor-info.ts
  src/data/hassio/host.ts
Labels: cla-signed, hacktoberfest, supervisor

#7420 Fix mwc list items icon color
  src/dialogs/quick-bar/ha-quick-bar.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/resources/styles.ts
Labels: cla-signed, hacktoberfest

#7421 Fix no focus on first item when switching mode
  src/dialogs/quick-bar/ha-quick-bar.ts
Labels: cla-signed, hacktoberfest

#7423 Bump webpack
  build-scripts/webpack.js
  package.json
  yarn.lock
Labels: cla-signed, hacktoberfest

#7424 20201021.1
  build-scripts/webpack.js
  package.json
  setup.py
  yarn.lock
Labels: cla-signed, hacktoberfest

#7426 Fix quickbar debounce
  src/dialogs/quick-bar/ha-quick-bar.ts
Labels: cla-signed, hacktoberfest

#7433 Add last-updated as a secondaryinfo option to entity rows
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/components/hui-generic-entity-row.ts
  src/panels/lovelace/editor/config-elements/hui-generic-entity-row-editor.ts
  src/translations/en.json
Labels: cla-signed, documentation needed, hacktoberfest

#7444 Add outline color for dark buttons
  src/resources/styles.ts
Labels: cla-signed, hacktoberfest

#7451 Fix ES5 build, fix virtualizer polyfill
  build-scripts/bundle.js
  build-scripts/webpack.js
  package.json
  src/common/translations/localize.ts
  src/fake_data/provide_hass.ts
  src/managers/notification-manager.ts
  src/mixins/lit-localize-lite-mixin.ts
  src/resources/EventTarget-ponyfill.js
  src/state/translations-mixin.ts
Labels: cla-signed, hacktoberfest

#7427 Avoid fetching logbook data instead in addition to not displaying it
  src/dialogs/more-info/ha-more-info-dialog.ts
  src/dialogs/more-info/ha-more-info-logbook.ts
Labels: cla-signed, hacktoberfest

#7448 Fix capitalization of state attributes
  src/components/ha-attributes.ts
Labels: cla-signed, hacktoberfest

#7454 Pass narrow to masonry view to calc columns
  src/data/lovelace.ts
  src/panels/lovelace/hui-root.ts
  src/panels/lovelace/views/hui-masonry-view.ts
  src/panels/lovelace/views/hui-view.ts
Labels: cla-signed, hacktoberfest

#7439 Template dev tools: Print the type of the response and stringify objects
  src/panels/developer-tools/template/developer-tools-template.ts
  src/translations/en.json
Labels: cla-signed, hacktoberfest

#7408 Get rid of the unwanted tooltip copying
  src/panels/config/info/system-health-card.ts
Labels: cla-signed, hacktoberfest

#7430 Fix quick bar dark mode contrast, filter returning all items, no primary text
  src/common/string/filter/sequence-matching.ts
  src/dialogs/quick-bar/ha-quick-bar.ts
  src/resources/styles.ts
Labels: cla-signed, hacktoberfest

#7450 Update template time listener phrasing for core changes
  src/panels/developer-tools/template/developer-tools-template.ts
  src/translations/en.json
Labels: cla-signed, hacktoberfest, wait for backend

#7466 Ensure attribute values are consistently right aligned
  src/components/ha-attributes.ts
Labels: cla-signed, hacktoberfest

#7468 Allow discovered integration titles to line wrap
  src/panels/config/integrations/ha-config-integrations.ts
Labels: cla-signed, hacktoberfest

#7472 fix edit mode mwc-button size
  src/components/ha-sidebar.ts
Labels: cla-signed, hacktoberfest

#7458 Show cover attributes on the more-info card
  src/dialogs/more-info/controls/more-info-cover.js
Labels: cla-signed, hacktoberfest

#7475 Update translation for MQTT reload
  src/translations/en.json
Labels: cla-signed, hacktoberfest
