Repository home-assistant/frontend, pull requests merged in 2020-01, with the labels that each got.

#4392 Hide protection mode toggle if not usable
  hassio/src/addon-view/hassio-addon-info.js
Labels: cla-signed

#4403 Fix grammatical error
  src/translations/en.json
Labels: cla-signed

#4406 Fix area index selection on ZHA device card
  src/panels/config/zha/zha-device-card.ts
Labels: cla-signed

#4407 Disable ZHA device binding buttons when a device to bind isn't selected
  src/panels/config/zha/zha-binding.ts
Labels: cla-signed

#4382 Add group editing to the ZHA config panel
  src/data/zha.ts
  src/panels/config/zha/zha-devices-data-table.ts
  src/panels/config/zha/zha-group-page.ts
  src/translations/en.json
Labels: cla-signed

#4413 Change TRIGGER to EXECUTE
  src/translations/en.json
Labels: cla-signed

#4409 Add ha-subppage toolbar css styles
  src/layouts/hass-subpage.ts
  src/resources/ha-style.ts
Labels: cla-signed

#4396 Force rerender on update/save
  src/panels/lovelace/hui-editor.ts
Labels: cla-signed

#4414 Add UI for restored entities
  src/dialogs/more-info/more-info-controls.js
  src/translations/en.json
  src/util/hass-attributes-util.js
Labels: cla-signed

#4384 Add the ability to create new Zigbee groups to the ZHA config panel
  src/data/zha.ts
  src/panels/config/zha/zha-add-group-page.ts
  src/panels/config/zha/zha-config-panel.ts
  src/panels/config/zha/zha-groups-dashboard.ts
  src/translations/en.json
Labels: cla-signed

#4426 Make modal of Lovelace editor dialogs
  src/panels/lovelace/editor/lovelace-editor/hui-dialog-edit-lovelace.ts
  src/panels/lovelace/editor/view-editor/hui-edit-view.ts
Labels: cla-signed

#4424 Add multi select to entity registry
  src/common/search/search-input.ts
  src/components/data-table/ha-data-table.ts
  src/panels/config/entity_registry/dialog-entity-registry-detail.ts
  src/panels/config/entity_registry/ha-config-entity-registry.ts
  src/translations/en.json
Labels: cla-signed

#4435 Add alert when Google sync failed
  src/panels/config/cloud/account/cloud-google-pref.ts
  src/translations/en.json
Labels: cla-signed

#4438 Fix moving actions with data
  src/components/ha-yaml-editor.ts
  src/panels/config/automation/action/types/ha-automation-action-delay.ts
  src/panels/config/automation/action/types/ha-automation-action-event.ts
  src/panels/config/automation/action/types/ha-automation-action-service.ts
Labels: cla-signed

#4430 Add ability to remove Lovelace config
  cast/src/receiver/layout/hc-lovelace.ts
  src/data/lovelace.ts
  src/panels/lovelace/ha-panel-lovelace.ts
  src/panels/lovelace/hui-editor.ts
  src/panels/lovelace/types.ts
  src/translations/en.json
Labels: cla-signed

#4415 Rework the ZHA config panel
  src/panels/config/ha-panel-config.ts
  src/panels/config/zha/zha-binding.ts
  src/panels/config/zha/zha-cluster-attributes.ts
  src/panels/config/zha/zha-cluster-commands.ts
  src/panels/config/zha/zha-clusters.ts
  src/panels/config/zha/zha-config-dashboard-router.ts
  src/panels/config/zha/zha-config-dashboard.ts
  src/panels/config/zha/zha-device-card.ts
  src/panels/config/zha/zha-device-page.ts
  src/panels/config/zha/zha-groups-dashboard.ts
  src/panels/config/zha/zha-groups-tile.ts
  src/panels/config/zha/zha-network.ts
  src/panels/config/zha/zha-node.ts
  src/translations/en.json
Labels: cla-signed

#4350 ♻️ convert ha-attributes to lit-element
  src/components/ha-attributes.js
  src/components/ha-attributes.ts
Labels: cla-signed

#4443 Add configuration for Lock Threads on closed pull requests
  .github/lock.yml
Labels: cla-signed

#4445 Typo fix in issue template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: cla-signed

#4440 Make entry flow dialog modal
  src/dialogs/config-flow/dialog-data-entry-flow.ts
  src/dialogs/config-flow/step-flow-pick-handler.ts
  src/translations/en.json
Labels: cla-signed

#4449 Adds CSS var usage to person detail dialog
  src/panels/config/person/dialog-person-detail.ts
Labels: cla-signed

#4160 ♿ Add tabindex to lovelace elements
  src/components/buttons/ha-call-service-button.js
  src/panels/lovelace/badges/hui-state-label-badge.ts
  src/panels/lovelace/cards/hui-entity-button-card.ts
  src/panels/lovelace/cards/hui-gauge-card.ts
  src/panels/lovelace/cards/hui-glance-card.ts
  src/panels/lovelace/cards/hui-light-card.ts
  src/panels/lovelace/cards/hui-map-card.ts
  src/panels/lovelace/cards/hui-picture-card.ts
  src/panels/lovelace/cards/hui-picture-entity-card.ts
  src/panels/lovelace/cards/hui-picture-glance-card.ts
  src/panels/lovelace/cards/hui-plant-status-card.ts
  src/panels/lovelace/cards/hui-sensor-card.ts
  src/panels/lovelace/cards/hui-shopping-list-card.ts
  src/panels/lovelace/cards/hui-thermostat-card.ts
  src/panels/lovelace/cards/hui-weather-forecast-card.ts
  src/panels/lovelace/components/hui-generic-entity-row.ts
  src/panels/lovelace/elements/hui-icon-element.ts
  src/panels/lovelace/elements/hui-image-element.ts
  src/panels/lovelace/elements/hui-state-badge-element.ts
  src/panels/lovelace/elements/hui-state-icon-element.ts
  src/panels/lovelace/elements/hui-state-label-element.ts
  src/panels/lovelace/entity-rows/hui-input-select-entity-row.ts
Labels: cla-signed

#4450 Virtualize logbook
  package.json
  src/data/logbook.ts
  src/panels/logbook/ha-logbook.js
  src/panels/logbook/ha-logbook.ts
  src/panels/logbook/ha-panel-logbook.js
  yarn.lock
Labels: cla-signed

#4454 Use correct suffix for elevation
  src/onboarding/onboarding-core-config.ts
  src/panels/config/core/ha-config-core-form.ts
  src/translations/en.json
Labels: cla-signed

#4447 Improved map panel and map card to ignore zones when fitting map.
  src/panels/lovelace/cards/hui-map-card.ts
  src/panels/map/ha-panel-map.js
Labels: cla-signed

#4377 Change config panel navigation
  src/layouts/hass-subpage.ts
  src/panels/config/areas/dialog-area-registry-detail.ts
  src/panels/config/areas/ha-config-areas.ts
  src/panels/config/areas/show-dialog-area-registry-detail.ts
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/cloud/account/cloud-account.js
  src/panels/config/cloud/login/cloud-login.js
  src/panels/config/core/ha-config-core.js
  src/panels/config/customize/ha-config-customize.js
  src/panels/config/dashboard/ha-config-dashboard.ts
  src/panels/config/dashboard/ha-config-navigation.ts
  src/panels/config/devices/device-detail/ha-device-entities-card.ts
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/panels/config/devices/ha-config-devices.ts
  src/panels/config/entities/dialog-entity-registry-detail.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/entities/show-dialog-entity-registry-detail.ts
  src/panels/config/ha-config-router.ts
  src/panels/config/ha-config-section.js
  src/panels/config/ha-config-section.ts
  src/panels/config/ha-panel-config.ts
  src/panels/config/integrations/ha-config-entries-dashboard.ts
  src/panels/config/integrations/ha-config-integrations.ts
  src/panels/config/person/ha-config-person.ts
  src/panels/config/scene/ha-config-scene.ts
  src/panels/config/scene/ha-scene-dashboard.ts
  src/panels/config/scene/ha-scene-editor.ts
  src/panels/config/script/ha-script-picker.ts
  src/panels/config/server_control/ha-config-server-control.js
  src/panels/config/users/ha-config-user-picker.js
  src/panels/config/users/ha-config-users.js
  src/panels/config/zha/zha-config-dashboard.ts
  src/panels/config/zha/zha-device-page.ts
  src/panels/config/zwave/ha-config-zwave.js
  src/translations/en.json
Labels: cla-signed

#4462 Onboarding core: Display error message when saving fails
  src/onboarding/onboarding-core-config.ts
Labels: cla-signed

#4461 Force refresh tokens if external app
  src/entrypoints/core.ts
  src/external_app/external_auth.ts
Labels: cla-signed

#4467 Fix back btn for Polymer
  src/panels/config/cloud/account/cloud-account.js
  src/panels/config/cloud/login/cloud-login.js
  src/panels/config/core/ha-config-core.js
  src/panels/config/server_control/ha-config-server-control.js
  src/panels/config/users/ha-config-user-picker.js
Labels: cla-signed

#4469 Fix translations
  src/dialogs/config-entry-system-options/dialog-config-entry-system-options.ts
  src/dialogs/device-registry-detail/dialog-device-registry-detail.ts
  src/panels/config/areas/dialog-area-registry-detail.ts
  src/panels/config/areas/ha-config-areas.ts
  src/panels/config/devices/device-detail/ha-device-entities-card.ts
  src/panels/config/entities/dialog-entity-registry-detail.ts
  src/panels/config/entities/ha-config-entities.ts
  translations/af.json
  translations/ar.json
  translations/bg.json
  translations/ca.json
  translations/cs.json
  translations/cy.json
  translations/da.json
  translations/de.json
  translations/el.json
  translations/en.json
  translations/eo.json
  translations/es-419.json
  translations/es.json
  translations/et.json
  translations/eu.json
  translations/fa.json
  translations/fi.json
  translations/fr.json
  translations/he.json
  translations/hi.json
  translations/hr.json
  translations/hu.json
  translations/hy.json
  translations/id.json
  translations/is.json
  translations/it.json
  translations/ja.json
  translations/ko.json
  translations/lb.json
  translations/lt.json
  translations/lv.json
  translations/nb.json
  translations/nl.json
  translations/nn.json
  translations/pl.json
  translations/pt-BR.json
  translations/pt.json
  translations/ro.json
  translations/ru.json
  translations/sk.json
  translations/sl.json
  translations/sv.json
  translations/th.json
  translations/tr.json
  translations/uk.json
  translations/vi.json
  translations/zh-Hans.json
  translations/zh-Hant.json
Labels: cla-signed

#4465 Catch undefined cloudstatus
  src/panels/config/dashboard/ha-config-dashboard.ts
Labels: cla-signed

#4470 Fix zha back btn
  src/panels/config/zha/zha-config-dashboard.ts
Labels: cla-signed

#4463 Add DEPRECATED to states ui
  src/panels/developer-tools/info/developer-tools-info.ts
  src/panels/states/ha-panel-states.js
Labels: cla-signed

#4475 Styling fixes
  src/panels/config/cloud/alexa/cloud-alexa.ts
  src/panels/config/cloud/google-assistant/cloud-google-assistant.ts
  src/panels/config/dashboard/ha-config-navigation.ts
Labels: cla-signed

#4474 Disable adoptedStyleSheets in dev
  src/entrypoints/core.ts
Labels: cla-signed

#4476 Add edit btn to more info for scene, script and automation
  src/dialogs/more-info/more-info-controls.js
  src/translations/en.json
Labels: cla-signed

#4481 Handle unknown state
  src/panels/config/devices/ha-devices-data-table.ts
  src/panels/lovelace/entity-rows/hui-sensor-entity-row.ts
Labels: cla-signed

#4480 Suggest card: Don't ask to choose view when only 1 view
  src/panels/lovelace/editor/add-entities-to-view.ts
  src/translations/en.json
Labels: cla-signed

#4483 Styling focus menus
  src/components/ha-sidebar.ts
  src/panels/config/dashboard/ha-config-navigation.ts
  src/panels/config/ha-panel-config.ts
Labels: cla-signed

#4486 Fix ZHA add device path.
  src/panels/config/zha/zha-device-card.ts
Labels: bug, cla-signed

#4487 Hide device trackers from generated lovelace
  src/panels/lovelace/common/generate-lovelace-config.ts
Labels: cla-signed

#4488 Fix data table selection check when id isn't a string
  src/components/data-table/ha-data-table.ts
Labels: cla-signed

#4495 🐛 fix picture glance card's camera_view option in editor
  src/panels/lovelace/editor/config-elements/hui-picture-glance-card-editor.ts
Labels: cla-signed

#4500 📝 make some Lovelace UI text more clear
  src/translations/en.json
Labels: cla-signed

#4466 Add group binding to the ZHA config panel and misc. cleanup
  src/data/zha.ts
  src/dialogs/zha-device-info-dialog/dialog-zha-device-info.ts
  src/panels/config/zha/functions.ts
  src/panels/config/zha/zha-add-devices-page.ts
  src/panels/config/zha/zha-add-group-page.ts
  src/panels/config/zha/zha-clusters-data-table.ts
  src/panels/config/zha/zha-clusters.ts
  src/panels/config/zha/zha-config-dashboard.ts
  src/panels/config/zha/zha-device-binding.ts
  src/panels/config/zha/zha-device-card.ts
  src/panels/config/zha/zha-device-page.ts
  src/panels/config/zha/zha-group-binding.ts
  src/panels/config/zha/zha-group-page.ts
  src/panels/config/zha/zha-groups-dashboard.ts
  src/panels/config/zha/zha-groups-data-table.ts
  src/panels/config/zha/zha-node.ts
  src/translations/en.json
Labels: cla-signed

#4485 Alert user when using ingress but add-on is not started
  hassio/src/hassio-main.ts
Labels: cla-signed

#4505 Don't use light card in generated Lovelace mode
  src/panels/lovelace/common/generate-lovelace-config.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-suggest-card.ts
Labels: cla-signed

#4494 🐛 make picture card tabbable only if action set
  src/panels/lovelace/cards/hui-picture-card.ts
Labels: cla-signed

#4508 Makes the dialog respond to touches on mobile
  src/panels/lovelace/components/hui-card-options.ts
Labels: cla-signed

#4498 🐛 fix display of current/set temperature when 0
  src/panels/lovelace/cards/hui-thermostat-card.ts
Labels: cla-signed

#4509 Refactor create element
  gallery/src/components/demo-card.js
  src/panels/lovelace/badges/hui-entity-filter-badge.ts
  src/panels/lovelace/cards/hui-conditional-card.ts
  src/panels/lovelace/cards/hui-entities-card.ts
  src/panels/lovelace/cards/hui-entity-filter-card.ts
  src/panels/lovelace/cards/hui-stack-card.ts
  src/panels/lovelace/cards/picture-elements/create-styled-hui-element.ts
  src/panels/lovelace/common/create-badge-element.ts
  src/panels/lovelace/common/create-card-element.ts
  src/panels/lovelace/common/create-hui-element.ts
  src/panels/lovelace/common/create-row-element.ts
  src/panels/lovelace/create-element/create-badge-element.ts
  src/panels/lovelace/create-element/create-card-element.ts
  src/panels/lovelace/create-element/create-element-base.ts
  src/panels/lovelace/create-element/create-hui-element.ts
  src/panels/lovelace/create-element/create-row-element.ts
  src/panels/lovelace/editor/card-editor/hui-card-preview.ts
  src/panels/lovelace/views/hui-panel-view.ts
  src/panels/lovelace/views/hui-view.ts
Labels: cla-signed

#4520 Update Material Design Icons to v4.8.95
  package.json
  yarn.lock
Labels: cla-signed

#4516 Bring back chevrons
  src/panels/config/dashboard/ha-config-dashboard.ts
  src/panels/config/dashboard/ha-config-navigation.ts
Labels: cla-signed

#4511 ♿ only set tabindex if tap_action defined
  src/panels/lovelace/badges/hui-state-label-badge.ts
  src/panels/lovelace/cards/hui-entity-button-card.ts
  src/panels/lovelace/cards/hui-glance-card.ts
  src/panels/lovelace/cards/hui-picture-card.ts
  src/panels/lovelace/cards/hui-picture-entity-card.ts
  src/panels/lovelace/cards/hui-picture-glance-card.ts
  src/panels/lovelace/components/hui-generic-entity-row.ts
  src/panels/lovelace/elements/hui-icon-element.ts
  src/panels/lovelace/elements/hui-image-element.ts
  src/panels/lovelace/elements/hui-state-badge-element.ts
  src/panels/lovelace/elements/hui-state-icon-element.ts
  src/panels/lovelace/elements/hui-state-label-element.ts
  src/panels/lovelace/entity-rows/hui-input-select-entity-row.ts
Labels: cla-signed

#4501 🚸 prompt user to confirm logout
  src/panels/profile/ha-panel-profile.ts
  src/translations/en.json
Labels: cla-signed

#4523 Adds error to shopinglist card editor if integration is not loaded
  src/panels/lovelace/editor/config-elements/hui-shopping-list-editor.ts
  src/translations/en.json
Labels: cla-signed

#4514 📝 clarify what conditions in automations are
  src/translations/en.json
Labels: cla-signed

#4522 Clean up display of ZHA device page
  src/panels/config/zha/zha-cluster-attributes.ts
  src/panels/config/zha/zha-cluster-commands.ts
  src/panels/config/zha/zha-clusters.ts
  src/panels/config/zha/zha-device-binding.ts
  src/panels/config/zha/zha-group-binding.ts
  src/panels/config/zha/zha-node.ts
Labels: cla-signed

#4533 Remove obsolete homebridge_* attributes
  src/util/hass-attributes-util.js
Labels: cla-signed

#4521 Add the "add all device entities to Lovelace" functionality to ZHA device card
  src/panels/config/zha/zha-device-card.ts
  src/panels/config/zha/zha-node.ts
Labels: cla-signed

#4496 Add header/footer support to entities card
  src/panels/lovelace/cards/hui-entities-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/create-element/create-element-base.ts
  src/panels/lovelace/create-element/create-header-footer-element.ts
  src/panels/lovelace/editor/config-elements/hui-entities-card-editor.ts
  src/panels/lovelace/header-footer/hui-picture-header-footer.ts
  src/panels/lovelace/header-footer/types.ts
  src/panels/lovelace/types.ts
Labels: cla-signed

#4531 Fix missing text device entities
  src/panels/config/devices/device-detail/ha-device-entities-card.ts
Labels: cla-signed

#4532 Fix alignment entities card header toggle
  src/panels/lovelace/cards/hui-entities-card.ts
Labels: cla-signed

#4546 ♻️ convert more-info-default to LitElement/TypeScript
  src/dialogs/more-info/controls/more-info-default.js
  src/dialogs/more-info/controls/more-info-default.ts
Labels: cla-signed

#4547 ♻️ convert more-info-automation to LitElement/TypeScript
  src/dialogs/more-info/controls/more-info-automation.js
  src/dialogs/more-info/controls/more-info-automation.ts
Labels: cla-signed

#4541 Update ZHA config panel to handle the addition of ZHA devices for the Zigbee coordinator
  src/dialogs/zha-device-info-dialog/dialog-zha-device-info.ts
  src/panels/config/zha/zha-device-card.ts
  src/panels/config/zha/zha-device-page.ts
  src/panels/config/zha/zha-node.ts
Labels: cla-signed

#4442 add never_triggered
  src/panels/lovelace/components/hui-generic-entity-row.ts
  src/translations/en.json
Labels: cla-signed

#4550 Force booleans on single row
  src/components/ha-form/ha-form-boolean.ts
Labels: cla-signed

#4543 Hide blank manufacturer names on Device details page
  src/panels/config/devices/device-detail/ha-device-card.ts
Labels: cla-signed

#4551 Add stalebot
  .github/stale.yml
Labels: cla-signed

#4557 Fix lovelace reload button on error page
  src/panels/lovelace/ha-panel-lovelace.ts
Labels: cla-signed

#4559 Fix string type in ha-form-string
  src/auth/ha-authorize.ts
  src/components/ha-form/ha-form-string.ts
Labels: cla-signed

#4558 Use state icon in logbook instead of domain icon
  src/panels/logbook/ha-logbook.ts
Labels: cla-signed

#4544 🔥 remove more-info-updater
  src/dialogs/more-info/controls/more-info-content.ts
  src/dialogs/more-info/controls/more-info-updater.js
Labels: cla-signed

#4553 Update issue and PR templates
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: cla-signed

#4556 Add zones config UI
  package.json
  src/common/dom/setup-leaflet-map.ts
  src/components/map/ha-location-editor.ts
  src/components/map/ha-locations-editor.ts
  src/data/zone.ts
  src/panels/config/dashboard/ha-config-dashboard.ts
  src/panels/config/ha-config-router.ts
  src/panels/config/ha-panel-config.ts
  src/panels/config/server_control/ha-config-section-server-control.js
  src/panels/config/zone/dialog-zone-detail.ts
  src/panels/config/zone/ha-config-zone.ts
  src/panels/config/zone/show-dialog-zone-detail.ts
  src/translations/en.json
  yarn.lock
Labels: cla-signed, wait for backend

#4545 ♻️ convert more-info-script to LitElement/TypeScript
  src/dialogs/more-info/controls/more-info-script.js
  src/dialogs/more-info/controls/more-info-script.ts
  src/translations/en.json
Labels: cla-signed

#4563 Add netlify pipeline
  azure-pipelines-netlify.yml
Labels: cla-signed

#4473 Add state and related to entity reg dialog
  src/components/ha-related-items.ts
  src/data/search.ts
  src/dialogs/ha-more-info-dialog.js
  src/dialogs/make-dialog-manager.ts
  src/dialogs/more-info/more-info-controls.js
  src/dialogs/more-info/more-info-settings.js
  src/panels/config/entities/dialog-entity-registry-detail.ts
  src/panels/config/entities/entity-registry-settings.ts
  src/panels/config/entities/ha-config-entities.ts
  src/translations/en.json
Labels: cla-signed

#4570 ♿ close card editor on ESC
  src/panels/lovelace/editor/card-editor/hui-dialog-edit-card.ts
Labels: cla-signed

#4510 💄 additional active icon states
  src/common/entity/compute_active_state.ts
  src/common/style/icon_color_css.ts
  src/components/entity/state-badge.ts
  src/panels/lovelace/cards/hui-entities-card.ts
  src/panels/lovelace/cards/hui-entity-button-card.ts
  src/panels/lovelace/cards/hui-glance-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/components/hui-generic-entity-row.ts
  src/panels/lovelace/elements/hui-state-icon-element.ts
  src/panels/lovelace/entity-rows/hui-input-select-entity-row.ts
Labels: cla-signed, documentation needed

#4585 ⏪ revert fix for card editor overflow menu selection
  src/panels/lovelace/components/hui-card-options.ts
Labels: cla-signed

#4584 🐛 fix editor switches
  src/panels/config/devices/device-detail/ha-device-entities-card.ts
  src/panels/lovelace/components/hui-entities-toggle.ts
  src/panels/lovelace/editor/config-elements/hui-entities-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-entity-button-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-gauge-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-glance-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-map-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-picture-entity-card-editor.ts
  src/panels/lovelace/editor/view-editor/hui-view-editor.ts
Labels: cla-signed

#4569 ✨ add conditional row
  demo/src/custom-cards/cast-demo-row.ts
  src/panels/lovelace/cards/hui-conditional-card.ts
  src/panels/lovelace/cards/hui-entities-card.ts
  src/panels/lovelace/common/generate-lovelace-config.ts
  src/panels/lovelace/components/hui-conditional-base.ts
  src/panels/lovelace/components/types.ts
  src/panels/lovelace/create-element/create-element-base.ts
  src/panels/lovelace/create-element/create-row-element.ts
  src/panels/lovelace/entity-rows/hui-climate-entity-row.ts
  src/panels/lovelace/entity-rows/hui-cover-entity-row.ts
  src/panels/lovelace/entity-rows/hui-group-entity-row.ts
  src/panels/lovelace/entity-rows/hui-input-datetime-entity-row.ts
  src/panels/lovelace/entity-rows/hui-input-number-entity-row.ts
  src/panels/lovelace/entity-rows/hui-input-select-entity-row.ts
  src/panels/lovelace/entity-rows/hui-input-text-entity-row.ts
  src/panels/lovelace/entity-rows/hui-lock-entity-row.ts
  src/panels/lovelace/entity-rows/hui-media-player-entity-row.ts
  src/panels/lovelace/entity-rows/hui-scene-entity-row.ts
  src/panels/lovelace/entity-rows/hui-script-entity-row.ts
  src/panels/lovelace/entity-rows/hui-sensor-entity-row.ts
  src/panels/lovelace/entity-rows/hui-text-entity-row.ts
  src/panels/lovelace/entity-rows/hui-toggle-entity-row.ts
  src/panels/lovelace/entity-rows/types.ts
  src/panels/lovelace/special-rows/hui-call-service-row.ts
  src/panels/lovelace/special-rows/hui-cast-row.ts
  src/panels/lovelace/special-rows/hui-conditional-row.ts
  src/panels/lovelace/special-rows/hui-divider-row.ts
  src/panels/lovelace/special-rows/hui-section-row.ts
  src/panels/lovelace/special-rows/hui-weblink-row.ts
Labels: cla-signed, documentation added

#4591 Fix Mobile Entity Registry Delete Button
  src/panels/config/entities/ha-config-entities.ts
Labels: cla-signed

#4592 Fix alarm card editor
  src/panels/lovelace/editor/config-elements/hui-alarm-panel-card-editor.ts
Labels: cla-signed

#4590 Fit map if an entity moved
  src/panels/lovelace/cards/hui-map-card.ts
Labels: cla-signed

#4587 💄 move advanced mode toggle
  src/panels/profile/ha-advanced-mode-card.ts
  src/panels/profile/ha-advanced-mode-row.ts
  src/panels/profile/ha-panel-profile.ts
  src/translations/en.json
Labels: cla-signed

#4575 Fix entity registry dialog translations
  src/panels/config/entities/dialog-entity-registry-detail.ts
  src/panels/config/entities/entity-registry-settings.ts
  src/translations/en.json
Labels: cla-signed

#4583 🐛 don't remove key when value is empty
  src/panels/lovelace/editor/config-elements/hui-markdown-card-editor.ts
Labels: cla-signed

#4582 💄 align light card regardless of brightness support
  src/panels/lovelace/cards/hui-light-card.ts
Labels: cla-signed

#4571 ✨ add action_name option for scene/script rows
  src/panels/lovelace/entity-rows/hui-scene-entity-row.ts
  src/panels/lovelace/entity-rows/hui-script-entity-row.ts
  src/panels/lovelace/entity-rows/types.ts
  src/panels/lovelace/special-rows/hui-call-service-row.ts
  src/translations/en.json
Labels: cla-signed, documentation added

#4576 Improve zones UI
  src/common/location/add_distance_to_coord.ts
  src/components/device/ha-area-devices-picker.ts
  src/components/ha-dialog.ts
  src/components/ha-switch.ts
  src/components/map/ha-location-editor.ts
  src/components/map/ha-locations-editor.ts
  src/data/zone.ts
  src/panels/config/ha-panel-config.ts
  src/panels/config/person/dialog-person-detail.ts
  src/panels/config/zone/dialog-zone-detail.ts
  src/panels/config/zone/ha-config-zone.ts
  src/panels/map/ha-panel-map.js
  src/translations/en.json
Labels: cla-signed

#4589 Fix menu button for touch
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/integrations/ha-config-entries-dashboard.ts
  src/panels/lovelace/components/hui-card-options.ts
Labels: cla-signed

#4603 💄 color lights unless explicitly set not to
  src/components/entity/state-badge.ts
Labels: cla-signed

#4606 Fix stale user given name display on ZHA device card
  src/panels/config/zha/zha-device-card.ts
Labels: cla-signed

#4600 🐛 fix severity toggle in gauge card editor
  src/panels/lovelace/editor/config-elements/hui-gauge-card-editor.ts
Labels: cla-signed

#4598 Allow options flow to define form title/description
  src/dialogs/config-flow/show-dialog-options-flow.ts
Labels: cla-signed

#4597 Automatically strip area name from entities
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/common/generate-lovelace-config.ts
Labels: cla-signed

#4579 Move get dialog logic entity registry
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/entities/show-dialog-entity-registry-detail.ts
Labels: cla-signed

#4114 Merge Confirmation Dialogs into Alert, Confirmation or Prompt
  src/components/buttons/ha-call-service-button.js
  src/dialogs/config-flow/step-flow-create-entry.ts
  src/dialogs/confirmation/show-dialog-confirmation.ts
  src/dialogs/generic/dialog-box.ts
  src/dialogs/generic/show-dialog-box.ts
  src/dialogs/more-info/more-info-controls.js
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/entities/entity-registry-settings.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/integrations/config-entry/ha-config-entry-page.ts
  src/panels/config/integrations/ha-config-entries-dashboard.ts
  src/panels/config/scene/ha-scene-editor.ts
  src/panels/config/script/ha-script-editor.ts
  src/panels/config/users/ha-user-editor.ts
  src/panels/developer-tools/event/developer-tools-event.js
  src/panels/developer-tools/service/developer-tools-service.js
  src/panels/developer-tools/state/developer-tools-state.js
  src/panels/lovelace/editor/delete-card.ts
  src/panels/lovelace/editor/view-editor/hui-edit-view.ts
  src/panels/lovelace/hui-editor.ts
  src/panels/lovelace/hui-root.ts
  src/panels/profile/ha-long-lived-access-tokens-card.js
  src/panels/profile/ha-panel-profile.ts
  src/translations/en.json
Labels: cla-signed

#4398 Convert Hass.io panel to TS/Lit
  build-scripts/webpack.js
  hassio/src/addon-store/hassio-addon-repository.ts
  hassio/src/addon-store/hassio-addon-store.ts
  hassio/src/addon-store/hassio-repositories-editor.ts
  hassio/src/addon-view/hassio-addon-audio.js
  hassio/src/addon-view/hassio-addon-audio.ts
  hassio/src/addon-view/hassio-addon-config.js
  hassio/src/addon-view/hassio-addon-config.ts
  hassio/src/addon-view/hassio-addon-info.js
  hassio/src/addon-view/hassio-addon-info.ts
  hassio/src/addon-view/hassio-addon-logs.js
  hassio/src/addon-view/hassio-addon-logs.ts
  hassio/src/addon-view/hassio-addon-network.js
  hassio/src/addon-view/hassio-addon-network.ts
  hassio/src/addon-view/hassio-addon-view.js
  hassio/src/addon-view/hassio-addon-view.ts
  hassio/src/ansi-to-html.ts
  hassio/src/components/hassio-filter-addons.ts
  hassio/src/dashboard/hassio-addons.js
  hassio/src/dashboard/hassio-addons.ts
  hassio/src/dashboard/hassio-dashboard.ts
  hassio/src/dashboard/hassio-update.ts
  hassio/src/dialogs/markdown/dialog-hassio-markdown.ts
  hassio/src/dialogs/snapshot/dialog-hassio-snapshot.ts
  hassio/src/entrypoint.ts
  hassio/src/hassio-main.ts
  hassio/src/hassio-pages-with-tabs.ts
  hassio/src/hassio-tabs-router.ts
  hassio/src/ingress-view/hassio-ingress-view.ts
  hassio/src/resources/hassio-style.ts
  hassio/src/snapshots/hassio-snapshots.ts
  hassio/src/system/hassio-host-info.js
  hassio/src/system/hassio-host-info.ts
  hassio/src/system/hassio-supervisor-info.js
  hassio/src/system/hassio-supervisor-info.ts
  hassio/src/system/hassio-supervisor-log.js
  hassio/src/system/hassio-supervisor-log.ts
  hassio/src/system/hassio-system.js
  hassio/src/system/hassio-system.ts
  package.json
  src/data/hassio.ts
  src/data/hassio/addon.ts
  src/data/hassio/common.ts
  src/data/hassio/hardware.ts
  src/data/hassio/host.ts
  src/data/hassio/snapshot.ts
  src/data/hassio/supervisor.ts
Labels: cla-signed

#4608 Add area picker
  src/components/ha-area-picker.ts
  src/dialogs/config-flow/dialog-data-entry-flow.ts
  src/dialogs/config-flow/step-flow-create-entry.ts
  src/dialogs/device-registry-detail/dialog-device-registry-detail.ts
  src/dialogs/generic/dialog-box.ts
  src/translations/en.json
Labels: cla-signed

#4601 Add buttons header-footer
  src/components/entity/state-badge.ts
  src/panels/lovelace/cards/hui-entities-card.ts
  src/panels/lovelace/common/compute-tooltip.ts
  src/panels/lovelace/create-element/create-header-footer-element.ts
  src/panels/lovelace/editor/config-elements/hui-entities-card-editor.ts
  src/panels/lovelace/header-footer/hui-buttons-header-footer.ts
  src/panels/lovelace/header-footer/types.ts
Labels: cla-signed

#4633 Fixes status switch spacing
  hassio/src/addon-view/hassio-addon-info.ts
Labels: cla-signed

#4634 Corrects add-on link
  hassio/src/addon-view/hassio-addon-info.ts
Labels: cla-signed

#4630 Change config navigation to tabs
  src/common/entity/domain_icon.ts
  src/components/ha-menu-button.ts
  src/layouts/hass-loading-screen.ts
  src/layouts/hass-subpage.ts
  src/layouts/hass-tabs-subpage.ts
  src/panels/config/areas/ha-config-areas.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/automation/ha-config-automation.js
  src/panels/config/cloud/account/cloud-account.js
  src/panels/config/cloud/alexa/cloud-alexa.ts
  src/panels/config/cloud/google-assistant/cloud-google-assistant.ts
  src/panels/config/cloud/login/cloud-login.js
  src/panels/config/core/ha-config-core.js
  src/panels/config/customize/ha-config-customize.js
  src/panels/config/dashboard/ha-config-dashboard.ts
  src/panels/config/dashboard/ha-config-navigation.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/panels/config/devices/ha-config-devices.ts
  src/panels/config/entities/entity-registry-settings.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/ha-config-router.ts
  src/panels/config/ha-config-section.ts
  src/panels/config/ha-panel-config.ts
  src/panels/config/integrations/ha-config-entries-dashboard.ts
  src/panels/config/integrations/ha-config-integrations.ts
  src/panels/config/person/ha-config-person.ts
  src/panels/config/scene/ha-config-scene.ts
  src/panels/config/scene/ha-scene-dashboard.ts
  src/panels/config/scene/ha-scene-editor.ts
  src/panels/config/script/ha-config-script.js
  src/panels/config/script/ha-script-editor.ts
  src/panels/config/script/ha-script-picker.ts
  src/panels/config/server_control/ha-config-server-control.js
  src/panels/config/users/ha-config-user-picker.js
  src/panels/config/users/ha-config-users.js
  src/panels/config/users/ha-user-editor.ts
  src/panels/config/zone/ha-config-zone.ts
Labels: cla-signed

#4635 Fixes add-on install button
  hassio/src/addon-view/hassio-addon-info.ts
Labels: cla-signed

#4632 Add styles to addon-header
  hassio/src/addon-view/hassio-addon-info.ts
Labels: cla-signed

#4645 Remove balloob from cast page
  cast/src/launcher/layout/hc-layout.ts
Labels: cla-signed

#4646 Only update disabled for entity reg if it is a user value.
  src/panels/config/entities/entity-registry-settings.ts
Labels: cla-signed

#4642 Make dialogs full width on mobile, and modal
  src/components/ha-dialog.ts
  src/panels/config/person/dialog-person-detail.ts
  src/panels/config/zone/dialog-zone-detail.ts
Labels: cla-signed

#4647 Fix translation advanced mode
  src/panels/config/dashboard/ha-config-dashboard.ts
  src/translations/en.json
Labels: cla-signed

#4639 Fix action directive double tab iOS issues
  src/panels/lovelace/common/directives/action-handler-directive.ts
Labels: cla-signed

#4641 Add settings button to map panel
  src/panels/map/ha-panel-map.js
Labels: cla-signed

#4667 Restore back buttons
  src/panels/config/dashboard/ha-config-dashboard.ts
  src/panels/config/zha/zha-config-dashboard.ts
  src/panels/config/zwave/ha-config-zwave.js
Labels: cla-signed

#4668 Zone ui fixes
  src/components/map/ha-location-editor.ts
  src/components/map/ha-locations-editor.ts
  src/panels/config/ha-panel-config.ts
  src/panels/config/zone/dialog-zone-detail.ts
  src/panels/config/zone/ha-config-zone.ts
Labels: cla-signed

#4671 Device info page fixes
  src/components/ha-chips.ts
  src/panels/config/devices/device-detail/ha-device-automation-card.ts
  src/panels/config/devices/device-detail/ha-device-automation-dialog.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/config/scene/ha-config-scene.ts
  src/panels/config/scene/ha-scene-editor.ts
  src/translations/en.json
Labels: cla-signed

#4673 Fix tooltip in sidemenu
  src/components/ha-sidebar.ts
Labels: cla-signed

#4674 Fix flex issues on google and alexa settings page
  src/layouts/hass-subpage.ts
  src/panels/config/cloud/alexa/cloud-alexa.ts
  src/panels/config/cloud/google-assistant/cloud-google-assistant.ts
Labels: cla-signed

#4672 20200130.0
  setup.py
  src/components/ha-chips.ts
  src/components/ha-sidebar.ts
  src/components/map/ha-location-editor.ts
  src/components/map/ha-locations-editor.ts
  src/layouts/hass-subpage.ts
  src/panels/config/cloud/alexa/cloud-alexa.ts
  src/panels/config/cloud/google-assistant/cloud-google-assistant.ts
  src/panels/config/dashboard/ha-config-dashboard.ts
  src/panels/config/devices/device-detail/ha-device-automation-card.ts
  src/panels/config/devices/device-detail/ha-device-automation-dialog.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/config/ha-panel-config.ts
  src/panels/config/scene/ha-config-scene.ts
  src/panels/config/scene/ha-scene-editor.ts
  src/panels/config/zha/zha-config-dashboard.ts
  src/panels/config/zone/dialog-zone-detail.ts
  src/panels/config/zone/ha-config-zone.ts
  src/panels/config/zwave/ha-config-zwave.js
  src/translations/en.json
  translations/ca.json
  translations/cs.json
  translations/cy.json
  translations/da.json
  translations/de.json
  translations/el.json
  translations/en.json
  translations/eo.json
  translations/es-419.json
  translations/es.json
  translations/fi.json
  translations/fr.json
  translations/he.json
  translations/hr.json
  translations/hu.json
  translations/it.json
  translations/ja.json
  translations/ko.json
  translations/lb.json
  translations/lt.json
  translations/lv.json
  translations/nb.json
  translations/nl.json
  translations/pl.json
  translations/pt-BR.json
  translations/pt.json
  translations/ro.json
  translations/ru.json
  translations/sl.json
  translations/sv.json
  translations/tr.json
  translations/uk.json
  translations/zh-Hans.json
  translations/zh-Hant.json
Labels: cla-signed

#4684 Styling zone menu
  src/panels/config/devices/device-detail/ha-device-entities-card.ts
  src/panels/config/zone/ha-config-zone.ts
Labels: cla-signed

#4697 🐛 fix tabindex for default entity more-info actions
  src/panels/lovelace/badges/hui-state-label-badge.ts
  src/panels/lovelace/cards/hui-picture-entity-card.ts
  src/panels/lovelace/components/hui-generic-entity-row.ts
  src/panels/lovelace/entity-rows/hui-input-select-entity-row.ts
Labels: cla-signed
