Repository home-assistant/frontend, pull requests merged in 2020-09, with the labels that each got.

#6696 Allow exposing domains in cloud
  src/data/cloud.ts
  src/dialogs/domain-toggler/dialog-domain-toggler.ts
  src/dialogs/domain-toggler/show-dialog-domain-toggler.ts
  src/panels/config/cloud/alexa/cloud-alexa.ts
  src/panels/config/cloud/google-assistant/cloud-google-assistant.ts
  src/translations/en.json
Labels: cla-signed

#6755 Allow to move and hide sidebar items
  package.json
  src/common/decorators/local-storage.ts
  src/components/ha-sidebar-sort-styles.ts
  src/components/ha-sidebar.ts
  src/data/lovelace.ts
  src/panels/lovelace/common/directives/action-handler-directive.ts
  yarn.lock
Labels: WTH, cla-signed

#6768 Don't show NM before 115
  hassio/src/system/hassio-host-info.ts
Labels: cla-signed, supervisor

#6767 Handle connection drops when upgrading
  hassio/src/dashboard/hassio-update.ts
Labels: cla-signed, supervisor

#6771 Fix layout of domain toggler dialog
  src/dialogs/domain-toggler/dialog-domain-toggler.ts
Labels: cla-signed

#6738 hassio-host-info feedback
  hassio/src/system/hassio-host-info.ts
Labels: cla-signed, supervisor

#6735 hassio-snapshots feedback
  hassio/src/snapshots/hassio-snapshots.ts
Labels: cla-signed, supervisor

#6733 hassio-addon-network feedback
  hassio/src/addon-view/config/hassio-addon-network.ts
Labels: cla-signed, supervisor

#6737 hassio-supervisor-info feedback
  hassio/src/system/hassio-supervisor-info.ts
Labels: cla-signed, supervisor

#6731 hassio-addon-audio feedback
  hassio/src/addon-view/config/hassio-addon-audio.ts
Labels: cla-signed, supervisor

#6732 hassio-addon-config feedback
  hassio/src/addon-view/config/hassio-addon-config.ts
Labels: cla-signed, supervisor

#6736 hassio-supervisor-log feedback
  hassio/src/system/hassio-supervisor-log.ts
Labels: cla-signed, supervisor

#6775 Fix action handler for touch
  src/panels/lovelace/common/directives/action-handler-directive.ts
Labels: cla-signed

#6700 Add static color for home and not_home states
  src/components/state-history-chart-timeline.js
Labels: cla-signed

#6773 Generalize reloadableDomains
  src/panels/config/entities/dialog-entity-editor.ts
  src/panels/config/server_control/ha-config-server-control.ts
  src/translations/en.json
Labels: cla-signed

#6777 Fix shouldHandleRequestSelectedEvent
  src/common/mwc/handle-request-selected-event.ts
Labels: cla-signed

#6734 hassio-addon-info feedback
  hassio/src/addon-view/info/hassio-addon-info.ts
  src/data/hassio/addon.ts
  src/data/hassio/common.ts
Labels: cla-signed, supervisor

#6759 Update reloadables to include telegram/smtp/mqtt
  src/translations/en.json
Labels: WTH, cla-signed

#6781 Add input field to ha form integer when it has a min and max
  src/components/ha-form/ha-form-integer.ts
  src/components/ha-paper-slider.js
Labels: cla-signed

#6758 More Info: Add History Tab
  src/data/logbook.ts
  src/dialogs/more-info/ha-more-info-dialog.ts
  src/dialogs/more-info/ha-more-info-tab-history.ts
  src/panels/logbook/ha-logbook.ts
  src/translations/en.json
Labels: cla-signed

#6693 Card Picker: Entity Picker
  src/panels/lovelace/editor/card-editor/hui-card-picker.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-create-card.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-edit-card.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-suggest-card.ts
  src/panels/lovelace/editor/card-editor/hui-entity-picker-table.ts
  src/panels/lovelace/editor/card-editor/show-create-card-dialog.ts
  src/panels/lovelace/editor/unused-entities/hui-unused-entities.ts
  src/panels/lovelace/views/hui-view.ts
  src/translations/en.json
Labels: cla-signed

#6784 Add person picture to user badge
  src/components/ha-sidebar.ts
  src/components/user/ha-user-badge.ts
  src/components/user/ha-user-picker.ts
  src/panels/config/person/ha-config-person.ts
Labels: cla-signed

#6782 Error extraction and target cleanup
  hassio/src/addon-store/hassio-addon-store.ts
  hassio/src/addon-view/config/hassio-addon-audio.ts
  hassio/src/addon-view/config/hassio-addon-config.ts
  hassio/src/addon-view/config/hassio-addon-network.ts
  hassio/src/addon-view/documentation/hassio-addon-documentation-tab.ts
  hassio/src/addon-view/info/hassio-addon-info.ts
  hassio/src/addon-view/log/hassio-addon-logs.ts
  hassio/src/dashboard/hassio-update.ts
  hassio/src/dialogs/network/dialog-hassio-network.ts
  hassio/src/dialogs/repositories/dialog-hassio-repositories.ts
  hassio/src/dialogs/snapshot/dialog-hassio-snapshot.ts
  hassio/src/dialogs/suggestAddonRestart.ts
  hassio/src/snapshots/hassio-snapshots.ts
  hassio/src/system/hassio-host-info.ts
  hassio/src/system/hassio-supervisor-info.ts
  hassio/src/system/hassio-supervisor-log.ts
Labels: cla-signed, supervisor

#6785 Add person badge
  src/components/user/ha-person-badge.ts
  src/components/user/ha-user-badge.ts
  src/panels/config/person/ha-config-person.ts
Labels: cla-signed

#6788 Minor EN text improvements / fixes
  src/translations/en.json
Labels: cla-signed

#6787 Tweak card create dialog a bit
  src/components/ha-header-bar.ts
  src/dialogs/more-info/ha-more-info-dialog.ts
  src/dialogs/more-info/ha-more-info-tab-history.ts
  src/panels/logbook/ha-logbook.ts
  src/panels/lovelace/editor/card-editor/hui-card-picker.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-create-card.ts
  src/panels/lovelace/editor/card-editor/show-edit-card-dialog.ts
  src/translations/en.json
Labels: cla-signed

#6719 Add basic nodes list & node metadata to OZW config panel
  src/data/ozw.ts
  src/panels/config/integrations/integration-panels/ozw/ozw-config-dashboard.ts
  src/panels/config/integrations/integration-panels/ozw/ozw-config-router.ts
  src/panels/config/integrations/integration-panels/ozw/ozw-network-dashboard.ts
  src/panels/config/integrations/integration-panels/ozw/ozw-network-nodes.ts
  src/panels/config/integrations/integration-panels/ozw/ozw-network-router.ts
  src/panels/config/integrations/integration-panels/ozw/ozw-node-dashboard.ts
  src/panels/config/integrations/integration-panels/ozw/ozw-node-router.ts
  src/translations/en.json
Labels: cla-signed

#6790 More Info History: Scrollbar Style
  src/components/ha-sidebar.ts
  src/panels/logbook/ha-logbook.ts
  src/resources/styles.ts
Labels: cla-signed

#6776 Allow local storage decorator to register as property
  src/common/decorators/local-storage.ts
  src/components/ha-form/ha-form-select.ts
  src/components/ha-sidebar.ts
Labels: cla-signed

#6772 Media Browser Panel
  src/components/ha-camera-stream.ts
  src/components/ha-dialog.ts
  src/components/ha-hls-player.ts
  src/components/media-player/dialog-media-player-browse.ts
  src/components/media-player/ha-media-player-browse.ts
  src/data/media-player.ts
  src/dialogs/more-info/controls/more-info-media_player.ts
  src/layouts/partial-panel-resolver.ts
  src/panels/lovelace/cards/hui-media-control-card.ts
  src/panels/media-browser/ha-panel-media-browser.ts
  src/panels/media-browser/hui-dialog-select-media-player.ts
  src/panels/media-browser/hui-dialog-web-browser-play-media.ts
  src/panels/media-browser/show-media-player-dialog.ts
  src/panels/media-browser/show-select-media-source-dialog.ts
  src/translations/en.json
Labels: cla-signed, wait for backend

#6791 Add node details shortcut to OZW device pages
  src/panels/config/devices/device-detail/integration-elements/ozw/ha-device-actions-ozw.ts
  src/panels/config/devices/device-detail/integration-elements/ozw/ha-device-info-ozw.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/translations/en.json
Labels: cla-signed

#6799 Don't show source select dialog when media player Unavailable.
  src/dialogs/more-info/controls/more-info-media_player.ts
Labels: cla-signed

#6798 Display services as services and not devices
  src/panels/config/integrations/ha-integration-card.ts
  src/translations/en.json
Labels: cla-signed

#6803 Add color to hass-error-screen
  src/layouts/hass-error-screen.ts
Labels: cla-signed

#6804 Remove extra > from button
  hassio/src/addon-view/config/hassio-addon-network.ts
Labels: cla-signed

#6805 Ignore more proxy disconnect codes
  hassio/src/dashboard/hassio-update.ts
Labels: cla-signed, supervisor

#6807 Fix media browser panel title + selection header color
  src/panels/media-browser/hui-dialog-select-media-player.ts
  src/panels/media-browser/hui-dialog-web-browser-play-media.ts
  src/translations/en.json
Labels: cla-signed

#6809 Minor typo fix on error message
  src/data/hassio/common.ts
Labels: cla-signed

#6801 Media browser updates
  src/components/ha-dialog.ts
  src/components/media-player/dialog-media-player-browse.ts
  src/components/media-player/ha-media-player-browse.ts
  src/translations/en.json
Labels: cla-signed

#6808 Add attention required for config flows in progress
  src/data/config_flow.ts
  src/panels/config/integrations/ha-config-integrations.ts
  src/translations/en.json
Labels: cla-signed

#6811 Fix action handler bugs
  src/components/ha-sidebar.ts
  src/panels/lovelace/common/directives/action-handler-directive.ts
Labels: cla-signed

#6810 Use Sortable to move entities in entities editor
  package.json
  src/components/ha-sidebar-sort-styles.ts
  src/components/ha-sidebar.ts
  src/panels/lovelace/components/hui-entity-editor.ts
  src/resources/ha-sortable-style.ts
  yarn.lock
Labels: cla-signed

#6815 Fix white flash in dark mode
  src/html/index.html.template
  src/state/themes-mixin.ts
Labels: cla-signed

#6812 Fixes issues with channel toggle
  hassio/src/system/hassio-supervisor-info.ts
Labels: cla-signed, supervisor

#6819 Fix onboarding styling
  src/html/onboarding.html.template
Labels: cla-signed

#6816 Updates to correct zindexs on new dialogs
  src/panels/lovelace/editor/card-editor/hui-dialog-create-card.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-edit-card.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-suggest-card.ts
Labels: cla-signed

#6835 Fix More info content from having space on right
  src/dialogs/more-info/ha-more-info-dialog.ts
Labels: cla-signed

#6838 Fix header on media browser in safari
  src/components/media-player/ha-media-player-browse.ts
Labels: cla-signed

#6833 Fix Calendar Card in Add Card dialog
  src/panels/lovelace/cards/hui-calendar-card.ts
Labels: cla-signed

#6823 Add allowed options to entities struct so UI editor can still be used
  src/panels/lovelace/editor/types.ts
Labels: cla-signed

#6851 Add reload for platforms with reload service
  src/panels/config/server_control/ha-config-server-control.ts
Labels: cla-signed

#6854 Make time wider in logbook
  src/panels/logbook/ha-logbook.ts
Labels: cla-signed

#6852 Add warning class to delete
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
Labels: cla-signed

#6853 Fix sidebar issues
  src/components/ha-sidebar.ts
  src/panels/lovelace/common/directives/action-handler-directive.ts
  src/resources/ha-sortable-style.ts
Labels: cla-signed

#6855 Fix light more info
  src/components/ha-color-picker.js
  src/dialogs/more-info/controls/more-info-light.ts
Labels: cla-signed

#6849 Fix timer entity display
  src/common/entity/timer_time_remaining.ts
  src/dialogs/more-info/controls/more-info-timer.ts
  src/panels/lovelace/entity-rows/hui-timer-entity-row.ts
  src/state-summary/state-card-timer.js
Labels: cla-signed

#6864 Undo my commit into dev
  src/dialogs/more-info/controls/more-info-light.ts
  src/dialogs/more-info/ha-more-info-tab-history.ts
Labels: cla-signed

#6861 Ensure we pickup all the reloadable domains
  src/common/config/components_with_service.ts
  src/panels/config/server_control/ha-config-server-control.ts
Labels: cla-signed

#6863 Fix for Camera streams that don't support stream
  src/components/ha-camera-stream.ts
Labels: cla-signed

#6865 20200908.0
  setup.py
  src/common/config/components_with_service.ts
  src/common/entity/timer_time_remaining.ts
  src/components/ha-camera-stream.ts
  src/components/ha-color-picker.js
  src/components/ha-sidebar.ts
  src/components/media-player/ha-media-player-browse.ts
  src/dialogs/more-info/controls/more-info-light.ts
  src/dialogs/more-info/controls/more-info-timer.ts
  src/dialogs/more-info/ha-more-info-dialog.ts
  src/entrypoints/app.ts
  src/html/index.html.template
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/panels/config/server_control/ha-config-server-control.ts
  src/panels/logbook/ha-logbook.ts
  src/panels/lovelace/cards/hui-calendar-card.ts
  src/panels/lovelace/common/directives/action-handler-directive.ts
  src/panels/lovelace/common/load-resources.ts
  src/panels/lovelace/editor/types.ts
  src/panels/lovelace/entity-rows/hui-timer-entity-row.ts
  src/resources/ha-sortable-style.ts
  src/resources/html-import/import-href.js
  src/resources/html-import/polyfill.js
  src/state-summary/state-card-timer.js
  src/util/custom-panel/load-custom-panel.ts
  translations/frontend/ar.json
  translations/frontend/bs.json
  translations/frontend/ca.json
  translations/frontend/cs.json
  translations/frontend/cy.json
  translations/frontend/en.json
  translations/frontend/eo.json
  translations/frontend/es-419.json
  translations/frontend/es.json
  translations/frontend/et.json
  translations/frontend/fa.json
  translations/frontend/fr.json
  translations/frontend/fy.json
  translations/frontend/gl.json
  translations/frontend/gsw.json
  translations/frontend/hi.json
  translations/frontend/ja.json
  translations/frontend/lt.json
  translations/frontend/nb.json
  translations/frontend/nl.json
  translations/frontend/pt-BR.json
  translations/frontend/pt.json
  translations/frontend/sr-Latn.json
  translations/frontend/sr.json
  translations/frontend/sv.json
  translations/frontend/ta.json
  translations/frontend/te.json
  translations/frontend/tr.json
  translations/frontend/ur.json
  translations/frontend/zh-Hant.json
Labels: cla-signed

#6817 Media player visual improvements
  src/components/media-player/ha-media-player-browse.ts
  src/panels/media-browser/ha-panel-media-browser.ts
  src/panels/media-browser/hui-dialog-select-media-player.ts
  src/panels/media-browser/hui-dialog-web-browser-play-media.ts
Labels: cla-signed

#6876 Add binary sensor icon for DEVICE_CLASS_BATTERY_CHARGING
  src/common/entity/binary_sensor_icon.ts
Labels: cla-signed

#6878 Add fallback for renderExternalStepHeader
  src/dialogs/config-flow/show-dialog-config-flow.ts
Labels: cla-signed

#6886 Remove sort from frontend for now
  src/components/media-player/ha-media-player-browse.ts
Labels: cla-signed

#6884 Fix entity drag
  src/panels/lovelace/components/hui-entity-editor.ts
  src/panels/lovelace/editor/card-editor/hui-card-editor.ts
Labels: cla-signed

#6881 Update constant name to make it clearer
  src/common/entity/binary_sensor_icon.ts
Labels: cla-signed

#6885 Add ha-user-badge to view visibility editor
  src/components/user/ha-person-badge.ts
  src/components/user/ha-user-badge.ts
  src/panels/lovelace/editor/view-editor/hui-view-visibility-editor.ts
Labels: cla-signed

#6891 Color all deletion options consistenly red
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/scene/ha-scene-editor.ts
  src/panels/config/script/ha-script-editor.ts
Labels: cla-signed

#6866 Disable "Execute" if automation is unavailable
  src/dialogs/more-info/controls/more-info-automation.ts
  src/panels/config/automation/ha-automation-picker.ts
Labels: cla-signed

#6893 Enlarge touch target delete button
  src/components/ha-sidebar.ts
  src/resources/ha-sortable-style.ts
Labels: cla-signed

#6896 Fix mjpeg player
  src/components/ha-camera-stream.ts
  src/dialogs/more-info/controls/more-info-camera.ts
Labels: cla-signed

#6895 Only show history tabs for certain domains
  src/dialogs/more-info/controls/more-info-automation.ts
  src/dialogs/more-info/ha-more-info-dialog.ts
  src/dialogs/more-info/ha-more-info-history.ts
  src/panels/logbook/ha-logbook.ts
  src/translations/en.json
Labels: cla-signed

#6898 Handle not defined entities in cloud settings
  src/panels/config/cloud/alexa/cloud-alexa.ts
  src/panels/config/cloud/google-assistant/cloud-google-assistant.ts
Labels: cla-signed

#6897 Check for hass when setting themes
  src/state/themes-mixin.ts
Labels: cla-signed

#6873 Remove mobile_app from generated Lovelace
  src/panels/lovelace/common/generate-lovelace-config.ts
Labels: cla-signed

#6900 20200909.0
  setup.py
  src/common/entity/binary_sensor_icon.ts
  src/components/ha-camera-stream.ts
  src/components/ha-sidebar.ts
  src/components/media-player/ha-media-player-browse.ts
  src/components/user/ha-person-badge.ts
  src/components/user/ha-user-badge.ts
  src/dialogs/config-flow/show-dialog-config-flow.ts
  src/dialogs/more-info/controls/more-info-automation.ts
  src/dialogs/more-info/controls/more-info-camera.ts
  src/dialogs/more-info/ha-more-info-dialog.ts
  src/dialogs/more-info/ha-more-info-history.ts
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/cloud/alexa/cloud-alexa.ts
  src/panels/config/cloud/google-assistant/cloud-google-assistant.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/scene/ha-scene-editor.ts
  src/panels/config/script/ha-script-editor.ts
  src/panels/logbook/ha-logbook.ts
  src/panels/lovelace/common/generate-lovelace-config.ts
  src/panels/lovelace/components/hui-entity-editor.ts
  src/panels/lovelace/editor/card-editor/hui-card-editor.ts
  src/panels/lovelace/editor/view-editor/hui-view-visibility-editor.ts
  src/panels/media-browser/ha-panel-media-browser.ts
  src/panels/media-browser/hui-dialog-select-media-player.ts
  src/panels/media-browser/hui-dialog-web-browser-play-media.ts
  src/resources/ha-sortable-style.ts
  src/state/themes-mixin.ts
  src/translations/en.json
  translations/frontend/ca.json
  translations/frontend/cs.json
  translations/frontend/es.json
  translations/frontend/fr.json
  translations/frontend/it.json
  translations/frontend/nb.json
  translations/frontend/nl.json
  translations/frontend/ru.json
  translations/frontend/zh-Hans.json
Labels: cla-signed

#6870 Fix media browse item width
  src/components/media-player/ha-media-player-browse.ts
Labels: cla-signed

#6907 Dont virtualize logbook in more info
  src/dialogs/more-info/ha-more-info-history.ts
  src/panels/logbook/ha-logbook.ts
  src/panels/logbook/ha-panel-logbook.ts
Labels: cla-signed

#6910 Fix onboarding dark mode
  src/components/map/ha-location-editor.ts
  src/html/onboarding.html.template
  src/onboarding/onboarding-create-user.ts
Labels: cla-signed

#6911 Fix some lovelace editors
  src/panels/lovelace/components/hui-action-editor.ts
  src/panels/lovelace/editor/config-elements/hui-button-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-light-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-picture-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-picture-entity-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-picture-glance-card-editor.ts
Labels: cla-signed

#6909 Diable tts inputs when entities is unavailable
  src/dialogs/more-info/controls/more-info-media_player.ts
Labels: cla-signed

#6913 Don't add space on the bottom when not showing tabs
  src/layouts/hass-tabs-subpage.ts
Labels: cla-signed

#6918 Avoid watching all states in the default template
  src/panels/developer-tools/template/developer-tools-template.ts
Labels: cla-signed

#6917 Convert ha-long-lived-access-tokens-card
  src/data/refresh_token.ts
  src/dialogs/generic/dialog-box.ts
  src/panels/profile/ha-long-lived-access-tokens-card.js
  src/panels/profile/ha-long-lived-access-tokens-card.ts
  src/panels/profile/ha-panel-profile.ts
  src/translations/en.json
Labels: cla-signed

#6919 Only show what triggered a change if it wasn't a user
  src/panels/logbook/ha-logbook.ts
Labels: cla-signed

#6901 Ignore disconnect codes for shutdown and reboot
  hassio/src/dashboard/hassio-update.ts
  hassio/src/system/hassio-host-info.ts
  src/data/hassio/common.ts
Labels: cla-signed, supervisor

#6921 Make logbook a bit smaller in more info
  src/dialogs/more-info/ha-more-info-history.ts
Labels: cla-signed

#6922 Use proper constants for "unavailable" checks
  src/common/entity/state_card_type.ts
  src/components/entity/ha-state-label-badge.ts
  src/dialogs/more-info/controls/more-info-automation.ts
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/lovelace/cards/hui-light-card.ts
  src/panels/lovelace/common/validate-condition.ts
  src/panels/lovelace/components/hui-image.ts
  src/panels/lovelace/entity-rows/hui-input-datetime-entity-row.ts
  src/panels/lovelace/entity-rows/hui-sensor-entity-row.ts
  test-mocha/common/entity/compute_state_display.ts
Labels: cla-signed

#6908 Check if history and logbook are loaded
  src/dialogs/more-info/ha-more-info-dialog.ts
  src/dialogs/more-info/ha-more-info-history.ts
Labels: cla-signed

#6933 Restrict long press to header of sidebar
  src/components/ha-sidebar.ts
Labels: cla-signed

#6929 Fixed height of circular progress in history
  src/panels/history/ha-panel-history.ts
Labels: cla-signed

#6931 Use secondary text color for no entries
  src/dialogs/more-info/ha-more-info-history.ts
  src/panels/logbook/ha-logbook.ts
Labels: cla-signed

#6930 Expand groups in entitry row to check toggle
  src/panels/lovelace/entity-rows/hui-group-entity-row.ts
Labels: cla-signed

#6935 Show brigtness slider when light is off
  src/dialogs/more-info/controls/more-info-light.ts
Labels: cla-signed

#6937 Remove backpath in ozw
  src/panels/config/integrations/integration-panels/ozw/ozw-network-nodes.ts
Labels: cla-signed

#6939 Show which state changed events a template listeners for in dev tools
  src/data/ws-templates.ts
  src/panels/developer-tools/template/developer-tools-template.ts
  src/panels/lovelace/cards/hui-markdown-card.ts
  src/translations/en.json
Labels: cla-signed

#6567 show first visible view on default
  src/panels/lovelace/hui-root.ts
Labels: cla-signed

#6941 Show title and name for default panels
  src/components/ha-sidebar.ts
Labels: cla-signed

#6943 Add edit sidebar button to profile
  src/components/ha-settings-row.ts
  src/components/ha-sidebar.ts
  src/layouts/home-assistant-main.ts
  src/panels/profile/ha-panel-profile.ts
  src/state/sidebar-mixin.ts
  src/translations/en.json
Labels: cla-signed

#6944 Fix sidebar for not existing hidden panel
  src/components/ha-sidebar.ts
Labels: cla-signed

#6953 Sort listening entity and domain in template dev tools
  src/panels/developer-tools/template/developer-tools-template.ts
Labels: cla-signed

#6952 Add default hold actions
  src/panels/lovelace/cards/hui-button-card.ts
  src/panels/lovelace/cards/hui-glance-card.ts
  src/panels/lovelace/cards/hui-light-card.ts
  src/panels/lovelace/cards/hui-picture-glance-card.ts
  src/panels/lovelace/cards/hui-thermostat-card.ts
  src/panels/lovelace/editor/config-elements/hui-light-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-picture-glance-card-editor.ts
  src/panels/lovelace/elements/hui-icon-element.ts
  src/panels/lovelace/elements/hui-image-element.ts
  src/panels/lovelace/elements/hui-state-badge-element.ts
  src/panels/lovelace/elements/hui-state-icon-element.ts
  src/panels/lovelace/elements/hui-state-label-element.ts
Labels: cla-signed

#6951 FIx entities picker
  src/components/entity/ha-entity-picker.ts
  src/panels/lovelace/components/hui-entity-editor.ts
Labels: cla-signed

#6904 Media Browser: Use Media Class
  src/components/media-player/ha-media-player-browse.ts
  src/data/media-player.ts
  src/panels/media-browser/ha-panel-media-browser.ts
  src/translations/en.json
Labels: cla-signed

#6954 Add padding to rendered template result
  src/panels/developer-tools/template/developer-tools-template.ts
Labels: cla-signed

#6936 Lazy load more info content, split logbook and history
  gallery/src/components/demo-more-info.js
  gallery/src/components/more-info-content.ts
  gallery/src/demos/demo-more-info-light.ts
  src/common/const.ts
  src/common/util/throttle.ts
  src/dialogs/more-info/ha-more-info-dialog.ts
  src/dialogs/more-info/ha-more-info-history.ts
  src/dialogs/more-info/ha-more-info-logbook.ts
  src/dialogs/more-info/more-info-content.ts
Labels: cla-signed

#6959 Mute stream outside of more info
  src/components/ha-camera-stream.ts
  src/dialogs/more-info/controls/more-info-camera.ts
  src/panels/config/users/ha-config-users.ts
  src/panels/lovelace/components/hui-image.ts
Labels: cla-signed

#6960 Sort media sources
  src/panels/media-browser/hui-dialog-select-media-player.ts
Labels: cla-signed

#6962 convert ha-refresh-tokens-card
  src/panels/profile/ha-long-lived-access-tokens-card.ts
  src/panels/profile/ha-refresh-tokens-card.js
  src/panels/profile/ha-refresh-tokens-card.ts
Labels: cla-signed

#6964 Remove icon slot
  src/components/media-player/ha-media-player-browse.ts
  src/panels/profile/ha-long-lived-access-tokens-card.ts
  src/panels/profile/ha-refresh-tokens-card.ts
Labels: cla-signed

#6969 Make moon icon more readable
  src/data/weather.ts
Labels: cla-signed

#6970 Remove useless "My Title"
  src/panels/lovelace/cards/hui-entities-card.ts
Labels: cla-signed

#6945 HA Logs: Copy log
  src/panels/config/logs/dialog-system-log-detail.ts
  src/translations/en.json
Labels: cla-signed

#6980 fix hard to read text
  src/panels/media-browser/ha-panel-media-browser.ts
Labels: cla-signed

#6957 Add Execute button to script editor
  src/panels/config/script/ha-script-editor.ts
Labels: cla-signed

#6961 Use --error-color instead of a fixed color
  src/panels/lovelace/cards/hui-error-card.ts
Labels: cla-signed

#6958 Make code editor font family follow theme
  src/components/ha-code-editor.ts
Labels: cla-signed

#6956 Do safety check before detecting hex value and handle YAML numbers better
  src/common/dom/apply_themes_on_element.ts
Labels: cla-signed

#6983 Fix muted on video
  src/components/ha-hls-player.ts
Labels: cla-signed

#6988 Fix input number helper
  src/panels/config/helpers/forms/ha-input_number-form.ts
Labels: cla-signed

#6994 Sidebar tweaks
  src/components/ha-sidebar.ts
  src/layouts/home-assistant-main.ts
  src/panels/profile/ha-panel-profile.ts
  src/resources/ha-sortable-style.ts
  src/state/sidebar-mixin.ts
Labels: cla-signed

#6992 Pass ozw instance to ozw panel call service buttons
  src/panels/config/integrations/integration-panels/ozw/ozw-network-dashboard.ts
Labels: cla-signed

#6993 mwc-button -> mwc-icon-button
  src/panels/profile/ha-long-lived-access-tokens-card.ts
  src/panels/profile/ha-refresh-tokens-card.ts
Labels: cla-signed

#7004 Cleanup more info styling
  src/dialogs/more-info/controls/more-info-person.ts
  src/dialogs/more-info/ha-more-info-dialog.ts
  src/dialogs/more-info/ha-more-info-history.ts
  src/dialogs/more-info/ha-more-info-logbook.ts
  src/panels/logbook/ha-logbook.ts
Labels: cla-signed

#6999 Fix hex to rgb conversion
  src/common/dom/apply_themes_on_element.ts
Labels: cla-signed

#6974 Allow ExoPlayer only from more-info-camera
  src/components/ha-camera-stream.ts
  src/components/ha-hls-player.ts
  src/dialogs/more-info/controls/more-info-camera.ts
Labels: cla-signed

#6990 Disable cloud expose controls when yaml filter
  src/components/ha-button-menu.ts
  src/panels/config/cloud/alexa/cloud-alexa.ts
  src/panels/config/cloud/google-assistant/cloud-google-assistant.ts
Labels: cla-signed

#6889 Add snapshot support for new media folder
  hassio/src/snapshots/hassio-snapshots.ts
Labels: cla-signed, supervisor, wait for backend

#6984 Remove version check
  hassio/src/system/hassio-host-info.ts
Labels: cla-signed, supervisor

#7013 Rename upgrade -> update
  hassio/src/dashboard/hassio-update.ts
  hassio/src/system/hassio-supervisor-info.ts
Labels: cla-signed, supervisor

#7015 Temporarily remove exoplayer
  src/components/ha-hls-player.ts
Labels: cla-signed

#7014 Refresh snapshots on first update
  hassio/src/snapshots/hassio-snapshots.ts
Labels: cla-signed, supervisor

#7012 Use helper to generate documentation URL
  src/components/media-player/ha-media-player-browse.ts
  src/dialogs/config-flow/step-flow-pick-handler.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/cloud/dialog-manage-cloudhook/dialog-manage-cloudhook.ts
  src/panels/config/cloud/register/cloud-register.js
  src/panels/config/customize/ha-form-customize.js
  src/panels/config/info/ha-config-info.ts
  src/panels/config/integrations/integration-panels/zwave/zwave-network.ts
  src/panels/config/person/dialog-person-detail.ts
  src/panels/config/scene/ha-scene-dashboard.ts
  src/panels/config/script/ha-script-editor.ts
  src/panels/config/script/ha-script-picker.ts
  src/panels/developer-tools/event/developer-tools-event.js
  src/panels/developer-tools/template/developer-tools-template.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-edit-card.ts
  src/panels/lovelace/editor/get-card-documentation-url.ts
  src/panels/lovelace/editor/hui-dialog-save-config.ts
  src/panels/lovelace/hui-root.ts
  src/panels/profile/ha-pick-theme-row.ts
  src/panels/profile/ha-push-notifications-row.js
  src/util/documentation-url.ts
  test-mocha/util/generate-documentation-url.spec.ts
Labels: cla-signed

#7007 Update Error handling
  src/components/media-player/ha-media-player-browse.ts
  src/data/media-player.ts
  src/panels/media-browser/ha-panel-media-browser.ts
  src/panels/media-browser/hui-dialog-select-media-player.ts
Labels: cla-signed

#7017 Adjust local media error messages
  src/components/media-player/ha-media-player-browse.ts
  src/translations/en.json
  src/util/documentation-url.ts
Labels: cla-signed

#7018 revert remove tap action from button stub
  src/panels/lovelace/cards/hui-button-card.ts
Labels: cla-signed

#7022 Fix sidebar from not displaying
  src/components/ha-sidebar.ts
  src/resources/ha-sortable-style.ts
Labels: cla-signed

#7025 Fix safari not rendering history graph
  src/components/state-history-chart-line.js
Labels: cla-signed

#7026 Add default actions to button row
  src/panels/lovelace/special-rows/hui-button-row.ts
Labels: cla-signed

#6818 Remove deprecated icons
  build-scripts/removedIcons.json
  src/components/ha-icon.ts
Labels: cla-signed

#7028 20200916.0
  build-scripts/removedIcons.json
  gallery/src/ha-gallery.js
  package.json
  setup.py
  src/common/style/icon_color_css.ts
  src/components/entity/state-badge.ts
  src/components/ha-icon.ts
  src/components/ha-sidebar.ts
  src/components/state-history-chart-line.js
  src/panels/lovelace/cards/hui-alarm-panel-card.ts
  src/panels/lovelace/special-rows/hui-button-row.ts
  src/resources/ha-sortable-style.ts
  translations/frontend/af.json
  translations/frontend/cs.json
  translations/frontend/de.json
  translations/frontend/en.json
  translations/frontend/it.json
  translations/frontend/nb.json
  translations/frontend/nl.json
  translations/frontend/ru.json
  translations/frontend/sv.json
  translations/frontend/zh-Hant.json
Labels: cla-signed

#7031 Monkey patch for bug in safari 14
  cast/src/launcher/entrypoint.ts
  demo/src/entrypoint.ts
  hassio/src/entrypoint.ts
  src/entrypoints/authorize.ts
  src/entrypoints/core.ts
  src/entrypoints/custom-panel.ts
  src/entrypoints/onboarding.ts
  src/resources/safari-14-attachshadow-patch.ts
Labels: cla-signed

#7032 20200917.0
  cast/src/launcher/entrypoint.ts
  demo/src/entrypoint.ts
  hassio/src/entrypoint.ts
  setup.py
  src/entrypoints/authorize.ts
  src/entrypoints/core.ts
  src/entrypoints/custom-panel.ts
  src/entrypoints/onboarding.ts
  src/resources/safari-14-attachshadow-patch.ts
  translations/frontend/ca.json
  translations/frontend/cs.json
  translations/frontend/es.json
  translations/frontend/et.json
  translations/frontend/fr.json
  translations/frontend/it.json
  translations/frontend/nb.json
  translations/frontend/ru.json
  translations/frontend/zh-Hans.json
  translations/frontend/zh-Hant.json
Labels: cla-signed

#7033 Adjust local source path
  src/components/media-player/ha-media-player-browse.ts
Labels: cla-signed

#7034 20200917.1
  setup.py
  src/components/media-player/ha-media-player-browse.ts
Labels: cla-signed

#7049 Fix tap to toggle sidebar
  src/components/ha-sidebar.ts
Labels: cla-signed

#7048 fix log copy
  src/panels/config/logs/dialog-system-log-detail.ts
Labels: cla-signed

#7051 Add hold action to buttons
  src/panels/lovelace/components/hui-buttons-base.ts
  src/panels/lovelace/header-footer/hui-buttons-header-footer.ts
  src/panels/lovelace/special-rows/hui-buttons-row.ts
Labels: cla-signed

#7053 Fix duplicate items in sortables
  src/components/ha-sidebar.ts
  src/panels/lovelace/components/hui-entity-editor.ts
Labels: cla-signed

#7055 20200918.0
  setup.py
  src/components/ha-code-editor.ts
  src/components/ha-sidebar.ts
  src/panels/config/logs/dialog-system-log-detail.ts
  src/panels/lovelace/components/hui-buttons-base.ts
  src/panels/lovelace/components/hui-entity-editor.ts
  src/panels/lovelace/header-footer/hui-buttons-header-footer.ts
  src/panels/lovelace/special-rows/hui-buttons-row.ts
  translations/frontend/ca.json
  translations/frontend/el.json
  translations/frontend/et.json
  translations/frontend/fi.json
  translations/frontend/fr.json
  translations/frontend/ko.json
  translations/frontend/nb.json
  translations/frontend/nl.json
  translations/frontend/pl.json
  translations/frontend/ru.json
Labels: cla-signed
