Repository home-assistant/frontend, pull requests merged in 2020-02, with the labels that each got.

#4648 Fixes add-on audio selector
  hassio/src/addon-view/hassio-addon-audio.ts
Labels: cla-signed

#4701 Change map settings icon
  src/panels/map/ha-panel-map.js
Labels: cla-signed

#4716 Fix ingress add-on not started dialog showing twice
  hassio/src/hassio-main.ts
  src/dialogs/generic/show-dialog-box.ts
Labels: cla-signed, hass.io

#4719 Add haptic events to addon info toggles.
  hassio/src/addon-view/hassio-addon-info.ts
  hassio/src/hassio-main.ts
  src/components/ha-switch.ts
Labels: cla-signed, hass.io

#4727 Fix loading of groups in the ZHA group binding control
  src/panels/config/zha/zha-device-page.ts
Labels: cla-signed

#4724 Fix theme on sensor card
  src/panels/lovelace/cards/hui-sensor-card.ts
Labels: cla-signed

#4717 Convert Hass.io add-on options to YAML
  hassio/src/addon-view/hassio-addon-config.ts
  src/components/ha-yaml-editor.ts
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/action/types/ha-automation-action-event.ts
  src/panels/config/automation/action/types/ha-automation-action-service.ts
  src/panels/config/automation/condition/ha-automation-condition-editor.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-event.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-suggest-card.ts
Labels: cla-signed, hass.io

#4718 Confirm when resetting hassio optoins
  hassio/src/addon-view/hassio-addon-config.ts
  src/dialogs/generic/show-dialog-box.ts
Labels: cla-signed, hass.io

#4703 Fix passive color radius and fix switch label clicks
  src/components/ha-switch.ts
  src/components/map/ha-location-editor.ts
  src/components/map/ha-locations-editor.ts
  src/data/zone.ts
  src/panels/config/zone/dialog-zone-detail.ts
  src/panels/config/zone/ha-config-zone.ts
  src/panels/map/ha-panel-map.js
Labels: cla-signed

#4748 Hide automations from generated UI
  src/panels/lovelace/common/generate-lovelace-config.ts
Labels: cla-signed

#4749 Hassio styling tweaks
  hassio/src/addon-store/hassio-addon-repository.ts
  hassio/src/addon-store/hassio-repositories-editor.ts
  hassio/src/dashboard/hassio-addons.ts
  hassio/src/dashboard/hassio-update.ts
  hassio/src/hassio-pages-with-tabs.ts
  hassio/src/resources/hassio-style.ts
  hassio/src/snapshots/hassio-snapshots.ts
  hassio/src/system/hassio-host-info.ts
  hassio/src/system/hassio-supervisor-info.ts
  hassio/src/system/hassio-supervisor-log.ts
  hassio/src/system/hassio-system.ts
Labels: cla-signed

#4721 Use icon image where available
  hassio/src/addon-store/hassio-addon-repository.ts
  hassio/src/addon-view/hassio-addon-info.ts
  hassio/src/components/hassio-card-content.ts
  hassio/src/dashboard/hassio-addons.ts
  hassio/src/entrypoint.ts
  hassio/src/resources/hassio-style.ts
Labels: cla-signed

#4750 Tweak badge focus padding
  src/panels/lovelace/badges/hui-state-label-badge.ts
Labels: cla-signed

#4602 🐛 properly format timestamps in glance card
  src/data/entity.ts
  src/panels/lovelace/cards/hui-glance-card.ts
Labels: cla-signed

#4751 Update update headers in hassio
  hassio/src/dashboard/hassio-update.ts
  hassio/src/snapshots/hassio-snapshots.ts
  hassio/src/system/hassio-supervisor-info.ts
Labels: cla-signed

#4758 Fix theming with derived styles
  hassio/src/hassio-main.ts
  hassio/src/hassio-pages-with-tabs.ts
  hassio/src/resources/hassio-style.ts
  hassio/src/system/hassio-system.ts
  src/common/dom/apply_themes_on_element.ts
  src/resources/ha-style.ts
  src/resources/styles.ts
Labels: cla-signed

#4745 Sensor card update to copy fill feature
  src/panels/lovelace/cards/hui-sensor-card.ts
Labels: cla-signed

#4764 Update Material Design Icons to v4.9.95
  package.json
  yarn.lock
Labels: cla-signed

#4763 Fixes removing audio device
  hassio/src/addon-view/hassio-addon-audio.ts
  src/data/hassio/hardware.ts
Labels: cla-signed

#4761 Convert Media Control Card to Typescript
  src/panels/lovelace/cards/hui-legacy-wrapper-card.js
  src/panels/lovelace/cards/hui-media-control-card.js
  src/panels/lovelace/cards/hui-media-control-card.ts
  src/panels/lovelace/editor/config-elements/hui-media-control-card-editor.ts
  src/types.ts
Labels: cla-signed

#4774 More info scroll fix
  src/dialogs/ha-more-info-dialog.js
Labels: cla-signed

#4752 Update Edit Footer for Cards
  src/panels/lovelace/components/hui-card-options.ts
Labels: cla-signed

#4765 Add seconds to some UI elements
  src/common/datetime/check_options_support.ts
  src/common/datetime/format_date.ts
  src/common/datetime/format_date_time.ts
  src/common/datetime/format_time.ts
  src/common/entity/compute_state_display.ts
  src/components/entity/ha-chart-base.js
  src/components/state-history-chart-line.js
  src/components/state-history-chart-timeline.js
  src/dialogs/more-info/controls/more-info-sun.ts
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/cloud/account/cloud-account.js
  src/panels/config/cloud/dialog-cloud-certificate/dialog-cloud-certificate.ts
  src/panels/developer-tools/event/event-subscribe-card.ts
  src/panels/developer-tools/logs/system-log-card.ts
  src/panels/developer-tools/mqtt/mqtt-subscribe-card.ts
  src/panels/history/ha-panel-history.js
  src/panels/logbook/ha-logbook.ts
  src/panels/logbook/ha-panel-logbook.js
  src/panels/lovelace/components/hui-timestamp-display.ts
  src/panels/mailbox/ha-panel-mailbox.js
  src/panels/profile/ha-long-lived-access-tokens-card.js
  src/panels/profile/ha-refresh-tokens-card.js
  test-mocha/common/datetime/format_date.ts
  test-mocha/common/datetime/format_date_time.ts
  test-mocha/common/datetime/format_time.ts
Labels: cla-signed

#4800 Add integrations to dev info page
  src/panels/developer-tools/info/developer-tools-info.ts
  src/panels/developer-tools/info/integrations-card.ts
  src/panels/developer-tools/info/system-health-card.ts
Labels: cla-signed

#4799 Filter battery sensors from generated UI
  src/data/sensor.ts
  src/panels/lovelace/common/generate-lovelace-config.ts
Labels: cla-signed

#4777 Fall back to use handler if translations broken
  src/dialogs/config-flow/step-flow-pick-handler.ts
Labels: cla-signed

#4766 Style tweaks
  src/panels/developer-tools/mqtt/developer-tools-mqtt.ts
  src/resources/ha-style.ts
  src/resources/styles.ts
Labels: cla-signed

#4806 Spelling
  src/translations/en.json
Labels: cla-signed

#4779 Fix typo
  src/translations/en.json
Labels: cla-signed

#4812 Theme update refetch themes
  src/data/ws-themes.ts
Labels: cla-signed

#4810 [logbook] configure flex container to display entries correctly on mobile devices
  src/panels/logbook/ha-logbook.ts
Labels: cla-signed

#4825 💄 match alarm panel icon coloring to card's
  src/common/style/icon_color_css.ts
Labels: cla-signed

#4824 Graceful fallback if translations for device automations are missing
  src/data/device_automation.ts
Labels: cla-signed

#4829 Use original id to remove entity
  src/panels/config/entities/entity-registry-settings.ts
Labels: cla-signed

#4834 [logbook] fix dropdown animation
  src/panels/logbook/ha-panel-logbook.js
Labels: cla-signed

#4835 Clarify YAML reloading config header
  src/translations/en.json
Labels: cla-signed

#4793 Add lozalization to more-info-vacuum
  src/data/vacuum.ts
  src/dialogs/more-info/controls/more-info-vacuum.js
  src/dialogs/more-info/controls/more-info-vacuum.ts
  src/translations/en.json
Labels: cla-signed

#4845 Fix media control card styling
  src/panels/lovelace/cards/hui-media-control-card.ts
Labels: cla-signed

#4832 [logbook] implement shouldUpdate
  src/panels/logbook/ha-logbook-data.js
  src/panels/logbook/ha-logbook.ts
Labels: cla-signed

#4852 [logbook] fix margins for RTL languages
  src/panels/logbook/ha-panel-logbook.js
Labels: cla-signed

#4841 Fix tap firing twice on iOS
  src/panels/lovelace/cards/hui-entity-button-card.ts
  src/panels/lovelace/common/directives/action-handler-directive.ts
Labels: cla-signed

#4842 Check for null target_temp
  src/dialogs/more-info/controls/more-info-climate.ts
Labels: cla-signed

#4840 Hide zone edit button for non admins
  src/panels/map/ha-panel-map.js
Labels: cla-signed

#4837 Fix translations for update button config entry system options
  src/dialogs/config-entry-system-options/dialog-config-entry-system-options.ts
  src/translations/en.json
Labels: cla-signed

#4858 [history] fix dropdown animation
  src/panels/history/ha-panel-history.js
Labels: cla-signed

#4843 Change defaults of automations to device
  src/data/device_automation.ts
  src/panels/config/automation/action/ha-automation-action.ts
  src/panels/config/automation/condition/ha-automation-condition.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/automation/trigger/ha-automation-trigger.ts
  src/panels/config/script/ha-script-editor.ts
Labels: cla-signed

#4859 Spelling: Config(uration)
  src/translations/en.json
Labels: cla-signed

#4836 Fix display of arrays/objects in attributes
  src/components/ha-attributes.ts
  src/panels/developer-tools/state/developer-tools-state.js
Labels: cla-signed

#4863 Update hui-thermostat-card.ts
  src/panels/lovelace/cards/hui-thermostat-card.ts
Labels: cla-signed

#4846 Allow enabling/disabling automation from edit screen
  src/data/automation.ts
  src/dialogs/more-info/controls/more-info-automation.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/resources/styles.ts
  src/translations/en.json
Labels: cla-signed

#4848 Add more info for Person
  src/common/const.ts
  src/components/map/ha-map.ts
  src/data/zone.ts
  src/dialogs/more-info/controls/more-info-content.ts
  src/dialogs/more-info/controls/more-info-person.ts
  src/dialogs/more-info/controls/more-info-vacuum.ts
  src/panels/config/zone/dialog-zone-detail.ts
  src/panels/config/zone/ha-config-zone.ts
  src/translations/en.json
Labels: cla-signed, wip

#4803 Add toolbars and mobile headers + layout tweaks
  src/common/search/search-input.ts
  src/components/data-table/ha-data-table.ts
  src/components/device/ha-area-devices-picker.ts
  src/components/device/ha-device-picker.ts
  src/data/device_registry.ts
  src/layouts/hass-tabs-subpage-data-table.ts
  src/layouts/hass-tabs-subpage.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/panels/config/devices/ha-devices-data-table.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/scene/ha-scene-editor.ts
  src/panels/config/script/ha-script-editor.ts
Labels: cla-signed

#4862 Freeze lovelace configuration on load
  package.json
  src/panels/lovelace/ha-panel-lovelace.ts
  yarn.lock
Labels: cla-signed

#4860 Hide HTML5 push notification toggle if inside external app
  src/data/external.ts
  src/entrypoints/core.ts
  src/panels/profile/ha-panel-profile.ts
Labels: cla-signed

#4853 add create helper functions for custom cards
  src/panels/lovelace/custom-card-helpers.ts
  src/panels/lovelace/ha-panel-lovelace.ts
Labels: cla-signed, documentation needed

#4857 Add option to lazy load cards
  src/panels/lovelace/create-element/create-badge-element.ts
  src/panels/lovelace/create-element/create-card-element.ts
  src/panels/lovelace/create-element/create-element-base.ts
  src/panels/lovelace/create-element/create-header-footer-element.ts
  src/panels/lovelace/create-element/create-hui-element.ts
  src/panels/lovelace/create-element/create-row-element.ts
Labels: cla-signed

#4581 ♻️ change entity-button to button card
  demo/src/configs/teachingbirds/lovelace.ts
  gallery/src/demos/demo-hui-entity-button-card.ts
  src/panels/lovelace/cards/hui-button-card.ts
  src/panels/lovelace/cards/hui-entity-button-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/create-element/create-card-element.ts
  src/panels/lovelace/editor/card-editor/hui-card-picker.ts
  src/panels/lovelace/editor/config-elements/hui-button-card-editor.ts
  src/translations/en.json
Labels: cla-signed, documentation added

#4877 Update material elements
  package.json
  src/components/ha-checkbox.ts
  src/panels/config/devices/device-detail/ha-device-automation-dialog.ts
  src/panels/config/person/dialog-person-detail.ts
  src/panels/config/zone/dialog-zone-detail.ts
  yarn.lock
Labels: cla-signed

#4878 Bump vaadin elements
  package.json
  yarn.lock
Labels: cla-signed

#4876 Update babel and disable ES5 builds on dev
  build-scripts/babel.js
  build-scripts/gulp/webpack.js
  package.json
  yarn.lock
Labels: cla-signed

#4871 Freeze lovelace configuration on load - bugfix
  src/panels/lovelace/ha-panel-lovelace.ts
Labels: cla-signed

#4886 Reduce size of floorplan pic Arsaboo
  demo/public/assets/arsaboo/floorplans/main.png
Labels: cla-signed

#4887 Sensor card hugging
  src/panels/lovelace/cards/hui-sensor-card.ts
Labels: cla-signed

#4888 Less whitespace around icon
  src/panels/lovelace/cards/hui-sensor-card.ts
Labels: cla-signed

#4885 Sensor Card Error Fix
  src/panels/lovelace/cards/hui-sensor-card.ts
Labels: cla-signed

#4893 [sidebar] set max-width for item-text
  src/components/ha-sidebar.ts
Labels: cla-signed

#4247 Add multi select component to ha-form
  src/components/ha-form/ha-form-multi_select.ts
  src/components/ha-form/ha-form-select.ts
  src/components/ha-form/ha-form.ts
  src/data/data_entry_flow.ts
  src/dialogs/config-flow/show-dialog-data-entry-flow.ts
  src/dialogs/config-flow/step-flow-form.ts
Labels: cla-signed, p1

#4867 include entities not in entity registry in config entities
  src/components/data-table/ha-data-table.ts
  src/components/ha-related-items.ts
  src/dialogs/config-flow/step-flow-pick-handler.ts
  src/panels/config/devices/device-detail/ha-device-entities-card.ts
  src/panels/config/entities/dialog-entity-registry-detail.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/entities/show-dialog-entity-registry-detail.ts
  src/translations/en.json
Labels: cla-signed

#4854 add state_color option to glance, button and state-icon
  src/panels/lovelace/cards/hui-button-card.ts
  src/panels/lovelace/cards/hui-glance-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/elements/hui-state-icon-element.ts
  src/panels/lovelace/elements/types.ts
Labels: cla-signed, documentation needed

#4849 Allow to change the location of home zone in zone editor
  src/components/map/ha-locations-editor.ts
  src/panels/config/zone/ha-config-zone.ts
  src/translations/en.json
Labels: cla-signed

#4899 Add more info to system log
  src/data/integration.ts
  src/data/system_log.ts
  src/panels/developer-tools/info/integrations-card.ts
  src/panels/developer-tools/logs/dialog-system-log-detail.ts
  src/panels/developer-tools/logs/system-log-card.ts
  src/panels/developer-tools/logs/util.ts
Labels: cla-signed

#4895 Sort list of available events
  src/panels/developer-tools/event/events-list.js
Labels: cla-signed

#4850 Update Media Card to check for Supported Features
  src/data/media-player.ts
  src/panels/lovelace/cards/hui-media-control-card.ts
  src/types.ts
Labels: cla-signed

#4910 Fix description and title of options flow
  src/dialogs/config-flow/show-dialog-options-flow.ts
Labels: cla-signed

#4908 Add safe mode support
  package.json
  src/fake_data/demo_config.ts
  src/panels/config/areas/dialog-area-registry-detail.ts
  src/panels/lovelace/cards/hui-safe-mode-card.ts
  src/panels/lovelace/common/generate-lovelace-config.ts
  src/panels/lovelace/create-element/create-card-element.ts
  src/panels/lovelace/hui-root.ts
  src/translations/en.json
  yarn.lock
Labels: cla-signed

#4906 Fix multiselect without data
  src/components/ha-form/ha-form-multi_select.ts
Labels: cla-signed

#4916 Sensor Stroke Width Fix
  src/panels/lovelace/cards/hui-sensor-card.ts
Labels: cla-signed

#4917 Sensor Card - Top Margin 16px -> 8px
  src/panels/lovelace/cards/hui-sensor-card.ts
Labels: cla-signed

#4907 Media Card Seek Functionality
  src/data/media-player.ts
  src/panels/lovelace/cards/hui-media-control-card.ts
Labels: cla-signed

#4882 Convert History Graph Card to Typescript
  src/data/cached-history.ts
  src/panels/lovelace/cards/hui-history-graph-card.js
  src/panels/lovelace/cards/hui-history-graph-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/editor/config-elements/hui-history-graph-card-editor.ts
Labels: cla-signed

#4919 Fix media card if entity is unavailable
  src/panels/lovelace/cards/hui-media-control-card.ts
Labels: cla-signed

#4932 Add rebuild support to editor preview
  src/panels/lovelace/common/get-card-element-tag.ts
  src/panels/lovelace/create-element/create-card-element.ts
  src/panels/lovelace/create-element/create-element-base.ts
  src/panels/lovelace/editor/card-editor/hui-card-editor.ts
  src/panels/lovelace/editor/card-editor/hui-card-picker.ts
  src/panels/lovelace/editor/card-editor/hui-card-preview.ts
  src/panels/lovelace/types.ts
Labels: cla-signed

#4935 History Card - Fix CPU and Browser Usage
  src/panels/lovelace/cards/hui-history-graph-card.ts
Labels: cla-signed

#4942 20200220.0
  setup.py
  src/panels/lovelace/cards/hui-history-graph-card.ts
  src/panels/lovelace/common/get-card-element-tag.ts
  src/panels/lovelace/create-element/create-card-element.ts
  src/panels/lovelace/create-element/create-element-base.ts
  src/panels/lovelace/editor/card-editor/hui-card-editor.ts
  src/panels/lovelace/editor/card-editor/hui-card-picker.ts
  src/panels/lovelace/editor/card-editor/hui-card-preview.ts
  src/panels/lovelace/types.ts
  translations/ca.json
  translations/da.json
  translations/de.json
  translations/es.json
  translations/it.json
  translations/nb.json
  translations/pl.json
  translations/ru.json
  translations/zh-Hant.json
Labels: cla-signed

#4945 Make config list items appearance consistent for automations, scenes and scripts
  src/panels/config/scene/ha-scene-dashboard.ts
  src/panels/config/script/ha-script-picker.ts
Labels: cla-signed

#4947 Fix creating card
  src/panels/lovelace/create-element/create-element-base.ts
Labels: cla-signed

#4948 20200220.1
  setup.py
  src/panels/config/scene/ha-scene-dashboard.ts
  src/panels/config/script/ha-script-picker.ts
  src/panels/lovelace/create-element/create-element-base.ts
Labels: cla-signed

#4952 Add GitHub Actions
  .github/workflows/ci.yaml
Labels: cla-signed

#4964 Add a smarter default value for entity card show header toggle
  src/panels/lovelace/cards/hui-entities-card.ts
  src/panels/lovelace/common/generate-lovelace-config.ts
Labels: cla-signed

#4963 Fix layout of history and logbook filters
  src/panels/history/ha-panel-history.js
  src/panels/logbook/ha-panel-logbook.js
  src/resources/ha-date-picker-style.js
Labels: cla-signed

#4962 Fix state_color for climate drying
  src/common/style/icon_color_css.ts
Labels: cla-signed

#4950 [logbook] fix scrolling on iOS
  src/panels/logbook/ha-logbook.ts
  src/panels/logbook/ha-panel-logbook.js
Labels: cla-signed

#4972 Remove Travis-CI
  .travis.yml
Labels: cla-signed

#4966 Fix typo in supervisor popup
  hassio/src/system/hassio-supervisor-info.ts
Labels: cla-signed

#4980 Add dev demo builds GitHub Actions workflow
  .github/workflows/demo.yaml
Labels: cla-signed

#4969 Fix for when the preview element was an error element
  src/panels/lovelace/cards/hui-error-card.ts
  src/panels/lovelace/editor/card-editor/hui-card-preview.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-edit-card.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-suggest-card.ts
  src/panels/lovelace/ha-panel-lovelace.ts
Labels: cla-signed

#4967 Add support for multiple Lovelace dashboards
  cast/src/receiver/layout/hc-main.ts
  src/cast/receiver_messages.ts
  src/cast/sender_messages.ts
  src/components/ha-sidebar.ts
  src/data/lovelace.ts
  src/entrypoints/core.ts
  src/panels/lovelace/common/load-resources.ts
  src/panels/lovelace/editor/add-entities-to-view.ts
  src/panels/lovelace/entity-rows/types.ts
  src/panels/lovelace/ha-panel-lovelace.ts
  src/panels/lovelace/hui-editor.ts
  src/panels/lovelace/hui-root.ts
  src/panels/lovelace/special-rows/hui-cast-row.ts
  src/translations/en.json
Labels: cla-signed

#4987 Static import all the LL cards etc
  src/panels/lovelace/create-element/create-badge-element.ts
  src/panels/lovelace/create-element/create-card-element.ts
  src/panels/lovelace/create-element/create-header-footer-element.ts
  src/panels/lovelace/create-element/create-row-element.ts
Labels: cla-signed

#4940 Add helper UI
  hassio/src/addon-view/hassio-addon-info.ts
  src/common/dom/dynamic-element-directive.ts
  src/common/entity/domain_icon.ts
  src/components/ha-icon-input.ts
  src/components/ha-related-items.ts
  src/data/entity_registry.ts
  src/data/frontend.ts
  src/data/input-select.ts
  src/data/input_boolean.ts
  src/data/input_datetime.ts
  src/data/input_number.ts
  src/data/input_select.ts
  src/data/input_text.ts
  src/dialogs/generic/dialog-box.ts
  src/dialogs/ha-more-info-dialog.js
  src/dialogs/more-info/controls/more-info-person.ts
  src/dialogs/more-info/more-info-controls.js
  src/entrypoints/core.ts
  src/panels/config/devices/device-detail/ha-device-entities-card.ts
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/panels/config/entities/const.ts
  src/panels/config/entities/dialog-entity-editor.ts
  src/panels/config/entities/editor-tabs/settings/entity-settings-helper-tab.ts
  src/panels/config/entities/entity-registry-basic-editor.ts
  src/panels/config/entities/entity-registry-settings.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/entities/show-dialog-entity-editor.ts
  src/panels/config/ha-panel-config.ts
  src/panels/config/helpers/const.ts
  src/panels/config/helpers/dialog-helper-detail.ts
  src/panels/config/helpers/forms/ha-input_boolean-form.ts
  src/panels/config/helpers/forms/ha-input_datetime-form.ts
  src/panels/config/helpers/forms/ha-input_number-form.ts
  src/panels/config/helpers/forms/ha-input_select-form.ts
  src/panels/config/helpers/forms/ha-input_text-form.ts
  src/panels/config/helpers/ha-config-helpers.ts
  src/panels/config/helpers/show-dialog-helper-detail.ts
  src/panels/lovelace/cards/hui-button-card.ts
  src/panels/lovelace/editor/config-elements/hui-light-card-editor.ts
  src/panels/lovelace/entity-rows/hui-input-select-entity-row.ts
  src/resources/styles.ts
  src/state-summary/state-card-input_select.ts
  src/state/connection-mixin.ts
  src/translations/en.json
  src/types.ts
Labels: cla-signed

#4989 Revert "Static import all the LL cards etc"
  src/panels/lovelace/create-element/create-badge-element.ts
  src/panels/lovelace/create-element/create-card-element.ts
  src/panels/lovelace/create-element/create-header-footer-element.ts
  src/panels/lovelace/create-element/create-row-element.ts
Labels: cla-signed

#4995 Fix state_color for button
  src/panels/lovelace/cards/hui-button-card.ts
Labels: cla-signed

#5007 Fix action handling for buttons row
  src/panels/lovelace/components/hui-buttons-base.ts
Labels: cla-signed

#5010 Fix update if no lastversion and change audio pickers to default
  hassio/src/addon-view/hassio-addon-audio.ts
  hassio/src/dashboard/hassio-update.ts
Labels: cla-signed

#5000 Only cache default lovelace and handle config updates
  src/layouts/partial-panel-resolver.ts
  src/managers/notification-manager.ts
  src/panels/lovelace/ha-panel-lovelace.ts
  src/translations/en.json
Labels: cla-signed

#4999 GUI editors for stacks
  src/panels/lovelace/cards/hui-horizontal-stack-card.ts
  src/panels/lovelace/cards/hui-stack-card.ts
  src/panels/lovelace/cards/hui-vertical-stack-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/components/hui-card-options.ts
  src/panels/lovelace/editor/config-elements/hui-stack-card-editor.ts
Labels: cla-signed

#5012 Add UI to create and manage Lovelace dashboards and resources
  src/components/data-table/ha-data-table.ts
  src/components/ha-dialog.ts
  src/data/lovelace.ts
  src/layouts/hass-tabs-subpage.ts
  src/panels/config/dashboard/ha-config-navigation.ts
  src/panels/config/devices/device-detail/ha-device-automation-dialog.ts
  src/panels/config/devices/ha-config-devices.ts
  src/panels/config/ha-panel-config.ts
  src/panels/config/helpers/dialog-helper-detail.ts
  src/panels/config/lovelace/dashboards/dialog-lovelace-dashboard-detail.ts
  src/panels/config/lovelace/dashboards/ha-config-lovelace-dashboards.ts
  src/panels/config/lovelace/dashboards/show-dialog-lovelace-dashboard-detail.ts
  src/panels/config/lovelace/ha-config-lovelace.ts
  src/panels/config/lovelace/resources/dialog-lovelace-resource-detail.ts
  src/panels/config/lovelace/resources/ha-config-lovelace-resources.ts
  src/panels/config/lovelace/resources/show-dialog-lovelace-resource-detail.ts
  src/panels/config/person/dialog-person-detail.ts
  src/panels/config/zone/dialog-zone-detail.ts
  src/panels/lovelace/common/load-resources.ts
  src/resources/styles.ts
  src/translations/en.json
Labels: cla-signed

#4991 Fix for unavailable input-select
  src/panels/lovelace/cards/hui-entities-card.ts
  src/panels/lovelace/cards/hui-light-card.ts
  src/panels/lovelace/cards/hui-thermostat-card.ts
  src/panels/lovelace/entity-rows/hui-input-select-entity-row.ts
Labels: cla-signed

#4992 Add take control for yaml mode
  src/components/ha-yaml-editor.ts
  src/panels/lovelace/editor/hui-dialog-save-config.ts
  src/panels/lovelace/editor/show-save-config-dialog.ts
  src/panels/lovelace/ha-panel-lovelace.ts
  src/translations/en.json
Labels: cla-signed

#5022 Clean up generic row
  src/data/sensor.ts
  src/dialogs/more-info/controls/more-info-camera.ts
  src/dialogs/notifications/notification-item.ts
  src/dialogs/notifications/persistent-notification-item.ts
  src/panels/config/automation/condition/types/ha-automation-condition-numeric_state.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-numeric_state.ts
  src/panels/config/cloud/account/cloud-google-pref.ts
  src/panels/config/zha/zha-add-devices-page.ts
  src/panels/config/zha/zha-cluster-attributes.ts
  src/panels/config/zha/zha-cluster-commands.ts
  src/panels/config/zha/zha-device-card.ts
  src/panels/config/zha/zha-device-page.ts
  src/panels/lovelace/components/hui-action-editor.ts
  src/panels/lovelace/components/hui-entity-editor.ts
  src/panels/lovelace/components/hui-generic-entity-row.ts
  src/panels/lovelace/components/hui-image.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-edit-card.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-suggest-card.ts
  src/panels/lovelace/editor/config-elements/hui-alarm-panel-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-button-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-entities-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-gauge-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-glance-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-history-graph-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-light-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-map-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-markdown-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-media-control-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-picture-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-picture-entity-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-picture-glance-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-plant-status-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-sensor-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-shopping-list-editor.ts
  src/panels/lovelace/editor/config-elements/hui-stack-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-thermostat-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-weather-forecast-card-editor.ts
  src/panels/lovelace/editor/lovelace-editor/hui-dialog-edit-lovelace.ts
  src/panels/lovelace/editor/view-editor/hui-dialog-edit-view.ts
  src/panels/lovelace/editor/view-editor/hui-edit-view.ts
  src/panels/lovelace/elements/hui-image-element.ts
  src/panels/lovelace/elements/hui-service-button-element.ts
  src/panels/lovelace/elements/hui-state-badge-element.ts
  src/panels/lovelace/elements/hui-state-icon-element.ts
  src/panels/lovelace/entity-rows/hui-climate-entity-row.ts
  src/panels/lovelace/entity-rows/hui-cover-entity-row.ts
  src/panels/lovelace/entity-rows/hui-group-entity-row.ts
  src/panels/lovelace/entity-rows/hui-input-datetime-entity-row.ts
  src/panels/lovelace/entity-rows/hui-input-number-entity-row.ts
  src/panels/lovelace/entity-rows/hui-input-text-entity-row.ts
  src/panels/lovelace/entity-rows/hui-lock-entity-row.ts
  src/panels/lovelace/entity-rows/hui-media-player-entity-row.ts
  src/panels/lovelace/entity-rows/hui-scene-entity-row.ts
  src/panels/lovelace/entity-rows/hui-script-entity-row.ts
  src/panels/lovelace/entity-rows/hui-sensor-entity-row.ts
  src/panels/lovelace/entity-rows/hui-text-entity-row.ts
  src/panels/lovelace/entity-rows/hui-timer-entity-row.ts
  src/panels/lovelace/entity-rows/hui-toggle-entity-row.ts
  src/panels/lovelace/ha-panel-lovelace.ts
  src/panels/lovelace/hui-editor.ts
Labels: cla-signed

#5003 Fixes for brightness automation action
  src/components/ha-form/ha-form-integer.ts
  src/components/ha-form/ha-form.ts
  src/components/ha-paper-slider.js
  src/data/device_automation.ts
  src/panels/config/automation/action/types/ha-automation-action-device_id.ts
Labels: cla-signed

#5026 Update device automation whitelist
  src/data/device_automation.ts
Labels: cla-signed
