Repository home-assistant/frontend, pull requests merged in 2020-11, with the labels that each got.

#7514 Dark mode header color
  src/common/color/convert-color.ts
  src/common/color/hex.ts
  src/common/dom/apply_themes_on_element.ts
  src/resources/styles.ts
Labels: cla-signed, hacktoberfest, hacktoberfest-accepted

#7563 Use paper-tabs while in edit mode
  src/panels/lovelace/hui-root.ts
Labels: cla-signed, hacktoberfest, hacktoberfest-accepted

#7532 Add dark mode toggle to gallery cards
  gallery/src/components/demo-cards.js
  gallery/src/components/demo-more-info.js
  gallery/src/components/more-info-content.ts
  gallery/src/demos/demo-hui-alarm-panel-card.ts
  gallery/src/demos/demo-hui-entity-button-card.ts
  gallery/src/demos/demo-more-info-light.ts
  src/dialogs/more-info/ha-more-info-dialog.ts
  src/dialogs/more-info/more-info-content.ts
  src/fake_data/provide_hass.ts
Labels: cla-signed, hacktoberfest, hacktoberfest-accepted

#7562 Grid Card: Fix Card Picker
  src/panels/lovelace/editor/lovelace-cards.ts
  src/translations/en.json
Labels: cla-signed, hacktoberfest, hacktoberfest-accepted

#7575 Fix polyfill check
  src/common/translations/localize.ts
Labels: cla-signed

#7574 Make thingtalk dialogs translatable
  src/panels/config/automation/thingtalk/dialog-thingtalk.ts
  src/panels/config/automation/thingtalk/ha-thingtalk-placeholders.ts
  src/translations/en.json
Labels: cla-signed

#7375 Add "last_changed" and "last_updated" to dev tools state view
  src/panels/developer-tools/state/developer-tools-state.js
  src/translations/en.json
Labels: cla-signed, hacktoberfest, hacktoberfest-accepted

#7519 Use shopping list card in panel
  polymer.json
  src/panels/shopping-list/ha-panel-shopping-list.js
  src/panels/shopping-list/ha-panel-shopping-list.ts
  src/translations/en.json
Labels: cla-signed, hacktoberfest, hacktoberfest-accepted

#7597 Fix race condition in translation loading
  src/state/translations-mixin.ts
Labels: cla-signed

#7610 Add ingress session validation
  hassio/src/ingress-view/hassio-ingress-view.ts
  src/data/hassio/ingress.ts
  src/data/hassio/supervisor.ts
  test-mocha/hassio/create_session.spec.ts
Labels: cla-signed

#7587 Ensure all <mwc-fab> set a label for ARIA
  src/panels/config/areas/ha-config-areas-dashboard.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/helpers/ha-config-helpers.ts
  src/panels/config/integrations/ha-config-integrations.ts
  src/panels/config/integrations/integration-panels/zha/zha-config-dashboard.ts
  src/panels/config/integrations/integration-panels/zha/zha-groups-dashboard.ts
  src/panels/config/lovelace/dashboards/ha-config-lovelace-dashboards.ts
  src/panels/config/lovelace/resources/ha-config-lovelace-resources.ts
  src/panels/config/person/ha-config-person.ts
  src/panels/config/scene/ha-scene-dashboard.ts
  src/panels/config/scene/ha-scene-editor.ts
  src/panels/config/script/ha-script-editor.ts
  src/panels/config/script/ha-script-picker.ts
  src/panels/config/tags/ha-config-tags.ts
  src/panels/config/users/ha-config-users.ts
  src/panels/config/zone/ha-config-zone.ts
  src/panels/lovelace/editor/unused-entities/hui-unused-entities.ts
  src/panels/lovelace/views/hui-masonry-view.ts
  src/panels/lovelace/views/hui-panel-view.ts
  src/translations/en.json
Labels: cla-signed

#7577 Add "www" to generated tag QR code
  src/panels/config/tags/dialog-tag-detail.ts
Labels: cla-signed

#7634 Replace stale bot with GitHub Action
  .github/stale.yml
  .github/workflows/stale.yml
Labels: cla-signed

#7633 Replace lock bot with GitHub Action
  .github/lock.yml
  .github/workflows/lock.yml
Labels: cla-signed

#7593 Support system health streaming
  src/common/util/copy-clipboard.ts
  src/components/ha-circular-progress.ts
  src/components/ha-markdown-element.ts
  src/data/system_health.ts
  src/panels/config/info/system-health-card.ts
  src/translations/en.json
Labels: cla-signed

#7542 convert ha-cover-tilt-controls to TypeScript/LitElement
  src/components/ha-cover-tilt-controls.js
  src/components/ha-cover-tilt-controls.ts
  src/translations/en.json
Labels: cla-signed, hacktoberfest, hacktoberfest-accepted

#7580 Improve user experience when enabling a disabled entity
  src/data/entity_registry.ts
  src/panels/config/entities/entity-registry-basic-editor.ts
  src/panels/config/entities/entity-registry-settings.ts
  src/panels/config/entities/ha-config-entities.ts
  src/translations/en.json
Labels: cla-signed, wait for backend

#7636 Add link to conference
  public/static/images/conference.png
  src/panels/config/cloud/account/cloud-account.js
  src/panels/config/cloud/login/cloud-login.js
  src/panels/config/dashboard/ha-config-dashboard.ts
  src/panels/config/dashboard/ha-config-navigation.ts
  src/translations/en.json
Labels: cla-signed

#6751 Entities Card: Add Header & Footer Editor
  src/panels/lovelace/create-element/create-element-base.ts
  src/panels/lovelace/create-element/create-header-footer-element.ts
  src/panels/lovelace/editor/card-editor/hui-card-element-editor.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-edit-card.ts
  src/panels/lovelace/editor/config-elements/hui-conditional-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-entities-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-graph-footer-editor.ts
  src/panels/lovelace/editor/config-elements/hui-stack-card-editor.ts
  src/panels/lovelace/editor/entity-row-editor/hui-row-element-editor.ts
  src/panels/lovelace/editor/header-footer-editor/get-headerfooter-stub-config.ts
  src/panels/lovelace/editor/header-footer-editor/hui-dialog-create-headerfooter.ts
  src/panels/lovelace/editor/header-footer-editor/hui-header-footer-editor.ts
  src/panels/lovelace/editor/header-footer-editor/hui-header-footer-element-editor.ts
  src/panels/lovelace/editor/header-footer-editor/show-create-headerfooter-dialog.ts
  src/panels/lovelace/editor/hui-detail-editor-base.ts
  src/panels/lovelace/editor/hui-element-editor.ts
  src/panels/lovelace/editor/hui-entities-card-row-editor.ts
  src/panels/lovelace/editor/hui-sub-element-editor.ts
  src/panels/lovelace/editor/lovelace-headerfooters.ts
  src/panels/lovelace/editor/types.ts
  src/panels/lovelace/header-footer/hui-graph-header-footer.ts
  src/panels/lovelace/types.ts
  src/translations/en.json
Labels: cla-signed

#7592 Add flow for "progress" step
  src/data/data_entry_flow.ts
  src/dialogs/config-flow/dialog-data-entry-flow.ts
  src/dialogs/config-flow/show-dialog-config-flow.ts
  src/dialogs/config-flow/show-dialog-data-entry-flow.ts
  src/dialogs/config-flow/show-dialog-options-flow.ts
  src/dialogs/config-flow/step-flow-progress.ts
Labels: cla-signed

#7579 Remove logs and fix dark theme during onboarding restore
  src/html/onboarding.html.template
  src/onboarding/onboarding-restore-snapshot.ts
Labels: cla-signed

#7622 Make PR template more discussion-friendly
  .github/PULL_REQUEST_TEMPLATE.md
Labels: cla-signed

#6899 Replace date picker for entities card
  src/components/ha-date-input.ts
  src/dialogs/more-info/controls/more-info-input_datetime.js
  src/panels/lovelace/entity-rows/hui-input-datetime-entity-row.ts
Labels: cla-signed

#7584 Use clearer dialog button texts + various translation improvements
  src/dialogs/more-info/ha-more-info-dialog.ts
  src/panels/config/areas/ha-config-area-page.ts
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/panels/config/cloud/dialog-manage-cloudhook/dialog-manage-cloudhook.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/lovelace/resources/ha-config-lovelace-resources.ts
  src/panels/config/person/ha-config-person.ts
  src/panels/config/scene/ha-scene-editor.ts
  src/panels/config/script/ha-script-editor.ts
  src/panels/config/tags/ha-config-tags.ts
  src/panels/config/users/ha-config-users.ts
  src/panels/config/zone/ha-config-zone.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-edit-card.ts
  src/panels/lovelace/ha-panel-lovelace.ts
  src/panels/lovelace/hui-editor.ts
  src/panels/lovelace/hui-root.ts
  src/translations/en.json
Labels: cla-signed

#7511 Add button to duplicate script
  src/panels/config/script/ha-script-editor.ts
  src/translations/en.json
Labels: cla-signed, hacktoberfest, hacktoberfest-accepted

#7590 Minor visual QB command tweaks
  src/dialogs/quick-bar/ha-quick-bar.ts
  src/translations/en.json
Labels: cla-signed

#7588 Ensure "next" and "prev" buttons always have ARIA label
  hassio/src/ingress-view/hassio-ingress-view.ts
  src/components/ha-icon-button-arrow-next.ts
  src/components/ha-icon-button-arrow-prev.ts
  src/components/ha-icon-button-next.ts
  src/components/ha-icon-button-prev.ts
  src/dialogs/notifications/notification-drawer.js
  src/layouts/hass-error-screen.ts
  src/layouts/hass-loading-screen.ts
  src/layouts/hass-subpage.ts
  src/layouts/hass-tabs-subpage.ts
  src/panels/config/areas/ha-config-area-page.ts
  src/panels/config/cloud/account/cloud-account.js
  src/panels/config/cloud/alexa/cloud-alexa.ts
  src/panels/config/cloud/forgot-password/cloud-forgot-password.js
  src/panels/config/cloud/google-assistant/cloud-google-assistant.ts
  src/panels/config/cloud/login/cloud-login.js
  src/panels/config/cloud/register/cloud-register.js
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/config/integrations/integration-panels/mqtt/mqtt-config-panel.ts
  src/panels/config/integrations/integration-panels/ozw/ozw-config-dashboard.ts
  src/panels/config/integrations/integration-panels/ozw/ozw-node-config.ts
  src/panels/config/integrations/integration-panels/ozw/ozw-node-dashboard.ts
  src/panels/config/integrations/integration-panels/zha/zha-add-group-page.ts
  src/panels/config/integrations/integration-panels/zha/zha-group-page.ts
  src/panels/config/integrations/integration-panels/zwave/ha-config-zwave.js
  src/panels/lovelace/editor/view-editor/hui-dialog-edit-view.ts
  src/panels/lovelace/ha-panel-lovelace.ts
  src/panels/lovelace/hui-root.ts
Labels: cla-signed

#7500 Use ha-dialog for device-registry-details-dialog
  src/dialogs/device-registry-detail/dialog-device-registry-detail.ts
Labels: cla-signed, hacktoberfest, hacktoberfest-accepted

#7417 Get regular playlist url properly in ha-hls-player
  src/components/ha-hls-player.ts
Labels: cla-signed, hacktoberfest, hacktoberfest-accepted

#7613 Refactor brands url to single location
  src/dialogs/config-flow/step-flow-pick-handler.ts
  src/onboarding/integration-badge.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/config/info/integrations-card.ts
  src/panels/config/integrations/ha-config-integrations.ts
  src/panels/config/integrations/ha-integration-card.ts
  src/util/brands-url.ts
  test-mocha/util/generate-brands-url-spec.ts
Labels: cla-signed

#7337 Show user friendly attribute names in picker
  src/components/entity/ha-entity-attribute-picker.ts
  src/components/ha-attributes.ts
  src/components/ha-climate-state.ts
  src/dialogs/more-info/controls/more-info-sun.ts
  src/panels/config/customize/types/ha-customize-icon.js
  src/panels/config/customize/types/ha-customize-string.js
  src/translations/en.json
  src/util/hass-attributes-util.js
  src/util/hass-attributes-util.ts
Labels: cla-signed, hacktoberfest, hacktoberfest-accepted

#7640 Further brands-url cleanup
  src/dialogs/config-flow/step-flow-pick-handler.ts
  src/onboarding/integration-badge.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/config/info/integrations-card.ts
  src/panels/config/integrations/ha-config-integrations.ts
  src/panels/config/integrations/ha-integration-card.ts
  src/util/brands-url.ts
Labels: cla-signed

#7608 Add fix to more-info for media players without play/pause state
  src/dialogs/more-info/controls/more-info-media_player.ts
Labels: cla-signed

#7635 Add dialog backdrop blur theme variable
  src/components/ha-dialog.ts
  src/resources/ha-style.ts
Labels: cla-signed

#7643 Load system health translations from backend
  src/data/translation.ts
  src/panels/config/info/system-health-card.ts
  src/translations/en.json
Labels: cla-signed

#7470 Header/sidebar sizing
  src/components/ha-sidebar.ts
  src/components/ha-tab.ts
  src/components/ha-tabs.ts
  src/dialogs/notifications/notification-drawer.js
  src/layouts/hass-error-screen.ts
  src/layouts/hass-loading-screen.ts
  src/layouts/hass-subpage.ts
  src/layouts/hass-tabs-subpage.ts
  src/layouts/home-assistant-main.ts
  src/resources/ha-sortable-style.ts
  src/resources/ha-style.ts
Labels: cla-signed, hacktoberfest, hacktoberfest-accepted

#7380 Add navigation commands to quick bar commands
  src/common/config/can_show_page.ts
  src/data/panel.ts
  src/dialogs/quick-bar/ha-quick-bar.ts
  src/panels/config/dashboard/ha-config-navigation.ts
  src/translations/en.json
Labels: cla-signed, hacktoberfest, hacktoberfest-accepted

#7644 Don't block system_health if one value is null
  src/panels/config/info/system-health-card.ts
Labels: cla-signed

#6976 Logbook Card
  src/panels/logbook/ha-logbook.ts
  src/panels/lovelace/cards/hui-logbook-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/create-element/create-card-element.ts
  src/panels/lovelace/editor/config-elements/hui-logbook-card-editor.ts
  src/panels/lovelace/editor/lovelace-cards.ts
Labels: cla-signed, documentation added

#7645 Fixes for logbook card
  src/panels/lovelace/cards/hui-logbook-card.ts
  src/translations/en.json
Labels: cla-signed

#7648 Fix height of tabs subpage
  src/components/ha-tab.ts
Labels: cla-signed

#7647 Guard for undefined hass
  src/components/ha-icon-button-arrow-next.ts
  src/components/ha-icon-button-arrow-prev.ts
  src/components/ha-icon-button-next.ts
  src/components/ha-icon-button-prev.ts
Labels: cla-signed

#7389 Always show "off" button if supported by player
  gallery/public/images/sunflowers.jpg
  gallery/src/data/media_players.ts
  gallery/src/demos/demo-hui-media-control-card.ts
  gallery/src/demos/demo-hui-media-player-rows.ts
  src/data/media-player.ts
  src/dialogs/more-info/controls/more-info-media_player.ts
  src/panels/lovelace/cards/hui-media-control-card.ts
  src/panels/lovelace/entity-rows/hui-media-player-entity-row.ts
Labels: cla-signed, hacktoberfest, hacktoberfest-accepted

#7646 Fix view height in edit mode
  src/panels/lovelace/hui-root.ts
Labels: cla-signed

#7651 Fix pin of labeled slider cutoff
  src/components/ha-labeled-slider.js
Labels: cla-signed

#7650 Fix fabs
  src/panels/config/scene/ha-scene-dashboard.ts
  src/panels/config/script/ha-script-picker.ts
  src/translations/en.json
Labels: cla-signed

#7649 Move last changed / last updated out of state table
  src/panels/developer-tools/state/developer-tools-state.js
  src/translations/en.json
Labels: cla-signed

#7652 Fix areas devices picker
  src/components/device/ha-area-devices-picker.ts
Labels: cla-signed

#7653 Check for integration before loading logo
  src/panels/config/devices/ha-config-device-page.ts
Labels: cla-signed

#7664 Fix state-info icon color and convert to TypeScript/LitElement
  src/components/entity/state-info.js
  src/components/entity/state-info.ts
Labels: cla-signed

#7521 Convert ha-cover-controls to TypeScript/LitElement
  src/common/entity/cover_icon.ts
  src/components/ha-cover-controls.js
  src/components/ha-cover-controls.ts
  src/translations/en.json
Labels: cla-signed, hacktoberfest, hacktoberfest-accepted

#7663 Add a github option when copying from system health
  src/panels/config/info/system-health-card.ts
  src/translations/en.json
Labels: cla-signed

#7683 Add debug launch conf for VS Code
  .gitignore
  .vscode/launch.json
  .vscode/tasks.json
  build-scripts/gulp/webpack.js
  build-scripts/paths.js
  build-scripts/webpack.js
Labels: cla-signed

#7702 Cleanup
  package.json
  src/util/app-localstorage-document.js
Labels: cla-signed

#7657 Add missing 1px to prevent slider pin cutoff
  src/components/ha-labeled-slider.js
Labels: cla-signed

#7671 Quick Bar should only capitalize letters in Command Palette
  src/dialogs/quick-bar/ha-quick-bar.ts
Labels: cla-signed

#7703 Fix number format in state-card-display
  src/state-summary/state-card-display.js
Labels: cla-signed

#7697 Devcontainer
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .gitignore
  .vscode/tasks.json
  script/core
Labels: cla-signed, documentation needed

#7696 Guard passing invalid tag to customElements.whenDefined
  src/panels/lovelace/create-element/create-element-base.ts
Labels: cla-signed

#7704 Fix date picker row alignment
  src/components/ha-date-input.ts
Labels: cla-signed

#7710 Use stepid title if present for progress flow
  src/dialogs/config-flow/show-dialog-config-flow.ts
Labels: cla-signed

#7700 Move data_entry_flow_progressed event subscriber
  src/dialogs/config-flow/dialog-data-entry-flow.ts
  src/dialogs/config-flow/step-flow-external.ts
  src/dialogs/config-flow/step-flow-progress.ts
Labels: cla-signed

#7684 Improve gallery hui-light-card
  gallery/src/demos/demo-hui-light-card.ts
Labels: cla-signed

#7682 Improve gallery hui-gauge-card
  gallery/src/demos/demo-hui-gauge-card.ts
Labels: cla-signed

#7681 Use proper night time icon consistently for sun integration
  src/common/entity/domain_icon.ts
  src/components/entity/ha-state-label-badge.ts
Labels: cla-signed

#7689 Fix empty entity pickers for "Time" trigger and condition
  src/panels/config/automation/condition/types/ha-automation-condition-time.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-time.ts
Labels: cla-signed

#7690 Display entity ID for read-only entities
  src/panels/config/entities/dialog-entity-editor.ts
  src/translations/en.json
Labels: cla-signed

#7712 Allow dismissing
  .gitignore
  src/panels/config/dashboard/ha-config-dashboard.ts
Labels: cla-signed

#7719 Don't support safari 10 in minifaction for latest support
  build-scripts/bundle.js
Labels: cla-signed

#7513 Use ha-dialog for dialog-system-log-details, add close icon button
  src/panels/config/logs/dialog-system-log-detail.ts
Labels: cla-signed, hacktoberfest, hacktoberfest-accepted

#7721 Add Georgian language (Kartuli)
  src/translations/translationMetadata.json
Labels: cla-signed

#7695 WIP initial Blueprint UI
  src/components/ha-blueprint-picker.ts
  src/data/automation.ts
  src/data/blueprint.ts
  src/panels/config/automation/blueprint-automation-editor.ts
  src/panels/config/automation/dialog-new-automation.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/automation/manual-automation-editor.ts
  src/panels/config/automation/show-dialog-new-automation.ts
  src/panels/config/automation/thingtalk/dialog-thingtalk.ts
  src/panels/config/automation/thingtalk/show-dialog-thingtalk.ts
  src/panels/config/blueprint/dialog-import-blueprint.ts
  src/panels/config/blueprint/ha-blueprint-overview.ts
  src/panels/config/blueprint/ha-config-blueprint.ts
  src/panels/config/blueprint/show-dialog-import-blueprint.ts
  src/panels/config/ha-panel-config.ts
  src/translations/en.json
Labels: cla-signed

#7731 Remove conference banner
  public/static/images/conference.png
  src/panels/config/dashboard/ha-config-dashboard.ts
Labels: cla-signed

#7730 Adjust FAB for blueprint overview + align translations
  src/panels/config/blueprint/ha-blueprint-overview.ts
  src/translations/en.json
Labels: cla-signed

#7733 Check snapshot size before upload
  hassio/src/components/hassio-upload-snapshot.ts
Labels: cla-signed

#7676 Supervisor network changes
  hassio/src/dialogs/network/dialog-hassio-network.ts
  hassio/src/system/hassio-host-info.ts
  src/data/hassio/network.ts
Labels: cla-signed, supervisor

#7724 Close notification drawer when last entry is dismissed
  src/dialogs/notifications/notification-drawer.js
Labels: cla-signed

#7716 Use mwc-tabs in conditional card editor
  src/panels/lovelace/editor/config-elements/hui-conditional-card-editor.ts
Labels: cla-signed

#7735 Add entity and device selectors
  src/components/device/ha-device-picker.ts
  src/components/ha-blueprint-picker.ts
  src/components/ha-selector/ha-selector-device.ts
  src/components/ha-selector/ha-selector-entity.ts
  src/components/ha-selector/ha-selector.ts
  src/data/blueprint.ts
  src/data/entity_registry.ts
  src/data/selector.ts
  src/panels/config/automation/blueprint-automation-editor.ts
  src/panels/config/blueprint/ha-blueprint-overview.ts
Labels: cla-signed

#7744 Add missing "gate" cover device_class
  src/util/hass-attributes-util.ts
Labels: cla-signed

#7741 Make gallery config visible in dark mode + fix config alignment
  gallery/src/components/demo-card.js
  gallery/src/components/demo-more-info.js
  gallery/src/ha-gallery.js
Labels: cla-signed

#7746 Fix automation editor
  src/panels/config/automation/manual-automation-editor.ts
Labels: cla-signed

#7709 Convert ha-relative-time to TypeScript/LitElement
  src/components/ha-relative-time.js
  src/components/ha-relative-time.ts
Labels: cla-signed

#7725 Show validation errors in UI
  src/data/blueprint.ts
  src/panels/config/blueprint/dialog-import-blueprint.ts
  src/translations/en.json
Labels: cla-signed

#7752 Show error if no entity specified for history card
  src/panels/lovelace/cards/hui-history-graph-card.ts
Labels: cla-signed

#7754 Align gallery code + fix icon in entity-icon demo
  gallery/src/demos/demo-hui-alarm-panel-card.ts
  gallery/src/demos/demo-hui-conditional-card.ts
  gallery/src/demos/demo-hui-entity-button-card.ts
  gallery/src/demos/demo-hui-map-card.ts
  gallery/src/demos/demo-hui-media-control-card.ts
  gallery/src/demos/demo-hui-media-player-rows.ts
Labels: cla-signed

#7753 Fix spinner and 'Configuration' text in navigation commands
  src/dialogs/quick-bar/ha-quick-bar.ts
  src/translations/en.json
Labels: cla-signed

#7762 Ensure new grid card options don't break editor
  src/panels/lovelace/editor/config-elements/hui-stack-card-editor.ts
  src/panels/lovelace/editor/hui-element-editor.ts
Labels: cla-signed

#7764 Remove unused files and automate translation fragments
  .hound.yml
  build-scripts/gulp/translations.js
  polymer.json
Labels: cla-signed

#7766 Remove duplicate translation key
  src/translations/en.json
Labels: cla-signed

#7773 Upgrade Rollup babel plugin
  build-scripts/rollup.js
  package.json
  yarn.lock
Labels: cla-signed

#7769 use correct condition for display of tilt controls
  src/components/ha-cover-tilt-controls.ts
Labels: cla-signed

#7771 Load missing component titles for ha-related-items
  src/components/ha-related-items.ts
Labels: cla-signed

#7777 Clean up node-vibrant
  package.json
  src/common/color/rgb.ts
  src/common/image/extract_color.ts
  src/data/media-player.ts
  src/panels/lovelace/cards/hui-media-control-card.ts
  src/panels/lovelace/common/color/contrast.ts
  src/panels/lovelace/common/color/luminanace.ts
  yarn.lock
Labels: cla-signed

#7779 Close webpack compiler on prod build
  build-scripts/gulp/webpack.js
Labels: cla-signed

#7782 Allow developing with @web/dev-server
  build-scripts/bundle.js
  build-scripts/env.js
  build-scripts/gulp/app.js
  build-scripts/gulp/entry-html.js
  build-scripts/gulp/wds.js
  build-scripts/rollup.js
  package.json
  src/html/index.html.template
  web-dev-server.config.js
  yarn.lock
Labels: cla-signed

#7655 Reduce "wasted" screen space
  src/dialogs/more-info/controls/more-info-counter.ts
  src/dialogs/more-info/controls/more-info-sun.ts
  src/dialogs/more-info/controls/more-info-timer.ts
  src/panels/lovelace/cards/hui-alarm-panel-card.ts
  src/panels/lovelace/cards/hui-media-control-card.ts
Labels: cla-signed

#7677 Change order and wording snapshot actions
  hassio/src/dialogs/snapshot/dialog-hassio-snapshot.ts
Labels: cla-signed, supervisor

#7785 Force enable interface if configured
  hassio/src/dialogs/network/dialog-hassio-network.ts
Labels: cla-signed, supervisor

#7781 Add unhealthy dialog and SU restart button
  hassio/src/system/hassio-supervisor-info.ts
  src/data/hassio/resolution.ts
  src/data/hassio/supervisor.ts
Labels: cla-signed, documentation added, supervisor

#7790 Add ignored job_conditions to list of unsupported reasons
  hassio/src/system/hassio-supervisor-info.ts
Labels: cla-signed, supervisor

#7786 Fix filtering hidden columns entity table
  src/panels/config/entities/ha-config-entities.ts
Labels: cla-signed

#7792 Bump @web/dev-server
  build-scripts/rollup-plugins/ignore-plugin.js
  package.json
  yarn.lock
Labels: cla-signed

#7798 Use Record type
  demo/src/configs/types.ts
  src/common/dom/apply_themes_on_element.ts
  src/common/dom/dynamic-element-directive.ts
  src/common/translations/localize.ts
  src/common/url/search-params.ts
  src/components/ha-form/ha-form.ts
  src/components/ha-icon.ts
  src/components/map/ha-locations-editor.ts
  src/data/config_flow.ts
  src/data/conversation.ts
  src/data/data_entry_flow.ts
  src/data/hassio/hardware.ts
  src/data/history.ts
  src/data/options_flow.ts
  src/data/script.ts
  src/dialogs/config-flow/show-dialog-data-entry-flow.ts
  src/dialogs/config-flow/step-flow-form.ts
  src/external_app/external_messaging.ts
  src/fake_data/entity.ts
  src/fake_data/provide_hass.ts
  src/panels/config/automation/action/types/ha-automation-action-device_id.ts
  src/panels/config/automation/condition/types/ha-automation-condition-device.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-device.ts
  src/panels/lovelace/cards/hui-history-graph-card.ts
  src/panels/lovelace/cards/hui-map-card.ts
  src/panels/lovelace/entity-rows/types.ts
  src/types.ts
Labels: cla-signed

#7763 Additional number formatting
  src/common/entity/compute_state_display.ts
  src/common/string/format_number.ts
  src/common/string/number-format.ts
  src/components/entity/ha-state-label-badge.ts
  src/components/ha-climate-state.ts
  src/components/ha-gauge.ts
  src/data/weather.ts
  src/dialogs/more-info/controls/more-info-sun.ts
  src/dialogs/more-info/controls/more-info-weather.ts
  src/panels/lovelace/cards/hui-entity-card.ts
  src/panels/lovelace/cards/hui-gauge-card.ts
  src/panels/lovelace/cards/hui-thermostat-card.ts
  src/panels/lovelace/cards/hui-weather-forecast-card.ts
Labels: cla-signed

#7797 Add frontend url
  src/data/config_flow.ts
  src/state/connection-mixin.ts
  src/types.ts
  src/util/hass-call-api.ts
Labels: cla-signed

#7801 Clean up some types
  src/common/dom/apply_themes_on_element.ts
  src/common/entity/extract_views.ts
  src/common/entity/get_group_entities.ts
  src/common/entity/get_view_entities.ts
  src/common/entity/split_by_groups.ts
  src/components/ha-camera-stream.ts
  src/data/calendar.ts
  src/data/camera.ts
  src/data/group.ts
  src/data/input_select.ts
  src/data/light.ts
  src/data/media-player.ts
  src/data/weather.ts
  src/data/webhook.ts
  src/data/ws-themes.ts
  src/dialogs/more-info/controls/more-info-camera.ts
  src/dialogs/more-info/controls/more-info-group.ts
  src/dialogs/more-info/controls/more-info-light.ts
  src/dialogs/more-info/controls/more-info-media_player.ts
  src/panels/calendar/ha-panel-calendar.ts
  src/panels/config/cloud/account/cloud-webhooks.ts
  src/panels/lovelace/cards/hui-button-card.ts
  src/panels/lovelace/cards/hui-calendar-card.ts
  src/panels/lovelace/cards/hui-light-card.ts
  src/panels/lovelace/cards/hui-media-control-card.ts
  src/panels/lovelace/cards/hui-weather-forecast-card.ts
  src/panels/lovelace/common/generate-lovelace-config.ts
  src/panels/lovelace/components/hui-image.ts
  src/panels/lovelace/entity-rows/hui-input-select-entity-row.ts
  src/panels/lovelace/entity-rows/hui-media-player-entity-row.ts
  src/panels/lovelace/entity-rows/hui-weather-entity-row.ts
  src/state-summary/state-card-input_select.ts
  src/types.ts
Labels: cla-signed

#7816 Add description and device class
  src/components/ha-selector/ha-selector-entity.ts
  src/data/blueprint.ts
  src/data/selector.ts
  src/panels/config/automation/blueprint-automation-editor.ts
Labels: cla-signed

#7780 Fix init page message color
  src/layouts/ha-init-page.ts
Labels: cla-signed

#7800 Introduce supervisor object
  hassio/src/dashboard/hassio-addons.ts
  hassio/src/dashboard/hassio-dashboard.ts
  hassio/src/dashboard/hassio-update.ts
  hassio/src/hassio-main.ts
  hassio/src/hassio-panel-router.ts
  hassio/src/hassio-panel.ts
  hassio/src/hassio-router.ts
  hassio/src/snapshots/hassio-snapshots.ts
  hassio/src/supervisor-base-element.ts
  hassio/src/system/hassio-host-info.ts
  hassio/src/system/hassio-supervisor-info.ts
  hassio/src/system/hassio-system-metrics.ts
  hassio/src/system/hassio-system.ts
  src/data/hassio/host.ts
  src/data/supervisor/supervisor.ts
Labels: cla-signed

#7748 Blueprints: Added missing labels & tooltips, optimize input display + text tweaks
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/blueprint/dialog-import-blueprint.ts
  src/panels/config/blueprint/ha-blueprint-overview.ts
  src/translations/en.json
Labels: cla-signed

#7822 Add UI for new selectors
  src/components/ha-expansion-panel.ts
  src/components/ha-selector/ha-selector-area.ts
  src/components/ha-selector/ha-selector-boolean.ts
  src/components/ha-selector/ha-selector-device.ts
  src/components/ha-selector/ha-selector-number.ts
  src/components/ha-selector/ha-selector-time.ts
  src/components/ha-selector/ha-selector.ts
  src/components/paper-time-input.js
  src/data/blueprint.ts
  src/data/input_number.ts
  src/data/selector.ts
  src/panels/config/automation/blueprint-automation-editor.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/blueprint/dialog-import-blueprint.ts
  src/panels/config/blueprint/ha-blueprint-overview.ts
  src/panels/lovelace/entity-rows/hui-input-datetime-entity-row.ts
  src/translations/en.json
Labels: cla-signed

#7830 Show pointer cursor for input + scene entity rows
  src/panels/lovelace/entity-rows/hui-input-number-entity-row.ts
  src/panels/lovelace/entity-rows/hui-input-text-entity-row.ts
  src/panels/lovelace/entity-rows/hui-scene-entity-row.ts
Labels: cla-signed

#7740 Add state-info ellipsis + fix height
  src/components/entity/state-info.ts
Labels: cla-signed

#7832 Remove unused ZHA translations and fix ZHA fab labels
  src/translations/en.json
Labels: cla-signed

#7802 Add network visualization to the ZHA config panel
  package.json
  src/data/zha.ts
  src/panels/config/integrations/integration-panels/zha/zha-config-dashboard-router.ts
  src/panels/config/integrations/integration-panels/zha/zha-config-dashboard.ts
  src/panels/config/integrations/integration-panels/zha/zha-network-visualization-page.ts
  src/translations/en.json
  yarn.lock
Labels: cla-signed

#7831 Remove unusable Polymer mixin from LitElement (vacuum entity row)
  src/dialogs/more-info/controls/more-info-vacuum.ts
Labels: cla-signed

#7705 Display HA username + flags in user config
  src/data/user.ts
  src/panels/config/users/dialog-add-user.ts
  src/panels/config/users/dialog-user-detail.ts
  src/panels/config/users/ha-config-users.ts
  src/translations/en.json
Labels: cla-signed

#7827 Update skeleton height for compact header
  src/html/index.html.template
Labels: cla-signed

#7839 Make fab blue
  src/components/ha-fab.ts
  src/components/media-player/ha-media-player-browse.ts
  src/panels/config/areas/ha-config-areas-dashboard.ts
  src/panels/config/automation/blueprint-automation-editor.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/automation/manual-automation-editor.ts
  src/panels/config/blueprint/ha-blueprint-overview.ts
  src/panels/config/helpers/ha-config-helpers.ts
  src/panels/config/integrations/ha-config-integrations.ts
  src/panels/config/integrations/integration-panels/ozw/ozw-config-dashboard.ts
  src/panels/config/integrations/integration-panels/ozw/ozw-network-dashboard.ts
  src/panels/config/integrations/integration-panels/ozw/ozw-network-nodes.ts
  src/panels/config/integrations/integration-panels/ozw/ozw-node-config.ts
  src/panels/config/integrations/integration-panels/ozw/ozw-node-dashboard.ts
  src/panels/config/integrations/integration-panels/zha/zha-config-dashboard.ts
  src/panels/config/integrations/integration-panels/zha/zha-groups-dashboard.ts
  src/panels/config/lovelace/dashboards/ha-config-lovelace-dashboards.ts
  src/panels/config/lovelace/resources/ha-config-lovelace-resources.ts
  src/panels/config/person/ha-config-person.ts
  src/panels/config/scene/ha-scene-dashboard.ts
  src/panels/config/scene/ha-scene-editor.ts
  src/panels/config/script/ha-script-editor.ts
  src/panels/config/script/ha-script-picker.ts
  src/panels/config/tags/ha-config-tags.ts
  src/panels/config/users/ha-config-users.ts
  src/panels/config/zone/ha-config-zone.ts
  src/panels/lovelace/editor/unused-entities/hui-unused-entities.ts
  src/panels/lovelace/views/default-view-editable.ts
  src/panels/lovelace/views/hui-masonry-view.ts
  src/panels/lovelace/views/hui-panel-view.ts
Labels: cla-signed

#7844 Apply existing theme variables to unthemed items
  src/dialogs/notifications/notification-item-template.ts
  src/panels/developer-tools/ha-panel-developer-tools.ts
Labels: cla-signed

#7837 Add UI for setting an area on entity level
  hassio/src/dialogs/network/dialog-hassio-network.ts
  src/components/ha-area-picker.ts
  src/components/ha-expansion-panel.ts
  src/data/entity_registry.ts
  src/panels/config/blueprint/dialog-import-blueprint.ts
  src/panels/config/devices/device-detail/ha-device-info-card.ts
  src/panels/config/devices/device-registry-detail/dialog-device-registry-detail.ts
  src/panels/config/devices/device-registry-detail/show-dialog-device-registry-detail.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/config/entities/entity-registry-basic-editor.ts
  src/panels/config/entities/entity-registry-settings.ts
  src/panels/config/entities/ha-config-entities.ts
  src/translations/en.json
Labels: cla-signed

#7843 Enhance ZHA device pairing feedback
  src/data/zha.ts
  src/panels/config/integrations/integration-panels/zha/zha-add-devices-page.ts
  src/panels/config/integrations/integration-panels/zha/zha-device-pairing-status-card.ts
  src/translations/en.json
Labels: cla-signed

#7842 Show attribute value when 0
  src/panels/lovelace/special-rows/hui-attribute-row.ts
Labels: cla-signed

#7850 Use balloons as default pic for header.
  src/panels/lovelace/header-footer/hui-picture-header-footer.ts
Labels: cla-signed

#7848 Add ZHA fab for adding device when filtered by ZHA
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/panels/config/entities/ha-config-entities.ts
Labels: cla-signed
