Repository home-assistant/frontend, pull requests merged in 2020-04, with the labels that each got.

#5391 handle brightness reporting while light off
  src/components/entity/state-badge.ts
  src/panels/lovelace/cards/hui-light-card.ts
Labels: cla-signed

#5392 allow a notification to have no title
  src/dialogs/notifications/persistent-notification-item.ts
Labels: cla-signed

#5388 Add icons to integration page
  src/panels/config/integrations/ha-config-entries-dashboard.ts
Labels: cla-signed

#5389 Weather Row: Generic
  src/data/weather.ts
  src/panels/lovelace/entity-rows/hui-weather-entity-row.ts
Labels: cla-signed

#5393 Markdown Card: Add User Variable
  src/panels/lovelace/cards/hui-markdown-card.ts
Labels: cla-signed, documentation needed

#5385 Show volume slider on smaller screens
  gallery/src/components/demo-card.js
  src/components/entity/state-badge.ts
  src/panels/lovelace/entity-rows/hui-media-player-entity-row.ts
Labels: cla-signed

#5395 Clean up theme settings
  src/panels/lovelace/cards/hui-button-card.ts
  src/panels/lovelace/cards/hui-entities-card.ts
  src/panels/lovelace/cards/hui-gauge-card.ts
  src/panels/lovelace/cards/hui-glance-card.ts
  src/panels/lovelace/cards/hui-history-graph-card.ts
  src/panels/lovelace/cards/hui-light-card.ts
  src/panels/lovelace/cards/hui-media-control-card.ts
  src/panels/lovelace/cards/hui-sensor-card.ts
  src/panels/lovelace/cards/hui-thermostat-card.ts
  src/panels/lovelace/editor/config-elements/hui-alarm-panel-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-button-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-entities-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-entity-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-gauge-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-glance-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-light-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-markdown-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-picture-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-picture-entity-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-picture-glance-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-plant-status-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-sensor-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-shopping-list-editor.ts
  src/panels/lovelace/editor/config-elements/hui-thermostat-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-weather-forecast-card-editor.ts
  src/panels/lovelace/views/hui-view.ts
Labels: cla-signed

#4723 ✨ add attribute row
  src/panels/lovelace/create-element/create-row-element.ts
  src/panels/lovelace/entity-rows/types.ts
  src/panels/lovelace/special-rows/hui-attribute-row.ts
Labels: cla-signed, documentation needed

#5397 Change user dialog
  src/panels/config/users/dialog-add-user.ts
  src/panels/config/users/dialog-user-detail.ts
  src/panels/config/users/ha-config-users.ts
  src/translations/en.json
Labels: cla-signed

#5396 Add link to area on device page
  src/panels/config/devices/ha-config-device-page.ts
Labels: cla-signed

#5322 Sensor Card: Use Entity card with graph footer
  src/panels/lovelace/cards/hui-entity-card.ts
  src/panels/lovelace/cards/hui-sensor-card.ts
Labels: cla-signed

#5398 Always render conditional elements
  src/panels/lovelace/cards/hui-conditional-card.ts
  src/panels/lovelace/components/hui-conditional-base.ts
  src/panels/lovelace/special-rows/hui-conditional-row.ts
Labels: cla-signed

#5245 Card Editor: Add Toggle to Dialog
  src/panels/lovelace/editor/card-editor/hui-card-editor.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-edit-card.ts
  src/panels/lovelace/editor/config-elements/hui-stack-card-editor.ts
  src/panels/lovelace/editor/types.ts
Labels: cla-signed

#4744 ♻️ change call-service row to button row
  src/panels/lovelace/common/call-service.ts
  src/panels/lovelace/create-element/create-row-element.ts
  src/panels/lovelace/entity-rows/types.ts
  src/panels/lovelace/special-rows/hui-button-row.ts
  src/panels/lovelace/special-rows/hui-call-service-row.ts
Labels: cla-signed, documentation added

#5402 Shopping List Card: Padding Bottom
  src/panels/lovelace/cards/hui-shopping-list-card.ts
Labels: cla-signed

#5415 Data table display fixes
  src/common/search/search-input.ts
  src/layouts/hass-tabs-subpage-data-table.ts
  src/layouts/hass-tabs-subpage.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/lovelace/dashboards/ha-config-lovelace-dashboards.ts
Labels: cla-signed

#5417 Also fix for wide
  src/layouts/hass-tabs-subpage.ts
Labels: cla-signed

#5419 Fix element imports in ZHA config panel
  src/panels/config/zha/zha-add-group-page.ts
  src/panels/config/zha/zha-group-binding.ts
Labels: cla-signed

#5405 Delete Card Action: Undo in Toast
  src/managers/notification-manager.ts
  src/panels/lovelace/editor/config-util.ts
  src/panels/lovelace/editor/delete-card.ts
  src/translations/en.json
  src/util/toast-deleted-success.ts
Labels: cla-signed

#5424 Preview badge: Margin
  src/panels/lovelace/editor/view-editor/hui-edit-view.ts
Labels: cla-signed

#5425 Card Picker: Fix Clicking cards
  src/panels/lovelace/editor/card-editor/hui-card-picker.ts
Labels: cla-signed

#5428 Don't cache all config pages
  src/panels/config/ha-panel-config.ts
  src/panels/config/zha/zha-config-dashboard-router.ts
Labels: cla-signed

#5427 Fixes for horizontal stack optimization
  src/panels/lovelace/cards/hui-entities-card.ts
  src/panels/lovelace/cards/hui-entity-card.ts
  src/panels/lovelace/cards/hui-light-card.ts
  src/panels/lovelace/cards/hui-thermostat-card.ts
Labels: cla-signed

#5430 Fix outline on mouseover in firefox
  src/panels/lovelace/components/hui-card-options.ts
Labels: cla-signed

#5429 Add rebuild to conditional and always show in edit mode
  src/panels/lovelace/cards/hui-conditional-card.ts
  src/panels/lovelace/cards/hui-entity-filter-card.ts
  src/panels/lovelace/cards/hui-stack-card.ts
  src/panels/lovelace/components/hui-conditional-base.ts
  src/panels/lovelace/editor/config-elements/hui-conditional-card-editor.ts
  src/panels/lovelace/entity-rows/types.ts
  src/panels/lovelace/special-rows/hui-conditional-row.ts
Labels: cla-signed

#5433 Edit Options: Overflow Menu Fix
  src/panels/lovelace/components/hui-card-options.ts
Labels: cla-signed

#5432 Datatable fab padding
  src/components/data-table/ha-data-table.ts
  src/layouts/hass-tabs-subpage-data-table.ts
  src/panels/config/areas/ha-config-areas-dashboard.ts
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/helpers/ha-config-helpers.ts
  src/panels/config/lovelace/dashboards/ha-config-lovelace-dashboards.ts
  src/panels/config/lovelace/resources/ha-config-lovelace-resources.ts
  src/panels/config/scene/ha-scene-dashboard.ts
  src/panels/config/script/ha-script-picker.ts
  src/panels/config/users/ha-config-users.ts
Labels: cla-signed

#5446 Fix another ZHA import
  src/panels/config/zha/zha-config-dashboard.ts
Labels: cla-signed

#5440 Entity Row: Input Number Slider
  src/panels/lovelace/entity-rows/hui-input-number-entity-row.ts
Labels: cla-signed

#5442 Always load error log in safe mode
  src/panels/developer-tools/logs/error-log-card.ts
Labels: cla-signed

#5452 Add error logs to safe mode card
  src/panels/lovelace/cards/hui-safe-mode-card.ts
  src/translations/en.json
Labels: cla-signed

#5465 Add modal to hui-dialog-delete-card
  src/panels/lovelace/editor/card-editor/hui-dialog-delete-card.ts
Labels: cla-signed

#5443 Entity Card: Description in Translations
  src/translations/en.json
Labels: cla-signed

#5469 Fix user config UI for mobile
  src/panels/config/users/dialog-user-detail.ts
  src/panels/config/users/ha-config-users.ts
Labels: cla-signed

#5474 Add import for ha-state-icon
  src/panels/config/devices/ha-config-device-page.ts
Labels: cla-signed

#5476 Missing imports
  src/panels/config/lovelace/dashboards/ha-config-lovelace-dashboards.ts
  src/panels/config/lovelace/resources/ha-config-lovelace-resources.ts
Labels: cla-signed

#5463 Shopping Cart: CSS HTML updates
  src/panels/lovelace/cards/hui-shopping-list-card.ts
Labels: cla-signed

#5453 Card Editor: Icon Picker Everywhere
  src/panels/lovelace/editor/config-elements/hui-button-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-entity-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-sensor-card-editor.ts
Labels: cla-signed

#5478 Allow header of mfa dialog to wrap
  src/panels/profile/ha-mfa-module-setup-flow.js
Labels: cla-signed

#5477 Add padding to no logbook message
  src/panels/logbook/ha-logbook.ts
Labels: cla-signed

#5481 20200407.0
  build-scripts/gulp/entry-html.js
  build-scripts/gulp/webpack.js
  build-scripts/webpack.js
  gallery/src/components/demo-card.js
  gallery/src/demos/demo-hui-media-control-card.ts
  gallery/webpack.config.js
  package.json
  setup.py
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/config/lovelace/dashboards/ha-config-lovelace-dashboards.ts
  src/panels/config/lovelace/resources/ha-config-lovelace-resources.ts
  src/panels/logbook/ha-logbook.ts
  src/panels/lovelace/cards/hui-shopping-list-card.ts
  src/panels/lovelace/editor/config-elements/hui-button-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-entity-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-sensor-card-editor.ts
  src/panels/profile/ha-mfa-module-setup-flow.js
  translations/cy.json
  translations/en.json
  yarn.lock
Labels: cla-signed

#5484 Fix execute button on automation list
  src/panels/config/automation/ha-automation-picker.ts
Labels: cla-signed

#5487 20200407.1
  setup.py
  src/panels/config/automation/ha-automation-picker.ts
Labels: cla-signed

#5491 Fix first logbook item not being shown
  src/panels/logbook/ha-logbook.ts
Labels: cla-signed

#5479 Set correct lang attribute
  demo/src/html/index.html.template
  src/auth/ha-authorize.ts
  src/html/authorize.html.template
  src/html/index.html.template
  src/html/onboarding.html.template
  src/mixins/lit-localize-lite-mixin.ts
  src/onboarding/ha-onboarding.ts
  src/state/translations-mixin.ts
Labels: cla-signed

#5473 Fix gallery translation and add more demos
  gallery/src/components/demo-card.js
  gallery/src/demos/demo-hui-alarm-panel-card.ts
  gallery/src/demos/demo-hui-conditional-card.ts
  gallery/src/demos/demo-hui-entities-card.ts
  gallery/src/demos/demo-hui-entity-button-card.ts
  gallery/src/demos/demo-hui-entity-filter-card.ts
  gallery/src/demos/demo-hui-gauge-card.ts
  gallery/src/demos/demo-hui-glance-card.ts
  gallery/src/demos/demo-hui-light-card.ts
  gallery/src/demos/demo-hui-map-card.ts
  gallery/src/demos/demo-hui-media-control-card.ts
  gallery/src/demos/demo-hui-media-player-rows.ts
  gallery/src/demos/demo-hui-picture-elements-card.ts
  gallery/src/demos/demo-hui-picture-entity-card.ts
  gallery/src/demos/demo-hui-picture-glance-card.ts
  gallery/src/demos/demo-hui-shopping-list-card.ts
  gallery/src/demos/demo-hui-stack-card.ts
  gallery/src/demos/demo-hui-thermostat-card.ts
  gallery/src/demos/demo-more-info-light.ts
  src/fake_data/provide_hass.ts
Labels: cla-signed

#5488 Fix cast panel view
  cast/src/receiver/layout/hc-lovelace.ts
  src/panels/lovelace/common/directives/action-handler-directive.ts
Labels: cla-signed

#5486 Filter add-ons in the store based on advanced mode
  hassio/src/addon-store/hassio-addon-repository.ts
  src/data/hassio/addon.ts
Labels: cla-signed, supervisor

#5386 Make unavailable elements disabled
  src/components/entity/ha-entity-toggle.ts
  src/components/ha-cover-controls.js
  src/components/ha-cover-tilt-controls.js
  src/data/entity.ts
  src/panels/lovelace/cards/hui-entity-card.ts
  src/panels/lovelace/cards/hui-glance-card.ts
  src/panels/lovelace/cards/hui-light-card.ts
  src/panels/lovelace/cards/hui-media-control-card.ts
  src/panels/lovelace/cards/hui-picture-entity-card.ts
  src/panels/lovelace/cards/hui-thermostat-card.ts
  src/panels/lovelace/components/hui-unavailable.ts
  src/panels/lovelace/editor/card-editor/hui-card-picker.ts
  src/panels/lovelace/entity-rows/hui-input-datetime-entity-row.ts
  src/panels/lovelace/entity-rows/hui-input-number-entity-row.ts
  src/panels/lovelace/entity-rows/hui-input-select-entity-row.ts
  src/panels/lovelace/entity-rows/hui-input-text-entity-row.ts
  src/panels/lovelace/entity-rows/hui-lock-entity-row.ts
  src/panels/lovelace/entity-rows/hui-scene-entity-row.ts
  src/panels/lovelace/entity-rows/hui-script-entity-row.ts
  src/panels/lovelace/entity-rows/hui-toggle-entity-row.ts
  src/panels/lovelace/entity-rows/hui-weather-entity-row.ts
Labels: cla-signed

#5494 Import ha-fab
  src/panels/config/helpers/ha-config-helpers.ts
Labels: cla-signed

#5500 Add icons when adding integration
  src/common/search/search-input.ts
  src/components/data-table/ha-data-table.ts
  src/dialogs/config-flow/step-flow-loading.ts
  src/dialogs/config-flow/step-flow-pick-handler.ts
  src/layouts/hass-tabs-subpage-data-table.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/lovelace/resources/ha-config-lovelace-resources.ts
Labels: cla-signed

#5506 fix imports
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/scene/ha-scene-editor.ts
  src/panels/config/script/ha-script-editor.ts
Labels: cla-signed

#5505 Fix map init on connected
  src/panels/lovelace/cards/hui-map-card.ts
Labels: cla-signed

#5508 Remove sort now that data-table does it
  src/panels/config/automation/ha-config-automation.js
  src/panels/config/scene/ha-config-scene.ts
  src/panels/config/script/ha-config-script.js
Labels: cla-signed

#5509 Migrate automations config panel to router
  src/data/automation.ts
  src/panels/config/automation/ha-config-automation.js
  src/panels/config/automation/ha-config-automation.ts
Labels: cla-signed

#5512 Convert script config panel to router
  src/data/script.ts
  src/panels/config/script/ha-config-script.js
  src/panels/config/script/ha-config-script.ts
  src/panels/config/script/ha-script-picker.ts
Labels: cla-signed

#5489 Reload frontend if backend changes
  src/layouts/home-assistant.ts
  src/util/register-service-worker.ts
Labels: cla-signed

#5431 Make add devices button available on ZHA coordinator
  src/panels/config/zha/zha-add-devices-page.ts
  src/panels/config/zha/zha-device-card.ts
  src/panels/config/zha/zha-node.ts
Labels: cla-signed

#5501 Add icons to info panel
  src/panels/developer-tools/info/integrations-card.ts
Labels: cla-signed

#5518 Fix hui-entities-card margin
  src/panels/lovelace/cards/hui-entities-card.ts
Labels: cla-signed

#5537 remove @types/chromecast-caf-sender
  demo/src/custom-cards/cast-demo-row.ts
  package.json
  src/cast/cast_manager.ts
  yarn.lock
Labels: cla-signed

#5538 Add Lit analyzer
  package.json
  tsconfig.json
  yarn.lock
Labels: cla-signed

#5445 Add ability to see Zigbee information for a device
  src/components/ha-code-editor.ts
  src/data/zha.ts
  src/dialogs/zha-device-zigbee-signature-dialog/dialog-zha-device-zigbee-info.ts
  src/dialogs/zha-device-zigbee-signature-dialog/show-dialog-zha-device-zigbee-info.ts
  src/panels/config/zha/zha-device-card.ts
  src/translations/en.json
Labels: cla-signed

#5516 Add entity row that displays static text
  src/panels/lovelace/create-element/create-row-element.ts
  src/panels/lovelace/entity-rows/types.ts
  src/panels/lovelace/special-rows/hui-text-row.ts
Labels: cla-signed

#5517 Remove srcset from brands
  src/dialogs/config-flow/step-flow-pick-handler.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/config/integrations/ha-config-entries-dashboard.ts
  src/panels/developer-tools/info/integrations-card.ts
Labels: cla-signed

#5547 Add missing imports in helpers
  src/panels/config/helpers/forms/ha-input_datetime-form.ts
  src/panels/config/helpers/forms/ha-input_number-form.ts
Labels: cla-signed

#5548 Remove npm
  package.json
  yarn.lock
Labels: cla-signed

#5546 Update where we load integration titles from
  src/components/ha-related-items.ts
  src/data/config_flow.ts
  src/dialogs/config-entry-system-options/dialog-config-entry-system-options.ts
  src/dialogs/config-flow/show-dialog-config-flow.ts
  src/dialogs/config-flow/step-flow-pick-handler.ts
  src/onboarding/onboarding-integrations.ts
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/panels/config/devices/ha-devices-data-table.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/integrations/ha-config-entries-dashboard.ts
Labels: cla-signed

#5448 Add loading for initial state on graph
  src/panels/lovelace/common/graph/get-history-coordinates.ts
  src/panels/lovelace/header-footer/hui-graph-header-footer.ts
Labels: cla-signed

#5549 Use manfiests to render doc urls
  src/data/integration.ts
  src/data/system_log.ts
  src/panels/developer-tools/info/integrations-card.ts
  src/panels/developer-tools/logs/dialog-system-log-detail.ts
Labels: cla-signed

#5558 Update domain translation string
  src/data/integration.ts
  src/dialogs/domain-toggler/dialog-domain-toggler.ts
  src/dialogs/notifications/configurator-notification-item.ts
  src/panels/config/automation/thingtalk/ha-thingtalk-placeholders.ts
  src/panels/developer-tools/info/integrations-card.ts
  src/panels/developer-tools/info/system-health-card.ts
  src/panels/developer-tools/logs/dialog-system-log-detail.ts
  src/panels/lovelace/common/generate-lovelace-config.ts
  src/panels/lovelace/ha-panel-lovelace.ts
  src/translations/en.json
Labels: cla-signed

#5497 Add Search to Card Picker
  src/common/search/search-input.ts
  src/dialogs/config-flow/step-flow-pick-handler.ts
  src/panels/lovelace/editor/card-editor/hui-card-picker.ts
Labels: cla-signed

#5581 Get state translations from backend
  src/common/entity/compute_state_display.ts
  src/components/entity/ha-state-label-badge.ts
  src/panels/config/zwave/ha-config-zwave.js
  src/state/translations-mixin.ts
  src/translations/en.json
  test-mocha/common/entity/compute_state_display.ts
Labels: cla-signed

#5579 Add up/down movement icons to shutter
  src/common/entity/cover_icon.ts
Labels: cla-signed

#5556 Add secondary option for cover entities
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/components/hui-generic-entity-row.ts
Labels: cla-signed

#5584 Mark titles in config flows optional
  src/dialogs/config-flow/show-dialog-config-flow.ts
Labels: cla-signed

#5573 Add device automation translations to add automation device dialog
  src/panels/config/devices/device-detail/ha-device-automation-dialog.ts
Labels: cla-signed

#5499 Graph Footer: Cache State History
  src/panels/lovelace/common/graph/get-history-coordinates.ts
  src/panels/lovelace/header-footer/hui-graph-header-footer.ts
Labels: cla-signed

#5580 New layout for integration config
  src/components/ha-related-items.ts
  src/data/config_entries.ts
  src/layouts/hass-tabs-subpage-data-table.ts
  src/panels/config/areas/ha-config-areas.ts
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/panels/config/devices/ha-config-devices.ts
  src/panels/config/devices/ha-devices-data-table.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/integrations/config-entry/ha-ce-entities-card.js
  src/panels/config/integrations/config-entry/ha-config-entry-page.ts
  src/panels/config/integrations/ha-config-entries-dashboard.ts
  src/panels/config/integrations/ha-config-integrations.ts
  src/panels/lovelace/components/hui-card-options.ts
  src/resources/markdown_worker.ts
  src/resources/styles.ts
  src/translations/en.json
Labels: cla-signed

#5375 Display MQTT debug info
  src/data/mqtt.ts
  src/dialogs/mqtt-device-debug-info-dialog/dialog-mqtt-device-debug-info.ts
  src/dialogs/mqtt-device-debug-info-dialog/mqtt-discovery-payload.ts
  src/dialogs/mqtt-device-debug-info-dialog/mqtt-messages.ts
  src/dialogs/mqtt-device-debug-info-dialog/show-dialog-mqtt-device-debug-info.ts
  src/panels/config/devices/device-detail/ha-device-card-mqtt.ts
  src/translations/en.json
Labels: cla-signed

#5387 Weather Card: Beautify
  public/static/images/weather/night.png
  public/static/images/weather/partly-cloudy.png
  public/static/images/weather/sunny.png
  src/data/weather.ts
  src/panels/lovelace/cards/hui-weather-forecast-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/editor/config-elements/hui-weather-forecast-card-editor.ts
  src/panels/lovelace/entity-rows/hui-weather-entity-row.ts
  src/translations/en.json
  src/types.ts
Labels: cla-signed

#5597 Fix a bunch of translation strings
  src/common/entity/compute_state_display.ts
  src/components/ha-climate-state.js
  src/components/ha-vacuum-state.js
  src/components/ha-water_heater-state.js
  src/dialogs/more-info/controls/more-info-climate.ts
  src/dialogs/more-info/controls/more-info-water_heater.js
  src/dialogs/notifications/configurator-notification-item.ts
  src/panels/lovelace/cards/hui-alarm-panel-card.ts
  src/panels/lovelace/cards/hui-entity-card.ts
  src/panels/lovelace/cards/hui-light-card.ts
  src/panels/lovelace/cards/hui-thermostat-card.ts
  src/panels/lovelace/cards/hui-weather-forecast-card.ts
  src/panels/lovelace/entity-rows/hui-weather-entity-row.ts
  src/state-summary/state-card-configurator.js
  src/state-summary/state-card-media_player.js
Labels: cla-signed

#5606 Fix translations for Z-Wave & Zigbee
  src/panels/config/dashboard/ha-config-navigation.ts
  src/panels/config/ha-panel-config.ts
  src/panels/config/zha/zha-config-dashboard.ts
  src/translations/en.json
Labels: cla-signed

#5594 Fix integrations fab spacing
  src/panels/config/integrations/ha-config-integrations.ts
Labels: cla-signed

#5607 Allow to remove config entry name
  src/dialogs/generic/dialog-box.ts
  src/panels/config/integrations/ha-config-integrations.ts
Labels: cla-signed

#5589 Hide config entry title when same as integration name
  src/panels/config/integrations/ha-config-integrations.ts
Labels: cla-signed

#5590 Add min width to toolbar icon to prevent tabs jumping
  src/layouts/hass-tabs-subpage.ts
Labels: cla-signed

#5588 Don't update entity picker items while open
  src/components/entity/ha-entity-picker.ts
  src/panels/config/automation/action/types/ha-automation-action-scene.ts
  src/panels/config/automation/action/types/ha-automation-action-service.ts
  src/panels/config/automation/condition/types/ha-automation-condition-zone.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-geo_location.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-zone.ts
Labels: cla-signed

#5608 Improve Lovelace take control warning.
  src/translations/en.json
Labels: cla-signed

#5617 Fix lit/no-invalid-html
  .prettierignore
  package.json
  src/components/ha-related-items.ts
  src/panels/config/integrations/ha-config-integrations.ts
Labels: cla-signed

#5615 Fix include domains on entity picker
  src/panels/config/automation/action/types/ha-automation-action-scene.ts
  src/panels/config/automation/condition/types/ha-automation-condition-zone.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-geo_location.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-zone.ts
  src/panels/config/person/dialog-person-detail.ts
  src/panels/lovelace/editor/config-elements/hui-alarm-panel-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-gauge-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-light-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-media-control-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-picture-entity-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-picture-glance-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-plant-status-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-sensor-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-thermostat-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-weather-forecast-card-editor.ts
Labels: cla-signed

#5591 Optimize automation editor
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/automation/ha-config-automation.ts
Labels: cla-signed

#5621 Lovelace Dashboard: Better logic for Filling URL
  src/panels/config/lovelace/dashboards/dialog-lovelace-dashboard-detail.ts
Labels: cla-signed

#5629 Fix alarm panel translations
  src/panels/lovelace/cards/hui-alarm-panel-card.ts
Labels: cla-signed

#5631 Fix entity card state display
  src/panels/lovelace/cards/hui-entity-card.ts
Labels: cla-signed

#5643 Fix demo themes
  demo/src/configs/jimpower/theme.ts
  demo/src/configs/kernehed/theme.ts
  demo/src/configs/teachingbirds/theme.ts
Labels: cla-signed

#5593 Add search to integrations 🔍
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/integrations/ha-config-integrations.ts
  src/translations/en.json
Labels: cla-signed

#5624 Weather Card: Switch Importance of Name and State
  src/data/weather.ts
  src/panels/lovelace/cards/hui-weather-forecast-card.ts
Labels: cla-signed

#5644 Updated repo links on Dev Tools Info panel
  src/panels/developer-tools/info/developer-tools-info.ts
Labels: cla-signed

#5626 Improve styling of MQTT debug info
  src/data/mqtt.ts
  src/dialogs/mqtt-device-debug-info-dialog/dialog-mqtt-device-debug-info.ts
  src/dialogs/mqtt-device-debug-info-dialog/mqtt-discovery-payload.ts
  src/dialogs/mqtt-device-debug-info-dialog/mqtt-messages.ts
Labels: cla-signed

#5496 Adds more log types to the system tab
  hassio/src/addon-view/hassio-addon-logs.ts
  hassio/src/ansi-to-html.ts
  hassio/src/components/hassio-ansi-to-html.ts
  hassio/src/system/hassio-supervisor-log.ts
  src/data/hassio/supervisor.ts
Labels: cla-signed, supervisor

#5657 Prevent recreation of entities row on every update of hass
  src/panels/config/devices/device-detail/ha-device-entities-card.ts
Labels: cla-signed

#5673 Improved spacing balance for weather forecast
  src/panels/lovelace/cards/hui-weather-forecast-card.ts
Labels: cla-signed

#5671 Update intl-messageformat (and remove @polymer/app-localize-behavior)
  package.json
  src/common/translations/localize.ts
  src/panels/config/integrations/ha-config-integrations.ts
  yarn.lock
Labels: cla-signed

#5646 Group config entries by integration
  src/panels/config/integrations/ha-config-integrations.ts
  src/panels/config/integrations/ha-integration-card.ts
Labels: cla-signed

#5649 Exclude esprima and drop js-yaml from lovelace chunk
  build-scripts/webpack.js
  package.json
  script/size_stats
  src/panels/lovelace/cards/hui-error-card.ts
  src/panels/lovelace/cards/hui-picture-elements-card.ts
  src/panels/lovelace/components/hui-image.ts
  src/panels/lovelace/create-element/create-card-element.ts
  src/panels/lovelace/create-element/create-element-base.ts
  src/panels/lovelace/editor/card-editor/hui-card-preview.ts
Labels: cla-signed

#5647 Hide scenes from device info page when no entities
  src/panels/config/devices/ha-config-device-page.ts
Labels: cla-signed

#5648 Don't add disabled entities to lovelace from device page
  src/panels/config/devices/device-detail/ha-device-entities-card.ts
Labels: cla-signed

#5650 Optimize script editor
  src/panels/config/automation/ha-config-automation.ts
  src/panels/config/script/ha-config-script.ts
  src/panels/config/script/ha-script-editor.ts
Labels: cla-signed

#5652 Optimize scenes config
  src/panels/config/scene/ha-config-scene.ts
  src/panels/config/scene/ha-scene-editor.ts
Labels: cla-signed
