Repository home-assistant/frontend, pull requests merged in 2020-05, with the labels that each got.

#5612 Create advanced flow if user in advanced mode
  src/data/config_flow.ts
  src/data/options_flow.ts
Labels: cla-signed

#5603 Allow passing the current value to config flow input fields
  src/components/ha-form/ha-form-integer.ts
  src/components/ha-form/ha-form.ts
  src/dialogs/config-flow/step-flow-form.ts
Labels: cla-signed

#5672 Align discovered integrations to avavliable space
  src/panels/config/integrations/ha-config-integrations.ts
Labels: cla-signed

#5616 Add NOT condition helper
  src/data/automation.ts
  src/panels/config/automation/condition/ha-automation-condition-editor.ts
  src/panels/config/automation/condition/types/ha-automation-condition-not.ts
  src/translations/en.json
Labels: cla-signed

#5483 Use hass-tabs-subpage in add-on view
  build-scripts/gulp/webpack.js
  hassio/src/addon-view/config/hassio-addon-audio.ts
  hassio/src/addon-view/config/hassio-addon-config-tab.ts
  hassio/src/addon-view/config/hassio-addon-config.ts
  hassio/src/addon-view/config/hassio-addon-network.ts
  hassio/src/addon-view/hassio-addon-dashboard.ts
  hassio/src/addon-view/hassio-addon-router.ts
  hassio/src/addon-view/info/hassio-addon-info-tab.ts
  hassio/src/addon-view/info/hassio-addon-info.ts
  hassio/src/addon-view/log/hassio-addon-log-tab.ts
  hassio/src/addon-view/log/hassio-addon-logs.ts
  hassio/src/dashboard/hassio-addons.ts
  hassio/src/hassio-main.ts
  src/layouts/hass-tabs-subpage.ts
Labels: cla-signed, supervisor

#5687 Don't disable controls when state is unknown
  src/components/entity/ha-entity-toggle.ts
  src/components/ha-cover-controls.js
  src/components/ha-cover-tilt-controls.js
Labels: cla-signed

#5685 Adds stage badge
  hassio/src/addon-view/info/hassio-addon-info.ts
  src/data/hassio/addon.ts
Labels: cla-signed, supervisor

#5688 Handle unchanged suggested values
  src/dialogs/config-flow/step-flow-form.ts
Labels: cla-signed

#5697 Optimized some common images with zopflipng
  public/static/icons/favicon-1024x1024.png
  public/static/icons/favicon-192x192.png
  public/static/images/weather/cloudy.png
  public/static/images/weather/lightning-rainy.png
  public/static/images/weather/lightning.png
  public/static/images/weather/night.png
  public/static/images/weather/pouring.png
  public/static/images/weather/rainy.png
  public/static/images/weather/snowy.png
  public/static/images/weather/sunny.png
  public/static/images/weather/windy.png
Labels: cla-signed

#5706 Supervisor style changes
  hassio/src/addon-store/hassio-addon-store.ts
  hassio/src/addon-view/config/hassio-addon-config-tab.ts
  hassio/src/addon-view/config/hassio-addon-config.ts
  hassio/src/addon-view/documentation/hassio-addon-documentation-tab.ts
  hassio/src/addon-view/info/hassio-addon-info-tab.ts
  hassio/src/addon-view/log/hassio-addon-log-tab.ts
  hassio/src/addon-view/log/hassio-addon-logs.ts
  hassio/src/resources/hassio-style.ts
Labels: cla-signed, supervisor

#5714 Add reload buttons to store and snapshot
  hassio/src/addon-store/hassio-addon-store.ts
  hassio/src/addon-view/hassio-addon-dashboard.ts
  hassio/src/dashboard/hassio-dashboard.ts
  hassio/src/hassio-panel-router.ts
  hassio/src/hassio-panel.ts
  hassio/src/snapshots/hassio-snapshots.ts
  hassio/src/system/hassio-system.ts
Labels: cla-signed, supervisor

#5713 Don't break Markdown from external sources
  src/auth/ha-auth-flow.ts
  src/components/ha-markdown.ts
  src/dialogs/config-flow/show-dialog-config-flow.ts
  src/dialogs/config-flow/show-dialog-options-flow.ts
  src/dialogs/more-info/controls/more-info-configurator.js
  src/dialogs/notifications/persistent-notification-item.ts
  src/panels/lovelace/cards/hui-markdown-card.ts
  src/panels/profile/ha-mfa-module-setup-flow.js
Labels: cla-signed

#5717 Fix typo and remove Hass.io references
  hassio/src/addon-view/info/hassio-addon-info.ts
  hassio/src/hassio-main.ts
  hassio/src/system/hassio-supervisor-info.ts
Labels: cla-signed

#5720 Don't disable thermostat when state is unknown
  src/panels/lovelace/cards/hui-thermostat-card.ts
Labels: cla-signed

#5707 Adds dialog to ask user to restart add-on on configuration changes
  hassio/src/addon-view/config/hassio-addon-audio.ts
  hassio/src/addon-view/config/hassio-addon-config.ts
  hassio/src/addon-view/config/hassio-addon-network.ts
  hassio/src/dialogs/suggestAddonRestart.ts
  src/data/hassio/addon.ts
Labels: cla-signed, supervisor

#5726 Place add-on documentation in a card
  hassio/src/addon-view/documentation/hassio-addon-documentation-tab.ts
Labels: cla-signed, supervisor

#5725 Adds padding to ha-label-badge
  hassio/src/addon-view/info/hassio-addon-info.ts
  src/components/ha-label-badge.ts
Labels: cla-signed, supervisor

#5721 Don't show error on open of dialog
  src/panels/config/person/dialog-person-detail.ts
  src/panels/config/zone/dialog-zone-detail.ts
Labels: cla-signed

#5716 Fix more info header color and page background color
  src/dialogs/ha-more-info-dialog.js
  src/html/index.html.template
  src/panels/config/entities/dialog-entity-editor.ts
Labels: cla-signed

#5724 Adds mainPage to hass-tabs-subpage
  hassio/src/addon-store/hassio-addon-store.ts
  hassio/src/dashboard/hassio-dashboard.ts
  hassio/src/snapshots/hassio-snapshots.ts
  hassio/src/system/hassio-system.ts
  src/layouts/hass-tabs-subpage.ts
Labels: cla-signed, supervisor

#5722 Await ignoring before refreshing config flows in progress
  src/panels/config/integrations/ha-config-integrations.ts
Labels: cla-signed

#5730 Add English GB, Frysk and Galego
  src/translations/translationMetadata.json
Labels: cla-signed

#5740 Supervisor dialogs
  hassio/src/addon-view/config/hassio-addon-config.ts
  hassio/src/addon-view/info/hassio-addon-info.ts
  hassio/src/system/hassio-host-info.ts
  hassio/src/system/hassio-supervisor-info.ts
  src/data/hassio/host.ts
Labels: cla-signed, supervisor

#5735 Update device registry type
  src/data/device_registry.ts
Labels: cla-signed

#5748 Grayscale Integration logos when ignored
  src/panels/config/integrations/ha-config-integrations.ts
Labels: cla-signed

#5754 make color of update-heading in primary-text-color
  hassio/src/dashboard/hassio-update.ts
Labels: cla-signed

#5770 Fix Lovelace view config icon preview
  src/panels/lovelace/editor/view-editor/hui-view-editor.ts
Labels: cla-signed

#5769 Add step_id to flow in progress type
  src/data/data_entry_flow.ts
Labels: cla-signed

#5694 Added options to Lovelace evaluate filter
  src/panels/lovelace/common/evaluate-filter.ts
Labels: cla-signed

#5759 Include QoS and retain in MQTT debug info
  src/dialogs/mqtt-device-debug-info-dialog/mqtt-messages.ts
Labels: cla-signed

#5728 Bump fecha
  package.json
  src/common/datetime/format_date.ts
  src/common/datetime/format_date_time.ts
  src/common/datetime/format_time.ts
  yarn.lock
Labels: cla-signed

#5776 Fix hassio develop/build
  build-scripts/gulp/hassio.js
Labels: cla-signed, supervisor

#5719 Fix cast navigation on none default dashboard
  build-scripts/gulp/cast.js
  build-scripts/gulp/translations.js
  cast/src/receiver/layout/hc-main.ts
  cast/src/translations/af.json
  cast/src/translations/ar.json
  cast/src/translations/bg.json
  cast/src/translations/bs.json
  cast/src/translations/ca.json
  cast/src/translations/cs.json
  cast/src/translations/cy.json
  cast/src/translations/da.json
  cast/src/translations/de.json
  cast/src/translations/el.json
  cast/src/translations/es-419.json
  cast/src/translations/es.json
  cast/src/translations/et.json
  cast/src/translations/eu.json
  cast/src/translations/fa.json
  cast/src/translations/fi.json
  cast/src/translations/fr.json
  cast/src/translations/gsw.json
  cast/src/translations/he.json
  cast/src/translations/hi.json
  cast/src/translations/hr.json
  cast/src/translations/hu.json
  cast/src/translations/hy.json
  cast/src/translations/id.json
  cast/src/translations/is.json
  cast/src/translations/it.json
  cast/src/translations/ja.json
  cast/src/translations/ko.json
  cast/src/translations/lb.json
  cast/src/translations/lt.json
  cast/src/translations/lv.json
  cast/src/translations/nb.json
  cast/src/translations/nl.json
  cast/src/translations/nn.json
  cast/src/translations/pl.json
  cast/src/translations/pt-BR.json
  cast/src/translations/pt.json
  cast/src/translations/ro.json
  cast/src/translations/ru.json
  cast/src/translations/sk.json
  cast/src/translations/sl.json
  cast/src/translations/sr-Latn.json
  cast/src/translations/sr.json
  cast/src/translations/sv.json
  cast/src/translations/ta.json
  cast/src/translations/te.json
  cast/src/translations/th.json
  cast/src/translations/tr.json
  cast/src/translations/uk.json
  cast/src/translations/vi.json
  cast/src/translations/zh-Hans.json
  cast/src/translations/zh-Hant.json
  src/panels/lovelace/special-rows/hui-cast-row.ts
Labels: cla-signed

#5777 Fix removal of option in select helper
  src/panels/config/helpers/forms/ha-input_select-form.ts
Labels: cla-signed

#5758 Some fixes for icons
  .gitignore
  .prettierignore
  build-scripts/gulp/gen-icons-json.js
  src/components/ha-icon-button.ts
  src/components/ha-icon.ts
  src/components/ha-sidebar.ts
  src/resources/icon-metadata.ts
  src/types.ts
Labels: cla-signed

#5742 Calendar Panel: FullCalendar
  .eslintrc.json
  build-scripts/babel.js
  build-scripts/gulp/gather-static.js
  build-scripts/webpack.js
  package.json
  src/common/const.ts
  src/components/ha-button-menu.ts
  src/components/ha-button-toggle-group.ts
  src/components/ha-icon-button.ts
  src/components/ha-icon.ts
  src/components/ha-svg-icon.ts
  src/data/calendar.ts
  src/panels/calendar/ha-big-calendar.js
  src/panels/calendar/ha-full-calendar.ts
  src/panels/calendar/ha-panel-calendar.js
  src/panels/calendar/ha-panel-calendar.ts
  src/panels/lovelace/common/directives/action-handler-directive.ts
  src/resources/styles.ts
  src/translations/en.json
  src/types.ts
  yarn.lock
Labels: cla-signed

#5790 Reset path on icon change
  src/components/ha-icon.ts
Labels: cla-signed

#5787 Minor cleanup
  .eslintrc.json
  build-scripts/babel.js
Labels: cla-signed

#5789 Rename env var TRAVIS to IS_TEST
  .github/workflows/ci.yaml
  build-scripts/env.js
  build-scripts/gulp/app.js
  build-scripts/gulp/hassio.js
Labels: cla-signed

#5791 Optimize icon fetching
  src/components/ha-icon.ts
Labels: cla-signed

#5788 Use gulp-terser instead of webpack-terser
  build-scripts/gulp/app.js
  build-scripts/gulp/cast.js
  build-scripts/gulp/demo.js
  build-scripts/gulp/gallery.js
  build-scripts/gulp/minify.js
  build-scripts/webpack.js
  package.json
  yarn.lock
Labels: cla-signed

#5781 Add localize string for Device info
  src/panels/config/devices/device-detail/ha-device-info-card.ts
  src/translations/en.json
Labels: cla-signed, localization

#5780 New dialogs for the profile
  src/panels/profile/ha-long-lived-access-tokens-card.js
  src/panels/profile/ha-mfa-modules-card.js
  src/panels/profile/ha-refresh-tokens-card.js
Labels: cla-signed

#5750 Cleanup and new repository management for add-on store
  hassio/src/addon-store/hassio-addon-repository.ts
  hassio/src/addon-store/hassio-addon-store.ts
  hassio/src/addon-store/hassio-repositories-editor.ts
  hassio/src/components/hassio-search-input.ts
  hassio/src/dialogs/repositories/dialog-hassio-repositories.ts
  hassio/src/dialogs/repositories/show-dialog-repositories.ts
  src/common/search/search-input.ts
  src/data/hassio/supervisor.ts
Labels: cla-signed, supervisor

#5727 Implement add-on changelog
  hassio/src/addon-view/info/hassio-addon-info.ts
Labels: cla-signed, supervisor

#5745 Hide auto-update for non advanced users
  hassio/src/addon-view/info/hassio-addon-info.ts
Labels: cla-signed, supervisor

#5793 Some little hassio tweaks
  hassio/src/addon-store/hassio-addon-store.ts
  hassio/src/addon-view/info/hassio-addon-info.ts
  hassio/src/dialogs/repositories/dialog-hassio-repositories.ts
  hassio/src/hassio-main.ts
Labels: cla-signed, supervisor

#5797 Split babel config from babel loader config
  build-scripts/babel.js
Labels: cla-signed

#5796 Revert "Use gulp-terser instead of webpack-terser (#5788)"
  build-scripts/gulp/app.js
  build-scripts/gulp/cast.js
  build-scripts/gulp/demo.js
  build-scripts/gulp/gallery.js
  build-scripts/gulp/minify.js
  build-scripts/webpack.js
  package.json
  yarn.lock
Labels: cla-signed

#5798 Extract the version extract from webpack config
  build-scripts/env.js
  build-scripts/webpack.js
Labels: cla-signed

#5801 Upgrade web animations
  package.json
  yarn.lock
Labels: cla-signed

#5800 Remove HTML loader
  build-scripts/webpack.js
  package.json
  yarn.lock
Labels: cla-signed

#5802 Fix Leaflet import
  src/common/dom/setup-leaflet-map.ts
Labels: cla-signed

#5799 Weather Card: Fix Showing hours instead of days
  src/panels/lovelace/cards/hui-weather-forecast-card.ts
Labels: cla-signed

#5744 Add issue_tracker integration manifest property
  src/data/integration.ts
Labels: cla-signed

#5755 Add new core configuration UI for external_url & internal_url
  package.json
  src/data/core.ts
  src/fake_data/demo_config.ts
  src/panels/config/core/ha-config-section-core.js
  src/panels/config/core/ha-config-url-form.ts
  src/translations/en.json
  yarn.lock
Labels: cla-signed

#5809 Codesplit Supervisor panel icons
  hassio/src/addon-store/hassio-addon-repository.ts
  hassio/src/addon-store/hassio-addon-store.ts
  hassio/src/addon-view/config/hassio-addon-audio.ts
  hassio/src/addon-view/config/hassio-addon-config-tab.ts
  hassio/src/addon-view/config/hassio-addon-config.ts
  hassio/src/addon-view/config/hassio-addon-network.ts
  hassio/src/addon-view/documentation/hassio-addon-documentation-tab.ts
  hassio/src/addon-view/hassio-addon-dashboard.ts
  hassio/src/addon-view/hassio-addon-router.ts
  hassio/src/addon-view/info/hassio-addon-info-tab.ts
  hassio/src/addon-view/info/hassio-addon-info.ts
  hassio/src/addon-view/log/hassio-addon-log-tab.ts
  hassio/src/addon-view/log/hassio-addon-logs.ts
  hassio/src/components/hassio-card-content.ts
  hassio/src/dashboard/hassio-addons.ts
  hassio/src/dashboard/hassio-dashboard.ts
  hassio/src/dashboard/hassio-update.ts
  hassio/src/dialogs/markdown/dialog-hassio-markdown.ts
  hassio/src/dialogs/repositories/dialog-hassio-repositories.ts
  hassio/src/dialogs/repositories/show-dialog-repositories.ts
  hassio/src/dialogs/snapshot/dialog-hassio-snapshot.ts
  hassio/src/dialogs/suggestAddonRestart.ts
  hassio/src/hassio-main.ts
  hassio/src/hassio-panel.ts
  hassio/src/ingress-view/hassio-ingress-view.ts
  hassio/src/snapshots/hassio-snapshots.ts
  hassio/src/system/hassio-host-info.ts
  hassio/src/system/hassio-supervisor-info.ts
  hassio/src/system/hassio-supervisor-log.ts
  hassio/src/system/hassio-system.ts
  src/common/search/search-input.ts
  src/components/ha-button-menu.ts
  src/components/ha-dialog.ts
  src/components/ha-icon-button-arrow-prev.ts
  src/components/ha-label-badge.ts
  src/components/ha-menu-button.ts
  src/layouts/hass-tabs-subpage.ts
  src/resources/markdown_worker.ts
Labels: cla-signed

#5810 Bump lit-element and lit-html
  package.json
  yarn.lock
Labels: cla-signed

#5811 Add translation for `and` word on the integration card
  src/panels/config/integrations/ha-integration-card.ts
  src/translations/en.json
Labels: cla-signed

#5794 Allow custom icon sets
  src/components/ha-icon.ts
  src/components/ha-svg-icon.ts
  src/data/custom_iconsets.ts
  src/data/iconsets.ts
  src/dialogs/config-flow/dialog-data-entry-flow.ts
  src/dialogs/voice-command-dialog/ha-voice-command-dialog.ts
Labels: cla-signed

#5816 Change target to currentTarget for the click event
  hassio/src/dialogs/repositories/dialog-hassio-repositories.ts
Labels: cla-signed, supervisor

#5815 Show cover position slider if cover supports it
  src/dialogs/more-info/controls/more-info-cover.js
Labels: cla-signed

#5822 Simplify custom icon set, return only 1 icon per call
  src/components/ha-icon.ts
  src/data/custom_iconsets.ts
Labels: cla-signed

#5824 Fix translation download and add empty languages
  build-scripts/gulp/download_translations.js
  translations/backend/en-GB.json
  translations/backend/fy.json
  translations/backend/gl.json
  translations/frontend/af.json
  translations/frontend/ar.json
  translations/frontend/bg.json
  translations/frontend/ca.json
  translations/frontend/cs.json
  translations/frontend/da.json
  translations/frontend/de.json
  translations/frontend/en-GB.json
  translations/frontend/en.json
  translations/frontend/es-419.json
  translations/frontend/es.json
  translations/frontend/fa.json
  translations/frontend/fi.json
  translations/frontend/fr.json
  translations/frontend/fy.json
  translations/frontend/gl.json
  translations/frontend/gsw.json
  translations/frontend/he.json
  translations/frontend/hi.json
  translations/frontend/hu.json
  translations/frontend/it.json
  translations/frontend/ja.json
  translations/frontend/ko.json
  translations/frontend/lb.json
  translations/frontend/nb.json
  translations/frontend/nl.json
  translations/frontend/pl.json
  translations/frontend/pt-BR.json
  translations/frontend/pt.json
  translations/frontend/ro.json
  translations/frontend/ru.json
  translations/frontend/sk.json
  translations/frontend/sl.json
  translations/frontend/sv.json
  translations/frontend/tr.json
  translations/frontend/uk.json
  translations/frontend/zh-Hans.json
  translations/frontend/zh-Hant.json
Labels: cla-signed

#5812 Bump material
  package.json
  src/components/ha-fab.ts
  src/components/ha-icon-button-arrow-prev.ts
  src/components/ha-tab.ts
  src/layouts/hass-tabs-subpage.ts
  src/panels/config/areas/ha-config-areas-dashboard.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/helpers/ha-config-helpers.ts
  src/panels/config/integrations/ha-config-integrations.ts
  src/panels/config/lovelace/dashboards/ha-config-lovelace-dashboards.ts
  src/panels/config/lovelace/resources/ha-config-lovelace-resources.ts
  src/panels/config/person/ha-config-person.ts
  src/panels/config/scene/ha-scene-dashboard.ts
  src/panels/config/scene/ha-scene-editor.ts
  src/panels/config/script/ha-script-editor.ts
  src/panels/config/script/ha-script-picker.ts
  src/panels/config/users/ha-config-users.ts
  src/panels/config/zone/ha-config-zone.ts
  src/panels/lovelace/cards/hui-button-card.ts
  src/panels/lovelace/common/directives/action-handler-directive.ts
  src/panels/lovelace/components/hui-buttons-base.ts
  src/panels/lovelace/editor/unused-entities/hui-unused-entities.ts
  src/panels/lovelace/views/hui-view-editable.ts
  src/panels/lovelace/views/hui-view.ts
  yarn.lock
Labels: cla-signed

#5823 Added translation to badge on alarm panel
  src/panels/lovelace/cards/hui-alarm-panel-card.ts
Labels: cla-signed

#5795 Weather Card: Switch State and Name
  src/panels/lovelace/cards/hui-weather-forecast-card.ts
Labels: cla-signed

#5834 Added translation to dev-tools-info-integrations
  src/panels/developer-tools/info/integrations-card.ts
  src/translations/en.json
Labels: cla-signed

#5818 Use manifest.issue_tracker for issues URL if not built_in
  src/data/integration.ts
  src/panels/developer-tools/info/integrations-card.ts
  src/panels/developer-tools/logs/dialog-system-log-detail.ts
Labels: cla-signed

#5803 Fix generated Lovelace translating domain names
  src/panels/config/integrations/ha-config-integrations.ts
  src/panels/lovelace/common/generate-lovelace-config.ts
  src/panels/lovelace/ha-panel-lovelace.ts
  src/state/translations-mixin.ts
  src/types.ts
Labels: cla-signed

#5820 Weather Card: Ability to choose Secondary Attribute
  src/panels/lovelace/cards/hui-weather-forecast-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/editor/config-elements/hui-weather-forecast-card-editor.ts
  src/translations/en.json
Labels: cla-signed

#5510 Gauge Card: Convert to Round Slider
  package.json
  src/panels/lovelace/cards/hui-gauge-card.ts
  src/panels/lovelace/cards/hui-media-control-card.ts
  src/panels/lovelace/cards/hui-weather-forecast-card.ts
  src/panels/lovelace/common/install-resize-observer.ts
  src/panels/lovelace/entity-rows/hui-media-player-entity-row.ts
  yarn.lock
Labels: cla-signed

#5736 Weather Card/Row: Weather Icons as SVG, Themeable, user definable
  public/static/images/weather/cloudy.png
  public/static/images/weather/lightning-rainy.png
  public/static/images/weather/lightning.png
  public/static/images/weather/night.png
  public/static/images/weather/partly-cloudy.png
  public/static/images/weather/pouring.png
  public/static/images/weather/rainy.png
  public/static/images/weather/snowy.png
  public/static/images/weather/sunny.png
  public/static/images/weather/windy.png
  src/data/weather.ts
  src/panels/lovelace/cards/hui-weather-forecast-card.ts
  src/panels/lovelace/entity-rows/hui-weather-entity-row.ts
Labels: cla-signed

#5836 compress icons
  build-scripts/gulp/compress.js
Labels: cla-signed

#5838 Ignore ResizeObserver loop limit exceeded error
  src/entrypoints/core.ts
Labels: cla-signed

#5731 Add 'brightness' as a secondary_info option
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/components/hui-generic-entity-row.ts
Labels: cla-signed, documentation needed

#5839 Recreate cards only on config change
  src/panels/lovelace/components/hui-card-options.ts
  src/panels/lovelace/hui-root.ts
  src/panels/lovelace/types.ts
  src/panels/lovelace/views/hui-view.ts
Labels: cla-signed

#5602 Rework ZHA group adds and removes
  src/data/zha.ts
  src/panels/config/zha/zha-add-group-page.ts
  src/panels/config/zha/zha-config-dashboard.ts
  src/panels/config/zha/zha-device-endpoint-data-table.ts
  src/panels/config/zha/zha-devices-data-table.ts
  src/panels/config/zha/zha-group-page.ts
Labels: cla-signed

#5841 Weather Card: Fix overwritten changes
  src/panels/lovelace/cards/hui-weather-forecast-card.ts
Labels: cla-signed

#5843 Workbox 5 in gulp
  build-scripts/gulp/app.js
  build-scripts/gulp/service-worker.js
  build-scripts/webpack.js
  package.json
  src/entrypoints/service_worker.ts
  src/types/service-worker.d.ts
  tsconfig.json
  yarn.lock
Labels: cla-signed

#5846 Graph history fix
  src/panels/lovelace/header-footer/hui-graph-header-footer.ts
Labels: cla-signed

#5845 Set edit mode to false on card when disabling edit mode.
  src/panels/lovelace/views/hui-view.ts
Labels: cla-signed

#5847 Some fixes in focus and click handling
  src/components/entity/state-badge.ts
  src/panels/lovelace/cards/hui-entity-card.ts
  src/panels/lovelace/cards/hui-weather-forecast-card.ts
  src/panels/lovelace/components/hui-generic-entity-row.ts
  src/panels/lovelace/entity-rows/hui-text-entity-row.ts
  src/panels/lovelace/entity-rows/hui-weather-entity-row.ts
Labels: cla-signed

#5848 20200513.0
  build-scripts/gulp/app.js
  build-scripts/gulp/service-worker.js
  build-scripts/webpack.js
  package.json
  setup.py
  src/components/entity/state-badge.ts
  src/entrypoints/service_worker.ts
  src/panels/lovelace/cards/hui-entity-card.ts
  src/panels/lovelace/cards/hui-weather-forecast-card.ts
  src/panels/lovelace/components/hui-generic-entity-row.ts
  src/panels/lovelace/entity-rows/hui-text-entity-row.ts
  src/panels/lovelace/entity-rows/hui-weather-entity-row.ts
  src/panels/lovelace/header-footer/hui-graph-header-footer.ts
  src/panels/lovelace/views/hui-view.ts
  src/types/service-worker.d.ts
  translations/frontend/ca.json
  translations/frontend/de.json
  translations/frontend/es.json
  translations/frontend/fr.json
  translations/frontend/it.json
  translations/frontend/lb.json
  translations/frontend/pl.json
  translations/frontend/pt.json
  translations/frontend/ru.json
  translations/frontend/zh-Hans.json
  translations/frontend/zh-Hant.json
  tsconfig.json
  yarn.lock
Labels: cla-signed

#5849 Remove reference to Google Fonts
  build-scripts/webpack.js
Labels: cla-signed

#5852 Fix typo in property method
  src/components/ha-cover-controls.js
  src/components/ha-cover-tilt-controls.js
Labels: cla-signed

#5850 Fixes for problems caused by not rebuilding
  src/panels/lovelace/entity-rows/hui-sensor-entity-row.ts
  src/panels/lovelace/hui-root.ts
Labels: cla-signed

#5851 Open newly added view after adding
  src/panels/lovelace/editor/view-editor/hui-dialog-edit-view.ts
  src/panels/lovelace/editor/view-editor/hui-edit-view.ts
  src/panels/lovelace/editor/view-editor/show-edit-view-dialog.ts
  src/panels/lovelace/hui-root.ts
Labels: cla-signed

#5854 Fix translations for integration config panel
  src/panels/config/integrations/ha-config-integrations.ts
  src/panels/config/integrations/ha-integration-card.ts
  src/translations/en.json
Labels: cla-signed

#5855 Clean up service worker code and fix 404
  build-scripts/gulp/service-worker.js
  cast/src/launcher/layout/hc-connect.ts
  src/auth/ha-authorize.ts
  src/entrypoints/service_worker.ts
  src/layouts/home-assistant.ts
  src/onboarding/ha-onboarding.ts
  src/util/register-service-worker.ts
Labels: cla-signed

#5859 Optimise sourcemaps
  build-scripts/webpack.js
Labels: cla-signed

#5856 Dont add all childs at once to view
  src/panels/lovelace/types.ts
  src/panels/lovelace/views/hui-view.ts
Labels: cla-signed

#5860 Remove unused ES5 service worker
  build-scripts/gulp/service-worker.js
Labels: cla-signed

#5863 Show loading screen for integration config
  src/panels/config/integrations/ha-config-integrations.ts
Labels: cla-signed

#5862 20200514.0
  build-scripts/gulp/service-worker.js
  build-scripts/webpack.js
  cast/src/launcher/layout/hc-connect.ts
  demo/script/size_stats
  setup.py
  src/auth/ha-authorize.ts
  src/components/ha-cover-controls.js
  src/components/ha-cover-tilt-controls.js
  src/entrypoints/service_worker.ts
  src/layouts/home-assistant.ts
  src/onboarding/ha-onboarding.ts
  src/panels/config/integrations/ha-config-integrations.ts
  src/panels/config/integrations/ha-integration-card.ts
  src/panels/lovelace/editor/view-editor/hui-dialog-edit-view.ts
  src/panels/lovelace/editor/view-editor/hui-edit-view.ts
  src/panels/lovelace/editor/view-editor/show-edit-view-dialog.ts
  src/panels/lovelace/entity-rows/hui-sensor-entity-row.ts
  src/panels/lovelace/hui-root.ts
  src/panels/lovelace/types.ts
  src/panels/lovelace/views/hui-view.ts
  src/translations/en.json
  src/util/register-service-worker.ts
Labels: cla-signed

#5866 Weather Card: Editor Translation fix
  src/panels/lovelace/editor/config-elements/hui-weather-forecast-card-editor.ts
Labels: cla-signed

#5878 Beta fixes
  src/components/data-table/ha-data-table.ts
  src/components/ha-combo-box.js
  src/components/ha-icon-button.ts
  src/panels/config/integrations/ha-integration-card.ts
  src/panels/lovelace/cards/hui-media-control-card.ts
  src/panels/lovelace/editor/view-editor/hui-dialog-edit-view.ts
  src/resources/ha-style.ts
  src/translations/en.json
Labels: cla-signed

#5864 Markdown Card: Fix not rendering on initial load
  src/panels/lovelace/cards/hui-markdown-card.ts
Labels: cla-signed

#5879 Card Editor: Preview Card Margin fix
  src/panels/lovelace/editor/card-editor/hui-dialog-edit-card.ts
Labels: cla-signed

#5882 Weather Card: Fix Resize from view change
  src/panels/lovelace/cards/hui-weather-forecast-card.ts
Labels: cla-signed

#5881 Media Player Row: Fix State Translation
  src/panels/lovelace/entity-rows/hui-media-player-entity-row.ts
Labels: cla-signed

#5880 Set lovelace when restoring view from cache, optimise picture element and thermostat
  src/panels/lovelace/cards/hui-picture-elements-card.ts
  src/panels/lovelace/cards/hui-thermostat-card.ts
  src/panels/lovelace/hui-root.ts
  src/panels/lovelace/views/hui-view.ts
Labels: cla-signed

#5883 20200514.1
  setup.py
  src/components/data-table/ha-data-table.ts
  src/components/ha-combo-box.js
  src/components/ha-icon-button.ts
  src/panels/config/integrations/ha-integration-card.ts
  src/panels/lovelace/cards/hui-markdown-card.ts
  src/panels/lovelace/cards/hui-media-control-card.ts
  src/panels/lovelace/cards/hui-picture-elements-card.ts
  src/panels/lovelace/cards/hui-thermostat-card.ts
  src/panels/lovelace/cards/hui-weather-forecast-card.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-edit-card.ts
  src/panels/lovelace/editor/config-elements/hui-weather-forecast-card-editor.ts
  src/panels/lovelace/editor/view-editor/hui-dialog-edit-view.ts
  src/panels/lovelace/entity-rows/hui-media-player-entity-row.ts
  src/panels/lovelace/hui-root.ts
  src/panels/lovelace/views/hui-view.ts
  src/resources/ha-style.ts
  src/translations/en.json
  translations/frontend/da.json
  translations/frontend/en.json
  translations/frontend/es-419.json
  translations/frontend/es.json
  translations/frontend/fa.json
  translations/frontend/fi.json
  translations/frontend/he.json
  translations/frontend/ko.json
  translations/frontend/nb.json
  translations/frontend/ru.json
Labels: cla-signed

#5884 Migrate card preview to UpdatingElement
  src/panels/lovelace/cards/hui-thermostat-card.ts
  src/panels/lovelace/editor/card-editor/hui-card-preview.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-edit-card.ts
Labels: cla-signed

#5891 Fix conditional and custom panel updated > update
  src/panels/custom/ha-panel-custom.ts
  src/panels/lovelace/components/hui-conditional-base.ts
Labels: cla-signed

#5893 Polyfill Intl.PluralRules
  package.json
  src/common/translations/localize.ts
  yarn.lock
Labels: cla-signed

#5887 Gauge Card: Fix if value is greater than max
  src/panels/lovelace/cards/hui-gauge-card.ts
Labels: cla-signed

#5895 Calendar Panel: Popup Style
  src/panels/calendar/ha-full-calendar.ts
Labels: cla-signed

#5897 Fix mdc checkbox styling
  src/components/ha-checkbox.ts
  src/resources/styles.ts
Labels: cla-signed

#5900 20200515.0
  package.json
  setup.py
  src/common/translations/localize.ts
  src/components/ha-checkbox.ts
  src/panels/calendar/ha-full-calendar.ts
  src/panels/custom/ha-panel-custom.ts
  src/panels/lovelace/cards/hui-gauge-card.ts
  src/panels/lovelace/cards/hui-thermostat-card.ts
  src/panels/lovelace/components/hui-conditional-base.ts
  src/panels/lovelace/editor/card-editor/hui-card-preview.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-edit-card.ts
  src/resources/styles.ts
  translations/frontend/ca.json
  translations/frontend/en.json
  translations/frontend/es.json
  translations/frontend/fr.json
  translations/frontend/ja.json
  translations/frontend/ko.json
  translations/frontend/lb.json
  translations/frontend/nb.json
  translations/frontend/pl.json
  translations/frontend/pt.json
  translations/frontend/ro.json
  translations/frontend/ru.json
  translations/frontend/zh-Hant.json
  yarn.lock
Labels: cla-signed

#5888 Card Editor: Documentation per Card
  src/data/lovelace_custom_cards.ts
  src/panels/lovelace/editor/card-editor/hui-card-picker.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-edit-card.ts
  src/panels/lovelace/editor/get-card-documentation-url.ts
  src/panels/lovelace/editor/lovelace-cards.ts
  src/panels/lovelace/editor/types.ts
Labels: cla-signed

#5901 Card Picker: Manual Full Width
  src/panels/lovelace/editor/card-editor/hui-card-picker.ts
Labels: cla-signed

#5906 Cleanup new ha-config
  src/panels/config/automation/ha-config-automation.ts
  src/panels/config/scene/ha-config-scene.ts
  src/panels/config/script/ha-config-script.ts
Labels: cla-signed

#5886 Add missing translation on developer tool page
  src/panels/developer-tools/info/developer-tools-info.ts
Labels: cla-signed

#5903 Added theme to events documentation
  src/panels/developer-tools/event/developer-tools-event.js
  src/panels/developer-tools/event/events-list.js
  src/panels/developer-tools/info/developer-tools-info.ts
  src/panels/developer-tools/template/developer-tools-template.js
Labels: cla-signed

#5914 Fix ignored config entries
  src/panels/config/integrations/ha-config-integrations.ts
Labels: cla-signed

#5918 Check if attached on rebuild
  src/panels/lovelace/cards/hui-stack-card.ts
Labels: cla-signed

#5919 Fix entity-filter-card
  demo/src/configs/teachingbirds/lovelace.ts
  src/panels/lovelace/cards/hui-entity-filter-card.ts
Labels: cla-signed

#5915 Use comlink in workers
  build-scripts/webpack.js
  package.json
  src/components/data-table/ha-data-table.ts
  src/components/data-table/sort-filter.ts
  src/components/data-table/sort_filter_worker.ts
  src/components/ha-markdown.ts
  src/entrypoints/compatibility.ts
  src/resources/markdown_worker.ts
  src/resources/render-markdown.ts
  yarn.lock
Labels: cla-signed

#5922 Fix picture card
  src/panels/lovelace/cards/hui-picture-card.ts
  src/panels/lovelace/cards/hui-picture-glance-card.ts
Labels: cla-signed

#5908 Add missing translations to ha-device-entities-card
  src/panels/config/devices/device-detail/ha-device-entities-card.ts
  src/translations/en.json
Labels: cla-signed

#5916 Remove unused deps
  package.json
  tsconfig.json
  yarn.lock
Labels: cla-signed

#5926 Update invalid links in README.md
  README.md
Labels: cla-signed

#5930 Change disabled icon to pencil-off
  src/panels/config/zone/ha-config-zone.ts
Labels: cla-signed

#5927 Cache used icons in memory, use inline icon for dev-tools
  src/components/ha-icon.ts
  src/components/ha-markdown.ts
  src/panels/developer-tools/state/developer-tools-state.js
Labels: cla-signed

#5921 Fix data table worker
  src/components/data-table/ha-data-table.ts
  src/components/data-table/sort-filter.ts
  src/components/data-table/sort_filter_worker.ts
Labels: cla-signed

#5931 20200519.0
  README.md
  package.json
  setup.py
  src/components/data-table/ha-data-table.ts
  src/components/data-table/sort-filter.ts
  src/components/data-table/sort_filter_worker.ts
  src/components/ha-icon.ts
  src/components/ha-markdown.ts
  src/panels/config/devices/device-detail/ha-device-entities-card.ts
  src/panels/config/zone/ha-config-zone.ts
  src/panels/developer-tools/state/developer-tools-state.js
  src/translations/en.json
  translations/frontend/ar.json
  translations/frontend/en.json
  translations/frontend/tr.json
  tsconfig.json
  yarn.lock
Labels: cla-signed

#5904 Adds more styling to markdown elements
  hassio/src/addon-view/documentation/hassio-addon-documentation-tab.ts
  hassio/src/addon-view/info/hassio-addon-info.ts
  hassio/src/dialogs/markdown/dialog-hassio-markdown.ts
  src/components/ha-markdown-element.ts
  src/components/ha-markdown.ts
  src/panels/lovelace/cards/hui-markdown-card.ts
Labels: cla-signed

#5936 limit manifest to entrypoints
  build-scripts/webpack.js
Labels: cla-signed

#5937 Fix search for data-tables using the builtin search bar
  src/components/data-table/ha-data-table.ts
Labels: cla-signed

#5944 Upgrade lazy loaded elements before setting config
  src/panels/lovelace/create-element/create-element-base.ts
Labels: cla-signed

#5945 Fix picture header footer upgrade
  src/panels/lovelace/header-footer/hui-picture-header-footer.ts
Labels: cla-signed

#5950 Fix disabled styling zone panel
  src/panels/config/zone/ha-config-zone.ts
Labels: cla-signed

#5949 Fix resize observers and update gauge styling
  src/panels/lovelace/cards/hui-gauge-card.ts
  src/panels/lovelace/cards/hui-media-control-card.ts
  src/panels/lovelace/cards/hui-weather-forecast-card.ts
  src/panels/lovelace/entity-rows/hui-media-player-entity-row.ts
Labels: cla-signed

#5952 Weather Card: Fix Forecast Image Spacing
  src/panels/lovelace/cards/hui-weather-forecast-card.ts
Labels: cla-signed

#5955 Upgrade lazy error card
  src/panels/lovelace/create-element/create-element-base.ts
Labels: cla-signed

#5962 Fix markdown card crashing the demo
  src/panels/lovelace/cards/hui-markdown-card.ts
  src/panels/lovelace/cards/hui-weather-forecast-card.ts
  src/panels/lovelace/common/compute-card-size.ts
  src/panels/lovelace/editor/card-editor/hui-card-picker.ts
Labels: cla-signed

#5966 Fix weather card
  src/panels/lovelace/cards/hui-weather-forecast-card.ts
Labels: cla-signed

#5967 Don't set hass when not defined
  src/panels/lovelace/cards/hui-picture-elements-card.ts
  src/panels/lovelace/cards/hui-stack-card.ts
Labels: cla-signed

#5933 Add translations for buttons and error string on the auth page
  src/auth/ha-auth-flow.ts
  src/translations/en.json
Labels: cla-signed

#5979 Fix show password toggle
  src/components/ha-form/ha-form-string.ts
  src/dialogs/voice-command-dialog/ha-voice-command-dialog.ts
Labels: cla-signed

#5983 Fix device entities not updating
  src/panels/config/devices/device-detail/ha-device-entities-card.ts
Labels: cla-signed

#5977 Picture glance: Use icon button instead of icon with button styles.
  src/panels/lovelace/cards/hui-picture-glance-card.ts
Labels: cla-signed

#5984 Add release drafter action
  .github/workflows/release-drafter.yaml
Labels: cla-signed

#5985 Fix for icons with firefox private mode
  src/components/ha-icon.ts
  src/data/iconsets.ts
  src/panels/lovelace/cards/hui-markdown-card.ts
Labels: cla-signed

#5987 Missed paper icon button
  src/panels/config/automation/condition/ha-automation-condition-row.ts
Labels: cla-signed

#5917 Split generic bundle config from webpack config
  build-scripts/babel.js
  build-scripts/bundle.js
  build-scripts/webpack.js
Labels: cla-signed

#5992 Fix aria label icon name
  src/components/ha-icon-button.ts
  src/panels/lovelace/hui-root.ts
Labels: cla-signed

#5995 Rollup
  build-scripts/babel.js
  build-scripts/bundle.js
  build-scripts/env.js
  build-scripts/gulp/app.js
  build-scripts/gulp/cast.js
  build-scripts/gulp/demo.js
  build-scripts/gulp/entry-html.js
  build-scripts/gulp/gallery.js
  build-scripts/gulp/gather-static.js
  build-scripts/gulp/hassio.js
  build-scripts/gulp/rollup.js
  build-scripts/gulp/webpack.js
  build-scripts/rollup-plugins/dont-hash-plugin.js
  build-scripts/rollup-plugins/manifest-plugin.js
  build-scripts/rollup-plugins/worker-plugin.js
  build-scripts/rollup.js
  build-scripts/webpack.js
  cast/rollup.config.js
  cast/src/html/launcher-faq.html.template
  cast/src/html/launcher.html.template
  demo/rollup.config.js
  demo/src/html/index.html.template
  gallery/rollup.config.js
  hassio/rollup.config.js
  package.json
  rollup.config.js
  src/components/data-table/sort-filter.ts
  src/components/data-table/sort_filter_worker.ts
  src/html/_js_base.html.template
  src/html/authorize.html.template
  src/html/index.html.template
  src/html/onboarding.html.template
  src/resources/markdown_worker.ts
  src/resources/render-markdown.ts
  yarn.lock
Labels: cla-signed

#5997 Cleanups
  build-scripts/babel.js
  build-scripts/bundle.js
  build-scripts/gulp/clean.js
  build-scripts/gulp/compress.js
  build-scripts/gulp/entry-html.js
  build-scripts/gulp/gather-static.js
  build-scripts/gulp/rollup.js
  build-scripts/gulp/service-worker.js
  build-scripts/gulp/webpack.js
  build-scripts/paths.js
  build-scripts/rollup.js
  build-scripts/webpack.js
Labels: cla-signed
