Repository home-assistant/frontend, pull requests merged in 2020-03, with the labels that each got.

#5025 Update translation hashing
  build-scripts/gulp/app.js
  build-scripts/gulp/gen-icons.js
  build-scripts/gulp/translations.js
  build-scripts/util.js
  build-scripts/webpack.js
  package.json
  src/translations/translationMetadata.json
  src/types.ts
  src/util/hass-translation.ts
  yarn.lock
Labels: cla-signed

#5042 Recreate translations when changed on dev
  build-scripts/gulp/gather-static.js
  build-scripts/gulp/translations.js
  build-scripts/gulp/webpack.js
  build-scripts/paths.js
Labels: cla-signed

#5043 Remove states-ui and allow setting (local) default lovelace panel
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
  polymer.json
  src/cards/ha-badges-card.ts
  src/cards/ha-camera-card.js
  src/cards/ha-card-chooser.js
  src/cards/ha-entities-card.js
  src/cards/ha-media_player-card.js
  src/cards/ha-persistent_notification-card.js
  src/cards/ha-plant-card.js
  src/cards/ha-weather-card.js
  src/components/ha-cards.js
  src/components/ha-sidebar.ts
  src/fake_data/demo_panels.ts
  src/layouts/home-assistant-main.ts
  src/layouts/partial-panel-resolver.ts
  src/panels/config/lovelace/dashboards/dialog-lovelace-dashboard-detail.ts
  src/panels/config/lovelace/dashboards/ha-config-lovelace-dashboards.ts
  src/panels/developer-tools/info/developer-tools-info.ts
  src/panels/kiosk/ha-panel-kiosk.js
  src/panels/states/ha-panel-states.js
  src/translations/en.json
Labels: cla-signed

#5047 Sort ungrouped entities
  src/panels/lovelace/common/generate-lovelace-config.ts
Labels: cla-signed

#4975 Card Picker with Previews of cards
  src/panels/lovelace/cards/hui-alarm-panel-card.ts
  src/panels/lovelace/cards/hui-button-card.ts
  src/panels/lovelace/cards/hui-entities-card.ts
  src/panels/lovelace/cards/hui-gauge-card.ts
  src/panels/lovelace/cards/hui-glance-card.ts
  src/panels/lovelace/cards/hui-history-graph-card.ts
  src/panels/lovelace/cards/hui-light-card.ts
  src/panels/lovelace/cards/hui-map-card.ts
  src/panels/lovelace/cards/hui-media-control-card.ts
  src/panels/lovelace/cards/hui-picture-elements-card.ts
  src/panels/lovelace/cards/hui-picture-entity-card.ts
  src/panels/lovelace/cards/hui-picture-glance-card.ts
  src/panels/lovelace/cards/hui-plant-status-card.ts
  src/panels/lovelace/cards/hui-sensor-card.ts
  src/panels/lovelace/cards/hui-thermostat-card.ts
  src/panels/lovelace/cards/hui-weather-forecast-card.ts
  src/panels/lovelace/common/compute-unused-entities.ts
  src/panels/lovelace/common/find-entites.ts
  src/panels/lovelace/editor/card-editor/hui-card-picker.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-edit-card.ts
  src/panels/lovelace/editor/get-card-stub-config.ts
  src/panels/lovelace/editor/types.ts
  src/panels/lovelace/types.ts
  src/translations/en.json
Labels: cla-signed

#5030 Support grouped system log messages
  src/data/system_log.ts
  src/panels/developer-tools/logs/dialog-system-log-detail.ts
  src/panels/developer-tools/logs/system-log-card.ts
Labels: cla-signed

#5058 Add Descriptions for cards - Card Picker
  src/translations/en.json
Labels: cla-signed

#5054 Changed login text to be less misleading
  src/translations/en.json
Labels: cla-signed

#5068 Remove unused camera command
  src/data/camera.ts
Labels: cla-signed

#5067 Allow card editors to use card picker again
  src/panels/lovelace/editor/card-editor/hui-card-editor.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-edit-card.ts
  src/panels/lovelace/editor/config-elements/hui-stack-card-editor.ts
  src/panels/lovelace/types.ts
Labels: cla-signed

#5046 Add rel=noreferrer
  hassio/src/addon-store/hassio-addon-repository.ts
  hassio/src/addon-view/hassio-addon-info.ts
  hassio/src/dashboard/hassio-update.ts
  src/components/ha-markdown.ts
  src/dialogs/config-flow/step-flow-external.ts
  src/dialogs/config-flow/step-flow-pick-handler.ts
  src/dialogs/voice-command-dialog/ha-voice-command-dialog.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/automation/thingtalk/dialog-thingtalk.ts
  src/panels/config/cloud/account/cloud-account.js
  src/panels/config/cloud/account/cloud-alexa-pref.ts
  src/panels/config/cloud/account/cloud-google-pref.ts
  src/panels/config/cloud/account/cloud-remote-pref.ts
  src/panels/config/cloud/account/cloud-webhooks.ts
  src/panels/config/cloud/dialog-manage-cloudhook/dialog-manage-cloudhook.ts
  src/panels/config/cloud/login/cloud-login.js
  src/panels/config/cloud/register/cloud-register.js
  src/panels/config/customize/ha-form-customize.js
  src/panels/config/person/dialog-person-detail.ts
  src/panels/config/scene/ha-scene-dashboard.ts
  src/panels/config/script/ha-script-editor.ts
  src/panels/config/script/ha-script-picker.ts
  src/panels/config/zwave/zwave-network.ts
  src/panels/developer-tools/event/developer-tools-event.js
  src/panels/developer-tools/info/developer-tools-info.ts
  src/panels/developer-tools/info/integrations-card.ts
  src/panels/developer-tools/logs/dialog-system-log-detail.ts
  src/panels/developer-tools/template/developer-tools-template.js
  src/panels/lovelace/special-rows/hui-weblink-row.ts
  src/panels/profile/ha-advanced-mode-row.ts
  src/panels/profile/ha-long-lived-access-tokens-card.js
  src/panels/profile/ha-pick-language-row.js
  src/panels/profile/ha-pick-theme-row.js
  src/panels/profile/ha-push-notifications-row.js
Labels: cla-signed

#5069 Update default icon Lovelace sidebar.
  src/components/ha-sidebar.ts
Labels: cla-signed

#5056 Show entity reg editor for helpers when not editable
  src/panels/config/entities/editor-tabs/settings/entity-settings-helper-tab.ts
  src/translations/en.json
Labels: cla-signed

#5071 Only rebuild when current panel changed
  src/common/util/deep-equal.ts
  src/layouts/partial-panel-resolver.ts
Labels: cla-signed

#5070 Improve chips
  src/components/ha-chips.ts
  src/components/ha-fab.ts
Labels: cla-signed

#5079 Optimise config entities panel + clarify not being able to delete
  src/panels/config/entities/ha-config-entities.ts
  src/translations/en.json
Labels: cla-signed

#5072 Fix secondary info in generic entity row
  src/panels/lovelace/components/hui-generic-entity-row.ts
Labels: cla-signed

#5055 Style fixes to lovelace config dashboard
  src/components/data-table/ha-data-table.ts
  src/components/ha-sidebar.ts
  src/data/lovelace.ts
  src/layouts/hass-tabs-subpage-data-table.ts
  src/panels/config/lovelace/dashboards/dialog-lovelace-dashboard-detail.ts
  src/panels/config/lovelace/dashboards/ha-config-lovelace-dashboards.ts
  src/panels/config/lovelace/dashboards/show-dialog-lovelace-dashboard-detail.ts
  src/panels/lovelace/editor/unused-entities/hui-unused-entities.ts
  src/translations/en.json
Labels: cla-signed

#5081 Make cast backwards compatible
  cast/src/launcher/layout/hc-cast.ts
  cast/src/receiver/layout/hc-main.ts
  hassio/src/addon-store/hassio-addon-repository.ts
  hassio/src/addon-view/hassio-addon-info.ts
  hassio/src/dashboard/hassio-addons.ts
  package.json
  src/common/config/version.ts
  src/data/lovelace.ts
  src/panels/developer-tools/info/developer-tools-info.ts
  yarn.lock
Labels: cla-signed

#5044 New Media Player - Cloned from Android Spotify Notification
  README.md
  package.json
  src/data/media-player.ts
  src/panels/lovelace/cards/hui-media-control-card.ts
  src/panels/lovelace/common/color/contrast.ts
  src/panels/lovelace/common/color/luminanace.ts
  src/types.ts
  src/types/node-vibrant.d.ts
  yarn.lock
Labels: cla-signed

#4978 Set view visibility form UI
  src/panels/lovelace/editor/types.ts
  src/panels/lovelace/editor/view-editor/hui-edit-view.ts
  src/panels/lovelace/editor/view-editor/hui-view-visibility-editor.ts
  src/translations/en.json
Labels: cla-signed

#5066 Virtualize data tabel
  package.json
  src/components/data-table/ha-data-table.ts
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/panels/config/devices/ha-devices-data-table.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/helpers/ha-config-helpers.ts
  src/panels/config/integrations/config-entry/ha-config-entry-page.ts
  src/panels/config/lovelace/dashboards/ha-config-lovelace-dashboards.ts
  src/panels/config/lovelace/resources/ha-config-lovelace-resources.ts
  src/panels/config/zha/zha-add-group-page.ts
  src/panels/config/zha/zha-clusters-data-table.ts
  src/panels/config/zha/zha-config-dashboard.ts
  src/panels/config/zha/zha-devices-data-table.ts
  src/panels/config/zha/zha-group-binding.ts
  src/panels/config/zha/zha-group-page.ts
  src/panels/config/zha/zha-groups-dashboard.ts
  src/panels/config/zha/zha-groups-data-table.ts
  src/panels/lovelace/editor/unused-entities/hui-unused-entities.ts
  src/panels/lovelace/hui-root.ts
  src/translations/en.json
  yarn.lock
Labels: cla-signed

#5051 GUI editor for conditional card
  src/panels/lovelace/cards/hui-conditional-card.ts
  src/panels/lovelace/editor/config-elements/hui-conditional-card-editor.ts
  src/translations/en.json
Labels: cla-signed

#5085 Fix navigation after deleting a view and allow deleting view with cards
  src/panels/lovelace/editor/view-editor/hui-edit-view.ts
  src/translations/en.json
Labels: cla-signed

#5086 Add image to demo media player
  .gitattributes
  demo/public/api/media_player_proxy/media_player.family_room_2
Labels: cla-signed

#5087 Fix click handlers on ZHA data tables
  src/panels/config/zha/zha-devices-data-table.ts
  src/panels/config/zha/zha-groups-data-table.ts
Labels: cla-signed

#5088 Forgot border height
  src/components/data-table/ha-data-table.ts
Labels: cla-signed

#5100 Fix vibrant type
  src/panels/lovelace/cards/hui-media-control-card.ts
  src/types/node-vibrant.d.ts
Labels: cla-signed

#5101 Add media player card gallery
  build-scripts/gulp/gallery.js
  gallery/public/images/album_cover.jpg
  gallery/src/data/media_players.ts
  gallery/src/demos/demo-hui-media-player-card.ts
  gallery/src/demos/demo-hui-media-player-rows.ts
Labels: cla-signed

#5098 Card Picker: Firefox Fix
  src/panels/lovelace/editor/card-editor/hui-card-picker.ts
Labels: cla-signed

#5096 Media Card: Fix Progress update
  src/data/media-player.ts
Labels: cla-signed

#5102 Fix cardHeight
  src/components/ha-card.ts
  src/panels/lovelace/cards/hui-media-control-card.ts
Labels: cla-signed

#5104 Style unavailable/unknown cards
  src/panels/lovelace/cards/hui-media-control-card.ts
Labels: cla-signed

#5105 Media Card: Colors more integrated with Art
  src/panels/lovelace/cards/hui-media-control-card.ts
Labels: cla-signed

#5091 Media Card: Adds `Cursor: Pointer` to Progress Bar
  src/panels/lovelace/cards/hui-media-control-card.ts
Labels: cla-signed

#4726 🔧 Standardize Generic Dialogs
  src/panels/config/areas/ha-config-areas.ts
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/panels/config/cloud/dialog-manage-cloudhook/dialog-manage-cloudhook.ts
  src/panels/config/person/ha-config-person.ts
  src/panels/config/zone/ha-config-zone.ts
  src/panels/lovelace/hui-editor.ts
  src/translations/en.json
Labels: cla-signed

#5110 Recalc content height on lovelace change
  src/panels/lovelace/hui-root.ts
Labels: cla-signed

#5099 Input Slider: Fix Overflow
  src/panels/lovelace/entity-rows/hui-input-number-entity-row.ts
Labels: cla-signed

#5112 Fix alignment of generic entity row
  src/panels/lovelace/components/hui-generic-entity-row.ts
Labels: cla-signed

#5114 Fix update of cached datatables on connect
  src/components/data-table/ha-data-table.ts
  src/panels/config/lovelace/dashboards/ha-config-lovelace-dashboards.ts
Labels: cla-signed

#5095 Media Card: Add Marquee to Title
  src/panels/lovelace/cards/hui-media-control-card.ts
  src/panels/lovelace/components/hui-marquee.ts
Labels: cla-signed

#5116 Use fallback for device name on device page
  src/panels/config/devices/ha-config-device-page.ts
Labels: cla-signed

#5115 Fixes media card
  src/panels/lovelace/cards/hui-media-control-card.ts
Labels: cla-signed

#5118 Helpers: remove init values, change date/time mode picker, dont close…
  src/panels/config/helpers/dialog-helper-detail.ts
  src/panels/config/helpers/forms/ha-input_boolean-form.ts
  src/panels/config/helpers/forms/ha-input_datetime-form.ts
  src/panels/config/helpers/forms/ha-input_number-form.ts
  src/panels/config/helpers/forms/ha-input_select-form.ts
  src/panels/config/helpers/forms/ha-input_text-form.ts
  src/translations/en.json
Labels: cla-signed

#5119 Change marquee to css animations
  src/panels/lovelace/components/hui-marquee.ts
Labels: cla-signed

#5124 Lazy load our elements once again
  src/panels/lovelace/create-element/create-badge-element.ts
  src/panels/lovelace/create-element/create-card-element.ts
  src/panels/lovelace/create-element/create-header-footer-element.ts
  src/panels/lovelace/create-element/create-row-element.ts
Labels: cla-signed

#5120 Media Card: Fix Style Maps
  src/panels/lovelace/cards/hui-media-control-card.ts
Labels: cla-signed

#5113 Add no data row when data table empty
  src/components/data-table/ha-data-table.ts
  src/layouts/hass-tabs-subpage-data-table.ts
  src/panels/config/devices/ha-devices-data-table.ts
  src/panels/config/integrations/config-entry/ha-config-entry-page.ts
  src/panels/config/lovelace/resources/ha-config-lovelace-resources.ts
  src/translations/en.json
Labels: cla-signed

#4953 Allow state-label-element to show attributes
  src/panels/lovelace/elements/hui-state-label-element.ts
  src/panels/lovelace/elements/types.ts
  src/translations/en.json
Labels: cla-signed, documentation added

#4958 ✨ ability to show attribute instead of state in picture-glance ✨
  src/panels/lovelace/cards/hui-picture-glance-card.ts
  src/panels/lovelace/cards/types.ts
Labels: cla-signed, documentation needed

#5127 Bump home-assistant-js-websocket
  package.json
  yarn.lock
Labels: cla-signed

#5130 Fix automation event trigger UI
  src/panels/config/automation/trigger/types/ha-automation-trigger-event.ts
Labels: cla-signed

#5131 Only save non system generated users and tweak text
  src/panels/lovelace/editor/view-editor/hui-edit-view.ts
  src/panels/lovelace/editor/view-editor/hui-view-visibility-editor.ts
  src/translations/en.json
Labels: cla-signed

#5132 Fix closing hui-editor
  src/panels/lovelace/hui-editor.ts
Labels: cla-signed

#5134 Demo paths
  demo/public/assets/arsaboo/images/camera.backyard.jpg
  demo/public/assets/arsaboo/images/camera.driveway.jpg
  demo/public/assets/arsaboo/images/camera.patio.jpg
  demo/public/assets/arsaboo/images/camera.porch.jpg
  demo/public/assets/arsaboo/images/media_player_family_room.jpg
  demo/src/configs/arsaboo/entities.ts
  src/components/ha-camera-stream.ts
Labels: cla-signed

#5135 20200311.1
  demo/public/assets/arsaboo/images/camera.backyard.jpg
  demo/public/assets/arsaboo/images/camera.driveway.jpg
  demo/public/assets/arsaboo/images/camera.patio.jpg
  demo/public/assets/arsaboo/images/camera.porch.jpg
  demo/public/assets/arsaboo/images/media_player_family_room.jpg
  demo/src/configs/arsaboo/entities.ts
  setup.py
  src/components/ha-camera-stream.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-event.ts
  src/panels/lovelace/editor/view-editor/hui-edit-view.ts
  src/panels/lovelace/editor/view-editor/hui-view-visibility-editor.ts
  src/panels/lovelace/hui-editor.ts
  src/translations/en.json
Labels: cla-signed

#4448 Refactor Freebox : add config flow + temperature sensor + signal dispatch
  public/static/images/config_freebox.png
Labels: cla-signed, wait for backend

#5136 Fix area dialog too wide
  src/panels/config/areas/dialog-area-registry-detail.ts
  src/panels/config/entities/entity-registry-settings.ts
  src/resources/styles.ts
Labels: cla-signed

#5143 Card Picker: Fixes Safari Render Bug
  src/panels/lovelace/editor/card-editor/hui-card-picker.ts
Labels: cla-signed

#5141 Extract media controls into method
  gallery/src/data/media_players.ts
  gallery/src/demos/demo-hui-media-control-card.ts
  gallery/src/demos/demo-hui-media-player-rows.ts
  src/common/entity/domain_icon.ts
  src/data/media-player.ts
  src/panels/lovelace/cards/hui-media-control-card.ts
  src/panels/lovelace/components/hui-marquee.ts
  src/panels/lovelace/entity-rows/hui-media-player-entity-row.ts
  src/types.ts
Labels: cla-signed

#5167 Media Card: Fixes Safari Gradient Bug
  src/panels/lovelace/cards/hui-media-control-card.ts
Labels: cla-signed

#5158 Fix resize observer on error card
  src/panels/lovelace/cards/hui-media-control-card.ts
Labels: cla-signed

#5159 Fix secondary info
  src/panels/lovelace/components/hui-generic-entity-row.ts
Labels: cla-signed

#5160 Dashboard UI fixes
  src/panels/config/lovelace/dashboards/dialog-lovelace-dashboard-detail.ts
  src/panels/config/lovelace/resources/dialog-lovelace-resource-detail.ts
  src/panels/config/zone/dialog-zone-detail.ts
  src/resources/styles.ts
  src/translations/en.json
Labels: cla-signed

#5161 Fix helper UI
  src/panels/config/helpers/dialog-helper-detail.ts
  src/panels/config/helpers/forms/ha-input_boolean-form.ts
  src/panels/config/helpers/forms/ha-input_datetime-form.ts
  src/panels/config/helpers/forms/ha-input_number-form.ts
  src/panels/config/helpers/forms/ha-input_select-form.ts
  src/panels/config/helpers/forms/ha-input_text-form.ts
  src/panels/config/lovelace/dashboards/dialog-lovelace-dashboard-detail.ts
  src/panels/config/lovelace/resources/dialog-lovelace-resource-detail.ts
Labels: cla-signed

#5163 Fix state_color for media_player
  src/common/style/icon_color_css.ts
Labels: cla-signed

#5155 Fix stack size
  src/panels/lovelace/cards/hui-stack-card.ts
Labels: cla-signed

#5157 Simplify action handler directive
  src/panels/lovelace/common/directives/action-handler-directive.ts
Labels: cla-signed

#5165 Fix scroll entity settings dialog
  src/panels/config/entities/dialog-entity-editor.ts
Labels: cla-signed

#5168 Add on state to media control card
  gallery/src/data/media_players.ts
  gallery/src/demos/demo-hui-media-control-card.ts
  src/panels/lovelace/cards/hui-media-control-card.ts
  src/types.ts
Labels: cla-signed

#5174 Show if helper can be edited
  src/components/data-table/ha-data-table.ts
  src/panels/config/helpers/ha-config-helpers.ts
Labels: cla-signed

#5175 Only update map if one of entities changed
  src/components/map/ha-map.ts
Labels: cla-signed

#5176 Fix for views with url starting with a number
  src/panels/lovelace/hui-root.ts
Labels: cla-signed

#5177 Dont create new array on every render
  src/dialogs/more-info/controls/more-info-person.ts
Labels: cla-signed

#5180 Typos
  src/panels/config/lovelace/dashboards/ha-config-lovelace-dashboards.ts
  src/translations/en.json
Labels: cla-signed

#5181 20200312.0
  gallery/src/data/media_players.ts
  gallery/src/demos/demo-hui-media-control-card.ts
  gallery/src/demos/demo-hui-media-player-rows.ts
  public/static/images/config_freebox.png
  setup.py
  src/common/entity/domain_icon.ts
  src/common/style/icon_color_css.ts
  src/components/data-table/ha-data-table.ts
  src/components/map/ha-map.ts
  src/data/media-player.ts
  src/dialogs/more-info/controls/more-info-person.ts
  src/panels/config/areas/dialog-area-registry-detail.ts
  src/panels/config/entities/dialog-entity-editor.ts
  src/panels/config/entities/entity-registry-settings.ts
  src/panels/config/helpers/dialog-helper-detail.ts
  src/panels/config/helpers/forms/ha-input_boolean-form.ts
  src/panels/config/helpers/forms/ha-input_datetime-form.ts
  src/panels/config/helpers/forms/ha-input_number-form.ts
  src/panels/config/helpers/forms/ha-input_select-form.ts
  src/panels/config/helpers/forms/ha-input_text-form.ts
  src/panels/config/helpers/ha-config-helpers.ts
  src/panels/config/lovelace/dashboards/dialog-lovelace-dashboard-detail.ts
  src/panels/config/lovelace/dashboards/ha-config-lovelace-dashboards.ts
  src/panels/config/lovelace/resources/dialog-lovelace-resource-detail.ts
  src/panels/config/zone/dialog-zone-detail.ts
  src/panels/lovelace/cards/hui-media-control-card.ts
  src/panels/lovelace/cards/hui-stack-card.ts
  src/panels/lovelace/common/directives/action-handler-directive.ts
  src/panels/lovelace/components/hui-generic-entity-row.ts
  src/panels/lovelace/components/hui-marquee.ts
  src/panels/lovelace/editor/card-editor/hui-card-picker.ts
  src/panels/lovelace/entity-rows/hui-media-player-entity-row.ts
  src/panels/lovelace/hui-root.ts
  src/resources/styles.ts
  src/translations/en.json
  src/types.ts
  translations/da.json
  translations/de.json
  translations/en.json
  translations/es.json
  translations/lb.json
  translations/nb.json
  translations/pl.json
  translations/ru.json
  translations/sk.json
  translations/zh-Hans.json
  translations/zh-Hant.json
Labels: cla-signed

#5183 Media Card: Fix Marquee Ellipsis
  src/panels/lovelace/components/hui-marquee.ts
Labels: cla-signed

#5182 Gauge Card: Fix CSS for gauge data
  src/panels/lovelace/cards/hui-gauge-card.ts
Labels: cla-signed

#5193 Check if entities is an array
  src/panels/lovelace/common/compute-unused-entities.ts
Labels: cla-signed

#5189 Improve color extraction for media control card
  gallery/public/images/album_cover_2.jpg
  gallery/src/data/media_players.ts
  gallery/src/demos/demo-hui-media-control-card.ts
  src/data/media-player.ts
  src/panels/lovelace/cards/hui-media-control-card.ts
  src/panels/lovelace/create-element/create-card-element.ts
Labels: cla-signed

#5192 Fix translations in production builds
  build-scripts/env.js
  build-scripts/gulp/app.js
  build-scripts/gulp/hassio.js
  build-scripts/gulp/translations.js
  build-scripts/webpack.js
  cast/webpack.config.js
  demo/webpack.config.js
  hassio/webpack.config.js
  webpack.config.js
Labels: cla-signed

#5197 Stub config tweaks
  demo/public/stub_config/bedroom.png
  demo/public/stub_config/floorplan.png
  demo/public/stub_config/kitchen.png
  demo/public/stub_config/t-shirt-promo.png
  src/panels/lovelace/cards/hui-button-card.ts
  src/panels/lovelace/cards/hui-entities-card.ts
  src/panels/lovelace/cards/hui-glance-card.ts
  src/panels/lovelace/cards/hui-picture-card.ts
  src/panels/lovelace/cards/hui-picture-elements-card.ts
  src/panels/lovelace/cards/hui-picture-entity-card.ts
  src/panels/lovelace/cards/hui-picture-glance-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/elements/types.ts
Labels: cla-signed

#5184 Media Card: Reset Marquee on Text change
  src/panels/lovelace/components/hui-marquee.ts
Labels: cla-signed

#5198 20200313.0
  build-scripts/env.js
  build-scripts/gulp/app.js
  build-scripts/gulp/hassio.js
  build-scripts/gulp/translations.js
  build-scripts/webpack.js
  cast/webpack.config.js
  demo/public/stub_config/bedroom.png
  demo/public/stub_config/floorplan.png
  demo/public/stub_config/kitchen.png
  demo/public/stub_config/t-shirt-promo.png
  demo/webpack.config.js
  gallery/public/images/album_cover_2.jpg
  gallery/src/data/media_players.ts
  gallery/src/demos/demo-hui-media-control-card.ts
  hassio/webpack.config.js
  setup.py
  src/data/media-player.ts
  src/panels/lovelace/cards/hui-button-card.ts
  src/panels/lovelace/cards/hui-entities-card.ts
  src/panels/lovelace/cards/hui-gauge-card.ts
  src/panels/lovelace/cards/hui-glance-card.ts
  src/panels/lovelace/cards/hui-media-control-card.ts
  src/panels/lovelace/cards/hui-picture-card.ts
  src/panels/lovelace/cards/hui-picture-elements-card.ts
  src/panels/lovelace/cards/hui-picture-entity-card.ts
  src/panels/lovelace/cards/hui-picture-glance-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/common/compute-unused-entities.ts
  src/panels/lovelace/components/hui-marquee.ts
  src/panels/lovelace/create-element/create-card-element.ts
  src/panels/lovelace/elements/types.ts
  translations/ca.json
  translations/de.json
  translations/en.json
  translations/es.json
  translations/fr.json
  translations/nb.json
  translations/pl.json
  translations/ru.json
  translations/zh-Hans.json
  translations/zh-Hant.json
  webpack.config.js
Labels: cla-signed

#5201 Fix brightness_pct in light device turn_on action
  src/data/device_automation.ts
Labels: cla-signed

#5199 Cosmetic improvements, minor corrections
  translations/en.json
Labels: cla-signed

#5225 Corrected minor misspellings
  src/data/system_log.ts
  src/panels/developer-tools/logs/dialog-system-log-detail.ts
  src/panels/developer-tools/logs/system-log-card.ts
Labels: cla-signed

#5214 Require hyphen in lovelace dashboard url path
  src/panels/config/lovelace/dashboards/dialog-lovelace-dashboard-detail.ts
  src/translations/en.json
Labels: cla-signed

#5210 Webpage Card: Fix Aspect Ratio in Editor
  src/panels/lovelace/editor/config-elements/hui-iframe-card-editor.ts
Labels: cla-signed

#5205 Card Picker: Remove Scale
  src/panels/lovelace/editor/card-editor/hui-card-picker.ts
Labels: cla-signed

#5209 Map Card: Fix Dark Mode Toggle
  src/panels/lovelace/editor/config-elements/hui-map-card-editor.ts
Labels: cla-signed

#5228 20200316.0
  setup.py
  src/data/device_automation.ts
  src/data/system_log.ts
  src/panels/config/lovelace/dashboards/dialog-lovelace-dashboard-detail.ts
  src/panels/developer-tools/logs/dialog-system-log-detail.ts
  src/panels/developer-tools/logs/system-log-card.ts
  src/panels/lovelace/editor/card-editor/hui-card-picker.ts
  src/panels/lovelace/editor/config-elements/hui-iframe-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-map-card-editor.ts
  src/translations/en.json
  translations/ca.json
  translations/da.json
  translations/de.json
  translations/en.json
  translations/es.json
  translations/fr.json
  translations/it.json
  translations/ko.json
  translations/nb.json
  translations/ru.json
  translations/zh-Hans.json
  translations/zh-Hant.json
Labels: cla-signed

#5230 Minor corrections and cosmetic improvements
  src/translations/en.json
Labels: cla-signed

#5233 Only show url path field in advanced mode
  src/panels/config/lovelace/dashboards/dialog-lovelace-dashboard-detail.ts
Labels: cla-signed

#5229 Add UI for reload resources service
  src/panels/config/lovelace/resources/ha-config-lovelace-resources.ts
  src/panels/lovelace/hui-root.ts
  src/translations/en.json
Labels: cla-signed

#5220 Set Title to Current Panel
  src/data/panel.ts
  src/state/hass-element.ts
  src/state/panel-title-mixin.ts
Labels: cla-signed

#5234 20200316.1
  setup.py
  src/data/panel.ts
  src/panels/config/lovelace/dashboards/dialog-lovelace-dashboard-detail.ts
  src/panels/config/lovelace/resources/ha-config-lovelace-resources.ts
  src/panels/lovelace/hui-root.ts
  src/state/hass-element.ts
  src/state/panel-title-mixin.ts
  src/translations/en.json
Labels: cla-signed

#5221 Fix Wrong Index for Filtered Tabs
  src/layouts/hass-tabs-subpage.ts
Labels: cla-signed

#5251 Fix dialog conent color
  src/panels/config/lovelace/dashboards/dialog-lovelace-dashboard-detail.ts
  src/resources/styles.ts
Labels: cla-signed

#5242 Cast fix for urlPath === "lovelace"
  cast/src/receiver/layout/hc-main.ts
Labels: cla-signed

#5252 20200318.0
  cast/src/receiver/layout/hc-main.ts
  setup.py
  src/layouts/hass-tabs-subpage.ts
  src/panels/config/lovelace/dashboards/dialog-lovelace-dashboard-detail.ts
  src/resources/styles.ts
  translations/ca.json
  translations/da.json
  translations/de.json
  translations/en.json
  translations/es.json
  translations/fr.json
  translations/nb.json
  translations/pl.json
  translations/ru.json
  translations/th.json
  translations/zh-Hans.json
  translations/zh-Hant.json
Labels: cla-signed

#5246 Thermostat Card: Fix theme update
  src/panels/lovelace/cards/hui-thermostat-card.ts
Labels: cla-signed

#5247 Alarm Panel Card: More Info Dialog
  src/panels/lovelace/cards/hui-alarm-panel-card.ts
Labels: cla-signed

#5241 Update hui-gauge-card.ts
  src/panels/lovelace/cards/hui-gauge-card.ts
Labels: cla-signed

#4378 Add loading text for long-running integration install step
  src/dialogs/config-flow/dialog-data-entry-flow.ts
  src/dialogs/config-flow/step-flow-loading.ts
  src/translations/en.json
Labels: cla-signed, rebase needed

#5263 Set data as property.
  src/panels/lovelace/hui-root.ts
Labels: cla-signed

#5262 Fix calculating title if panels not loaded yet
  src/common/const.ts
  src/components/ha-sidebar.ts
  src/data/panel.ts
  src/layouts/home-assistant.ts
  src/state/panel-title-mixin.ts
Labels: cla-signed

#5248 Unused Entities: Only Show Fab when selection is made
  src/panels/lovelace/editor/unused-entities/hui-unused-entities.ts
Labels: cla-signed

#5249 Card Editor: Copy Card
  src/panels/lovelace/components/hui-card-options.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-edit-card.ts
  src/panels/lovelace/editor/card-editor/show-edit-card-dialog.ts
  src/translations/en.json
Labels: cla-signed

#5255 Fix stack editor in stack editor
  src/panels/lovelace/editor/config-elements/hui-stack-card-editor.ts
Labels: cla-signed

#5265 Fix stack editor in conditional card
  src/panels/lovelace/editor/card-editor/hui-dialog-suggest-card.ts
  src/panels/lovelace/editor/config-elements/hui-conditional-card-editor.ts
Labels: cla-signed

#5256 Fix button card not showing visual editor on add
  src/panels/lovelace/cards/hui-button-card.ts
Labels: cla-signed

#5208 Find Entites: Filter Unavailable - Used and unused entities required
  src/panels/lovelace/cards/hui-alarm-panel-card.ts
  src/panels/lovelace/cards/hui-button-card.ts
  src/panels/lovelace/cards/hui-entities-card.ts
  src/panels/lovelace/cards/hui-gauge-card.ts
  src/panels/lovelace/cards/hui-glance-card.ts
  src/panels/lovelace/cards/hui-history-graph-card.ts
  src/panels/lovelace/cards/hui-light-card.ts
  src/panels/lovelace/cards/hui-map-card.ts
  src/panels/lovelace/cards/hui-media-control-card.ts
  src/panels/lovelace/cards/hui-picture-elements-card.ts
  src/panels/lovelace/cards/hui-picture-entity-card.ts
  src/panels/lovelace/cards/hui-picture-glance-card.ts
  src/panels/lovelace/cards/hui-plant-status-card.ts
  src/panels/lovelace/cards/hui-sensor-card.ts
  src/panels/lovelace/cards/hui-thermostat-card.ts
  src/panels/lovelace/cards/hui-weather-forecast-card.ts
  src/panels/lovelace/common/compute-unused-entities.ts
  src/panels/lovelace/common/find-entites.ts
  src/panels/lovelace/editor/card-editor/hui-card-picker.ts
  src/panels/lovelace/editor/get-card-stub-config.ts
  src/panels/lovelace/editor/unused-entities/hui-unused-entities.ts
  src/panels/lovelace/types.ts
Labels: cla-signed

#5284 Card Picker: Make Button Alphabetical (English) in Picker
  src/panels/lovelace/editor/card-editor/hui-card-picker.ts
Labels: cla-signed

#5283 Hui Unavailable: Fix Opacity
  src/panels/lovelace/components/hui-unavailable.ts
Labels: cla-signed

#5282 Integrations: Fix tooltip overflow
  src/panels/config/integrations/ha-config-entries-dashboard.ts
Labels: cla-signed

#5206 Stub Configs: Add Type
  src/panels/lovelace/cards/hui-alarm-panel-card.ts
  src/panels/lovelace/cards/hui-button-card.ts
  src/panels/lovelace/cards/hui-conditional-card.ts
  src/panels/lovelace/cards/hui-entities-card.ts
  src/panels/lovelace/cards/hui-gauge-card.ts
  src/panels/lovelace/cards/hui-history-graph-card.ts
  src/panels/lovelace/cards/hui-iframe-card.ts
  src/panels/lovelace/cards/hui-light-card.ts
  src/panels/lovelace/cards/hui-map-card.ts
  src/panels/lovelace/cards/hui-markdown-card.ts
  src/panels/lovelace/cards/hui-media-control-card.ts
  src/panels/lovelace/cards/hui-picture-card.ts
  src/panels/lovelace/cards/hui-picture-entity-card.ts
  src/panels/lovelace/cards/hui-plant-status-card.ts
  src/panels/lovelace/cards/hui-sensor-card.ts
  src/panels/lovelace/cards/hui-shopping-list-card.ts
  src/panels/lovelace/cards/hui-thermostat-card.ts
  src/panels/lovelace/cards/hui-weather-forecast-card.ts
  src/panels/lovelace/cards/types.ts
Labels: cla-signed

#5291 Fix alarm panel
  src/data/alarm_control_panel.ts
  src/panels/lovelace/cards/hui-alarm-panel-card.ts
Labels: cla-signed

#5117 Add delete button to MQTT devices' config page
  src/data/mqtt.ts
  src/panels/config/devices/device-detail/ha-device-card-mqtt.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/translations/en.json
Labels: cla-signed

#5289 Add iframe panel mode and align aspect ratio option with map card
  src/panels/lovelace/cards/hui-iframe-card.ts
  src/panels/lovelace/cards/hui-map-card.ts
  src/panels/lovelace/editor/config-elements/hui-iframe-card-editor.ts
Labels: cla-signed

#5232 Change themes logic
  hassio/src/hassio-main.ts
  src/common/dom/apply_themes_on_element.ts
  src/fake_data/provide_hass.ts
  src/panels/lovelace/components/hui-theme-select-editor.ts
  src/panels/lovelace/editor/config-elements/hui-alarm-panel-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-button-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-entities-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-gauge-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-glance-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-light-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-markdown-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-picture-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-picture-entity-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-picture-glance-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-plant-status-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-sensor-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-shopping-list-editor.ts
  src/panels/lovelace/editor/config-elements/hui-thermostat-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-weather-forecast-card-editor.ts
  src/panels/lovelace/editor/view-editor/hui-view-editor.ts
  src/state/themes-mixin.ts
  src/translations/en.json
Labels: cla-signed

#5302 Fixes #5300: always show attribute step
  src/panels/config/helpers/forms/ha-input_number-form.ts
  src/translations/en.json
Labels: cla-signed

#5257 Add ability to edit panel view cards
  src/panels/lovelace/cards/hui-iframe-card.ts
  src/panels/lovelace/cards/hui-map-card.ts
  src/panels/lovelace/hui-root.ts
  src/panels/lovelace/types.ts
  src/panels/lovelace/views/hui-panel-view.ts
  src/panels/lovelace/views/hui-view.ts
  src/translations/en.json
Labels: cla-signed

#5299 Add "gate" device class for DEVICE_CLASS_GATE
  src/common/entity/cover_icon.ts
  src/common/entity/domain_icon.ts
Labels: cla-signed, wait for backend

#5307 Add checks for arrays in compute unused entities
  src/panels/lovelace/common/compute-unused-entities.ts
Labels: cla-signed

#5305 Invalidate theme cache when switching demo's
  src/fake_data/provide_hass.ts
Labels: cla-signed

#5312 Fix Entities Icon Button Padding
  src/components/entity/ha-entity-picker.ts
Labels: cla-signed

#5273 Footer/Header: Graph
  src/data/graph.ts
  src/panels/lovelace/common/graph/coordinates.ts
  src/panels/lovelace/common/graph/get-history-coordinates.ts
  src/panels/lovelace/common/graph/get-path.ts
  src/panels/lovelace/components/hui-graph-base.ts
  src/panels/lovelace/create-element/create-header-footer-element.ts
  src/panels/lovelace/header-footer/hui-graph-header-footer.ts
  src/panels/lovelace/header-footer/types.ts
Labels: cla-signed, documentation needed

#5309 Use horizontal control icons for devices that commonly move horizontally
  src/components/ha-cover-controls.js
Labels: cla-signed

#5326 Fixed iframe panel unnecessary scrollbar (on 100vh -64px)
  src/panels/iframe/ha-panel-iframe.js
Labels: cla-signed

#5301 Fix Default Lovelace Panel Title
  src/data/panel.ts
Labels: cla-signed

#5340 Catch LL config not found exception in preload
  src/entrypoints/core.ts
Labels: cla-signed

#5325 Delete Card: Add Card Preview to Dialog
  src/panels/lovelace/editor/card-editor/hui-dialog-delete-card.ts
  src/panels/lovelace/editor/card-editor/show-delete-card-dialog.ts
  src/panels/lovelace/editor/delete-card.ts
  src/translations/en.json
  src/util/toast-deleted-success.ts
Labels: cla-signed

#5339 Demo: Add shopping list Component
  src/fake_data/demo_config.ts
Labels: cla-signed

#5348 Fix supervisor panel
  hassio/src/addon-view/hassio-addon-info.ts
  hassio/src/dashboard/hassio-update.ts
  hassio/src/system/hassio-host-info.ts
  hassio/src/system/hassio-supervisor-info.ts
  src/data/hassio/addon.ts
  src/data/hassio/host.ts
  src/data/hassio/supervisor.ts
Labels: cla-signed

#4743 ✨ add volume slider to media_player row
  src/panels/lovelace/entity-rows/hui-media-player-entity-row.ts
Labels: cla-signed

#5083 add name option to buttons row
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/components/hui-buttons-base.ts
Labels: cla-signed, documentation needed

#5365 Fix hass.io panel for older version
  hassio/src/addon-store/hassio-addon-repository.ts
  hassio/src/addon-view/hassio-addon-info.ts
  hassio/src/dashboard/hassio-addons.ts
Labels: cla-signed

#5342 Update layout of device info page
  src/components/data-table/ha-data-table.ts
  src/components/ha-sidebar.ts
  src/data/entity_registry.ts
  src/panels/config/devices/device-detail/ha-device-card.ts
  src/panels/config/devices/device-detail/ha-device-entities-card.ts
  src/panels/config/devices/device-detail/ha-device-info-card.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/panels/config/devices/ha-devices-data-table.ts
Labels: cla-signed

#5343 Add area config page
  src/data/device_registry.ts
  src/dialogs/generic/show-dialog-box.ts
  src/layouts/hass-tabs-subpage-data-table.ts
  src/panels/config/areas/dialog-area-registry-detail.ts
  src/panels/config/areas/ha-config-area-page.ts
  src/panels/config/areas/ha-config-areas-dashboard.ts
  src/panels/config/areas/ha-config-areas.ts
  src/panels/config/areas/show-dialog-area-registry-detail.ts
  src/translations/en.json
Labels: cla-signed

#5344 Change automation picker to data table
  src/components/data-table/ha-data-table.ts
  src/panels/config/automation/ha-automation-picker.ts
  src/translations/en.json
Labels: cla-signed

#5351 Migrate scene config to data table
  src/panels/config/scene/ha-scene-dashboard.ts
  src/translations/en.json
Labels: cla-signed

#5357 Allow to start with empty view on take control
  src/panels/lovelace/editor/hui-dialog-save-config.ts
  src/translations/en.json
Labels: cla-signed

#5352 MIgrate scripts to data table
  src/components/data-table/ha-data-table.ts
  src/dialogs/generic/dialog-box.ts
  src/panels/config/areas/ha-config-areas-dashboard.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/config/script/ha-script-picker.ts
  src/translations/en.json
Labels: cla-signed

#5360 Add default dashboard selection to profile page
  src/components/ha-sidebar.ts
  src/data/panel.ts
  src/fake_data/provide_hass.ts
  src/layouts/home-assistant.ts
  src/panels/config/lovelace/dashboards/dialog-lovelace-dashboard-detail.ts
  src/panels/config/lovelace/dashboards/ha-config-lovelace-dashboards.ts
  src/panels/profile/ha-panel-profile.ts
  src/panels/profile/ha-pick-dashboard-row.ts
  src/state/connection-mixin.ts
  src/state/sidebar-mixin.ts
  src/translations/en.json
  src/types.ts
  src/util/ha-pref-storage.ts
Labels: cla-signed

#5354 Update user config pages
  src/data/auth.ts
  src/data/user.ts
  src/panels/config/users/dialog-add-user.ts
  src/panels/config/users/dialog-user-detail.ts
  src/panels/config/users/ha-config-user-picker.js
  src/panels/config/users/ha-config-users.js
  src/panels/config/users/ha-config-users.ts
  src/panels/config/users/ha-dialog-add-user.js
  src/panels/config/users/ha-user-editor.ts
  src/panels/config/users/show-dialog-add-user.ts
  src/panels/config/users/show-dialog-user-detail.ts
  src/translations/en.json
Labels: cla-signed

#4971 Entity Card: Card Addition
  src/panels/lovelace/cards/hui-entity-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/create-element/create-card-element.ts
  src/panels/lovelace/editor/card-editor/hui-card-picker.ts
  src/panels/lovelace/editor/config-elements/hui-entity-card-editor.ts
  src/translations/en.json
Labels: cla-signed, documentation needed

#5373 Entity Card: Fix Value clipping in editor
  src/panels/lovelace/cards/hui-entity-card.ts
Labels: cla-signed

#5372 Clear selections in ZHA data tables
  src/panels/config/zha/zha-add-group-page.ts
  src/panels/config/zha/zha-clusters-data-table.ts
  src/panels/config/zha/zha-devices-data-table.ts
  src/panels/config/zha/zha-group-binding.ts
  src/panels/config/zha/zha-groups-data-table.ts
Labels: cla-signed

#5335 View Editor: Badge Preview
  src/panels/lovelace/editor/hui-badge-preview.ts
  src/panels/lovelace/editor/view-editor/hui-edit-view.ts
Labels: cla-signed
