Repository home-assistant/frontend, pull requests merged in 2021-05, with the labels that each got.

#9059 Fix some hassio things
  hassio/src/addon-view/info/hassio-addon-info.ts
  hassio/src/dialogs/repositories/dialog-hassio-repositories.ts
Labels: cla-signed

#9065 Ensure weather icon is centered in forecast
  src/panels/lovelace/cards/hui-weather-forecast-card.ts
Labels: cla-signed

#9067 Translate new setup time info header + add blank before unit
  src/panels/config/info/integrations-card.ts
  src/translations/en.json
Labels: cla-signed

#9062 Add "subscribed to log" message on Z-Wave JS log subscription
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-logs.ts
  src/translations/en.json
Labels: cla-signed

#9070 Integration Card: Fix Safari header break and deal with long errors
  gallery/src/demos/demo-integration-card.ts
  src/panels/config/integrations/ha-integration-card.ts
  src/panels/config/integrations/ha-integration-header.ts
Labels: cla-signed

#9072 Show setting for auto connect seperately if currently connected
  src/panels/config/cloud/account/cloud-remote-pref.ts
  src/translations/en.json
Labels: cla-signed

#9068 Bump Lit element
  package.json
  yarn.lock
Labels: cla-signed

#9076 Break word if possible instead if break anywhere
  src/panels/config/integrations/ha-integration-card.ts
  src/panels/config/integrations/ha-integration-header.ts
Labels: cla-signed

#9078 Config flow: Show next when not last step
  src/dialogs/config-flow/step-flow-form.ts
  src/translations/en.json
Labels: cla-signed

#9079 20210503.0
  gallery/src/demos/demo-integration-card.ts
  hassio/src/addon-view/info/hassio-addon-info.ts
  hassio/src/dialogs/repositories/dialog-hassio-repositories.ts
  package.json
  setup.py
  src/dialogs/config-flow/step-flow-form.ts
  src/panels/config/cloud/account/cloud-remote-pref.ts
  src/panels/config/info/integrations-card.ts
  src/panels/config/integrations/ha-integration-card.ts
  src/panels/config/integrations/ha-integration-header.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-logs.ts
  src/panels/lovelace/cards/hui-weather-forecast-card.ts
  src/translations/en.json
  translations/frontend/ca.json
  translations/frontend/de.json
  translations/frontend/en.json
  translations/frontend/es.json
  translations/frontend/et.json
  translations/frontend/fr.json
  translations/frontend/it.json
  translations/frontend/nb.json
  translations/frontend/nl.json
  translations/frontend/pl.json
  translations/frontend/ru.json
  translations/frontend/zh-Hans.json
  translations/frontend/zh-Hant.json
  yarn.lock
Labels: cla-needed

#9080 Prevent not needed `<hr>` in more-info-light
  src/dialogs/more-info/controls/more-info-light.ts
Labels: cla-signed

#9090 Draw a `<hr>` above the attributes in more-info
  src/components/ha-attributes.ts
  src/dialogs/more-info/controls/more-info-automation.ts
  src/dialogs/more-info/controls/more-info-light.ts
  src/dialogs/more-info/controls/more-info-script.ts
  src/dialogs/more-info/controls/more-info-sun.ts
  src/dialogs/more-info/controls/more-info-water_heater.js
Labels: cla-signed

#9088 Use hs color when outside of wheel
  src/common/color/convert-color.ts
  src/components/ha-color-picker.js
  src/dialogs/more-info/controls/more-info-light.ts
Labels: cla-signed

#9094 Return instead of trhow
  src/state/connection-mixin.ts
Labels: cla-signed

#9097 20210504.0
  setup.py
  src/common/color/convert-color.ts
  src/components/ha-attributes.ts
  src/components/ha-color-picker.js
  src/dialogs/more-info/controls/more-info-automation.ts
  src/dialogs/more-info/controls/more-info-light.ts
  src/dialogs/more-info/controls/more-info-script.ts
  src/dialogs/more-info/controls/more-info-sun.ts
  src/dialogs/more-info/controls/more-info-water_heater.js
  src/state/connection-mixin.ts
  translations/frontend/bg.json
  translations/frontend/ca.json
  translations/frontend/cs.json
  translations/frontend/de.json
  translations/frontend/el.json
  translations/frontend/en.json
  translations/frontend/es.json
  translations/frontend/et.json
  translations/frontend/he.json
  translations/frontend/nb.json
  translations/frontend/nl.json
  translations/frontend/pl.json
  translations/frontend/ru.json
  translations/frontend/zh-Hant.json
Labels: cla-needed

#9098 Bump wheels to 3.8-alpine3.12
  .github/workflows/release.yaml
Labels: cla-signed

#8950 Show supervisor addon configuration error
  hassio/src/addon-view/config/hassio-addon-config.ts
  hassio/src/addon-view/hassio-addon-dashboard.ts
  src/data/hassio/addon.ts
  src/data/hassio/common.ts
Labels: cla-signed, supervisor

#9089 Guard for undefined values in attribute filtering
  src/panels/developer-tools/state/developer-tools-state.js
Labels: cla-signed

#9121 Bump js-xss to 1.0.9
  package.json
  yarn.lock
Labels: cla-signed

#9123 Fix alignment of Entities card header toggle
  src/panels/lovelace/components/hui-entities-toggle.ts
Labels: cla-signed

#9124 Convert GPS to uppercase in attribute name
  src/util/hass-attributes-util.ts
Labels: cla-signed

#9115 Fix positioning of preload checkbox
  src/dialogs/more-info/controls/more-info-camera.ts
Labels: cla-signed

#9120 Update UI when service schema change
  src/components/ha-service-control.ts
Labels: cla-signed

#9105 Fix for when the value doesnt get changed by the backend when we send it
  src/data/light.ts
  src/dialogs/more-info/controls/more-info-light.ts
  src/dialogs/more-info/more-info-content.ts
Labels: cla-signed

#9119 Bump superstruct
  package.json
  src/common/structs/handle-errors.ts
  src/common/structs/is-entity-id.ts
  src/common/structs/is-icon.ts
  src/panels/config/automation/action/types/ha-automation-action-service.ts
  src/panels/lovelace/editor/config-elements/hui-entities-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-history-graph-card-editor.ts
  yarn.lock
Labels: cla-signed

#9118 Bump leaflet + fix location editor
  package.json
  src/components/map/ha-locations-editor.ts
  src/panels/config/core/ha-config-core-form.ts
  src/panels/config/tags/dialog-tag-detail.ts
  src/panels/config/zone/dialog-zone-detail.ts
  yarn.lock
Labels: cla-signed

#9126 Add manual limit selection to graph header/footer
  src/panels/lovelace/cards/hui-sensor-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/common/graph/coordinates.ts
  src/panels/lovelace/header-footer/hui-graph-header-footer.ts
  src/panels/lovelace/header-footer/types.ts
Labels: cla-signed, documentation needed

#9087 Add supervisor_ingress support to my
  hassio/src/hassio-my-redirect.ts
  hassio/src/hassio-router.ts
  hassio/src/ingress-view/hassio-ingress-view.ts
  src/translations/en.json
Labels: cla-signed

#9132 Use grid for sensor cards on 2nd view of teaching birds demo
  demo/src/configs/teachingbirds/lovelace.ts
Labels: cla-signed

#9147 Bump hls.js from v1.0.1 to v1.0.3
  package.json
  yarn.lock
Labels: cla-signed

#9103 Use hass-tabs-subpage-data-table for supervisor snapshots
  hassio/src/dialogs/snapshot/dialog-hassio-create-snapshot.ts
  hassio/src/dialogs/snapshot/dialog-hassio-snapshot.ts
  hassio/src/dialogs/snapshot/show-dialog-hassio-create-snapshot.ts
  hassio/src/snapshots/hassio-snapshots.ts
  src/components/data-table/ha-data-table.ts
  src/layouts/hass-tabs-subpage-data-table.ts
  src/translations/en.json
Labels: cla-signed, supervisor

#9158 Silence babel warnings
  build-scripts/bundle.js
  build-scripts/env.js
  build-scripts/paths.js
  build-scripts/rollup.js
  build-scripts/util.js
  build-scripts/webpack.js
Labels: cla-signed

#9061 Improve UX for counter and input_number helpers
  src/data/history.ts
  src/panels/lovelace/cards/hui-gauge-card.ts
  src/panels/lovelace/cards/hui-sensor-card.ts
  src/panels/lovelace/editor/config-elements/hui-gauge-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-sensor-card-editor.ts
  src/panels/lovelace/header-footer/hui-graph-header-footer.ts
Labels: cla-signed

#9160 Bump chart.js
  package.json
  yarn.lock
Labels: cla-signed

#9155 Bump lokalize deps + support object format for args
  package.json
  src/common/translations/localize.ts
  src/dialogs/config-flow/show-dialog-config-flow.ts
  src/dialogs/config-flow/show-dialog-options-flow.ts
  src/panels/config/integrations/ha-config-integrations.ts
  src/panels/profile/dialog-ha-mfa-module-setup-flow.ts
  src/panels/profile/ha-panel-profile.ts
  src/panels/profile/ha-refresh-tokens-card.ts
  yarn.lock
Labels: cla-signed

#9166 Add snapshot contents as secondary info for partial snapshots
  hassio/src/snapshots/hassio-snapshots.ts
  src/data/hassio/snapshot.ts
Labels: cla-signed

#9135 Bump lodash
  yarn.lock
Labels: cla-signed

#9174 Switch update and openChangelog button
  hassio/src/addon-view/info/hassio-addon-info.ts
Labels: cla-signed, supervisor

#9175 Add duplicate scene functionality
  src/data/scene.ts
  src/panels/config/scene/ha-scene-editor.ts
  src/translations/en.json
Labels: cla-signed

#9187 Remove shadowroot from ha-markdown-element
  src/components/ha-markdown-element.ts
Labels: cla-signed

#9181 If we have a link, make it a link
  hassio/src/snapshots/hassio-snapshots.ts
  src/components/ha-tab.ts
  src/entrypoints/custom-panel.ts
  src/layouts/hass-tabs-subpage-data-table.ts
  src/layouts/hass-tabs-subpage.ts
Labels: cla-signed

#8650 Use default behaviour for service target
  src/components/ha-service-control.ts
  src/data/entity.ts
Labels: cla-signed

#9186 Add guard for non color lights
  src/dialogs/more-info/controls/more-info-light.ts
Labels: cla-signed

#9190 Make slider default for number selector
  src/components/ha-selector/ha-selector-number.ts
  src/data/selector.ts
Labels: cla-signed

#9184 Correct types for script automation editors
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/script/ha-script-editor.ts
Labels: cla-signed

#9145 Fix Z-Wave JS add node wizard and add interview status
  src/panels/config/integrations/integration-panels/zwave_js/dialog-zwave_js-add-node.ts
  src/translations/en.json
Labels: cla-signed

#9192 Trace fixes
  src/components/trace/hat-script-graph.ts
  src/components/trace/hat-trace-timeline.ts
  src/data/automation_i18n.ts
  src/data/device_automation.ts
  src/panels/config/automation/trace/ha-automation-trace-path-details.ts
  src/panels/config/automation/trace/ha-automation-trace.ts
Labels: cla-signed

#9195 Make hassio backwards compat
  hassio/src/hassio-main.ts
Labels: cla-signed, supervisor

#9196 Drop app-route
  package.json
  src/layouts/home-assistant.ts
  yarn.lock
Labels: cla-signed

#9198 Fix URL to jinja template docs
  src/panels/developer-tools/template/developer-tools-template.ts
Labels: cla-signed

#9204 Fix lit warnings
  build-scripts/webpack.js
  src/components/date-range-picker.ts
  src/components/entity/ha-entity-toggle.ts
  src/components/entity/state-badge.ts
  src/components/ha-code-editor.ts
  src/components/ha-icon.ts
  src/components/ha-menu-button.ts
  src/components/ha-sidebar.ts
  src/dialogs/make-dialog-manager.ts
  src/dialogs/more-info/controls/more-info-light.ts
  src/layouts/hass-tabs-subpage.ts
  src/layouts/home-assistant-main.ts
  src/layouts/home-assistant.ts
  src/layouts/partial-panel-resolver.ts
  src/panels/lovelace/components/hui-entities-toggle.ts
  src/panels/lovelace/strategies/original-states-strategy.ts
  src/panels/lovelace/views/hui-masonry-view.ts
  src/panels/lovelace/views/hui-panel-view.ts
  src/panels/lovelace/views/hui-view.ts
  src/resources/compatibility.ts
  src/state/disconnect-toast-mixin.ts
  src/state/hass-base-mixin.ts
  src/state/more-info-mixin.ts
Labels: cla-signed

#9206 Fix _initialize
  cast/src/receiver/layout/hc-demo.ts
  demo/src/ha-demo.ts
Labels: cla-signed

#9208 Add icon to Entities card schema
  src/panels/lovelace/editor/config-elements/hui-entities-card-editor.ts
Labels: cla-signed

#9200 Make chrome work-around work in iframes
  hassio/src/dialogs/snapshot/dialog-hassio-snapshot.ts
  hassio/src/entrypoint.ts
  hassio/src/hassio-main.ts
  src/common/dom/get_main_window.ts
  src/common/navigate.ts
  src/data/main_window.ts
  src/dialogs/make-dialog-manager.ts
  src/entrypoints/core.ts
  src/entrypoints/custom-panel.ts
  src/state/url-sync-mixin.ts
Labels: cla-signed

#9221 Add missing translations to voice command dialog
  src/dialogs/voice-command-dialog/ha-voice-command-dialog.ts
Labels: cla-signed

#9209 Remove padding when narrow
  src/components/ha-tab.ts
Labels: cla-signed

#9229 Add the Supervisor as an ignorable discovery source
  src/data/config_flow.ts
Labels: cla-signed

#9231 Add refresh button to state dev tools
  src/panels/developer-tools/state/developer-tools-state.js
Labels: cla-signed

#9232 Show correct number of disabled integrations
  src/panels/config/integrations/ha-config-integrations.ts
Labels: cla-signed

#9228 Supervisor dashboard: Make it clear that those are the installed add-ons
  src/translations/en.json
Labels: cla-signed, supervisor

#9143 Ensure timer row uses correct state translation keys
  src/common/entity/timer_time_remaining.ts
  src/components/entity/ha-state-label-badge.ts
  src/data/timer.ts
  src/panels/lovelace/entity-rows/hui-timer-entity-row.ts
  src/state-summary/state-card-timer.js
  test-mocha/common/entity/timer_time_remaining_test.ts
Labels: cla-signed

#9241 Fix tabs styling
  src/components/ha-tab.ts
  src/layouts/hass-tabs-subpage.ts
Labels: cla-signed

#9217 Optimise data table and device dashboard
  src/components/data-table/ha-data-table.ts
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/panels/config/entities/ha-config-entities.ts
Labels: cla-signed

#8347 Add support for custom themes to use dark mode
  hassio/src/hassio-main.ts
  src/common/dom/apply_themes_on_element.ts
  src/components/map/ha-location-editor.ts
  src/data/ws-themes.ts
  src/data/zone.ts
  src/fake_data/provide_hass.ts
  src/layouts/supervisor-error-screen.ts
  src/panels/lovelace/views/hui-view.ts
  src/panels/profile/ha-pick-theme-row.ts
  src/resources/ha-style.ts
  src/state/connection-mixin.ts
  src/state/themes-mixin.ts
  src/types.ts
  src/util/ha-pref-storage.ts
Labels: cla-signed, documentation needed, wait for backend

#9201 Use comboBoxRenderer from lit-vaadin-helpers
  package.json
  src/components/device/ha-area-devices-picker.ts
  src/components/device/ha-device-picker.ts
  src/components/entity/ha-entity-attribute-picker.ts
  src/components/entity/ha-entity-picker.ts
  src/components/ha-addon-picker.ts
  src/components/ha-area-picker.ts
  src/components/ha-combo-box.ts
  src/components/ha-service-picker.ts
  yarn.lock
Labels: cla-signed

#9220 Put attributes in more-info into a foldable section
  src/components/ha-attributes.ts
  src/components/ha-expansion-panel.ts
  src/dialogs/more-info/controls/more-info-cover.js
  src/dialogs/more-info/controls/more-info-default.ts
  src/dialogs/more-info/controls/more-info-fan.js
  src/dialogs/more-info/controls/more-info-light.ts
  src/dialogs/more-info/controls/more-info-lock.js
  src/dialogs/more-info/controls/more-info-person.ts
  src/dialogs/more-info/controls/more-info-remote.ts
  src/dialogs/more-info/controls/more-info-timer.ts
  src/dialogs/more-info/controls/more-info-vacuum.ts
  src/translations/en.json
Labels: cla-signed

#9219 Prevent cutting off of attributes in more-info light
  src/dialogs/more-info/controls/more-info-light.ts
Labels: cla-signed

#9238 Add log level changed message when user changes Z-Wave JS log level
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-logs.ts
  src/translations/en.json
Labels: cla-signed

#9167 Translate NC account connection state
  src/panels/config/cloud/account/cloud-account.js
  src/translations/en.json
Labels: cla-signed

#9223 Refresh snapshot create/restore dialogs
  hassio/src/components/supervisor-formfield-label.ts
  hassio/src/components/supervisor-snapshot-content.ts
  hassio/src/dialogs/snapshot/dialog-hassio-create-snapshot.ts
  hassio/src/dialogs/snapshot/dialog-hassio-snapshot.ts
  src/components/ha-button-menu.ts
  src/data/hassio/snapshot.ts
  src/translations/en.json
Labels: cla-signed, supervisor

#9250 Ingress: Wait for dialog to close before navigating
  hassio/src/ingress-view/hassio-ingress-view.ts
Labels: cla-signed, supervisor

#9246 Fix rollup build
  src/common/translations/localize.ts
  src/panels/config/integrations/integration-panels/zha/zha-network-visualization-page.ts
Labels: cla-signed

#9243 Bump memoize one
  package.json
  yarn.lock
Labels: cla-signed

#9247 Fix circulair progress producing scrollbars
  src/components/ha-circular-progress.ts
Labels: cla-signed

#9252 Prevent formatting for unknown attribute
  src/panels/lovelace/cards/hui-entity-card.ts
Labels: cla-signed

#9253 Fix resetting theme, only fallback to light when theme doesnt support…
  src/common/dom/apply_themes_on_element.ts
  src/state/themes-mixin.ts
Labels: cla-signed

#9245 Bump js-yaml
  build-scripts/rollup.js
  gallery/src/components/demo-card.js
  gallery/src/demos/demo-automation-describe-action.ts
  gallery/src/demos/demo-automation-describe-condition.ts
  gallery/src/demos/demo-automation-describe-trigger.ts
  hassio/src/system/hassio-host-info.ts
  package.json
  src/components/ha-yaml-editor.ts
  src/panels/config/automation/trace/ha-automation-trace-blueprint-config.ts
  src/panels/config/automation/trace/ha-automation-trace-config.ts
  src/panels/config/automation/trace/ha-automation-trace-path-details.ts
  src/panels/config/devices/device-detail/integration-elements/mqtt/mqtt-discovery-payload.ts
  src/panels/config/devices/device-detail/integration-elements/mqtt/mqtt-messages.ts
  src/panels/developer-tools/event/developer-tools-event.js
  src/panels/developer-tools/service/developer-tools-service.ts
  src/panels/developer-tools/state/developer-tools-state.js
  src/panels/lovelace/cards/hui-error-card.ts
  src/panels/lovelace/editor/hui-element-editor.ts
  src/panels/lovelace/hui-editor.ts
  src/resources/js-yaml-dump.ts
  src/util/hass-attributes-util.ts
  yarn.lock
Labels: cla-signed

#9033 Prevent shrinking of percent value in supervisor metrics
  hassio/src/components/supervisor-metric.ts
Labels: cla-signed, supervisor

#9244 Bump test dependencies
  .mocharc.cjs
  package.json
  test-mocha/common/entity/extract_views.spec.ts
  test-mocha/common/entity/get_group_entities.spec.ts
  test-mocha/common/entity/get_view_entities.spec.ts
  test-mocha/common/entity/split_by_groups.spec.ts
  test-mocha/common/entity/timer_time_remaining_test.ts
  test-mocha/common/util/parse_aspect_ratio_test.ts
  test-mocha/external_app/external_messaging.spec.ts
  test-mocha/hassio/create_session.spec.ts
  test-mocha/mocha.opts
  test-mocha/panels/lovelace/editor/config-util.spec.ts
  test-mocha/util/calculate.spec.ts
  test-mocha/util/generate-brands-url-spec.ts
  test-mocha/util/generate-documentation-url.spec.ts
  yarn.lock
Labels: cla-signed

#9248 Bump idb-keyval
  package.json
  src/data/iconsets.ts
  yarn.lock
Labels: cla-signed

#9257 Replace closing with closed in dialogs
  hassio/src/dialogs/registries/dialog-hassio-registries.ts
  hassio/src/dialogs/repositories/dialog-hassio-repositories.ts
  hassio/src/dialogs/snapshot/dialog-hassio-create-snapshot.ts
  hassio/src/dialogs/snapshot/dialog-hassio-snapshot.ts
  src/dialogs/generic/dialog-box.ts
  src/panels/config/devices/device-detail/integration-elements/mqtt/dialog-mqtt-device-debug-info.ts
  src/panels/config/helpers/dialog-helper-detail.ts
  src/panels/config/integrations/integration-panels/ozw/dialog-ozw-refresh-node.ts
  src/panels/config/integrations/integration-panels/zha/dialog-zha-cluster.ts
  src/panels/config/integrations/integration-panels/zha/dialog-zha-device-zigbee-info.ts
  src/panels/config/lovelace/dashboards/dialog-lovelace-dashboard-detail.ts
  src/panels/config/lovelace/resources/dialog-lovelace-resource-detail.ts
  src/panels/config/users/dialog-add-user.ts
  src/panels/config/users/dialog-user-detail.ts
  src/panels/profile/dialog-ha-mfa-module-setup-flow.ts
Labels: cla-signed

#9249 Minor dependency bumps
  .eslintrc.json
  package.json
  src/common/dom/speech-recognition.ts
  yarn.lock
Labels: cla-signed

#9259 Guard for undefined item in quick bar
  src/dialogs/quick-bar/ha-quick-bar.ts
Labels: cla-signed

#9258 Fix logbook height
  src/dialogs/more-info/ha-more-info-logbook.ts
  src/panels/logbook/ha-logbook.ts
  src/panels/lovelace/cards/hui-logbook-card.ts
Labels: cla-signed

#9261 Fix chartjs deprecation warnings
  src/components/state-history-chart-timeline.js
Labels: cla-signed

#7582 Add friendly_name to dev tools "Entity" column + fuzzy search
  src/common/string/filter/filter.ts
  src/common/string/filter/sequence-matching.ts
  src/panels/developer-tools/state/developer-tools-state.js
Labels: cla-signed

#9260 Fix a bunch of updates triggering updated
  src/components/ha-cover-controls.ts
  src/components/ha-cover-tilt-controls.ts
  src/components/user/ha-user-badge.ts
  src/panels/calendar/ha-full-calendar.ts
  src/panels/calendar/ha-panel-calendar.ts
  src/panels/lovelace/cards/hui-humidifier-card.ts
  src/panels/lovelace/cards/hui-media-control-card.ts
  src/panels/lovelace/cards/hui-thermostat-card.ts
  src/panels/lovelace/cards/hui-weather-forecast-card.ts
  src/panels/lovelace/components/hui-graph-base.ts
  src/panels/lovelace/entity-rows/hui-media-player-entity-row.ts
Labels: cla-signed

#9210 Add network configuration
  src/components/ha-network.ts
  src/data/network.ts
  src/panels/config/core/ha-config-network.ts
  src/panels/config/core/ha-config-section-core.js
Labels: cla-signed, wait for backend

#9265 Hide network config when not loaded
  src/panels/config/core/ha-config-network.ts
Labels: cla-signed

#9270 Replace Hass_io_ prefix for snapshot downloads
  hassio/src/dialogs/snapshot/dialog-hassio-snapshot.ts
Labels: cla-signed, supervisor

#9273 Revert name change from selectedTheme to selectedThemeSettings
  hassio/src/hassio-main.ts
  src/common/dom/apply_themes_on_element.ts
  src/fake_data/provide_hass.ts
  src/layouts/supervisor-error-screen.ts
  src/panels/lovelace/views/hui-view.ts
  src/panels/profile/ha-pick-theme-row.ts
  src/state/connection-mixin.ts
  src/state/themes-mixin.ts
  src/types.ts
  src/util/ha-pref-storage.ts
Labels: cla-signed

#9272 Hide attribute measurement and editable attributes
  src/util/hass-attributes-util.ts
Labels: cla-signed

#9279 Show less ticks in charts
  src/components/state-history-chart-line.js
  src/components/state-history-chart-timeline.js
Labels: cla-signed

#9280 Fix icon db loading
  src/common/util/promise-timeout.ts
  src/components/ha-icon.ts
  src/data/iconsets.ts
Labels: cla-signed

#9275 Better secrets support in add-on configuration
  hassio/src/addon-view/config/hassio-addon-config.ts
  src/components/ha-yaml-editor.ts
  src/data/hassio/addon.ts
Labels: cla-signed, supervisor

#9284 Add selection to snapshot table for mass deletion
  hassio/src/snapshots/hassio-snapshots.ts
  src/data/hassio/snapshot.ts
  src/translations/en.json
Labels: cla-signed, supervisor

#9289 Fix icon loading
  src/data/iconsets.ts
Labels: cla-signed

#9290 Fix default themes
  hassio/src/dialogs/registries/dialog-hassio-registries.ts
  hassio/src/dialogs/repositories/dialog-hassio-repositories.ts
  src/components/device/ha-device-action-picker.ts
  src/components/device/ha-device-condition-picker.ts
  src/components/device/ha-device-trigger-picker.ts
  src/components/media-player/ha-media-player-browse.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-tag.ts
  src/panels/config/helpers/forms/ha-input_number-form.ts
  src/panels/config/helpers/forms/ha-input_select-form.ts
  src/panels/config/helpers/forms/ha-input_text-form.ts
  src/panels/lovelace/editor/header-footer-editor/hui-header-footer-editor.ts
  src/panels/profile/ha-pick-theme-row.ts
  src/state/themes-mixin.ts
Labels: cla-signed

#9296 Move entity attribution out of attribute expansion panel
  src/components/ha-attributes.ts
Labels: cla-signed

#9299 Catch translation errors
  src/common/translations/localize.ts
Labels: cla-signed

#9286 Fix editor structs
  src/common/structs/is-custom-type.ts
  src/common/structs/is-entity-id.ts
  src/common/structs/is-icon.ts
  src/panels/lovelace/editor/config-elements/hui-button-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-entities-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-entity-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-generic-entity-row-editor.ts
  src/panels/lovelace/editor/config-elements/hui-glance-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-graph-footer-editor.ts
  src/panels/lovelace/editor/config-elements/hui-history-graph-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-light-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-map-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-picture-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-picture-entity-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-picture-glance-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-weather-forecast-card-editor.ts
  src/panels/lovelace/editor/structs/action-struct.ts
  src/panels/lovelace/editor/structs/entities-struct.ts
  src/panels/lovelace/editor/types.ts
  src/panels/lovelace/header-footer/structs.ts
  src/panels/lovelace/header-footer/types.ts
Labels: cla-signed

#9288 Dev states: replace pattern in word by wildcard search
  src/common/string/escape_regexp.ts
  src/panels/developer-tools/state/developer-tools-state.js
Labels: cla-signed

#9300 Convert `ha-store-auth-card` to Lit/TS/ha-card
  package.json
  src/dialogs/ha-store-auth-card.js
  src/dialogs/ha-store-auth-card.ts
  src/state/auth-mixin.ts
  yarn.lock
Labels: cla-signed

#9319 Seperate addresses in network configuration
  src/components/ha-network.ts
Labels: cla-signed

#9312 Fix store auth disappearing
  src/dialogs/ha-store-auth-card.ts
  src/state/auth-mixin.ts
  src/util/register-service-worker.ts
Labels: cla-signed

#9316 Add support for disable polling system option
  gallery/src/demos/demo-integration-card.ts
  src/data/config_entries.ts
  src/dialogs/config-entry-system-options/dialog-config-entry-system-options.ts
  src/dialogs/config-entry-system-options/show-dialog-config-entry-system-options.ts
  src/panels/config/integrations/ha-integration-card.ts
  src/panels/config/integrations/ha-integration-header.ts
  src/translations/en.json
Labels: cla-signed, wait for backend

#9320 20210531.1
  gallery/src/demos/demo-integration-card.ts
  setup.py
  src/components/ha-network.ts
  src/data/config_entries.ts
  src/dialogs/config-entry-system-options/dialog-config-entry-system-options.ts
  src/dialogs/config-entry-system-options/show-dialog-config-entry-system-options.ts
  src/dialogs/ha-store-auth-card.ts
  src/panels/config/integrations/ha-integration-card.ts
  src/panels/config/integrations/ha-integration-header.ts
  src/state/auth-mixin.ts
  src/translations/en.json
  src/util/register-service-worker.ts
  translations/frontend/cs.json
  translations/frontend/da.json
  translations/frontend/en.json
  translations/frontend/ko.json
  translations/frontend/nb.json
  translations/frontend/pt-BR.json
  translations/frontend/ru.json
  translations/frontend/zh-Hans.json
Labels: cla-needed
