Repository home-assistant/frontend, pull requests merged in 2021-07, with the labels that each got.

#9487 Limit height of charts to 400px
  src/components/chart/ha-chart-base.ts
  src/components/chart/state-history-chart-line.ts
  src/components/chart/state-history-chart-timeline.ts
Labels: cla-signed

#9485 Use ES5 build for Supervisor on Safari 12 and below
  build-scripts/gulp/entry-html.js
Labels: cla-signed, supervisor

#9489 Fix writing supervisor entrypoint
  build-scripts/gulp/entry-html.js
Labels: cla-signed, supervisor

#9499 Fix race in translations loading
  src/state/translations-mixin.ts
Labels: cla-signed

#9505 Add UI for trigger condition
  src/data/automation.ts
  src/data/device_automation.ts
  src/panels/config/automation/condition/ha-automation-condition-editor.ts
  src/panels/config/automation/condition/types/ha-automation-condition-trigger.ts
  src/panels/config/automation/condition/types/ha-automation-condition-zone.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/translations/en.json
Labels: cla-signed

#9486 Add tracing to scripts
  src/components/trace/ha-trace-blueprint-config.ts
  src/components/trace/ha-trace-config.ts
  src/components/trace/ha-trace-logbook.ts
  src/components/trace/ha-trace-path-details.ts
  src/components/trace/ha-trace-timeline.ts
  src/components/trace/hat-graph-node.ts
  src/components/trace/hat-graph.ts
  src/components/trace/hat-logbook-note.ts
  src/components/trace/hat-script-graph.ts
  src/components/trace/trace-tab-styles.ts
  src/data/script.ts
  src/data/trace.ts
  src/panels/config/automation/ha-automation-trace.ts
  src/panels/config/automation/ha-config-automation.ts
  src/panels/config/script/ha-config-script.ts
  src/panels/config/script/ha-script-editor.ts
  src/panels/config/script/ha-script-picker.ts
  src/panels/config/script/ha-script-trace.ts
  src/translations/en.json
Labels: cla-signed

#9510 20210706.0
  build-scripts/gulp/entry-html.js
  script/core
  setup.py
  src/components/chart/ha-chart-base.ts
  src/components/chart/state-history-chart-line.ts
  src/components/chart/state-history-chart-timeline.ts
  src/components/trace/ha-trace-blueprint-config.ts
  src/components/trace/ha-trace-config.ts
  src/components/trace/ha-trace-logbook.ts
  src/components/trace/ha-trace-path-details.ts
  src/components/trace/ha-trace-timeline.ts
  src/components/trace/hat-graph-node.ts
  src/components/trace/hat-graph.ts
  src/components/trace/hat-logbook-note.ts
  src/components/trace/hat-script-graph.ts
  src/components/trace/trace-tab-styles.ts
  src/data/automation.ts
  src/data/device_automation.ts
  src/data/script.ts
  src/data/trace.ts
  src/panels/config/automation/condition/ha-automation-condition-editor.ts
  src/panels/config/automation/condition/types/ha-automation-condition-trigger.ts
  src/panels/config/automation/condition/types/ha-automation-condition-zone.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/automation/ha-automation-trace.ts
  src/panels/config/automation/ha-config-automation.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/panels/config/script/ha-config-script.ts
  src/panels/config/script/ha-script-editor.ts
  src/panels/config/script/ha-script-picker.ts
  src/panels/config/script/ha-script-trace.ts
  src/state/translations-mixin.ts
  src/translations/en.json
  translations/frontend/ar.json
  translations/frontend/ca.json
  translations/frontend/cs.json
  translations/frontend/de.json
  translations/frontend/es.json
  translations/frontend/et.json
  translations/frontend/he.json
  translations/frontend/hu.json
  translations/frontend/ja.json
  translations/frontend/ko.json
  translations/frontend/nb.json
  translations/frontend/nl.json
  translations/frontend/pl.json
  translations/frontend/ru.json
  translations/frontend/zh-Hans.json
  translations/frontend/zh-Hant.json
Labels: cla-needed

#9511 Fix device trigger clearing trigger id
  src/panels/config/automation/trigger/types/ha-automation-trigger-device.ts
Labels: cla-signed

#9514 Better fix for Safari IBD bug
  src/components/ha-gauge.ts
  src/data/iconsets.ts
  src/util/is_safari.ts
Labels: cla-signed

#9517 20210707.0
  setup.py
  src/components/ha-gauge.ts
  src/data/iconsets.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-device.ts
  src/util/is_safari.ts
  translations/frontend/ca.json
  translations/frontend/cs.json
  translations/frontend/de.json
  translations/frontend/en.json
  translations/frontend/et.json
  translations/frontend/he.json
  translations/frontend/nl.json
  translations/frontend/ru.json
  translations/frontend/zh-Hant.json
Labels: cla-needed

#9518 Fixed "ID" spelling in trigger field label
  src/translations/en.json
Labels: cla-signed

#9500 Upgrade to yarn 2
  .github/workflows/ci.yaml
  .github/workflows/demo.yaml
  .github/workflows/release.yaml
  .github/workflows/translations.yaml
  .gitignore
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-typescript.cjs
  .yarn/releases/yarn-berry.cjs
  .yarnrc.yml
  yarn.lock
Labels: cla-signed

#9523 Dedupe dependencies
  .github/workflows/ci.yaml
  .yarn/releases/yarn-2.4.2.cjs
  .yarnrc.yml
  yarn.lock
Labels: cla-signed

#9527 Colorize trace paths for choose without explicit default case
  src/components/trace/hat-script-graph.ts
Labels: cla-signed

#9529 Change text on Yaml configuration reloading
  src/translations/en.json
Labels: cla-signed

#9530 Download translations on release
  .github/workflows/release.yaml
  .github/workflows/translations.yaml
Labels: cla-signed

#8326 HA frontend change for alarm panel vacation mode
  src/data/alarm_control_panel.ts
  src/panels/lovelace/cards/hui-alarm-panel-card.ts
  src/panels/lovelace/editor/config-elements/hui-alarm-panel-card-editor.ts
Labels: cla-signed

#9494 Show parameter number on ZWaveJS device config panel
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-node-config.ts
  src/translations/en.json
Labels: cla-signed

#9498 Inline mdi icons with babel plugin + bump build deps
  .github/workflows/ci.yaml
  .github/workflows/demo.yaml
  .github/workflows/release.yaml
  .github/workflows/translations.yaml
  .nvmrc
  build-scripts/babel-plugins/inline-constants-plugin.js
  build-scripts/bundle.js
  build-scripts/gulp/app.js
  build-scripts/gulp/gather-static.js
  build-scripts/gulp/webpack.js
  build-scripts/webpack.js
  cast/src/html/launcher-faq.html.template
  lint-staged.config.js
  package.json
  setup.py
  src/components/ha-label-badge.ts
  src/layouts/home-assistant-main.ts
  src/resources/compatibility.ts
  yarn.lock
Labels: cla-signed

#9548 Place stages in grid
  src/panels/config/integrations/integration-panels/zwave_js/dialog-zwave_js-add-node.ts
Labels: cla-signed

#9546 bump hls.js
  package.json
  yarn.lock
Labels: cla-signed

#9553 increase memory demo action
  .github/workflows/demo.yaml
Labels: cla-signed

#9488 Replace home ID with config entry title in Z-Wave device Info
  src/panels/config/devices/device-detail/integration-elements/zwave_js/ha-device-info-zwave_js.ts
  src/translations/en.json
Labels: cla-signed

#9556 Add struct for `fire-dom-event` action
  src/panels/lovelace/editor/structs/action-struct.ts
Labels: cla-signed

#9558 Change Data Entry Flow loading step description logic + cleanups
  src/data/data_entry_flow.ts
  src/dialogs/config-flow/dialog-data-entry-flow.ts
  src/dialogs/config-flow/show-dialog-config-flow.ts
  src/dialogs/config-flow/show-dialog-data-entry-flow.ts
  src/dialogs/config-flow/show-dialog-options-flow.ts
  src/dialogs/config-flow/step-flow-abort.ts
  src/dialogs/config-flow/step-flow-create-entry.ts
  src/dialogs/config-flow/step-flow-external.ts
  src/dialogs/config-flow/step-flow-form.ts
  src/dialogs/config-flow/step-flow-loading.ts
  src/dialogs/config-flow/step-flow-progress.ts
  src/translations/en.json
Labels: cla-signed

#9561 Clean up Z-Wave JS dialog CSS
  src/panels/config/integrations/integration-panels/zwave_js/dialog-zwave_js-add-node.ts
  src/panels/config/integrations/integration-panels/zwave_js/dialog-zwave_js-heal-network.ts
  src/panels/config/integrations/integration-panels/zwave_js/dialog-zwave_js-reinterview-node.ts
  src/panels/config/integrations/integration-panels/zwave_js/dialog-zwave_js-remove-node.ts
Labels: cla-signed

#9479 Add `statistics-graph-card`
  src/components/chart/state-history-chart-line.ts
  src/components/chart/state-history-chart-timeline.ts
  src/components/chart/state-history-charts.ts
  src/components/chart/statistics-chart.ts
  src/data/history.ts
  src/panels/lovelace/cards/hui-history-graph-card.ts
  src/panels/lovelace/cards/hui-statistics-graph-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/create-element/create-card-element.ts
Labels: cla-signed

#9525 Bump Polymer
  .yarn/patches/@polymer/polymer/pr-5569.patch
  build-scripts/bundle.js
  demo/src/entrypoint.ts
  hassio/src/addon-view/config/hassio-addon-config.ts
  hassio/src/components/hassio-upload-snapshot.ts
  hassio/src/dialogs/markdown/dialog-hassio-markdown.ts
  package.json
  src/components/ha-form/ha-form-integer.ts
  src/components/ha-picture-upload.ts
  src/dialogs/more-info/controls/more-info-configurator.js
  src/entrypoints/authorize.ts
  src/html/_js_base.html.template
  src/panels/calendar/ha-full-calendar.ts
  src/panels/config/helpers/ha-config-helpers.ts
  src/panels/config/integrations/integration-panels/zha/zha-add-devices-page.ts
  src/panels/config/integrations/integration-panels/zwave/ha-config-zwave.js
  src/panels/config/integrations/integration-panels/zwave/zwave-log.js
  src/panels/config/lovelace/resources/ha-config-lovelace-resources.ts
  src/panels/developer-tools/service/developer-tools-service.ts
  src/panels/lovelace/entity-rows/hui-weather-entity-row.ts
  src/resources/ha-style.ts
  src/resources/styles.ts
  src/util/app-localstorage-document.js
  yarn.lock
Labels: cla-signed

#9566 Translate Z-Wave JS Re-Interview Device button
  src/panels/config/devices/device-detail/integration-elements/zwave_js/ha-device-actions-zwave_js.ts
  src/translations/en.json
Labels: cla-signed

#9537 Add support for lock unlocking,locking and jammed states
  src/common/entity/domain_icon.ts
Labels: cla-signed

#9507 Avoid gaps in grid card with conditional
  src/panels/lovelace/cards/hui-grid-card.ts
  src/panels/lovelace/components/hui-conditional-base.ts
Labels: cla-signed

#9606 Fix selected icon of picker elements
  src/components/device/ha-area-devices-picker.ts
  src/components/device/ha-device-picker.ts
  src/components/entity/ha-entity-attribute-picker.ts
  src/components/entity/ha-entity-picker.ts
  src/components/entity/ha-statistic-picker.ts
  src/components/ha-addon-picker.ts
  src/components/ha-area-picker.ts
  src/components/ha-service-picker.ts
Labels: cla-signed

#9604 Add bottom margin to <ha-map> in more-info-person
  src/dialogs/more-info/controls/more-info-person.ts
Labels: cla-signed

#9612 Try to fix download of zwave_js logs
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-logs.ts
Labels: cla-signed

#9600 Re-add success/failure indicator on call service button in dev tools
  src/components/buttons/ha-progress-button.ts
  src/panels/developer-tools/service/developer-tools-service.ts
Labels: cla-signed

#9614 Fix chart tooltip footer always rendering
  src/components/chart/ha-chart-base.ts
Labels: cla-signed

#9610 Bump material elements
  package.json
  yarn.lock
Labels: cla-signed

#9609 Bump Vaadin elements
  package.json
  yarn.lock
Labels: cla-signed

#9613 Fix zoom setting in maps card
  src/panels/lovelace/cards/hui-map-card.ts
Labels: cla-signed

#9607 Fix statistics graph
  src/components/chart/statistics-chart.ts
  src/panels/lovelace/cards/hui-statistics-graph-card.ts
Labels: cla-signed

#9615 Fix sidebar view edit mode
  src/panels/lovelace/views/hui-sidebar-view.ts
Labels: cla-signed

#9616 Statistic sums requires at least 2 values
  src/data/history.ts
  src/panels/lovelace/cards/hui-energy-carbon-consumed-gauge-card.ts
  src/panels/lovelace/cards/hui-energy-solar-consumed-gauge-card.ts
  src/panels/lovelace/cards/hui-energy-usage-card.ts
Labels: cla-signed

#9621 Fix grid onboarding
  src/data/history.ts
  src/panels/config/energy/components/ha-energy-grid-settings.ts
  src/panels/energy/cards/energy-setup-wizard-card.ts
Labels: cla-signed

#9624 Update energy dashboard
  src/components/chart/ha-chart-base.ts
  src/panels/energy/strategies/energy-strategy.ts
  src/panels/lovelace/cards/energy/hui-energy-carbon-consumed-gauge-card.ts
  src/panels/lovelace/cards/energy/hui-energy-costs-table-card.ts
  src/panels/lovelace/cards/energy/hui-energy-devices-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-distribution-card.ts
  src/panels/lovelace/cards/energy/hui-energy-solar-consumed-gauge-card.ts
  src/panels/lovelace/cards/energy/hui-energy-solar-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-summary-card.ts
  src/panels/lovelace/cards/energy/hui-energy-summary-graph-card.ts
  src/panels/lovelace/cards/hui-energy-usage-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/create-element/create-card-element.ts
Labels: cla-signed

#9598 Show value of 'Before'-time in automation editor #9142
  src/panels/config/automation/condition/types/ha-automation-condition-time.ts
Labels: cla-signed

#9562 Add Z-Wave JS Heal Node wizard
  src/data/zwave_js.ts
  src/panels/config/devices/device-detail/integration-elements/zwave_js/ha-device-actions-zwave_js.ts
  src/panels/config/integrations/integration-panels/zwave_js/dialog-zwave_js-heal-node.ts
  src/panels/config/integrations/integration-panels/zwave_js/show-dialog-zwave_js-heal-node.ts
  src/translations/en.json
Labels: cla-signed

#9620 Add currency core configuration
  package.json
  src/components/currency-datalist.ts
  src/data/core.ts
  src/data/currency.ts
  src/fake_data/demo_config.ts
  src/panels/config/core/ha-config-core-form.ts
  src/translations/en.json
  yarn.lock
Labels: cla-signed

#9560 Add remove failed node support to Z-Wave JS devices
  src/data/zwave_js.ts
  src/panels/config/devices/device-detail/integration-elements/zwave_js/ha-device-actions-zwave_js.ts
  src/panels/config/integrations/integration-panels/zwave_js/dialog-zwave_js-remove-failed-node.ts
  src/panels/config/integrations/integration-panels/zwave_js/show-dialog-zwave_js-remove-failed-node.ts
  src/translations/en.json
Labels: cla-signed

#9628 Use currency from core config
  src/data/energy.ts
  src/panels/config/energy/components/ha-energy-grid-settings.ts
  src/panels/config/energy/dialogs/dialog-energy-grid-flow-settings.ts
  src/panels/config/energy/dialogs/show-dialogs-energy.ts
  src/panels/config/energy/ha-config-energy.ts
  src/panels/energy/cards/energy-setup-wizard-card.ts
  src/panels/lovelace/cards/energy/hui-energy-costs-table-card.ts
  src/panels/lovelace/cards/energy/hui-energy-summary-card.ts
Labels: cla-signed

#9625 Add animation to distribution
  src/panels/lovelace/cards/energy/hui-energy-devices-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-distribution-card.ts
  src/panels/lovelace/cards/energy/hui-energy-solar-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-summary-graph-card.ts
Labels: cla-signed

#9629 Add legend to electricity graph, fix text color in table
  src/panels/energy/strategies/energy-strategy.ts
  src/panels/lovelace/cards/energy/hui-energy-costs-table-card.ts
  src/panels/lovelace/cards/energy/hui-energy-solar-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-summary-graph-card.ts
Labels: cla-signed

#9631 Add statistics card to card picker
  src/panels/lovelace/cards/hui-statistics-graph-card.ts
  src/panels/lovelace/editor/config-elements/hui-history-graph-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-statistics-graph-card-editor.ts
  src/panels/lovelace/editor/lovelace-cards.ts
  src/translations/en.json
Labels: cla-signed, documentation needed

#9626 Use historic CO2 data into account
  src/data/history.ts
  src/panels/lovelace/cards/energy/hui-energy-carbon-consumed-gauge-card.ts
  src/panels/lovelace/cards/energy/hui-energy-distribution-card.ts
  test-mocha/data/history.spec.ts
Labels: cla-signed

#9632 Show solar forecast even if no prod stats available
  src/panels/lovelace/cards/energy/hui-energy-solar-graph-card.ts
Labels: cla-signed

#9633 Format monetary sensor as currency
  src/common/entity/compute_state_display.ts
Labels: cla-signed

#9634 If we have solar defined, always make sure sum is number so it shows placeholders
  src/panels/lovelace/cards/energy/hui-energy-distribution-card.ts
Labels: cla-signed

#9635 Remove the energy summary card since it's already in other cards
  src/panels/energy/strategies/energy-strategy.ts
  src/panels/lovelace/cards/energy/hui-energy-summary-card.ts
  src/panels/lovelace/create-element/create-card-element.ts
Labels: cla-signed

#9636 Energy UI tweaks
  package.json
  src/components/ha-sidebar.ts
  src/panels/config/energy/components/ha-energy-device-settings.ts
  src/panels/config/energy/components/ha-energy-grid-settings.ts
  src/panels/config/energy/components/ha-energy-solar-settings.ts
  src/panels/config/energy/dialogs/dialog-energy-device-settings.ts
  src/panels/config/energy/dialogs/dialog-energy-grid-flow-settings.ts
  src/panels/config/energy/dialogs/dialog-energy-solar-settings.ts
  src/panels/energy/cards/energy-setup-wizard-card.ts
  src/panels/lovelace/cards/energy/hui-energy-devices-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-distribution-card.ts
  src/translations/en.json
  yarn.lock
Labels: cla-signed

#9638 Remove currency from initial config
  src/panels/config/energy/ha-config-energy.ts
Labels: cla-signed

#9640 Add support for DEVICE_CLASS_MONETARY
  src/common/const.ts
  src/util/hass-attributes-util.ts
Labels: cla-signed

#9642 Add text when no statistics found
  src/components/entity/ha-entities-picker.ts
  src/components/entity/ha-statistic-picker.ts
  src/components/entity/ha-statistics-picker.ts
  src/panels/config/core/ha-config-core-form.ts
  src/panels/config/energy/components/ha-energy-device-settings.ts
  src/panels/config/energy/components/ha-energy-grid-settings.ts
  src/panels/config/energy/components/ha-energy-solar-settings.ts
  src/translations/en.json
Labels: cla-signed

#9647 Fix energy calculations
  src/panels/lovelace/cards/energy/hui-energy-carbon-consumed-gauge-card.ts
  src/panels/lovelace/cards/energy/hui-energy-distribution-card.ts
Labels: cla-signed

#9648 Fix label for device consumption
  src/panels/config/energy/dialogs/dialog-energy-device-settings.ts
Labels: cla-signed

#9637 Add needle option to ha-gauge and gauge card
  src/components/ha-gauge.ts
  src/panels/lovelace/cards/hui-gauge-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/editor/config-elements/hui-gauge-card-editor.ts
  src/translations/en.json
Labels: cla-signed

#9651 fix self consumed solar
  src/panels/lovelace/cards/energy/hui-energy-solar-consumed-gauge-card.ts
Labels: cla-signed

#9653 still round numbers when not formatting them
  src/common/string/format_number.ts
Labels: cla-signed

#9658 fix and finish statistics card
  src/components/chart/ha-chart-base.ts
  src/components/chart/statistics-chart.ts
  src/components/ha-gauge.ts
  src/panels/lovelace/cards/hui-gauge-card.ts
  src/panels/lovelace/cards/hui-statistics-graph-card.ts
  src/panels/lovelace/editor/config-elements/hui-statistics-graph-card-editor.ts
Labels: cla-signed

#9655 Add grid neutrality gauge
  src/components/ha-gauge.ts
  src/panels/energy/strategies/energy-strategy.ts
  src/panels/lovelace/cards/energy/hui-energy-grid-neutrality-gauge-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/create-element/create-card-element.ts
Labels: cla-signed

#9656 Sidebar view: Move all cards to 1 column on mobile
  src/panels/energy/strategies/energy-strategy.ts
  src/panels/lovelace/views/hui-masonry-view.ts
  src/panels/lovelace/views/hui-sidebar-view.ts
Labels: cla-signed

#9654 Fix return compensation not being negative
  src/panels/lovelace/cards/energy/hui-energy-sources-table-card.ts
Labels: cla-signed

#9660 Speed up data loading and allow embedding individual energy cards
  src/data/energy.ts
  src/panels/energy/strategies/energy-strategy.ts
  src/panels/lovelace/cards/energy/hui-energy-carbon-consumed-gauge-card.ts
  src/panels/lovelace/cards/energy/hui-energy-devices-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-distribution-card.ts
  src/panels/lovelace/cards/energy/hui-energy-grid-neutrality-gauge-card.ts
  src/panels/lovelace/cards/energy/hui-energy-solar-consumed-gauge-card.ts
  src/panels/lovelace/cards/energy/hui-energy-solar-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-sources-table-card.ts
  src/panels/lovelace/cards/energy/hui-energy-usage-graph-card.ts
  src/panels/lovelace/cards/types.ts
Labels: cla-signed

#9665 Add UOM to stats chart, fix coloring of bands
  src/common/string/format_number.ts
  src/components/chart/state-history-chart-line.ts
  src/components/chart/statistics-chart.ts
  src/components/entity/ha-statistics-picker.ts
  src/panels/lovelace/cards/hui-statistics-graph-card.ts
Labels: cla-signed
