Repository home-assistant/frontend, pull requests merged in 2021-06, with the labels that each got.

#9295 Show pressure units in weather details card
  src/dialogs/more-info/controls/more-info-weather.ts
Labels: cla-signed

#9329 Don't rotate chart axis labels
  src/components/state-history-chart-line.js
  src/components/state-history-chart-timeline.js
Labels: cla-signed

#9322 Filter adapters with information from the Supervisor
  src/panels/config/core/ha-config-network.ts
Labels: cla-signed

#9327 Cleanup virtualizer styles
  src/components/data-table/ha-data-table.ts
  src/dialogs/quick-bar/ha-quick-bar.ts
  src/panels/logbook/ha-logbook.ts
Labels: cla-signed

#9328 Change the type of debounce, use arrow functions
  src/common/entity/domain_icon.ts
  src/common/util/debounce.ts
Labels: cla-signed

#9325 Display error when enabling/disabling config entries
  src/data/config_entries.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/config/integrations/ha-integration-card.ts
  src/translations/en.json
Labels: cla-signed

#9333 Fix back button too wide on mobile
  src/layouts/hass-tabs-subpage.ts
Labels: cla-signed

#9332 Add support for system options v2
  gallery/src/demos/demo-integration-card.ts
  src/data/config_entries.ts
  src/dialogs/config-entry-system-options/dialog-config-entry-system-options.ts
  src/panels/config/integrations/ha-integration-card.ts
  src/panels/config/integrations/ha-integration-header.ts
Labels: cla-signed

#9334 20210601.1
  gallery/src/demos/demo-integration-card.ts
  setup.py
  src/common/entity/domain_icon.ts
  src/common/util/debounce.ts
  src/components/data-table/ha-data-table.ts
  src/components/state-history-chart-line.js
  src/components/state-history-chart-timeline.js
  src/data/config_entries.ts
  src/dialogs/config-entry-system-options/dialog-config-entry-system-options.ts
  src/dialogs/quick-bar/ha-quick-bar.ts
  src/layouts/hass-tabs-subpage.ts
  src/panels/config/core/ha-config-network.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/config/integrations/ha-integration-card.ts
  src/panels/config/integrations/ha-integration-header.ts
  src/panels/logbook/ha-logbook.ts
  src/translations/en.json
Labels: cla-signed

#8948 Add QR code to long lived access tokens dialog
  src/panels/profile/ha-long-lived-access-token-dialog.ts
  src/panels/profile/ha-long-lived-access-tokens-card.ts
  src/panels/profile/show-long-lived-access-token-dialog.ts
Labels: cla-signed

#9339 Fix noUnderline in search input
  src/common/search/search-input.ts
Labels: cla-signed

#9337 Fix ZHA visualization
  src/panels/config/integrations/integration-panels/zha/zha-network-visualization-page.ts
Labels: cla-signed

#9338 Use HLS light build
  package.json
  src/components/ha-hls-player.ts
  yarn.lock
Labels: cla-signed

#9341 Add missing media folder to snapshot
  hassio/src/components/supervisor-snapshot-content.ts
Labels: cla-signed, supervisor

#9342 Better exit navigation for my-ingress
  hassio/src/ingress-view/hassio-ingress-view.ts
  src/translations/en.json
Labels: cla-signed, supervisor

#9335 Disable babel compact option
  build-scripts/bundle.js
  build-scripts/rollup.js
  build-scripts/webpack.js
Labels: cla-signed

#9357 Pick the correct backend-selected active theme
  src/panels/profile/ha-pick-theme-row.ts
Labels: cla-signed

#9352 Polyfill `globalThis` in latest build
  src/html/authorize.html.template
  src/html/index.html.template
  src/html/onboarding.html.template
  src/resources/compatibility.ts
Labels: cla-signed

#9359 Remove tsc from pre commit
  lint-staged.config.js
Labels: cla-signed

#9358 20210603.0
  build-scripts/bundle.js
  build-scripts/rollup.js
  build-scripts/webpack.js
  hassio/src/components/supervisor-snapshot-content.ts
  hassio/src/ingress-view/hassio-ingress-view.ts
  lint-staged.config.js
  package.json
  setup.py
  src/common/search/search-input.ts
  src/components/ha-hls-player.ts
  src/html/authorize.html.template
  src/html/index.html.template
  src/html/onboarding.html.template
  src/panels/config/integrations/integration-panels/zha/zha-network-visualization-page.ts
  src/panels/profile/ha-long-lived-access-token-dialog.ts
  src/panels/profile/ha-long-lived-access-tokens-card.ts
  src/panels/profile/ha-pick-theme-row.ts
  src/panels/profile/show-long-lived-access-token-dialog.ts
  src/resources/compatibility.ts
  src/translations/en.json
  translations/frontend/ca.json
  translations/frontend/en.json
  translations/frontend/es.json
  translations/frontend/et.json
  translations/frontend/it.json
  translations/frontend/nb.json
  translations/frontend/nl.json
  translations/frontend/ru.json
  translations/frontend/zh-Hans.json
  translations/frontend/zh-Hant.json
  yarn.lock
Labels: cla-needed

#9361 Add period to end of sentence
  src/translations/en.json
Labels: cla-signed

#9368 Move attributes down in more info person and timer
  src/dialogs/more-info/controls/more-info-person.ts
  src/dialogs/more-info/controls/more-info-timer.ts
Labels: cla-signed

#9375 Fix downloads on mobile
  hassio/src/dialogs/snapshot/dialog-hassio-snapshot.ts
  src/components/ha-gauge.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-config-dashboard.ts
  src/resources/safari-14-attachshadow-patch.ts
  src/util/file_download.ts
  src/util/is_safari.ts
Labels: cla-signed

#9348 Add hardware dialog
  hassio/src/dialogs/hardware/dialog-hassio-hardware.ts
  hassio/src/dialogs/hardware/show-dialog-hassio-hardware.ts
  hassio/src/system/hassio-host-info.ts
  src/components/ha-expansion-panel.ts
  src/data/hassio/hardware.ts
  src/translations/en.json
Labels: cla-signed, supervisor

#9349 Add password confirmation to snapshot creation
  hassio/src/components/supervisor-formfield-label.ts
  hassio/src/components/supervisor-snapshot-content.ts
  hassio/src/dialogs/snapshot/dialog-hassio-create-snapshot.ts
  src/data/hassio/snapshot.ts
  src/translations/en.json
Labels: cla-signed, supervisor

#9376 FIx selecting service/url path action after choosing default action
  src/panels/lovelace/components/hui-action-editor.ts
Labels: cla-signed

#9385 Fix issues with restoring snapshot during onboarding
  hassio/src/components/supervisor-snapshot-content.ts
  hassio/src/dialogs/snapshot/dialog-hassio-snapshot.ts
  hassio/src/dialogs/snapshot/show-dialog-hassio-snapshot.ts
  src/onboarding/ha-onboarding.ts
  src/onboarding/onboarding-restore-snapshot.ts
  src/translations/en.json
Labels: cla-signed

#9331 Generalize map
  package.json
  src/common/dom/setup-leaflet-map.ts
  src/components/map/ha-entity-marker.ts
  src/components/map/ha-location-editor.ts
  src/components/map/ha-locations-editor.ts
  src/components/map/ha-map.ts
  src/data/zone.ts
  src/dialogs/more-info/controls/more-info-person.ts
  src/onboarding/onboarding-core-config.ts
  src/panels/config/core/ha-config-core-form.ts
  src/panels/config/zone/dialog-zone-detail.ts
  src/panels/config/zone/ha-config-zone.ts
  src/panels/logbook/ha-panel-logbook.ts
  src/panels/lovelace/cards/hui-map-card.ts
  src/panels/lovelace/components/hui-input-list-editor.ts
  src/panels/lovelace/editor/config-elements/hui-map-card-editor.ts
  src/panels/map/ha-entity-marker.js
  src/panels/map/ha-panel-map.js
  src/panels/map/ha-panel-map.ts
  src/panels/profile/ha-push-notifications-row.js
  src/resources/ha-style.ts
  yarn.lock
Labels: cla-signed

#9383 Fix the issue that logbook card doesn't translate `context.user_id` to name if it's a user's id.
  src/dialogs/more-info/ha-more-info-logbook.ts
  src/panels/logbook/ha-panel-logbook.ts
  src/panels/lovelace/cards/hui-logbook-card.ts
Labels: cla-signed

#9423 Add header and description to progress options flow
  src/dialogs/config-flow/show-dialog-options-flow.ts
Labels: cla-signed

#9425 Use poll for webpack for WSL
  build-scripts/gulp/webpack.js
Labels: cla-signed

#9412 Fix supervisor text "error_addon_not_started"
  src/translations/en.json
Labels: cla-signed

#9378 Only attempt to get "trace/contexts" if admin
  src/dialogs/more-info/ha-more-info-logbook.ts
  src/panels/logbook/ha-panel-logbook.ts
Labels: cla-signed

#9377 Gracefully handle logbook retrieval errors
  src/dialogs/more-info/ha-more-info-logbook.ts
  src/panels/logbook/ha-panel-logbook.ts
  src/panels/lovelace/cards/hui-logbook-card.ts
  src/translations/en.json
Labels: cla-signed

#9424 Fix add-on configuration validation
  hassio/src/addon-view/config/hassio-addon-config.ts
Labels: cla-signed, supervisor

#9395 Add button to download logs from zwave_js logs page
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-logs.ts
  translations/frontend/en.json
Labels: cla-signed

#9386 Support white color mode
  src/data/light.ts
  src/dialogs/more-info/controls/more-info-light.ts
Labels: cla-signed

#9438 Check if `/proc/version` exists
  build-scripts/gulp/webpack.js
Labels: cla-signed

#9262 Update zwave_js log subscription to handle core changes
  src/data/zwave_js.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-logs.ts
Labels: cla-signed

#9401 Bump chartjs to version 3
  build-scripts/bundle.js
  package.json
  src/common/color/colors.ts
  src/common/color/rgb.ts
  src/common/datetime/format_date.ts
  src/common/number/clamp.ts
  src/common/style/icon_color_css.ts
  src/common/util/throttle.ts
  src/components/chart/chart-date-adapter.ts
  src/components/chart/ha-chart-base.ts
  src/components/chart/state-history-chart-line.ts
  src/components/chart/state-history-chart-timeline.ts
  src/components/chart/state-history-charts.ts
  src/components/chart/timeline-chart/const.ts
  src/components/chart/timeline-chart/textbar-element.ts
  src/components/chart/timeline-chart/timeline-controller.ts
  src/components/chart/timeline-chart/timeline-scale.ts
  src/components/entity/ha-chart-base.js
  src/components/state-history-chart-line.js
  src/components/state-history-chart-timeline.js
  src/dialogs/more-info/ha-more-info-history.ts
  src/dialogs/more-info/ha-more-info-logbook.ts
  src/panels/history/ha-panel-history.ts
  src/panels/lovelace/cards/hui-history-graph-card.ts
  src/panels/lovelace/cards/hui-map-card.ts
  src/panels/lovelace/cards/hui-thermostat-card.ts
  src/resources/chartjs.ts
  src/resources/ha-chart-scripts.js
  src/resources/ha-style.ts
  src/resources/styles.ts
  yarn.lock
Labels: cla-signed

#9422 Add Select entity
  src/common/const.ts
  src/data/select.ts
  src/panels/lovelace/create-element/create-row-element.ts
  src/panels/lovelace/entity-rows/hui-select-entity-row.ts
  src/state-summary/state-card-content.js
  src/state-summary/state-card-select.ts
Labels: cla-signed

#9446 Fix secrets schema
  hassio/src/addon-view/config/hassio-addon-config.ts
Labels: cla-signed, supervisor

#9442 Allow clearing values in optional selects
  src/components/ha-form/ha-form-select.ts
Labels: cla-signed

#9448 Fix charts tooltips and legends
  src/components/chart/ha-chart-base.ts
Labels: cla-signed

#9001 Add button for zwave_js options flow
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-config-dashboard.ts
  src/translations/en.json
Labels: cla-signed

#9369 Add input elements to login page for password managers
  src/auth/ha-auth-flow.ts
  src/auth/ha-password-manager-polyfill.ts
Labels: cla-signed

#9465 Fix select entity disabled when no item selected
  src/panels/lovelace/entity-rows/hui-select-entity-row.ts
Labels: cla-signed

#9474 Ignore previous versions in add-on changelog
  hassio/src/addon-view/info/hassio-addon-info.ts
Labels: cla-signed, supervisor

#9475 Fix number entity row availability when state unknown
  src/panels/lovelace/entity-rows/hui-number-entity-row.ts
Labels: cla-signed

#9467 Fix integration card rename dialog logic
  src/panels/config/integrations/ha-integration-card.ts
Labels: cla-signed

#9466 Set minimum = 1 hours to show
  src/panels/lovelace/editor/config-elements/hui-graph-footer-editor.ts
  src/panels/lovelace/editor/config-elements/hui-logbook-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-sensor-card-editor.ts
Labels: cla-signed

#9464 Set min value for history graph card rendered hours
  src/panels/lovelace/editor/config-elements/hui-history-graph-card-editor.ts
Labels: cla-signed

#9388 Fix ha-hls-player cleanup for lit 2
  src/components/ha-hls-player.ts
Labels: cla-signed

#9449 Add ZWave JS heal network UI
  package.json
  src/data/zwave_js.ts
  src/panels/config/integrations/integration-panels/zwave_js/dialog-zwave_js-heal-network.ts
  src/panels/config/integrations/integration-panels/zwave_js/show-dialog-zwave_js-heal-network.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-config-dashboard.ts
  src/translations/en.json
  yarn.lock
Labels: cla-signed

#9476 Fix logbook card
  src/panels/lovelace/cards/hui-logbook-card.ts
Labels: cla-signed

#9399 Fixed Logbook Card/Panel/Dialog Incorrect Entires for `input_datetime` Entities
  src/common/entity/compute_state_display.ts
  test-mocha/common/entity/compute_state_display.ts
Labels: cla-signed

#9451 Handle config entry not loaded on Z-Wave JS config panel
  src/data/config_entries.ts
  src/panels/config/integrations/ha-integration-card.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-config-dashboard.ts
Labels: cla-signed

#9457 Show note about integrations not in UI even for non-advanced
  src/dialogs/config-flow/dialog-data-entry-flow.ts
  src/dialogs/config-flow/step-flow-pick-handler.ts
  src/translations/en.json
Labels: cla-signed

#9314 Allow placeholders in config and option flows
  src/dialogs/config-flow/show-dialog-config-flow.ts
  src/dialogs/config-flow/show-dialog-options-flow.ts
Labels: cla-signed

#9478 Fix wait for not loaded panel
  src/layouts/partial-panel-resolver.ts
Labels: cla-signed

#9480 Recreate columns if cards change
  src/panels/lovelace/views/hui-masonry-view.ts
Labels: cla-signed

#9477 Rename hassos -> haos
  hassio/src/dashboard/hassio-update.ts
  hassio/src/system/hassio-host-info.ts
Labels: cla-signed, supervisor

#9482 Use ES5 build for Safari 12 and below
  build-scripts/gulp/webpack.js
  src/html/_js_base.html.template
  src/html/authorize.html.template
  src/html/index.html.template
  src/html/onboarding.html.template
Labels: cla-signed

#9484 Change path for codespaces
  script/core
Labels: cla-signed
