Repository home-assistant/frontend, pull requests merged in 2021-12, with the labels that each got.

#10744 Handle 0 updates and show back on supervisor panels
  hassio/src/backups/hassio-backups.ts
  hassio/src/dashboard/hassio-dashboard.ts
  hassio/src/system/hassio-system.ts
  src/panels/config/dashboard/ha-config-dashboard.ts
  src/panels/config/dashboard/ha-config-updates.ts
  src/panels/config/ha-panel-config.ts
Labels: cla-signed

#10746 Hide ha-icon-next if narrow
  src/panels/config/dashboard/ha-config-dashboard.ts
  src/panels/config/dashboard/ha-config-navigation.ts
Labels: cla-signed

#10731 Change the area of scenes in editor
  src/data/scene.ts
  src/panels/config/scene/ha-scene-editor.ts
  src/translations/en.json
Labels: cla-signed

#10737 Fix faded element in change log
  src/components/ha-faded.ts
Labels: cla-signed

#10747 Updated text
  src/translations/en.json
Labels: cla-signed

#10745 Focus Add-ons & Backups in config panel when clicking Supervisor in sidebar
  src/components/ha-sidebar.ts
  src/panels/config/dashboard/ha-config-dashboard.ts
  src/panels/config/dashboard/ha-config-navigation.ts
Labels: cla-signed

#10726 Add SmartStart/QR scan support for Z-Wave JS
  build-scripts/gulp/gather-static.js
  package.json
  src/components/ha-qr-scanner.ts
  src/data/zwave_js.ts
  src/panels/config/devices/device-detail/integration-elements/zwave_js/ha-device-actions-zwave_js.ts
  src/panels/config/devices/device-detail/integration-elements/zwave_js/ha-device-info-zwave_js.ts
  src/panels/config/integrations/integration-panels/zwave/zwave-migration.ts
  src/panels/config/integrations/integration-panels/zwave_js/dialog-zwave_js-add-node.ts
  src/panels/config/integrations/integration-panels/zwave_js/dialog-zwave_js-heal-network.ts
  src/panels/config/integrations/integration-panels/zwave_js/dialog-zwave_js-heal-node.ts
  src/panels/config/integrations/integration-panels/zwave_js/dialog-zwave_js-reinterview-node.ts
  src/panels/config/integrations/integration-panels/zwave_js/dialog-zwave_js-remove-failed-node.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-config-dashboard.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-node-config.ts
  src/translations/en.json
  yarn.lock
Labels: cla-signed

#10743 Show disabled entity names on the device page
  src/panels/config/devices/device-detail/ha-device-entities-card.ts
Labels: cla-signed

#10025 Fix pointer/more-info inconsistencies for entity rows
  src/common/const.ts
  src/dialogs/more-info/state_more_info_control.ts
  src/panels/lovelace/components/hui-generic-entity-row.ts
  src/panels/lovelace/entity-rows/hui-climate-entity-row.ts
  src/panels/lovelace/entity-rows/hui-input-number-entity-row.ts
  src/panels/lovelace/entity-rows/hui-input-select-entity-row.ts
  src/panels/lovelace/entity-rows/hui-input-text-entity-row.ts
  src/panels/lovelace/entity-rows/hui-select-entity-row.ts
  src/panels/lovelace/entity-rows/hui-text-entity-row.ts
  src/panels/lovelace/entity-rows/hui-weather-entity-row.ts
  src/panels/lovelace/special-rows/hui-attribute-row.ts
Labels: cla-signed

#10698 Make graph colors themable
  src/common/color/colors.ts
  src/components/chart/state-history-chart-line.ts
  src/components/chart/state-history-chart-timeline.ts
  src/components/chart/statistics-chart.ts
Labels: cla-signed

#10755 Use puzzle for addons and blur entries on click
  src/panels/config/dashboard/ha-config-navigation.ts
  src/panels/config/ha-panel-config.ts
Labels: cla-signed

#10756 Fix create backup checkbox
  hassio/src/update-available/update-available-card.ts
Labels: cla-signed

#10657 Use unit system definitions for weather units
  package.json
  src/data/weather.ts
  src/fake_data/demo_config.ts
  yarn.lock
Labels: cla-signed

#10759 handle ha-radio and ha-checkbox in ha-formfield
  src/components/ha-formfield.ts
Labels: cla-signed

#10760 Use add-ons for mobile header
  hassio/src/dashboard/hassio-dashboard.ts
Labels: cla-signed

#10761 Hide updates for dev as well
  hassio/src/dashboard/hassio-dashboard.ts
Labels: cla-signed

#10748 Remove thingtalk cleanup create new automation dialog
  src/components/ha-blueprint-picker.ts
  src/panels/config/automation/dialog-new-automation.ts
  src/panels/config/automation/ha-automation-picker.ts
Labels: cla-signed

#10769 Add missing translation
  src/translations/en.json
Labels: cla-signed

#10476 Remove special case for % scaling in sensor cards
  src/panels/lovelace/header-footer/hui-graph-header-footer.ts
Labels: hacktoberfest, cla-signed, hacktoberfest-accepted

#10767 Group entities in area card by domain
  src/panels/lovelace/cards/hui-area-card.ts
Labels: cla-signed

#10770 Use chips for button rows
  src/components/ha-chip.ts
  src/panels/lovelace/cards/hui-entities-card.ts
  src/panels/lovelace/components/hui-buttons-base.ts
  src/panels/lovelace/header-footer/hui-buttons-header-footer.ts
  src/panels/lovelace/header-footer/hui-graph-header-footer.ts
  src/panels/lovelace/header-footer/hui-picture-header-footer.ts
  src/panels/lovelace/types.ts
Labels: cla-signed

#10771 Show add devices fab on devices page for ZJS
  src/panels/config/devices/ha-config-devices-dashboard.ts
Labels: cla-signed

#10774 Add default icons for button entities
  src/common/entity/domain_icon.ts
  src/util/hass-attributes-util.ts
Labels: cla-signed

#10773 Remove handling of the supervisor panel from the sidebar
  src/components/ha-sidebar.ts
  src/panels/config/dashboard/ha-config-dashboard.ts
  src/panels/config/dashboard/ha-config-navigation.ts
  src/panels/config/ha-panel-config.ts
Labels: cla-signed

#10772 Tweak ZJS dashboard
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-config-dashboard.ts
  src/translations/en.json
Labels: cla-signed

#10775 Guard for non numeric states
  src/panels/lovelace/cards/hui-area-card.ts
Labels: cla-signed

#10782 Use correct styling for cloud certificate dialog
  src/panels/config/cloud/dialog-cloud-certificate/dialog-cloud-certificate.ts
Labels: cla-signed

#10777 Allow overriding device class
  src/data/entity_registry.ts
  src/panels/config/entities/entity-registry-settings.ts
  src/translations/en.json
Labels: cla-signed

#10783 Restore flex alignment for select and input-select rows
  src/panels/lovelace/entity-rows/hui-input-select-entity-row.ts
  src/panels/lovelace/entity-rows/hui-select-entity-row.ts
Labels: cla-signed

#10784 Add support for local only users
  src/data/user.ts
  src/panels/config/person/dialog-person-detail.ts
  src/panels/config/users/dialog-add-user.ts
  src/panels/config/users/dialog-user-detail.ts
  src/panels/config/users/ha-config-users.ts
  src/translations/en.json
Labels: cla-signed

#10781 Differentiate between assigned and targeting scene/automations/script
  src/panels/config/areas/ha-config-area-page.ts
  src/panels/config/areas/ha-config-areas-dashboard.ts
Labels: cla-signed

#10785 Add provisioned device overview to zwave js
  src/data/zwave_js.ts
  src/panels/config/entities/entity-registry-settings.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-config-dashboard.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-config-router.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-provisioned.ts
  src/translations/en.json
Labels: cla-signed

#10786 Use groupBy
  src/panels/config/areas/ha-config-area-page.ts
Labels: cla-signed

#10780 Ensure we always have an active theme name (fixes dark theme issues)
  gallery/src/components/demo-black-white-row.ts
  gallery/src/demos/demo-ha-alert.ts
  src/auth/ha-authorize.ts
  src/common/dom/apply_themes_on_element.ts
  src/data/ws-themes.ts
  src/fake_data/provide_hass.ts
  src/onboarding/ha-onboarding.ts
  src/state/themes-mixin.ts
  src/types.ts
Labels: cla-signed

#10787 Fix entity marker
  src/components/map/ha-entity-marker.ts
  src/components/map/ha-map.ts
  src/panels/lovelace/cards/hui-map-card.ts
Labels: cla-signed

#10792 Add `switch` to input row domains to fix mobile focus issue
  src/common/const.ts
Labels: cla-signed

#10799 Use correct label in area card editor
  src/panels/lovelace/editor/config-elements/hui-area-card-editor.ts
  src/translations/en.json
Labels: cla-signed

#10807 Use ha-logo-svg on info page
  src/panels/config/info/ha-config-info.ts
Labels: cla-signed

#10804 Fix core changelog URL
  hassio/src/update-available/update-available-card.ts
Labels: cla-signed

#10798 Mark more trigger fields as optional
  src/translations/en.json
Labels: cla-signed

#10797 Filter out invalid text input for `input_text`
  src/panels/lovelace/entity-rows/hui-input-text-entity-row.ts
Labels: cla-signed

#10808 Fetch cloud and updates on reconnect
  src/panels/config/ha-panel-config.ts
Labels: cla-signed

#10810 Add toggle for camera view in area card
  src/panels/lovelace/cards/hui-area-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/editor/config-elements/hui-area-card-editor.ts
  src/panels/lovelace/editor/get-card-stub-config.ts
  src/panels/lovelace/editor/header-footer-editor/get-headerfooter-stub-config.ts
  src/panels/lovelace/editor/lovelace-cards.ts
  src/translations/en.json
Labels: cla-signed

#10813 Fix disabled date input
  src/components/ha-date-input.ts
Labels: cla-signed

#10815 Fix camera stream rendering in area card without picture
  src/panels/lovelace/cards/hui-area-card.ts
  src/translations/en.json
Labels: cla-signed

#10816 Fix clearing of picture (e.g. area and person config)
  src/components/ha-picture-upload.ts
Labels: cla-signed

#10809 Fix zwavejs provisioned view
  src/data/zwave_js.ts
  src/panels/config/integrations/integration-panels/zwave_js/dialog-zwave_js-add-node.ts
  src/panels/config/integrations/integration-panels/zwave_js/show-dialog-zwave_js-add-node.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-config-dashboard.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-provisioned.ts
  src/translations/en.json
Labels: cla-signed

#10812 zwave_js config param should only be a toggle if there are 2 states
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-node-config.ts
Labels: cla-signed

#10811 Add struct for state trigger and condition
  src/panels/config/automation/condition/types/ha-automation-condition-state.ts
  src/panels/config/automation/structs.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-state.ts
  src/resources/styles.ts
  src/translations/en.json
Labels: cla-signed

#10817 Reorder configuration
  src/panels/config/blueprint/ha-blueprint-overview.ts
  src/panels/config/dashboard/ha-config-dashboard.ts
  src/panels/config/dashboard/ha-config-navigation.ts
  src/panels/config/ha-panel-config.ts
  src/panels/config/helpers/ha-config-helpers.ts
Labels: cla-signed

#10818 20211206.0
  hassio/src/update-available/update-available-card.ts
  setup.py
  src/common/const.ts
  src/components/ha-date-input.ts
  src/components/ha-picture-upload.ts
  src/data/zwave_js.ts
  src/panels/config/automation/condition/types/ha-automation-condition-state.ts
  src/panels/config/automation/structs.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-state.ts
  src/panels/config/blueprint/ha-blueprint-overview.ts
  src/panels/config/dashboard/ha-config-dashboard.ts
  src/panels/config/dashboard/ha-config-navigation.ts
  src/panels/config/ha-panel-config.ts
  src/panels/config/helpers/ha-config-helpers.ts
  src/panels/config/info/ha-config-info.ts
  src/panels/config/integrations/integration-panels/zwave_js/dialog-zwave_js-add-node.ts
  src/panels/config/integrations/integration-panels/zwave_js/show-dialog-zwave_js-add-node.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-config-dashboard.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-node-config.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-provisioned.ts
  src/panels/lovelace/cards/hui-area-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/editor/config-elements/hui-area-card-editor.ts
  src/panels/lovelace/editor/get-card-stub-config.ts
  src/panels/lovelace/editor/header-footer-editor/get-headerfooter-stub-config.ts
  src/panels/lovelace/editor/lovelace-cards.ts
  src/panels/lovelace/entity-rows/hui-input-text-entity-row.ts
  src/resources/styles.ts
  src/translations/en.json
Labels: cla-signed

#10821 Use _version_latest for change log URL
  hassio/src/update-available/update-available-card.ts
Labels: cla-signed

#10820 Clear warnings when yaml changes
  src/panels/config/automation/condition/ha-automation-condition-editor.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
Labels: cla-signed

#10827 Disable local only option for system generated users
  src/panels/config/users/dialog-user-detail.ts
Labels: cla-signed

#10835 Fix keep me logged in
  src/entrypoints/core.ts
  src/layouts/hass-router-page.ts
  src/layouts/home-assistant.ts
  src/panels/lovelace/hui-root.ts
Labels: cla-signed

#10831 Make dashboard entries translatable
  src/panels/config/dashboard/ha-config-navigation.ts
  src/panels/config/ha-panel-config.ts
  src/translations/en.json
Labels: cla-signed

#10844 Change select camera UI, remove manual QR input
  src/components/ha-qr-scanner.ts
  src/panels/config/integrations/integration-panels/zwave_js/dialog-zwave_js-add-node.ts
  src/translations/en.json
Labels: cla-signed

#10843 Use normal card color in narrow config screen too
  src/panels/config/dashboard/ha-config-dashboard.ts
Labels: cla-signed

#10845 Put set state in expansion panel
  src/panels/developer-tools/state/developer-tools-state.js
Labels: cla-signed

#10850 typo login -> log in
  src/translations/en.json
Labels: cla-signed

#10851 Add base trigger to struct
  src/panels/config/automation/structs.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-state.ts
Labels: cla-signed

#10852 Tweak some energy related translation strings
  src/translations/en.json
Labels: cla-signed

#10854 Update blueprint description
  src/translations/en.json
Labels: cla-signed

#10863 Revert "handle ha-radio and ha-checkbox in ha-formfield"
  src/components/ha-formfield.ts
Labels: cla-signed

#10861 Prevent quickbar command entry duplicates
  src/dialogs/quick-bar/ha-quick-bar.ts
Labels: cla-signed

#10849 Still have manual input if camera is not supported
  src/components/ha-qr-scanner.ts
  src/panels/config/integrations/integration-panels/zwave_js/dialog-zwave_js-add-node.ts
  src/translations/en.json
Labels: cla-signed

#10867 Fix formfield label touch
  src/components/ha-formfield.ts
Labels: cla-signed

#10868 Fix translations cover controls
  src/components/ha-cover-controls.ts
  src/components/ha-cover-tilt-controls.ts
Labels: cla-signed

#10858 Replace `mwc-icon-button` with `ha-icon-button` in automation picker
  src/components/ha-button-related-filter-menu.ts
  src/components/ha-icon-overflow-menu.ts
  src/translations/en.json
Labels: cla-signed, accessibility

#10869 20211211.0
  setup.py
  src/components/ha-button-related-filter-menu.ts
  src/components/ha-cover-controls.ts
  src/components/ha-cover-tilt-controls.ts
  src/components/ha-formfield.ts
  src/components/ha-icon-overflow-menu.ts
  src/components/ha-qr-scanner.ts
  src/dialogs/quick-bar/ha-quick-bar.ts
  src/panels/config/automation/structs.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-state.ts
  src/panels/config/integrations/integration-panels/zwave_js/dialog-zwave_js-add-node.ts
  src/translations/en.json
Labels: cla-signed

#10871 Fix typo in cover close tilt translation key
  src/translations/en.json
Labels: cla-signed

#10872 Fix button with images
  src/components/ha-chip.ts
  src/panels/lovelace/components/hui-buttons-base.ts
Labels: cla-signed

#10876 Fix tooltip and aria-label for ZWave JS log download
  src/panels/config/integrations/integration-panels/zwave/ha-config-zwave.js
  src/translations/en.json
Labels: cla-signed

#10875 Add tooltips and aria-labels to climate modes
  src/panels/lovelace/cards/hui-thermostat-card.ts
Labels: cla-signed

#10879 Remove milliseconds from state trigger when 0
  src/panels/config/automation/trigger/types/ha-automation-trigger-state.ts
Labels: cla-signed

#10880 20211212.0
  setup.py
  src/components/ha-chip.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-state.ts
  src/panels/config/integrations/integration-panels/zwave/ha-config-zwave.js
  src/panels/lovelace/cards/hui-thermostat-card.ts
  src/panels/lovelace/components/hui-buttons-base.ts
  src/translations/en.json
Labels: cla-signed

#10789 Make energy graph colors brighter in dark mode
  src/panels/lovelace/cards/energy/hui-energy-gas-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-solar-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-sources-table-card.ts
  src/panels/lovelace/cards/energy/hui-energy-usage-graph-card.ts
Labels: cla-signed

#10888 Fix all instances where HTML ARIA-ROLE should actually just be role
  src/components/ha-alert.ts
  src/components/ha-sidebar.ts
  src/panels/config/dashboard/ha-config-navigation.ts
  src/panels/config/integrations/integration-panels/ozw/ozw-config-dashboard.ts
Labels: cla-signed

#10886 Don't backup core for supervisor/os updates
  hassio/src/update-available/update-available-card.ts
Labels: cla-signed, supervisor

#10891 Add no update available message
  hassio/src/update-available/update-available-card.ts
  src/translations/en.json
Labels: cla-signed, supervisor

#10898 Fix tooltip and aria-label for password input field
  src/components/ha-form/ha-form-string.ts
Labels: cla-signed

#10899 Fix overriding username suggestion
  src/onboarding/onboarding-create-user.ts
Labels: cla-signed

#10893 Not valid config, but we support it in the editor
  src/panels/config/automation/condition/types/ha-automation-condition-state.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-state.ts
Labels: cla-signed

#10890 Show app configuration in sidebar for non-admin users
  src/components/ha-sidebar.ts
  src/translations/en.json
Labels: cla-signed

#10904 Change entrypoint for Settings
  src/panels/config/ha-panel-config.ts
Labels: cla-signed

#10905 Hide stop for hassio
  src/panels/config/server_control/ha-config-server-control.ts
Labels: cla-signed

#10897 Add group to input row domains to fix mobile focus issue
  src/common/const.ts
Labels: cla-signed

#10881 Add tooltips and aria-labels to media player buttons
  src/data/media-player.ts
  src/dialogs/more-info/controls/more-info-media_player.ts
  src/panels/lovelace/cards/hui-media-control-card.ts
  src/panels/lovelace/entity-rows/hui-media-player-entity-row.ts
  src/translations/en.json
Labels: cla-signed

#10917 Outline new collapsable area in state dev tools + auto-expand
  src/panels/developer-tools/state/developer-tools-state.js
Labels: cla-signed

#10930 20211215.0
  hassio/src/update-available/update-available-card.ts
  setup.py
  src/common/const.ts
  src/components/ha-alert.ts
  src/components/ha-form/ha-form-string.ts
  src/components/ha-sidebar.ts
  src/data/media-player.ts
  src/dialogs/more-info/controls/more-info-media_player.ts
  src/onboarding/onboarding-create-user.ts
  src/panels/config/automation/condition/types/ha-automation-condition-state.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-state.ts
  src/panels/config/dashboard/ha-config-navigation.ts
  src/panels/config/ha-panel-config.ts
  src/panels/config/integrations/integration-panels/ozw/ozw-config-dashboard.ts
  src/panels/config/server_control/ha-config-server-control.ts
  src/panels/developer-tools/state/developer-tools-state.js
  src/panels/lovelace/cards/energy/hui-energy-gas-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-solar-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-sources-table-card.ts
  src/panels/lovelace/cards/energy/hui-energy-usage-graph-card.ts
  src/panels/lovelace/cards/hui-media-control-card.ts
  src/panels/lovelace/entity-rows/hui-media-player-entity-row.ts
  src/translations/en.json
Labels: cla-signed

#10914 Add hardware version to the device info card
  gallery/src/demos/demo-integration-card.ts
  src/data/device_registry.ts
  src/panels/config/devices/device-detail/ha-device-info-card.ts
  src/translations/en.json
Labels: cla-signed

#10948 Add bottom margin to update card
  hassio/src/update-available/update-available-dashboard.ts
Labels: cla-signed, supervisor

#10929 Handle update-complete event on add-on page
  hassio/src/addon-view/info/hassio-addon-info.ts
Labels: cla-signed, supervisor

#10927 Always send homeassistant for partial restore
  hassio/src/components/supervisor-backup-content.ts
Labels: cla-signed, supervisor

#10922 Disable repository removal if used for installed add-ons
  hassio/src/dialogs/repositories/dialog-hassio-repositories.ts
  src/translations/en.json
Labels: cla-signed, supervisor

#10938 Force reconnect when triggered from external bus
  package.json
  src/external_app/external_messaging.ts
  yarn.lock
Labels: cla-signed

#10940 Ensure button and automation row inputs are clickable on mobile
  src/common/const.ts
Labels: cla-signed

#10941 Add word wrap to device model and manufacturer
  src/panels/config/devices/device-detail/ha-device-info-card.ts
  src/panels/config/integrations/integration-panels/zha/zha-device-card.ts
Labels: cla-signed

#10963 Show correct cursor if `tap_action` is set to "none"
  src/panels/lovelace/components/hui-generic-entity-row.ts
Labels: cla-signed

#10972 Make "Timers" plural on server control reload page
  src/translations/en.json
Labels: cla-signed

#10971 More granular control for row interaction catching and cursor
  src/common/const.ts
  src/panels/lovelace/components/hui-generic-entity-row.ts
  src/panels/lovelace/entity-rows/hui-toggle-entity-row.ts
Labels: cla-signed

#10979 Fix theme updating entities card
  src/panels/lovelace/cards/hui-entities-card.ts
Labels: cla-signed

#10981 20211220.0
  gallery/src/demos/demo-integration-card.ts
  hassio/src/addon-view/info/hassio-addon-info.ts
  hassio/src/components/supervisor-backup-content.ts
  hassio/src/dialogs/repositories/dialog-hassio-repositories.ts
  hassio/src/update-available/update-available-dashboard.ts
  package.json
  setup.py
  src/common/const.ts
  src/data/device_registry.ts
  src/external_app/external_messaging.ts
  src/fake_data/provide_hass.ts
  src/panels/config/devices/device-detail/ha-device-info-card.ts
  src/panels/config/integrations/integration-panels/zha/zha-device-card.ts
  src/panels/lovelace/cards/hui-entities-card.ts
  src/panels/lovelace/components/hui-generic-entity-row.ts
  src/panels/lovelace/entity-rows/hui-toggle-entity-row.ts
  src/translations/en.json
  yarn.lock
Labels: cla-signed

#10987 Remove stop button for all installation types
  src/panels/config/server_control/ha-config-server-control.ts
Labels: cla-signed

#11024 Take out 'Stop'
  src/translations/en.json
Labels: cla-signed

#10992 Fix gauge on ios 15.2
  src/components/ha-gauge.ts
Labels: cla-signed

#11031 Bump HAWS to 6
  package.json
  yarn.lock
Labels: cla-signed

#11030 Show error screen when connection fails
  src/layouts/home-assistant.ts
  src/util/launch-screen.ts
Labels: cla-signed

#11033 20211227.0
  package.json
  setup.py
  src/components/ha-gauge.ts
  src/layouts/home-assistant.ts
  src/panels/config/server_control/ha-config-server-control.ts
  src/translations/en.json
  src/util/launch-screen.ts
  yarn.lock
Labels: cla-signed

#11042 Bump HAWS to 6.0.1
  package.json
  yarn.lock
Labels: cla-signed

#11043 20211229.0
  package.json
  setup.py
  yarn.lock
Labels: cla-signed
