Repository home-assistant/frontend, pull requests merged in 2021-03, with the labels that each got.

#8482 Service dev tools: Add service picker to YAML mode
  src/panels/developer-tools/service/developer-tools-service.ts
Labels: cla-signed

#8476 Adjust header and wording in update dialogs
  hassio/src/dialogs/addon/dialog-supervisor-addon-update.ts
  hassio/src/dialogs/core/dialog-supervisor-core-update.ts
Labels: cla-signed, supervisor

#8479 Fix add-on store search
  hassio/src/addon-store/hassio-addon-store.ts
Labels: cla-signed, supervisor

#8495 Preserve url params in redirect uri
  src/entrypoints/core.ts
Labels: cla-signed

#8487 Show config if options or schema
  hassio/src/addon-view/config/hassio-addon-config-tab.ts
  hassio/src/addon-view/config/hassio-addon-config.ts
Labels: cla-signed, supervisor

#8488 Make section row text color themeable
  src/panels/lovelace/special-rows/hui-section-row.ts
Labels: cla-signed

#8490 Take cover "opening" and "closing" into account
  src/data/logbook.ts
  src/translations/en.json
Labels: cla-signed

#8090 Add view in visualization button to the device page for ZHA devices
  src/data/zha.ts
  src/panels/config/devices/device-detail/integration-elements/zha/ha-device-actions-zha.ts
  src/panels/config/integrations/integration-panels/zha/zha-config-dashboard-router.ts
  src/panels/config/integrations/integration-panels/zha/zha-network-visualization-page.ts
  src/translations/en.json
Labels: cla-signed

#8500 Handle reconnect while in raw edit
  src/panels/lovelace/ha-panel-lovelace.ts
  src/panels/lovelace/hui-editor.ts
  src/translations/en.json
Labels: cla-signed

#8501 Allow decimal slider steps
  src/components/ha-slider.js
Labels: cla-signed

#8507 Make script card spelling more consistent
  src/translations/en.json
Labels: cla-signed

#8502 Fix en-gb translations
  build-scripts/gulp/translations.js
  translations/frontend/el.json
  translations/frontend/en-GB.json
  translations/frontend/en_GB.json
  translations/frontend/id.json
  translations/frontend/nl.json
Labels: cla-signed

#8503 Bump codemirror + add more styling
  package.json
  src/components/ha-code-editor.ts
  src/resources/codemirror.ts
  yarn.lock
Labels: cla-signed

#8508 Bump MDI icons to 5.9.55
  package.json
  yarn.lock
Labels: cla-signed

#8509 20210301.0
  build-scripts/gulp/translations.js
  hassio/src/addon-store/hassio-addon-store.ts
  hassio/src/addon-view/config/hassio-addon-config-tab.ts
  hassio/src/addon-view/config/hassio-addon-config.ts
  hassio/src/dialogs/addon/dialog-supervisor-addon-update.ts
  hassio/src/dialogs/core/dialog-supervisor-core-update.ts
  package.json
  setup.py
  src/components/device/ha-device-picker.ts
  src/components/ha-code-editor.ts
  src/components/ha-slider.js
  src/data/logbook.ts
  src/data/zha.ts
  src/entrypoints/core.ts
  src/panels/config/devices/device-detail/integration-elements/zha/ha-device-actions-zha.ts
  src/panels/config/integrations/integration-panels/zha/zha-config-dashboard-router.ts
  src/panels/config/integrations/integration-panels/zha/zha-network-visualization-page.ts
  src/panels/developer-tools/service/developer-tools-service.ts
  src/panels/lovelace/ha-panel-lovelace.ts
  src/panels/lovelace/hui-editor.ts
  src/panels/lovelace/special-rows/hui-section-row.ts
  src/resources/codemirror.ts
  src/translations/en.json
  translations/frontend/ca.json
  translations/frontend/cs.json
  translations/frontend/de.json
  translations/frontend/el.json
  translations/frontend/en-GB.json
  translations/frontend/en.json
  translations/frontend/en_GB.json
  translations/frontend/es.json
  translations/frontend/et.json
  translations/frontend/fr.json
  translations/frontend/id.json
  translations/frontend/nb.json
  translations/frontend/nl.json
  translations/frontend/pl.json
  translations/frontend/ru.json
  translations/frontend/tr.json
  translations/frontend/zh-Hans.json
  translations/frontend/zh-Hant.json
  yarn.lock
Labels: cla-needed

#8425 🌐 Add MVP for translation in the Supervisor panel
  build-scripts/gulp/gather-static.js
  build-scripts/gulp/hassio.js
  build-scripts/gulp/translations.js
  build-scripts/gulp/webpack.js
  build-scripts/paths.js
  hassio/src/addon-store/hassio-addon-store.ts
  hassio/src/addon-view/config/hassio-addon-config.ts
  hassio/src/addon-view/hassio-addon-dashboard.ts
  hassio/src/dashboard/hassio-addons.ts
  hassio/src/dashboard/hassio-dashboard.ts
  hassio/src/dashboard/hassio-update.ts
  hassio/src/hassio-main.ts
  hassio/src/hassio-panel.ts
  hassio/src/hassio-tabs.ts
  hassio/src/snapshots/hassio-snapshots.ts
  hassio/src/supervisor-base-element.ts
  hassio/src/system/hassio-system.ts
  src/common/config/version.ts
  src/data/hassio/addon.ts
  src/data/supervisor/supervisor.ts
  src/fake_data/provide_hass.ts
  src/layouts/hass-tabs-subpage.ts
  src/mixins/lit-localize-lite-mixin.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/developer-tools/state/developer-tools-state.js
  src/panels/lovelace/cards/hui-picture-entity-card.ts
  src/panels/lovelace/cards/hui-picture-glance-card.ts
  src/state/translations-mixin.ts
  src/translations/en.json
  src/util/common-translation.ts
  src/util/hass-translation.ts
Labels: cla-signed, supervisor

#8512 Bump codemirror view
  yarn.lock
Labels: cla-signed

#8515 Use localize in the Supervisor panel
  hassio/src/addon-store/hassio-addon-repository.ts
  hassio/src/addon-store/hassio-addon-store.ts
  hassio/src/addon-view/config/hassio-addon-audio.ts
  hassio/src/addon-view/config/hassio-addon-config-tab.ts
  hassio/src/addon-view/config/hassio-addon-config.ts
  hassio/src/addon-view/config/hassio-addon-network.ts
  hassio/src/addon-view/documentation/hassio-addon-documentation-tab.ts
  hassio/src/addon-view/hassio-addon-dashboard.ts
  hassio/src/addon-view/info/hassio-addon-info.ts
  hassio/src/addon-view/log/hassio-addon-log-tab.ts
  hassio/src/addon-view/log/hassio-addon-logs.ts
  hassio/src/components/hassio-card-content.ts
  hassio/src/components/supervisor-metric.ts
  hassio/src/dashboard/hassio-update.ts
  hassio/src/dialogs/network/dialog-hassio-network.ts
  hassio/src/dialogs/network/show-dialog-network.ts
  hassio/src/dialogs/registries/dialog-hassio-registries.ts
  hassio/src/dialogs/registries/show-dialog-registries.ts
  hassio/src/dialogs/repositories/dialog-hassio-repositories.ts
  hassio/src/dialogs/repositories/show-dialog-repositories.ts
  hassio/src/dialogs/suggestAddonRestart.ts
  hassio/src/hassio-my-redirect.ts
  hassio/src/snapshots/hassio-snapshots.ts
  hassio/src/system/hassio-core-info.ts
  hassio/src/system/hassio-host-info.ts
  hassio/src/system/hassio-supervisor-info.ts
  hassio/src/system/hassio-supervisor-log.ts
  hassio/src/system/hassio-system.ts
  src/translations/en.json
Labels: cla-signed, supervisor

#8517 20210302.0
  build-scripts/gulp/gather-static.js
  build-scripts/gulp/hassio.js
  build-scripts/gulp/translations.js
  build-scripts/gulp/webpack.js
  build-scripts/paths.js
  hassio/src/addon-store/hassio-addon-repository.ts
  hassio/src/addon-store/hassio-addon-store.ts
  hassio/src/addon-view/config/hassio-addon-audio.ts
  hassio/src/addon-view/config/hassio-addon-config-tab.ts
  hassio/src/addon-view/config/hassio-addon-config.ts
  hassio/src/addon-view/config/hassio-addon-network.ts
  hassio/src/addon-view/documentation/hassio-addon-documentation-tab.ts
  hassio/src/addon-view/hassio-addon-dashboard.ts
  hassio/src/addon-view/info/hassio-addon-info.ts
  hassio/src/addon-view/log/hassio-addon-log-tab.ts
  hassio/src/addon-view/log/hassio-addon-logs.ts
  hassio/src/components/hassio-card-content.ts
  hassio/src/components/supervisor-metric.ts
  hassio/src/dashboard/hassio-addons.ts
  hassio/src/dashboard/hassio-dashboard.ts
  hassio/src/dashboard/hassio-update.ts
  hassio/src/dialogs/network/dialog-hassio-network.ts
  hassio/src/dialogs/network/show-dialog-network.ts
  hassio/src/dialogs/registries/dialog-hassio-registries.ts
  hassio/src/dialogs/registries/show-dialog-registries.ts
  hassio/src/dialogs/repositories/dialog-hassio-repositories.ts
  hassio/src/dialogs/repositories/show-dialog-repositories.ts
  hassio/src/dialogs/suggestAddonRestart.ts
  hassio/src/hassio-main.ts
  hassio/src/hassio-my-redirect.ts
  hassio/src/hassio-panel.ts
  hassio/src/hassio-tabs.ts
  hassio/src/snapshots/hassio-snapshots.ts
  hassio/src/supervisor-base-element.ts
  hassio/src/system/hassio-core-info.ts
  hassio/src/system/hassio-host-info.ts
  hassio/src/system/hassio-supervisor-info.ts
  hassio/src/system/hassio-supervisor-log.ts
  hassio/src/system/hassio-system.ts
  setup.py
  src/common/config/version.ts
  src/data/hassio/addon.ts
  src/data/supervisor/supervisor.ts
  src/fake_data/provide_hass.ts
  src/layouts/hass-tabs-subpage.ts
  src/mixins/lit-localize-lite-mixin.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/developer-tools/state/developer-tools-state.js
  src/panels/lovelace/cards/hui-picture-entity-card.ts
  src/panels/lovelace/cards/hui-picture-glance-card.ts
  src/state/translations-mixin.ts
  src/translations/en.json
  src/util/common-translation.ts
  src/util/hass-translation.ts
  translations/frontend/en.json
  yarn.lock
Labels: cla-needed

#8516 Merge update dialogs
  hassio/src/addon-view/info/hassio-addon-info.ts
  hassio/src/dashboard/hassio-update.ts
  hassio/src/dialogs/addon/dialog-supervisor-addon-update.ts
  hassio/src/dialogs/addon/show-dialog-addon-update.ts
  hassio/src/dialogs/core/show-dialog-core-update.ts
  hassio/src/dialogs/update/dialog-supervisor-update.ts
  hassio/src/dialogs/update/show-dialog-update.ts
  hassio/src/system/hassio-core-info.ts
  src/data/hassio/addon.ts
  src/data/supervisor/core.ts
  src/translations/en.json
Labels: cla-signed, supervisor

#8518 Fix reload of addon after update
  hassio/src/addon-view/info/hassio-addon-info.ts
Labels: cla-signed, supervisor

#8519 Fix localize action
  .github/workflows/translations.yaml
Labels: cla-signed

#8520 Dont show config changes when user saved it
  src/panels/lovelace/hui-editor.ts
Labels: cla-signed

#8506 Add remote more info card
  src/common/const.ts
  src/data/remote.ts
  src/dialogs/more-info/controls/more-info-remote.ts
  src/dialogs/more-info/state_more_info_control.ts
  src/translations/en.json
Labels: cla-signed, wait for backend

#8522 Fix missing localize on old core versions
  hassio/src/supervisor-base-element.ts
Labels: cla-signed, supervisor

#8524 Bump codemirror
  yarn.lock
Labels: cla-signed

#8527 Add max height to yaml editor
  src/panels/lovelace/editor/hui-element-editor.ts
  src/resources/codemirror.ts
Labels: cla-signed

#8525 Fix second load in firefox and localize init
  hassio/src/addon-store/hassio-addon-store.ts
  hassio/src/addon-view/hassio-addon-dashboard.ts
  hassio/src/addon-view/info/hassio-addon-info.ts
  hassio/src/dashboard/hassio-update.ts
  hassio/src/hassio-panel.ts
  hassio/src/supervisor-base-element.ts
  hassio/src/system/hassio-core-info.ts
  hassio/src/system/hassio-host-info.ts
  hassio/src/system/hassio-supervisor-info.ts
Labels: cla-signed, supervisor

#8528 Fix add-on toggles description translation keys
  hassio/src/addon-view/info/hassio-addon-info.ts
Labels: cla-signed, supervisor

#8529 Fix localize keys for supervisor update dialog
  hassio/src/system/hassio-supervisor-info.ts
Labels: cla-signed, supervisor

#8530 Use correct version
  hassio/src/dashboard/hassio-update.ts
  hassio/src/system/hassio-core-info.ts
Labels: cla-signed, supervisor

#8532 Remove duplicate save
  hassio/src/addon-view/config/hassio-addon-config.ts
Labels: cla-signed, supervisor

#8539 fix: move @types modules from deps to devDeps
  cast/src/launcher/layout/hc-layout.ts
  package.json
Labels: cla-signed

#8521 Alarm numeric inputmode
  src/dialogs/more-info/controls/more-info-alarm_control_panel.js
  src/panels/lovelace/cards/hui-alarm-panel-card.ts
Labels: cla-signed

#8535 Fix missing name in full snapshot
  src/data/hassio/snapshot.ts
Labels: cla-signed, supervisor

#8536 Fix managing custom addon repositories
  hassio/src/addon-store/hassio-addon-store.ts
  hassio/src/dialogs/repositories/dialog-hassio-repositories.ts
  hassio/src/dialogs/repositories/show-dialog-repositories.ts
Labels: supervisor

#8538 Check if addon is valid before navigating
  hassio/src/addon-view/hassio-addon-dashboard.ts
  src/translations/en.json
Labels: cla-signed, supervisor

#8545 Add supervisor_add_addon_repository redirect
  hassio/src/addon-store/hassio-addon-store.ts
  hassio/src/dialogs/repositories/dialog-hassio-repositories.ts
  hassio/src/dialogs/repositories/show-dialog-repositories.ts
  hassio/src/hassio-my-redirect.ts
  src/translations/en.json
Labels: cla-signed, supervisor

#8553 More consistant ignoring errors
  hassio/src/dashboard/hassio-update.ts
  hassio/src/dialogs/update/dialog-supervisor-update.ts
  hassio/src/system/hassio-host-info.ts
  src/data/hassio/common.ts
Labels: cla-signed, supervisor

#8558 Fix codemirror active line
  src/components/ha-code-editor.ts
  src/resources/codemirror.ts
Labels: cla-signed

#8563 Fix a few Supervisor translation typos
  src/translations/en.json
Labels: cla-signed

#8568 Grammar and spelling fixes
  src/translations/en.json
  translations/frontend/en.json
Labels: cla-signed

#8566 Better place where device edit button is on desktop
  src/panels/config/devices/ha-config-device-page.ts
Labels: cla-signed

#8565 Allow sharing blueprints
  src/panels/config/blueprint/ha-blueprint-overview.ts
  src/translations/en.json
Labels: cla-signed

#8270 Move log item level position + color in detail popup header
  src/panels/config/logs/dialog-system-log-detail.ts
  src/panels/config/logs/system-log-card.ts
Labels: cla-signed

#8571 Fix codemirror cursor color
  src/resources/codemirror.ts
Labels: cla-signed

#8579 Ensure dev-tools state attribute checkbox state gets stored
  src/panels/developer-tools/state/developer-tools-state.js
Labels: cla-signed

#8581 Don't allow UI editor for service calls with templates
  src/common/string/has-template.ts
  src/panels/config/automation/action/types/ha-automation-action-service.ts
Labels: cla-signed

#8582 Fix spelling
  src/translations/en.json
Labels: cla-signed

#8366 Consistent blank before "%"
  hassio/src/components/supervisor-metric.ts
  hassio/src/system/hassio-host-info.ts
  src/components/ha-climate-state.ts
  src/dialogs/more-info/controls/more-info-vacuum.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/panels/lovelace/components/hui-generic-entity-row.ts
  src/panels/lovelace/entity-rows/hui-humidifier-entity-row.ts
Labels: cla-signed

#8578 Handle delay templates properly + error handling tweaks
  src/data/script.ts
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/action/types/ha-automation-action-delay.ts
  src/panels/config/automation/condition/ha-automation-condition-editor.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/panels/lovelace/editor/hui-element-editor.ts
  src/translations/en.json
Labels: cla-signed

#8584 Remove margin from button card icon if icon is all that is set
  src/panels/lovelace/cards/hui-button-card.ts
Labels: cla-signed

#8586 Fix demo states translation
  src/state/translations-mixin.ts
Labels: cla-signed

#8573 ZHA UI enhancements
  src/panels/config/devices/device-detail/integration-elements/zha/ha-device-actions-zha.ts
  src/panels/config/integrations/integration-panels/zha/dialog-zha-device-children.ts
  src/panels/config/integrations/integration-panels/zha/show-dialog-zha-device-children.ts
  src/panels/config/integrations/integration-panels/zha/zha-network-visualization-page.ts
  src/translations/en.json
Labels: cla-signed

#8587 Fix typo
  src/translations/en.json
Labels: cla-signed

#8560 Change layout of automation yaml editor
  src/components/entity/ha-entity-toggle.ts
  src/panels/config/automation/ha-automation-editor.ts
Labels: cla-signed

#8585 Improve code mirror comments check
  package.json
  src/components/ha-code-editor.ts
  src/panels/lovelace/hui-editor.ts
  src/resources/codemirror.ts
  yarn.lock
Labels: cla-signed

#8594 Fix missing areas in area picker
  src/components/ha-area-picker.ts
Labels: cla-signed

#8593 Add guard for when default url is not available
  src/layouts/hass-error-screen.ts
  src/layouts/hass-loading-screen.ts
  src/layouts/partial-panel-resolver.ts
Labels: cla-signed

#8595 Fallback to yaml for service data if unknown key is in data
  src/components/ha-service-control.ts
Labels: cla-signed

#8567 Add particles to onboarding
  package.json
  src/html/onboarding.html.template
  src/onboarding/ha-onboarding.ts
  src/onboarding/onboarding-create-user.ts
  src/onboarding/particles.ts
  yarn.lock
Labels: cla-signed

#8602 Add support for DEVICE_CLASS_CO and CO2
  src/common/const.ts
  src/util/hass-attributes-util.ts
Labels: cla-signed

#8462 Properly align date time input fields around suffix separator
  src/components/paper-time-input.js
Labels: cla-signed

#8600 Change preload to modulepreload
  src/html/authorize.html.template
  src/html/index.html.template
  src/html/onboarding.html.template
Labels: cla-signed

#8601 Update serviceworker with catch handler
  src/entrypoints/service_worker.ts
Labels: cla-signed

#8618 Consistent spelling of "PIN"
  src/translations/en.json
Labels: cla-signed

#8625 Enable turning off edit mode in panel views
  src/panels/lovelace/views/hui-panel-view.ts
Labels: cla-signed

#8608 Trace foundation
  gallery/src/data/traces/basic_trace.ts
  gallery/src/data/traces/types.ts
  gallery/src/demos/demo-automation-trace.ts
  gallery/src/demos/demo-more-info-light.ts
  gallery/src/ha-gallery.js
  src/components/trace/ha-timeline.ts
  src/components/trace/hat-trace.ts
  src/data/automation.ts
  src/data/automation_debug.ts
  src/data/device_automation.ts
  src/data/logbook.ts
  src/data/script.ts
  src/panels/config/automation/ha-config-automation.ts
  src/panels/config/automation/trace/ha-automation-trace.ts
  src/panels/logbook/ha-logbook.ts
  src/types.ts
Labels: cla-signed

#8611 FIx accessibility of data tables
  src/components/data-table/ha-data-table.ts
Labels: cla-signed

#8634 Group multiple logbook entries in traces
  src/components/trace/ha-timeline.ts
  src/components/trace/hat-trace.ts
  src/resources/styles.ts
Labels: cla-signed

#8637 Add motion light trace
  gallery/src/data/traces/motion-light-trace.ts
  gallery/src/demos/demo-automation-trace.ts
  src/data/automation.ts
  src/data/automation_debug.ts
Labels: cla-signed

#8639 Add basic action descriptions in traces
  src/components/trace/hat-trace.ts
  src/data/script.ts
Labels: cla-signed

#8638 Add timeline entry when a long period of time passes
  gallery/src/demos/demo-automation-trace.ts
  src/components/trace/hat-trace.ts
Labels: cla-signed

#8633 Add new trace
  gallery/src/data/traces/device_trigger_event_trace.ts
  gallery/src/demos/demo-automation-trace.ts
  src/data/device_automation.ts
  src/panels/config/devices/device-detail/ha-device-automation-card.ts
Labels: cla-signed

#8649 Make time a label without icon
  src/components/trace/ha-timeline.ts
  src/components/trace/hat-trace.ts
Labels: cla-signed

#8657 Use execute_script call in services developer tool
  src/data/service.ts
  src/panels/developer-tools/service/developer-tools-service.ts
Labels: cla-signed

#8652 Fix spaces in changelog link
  hassio/src/addon-view/info/hassio-addon-info.ts
Labels: cla-signed

#8656 Adjust traces to latest API
  gallery/src/data/traces/basic_trace.ts
  gallery/src/data/traces/device_trigger_event_trace.ts
  gallery/src/data/traces/motion-light-trace.ts
  gallery/src/demos/demo-automation-trace.ts
  src/components/trace/hat-trace.ts
  src/data/automation.ts
  src/data/automation_debug.ts
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/automation/trace/ha-automation-trace.ts
  src/translations/en.json
Labels: cla-signed

#8658 Allow linking to trace
  src/panels/config/automation/trace/ha-automation-trace.ts
Labels: cla-signed

#8659 Link to traces from logbook entries
  src/data/automation_debug.ts
  src/data/logbook.ts
  src/dialogs/more-info/ha-more-info-logbook.ts
  src/panels/logbook/ha-logbook.ts
  src/panels/logbook/ha-panel-logbook.ts
  src/translations/en.json
Labels: cla-signed

#8654 Add word wrap
  src/panels/config/devices/device-detail/ha-device-info-card.ts
Labels: cla-signed

#8681 Add missing extra-fields translations
  src/translations/en.json
Labels: cla-signed

#8674 Add content trust reasons
  hassio/src/system/hassio-supervisor-info.ts
  src/translations/en.json
Labels: cla-signed, supervisor

#8667 Add an absolute height to cast receiver to fix height inheritance
  cast/src/receiver/layout/hc-lovelace.ts
Labels: cla-signed

#8440 Add node config panel for Z-Wave JS
  src/data/zwave_js.ts
  src/panels/config/devices/device-detail/integration-elements/zwave_js/ha-device-actions-zwave_js.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-config-router.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-node-config.ts
  src/translations/en.json
Labels: cla-signed

#8693 Refactor trace rendering
  src/components/trace/hat-trace.ts
  src/data/automation_debug.ts
  src/data/script.ts
Labels: cla-signed

#8700 Add compatibility with latest trace API
  gallery/src/data/traces/basic_trace.ts
  gallery/src/data/traces/motion-light-trace.ts
  gallery/src/data/traces/types.ts
  src/components/trace/hat-trace.ts
  src/data/trace.ts
  src/dialogs/more-info/ha-more-info-logbook.ts
  src/panels/config/automation/trace/ha-automation-trace.ts
  src/panels/logbook/ha-logbook.ts
  src/panels/logbook/ha-panel-logbook.ts
Labels: cla-signed

#8696 Ensure dev-tool-states is consistently case-insensitive
  src/panels/developer-tools/state/developer-tools-state.js
Labels: cla-signed

#8697 Fix race condition in map card
  src/panels/lovelace/cards/hui-map-card.ts
Labels: cla-signed

#8710 Fix Z-Wave JS Node Config Panel handling null values
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-node-config.ts
Labels: cla-signed

#8715 Fix ordering of logbook entries inside choose sequence with multiple …
  gallery/src/data/traces/basic_trace.ts
  src/components/trace/hat-trace.ts
  src/data/script.ts
Labels: cla-signed

#8711 Service dev tools: Disable UI mode when using templates
  src/panels/developer-tools/service/developer-tools-service.ts
  src/translations/en.json
Labels: cla-signed

#8706 Remove paper-material-styles
  src/dialogs/notifications/notification-drawer.js
Labels: cla-signed

#8691 Log less in service worker
  src/entrypoints/service_worker.ts
Labels: cla-signed

#8705 Service control: Don't fire value changed for optional empty input
  src/components/ha-service-control.ts
Labels: cla-signed

#8692 Fix picture glance editor + small opti in hui image
  src/panels/lovelace/components/hui-image.ts
  src/panels/lovelace/editor/config-elements/hui-picture-glance-card-editor.ts
Labels: cla-signed

#8688 Fix changing view type
  src/panels/lovelace/views/hui-view.ts
Labels: cla-signed

#7692 Quick Bar: Use command category labels instead of icons
  hassio/src/dialogs/network/dialog-hassio-network.ts
  src/common/string/filter/sequence-matching.ts
  src/components/ha-chip-set.ts
  src/components/ha-chip.ts
  src/dialogs/quick-bar/ha-quick-bar.ts
  src/panels/config/devices/device-detail/ha-device-automation-card.ts
  src/resources/styles.ts
  src/translations/en.json
  test-mocha/common/string/sequence_matching.test.ts
Labels: cla-signed

#8718 Move margin styling from ha-chip to ha-chip-set
  src/components/ha-chip-set.ts
  src/components/ha-chip.ts
Labels: cla-signed

#8719 Restore capitalization to command items in quick bar
  src/dialogs/quick-bar/ha-quick-bar.ts
Labels: cla-signed

#8698 Ensure platform only integrations are displayed on the config info page
  src/data/integration.ts
  src/panels/config/info/integrations-card.ts
Labels: cla-signed

#8716 Add trace details foundation
  src/components/trace/ha-timeline.ts
  src/components/trace/hat-trace.ts
  src/panels/config/automation/trace/ha-automation-trace.ts
Labels: cla-signed

#8721 Make iterating ha-timeline efficient
  src/components/trace/hat-trace.ts
Labels: cla-signed

#8725 Fix USB sync endpoint
  src/data/hassio/host.ts
Labels: cla-signed, supervisor

#8707 Prevent cloud tts update prefs on page load
  src/panels/config/cloud/account/cloud-tts-pref.ts
Labels: cla-signed

#8687 Handle edit mode for panel mode cards better
  src/panels/lovelace/cards/hui-iframe-card.ts
  src/panels/lovelace/cards/hui-map-card.ts
  src/panels/lovelace/components/hui-card-options.ts
Labels: cla-signed

#8726 Add margin to text next to chip
  src/dialogs/quick-bar/ha-quick-bar.ts
Labels: cla-signed

#8728 Add child_id to call service result in trace
  src/data/trace.ts
Labels: cla-signed

#8734 Generalize filtering in datatable sub page
  src/layouts/hass-tabs-subpage-data-table.ts
  src/layouts/hass-tabs-subpage.ts
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/integrations/ha-config-integrations.ts
  src/translations/en.json
Labels: cla-signed

#8724 Add more trace visualization
  gallery/src/demos/demo-automation-trace.ts
  src/components/trace/hat-graph.ts
  src/components/trace/hat-script-graph.ts
  src/components/trace/hat-trace-timeline.ts
  src/components/trace/script-to-graph.ts
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/automation/manual-automation-editor.ts
  src/panels/config/automation/trace/ha-automation-trace-config.ts
  src/panels/config/automation/trace/ha-automation-trace-path-details.ts
  src/panels/config/automation/trace/ha-automation-trace-timeline.ts
  src/panels/config/automation/trace/ha-automation-trace.ts
  src/panels/config/automation/trace/styles.ts
  src/translations/en.json
Labels: cla-signed

#8695 Add analytics integration
  hassio/src/system/hassio-supervisor-info.ts
  src/components/ha-analytics.ts
  src/data/analytics.ts
  src/data/onboarding.ts
  src/onboarding/ha-onboarding.ts
  src/onboarding/onboarding-analytics.ts
  src/panels/config/core/ha-config-analytics.ts
  src/panels/config/core/ha-config-section-core.js
  src/translations/en.json
Labels: cla-signed, wait for backend

#8708 Hopefully fix some back button issues
  src/dialogs/generic/dialog-box.ts
  src/layouts/hass-tabs-subpage.ts
  src/state/url-sync-mixin.ts
Labels: cla-signed

#8717 Show if config entry is not loaded
  src/data/data_entry_flow.ts
  src/dialogs/config-flow/dialog-data-entry-flow.ts
  src/dialogs/config-flow/step-flow-create-entry.ts
  src/panels/config/integrations/ha-integration-card.ts
  src/translations/en.json
Labels: cla-signed, wait for backend

#8736 Add filtering to automaton overview
  src/components/device/ha-device-picker.ts
  src/components/ha-area-picker.ts
  src/components/ha-button-menu.ts
  src/components/ha-button-related-filter-menu.ts
  src/components/ha-combo-box.ts
  src/panels/config/automation/ha-automation-picker.ts
  src/translations/en.json
Labels: cla-signed

#8613 Check if Google Assistant is linked
  src/components/buttons/ha-call-api-button.js
  src/components/buttons/ha-call-api-button.ts
  src/data/cloud.ts
  src/panels/config/cloud/account/cloud-alexa-pref.ts
  src/panels/config/cloud/account/cloud-google-pref.ts
  src/panels/config/cloud/account/cloud-remote-pref.ts
  src/panels/config/cloud/google-assistant/cloud-google-assistant.ts
  src/translations/en.json
Labels: cla-signed

#8753 Add screenshot for manifest
  public/static/images/screenshots/screenshot-1.png
Labels: cla-signed

#8714 Rename layout to view_layout
  src/data/lovelace.ts
Labels: cla-signed

#8752 Make trace somewhat useable on mobile
  src/panels/config/automation/trace/ha-automation-trace-path-details.ts
  src/panels/config/automation/trace/ha-automation-trace.ts
Labels: cla-signed

#8755 Adjust for latest trace API
  gallery/src/data/traces/basic_trace.ts
  gallery/src/data/traces/motion-light-trace.ts
  src/components/trace/hat-trace-timeline.ts
  src/components/trace/script-to-graph.ts
  src/data/trace.ts
  src/panels/config/automation/trace/ha-automation-trace-path-details.ts
  src/panels/config/automation/trace/ha-automation-trace.ts
Labels: cla-signed

#8750 Add link between trace and editor
  src/panels/config/automation/blueprint-automation-editor.ts
  src/panels/config/automation/trace/ha-automation-trace.ts
Labels: cla-signed

#8746 Align filtering of integrations with other pages
  src/panels/config/integrations/ha-config-integrations.ts
  src/translations/en.json
Labels: cla-signed

#8747 Add filtering by devices/areas to scenes
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/scene/ha-scene-dashboard.ts
Labels: cla-signed

#8748 Add filtering by devices/areas to scripts
  src/panels/config/script/ha-script-picker.ts
  src/translations/en.json
Labels: cla-signed

#8749 Fix rendering when selecting all in datatable
  src/components/data-table/ha-data-table.ts
Labels: cla-signed

#8760 Add padding when loading traces or none found
  src/panels/config/automation/trace/ha-automation-trace.ts
Labels: cla-signed

#8761 Make log levels translatable
  src/panels/config/logs/dialog-system-log-detail.ts
  src/panels/config/logs/system-log-card.ts
  src/translations/en.json
Labels: cla-signed

#8762 Adjust documentation link
  src/components/ha-analytics.ts
  src/translations/en.json
Labels: cla-signed

#8764 Hide system generated integration options
  src/panels/config/integrations/ha-integration-card.ts
  src/translations/en.json
Labels: cla-signed

#8742 Add feedback dialog for ZHA device reconfiguration
  src/data/zha.ts
  src/panels/config/devices/device-detail/integration-elements/zha/ha-device-actions-zha.ts
  src/panels/config/integrations/integration-panels/zha/dialog-zha-reconfigure-device.ts
  src/panels/config/integrations/integration-panels/zha/show-dialog-zha-reconfigure-device.ts
  src/translations/en.json
Labels: cla-signed

#8493 Use service name in action confirmation popup
  src/panels/lovelace/common/handle-action.ts
Labels: cla-signed

#8771 Fix max being undefined in automation
  src/panels/config/automation/manual-automation-editor.ts
Labels: cla-signed

#8772 Fix typo in analytics info text
  src/translations/en.json
Labels: cla-signed

#8775 Handle errors in trace
  src/components/trace/hat-script-graph.ts
  src/components/trace/hat-trace-timeline.ts
  src/data/trace.ts
  src/panels/logbook/ha-logbook.ts
Labels: cla-signed
