Repository home-assistant/frontend, pull requests merged in 2021-02, with the labels that each got.

#8293 Fix gaps in history charts
  src/components/state-history-chart-line.js
Labels: cla-signed

#8298 Force YAML if schema has multiple
  hassio/src/addon-view/config/hassio-addon-config.ts
Labels: cla-signed

#8303 Revert "Add icon support to gauge"
  src/panels/lovelace/cards/hui-gauge-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/editor/config-elements/hui-gauge-card-editor.ts
Labels: cla-signed

#8313 Fix display issue wtih addon-info grid
  hassio/src/addon-view/info/hassio-addon-info.ts
Labels: cla-signed, supervisor

#8302 Show eMMC lifetime
  hassio/src/system/hassio-host-info.ts
  src/data/hassio/host.ts
Labels: cla-signed, supervisor

#8314 Move save button to the right
  hassio/src/addon-view/config/hassio-addon-config.ts
Labels: cla-signed, supervisor

#8315 Fix button layout for addon-info
  hassio/src/addon-view/info/hassio-addon-info.ts
Labels: cla-signed, supervisor

#8312 Show the reason why an add-on is not available
  hassio/src/addon-view/hassio-addon-dashboard.ts
  hassio/src/addon-view/hassio-addon-router.ts
  hassio/src/addon-view/info/hassio-addon-info-tab.ts
  hassio/src/addon-view/info/hassio-addon-info.ts
  hassio/src/util/addon.ts
  src/data/hassio/addon.ts
  src/data/hassio/supervisor.ts
  src/data/supervisor/supervisor.ts
Labels: cla-signed, supervisor

#8316 Only display current temp when not None
  src/panels/lovelace/cards/hui-thermostat-card.ts
Labels: cla-signed

#8322 Fix issue where schema is null
  hassio/src/addon-view/config/hassio-addon-config.ts
  src/data/hassio/addon.ts
Labels: cla-signed, supervisor

#8331 Drop margin from cast header
  cast/src/launcher/layout/hc-layout.ts
Labels: cla-signed

#8339 Fix no disconnect after 5 minute timeout
  src/layouts/home-assistant.ts
Labels: cla-signed

#8343 Correct typo in "find-entities.ts" file name
  src/panels/lovelace/cards/hui-alarm-panel-card.ts
  src/panels/lovelace/cards/hui-button-card.ts
  src/panels/lovelace/cards/hui-calendar-card.ts
  src/panels/lovelace/cards/hui-entities-card.ts
  src/panels/lovelace/cards/hui-entity-card.ts
  src/panels/lovelace/cards/hui-gauge-card.ts
  src/panels/lovelace/cards/hui-glance-card.ts
  src/panels/lovelace/cards/hui-humidifier-card.ts
  src/panels/lovelace/cards/hui-light-card.ts
  src/panels/lovelace/cards/hui-logbook-card.ts
  src/panels/lovelace/cards/hui-map-card.ts
  src/panels/lovelace/cards/hui-media-control-card.ts
  src/panels/lovelace/cards/hui-picture-elements-card.ts
  src/panels/lovelace/cards/hui-picture-entity-card.ts
  src/panels/lovelace/cards/hui-picture-glance-card.ts
  src/panels/lovelace/cards/hui-plant-status-card.ts
  src/panels/lovelace/cards/hui-sensor-card.ts
  src/panels/lovelace/cards/hui-thermostat-card.ts
  src/panels/lovelace/cards/hui-weather-forecast-card.ts
  src/panels/lovelace/common/find-entities.ts
  src/panels/lovelace/header-footer/hui-graph-header-footer.ts
Labels: cla-signed

#8121 Provide stub config for entity-filter
  src/panels/lovelace/cards/hui-entity-filter-card.ts
  src/panels/lovelace/cards/types.ts
  src/translations/en.json
Labels: cla-signed

#8349 Add my panel
  package.json
  src/common/url/search-params.ts
  src/dialogs/config-flow/dialog-data-entry-flow.ts
  src/layouts/hass-error-screen.ts
  src/layouts/partial-panel-resolver.ts
  src/panels/config/blueprint/dialog-import-blueprint.ts
  src/panels/config/blueprint/ha-blueprint-overview.ts
  src/panels/config/integrations/ha-config-integrations.ts
  src/panels/my/ha-panel-my.ts
  src/translations/en.json
  yarn.lock
Labels: cla-signed

#8352 Update container port
  .devcontainer/devcontainer.json
Labels: cla-signed

#8355 Fix issue with jumping config
  hassio/src/addon-view/config/hassio-addon-config.ts
Labels: cla-signed, supervisor

#8350 Block snapshots when system is not running
  hassio/src/dialogs/snapshot/dialog-hassio-snapshot.ts
  hassio/src/dialogs/snapshot/show-dialog-hassio-snapshot.ts
  hassio/src/snapshots/hassio-snapshots.ts
  src/data/hassio/supervisor.ts
Labels: cla-signed, supervisor

#8325 Fixed state card of number entity
  src/state-summary/state-card-number.js
Labels: cla-signed

#8361 Don't show add-on config if no schema
  hassio/src/addon-view/config/hassio-addon-config-tab.ts
  hassio/src/addon-view/config/hassio-addon-config.ts
Labels: cla-signed, supervisor

#8363 Add GitHub Issue Form
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: cla-signed

#8362 Add bottom margin to button card icon
  src/panels/lovelace/cards/hui-button-card.ts
Labels: cla-signed

#8297 Add select selector for blueprints
  src/components/ha-selector/ha-selector-select.ts
  src/components/ha-selector/ha-selector.ts
  src/data/selector.ts
Labels: cla-signed

#8405 Add my support to supervisor
  hassio/src/addon-view/hassio-addon-dashboard.ts
  hassio/src/hassio-my-redirect.ts
  hassio/src/hassio-router.ts
  src/dialogs/quick-bar/ha-quick-bar.ts
  src/panels/my/ha-panel-my.ts
  src/translations/en.json
Labels: cla-signed

#8408 Show options if no options and schema
  hassio/src/addon-view/config/hassio-addon-config-tab.ts
  hassio/src/addon-view/config/hassio-addon-config.ts
Labels: cla-signed, supervisor

#8404 Update supervisor info on addon action
  hassio/src/addon-view/hassio-addon-dashboard.ts
  hassio/src/addon-view/info/hassio-addon-info.ts
Labels: cla-signed, supervisor

#8372 Add support for target to automation call service action
  package.json
  src/components/device/ha-device-picker.ts
  src/components/ha-combo-box.js
  src/components/ha-combo-box.ts
  src/components/ha-selector/ha-selector-number.ts
  src/components/ha-selector/ha-selector-target.ts
  src/components/ha-service-control.ts
  src/components/ha-service-picker.js
  src/components/ha-service-picker.ts
  src/components/ha-settings-row.ts
  src/components/ha-target-picker.ts
  src/data/script.ts
  src/data/target.ts
  src/fake_data/demo_config.ts
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/action/ha-automation-action.ts
  src/panels/config/automation/action/types/ha-automation-action-service.ts
  src/panels/config/automation/blueprint-automation-editor.ts
  src/panels/config/automation/manual-automation-editor.ts
  src/panels/config/ha-config-section.ts
  src/panels/config/scene/ha-scene-editor.ts
  src/panels/config/script/ha-script-editor.ts
  src/state/connection-mixin.ts
  src/types.ts
  yarn.lock
Labels: cla-signed

#8403 Use websockets
  cast/src/launcher/layout/hc-cast.ts
  hassio/src/addon-store/hassio-addon-store.ts
  hassio/src/addon-view/hassio-addon-dashboard.ts
  hassio/src/addon-view/info/hassio-addon-info.ts
  hassio/src/dashboard/hassio-update.ts
  hassio/src/hassio-main.ts
  hassio/src/hassio-router.ts
  hassio/src/supervisor-base-element.ts
  hassio/src/system/hassio-core-info.ts
  hassio/src/system/hassio-host-info.ts
  hassio/src/system/hassio-supervisor-info.ts
  src/common/config/version.ts
  src/data/hassio/addon.ts
  src/data/hassio/common.ts
  src/data/hassio/docker.ts
  src/data/hassio/hardware.ts
  src/data/hassio/host.ts
  src/data/hassio/ingress.ts
  src/data/hassio/network.ts
  src/data/hassio/resolution.ts
  src/data/hassio/snapshot.ts
  src/data/hassio/supervisor.ts
  src/data/supervisor/core.ts
  src/data/supervisor/supervisor.ts
  test-mocha/hassio/create_session.spec.ts
Labels: cla-signed, supervisor

#8413 Add more redirects
  src/panels/my/ha-panel-my.ts
Labels: cla-signed

#8417 Add supervisor_logs and supervisor_info redirects
  hassio/src/hassio-my-redirect.ts
Labels: cla-signed, supervisor

#8415 Correctly handle seconds in top "delay" key
  src/panels/config/automation/action/types/ha-automation-action-delay.ts
Labels: cla-signed

#8420 Bump marked
  package.json
  yarn.lock
Labels: cla-signed

#8400 Fix password field in ha-form
  src/components/ha-form/ha-form-string.ts
Labels: cla-signed

#8421 Update lovelace call service action
  src/data/lovelace.ts
  src/panels/lovelace/common/handle-action.ts
  src/panels/lovelace/components/hui-action-editor.ts
  src/panels/lovelace/editor/types.ts
Labels: cla-signed

#8419 Move localizing to render
  src/panels/my/ha-panel-my.ts
  src/state/translations-mixin.ts
Labels: cla-signed

#8277 Ha-form: Don't change data
  src/components/ha-form/ha-form.ts
Labels: cla-signed

#8353 Revert "Allow viewport scaling (zooming) of frontend"
  src/html/_style_base.html.template
Labels: cla-signed

#8423 Update GitHub Issue Form template
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: cla-signed

#8427 Fix WS command for validating ingress session
  src/data/hassio/ingress.ts
Labels: cla-signed, supervisor

#8426 bump webpack-manifest-plugin to 3.0.0
  build-scripts/webpack.js
  package.json
  yarn.lock
Labels: cla-signed

#8432 Fix mouseevent in blueprint import popup
  src/panels/config/blueprint/ha-blueprint-overview.ts
Labels: cla-signed

#8276 Migrate mfa to Lit
  src/panels/profile/dialog-ha-mfa-module-setup-flow.ts
  src/panels/profile/ha-mfa-module-setup-flow.js
  src/panels/profile/ha-mfa-modules-card.js
  src/panels/profile/ha-mfa-modules-card.ts
  src/panels/profile/show-ha-mfa-module-setup-flow-dialog.ts
Labels: cla-signed

#8410 Re-do developer tools service
  package.json
  src/components/device/ha-device-picker.ts
  src/components/ha-area-picker.ts
  src/components/ha-combo-box.ts
  src/components/ha-selector/ha-selector-action.ts
  src/components/ha-selector/ha-selector-area.ts
  src/components/ha-selector/ha-selector-boolean.ts
  src/components/ha-selector/ha-selector-device.ts
  src/components/ha-selector/ha-selector-entity.ts
  src/components/ha-selector/ha-selector-number.ts
  src/components/ha-selector/ha-selector-object.ts
  src/components/ha-selector/ha-selector-select.ts
  src/components/ha-selector/ha-selector-target.ts
  src/components/ha-selector/ha-selector-text.ts
  src/components/ha-selector/ha-selector-time.ts
  src/components/ha-selector/ha-selector.ts
  src/components/ha-service-control.ts
  src/components/ha-service-picker.ts
  src/components/ha-settings-row.ts
  src/components/ha-target-picker.ts
  src/components/ha-yaml-editor.ts
  src/panels/config/automation/action/types/ha-automation-action-service.ts
  src/panels/developer-tools/service/developer-tools-service.js
  src/panels/developer-tools/service/developer-tools-service.ts
  src/panels/lovelace/components/hui-action-editor.ts
  src/panels/lovelace/editor/config-elements/config-elements-style.ts
  src/translations/en.json
  yarn.lock
Labels: cla-signed

#8368 Show flows in progress when picking a handler
  src/data/config_flow.ts
  src/dialogs/config-flow/dialog-data-entry-flow.ts
  src/dialogs/config-flow/step-flow-pick-flow.ts
  src/dialogs/config-flow/step-flow-pick-handler.ts
  src/translations/en.json
Labels: cla-signed

#8424 Ensure we have all mandatory action keys present in action editor
  src/panels/lovelace/components/hui-action-editor.ts
  src/panels/lovelace/editor/types.ts
Labels: cla-signed

#8393 Add support for percentage step size to fans
  src/components/ha-slider.js
  src/dialogs/more-info/controls/more-info-fan.js
Labels: cla-signed

#8438 Fix area picker with both entity and device filter
  src/components/ha-area-picker.ts
Labels: cla-signed

#8434 Dev-tools service: Tweak to target description
  src/translations/en.json
Labels: cla-signed

#8439 Fix blank page in ingress when resizing window
  hassio/src/hassio-router.ts
Labels: cla-signed, supervisor

#8437 Fix atLeastVersion
  src/common/config/version.ts
  test-mocha/common/config/version.ts
Labels: cla-signed

#8445 Show correct fields in UI mode
  src/panels/developer-tools/service/developer-tools-service.ts
Labels: cla-signed

#8367 Support binary sensor batteries
  src/common/entity/battery_icon.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/config/devices/ha-config-devices-dashboard.ts
Labels: cla-signed

#8422 Add add-on selector/picker
  src/components/ha-addon-picker.ts
  src/components/ha-selector/ha-selector-addon.ts
  src/components/ha-selector/ha-selector.ts
  src/data/selector.ts
  src/translations/en.json
Labels: cla-signed

#8442 Allow to disable config entry
  src/data/config_entries.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/config/integrations/ha-config-integrations.ts
  src/panels/config/integrations/ha-integration-card.ts
  src/translations/en.json
Labels: cla-signed

#8383 Correctly color script state icon + handle "single" mode for cancel buttons
  src/common/style/icon_color_css.ts
  src/components/entity/state-badge.ts
  src/panels/lovelace/entity-rows/hui-script-entity-row.ts
  src/state-summary/state-card-script.ts
Labels: cla-signed

#8295 Add additional weblink attributes
  src/panels/lovelace/entity-rows/types.ts
  src/panels/lovelace/special-rows/hui-weblink-row.ts
Labels: card: entities, cla-signed

#8411 Add clipboard button
  src/panels/developer-tools/state/developer-tools-state.js
  src/translations/en.json
Labels: cla-signed

#8010 Save attribute checkbox state
  src/panels/developer-tools/state/developer-tools-state.js
Labels: cla-signed

#8340 Fix excessive rerendering of history charts
  src/components/state-history-charts.ts
Labels: cla-signed

#8382 Migrate to codemirror 6
  package.json
  src/components/ha-code-editor.ts
  src/components/ha-yaml-editor.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-edit-card.ts
  src/panels/lovelace/editor/config-elements/hui-conditional-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-stack-card-editor.ts
  src/panels/lovelace/editor/hui-element-editor.ts
  src/panels/lovelace/hui-editor.ts
  src/panels/lovelace/types.ts
  src/resources/codemirror.ondemand.ts
  src/resources/codemirror.ts
  src/translations/en.json
  yarn.lock
Labels: cla-signed

#8447 My redirects tweaks
  src/panels/developer-tools/service/developer-tools-service.ts
  src/panels/my/ha-panel-my.ts
  src/translations/en.json
Labels: cla-signed

#8450 Fix my redirect for tags
  src/panels/my/ha-panel-my.ts
Labels: cla-signed

#8452 Fix codemirror caret color
  src/resources/codemirror.ts
Labels: cla-signed

#8259 Make clear that automation run button skips conditions + remove word "execute" from UI
  src/data/automation.ts
  src/data/script.ts
  src/dialogs/more-info/controls/more-info-automation.ts
  src/panels/config/automation/blueprint-automation-editor.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/automation/manual-automation-editor.ts
  src/panels/config/script/ha-script-editor.ts
  src/panels/lovelace/entity-rows/hui-script-entity-row.ts
  src/state-summary/state-card-script.ts
  src/translations/en.json
Labels: cla-signed

#8457 Fix integrations page
  src/panels/config/integrations/ha-config-integrations.ts
Labels: cla-signed

#8022 Add theme variables for text of picture cards
  src/panels/lovelace/cards/hui-picture-entity-card.ts
  src/panels/lovelace/cards/hui-picture-glance-card.ts
Labels: cla-signed

#8458 Clean translations
  translations/frontend/af.json
  translations/frontend/ar.json
  translations/frontend/bg.json
  translations/frontend/bn.json
  translations/frontend/bs.json
  translations/frontend/ca.json
  translations/frontend/cs.json
  translations/frontend/cy.json
  translations/frontend/da.json
  translations/frontend/de.json
  translations/frontend/el.json
  translations/frontend/en.json
  translations/frontend/eo.json
  translations/frontend/es-419.json
  translations/frontend/es.json
  translations/frontend/et.json
  translations/frontend/eu.json
  translations/frontend/fa.json
  translations/frontend/fi.json
  translations/frontend/fr.json
  translations/frontend/fy.json
  translations/frontend/gsw.json
  translations/frontend/he.json
  translations/frontend/hi.json
  translations/frontend/hr.json
  translations/frontend/hu.json
  translations/frontend/hy.json
  translations/frontend/id.json
  translations/frontend/is.json
  translations/frontend/it.json
  translations/frontend/ja.json
  translations/frontend/ko.json
  translations/frontend/lb.json
  translations/frontend/lt.json
  translations/frontend/lv.json
  translations/frontend/nb.json
  translations/frontend/nl.json
  translations/frontend/nn.json
  translations/frontend/pl.json
  translations/frontend/pt-BR.json
  translations/frontend/pt.json
  translations/frontend/ro.json
  translations/frontend/ru.json
  translations/frontend/sk.json
  translations/frontend/sl.json
  translations/frontend/sr-Latn.json
  translations/frontend/sr.json
  translations/frontend/sv.json
  translations/frontend/ta.json
  translations/frontend/te.json
  translations/frontend/th.json
  translations/frontend/tr.json
  translations/frontend/uk.json
  translations/frontend/ur.json
  translations/frontend/vi.json
  translations/frontend/zh-Hans.json
  translations/frontend/zh-Hant.json
Labels: cla-signed

#8461 Restore previous codemirror tab behavior
  src/components/ha-code-editor.ts
  src/resources/codemirror.ts
Labels: cla-signed

#8430 Add toggle to show_hide optional fields in add-on config
  hassio/src/addon-view/config/hassio-addon-config.ts
Labels: cla-signed, supervisor

#8443 Subscribe to message instead of event
  src/data/supervisor/supervisor.ts
Labels: cla-signed, supervisor

#8451 Fix wrong tag component
  src/panels/config/dashboard/ha-config-navigation.ts
  src/panels/config/ha-panel-config.ts
  src/panels/config/tags/dialog-tag-detail.ts
  src/panels/config/tags/ha-config-tags.ts
  src/translations/en.json
Labels: cla-signed

#8454 Fix messaging when addon is not available
  hassio/src/addon-store/hassio-addon-store.ts
  hassio/src/addon-view/hassio-addon-dashboard.ts
  hassio/src/addon-view/info/hassio-addon-info.ts
  hassio/src/dashboard/hassio-update.ts
  hassio/src/hassio-main.ts
  hassio/src/supervisor-base-element.ts
  hassio/src/system/hassio-core-info.ts
  hassio/src/system/hassio-host-info.ts
  hassio/src/system/hassio-supervisor-info.ts
  src/data/hassio/addon.ts
  src/data/supervisor/store.ts
  src/data/supervisor/supervisor.ts
Labels: cla-signed, supervisor

#8463 Add snapshot to add-on update dialog.
  hassio/src/addon-view/info/hassio-addon-info.ts
  hassio/src/dialogs/addon/dialog-supervisor-addon-update.ts
  hassio/src/dialogs/addon/show-dialog-addon-update.ts
  hassio/src/dialogs/snapshot/dialog-hassio-snapshot.ts
  src/data/hassio/addon.ts
  src/data/hassio/snapshot.ts
Labels: cla-signed, supervisor

#8469 Add search, history to codemirror
  package.json
  src/components/ha-code-editor.ts
  src/panels/lovelace/hui-editor.ts
  src/resources/codemirror.ts
  yarn.lock
Labels: cla-signed

#8470 Remove closing event from dialog
  hassio/src/dialogs/addon/dialog-supervisor-addon-update.ts
  hassio/src/dialogs/core/dialog-supervisor-core-update.ts
Labels: cla-signed, supervisor

#8472 Ignore error if we are not connected
  hassio/src/dashboard/hassio-update.ts
  hassio/src/dialogs/core/dialog-supervisor-core-update.ts
  hassio/src/system/hassio-core-info.ts
  hassio/src/system/hassio-host-info.ts
Labels: cla-signed, supervisor

#8481 Fix device picker
  src/components/device/ha-device-picker.ts
Labels: cla-signed
