Repository home-assistant/frontend, pull requests merged in 2022-06, with the labels that each got.

#12843 20220601.0
  pyproject.toml
  src/components/chart/state-history-chart-timeline.ts
  src/components/chart/state-history-charts.ts
Labels: cla-signed

#12876 Filter entities that will never have entries in the logbook card editor
  src/data/logbook.ts
  src/panels/logbook/ha-panel-logbook.ts
  src/panels/lovelace/editor/config-elements/hui-logbook-card-editor.ts
Labels: cla-signed

#12888 Add counter to logbook continuous domains
  src/data/logbook.ts
Labels: cla-signed

#12880 Request tiny thumbnails for cameras in the entity selector to reduce memory pressure
  src/components/entity/state-badge.ts
  src/data/camera.ts
Labels: cla-signed

#12878 Fix multiple races in logbook subscriptions
  src/data/logbook.ts
  src/panels/logbook/ha-logbook.ts
Labels: cla-signed

#12794 Add zwave_js device statistics
  src/data/zwave_js.ts
  src/panels/config/devices/device-detail/integration-elements/zwave_js/device-actions.ts
  src/panels/config/integrations/integration-panels/zwave_js/dialog-zwave_js-node-statistics.ts
  src/panels/config/integrations/integration-panels/zwave_js/show-dialog-zwave_js-node-statistics.ts
  src/translations/en.json
Labels: cla-signed

#12866 Add announce: true when sending TTS from media browser
  src/components/media-player/ha-browse-media-tts.ts
  src/data/media-player.ts
  src/dialogs/more-info/controls/more-info-media_player.ts
  src/panels/lovelace/cards/hui-media-control-card.ts
  src/panels/media-browser/ha-panel-media-browser.ts
Labels: cla-signed

#12883 Energy Dashboard: Align total cost with 'previous cost' column.
  src/panels/lovelace/cards/energy/hui-energy-sources-table-card.ts
Labels: cla-signed

#12885 Add container list and ARIA to create helper listbox
  src/panels/config/helpers/dialog-helper-detail.ts
Labels: cla-signed

#12857 Various RTL fixes
  src/components/ha-chip.ts
  src/components/ha-clickable-list-item.ts
  src/components/ha-gauge.ts
  src/components/ha-list-item.ts
  src/components/ha-textfield.ts
  src/components/user/ha-user-picker.ts
  src/dialogs/quick-bar/ha-quick-bar.ts
  src/panels/config/devices/device-registry-detail/dialog-device-registry-detail.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/logbook/ha-logbook-renderer.ts
  src/panels/logbook/ha-panel-logbook.ts
  src/panels/lovelace/cards/hui-alarm-panel-card.ts
  src/panels/lovelace/cards/hui-light-card.ts
  src/panels/lovelace/cards/hui-media-control-card.ts
  src/panels/lovelace/editor/config-elements/hui-conditional-card-editor.ts
Labels: cla-signed

#12911 Move to supervisor store API
  hassio/src/addon-store/hassio-addon-repository.ts
  hassio/src/addon-store/hassio-addon-store.ts
  hassio/src/components/hassio-filter-addons.ts
  hassio/src/dialogs/repositories/dialog-hassio-repositories.ts
  src/data/supervisor/common.ts
  src/data/supervisor/store.ts
Labels: cla-signed, supervisor

#12869 Add application credentials description placeholder
  src/data/application_credential.ts
  src/data/translation.ts
  src/panels/config/application_credentials/dialog-add-application-credential.ts
Labels: cla-signed

#12915 Remove unused zwave_js functions
  src/data/zwave_js.ts
Labels: cla-signed

#12922 Use ha-list-item in config updates
  src/panels/config/dashboard/ha-config-updates.ts
Labels: cla-signed

#12930 Clean up unused var
  src/components/media-player/ha-media-player-browse.ts
Labels: cla-signed

#12921 Split store and installed calls
  hassio/src/addon-view/hassio-addon-dashboard.ts
  hassio/src/addon-view/hassio-addon-router.ts
  hassio/src/addon-view/info/hassio-addon-info.ts
  hassio/src/backups/hassio-backups.ts
  hassio/src/components/supervisor-backup-content.ts
  hassio/src/dashboard/hassio-addons.ts
  hassio/src/dialogs/repositories/dialog-hassio-repositories.ts
  src/components/ha-addon-picker.ts
  src/data/hassio/addon.ts
  src/data/hassio/supervisor.ts
  src/data/supervisor/store.ts
  src/dialogs/quick-bar/ha-quick-bar.ts
  src/panels/config/logs/ha-config-logs.ts
Labels: cla-signed, supervisor

#12948 Fix customizing sensor units
  src/panels/config/entities/entity-registry-settings.ts
Labels: cla-signed

#12946 Revert Use unit system definitions for weather units (#10657)
  src/data/weather.ts
Labels: cla-signed

#12928 Don't make dialog boxes fullscreen on mobile
  src/dialogs/generic/dialog-box.ts
Labels: cla-signed

#12953 Ensures inputmode is set properly for alarm code inputs
  src/dialogs/more-info/controls/more-info-alarm_control_panel.ts
  src/panels/lovelace/cards/hui-alarm-panel-card.ts
Labels: cla-signed

#12906 Fix energy panel in Demo
  demo/src/stubs/config.ts
  demo/src/stubs/history.ts
  src/fake_data/provide_hass.ts
Labels: cla-signed

#12916 Subscribe to zwave_js node status updates in device panel
  src/data/zwave_js.ts
  src/panels/config/devices/device-detail/integration-elements/zwave_js/ha-device-info-zwave_js.ts
Labels: cla-signed

#12973 Fix a bug in the climate entity more info card
  src/common/number/clamp.ts
Labels: cla-signed

#12979 Fix grammar in NFC settings tab description
  src/translations/en.json
Labels: cla-signed

#12964 Use websocket endpoint to fetch config entries
  src/data/config_entries.ts
Labels: cla-signed

#12977 Show icon for temperature values in Area card
  src/panels/lovelace/cards/hui-area-card.ts
Labels: cla-signed

#12976 Show humidity sensor values in Area card
  src/panels/lovelace/cards/hui-area-card.ts
Labels: cla-signed

#12978 Show moisture/flood alerts in the Area card
  src/panels/lovelace/cards/hui-area-card.ts
Labels: cla-signed, Feature

#12947 Allow customizing weather units
  src/data/entity_registry.ts
  src/data/weather.ts
  src/dialogs/more-info/controls/more-info-weather.ts
  src/panels/config/entities/entity-registry-settings.ts
  src/panels/lovelace/cards/hui-weather-forecast-card.ts
  src/panels/lovelace/entity-rows/hui-weather-entity-row.ts
  src/translations/en.json
Labels: cla-signed, Major Feature

#12910 Add manual firmware update support for zwave-js devices
  src/data/zwave_js.ts
  src/panels/config/devices/device-detail/integration-elements/zwave_js/device-actions.ts
  src/panels/config/integrations/integration-panels/zwave_js/dialog-zwave_js-update-firmware-node.ts
  src/panels/config/integrations/integration-panels/zwave_js/show-dialog-zwave_js-update-firmware-node.ts
  src/translations/en.json
Labels: cla-signed, Major Feature

#13001 Use new wheels builder
  .github/workflows/release.yaml
Labels: cla-signed

#13002 Only show zwave_js firmware action if no other updates in progress
  src/data/zwave_js.ts
  src/panels/config/devices/device-detail/integration-elements/zwave_js/device-actions.ts
Labels: cla-signed

#13008 Bumped version to 20220624.0
  pyproject.toml
Labels: cla-signed

#13006 Various card RTL fixes
  src/components/ha-dialog.ts
  src/panels/lovelace/cards/hui-thermostat-card.ts
  src/panels/lovelace/entity-rows/hui-input-datetime-entity-row.ts
Labels: cla-signed

#13009 Remove Restart Moved Tip
  src/panels/config/core/ha-config-system-navigation.ts
Labels: cla-signed

#13023 RTL Fixes
  src/components/chart/ha-chart-base.ts
  src/components/ha-form/ha-form-multi_select.ts
Labels: cla-signed

#13025 Fix demo labels
  demo/src/configs/kernehed/entities.ts
Labels: cla-signed

#12838 Support editable installs
  setup.cfg
Labels: cla-signed

#13011 Fix General Config Zone update on Mobile
  src/panels/config/core/ha-config-section-general.ts
Labels: cla-signed

#12653 Update about page
  src/panels/config/info/ha-config-info.ts
  src/translations/en.json
Labels: cla-signed, Noteworthy

#13024 Add Switch as X Icon and Threshold Icon
  src/common/entity/domain_icon.ts
Labels: cla-signed

#13029 Bumped version to 20220629.0
  pyproject.toml
Labels: cla-signed

#13041 Fix Translation on About Page
  src/panels/config/info/ha-config-info.ts
Labels: cla-signed

#13047 Separate autocomplete-icons from autocomplete-entities
  src/components/ha-code-editor.ts
  src/components/ha-selector/ha-selector-template.ts
  src/components/ha-yaml-editor.ts
  src/panels/config/integrations/integration-panels/mqtt/mqtt-config-panel.ts
  src/panels/developer-tools/template/developer-tools-template.ts
  src/panels/lovelace/editor/hui-element-editor.ts
  src/panels/lovelace/hui-editor.ts
Labels: cla-signed

#13046 Add em dash instead of blank when no fix is needed in statistics
  src/panels/developer-tools/statistics/developer-tools-statistics.ts
Labels: cla-signed

#13051 Beta 1 - Dev into Master
  pyproject.toml
  src/components/ha-code-editor.ts
  src/components/ha-selector/ha-selector-template.ts
  src/components/ha-yaml-editor.ts
  src/panels/config/info/ha-config-info.ts
  src/panels/config/integrations/integration-panels/mqtt/mqtt-config-panel.ts
  src/panels/developer-tools/statistics/developer-tools-statistics.ts
  src/panels/developer-tools/template/developer-tools-template.ts
  src/panels/lovelace/editor/hui-element-editor.ts
  src/panels/lovelace/hui-editor.ts
Labels: cla-signed

#13048 Integrations page: Remove invisible right margin of search bar to remove scroolbar
  src/panels/config/integrations/ha-config-integrations.ts
Labels: cla-signed

#13033 Fix demo labels
  demo/src/configs/kernehed/entities.ts
  demo/src/configs/kernehed/lovelace.ts
Labels: cla-signed

#13053 improve autocompletion
  src/components/ha-code-editor.ts
Labels: cla-signed
