Repository home-assistant/frontend, pull requests merged in 2022-09, with the labels that each got.

#13551 Only update device class if changed by user
  src/panels/config/entities/entity-registry-settings.ts
Labels: cla-signed

#13546 Add semantic heading to script editor
  src/panels/config/script/ha-script-editor.ts
Labels: cla-signed

#13555 Typo on dialogs page
  gallery/src/pages/components/dialogs.markdown
Labels: cla-signed

#13500 Improve delete device button and confirmation dialog
  src/panels/config/devices/ha-config-device-page.ts
  src/translations/en.json
Labels: cla-signed

#13553 Add icon for device class moisture
  src/common/const.ts
Labels: cla-signed

#13556 Fix Sunday issue and add minutes to events
  src/panels/config/helpers/forms/ha-schedule-form.ts
Labels: cla-signed

#13559 Fix Unable to select last slot
  src/panels/config/helpers/forms/ha-schedule-form.ts
Labels: cla-signed

#13560 Bumped version to 20220901.0
  pyproject.toml
Labels: cla-signed

#13561 Dev -> Master 20220901.0
  demo/src/ha-demo.ts
  gallery/src/pages/components/dialogs.markdown
  gallery/src/pages/misc/integration-card.ts
  pyproject.toml
  src/common/const.ts
  src/data/entity_registry.ts
  src/data/script_i18n.ts
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/blueprint-automation-editor.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/automation/manual-automation-editor.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/config/entities/entity-registry-settings.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/helpers/forms/ha-schedule-form.ts
  src/panels/config/script/ha-script-editor.ts
  src/translations/en.json
Labels: cla-signed

#13562 Fix some descriptions
  src/data/automation_i18n.ts
  src/data/script_i18n.ts
Labels: cla-signed, needs design preview

#13569 Add overflow menu to automation picker
  src/components/ha-icon-overflow-menu.ts
  src/panels/config/automation/ha-automation-picker.ts
  src/translations/en.json
Labels: cla-signed

#13564 Improve blueprint editor layout
  src/panels/config/automation/blueprint-automation-editor.ts
  src/panels/config/automation/ha-automation-editor.ts
Labels: cla-signed

#13563 Fix automation trace link
  src/panels/config/automation/ha-automation-editor.ts
Labels: cla-signed

#13567 Align visuals of automation and script editor after redesign
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/panels/config/script/ha-script-editor.ts
Labels: cla-signed

#13571 20220902.0
  pyproject.toml
  src/components/ha-icon-overflow-menu.ts
  src/data/automation_i18n.ts
  src/data/script_i18n.ts
  src/layouts/hass-subpage.ts
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/blueprint-automation-editor.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/panels/config/script/ha-script-editor.ts
  src/translations/en.json
Labels: cla-signed

#13347 Hide soundmode when mediaplayer is off or unavailable
  src/dialogs/more-info/controls/more-info-media_player.ts
Labels: cla-signed

#13434 Add mediadescription for channel media type
  src/data/media-player.ts
Labels: cla-signed

#13575 Align wording in automation and script editor overflow menus
  src/panels/config/script/ha-script-editor.ts
  src/translations/en.json
Labels: cla-signed

#13584 Fix ZHA visualization page
  src/panels/config/integrations/integration-panels/zha/zha-config-dashboard-router.ts
  src/panels/config/integrations/integration-panels/zha/zha-network-visualization-page.ts
Labels: cla-signed

#13580 Move edit description into rename dialog
  src/panels/config/automation/automation-rename-dialog/dialog-automation-rename.ts
  src/panels/config/automation/automation-rename-dialog/show-dialog-automation-rename.ts
  src/panels/config/automation/blueprint-automation-editor.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/automation/manual-automation-editor.ts
  src/translations/en.json
Labels: cla-signed

#13592 Remove tabs from scene and script edit page
  src/panels/config/scene/ha-scene-dashboard.ts
  src/panels/config/scene/ha-scene-editor.ts
  src/panels/config/script/ha-script-editor.ts
  src/panels/config/script/ha-script-picker.ts
  src/translations/en.json
Labels: cla-signed

#13588 Fix tag trigger
  src/panels/config/automation/trigger/types/ha-automation-trigger-tag.ts
Labels: cla-signed

#13589 only show cpu and mem when available
  src/panels/config/hardware/ha-config-hardware.ts
Labels: cla-signed

#13548 Reorder automation elements
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/action/ha-automation-action.ts
  src/panels/config/automation/action/types/ha-automation-action-choose.ts
  src/panels/config/automation/action/types/ha-automation-action-if.ts
  src/panels/config/automation/action/types/ha-automation-action-parallel.ts
  src/panels/config/automation/action/types/ha-automation-action-repeat.ts
  src/panels/config/automation/condition/ha-automation-condition-editor.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/panels/config/automation/condition/ha-automation-condition.ts
  src/panels/config/automation/condition/types/ha-automation-condition-logical.ts
  src/panels/config/automation/manual-automation-editor.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/panels/config/automation/trigger/ha-automation-trigger.ts
Labels: cla-signed

#13590 Add back blank before percent sign ("%") based on language
  src/common/entity/compute_state_display.ts
  src/common/translations/blank_before_percent.ts
  src/components/ha-gauge.ts
Labels: cla-signed

#13597 On larger screens, move traces button out of the overflow menu
  src/panels/config/automation/ha-automation-editor.ts
Labels: cla-signed

#13595 Handle logbook updates where the new records are in the middle of the old records
  src/panels/logbook/ha-logbook.ts
Labels: cla-signed

#13598 typo dialogs
  gallery/src/pages/components/dialogs.markdown
Labels: cla-signed

#13600 Remove tabs from area and device pages
  src/panels/config/areas/ha-config-area-page.ts
  src/panels/config/devices/ha-config-device-page.ts
Labels: cla-signed

#13596 Reorder overflow menu
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/automation/manual-automation-editor.ts
  src/translations/en.json
Labels: cla-signed

#13602 Disable close on outside click for rename + mode dialogs
  src/panels/config/automation/automation-mode-dialog/dialog-automation-mode.ts
  src/panels/config/automation/automation-rename-dialog/dialog-automation-rename.ts
Labels: cla-signed

#13593 Add remove, delete, add and create guidelines
  gallery/src/pages/Text/remove-delete-add-create.markdown
Labels: cla-signed, needs design preview

#13603 Add description to automation editor
  src/panels/config/automation/blueprint-automation-editor.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/automation/manual-automation-editor.ts
Labels: cla-signed

#13587 Fix icon picker reset by hass update
  src/components/ha-icon-picker.ts
Labels: cla-signed

#13599 Link logbook row to trace if available
  src/panels/logbook/ha-logbook-renderer.ts
Labels: cla-signed

#13601 Improve rename automation dialog
  src/panels/config/automation/automation-rename-dialog/dialog-automation-rename.ts
  src/panels/config/automation/ha-automation-editor.ts
Labels: cla-signed

#13604 20220905.0
  gallery/src/pages/Text/remove-delete-add-create.markdown
  gallery/src/pages/components/dialogs.markdown
  pyproject.toml
  src/common/entity/compute_state_display.ts
  src/common/translations/blank_before_percent.ts
  src/components/ha-gauge.ts
  src/components/ha-icon-picker.ts
  src/data/automation.ts
  src/data/media-player.ts
  src/dialogs/more-info/controls/more-info-media_player.ts
  src/panels/config/areas/ha-config-area-page.ts
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/action/ha-automation-action.ts
  src/panels/config/automation/action/types/ha-automation-action-choose.ts
  src/panels/config/automation/action/types/ha-automation-action-if.ts
  src/panels/config/automation/action/types/ha-automation-action-parallel.ts
  src/panels/config/automation/action/types/ha-automation-action-repeat.ts
  src/panels/config/automation/automation-mode-dialog/dialog-automation-mode.ts
  src/panels/config/automation/automation-mode-dialog/show-dialog-automation-mode.ts
  src/panels/config/automation/automation-rename-dialog/dialog-automation-rename.ts
  src/panels/config/automation/automation-rename-dialog/show-dialog-automation-rename.ts
  src/panels/config/automation/blueprint-automation-editor.ts
  src/panels/config/automation/condition/ha-automation-condition-editor.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/panels/config/automation/condition/ha-automation-condition.ts
  src/panels/config/automation/condition/types/ha-automation-condition-logical.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/automation/manual-automation-editor.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/panels/config/automation/trigger/ha-automation-trigger.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-tag.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/config/ha-panel-config.ts
  src/panels/config/hardware/ha-config-hardware.ts
  src/panels/config/integrations/integration-panels/zha/zha-config-dashboard-router.ts
  src/panels/config/integrations/integration-panels/zha/zha-network-visualization-page.ts
  src/panels/config/scene/ha-scene-dashboard.ts
  src/panels/config/scene/ha-scene-editor.ts
  src/panels/config/script/ha-script-editor.ts
  src/panels/config/script/ha-script-picker.ts
  src/panels/logbook/ha-logbook-renderer.ts
  src/panels/logbook/ha-logbook.ts
  src/translations/en.json
Labels: cla-signed

#13608 Prevent combo box issues with duplicate labels
  package.json
  yarn.lock
Labels: cla-signed

#13609 dont remove id from automation config
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/hardware/ha-config-hardware.ts
Labels: cla-signed

#13611 Fix netlify demo deploy
  .github/workflows/demo.yaml
Labels: cla-signed

#13616 Fix icon picker in dialog
  src/components/ha-icon-picker.ts
Labels: cla-signed

#13614 Fetch OS info from Supervisor if we do not return anything for hardware
  src/panels/config/hardware/ha-config-hardware.ts
Labels: cla-signed

#13613 Open external device configuration url to a new tab/window
  src/panels/config/devices/ha-config-device-page.ts
Labels: cla-signed

#13619 Avoid script editor dirty on load
  src/panels/config/script/ha-script-editor.ts
Labels: cla-signed

#13621 Add overflow menu for scene picker
  src/panels/config/scene/ha-scene-dashboard.ts
  src/translations/en.json
Labels: cla-signed

#13620 Add overflow menu for script picker
  src/data/script.ts
  src/layouts/hass-tabs-subpage-data-table.ts
  src/panels/config/script/ha-script-editor.ts
  src/panels/config/script/ha-script-picker.ts
  src/translations/en.json
Labels: cla-signed

#13622 Add last activated column to scenes data table
  src/panels/config/scene/ha-scene-dashboard.ts
  src/translations/en.json
Labels: cla-signed

#13626 Fix run script translation
  src/translations/en.json
Labels: cla-signed

#13633 Fix Back button on Safari and disable information menu item until saved
  src/panels/config/automation/ha-automation-editor.ts
Labels: cla-signed

#13635 Some fixes for script picker and editor
  src/panels/config/script/blueprint-script-editor.ts
  src/panels/config/script/ha-script-editor.ts
  src/panels/config/script/ha-script-picker.ts
  src/translations/en.json
Labels: cla-signed

#13634 Some fixes for automation picker and editor
  src/components/ha-icon-overflow-menu.ts
  src/data/automation.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/automation/ha-automation-picker.ts
  src/translations/en.json
Labels: cla-signed

#13637 Remove re order mode for blueprint automation editor
  src/panels/config/automation/ha-automation-editor.ts
Labels: cla-signed

#13636 Bring reorder mode to script sequence
  src/panels/config/automation/manual-automation-editor.ts
  src/panels/config/script/ha-script-editor.ts
  src/panels/config/script/manual-script-editor.ts
Labels: cla-signed

#13641 Improve scene layout
  src/panels/config/ha-config-section.ts
  src/panels/config/scene/ha-scene-editor.ts
Labels: cla-signed

#13627 Add separator option to overflow icon menu
  src/components/ha-icon-overflow-menu.ts
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/scene/ha-scene-dashboard.ts
  src/panels/config/script/ha-script-picker.ts
Labels: cla-signed

#13640 remove tabs from trace pages
  src/panels/config/automation/ha-automation-trace.ts
  src/panels/config/script/ha-script-trace.ts
  src/translations/en.json
Labels: cla-signed

#13639 cleanup script editor
  src/panels/config/script/ha-script-editor.ts
  src/translations/en.json
Labels: cla-signed

#13644 Fix state picker
  src/common/entity/get_states.ts
  src/components/entity/ha-entity-state-picker.ts
Labels: cla-signed

#13646 20220907.0
  pyproject.toml
  src/common/entity/get_states.ts
  src/components/entity/ha-entity-state-picker.ts
  src/components/ha-icon-overflow-menu.ts
  src/data/automation.ts
  src/data/zwave_js.ts
  src/dialogs/more-info/controls/more-info-climate.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/automation/ha-automation-trace.ts
  src/panels/config/automation/manual-automation-editor.ts
  src/panels/config/ha-config-section.ts
  src/panels/config/scene/ha-scene-dashboard.ts
  src/panels/config/scene/ha-scene-editor.ts
  src/panels/config/script/blueprint-script-editor.ts
  src/panels/config/script/ha-script-editor.ts
  src/panels/config/script/ha-script-picker.ts
  src/panels/config/script/ha-script-trace.ts
  src/panels/config/script/manual-script-editor.ts
  src/translations/en.json
Labels: cla-signed

#13650 Guard more of the hardware panel
  src/panels/config/hardware/ha-config-hardware.ts
Labels: cla-signed

#13656 Move automation trace actions to overflow menu
  src/panels/config/automation/ha-automation-trace.ts
  src/panels/config/script/ha-script-trace.ts
Labels: cla-signed

#13658 Don't call deprecated history/* statistics API
  src/data/history.ts
Labels: cla-signed

#13585 Add support for subscribing to config entry changes
  src/data/config_entries.ts
  src/dialogs/config-entry-system-options/dialog-config-entry-system-options.ts
  src/dialogs/config-entry-system-options/show-dialog-config-entry-system-options.ts
  src/panels/config/integrations/ha-config-integrations.ts
  src/panels/config/integrations/ha-integration-card.ts
Labels: cla-signed

#13668 Use newspaper icon for change log button
  src/panels/config/info/ha-config-info.ts
Labels: cla-signed

#13672 Move recorder statistics API to data/recorder.ts
  demo/src/stubs/history.ts
  src/components/chart/statistics-chart.ts
  src/components/entity/ha-statistic-picker.ts
  src/data/energy.ts
  src/data/history.ts
  src/data/recorder.ts
  src/panels/config/energy/components/ha-energy-battery-settings.ts
  src/panels/config/energy/components/ha-energy-device-settings.ts
  src/panels/config/energy/components/ha-energy-gas-settings.ts
  src/panels/config/energy/components/ha-energy-grid-settings.ts
  src/panels/config/energy/components/ha-energy-solar-settings.ts
  src/panels/config/energy/ha-config-energy.ts
  src/panels/developer-tools/statistics/developer-tools-statistics.ts
  src/panels/developer-tools/statistics/dialog-statistics-adjust-sum.ts
  src/panels/developer-tools/statistics/dialog-statistics-fix-units-changed.ts
  src/panels/developer-tools/statistics/dialog-statistics-fix-unsupported-unit-meta.ts
  src/panels/developer-tools/statistics/show-dialog-statistics-adjust-sum.ts
  src/panels/developer-tools/statistics/show-dialog-statistics-fix-units-changed.ts
  src/panels/developer-tools/statistics/show-dialog-statistics-fix-unsupported-unit-meta.ts
  src/panels/lovelace/cards/energy/hui-energy-carbon-consumed-gauge-card.ts
  src/panels/lovelace/cards/energy/hui-energy-devices-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-distribution-card.ts
  src/panels/lovelace/cards/energy/hui-energy-gas-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-grid-neutrality-gauge-card.ts
  src/panels/lovelace/cards/energy/hui-energy-solar-consumed-gauge-card.ts
  src/panels/lovelace/cards/energy/hui-energy-solar-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-sources-table-card.ts
  src/panels/lovelace/cards/energy/hui-energy-usage-graph-card.ts
  src/panels/lovelace/cards/hui-statistics-graph-card.ts
  src/panels/lovelace/cards/types.ts
Labels: cla-signed

#13699 Fix empty value for state picker
  src/components/entity/ha-entity-state-picker.ts
Labels: cla-signed

#13696 Display entity friendly name for disabled entities
  src/data/entity_registry.ts
Labels: cla-signed

#13703 Fix script config editor
  src/panels/config/script/ha-script-editor.ts
Labels: cla-signed

#13706 Revert "Either show range or fix target temperature... #13638
  src/dialogs/more-info/controls/more-info-climate.ts
Labels: cla-signed

#13710 Fix customizing sensor unit
  src/panels/config/entities/entity-registry-settings.ts
Labels: cla-signed

#13708 Guard repairs subscription
  src/components/ha-sidebar.ts
Labels: cla-signed

#13702 Fix rtl support for hass subpage layout
  src/layouts/hass-subpage.ts
Labels: cla-signed

#13705 Don't use selector inside choose action
  src/panels/config/automation/action/types/ha-automation-action-choose.ts
Labels: cla-signed

#13720 Fix open config flow when coming from a my link
  src/panels/config/integrations/ha-config-integrations.ts
Labels: cla-signed

#13716 Show confirm dialog when clicking traces
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/script/ha-script-editor.ts
Labels: cla-signed

#13717 fix: add previous repeat action configuration on change
  src/panels/config/automation/action/types/ha-automation-action-repeat.ts
Labels: cla-signed

#13718 Bump hls.js to v1.2.3
  package.json
  yarn.lock
Labels: cla-signed

#13723 improve duration rendering for state trigger
  src/data/automation_i18n.ts
Labels: cla-signed

#13722 use the correct inputmode
  src/components/ha-selector/ha-selector-number.ts
Labels: cla-signed

#13713 Revert "Add initial field to the helper input_number in UI"
  src/panels/config/helpers/forms/ha-input_number-form.ts
  src/translations/en.json
Labels: cla-signed

#13730 Fix hass subpage
  src/layouts/hass-subpage.ts
Labels: cla-signed

#13731 Fix system blank page
  src/panels/config/core/ha-config-system-navigation.ts
Labels: cla-signed

#13738 Fix empty hardware when fetching hardware info
  src/panels/config/core/ha-config-system-navigation.ts
Labels: cla-signed

#13744 Improve light entity definition
  gallery/src/pages/more-info/light.ts
  src/data/light.ts
  src/dialogs/more-info/controls/more-info-light.ts
  src/panels/lovelace/cards/hui-light-card.ts
Labels: cla-signed

#13618 Allow to disable a select option
  gallery/src/pages/components/ha-selector.ts
  src/components/ha-formfield.ts
  src/components/ha-selector/ha-selector-select.ts
  src/data/selector.ts
Labels: cla-signed, needs design preview

#13750 Improve cover entity definition
  gallery/src/pages/more-info/cover.ts
  src/common/entity/feature_class_names.ts
  src/components/ha-cover-controls.ts
  src/components/ha-cover-tilt-controls.ts
  src/data/cover.ts
  src/dialogs/more-info/controls/more-info-cover.ts
Labels: cla-signed

#13617 Improve `StatisticsChart` to only fetch needed metadata
  src/components/chart/statistics-chart.ts
  src/panels/lovelace/cards/energy/hui-energy-sources-table-card.ts
Labels: cla-signed

#13761 Update delete user dialog
  src/dialogs/generic/dialog-box.ts
  src/dialogs/generic/show-dialog-box.ts
  src/panels/config/users/ha-config-users.ts
  src/translations/en.json
Labels: cla-signed

#13751 Do not recreate entities list at each re-order
  src/panels/lovelace/components/hui-entity-editor.ts
  src/panels/lovelace/editor/hui-entities-card-row-editor.ts
Labels: cla-signed

#13760 Use primary color for active tabs in traces
  src/components/trace/trace-tab-styles.ts
Labels: cla-signed

#13759 Exclude scenes, schedules & updates from scenes
  src/data/scene.ts
Labels: cla-signed

#13758 Add comment about input number not supporting initial
  src/panels/config/helpers/forms/ha-input_number-form.ts
Labels: cla-signed

#13762 Update delete dashboard dialog
  src/panels/config/lovelace/dashboards/ha-config-lovelace-dashboards.ts
  src/translations/en.json
Labels: cla-signed

#13630 Improve statistics graph editor
  src/components/entity/ha-statistic-picker.ts
  src/components/entity/ha-statistics-picker.ts
  src/data/recorder.ts
  src/panels/lovelace/editor/config-elements/hui-statistics-graph-card-editor.ts
Labels: cla-signed

#13777 Update reboot shutdown host dialog
  src/panels/config/hardware/ha-config-hardware.ts
  src/translations/en.json
Labels: cla-signed

#13776 Update restart Home Assistant dialog
  src/panels/config/core/ha-config-system-navigation.ts
  src/translations/en.json
Labels: cla-signed

#13774 Update webhook dialog
  src/panels/config/cloud/dialog-manage-cloudhook/dialog-manage-cloudhook.ts
  src/translations/en.json
Labels: cla-signed

#13772 Update delete and disable integration dialog
  src/panels/config/integrations/ha-integration-card.ts
  src/translations/en.json
Labels: cla-signed

#13767 Update delete scene dialog
  src/panels/config/scene/ha-scene-dashboard.ts
  src/panels/config/scene/ha-scene-editor.ts
  src/translations/en.json
Labels: cla-signed

#13763 Update delete person dialog
  src/panels/config/person/ha-config-person.ts
  src/translations/en.json
Labels: cla-signed

#13773 Update certificate information dialog
  src/panels/config/cloud/dialog-cloud-certificate/dialog-cloud-certificate.ts
Labels: cla-signed

#13770 Update delete blueprint dialog
  src/panels/config/blueprint/ha-blueprint-overview.ts
  src/translations/en.json
Labels: cla-signed

#13768 Update delete script dialog
  src/panels/config/script/ha-script-editor.ts
  src/panels/config/script/ha-script-picker.ts
  src/translations/en.json
Labels: cla-signed

#13806 Fix back button on automation editor on Safari
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/script/ha-script-editor.ts
Labels: cla-signed

#13788 Add timer states to state selector
  src/common/entity/get_states.ts
Labels: cla-signed

#13190 Fix shortcuts for non-qwerty keyboard layouts (revert #12892)
  src/state/quick-bar-mixin.ts
Labels: cla-signed

#13807 Improve confirm unsaved dialog
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/scene/ha-scene-editor.ts
  src/panels/config/script/ha-script-editor.ts
  src/translations/en.json
Labels: cla-signed

#13814 Add destructive style to scene delete button
  src/panels/config/scene/ha-scene-dashboard.ts
Labels: cla-signed

#13813 Update Delete automation trigger/condition/action dialog
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/translations/en.json
Labels: cla-signed

#13815 Fix name in confirmation delete dialog
  src/panels/config/blueprint/ha-blueprint-overview.ts
  src/panels/config/scene/ha-scene-editor.ts
  src/panels/config/script/ha-script-picker.ts
Labels: cla-signed

#13812 Update Move datadisk (not found) dialog
  src/panels/config/storage/dialog-move-datadisk.ts
  src/translations/en.json
Labels: cla-signed

#13779 Adapt energy to core changes
  src/data/energy.ts
  src/data/recorder.ts
  src/panels/developer-tools/statistics/dialog-statistics-adjust-sum.ts
  src/panels/lovelace/cards/energy/hui-energy-devices-graph-card.ts
Labels: cla-signed, wait for backend

#13830 Fix unit columns for statistics developer tool
  src/panels/developer-tools/statistics/developer-tools-statistics.ts
Labels: cla-signed

#13824 Fix price units for gas
  src/components/ha-textfield.ts
  src/data/energy.ts
  src/panels/config/energy/components/ha-energy-battery-settings.ts
  src/panels/config/energy/components/ha-energy-device-settings.ts
  src/panels/config/energy/components/ha-energy-gas-settings.ts
  src/panels/config/energy/components/ha-energy-grid-settings.ts
  src/panels/config/energy/components/ha-energy-solar-settings.ts
  src/panels/config/energy/components/ha-energy-validation-result.ts
  src/panels/config/energy/dialogs/dialog-energy-gas-settings.ts
  src/panels/config/energy/dialogs/show-dialogs-energy.ts
  src/panels/config/energy/ha-config-energy.ts
Labels: cla-signed

#13836 Add missing translations to statistics graph card editor
  src/panels/lovelace/editor/config-elements/hui-statistics-graph-card-editor.ts
  src/translations/en.json
Labels: cla-signed

#13826 Add navigation picker for dashboards
  src/common/string/title-case.ts
  src/components/ha-navigation-picker.ts
  src/components/ha-selector/ha-selector-navigation.ts
  src/components/ha-selector/ha-selector.ts
  src/data/selector.ts
  src/panels/lovelace/components/hui-action-editor.ts
  src/panels/lovelace/editor/config-elements/hui-area-card-editor.ts
Labels: cla-signed

#13159 Prompt user to remove application credentials when deleting the integration configuration
  src/data/application_credential.ts
  src/panels/config/integrations/ha-integration-card.ts
  src/translations/en.json
Labels: cla-signed

#13845 Fix move data disk dialog
  src/panels/config/storage/dialog-move-datadisk.ts
Labels: cla-signed

#13839 Fix select issues
  src/components/ha-selector/ha-selector-select.ts
Labels: cla-signed

#13842 Allow proxy in codespaces env for core
  script/core
Labels: cla-signed

#13765 Update delete automation dialog
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/automation/ha-automation-picker.ts
  src/translations/en.json
Labels: cla-signed

#13846 Simplify energy settings
  demo/src/stubs/energy.ts
  src/data/energy.ts
  src/panels/config/energy/dialogs/dialog-energy-gas-settings.ts
  src/panels/config/energy/dialogs/dialog-energy-grid-flow-settings.ts
Labels: cla-signed

#13879 Update add application credentials dialog
  src/panels/config/application_credentials/dialog-add-application-credential.ts
  src/translations/en.json
Labels: cla-signed

#13886 Add unique_id to entity registry
  demo/src/ha-demo.ts
  gallery/src/pages/misc/integration-card.ts
  src/data/entity_registry.ts
  src/panels/config/entities/ha-config-entities.ts
Labels: cla-signed

#13859 Fix more info with unnamed entity
  src/dialogs/more-info/ha-more-info-dialog.ts
Labels: cla-signed

#13878 Fix script config form
  src/panels/config/script/ha-script-editor.ts
Labels: cla-signed

#13610 Clean up ZHA configuration UI
  src/data/zha.ts
  src/panels/config/devices/device-detail/integration-elements/zha/device-actions.ts
  src/panels/config/devices/device-detail/integration-elements/zha/ha-device-info-zha.ts
  src/panels/config/integrations/integration-panels/zha/dialog-zha-cluster.ts
  src/panels/config/integrations/integration-panels/zha/dialog-zha-device-zigbee-info.ts
  src/panels/config/integrations/integration-panels/zha/dialog-zha-manage-zigbee-device.ts
  src/panels/config/integrations/integration-panels/zha/dialog-zha-reconfigure-device.ts
  src/panels/config/integrations/integration-panels/zha/show-dialog-zha-cluster.ts
  src/panels/config/integrations/integration-panels/zha/show-dialog-zha-device-children.ts
  src/panels/config/integrations/integration-panels/zha/show-dialog-zha-device-zigbee-info.ts
  src/panels/config/integrations/integration-panels/zha/show-dialog-zha-manage-zigbee-device.ts
  src/panels/config/integrations/integration-panels/zha/types.ts
  src/panels/config/integrations/integration-panels/zha/zha-cluster-attributes.ts
  src/panels/config/integrations/integration-panels/zha/zha-cluster-commands.ts
  src/panels/config/integrations/integration-panels/zha/zha-clusters-data-table.ts
  src/panels/config/integrations/integration-panels/zha/zha-clusters.ts
  src/panels/config/integrations/integration-panels/zha/zha-device-binding.ts
  src/panels/config/integrations/integration-panels/zha/zha-device-children.ts
  src/panels/config/integrations/integration-panels/zha/zha-device-signature.ts
  src/panels/config/integrations/integration-panels/zha/zha-group-binding.ts
  src/panels/config/integrations/integration-panels/zha/zha-manage-clusters.ts
  src/translations/en.json
Labels: cla-signed

#13747 Prevent re-creation of custom panel when content was not changed
  src/data/entity_registry.ts
  src/panels/custom/ha-panel-custom.ts
Labels: cla-signed

#13833 Add support for overriding sensor volume unit
  src/panels/config/entities/entity-registry-settings.ts
Labels: cla-signed

#13832 Add support for overriding sensor speed unit
  src/panels/config/entities/entity-registry-settings.ts
Labels: cla-signed

#13831 Add support for overriding sensor distance unit
  src/panels/config/entities/entity-registry-settings.ts
Labels: cla-signed

#13884 fixed duplicate unit_of_measurement
  gallery/src/pages/more-info/input-number.markdown
  gallery/src/pages/more-info/input-number.ts
  src/state-summary/state-card-input_number.js
Labels: cla-signed, needs design preview

#13888 Update change password dialog
  src/panels/config/person/dialog-person-detail.ts
  src/panels/config/users/dialog-admin-change-password.ts
  src/panels/config/users/dialog-user-detail.ts
  src/panels/config/users/show-dialog-admin-change-password.ts
  src/translations/en.json
Labels: cla-signed

#13896 Update Restart add-on dialog
  hassio/src/dialogs/suggestAddonRestart.ts
  src/translations/en.json
Labels: cla-signed

#13876 Bug Fix, can't create schedule on Sunday
  src/panels/config/helpers/forms/ha-schedule-form.ts
Labels: cla-signed

#13847 Update join beta dialog
  hassio/src/system/hassio-supervisor-info.ts
  src/panels/config/core/ha-config-section-updates.ts
  src/panels/config/core/updates/dialog-join-beta.ts
  src/panels/config/core/updates/show-dialog-join-beta.ts
  src/translations/en.json
Labels: cla-signed

#13897 Add support for overriding sensor weight unit
  src/panels/config/entities/entity-registry-settings.ts
Labels: cla-signed, wait for backend

#13895 Add icons for new sensor device classes
  src/common/const.ts
Labels: cla-signed

#13837 Support displaying relative change in statistics graph cards
  src/components/chart/statistics-chart.ts
  src/data/recorder.ts
  src/panels/lovelace/cards/hui-statistics-graph-card.ts
  src/panels/lovelace/editor/config-elements/hui-statistics-graph-card-editor.ts
  src/translations/en.json
Labels: cla-signed

#13693 Add Learn how it works link to cloud account
  src/panels/config/cloud/account/cloud-alexa-pref.ts
  src/panels/config/cloud/account/cloud-google-pref.ts
  src/panels/config/cloud/account/cloud-remote-pref.ts
  src/panels/config/cloud/alexa/cloud-alexa.ts
  src/panels/config/cloud/google-assistant/cloud-google-assistant.ts
  src/translations/en.json
Labels: cla-signed

#13825 Prevent service call error if preset_mode is null
  src/dialogs/more-info/controls/more-info-climate.ts
Labels: cla-signed

#13512 Add stream orientation to camera entity registry settings
  src/data/camera.ts
  src/panels/config/entities/entity-registry-settings.ts
  src/translations/en.json
Labels: cla-signed

#13902 add support for stats `units_changed_can_convert` issues
  src/data/recorder.ts
  src/panels/developer-tools/statistics/developer-tools-statistics.ts
  src/panels/developer-tools/statistics/dialog-statistics-fix-units-changed.ts
  src/panels/developer-tools/statistics/show-dialog-statistics-fix-units-changed.ts
  src/translations/en.json
Labels: cla-signed

#13907 hide none config flow integrations from brand
  src/panels/config/integrations/dialog-add-integration.ts
  src/panels/config/integrations/ha-domain-integrations.ts
Labels: cla-signed

#13909 Add `my` support for brands
  src/panels/config/integrations/dialog-add-integration.ts
  src/panels/config/integrations/ha-config-integrations.ts
  src/panels/config/integrations/show-add-integration-dialog.ts
  src/panels/my/ha-panel-my.ts
Labels: cla-signed

#13903 change values when unsupported_unit_metadata_can_convert
  src/data/recorder.ts
  src/panels/developer-tools/statistics/developer-tools-statistics.ts
  src/panels/developer-tools/statistics/dialog-statistics-fix-unsupported-unit-meta.ts
  src/panels/developer-tools/statistics/show-dialog-statistics-fix-unsupported-unit-meta.ts
Labels: cla-signed

#13916 Hide restored scripts from scripts list
  src/panels/config/script/ha-config-script.ts
Labels: cla-signed

#13900 Show non-editable automations in UI
  gallery/src/pages/automation/editor-action.ts
  gallery/src/pages/automation/editor-condition.ts
  gallery/src/pages/automation/editor-trigger.ts
  src/components/entity/ha-entity-picker.ts
  src/components/ha-service-control.ts
  src/components/ha-service-picker.ts
  src/data/automation.ts
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/action/ha-automation-action.ts
  src/panels/config/automation/action/types/ha-automation-action-activate_scene.ts
  src/panels/config/automation/action/types/ha-automation-action-choose.ts
  src/panels/config/automation/action/types/ha-automation-action-condition.ts
  src/panels/config/automation/action/types/ha-automation-action-delay.ts
  src/panels/config/automation/action/types/ha-automation-action-device_id.ts
  src/panels/config/automation/action/types/ha-automation-action-event.ts
  src/panels/config/automation/action/types/ha-automation-action-if.ts
  src/panels/config/automation/action/types/ha-automation-action-parallel.ts
  src/panels/config/automation/action/types/ha-automation-action-play_media.ts
  src/panels/config/automation/action/types/ha-automation-action-repeat.ts
  src/panels/config/automation/action/types/ha-automation-action-service.ts
  src/panels/config/automation/action/types/ha-automation-action-stop.ts
  src/panels/config/automation/action/types/ha-automation-action-wait_for_trigger.ts
  src/panels/config/automation/action/types/ha-automation-action-wait_template.ts
  src/panels/config/automation/blueprint-automation-editor.ts
  src/panels/config/automation/condition/ha-automation-condition-editor.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/panels/config/automation/condition/ha-automation-condition.ts
  src/panels/config/automation/condition/types/ha-automation-condition-device.ts
  src/panels/config/automation/condition/types/ha-automation-condition-logical.ts
  src/panels/config/automation/condition/types/ha-automation-condition-numeric_state.ts
  src/panels/config/automation/condition/types/ha-automation-condition-state.ts
  src/panels/config/automation/condition/types/ha-automation-condition-sun.ts
  src/panels/config/automation/condition/types/ha-automation-condition-template.ts
  src/panels/config/automation/condition/types/ha-automation-condition-time.ts
  src/panels/config/automation/condition/types/ha-automation-condition-trigger.ts
  src/panels/config/automation/condition/types/ha-automation-condition-zone.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/automation/ha-config-automation.ts
  src/panels/config/automation/manual-automation-editor.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/panels/config/automation/trigger/ha-automation-trigger.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-calendar.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-device.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-event.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-geo_location.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-homeassistant.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-mqtt.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-numeric_state.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-state.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-sun.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-tag.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-template.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-time.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-time_pattern.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-webhook.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-zone.ts
  src/translations/en.json
Labels: cla-signed

#13917 Show non-editable scripts in UI
  src/data/script.ts
  src/panels/config/script/blueprint-script-editor.ts
  src/panels/config/script/ha-config-script.ts
  src/panels/config/script/ha-script-editor.ts
  src/panels/config/script/ha-script-picker.ts
  src/panels/config/script/manual-script-editor.ts
  src/translations/en.json
Labels: cla-signed

#13919 Add back loading manifests of loaded integrations
  src/panels/config/integrations/ha-config-integrations.ts
Labels: cla-signed
