Repository home-assistant/frontend, pull requests merged in 2022-11, with the labels that each got.

#14257 Set default unit for US unit system to gl instead of ft3
  src/translations/en.json
Labels: cla-signed

#14251 Fix back button on subview
  src/panels/lovelace/hui-root.ts
Labels: cla-signed

#14250 Audio message trash fix
  src/panels/mailbox/ha-dialog-show-audio-message.js
Labels: cla-signed

#14256 Fix dialog resizing
  src/dialogs/more-info/ha-more-info-dialog.ts
Labels: cla-signed

#14259 20221102.0
  pyproject.toml
  src/dialogs/more-info/ha-more-info-dialog.ts
  src/panels/lovelace/hui-root.ts
  src/panels/mailbox/ha-dialog-show-audio-message.js
  src/translations/en.json
Labels: cla-signed

#14261 Fix iOS safe padding
  src/layouts/ha-app-layout.js
Labels: cla-signed

#14262 Fix statistic card default config
  src/panels/lovelace/cards/hui-statistic-card.ts
  src/panels/lovelace/cards/types.ts
Labels: cla-signed

#14263 Fix water costs
  src/data/energy.ts
Labels: cla-signed

#14264 20221102.1
  src/auth/ha-password-manager-polyfill.ts
  src/components/ha-form/ha-form-string.ts
  src/components/ha-form/ha-form.ts
  src/components/ha-selector/ha-selector-text.ts
  src/components/ha-selector/ha-selector.ts
  src/data/energy.ts
  src/layouts/ha-app-layout.js
  src/panels/config/cloud/login/cloud-login.ts
  src/panels/config/cloud/register/cloud-register.ts
  src/panels/config/users/dialog-admin-change-password.ts
  src/panels/lovelace/cards/hui-statistic-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/profile/ha-change-password-card.ts
Labels: cla-signed

#14273 Hide legend for stats chart in more info, only shade area for min and…
  src/components/chart/statistics-chart.ts
  src/dialogs/more-info/ha-more-info-history.ts
Labels: cla-signed

#14267 Lovelace to dashboard
  src/panels/lovelace/hui-root.ts
Labels: cla-signed

#14268 Rename disabled attribute on integration card
  gallery/src/pages/misc/integration-card.ts
  src/panels/config/integrations/ha-config-integrations.ts
  src/panels/config/integrations/ha-integration-card.ts
Labels: cla-signed

#14322 Make borders for discovery card header seamless
  src/panels/config/integrations/ha-integration-header.ts
Labels: cla-signed

#14320 Search for boards explicitly in the return value of `hardware/info`
  src/panels/config/core/ha-config-system-navigation.ts
  src/panels/config/hardware/ha-config-hardware.ts
Labels: cla-signed

#14283 Fix expansion of all tabs in more info dialogs
  src/dialogs/more-info/ha-more-info-dialog.ts
Labels: cla-signed

#14332 20221108.0
  gallery/src/pages/misc/integration-card.ts
  pyproject.toml
  src/components/chart/statistics-chart.ts
  src/dialogs/more-info/ha-more-info-dialog.ts
  src/dialogs/more-info/ha-more-info-history.ts
  src/panels/config/core/ha-config-system-navigation.ts
  src/panels/config/hardware/ha-config-hardware.ts
  src/panels/config/integrations/ha-config-integrations.ts
  src/panels/config/integrations/ha-integration-card.ts
  src/panels/config/integrations/ha-integration-header.ts
  src/panels/lovelace/hui-root.ts
Labels: cla-signed

#14334 Fix config entry selector import
  src/components/ha-selector/ha-selector.ts
Labels: cla-signed

#14281 Add `hardware` as a config flow discovery source
  src/data/config_flow.ts
Labels: cla-signed

#14321 Use light color for tile card
  src/panels/lovelace/cards/hui-tile-card.ts
Labels: cla-signed

#14330 Use entity based color for state history
  src/common/entity/state_active.ts
  src/common/entity/state_color.ts
  src/components/chart/state-history-chart-timeline.ts
  src/dialogs/more-info/ha-more-info-logbook.ts
  src/panels/logbook/ha-logbook-renderer.ts
  src/panels/logbook/ha-logbook.ts
Labels: cla-signed

#13970 Convert units in statistics graph card
  src/components/chart/statistics-chart.ts
  src/components/ha-form/ha-form.ts
  src/components/ha-form/types.ts
  src/panels/lovelace/cards/hui-statistics-graph-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/editor/config-elements/hui-statistics-graph-card-editor.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed, hacktoberfest-accepted

#14369 Fix color_rgb and color_temp selector import
  src/components/ha-selector/ha-selector.ts
Labels: cla-signed

#14374 fix: don't render extra fields when there are none
  src/panels/config/automation/action/types/ha-automation-action-device_id.ts
Labels: cla-signed

#14342 Bump hls.js to v1.2.5
  package.json
  yarn.lock
Labels: cla-signed

#14360 Add locking, unlocking, and jammed states to logbook
  src/data/logbook.ts
  src/translations/en.json
Labels: cla-signed

#14359 Fix logbook reporting unknown states as unavailable
  src/data/logbook.ts
  src/translations/en.json
Labels: cla-signed

#14383 Select suggested area for device during config flow
  src/dialogs/config-flow/step-flow-create-entry.ts
Labels: cla-signed

#14382 Capatalize Earth
  src/translations/en.json
Labels: cla-signed

#14377 Fix selecting YAML only integrations in submenus
  src/panels/config/integrations/ha-domain-integrations.ts
Labels: cla-signed

#14395 Dont use lovelace in new dashboard urls
  src/panels/config/lovelace/dashboards/dialog-lovelace-dashboard-detail.ts
Labels: cla-signed

#14396 Add change option to statistics chart
  src/components/chart/statistics-chart.ts
  src/components/ha-selector/ha-selector-select.ts
  src/panels/lovelace/cards/hui-statistics-graph-card.ts
  src/panels/lovelace/editor/config-elements/hui-statistics-graph-card-editor.ts
  src/translations/en.json
Labels: cla-signed

#14341 Fix entity active states
  src/common/entity/state_active.ts
Labels: cla-signed

#14408 Bump @vaadin to 23.2.9
  package.json
  yarn.lock
Labels: cla-signed

#14423 Don't fetch unneeded statistics from core
  demo/src/stubs/recorder.ts
  src/components/chart/statistics-chart.ts
  src/data/energy.ts
  src/data/recorder.ts
  src/dialogs/more-info/ha-more-info-history.ts
  src/panels/lovelace/cards/energy/hui-energy-devices-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-gas-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-solar-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-usage-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-water-graph-card.ts
  src/panels/lovelace/cards/hui-statistics-graph-card.ts
Labels: cla-signed

#14424 Fix closed cover state
  src/common/entity/state_active.ts
Labels: cla-signed

#14244 Add cover and light controls to tile card
  src/components/ha-bar-slider.ts
  src/components/ha-cover-controls.ts
  src/components/ha-cover-tilt-controls.ts
  src/components/tile/ha-tile-button.ts
  src/data/cover.ts
  src/panels/lovelace/cards/hui-tile-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/create-element/create-element-base.ts
  src/panels/lovelace/create-element/create-tile-extra-element.ts
  src/panels/lovelace/editor/config-elements/hui-tile-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-tile-card-extras-editor.ts
  src/panels/lovelace/editor/hui-element-editor.ts
  src/panels/lovelace/editor/hui-sub-element-editor.ts
  src/panels/lovelace/editor/tile-extra/hui-tile-extra-element-editor.ts
  src/panels/lovelace/editor/types.ts
  src/panels/lovelace/tile-extra/hui-cover-open-close-tile-extra.ts
  src/panels/lovelace/tile-extra/hui-cover-tilt-tile-extra.ts
  src/panels/lovelace/tile-extra/tile-extras.ts
  src/panels/lovelace/tile-extra/types.ts
  src/panels/lovelace/types.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#14415 Update incorrect copy
  cast/src/html/launcher-faq.html.template
  cast/src/launcher/layout/hc-layout.ts
Labels: cla-signed

#14421 Device info: Show connected devices
  src/panels/config/devices/device-detail/ha-device-via-devices-card.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/translations/en.json
Labels: cla-signed

#14430 Bump typescript to 4.9.3
  package.json
  src/common/datetime/relative_time.ts
  src/common/translations/localize.ts
  src/components/ha-combo-box.ts
  src/data/logbook.ts
  src/panels/lovelace/components/hui-timestamp-display.ts
  src/panels/lovelace/strategies/get-strategy.ts
  yarn.lock
Labels: cla-signed

#14287 Clean up the ZHA pairing UI
  src/panels/config/integrations/integration-panels/zha/zha-add-devices-page.ts
  src/panels/config/integrations/integration-panels/zha/zha-device-card.ts
  src/panels/config/integrations/integration-panels/zha/zha-device-pairing-status-card.ts
Labels: cla-signed

#14372 Update popup align markdown LTR
  src/dialogs/more-info/controls/more-info-update.ts
Labels: cla-signed

#14326 Only show hover on clickable rows in data table
  src/components/data-table/ha-data-table.ts
Labels: cla-signed

#14232 Add precipitation device class
  src/common/const.ts
  src/panels/config/entities/entity-registry-settings.ts
Labels: hacktoberfest, cla-signed, hacktoberfest-accepted

#14438 Fix energy usage graph
  src/panels/lovelace/cards/energy/hui-energy-usage-graph-card.ts
Labels: cla-signed

#14439 Fixed spelling of _(un)subscribeBootstrapIntegrations()
  src/state/disconnect-toast-mixin.ts
Labels: cla-signed

#14448 Fix picking energy sensors for gas
  src/panels/config/energy/dialogs/dialog-energy-gas-settings.ts
Labels: cla-signed

#14447 Add Text entity
  demo/src/custom-cards/card-tools.js
  gallery/src/pages/lovelace/entities-card.ts
  src/common/const.ts
  src/data/text.ts
  src/dialogs/more-info/const.ts
  src/panels/lovelace/create-element/create-row-element.ts
  src/panels/lovelace/entity-rows/hui-simple-entity-row.ts
  src/panels/lovelace/entity-rows/hui-text-entity-row.ts
  src/state-summary/state-card-content.js
  src/state-summary/state-card-text.ts
  src/translations/en.json
Labels: cla-signed

#14451 Fixes for disabled/unavailable entities
  src/components/chart/state-history-chart-timeline.ts
  src/dialogs/more-info/ha-more-info-history.ts
  src/dialogs/more-info/ha-more-info-info.ts
  src/dialogs/more-info/ha-more-info-settings.ts
  src/panels/config/devices/device-registry-detail/dialog-device-registry-detail.ts
  src/panels/config/entities/entity-registry-settings.ts
  src/translations/en.json
Labels: cla-signed

#14432 Fix add integration discovery
  src/dialogs/config-flow/show-dialog-config-flow.ts
  src/panels/config/integrations/dialog-add-integration.ts
  src/panels/config/integrations/ha-domain-integrations.ts
Labels: cla-signed

#14386 Use toggle as default icon_tap_action for scenes and buttons in tile card
  src/panels/lovelace/cards/hui-tile-card.ts
Labels: cla-signed

#14348 Add ui-color selector
  src/components/ha-selector/ha-selector-ui-color.ts
  src/components/ha-selector/ha-selector.ts
  src/data/selector.ts
  src/panels/lovelace/components/hui-color-picker.ts
  src/panels/lovelace/editor/config-elements/hui-tile-card-editor.ts
  src/translations/en.json
Labels: cla-signed

#14456 Allow homeassistant URL in repair issues
  src/panels/config/repairs/dialog-repairs-issue.ts
Labels: cla-signed

#14364 Add support for hardware option flows
  src/data/hardware.ts
  src/data/integration.ts
  src/panels/config/hardware/ha-config-hardware.ts
  src/translations/en.json
Labels: cla-signed

#14418 Add margin to the device automation form
  src/panels/config/automation/action/types/ha-automation-action-device_id.ts
  src/panels/config/automation/condition/types/ha-automation-condition-device.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-device.ts
Labels: cla-signed

#14446 Add light brightness extra for tile
  src/components/tile/ha-tile-slider.ts
  src/panels/lovelace/create-element/create-tile-extra-element.ts
  src/panels/lovelace/editor/config-elements/hui-tile-card-extras-editor.ts
  src/panels/lovelace/tile-extra/hui-light-brightness-tile-extra.ts
  src/panels/lovelace/tile-extra/tile-extras.ts
  src/panels/lovelace/tile-extra/types.ts
  src/translations/en.json
Labels: cla-signed

#13443 humidifier card: add on-off button
  src/panels/lovelace/cards/hui-humidifier-card.ts
Labels: cla-signed

#14437 Improve state colors and add documentation for entity state
  gallery/src/pages/misc/entity-state.markdown
  gallery/src/pages/misc/entity-state.ts
  src/common/entity/color/alarm_control_panel_color.ts
  src/common/entity/color/binary_sensor_color.ts
  src/common/entity/color/cover_color.ts
  src/common/entity/color/lock_color.ts
  src/common/entity/color/sensor_color.ts
  src/common/entity/state_active.ts
  src/common/entity/state_color.ts
  src/resources/ha-style.ts
Labels: cla-signed, needs design preview

#14398 Add grouping by device to generated dashboard config
  cast/src/launcher/layout/hc-cast.ts
  src/panels/lovelace/common/generate-lovelace-config.ts
  src/panels/lovelace/strategies/original-states-strategy.ts
Labels: cla-signed

#14429 Add switch bar
  gallery/src/pages/components/ha-bar-switch.markdown
  gallery/src/pages/components/ha-bar-switch.ts
  src/components/ha-bar-switch.ts
Labels: cla-signed, needs design preview

#14473 Replace gas by water in translation
  src/translations/en.json
Labels: cla-signed

#14455 Update icons for shade device class
  src/common/entity/cover_icon.ts
Labels: cla-signed

#14452 Fixes area creation in area picker
  src/components/ha-area-picker.ts
  src/dialogs/generic/show-dialog-box.ts
Labels: cla-signed

#14434 And vacuum commands extra for tile card
  src/data/vacuum.ts
  src/dialogs/more-info/controls/more-info-vacuum.ts
  src/panels/lovelace/create-element/create-tile-extra-element.ts
  src/panels/lovelace/editor/config-elements/hui-tile-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-tile-card-extras-editor.ts
  src/panels/lovelace/editor/config-elements/hui-vacuum-commands-tile-extra-editor.ts
  src/panels/lovelace/editor/hui-element-editor.ts
  src/panels/lovelace/editor/hui-sub-element-editor.ts
  src/panels/lovelace/editor/tile-extra/hui-tile-extra-element-editor.ts
  src/panels/lovelace/tile-extra/hui-vacuum-commands-tile-extra.ts
  src/panels/lovelace/tile-extra/tile-extras.ts
  src/panels/lovelace/tile-extra/types.ts
  src/panels/lovelace/types.ts
  src/translations/en.json
Labels: cla-signed

#14472 Show icon preview when changing device class
  src/panels/config/entities/entity-registry-settings.ts
Labels: cla-signed

#14475 Show percentage for light, cover and fan for tile card
  src/data/fan.ts
  src/dialogs/more-info/controls/more-info-fan.js
  src/panels/lovelace/cards/hui-tile-card.ts
Labels: cla-signed

#14478 Add core country and language settings
  package.json
  src/components/country-datalist.ts
  src/components/currency-datalist.ts
  src/components/ha-textfield.ts
  src/components/language-datalist.ts
  src/components/map/ha-map.ts
  src/components/timezone-datalist.ts
  src/data/core.ts
  src/fake_data/demo_config.ts
  src/onboarding/ha-onboarding.ts
  src/onboarding/onboarding-core-config.ts
  src/panels/config/core/ha-config-section-general.ts
  src/translations/en.json
  yarn.lock
Labels: cla-signed

#14483 Rename tile extras to tile features
  src/panels/lovelace/cards/hui-tile-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/create-element/create-element-base.ts
  src/panels/lovelace/create-element/create-tile-extra-element.ts
  src/panels/lovelace/create-element/create-tile-feature-element.ts
  src/panels/lovelace/editor/config-elements/hui-tile-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-tile-card-features-editor.ts
  src/panels/lovelace/editor/config-elements/hui-vacuum-commands-tile-feature-editor.ts
  src/panels/lovelace/editor/hui-element-editor.ts
  src/panels/lovelace/editor/hui-sub-element-editor.ts
  src/panels/lovelace/editor/tile-extra/hui-tile-extra-element-editor.ts
  src/panels/lovelace/editor/tile-feature-editor/hui-tile-feature-element-editor.ts
  src/panels/lovelace/editor/types.ts
  src/panels/lovelace/tile-extra/types.ts
  src/panels/lovelace/tile-features/hui-cover-open-close-tile-feature.ts
  src/panels/lovelace/tile-features/hui-cover-tilt-tile-feature.ts
  src/panels/lovelace/tile-features/hui-light-brightness-tile-feature.ts
  src/panels/lovelace/tile-features/hui-vacuum-commands-tile-feature.ts
  src/panels/lovelace/tile-features/tile-features.ts
  src/panels/lovelace/tile-features/types.ts
  src/panels/lovelace/types.ts
  src/translations/en.json
Labels: cla-signed

#14488 Set border radius to 10px for tile slider and buttons
  src/components/ha-bar-slider.ts
  src/components/tile/ha-tile-button.ts
  src/components/tile/ha-tile-slider.ts
Labels: cla-signed

#14485 Fix common tests
  test/common/datetime/format_time.ts
  test/common/entity/compute_state_display.ts
  test/setup.js
Labels: cla-signed

#14466 Rename indicator property and add show-handle property for ha bar slider
  gallery/src/pages/components/ha-bar-slider.ts
  src/components/ha-bar-slider.ts
  src/components/tile/ha-tile-slider.ts
  src/panels/lovelace/tile-features/hui-light-brightness-tile-feature.ts
Labels: cla-signed

#14036 Add Calendar Event creation and deletion dialogs
  package.json
  src/components/date-range-picker.ts
  src/components/ha-date-input.ts
  src/components/ha-date-range-picker.ts
  src/data/calendar.ts
  src/panels/calendar/confirm-event-dialog-box.ts
  src/panels/calendar/dialog-calendar-event-detail.ts
  src/panels/calendar/dialog-calendar-event-editor.ts
  src/panels/calendar/ha-full-calendar.ts
  src/panels/calendar/ha-panel-calendar.ts
  src/panels/calendar/ha-recurrence-rule-editor.ts
  src/panels/calendar/recurrence.ts
  src/panels/calendar/show-confirm-event-dialog-box.ts
  src/panels/calendar/show-dialog-calendar-event-detail.ts
  src/panels/calendar/show-dialog-calendar-event-editor.ts
  src/panels/lovelace/cards/hui-calendar-card.ts
  src/translations/en.json
  src/types.ts
  yarn.lock
Labels: hacktoberfest, cla-signed, hacktoberfest-accepted

#14489 Add basic matter config panel
  src/data/matter.ts
  src/external_app/external_messaging.ts
  src/panels/config/ha-panel-config.ts
  src/panels/config/integrations/ha-integration-card.ts
  src/panels/config/integrations/integration-panels/matter/matter-config-panel.ts
  src/panels/config/integrations/integration-panels/mqtt/mqtt-config-panel.ts
Labels: cla-signed

#14479 Gallery: Added switch and gauge component pages + CSS vars
  gallery/src/pages/components/ha-bar-slider.markdown
  gallery/src/pages/components/ha-bar-switch.markdown
  gallery/src/pages/components/ha-chips.markdown
  gallery/src/pages/components/ha-dialogs.markdown
  gallery/src/pages/components/ha-gauge.markdown
  gallery/src/pages/components/ha-gauge.ts
  gallery/src/pages/components/ha-switch.markdown
  gallery/src/pages/components/ha-switch.ts
  gallery/src/pages/components/ha-tip.markdown
  gallery/src/pages/lovelace/gauge-card.ts
Labels: cla-signed, needs design preview

#14493 Fix checking existence of downloaded translations
  build-scripts/gulp/download_translations.js
Labels: cla-signed
