Repository home-assistant/frontend, pull requests merged in 2022-12, with the labels that each got.

#14482 Add support for entity translation key
  gallery/src/pages/misc/entity-state.ts
  src/common/entity/compute_state_display.ts
  src/components/entity/ha-entity-state-picker.ts
  src/components/entity/ha-state-label-badge.ts
  src/components/ha-water_heater-state.js
  src/data/entity_registry.ts
  src/data/history.ts
  src/data/logbook.ts
  src/data/timer.ts
  src/data/translation.ts
  src/dialogs/notifications/configurator-notification-item.ts
  src/fake_data/provide_hass.ts
  src/layouts/home-assistant.ts
  src/panels/lovelace/cards/hui-button-card.ts
  src/panels/lovelace/cards/hui-entity-card.ts
  src/panels/lovelace/cards/hui-glance-card.ts
  src/panels/lovelace/cards/hui-light-card.ts
  src/panels/lovelace/cards/hui-picture-entity-card.ts
  src/panels/lovelace/cards/hui-picture-glance-card.ts
  src/panels/lovelace/cards/hui-tile-card.ts
  src/panels/lovelace/cards/hui-weather-forecast-card.ts
  src/panels/lovelace/elements/hui-state-label-element.ts
  src/panels/lovelace/entity-rows/hui-group-entity-row.ts
  src/panels/lovelace/entity-rows/hui-input-number-entity-row.ts
  src/panels/lovelace/entity-rows/hui-media-player-entity-row.ts
  src/panels/lovelace/entity-rows/hui-number-entity-row.ts
  src/panels/lovelace/entity-rows/hui-sensor-entity-row.ts
  src/panels/lovelace/entity-rows/hui-simple-entity-row.ts
  src/panels/lovelace/entity-rows/hui-toggle-entity-row.ts
  src/panels/lovelace/entity-rows/hui-weather-entity-row.ts
  src/state-summary/state-card-configurator.js
  src/state-summary/state-card-display.ts
  src/state-summary/state-card-input_number.js
  src/state-summary/state-card-media_player.js
  src/state/translations-mixin.ts
  test/common/entity/compute_state_display.ts
Labels: cla-signed

#14500 Sort language, country, currency
  src/components/country-datalist.ts
  src/components/currency-datalist.ts
  src/panels/config/core/ha-config-section-general.ts
Labels: cla-signed

#14481 Add script to setup translation fetching
  script/bootstrap
  script/setup_translations
Labels: cla-signed

#14503 Consider moisture as alerting binary sensor
  src/common/entity/color/binary_sensor_color.ts
Labels: cla-signed

#14504 Improve constrast for tile card state
  src/components/tile/ha-tile-info.ts
Labels: cla-signed

#14401 Improve filtering and performance for icon picker
  src/components/ha-combo-box.ts
  src/components/ha-icon-picker.ts
Labels: cla-signed

#14501 Fix timezone issues calendar
  src/components/ha-date-input.ts
  src/panels/calendar/dialog-calendar-event-detail.ts
  src/panels/calendar/dialog-calendar-event-editor.ts
  src/panels/calendar/ha-recurrence-rule-editor.ts
  src/panels/calendar/recurrence.ts
Labels: cla-signed

#14505 20221201.0
  build-scripts/gulp/download_translations.js
  gallery/src/pages/misc/entity-state.ts
  pyproject.toml
  script/bootstrap
  script/setup_translations
  src/common/entity/color/binary_sensor_color.ts
  src/common/entity/compute_state_display.ts
  src/components/country-datalist.ts
  src/components/currency-datalist.ts
  src/components/entity/ha-entity-state-picker.ts
  src/components/entity/ha-state-label-badge.ts
  src/components/ha-combo-box.ts
  src/components/ha-date-input.ts
  src/components/ha-icon-picker.ts
  src/components/ha-water_heater-state.js
  src/components/tile/ha-tile-info.ts
  src/data/entity_registry.ts
  src/data/history.ts
  src/data/integration.ts
  src/data/logbook.ts
  src/data/timer.ts
  src/data/translation.ts
  src/dialogs/notifications/configurator-notification-item.ts
  src/fake_data/provide_hass.ts
  src/layouts/home-assistant.ts
  src/panels/calendar/dialog-calendar-event-detail.ts
  src/panels/calendar/dialog-calendar-event-editor.ts
  src/panels/calendar/ha-recurrence-rule-editor.ts
  src/panels/calendar/recurrence.ts
  src/panels/config/core/ha-config-section-general.ts
  src/panels/config/integrations/ha-config-integrations.ts
  src/panels/config/integrations/ha-integration-card.ts
  src/panels/config/integrations/ha-integration-header.ts
  src/panels/lovelace/cards/hui-button-card.ts
  src/panels/lovelace/cards/hui-entity-card.ts
  src/panels/lovelace/cards/hui-glance-card.ts
  src/panels/lovelace/cards/hui-light-card.ts
  src/panels/lovelace/cards/hui-picture-entity-card.ts
  src/panels/lovelace/cards/hui-picture-glance-card.ts
  src/panels/lovelace/cards/hui-tile-card.ts
  src/panels/lovelace/cards/hui-weather-forecast-card.ts
  src/panels/lovelace/elements/hui-state-label-element.ts
  src/panels/lovelace/entity-rows/hui-group-entity-row.ts
  src/panels/lovelace/entity-rows/hui-input-number-entity-row.ts
  src/panels/lovelace/entity-rows/hui-media-player-entity-row.ts
  src/panels/lovelace/entity-rows/hui-number-entity-row.ts
  src/panels/lovelace/entity-rows/hui-sensor-entity-row.ts
  src/panels/lovelace/entity-rows/hui-simple-entity-row.ts
  src/panels/lovelace/entity-rows/hui-toggle-entity-row.ts
  src/panels/lovelace/entity-rows/hui-weather-entity-row.ts
  src/state-summary/state-card-configurator.js
  src/state-summary/state-card-display.ts
  src/state-summary/state-card-input_number.js
  src/state-summary/state-card-media_player.js
  src/state/translations-mixin.ts
  src/translations/en.json
  test/common/entity/compute_state_display.ts
Labels: cla-signed

#14506 20221201.1
  pyproject.toml
  src/state/translations-mixin.ts
Labels: cla-signed

#14541 Fix recurrence rule generation for UNTIL rules
  src/panels/calendar/dialog-calendar-event-editor.ts
  src/panels/calendar/ha-recurrence-rule-editor.ts
Labels: cla-signed

#14552 Fix adjust statistic parameter name
  src/data/recorder.ts
Labels: cla-signed

#14496 Fix localize key errors for helpers
  src/common/array/ensure-array.ts
  src/common/array/literal-includes.ts
  src/common/translations/localize.ts
  src/components/entity/ha-statistic-picker.ts
  src/components/ha-target-picker.ts
  src/components/trace/hat-script-graph.ts
  src/data/automation_i18n.ts
  src/data/script.ts
  src/data/script_i18n.ts
  src/panels/config/automation/action/types/ha-automation-action-choose.ts
  src/panels/config/automation/action/types/ha-automation-action-wait_for_trigger.ts
  src/panels/config/automation/condition/types/ha-automation-condition-trigger.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-state.ts
  src/panels/config/helpers/const.ts
  src/panels/config/helpers/dialog-helper-detail.ts
  src/panels/config/helpers/ha-config-helpers.ts
  src/panels/config/helpers/show-dialog-helper-detail.ts
  src/panels/config/integrations/ha-config-integrations.ts
  src/panels/history/ha-panel-history.ts
  src/panels/logbook/ha-logbook.ts
  src/panels/lovelace/editor/config-elements/hui-statistics-graph-card-editor.ts
Labels: cla-signed

#14516 Set initial calendar event date based on active calendar view
  src/panels/calendar/dialog-calendar-event-editor.ts
  src/panels/calendar/ha-full-calendar.ts
  src/panels/calendar/show-dialog-calendar-event-detail.ts
  src/panels/calendar/show-dialog-calendar-event-editor.ts
Labels: cla-signed

#14522 Add support for calendar event description
  src/data/calendar.ts
  src/panels/calendar/dialog-calendar-event-detail.ts
  src/panels/calendar/dialog-calendar-event-editor.ts
  src/translations/en.json
Labels: cla-signed

#14555 set backpath for supervisor addons panel
  hassio/src/dashboard/hassio-dashboard.ts
Labels: cla-signed

#14537 Prevent identical double debug log downloads for integration
  src/panels/config/integrations/ha-integration-card.ts
Labels: cla-signed

#14529 Fix first day of the week locale issue with scheduler
  src/panels/config/helpers/forms/ha-schedule-form.ts
Labels: cla-signed

#14428 Handle optional state enum from sensor entities
  src/common/entity/get_states.ts
Labels: cla-signed

#14464 Show proper media title in media bar (split URI)
  src/data/media-player.ts
  src/panels/media-browser/ha-bar-media-player.ts
Labels: cla-signed

#14536 Fix YAML validation for automation action service call enabling/disabling
  src/panels/config/automation/action/types/ha-automation-action-service.ts
Labels: cla-signed

#14535 Prevent "ha-chip" focus outline frame
  src/components/ha-chip.ts
Labels: cla-signed

#14551 Fix media browser gender translations
  src/data/cloud/tts.ts
  src/translations/en.json
Labels: cla-signed

#14487 Auto remove empty items from shopping list
  src/data/shopping-list.ts
  src/panels/lovelace/cards/hui-shopping-list-card.ts
Labels: cla-signed

#14525 Use rounded corners for calendar
  src/panels/calendar/ha-full-calendar.ts
Labels: cla-signed

#14562 20221205.0
  .github/workflows/lock.yml
  hassio/src/dashboard/hassio-dashboard.ts
  package.json
  pyproject.toml
  src/common/array/ensure-array.ts
  src/common/array/literal-includes.ts
  src/common/datetime/format_date.ts
  src/common/entity/get_states.ts
  src/common/translations/day_names.ts
  src/common/translations/localize.ts
  src/common/translations/month_names.ts
  src/components/chart/chart-date-adapter.ts
  src/components/entity/ha-statistic-picker.ts
  src/components/ha-chip.ts
  src/components/ha-expansion-panel.ts
  src/components/ha-form/ha-form.ts
  src/components/ha-target-picker.ts
  src/components/trace/hat-script-graph.ts
  src/data/automation_i18n.ts
  src/data/calendar.ts
  src/data/cloud/tts.ts
  src/data/media-player.ts
  src/data/recorder.ts
  src/data/script.ts
  src/data/script_i18n.ts
  src/data/shopping-list.ts
  src/dialogs/more-info/controls/more-info-weather.ts
  src/panels/calendar/dialog-calendar-event-detail.ts
  src/panels/calendar/dialog-calendar-event-editor.ts
  src/panels/calendar/ha-full-calendar.ts
  src/panels/calendar/ha-recurrence-rule-editor.ts
  src/panels/calendar/show-dialog-calendar-event-detail.ts
  src/panels/calendar/show-dialog-calendar-event-editor.ts
  src/panels/config/automation/action/types/ha-automation-action-choose.ts
  src/panels/config/automation/action/types/ha-automation-action-service.ts
  src/panels/config/automation/action/types/ha-automation-action-wait_for_trigger.ts
  src/panels/config/automation/condition/types/ha-automation-condition-trigger.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-state.ts
  src/panels/config/helpers/const.ts
  src/panels/config/helpers/dialog-helper-detail.ts
  src/panels/config/helpers/forms/ha-schedule-form.ts
  src/panels/config/helpers/ha-config-helpers.ts
  src/panels/config/helpers/show-dialog-helper-detail.ts
  src/panels/config/integrations/ha-config-integrations.ts
  src/panels/config/integrations/ha-integration-card.ts
  src/panels/config/integrations/integration-panels/mqtt/mqtt-config-panel.ts
  src/panels/history/ha-panel-history.ts
  src/panels/logbook/ha-logbook.ts
  src/panels/lovelace/cards/hui-calendar-card.ts
  src/panels/lovelace/cards/hui-shopping-list-card.ts
  src/panels/lovelace/editor/config-elements/hui-calendar-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-statistics-graph-card-editor.ts
  src/panels/media-browser/ha-bar-media-player.ts
  src/resources/styles.ts
  src/translations/en.json
  src/types.ts
  yarn.lock
Labels: cla-signed

#14546 Add "show_names" option to history graphs
  src/components/chart/state-history-chart-line.ts
  src/components/chart/state-history-chart-timeline.ts
  src/components/chart/state-history-charts.ts
  src/dialogs/more-info/ha-more-info-history.ts
  src/panels/history/ha-panel-history.ts
  src/panels/lovelace/cards/hui-history-graph-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/editor/config-elements/hui-history-graph-card-editor.ts
Labels: cla-signed

#14568 Allow cm in precipitation units
  src/panels/config/entities/entity-registry-settings.ts
Labels: cla-signed

#12354 Check if cast message came from logged in instance
  cast/src/launcher/layout/hc-cast.ts
  cast/src/receiver/layout/hc-main.ts
  src/cast/receiver_messages.ts
  src/cast/sender_messages.ts
  src/panels/lovelace/special-rows/hui-cast-row.ts
Labels: cla-signed

#14545 Prevent invalid event durations in calendar
  src/panels/calendar/dialog-calendar-event-editor.ts
  src/translations/en.json
Labels: cla-signed

#14527 Visual fixes and resize observer for scheduler form
  src/panels/config/helpers/forms/ha-schedule-form.ts
Labels: cla-signed

#14557 Color adjustments for entity state
  gallery/src/pages/misc/entity-state.ts
  src/common/entity/color/person_color.ts
  src/common/entity/state_color.ts
  src/common/style/icon_color_css.ts
  src/panels/lovelace/cards/hui-tile-card.ts
  src/panels/lovelace/cards/tile/badges/tile-badge-person.ts
  src/panels/lovelace/cards/tile/badges/tile-badge.ts
  src/resources/ha-style.ts
Labels: cla-signed, needs design preview

#14582 Add unavailable badge for tile card
  src/panels/lovelace/cards/tile/badges/tile-badge.ts
Labels: cla-signed

#14566 Fix week start on Saturday for scheduler
  src/panels/config/helpers/forms/ha-schedule-form.ts
Labels: cla-signed

#14577 Sort generated dashboard
  src/common/const.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/lovelace/common/generate-lovelace-config.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-suggest-card.ts
Labels: cla-signed

#14585 20221206.0
  .gitignore
  cast/src/launcher/layout/hc-cast.ts
  cast/src/receiver/layout/hc-main.ts
  gallery/src/pages/misc/entity-state.ts
  hassio/.gitignore
  pyproject.toml
  src/cast/receiver_messages.ts
  src/cast/sender_messages.ts
  src/common/const.ts
  src/common/entity/color/person_color.ts
  src/common/entity/state_active.ts
  src/common/entity/state_color.ts
  src/common/style/icon_color_css.ts
  src/components/chart/state-history-chart-line.ts
  src/components/chart/state-history-chart-timeline.ts
  src/components/chart/state-history-charts.ts
  src/components/chart/timeline-chart/timeline-color.ts
  src/data/calendar.ts
  src/dialogs/more-info/ha-more-info-history.ts
  src/panels/calendar/dialog-calendar-event-editor.ts
  src/panels/calendar/ha-full-calendar.ts
  src/panels/calendar/ha-panel-calendar.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/config/entities/entity-registry-settings.ts
  src/panels/config/helpers/forms/ha-schedule-form.ts
  src/panels/history/ha-panel-history.ts
  src/panels/logbook/ha-logbook-renderer.ts
  src/panels/lovelace/cards/hui-calendar-card.ts
  src/panels/lovelace/cards/hui-history-graph-card.ts
  src/panels/lovelace/cards/hui-tile-card.ts
  src/panels/lovelace/cards/tile/badges/tile-badge-person.ts
  src/panels/lovelace/cards/tile/badges/tile-badge.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/common/generate-lovelace-config.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-suggest-card.ts
  src/panels/lovelace/editor/config-elements/hui-history-graph-card-editor.ts
  src/panels/lovelace/special-rows/hui-cast-row.ts
  src/resources/ha-style.ts
  src/translations/en.json
Labels: cla-signed

#14590 Fix off by one day in date input (in calendar)
  src/components/ha-date-input.ts
Labels: cla-signed

#14588 Various minor tweaks
  src/panels/calendar/confirm-event-dialog-box.ts
  src/panels/calendar/dialog-calendar-event-editor.ts
  src/translations/en.json
Labels: cla-signed

#14598 Consider ignored repairs for the "no repairs available" note
  src/panels/config/repairs/ha-config-repairs-dashboard.ts
Labels: cla-signed

#14602 20221207.0
  gallery/src/pages/misc/entity-state.ts
  package.json
  pyproject.toml
  src/common/entity/state_color.ts
  src/components/ha-date-input.ts
  src/components/ha-dialog-date-picker.ts
  src/panels/calendar/confirm-event-dialog-box.ts
  src/panels/calendar/dialog-calendar-event-editor.ts
  src/panels/config/repairs/ha-config-repairs-dashboard.ts
  src/panels/lovelace/cards/hui-area-card.ts
  src/panels/lovelace/cards/hui-light-card.ts
  src/resources/ha-style.ts
  src/translations/en.json
  yarn.lock
Labels: cla-signed

#14623 Fix hidden/broken input_datetime date selector
  src/components/ha-date-input.ts
Labels: cla-signed

#14622 Fix showing a statistics graph with type 'change'
  src/components/chart/statistics-chart.ts
  src/panels/lovelace/cards/hui-statistics-graph-card.ts
  src/panels/lovelace/cards/types.ts
Labels: cla-signed

#14626 Fixes state history colors edge cases
  src/common/entity/color/battery_color.ts
  src/common/entity/color/person_color.ts
  src/common/entity/color/sensor_color.ts
  src/common/entity/state_color.ts
Labels: cla-signed, Bug Fix

#14624 Fix disabled button state for vacuum in tile card
  src/data/vacuum.ts
  src/panels/lovelace/tile-features/hui-vacuum-commands-tile-feature.ts
Labels: cla-signed

#14632 Add open label if cover is open on tile card
  src/panels/lovelace/cards/hui-tile-card.ts
Labels: cla-signed

#14604 Use correct close dialog function for `dialog event editor``
  src/panels/calendar/dialog-calendar-event-editor.ts
Labels: cla-signed

#14644 20221208.0
  gallery/src/pages/components/ha-alert.markdown
  gallery/src/pages/components/ha-bar.markdown
  gallery/src/pages/components/ha-selector.markdown
  gallery/src/pages/lovelace/entities-card.ts
  gallery/src/pages/lovelace/entity-button-card.ts
  gallery/src/pages/lovelace/glance-card.ts
  gallery/src/pages/lovelace/grid-and-stack-card.markdown
  pyproject.toml
  src/common/entity/color/battery_color.ts
  src/common/entity/color/person_color.ts
  src/common/entity/color/sensor_color.ts
  src/common/entity/state_color.ts
  src/components/chart/state-history-chart-line.ts
  src/components/chart/state-history-chart-timeline.ts
  src/components/chart/statistics-chart.ts
  src/components/ha-date-input.ts
  src/data/vacuum.ts
  src/panels/calendar/dialog-calendar-event-editor.ts
  src/panels/lovelace/cards/hui-history-graph-card.ts
  src/panels/lovelace/cards/hui-statistics-graph-card.ts
  src/panels/lovelace/cards/hui-tile-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/editor/config-elements/hui-statistics-graph-card-editor.ts
  src/panels/lovelace/tile-features/hui-vacuum-commands-tile-feature.ts
Labels: cla-signed

#14640 Add daily gallery build action
  .github/workflows/gallery.yaml
  .github/workflows/netflify.yml
  gallery/script/netlify_build_gallery
Labels: cla-signed

#14649 Adjust demo deployment
  .github/workflows/demo_deployment.yaml
  .github/workflows/netflify.yml
Labels: cla-signed

#14650 Adjust design deployment
  .github/workflows/design_deployment.yaml
Labels: cla-signed

#14646 Show start pause button on tile card if vacuum support pause
  src/panels/lovelace/tile-features/hui-vacuum-commands-tile-feature.ts
Labels: cla-signed

#14672 Theme color fixes
  src/common/color/compute-color.ts
  src/common/entity/color/sensor_color.ts
  src/common/entity/state_color.ts
  src/common/style/icon_color_css.ts
  src/components/chart/timeline-chart/timeline-color.ts
  src/components/entity/state-badge.ts
  src/panels/lovelace/cards/hui-button-card.ts
  src/panels/lovelace/cards/hui-entity-card.ts
  src/panels/lovelace/cards/hui-tile-card.ts
  src/resources/ha-style.ts
  src/resources/styles.ts
  src/translations/en.json
Labels: cla-signed

#14596 Add new atmospheric pressure device class
  src/common/const.ts
Labels: cla-signed, backend merged

#14593 Add new irradiance device class
  src/common/const.ts
Labels: cla-signed, backend merged

#14633 Improve person/alarm/lock state
  src/common/entity/color/alarm_control_panel_color.ts
  src/common/entity/color/lock_color.ts
  src/common/entity/color/person_color.ts
  src/common/entity/state_active.ts
  src/common/entity/state_color.ts
  src/components/chart/timeline-chart/timeline-color.ts
  src/panels/lovelace/cards/hui-alarm-panel-card.ts
  src/panels/lovelace/cards/tile/badges/tile-badge-person.ts
  src/resources/ha-style.ts
Labels: cla-signed

#14638 Ensure consistent "blank before percent" handling
  src/panels/config/core/ha-config-system-navigation.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/panels/config/hardware/ha-config-hardware.ts
  src/panels/lovelace/cards/energy/hui-energy-carbon-consumed-gauge-card.ts
  src/panels/lovelace/cards/energy/hui-energy-solar-consumed-gauge-card.ts
  src/panels/lovelace/tile-features/hui-cover-open-close-tile-feature.ts
  src/panels/lovelace/tile-features/hui-cover-tilt-tile-feature.ts
Labels: cla-signed

#14659 Only reset primary/accent color if theme actually changes
  src/panels/profile/ha-pick-theme-row.ts
Labels: cla-signed

#14660 Enable all-day / multi-day rendering for calendar
  src/panels/calendar/ha-full-calendar.ts
  src/panels/lovelace/cards/hui-calendar-card.ts
Labels: cla-signed

#14679 Revise vscode extensions
  .devcontainer/devcontainer.json
  .vscode/extensions.json
Labels: cla-signed

#14708 Fix pick dashboard row
  src/panels/profile/ha-pick-dashboard-row.ts
Labels: cla-signed

#14709 Align dev container settings with core
  .devcontainer/devcontainer.json
Labels: cla-signed

#14651 Adjust cast deployment
  .github/workflows/cast_deployment.yaml
  .github/workflows/netflify.yml
Labels: cla-signed

#14713 Use light blue for media player to improve contrast
  src/resources/ha-style.ts
Labels: cla-signed

#14700 Fix gauge-editor loading of severity values.
  src/components/ha-form/types.ts
  src/panels/lovelace/editor/config-elements/hui-gauge-card-editor.ts
Labels: cla-signed

#14717 Fix event alignment for current day
  src/panels/calendar/ha-full-calendar.ts
Labels: cla-signed

#14712 Show pointer cursor when hovering calender event or day number
  src/panels/calendar/ha-full-calendar.ts
Labels: cla-signed

#14707 Fix sorting auto generated dashboard
  src/panels/lovelace/common/generate-lovelace-config.ts
Labels: cla-signed

#14716 Enable full day event mode in calendar card day grid
  src/panels/calendar/ha-full-calendar.ts
  src/panels/lovelace/cards/hui-calendar-card.ts
Labels: cla-signed

#14711 Improve entity not found tile card
  src/panels/lovelace/cards/hui-tile-card.ts
Labels: cla-signed

#14710 Transparent unavailable state in history
  src/common/color/compute-color.ts
  src/components/chart/timeline-chart/textbar-element.ts
  src/components/chart/timeline-chart/timeline-color.ts
  src/components/entity/state-badge.ts
  src/panels/lovelace/cards/hui-button-card.ts
  src/panels/lovelace/cards/hui-entity-card.ts
  src/resources/ha-style.ts
  src/resources/styles.ts
Labels: cla-signed

#14722 20221212.0
  .devcontainer/devcontainer.json
  .github/workflows/cast_deployment.yaml
  .github/workflows/demo_deployment.yaml
  .github/workflows/design_deployment.yaml
  .github/workflows/netflify.yml
  .vscode/extensions.json
  gallery/script/netlify_build_gallery
  pyproject.toml
  src/common/const.ts
  src/common/entity/color/alarm_control_panel_color.ts
  src/common/entity/color/lock_color.ts
  src/common/entity/color/person_color.ts
  src/common/entity/color/sensor_color.ts
  src/common/entity/state_active.ts
  src/common/entity/state_color.ts
  src/common/style/icon_color_css.ts
  src/components/chart/timeline-chart/textbar-element.ts
  src/components/chart/timeline-chart/timeline-color.ts
  src/components/entity/state-badge.ts
  src/components/ha-form/types.ts
  src/panels/calendar/ha-full-calendar.ts
  src/panels/config/core/ha-config-system-navigation.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/panels/config/hardware/ha-config-hardware.ts
  src/panels/config/integrations/integration-panels/mqtt/mqtt-config-panel.ts
  src/panels/lovelace/cards/energy/hui-energy-carbon-consumed-gauge-card.ts
  src/panels/lovelace/cards/energy/hui-energy-solar-consumed-gauge-card.ts
  src/panels/lovelace/cards/hui-alarm-panel-card.ts
  src/panels/lovelace/cards/hui-button-card.ts
  src/panels/lovelace/cards/hui-calendar-card.ts
  src/panels/lovelace/cards/hui-entity-card.ts
  src/panels/lovelace/cards/hui-tile-card.ts
  src/panels/lovelace/cards/tile/badges/tile-badge-person.ts
  src/panels/lovelace/common/generate-lovelace-config.ts
  src/panels/lovelace/editor/config-elements/hui-gauge-card-editor.ts
  src/panels/lovelace/tile-features/hui-cover-open-close-tile-feature.ts
  src/panels/lovelace/tile-features/hui-cover-tilt-tile-feature.ts
  src/panels/lovelace/tile-features/hui-vacuum-commands-tile-feature.ts
  src/panels/profile/ha-pick-dashboard-row.ts
  src/panels/profile/ha-pick-theme-row.ts
  src/resources/ha-style.ts
  src/resources/styles.ts
  src/translations/en.json
Labels: cla-signed

#14720 Add fallback URLs
  .github/workflows/demo_deployment.yaml
  .github/workflows/design_deployment.yaml
Labels: cla-signed

#14721 Add action for design preview
  .github/workflows/design_preview.yaml
  gallery/script/netlify_build_gallery
Labels: cla-signed, needs design preview

#14694 Bump prettier to 2.8.1
  package.json
  src/components/data-table/ha-data-table.ts
  yarn.lock
Labels: cla-signed

#14635 Make error on general config better + default timezone
  src/panels/config/core/ha-config-section-general.ts
Labels: cla-signed

#14652 Align domain icon for person and device_tracker when away
  src/common/entity/domain_icon.ts
Labels: cla-signed

#14736 Use compute state display for select
  src/panels/lovelace/entity-rows/hui-select-entity-row.ts
  src/state-summary/state-card-select.ts
Labels: cla-signed

#14735 Fix binary sensor color when off
  src/common/entity/color/battery_color.ts
  src/common/entity/color/binary_sensor_color.ts
  src/common/entity/color/update_color.ts
  src/common/entity/state_color.ts
  src/resources/ha-style.ts
Labels: cla-signed

#14724 Fix brightness on button card
  src/panels/lovelace/cards/hui-button-card.ts
Labels: cla-signed

#14744 Only use custom color when active on tile card
  src/panels/lovelace/cards/hui-tile-card.ts
Labels: cla-signed

#14747 Fix climate hvac action color
  gallery/src/pages/misc/entity-state.ts
  src/common/entity/color/climate_color.ts
  src/components/entity/state-badge.ts
  src/panels/lovelace/cards/hui-button-card.ts
  src/panels/lovelace/cards/hui-entity-card.ts
  src/panels/lovelace/cards/tile/badges/tile-badge-climate.ts
  src/resources/ha-style.ts
Labels: cla-signed

#14741 Move groups up, after areas, move devices down
  src/panels/lovelace/common/generate-lovelace-config.ts
Labels: cla-signed

#14740 Ensure consistent light state icon brightness
  src/panels/lovelace/cards/hui-button-card.ts
  src/panels/lovelace/cards/hui-entity-card.ts
Labels: cla-signed

#14763 Update conversation API
  src/data/conversation.ts
  src/dialogs/voice-command-dialog/ha-voice-command-dialog.ts
Labels: cla-signed

#14636 Make editing home location more clear
  src/components/map/ha-locations-editor.ts
  src/panels/config/core/ha-config-section-general.ts
  src/panels/config/zone/ha-config-zone.ts
Labels: cla-signed

#14723 Add action to publish demo when pushing to master
  .github/workflows/demo_deployment.yaml
Labels: cla-signed

#14761 Classify binary sensor locks active state as alert (= red)
  src/common/entity/color/binary_sensor_color.ts
Labels: cla-signed

#14749 Add stones to weight units
  src/panels/config/entities/entity-registry-settings.ts
Labels: cla-signed, backend merged

#14594 Add new data rate device class
  src/common/const.ts
Labels: cla-signed, backend merged

#14592 Add new sound pressure device class
  src/common/const.ts
Labels: cla-signed, backend merged

#14682 Remove min/max >=1 requirement from gauge-card-editor
  src/panels/lovelace/editor/config-elements/hui-gauge-card-editor.ts
Labels: cla-signed

#14639 Enable weather entity row to show secondary info
  src/panels/lovelace/entity-rows/hui-weather-entity-row.ts
Labels: cla-signed

#14766 Add pulse animation for jammed state for lock
  src/common/style/icon_color_css.ts
  src/components/entity/state-badge.ts
  src/panels/lovelace/cards/hui-button-card.ts
  src/panels/lovelace/cards/hui-entity-card.ts
Labels: cla-signed

#13339 Enable http cache for local media-player-browse thumbnails
  src/components/media-player/ha-media-player-browse.ts
Labels: cla-signed

#14609 Add precommit hook to deduplicate dependencies
  lint-staged.config.js
Labels: cla-signed

#14607 Enable dependabot for yarn packages
  .github/dependabot.yml
Labels: cla-signed

#14670 Use the calendar color for state icon in event details
  src/components/entity/state-badge.ts
  src/components/entity/state-info.ts
  src/panels/calendar/dialog-calendar-event-detail.ts
  src/panels/calendar/ha-full-calendar.ts
  src/panels/calendar/show-dialog-calendar-event-detail.ts
Labels: cla-signed

#14605 Remove unnecessary labels from dashboard menu
  src/panels/lovelace/hui-root.ts
Labels: cla-signed

#14565 Add QoS option for MQTT subscribe
  src/data/mqtt.ts
  src/panels/config/integrations/integration-panels/mqtt/mqtt-subscribe-card.ts
Labels: cla-signed, integration: mqtt

#14772 Use entity picker in calendar event editor
  src/panels/calendar/dialog-calendar-event-detail.ts
  src/panels/calendar/dialog-calendar-event-editor.ts
  src/panels/calendar/ha-full-calendar.ts
  src/panels/calendar/show-dialog-calendar-event-detail.ts
  src/panels/calendar/show-dialog-calendar-event-editor.ts
Labels: cla-signed

#14778 Remove prefixes from dependabot commit messages
  .github/dependabot.yml
Labels: cla-signed

#14515 Make map card trails clickable, provide time context.
  src/components/map/ha-map.ts
  src/panels/lovelace/cards/hui-map-card.ts
Labels: cla-signed

#14726 Fix entity-filter handling of numeric states for == and != operators.
  src/panels/lovelace/common/evaluate-filter.ts
Labels: cla-signed

#14779 Handle "idle" state of alert entity
  gallery/src/pages/misc/entity-state.ts
  src/common/entity/color/alert_color.ts
  src/common/entity/state_active.ts
  src/common/entity/state_color.ts
  src/resources/ha-style.ts
Labels: cla-signed

#14691 Fix localize key type errors for states
  src/common/entity/color/climate_color.ts
  src/common/entity/get_states.ts
  src/common/entity/state_active.ts
  src/common/translations/localize.ts
  src/components/entity/ha-entity-toggle.ts
  src/components/entity/ha-state-label-badge.ts
  src/components/ha-climate-state.ts
  src/components/media-player/ha-media-player-browse.ts
  src/data/calendar.ts
  src/data/climate.ts
  src/data/entity.ts
  src/data/humidifier.ts
  src/data/media-player.ts
  src/dialogs/more-info/controls/more-info-automation.ts
  src/dialogs/more-info/controls/more-info-counter.ts
  src/dialogs/more-info/controls/more-info-input_datetime.ts
  src/dialogs/more-info/controls/more-info-update.ts
  src/panels/config/scene/ha-scene-dashboard.ts
  src/panels/lovelace/cards/hui-area-card.ts
  src/panels/lovelace/cards/hui-entity-card.ts
  src/panels/lovelace/cards/hui-glance-card.ts
  src/panels/lovelace/cards/hui-humidifier-card.ts
  src/panels/lovelace/cards/hui-light-card.ts
  src/panels/lovelace/cards/hui-media-control-card.ts
  src/panels/lovelace/cards/hui-tile-card.ts
  src/panels/lovelace/cards/tile/badges/tile-badge-climate.ts
  src/panels/lovelace/editor/card-editor/hui-card-picker.ts
  src/panels/lovelace/entity-rows/hui-humidifier-entity-row.ts
  src/panels/lovelace/entity-rows/hui-input-datetime-entity-row.ts
  src/panels/lovelace/entity-rows/hui-input-number-entity-row.ts
  src/panels/lovelace/entity-rows/hui-input-text-entity-row.ts
  src/panels/lovelace/entity-rows/hui-lock-entity-row.ts
  src/panels/lovelace/entity-rows/hui-media-player-entity-row.ts
  src/panels/lovelace/entity-rows/hui-script-entity-row.ts
  src/panels/lovelace/entity-rows/hui-sensor-entity-row.ts
  src/panels/lovelace/entity-rows/hui-text-entity-row.ts
  src/panels/lovelace/entity-rows/hui-toggle-entity-row.ts
  src/panels/lovelace/entity-rows/hui-weather-entity-row.ts
  src/state-summary/state-card-display.ts
  src/state-summary/state-card-script.ts
  src/state-summary/state-card-text.ts
Labels: cla-signed

#14785 Cover in state "closing" should be in "active" color
  src/common/entity/state_active.ts
Labels: cla-signed

#14767 Check if area exists during default dashboard generation
  src/panels/lovelace/common/generate-lovelace-config.ts
Labels: cla-signed

#14770 Use CSS colors for tile components
  gallery/src/pages/components/ha-bar-slider.ts
  gallery/src/pages/components/ha-bar-switch.ts
  src/common/color/compute-color.ts
  src/components/ha-bar-slider.ts
  src/components/ha-bar-switch.ts
  src/components/tile/ha-tile-button.ts
  src/components/tile/ha-tile-icon.ts
  src/components/tile/ha-tile-slider.ts
  src/panels/lovelace/cards/hui-tile-card.ts
  src/panels/lovelace/components/hui-color-picker.ts
  src/panels/lovelace/tile-features/hui-light-brightness-tile-feature.ts
Labels: cla-signed, needs design preview

#14788 Change layout of Zwave JS device config page
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-node-config.ts
Labels: cla-signed

#14816 Fix suffix not showing up
  src/onboarding/onboarding-core-config.ts
  src/panels/config/core/ha-config-section-general.ts
Labels: cla-signed

#14796 Add CCF (centum cubic feet) to volume units
  src/panels/config/entities/entity-registry-settings.ts
Labels: cla-signed, backend merged

#14842 Enforces disabled to false for ha-form
  src/components/ha-form/ha-form.ts
Labels: cla-signed

#14840 Fixes alarm triggered color in alarm card
  src/panels/lovelace/cards/hui-alarm-panel-card.ts
Labels: cla-signed

#14839 Allow custom value for multiple select
  src/components/ha-selector/ha-selector-select.ts
Labels: cla-signed

#14843 Use a capitol for `Topic` in MQTT config panel.
  src/translations/en.json
Labels: cla-signed, integration: mqtt

#14841 Fix localization `Solar total` in Enery dashboard
  src/panels/lovelace/cards/energy/hui-energy-sources-table-card.ts
  src/translations/en.json
Labels: cla-signed, panel: energy, Bug Fix

#14835 Fix zwave automations not handling 0 values in the visual editor
  src/components/ha-selector/ha-selector-select.ts
Labels: cla-signed

#14859 Add Calendar redirect support for My
  src/panels/my/ha-panel-my.ts
Labels: cla-signed

#14813 Attempt to fix picture-elements functionality broken in 2022.11
  src/panels/lovelace/components/hui-image.ts
Labels: cla-signed

#14851 Fix history type device class
  src/data/cached-history.ts
  src/data/history.ts
  src/dialogs/more-info/ha-more-info-history.ts
  src/panels/lovelace/cards/hui-history-graph-card.ts
Labels: cla-signed

#14850 Fixes select selector filter
  src/components/ha-selector/ha-selector-select.ts
Labels: cla-signed

#14818 Allign MQTT config panel controls
  src/panels/config/integrations/integration-panels/mqtt/mqtt-config-panel.ts
  src/panels/config/integrations/integration-panels/mqtt/mqtt-subscribe-card.ts
Labels: cla-signed, integration: mqtt

#14854 Fix bug in non-recurring calendar event creation
  src/panels/calendar/dialog-calendar-event-editor.ts
Labels: cla-signed

#14864 Fix water compare
  src/data/energy.ts
Labels: cla-signed

#14868 Allow opening conversation dialog via URL
  src/panels/lovelace/hui-root.ts
Labels: cla-signed

#14867 Redirect to new Matter device
  src/panels/config/integrations/integration-panels/matter/matter-config-panel.ts
Labels: cla-signed

#14892 Change Z-Wave to Zigbee in help setup dialog
  src/common/integrations/protocolIntegrationPicked.ts
Labels: cla-signed

#14827 Uses backend translation for climate attributes
  src/common/entity/compute_attribute_display.ts
  src/components/ha-climate-state.ts
  src/data/climate.ts
  src/data/translation.ts
  src/dialogs/more-info/controls/more-info-climate.ts
  src/layouts/home-assistant.ts
  src/panels/lovelace/cards/hui-thermostat-card.ts
  src/translations/en.json
Labels: cla-signed, Noteworthy

#14894 Pin action versions to minor and patch
  .github/workflows/cast_deployment.yaml
  .github/workflows/ci.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/demo_deployment.yaml
  .github/workflows/design_deployment.yaml
  .github/workflows/design_preview.yaml
  .github/workflows/nightly.yaml
  .github/workflows/release.yaml
  .github/workflows/translations.yaml
Labels: cla-signed

#14860 Add aliases dialog to entity registry settings
  demo/src/ha-demo.ts
  gallery/src/pages/misc/integration-card.ts
  src/data/entity_registry.ts
  src/panels/config/entities/entity-aliases/dialog-entity-aliases.ts
  src/panels/config/entities/entity-aliases/show-dialog-entity-aliases.ts
  src/panels/config/entities/entity-registry-settings.ts
  src/panels/config/entities/ha-config-entities.ts
  src/translations/en.json
Labels: cla-signed, Noteworthy

#14814 Add edit/update support for calendar events
  src/data/calendar.ts
  src/panels/calendar/dialog-calendar-event-editor.ts
  src/panels/calendar/ha-full-calendar.ts
  src/translations/en.json
Labels: cla-signed, wait for backend, Noteworthy

#14812 Fix broken numeric text entry in state-card-input_number
  src/state-summary/state-card-input_number.js
  src/state-summary/state-card-input_number.ts
Labels: cla-signed

#14872 Fix map card not loading in sidebar view
  src/panels/lovelace/cards/hui-map-card.ts
Labels: cla-signed

#14792 Enforce valid entity ID in card config YAML
  src/panels/lovelace/cards/hui-map-card.ts
  src/panels/lovelace/common/process-config-entities.ts
  src/panels/lovelace/editor/config-elements/hui-alarm-panel-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-button-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-entity-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-gauge-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-humidifier-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-light-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-map-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-media-control-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-picture-entity-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-plant-status-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-sensor-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-thermostat-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-tile-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-weather-forecast-card-editor.ts
Labels: cla-signed

#14830 Make JSON formatting optional when using MQTT subscribe from config entry page
  src/panels/config/integrations/integration-panels/mqtt/mqtt-subscribe-card.ts
  src/translations/en.json
Labels: cla-signed, integration: mqtt

#14898 Use _ prefix for local vars on MQTT config entry page
  src/panels/config/integrations/integration-panels/mqtt/mqtt-config-panel.ts
Labels: cla-signed

#14828 Make using template rendering optional when using MQTT publish from the config entry page
  src/panels/config/integrations/integration-panels/mqtt/mqtt-config-panel.ts
  src/translations/en.json
Labels: cla-signed, integration: mqtt

#14869 Conversation dialog tweaks
  src/data/conversation.ts
  src/dialogs/voice-command-dialog/ha-voice-command-dialog.ts
  src/translations/en.json
Labels: cla-signed

#14895 Fix target selector
  src/components/ha-selector/ha-selector-target.ts
  src/components/ha-target-picker.ts
Labels: cla-signed

#14849 Add monthly variations for recurrence rules
  src/panels/calendar/dialog-calendar-event-detail.ts
  src/panels/calendar/dialog-calendar-event-editor.ts
  src/panels/calendar/ha-recurrence-rule-editor.ts
  src/panels/calendar/recurrence.ts
Labels: cla-signed, Noteworthy

#14882 Prevent duplicate entities from being chosen in the target picker
  src/components/device/ha-device-picker.ts
  src/components/ha-area-picker.ts
  src/components/ha-target-picker.ts
Labels: cla-signed

#14533 Sort strings by locale language
  hassio/src/addon-store/hassio-addon-repository.ts
  hassio/src/dashboard/hassio-addons.ts
  hassio/src/dialogs/hardware/dialog-hassio-hardware.ts
  hassio/src/dialogs/repositories/dialog-hassio-repositories.ts
  src/common/string/compare.ts
  src/components/country-datalist.ts
  src/components/currency-datalist.ts
  src/components/device/ha-area-devices-picker.ts
  src/components/device/ha-device-picker.ts
  src/components/entity/ha-entity-picker.ts
  src/components/entity/ha-statistic-picker.ts
  src/components/ha-addon-picker.ts
  src/components/ha-blueprint-picker.ts
  src/components/ha-config-entry-picker.ts
  src/components/ha-sidebar.ts
  src/components/user/ha-user-picker.ts
  src/data/device_registry.ts
  src/data/entity_registry.ts
  src/data/update.ts
  src/dialogs/quick-bar/ha-quick-bar.ts
  src/onboarding/onboarding-core-config.ts
  src/onboarding/onboarding-integrations.ts
  src/panels/config/areas/ha-config-area-page.ts
  src/panels/config/automation/action/ha-automation-action.ts
  src/panels/config/automation/action/types/ha-automation-action-condition.ts
  src/panels/config/automation/condition/ha-automation-condition.ts
  src/panels/config/automation/trigger/ha-automation-trigger.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-tag.ts
  src/panels/config/cloud/alexa/cloud-alexa.ts
  src/panels/config/cloud/google-assistant/cloud-google-assistant.ts
  src/panels/config/core/ha-config-section-general.ts
  src/panels/config/devices/device-detail/ha-device-via-devices-card.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/config/entities/entity-registry-settings.ts
  src/panels/config/hardware/dialog-hardware-available.ts
  src/panels/config/integrations/dialog-add-integration.ts
  src/panels/config/integrations/ha-config-integrations.ts
  src/panels/config/integrations/ha-domain-integrations.ts
  src/panels/config/integrations/integration-panels/zha/zha-device-card.ts
  src/panels/config/lovelace/dashboards/ha-config-lovelace-dashboards.ts
  src/panels/config/lovelace/resources/ha-config-lovelace-resources.ts
  src/panels/config/person/ha-config-person.ts
  src/panels/config/zone/ha-config-zone.ts
  src/panels/developer-tools/event/events-list.js
  src/panels/lovelace/editor/view-editor/hui-view-visibility-editor.ts
Labels: cla-signed

#14405 Add alt attribute to various images
  gallery/src/pages/components/ha-alert.ts
  hassio/src/addon-view/info/hassio-addon-info.ts
  src/components/ha-addon-picker.ts
  src/components/ha-config-entry-picker.ts
  src/components/tile/ha-tile-image.ts
  src/dialogs/image-cropper-dialog/image-cropper-dialog.ts
  src/onboarding/integration-badge.ts
  src/panels/config/areas/ha-config-area-page.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/config/energy/components/ha-energy-grid-settings.ts
  src/panels/config/energy/dialogs/dialog-energy-solar-settings.ts
  src/panels/config/hardware/ha-config-hardware.ts
  src/panels/config/integrations/ha-domain-integrations.ts
  src/panels/config/integrations/ha-integration-header.ts
  src/panels/config/integrations/ha-integration-list-item.ts
  src/panels/config/repairs/ha-config-repairs.ts
  src/panels/config/repairs/integrations-startup-time.ts
  src/panels/config/tags/dialog-tag-detail.ts
  src/panels/lovelace/cards/hui-picture-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/editor/config-elements/hui-picture-card-editor.ts
  src/panels/lovelace/header-footer/hui-picture-header-footer.ts
  src/panels/lovelace/header-footer/structs.ts
  src/panels/lovelace/header-footer/types.ts
  src/panels/profile/ha-long-lived-access-token-dialog.ts
  src/translations/en.json
Labels: cla-signed

#14910 Fix days missing from ha-base-time-input _valueChanged
  src/components/ha-base-time-input.ts
Labels: cla-signed

#14921 Add mV as unit for sensor device_class voltage
  src/panels/config/entities/entity-registry-settings.ts
Labels: cla-signed, backend merged

#14916 Add support for unit conversion of electric current
  src/panels/config/entities/entity-registry-settings.ts
Labels: cla-signed

#14905 Fix All Day recurring events that end on a specific date
  src/panels/calendar/dialog-calendar-event-editor.ts
  src/panels/calendar/ha-recurrence-rule-editor.ts
Labels: cla-signed

#14925 20221230.0
  gallery/src/pages/components/ha-alert.ts
  hassio/src/addon-view/info/hassio-addon-info.ts
  pyproject.toml
  src/components/ha-addon-picker.ts
  src/components/ha-base-time-input.ts
  src/components/ha-config-entry-picker.ts
  src/components/tile/ha-tile-image.ts
  src/dialogs/image-cropper-dialog/image-cropper-dialog.ts
  src/onboarding/integration-badge.ts
  src/panels/calendar/dialog-calendar-event-editor.ts
  src/panels/calendar/ha-recurrence-rule-editor.ts
  src/panels/config/areas/ha-config-area-page.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/config/energy/components/ha-energy-grid-settings.ts
  src/panels/config/energy/dialogs/dialog-energy-solar-settings.ts
  src/panels/config/entities/entity-registry-settings.ts
  src/panels/config/hardware/ha-config-hardware.ts
  src/panels/config/integrations/ha-domain-integrations.ts
  src/panels/config/integrations/ha-integration-header.ts
  src/panels/config/integrations/ha-integration-list-item.ts
  src/panels/config/repairs/ha-config-repairs.ts
  src/panels/config/repairs/integrations-startup-time.ts
  src/panels/config/tags/dialog-tag-detail.ts
  src/panels/lovelace/cards/hui-picture-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/editor/config-elements/hui-picture-card-editor.ts
  src/panels/lovelace/header-footer/hui-picture-header-footer.ts
  src/panels/lovelace/header-footer/structs.ts
  src/panels/lovelace/header-footer/types.ts
  src/panels/profile/ha-long-lived-access-token-dialog.ts
  src/translations/en.json
Labels: cla-signed

#14884 Add helper text to select slider
  src/components/ha-form/ha-form-integer.ts
Labels: cla-signed
