Repository home-assistant/frontend, pull requests merged in 2022-02, with the labels that each got.

#11499 Handle config flow errors better
  src/dialogs/config-flow/dialog-data-entry-flow.ts
Labels: cla-signed

#11505 unset error when navigating away in media browser
  src/components/media-player/ha-media-player-browse.ts
Labels: cla-signed

#11506 Add alert to OZW and legacy Z-Wave panels
  src/panels/config/integrations/integration-panels/ozw/ozw-config-dashboard.ts
  src/panels/config/integrations/integration-panels/zwave/ha-config-zwave.js
Labels: cla-signed

#11507 Add start point to device energy graph
  src/panels/lovelace/cards/energy/hui-energy-devices-graph-card.ts
Labels: cla-signed

#11510 Scene to have history
  src/common/const.ts
  src/common/entity/compute_state_display.ts
Labels: cla-signed

#11512 20220202.0
  setup.cfg
  src/common/const.ts
  src/common/entity/compute_state_display.ts
Labels: cla-signed

#11514 Only upload wheels to PyPI
  script/release
Labels: cla-signed

#11516 Make sure we load data in update card
  hassio/src/update-available/update-available-card.ts
  src/data/supervisor/supervisor.ts
Labels: cla-signed, supervisor

#11518 Guard load diagnostics
  src/panels/config/devices/ha-config-device-page.ts
Labels: cla-signed

#11519 Design home - Fix GitHub Links
  gallery/src/pages/concepts/home.markdown
Labels: cla-signed

#11166 Add filtering to system log card and error log card
  src/panels/config/logs/error-log-card.ts
  src/panels/config/logs/ha-config-logs.ts
  src/panels/config/logs/system-log-card.ts
  src/translations/en.json
Labels: cla-signed

#11522 Handle unknown toggle state
  src/components/entity/ha-entity-toggle.ts
Labels: cla-signed

#11524 Fix dialog heading aria label
  hassio/src/dialogs/backup/dialog-hassio-backup-upload.ts
  hassio/src/dialogs/backup/dialog-hassio-backup.ts
  hassio/src/dialogs/hardware/dialog-hassio-hardware.ts
  hassio/src/dialogs/network/dialog-hassio-network.ts
  src/components/media-player/dialog-media-player-browse.ts
  src/dialogs/more-info/ha-more-info-dialog.ts
  src/dialogs/quick-bar/ha-quick-bar.ts
  src/panels/config/entities/dialog-entity-editor.ts
  src/panels/config/logs/dialog-system-log-detail.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-create-card.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-edit-card.ts
  src/panels/lovelace/editor/view-editor/hui-dialog-edit-view.ts
Labels: cla-signed

#11527 Use css to hide hint in quickbar
  src/dialogs/quick-bar/ha-quick-bar.ts
Labels: cla-signed

#11528 Clear old src when disconnected so we can't fetch it with the wrong t…
  src/panels/lovelace/components/hui-image.ts
Labels: cla-signed

#11523 Add name of integration to diagnostics when more than 1
  src/panels/config/devices/ha-config-device-page.ts
  src/translations/en.json
Labels: cla-signed

#11538 Remove optional field from ha-form schema type
  gallery/src/pages/components/ha-form.ts
  src/components/ha-form/ha-form-integer.ts
  src/components/ha-form/ha-form-select.ts
  src/components/ha-form/ha-form-string.ts
  src/components/ha-form/types.ts
  src/dialogs/config-flow/step-flow-form.ts
Labels: cla-signed

#11475 Fix config card rtl issues
  src/panels/config/info/ha-config-info.ts
  src/panels/config/info/integrations-card.ts
  src/panels/config/info/system-health-card.ts
Labels: cla-signed

#11099 Add entity id autocompletion to YAML code editors
  package.json
  src/components/ha-code-editor.ts
  src/components/ha-selector/ha-selector-object.ts
  src/components/ha-service-control.ts
  src/components/ha-yaml-editor.ts
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/action/types/ha-automation-action-event.ts
  src/panels/config/automation/condition/ha-automation-condition-editor.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-event.ts
  src/panels/config/integrations/integration-panels/mqtt/mqtt-config-panel.ts
  src/panels/config/integrations/integration-panels/zha/dialog-zha-device-zigbee-info.ts
  src/panels/config/script/ha-script-editor.ts
  src/panels/developer-tools/service/developer-tools-service.ts
  src/panels/developer-tools/template/developer-tools-template.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-suggest-card.ts
  src/panels/lovelace/editor/hui-dialog-save-config.ts
  src/panels/lovelace/editor/hui-element-editor.ts
  src/panels/lovelace/hui-editor.ts
  src/resources/codemirror.ts
  yarn.lock
Labels: cla-signed, noteworthy

#11534 Add selectors to ha-form
  build-scripts/bundle.js
  build-scripts/webpack.js
  gallery/src/components/demo-black-white-row.ts
  gallery/src/pages/components/ha-form.ts
  src/components/ha-form/ha-form.ts
  src/components/ha-form/types.ts
Labels: cla-signed, needs design preview

#11547 Allow translate gas total
  src/panels/lovelace/cards/energy/hui-energy-sources-table-card.ts
  src/translations/en.json
Labels: cla-signed

#11546 Migrate combobox to mwc
  package.json
  src/components/device/ha-area-devices-picker.ts
  src/components/device/ha-device-picker.ts
  src/components/entity/ha-entity-attribute-picker.ts
  src/components/entity/ha-entity-picker.ts
  src/components/entity/ha-statistic-picker.ts
  src/components/entity/ha-statistics-picker.ts
  src/components/ha-addon-picker.ts
  src/components/ha-area-picker.ts
  src/components/ha-combo-box.ts
  src/components/ha-date-input.ts
  src/components/ha-icon-picker.ts
  src/components/ha-selector/ha-selector-addon.ts
  src/components/ha-service-control.ts
  src/components/ha-service-picker.ts
  src/panels/config/energy/dialogs/dialog-energy-battery-settings.ts
  src/panels/config/energy/dialogs/dialog-energy-device-settings.ts
  src/panels/config/energy/dialogs/dialog-energy-gas-settings.ts
  src/panels/config/energy/dialogs/dialog-energy-grid-flow-settings.ts
  src/panels/config/energy/dialogs/dialog-energy-solar-settings.ts
  src/panels/lovelace/editor/config-elements/hui-statistics-graph-card-editor.ts
  yarn.lock
Labels: cla-signed, needs design preview

#11555 New date picker
  package.json
  src/components/ha-date-input.ts
  src/components/ha-dialog-date-picker.ts
  src/dialogs/more-info/controls/more-info-input_datetime.ts
  src/panels/lovelace/entity-rows/hui-input-datetime-entity-row.ts
  yarn.lock
Labels: cla-signed, needs design preview

#11554 Link via device on device page
  src/panels/config/devices/device-detail/ha-device-info-card.ts
Labels: cla-signed

#11564 Add integration_discovery to discovery sources
  src/data/config_flow.ts
Labels: cla-signed

#11565 Remember filter between navigation
  src/components/data-table/ha-data-table.ts
  src/layouts/hass-tabs-subpage-data-table.ts
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/integrations/ha-config-integrations.ts
Labels: cla-signed

#11543 Convert selectors to MWC
  gallery/src/pages/components/ha-selector.ts
  package.json
  src/components/ha-form/ha-form-integer.ts
  src/components/ha-selector/ha-selector-number.ts
  src/components/ha-selector/ha-selector-select.ts
  src/components/ha-selector/ha-selector-target.ts
  src/components/ha-selector/ha-selector-text.ts
  yarn.lock
Labels: cla-signed, needs design preview

#11562 Covert area picker to combo-box
  src/components/ha-area-picker.ts
  src/components/ha-combo-box.ts
  src/translations/en.json
Labels: cla-signed, needs design preview

#11560 Convert entity picker to ha-combo
  src/components/device/ha-device-picker.ts
  src/components/entity/ha-entity-picker.ts
  src/components/entity/ha-statistic-picker.ts
  src/components/ha-area-picker.ts
  src/components/ha-selector/ha-selector.ts
  src/translations/en.json
Labels: cla-signed, needs design preview

#11590 Update links on info page
  src/panels/config/info/ha-config-info.ts
Labels: cla-signed

#11591 Migrate (input) select entities to mwc
  src/panels/lovelace/entity-rows/hui-input-select-entity-row.ts
  src/panels/lovelace/entity-rows/hui-select-entity-row.ts
  src/state-summary/state-card-input_select.ts
  src/state-summary/state-card-select.ts
Labels: cla-signed

#11589 Convert HaFormSchemas to use selectors
  gallery/src/pages/components/ha-selector.ts
  hassio/src/dialogs/registries/dialog-hassio-registries.ts
  src/components/ha-selector/ha-selector-text.ts
  src/data/selector.ts
  src/onboarding/onboarding-create-user.ts
  src/panels/config/integrations/integration-panels/zha/zha-config-dashboard.ts
  src/panels/profile/dialog-ha-mfa-module-setup-flow.ts
Labels: cla-signed

#11587 Convert entity-attribute picker to ha-combo-box
  src/components/entity/ha-entity-attribute-picker.ts
  src/components/ha-combo-box.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/panels/lovelace/editor/config-elements/hui-entity-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-weather-forecast-card-editor.ts
  src/panels/lovelace/editor/types.ts
Labels: cla-signed

#11586 Convert icon picker to ha-combobox
  src/components/ha-combo-box.ts
  src/components/ha-icon-picker.ts
  src/components/ha-textfield.ts
Labels: cla-signed

#11588 Convert area-devices picker
  src/components/device/ha-area-devices-picker.ts
Labels: cla-signed

#11592 Convert device automation picker to mwc
  src/components/device/ha-device-automation-picker.ts
Labels: cla-signed

#11594 Fix clearing device in device action
  src/panels/config/automation/action/types/ha-automation-action-device_id.ts
  src/panels/config/automation/condition/types/ha-automation-condition-device.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-device.ts
  src/panels/developer-tools/state/developer-tools-state.js
Labels: cla-signed

#11595 dark mode fixes
  src/components/ha-combo-box.ts
  src/components/ha-icon-picker.ts
Labels: cla-signed

#11596 Only show stable add-ons in the store if not advanced mode
  hassio/src/addon-store/hassio-addon-repository.ts
Labels: cla-signed, supervisor

#11597 Convert Automation Action Choose to HA Form
  src/panels/config/automation/action/types/ha-automation-action-choose.ts
Labels: cla-signed

#11610 Replace checkboxes in list items with `check-list-item`
  src/components/ha-check-list-item.ts
  src/components/ha-checkbox.ts
  src/components/ha-dialog.ts
  src/components/ha-form/ha-form-float.ts
  src/components/ha-form/ha-form-integer.ts
  src/components/ha-form/ha-form-multi_select.ts
  src/components/ha-form/ha-form-string.ts
  src/components/ha-formfield.ts
  src/components/ha-qr-scanner.ts
  src/components/ha-radio.ts
  src/components/ha-selector/ha-selector-number.ts
  src/components/ha-selector/ha-selector-text.ts
  src/components/ha-slider.js
  src/components/ha-switch.ts
  src/components/ha-textfield.ts
  src/panels/config/cloud/account/cloud-google-pref.ts
  src/panels/config/cloud/forgot-password/cloud-forgot-password.ts
  src/panels/config/cloud/login/cloud-login.ts
  src/panels/config/cloud/register/cloud-register.ts
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/integrations/ha-config-integrations.ts
  src/panels/config/integrations/integration-panels/zwave_js/dialog-zwave_js-add-node.ts
Labels: cla-signed

#11618 Make textarea grow on input
  src/components/ha-selector/ha-selector-text.ts
  src/components/ha-textarea.ts
Labels: cla-signed

#11623 Update lit-virtualizer
  .yarn/patches/@lit-labs/virtualizer/0.7.0.patch
  .yarn/patches/@lit-labs/virtualizer/event-target-shim.patch
  package.json
  src/components/data-table/ha-data-table.ts
  src/dialogs/quick-bar/ha-quick-bar.ts
  src/panels/logbook/ha-logbook.ts
  yarn.lock
Labels: cla-signed

#11622 Set initial focus for device, area, and entity dialogs
  src/dialogs/more-info/ha-more-info-dialog.ts
  src/panels/config/areas/dialog-area-registry-detail.ts
  src/panels/config/devices/device-registry-detail/dialog-device-registry-detail.ts
  src/panels/config/entities/dialog-entity-editor.ts
Labels: cla-signed

#11503 Add aria-label to table headers with no title
  src/components/data-table/ha-data-table.ts
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/helpers/ha-config-helpers.ts
  src/panels/config/lovelace/dashboards/ha-config-lovelace-dashboards.ts
  src/panels/config/scene/ha-scene-dashboard.ts
  src/panels/config/script/ha-script-picker.ts
  src/panels/config/tags/ha-config-tags.ts
  src/panels/config/users/ha-config-users.ts
  src/panels/lovelace/editor/card-editor/hui-entity-picker-table.ts
  src/translations/en.json
Labels: cla-signed

#11616 Add loadCardHelpers to cast scope
  cast/src/receiver/layout/hc-lovelace.ts
Labels: cla-signed

#11628 Update code editor to material 3 look
  src/resources/codemirror.ts
Labels: cla-signed

#11627 Set button role on button card and handle enter and space
  src/panels/lovelace/cards/hui-button-card.ts
Labels: cla-signed

#11630 Only load ha-selector when needed
  src/components/ha-form/ha-form.ts
Labels: cla-signed

#11629 Fix service control for older browsers
  src/components/ha-service-control.ts
Labels: cla-signed

#11626 Migrate a bunch of paper-dropdowns
  src/components/data-table/ha-data-table.ts
  src/components/ha-blueprint-picker.ts
  src/components/ha-combo-box.ts
  src/components/user/ha-user-picker.ts
  src/components/user/ha-users-picker.ts
  src/dialogs/config-flow/step-flow-create-entry.ts
  src/dialogs/more-info/controls/more-info-climate.ts
  src/dialogs/more-info/controls/more-info-fan.js
  src/dialogs/more-info/controls/more-info-humidifier.ts
  src/dialogs/more-info/controls/more-info-light.ts
  src/dialogs/more-info/controls/more-info-media_player.ts
  src/dialogs/more-info/controls/more-info-remote.ts
  src/dialogs/more-info/controls/more-info-vacuum.ts
  src/dialogs/more-info/controls/more-info-water_heater.js
  src/panels/config/automation/action/types/ha-automation-action-repeat.ts
  src/panels/config/automation/blueprint-automation-editor.ts
  src/panels/config/automation/dialog-new-automation.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/automation/manual-automation-editor.ts
  src/panels/config/cloud/account/cloud-tts-pref.ts
  src/panels/config/cloud/account/dialog-cloud-tts-try.ts
  src/panels/config/devices/device-registry-detail/dialog-device-registry-detail.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/helpers/ha-config-helpers.ts
  src/panels/lovelace/editor/config-elements/hui-glance-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-graph-footer-editor.ts
  src/translations/en.json
Labels: cla-signed

#11632 Merged too fast for Bram :) Code improv
  src/components/ha-form/ha-form.ts
Labels: cla-signed

#11633 Add support for opening camera media source
  src/data/camera.ts
  src/panels/media-browser/ha-panel-media-browser.ts
Labels: cla-signed

#11634 Create error when trying to backup wile system in freeze
  hassio/src/update-available/update-available-card.ts
  src/translations/en.json
Labels: cla-signed, supervisor

#11635 Add missing type to create device automation/script heading
  src/panels/config/devices/device-detail/ha-device-automation-dialog.ts
  src/panels/config/devices/device-detail/show-dialog-device-automation.ts
  src/panels/config/devices/ha-config-device-page.ts
Labels: cla-signed

#11568 Generate random webhook_id and add copy button
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-webhook.ts
  src/translations/en.json
Labels: cla-signed, needs design preview

#11637 Migrate search bar to mwc
  src/common/search/search-input.ts
  src/components/data-table/ha-data-table.ts
  src/dialogs/quick-bar/ha-quick-bar.ts
  src/layouts/hass-tabs-subpage-data-table.ts
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/helpers/ha-config-helpers.ts
  src/panels/config/integrations/ha-config-integrations.ts
  src/panels/config/logs/ha-config-logs.ts
  src/panels/lovelace/editor/card-editor/hui-card-picker.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-create-card.ts
  src/panels/lovelace/editor/unused-entities/hui-unused-entities.ts
Labels: cla-signed

#11636 Bunch of fixes and cleanup
  hassio/src/system/hassio-core-info.ts
  hassio/src/system/hassio-host-info.ts
  src/components/entity/ha-entities-picker.ts
  src/components/entity/ha-statistics-picker.ts
  src/components/ha-check-list-item.ts
  src/components/ha-selector/ha-selector.ts
  src/components/ha-service-control.ts
  src/components/ha-service-picker.ts
  src/components/media-player/ha-media-player-browse.ts
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/action/types/ha-automation-action-choose.ts
  src/panels/config/automation/action/types/ha-automation-action-device_id.ts
  src/panels/config/automation/condition/ha-automation-condition-editor.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/panels/config/integrations/integration-panels/zha/zha-device-card.ts
  src/panels/config/integrations/integration-panels/zha/zha-device-pairing-status-card.ts
  src/panels/config/lovelace/resources/ha-config-lovelace-resources.ts
  src/panels/config/scene/ha-scene-editor.ts
  src/panels/config/users/dialog-user-detail.ts
  src/panels/developer-tools/service/developer-tools-service.ts
  src/panels/lovelace/components/hui-action-editor.ts
  src/panels/lovelace/components/hui-entity-editor.ts
  src/panels/lovelace/components/hui-theme-select-editor.ts
  src/panels/lovelace/editor/config-elements/config-elements-style.ts
  src/panels/lovelace/editor/config-elements/hui-entities-card-editor.ts
  src/panels/lovelace/editor/header-footer-editor/hui-header-footer-editor.ts
  src/panels/lovelace/editor/hui-entities-card-row-editor.ts
Labels: cla-signed

#11631 State Trigger -> HA Form
  src/components/ha-base-time-input.ts
  src/components/ha-form/ha-form.ts
  src/components/ha-selector/ha-selector-duration.ts
  src/components/ha-selector/ha-selector-text.ts
  src/components/ha-selector/ha-selector.ts
  src/data/selector.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-state.ts
Labels: cla-signed

#11615 Allow uploading media
  src/components/media-player/ha-media-player-browse.ts
  src/data/media_source.ts
  src/panels/media-browser/ha-panel-media-browser.ts
  src/translations/en.json
Labels: cla-signed, wait for backend

#11641 Add Attribute Picker as a selector - add to state trigger
  gallery/src/pages/components/ha-form.ts
  gallery/src/pages/components/ha-selector.ts
  src/components/ha-form/ha-form.ts
  src/components/ha-selector/ha-selector-attribute.ts
  src/components/ha-selector/ha-selector.ts
  src/data/selector.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-state.ts
Labels: cla-signed, needs design preview

#11648 Time Pattern to HA Form
  src/panels/config/automation/trigger/types/ha-automation-trigger-time_pattern.ts
Labels: cla-signed, needs design preview

#11647 Convert Sun to Ha Form
  src/panels/config/automation/trigger/types/ha-automation-trigger-sun.ts
Labels: cla-signed, needs design preview

#11644 Geo Location Trigger to HA - Form
  src/panels/config/automation/trigger/types/ha-automation-trigger-geo_location.ts
Labels: cla-signed, needs design preview

#11645 HA Trigger to HA Form
  src/panels/config/automation/trigger/types/ha-automation-trigger-homeassistant.ts
Labels: cla-signed, needs design preview

#11649 Make HA Form set required to false for selectors
  src/components/ha-form/ha-form.ts
Labels: cla-signed

#11660 Fix Lovelace Empty Menu when not advanced or admin
  src/panels/lovelace/hui-root.ts
Labels: cla-signed

#11642 Add support for media player assumed state
  src/data/media-player.ts
  src/panels/lovelace/entity-rows/hui-media-player-entity-row.ts
Labels: cla-signed

#11662 Improve search and filters on mobile + fix close button in search field
  src/common/search/search-input.ts
  src/components/ha-button-related-filter-menu.ts
  src/components/ha-textfield.ts
  src/layouts/hass-tabs-subpage-data-table.ts
  src/layouts/hass-tabs-subpage.ts
  src/panels/config/integrations/ha-config-integrations.ts
  src/panels/config/logs/ha-config-logs.ts
Labels: cla-signed

#11650 Allow adding Zigbee/Zwave device
  src/dialogs/config-flow/step-flow-pick-handler.ts
  src/translations/en.json
Labels: cla-signed

#11646 Numerical State to HA-Form
  src/panels/config/automation/trigger/types/ha-automation-trigger-numeric_state.ts
Labels: cla-signed, needs design preview

#11664 Filter fixes
  src/components/ha-button-related-filter-menu.ts
  src/dialogs/config-flow/step-flow-pick-handler.ts
  src/dialogs/more-info/ha-more-info-dialog.ts
  src/layouts/hass-tabs-subpage-data-table.ts
  src/panels/config/integrations/ha-config-integrations.ts
Labels: cla-signed

#11477 Add WORKSPACE_DIRECTORY environment variable to devcontainer and script.core
  .devcontainer/devcontainer.json
  script/core
Labels: cla-signed

#11677 Revert compute state display show empty string as unknown
  src/common/entity/compute_state_display.ts
Labels: cla-signed

#11676 Set initial focus for some more dialogs
  src/dialogs/config-entry-system-options/dialog-config-entry-system-options.ts
  src/panels/config/devices/device-detail/integration-elements/mqtt/dialog-mqtt-device-debug-info.ts
  src/panels/config/logs/dialog-system-log-detail.ts
  src/panels/config/users/dialog-add-user.ts
  src/panels/developer-tools/statistics/dialog-statistics-fix-units-changed.ts
  src/panels/developer-tools/statistics/dialog-statistics-fix-unsupported-unit-meta.ts
Labels: cla-signed

#11683 Limit types of media that can be uploaded to local media
  src/panels/media-browser/ha-panel-media-browser.ts
Labels: cla-signed

#11640 Don't show toggle always on more info
  src/common/entity/can_toggle_domain.ts
  src/common/entity/can_toggle_state.ts
  test/common/entity/can_toggle_state_test.ts
Labels: cla-signed

#11673 Omit Device info and actions for connected controller nodes
  src/data/zwave_js.ts
  src/panels/config/devices/device-detail/integration-elements/zwave_js/ha-device-actions-zwave_js.ts
  src/panels/config/devices/device-detail/integration-elements/zwave_js/ha-device-info-zwave_js.ts
Labels: cla-signed

#11601 Script Editor to Ha Form
  build-scripts/bundle.js
  gallery/src/pages/components/ha-form.ts
  gallery/src/pages/components/ha-selector.ts
  src/components/ha-form/ha-form.ts
  src/components/ha-selector/ha-selector-icon.ts
  src/components/ha-selector/ha-selector-select.ts
  src/components/ha-selector/ha-selector.ts
  src/data/selector.ts
  src/panels/config/script/ha-script-editor.ts
Labels: cla-signed, needs design preview

#11674 Another round of paper-dropdown -> mwc-select conversion
  hassio/src/addon-view/config/hassio-addon-audio.ts
  hassio/src/dashboard/hassio-update.ts
  hassio/src/dialogs/datadisk/dialog-hassio-datadisk.ts
  hassio/src/system/hassio-supervisor-log.ts
  src/components/entity/ha-statistic-picker.ts
  src/components/ha-paper-dropdown-menu.ts
  src/components/media-player/ha-media-player-browse.ts
  src/dialogs/more-info/controls/more-info-light.ts
  src/dialogs/more-info/controls/more-info-remote.ts
  src/dialogs/more-info/controls/more-info-vacuum.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/panels/config/automation/condition/types/ha-automation-condition-trigger.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-tag.ts
  src/panels/config/cloud/account/cloud-remote-pref.ts
  src/panels/config/cloud/account/cloud-webhooks.ts
  src/panels/config/cloud/register/cloud-register.ts
  src/panels/config/entities/entity-registry-settings.ts
  src/panels/config/ha-form-style.js
  src/panels/config/ha-panel-config.ts
  src/panels/config/helpers/dialog-helper-detail.ts
  src/panels/config/integrations/integration-panels/zha/zha-config-dashboard.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-logs.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-node-config.ts
  src/panels/config/lovelace/resources/dialog-lovelace-resource-detail.ts
  src/panels/config/lovelace/resources/ha-config-lovelace-resources.ts
  src/panels/lovelace/editor/config-elements/hui-alarm-panel-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-calendar-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-conditional-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-entities-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-generic-entity-row-editor.ts
  src/panels/lovelace/editor/config-elements/hui-picture-entity-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-picture-glance-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-sensor-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-statistics-graph-card-editor.ts
  src/panels/lovelace/editor/header-footer-editor/hui-header-footer-editor.ts
  src/panels/lovelace/editor/select-view/hui-dialog-select-view.ts
  src/panels/lovelace/editor/view-editor/hui-view-editor.ts
  src/panels/lovelace/editor/view-editor/hui-view-visibility-editor.ts
  src/panels/profile/ha-panel-profile.ts
  src/panels/profile/ha-pick-dashboard-row.ts
  src/panels/profile/ha-pick-language-row.js
  src/panels/profile/ha-pick-language-row.ts
  src/panels/profile/ha-pick-number-format-row.ts
  src/panels/profile/ha-pick-theme-row.ts
  src/panels/profile/ha-pick-time-format-row.ts
Labels: cla-signed

#11688 hassio fixes
  hassio/src/addon-store/hassio-addon-store.ts
  hassio/src/addon-view/config/hassio-addon-audio.ts
  hassio/src/dialogs/hardware/dialog-hassio-hardware.ts
  hassio/src/system/hassio-supervisor-log.ts
  hassio/src/update-available/update-available-card.ts
Labels: cla-signed

#11689 Dont exclude domain for area and device
  src/components/ha-button-related-filter-menu.ts
Labels: cla-signed

#11681 Try to keep the browsing stack when changing players in media panel
  src/components/media-player/ha-media-player-browse.ts
  src/panels/media-browser/ha-bar-media-player.ts
  src/panels/media-browser/ha-panel-media-browser.ts
Labels: cla-signed

#11687 Allow uploading multiple files
  src/components/media-player/ha-media-player-browse.ts
  src/panels/media-browser/ha-panel-media-browser.ts
  src/translations/en.json
Labels: cla-signed

#11690 Group helpers not in an area in a single card
  src/panels/lovelace/common/generate-lovelace-config.ts
  src/translations/en.json
Labels: cla-signed

#11691 Improve `stripPrefixFromEntityName` to handle colon and space separator
  src/common/entity/strip_prefix_from_entity_name.ts
  src/panels/config/devices/device-detail/ha-device-entities-card.ts
  src/panels/lovelace/common/generate-lovelace-config.ts
Labels: cla-signed

#11531 Display transmitted messages in MQTT debug info dialog
  src/data/mqtt.ts
  src/panels/config/devices/device-detail/integration-elements/mqtt/dialog-mqtt-device-debug-info.ts
  src/panels/config/devices/device-detail/integration-elements/mqtt/mqtt-messages.ts
  src/translations/en.json
Labels: cla-signed

#11692 Latest paper-dropdown -> mwc-select conversion
  demo/src/entrypoint.ts
  hassio/src/addon-view/config/hassio-addon-audio.ts
  hassio/src/dialogs/datadisk/dialog-hassio-datadisk.ts
  src/entrypoints/authorize.ts
  src/layouts/home-assistant.ts
  src/onboarding/onboarding-integrations.ts
  src/panels/config/integrations/integration-panels/zha/types.ts
  src/panels/config/integrations/integration-panels/zha/zha-cluster-attributes.ts
  src/panels/config/integrations/integration-panels/zha/zha-cluster-commands.ts
  src/panels/config/integrations/integration-panels/zha/zha-clusters.ts
  src/panels/config/integrations/integration-panels/zha/zha-device-binding.ts
  src/panels/config/integrations/integration-panels/zha/zha-group-binding.ts
  src/panels/config/integrations/integration-panels/zha/zha-network-visualization-page.ts
  src/panels/config/integrations/integration-panels/zwave/ha-config-zwave.js
Labels: cla-signed

#11693 This adds back mobile click accessibility
  src/entrypoints/app.ts
  src/entrypoints/authorize.ts
  src/entrypoints/custom-panel.ts
  src/entrypoints/onboarding.ts
  src/panels/config/integrations/integration-panels/zwave/ha-config-zwave.js
Labels: cla-signed

#11686 Updated text part 2
  src/translations/en.json
Labels: cla-signed

#11667 Set initial focus for lovelace dialogs
  src/panels/config/lovelace/dashboards/dialog-lovelace-dashboard-detail.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-create-card.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-delete-card.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-edit-card.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-suggest-card.ts
  src/panels/lovelace/editor/header-footer-editor/hui-dialog-create-headerfooter.ts
  src/panels/lovelace/editor/hui-dialog-save-config.ts
  src/panels/lovelace/editor/lovelace-editor/hui-dialog-edit-lovelace.ts
  src/panels/lovelace/editor/select-view/hui-dialog-select-view.ts
  src/panels/lovelace/editor/view-editor/hui-dialog-edit-view.ts
Labels: cla-signed

#11695 Migrate all lovelace elements to mwc
  src/components/ha-date-input.ts
  src/panels/lovelace/cards/hui-alarm-panel-card.ts
  src/panels/lovelace/cards/hui-shopping-list-card.ts
  src/panels/lovelace/entity-rows/hui-input-number-entity-row.ts
  src/panels/lovelace/entity-rows/hui-input-text-entity-row.ts
  src/panels/lovelace/entity-rows/hui-number-entity-row.ts
  src/panels/shopping-list/ha-panel-shopping-list.ts
  src/state-summary/state-card-input_number.js
  src/state-summary/state-card-input_text.js
  src/state-summary/state-card-number.js
Labels: cla-signed

#11696 Clean up some imports
  src/components/entity/ha-statistic-picker.ts
  src/components/ha-picture-upload.ts
  src/components/ha-service-control.ts
  src/panels/config/automation/action/types/ha-automation-action-choose.ts
  src/panels/config/automation/action/types/ha-automation-action-service.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-tag.ts
  src/panels/config/cloud/login/cloud-login.ts
  src/panels/config/core/ha-config-section-core.js
  src/panels/config/server_control/ha-config-server-control.ts
Labels: cla-signed

#11697 Convert triple dots to single char in translations
  src/translations/en.json
Labels: cla-signed

#11698 Fixes remote icon state color
  src/common/style/icon_color_css.ts
Labels: cla-signed

#11705 Convert scene action to service call
  src/data/script.ts
  src/data/script_i18n.ts
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/action/types/ha-automation-action-scene.ts
Labels: cla-signed, wait for backend

#11707 Fix mode selection in automation editor
  src/panels/config/automation/manual-automation-editor.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-device.ts
Labels: cla-signed

#11711 Remove duplicate gallery page
  gallery/sidebar.js
  gallery/src/pages/automation/selectors.markdown
  gallery/src/pages/automation/selectors.ts
  gallery/src/pages/components/ha-selector.markdown
Labels: cla-signed

#11704 Add bottom padding to config links list with safe-area-inset-bottom
  src/panels/config/dashboard/ha-config-dashboard.ts
Labels: cla-signed

#11712 Bump hls.js to v1.1.5
  package.json
  yarn.lock
Labels: cla-signed

#11556 Make zwave_js config panel inclusion state aware
  src/data/zwave_js.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-config-dashboard.ts
  src/translations/en.json
Labels: cla-signed

#11708 Fix mwc-select in lovelace editors
  src/panels/lovelace/components/hui-theme-select-editor.ts
  src/panels/lovelace/editor/config-elements/hui-calendar-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-conditional-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-generic-entity-row-editor.ts
  src/panels/lovelace/editor/hui-element-editor.ts
  src/panels/lovelace/editor/view-editor/hui-view-visibility-editor.ts
Labels: cla-signed

#11703 Add signed add-on capability and adjust max rating
  hassio/src/addon-view/info/hassio-addon-info.ts
  src/data/hassio/addon.ts
  src/translations/en.json
Labels: cla-signed, supervisor

#11721 Debounce refresh the cloud status if Google events happen
  src/panels/config/cloud/account/cloud-account.ts
Labels: cla-signed

#11724 Remove custom MQTT delete device button
  src/data/mqtt.ts
  src/panels/config/devices/device-detail/integration-elements/mqtt/ha-device-actions-mqtt.ts
Labels: cla-signed

#11729 20220203.1
  setup.cfg
  src/common/entity/compute_state_display.ts
  src/components/ha-service-control.ts
Labels: cla-signed

#11725 Remove custom Tasmota delete device button
  src/data/tasmota.ts
  src/panels/config/devices/device-detail/integration-elements/tasmota/ha-device-actions-tasmota.ts
  src/panels/config/devices/ha-config-device-page.ts
Labels: cla-signed

#11727 Automation Conditions to conversion to ha-form or mwc
  src/components/ha-form/types.ts
  src/components/ha-selector/ha-selector-time.ts
  src/panels/config/automation/condition/ha-automation-condition-editor.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/panels/config/automation/condition/types/ha-automation-condition-device.ts
  src/panels/config/automation/condition/types/ha-automation-condition-logical.ts
  src/panels/config/automation/condition/types/ha-automation-condition-numeric_state.ts
  src/panels/config/automation/condition/types/ha-automation-condition-state.ts
  src/panels/config/automation/condition/types/ha-automation-condition-sun.ts
  src/panels/config/automation/condition/types/ha-automation-condition-template.ts
  src/panels/config/automation/condition/types/ha-automation-condition-time.ts
  src/panels/config/automation/condition/types/ha-automation-condition-trigger.ts
  src/panels/config/automation/condition/types/ha-automation-condition-zone.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-device.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-numeric_state.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-state.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-sun.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-template.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-time.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-zone.ts
  src/translations/en.json
Labels: cla-signed, needs design preview

#11694 Entity Settings Page to MWC 3
  src/panels/config/entities/entity-registry-basic-editor.ts
  src/panels/config/entities/entity-registry-settings.ts
  src/panels/config/helpers/dialog-helper-detail.ts
  src/panels/config/helpers/forms/ha-counter-form.ts
  src/panels/config/helpers/forms/ha-input_boolean-form.ts
  src/panels/config/helpers/forms/ha-input_button-form.ts
  src/panels/config/helpers/forms/ha-input_datetime-form.ts
  src/panels/config/helpers/forms/ha-input_number-form.ts
  src/panels/config/helpers/forms/ha-input_select-form.ts
  src/panels/config/helpers/forms/ha-input_text-form.ts
  src/panels/config/helpers/forms/ha-timer-form.ts
Labels: cla-signed

#11734 Update media player more info
  src/dialogs/more-info/controls/more-info-media_player.ts
Labels: cla-signed

#11739 Pass hass to ha-form to enable selectors
  src/dialogs/config-flow/step-flow-form.ts
  src/panels/config/automation/action/types/ha-automation-action-device_id.ts
  src/panels/config/automation/condition/types/ha-automation-condition-device.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-device.ts
  src/panels/config/integrations/integration-panels/zha/zha-config-dashboard.ts
  src/panels/profile/dialog-ha-mfa-module-setup-flow.ts
Labels: cla-signed

#11742 TTS form no longer showed due to import oopsie
  src/components/media-player/ha-media-player-browse.ts
Labels: cla-signed

#11741 Improve logo rendering for playing media in browser
  src/panels/media-browser/browser-media-player.ts
  src/panels/media-browser/ha-bar-media-player.ts
Labels: cla-signed

#11740 Fix media upload on iOS
  src/panels/media-browser/ha-panel-media-browser.ts
Labels: cla-signed

#11749 Handle inifinity media duration
  src/data/media-player.ts
  src/panels/media-browser/ha-bar-media-player.ts
Labels: cla-signed

#11750 Show when media is being loaded
  src/data/media-player.ts
  src/panels/media-browser/browser-media-player.ts
  src/panels/media-browser/ha-bar-media-player.ts
  src/panels/media-browser/ha-panel-media-browser.ts
Labels: cla-signed

#11716 Add support for removing config entry from a device
  gallery/src/pages/misc/integration-card.ts
  src/data/config_entries.ts
  src/data/device_registry.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/translations/en.json
Labels: cla-signed

#11731 Lovelace Entity Card Editor to Ha Form - Adds Theme Selector and HaFormColumn
  src/components/ha-form/ha-form-grid.ts
  src/components/ha-form/ha-form.ts
  src/components/ha-form/types.ts
  src/components/ha-selector/ha-selector-boolean.ts
  src/components/ha-selector/ha-selector-icon.ts
  src/components/ha-selector/ha-selector-theme.ts
  src/components/ha-selector/ha-selector.ts
  src/data/selector.ts
  src/panels/lovelace/components/hui-theme-select-editor.ts
  src/panels/lovelace/editor/config-elements/hui-entity-card-editor.ts
Labels: cla-signed

#11710 Set initial focus for supervisor dialogs
  hassio/src/components/supervisor-backup-content.ts
  hassio/src/dialogs/backup/dialog-hassio-backup-upload.ts
  hassio/src/dialogs/backup/dialog-hassio-backup.ts
  hassio/src/dialogs/backup/dialog-hassio-create-backup.ts
  hassio/src/dialogs/datadisk/dialog-hassio-datadisk.ts
  hassio/src/dialogs/hardware/dialog-hassio-hardware.ts
  hassio/src/dialogs/markdown/dialog-hassio-markdown.ts
  hassio/src/dialogs/network/dialog-hassio-network.ts
  hassio/src/dialogs/registries/dialog-hassio-registries.ts
  hassio/src/dialogs/repositories/dialog-hassio-repositories.ts
Labels: cla-signed

#11753 Convert Automation Actions to mwc/ha-form + other automation items
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/action/types/ha-automation-action-device_id.ts
  src/panels/config/automation/action/types/ha-automation-action-event.ts
  src/panels/config/automation/action/types/ha-automation-action-play_media.ts
  src/panels/config/automation/action/types/ha-automation-action-repeat.ts
  src/panels/config/automation/action/types/ha-automation-action-wait_for_trigger.ts
  src/panels/config/automation/action/types/ha-automation-action-wait_template.ts
  src/panels/config/automation/condition/ha-automation-condition-editor.ts
  src/panels/config/automation/condition/types/ha-automation-condition-state.ts
  src/panels/config/automation/condition/types/ha-automation-condition-sun.ts
  src/panels/config/automation/condition/types/ha-automation-condition-time.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/automation/manual-automation-editor.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-event.ts
Labels: cla-signed, needs design preview

#11754 Selector: remove text value when not required and empty
  src/components/ha-selector/ha-selector-text.ts
Labels: cla-signed

#11755 Convert date-range-picker to mwc
  src/components/ha-date-range-picker.ts
  src/panels/history/ha-panel-history.ts
  src/panels/logbook/ha-panel-logbook.ts
Labels: cla-signed

#11756 Radio Browser is now added during onboarding
  src/onboarding/onboarding-integrations.ts
Labels: cla-signed

#11757 Add support for the media browser My link
  src/panels/my/ha-panel-my.ts
Labels: cla-signed

#11758 Show Home Assistant when creating partial backup
  hassio/src/components/supervisor-backup-content.ts
Labels: cla-signed, supervisor

#11751 Fix zwave migration
  src/data/device_registry.ts
  src/panels/config/integrations/integration-panels/zwave/zwave-migration.ts
Labels: cla-signed

#11759 Allow config entries to be reloaded when they are in setup_retry state
  src/panels/config/integrations/ha-integration-card.ts
Labels: cla-signed

#11762 Area Card Editor to Ha Form
  src/panels/lovelace/editor/config-elements/hui-area-card-editor.ts
Labels: cla-signed

#11764 Fix WebRTC player stream playback when disconnected/connected
  src/components/ha-web-rtc-player.ts
Labels: cla-signed

#11765 set theme to undefined when no theme
  src/panels/lovelace/components/hui-theme-select-editor.ts
  src/panels/lovelace/editor/config-elements/hui-area-card-editor.ts
Labels: cla-signed

#11766 Paper input migrations
  src/dialogs/generic/dialog-box.ts
  src/dialogs/more-info/controls/more-info-media_player.ts
  src/panels/config/scene/ha-scene-editor.ts
  src/panels/config/script/blueprint-script-editor.ts
  src/panels/profile/ha-change-password-card.ts
  src/panels/profile/ha-pick-theme-row.ts
Labels: cla-signed

#11772 Only show description when set
  src/panels/config/automation/manual-automation-editor.ts
  src/translations/en.json
Labels: cla-signed

#11763 Thermostat Editor to HA - Form
  src/panels/lovelace/editor/config-elements/hui-thermostat-card-editor.ts
Labels: cla-signed

#11760 Alarm Card Editor to HA Form
  src/panels/lovelace/editor/config-elements/hui-alarm-panel-card-editor.ts
Labels: cla-signed

#11752 Change icons for cover with device_class curtain
  src/common/entity/cover_icon.ts
Labels: cla-signed

#11776 Include scoped custom element polyfill
  package.json
  src/entrypoints/app.ts
  src/html/_js_base.html.template
  yarn.lock
Labels: cla-signed

#11771 Show triggered in automation editor
  src/common/util/debounce.ts
  src/data/config.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/translations/en.json
Labels: cla-signed

#11781 Allow changing volume media player entity
  src/data/media-player.ts
  src/panels/media-browser/browser-media-player.ts
  src/panels/media-browser/ha-bar-media-player.ts
Labels: cla-signed

#11779 Add community section
  src/panels/config/dashboard/ha-config-dashboard.ts
  src/translations/en.json
Labels: cla-signed

#11782 Fix State Condition 'For' Data
  src/common/datetime/create_duration_data.ts
  src/panels/config/automation/action/types/ha-automation-action-delay.ts
  src/panels/config/automation/condition/types/ha-automation-condition-state.ts
Labels: cla-signed

#11785 entities card editor to MWC
  src/panels/lovelace/editor/config-elements/hui-entities-card-editor.ts
Labels: cla-signed

#11780 Fix ripple corner radius for button card
  src/panels/lovelace/cards/hui-button-card.ts
Labels: cla-signed

#11783 Condition Card Editor to MWC
  src/panels/lovelace/editor/config-elements/hui-conditional-card-editor.ts
Labels: cla-signed

#11788 Put volume slider in the middle of the button
  src/components/ha-button-menu.ts
  src/panels/media-browser/ha-bar-media-player.ts
Labels: cla-signed

#11787 Add media management dialog
  package.json
  src/components/media-player/dialog-media-manage.ts
  src/components/media-player/dialog-media-player-browse.ts
  src/components/media-player/ha-media-manage-button.ts
  src/components/media-player/ha-media-player-browse.ts
  src/components/media-player/ha-media-upload-button.ts
  src/components/media-player/show-media-manage-dialog.ts
  src/data/media_source.ts
  src/dialogs/generic/dialog-box.ts
  src/panels/media-browser/ha-panel-media-browser.ts
  src/panels/profile/ha-panel-profile.ts
  src/translations/en.json
  yarn.lock
Labels: cla-signed

#11791 Convert alarm control panel more info
  src/dialogs/more-info/controls/more-info-alarm_control_panel.js
  src/dialogs/more-info/controls/more-info-alarm_control_panel.ts
Labels: cla-signed

#11792 Migrate more-info configurator
  src/dialogs/more-info/controls/more-info-configurator.js
  src/dialogs/more-info/controls/more-info-configurator.ts
Labels: cla-signed

#11790 Add Margin to Tip
  src/panels/config/dashboard/ha-config-dashboard.ts
Labels: cla-signed

#11796 Dont render double label on number selector
  src/components/ha-selector/ha-selector-number.ts
Labels: cla-signed

#11795 Input conversion in dev tools
  README.md
  src/dialogs/generic/dialog-box.ts
  src/panels/developer-tools/event/developer-tools-event.js
  src/panels/developer-tools/event/event-subscribe-card.ts
  src/panels/developer-tools/state/developer-tools-state.js
  src/panels/lovelace/editor/card-editor/hui-card-preview.ts
  src/panels/lovelace/editor/config-elements/hui-conditional-card-editor.ts
  src/panels/mailbox/ha-panel-mailbox.js
  src/panels/profile/ha-long-lived-access-token-dialog.ts
Labels: cla-signed
