Repository home-assistant/frontend, pull requests merged in 2022-10, with the labels that each got.

#13935 Adapt to removal of statistics state_unit_of_measurement
  src/components/chart/statistics-chart.ts
  src/components/entity/ha-statistic-picker.ts
  src/components/entity/ha-statistics-picker.ts
  src/data/energy.ts
  src/data/recorder.ts
  src/panels/config/energy/components/ha-energy-gas-settings.ts
  src/panels/config/energy/dialogs/dialog-energy-battery-settings.ts
  src/panels/config/energy/dialogs/dialog-energy-device-settings.ts
  src/panels/config/energy/dialogs/dialog-energy-gas-settings.ts
  src/panels/config/energy/dialogs/dialog-energy-grid-flow-settings.ts
  src/panels/config/energy/dialogs/dialog-energy-solar-settings.ts
  src/panels/config/energy/dialogs/show-dialogs-energy.ts
  src/panels/developer-tools/statistics/developer-tools-statistics.ts
  src/panels/developer-tools/statistics/dialog-statistics-adjust-sum.ts
  src/panels/lovelace/cards/energy/hui-energy-distribution-card.ts
  src/panels/lovelace/cards/energy/hui-energy-gas-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-sources-table-card.ts
  src/panels/lovelace/editor/config-elements/hui-statistics-graph-card-editor.ts
Labels: cla-signed

#13938 Normalize automation config
  src/data/automation_i18n.ts
  src/panels/config/automation/action/types/ha-automation-action-choose.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/script/ha-script-editor.ts
Labels: hacktoberfest, cla-signed

#13941 Add condition description for trigger condition
  gallery/src/pages/automation/describe-condition.ts
  src/data/automation_i18n.ts
Labels: hacktoberfest, cla-signed, WTH

#13952 Make duplicate script/automation work in picker for yaml
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/script/ha-script-picker.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#13950 Link discovered homekit devices to domain
  src/panels/config/integrations/dialog-add-integration.ts
Labels: hacktoberfest, cla-signed

#13951 Change add application credential flow
  src/dialogs/config-flow/step-flow-abort.ts
  src/panels/config/application_credentials/dialog-add-application-credential.ts
  src/panels/config/application_credentials/show-dialog-add-application-credential.ts
  src/panels/config/integrations/ha-domain-integrations.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#13958 Fix alignment of float label
  src/components/ha-textfield.ts
Labels: hacktoberfest, cla-signed

#13940 Support typing negative values for ha-form-float
  src/components/ha-form/ha-form-float.ts
Labels: hacktoberfest, cla-signed

#13964 Use formatDateNumeric in repair dialog
  src/panels/config/repairs/dialog-repairs-issue.ts
Labels: hacktoberfest, cla-signed

#13960 Don't include all homekit discovery items for integrations that suppo…
  src/panels/config/integrations/dialog-add-integration.ts
Labels: hacktoberfest, cla-signed

#13967 Update delete area dialog
  src/panels/config/areas/ha-config-area-page.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#13966 Add main column to data table
  hassio/src/backups/hassio-backups.ts
  src/components/data-table/ha-data-table.ts
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/backup/ha-config-backup.ts
  src/panels/config/blueprint/ha-blueprint-overview.ts
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/helpers/ha-config-helpers.ts
  src/panels/config/lovelace/dashboards/ha-config-lovelace-dashboards.ts
  src/panels/config/scene/ha-scene-dashboard.ts
  src/panels/config/script/ha-script-picker.ts
  src/panels/config/tags/ha-config-tags.ts
  src/panels/config/users/ha-config-users.ts
Labels: hacktoberfest, cla-signed

#13961 Add icon to device class duration
  src/common/const.ts
Labels: hacktoberfest, cla-signed

#13968 Correct filtering of statistics when adding gas energy source
  src/panels/config/energy/dialogs/dialog-energy-gas-settings.ts
Labels: hacktoberfest, cla-signed

#13971 Fix empty value combobox
  src/components/ha-combo-box.ts
Labels: hacktoberfest, cla-signed

#13943 Improve video user experience by loading camera thumbnail as initial video background image
  src/components/ha-camera-stream.ts
  src/components/ha-hls-player.ts
  src/components/ha-web-rtc-player.ts
Labels: hacktoberfest, cla-signed

#13969 Add isExternalStatistic helper
  src/data/recorder.ts
  src/panels/config/energy/dialogs/dialog-energy-gas-settings.ts
  src/panels/lovelace/editor/config-elements/hui-statistics-graph-card-editor.ts
Labels: hacktoberfest, cla-signed

#13975 Render automation description as Markdown
  src/panels/config/automation/manual-automation-editor.ts
Labels: hacktoberfest, cla-signed

#13976 Disable trigger id for read only automation
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
Labels: hacktoberfest, cla-signed

#13977 main col device data table none narrow
  src/panels/config/devices/ha-config-devices-dashboard.ts
Labels: hacktoberfest, cla-signed

#13979 20221003.0
  hassio/src/backups/hassio-backups.ts
  pyproject.toml
  src/common/const.ts
  src/components/data-table/ha-data-table.ts
  src/components/ha-camera-stream.ts
  src/components/ha-combo-box.ts
  src/components/ha-form/ha-form-float.ts
  src/components/ha-hls-player.ts
  src/components/ha-textfield.ts
  src/components/ha-web-rtc-player.ts
  src/data/recorder.ts
  src/panels/config/areas/ha-config-area-page.ts
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/automation/manual-automation-editor.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/panels/config/backup/ha-config-backup.ts
  src/panels/config/blueprint/ha-blueprint-overview.ts
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/panels/config/energy/dialogs/dialog-energy-gas-settings.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/helpers/ha-config-helpers.ts
  src/panels/config/integrations/dialog-add-integration.ts
  src/panels/config/lovelace/dashboards/ha-config-lovelace-dashboards.ts
  src/panels/config/repairs/dialog-repairs-issue.ts
  src/panels/config/scene/ha-scene-dashboard.ts
  src/panels/config/script/ha-script-picker.ts
  src/panels/config/tags/ha-config-tags.ts
  src/panels/config/users/ha-config-users.ts
  src/panels/lovelace/editor/config-elements/hui-statistics-graph-card-editor.ts
  src/translations/en.json
Labels: cla-signed

#13942 Allow remote WebRTC playback using STUN server from RTSPtoWeb integration
  src/components/ha-web-rtc-player.ts
  src/data/rtsp_to_webrtc.ts
Labels: hacktoberfest, cla-signed

#13854 Add Malayalam language.
  src/translations/translationMetadata.json
Labels: cla-signed

#13980 Update automation picker to use differenceInDays from date-fns
  src/panels/config/automation/ha-automation-picker.ts
Labels: hacktoberfest, cla-signed

#13973 Update script picker to use relative time for last_triggered
  src/panels/config/script/ha-script-picker.ts
Labels: hacktoberfest, cla-signed

#13982 Update zwave_js firmware update event interfaces
  src/data/zwave_js.ts
Labels: hacktoberfest, cla-signed

#13987 20221004.0
  pyproject.toml
  src/components/ha-web-rtc-player.ts
  src/data/rtsp_to_webrtc.ts
  src/data/zwave_js.ts
  src/panels/config/areas/ha-config-area-page.ts
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/integrations/dialog-add-integration.ts
  src/panels/config/integrations/ha-domain-integrations.ts
  src/panels/config/integrations/ha-integration-list-item.ts
  src/panels/config/scene/ha-scene-dashboard.ts
  src/panels/config/script/ha-script-picker.ts
  src/translations/en.json
  src/translations/translationMetadata.json
Labels: cla-signed

#14001 Fix zwave config flow
  src/panels/config/integrations/ha-domain-integrations.ts
Labels: hacktoberfest, cla-signed

#14002 Fix energy demo
  demo/src/ha-demo.ts
  demo/src/stubs/energy.ts
  demo/src/stubs/history.ts
  demo/src/stubs/recorder.ts
  src/data/energy.ts
Labels: hacktoberfest, cla-signed

#14000 Improve explanation of configuration validation
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#13997 Highlight focus on show/hide password toggle
  src/components/ha-selector/ha-selector-text.ts
Labels: hacktoberfest, cla-signed

#14003 change yaml integration dialog
  src/panels/config/integrations/dialog-add-integration.ts
  src/panels/config/integrations/dialog-yaml-integration.ts
  src/panels/config/integrations/ha-domain-integrations.ts
  src/panels/config/integrations/show-add-integration-dialog.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#14010 Fix onboarding create new user password checks
  src/onboarding/onboarding-create-user.ts
Labels: hacktoberfest, cla-signed

#14059 20221010.0
  pyproject.toml
  src/panels/config/cloud/account/cloud-google-pref.ts
Labels: hacktoberfest, cla-signed

#14013 Fix calendar card list view
  src/panels/lovelace/editor/config-elements/hui-calendar-card-editor.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#14020 Some fixes for low carbon display
  src/panels/lovelace/cards/energy/hui-energy-carbon-consumed-gauge-card.ts
  src/panels/lovelace/cards/energy/hui-energy-distribution-card.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#14024 Ignore progress if no progress
  gallery/src/pages/more-info/update.ts
  src/common/entity/compute_state_display.ts
Labels: hacktoberfest, cla-signed, needs design preview

#14008 Add custom selectUnit, use in relativeTime function
  package.json
  src/common/datetime/relative_time.ts
  src/common/util/select-unit.ts
  test/common/datetime/relative_time.ts
  yarn.lock
Labels: hacktoberfest, cla-signed, cla-error

#14056 Refactor css variable because of a typo in dialogs, no change in any behaviour
  src/components/ha-dialog.ts
  src/dialogs/more-info/ha-more-info-dialog.ts
  src/panels/config/integrations/integration-panels/zha/dialog-zha-manage-zigbee-device.ts
  src/resources/styles.ts
Labels: hacktoberfest, cla-signed

#13991 Add first weekday option in profile
  package.json
  src/common/datetime/first_weekday.ts
  src/components/date-range-picker.ts
  src/components/ha-date-input.ts
  src/components/ha-date-range-picker.ts
  src/components/ha-dialog-date-picker.ts
  src/data/translation.ts
  src/fake_data/provide_hass.ts
  src/panels/calendar/ha-full-calendar.ts
  src/panels/config/automation/condition/types/ha-automation-condition-time.ts
  src/panels/config/helpers/forms/ha-schedule-form.ts
  src/panels/profile/ha-panel-profile.ts
  src/panels/profile/ha-pick-first-weekday-row.ts
  src/state/connection-mixin.ts
  src/state/translations-mixin.ts
  src/translations/en.json
  src/util/common-translation.ts
  test/common/datetime/format_date.ts
  test/common/datetime/format_date_time.ts
  test/common/datetime/format_time.ts
  test/common/datetime/relative_time.ts
  test/common/entity/compute_state_display.ts
  test/common/string/format_number.ts
  yarn.lock
Labels: hacktoberfest, cla-signed

#14053 Fix zero for a slider in a blueprint
  src/panels/config/automation/blueprint-automation-editor.ts
Labels: hacktoberfest, cla-signed

#14046 Fix demo leak sensor
  demo/src/configs/jimpower/lovelace.ts
Labels: hacktoberfest, cla-signed

#13981 Include backend translations in Lokalise download
  build-scripts/gulp/download_translations.js
  script/translations_download
Labels: hacktoberfest, cla-signed

#14016 Use color temperatures in Kelvin in more_info_light
  src/data/light.ts
  src/dialogs/more-info/controls/more-info-light.ts
Labels: hacktoberfest, cla-signed

#14006 Handle multiple times in time trigger
  src/data/automation_i18n.ts
Labels: hacktoberfest, cla-signed

#14032 fix(mobile): add safe-area-inset on app layout and specific views
  src/layouts/ha-app-layout.js
  src/panels/developer-tools/event/developer-tools-event.js
  src/panels/developer-tools/service/developer-tools-service.ts
  src/panels/developer-tools/state/developer-tools-state.js
  src/panels/developer-tools/statistics/developer-tools-statistics.ts
  src/panels/developer-tools/template/developer-tools-template.ts
  src/panels/developer-tools/yaml_configuration/developer-yaml-config.ts
  src/panels/media-browser/ha-bar-media-player.ts
Labels: hacktoberfest, cla-signed

#13992 Update yarn to version 3.2.3
  .yarn/releases/yarn-3.2.0.cjs
  .yarn/releases/yarn-3.2.3.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Labels: hacktoberfest, cla-signed

#14060 Fix localize key errors in options flow, repairs flow, and integrations
  src/common/translations/localize.ts
  src/dialogs/config-flow/show-dialog-config-flow.ts
  src/dialogs/config-flow/show-dialog-options-flow.ts
  src/panels/config/integrations/dialog-add-integration.ts
  src/panels/config/integrations/ha-domain-integrations.ts
  src/panels/config/repairs/show-dialog-repair-flow.ts
Labels: hacktoberfest, cla-signed

#14072 Bigger pin for ha-slider to support 4 digits numbers
  src/components/ha-slider.js
Labels: hacktoberfest, cla-signed

#14050 Fix Map Card styling boundaries
  src/panels/lovelace/cards/hui-map-card.ts
Labels: hacktoberfest, cla-signed

#14043 Fix timezone problem for "Today" in the Date Picker.
  src/components/ha-dialog-date-picker.ts
Labels: hacktoberfest, cla-signed

#14076 Format input_number field consistently
  src/panels/lovelace/entity-rows/hui-input-number-entity-row.ts
Labels: hacktoberfest, cla-signed

#14071 Fix keyboard keys for tap action
  src/panels/lovelace/cards/hui-button-card.ts
  src/panels/lovelace/common/directives/action-handler-directive.ts
Labels: hacktoberfest, cla-signed

#14079 Fix automation trace RTL
  src/panels/config/automation/ha-automation-trace.ts
Labels: hacktoberfest, cla-signed

#14070 Remove confusing header image
  gallery/public/images/using-our-logo.png
  gallery/src/pages/brand/logo.markdown
Labels: hacktoberfest, cla-signed

#14084 Load selector elements dynamic
  src/components/ha-form/ha-form.ts
  src/components/ha-selector/ha-selector.ts
Labels: hacktoberfest, cla-signed

#14081 Remove undefined key in lovelace card config
  src/panels/lovelace/editor/hui-element-editor.ts
Labels: hacktoberfest, cla-signed

#14082 Ha selector UI action
  src/components/ha-selector/ha-selector-ui-action.ts
  src/components/ha-selector/ha-selector.ts
  src/data/selector.ts
  src/panels/lovelace/components/hui-action-editor.ts
  src/panels/lovelace/editor/config-elements/hui-button-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-light-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-picture-entity-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-picture-glance-card-editor.ts
Labels: hacktoberfest, cla-signed

#14067 Mark attribute as optional
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#14080 Improve pluralization in automation descriptions
  src/common/datetime/format_duration.ts
  src/data/automation_i18n.ts
  src/data/script.ts
  src/data/script_i18n.ts
Labels: hacktoberfest, cla-signed

#14105 Fix min width so entire date/time will be presented
  src/components/ha-date-range-picker.ts
Labels: hacktoberfest, cla-signed

#14068 Fix pickers not getting focus
  src/components/device/ha-device-picker.ts
  src/components/entity/ha-entity-picker.ts
  src/components/ha-area-picker.ts
  src/components/ha-combo-box.ts
  src/components/ha-target-picker.ts
Labels: hacktoberfest, cla-signed

#14085 Introduce tile card
  src/common/color/compute-color.ts
  src/components/tile/ha-tile-icon.ts
  src/components/tile/ha-tile-info.ts
  src/panels/lovelace/cards/hui-tile-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/create-element/create-card-element.ts
  src/panels/lovelace/editor/config-elements/hui-tile-card-editor.ts
  src/panels/lovelace/editor/lovelace-cards.ts
  src/resources/ha-style.ts
  src/resources/styles.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed, Noteworthy

#14101 fix history graph configuration timeline update
  src/components/chart/state-history-chart-timeline.ts
Labels: hacktoberfest, cla-signed

#14110 Set more-info dialog max-width to fit all languages
  src/dialogs/more-info/ha-more-info-dialog.ts
Labels: hacktoberfest, cla-signed

#14124 Align border radius
  src/components/ha-expansion-panel.ts
  src/panels/config/areas/ha-config-area-page.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/panels/config/ha-panel-config.ts
  src/panels/config/integrations/ha-integration-card.ts
  src/panels/config/integrations/ha-integration-header.ts
  src/panels/lovelace/cards/hui-entities-card.ts
  src/panels/lovelace/editor/card-editor/hui-card-picker.ts
Labels: hacktoberfest, cla-signed

#14125 make open in new icon a bit smaller
  src/panels/config/integrations/ha-integration-list-item.ts
Labels: hacktoberfest, cla-signed

#14114 Integrations v2.1: compatibility with hubs, devices and services
  src/components/ha-config-entry-picker.ts
  src/data/config_entries.ts
  src/data/config_flow.ts
  src/data/integration.ts
  src/onboarding/onboarding-integrations.ts
  src/panels/config/energy/dialogs/dialog-energy-solar-settings.ts
  src/panels/config/entities/entity-registry-settings.ts
  src/panels/config/helpers/dialog-helper-detail.ts
  src/panels/config/helpers/ha-config-helpers.ts
  src/panels/config/integrations/ha-config-integrations.ts
Labels: hacktoberfest, cla-signed

#14031 Add support for mm/h on generic speed
  src/panels/config/entities/entity-registry-settings.ts
Labels: hacktoberfest, cla-signed, wait for backend

#14131 Fix translation of Duplicate label in automation and script editors
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#14027 Add precipitation_intensity sensor device class
  src/common/const.ts
  src/panels/config/entities/entity-registry-settings.ts
Labels: hacktoberfest, cla-signed

#14121 Add any step for input number settings to match server-side validation
  src/panels/config/helpers/forms/ha-input_number-form.ts
Labels: hacktoberfest, cla-signed

#14123 Allow negative values in gauge severity config GUI
  src/panels/lovelace/editor/config-elements/hui-gauge-card-editor.ts
Labels: hacktoberfest, cla-signed

#14130 Only change dialog for camera in info tab
  src/dialogs/more-info/ha-more-info-dialog.ts
Labels: hacktoberfest, cla-signed

#14122 Fix duplicate trigger IDs showing in the Triggered By condition
  src/panels/config/automation/condition/types/ha-automation-condition-trigger.ts
Labels: hacktoberfest, cla-signed

#14118 Various dev tools RTL fixes
  src/panels/developer-tools/event/developer-tools-event.js
  src/panels/developer-tools/statistics/developer-tools-statistics.ts
  src/panels/developer-tools/template/developer-tools-template.ts
Labels: hacktoberfest, cla-signed

#14137 Fix typo when deleting an integration. Fixes #14135
  translations/frontend/en.json
Labels: hacktoberfest, cla-signed

#14145 Fix typo when deleting an integration
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#14138 Add support for virtual integrations
  src/data/config_entries.ts
  src/data/config_flow.ts
  src/data/integration.ts
  src/data/integrations.ts
  src/data/supported_brands.ts
  src/dialogs/config-flow/show-dialog-data-entry-flow.ts
  src/panels/config/integrations/dialog-add-integration.ts
  src/panels/config/integrations/ha-config-integrations.ts
  src/panels/config/integrations/ha-domain-integrations.ts
Labels: hacktoberfest, cla-signed, wait for backend

#14149 Revert "Fix typo when deleting an integration. Fixes #14135"
  translations/frontend/en.json
Labels: hacktoberfest, cla-signed

#14094 Add slider bar
  gallery/src/pages/components/ha-bar-slider.markdown
  gallery/src/pages/components/ha-bar-slider.ts
  package.json
  src/components/ha-bar-slider.ts
  yarn.lock
Labels: hacktoberfest, cla-signed, needs design preview

#14172 Fix back button in ha-card (add border-radius)
  src/panels/config/integrations/ha-integration-card.ts
Labels: hacktoberfest, cla-signed

#14161 fix back button in hassio addons
  hassio/src/addon-store/hassio-addon-repository.ts
  hassio/src/addon-view/hassio-addon-dashboard.ts
Labels: hacktoberfest, cla-signed

#14169 Disable sidebar edit mode on drawer close
  src/layouts/home-assistant-main.ts
Labels: hacktoberfest, cla-signed

#14158 Add icon for receiver deviceclass
  src/common/entity/domain_icon.ts
Labels: hacktoberfest, cla-signed

#14174 All new water device class
  src/common/const.ts
  src/panels/config/entities/entity-registry-settings.ts
Labels: hacktoberfest, cla-signed

#14183 Remove default sequence from new scripts
  src/panels/config/script/ha-script-editor.ts
Labels: hacktoberfest, cla-signed

#14180 Fix more info dialog edit button for script
  src/dialogs/more-info/const.ts
  src/dialogs/more-info/ha-more-info-dialog.ts
Labels: hacktoberfest, cla-signed

#14182 Add icons to automations dashboard
  src/panels/config/automation/ha-automation-picker.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed, WTH

#14165 Pass helper to ha-form subtypes
  src/components/ha-form/ha-form-float.ts
  src/components/ha-form/ha-form-integer.ts
  src/components/ha-form/ha-form-select.ts
  src/components/ha-form/ha-form.ts
Labels: hacktoberfest, cla-signed

#14173 Allow gas units to be overriden
  src/panels/config/entities/entity-registry-settings.ts
Labels: hacktoberfest, cla-signed

#14176 Refactor ha-form margins
  src/components/ha-form/ha-form-grid.ts
  src/components/ha-form/ha-form.ts
Labels: hacktoberfest, cla-signed

#14179 Fix camera dialog
  src/dialogs/more-info/ha-more-info-dialog.ts
Labels: hacktoberfest, cla-signed

#14128 Add state color to tile card
  src/common/color/compute-color.ts
  src/common/entity/color/alarm_control_panel_color.ts
  src/common/entity/color/battery_color.ts
  src/common/entity/color/binary_sensor_color.ts
  src/common/entity/color/climate_color.ts
  src/common/entity/color/cover_color.ts
  src/common/entity/color/lock_color.ts
  src/common/entity/color/sensor_color.ts
  src/common/entity/state_active.ts
  src/common/entity/state_color.ts
  src/components/tile/ha-tile-info.ts
  src/data/entity.ts
  src/panels/lovelace/cards/hui-tile-card.ts
  src/panels/lovelace/editor/config-elements/hui-tile-card-editor.ts
  src/resources/ha-style.ts
Labels: hacktoberfest, cla-signed

#14186 Use warning in ha-alert for breaks_in_ha_version
  src/panels/config/repairs/dialog-repairs-issue.ts
Labels: hacktoberfest, cla-signed

#14181 Adapt to energy sensors supporting GJ
  src/data/recorder.ts
  src/panels/config/energy/dialogs/dialog-energy-gas-settings.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#14189 remove hardware from integration descriptions
  src/data/integrations.ts
Labels: hacktoberfest, cla-signed

#14162 Add week period to statistics card
  src/data/recorder.ts
  src/panels/lovelace/editor/config-elements/hui-statistics-graph-card-editor.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#14052 Update ZHA manage device dialog to use a form for cluster command arguments
  src/components/buttons/ha-call-service-button.js
  src/data/zha.ts
  src/panels/config/integrations/integration-panels/zha/types.ts
  src/panels/config/integrations/integration-panels/zha/zha-cluster-commands.ts
Labels: hacktoberfest, cla-signed

#14112 Format numeric entities with integer value and step as integer instead of float
  src/common/entity/compute_state_display.ts
  src/common/number/format_number.ts
  src/components/entity/ha-state-label-badge.ts
  src/panels/lovelace/cards/hui-entity-card.ts
  test/common/string/format_number.ts
Labels: hacktoberfest, cla-signed

#14030 Add wind_speed sensor device class
  src/common/const.ts
  src/panels/config/entities/entity-registry-settings.ts
Labels: hacktoberfest, cla-signed

#13955 Remove conditional element from DOM when hidden
  src/panels/lovelace/components/hui-conditional-base.ts
Labels: hacktoberfest, cla-signed

#14175 Group fields in tile editor
  src/panels/lovelace/editor/config-elements/hui-tile-card-editor.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#14184 Add icons to device config dashboard
  src/components/data-table/ha-data-table.ts
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/panels/config/script/ha-script-picker.ts
Labels: hacktoberfest, cla-signed

#14065 Add autocomplete to login and MFA setup
  src/auth/ha-auth-flow.ts
  src/auth/ha-password-manager-polyfill.ts
  src/components/ha-form/ha-form-string.ts
  src/components/ha-form/types.ts
  src/data/auth.ts
  src/dialogs/config-flow/step-flow-form.ts
  src/panels/profile/dialog-ha-mfa-module-setup-flow.ts
Labels: hacktoberfest, cla-signed

#14200 Fix enlarging more info dialog
  src/dialogs/more-info/ha-more-info-dialog.ts
Labels: hacktoberfest, cla-signed

#14196 Add option to show entity picture in tile card
  src/components/tile/ha-tile-image.ts
  src/panels/lovelace/cards/hui-tile-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/editor/config-elements/hui-tile-card-editor.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#14199 Use statistics for sensors in more info history
  src/dialogs/more-info/ha-more-info-history.ts
Labels: hacktoberfest, cla-signed

#14126 Add my link to add zwave and zigbee devices
  src/common/integrations/protocolIntegrationPicked.ts
  src/layouts/hass-error-screen.ts
  src/panels/config/integrations/ha-domain-integrations.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-add-node.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-config-router.ts
  src/panels/my/ha-panel-my.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#14210 Use firstday of the week for range shortcuts in date pickers
  src/common/datetime/first_weekday.ts
  src/panels/history/ha-panel-history.ts
  src/panels/logbook/ha-panel-logbook.ts
  src/panels/lovelace/components/hui-energy-period-selector.ts
Labels: hacktoberfest, cla-signed

#14213 don't use entity name as label in more info stats
  src/components/chart/statistics-chart.ts
  src/dialogs/more-info/ha-more-info-history.ts
Labels: hacktoberfest, cla-signed

#14207 Fix min height on lovelace panel for ios
  src/panels/lovelace/hui-root.ts
Labels: hacktoberfest, cla-signed

#14202 Rename autofill to autocomplete for text selector
  src/components/ha-selector/ha-selector-text.ts
  src/data/selector.ts
  src/onboarding/onboarding-create-user.ts
Labels: hacktoberfest, cla-signed

#14212 Allow null selector
  src/components/ha-form/compute-initial-ha-form-data.ts
  src/components/ha-selector/ha-selector-area.ts
  src/components/ha-selector/ha-selector-attribute.ts
  src/components/ha-selector/ha-selector-config-entry.ts
  src/components/ha-selector/ha-selector-device.ts
  src/components/ha-selector/ha-selector-duration.ts
  src/components/ha-selector/ha-selector-entity.ts
  src/components/ha-selector/ha-selector-file.ts
  src/components/ha-selector/ha-selector-icon.ts
  src/components/ha-selector/ha-selector-location.ts
  src/components/ha-selector/ha-selector-number.ts
  src/components/ha-selector/ha-selector-select.ts
  src/components/ha-selector/ha-selector-state.ts
  src/components/ha-selector/ha-selector-target.ts
  src/components/ha-selector/ha-selector-text.ts
  src/components/ha-selector/ha-selector-ui-action.ts
  src/data/selector.ts
Labels: hacktoberfest, cla-signed

#14219 Only show existing weekdays
  src/panels/profile/ha-pick-first-weekday-row.ts
Labels: hacktoberfest, cla-signed

#14198 Add statistic card
  src/components/ha-selector/ha-selector-statistic.ts
  src/components/ha-selector/ha-selector.ts
  src/data/recorder.ts
  src/data/selector.ts
  src/panels/lovelace/cards/hui-statistic-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/create-element/create-card-element.ts
  src/panels/lovelace/editor/config-elements/hui-statistic-card-editor.ts
  src/panels/lovelace/editor/lovelace-cards.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#14222 20221027.0
  pyproject.toml
  src/common/datetime/first_weekday.ts
  src/components/chart/statistics-chart.ts
  src/components/ha-form/compute-initial-ha-form-data.ts
  src/components/ha-selector/ha-selector-area.ts
  src/components/ha-selector/ha-selector-attribute.ts
  src/components/ha-selector/ha-selector-config-entry.ts
  src/components/ha-selector/ha-selector-device.ts
  src/components/ha-selector/ha-selector-duration.ts
  src/components/ha-selector/ha-selector-entity.ts
  src/components/ha-selector/ha-selector-file.ts
  src/components/ha-selector/ha-selector-icon.ts
  src/components/ha-selector/ha-selector-location.ts
  src/components/ha-selector/ha-selector-number.ts
  src/components/ha-selector/ha-selector-select.ts
  src/components/ha-selector/ha-selector-state.ts
  src/components/ha-selector/ha-selector-statistic.ts
  src/components/ha-selector/ha-selector-target.ts
  src/components/ha-selector/ha-selector-text.ts
  src/components/ha-selector/ha-selector-ui-action.ts
  src/components/ha-selector/ha-selector.ts
  src/data/recorder.ts
  src/data/selector.ts
  src/dialogs/more-info/ha-more-info-history.ts
  src/onboarding/onboarding-create-user.ts
  src/panels/history/ha-panel-history.ts
  src/panels/logbook/ha-panel-logbook.ts
  src/panels/lovelace/cards/hui-statistic-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/components/hui-energy-period-selector.ts
  src/panels/lovelace/create-element/create-card-element.ts
  src/panels/lovelace/editor/config-elements/hui-statistic-card-editor.ts
  src/panels/lovelace/editor/lovelace-cards.ts
  src/panels/lovelace/hui-root.ts
  src/panels/profile/ha-pick-first-weekday-row.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#14223 Change water units to L/gal
  src/data/energy.ts
  src/data/recorder.ts
Labels: hacktoberfest, cla-signed

#14229 Fixed typo in water consumption text
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#14197 Add type expandable for ha-form
  src/components/ha-form/ha-form-expandable.ts
  src/components/ha-form/ha-form.ts
  src/components/ha-form/types.ts
  src/panels/lovelace/editor/config-elements/hui-tile-card-editor.ts
Labels: hacktoberfest, cla-signed

#14243 Entity picture option was not in the right section
  src/panels/lovelace/editor/config-elements/hui-tile-card-editor.ts
Labels: hacktoberfest, cla-signed

#14240 fix margin with ha form grid
  src/components/ha-form/ha-form-grid.ts
Labels: hacktoberfest, cla-signed

#14231 Add badges for tile card
  src/components/tile/ha-tile-badge.ts
  src/panels/lovelace/cards/hui-tile-card.ts
  src/panels/lovelace/cards/tile/badges/tile-badge-climate.ts
  src/panels/lovelace/cards/tile/badges/tile-badge-person.ts
  src/panels/lovelace/cards/tile/badges/tile-badge.ts
  src/resources/ha-style.ts
Labels: hacktoberfest, cla-signed, hacktoberfest-accepted

#14226 Consider standby media player as inactive for tile card
  src/common/entity/state_active.ts
Labels: hacktoberfest, cla-signed, hacktoberfest-accepted

#14225 Activate all entities config filters when clicking clear filter
  src/panels/config/entities/ha-config-entities.ts
Labels: hacktoberfest, cla-signed, hacktoberfest-accepted

#14245 Default size of `hui-image` to 16:9 during loading
  src/components/ha-camera-stream.ts
  src/components/ha-hls-player.ts
  src/components/ha-web-rtc-player.ts
  src/panels/lovelace/components/hui-image.ts
Labels: hacktoberfest, cla-signed

#14246 Fix video size more info
  src/dialogs/more-info/ha-more-info-dialog.ts
Labels: hacktoberfest, cla-signed

#14248 20221031.0
  pyproject.toml
  src/common/entity/state_active.ts
  src/components/ha-camera-stream.ts
  src/components/ha-form/ha-form-expandable.ts
  src/components/ha-form/ha-form-grid.ts
  src/components/ha-form/ha-form.ts
  src/components/ha-form/types.ts
  src/components/ha-hls-player.ts
  src/components/ha-web-rtc-player.ts
  src/components/tile/ha-tile-badge.ts
  src/data/energy.ts
  src/data/recorder.ts
  src/data/zha.ts
  src/dialogs/more-info/ha-more-info-dialog.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/integrations/integration-panels/zha/dialog-zha-manage-zigbee-device.ts
  src/panels/config/integrations/integration-panels/zha/show-dialog-zha-manage-zigbee-device.ts
  src/panels/config/integrations/integration-panels/zha/zha-device-neighbors.ts
  src/panels/lovelace/cards/hui-tile-card.ts
  src/panels/lovelace/cards/tile/badges/tile-badge-climate.ts
  src/panels/lovelace/cards/tile/badges/tile-badge-person.ts
  src/panels/lovelace/cards/tile/badges/tile-badge.ts
  src/panels/lovelace/components/hui-image.ts
  src/panels/lovelace/editor/config-elements/hui-tile-card-editor.ts
  src/resources/ha-style.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed
