Repository home-assistant/frontend, pull requests merged in 2022-05, with the labels that each got.

#12532 Calendar-card fix
  src/panels/calendar/ha-full-calendar.ts
Labels: cla-signed

#12533 Handle condition shorthands in trace graphs
  src/components/trace/hat-script-graph.ts
Labels: cla-signed

#12530 Make the "Aborted: Reauthentication successful" message more user friendly
  src/dialogs/config-flow/dialog-data-entry-flow.ts
  src/dialogs/config-flow/step-flow-abort.ts
Labels: cla-signed

#12536 Prevent color temp selector mired exception
  src/components/ha-selector/ha-selector-color-temp.ts
Labels: cla-signed

#12537 Fix some issues and feedback with About and system health
  src/components/ha-clickable-list-item.ts
  src/panels/config/core/ha-config-system-navigation.ts
  src/panels/config/info/ha-config-info.ts
  src/panels/config/system-health/ha-config-system-health.ts
  src/panels/config/system-health/integrations-card.ts
  src/translations/en.json
Labels: cla-signed

#12541 Add descriptions for actions
  gallery/src/pages/automation/describe-action.ts
  src/data/script.ts
  src/data/script_i18n.ts
Labels: cla-signed, needs design preview

#12547 Add repeat to trace timeline
  src/components/trace/hat-trace-timeline.ts
Labels: cla-signed

#12548 Change name to Settings
  src/translations/en.json
Labels: cla-signed

#12543 Add trace timeline for if
  src/components/trace/hat-trace-timeline.ts
Labels: cla-signed

#12544 Handle if in repeat
  src/components/trace/hat-script-graph.ts
Labels: cla-signed

#12549 Add parallel action to trace timeline
  src/components/trace/hat-trace-timeline.ts
Labels: cla-signed

#12550 Indicate things are disabled in trace graph
  src/components/trace/hat-graph-node.ts
  src/components/trace/hat-script-graph.ts
Labels: cla-signed

#12556 Add add-on logs to log selector
  src/data/hassio/supervisor.ts
  src/panels/config/logs/ha-config-logs.ts
Labels: cla-signed

#12551 Fix Webhook Overflow
  src/panels/config/cloud/account/cloud-account.ts
Labels: cla-signed

#12552 Search in Overflow on Mobile
  src/panels/lovelace/hui-root.ts
  src/translations/en.json
Labels: cla-signed

#12559 Use ha-tip for yaml move tip
  src/panels/config/core/ha-config-system-navigation.ts
Labels: cla-signed

#12553 Update Quickbar Section Logic to include all
  src/dialogs/quick-bar/ha-quick-bar.ts
  src/translations/en.json
Labels: cla-signed

#12558 Use outline for cards on config pages
  hassio/src/addon-store/hassio-addon-repository.ts
  hassio/src/addon-view/config/hassio-addon-audio.ts
  hassio/src/addon-view/config/hassio-addon-config.ts
  hassio/src/addon-view/config/hassio-addon-network.ts
  hassio/src/addon-view/documentation/hassio-addon-documentation-tab.ts
  hassio/src/addon-view/info/hassio-addon-info.ts
  hassio/src/addon-view/log/hassio-addon-logs.ts
  hassio/src/dashboard/hassio-addons.ts
  src/panels/config/areas/ha-config-area-page.ts
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/action/ha-automation-action.ts
  src/panels/config/automation/action/types/ha-automation-action-choose.ts
  src/panels/config/automation/blueprint-automation-editor.ts
  src/panels/config/automation/condition/ha-automation-condition-editor.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/panels/config/automation/condition/ha-automation-condition.ts
  src/panels/config/automation/dialog-new-automation.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/automation/manual-automation-editor.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/panels/config/automation/trigger/ha-automation-trigger.ts
  src/panels/config/cloud/account/cloud-account.ts
  src/panels/config/cloud/account/cloud-alexa-pref.ts
  src/panels/config/cloud/account/cloud-google-pref.ts
  src/panels/config/cloud/account/cloud-remote-pref.ts
  src/panels/config/cloud/account/cloud-tts-pref.ts
  src/panels/config/cloud/account/cloud-webhooks.ts
  src/panels/config/cloud/alexa/cloud-alexa.ts
  src/panels/config/cloud/forgot-password/cloud-forgot-password.ts
  src/panels/config/cloud/google-assistant/cloud-google-assistant.ts
  src/panels/config/cloud/login/cloud-login.ts
  src/panels/config/cloud/register/cloud-register.ts
  src/panels/config/core/ha-config-section-updates.ts
  src/panels/config/devices/device-detail/ha-device-actions-card.ts
  src/panels/config/devices/device-detail/ha-device-automation-card.ts
  src/panels/config/devices/device-detail/ha-device-conditions-card.ts
  src/panels/config/devices/device-detail/ha-device-entities-card.ts
  src/panels/config/devices/device-detail/ha-device-info-card.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/config/energy/components/ha-energy-battery-settings.ts
  src/panels/config/energy/components/ha-energy-device-settings.ts
  src/panels/config/energy/components/ha-energy-gas-settings.ts
  src/panels/config/energy/components/ha-energy-grid-settings.ts
  src/panels/config/energy/components/ha-energy-solar-settings.ts
  src/panels/config/person/ha-config-person.ts
  src/panels/config/scene/ha-scene-editor.ts
  src/panels/config/script/blueprint-script-editor.ts
  src/panels/config/script/ha-script-editor.ts
  src/panels/config/tags/ha-config-tags.ts
  src/panels/config/zone/ha-config-zone.ts
Labels: cla-signed

#12557 Add supervisor redirects to quickbar
  src/dialogs/quick-bar/ha-quick-bar.ts
  src/translations/en.json
Labels: cla-signed

#12560 Fix searching in hassio logs
  src/panels/config/logs/error-log-card.ts
Labels: cla-signed

#12555 Add disabled support to trace timeline and step details
  src/components/trace/ha-timeline.ts
  src/components/trace/ha-trace-path-details.ts
  src/components/trace/hat-graph-node.ts
  src/components/trace/hat-script-graph.ts
  src/components/trace/hat-trace-timeline.ts
Labels: cla-signed

#12564 Add new system menu descriptions
  src/panels/config/core/ha-config-system-navigation.ts
  src/panels/config/dashboard/ha-config-navigation.ts
  src/panels/config/ha-panel-config.ts
  src/panels/config/storage/ha-config-section-storage.ts
  src/translations/en.json
Labels: cla-signed

#12565 Add missing outlined to supervisor panel
  hassio/src/dashboard/hassio-update.ts
  hassio/src/system/hassio-core-info.ts
  hassio/src/system/hassio-host-info.ts
  hassio/src/system/hassio-supervisor-info.ts
  hassio/src/system/hassio-supervisor-log.ts
  hassio/src/update-available/update-available-card.ts
Labels: cla-signed, supervisor

#12566 Bumped version to 20220503.0
  setup.cfg
Labels: cla-signed

#12569 Fix Overlapping Media List items
  src/components/media-player/ha-media-player-browse.ts
Labels: cla-signed

#12575 Add padding when no updates
  src/panels/config/core/ha-config-section-updates.ts
Labels: cla-signed

#12571 Fixes issue where the grid cards wouldnt be sized correctly
  src/components/media-player/ha-media-player-browse.ts
Labels: cla-signed

#12574 Clone on duplicate
  src/panels/config/automation/action/ha-automation-action.ts
  src/panels/config/automation/condition/ha-automation-condition.ts
  src/panels/config/automation/trigger/ha-automation-trigger.ts
Labels: cla-signed

#12580 Remove hassio config panel
  src/panels/config/integrations/ha-integration-card.ts
Labels: cla-signed

#12578 System menu description tweaks
  src/translations/en.json
Labels: cla-signed

#12581 Make update notification better, add progress
  src/data/update.ts
  src/panels/config/dashboard/ha-config-updates.ts
  src/translations/en.json
Labels: cla-signed

#12582 20220504.0
  setup.cfg
  src/components/media-player/ha-media-player-browse.ts
  src/data/update.ts
  src/panels/config/automation/action/ha-automation-action.ts
  src/panels/config/automation/condition/ha-automation-condition.ts
  src/panels/config/automation/trigger/ha-automation-trigger.ts
  src/panels/config/core/ha-config-section-updates.ts
  src/panels/config/dashboard/ha-config-updates.ts
  src/panels/config/integrations/ha-integration-card.ts
  src/translations/en.json
Labels: cla-signed

#12584 Fix setting _externalAccess
  src/panels/config/core/ha-config-system-navigation.ts
Labels: cla-signed

#12618 Reverts Terms Based Entities Search #10991
  package.json
  src/common/string/filter/char-code.ts
  src/common/string/filter/filter.ts
  src/common/string/filter/sequence-matching.ts
  src/components/data-table/sort_filter_worker.ts
  src/components/entity/ha-entity-picker.ts
  src/dialogs/quick-bar/ha-quick-bar.ts
  test/common/string/sequence_matching.test.ts
  yarn.lock
Labels: cla-signed

#12619 20220504.1
  package.json
  setup.cfg
  src/common/string/filter/char-code.ts
  src/common/string/filter/filter.ts
  src/common/string/filter/sequence-matching.ts
  src/components/data-table/sort_filter_worker.ts
  src/components/entity/ha-entity-picker.ts
  src/dialogs/quick-bar/ha-quick-bar.ts
  test/common/string/sequence_matching.test.ts
  yarn.lock
Labels: cla-signed

#12614 Remove "Lovelace" from Github issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: cla-signed

#12639 Get full core logs from core
  src/panels/config/logs/error-log-card.ts
Labels: cla-signed, supervisor

#12589 Move YAML to first tab of Developer Tools
  src/panels/developer-tools/developer-tools-router.ts
  src/panels/developer-tools/ha-panel-developer-tools.ts
Labels: cla-signed

#12597 Add label for Fix issue column header in statistics developer tools
  src/panels/developer-tools/statistics/developer-tools-statistics.ts
Labels: cla-signed

#12656 Update Translations to create helper
  src/panels/config/helpers/dialog-helper-detail.ts
  src/panels/config/helpers/ha-config-helpers.ts
  src/translations/en.json
Labels: cla-signed

#12655 Hide Cloud URL - Add Copy Icon
  src/panels/config/cloud/account/cloud-remote-pref.ts
Labels: cla-signed

#12643 Show script traces in logbook
  src/panels/logbook/ha-logbook.ts
Labels: cla-signed

#12561 Rtl menu fix
  src/components/ha-button-menu.ts
  src/state/translations-mixin.ts
Labels: cla-signed

#12665 Switch logbook calls to use the new websocket
  gallery/src/data/traces/basic_trace.ts
  gallery/src/data/traces/motion-light-trace.ts
  src/data/logbook.ts
  src/dialogs/more-info/ha-more-info-logbook.ts
  src/panels/logbook/ha-logbook.ts
  src/panels/lovelace/cards/hui-logbook-card.ts
Labels: cla-signed, wait for backend

#12486 Add calendar trigger offsets in automation editor
  src/data/automation.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-calendar.ts
  src/translations/en.json
Labels: cla-signed

#12661 Fix strict error handling in Markdown card templates
  src/panels/lovelace/cards/hui-markdown-card.ts
Labels: cla-signed

#12671 Add missing label to search icon
  src/panels/lovelace/hui-root.ts
Labels: cla-signed

#12684 Update Lokalise URL
  translations/README.md
Labels: cla-signed

#12667 Teach logbook about additional context data
  src/data/logbook.ts
  src/panels/logbook/ha-logbook.ts
  src/translations/en.json
Labels: cla-signed

#12696 Guard for missing backup integration
  src/panels/config/core/ha-config-system-navigation.ts
Labels: cla-signed

#12693 Rtl changes
  src/components/ha-clickable-list-item.ts
  src/components/ha-combo-box.ts
  src/components/ha-dialog.ts
  src/components/ha-file-upload.ts
  src/components/ha-form/ha-form-string.ts
  src/components/ha-select.ts
  src/components/ha-target-picker.ts
  src/components/ha-textfield.ts
  src/components/media-player/dialog-media-manage.ts
  src/components/media-player/ha-media-manage-button.ts
  src/components/media-player/ha-media-upload-button.ts
  src/dialogs/config-flow/dialog-data-entry-flow.ts
  src/dialogs/config-flow/step-flow-form.ts
  src/dialogs/config-flow/step-flow-pick-flow.ts
  src/dialogs/config-flow/step-flow-pick-handler.ts
  src/dialogs/config-flow/styles.ts
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/panels/config/integrations/ha-integration-header.ts
  src/panels/config/logs/error-log-card.ts
  src/panels/config/logs/system-log-card.ts
  src/panels/media-browser/ha-bar-media-player.ts
  src/state/translations-mixin.ts
Labels: cla-signed

#12707 Fix float-end for LTR
  src/state/translations-mixin.ts
Labels: cla-signed

#12709 Add my support for Application Credentials
  src/panels/my/ha-panel-my.ts
Labels: cla-signed

#12673 Show manage cloud link to config
  src/panels/config/network/ha-config-url-form.ts
  src/translations/en.json
Labels: cla-signed

#12703 Add guard logic from PR home-assistant#12181 to input select row
  src/panels/lovelace/entity-rows/hui-input-select-entity-row.ts
Labels: cla-signed

#12714 Add logbook to device info page
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/logbook/ha-logbook.ts
Labels: cla-signed

#12722 Add missing labels in energy dashboard settings
  src/panels/config/energy/components/ha-energy-battery-settings.ts
  src/panels/config/energy/components/ha-energy-gas-settings.ts
  src/panels/config/energy/components/ha-energy-grid-settings.ts
  src/panels/config/energy/components/ha-energy-solar-settings.ts
  src/translations/en.json
Labels: cla-signed

#12662 Convert history calls to use new websocket endpoint
  src/common/entity/compute_state_display.ts
  src/common/entity/compute_state_name.ts
  src/common/entity/supports-feature.ts
  src/common/number/format_number.ts
  src/data/cached-history.ts
  src/data/history.ts
  src/data/update.ts
  src/panels/history/ha-panel-history.ts
Labels: cla-signed

#12718 Add support for OAuth2 callback via My
  src/panels/my/ha-panel-my.ts
Labels: cla-signed

#12704 Support requesting translations for multiple integrations in one request
  src/data/translation.ts
  src/onboarding/onboarding-integrations.ts
  src/panels/config/integrations/ha-config-integrations.ts
  src/state/translations-mixin.ts
Labels: cla-signed

#12713 Show the integration brand icon when there is no entity in logbook
  src/common/entity/domain_icon.ts
  src/panels/logbook/ha-logbook-renderer.ts
Labels: cla-signed

#12706 Support requesting multiple integration manifests in a single request
  src/data/integration.ts
  src/panels/config/integrations/ha-config-integrations.ts
Labels: cla-signed

#12717 Import all date-fns from modules
  demo/src/stubs/energy.ts
  demo/src/stubs/history.ts
  src/components/chart/chart-date-adapter.ts
  src/data/energy.ts
  src/dialogs/more-info/ha-more-info-history.ts
  src/dialogs/more-info/ha-more-info-logbook.ts
  src/panels/developer-tools/state/developer-tools-state.js
  src/panels/history/ha-panel-history.ts
  src/panels/logbook/ha-panel-logbook.ts
  src/panels/lovelace/cards/energy/hui-energy-devices-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-gas-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-solar-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-usage-graph-card.ts
  src/panels/lovelace/components/hui-energy-period-selector.ts
Labels: cla-signed

#12712 Fix 'loading_log' string
  src/translations/en.json
  translations/frontend/en.json
Labels: cla-signed

#12677 Fix python to js timestamp conversions in logbook traces
  src/components/trace/ha-trace-path-details.ts
  src/components/trace/hat-trace-timeline.ts
Labels: cla-signed, Bug Fix

#12111 Update Material Design Icons to v6.7.96
  package.json
  yarn.lock
Labels: cla-signed

#12711 Select + target picker Rtl fixes
  src/components/ha-select.ts
  src/components/ha-target-picker.ts
  src/panels/lovelace/components/hui-action-editor.ts
  src/state/translations-mixin.ts
Labels: cla-signed

#12686 Add error handling for application credentials removal
  src/panels/config/application_credentials/ha-config-application-credentials.ts
  src/translations/en.json
Labels: cla-signed

#12666 Update zwave_js data collection URL
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-config-dashboard.ts
Labels: cla-signed

#12732 Get attributes from first state when using minimal responses
  src/data/history.ts
Labels: cla-signed

#12728 Pass device ID to logbook if available
  src/data/logbook.ts
  src/dialogs/more-info/ha-more-info-logbook.ts
  src/panels/config/areas/ha-config-area-page.ts
  src/panels/config/areas/ha-config-areas-dashboard.ts
  src/panels/config/areas/ha-config-areas.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/logbook/ha-logbook.ts
  src/panels/logbook/ha-panel-logbook.ts
  src/panels/lovelace/cards/hui-logbook-card.ts
Labels: cla-signed

#12725 Compute the icon based on the logbook state and not the current state
  src/panels/logbook/ha-logbook-renderer.ts
Labels: cla-signed, Bug Fix

#12723 Add option to compare energy graphs with previous period
  src/data/energy.ts
  src/panels/energy/ha-panel-energy.ts
  src/panels/energy/strategies/energy-strategy.ts
  src/panels/lovelace/cards/energy/hui-energy-compare-card.ts
  src/panels/lovelace/cards/energy/hui-energy-date-selection-card.ts
  src/panels/lovelace/cards/energy/hui-energy-gas-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-solar-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-usage-graph-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/components/hui-energy-period-selector.ts
  src/panels/lovelace/create-element/create-card-element.ts
Labels: cla-signed

#12720 Add an application credentials display name
  src/data/application_credential.ts
  src/panels/config/application_credentials/dialog-add-application-credential.ts
  src/panels/config/application_credentials/ha-config-application-credentials.ts
  src/translations/en.json
Labels: cla-signed, wait for backend

#12740 Fixes logbook
  src/data/logbook.ts
  src/panels/logbook/ha-logbook.ts
  src/panels/lovelace/cards/hui-logbook-card.ts
Labels: cla-signed

#12749 Stop closed event when selecting datadisk
  src/panels/config/storage/dialog-move-datadisk.ts
Labels: cla-signed

#12744 Use logbook livestream when requesting a time window that includes the future
  src/data/logbook.ts
  src/panels/logbook/ha-logbook.ts
  src/panels/logbook/ha-panel-logbook.ts
Labels: cla-signed

#12751 Fetch supervisor info directly
  hassio/src/addon-view/hassio-addon-dashboard.ts
Labels: cla-signed

#12750 Remove kernel and agent versions from about page
  src/panels/config/info/ha-config-info.ts
Labels: cla-signed

#12730 Move `preload_stream` setting to entity settings
  src/dialogs/more-info/controls/more-info-camera.ts
  src/panels/config/entities/entity-registry-settings.ts
  src/translations/en.json
Labels: cla-signed

#12742 Use new localized context state and source in logbook
  src/data/logbook.ts
  src/panels/logbook/ha-logbook-renderer.ts
  src/translations/en.json
Labels: cla-signed

#12753 Use new logbook streaming websocket api for cases where we need end_time
  src/data/logbook.ts
  src/panels/logbook/ha-logbook.ts
Labels: cla-signed, wait for backend

#12708 Open Application Credentials from integration configuration flow
  src/dialogs/config-flow/dialog-data-entry-flow.ts
  src/dialogs/config-flow/show-dialog-data-entry-flow.ts
  src/dialogs/config-flow/step-flow-abort.ts
  src/panels/config/application_credentials/dialog-add-application-credential.ts
  src/panels/config/application_credentials/show-dialog-add-application-credential.ts
  src/translations/en.json
Labels: cla-signed

#11046 Make entities and devices independent in the scene editor
  src/data/scene.ts
  src/panels/config/scene/ha-scene-editor.ts
  src/translations/en.json
Labels: cla-signed

#12669 Allow setting `device_class` "outlet" again through entity settings
  src/panels/config/entities/entity-registry-settings.ts
  src/translations/en.json
Labels: cla-signed

#12756 Bumped version to 20220523.0
  setup.cfg
Labels: cla-signed

#12755 Adjust logbook stream consumer to handle new metadata
  src/data/logbook.ts
  src/panels/logbook/ha-logbook.ts
Labels: cla-signed, wait for backend

#12745 RTL updates
  src/components/ha-chip.ts
  src/components/ha-textfield.ts
  src/panels/config/application_credentials/ha-config-application-credentials.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/lovelace/dashboards/ha-config-lovelace-dashboards.ts
  src/panels/energy/ha-panel-energy.ts
  src/panels/lovelace/cards/hui-calendar-card.ts
  src/panels/lovelace/cards/hui-shopping-list-card.ts
  src/panels/lovelace/components/hui-energy-period-selector.ts
  src/panels/lovelace/editor/config-elements/hui-map-card-editor.ts
  src/panels/lovelace/hui-root.ts
Labels: cla-signed

#12762 Add compare to energy sources table
  src/panels/lovelace/cards/energy/hui-energy-sources-table-card.ts
  src/translations/en.json
Labels: cla-signed

#12764 Fix
  src/components/ha-textfield.ts
Labels: cla-signed

#12628 Change service_data to just data
  demo/src/configs/jimpower/lovelace.ts
  demo/src/configs/teachingbirds/lovelace.ts
  gallery/src/data/traces/basic_trace.ts
  gallery/src/pages/lovelace/entities-card.ts
  gallery/src/pages/lovelace/glance-card.ts
  gallery/src/pages/lovelace/picture-elements-card.ts
  src/components/ha-service-control.ts
  src/data/lovelace.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/common/compute-unused-entities.ts
  src/panels/lovelace/common/handle-action.ts
  src/panels/lovelace/components/hui-action-editor.ts
  src/panels/lovelace/editor/config-elements/hui-entities-card-editor.ts
  src/panels/lovelace/editor/structs/action-struct.ts
  src/panels/lovelace/special-rows/hui-call-service-row.ts
  src/translations/en.json
Labels: cla-signed, needs design preview

#12765 Simplify OAuth2 authorize callback URL
  src/panels/my/ha-panel-my.ts
Labels: cla-signed

#12766 Hide hidden media player entities in media panel
  src/panels/media-browser/ha-bar-media-player.ts
Labels: cla-signed

#12680 Add integration filter to Device Selector
  src/components/ha-selector/ha-selector-device.ts
Labels: cla-signed

#12682 Integration filter for Area Selector
  src/components/ha-selector/ha-selector-area.ts
Labels: cla-signed

#12769 Bump Version to 20220524.0
  setup.cfg
Labels: cla-signed

#12625 Move zwave_js node comments from device config to info page
  src/data/zwave_js.ts
  src/panels/config/devices/device-detail/integration-elements/zwave_js/ha-device-alerts-zwave_js.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-config-dashboard.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-node-config.ts
Labels: cla-signed

#12770 Move metadata to pyproject.toml
  build-scripts/env.js
  pyproject.toml
  script/version_bump.js
  setup.cfg
Labels: cla-signed

#12735 Update zwave_js/network_status WS API
  src/data/zwave_js.ts
  src/panels/config/devices/device-detail/integration-elements/zwave_js/device-actions.ts
  src/panels/config/integrations/integration-panels/zwave_js/dialog-zwave_js-heal-network.ts
  src/panels/config/integrations/integration-panels/zwave_js/dialog-zwave_js-heal-node.ts
  src/panels/config/integrations/integration-panels/zwave_js/show-dialog-zwave_js-heal-node.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-config-dashboard.ts
Labels: cla-signed

#12779 Bumped version to 20220525.0
  pyproject.toml
Labels: cla-signed

#12781 Use dynamic weather domain icon + icon alignment fix weather more-info
  src/common/entity/domain_icon.ts
  src/data/weather.ts
  src/dialogs/more-info/controls/more-info-weather.ts
Labels: cla-signed

#12784 Fix typo in credentials removal dialog
  src/translations/en.json
Labels: cla-signed

#12787 Handle history api being passed entity ids as CSV
  src/data/history.ts
Labels: cla-signed

#12788 Fix history cache when there is cacheConfig
  src/data/cached-history.ts
Labels: cla-signed

#12789 Use Hardware Integration for System Menu
  src/panels/config/core/ha-config-system-navigation.ts
Labels: cla-signed

#12790 Fix Media Player More info cramped controls
  src/dialogs/more-info/controls/more-info-media_player.ts
Labels: cla-signed

#12797 Fix Switch as X unable to change to a new type
  src/panels/config/entities/entity-registry-settings.ts
Labels: cla-signed

#12791 Set Error if entity is unavailable
  src/components/media-player/ha-media-player-browse.ts
  src/translations/en.json
Labels: cla-signed

#12798 Dynamically determine the correct action config struct
  src/data/lovelace.ts
  src/panels/lovelace/editor/structs/action-struct.ts
Labels: cla-signed

#12772 Various RTL fixes
  src/components/ha-formfield.ts
  src/components/ha-selector/ha-selector-select.ts
  src/panels/config/person/dialog-person-detail.ts
  src/panels/lovelace/components/hui-entity-editor.ts
  src/panels/lovelace/editor/hui-entities-card-row-editor.ts
Labels: cla-signed

#12802 Hide Cloud information a bit more
  src/panels/config/cloud/account/cloud-account.ts
  src/panels/config/cloud/account/cloud-remote-pref.ts
  src/translations/en.json
Labels: cla-signed

#12795 Add dynamic header/footer config determination and update struct
  src/panels/lovelace/editor/config-elements/hui-entities-card-editor.ts
  src/panels/lovelace/editor/structs/button-entity-struct.ts
  src/panels/lovelace/header-footer/structs.ts
Labels: cla-signed

#12804 Bump HAWS to 7.1.0
  package.json
  yarn.lock
Labels: cla-signed

#12801 Update Narrow Order on Device Page
  src/panels/config/devices/ha-config-device-page.ts
Labels: cla-signed

#12808 Add redirects to cast to catch some common mistakes in custom cards
  cast/public/_redirects
Labels: cla-signed

#12806 Fix width of application creds page
  src/components/ha-combo-box.ts
  src/panels/config/application_credentials/ha-config-application-credentials.ts
Labels: cla-signed

#12800 Align "Browse Media" button while being wrapped
  src/dialogs/more-info/controls/more-info-media_player.ts
Labels: cla-signed

#12810 Update style of zwave_js controller statistics
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-config-dashboard.ts
Labels: cla-signed

#12812 Use supervisor envs instead of hassio
  .vscode/tasks.json
Labels: cla-signed

#12823 Fallback to 0 for undefined offsets
  src/panels/config/automation/trigger/types/ha-automation-trigger-calendar.ts
Labels: cla-signed

#12820 Scale oversized brand thumbnails in media browser
  src/components/media-player/ha-media-player-browse.ts
  src/util/brands-url.ts
Labels: cla-signed

#12813 Actually add Cloud URL Translation....
  src/translations/en.json
Labels: cla-signed

#12746 RTL Auth fix
  src/common/util/compute_rtl.ts
  src/components/ha-selector/ha-selector-text.ts
  src/components/ha-textfield.ts
  src/mixins/lit-localize-lite-mixin.ts
  src/state/translations-mixin.ts
Labels: cla-signed

#12830 Make blueprint picker wider
  src/panels/config/automation/blueprint-automation-editor.ts
Labels: cla-signed

#12824 Virtualize history panel
  src/components/chart/ha-chart-base.ts
  src/components/chart/state-history-chart-line.ts
  src/components/chart/state-history-chart-timeline.ts
  src/components/chart/state-history-charts.ts
  src/panels/history/ha-panel-history.ts
Labels: cla-signed

#12833 Fix live logbook starting empty
  src/panels/logbook/ha-logbook.ts
Labels: cla-signed

#12828 Add proper label for gas energy stats
  src/data/energy.ts
  src/data/history.ts
  src/panels/lovelace/cards/energy/hui-energy-distribution-card.ts
  src/panels/lovelace/cards/energy/hui-energy-gas-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-solar-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-sources-table-card.ts
  src/panels/lovelace/cards/energy/hui-energy-usage-graph-card.ts
Labels: cla-signed

#12831 Use icon button for compare on narrow
  src/panels/lovelace/cards/energy/hui-energy-sources-table-card.ts
  src/panels/lovelace/components/hui-energy-period-selector.ts
Labels: cla-signed

#12835 20220531.0
  .vscode/tasks.json
  cast/public/_redirects
  pyproject.toml
  src/common/style/icon_color_css.ts
  src/common/util/compute_rtl.ts
  src/components/chart/ha-chart-base.ts
  src/components/chart/state-history-chart-line.ts
  src/components/chart/state-history-chart-timeline.ts
  src/components/chart/state-history-charts.ts
  src/components/ha-combo-box.ts
  src/components/ha-selector/ha-selector-text.ts
  src/components/ha-textfield.ts
  src/components/media-player/ha-media-player-browse.ts
  src/data/energy.ts
  src/data/history.ts
  src/dialogs/more-info/controls/more-info-media_player.ts
  src/entrypoints/custom-panel.ts
  src/mixins/lit-localize-lite-mixin.ts
  src/panels/config/application_credentials/ha-config-application-credentials.ts
  src/panels/config/automation/blueprint-automation-editor.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-calendar.ts
  src/panels/config/hardware/ha-config-hardware.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-config-dashboard.ts
  src/panels/history/ha-panel-history.ts
  src/panels/logbook/ha-logbook.ts
  src/panels/lovelace/cards/energy/hui-energy-devices-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-distribution-card.ts
  src/panels/lovelace/cards/energy/hui-energy-gas-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-solar-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-sources-table-card.ts
  src/panels/lovelace/cards/energy/hui-energy-usage-graph-card.ts
  src/panels/lovelace/components/hui-energy-period-selector.ts
  src/state/translations-mixin.ts
  src/translations/en.json
  src/util/brands-url.ts
Labels: cla-signed
