Repository home-assistant/frontend, pull requests merged in 2022-08, with the labels that each got.

#13316 Tweak suggested_value in HA-form
  src/components/ha-form/compute-initial-ha-form-data.ts
  src/components/ha-form/ha-form-integer.ts
Labels: cla-signed

#13318 Fix create helper dialog
  src/panels/config/helpers/dialog-helper-detail.ts
Labels: cla-signed

#13319 Fix Device Page name stripping
  src/panels/config/devices/device-detail/ha-device-entities-card.ts
Labels: cla-signed

#13303 Add ability to auto open system health with params
  src/panels/config/repairs/ha-config-repairs-dashboard.ts
  src/panels/my/ha-panel-my.ts
Labels: cla-signed

#13324 Adjust MDI icon for Repairs menu
  src/panels/config/ha-panel-config.ts
Labels: cla-signed

#13325 Offer to remove statistics for entities with unsupported state class
  src/panels/developer-tools/statistics/developer-tools-statistics.ts
Labels: cla-signed

#13321 Fix input and number more info dialog
  src/state-summary/state-card-number.js
Labels: cla-signed

#13322 Fix Automation Creation Dialog
  src/components/ha-blueprint-picker.ts
Labels: cla-signed

#13328 Bumped version to 20220802.0
  pyproject.toml
Labels: cla-signed

#13329 Frontend release 20220802.0
  .github/workflows/stale.yml
  pyproject.toml
  src/components/ha-blueprint-picker.ts
  src/components/ha-form/compute-initial-ha-form-data.ts
  src/components/ha-form/ha-form-integer.ts
  src/panels/config/devices/device-detail/ha-device-entities-card.ts
  src/panels/config/ha-panel-config.ts
  src/panels/config/helpers/dialog-helper-detail.ts
  src/panels/config/repairs/ha-config-repairs-dashboard.ts
  src/panels/developer-tools/statistics/developer-tools-statistics.ts
  src/panels/my/ha-panel-my.ts
  src/state-summary/state-card-number.js
Labels: cla-signed

#13258 Fix localize key types related to form schemas (Group 1)
  src/components/ha-form/ha-form.ts
  src/components/ha-form/types.ts
  src/panels/config/automation/action/types/ha-automation-action-repeat.ts
  src/panels/config/automation/action/types/ha-automation-action-wait_template.ts
  src/panels/config/automation/condition/ha-automation-condition-editor.ts
  src/panels/config/automation/condition/types/ha-automation-condition-numeric_state.ts
  src/panels/config/automation/condition/types/ha-automation-condition-state.ts
  src/panels/config/automation/condition/types/ha-automation-condition-sun.ts
  src/panels/config/automation/condition/types/ha-automation-condition-time.ts
  src/panels/config/automation/condition/types/ha-automation-condition-zone.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-calendar.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-geo_location.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-homeassistant.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-mqtt.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-numeric_state.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-state.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-sun.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-time.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-time_pattern.ts
  src/panels/lovelace/editor/config-elements/hui-alarm-panel-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-area-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-button-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-calendar-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-entity-card-editor.ts
Labels: cla-signed

#13317 Separate supervisor localize key exceptions and disallow string
  hassio/src/backups/hassio-backups.ts
  hassio/src/supervisor-base-element.ts
  src/common/translations/localize.ts
  src/data/supervisor/supervisor.ts
  src/translations/en.json
Labels: cla-signed

#13284 Update zwave_js WS API commands
  src/data/zwave_js.ts
  src/panels/config/devices/device-detail/integration-elements/zwave_js/device-actions.ts
  src/panels/config/integrations/integration-panels/zwave_js/dialog-zwave_js-update-firmware-node.ts
Labels: cla-signed

#13344 Upgrade vaadin to 23.1.5 for combobox accessibility
  package.json
  yarn.lock
Labels: cla-signed

#13352 Check store for addons when using my link
  hassio/src/addon-view/hassio-addon-dashboard.ts
Labels: cla-signed

#13353 Make sure we have supervisor.addon
  hassio/src/addon-view/hassio-addon-dashboard.ts
Labels: cla-signed

#13358 Missing import and refresh correct collection
  hassio/src/addon-view/hassio-addon-dashboard.ts
Labels: cla-signed

#13357 Fix some localize key types in cards and media
  src/data/cloud/tts.ts
  src/data/media-player.ts
  src/panels/lovelace/cards/energy/hui-energy-usage-graph-card.ts
  src/panels/lovelace/cards/hui-alarm-panel-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/media-browser/ha-bar-media-player.ts
Labels: cla-signed

#13362 Process description placeholders in titles for repairs flows
  src/panels/config/repairs/show-dialog-repair-flow.ts
Labels: cla-signed

#13364 Fix random bad localize keys
  src/layouts/hass-error-screen.ts
  src/panels/config/repairs/dialog-system-information.ts
  src/panels/config/repairs/show-dialog-repair-flow.ts
  src/translations/en.json
Labels: cla-signed

#13372 Fix more bad or missing localize keys
  src/panels/lovelace/cards/hui-logbook-card.ts
  src/panels/lovelace/editor/add-entities-to-view.ts
  src/panels/lovelace/hui-root.ts
  src/translations/en.json
Labels: cla-signed

#13375 Add UI for Schedule Helper
  package.json
  src/common/datetime/format_time.ts
  src/data/helpers_crud.ts
  src/data/schedule.ts
  src/panels/config/entities/const.ts
  src/panels/config/entities/editor-tabs/settings/entity-settings-helper-tab.ts
  src/panels/config/helpers/const.ts
  src/panels/config/helpers/dialog-helper-detail.ts
  src/panels/config/helpers/forms/ha-schedule-form.ts
  src/translations/en.json
  yarn.lock
Labels: cla-signed

#13377 Allow Markdown and description placeholder usage in data field descriptions
  src/dialogs/config-flow/show-dialog-config-flow.ts
  src/dialogs/config-flow/show-dialog-data-entry-flow.ts
  src/dialogs/config-flow/show-dialog-options-flow.ts
  src/dialogs/config-flow/step-flow-form.ts
  src/panels/config/repairs/show-dialog-repair-flow.ts
Labels: cla-signed

#13378 Add initial field to the helper input_number in UI
  src/panels/config/helpers/forms/ha-input_number-form.ts
  src/translations/en.json
Labels: cla-signed

#13380 Fix Target Selector
  src/components/ha-selector/ha-selector-target.ts
Labels: cla-signed

#13383 Bump hls.js to v1.2.0
  package.json
  yarn.lock
Labels: cla-signed

#13389 Add redirect_uri to each interaction with login flow
  src/auth/ha-auth-flow.ts
Labels: cla-signed

#13392 Bump husky & lint-staged and prevent translation edits
  .husky/pre-commit
  lint-staged.config.js
  package.json
  yarn.lock
Labels: cla-signed

#13342 Fix localize key types related to form schemas (Group 2)
  src/data/selector.ts
  src/panels/lovelace/editor/config-elements/hui-gauge-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-glance-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-grid-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-history-graph-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-humidifier-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-iframe-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-light-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-markdown-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-picture-entity-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-picture-glance-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-plant-status-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-thermostat-card-editor.ts
Labels: cla-signed

#13398 Allow testing describe functionality in the gallery
  gallery/src/pages/automation/describe-action.ts
  gallery/src/pages/automation/describe-condition.ts
  gallery/src/pages/automation/describe-trigger.ts
Labels: cla-signed, needs design preview

#13400 Fix localize key types related to form schemas (Group 3)
  hassio/src/dialogs/registries/dialog-hassio-registries.ts
  src/components/ha-form/ha-form.ts
  src/components/ha-selector/ha-selector-media.ts
  src/data/automation.ts
  src/data/script.ts
  src/panels/config/automation/manual-automation-editor.ts
  src/panels/config/lovelace/dashboards/dialog-lovelace-dashboard-detail.ts
  src/panels/config/lovelace/resources/dialog-lovelace-resource-detail.ts
  src/panels/config/script/ha-script-editor.ts
  src/panels/config/zone/dialog-zone-detail.ts
  src/panels/lovelace/editor/config-elements/hui-generic-entity-row-editor.ts
  src/panels/lovelace/editor/config-elements/hui-logbook-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-map-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-sensor-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-statistics-graph-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-weather-forecast-card-editor.ts
  src/panels/lovelace/editor/view-editor/hui-view-editor.ts
  src/translations/en.json
Labels: cla-signed

#13390 Collapse automation/script editor sections by default
  gallery/src/pages/components/ha-expansion-panel.markdown
  gallery/src/pages/components/ha-expansion-panel.ts
  src/components/device/ha-device-automation-picker.ts
  src/components/ha-expansion-panel.ts
  src/components/ha-selector/ha-selector-template.ts
  src/components/ha-service-control.ts
  src/data/action.ts
  src/data/automation_i18n.ts
  src/data/condition.ts
  src/data/script_i18n.ts
  src/data/trigger.ts
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/action/ha-automation-action.ts
  src/panels/config/automation/action/types/ha-automation-action-activate_scene.ts
  src/panels/config/automation/action/types/ha-automation-action-choose.ts
  src/panels/config/automation/action/types/ha-automation-action-condition.ts
  src/panels/config/automation/action/types/ha-automation-action-repeat.ts
  src/panels/config/automation/action/types/ha-automation-action-wait_for_trigger.ts
  src/panels/config/automation/condition/ha-automation-condition-editor.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/panels/config/automation/condition/ha-automation-condition.ts
  src/panels/config/automation/condition/types/ha-automation-condition-logical.ts
  src/panels/config/automation/condition/types/ha-automation-condition-template.ts
  src/panels/config/automation/condition/types/ha-automation-condition-zone.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/automation/manual-automation-editor.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/panels/config/automation/trigger/ha-automation-trigger.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-tag.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-template.ts
  src/panels/config/script/ha-script-editor.ts
  src/translations/en.json
Labels: cla-signed, needs design preview

#13382 Add support for the file selector
  src/components/ha-form/compute-initial-ha-form-data.ts
  src/components/ha-selector/ha-selector-file.ts
  src/components/ha-selector/ha-selector.ts
  src/data/file_upload.ts
  src/data/selector.ts
Labels: cla-signed

#13401 Add back learn more labels to automation editor
  src/translations/en.json
Labels: cla-signed

#13354 Remove string exception for localize keys
  src/auth/ha-auth-flow.ts
  src/common/translations/localize.ts
  src/data/panel.ts
  src/dialogs/quick-bar/ha-quick-bar.ts
  src/panels/config/devices/device-detail/ha-device-actions-card.ts
  src/panels/config/devices/device-detail/ha-device-automation-card.ts
  src/panels/config/devices/device-detail/ha-device-conditions-card.ts
  src/panels/config/devices/device-detail/ha-device-triggers-card.ts
  src/panels/config/entities/dialog-entity-editor.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-config-dashboard.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-node-config.ts
  src/panels/config/logs/dialog-system-log-detail.ts
  src/panels/config/logs/system-log-card.ts
  src/panels/lovelace/common/handle-action.ts
Labels: cla-signed

#13408 Fix Gallery menu expansion
  gallery/src/ha-gallery.ts
  src/components/ha-expansion-panel.ts
Labels: cla-signed

#13407 Fix DOM reuse for trigger/condition/action
  src/panels/config/automation/action/ha-automation-action.ts
  src/panels/config/automation/condition/ha-automation-condition.ts
  src/panels/config/automation/trigger/ha-automation-trigger.ts
Labels: cla-signed

#13409 Add translations to nightly artifacts
  .github/workflows/nightly.yaml
Labels: cla-signed, github_actions

#13411 Add state selector
  gallery/src/pages/components/ha-form.ts
  gallery/src/pages/components/ha-selector.ts
  src/common/entity/get_states.ts
  src/components/entity/ha-entity-state-picker.ts
  src/components/ha-selector/ha-selector-state.ts
  src/components/ha-selector/ha-selector.ts
  src/data/selector.ts
  src/panels/config/automation/condition/types/ha-automation-condition-state.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-state.ts
  src/translations/en.json
Labels: cla-signed

#13410 Fix trigger state attribute selector
  src/panels/config/automation/trigger/types/ha-automation-trigger-state.ts
Labels: cla-signed

#13413 Keep formatted attribute name in attribute selector
  src/components/entity/ha-entity-attribute-picker.ts
Labels: cla-signed

#13416 Combine more info and entity registry editor
  src/common/const.ts
  src/components/ha-related-items.ts
  src/dialogs/more-info/const.ts
  src/dialogs/more-info/ha-more-info-dialog.ts
  src/dialogs/more-info/ha-more-info-history-and-logbook.ts
  src/dialogs/more-info/ha-more-info-info.ts
  src/dialogs/more-info/ha-more-info-settings.ts
  src/dialogs/more-info/show-ha-more-info-dialog.ts
  src/dialogs/more-info/state_more_info_control.ts
  src/panels/config/areas/ha-config-area-page.ts
  src/panels/config/devices/device-detail/ha-device-entities-card.ts
  src/panels/config/entities/dialog-entity-editor.ts
  src/panels/config/entities/editor-tabs/settings/entity-settings-helper-tab.ts
  src/panels/config/entities/entity-registry-settings.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/entities/show-dialog-entity-editor.ts
  src/panels/config/helpers/ha-config-helpers.ts
  src/state/more-info-mixin.ts
  src/translations/en.json
Labels: cla-signed

#13420 Add attribute support to state selector
  gallery/src/pages/components/ha-form.ts
  src/common/entity/get_states.ts
  src/components/entity/ha-entity-state-picker.ts
  src/components/ha-selector/ha-selector-state.ts
  src/data/selector.ts
  src/panels/config/automation/condition/types/ha-automation-condition-state.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-state.ts
Labels: cla-signed

#13348 Logbook card: place a gap between an icon/image & a text
  src/panels/logbook/ha-logbook-renderer.ts
Labels: cla-signed

#13403 Fix some localize key type errors in lovelace editors
  src/panels/lovelace/editor/header-footer-editor/get-headerfooter-stub-config.ts
  src/panels/lovelace/editor/types.ts
  src/panels/lovelace/editor/view-editor/hui-view-editor.ts
  src/panels/lovelace/header-footer/types.ts
Labels: cla-signed

#13402 Remove all exceptions from supervisor localize keys
  hassio/src/addon-view/info/hassio-addon-info.ts
  hassio/src/components/supervisor-backup-content.ts
  src/data/hassio/addon.ts
  src/data/hassio/resolution.ts
  src/data/supervisor/store.ts
  src/data/supervisor/supervisor.ts
  src/translations/en.json
Labels: cla-signed

#13424 Expand trigger/condition/row when menu item changes editor
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/condition/ha-automation-condition-editor.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
Labels: cla-signed

#13423 Do not hide overflow in expansion panel when expanded
  src/components/ha-expansion-panel.ts
Labels: cla-signed

#13421 Add exclude attributes support to attribute selector
  src/components/entity/ha-entity-attribute-picker.ts
  src/components/ha-selector/ha-selector-attribute.ts
  src/data/selector.ts
  src/panels/config/automation/condition/types/ha-automation-condition-numeric_state.ts
  src/panels/config/automation/condition/types/ha-automation-condition-state.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-numeric_state.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-state.ts
Labels: cla-signed

#13427 Allow days in calendar trigger offset
  src/panels/config/automation/trigger/types/ha-automation-trigger-calendar.ts
Labels: cla-signed

#13429 Use dropdown mode for script mode selector
  src/panels/config/script/ha-script-editor.ts
Labels: cla-signed

#13435 Fix progressbar margins
  src/dialogs/more-info/controls/more-info-update.ts
Labels: cla-signed

#13433 Make updates more distinct recognizable by device name
  src/panels/config/dashboard/ha-config-updates.ts
  src/translations/en.json
Labels: cla-signed

#13426 Use duration input for timeout in wait_for_trigger action
  src/data/script.ts
  src/panels/config/automation/action/types/ha-automation-action-wait_for_trigger.ts
Labels: cla-signed

#13430 Tighten UI localize key exceptions
  src/common/translations/localize.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-config-dashboard.ts
Labels: cla-signed

#13428 Use template selector in numeric state templates
  src/panels/config/automation/condition/types/ha-automation-condition-numeric_state.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-numeric_state.ts
Labels: cla-signed

#13422 Use number selector for above & below in numeric trigger/condition
  src/panels/config/automation/condition/types/ha-automation-condition-numeric_state.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-numeric_state.ts
Labels: cla-signed

#13441 Use alias instead of description in case set in actions/conditions
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/action/types/ha-automation-action-service.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/panels/config/automation/condition/types/ha-automation-condition-state.ts
Labels: cla-signed

#13442 Add alias support to all triggers
  src/data/automation.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-state.ts
Labels: cla-signed

#13445 Tweak displayed action/condition/trigger names
  src/data/automation_i18n.ts
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
Labels: cla-signed

#13447 Use trigger alias in trace timelines
  src/components/trace/hat-trace-timeline.ts
  src/data/trace.ts
Labels: cla-signed

#13404 Update a few Condition Descriptions
  gallery/src/pages/automation/describe-condition.ts
  src/data/automation_i18n.ts
  src/data/script_i18n.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
Labels: cla-signed, needs design preview

#13415 Display ZHA network settings and allow downloading backups
  src/data/zha.ts
  src/panels/config/integrations/integration-panels/zha/zha-config-dashboard.ts
  src/translations/en.json
Labels: cla-signed

#13444 Add support for renaming actions, conditions and triggers
  src/data/automation_i18n.ts
  src/data/script_i18n.ts
  src/dialogs/generic/dialog-box.ts
  src/dialogs/generic/show-dialog-box.ts
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/translations/en.json
Labels: cla-signed

#13458 Glue percent sign
  gallery/src/pages/lovelace/entities-card.ts
  src/common/entity/compute_state_display.ts
  src/components/ha-gauge.ts
Labels: cla-signed

#13455 Add icons to device action overflow menu
  src/panels/config/devices/device-detail/integration-elements/mqtt/device-actions.ts
  src/panels/config/devices/device-detail/integration-elements/zha/device-actions.ts
  src/panels/config/devices/device-detail/integration-elements/zwave_js/device-actions.ts
  src/panels/config/devices/device-detail/integration-elements/zwave_js/ha-device-info-zwave_js.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/translations/en.json
Labels: cla-signed

#13457 Add icons to integration action overflow menu
  src/panels/config/integrations/ha-config-flow-card.ts
  src/panels/config/integrations/ha-integration-card.ts
Labels: cla-signed

#13432 Add config entry selector
  gallery/src/pages/components/ha-form.ts
  gallery/src/pages/components/ha-selector.ts
  src/components/ha-config-entry-picker.ts
  src/components/ha-selector/ha-selector-config-entry.ts
  src/components/ha-selector/ha-selector.ts
  src/data/selector.ts
  src/translations/en.json
Labels: cla-signed

#13453 Redesign trigger/condition/action overflow menus
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/translations/en.json
Labels: cla-signed

#12845 Fix accessibility of settings and system navigation
  src/components/ha-navigation-list.ts
  src/panels/config/core/ha-config-system-navigation.ts
  src/panels/config/dashboard/ha-config-navigation.ts
Labels: cla-signed

#13465 Fix automation/script conditions editor
  src/panels/config/automation/condition/types/ha-automation-condition-state.ts
Labels: cla-signed

#13460 Add some Trigger Descriptions
  gallery/src/pages/automation/describe-trigger.ts
  src/data/automation_i18n.ts
  src/data/script_i18n.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
Labels: cla-signed, needs design preview

#13462 Fix various issues in time/duration input
  src/components/ha-base-time-input.ts
  src/components/ha-duration-input.ts
  src/components/ha-form/ha-form-positive_time_period_dict.ts
  src/components/ha-selector/ha-selector-datetime.ts
  src/components/ha-selector/ha-selector-duration.ts
  src/components/ha-selector/ha-selector-time.ts
  src/components/ha-time-input.ts
  src/dialogs/more-info/controls/more-info-input_datetime.ts
  src/panels/config/automation/action/types/ha-automation-action-delay.ts
  src/panels/config/automation/action/types/ha-automation-action-wait_for_trigger.ts
  src/panels/lovelace/entity-rows/hui-input-datetime-entity-row.ts
Labels: cla-signed

#13466 Fix padding navigation list
  src/components/ha-navigation-list.ts
Labels: cla-signed

#13467 Remove default actions/conditions from parallel and if actions
  src/panels/config/automation/action/types/ha-automation-action-if.ts
  src/panels/config/automation/action/types/ha-automation-action-parallel.ts
Labels: cla-signed

#13468 Conditionally add extra divider in integration card overflow menu
  src/panels/config/integrations/ha-integration-card.ts
Labels: cla-signed

#13472 Change integration enable/disable icons to match automations
  src/panels/config/integrations/ha-integration-card.ts
Labels: cla-signed

#13470 Use yarn to resolve lint-staged in pre-commit
  .husky/pre-commit
Labels: cla-signed

#13473 Scroll to new added trigger/condition/row
  src/panels/config/automation/action/ha-automation-action.ts
  src/panels/config/automation/condition/ha-automation-condition.ts
  src/panels/config/automation/trigger/ha-automation-trigger.ts
Labels: cla-signed

#13475 Show graph for zone in more info
  src/data/history.ts
  src/data/logbook.ts
  src/dialogs/more-info/ha-more-info-history.ts
  src/dialogs/more-info/ha-more-info-logbook.ts
  src/translations/en.json
Labels: cla-signed

#13484 Fix scripts docs link
  src/panels/config/script/ha-script-picker.ts
Labels: cla-signed

#13482 Show homeassistant when creating partial backup
  hassio/src/components/supervisor-backup-content.ts
Labels: cla-signed

#13481 Add icon to trigger/condition/action editor rows
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
Labels: cla-signed

#13477 Move restored entity warning up and use ha-alert
  gallery/src/pages/components/ha-alert.markdown
  src/components/ha-alert.ts
  src/dialogs/more-info/ha-more-info-dialog.ts
  src/dialogs/more-info/ha-more-info-info.ts
  src/translations/en.json
Labels: cla-signed

#13451 Use name from metadata in statistics card
  src/components/chart/statistics-chart.ts
Labels: cla-signed

#13469 Use name from statistics metadata in energy dashboard
  src/data/history.ts
  src/panels/lovelace/cards/energy/hui-energy-devices-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-solar-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-sources-table-card.ts
Labels: cla-signed

#13474 Use name from statistics metadata in energy config panel
  src/data/energy.ts
  src/panels/config/energy/components/ha-energy-battery-settings.ts
  src/panels/config/energy/components/ha-energy-device-settings.ts
  src/panels/config/energy/components/ha-energy-gas-settings.ts
  src/panels/config/energy/components/ha-energy-grid-settings.ts
  src/panels/config/energy/components/ha-energy-solar-settings.ts
  src/panels/config/energy/ha-config-energy.ts
Labels: cla-signed

#13486 Refactor getStatisticLabel
  src/components/chart/statistics-chart.ts
  src/data/history.ts
  src/panels/config/energy/components/ha-energy-battery-settings.ts
  src/panels/config/energy/components/ha-energy-device-settings.ts
  src/panels/config/energy/components/ha-energy-gas-settings.ts
  src/panels/config/energy/components/ha-energy-grid-settings.ts
  src/panels/config/energy/components/ha-energy-solar-settings.ts
  src/panels/lovelace/cards/energy/hui-energy-devices-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-gas-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-solar-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-sources-table-card.ts
  src/panels/lovelace/cards/energy/hui-energy-usage-graph-card.ts
Labels: cla-signed

#13487 Catch reload issues
  hassio/src/addon-store/hassio-addon-store.ts
Labels: cla-signed, supervisor

#13366 RTL heater+state fixes
  src/components/ha-water_heater-control.js
  src/components/ha-water_heater-state.js
  src/dialogs/quick-bar/ha-quick-bar.ts
  src/state-summary/state-card-display.ts
Labels: cla-signed

#13489 Add missing icon to ZHA device remove action
  src/panels/config/devices/device-detail/integration-elements/zha/device-actions.ts
Labels: cla-signed

#13480 Hide else/default in if/choose actions
  src/panels/config/automation/action/types/ha-automation-action-choose.ts
  src/panels/config/automation/action/types/ha-automation-action-if.ts
  src/translations/en.json
Labels: cla-signed

#13490 Move all destructive device actions to the bottom of the overflow menu
  src/panels/config/devices/ha-config-device-page.ts
Labels: cla-signed

#13446 Show when an integration is being setup in the UI
  src/panels/config/integrations/ha-integration-card.ts
  src/translations/en.json
Labels: cla-signed

#13492 Bump home-assistant-js-websocket to 8.0.0
  package.json
  yarn.lock
Labels: cla-signed

#13491 Replace service call icon
  src/components/trace/hat-script-graph.ts
  src/data/action.ts
Labels: cla-signed

#13478 Move condition test button into overflow menu
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/translations/en.json
Labels: cla-signed

#13488 Redesign automation editor main settings
  src/panels/config/automation/blueprint-automation-editor.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/automation/manual-automation-editor.ts
  src/translations/en.json
Labels: cla-signed

#13495 Automation icon tweaks
  src/components/trace/hat-script-graph.ts
  src/data/action.ts
  src/data/condition.ts
  src/data/script_i18n.ts
  src/data/trigger.ts
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/panels/config/automation/manual-automation-editor.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/translations/en.json
Labels: cla-signed

#13503 Always show description field in automation editor
  src/panels/config/automation/manual-automation-editor.ts
Labels: cla-signed

#13514 Adds fixed schedule entity icon
  src/common/const.ts
Labels: cla-signed

#13502 Fix media players with unknown state not being able to browse media
  src/panels/media-browser/ha-bar-media-player.ts
Labels: cla-signed

#13497 Bump hls.js to v1.2.1
  package.json
  yarn.lock
Labels: cla-signed

#13326 Fix RTL issue on date selector in lower resolutions & color slider
  src/components/date-range-picker.ts
  src/components/ha-selector/ha-selector-color-temp.ts
  src/dialogs/more-info/controls/more-info-light.ts
Labels: cla-signed

#13504 Revert "Add redirect_uri to each interaction with login flow (#13389)"
  src/auth/ha-auth-flow.ts
Labels: cla-signed, has-parent

#13517 fix buttons at bottom of entity settings dialog
  src/panels/config/entities/entity-registry-settings.ts
Labels: cla-signed

#13515 Fix Schedule Helper UI
  src/common/datetime/format_time.ts
  src/panels/config/helpers/forms/ha-schedule-form.ts
Labels: cla-signed

#13518 Fix drag and drop entities on firefox
  src/panels/lovelace/editor/hui-entities-card-row-editor.ts
Labels: cla-signed

#13524 Allow controlling an input_select in unknown state
  src/panels/lovelace/entity-rows/hui-input-select-entity-row.ts
  src/state-summary/state-card-input_select.ts
Labels: cla-signed

#13521 Fix schedule bug
  src/panels/config/helpers/forms/ha-schedule-form.ts
Labels: cla-signed

#13399 Add CPU and Memory Graphs to hardware page
  src/data/hardware.ts
  src/panels/config/hardware/ha-config-hardware.ts
  src/translations/en.json
Labels: cla-signed, wait for backend, Noteworthy

#13506 Add a button for launching the ZHA options flow to reconfigure the radio
  src/panels/config/integrations/integration-panels/zha/zha-config-dashboard.ts
  src/translations/en.json
Labels: cla-signed

#13496 Combo-box accessibility and other fixes
  package.json
  src/common/translations/localize.ts
  src/components/device/ha-area-devices-picker.ts
  src/components/device/ha-device-picker.ts
  src/components/entity/ha-entity-picker.ts
  src/components/entity/ha-statistic-picker.ts
  src/components/ha-addon-picker.ts
  src/components/ha-area-picker.ts
  src/components/ha-combo-box.ts
  src/components/ha-config-entry-picker.ts
  src/components/ha-icon-picker.ts
  src/components/ha-selector/ha-selector-icon.ts
  src/components/ha-service-picker.ts
  src/panels/config/application_credentials/dialog-add-application-credential.ts
  src/panels/config/entities/entity-registry-settings.ts
  src/panels/config/helpers/forms/ha-counter-form.ts
  src/panels/config/helpers/forms/ha-input_boolean-form.ts
  src/panels/config/helpers/forms/ha-input_button-form.ts
  src/panels/config/helpers/forms/ha-input_datetime-form.ts
  src/panels/config/helpers/forms/ha-input_number-form.ts
  src/panels/config/helpers/forms/ha-input_select-form.ts
  src/panels/config/helpers/forms/ha-input_text-form.ts
  src/panels/config/helpers/forms/ha-schedule-form.ts
  src/panels/config/helpers/forms/ha-timer-form.ts
  src/panels/config/scene/ha-scene-editor.ts
  yarn.lock
Labels: cla-signed

#13454 Improve handling of units in energy dashboard
  src/components/chart/statistics-chart.ts
  src/components/entity/ha-statistic-picker.ts
  src/data/energy.ts
  src/data/history.ts
  src/panels/config/energy/components/ha-energy-gas-settings.ts
  src/panels/config/energy/dialogs/dialog-energy-battery-settings.ts
  src/panels/config/energy/dialogs/dialog-energy-device-settings.ts
  src/panels/config/energy/dialogs/dialog-energy-gas-settings.ts
  src/panels/config/energy/dialogs/dialog-energy-grid-flow-settings.ts
  src/panels/config/energy/dialogs/dialog-energy-solar-settings.ts
  src/panels/developer-tools/statistics/developer-tools-statistics.ts
  src/panels/developer-tools/statistics/dialog-statistics-adjust-sum.ts
  src/panels/lovelace/cards/energy/hui-energy-distribution-card.ts
  src/panels/lovelace/cards/energy/hui-energy-gas-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-sources-table-card.ts
Labels: cla-signed

#13522 Fix multiple sortable
  src/components/ha-sidebar.ts
  src/data/shopping-list.ts
  src/panels/lovelace/cards/hui-shopping-list-card.ts
  src/panels/lovelace/components/hui-entity-editor.ts
  src/panels/lovelace/editor/hui-entities-card-row-editor.ts
  src/resources/sortable.ondemand.ts
  src/resources/sortable.ts
Labels: cla-signed

#13527 Fix dialog placement and overflow
  src/components/ha-dialog.ts
  src/dialogs/more-info/ha-more-info-dialog.ts
  src/panels/config/entities/entity-registry-settings.ts
Labels: cla-signed

#13526 Add dialogs guidelines
  gallery/src/pages/components/dialogs.markdown
Labels: cla-signed, needs design preview

#13532 use device and area names in service call description
  demo/src/ha-demo.ts
  gallery/src/pages/misc/integration-card.ts
  src/data/automation_i18n.ts
  src/data/entity_registry.ts
  src/data/script_i18n.ts
  src/panels/config/entities/ha-config-entities.ts
Labels: cla-signed

#13533 Fix Selection on IOS
  src/panels/config/helpers/forms/ha-schedule-form.ts
Labels: cla-signed

#13534 Fix header mobile automation editor
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/automation/manual-automation-editor.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
Labels: cla-signed

#13536 Change padding buttons entity settings
  src/panels/config/entities/entity-registry-settings.ts
Labels: cla-signed

#13538 Format duration object
  src/common/datetime/format_duration.ts
  src/data/script_i18n.ts
Labels: cla-signed

#13539 Bumped version to 20220831.0
  pyproject.toml
Labels: cla-signed

#13540 Fix tag trigger
  src/panels/config/automation/trigger/types/ha-automation-trigger-tag.ts
Labels: cla-signed

#13542 Add semantic headings to automation editor
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/automation/manual-automation-editor.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
Labels: cla-signed
