Repository home-assistant/frontend, pull requests merged in 2022-03, with the labels that each got.

#11889 Remove unused attributes from search-input
  hassio/src/addon-store/hassio-addon-store.ts
  hassio/src/dialogs/hardware/dialog-hassio-hardware.ts
  src/panels/config/integrations/integration-panels/zha/zha-network-visualization-page.ts
  src/panels/config/logs/ha-config-logs.ts
Labels: cla-signed

#11887 Fix for Entity SElector when supplying multiple domains
  src/components/ha-selector/ha-selector-entity.ts
Labels: cla-signed

#11890 Better handle brands URL in media thumbnails
  gallery/src/pages/components/ha-selector.ts
  src/components/ha-selector/ha-selector-media.ts
  src/components/media-player/ha-media-player-browse.ts
  src/util/brands-url.ts
Labels: cla-signed, needs design preview

#11899 20220301.0
  gallery/src/pages/components/ha-selector.ts
  hassio/src/addon-store/hassio-addon-store.ts
  hassio/src/dialogs/hardware/dialog-hassio-hardware.ts
  hassio/src/dialogs/repositories/dialog-hassio-repositories.ts
  setup.cfg
  src/components/date-range-picker.ts
  src/components/ha-selector/ha-selector-entity.ts
  src/components/ha-selector/ha-selector-media.ts
  src/components/media-player/ha-media-player-browse.ts
  src/data/input_datetime.ts
  src/dialogs/more-info/controls/more-info-input_datetime.ts
  src/mixins/subscribe-mixin.ts
  src/panels/config/dashboard/ha-config-dashboard.ts
  src/panels/config/energy/components/ha-energy-device-settings.ts
  src/panels/config/integrations/integration-panels/zha/zha-network-visualization-page.ts
  src/panels/config/logs/ha-config-logs.ts
  src/panels/lovelace/cards/energy/hui-energy-carbon-consumed-gauge-card.ts
  src/panels/lovelace/cards/energy/hui-energy-devices-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-distribution-card.ts
  src/panels/lovelace/cards/energy/hui-energy-gas-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-grid-neutrality-gauge-card.ts
  src/panels/lovelace/cards/energy/hui-energy-solar-consumed-gauge-card.ts
  src/panels/lovelace/cards/energy/hui-energy-solar-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-sources-table-card.ts
  src/panels/lovelace/cards/energy/hui-energy-usage-graph-card.ts
  src/panels/lovelace/entity-rows/hui-input-datetime-entity-row.ts
  src/panels/media-browser/browser-media-player.ts
  src/panels/media-browser/ha-bar-media-player.ts
  src/panels/media-browser/ha-panel-media-browser.ts
  src/util/brands-url.ts
Labels: cla-signed

#11915 Supervisor mobile click accessibility
  hassio/src/entrypoint.ts
Labels: cla-signed

#11908 Convert objects to string in config flow error
  src/dialogs/config-flow/dialog-data-entry-flow.ts
Labels: cla-signed

#11920 Fix datepicker triangle
  src/components/date-range-picker.ts
Labels: cla-signed

#11919 Always show tab names on narrow screens
  src/components/ha-tab.ts
Labels: cla-signed

#11911 Remove zwave and ozw panels
  cast/src/receiver/second-load.ts
  package.json
  src/data/ozw.ts
  src/data/zwave.ts
  src/panels/config/devices/device-detail/integration-elements/ozw/ha-device-actions-ozw.ts
  src/panels/config/devices/device-detail/integration-elements/ozw/ha-device-info-ozw.ts
  src/panels/config/devices/device-detail/integration-elements/zwave_js/ha-device-info-zwave_js.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/config/ha-panel-config.ts
  src/panels/config/integrations/ha-integration-card.ts
  src/panels/config/integrations/integration-panels/ozw/dialog-ozw-refresh-node.ts
  src/panels/config/integrations/integration-panels/ozw/ozw-config-dashboard.ts
  src/panels/config/integrations/integration-panels/ozw/ozw-config-router.ts
  src/panels/config/integrations/integration-panels/ozw/ozw-network-dashboard.ts
  src/panels/config/integrations/integration-panels/ozw/ozw-network-nodes.ts
  src/panels/config/integrations/integration-panels/ozw/ozw-network-router.ts
  src/panels/config/integrations/integration-panels/ozw/ozw-node-config.ts
  src/panels/config/integrations/integration-panels/ozw/ozw-node-dashboard.ts
  src/panels/config/integrations/integration-panels/ozw/ozw-node-router.ts
  src/panels/config/integrations/integration-panels/ozw/show-dialog-ozw-refresh-node.ts
  src/panels/config/integrations/integration-panels/zwave/ha-config-zwave.js
  src/panels/config/integrations/integration-panels/zwave/zwave-config-router.ts
  src/panels/config/integrations/integration-panels/zwave/zwave-groups.js
  src/panels/config/integrations/integration-panels/zwave/zwave-log-dialog.js
  src/panels/config/integrations/integration-panels/zwave/zwave-log.js
  src/panels/config/integrations/integration-panels/zwave/zwave-migration.ts
  src/panels/config/integrations/integration-panels/zwave/zwave-network.ts
  src/panels/config/integrations/integration-panels/zwave/zwave-node-config.ts
  src/panels/config/integrations/integration-panels/zwave/zwave-node-protection.js
  src/panels/config/integrations/integration-panels/zwave/zwave-usercodes.js
  src/panels/config/integrations/integration-panels/zwave/zwave-values.ts
  src/translations/en.json
  yarn.lock
Labels: cla-signed

#11910 Convert lovelace config dialogs to ha-form
  src/panels/config/lovelace/dashboards/dialog-lovelace-dashboard-detail.ts
  src/panels/config/lovelace/resources/dialog-lovelace-resource-detail.ts
Labels: cla-signed

#11937 Guard setting up config flow for an unsupported domain
  src/dialogs/config-flow/dialog-data-entry-flow.ts
  src/panels/config/integrations/ha-config-integrations.ts
  src/translations/en.json
Labels: cla-signed

#11924 Show triggered vars on click
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
Labels: cla-signed

#11960 Allow marking YAML editor as read only
  src/components/ha-yaml-editor.ts
Labels: cla-signed

#11907 Convert inputs
  hassio/src/components/hassio-upload-backup.ts
  src/components/ha-date-input.ts
  src/components/ha-textfield.ts
  src/components/search-input.ts
  src/dialogs/quick-bar/ha-quick-bar.ts
  src/dialogs/voice-command-dialog/ha-voice-command-dialog.ts
  src/panels/config/automation/blueprint-automation-editor.ts
  src/panels/config/automation/thingtalk/dialog-thingtalk.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-webhook.ts
  src/panels/config/cloud/dialog-manage-cloudhook/dialog-manage-cloudhook.ts
  src/panels/config/energy/dialogs/dialog-energy-gas-settings.ts
  src/panels/config/energy/dialogs/dialog-energy-grid-flow-settings.ts
  src/panels/config/integrations/integration-panels/zwave_js/dialog-zwave_js-add-node.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-node-config.ts
  src/panels/config/script/blueprint-script-editor.ts
  src/panels/lovelace/components/hui-input-list-editor.ts
  src/panels/lovelace/editor/config-elements/hui-map-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-picture-card-editor.ts
Labels: cla-signed

#11941 Remove some additional old zwave code
  src/common/entity/domain_icon.ts
  src/common/style/icon_color_css.ts
Labels: cla-signed

#11964 Fix humidifier more info mode dropdown
  src/dialogs/more-info/controls/more-info-humidifier.ts
Labels: cla-signed

#11965 Make min width of select configurable
  src/components/ha-select.ts
  src/panels/lovelace/entity-rows/hui-input-select-entity-row.ts
Labels: cla-signed

#11967 A11y expansion panel
  src/components/ha-expansion-panel.ts
Labels: cla-signed

#11906 Convert file upload to mdc
  src/components/ha-file-upload.ts
  src/panels/config/person/dialog-person-detail.ts
Labels: cla-signed

#11902 Add location selector, convert zone editor
  gallery/src/pages/components/ha-form.ts
  gallery/src/pages/components/ha-selector.ts
  src/components/ha-form/ha-form-constant.ts
  src/components/ha-form/ha-form.ts
  src/components/ha-form/types.ts
  src/components/ha-selector/ha-selector-location.ts
  src/components/ha-selector/ha-selector.ts
  src/data/selector.ts
  src/data/zone.ts
  src/panels/config/zone/dialog-zone-detail.ts
Labels: cla-signed, needs design preview

#11969 20220301.1
  gallery/src/pages/components/ha-form.ts
  gallery/src/pages/components/ha-selector.ts
  hassio/src/components/hassio-upload-backup.ts
  setup.cfg
  src/components/ha-date-input.ts
  src/components/ha-expansion-panel.ts
  src/components/ha-file-upload.ts
  src/components/ha-form/ha-form-constant.ts
  src/components/ha-form/ha-form.ts
  src/components/ha-form/types.ts
  src/components/ha-select.ts
  src/components/ha-selector/ha-selector-location.ts
  src/components/ha-selector/ha-selector.ts
  src/components/ha-textfield.ts
  src/components/search-input.ts
  src/data/image.ts
  src/data/media_source.ts
  src/data/selector.ts
  src/data/zone.ts
  src/dialogs/config-flow/dialog-data-entry-flow.ts
  src/dialogs/more-info/controls/more-info-humidifier.ts
  src/dialogs/quick-bar/ha-quick-bar.ts
  src/dialogs/voice-command-dialog/ha-voice-command-dialog.ts
  src/panels/config/automation/blueprint-automation-editor.ts
  src/panels/config/automation/thingtalk/dialog-thingtalk.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-webhook.ts
  src/panels/config/cloud/dialog-manage-cloudhook/dialog-manage-cloudhook.ts
  src/panels/config/energy/dialogs/dialog-energy-gas-settings.ts
  src/panels/config/energy/dialogs/dialog-energy-grid-flow-settings.ts
  src/panels/config/integrations/ha-config-integrations.ts
  src/panels/config/integrations/integration-panels/zwave_js/dialog-zwave_js-add-node.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-node-config.ts
  src/panels/config/lovelace/dashboards/dialog-lovelace-dashboard-detail.ts
  src/panels/config/lovelace/resources/dialog-lovelace-resource-detail.ts
  src/panels/config/person/dialog-person-detail.ts
  src/panels/config/script/blueprint-script-editor.ts
  src/panels/config/zone/dialog-zone-detail.ts
  src/panels/lovelace/components/hui-input-list-editor.ts
  src/panels/lovelace/editor/config-elements/hui-map-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-picture-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-statistics-graph-card-editor.ts
  src/panels/lovelace/entity-rows/hui-input-select-entity-row.ts
  src/translations/en.json
Labels: cla-signed

#11977 Fix theme setting
  gallery/src/components/demo-cards.ts
  hassio/src/hassio-main.ts
  src/auth/ha-authorize.ts
  src/common/dom/apply_themes_on_element.ts
  src/fake_data/provide_hass.ts
  src/layouts/supervisor-error-screen.ts
  src/onboarding/ha-onboarding.ts
  src/state/themes-mixin.ts
Labels: cla-signed, Bug Fix

#11982 Update Style of Design Page
  gallery/src/components/page-description.ts
  gallery/src/ha-gallery.ts
  gallery/src/pages/components/ha-alert.markdown
Labels: cla-signed, needs design preview

#11990 Use entities-picker in entity selector
  gallery/src/pages/components/ha-form.ts
  src/components/entity/ha-entities-picker.ts
  src/components/ha-selector/ha-selector-entity.ts
Labels: cla-signed, needs design preview

#11998 #11971 Change order of alarm panel buttons
  src/dialogs/more-info/controls/more-info-alarm_control_panel.ts
Labels: cla-signed

#12000 Fix zwave_js 'add/remove device' disabled bug
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-config-dashboard.ts
Labels: cla-signed

#11974 Fix zwave_js set config dropdown default value
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-node-config.ts
Labels: cla-signed, Bug Fix

#12009 Fix changing cost number in energy settings
  src/panels/config/energy/dialogs/dialog-energy-grid-flow-settings.ts
Labels: cla-signed, Bug Fix

#12011 Fix Dashboard Editing
  src/panels/config/lovelace/dashboards/dialog-lovelace-dashboard-detail.ts
Labels: cla-signed, Bug Fix

#12010 Fix For Selecting Device Class
  src/panels/config/entities/entity-registry-settings.ts
Labels: cla-signed, Bug Fix

#12007 Fix: Allow for deleting Input_select options
  src/panels/config/helpers/forms/ha-input_select-form.ts
Labels: cla-signed, Bug Fix

#12008 Script ID update with Alias
  src/panels/config/script/ha-script-editor.ts
Labels: cla-signed, Bug Fix

#12016 HAWS 6.1
  package.json
  src/components/entity/ha-entity-picker.ts
  src/panels/media-browser/browser-media-player.ts
  yarn.lock
Labels: cla-signed

#11874 Add shade to device class overrides
  src/panels/config/entities/entity-registry-settings.ts
  src/translations/en.json
Labels: cla-signed

#12036 Fix: Changing Blueprint Automation Name
  src/panels/config/automation/blueprint-automation-editor.ts
Labels: cla-signed, Bug Fix

#12043 Fix @changed where using ev.detail
  src/panels/config/users/dialog-user-detail.ts
  src/panels/lovelace/editor/config-elements/hui-picture-card-editor.ts
Labels: cla-signed

#12045 20220312.2
  gallery/src/components/demo-cards.ts
  hassio/src/hassio-main.ts
  setup.cfg
  src/auth/ha-authorize.ts
  src/common/dom/apply_themes_on_element.ts
  src/fake_data/provide_hass.ts
  src/layouts/supervisor-error-screen.ts
  src/onboarding/ha-onboarding.ts
  src/panels/config/automation/blueprint-automation-editor.ts
  src/panels/config/energy/dialogs/dialog-energy-grid-flow-settings.ts
  src/panels/config/entities/entity-registry-settings.ts
  src/panels/config/helpers/forms/ha-input_select-form.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-config-dashboard.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-node-config.ts
  src/panels/config/lovelace/dashboards/dialog-lovelace-dashboard-detail.ts
  src/panels/config/script/ha-script-editor.ts
  src/panels/config/users/dialog-user-detail.ts
  src/panels/lovelace/editor/config-elements/hui-picture-card-editor.ts
  src/state/themes-mixin.ts
Labels: cla-signed

#12044 Rename Lovelace Dashboard to just Dashboard
  src/translations/en.json
Labels: cla-signed

#12041 Add Color Temp Selector
  gallery/src/pages/components/ha-selector.ts
  src/components/ha-selector/ha-selector-color-temp.ts
  src/components/ha-selector/ha-selector.ts
  src/data/selector.ts
Labels: cla-signed

#12039 Add Color RGB Selector
  gallery/src/pages/components/ha-selector.ts
  src/components/ha-selector/ha-selector-color-rgb.ts
  src/components/ha-selector/ha-selector.ts
  src/data/selector.ts
Labels: cla-signed, needs design preview

#12054 Add HA to public folder and show in markdown
  gallery/public/images/logo-with-text.png
  gallery/src/pages/design.home-assistant.io/editing.markdown
Labels: cla-signed, needs design preview

#12062 Add ha-form context
  gallery/src/pages/components/ha-form.ts
  src/components/ha-form/ha-form.ts
  src/components/ha-form/types.ts
  src/components/ha-selector/ha-selector-attribute.ts
  src/components/ha-selector/ha-selector.ts
  src/data/selector.ts
Labels: cla-signed, needs design preview

#11925 test condition
  src/components/buttons/ha-progress-button.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/translations/en.json
Labels: cla-signed

#12060 Revamp URL form
  src/common/string/is_ip_address.ts
  src/data/cloud.ts
  src/panels/config/core/ha-config-url-form.ts
  src/translations/en.json
Labels: cla-signed

#12055 Add support for menu data entry flow option
  src/data/data_entry_flow.ts
  src/dialogs/config-flow/dialog-data-entry-flow.ts
  src/dialogs/config-flow/show-dialog-config-flow.ts
  src/dialogs/config-flow/show-dialog-data-entry-flow.ts
  src/dialogs/config-flow/show-dialog-options-flow.ts
  src/dialogs/config-flow/step-flow-menu.ts
Labels: cla-signed

#12056 Add Devices Picker
  gallery/src/pages/components/ha-selector.ts
  src/components/device/ha-devices-picker.ts
  src/components/ha-selector/ha-selector-device.ts
  src/data/selector.ts
Labels: cla-signed, needs design preview

#12049 Utilize Hide Hidden Entities
  gallery/src/pages/misc/integration-card.ts
  src/data/entity_registry.ts
  src/panels/config/devices/device-detail/ha-device-entities-card.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/config/entities/entity-registry-basic-editor.ts
  src/panels/config/entities/entity-registry-settings.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/lovelace/common/generate-lovelace-config.ts
  src/translations/en.json
Labels: cla-signed

#12061 Add Date Selector
  gallery/src/pages/components/ha-selector.ts
  src/components/ha-selector/ha-selector-date.ts
  src/components/ha-selector/ha-selector.ts
  src/data/selector.ts
Labels: cla-signed, needs design preview

#12064 Bumped version to 20220316.0
  setup.cfg
Labels: cla-signed

#12067 Bump HAWS to 7.0.0
  package.json
  yarn.lock
Labels: cla-signed

#12066 Ignore diagnostics not found exceptions
  src/panels/config/devices/ha-config-device-page.ts
Labels: cla-signed

#12070 Add Date Time Selector
  gallery/src/pages/components/ha-selector.ts
  src/components/ha-selector/ha-selector-datetime.ts
  src/components/ha-selector/ha-selector.ts
  src/data/selector.ts
Labels: cla-signed, needs design preview

#12063 Add radio Form Logic to Select Selector
  gallery/src/pages/components/ha-selector.ts
  src/components/ha-form/ha-form-select.ts
  src/components/ha-selector/ha-selector-select.ts
Labels: cla-signed, needs design preview

#12073 Bump HAWS to 7.0.1
  package.json
  yarn.lock
Labels: cla-signed

#11984 replace default switch icon
  src/common/entity/domain_icon.ts
Labels: cla-signed

#12074 Bumped version to 20220317.0
  setup.cfg
Labels: cla-signed

#12069 Create new Logo page
  gallery/public/images/clearspace.png
  gallery/public/images/logo-variants.png
  gallery/public/images/logo.png
  gallery/public/images/using-our-logo.png
  gallery/src/pages/brand/logo.markdown
Labels: cla-signed, needs design preview

#12082 Fetch history with `no_attributes` for entities that do not need them
  src/data/cached-history.ts
  src/data/history.ts
Labels: cla-signed

#11566 Upload release assets
  .github/workflows/release.yaml
Labels: cla-signed

#11892 Fix gas energy graph units if stats added by external source
  src/data/energy.ts
  src/data/history.ts
  src/panels/config/energy/components/ha-energy-gas-settings.ts
Labels: cla-signed

#12095 Change Netlify preview URL
  gallery/script/netlify_build_gallery
Labels: cla-signed, needs design preview

#11651 Add a docs icon to the config flow dialog
  src/dialogs/config-flow/dialog-data-entry-flow.ts
Labels: cla-signed

#12087 Update styles for hui-editor
  src/panels/lovelace/hui-editor.ts
Labels: cla-signed

#12059 Add support for update entities
  gallery/src/pages/more-info/update.markdown
  gallery/src/pages/more-info/update.ts
  src/common/const.ts
  src/common/entity/compute_state_display.ts
  src/common/entity/domain_icon.ts
  src/data/update.ts
  src/dialogs/more-info/controls/more-info-update.ts
  src/dialogs/more-info/state_more_info_control.ts
  src/translations/en.json
Labels: cla-signed, needs design preview

#12077 Add support for integration type
  src/common/entity/compute_state_domain.ts
  src/components/ha-selector/ha-selector-area.ts
  src/components/ha-selector/ha-selector-device.ts
  src/components/ha-selector/ha-selector-target.ts
  src/data/config_entries.ts
  src/data/config_flow.ts
  src/data/energy.ts
  src/data/helpers_crud.ts
  src/dialogs/config-flow/show-dialog-config-flow.ts
  src/dialogs/config-flow/step-flow-pick-handler.ts
  src/onboarding/onboarding-integrations.ts
  src/panels/config/devices/device-detail/integration-elements/zwave_js/ha-device-info-zwave_js.ts
  src/panels/config/energy/components/ha-energy-grid-settings.ts
  src/panels/config/energy/dialogs/dialog-energy-solar-settings.ts
  src/panels/config/entities/editor-tabs/settings/entity-settings-helper-tab.ts
  src/panels/config/entities/entity-registry-settings.ts
  src/panels/config/helpers/const.ts
  src/panels/config/helpers/dialog-helper-detail.ts
  src/panels/config/helpers/ha-config-helpers.ts
  src/panels/config/helpers/show-dialog-helper-detail.ts
  src/panels/config/integrations/ha-config-integrations.ts
  src/panels/config/integrations/integration-panels/mqtt/mqtt-config-panel.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-config-dashboard.ts
  src/translations/en.json
Labels: cla-signed

#12096 Update When entity can change enabled or hidden
  src/panels/config/entities/entity-registry-basic-editor.ts
Labels: cla-signed

#12078 Add entity include and exclude to selector
  src/components/entity/ha-entities-picker.ts
  src/components/entity/ha-entity-picker.ts
  src/components/ha-selector/ha-selector-entity.ts
  src/data/selector.ts
Labels: cla-signed

#12097 change from hidden to not shown
  src/translations/en.json
Labels: cla-signed

#12101 Add statistic adjust dialog
  src/components/ha-selector/ha-selector-datetime.ts
  src/components/ha-selector/ha-selector-number.ts
  src/data/history.ts
  src/panels/developer-tools/statistics/developer-tools-statistics.ts
  src/panels/developer-tools/statistics/dialog-statistics-adjust-sum.ts
  src/panels/developer-tools/statistics/dialog-statistics-fix-units-changed.ts
  src/panels/developer-tools/statistics/dialog-statistics-fix-unsupported-unit-meta.ts
  src/panels/developer-tools/statistics/show-dialog-statistics-adjust-sum.ts
Labels: cla-signed

#12098 Fix Duration Selector Default
  src/components/ha-form/compute-initial-ha-form-data.ts
  src/components/ha-selector/ha-selector-duration.ts
Labels: cla-signed

#12102 Bumped version to 20220322.0
  setup.cfg
Labels: cla-signed

#12089 Create user types page and rename the category
  gallery/sidebar.js
  gallery/src/ha-gallery.ts
  gallery/src/pages/user-test/user-types.markdown
Labels: cla-signed, needs design preview

#11593 Remove `setup.py`
  setup.py
Labels: cla-signed

#12100 Use update entities for showing updates on configuration panel
  hassio/src/update-available/update-available-card.ts
  src/data/supervisor/root.ts
  src/panels/config/dashboard/ha-config-dashboard.ts
  src/panels/config/dashboard/ha-config-updates.ts
  src/panels/config/ha-panel-config.ts
  src/translations/en.json
Labels: cla-signed

#12112 Fix loading traces for automation with custom id
  src/panels/config/automation/ha-config-automation.ts
Labels: cla-signed

#12085 Update Material Design Icons to v6.6.95
  package.json
  yarn.lock
Labels: cla-signed

#12113 Exclude restored automations from dashboard
  src/panels/config/automation/ha-config-automation.ts
Labels: cla-signed

#12108 Support descriptions in flow menu steps
  src/dialogs/config-flow/show-dialog-config-flow.ts
  src/dialogs/config-flow/show-dialog-data-entry-flow.ts
  src/dialogs/config-flow/show-dialog-options-flow.ts
  src/dialogs/config-flow/step-flow-menu.ts
Labels: cla-signed

#12116 Only show docs link when showing a form
  src/dialogs/config-flow/dialog-data-entry-flow.ts
Labels: cla-signed

#12120 Sort selectors
  src/data/selector.ts
Labels: cla-signed

#12122 Update type for backend
  src/components/ha-selector/ha-selector-entity.ts
  src/data/selector.ts
Labels: cla-signed

#12119 Allow rendering helper text from strings.json
  src/components/ha-base-time-input.ts
  src/components/ha-duration-input.ts
  src/components/ha-form/ha-form-string.ts
  src/components/ha-selector/ha-selector-duration.ts
  src/components/ha-selector/ha-selector-number.ts
  src/components/ha-selector/ha-selector-text.ts
  src/dialogs/config-flow/dialog-data-entry-flow.ts
  src/dialogs/config-flow/show-dialog-config-flow.ts
  src/dialogs/config-flow/show-dialog-data-entry-flow.ts
  src/dialogs/config-flow/show-dialog-options-flow.ts
  src/dialogs/config-flow/step-flow-form.ts
Labels: cla-signed

#12125 Add Day to duration selector
  src/components/ha-base-time-input.ts
  src/components/ha-duration-input.ts
  src/components/ha-selector/ha-selector-duration.ts
  src/data/selector.ts
Labels: cla-signed

#12135 Add variables to automation trigger type
  src/data/automation.ts
Labels: cla-signed

#12137 Fix z-index map, always set icon for location selector
  src/components/ha-selector/ha-selector-location.ts
  src/components/map/ha-map.ts
Labels: cla-signed

#12139 Make padding on settings row content consistent
  src/components/ha-service-control.ts
  src/components/ha-settings-row.ts
  src/panels/config/automation/blueprint-automation-editor.ts
  src/panels/lovelace/components/hui-card-options.ts
Labels: cla-signed

#12138 Add Area Multiple Selector option
  gallery/src/pages/components/ha-selector.ts
  src/components/ha-areas-picker.ts
  src/components/ha-selector/ha-selector-area.ts
  src/data/selector.ts
Labels: cla-signed, needs design preview

#12140 break theme picker out of lovelace
  src/components/ha-selector/ha-selector-location.ts
  src/components/ha-selector/ha-selector-theme.ts
  src/components/ha-theme-picker.ts
  src/panels/lovelace/editor/config-elements/config-elements-style.ts
  src/panels/lovelace/editor/config-elements/hui-alarm-panel-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-area-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-button-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-calendar-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-entities-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-entity-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-gauge-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-glance-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-humidifier-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-light-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-logbook-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-markdown-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-media-control-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-picture-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-picture-entity-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-picture-glance-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-plant-status-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-sensor-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-shopping-list-editor.ts
  src/panels/lovelace/editor/config-elements/hui-thermostat-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-weather-forecast-card-editor.ts
  src/translations/en.json
Labels: cla-signed

#12124 Allow binary sensor device class updates
  src/panels/config/entities/entity-registry-settings.ts
  src/translations/en.json
Labels: cla-signed

#12142 Add selector initial values
  gallery/src/pages/components/ha-form.ts
  src/components/ha-form/compute-initial-ha-form-data.ts
Labels: cla-signed

#12146 Add badge to configuration sidebar to indicate pending updates
  src/components/ha-sidebar.ts
Labels: cla-signed

#12152 Bumped version to 20220329.0
  setup.cfg
Labels: cla-signed

#12149 Add entity source API
  src/common/util/time-cache-entity-promise-func.ts
  src/common/util/time-cache-function-promise.ts
  src/components/ha-selector/ha-selector-entity.ts
  src/data/camera.ts
  src/data/entity_sources.ts
Labels: cla-signed

#12118 Update adjust statistic dialog
  src/data/history.ts
  src/panels/developer-tools/statistics/developer-tools-statistics.ts
  src/panels/developer-tools/statistics/dialog-statistics-adjust-sum.ts
Labels: cla-signed

#12148 Fetch release notes for update entities that provides it
  gallery/src/data/text.ts
  gallery/src/pages/components/ha-faded.ts
  gallery/src/pages/more-info/update.ts
  src/data/update.ts
  src/dialogs/more-info/controls/more-info-update.ts
Labels: cla-signed, needs design preview

#11940 Add support for new timer properties
  src/data/timer.ts
  src/dialogs/more-info/controls/more-info-timer.ts
  src/panels/config/helpers/forms/ha-timer-form.ts
  src/translations/en.json
Labels: cla-signed, Feature

#12154 Fix theme settings on design page
  gallery/src/components/demo-black-white-row.ts
Labels: cla-signed, needs design preview

#12127 Allow device_tracker entities to use state_color
  src/common/style/icon_color_css.ts
Labels: cla-signed

#12040 Automation description text overflow
  src/components/ha-textarea.ts
Labels: cla-signed

#12151 Update Pickers and selectors with required
  gallery/src/pages/components/ha-selector.ts
  src/components/device/ha-device-picker.ts
  src/components/device/ha-devices-picker.ts
  src/components/entity/ha-entities-picker.ts
  src/components/entity/ha-entity-attribute-picker.ts
  src/components/entity/ha-entity-picker.ts
  src/components/ha-addon-picker.ts
  src/components/ha-area-picker.ts
  src/components/ha-areas-picker.ts
  src/components/ha-base-time-input.ts
  src/components/ha-combo-box.ts
  src/components/ha-date-input.ts
  src/components/ha-icon-picker.ts
  src/components/ha-labeled-slider.js
  src/components/ha-selector/ha-selector-addon.ts
  src/components/ha-selector/ha-selector-area.ts
  src/components/ha-selector/ha-selector-attribute.ts
  src/components/ha-selector/ha-selector-color-rgb.ts
  src/components/ha-selector/ha-selector-color-temp.ts
  src/components/ha-selector/ha-selector-date.ts
  src/components/ha-selector/ha-selector-datetime.ts
  src/components/ha-selector/ha-selector-device.ts
  src/components/ha-selector/ha-selector-entity.ts
  src/components/ha-selector/ha-selector-icon.ts
  src/components/ha-selector/ha-selector-media.ts
  src/components/ha-selector/ha-selector-number.ts
  src/components/ha-selector/ha-selector-object.ts
  src/components/ha-selector/ha-selector-select.ts
  src/components/ha-selector/ha-selector-theme.ts
  src/components/ha-selector/ha-selector-time.ts
  src/components/ha-theme-picker.ts
  src/components/ha-time-input.ts
  src/components/ha-yaml-editor.ts
  src/panels/lovelace/editor/config-elements/hui-graph-footer-editor.ts
  src/panels/lovelace/editor/config-elements/hui-media-control-card-editor.ts
Labels: cla-signed, needs design preview

#12155 Add support for my links to create a helper config entry
  src/panels/config/helpers/dialog-helper-detail.ts
  src/panels/config/helpers/ha-config-helpers.ts
  src/panels/config/helpers/show-dialog-helper-detail.ts
  src/panels/config/integrations/ha-config-integrations.ts
Labels: cla-signed

#12157 Use brand icon instead of domain icon for helpers
  src/panels/config/helpers/dialog-helper-detail.ts
Labels: cla-signed

#12158 Import components that are allowed to be defined in markdown
  src/components/ha-markdown.ts
Labels: cla-signed

#12156 Add options to selectors gallery
  gallery/src/pages/components/ha-selector.ts
Labels: cla-signed

#12159 Add helpers to list when searching in add integration
  src/dialogs/config-flow/dialog-data-entry-flow.ts
  src/dialogs/config-flow/show-dialog-config-flow.ts
  src/dialogs/config-flow/show-dialog-data-entry-flow.ts
  src/dialogs/config-flow/step-flow-pick-handler.ts
Labels: cla-signed

#12099 List Selector
  gallery/src/pages/components/ha-selector.ts
  src/components/ha-chip-set.ts
  src/components/ha-chip.ts
  src/components/ha-combo-box.ts
  src/components/ha-selector/ha-selector-select.ts
  src/data/selector.ts
Labels: cla-signed, needs design preview

#12052 Add shuffle and repeat-mode of media_player to UI
  src/data/media-player.ts
  src/dialogs/more-info/controls/more-info-media_player.ts
  src/panels/lovelace/cards/hui-media-control-card.ts
  src/panels/media-browser/ha-bar-media-player.ts
  src/translations/en.json
Labels: cla-signed

#12160 Fix for Mobile View of Entities Table
  src/layouts/hass-tabs-subpage-data-table.ts
  src/panels/config/entities/ha-config-entities.ts
Labels: cla-signed

#12143 Allow Sensor Units to be updated via Entity Registry
  src/data/entity_registry.ts
  src/panels/config/entities/entity-registry-settings.ts
  src/translations/en.json
Labels: cla-signed

#12161 Add switch as x to entity settings
  src/panels/config/entities/entity-registry-settings.ts
  src/translations/en.json
Labels: cla-signed

#12164 Bumped version to 20220330.0
  setup.cfg
Labels: cla-signed

#12169 Add missing label for new statistics "adjust sum" button
  src/translations/en.json
Labels: cla-signed

#12168 Bump caniuse-lite
  yarn.lock
Labels: cla-signed

#12171 Only use the state to mark updates as pending
  src/data/update.ts
Labels: cla-signed

#12174 Add icon to add-on picker
  demo/src/stubs/hassio_supervisor.ts
  gallery/public/api/hassio/addons/core_zwave_js/icon
  src/components/ha-addon-picker.ts
Labels: cla-signed, needs design preview

#12172 Add support for my backup links
  src/panels/my/ha-panel-my.ts
Labels: cla-signed

#12177 Show hidden entities on device page
  src/panels/config/devices/device-detail/ha-device-entities-card.ts
  src/translations/en.json
Labels: cla-signed
