Repository home-assistant/frontend, pull requests merged in 2022-01, with the labels that each got.

#11073 Spelling fix ('a NFC tag' to 'an NFC tag')
  src/translations/en.json
Labels: cla-signed

#11040 Update "electricitymap.com" app URL in `hui-energy-distribution-card`
  src/panels/lovelace/cards/energy/hui-energy-distribution-card.ts
Labels: cla-signed

#11102 Convert ha-gallery to TS
  build-scripts/gulp/gallery.js
  gallery/src/components/demo-card.js
  gallery/src/components/demo-card.ts
  gallery/src/components/demo-cards.js
  gallery/src/components/demo-cards.ts
  gallery/src/demos/demo-hui-iframe-card.ts
  gallery/src/demos/demo-hui-media-player-row.ts
  gallery/src/demos/demo-introduction.ts
  gallery/src/ha-gallery.js
  gallery/src/ha-gallery.ts
  package.json
  src/managers/notification-manager.ts
  yarn.lock
Labels: cla-signed, Needs gallery preview

#11103 Allow markdown readme above the gallery pages
  build-scripts/gulp/gallery.js
  gallery/src/demos/demo-ha-alert.markdown
  gallery/src/ha-gallery.ts
Labels: cla-signed, Needs gallery preview

#11104 Gallery: Make sidebar collapsible + more tweaks
  build-scripts/gulp/gallery.js
  gallery/src/demos/demo-introduction.markdown
  gallery/src/demos/demo-introduction.ts
  gallery/src/ha-gallery.ts
  gallery/src/sidebar.ts
Labels: cla-signed, Needs gallery preview

#11109 Ignore button in scenes
  src/data/scene.ts
Labels: cla-signed

#11118 Use page instead of demo
  .github/workflows/ci.yaml
  build-scripts/gulp/gallery.js
  gallery/script/netlify_build_gallery
  gallery/sidebar.js
  gallery/src/components/demo-description.ts
  gallery/src/components/page-description.ts
  gallery/src/ha-gallery.ts
  gallery/src/html/index.html.template
  gallery/src/pages/automation/describe-action.ts
  gallery/src/pages/automation/describe-condition.ts
  gallery/src/pages/automation/describe-trigger.ts
  gallery/src/pages/automation/editor-action.ts
  gallery/src/pages/automation/editor-condition.ts
  gallery/src/pages/automation/editor-trigger.ts
  gallery/src/pages/automation/trace-timeline.ts
  gallery/src/pages/automation/trace.ts
  gallery/src/pages/components/ha-alert.markdown
  gallery/src/pages/components/ha-alert.ts
  gallery/src/pages/components/ha-bar.ts
  gallery/src/pages/components/ha-chips.ts
  gallery/src/pages/components/ha-faded.ts
  gallery/src/pages/components/ha-form.ts
  gallery/src/pages/components/ha-label-badge.ts
  gallery/src/pages/components/ha-selector.ts
  gallery/src/pages/concepts/home.markdown
  gallery/src/pages/design.home-assistant.io/editing.markdown
  gallery/src/pages/lovelace/alarm-panel-card.markdown
  gallery/src/pages/lovelace/alarm-panel-card.ts
  gallery/src/pages/lovelace/area-card.ts
  gallery/src/pages/lovelace/conditional-card.ts
  gallery/src/pages/lovelace/entities-card.ts
  gallery/src/pages/lovelace/entity-button-card.ts
  gallery/src/pages/lovelace/entity-filter-card.ts
  gallery/src/pages/lovelace/gauge-card.ts
  gallery/src/pages/lovelace/glance-card.ts
  gallery/src/pages/lovelace/grid-and-stack-card.ts
  gallery/src/pages/lovelace/iframe-card.ts
  gallery/src/pages/lovelace/introduction.markdown
  gallery/src/pages/lovelace/light-card.ts
  gallery/src/pages/lovelace/map-card.ts
  gallery/src/pages/lovelace/markdown-card.ts
  gallery/src/pages/lovelace/media-control-card.ts
  gallery/src/pages/lovelace/media-player-row.ts
  gallery/src/pages/lovelace/picture-elements-card.ts
  gallery/src/pages/lovelace/picture-entity-card.ts
  gallery/src/pages/lovelace/picture-glance-card.ts
  gallery/src/pages/lovelace/plant-card.ts
  gallery/src/pages/lovelace/shopping-list-card.ts
  gallery/src/pages/lovelace/thermostat-card.ts
  gallery/src/pages/misc/integration-card.ts
  gallery/src/pages/misc/util-long-press.ts
  gallery/src/pages/more-info/cover.ts
  gallery/src/pages/more-info/light.ts
  src/components/ha-markdown.ts
Labels: cla-signed, Needs design preview

#11120 Limit design site builds
  .github/workflows/netflify.yml
  gallery/script/netlify_build_gallery
Labels: cla-signed, Needs design preview

#11082 Only interpolate sensor line charts
  src/components/chart/state-history-chart-line.ts
Labels: cla-signed

#11074 Fix HLS player cleanup (null access to `removeAttribute`)
  src/components/ha-hls-player.ts
  src/components/ha-web-rtc-player.ts
Labels: cla-signed

#11072 Add `reload_themes` and `reload_core_config` to quick bar
  src/dialogs/quick-bar/ha-quick-bar.ts
  src/translations/en.json
Labels: cla-signed

#11124 Add description pages to all pages
  gallery/src/pages/automation/describe-action.markdown
  gallery/src/pages/automation/describe-condition.markdown
  gallery/src/pages/automation/describe-trigger.markdown
  gallery/src/pages/automation/editor-action.markdown
  gallery/src/pages/automation/editor-condition.markdown
  gallery/src/pages/automation/editor-trigger.markdown
  gallery/src/pages/automation/trace-timeline.markdown
  gallery/src/pages/automation/trace.markdown
  gallery/src/pages/components/ha-alert.markdown
  gallery/src/pages/components/ha-bar.markdown
  gallery/src/pages/components/ha-chips.markdown
  gallery/src/pages/components/ha-faded.markdown
  gallery/src/pages/components/ha-form.markdown
  gallery/src/pages/components/ha-label-badge.markdown
  gallery/src/pages/components/ha-selector.markdown
  gallery/src/pages/lovelace/area-card.markdown
  gallery/src/pages/lovelace/conditional-card.markdown
  gallery/src/pages/lovelace/entities-card.markdown
  gallery/src/pages/lovelace/entity-button-card.markdown
  gallery/src/pages/lovelace/entity-filter-card.markdown
  gallery/src/pages/lovelace/gauge-card.markdown
  gallery/src/pages/lovelace/glance-card.markdown
  gallery/src/pages/lovelace/grid-and-stack-card.markdown
  gallery/src/pages/lovelace/iframe-card.markdown
  gallery/src/pages/lovelace/light-card.markdown
  gallery/src/pages/lovelace/map-card.markdown
  gallery/src/pages/lovelace/markdown-card.markdown
  gallery/src/pages/lovelace/media-control-card.markdown
  gallery/src/pages/lovelace/media-player-row.markdown
  gallery/src/pages/lovelace/picture-elements-card.markdown
  gallery/src/pages/lovelace/picture-entity-card.markdown
  gallery/src/pages/lovelace/picture-glance-card.markdown
  gallery/src/pages/lovelace/plant-card.markdown
  gallery/src/pages/lovelace/shopping-list-card.markdown
  gallery/src/pages/lovelace/thermostat-card.markdown
  gallery/src/pages/misc/integration-card.markdown
  gallery/src/pages/misc/util-long-press.markdown
  gallery/src/pages/more-info/cover.markdown
  gallery/src/pages/more-info/light.markdown
Labels: cla-signed, Needs design preview

#11123 Hide local webhooks
  src/data/webhook.ts
  src/panels/config/cloud/account/cloud-webhooks.ts
Labels: cla-signed

#11135 Small UI tweaks to design website
  gallery/src/components/demo-cards.ts
  gallery/src/components/page-description.ts
  gallery/src/ha-gallery.ts
  src/components/ha-markdown.ts
Labels: cla-signed, Needs design preview

#11134 Fix design nightly build
  gallery/script/netlify_build_gallery
Labels: cla-signed

#11138 Handle device without name
  src/dialogs/config-flow/step-flow-create-entry.ts
Labels: cla-signed

#11144 Add guidelines and implementation
  gallery/src/pages/components/ha-alert.markdown
Labels: cla-signed, Needs design preview

#11145 Fix scenes activate button being disabled
  src/panels/lovelace/entity-rows/hui-scene-entity-row.ts
Labels: cla-signed

#11147 Fix timer removing the default value of 00:00:00 if name or icon set
  src/panels/config/helpers/forms/ha-timer-form.ts
Labels: cla-signed

#11150 Add helper entity rows to design page
  gallery/src/pages/lovelace/entities-card.ts
  src/fake_data/entity.ts
Labels: cla-signed, Needs design preview

#11136 Move trigger ID to overflow menu
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/translations/en.json
Labels: cla-signed, Needs design preview

#11140 Improve integration search
  src/dialogs/config-flow/dialog-data-entry-flow.ts
  src/dialogs/config-flow/show-dialog-data-entry-flow.ts
  src/dialogs/config-flow/step-flow-pick-handler.ts
  src/panels/config/integrations/ha-config-integrations.ts
Labels: cla-signed

#11152 Wait with navigate until history.back is done
  src/common/navigate.ts
  src/panels/config/automation/dialog-new-automation.ts
  src/state/url-sync-mixin.ts
Labels: cla-signed

#11154 Re-order automation menu
  gallery/sidebar.js
  gallery/src/pages/automation/editor-action.markdown
  gallery/src/pages/automation/editor-condition.markdown
  gallery/src/pages/automation/editor-trigger.markdown
  gallery/src/pages/automation/trace-timeline.markdown
  gallery/src/pages/automation/trace.markdown
Labels: cla-signed, Needs design preview

#10942 Add sensor device classes for apparent and reactive power
  src/common/const.ts
  src/util/hass-attributes-util.ts
Labels: cla-signed

#10935 Add CO to binary_sensor platform
  src/util/hass-attributes-util.ts
Labels: cla-signed

#11049 Add ARIA role heading for each integration to improve screen reader experience
  src/panels/config/integrations/ha-integration-header.ts
Labels: cla-signed

#10994 Add known issues link to integrations card
  src/panels/config/integrations/ha-integration-card.ts
  src/translations/en.json
Labels: cla-signed

#10877 Remove max-width constraint on areas container
  src/panels/config/areas/ha-config-areas-dashboard.ts
Labels: cla-signed

#10974 Add support for input_button / Button Helper
  src/common/const.ts
  src/common/entity/compute_state_display.ts
  src/data/input_button.ts
  src/panels/config/entities/const.ts
  src/panels/config/entities/editor-tabs/settings/entity-settings-helper-tab.ts
  src/panels/config/helpers/const.ts
  src/panels/config/helpers/dialog-helper-detail.ts
  src/panels/config/helpers/forms/ha-input_button-form.ts
  src/panels/lovelace/create-element/create-row-element.ts
  src/panels/lovelace/entity-rows/hui-input-button-entity-row.ts
  src/state-summary/state-card-content.js
  src/state-summary/state-card-input_button.ts
  src/translations/en.json
Labels: cla-signed

#11160 Adjust fossil energy consumption in demo to avoid negative numbers
  demo/src/stubs/energy.ts
Labels: cla-signed

#10526 Make input_boolean icon state dependent
  src/common/const.ts
  src/common/entity/domain_icon.ts
Labels: cla-signed

#11017 Add checkbox to enable / disable physics for the ZHA network visualization page
  src/panels/config/integrations/integration-panels/zha/zha-network-visualization-page.ts
  src/translations/en.json
Labels: cla-signed

#11163 Update translation of edit config button
  src/translations/en.json
Labels: cla-signed, supervisor

#11142 use motion-sensor/-off
  src/common/entity/binary_sensor_icon.ts
Labels: cla-signed

#11165 Add overflow menu to discovered integration item
  src/panels/config/integrations/ha-config-flow-card.ts
  src/translations/en.json
Labels: cla-signed

#11167 fix domain icons for switch
  src/common/entity/domain_icon.ts
Labels: cla-signed

#10982 Add period option to statistics card
  src/panels/lovelace/cards/hui-statistics-graph-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/editor/config-elements/hui-sensor-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-statistics-graph-card-editor.ts
  src/translations/en.json
Labels: cla-signed

#11164 Add entity ID being browsed to URL of media browser
  src/panels/media-browser/ha-panel-media-browser.ts
Labels: cla-signed

#11139 Allow pressing enter to pick item at the top of the list
  src/dialogs/config-flow/step-flow-pick-handler.ts
Labels: cla-signed

#10978 Add authenticated thumbnails to Media Player and lazy fetch thumbnails
  src/components/media-player/ha-media-player-browse.ts
Labels: cla-signed

#11133 DevTools: Navigate to History from last changed/last updated
  src/panels/developer-tools/state/developer-tools-state.js
Labels: cla-signed

#11324 Area card gallery updates
  gallery/src/pages/lovelace/area-card.ts
  src/panels/lovelace/cards/hui-area-card.ts
Labels: cla-signed, Needs design preview

#11319 Update Home text
  gallery/src/pages/concepts/home.markdown
Labels: cla-signed, Needs design preview

#11337 Translate assigned-to / targeting-this area info
  src/panels/config/areas/ha-config-area-page.ts
  src/panels/energy/strategies/energy-strategy.ts
  src/translations/en.json
Labels: cla-signed

#11331 Show error message if login is blocked
  src/auth/ha-auth-flow.ts
Labels: cla-signed

#11336 Ensure numeric attributes are formatted correctly
  src/util/hass-attributes-util.ts
Labels: cla-signed

#11334 Ensure disabled device entity names are shown
  src/panels/config/devices/device-detail/ha-device-entities-card.ts
Labels: cla-signed

#11317 Reflect media browser panel state in URL
  src/components/media-player/dialog-media-player-browse.ts
  src/components/media-player/ha-media-player-browse.ts
  src/layouts/home-assistant.ts
  src/panels/media-browser/ha-panel-media-browser.ts
Labels: cla-signed

#11345 Allow downloading diagnostics of a config entry
  src/data/diagnostics.ts
  src/panels/config/integrations/ha-config-integrations.ts
  src/panels/config/integrations/ha-integration-card.ts
  src/translations/en.json
Labels: cla-signed

#11346 Call correct "button.press" service for button entity toggle action
  src/panels/lovelace/common/entity/turn-on-off-entity.ts
Labels: cla-signed

#11348 Remove action to download state dump from zwave_js
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-config-dashboard.ts
  src/translations/en.json
Labels: cla-signed

#11349 Use download util for diagnostics
  hassio/src/dialogs/backup/dialog-hassio-backup.ts
  src/panels/config/integrations/ha-integration-card.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-logs.ts
  src/util/file_download.ts
Labels: cla-signed

#11350 Call correct "button.press" service for input_button entity toggle action
  src/panels/lovelace/common/entity/turn-on-off-entity.ts
Labels: cla-signed

#11361 Use system log WS API
  src/data/system_log.ts
Labels: cla-signed

#11358 Localize config flow title
  src/data/config_flow.ts
Labels: cla-signed

#11362 Translate "No integration" in device dashboard table
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/translations/en.json
Labels: cla-signed

#11156 Added examples and corrected some text
  gallery/src/pages/components/ha-alert.markdown
Labels: cla-signed, needs design preview

#11161 Allow creating automation from TTS try dialog
  src/panels/config/cloud/account/dialog-cloud-tts-try.ts
  src/translations/en.json
Labels: cla-signed

#11333 Clean up users table
  src/components/data-table/ha-data-table-icon.ts
  src/components/data-table/ha-data-table.ts
  src/data/user.ts
  src/panels/config/users/dialog-user-detail.ts
  src/panels/config/users/ha-config-users.ts
  src/translations/en.json
Labels: cla-signed

#11366 Add space between number input field and unit
  src/panels/lovelace/entity-rows/hui-input-number-entity-row.ts
  src/state-summary/state-card-input_number.js
Labels: cla-signed

#11370 Allow downloading device diagnostics
  src/data/diagnostics.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/translations/en.json
Labels: cla-signed

#11364 Use backend logic for partial backup while updating
  hassio/src/update-available/update-available-card.ts
  src/data/hassio/addon.ts
  src/data/supervisor/core.ts
  src/translations/en.json
Labels: cla-signed, supervisor

#11369 Media Browser Bar
  src/components/media-player/ha-media-player-browse.ts
  src/data/media-player.ts
  src/panels/media-browser/ha-bar-media-player.ts
  src/panels/media-browser/ha-panel-media-browser.ts
  src/panels/media-browser/hui-dialog-select-media-player.ts
  src/panels/media-browser/show-select-media-source-dialog.ts
  src/translations/en.json
Labels: cla-signed

#11367 Fix Date Time Helper
  src/panels/config/helpers/forms/ha-input_datetime-form.ts
Labels: cla-signed

#11372 Enable/Disable LL-HLS support based on http/2 availability
  src/components/ha-hls-player.ts
Labels: cla-signed

#11381 Adding results of the Configuration menu user test
  gallery/sidebar.js
  gallery/src/pages/user-test/configuration-menu.markdown
Labels: cla-signed, needs design preview

#11383 Hide download diagnostics if config entry is not loaded
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/config/integrations/ha-integration-card.ts
Labels: cla-signed

#11385 Remove Show button on Update. Make row clickable
  src/panels/config/dashboard/ha-config-updates.ts
Labels: cla-signed

#11386 Move energy to Dashboards
  src/panels/config/energy/ha-config-energy.ts
  src/panels/config/ha-panel-config.ts
  src/panels/config/lovelace/dashboards/ha-config-lovelace-dashboards.ts
Labels: cla-signed

#11389 Remove SVG icons from accessibility tree
  src/components/ha-svg-icon.ts
Labels: cla-signed

#11375 Add Search Icon to Config Dashboard
  src/dialogs/quick-bar/ha-quick-bar.ts
  src/dialogs/quick-bar/show-dialog-quick-bar.ts
  src/panels/config/dashboard/ha-config-dashboard.ts
  src/translations/en.json
Labels: cla-signed

#11387 Single device links to device page
  src/panels/config/integrations/ha-integration-card.ts
Labels: cla-signed

#11391 Restore energy config in quickbar
  src/dialogs/quick-bar/ha-quick-bar.ts
  src/panels/config/ha-panel-config.ts
  src/translations/en.json
Labels: cla-signed

#11396 Remove capitalization from media player state card media title
  src/state-summary/state-card-media_player.js
Labels: cla-signed

#11394 Remove "authSig" from media player source
  src/data/media-player.ts
  src/panels/lovelace/cards/hui-media-control-card.ts
  src/panels/media-browser/ha-bar-media-player.ts
  src/util/hass-media-player-model.js
Labels: cla-signed

#11397 Adjust padding for "No items" in media browser
  src/components/media-player/ha-media-player-browse.ts
Labels: cla-signed

#11398 Add demo for selectors
  gallery/script/netlify_build_gallery
  gallery/sidebar.js
  gallery/src/pages/automation/selectors.markdown
  gallery/src/pages/automation/selectors.ts
Labels: cla-signed, needs design preview

#11412 Rename media browser to media
  src/translations/en.json
Labels: cla-signed

#11401 Use en "–" and em "—" dashes consistently
  src/common/entity/compute_state_display.ts
  src/components/entity/ha-state-label-badge.ts
  src/components/ha-attributes.ts
  src/components/ha-water_heater-state.js
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/panels/config/lovelace/dashboards/ha-config-lovelace-dashboards.ts
  src/panels/config/users/ha-config-users.ts
  src/panels/lovelace/cards/energy/hui-energy-distribution-card.ts
  src/panels/lovelace/cards/energy/hui-energy-gas-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-solar-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-usage-graph-card.ts
  src/panels/lovelace/components/hui-energy-period-selector.ts
  src/panels/lovelace/special-rows/hui-attribute-row.ts
  src/state/panel-title-mixin.ts
  src/util/hass-attributes-util.ts
Labels: cla-signed

#11388 Hide actions footer if no action links
  src/panels/config/devices/ha-config-device-page.ts
Labels: cla-signed

#11323 Lovelace Menu Edits
  src/panels/lovelace/hui-root.ts
  src/translations/en.json
Labels: cla-signed

#11094 Set mandatory bool service data without a default value to false
  src/components/ha-service-control.ts
Labels: cla-signed

#10980 Don't sync dev tools service data between tabs
  src/common/decorators/local-storage.ts
  src/panels/config/cloud/account/dialog-cloud-tts-try.ts
  src/panels/developer-tools/service/developer-tools-service.ts
  src/panels/media-browser/ha-panel-media-browser.ts
Labels: cla-signed

#9066 Ensure forecast temperatures are properly positioned + show em-dash when n/a
  src/data/weather.ts
  src/dialogs/more-info/controls/more-info-weather.ts
  src/panels/lovelace/cards/hui-weather-forecast-card.ts
Labels: cla-signed

#11153 Fix Logbook Icons, Card Editor Close/Cancel buttons, View Editor Dirty
  src/panels/logbook/ha-logbook.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-edit-card.ts
  src/panels/lovelace/editor/view-editor/hui-dialog-edit-view.ts
Labels: cla-signed

#11413 Play audio in the bottom bar media player
  src/data/media_source.ts
  src/panels/media-browser/browser-media-player.ts
  src/panels/media-browser/ha-bar-media-player.ts
  src/panels/media-browser/ha-panel-media-browser.ts
Labels: cla-signed

#11347 Allow an external sidebar
  src/components/ha-hls-player.ts
  src/components/ha-sidebar.ts
  src/external_app/external_app_entrypoint.ts
  src/external_app/external_auth.ts
  src/external_app/external_config.ts
  src/external_app/external_events_forwarder.ts
  src/external_app/external_messaging.ts
  src/layouts/home-assistant-main.ts
  src/panels/config/dashboard/ha-config-dashboard.ts
  src/panels/config/dashboard/ha-config-navigation.ts
  src/panels/config/tags/ha-config-tags.ts
  src/state/external-mixin.ts
  src/state/hass-element.ts
Labels: cla-signed

#11414 Fix Quickbar for Safari - Change to MWC Textfield
  src/components/ha-textfield.ts
  src/dialogs/quick-bar/ha-quick-bar.ts
Labels: cla-signed

#11417 Quick Bar: Remove padding + add nothing found text
  src/dialogs/quick-bar/ha-quick-bar.ts
  src/translations/en.json
Labels: cla-signed

#11363 fix #11041: The gauge card doesn't render correctly on iOS 15.2 / macOS 12.1 in the companion apps
  src/components/ha-gauge.ts
Labels: cla-signed

#11418 Use consistent font size for quick bar "Nothing found" note
  src/dialogs/quick-bar/ha-quick-bar.ts
Labels: cla-signed

#11020 Add weekday to formatTimeWeekday()
  src/common/datetime/format_time.ts
  test/common/datetime/format_time.ts
Labels: cla-signed

#11078 Add em dash "—" instead of a blank value in devices and entities tables to improve accessibility
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/panels/config/entities/ha-config-entities.ts
Labels: cla-signed

#11416 Allow tab to show/hide password button for keyboard accessibility
  src/components/ha-form/ha-form-string.ts
Labels: cla-signed

#11419 Missing translation, code editor make ltr, checkbox alignment in rtl
  src/components/ha-yaml-editor.ts
  src/components/trace/ha-trace-blueprint-config.ts
  src/components/trace/ha-trace-config.ts
  src/components/trace/ha-trace-path-details.ts
  src/panels/config/integrations/integration-panels/mqtt/mqtt-config-panel.ts
  src/panels/config/integrations/integration-panels/zha/dialog-zha-device-zigbee-info.ts
  src/panels/developer-tools/event/developer-tools-event.js
  src/panels/developer-tools/state/developer-tools-state.js
  src/panels/developer-tools/template/developer-tools-template.ts
  src/panels/lovelace/editor/hui-element-editor.ts
  src/panels/lovelace/hui-editor.ts
Labels: cla-signed

#10878 Fix various supervisor tooltip and aria-label issues
  hassio/src/addon-view/config/hassio-addon-config.ts
  hassio/src/backups/hassio-backups.ts
  hassio/src/dialogs/backup/dialog-hassio-backup-upload.ts
  hassio/src/dialogs/backup/dialog-hassio-backup.ts
  hassio/src/dialogs/backup/dialog-hassio-create-backup.ts
  hassio/src/dialogs/hardware/dialog-hassio-hardware.ts
  hassio/src/dialogs/network/dialog-hassio-network.ts
  hassio/src/system/hassio-host-info.ts
  src/common/translations/localize.ts
  src/translations/en.json
Labels: cla-signed, supervisor

#11429 Don't add quickbar to history
  src/dialogs/make-dialog-manager.ts
  src/dialogs/quick-bar/show-dialog-quick-bar.ts
Labels: cla-signed

#11432 Fix `border-radius` for progress button success and error
  src/components/buttons/ha-progress-button.ts
Labels: cla-signed

#11434 Always show QR code, and with white bg
  package.json
  src/panels/config/tags/dialog-tag-detail.ts
  src/panels/profile/ha-long-lived-access-token-dialog.ts
  yarn.lock
Labels: cla-signed

#11426 Fix 24:XX time issue in Chrome
  src/common/datetime/format_date_time.ts
  src/common/datetime/format_time.ts
Labels: cla-signed

#11428 Update history and logbook panel path when making selections
  src/panels/history/ha-panel-history.ts
  src/panels/logbook/ha-panel-logbook.ts
Labels: cla-signed

#11436 Add version for service devices
  src/panels/config/devices/device-detail/ha-device-info-card.ts
  src/translations/en.json
Labels: cla-signed

#11435 Update styling for show more updates
  src/panels/config/dashboard/ha-config-updates.ts
Labels: cla-signed

#11437 Change more_updates base translation
  src/translations/en.json
Labels: cla-signed

#11422 Improve cloud dashboard
  src/data/cloud.ts
  src/data/google_assistant.ts
  src/panels/config/cloud/account/cloud-account.ts
  src/panels/config/cloud/account/cloud-alexa-pref.ts
  src/panels/config/cloud/account/cloud-google-pref.ts
  src/panels/config/cloud/alexa/cloud-alexa.ts
  src/panels/config/cloud/google-assistant/cloud-google-assistant.ts
  src/translations/en.json
Labels: cla-signed

#11438 Ensure tag QR code gets shown for each dialog opening
  src/panels/config/tags/dialog-tag-detail.ts
Labels: cla-signed

#11441 Give the design page menu some space
  gallery/src/ha-gallery.ts
Labels: cla-signed

#11439 Fix entity config page rendering for disabled entities
  src/panels/config/entities/ha-config-entities.ts
Labels: cla-signed

#11016 Fix ZHA device reconfiguration dialog
  src/panels/config/integrations/integration-panels/zha/dialog-zha-reconfigure-device.ts
Labels: cla-signed

#10986 Apply header bottom border and fix header height
  src/panels/config/dashboard/ha-config-dashboard.ts
  src/resources/styles.ts
Labels: cla-signed

#10944 Remove unused keys from hassAttributeUtil
  src/components/entity/ha-entity-attribute-picker.ts
  src/components/ha-attributes.ts
  src/data/entity_attributes.ts
  src/panels/lovelace/cards/hui-entity-card.ts
  src/panels/lovelace/special-rows/hui-attribute-row.ts
  src/util/hass-attributes-util.ts
Labels: cla-signed

#11330 Add viewport initial-scale for iOS devices
  src/html/_style_base.html.template
Labels: cla-signed

#11424 Update Media Browser to styling from Mockup
  src/components/media-player/dialog-media-player-browse.ts
  src/components/media-player/ha-media-player-browse.ts
  src/data/media-player.ts
  src/panels/media-browser/ha-bar-media-player.ts
  src/panels/media-browser/ha-panel-media-browser.ts
  src/panels/media-browser/show-media-player-dialog.ts
Labels: cla-signed

#10921 Convert `ha-climate-control` ot Lit and add tooltips to buttons
  src/common/number/clamp.ts
  src/components/ha-climate-control.js
  src/components/ha-climate-control.ts
  src/dialogs/more-info/controls/more-info-climate.ts
  src/translations/en.json
Labels: cla-signed

#11338 Sort all elements on the area page
  src/data/device_registry.ts
  src/data/entity_registry.ts
  src/panels/config/areas/ha-config-area-page.ts
Labels: cla-signed

#11444 media_class of integrations should be app
  src/components/media-player/ha-media-player-browse.ts
Labels: cla-signed

#11445 Fix discovery name
  src/data/config_flow.ts
Labels: cla-signed

#11449 Fix Lovelace view edit mode "Done" button styling
  src/panels/lovelace/hui-root.ts
Labels: cla-signed

#11452 Adjust values in Energy Dashboard row
  src/panels/config/lovelace/dashboards/ha-config-lovelace-dashboards.ts
Labels: cla-signed

#11450 Use documentationUrl instead of manifest for core integrations
  src/components/ha-service-control.ts
  src/panels/config/info/integrations-card.ts
  src/panels/config/integrations/ha-config-flow-card.ts
  src/panels/config/integrations/ha-integration-card.ts
  src/panels/config/logs/dialog-system-log-detail.ts
Labels: cla-signed

#11458 Check if energy integration is enabled
  src/panels/config/lovelace/dashboards/ha-config-lovelace-dashboards.ts
Labels: cla-signed

#11461 Little cleanup
  src/panels/lovelace/strategies/original-states-strategy.ts
Labels: cla-signed

#11460 Set frontendVersion sooner
  src/entrypoints/app.ts
  src/entrypoints/core.ts
Labels: cla-signed

#11459 Fix mobile styling quickbar
  src/dialogs/quick-bar/ha-quick-bar.ts
Labels: cla-signed

#11462 20220127.0
  setup.py
  src/components/ha-service-control.ts
  src/components/media-player/ha-media-player-browse.ts
  src/data/config_flow.ts
  src/dialogs/quick-bar/ha-quick-bar.ts
  src/entrypoints/app.ts
  src/entrypoints/core.ts
  src/panels/config/info/integrations-card.ts
  src/panels/config/integrations/ha-config-flow-card.ts
  src/panels/config/integrations/ha-integration-card.ts
  src/panels/config/logs/dialog-system-log-detail.ts
  src/panels/config/lovelace/dashboards/ha-config-lovelace-dashboards.ts
  src/panels/lovelace/hui-root.ts
  src/panels/lovelace/strategies/original-states-strategy.ts
  src/panels/media-browser/ha-bar-media-player.ts
Labels: cla-signed

#11470 Fix storing Google pin
  src/panels/config/cloud/account/cloud-google-pref.ts
Labels: cla-signed

#11471 Use ha-slider in ha-form-integer
  src/components/ha-form/ha-form-integer.ts
  src/components/ha-form/ha-form.ts
Labels: cla-signed

#11464 When refreshing updates, notify user when finished
  src/panels/config/dashboard/ha-config-dashboard.ts
  src/translations/en.json
Labels: cla-signed

#11484 Move to `setup.cfg` and config for `build-system`
  .github/workflows/release.yaml
  MANIFEST.in
  build-scripts/env.js
  pyproject.toml
  script/release
  script/version_bump.js
  setup.cfg
  setup.py
Labels: cla-signed

#11472 Adjust device translations to handle device vs service consistently
  src/data/device_registry.ts
  src/panels/config/areas/ha-config-area-page.ts
  src/panels/config/devices/device-detail/ha-device-info-card.ts
  src/panels/config/devices/device-registry-detail/dialog-device-registry-detail.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/translations/en.json
Labels: cla-signed

#11474 Fix Quick bar having false text
  src/dialogs/quick-bar/ha-quick-bar.ts
Labels: cla-signed

#11480 Fix Safari Battery Percent on device page
  src/panels/config/devices/ha-config-device-page.ts
Labels: cla-signed

#11487 Add gate to the list of device classes to pick for overrides
  src/panels/config/entities/entity-registry-settings.ts
  src/translations/en.json
Labels: cla-signed

#11481 Bump Lit
  package.json
  yarn.lock
Labels: cla-signed

#11493 Add missing em dash for non-disabled entities and devices
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/panels/config/entities/ha-config-entities.ts
Labels: cla-signed

#11498 Remove interpolation from history graph
  src/components/chart/state-history-chart-line.ts
Labels: cla-signed

#11500 Place System Dashboards at the top with a colored icon in the Dashboard Configuration
  src/panels/config/lovelace/dashboards/ha-config-lovelace-dashboards.ts
Labels: cla-signed

#11447 Mobile click accessibility
  src/entrypoints/app.ts
  src/entrypoints/authorize.ts
  src/entrypoints/custom-panel.ts
  src/entrypoints/onboarding.ts
  src/resources/compatibility.ts
Labels: cla-signed
