Repository home-assistant/frontend, pull requests merged in 2023-01, with the labels that each got.

#14951 Add aliases editor for helpers
  src/panels/config/entities/editor-tabs/settings/entity-settings-helper-tab.ts
  src/panels/config/entities/entity-registry-basic-editor.ts
Labels: cla-signed

#14902 Enable unit conversion for DATA_RATE
  src/panels/config/entities/entity-registry-settings.ts
Labels: cla-signed, backend merged

#14959 Add link to aliases in cloud config entity settings
  demo/src/ha-demo.ts
  gallery/src/pages/misc/integration-card.ts
  src/components/entity/state-info.ts
  src/data/entity_registry.ts
  src/panels/config/automation/ha-automation-trace.ts
  src/panels/config/cloud/alexa/cloud-alexa.ts
  src/panels/config/cloud/google-assistant/cloud-google-assistant.ts
  src/panels/config/entities/entity-aliases/show-dialog-entity-aliases.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/script/ha-script-trace.ts
  src/translations/en.json
Labels: cla-signed

#14903 Enable unit conversion for DATA_SIZE
  src/panels/config/entities/entity-registry-settings.ts
Labels: cla-signed, backend merged

#14940 Use translations for all fields in recurrence rule editor
  src/panels/calendar/ha-recurrence-rule-editor.ts
  src/panels/calendar/recurrence.ts
  src/translations/en.json
Labels: cla-signed

#14952 Do not close aliases dialog on enter
  src/components/ha-dialog.ts
  src/panels/config/entities/entity-aliases/dialog-entity-aliases.ts
  src/panels/config/entities/entity-registry-basic-editor.ts
  src/panels/config/entities/entity-registry-settings.ts
  src/translations/en.json
Labels: cla-signed

#14933 Rollback calendar trigger day offset support
  src/panels/config/automation/trigger/types/ha-automation-trigger-calendar.ts
Labels: cla-signed

#14963 20230102.0
  demo/src/ha-demo.ts
  gallery/src/pages/misc/integration-card.ts
  pyproject.toml
  src/components/entity/state-info.ts
  src/components/ha-dialog.ts
  src/components/ha-form/ha-form-integer.ts
  src/data/entity_registry.ts
  src/panels/calendar/ha-recurrence-rule-editor.ts
  src/panels/calendar/recurrence.ts
  src/panels/config/automation/ha-automation-trace.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-calendar.ts
  src/panels/config/cloud/alexa/cloud-alexa.ts
  src/panels/config/cloud/google-assistant/cloud-google-assistant.ts
  src/panels/config/entities/editor-tabs/settings/entity-settings-helper-tab.ts
  src/panels/config/entities/entity-aliases/dialog-entity-aliases.ts
  src/panels/config/entities/entity-aliases/show-dialog-entity-aliases.ts
  src/panels/config/entities/entity-registry-basic-editor.ts
  src/panels/config/entities/entity-registry-settings.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/script/ha-script-trace.ts
  src/translations/en.json
Labels: cla-signed

#14939 Fix issue with reload not working sometimes
  src/panels/lovelace/common/handle-action.ts
  src/panels/lovelace/hui-root.ts
Labels: cla-signed

#14974 Display zone name in state badge
  src/components/entity/ha-state-label-badge.ts
Labels: cla-signed

#14975 Replace ZMK by ZMW currency
  src/components/currency-datalist.ts
Labels: cla-signed

#14976 Add padding to device action form
  src/panels/config/automation/action/types/ha-automation-action-device_id.ts
Labels: cla-signed

#14979 Ensure calender event description can be edited
  src/panels/calendar/dialog-calendar-event-editor.ts
Labels: cla-signed

#14980 Ensure Lovelace `deviceEntries` lookup handles missing keys
  src/panels/lovelace/common/generate-lovelace-config.ts
Labels: cla-signed

#14915 Fix lokalization of MQTT config entry panel re-configure button and title
  src/panels/config/integrations/integration-panels/mqtt/mqtt-config-panel.ts
  src/translations/en.json
Labels: cla-signed, integration: mqtt

#14985 20230104.0
  pyproject.toml
  src/components/currency-datalist.ts
  src/components/entity/ha-state-label-badge.ts
  src/panels/calendar/dialog-calendar-event-editor.ts
  src/panels/config/automation/action/types/ha-automation-action-device_id.ts
  src/panels/config/integrations/integration-panels/mqtt/mqtt-config-panel.ts
  src/panels/lovelace/common/generate-lovelace-config.ts
  src/panels/lovelace/common/handle-action.ts
  src/panels/lovelace/hui-root.ts
  src/translations/en.json
Labels: cla-signed

#14969 Bump @codemirror packages to version 6.x
  package.json
  src/components/ha-code-editor.ts
  src/panels/lovelace/hui-editor.ts
  src/resources/codemirror.ts
  yarn.lock
Labels: cla-signed, dependencies

#15006 Bump mdi/js and mdi/svg to 7.1.96
  package.json
  yarn.lock
Labels: cla-signed, dependencies

#14990 Fixes weekday calendar chips toggle
  src/panels/calendar/ha-recurrence-rule-editor.ts
Labels: cla-signed

#15002 Add calendar domain to sensors
  src/common/const.ts
Labels: cla-signed

#15003 Remove aliases configuration from alexa cloud page
  src/panels/config/cloud/alexa/cloud-alexa.ts
Labels: cla-signed

#14989 Display aliases in cloud page
  src/data/entity_registry.ts
  src/panels/config/cloud/google-assistant/cloud-google-assistant.ts
  src/panels/config/entities/entity-aliases/dialog-entity-aliases.ts
  src/panels/config/entities/entity-registry-basic-editor.ts
  src/panels/config/entities/entity-registry-settings.ts
  src/translations/en.json
Labels: cla-signed

#15015 Fixes moon badge icon
  src/components/entity/ha-state-label-badge.ts
Labels: cla-signed

#15054 Fixes multiple domains target selector in blueprint
  src/components/ha-selector/ha-selector-target.ts
  src/panels/config/automation/blueprint-automation-editor.ts
  src/panels/config/script/blueprint-script-editor.ts
Labels: cla-signed

#15070 20230110.0
  pyproject.toml
  src/components/entity/ha-state-label-badge.ts
  src/components/ha-selector/ha-selector-target.ts
  src/panels/calendar/ha-recurrence-rule-editor.ts
  src/panels/config/automation/blueprint-automation-editor.ts
  src/panels/config/cloud/alexa/cloud-alexa.ts
  src/panels/config/script/blueprint-script-editor.ts
Labels: cla-signed

#15021 Fixes humidifier off icon
  src/common/entity/domain_icon.ts
Labels: cla-signed

#15020 Add state color for schedule and plant domains
  src/common/entity/state_color.ts
  src/resources/ha-style.ts
Labels: cla-signed

#15016 Reduce label length for regex pattern input text helper
  src/panels/config/helpers/forms/ha-input_text-form.ts
  src/translations/en.json
Labels: cla-signed

#15058 Add close button to fullscreen conversation dialog (on mobile)
  src/dialogs/voice-command-dialog/ha-voice-command-dialog.ts
Labels: cla-signed

#15069 Use backend translations for energy validation
  src/data/energy.ts
  src/panels/config/energy/components/ha-energy-validation-result.ts
  src/translations/en.json
Labels: cla-signed

#15014 Uses websocket to get sensor device class units
  src/data/sensor.ts
  src/panels/config/entities/entity-registry-settings.ts
Labels: cla-signed, backend merged

#15084 Improve voice dialog
  src/dialogs/voice-command-dialog/ha-voice-command-dialog.ts
  src/panels/lovelace/hui-root.ts
  src/translations/en.json
Labels: cla-signed

#14964 filter disabled hardware integrations
  src/panels/config/hardware/ha-config-hardware.ts
Labels: cla-signed

#15118 How can I assist
  src/translations/en.json
Labels: cla-signed

#15000 Bump @material components to 0.27
  .gitignore
  .yarn/patches/@material/mwc-icon-button/remove-icon.patch
  package.json
  yarn.lock
Labels: cla-signed, dependencies

#15082 Add required style to required select selector
  src/components/ha-selector/ha-selector-select.ts
Labels: cla-signed

#15057 Exclude selected items for entities picker
  src/components/entity/ha-entities-picker.ts
Labels: cla-signed

#15007 Use ripple effect for tile card
  src/panels/lovelace/cards/hui-tile-card.ts
Labels: cla-signed

#15126 Add initial Thread panel
  src/data/thread.ts
  src/panels/config/ha-panel-config.ts
  src/panels/config/integrations/ha-integration-card.ts
  src/panels/config/integrations/integration-panels/matter/matter-config-panel.ts
  src/panels/config/integrations/integration-panels/thread/thread-config-panel.ts
Labels: cla-signed

#15142 Revert "Bump webpack from 5.55.1 to 5.75.0"
  package.json
  yarn.lock
Labels: cla-signed

#15135 Prepare conversation agent
  src/data/conversation.ts
  src/dialogs/voice-command-dialog/ha-voice-command-dialog.ts
Labels: cla-signed

#15061 Fix uncaught exception in quick-bar mixin
  src/state/quick-bar-mixin.ts
Labels: cla-signed

#15112 Add support for streaming history
  src/data/cached-history.ts
  src/data/history.ts
  src/dialogs/more-info/ha-more-info-history.ts
  src/panels/lovelace/cards/hui-history-graph-card.ts
Labels: cla-signed

#15136 Convert history header/footer to use streaming history
  src/panels/lovelace/common/graph/coordinates.ts
  src/panels/lovelace/header-footer/hui-graph-header-footer.ts
Labels: cla-signed

#15145 Update map card to use streaming history
  src/panels/lovelace/cards/hui-map-card.ts
Labels: cla-signed

#15153 Optimize purge of old live history data in the time window
  src/data/history.ts
Labels: cla-signed

#14909 Fix localize key errors for URL error and system log
  src/common/translations/localize.ts
  src/data/system_log.ts
  src/panels/config/logs/dialog-system-log-detail.ts
  src/panels/config/logs/system-log-card.ts
  src/panels/config/network/ha-config-url-form.ts
Labels: cla-signed

#15146 Remove unused fetchRecent/fetchRecentWS/fetchDate history data functions
  src/data/history.ts
Labels: cla-signed

#15158 Bump devContainer image to python 3.10
  .devcontainer/Dockerfile
Labels: cla-signed

#14932 Add more alternative text to various images
  cast/src/launcher/layout/hc-layout.ts
  cast/src/receiver/layout/hc-launch-screen.ts
  hassio/src/components/supervisor-formfield-label.ts
  hassio/src/ingress-view/hassio-ingress-view.ts
  src/panels/config/integrations/ha-domain-integrations.ts
  src/panels/media-browser/ha-bar-media-player.ts
  src/panels/media-browser/hui-dialog-web-browser-play-media.ts
  src/state-summary/state-card-configurator.js
Labels: cla-signed

#14831 Entity state colors theming
  gallery/src/pages/components/ha-bar-switch.ts
  gallery/src/pages/misc/entity-state.ts
  src/common/color/compute-color.ts
  src/common/entity/color/alarm_control_panel_color.ts
  src/common/entity/color/alert_color.ts
  src/common/entity/color/battery_color.ts
  src/common/entity/color/binary_sensor_color.ts
  src/common/entity/color/climate_color.ts
  src/common/entity/color/lock_color.ts
  src/common/entity/color/person_color.ts
  src/common/entity/color/sensor_color.ts
  src/common/entity/color/update_color.ts
  src/common/entity/state_color.ts
  src/common/style/icon_color_css.ts
  src/components/chart/timeline-chart/timeline-color.ts
  src/components/entity/state-badge.ts
  src/components/ha-bar-slider.ts
  src/components/ha-bar-switch.ts
  src/components/tile/ha-tile-badge.ts
  src/components/tile/ha-tile-button.ts
  src/components/tile/ha-tile-icon.ts
  src/components/tile/ha-tile-slider.ts
  src/data/climate.ts
  src/panels/logbook/ha-logbook-renderer.ts
  src/panels/lovelace/cards/hui-alarm-panel-card.ts
  src/panels/lovelace/cards/hui-area-card.ts
  src/panels/lovelace/cards/hui-button-card.ts
  src/panels/lovelace/cards/hui-entity-card.ts
  src/panels/lovelace/cards/hui-light-card.ts
  src/panels/lovelace/cards/hui-thermostat-card.ts
  src/panels/lovelace/cards/hui-tile-card.ts
  src/panels/lovelace/cards/tile/badges/tile-badge-climate.ts
  src/panels/lovelace/cards/tile/badges/tile-badge-person.ts
  src/panels/lovelace/cards/tile/badges/tile-badge.ts
  src/resources/css-variables.ts
  src/resources/ha-style.ts
  src/resources/styles.ts
  src/translations/en.json
  test/common/entity/state_color.ts
Labels: cla-signed

#15154 Remove refresh interval configuration option from history graph card
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/editor/config-elements/hui-history-graph-card-editor.ts
Labels: cla-signed

#15150 Show Thread panel on thread config entry
  src/data/otbr.ts
  src/panels/config/integrations/ha-integration-card.ts
  src/panels/config/integrations/integration-panels/thread/thread-config-panel.ts
Labels: cla-signed

#15127 Bump lit and lit-labs to latest
  .yarn/patches/@lit-labs/virtualizer/event-target-shim.patch
  package.json
  src/panels/logbook/ha-logbook-renderer.ts
  yarn.lock
Labels: cla-signed, dependencies

#15124 Prevent optional time fields in ha-service-control from auto-enabling
  src/components/ha-time-input.ts
Labels: cla-signed

#14570 Improve HA form default support
  src/components/ha-form/ha-form.ts
  src/components/ha-selector/ha-selector-number.ts
Labels: cla-signed

#15166 Bump yarn to 3.3.1
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-typescript.cjs
  .yarn/releases/yarn-3.2.3.cjs
  .yarn/releases/yarn-3.3.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Labels: cla-signed

#14918 Allow empty string as a valid conditional statement
  src/panels/lovelace/common/validate-condition.ts
Labels: cla-signed

#15064 Add backend translation support for selector select
  src/components/ha-form/ha-form.ts
  src/components/ha-selector/ha-selector-select.ts
  src/components/ha-selector/ha-selector.ts
  src/data/selector.ts
  src/data/translation.ts
  src/dialogs/config-flow/show-dialog-config-flow.ts
  src/dialogs/config-flow/show-dialog-data-entry-flow.ts
  src/dialogs/config-flow/show-dialog-options-flow.ts
  src/dialogs/config-flow/step-flow-form.ts
  src/panels/config/repairs/show-dialog-repair-flow.ts
Labels: cla-signed, backend merged

#15073 Remove aria-label and blur from list items
  src/panels/config/automation/action/ha-automation-action.ts
  src/panels/config/automation/action/types/ha-automation-action-condition.ts
  src/panels/config/automation/condition/ha-automation-condition.ts
  src/panels/config/automation/trigger/ha-automation-trigger.ts
  src/panels/config/info/ha-config-info.ts
  src/panels/config/integrations/ha-integration-overflow-menu.ts
  src/panels/config/lovelace/dashboards/ha-config-lovelace-dashboards.ts
  src/panels/config/repairs/integrations-startup-time.ts
  src/panels/config/scene/ha-scene-editor.ts
  src/panels/config/script/ha-script-editor.ts
  src/panels/lovelace/editor/hui-dialog-save-config.ts
Labels: cla-signed

#14789 Remove gauge card transparency on focus
  src/panels/lovelace/cards/hui-gauge-card.ts
Labels: cla-signed

#14949 Load script field default values into ha-service-control
  src/components/ha-service-control.ts
Labels: cla-signed

#14999 Fix humidifier and log drop down
  src/panels/config/logs/ha-config-logs.ts
  src/panels/lovelace/cards/hui-humidifier-card.ts
Labels: cla-signed

#14926 Sort battery level column using numeric sort
  src/components/data-table/ha-data-table.ts
  src/components/data-table/sort_filter_worker.ts
Labels: cla-signed

#14931 Fix volume slider of assumed_state media player in entity row
  src/panels/lovelace/entity-rows/hui-media-player-entity-row.ts
Labels: cla-signed

#15087 Fix add/remove entities from map card editor
  src/panels/lovelace/editor/config-elements/hui-map-card-editor.ts
Labels: cla-signed

#15175 Fetch number units from core
  src/data/number.ts
  src/panels/config/entities/entity-registry-settings.ts
Labels: cla-signed

#15177 Allow coloring inactive states in dashboard cards
  src/components/entity/state-badge.ts
  src/panels/lovelace/cards/hui-button-card.ts
  src/panels/lovelace/cards/hui-entity-card.ts
Labels: cla-signed, needs design preview

#14698 Fix button card font size on mobile
  src/panels/lovelace/cards/hui-button-card.ts
Labels: cla-signed

#15063 Allow iframe links to open on android through a parameter
  src/panels/lovelace/cards/hui-iframe-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/editor/config-elements/hui-iframe-card-editor.ts
Labels: cla-signed, Documentation Needed

#15169 Tell dependabot to ignore rollup
  .github/dependabot.yml
Labels: cla-signed

#14992 Delete weekdays key from time condition when emptied from the UI
  src/panels/config/automation/condition/types/ha-automation-condition-time.ts
Labels: cla-signed

#14966 Add UI support for entities in numeric_state above/below conditions &…
  src/panels/config/automation/condition/types/ha-automation-condition-numeric_state.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-numeric_state.ts
  src/translations/en.json
Labels: cla-signed

#15045 Add dark_mode options for image elements in picture-element-card
  src/panels/lovelace/elements/hui-image-element.ts
  src/panels/lovelace/elements/types.ts
Labels: cla-signed

#14927 Round battery values in device table to whole numbers (to fit in the column width)
  src/panels/config/devices/ha-config-devices-dashboard.ts
Labels: cla-signed

#14993 Fix current_humidity no shown on climate state card if also current_temperature is set
  src/components/ha-climate-state.ts
Labels: cla-signed

#15187 Remove onboarding support for conversation agent
  src/data/conversation.ts
  src/dialogs/voice-command-dialog/ha-voice-command-dialog.ts
Labels: cla-signed, backend merged

#15176 Allow overriding a sensor's precision
  src/data/entity_registry.ts
  src/panels/config/entities/entity-registry-settings.ts
  src/translations/en.json
Labels: cla-signed, wait for backend, backend merged

#15194 Use device class icon for number domain
  src/common/entity/domain_icon.ts
  src/common/entity/number_icon.ts
Labels: cla-signed

#15193 Fixes voice dialog border radius on safari
  src/dialogs/voice-command-dialog/ha-voice-command-dialog.ts
Labels: cla-signed

#15185 Bump vaadin to 23.3.5
  package.json
  yarn.lock
Labels: cla-signed, dependencies

#15022 Fix ha-selector-object not updating in the ui when new value is pushed from the parent
  src/components/ha-selector/ha-selector-object.ts
Labels: cla-signed

#14453 New more info light
  package.json
  src/components/ha-bar-slider.ts
  src/dialogs/more-info/components/ha-more-info-bar-slider.ts
  src/dialogs/more-info/components/ha-more-info-light-brightness.ts
  src/dialogs/more-info/components/lights/dialog-light-color-picker.ts
  src/dialogs/more-info/components/lights/show-dialog-light-color-picker.ts
  src/dialogs/more-info/controls/more-info-light.ts
  src/dialogs/more-info/state_more_info_control.ts
  src/translations/en.json
  yarn.lock
Labels: cla-signed, needs design preview

#14743 Add vertical option for tile card
  src/panels/lovelace/cards/hui-tile-card.ts
  src/panels/lovelace/editor/config-elements/hui-tile-card-editor.ts
  src/translations/en.json
Labels: cla-signed

#15199 Localize fixes
  src/mixins/lit-localize-lite-mixin.ts
  src/util/common-translation.ts
Labels: cla-signed

#15198 Add aliases to areas
  gallery/src/pages/components/ha-form.ts
  gallery/src/pages/components/ha-selector.ts
  src/components/ha-area-picker.ts
  src/data/area_registry.ts
  src/dialogs/aliases/dialog-aliases.ts
  src/dialogs/aliases/show-dialog-aliases.ts
  src/panels/config/areas/dialog-area-registry-detail.ts
  src/panels/config/cloud/google-assistant/cloud-google-assistant.ts
  src/panels/config/entities/entity-aliases/show-dialog-entity-aliases.ts
  src/panels/config/entities/entity-registry-basic-editor.ts
  src/panels/config/entities/entity-registry-settings.ts
  src/translations/en.json
Labels: cla-signed

#15202 Tile card fixes with vertical layout
  src/panels/lovelace/cards/hui-tile-card.ts
  src/panels/lovelace/cards/types.ts
Labels: cla-signed

#15203 Revert "New more info light"
  package.json
  src/components/ha-bar-slider.ts
  src/dialogs/more-info/components/ha-more-info-bar-slider.ts
  src/dialogs/more-info/components/ha-more-info-light-brightness.ts
  src/dialogs/more-info/components/lights/dialog-light-color-picker.ts
  src/dialogs/more-info/components/lights/show-dialog-light-color-picker.ts
  src/dialogs/more-info/controls/more-info-light.ts
  src/dialogs/more-info/state_more_info_control.ts
  src/translations/en.json
  yarn.lock
Labels: cla-signed

#15206 Add link to docs in voice dialog
  src/dialogs/voice-command-dialog/ha-voice-command-dialog.ts
Labels: cla-signed

#15218 Add missing hass to chart base
  src/components/chart/statistics-chart.ts
  src/panels/config/hardware/ha-config-hardware.ts
  src/panels/lovelace/cards/energy/hui-energy-devices-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-gas-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-solar-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-usage-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-water-graph-card.ts
Labels: cla-signed

#15219 Fix margin and title on assist dialog
  src/dialogs/voice-command-dialog/ha-voice-command-dialog.ts
  src/translations/en.json
Labels: cla-signed

#15242 20230128.0
  package.json
  pyproject.toml
  src/components/chart/statistics-chart.ts
  src/dialogs/voice-command-dialog/ha-voice-command-dialog.ts
  src/panels/config/hardware/ha-config-hardware.ts
  src/panels/config/tags/dialog-tag-detail.ts
  src/panels/lovelace/cards/energy/hui-energy-devices-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-gas-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-solar-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-usage-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-water-graph-card.ts
  src/panels/profile/ha-long-lived-access-token-dialog.ts
  src/translations/en.json
  yarn.lock
Labels: cla-signed

#15223 Bump fullcalendar to 5.11.4
  .github/dependabot.yml
  package.json
  yarn.lock
Labels: cla-signed, dependencies

#15259 Use new variable name for light toggle icon in area card
  src/panels/lovelace/cards/hui-area-card.ts
Labels: cla-signed

#15255 Use right name pattern for active binary sensor color
  src/resources/ha-style.ts
Labels: cla-signed

#15254 Fixes select input in statistic card editor
  src/panels/lovelace/editor/config-elements/hui-statistic-card-editor.ts
Labels: cla-signed

#15267 Fixes empty hardware page when no config entries
  src/panels/config/hardware/ha-config-hardware.ts
Labels: cla-signed

#15217 Fix entity list not updated when using graph card editor
  src/components/chart/state-history-chart-line.ts
  src/components/chart/state-history-chart-timeline.ts
  src/components/chart/state-history-charts.ts
  src/components/chart/statistics-chart.ts
  src/panels/lovelace/cards/hui-history-graph-card.ts
  src/translations/en.json
Labels: cla-signed

#15271 Fixes history unsubcription
  src/dialogs/more-info/ha-more-info-history.ts
  src/panels/lovelace/cards/hui-history-graph-card.ts
  src/panels/lovelace/cards/hui-map-card.ts
  src/panels/lovelace/header-footer/hui-graph-header-footer.ts
Labels: cla-signed

#15220 Restore default hours to show on map card to 0
  src/panels/lovelace/cards/hui-map-card.ts
Labels: cla-signed

#15273 Only use tagname for shortcut filter
  src/state/quick-bar-mixin.ts
Labels: cla-signed

#15233 RTL fixes
  src/components/entity/ha-entity-picker.ts
  src/components/ha-check-list-item.ts
  src/components/ha-combo-box.ts
  src/panels/config/integrations/ha-config-integrations.ts
Labels: cla-signed

#14606 Add missing translations to Supervisor Wi-Fi network section
  hassio/src/dialogs/network/dialog-hassio-network.ts
  src/components/ha-dialog-date-picker.ts
  src/panels/config/network/supervisor-network.ts
  src/translations/en.json
Labels: cla-signed

#15205 Improve energy settings dialog
  src/panels/config/energy/components/ha-energy-grid-settings.ts
  src/panels/config/energy/dialogs/dialog-energy-battery-settings.ts
  src/panels/config/energy/dialogs/dialog-energy-device-settings.ts
  src/panels/config/energy/dialogs/dialog-energy-gas-settings.ts
  src/panels/config/energy/dialogs/dialog-energy-grid-flow-settings.ts
  src/panels/config/energy/dialogs/dialog-energy-solar-settings.ts
  src/panels/config/energy/dialogs/dialog-energy-water-settings.ts
  src/panels/config/energy/dialogs/show-dialogs-energy.ts
  src/translations/en.json
Labels: cla-signed
