Repository home-assistant/frontend, pull requests merged in 2023-06, with the labels that each got.

#16709 Clean helper config entry fetching in settings
  src/panels/config/entities/entity-registry-settings.ts
Labels: cla-signed

#16710 Add domain icon for time and datetime
  src/common/const.ts
Labels: cla-signed

#16711 Improve padding on integration logo
  src/panels/config/integrations/ha-config-integration-page.ts
Labels: cla-signed

#16712 Fix define variables action
  src/panels/config/automation/action/ha-automation-action.ts
Labels: cla-signed

#16713 Share clipboard between automation and script
  src/panels/config/script/manual-script-editor.ts
Labels: cla-signed

#16715 Add missing imports in backup dialogs
  hassio/src/components/supervisor-backup-content.ts
  hassio/src/dialogs/backup/dialog-hassio-backup.ts
Labels: cla-signed, Supervisor

#16716 Put button menu above toolbar in automation editor
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/action/ha-automation-action.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/panels/config/automation/condition/ha-automation-condition.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/panels/config/automation/trigger/ha-automation-trigger.ts
Labels: cla-signed

#16719 Open right mode when editing favorite color
  src/dialogs/more-info/components/lights/dialog-light-color-favorite.ts
  src/dialogs/more-info/components/lights/ha-more-info-light-favorite-colors.ts
  src/dialogs/more-info/components/lights/light-color-picker.ts
  src/dialogs/more-info/components/lights/show-dialog-light-color-favorite.ts
  src/dialogs/more-info/components/lights/show-view-light-color-picker.ts
Labels: cla-signed

#16728 20230601.1
  hassio/src/components/supervisor-backup-content.ts
  hassio/src/dialogs/backup/dialog-hassio-backup.ts
  package.json
  pyproject.toml
  src/common/const.ts
  src/components/ha-hs-color-picker.ts
  src/components/ha-list-item.ts
  src/components/ha-outlined-icon-button.ts
  src/components/ha-temp-color-picker.ts
  src/dialogs/more-info/components/lights/dialog-light-color-favorite.ts
  src/dialogs/more-info/components/lights/ha-more-info-light-favorite-colors.ts
  src/dialogs/more-info/components/lights/light-color-picker.ts
  src/dialogs/more-info/components/lights/show-dialog-light-color-favorite.ts
  src/dialogs/more-info/components/lights/show-view-light-color-picker.ts
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/action/ha-automation-action.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/panels/config/automation/condition/ha-automation-condition.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/panels/config/automation/trigger/ha-automation-trigger.ts
  src/panels/config/entities/entity-registry-settings.ts
  src/panels/config/integrations/ha-config-integration-page.ts
  src/panels/config/integrations/ha-integration-card.ts
  src/panels/config/script/manual-script-editor.ts
  yarn.lock
Labels: cla-signed

#16729 Add native color picker option (fix for firefox)
  src/dialogs/more-info/components/lights/light-color-picker.ts
Labels: cla-signed

#16737 Hide ignored entries
  src/panels/config/integrations/ha-config-integration-page.ts
Labels: cla-signed

#16750 Don't show edit favorite colors button if the light doesn't support it
  src/data/light.ts
  src/dialogs/more-info/controls/more-info-light.ts
  src/dialogs/more-info/ha-more-info-dialog.ts
Labels: cla-signed

#16738 Fix white brightness effect on color wheel
  src/components/ha-hs-color-picker.ts
Labels: cla-signed

#16746 Allow for lazy loading images in markdown
  hassio/src/addon-view/documentation/hassio-addon-documentation-tab.ts
  hassio/src/addon-view/info/hassio-addon-info.ts
  src/components/ha-markdown-element.ts
  src/components/ha-markdown.ts
Labels: cla-signed, Supervisor

#16731 Disable ZHA channel changing when multi-PAN is in use
  src/data/zha.ts
  src/panels/config/integrations/integration-panels/zha/zha-config-dashboard.ts
  src/translations/en.json
Labels: cla-signed

#16770 Fix padding on thread config panel
  src/panels/config/integrations/integration-panels/thread/thread-config-panel.ts
Labels: cla-signed

#16772 Fix collapsed masonry view in safari
  src/panels/lovelace/views/hui-masonry-view.ts
Labels: cla-signed

#16754 Fix dropdown selection in General Settings
  src/onboarding/onboarding-core-config.ts
  src/panels/config/core/ha-config-section-general.ts
Labels: cla-signed

#16766 Show number config entries when no devices/entities
  src/panels/config/integrations/ha-integration-card.ts
  src/translations/en.json
Labels: cla-signed

#16778 Fix maps card with location sources
  src/panels/lovelace/cards/hui-map-card.ts
  src/panels/lovelace/common/has-changed.ts
Labels: cla-signed

#16774 Align+fix date time entity rows
  src/panels/lovelace/components/hui-generic-entity-row.ts
  src/panels/lovelace/entity-rows/hui-date-entity-row.ts
  src/panels/lovelace/entity-rows/hui-datetime-entity-row.ts
  src/panels/lovelace/entity-rows/hui-input-datetime-entity-row.ts
  src/panels/lovelace/entity-rows/hui-time-entity-row.ts
Labels: cla-signed, needs design preview

#16767 Improve protocol integration add device / integration
  src/common/integrations/protocolIntegrationPicked.ts
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/integrations/ha-config-integration-page.ts
  src/translations/en.json
Labels: cla-signed

#16775 Add more info controls for date/time/datetime
  src/dialogs/more-info/const.ts
  src/dialogs/more-info/controls/more-info-date.ts
  src/dialogs/more-info/controls/more-info-datetime.ts
  src/dialogs/more-info/controls/more-info-input_datetime.ts
  src/dialogs/more-info/controls/more-info-time.ts
  src/dialogs/more-info/state_more_info_control.ts
Labels: cla-signed

#16779 Fix integration card tooltip
  src/panels/config/integrations/ha-integration-header.ts
Labels: cla-signed

#16780 Limit integration card to 1 action row
  src/panels/config/integrations/ha-integration-card.ts
Labels: cla-signed

#16781 Add all devices and entities link to integration page
  src/panels/config/integrations/ha-config-integration-page.ts
Labels: cla-signed

#16786 Use integration_type as header for config entries
  src/panels/config/integrations/ha-config-integration-page.ts
  src/translations/en.json
Labels: cla-signed

#16787 20230605.0
  hassio/src/addon-view/documentation/hassio-addon-documentation-tab.ts
  hassio/src/addon-view/info/hassio-addon-info.ts
  package.json
  pyproject.toml
  src/common/integrations/protocolIntegrationPicked.ts
  src/components/ha-hs-color-picker.ts
  src/components/ha-markdown-element.ts
  src/components/ha-markdown.ts
  src/components/ha-selector/ha-selector-device.ts
  src/data/light.ts
  src/data/zha.ts
  src/dialogs/more-info/components/lights/light-color-picker.ts
  src/dialogs/more-info/const.ts
  src/dialogs/more-info/controls/more-info-date.ts
  src/dialogs/more-info/controls/more-info-datetime.ts
  src/dialogs/more-info/controls/more-info-input_datetime.ts
  src/dialogs/more-info/controls/more-info-light.ts
  src/dialogs/more-info/controls/more-info-time.ts
  src/dialogs/more-info/ha-more-info-dialog.ts
  src/dialogs/more-info/state_more_info_control.ts
  src/dialogs/notifications/notification-drawer.ts
  src/onboarding/onboarding-core-config.ts
  src/panels/config/core/ha-config-section-general.ts
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/integrations/ha-config-integration-page.ts
  src/panels/config/integrations/ha-integration-card.ts
  src/panels/config/integrations/ha-integration-header.ts
  src/panels/config/integrations/integration-panels/thread/thread-config-panel.ts
  src/panels/config/integrations/integration-panels/zha/zha-config-dashboard.ts
  src/panels/lovelace/cards/hui-map-card.ts
  src/panels/lovelace/common/has-changed.ts
  src/panels/lovelace/components/hui-generic-entity-row.ts
  src/panels/lovelace/entity-rows/hui-date-entity-row.ts
  src/panels/lovelace/entity-rows/hui-datetime-entity-row.ts
  src/panels/lovelace/entity-rows/hui-input-datetime-entity-row.ts
  src/panels/lovelace/entity-rows/hui-time-entity-row.ts
  src/panels/lovelace/views/hui-masonry-view.ts
  src/translations/en.json
  yarn.lock
Labels: cla-signed

#16791 Fix label for cover button mode
  src/dialogs/more-info/controls/more-info-cover.ts
Labels: cla-signed

#16794 Update history chart when entity change in the more info dialog
  src/dialogs/more-info/ha-more-info-history.ts
Labels: cla-signed

#16795 Fix 403 on state-badge connect
  src/components/entity/state-badge.ts
Labels: cla-signed

#16739 Fix ha-devices-picker when changing or deleting devices
  src/components/device/ha-devices-picker.ts
Labels: cla-signed

#16801 Add channel 26 to ZHA channel changing dialog dropdown
  src/panels/config/integrations/integration-panels/zha/dialog-zha-change-channel.ts
Labels: cla-signed

#16810 Fix cancel button in automation row alias rename dialog
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
Labels: cla-signed

#16806 Allow the ZHA serial port path to wrap if it is too long
  src/panels/config/integrations/integration-panels/zha/zha-config-dashboard.ts
Labels: cla-signed

#16808 Fixed issue where the cursor would not change to grabbing when a user…
  src/components/map/ha-map.ts
Labels: cla-signed

#16819 Make to full integration card header clickable
  src/panels/config/integrations/ha-integration-card.ts
Labels: cla-signed

#16821 Sort related entities by name
  src/components/ha-related-items.ts
Labels: cla-signed

#16823 Use menu_options instead of menu_issues for translation
  src/panels/config/repairs/show-dialog-repair-flow.ts
Labels: cla-signed

#16822 Integration page fixes
  src/panels/config/integrations/ha-config-integration-page.ts
  src/panels/config/integrations/ha-integration-card.ts
  src/panels/config/integrations/ha-integration-header.ts
  src/panels/config/integrations/ha-integration-list-item.ts
  src/translations/en.json
Labels: cla-signed

#16856 Consolidate dependency updates in release-drafter
  .github/release-drafter.yml
  .github/workflows/release-drafter.yaml
Labels: cla-signed

#16878 Use esm module for hls.js
  src/components/ha-hls-player.ts
Labels: cla-signed

#16846 Clear more info content when switching entity
  src/dialogs/more-info/more-info-content.ts
Labels: cla-signed

#16857 Introduce Intl.ListFormat
  build-scripts/gulp/locale-data.js
  package.json
  src/data/automation_i18n.ts
  src/resources/intl-polyfill-legacy.ts
  src/resources/intl-polyfill.ts
  src/resources/locale-data-polyfill.ts
  tsconfig.json
  yarn.lock
Labels: cla-signed

#16839 Make actions available as event
  src/panels/lovelace/cards/hui-button-card.ts
  src/panels/lovelace/common/handle-action.ts
  src/state/action-mixin.ts
  src/state/hass-element.ts
Labels: cla-signed

#16890 Only catch event inside color wheel
  src/components/ha-hs-color-picker.ts
  src/components/ha-temp-color-picker.ts
Labels: cla-signed

#16893 Fix mqtt debug info dialog too big
  src/panels/config/devices/device-detail/integration-elements/mqtt/dialog-mqtt-device-debug-info.ts
Labels: cla-signed

#16894 Fix date demo in gallery
  gallery/src/pages/date-time/date.ts
Labels: cla-signed

#16849 Use ES modules and dynamic import for Webpack latest builds
  .browserslistrc
  build-scripts/bundle.cjs
  build-scripts/webpack.cjs
  src/components/data-table/sort-filter-worker.ts
  src/components/data-table/sort-filter.ts
  src/resources/markdown-worker.ts
  src/resources/render-markdown.ts
  test/webpack.config.js
Labels: cla-signed

#16903 en.json: Fix typo "recieved" -> "received"
  src/translations/en.json
Labels: cla-signed

#16852 Fix history chart when final sensor state is unavailable
  src/components/chart/state-history-chart-line.ts
Labels: cla-signed

#16813 Add location to backups table
  hassio/src/backups/hassio-backups.ts
  src/data/hassio/backup.ts
  src/translations/en.json
Labels: cla-signed, Supervisor

#16953 Fix notifications subscription leak when in narrow mode
  src/components/ha-menu-button.ts
Labels: cla-signed

#16897 Change all occurrences to use Intl.ListFormat
  src/data/automation_i18n.ts
Labels: cla-signed

#16925 Allow templates in service template/object selector
  src/panels/config/automation/action/types/ha-automation-action-service.ts
  src/panels/developer-tools/service/developer-tools-service.ts
Labels: cla-signed

#16922 Add preheating HVAC action to climate
  gallery/src/pages/misc/entity-state.ts
  src/common/entity/get_states.ts
  src/data/climate.ts
  src/panels/lovelace/cards/tile/badges/tile-badge-climate.ts
Labels: cla-signed

#16909 Put color wheel at the root level for more info light
  src/components/ha-hs-color-picker.ts
  src/components/ha-icon-button-group.ts
  src/components/ha-icon-button-toggle.ts
  src/components/ha-temp-color-picker.ts
  src/data/light.ts
  src/dialogs/more-info/components/lights/dialog-light-color-favorite.ts
  src/dialogs/more-info/components/lights/ha-more-info-light-favorite-colors.ts
  src/dialogs/more-info/components/lights/ha-more-info-view-light-color-picker.ts
  src/dialogs/more-info/components/lights/light-color-rgb-picker.ts
  src/dialogs/more-info/components/lights/light-color-temp-picker.ts
  src/dialogs/more-info/components/lights/show-dialog-light-color-favorite.ts
  src/dialogs/more-info/components/lights/show-view-light-color-picker.ts
  src/dialogs/more-info/controls/more-info-light.ts
  src/translations/en.json
Labels: cla-signed

#16932 Add help button to get documentation from mount dialog
  src/panels/config/storage/dialog-mount-view.ts
  src/translations/en.json
Labels: cla-signed

#16954 Update lit-analyzer and ts-lit-plugin to version 2
  package.json
  yarn.lock
Labels: cla-signed, dependencies

#16971 Bump Vaadin
  package.json
  yarn.lock
Labels: cla-signed

#16948 Upgrade to python 3.11
  .devcontainer/Dockerfile
  .github/workflows/nightly.yaml
  .github/workflows/release.yaml
  pyproject.toml
  script/bootstrap
Labels: cla-signed

#16980 Thread: Rename "My network" to "Preferred network"
  src/translations/en.json
Labels: cla-signed

#16912 Use fuzzy filter/sort for target pickers
  src/components/device/ha-device-picker.ts
  src/components/entity/ha-entity-picker.ts
  src/components/ha-area-picker.ts
Labels: cla-signed

#16805 Fix time and date-time 12h formats (#16692)
  gallery/src/data/date-options.ts
  gallery/src/pages/date-time/date-time-numeric.markdown
  gallery/src/pages/date-time/date-time-numeric.ts
  gallery/src/pages/date-time/date-time-seconds.markdown
  gallery/src/pages/date-time/date-time-seconds.ts
  gallery/src/pages/date-time/date-time-short-year.markdown
  gallery/src/pages/date-time/date-time-short-year.ts
  gallery/src/pages/date-time/date-time-short.markdown
  gallery/src/pages/date-time/date-time-short.ts
  gallery/src/pages/date-time/date-time.markdown
  gallery/src/pages/date-time/date-time.ts
  gallery/src/pages/date-time/date.markdown
  gallery/src/pages/date-time/time-seconds.markdown
  gallery/src/pages/date-time/time-seconds.ts
  gallery/src/pages/date-time/time-weekday.markdown
  gallery/src/pages/date-time/time-weekday.ts
  gallery/src/pages/date-time/time.markdown
  gallery/src/pages/date-time/time.ts
  src/common/datetime/format_date_time.ts
  src/common/datetime/format_time.ts
  src/common/datetime/use_am_pm.ts
Labels: cla-signed, WTH, needs design preview

#15995 Add more info lock
  src/data/lock.ts
  src/dialogs/enter-code/dialog-enter-code.ts
  src/dialogs/enter-code/show-enter-code-dialog.ts
  src/dialogs/more-info/components/alarm_control_panel/ha-more-info-alarm_control_panel-modes.ts
  src/dialogs/more-info/components/lock/ha-more-info-lock-toggle.ts
  src/dialogs/more-info/const.ts
  src/dialogs/more-info/controls/more-info-alarm_control_panel.ts
  src/dialogs/more-info/controls/more-info-lock.ts
  src/panels/lovelace/tile-features/hui-alarm-modes-tile-feature.ts
  src/translations/en.json
Labels: cla-signed

#16911 Use ha-icon-button-group in more info cover
  src/dialogs/more-info/controls/more-info-cover.ts
Labels: cla-signed

#16834 Allow continue_on_error in the UI action editor
  src/data/script.ts
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/translations/en.json
Labels: cla-signed, WTH

#16829 Open assist from dashboard
  src/data/lovelace.ts
  src/dialogs/voice-command-dialog/ha-voice-command-dialog.ts
  src/dialogs/voice-command-dialog/show-ha-voice-command-dialog.ts
  src/panels/lovelace/common/handle-action.ts
  src/panels/lovelace/components/hui-action-editor.ts
  src/panels/lovelace/editor/structs/action-struct.ts
  src/translations/en.json
Labels: cla-signed, Noteworthy

#16915 Add 'Default' option to theme-picker
  src/components/ha-selector/ha-selector-theme.ts
  src/components/ha-theme-picker.ts
  src/data/selector.ts
  src/translations/en.json
Labels: cla-signed

#16933 Use new automation dialog for new scripts
  src/panels/config/automation/dialog-new-automation.ts
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/automation/show-dialog-new-automation.ts
  src/panels/config/script/ha-script-picker.ts
  src/translations/en.json
Labels: cla-signed

#16969 Make automation editor card headers translateable (triggers partly)
  src/data/automation_i18n.ts
  src/translations/en.json
Labels: cla-signed

#16956 Add copy-to-clipboard button for long-lived tokens
  src/components/ha-textfield.ts
  src/panels/profile/ha-long-lived-access-token-dialog.ts
Labels: cla-signed

#16983 Handle multiple triggers in trigger condition UI
  src/components/ha-selector/ha-selector-select.ts
  src/panels/config/automation/condition/types/ha-automation-condition-trigger.ts
Labels: cla-signed

#16757 Map GitHub block quotes to our ha-alert component
  gallery/src/pages/lovelace/markdown-card.ts
  src/components/ha-markdown-element.ts
Labels: cla-signed, needs design preview

#16745 Add haStyleScrollbar to hass-subpage
  src/layouts/hass-subpage.ts
Labels: cla-signed

#16967 Add persistent_notification trigger
  gallery/src/pages/automation/describe-trigger.ts
  gallery/src/pages/automation/editor-trigger.ts
  src/data/automation.ts
  src/data/automation_i18n.ts
  src/data/trigger.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/panels/config/automation/trigger/ha-automation-trigger.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-persistent_notification.ts
  src/translations/en.json
Labels: cla-signed

#14852 open option for lock
  src/state-summary/state-card-lock.js
  src/translations/en.json
Labels: cla-signed

#16685 TTS and STT: standardize spelling
  src/panels/config/voice-assistants/debug/assist-render-pipeline-run.ts
Labels: cla-signed

#16981 Add circular slider
  gallery/src/pages/components/ha-control-circular-slider.markdown
  gallery/src/pages/components/ha-control-circular-slider.ts
  src/components/ha-control-circular-slider.ts
  src/components/ha-control-slider.ts
  src/resources/svg-arc.ts
Labels: cla-signed, needs design preview

#16987 Refactor Storage decorator
  src/common/decorators/storage.ts
  src/components/ha-sidebar.ts
  src/components/media-player/ha-browse-media-tts.ts
  src/dialogs/tts-try/dialog-tts-try.ts
  src/dialogs/voice-command-dialog/ha-voice-command-dialog.ts
  src/panels/calendar/ha-panel-calendar.ts
  src/panels/config/automation/manual-automation-editor.ts
  src/panels/config/cloud/account/dialog-cloud-tts-try.ts
  src/panels/config/integrations/integration-panels/mqtt/mqtt-config-panel.ts
  src/panels/config/integrations/integration-panels/mqtt/mqtt-subscribe-card.ts
  src/panels/config/script/manual-script-editor.ts
  src/panels/developer-tools/service/developer-tools-service.ts
  src/panels/history/ha-panel-history.ts
  src/panels/media-browser/ha-panel-media-browser.ts
Labels: cla-signed

#16142 Allow cards and tile features to provide a schema to create the editor
  src/panels/lovelace/cards/hui-entity-card.ts
  src/panels/lovelace/editor/card-editor/hui-card-element-editor.ts
  src/panels/lovelace/editor/config-elements/hui-entity-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-form-editor.ts
  src/panels/lovelace/editor/hui-element-editor.ts
  src/panels/lovelace/editor/tile-feature-editor/hui-tile-feature-element-editor.ts
  src/panels/lovelace/types.ts
Labels: cla-signed

#16877 Add support for image entity
  src/common/const.ts
  src/common/entity/compute_state_display.ts
  src/components/ha-picture-upload.ts
  src/data/image.ts
  src/data/image_upload.ts
  src/dialogs/more-info/const.ts
  src/dialogs/more-info/controls/more-info-image.ts
  src/dialogs/more-info/state_more_info_control.ts
  src/panels/lovelace/cards/hui-picture-card.ts
  src/panels/lovelace/cards/hui-picture-elements-card.ts
  src/panels/lovelace/cards/hui-picture-entity-card.ts
  src/panels/lovelace/cards/hui-picture-glance-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/common/generate-lovelace-config.ts
  src/panels/lovelace/common/handle-action.ts
  src/panels/lovelace/components/hui-image.ts
  src/panels/lovelace/editor/config-elements/hui-picture-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-picture-glance-card-editor.ts
  src/panels/lovelace/elements/hui-image-element.ts
  src/panels/lovelace/elements/types.ts
  src/translations/en.json
Labels: cla-signed, backend merged

#16989 Simplify usage on clipboard for automations and scripts
  src/data/automation.ts
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/action/ha-automation-action.ts
  src/panels/config/automation/action/types/ha-automation-action-choose.ts
  src/panels/config/automation/action/types/ha-automation-action-condition.ts
  src/panels/config/automation/action/types/ha-automation-action-if.ts
  src/panels/config/automation/action/types/ha-automation-action-parallel.ts
  src/panels/config/automation/action/types/ha-automation-action-repeat.ts
  src/panels/config/automation/action/types/ha-automation-action-wait_for_trigger.ts
  src/panels/config/automation/condition/ha-automation-condition-editor.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/panels/config/automation/condition/ha-automation-condition.ts
  src/panels/config/automation/condition/types/ha-automation-condition-logical.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/automation/manual-automation-editor.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/panels/config/automation/trigger/ha-automation-trigger.ts
  src/panels/config/script/manual-script-editor.ts
Labels: cla-signed

#16833 Allow selecting CIFS version in mount dialog
  src/components/ha-form/ha-form.ts
  src/data/supervisor/mounts.ts
  src/panels/config/storage/dialog-mount-view.ts
  src/translations/en.json
Labels: cla-signed, backend merged

#16800 Don't allow to change the domain in entity registry settings
  src/components/ha-textfield.ts
  src/panels/config/entities/entity-registry-settings-editor.ts
Labels: cla-signed

#16993 Add haStyleScrollbar to hass-tabs-subpage
  src/layouts/hass-tabs-subpage.ts
Labels: cla-signed

#16997 Update _dismissAll to use persistent_notification.dismiss_all service
  src/dialogs/notifications/notification-drawer.ts
Labels: cla-signed

#17015 Fix media player list when there are entities not in the registry
  src/panels/media-browser/ha-bar-media-player.ts
Labels: cla-signed

#17001 Fix dialog-device-registry-detail missing labels
  src/panels/config/devices/device-registry-detail/dialog-device-registry-detail.ts
  src/translations/en.json
Labels: cla-signed

#17007 Export base create config functions
  build-scripts/rollup.cjs
  build-scripts/webpack.cjs
Labels: cla-signed

#17018 Adjust codemirror gutter background color
  src/resources/codemirror.ts
  src/resources/styles.ts
Labels: cla-signed

#16998 Include blueprint type in row id key
  src/panels/config/blueprint/ha-blueprint-overview.ts
Labels: cla-signed

#17029 Don't apply brightness filter to plant icons
  src/common/entity/state_color.ts
  src/components/entity/state-badge.ts
  src/panels/lovelace/cards/hui-button-card.ts
  src/panels/lovelace/cards/hui-entity-card.ts
  src/panels/lovelace/cards/hui-light-card.ts
Labels: cla-signed

#16785 Dont mark blueprint fields with defaults as required
  src/panels/config/automation/blueprint-automation-editor.ts
  src/panels/config/script/blueprint-script-editor.ts
Labels: cla-signed

#17026 Add plant domain to enumerated states list
  src/common/entity/get_states.ts
Labels: cla-signed

#17021 Fix overview failing to render in some cases with toUpperCase exception
  src/common/entity/strip_prefix_from_entity_name.ts
Labels: cla-signed

#17022 Catch errors when describeTrigger throws an exception
  src/data/automation_i18n.ts
  src/data/script_i18n.ts
Labels: cla-signed

#17008 Circular slider improvements
  gallery/src/pages/components/ha-control-circular-slider.ts
  src/components/ha-control-circular-slider.ts
Labels: needs design preview

#17033 Add missing aria-label to integration configure button
  src/panels/config/integrations/ha-integration-card.ts
Labels: cla-signed

#17034 Fix logbook for binary sensor (missing device class)
  src/data/logbook.ts
Labels: cla-signed

#17020 Add "Clear" button to template editor + confirmation dialog
  src/panels/developer-tools/template/developer-tools-template.ts
  src/translations/en.json
Labels: cla-signed

#17005 Update hui-glance-card.ts: fix padding & margin for a focused entity
  src/panels/lovelace/cards/hui-glance-card.ts
Labels: cla-signed

#17035 Automatic casing of nouns based on language
  src/common/translations/auto_case_noun.ts
  src/data/logbook.ts
Labels: cla-signed

#17030 Automatically refresh when showing debug for a pipeline in progress
  src/panels/config/voice-assistants/debug/assist-pipeline-debug.ts
Labels: cla-signed

#17036 Add identify device class to button
  src/common/entity/domain_icon.ts
Labels: cla-signed

#17040 Update build system
  pyproject.toml
  setup.cfg
Labels: cla-signed

#17038 Remove attribution from Assist dialog
  src/data/conversation.ts
  src/dialogs/voice-command-dialog/ha-voice-command-dialog.ts
Labels: cla-signed

#17037 Add UI for conversation trigger
  gallery/src/pages/automation/describe-trigger.ts
  gallery/src/pages/automation/editor-trigger.ts
  src/data/automation.ts
  src/data/automation_i18n.ts
  src/data/trigger.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/panels/config/automation/trigger/ha-automation-trigger.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-conversation.ts
  src/translations/en.json
Labels: cla-signed, needs design preview, Noteworthy

#17017 Fix split area into separate devices and entities
  src/components/ha-service-control.ts
Labels: cla-signed

#17039 Update dialog-add-user input fields
  src/panels/config/users/dialog-add-user.ts
Labels: cla-signed

#17053 Add animation for locking and unlocking state
  src/dialogs/more-info/components/lock/ha-more-info-lock-toggle.ts
Labels: cla-signed

#17051 Show if script is unavailable and why
  src/panels/config/script/ha-script-editor.ts
  src/panels/config/script/ha-script-picker.ts
Labels: cla-signed

#17049 Add keyfunction to datatable virtualizer
  src/components/data-table/ha-data-table.ts
Labels: cla-signed

#16458 Ingress: offer to start addon on ingress page
  hassio/src/addon-view/info/hassio-addon-info.ts
  hassio/src/ingress-view/hassio-ingress-view.ts
  src/data/hassio/addon.ts
  src/translations/en.json
Labels: cla-signed

#17047 Unsubscribe from supervisor collection immediately
  package.json
  src/data/supervisor/supervisor.ts
  yarn.lock
Labels: cla-signed

#17046 Add response variable support to service action
  src/data/script.ts
  src/panels/config/automation/action/types/ha-automation-action-service.ts
  src/translations/en.json
Labels: cla-signed

#17062 Add basic assist dev tools
  src/data/conversation.ts
  src/panels/developer-tools/assist/developer-tools-assist.ts
  src/panels/developer-tools/developer-tools-router.ts
  src/panels/developer-tools/ha-panel-developer-tools.ts
Labels: cla-signed

#17043 Handle "unknown" for date, time and datetime entities
  src/dialogs/more-info/controls/more-info-date.ts
  src/dialogs/more-info/controls/more-info-datetime.ts
  src/dialogs/more-info/controls/more-info-time.ts
  src/panels/lovelace/entity-rows/hui-date-entity-row.ts
  src/panels/lovelace/entity-rows/hui-datetime-entity-row.ts
  src/panels/lovelace/entity-rows/hui-time-entity-row.ts
Labels: cla-signed

#17063 Fix state display in vacuum more info
  src/dialogs/more-info/controls/more-info-vacuum.ts
Labels: cla-signed

#17059 Fix menu button when sidebar is always_hidden
  src/components/ha-menu-button.ts
Labels: cla-signed

#17057 Sort tooltips in energy graphs and filter zeros
  src/panels/lovelace/cards/energy/hui-energy-gas-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-solar-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-usage-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-water-graph-card.ts
Labels: cla-signed

#17055 Show card positions in edit dashboard mode
  src/panels/lovelace/components/hui-card-options.ts
  src/translations/en.json
Labels: cla-signed

#17061 Refactor integration card
  src/panels/config/integrations/ha-integration-card.ts
  src/panels/config/integrations/ha-integration-header.ts
Labels: cla-signed

#17066 Translate message that script/automation is unavailable
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/script/ha-script-editor.ts
  src/translations/en.json
Labels: cla-signed

#17067 Catch exception if diagnostics are not supported for domain
  src/panels/config/integrations/ha-config-integration-page.ts
Labels: cla-signed

#17069 Tweak lovelace editor position badge
  src/panels/lovelace/components/hui-card-options.ts
  src/panels/lovelace/views/hui-masonry-view.ts
Labels: cla-signed

#17071 Fix assist devtools default language
  src/panels/developer-tools/assist/developer-tools-assist.ts
Labels: cla-signed

#17070 Make space for fab
  src/panels/lovelace/views/hui-masonry-view.ts
  src/panels/lovelace/views/hui-sidebar-view.ts
Labels: cla-signed

#17068 Make helper forms lazy load
  src/panels/config/helpers/dialog-helper-detail.ts
Labels: cla-signed

#17075 Add fab spacer for backups table
  src/panels/config/backup/ha-config-backup.ts
Labels: cla-signed

#17056 Humidifier action
  src/data/humidifier.ts
  src/panels/lovelace/cards/hui-humidifier-card.ts
Labels: cla-signed

#17076 Add space for FAB on addon page
  hassio/src/dashboard/hassio-addons.ts
Labels: cla-signed

#17073 Submit assist dev tools on enter
  src/panels/developer-tools/assist/developer-tools-assist.ts
Labels: cla-signed

#17078 Move integration sections into their own container
  src/panels/config/integrations/ha-config-integrations-dashboard.ts
Labels: cla-signed

#17077 Add move card to position on dashboard editor
  src/panels/lovelace/components/hui-card-options.ts
  src/panels/lovelace/editor/config-util.ts
  src/translations/en.json
Labels: cla-signed, Noteworthy

#17079 Remove time from assist dev tools
  src/panels/developer-tools/assist/developer-tools-assist.ts
Labels: cla-signed

#17082 Fab spacer for zha table
  src/panels/config/integrations/integration-panels/zha/zha-groups-dashboard.ts
Labels: cla-signed

#17086 Remove weird colon from integration setup error text
  src/panels/config/integrations/ha-config-integration-page.ts
Labels: cla-signed

#17085 Add min/max support for prompt dialog (e.g. used for card moving)
  src/dialogs/generic/dialog-box.ts
  src/dialogs/generic/show-dialog-box.ts
  src/panels/lovelace/components/hui-card-options.ts
Labels: cla-signed

#17087 Pass missing time zone info to dev tool state
  src/panels/developer-tools/state/developer-tools-state.js
Labels: cla-signed

#17090 Clear template-not-supported error when switching services in devtools
  src/panels/developer-tools/service/developer-tools-service.ts
Labels: cla-signed

#17084 Add summations to gas/solar/water energy graph tooltips
  src/panels/lovelace/cards/energy/hui-energy-gas-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-solar-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-water-graph-card.ts
  src/translations/en.json
Labels: cla-signed

#17092 Show position on sidebar card and hide arrow on panel card
  src/panels/lovelace/components/hui-card-options.ts
  src/panels/lovelace/views/hui-masonry-view.ts
  src/panels/lovelace/views/hui-panel-view.ts
Labels: cla-signed

#17098 Allow to search statistic by statistics id and name
  src/components/entity/ha-statistic-picker.ts
Labels: cla-signed

#17099 Integration dashboard: don't stretch items
  src/panels/config/integrations/ha-config-integrations-dashboard.ts
Labels: cla-signed

#17100 Ensure domain titles are loaded for quick reload items
  src/dialogs/quick-bar/ha-quick-bar.ts
  src/types.ts
Labels: cla-signed

#17102 Fix ha-menu-button not hidden
  src/components/ha-menu-button.ts
Labels: cla-signed

#17104 Same order in device dashboard and device page for config entries
  src/panels/config/devices/ha-config-device-page.ts
Labels: cla-signed

#17103 Replace integration error/warning banner with subtitle
  src/panels/config/integrations/ha-config-integrations-dashboard.ts
  src/panels/config/integrations/ha-integration-card.ts
  src/panels/config/integrations/ha-integration-header.ts
  src/translations/en.json
Labels: cla-signed

#17107 Update discovered/disabled/ignored integrations
  src/panels/config/integrations/ha-config-flow-card.ts
  src/panels/config/integrations/ha-config-integrations-dashboard.ts
  src/panels/config/integrations/ha-integration-action-card.ts
  src/panels/config/integrations/ha-integration-header.ts
  src/translations/en.json
Labels: cla-signed
