Repository home-assistant/frontend, pull requests merged in 2023-11, with the labels that each got.

#18493 Fix choose add option
  src/panels/config/automation/action/types/ha-automation-action-choose.ts
Labels: hacktoberfest, cla-signed

#18496 Revert bump to `@lit/context@1.0.1`
  package.json
  src/components/device/ha-device-automation-picker.ts
  src/data/context.ts
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/action/types/ha-automation-action-choose.ts
  src/panels/config/automation/action/types/ha-automation-action-device_id.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/panels/config/automation/condition/types/ha-automation-condition-device.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-device.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/config/ha-panel-config.ts
  src/panels/config/script/ha-config-script.ts
  src/panels/config/voice-assistants/ha-config-voice-assistants-expose.ts
  src/panels/config/voice-assistants/ha-config-voice-assistants.ts
  src/panels/lovelace/cards/hui-button-card.ts
  src/state/context-mixin.ts
  yarn.lock
Labels: cla-signed, Dependencies

#18483 Properly set direction styles
  src/common/util/compute_rtl.ts
  src/state/translations-mixin.ts
Labels: hacktoberfest, cla-signed

#18497 Bump node to v20
  .nvmrc
Labels: cla-signed, Dependencies

#18411 Add test button to conditional card
  src/panels/lovelace/editor/conditions/ha-card-condition-editor.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#18409 Add and and or condition to conditional card
  src/panels/lovelace/common/icon-condition.ts
  src/panels/lovelace/common/validate-condition.ts
  src/panels/lovelace/components/hui-conditional-base.ts
  src/panels/lovelace/editor/conditions/ha-card-conditions-editor.ts
  src/panels/lovelace/editor/conditions/types/ha-card-condition-and.ts
  src/panels/lovelace/editor/conditions/types/ha-card-condition-or.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#18480 Stop using ha-markdown on the auth page
  src/auth/ha-auth-flow.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#18479 feat: Dynamically adjust gradient percentages based on min/max values
  src/common/color/convert-light-color.ts
  src/components/ha-selector/ha-selector-color-temp.ts
Labels: hacktoberfest, cla-signed

#18488 Localize trigger condition and add list formatting
  src/data/automation_i18n.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#18469 Add trigger selector for blueprint
  src/components/ha-selector/ha-selector-trigger.ts
  src/components/ha-selector/ha-selector.ts
  src/data/selector.ts
Labels: hacktoberfest, cla-signed

#18398 Display default action label in action selector
  src/components/ha-selector/ha-selector-ui-action.ts
  src/data/selector.ts
  src/panels/lovelace/cards/hui-button-card.ts
  src/panels/lovelace/cards/hui-tile-card.ts
  src/panels/lovelace/components/hui-action-editor.ts
  src/panels/lovelace/editor/config-elements/hui-button-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-tile-card-editor.ts
Labels: hacktoberfest, cla-signed

#18502 Clean up auth flow translation placeholders
  src/auth/ha-auth-flow.ts
Labels: cla-signed

#18543 Fix "ttme" typo on the demo page
  src/translations/en.json
Labels: cla-signed

#18509 Fix for RTL
  src/dialogs/more-info/components/climate/ha-more-info-climate-temperature.ts
  src/dialogs/more-info/controls/more-info-climate.ts
  src/dialogs/more-info/controls/more-info-humidifier.ts
  src/dialogs/more-info/controls/more-info-water_heater.ts
  src/dialogs/more-info/controls/more-info-weather.ts
Labels: cla-signed

#18504 Improve template trigger/condition descriptions
  src/data/automation_i18n.ts
  src/translations/en.json
Labels: cla-signed

#18532 Fix refresh in developer state tools
  src/panels/developer-tools/state/developer-tools-state.ts
Labels: cla-signed

#18541 Don't display hidden/non-visible calendars on the Calendar panel
  src/data/calendar.ts
Labels: cla-signed

#18559 Add some Renovate groups and enable NVM updates
  .nvmrc
  renovate.json
Labels: cla-signed, Dependencies

#18560 Use strict comparison for above condition in conditional card
  src/panels/lovelace/common/validate-condition.ts
Labels: cla-signed

#18447 Add localization to service call exceptions
  src/data/translation.ts
  src/state/connection-mixin.ts
Labels: hacktoberfest, cla-signed, parent-merged

#18542 Minify logos
  demo/src/html/index.html.template
  public/static/icons/mask-icon.svg
  src/components/ha-logo-svg.ts
  src/html/authorize.html.template
  src/html/index.html.template
  src/resources/home-assistant-logo-svg.ts
Labels: cla-signed, Demo

#18564 Remove dependency esprima
  build-scripts/bundle.cjs
  package.json
  yarn.lock
Labels: cla-signed, Dependencies, Build

#18567 Add tooltip to tile sliders and more info sliders
  gallery/src/pages/components/ha-control-slider.ts
  src/common/translations/blank_before_unit.ts
  src/components/ha-control-slider.ts
  src/data/entity_attributes.ts
  src/dialogs/more-info/components/cover/ha-more-info-cover-position.ts
  src/dialogs/more-info/components/cover/ha-more-info-cover-tilt-position.ts
  src/dialogs/more-info/components/fan/ha-more-info-fan-speed.ts
  src/dialogs/more-info/components/lights/ha-more-info-light-brightness.ts
  src/dialogs/more-info/components/lights/light-color-temp-picker.ts
  src/dialogs/more-info/controls/more-info-cover.ts
  src/dialogs/more-info/controls/more-info-fan.ts
  src/dialogs/more-info/controls/more-info-light.ts
  src/panels/lovelace/cards/hui-tile-card.ts
  src/panels/lovelace/tile-features/hui-cover-position-tile-feature.ts
  src/panels/lovelace/tile-features/hui-cover-tilt-position-tile-feature.ts
  src/panels/lovelace/tile-features/hui-fan-speed-tile-feature.ts
  src/panels/lovelace/tile-features/hui-light-brightness-tile-feature.ts
  src/panels/lovelace/tile-features/hui-light-color-temp-tile-feature.ts
Labels: cla-signed, needs design preview, Design

#18575 Only update dev tools yaml editor on entity change or submit
  src/panels/developer-tools/state/developer-tools-state.ts
Labels: cla-signed

#18577 Add pointer-events none to slider tooltip
  src/components/ha-control-slider.ts
Labels: cla-signed

#18580 rollback lit-labs/virtualizer to 2.0.8
  package.json
  yarn.lock
Labels: cla-signed, Dependencies

#18584 Fix virtualizer with v2.0.10
  package.json
  src/components/media-player/ha-media-player-browse.ts
  src/dialogs/quick-bar/ha-quick-bar.ts
  src/panels/config/integrations/dialog-add-integration.ts
  src/panels/config/voice-assistants/dialog-expose-entity.ts
  src/panels/logbook/ha-panel-logbook.ts
  yarn.lock
Labels: cla-signed, Dependencies

#18513 Migrate chips to Material 3 chips.
  gallery/src/pages/components/ha-chips.ts
  gallery/src/pages/misc/entity-state.ts
  hassio/src/addon-view/info/hassio-addon-info.ts
  src/components/chips/ha-assist-chip.ts
  src/components/chips/ha-chip-set.ts
  src/components/chips/ha-filter-chip.ts
  src/components/chips/ha-input-chip.ts
  src/components/ha-chip-set.ts
  src/components/ha-chip.ts
  src/components/ha-label.ts
  src/components/ha-selector/ha-selector-select.ts
  src/dialogs/quick-bar/ha-quick-bar.ts
  src/panels/calendar/dialog-calendar-event-editor.ts
  src/panels/calendar/ha-recurrence-rule-editor.ts
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/dashboard/ha-config-dashboard.ts
  src/panels/config/devices/device-detail/ha-device-automation-card.ts
  src/panels/config/users/dialog-user-detail.ts
  src/panels/lovelace/cards/hui-alarm-panel-card.ts
  src/panels/lovelace/components/hui-buttons-base.ts
Labels: cla-signed, Supervisor, needs design preview, Design

#18591 Fix add device dialog
  src/panels/config/integrations/dialog-add-integration.ts
Labels: cla-signed

#18598 Localize `clear` in entity filter
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/panels/config/entities/ha-config-entities.ts
Labels: cla-signed

#18562 Add number tile feature
  src/panels/lovelace/create-element/create-tile-feature-element.ts
  src/panels/lovelace/editor/config-elements/hui-number-tile-feature-editor.ts
  src/panels/lovelace/editor/config-elements/hui-tile-card-features-editor.ts
  src/panels/lovelace/tile-features/hui-number-tile-feature.ts
  src/panels/lovelace/tile-features/types.ts
  src/translations/en.json
Labels: cla-signed, Tile card

#17841 Add unit to temperature tile number button group
  gallery/src/pages/components/ha-control-number-buttons.ts
  package.json
  src/common/entity/compute_attribute_display.ts
  src/common/entity/compute_state_display.ts
  src/components/ha-control-number-buttons.ts
  src/panels/lovelace/tile-features/hui-target-temperature-tile-feature.ts
  yarn.lock
Labels: cla-signed, Dependencies, Design

#18599 Rename tooltipUnit to unit for slider
  gallery/src/pages/components/ha-control-slider.ts
  src/components/ha-control-slider.ts
  src/dialogs/more-info/components/cover/ha-more-info-cover-position.ts
  src/dialogs/more-info/components/cover/ha-more-info-cover-tilt-position.ts
  src/dialogs/more-info/components/fan/ha-more-info-fan-speed.ts
  src/dialogs/more-info/components/lights/ha-more-info-light-brightness.ts
  src/dialogs/more-info/components/lights/light-color-temp-picker.ts
  src/panels/lovelace/tile-features/hui-cover-position-tile-feature.ts
  src/panels/lovelace/tile-features/hui-cover-tilt-position-tile-feature.ts
  src/panels/lovelace/tile-features/hui-fan-speed-tile-feature.ts
  src/panels/lovelace/tile-features/hui-light-brightness-tile-feature.ts
  src/panels/lovelace/tile-features/hui-light-color-temp-tile-feature.ts
Labels: cla-signed, Design

#18607 Localize hide/show password
  src/components/ha-form/ha-form-string.ts
  src/components/ha-selector/ha-selector-text.ts
  src/translations/en.json
Labels: cla-signed

#18602 Add unit for number tile feature
  src/panels/lovelace/tile-features/hui-number-tile-feature.ts
Labels: cla-signed

#18619 Fix login password form
  src/components/ha-form/ha-form-string.ts
Labels: cla-signed

#18653 Add todo entity_id in URL
  src/panels/todo/ha-panel-todo.ts
Labels: cla-signed

#18665 Fix onboarding password form
  src/components/ha-selector/ha-selector-text.ts
Labels: cla-signed

#18659 Fix Edit Area dialog doesn't save area
  src/panels/config/areas/dialog-area-registry-detail.ts
Labels: cla-signed

#18655 Don't save new automation when save dialog is cancelled
  src/panels/config/automation/ha-automation-editor.ts
Labels: cla-signed

#18671 Use stt-vad-end event in assist debug panel
  src/panels/config/voice-assistants/debug/assist-render-pipeline-run.ts
Labels: cla-signed

#18662 Delete To-do items in a batched single request
  src/data/todo.ts
  src/panels/lovelace/cards/hui-todo-list-card.ts
Labels: cla-signed

#18579 Improve ripple background color for tile card
  src/panels/lovelace/cards/hui-tile-card.ts
Labels: cla-signed

#18668 Allow search for integration name in log search
  src/panels/config/logs/system-log-card.ts
Labels: cla-signed

#18667 Restore map filter theme
  src/components/map/ha-map.ts
Labels: cla-signed

#18666 Add minimal UI for climate and water entity without target
  src/components/ha-control-circular-slider.ts
  src/dialogs/more-info/components/climate/ha-more-info-climate-temperature.ts
  src/dialogs/more-info/components/water_heater/ha-more-info-water_heater-temperature.ts
Labels: cla-signed

#18489 Add support for warnings in `check_config`
  src/data/core.ts
  src/panels/developer-tools/yaml_configuration/developer-yaml-config.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#18615 Update dialog-add-integration.ts
  src/panels/config/integrations/dialog-add-integration.ts
Labels: cla-signed

#18649 Move attribute pre styles to ha-attribute-value component
  src/components/ha-attribute-value.ts
  src/components/ha-attributes.ts
Labels: cla-signed

#18647 Replace paper-input in cast
  cast/src/launcher/layout/hc-connect.ts
Labels: cla-signed, Cast

#18645 Localization bugfixes in config devices/entities/helpers
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/helpers/ha-config-helpers.ts
Labels: cla-signed

#18646 Add translations for the developer tools statistic issues
  src/panels/developer-tools/statistics/developer-tools-statistics.ts
  src/panels/developer-tools/statistics/dialog-statistics-adjust-sum.ts
  src/panels/developer-tools/statistics/dialog-statistics-fix-units-changed.ts
  src/translations/en.json
Labels: cla-signed

#18638 Polyfill ElementInternals for material-web components. Fix #18600
  package.json
  src/components/chips/ha-assist-chip.ts
  src/components/chips/ha-chip-set.ts
  src/components/chips/ha-filter-chip.ts
  src/components/chips/ha-input-chip.ts
  src/components/ha-outlined-button.ts
  src/components/ha-outlined-icon-button.ts
  src/components/ha-slider.ts
  yarn.lock
Labels: cla-signed, Dependencies

#18664 Fix yaml editor lovelace
  src/panels/lovelace/ha-panel-lovelace.ts
  src/panels/lovelace/hui-root.ts
Labels: cla-signed

#18681 Typo in bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: cla-signed

#18690 Ensure websocket_api error messages shows longer
  src/state/connection-mixin.ts
Labels: cla-signed

#18643 Add live camera & custom AR to Area card
  src/panels/lovelace/cards/hui-area-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/editor/config-elements/hui-area-card-editor.ts
Labels: cla-signed

#18694 Temporarily filter cleared statistics from devtools table
  src/panels/developer-tools/statistics/developer-tools-statistics.ts
Labels: cla-signed

#18637 Add logarithmic scale option to Statistics and History graph cards
  src/components/chart/state-history-chart-line.ts
  src/components/chart/state-history-charts.ts
  src/components/chart/statistics-chart.ts
  src/panels/lovelace/cards/hui-history-graph-card.ts
  src/panels/lovelace/cards/hui-statistics-graph-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/editor/config-elements/hui-history-graph-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-statistics-graph-card-editor.ts
  src/resources/chartjs.ts
  src/translations/en.json
Labels: cla-signed

#18596 Add shortcut from energy dashboard to energy settings
  src/panels/energy/ha-panel-energy.ts
  src/panels/lovelace/components/hui-energy-period-selector.ts
  src/translations/en.json
Labels: cla-signed

#18680 Add a button to delete all refresh tokens
  src/panels/profile/ha-refresh-tokens-card.ts
  src/translations/en.json
Labels: cla-signed, WTH

#18658 Add configuration to default dashboard
  src/components/ha-area-picker.ts
  src/components/ha-areas-picker.ts
  src/panels/lovelace/common/generate-lovelace-config.ts
  src/panels/lovelace/editor/dashboard-strategy-editor/hui-dashboard-strategy-element-editor.ts
  src/panels/lovelace/editor/dashboard-strategy-editor/hui-original-states-dashboard-strategy-editor.ts
  src/panels/lovelace/editor/hui-element-editor.ts
  src/panels/lovelace/hui-root.ts
  src/panels/lovelace/strategies/device-registry-detail/dialog-dashboard-strategy-editor.ts
  src/panels/lovelace/strategies/device-registry-detail/show-dialog-dashboard-strategy-editor.ts
  src/panels/lovelace/strategies/get-strategy.ts
  src/panels/lovelace/strategies/legacy-strategy.ts
  src/panels/lovelace/strategies/original-states-dashboard-strategy.ts
  src/panels/lovelace/strategies/original-states-view-strategy.ts
  src/panels/lovelace/strategies/types.ts
  src/translations/en.json
Labels: cla-signed

#18608 Use entity component translations for update entity
  src/common/const.ts
  src/common/entity/compute_state_display.ts
  src/data/update.ts
  src/dialogs/more-info/controls/more-info-update.ts
  src/panels/lovelace/cards/hui-tile-card.ts
  src/panels/lovelace/create-element/create-row-element.ts
  src/panels/lovelace/entity-rows/hui-update-entity-row.ts
  src/state-summary/state-card-content.js
  src/state-summary/state-card-update.ts
  src/translations/en.json
Labels: cla-signed, backend merged

#18698 Fix Babel runtime helper injections
  build-scripts/bundle.cjs
Labels: cla-signed, Build

#18677 Adjust bundle filenames for stats and debugging
  build-scripts/webpack.cjs
Labels: cla-signed, Build

#18709 Add new design to thermostat card
  src/components/ha-big-number.ts
  src/components/ha-control-circular-slider.ts
  src/components/ha-control-number-buttons.ts
  src/components/ha-control-select.ts
  src/dialogs/more-info/components/climate/ha-more-info-climate-humidity.ts
  src/dialogs/more-info/components/climate/ha-more-info-climate-temperature.ts
  src/dialogs/more-info/components/ha-more-info-control-circular-slider-style.ts
  src/dialogs/more-info/components/humidifier/ha-more-info-humidifier-humidity.ts
  src/dialogs/more-info/components/water_heater/ha-more-info-water_heater-temperature.ts
  src/panels/lovelace/cards/hui-thermostat-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/common/generate-lovelace-config.ts
  src/panels/lovelace/editor/config-elements/hui-thermostat-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-tile-card-features-editor.ts
  src/panels/lovelace/tile-features/hui-climate-hvac-modes-tile-feature.ts
  src/translations/en.json
Labels: cla-signed

#18711 Add new design to humidifier card
  src/dialogs/more-info/components/climate/ha-more-info-climate-humidity.ts
  src/dialogs/more-info/components/ha-more-info-control-circular-slider-style.ts
  src/dialogs/more-info/components/humidifier/ha-more-info-humidifier-humidity.ts
  src/panels/lovelace/cards/hui-humidifier-card.ts
  src/panels/lovelace/cards/hui-thermostat-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/common/generate-lovelace-config.ts
  src/panels/lovelace/create-element/create-tile-feature-element.ts
  src/panels/lovelace/editor/config-elements/hui-humidifier-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-tile-card-features-editor.ts
  src/panels/lovelace/tile-features/hui-humidifier-modes-tile-feature.ts
  src/panels/lovelace/tile-features/types.ts
Labels: cla-signed

#18746 Fix ha control select option size
  src/components/ha-control-select.ts
Labels: cla-signed

#18747 Remove card features for humidifier and climate on default dashboard
  src/panels/lovelace/common/generate-lovelace-config.ts
Labels: cla-signed

#18731 Make thermostat centered in panel or grid view
  src/panels/lovelace/cards/hui-humidifier-card.ts
  src/panels/lovelace/cards/hui-thermostat-card.ts
Labels: cla-signed

#18733 Fix card-picker search for single character
  src/panels/lovelace/editor/card-editor/hui-card-picker.ts
Labels: cla-signed

#18745 Move more info control component to state control
  src/components/ha-cover-controls.ts
  src/components/ha-cover-tilt-controls.ts
  src/data/lock.ts
  src/dialogs/more-info/components/more-info-control-style.ts
  src/dialogs/more-info/controls/more-info-alarm_control_panel.ts
  src/dialogs/more-info/controls/more-info-climate.ts
  src/dialogs/more-info/controls/more-info-cover.ts
  src/dialogs/more-info/controls/more-info-fan.ts
  src/dialogs/more-info/controls/more-info-group.ts
  src/dialogs/more-info/controls/more-info-humidifier.ts
  src/dialogs/more-info/controls/more-info-input_boolean.ts
  src/dialogs/more-info/controls/more-info-light.ts
  src/dialogs/more-info/controls/more-info-lock.ts
  src/dialogs/more-info/controls/more-info-siren.ts
  src/dialogs/more-info/controls/more-info-switch.ts
  src/dialogs/more-info/controls/more-info-water_heater.ts
  src/panels/lovelace/card-features/hui-alarm-modes-card-feature.ts
  src/panels/lovelace/card-features/hui-cover-open-close-card-feature.ts
  src/panels/lovelace/card-features/hui-cover-tilt-card-feature.ts
  src/panels/lovelace/card-features/hui-cover-tilt-position-card-feature.ts
  src/panels/lovelace/card-features/hui-fan-speed-card-feature.ts
  src/panels/lovelace/cards/hui-humidifier-card.ts
  src/panels/lovelace/cards/hui-thermostat-card.ts
  src/state-control/alarm_control_panel/ha-state-control-alarm_control_panel-modes.ts
  src/state-control/climate/ha-state-control-climate-humidity.ts
  src/state-control/climate/ha-state-control-climate-temperature.ts
  src/state-control/cover/ha-state-control-cover-buttons.ts
  src/state-control/cover/ha-state-control-cover-position.ts
  src/state-control/cover/ha-state-control-cover-tilt-position.ts
  src/state-control/cover/ha-state-control-cover-toggle.ts
  src/state-control/fan/ha-state-control-fan-speed.ts
  src/state-control/ha-state-control-toggle.ts
  src/state-control/humidifier/ha-state-control-humidifier-humidity.ts
  src/state-control/light/ha-state-control-light-brightness.ts
  src/state-control/lock/ha-state-control-lock-toggle.ts
  src/state-control/state-control-circular-slider-style.ts
  src/state-control/water_heater/ha-state-control-water_heater-temperature.ts
  src/translations/en.json
Labels: cla-signed

#18748 Improve search for single character
  hassio/src/components/hassio-filter-addons.ts
  src/panels/config/integrations/dialog-add-integration.ts
  src/panels/config/integrations/ha-config-integrations-dashboard.ts
  src/panels/lovelace/editor/card-editor/hui-card-picker.ts
Labels: cla-signed, Supervisor

#18565 Migrate push notification toggle from Polymer to Lit
  src/components/ha-push-notifications-toggle.ts
  src/panels/profile/ha-push-notifications-row.js
  src/panels/profile/ha-push-notifications-row.ts
Labels: cla-signed

#18719 Inject polyfills where used
  build-scripts/babel-plugins/custom-polyfill-plugin.js
  build-scripts/bundle.cjs
  package.json
  src/components/data-table/sort-filter-worker.ts
  src/entrypoints/app.ts
  src/entrypoints/core.ts
  src/html/_js_base.html.template
  src/html/index.html.template
  src/resources/compatibility.ts
  src/resources/markdown-worker.ts
  yarn.lock
Labels: cla-signed, Dependencies, Build

#18749 Fix thermostat humidifier card size
  src/panels/lovelace/cards/hui-humidifier-card.ts
  src/panels/lovelace/cards/hui-thermostat-card.ts
  src/state-control/state-control-circular-slider-style.ts
Labels: cla-signed

#18717 Add local login flow
  src/auth/ha-auth-flow.ts
  src/auth/ha-authorize.ts
  src/auth/ha-local-auth-flow.ts
  src/auth/ha-pick-auth-provider.ts
  src/components/user/ha-person-badge.ts
  src/data/auth.ts
  src/data/person.ts
Labels: cla-signed, wait for backend

#18718 Allow overriding blueprints
  src/data/blueprint.ts
  src/panels/config/blueprint/dialog-import-blueprint.ts
  src/translations/en.json
Labels: cla-signed, wait for backend

#18686 Add alert to zwave_js device info page for custom device config
  src/data/zwave_js.ts
  src/panels/config/devices/device-detail/integration-elements/zwave_js/device-alerts.ts
  src/translations/en.json
Labels: cla-signed

#18775 Fix race condition with Data Entry Flow Progress
  src/dialogs/config-flow/dialog-data-entry-flow.ts
Labels: cla-signed

#18763 Filter energy card updates with `shouldUpdate`
  src/panels/lovelace/cards/energy/hui-energy-carbon-consumed-gauge-card.ts
  src/panels/lovelace/cards/energy/hui-energy-compare-card.ts
  src/panels/lovelace/cards/energy/hui-energy-date-selection-card.ts
  src/panels/lovelace/cards/energy/hui-energy-devices-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-distribution-card.ts
  src/panels/lovelace/cards/energy/hui-energy-gas-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-grid-neutrality-gauge-card.ts
  src/panels/lovelace/cards/energy/hui-energy-self-sufficiency-gauge-card.ts
  src/panels/lovelace/cards/energy/hui-energy-solar-consumed-gauge-card.ts
  src/panels/lovelace/cards/energy/hui-energy-solar-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-sources-table-card.ts
  src/panels/lovelace/cards/energy/hui-energy-usage-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-water-graph-card.ts
Labels: cla-signed

#18750 Add custom card names to the edit card dialog header
  src/panels/lovelace/editor/card-editor/hui-dialog-edit-card.ts
Labels: cla-signed

#18773 Dont change pipeline if local storage changes
  src/dialogs/voice-command-dialog/ha-voice-command-dialog.ts
Labels: cla-signed

#18770 Update design of login page
  src/auth/ha-auth-flow.ts
  src/auth/ha-authorize.ts
  src/auth/ha-local-auth-flow.ts
  src/auth/ha-pick-auth-provider.ts
  src/data/auth.ts
  src/html/authorize.html.template
  src/translations/en.json
Labels: cla-signed

#18781 Log errors when downloading lokalise translations
  build-scripts/gulp/download-translations.js
Labels: cla-signed, Build

#18776 Use subscribe for todo items
  src/data/todo.ts
  src/panels/lovelace/cards/hui-todo-list-card.ts
Labels: cla-signed

#18785 Add multiple option to text selector
  src/components/ha-aliases-editor.ts
  src/components/ha-multi-textfield.ts
  src/components/ha-selector/ha-selector-text.ts
  src/data/selector.ts
  src/translations/en.json
Labels: cla-signed

#18790 missing disconnectedCallback in energy-period-selector
  src/panels/lovelace/components/hui-energy-period-selector.ts
Labels: cla-signed

#18788 Fix tile features colors
  src/panels/lovelace/card-features/hui-card-features.ts
  src/panels/lovelace/cards/hui-tile-card.ts
Labels: cla-signed

#18789 Fix humidifier more info
  src/dialogs/more-info/controls/more-info-humidifier.ts
Labels: cla-signed

#18256 Add a Grid/List toggle for Media Browser
  src/components/media-player/dialog-media-player-browse.ts
  src/components/media-player/ha-media-player-browse.ts
  src/data/media-player.ts
  src/panels/media-browser/ha-panel-media-browser.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed, Noteworthy

#18792 More disconnected callback errors
  src/onboarding/ha-onboarding.ts
  src/panels/config/voice-assistants/ha-config-voice-assistants.ts
  src/panels/media-browser/ha-bar-media-player.ts
Labels: cla-signed

#18791 Login page feedback
  src/auth/ha-auth-flow.ts
  src/auth/ha-authorize.ts
  src/auth/ha-local-auth-flow.ts
  src/onboarding/ha-onboarding.ts
Labels: cla-signed

#18794 Add missing Intl polyfills to modern build
  src/resources/intl-polyfill.ts
Labels: cla-signed

#18635 Avoid re-rendering map with "sources"
  src/panels/lovelace/cards/hui-map-card.ts
Labels: cla-signed

#18779 Add area filter selector for default dashboard
  src/components/ha-area-filter.ts
  src/components/ha-selector/ha-selector-area-filter.ts
  src/components/ha-selector/ha-selector.ts
  src/data/area_registry.ts
  src/data/selector.ts
  src/dialogs/area-filter/area-filter-dialog.ts
  src/dialogs/area-filter/show-area-filter-dialog.ts
  src/panels/lovelace/common/generate-lovelace-config.ts
  src/panels/lovelace/editor/dashboard-strategy-editor/hui-original-states-dashboard-strategy-editor.ts
  src/panels/lovelace/strategies/original-states-view-strategy.ts
  src/translations/en.json
Labels: cla-signed

#18213 Augment history panel with Long Term Statistics
  src/components/chart/state-history-chart-line.ts
  src/components/ha-date-range-picker.ts
  src/data/history.ts
  src/panels/history/ha-panel-history.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed, Noteworthy

#18765 Fix race condition with picture-elements card custom elements
  src/panels/lovelace/cards/hui-picture-elements-card.ts
Labels: cla-signed

#18799 Fix map autofit
  src/panels/lovelace/cards/hui-map-card.ts
Labels: cla-signed

#18777 Add import thread credentials to external bus
  src/external_app/external_messaging.ts
  src/panels/config/integrations/integration-panels/thread/thread-config-panel.ts
Labels: cla-signed

#18797 Refactor and cleanup entity config page
  src/panels/config/entities/ha-config-entities.ts
Labels: cla-signed

#18804 Refactor and cleanup device picker
  src/components/device/ha-area-devices-picker.ts
  src/components/device/ha-device-picker.ts
  src/components/ha-area-picker.ts
  src/data/device_registry.ts
Labels: cla-signed

#18801 Fix map auto-fit
  src/components/map/ha-map.ts
  src/panels/lovelace/cards/hui-map-card.ts
Labels: cla-signed

#18767 Default to `ltr` for reading direction
  src/components/ha-button-menu.ts
  src/components/ha-fab.ts
  src/components/ha-icon-button-arrow-next.ts
  src/components/ha-icon-button-arrow-prev.ts
  src/components/ha-icon-button-next.ts
  src/components/ha-icon-button-prev.ts
  src/components/ha-icon-next.ts
  src/components/ha-icon-prev.ts
  src/components/ha-textarea.ts
  src/components/ha-textfield.ts
Labels: cla-signed

#18803 Cleanup event listeners
  src/dialogs/notifications/notification-drawer.ts
  src/panels/config/application_credentials/ha-config-application-credentials.ts
  src/panels/config/voice-assistants/ha-config-voice-assistants-expose.ts
  src/panels/lovelace/ha-panel-lovelace.ts
Labels: cla-signed

#18795 Fix minifying templates from dependencies
  build-scripts/bundle.cjs
Labels: cla-signed, Build

#18107 Fix condition key function for template shorthand notation
  src/panels/config/automation/condition/ha-automation-condition.ts
  src/panels/config/automation/ha-automation-editor.ts
Labels: hacktoberfest, cla-signed

#18806 Lazy load language picker in auth and onboarding
  src/auth/ha-authorize.ts
  src/onboarding/ha-onboarding.ts
Labels: cla-signed

#18389 Dev tools events layout
  src/panels/developer-tools/event/developer-tools-event.ts
  src/panels/developer-tools/event/event-subscribe-card.ts
Labels: hacktoberfest, cla-signed

#18627 Add Option For Kelvin Unit To Color Temperature Selector
  src/components/ha-selector/ha-selector-color-temp.ts
  src/data/selector.ts
Labels: cla-signed

#18807 Add re-import blueprint
  src/components/ha-icon-overflow-menu.ts
  src/panels/config/blueprint/ha-blueprint-overview.ts
  src/translations/en.json
Labels: cla-signed

#18786 Add translation support for script errors
  src/panels/developer-tools/service/developer-tools-service.ts
Labels: cla-signed, backend merged

#18778 Fix has changed for when `hass` is not changed
  src/panels/lovelace/common/has-changed.ts
Labels: cla-signed

#18808 Typo fixes: "url" -> "URL" in blueprint
  src/translations/en.json
Labels: cla-signed

#18421 ha-selector-selector implementation
  src/components/ha-selector/ha-selector-area.ts
  src/components/ha-selector/ha-selector-device.ts
  src/components/ha-selector/ha-selector-entity.ts
  src/components/ha-selector/ha-selector-selector.ts
  src/components/ha-selector/ha-selector.ts
  src/data/selector.ts
  src/panels/config/script/ha-script-field-row.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#18810 Fix non-hass shouldUpdate regressions
  src/panels/lovelace/cards/hui-history-graph-card.ts
  src/panels/lovelace/cards/hui-media-control-card.ts
  src/panels/lovelace/cards/hui-statistics-graph-card.ts
  src/panels/lovelace/cards/hui-weather-forecast-card.ts
  src/panels/lovelace/entity-rows/hui-media-player-entity-row.ts
  src/panels/lovelace/entity-rows/hui-weather-entity-row.ts
Labels: cla-signed

#18811 20231129.1
  pyproject.toml
  src/panels/lovelace/cards/hui-history-graph-card.ts
  src/panels/lovelace/cards/hui-media-control-card.ts
  src/panels/lovelace/cards/hui-statistics-graph-card.ts
  src/panels/lovelace/cards/hui-weather-forecast-card.ts
  src/panels/lovelace/entity-rows/hui-media-player-entity-row.ts
  src/panels/lovelace/entity-rows/hui-weather-entity-row.ts
Labels: cla-signed

#18812 Guard for no person for user
  src/auth/ha-local-auth-flow.ts
  src/components/user/ha-person-badge.ts
  src/data/person.ts
Labels: cla-signed

#18813 Cleanup iron resize event
  src/components/ha-faded.ts
  src/components/ha-markdown-element.ts
  src/dialogs/more-info/controls/more-info-climate.ts
  src/dialogs/more-info/controls/more-info-humidifier.ts
  src/panels/lovelace/editor/view-editor/hui-view-visibility-editor.ts
  src/panels/lovelace/hui-root.ts
  src/panels/lovelace/views/hui-masonry-view.ts
  src/types.ts
Labels: cla-signed

#18830 Fix map dark mode
  src/components/map/ha-map.ts
Labels: cla-signed

#18832 Fix dashboard crashed when deleting hidden area
  src/data/area_registry.ts
  src/panels/lovelace/common/generate-lovelace-config.ts
Labels: cla-signed

#18827 Fix developer tools set state for unexisting entity
  src/panels/developer-tools/state/developer-tools-state.ts
Labels: cla-signed

#18833 Update size of icon on launch screen
  src/html/index.html.template
Labels: cla-signed

#18825 Ensure helper type is always localized
  src/panels/config/helpers/ha-config-helpers.ts
Labels: cla-signed

#18841 Group history by device class
  src/components/chart/state-history-charts.ts
  src/data/history.ts
  src/panels/history/ha-panel-history.ts
Labels: cla-signed

#18842 Prevent double quick action
  src/state/quick-bar-mixin.ts
Labels: cla-signed

#18843 20231130.0
  package.json
  pyproject.toml
  src/auth/ha-auth-flow.ts
  src/auth/ha-authorize.ts
  src/auth/ha-local-auth-flow.ts
  src/components/chart/state-history-charts.ts
  src/components/ha-faded.ts
  src/components/ha-markdown-element.ts
  src/components/map/ha-map.ts
  src/components/user/ha-person-badge.ts
  src/data/area_registry.ts
  src/data/auth.ts
  src/data/history.ts
  src/data/person.ts
  src/dialogs/area-filter/area-filter-dialog.ts
  src/dialogs/more-info/controls/more-info-climate.ts
  src/dialogs/more-info/controls/more-info-humidifier.ts
  src/html/index.html.template
  src/panels/config/helpers/ha-config-helpers.ts
  src/panels/developer-tools/state/developer-tools-state.ts
  src/panels/history/ha-panel-history.ts
  src/panels/lovelace/card-features/hui-numeric-input-card-feature.ts
  src/panels/lovelace/card-features/types.ts
  src/panels/lovelace/cards/hui-tile-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/common/generate-lovelace-config.ts
  src/panels/lovelace/create-element/create-card-feature-element.ts
  src/panels/lovelace/editor/config-elements/hui-card-features-editor.ts
  src/panels/lovelace/editor/config-elements/hui-numeric-input-card-feature-editor.ts
  src/panels/lovelace/editor/view-editor/hui-view-visibility-editor.ts
  src/panels/lovelace/hui-root.ts
  src/panels/lovelace/views/hui-masonry-view.ts
  src/state/quick-bar-mixin.ts
  src/translations/en.json
  src/types.ts
  yarn.lock
Labels: cla-signed
