Repository home-assistant/frontend, pull requests merged in 2023-10, with the labels that each got.

#18078 Fix clicking on radio buttons (and improve code)
  src/components/ha-formfield.ts
Labels: cla-signed

#18077 Factor out style data to reduce bundle size
  src/common/dom/apply_themes_on_element.ts
  src/resources/ha-style.ts
  src/resources/styles-data.ts
  src/resources/styles.ts
Labels: cla-signed

#18094 Prevent ha-form data lost if quick data updates
  src/components/ha-form/ha-form.ts
Labels: hacktoberfest, cla-signed

#18098 Dont continue debug assist run when disconnected
  src/panels/config/voice-assistants/debug/assist-pipeline-run-debug.ts
Labels: hacktoberfest, cla-signed

#18095 Only set wakeword when not in new wakewords
  src/panels/config/voice-assistants/assist-pipeline-detail/assist-pipeline-detail-wakeword.ts
Labels: hacktoberfest, cla-signed

#18097 Ignore prettier styling for tooltip of disk life time
  src/panels/config/storage/ha-config-section-storage.ts
Labels: hacktoberfest, cla-signed

#18063 Change Urdu language to RTL
  src/translations/translationMetadata.json
Labels: cla-signed

#18102 20231002.0
  .github/workflows/release.yaml
  package.json
  pyproject.toml
  src/common/dom/apply_themes_on_element.ts
  src/components/ha-form/ha-form.ts
  src/components/ha-formfield.ts
  src/onboarding/onboarding-integrations.ts
  src/panels/config/storage/ha-config-section-storage.ts
  src/panels/config/voice-assistants/assist-pipeline-detail/assist-pipeline-detail-wakeword.ts
  src/panels/config/voice-assistants/debug/assist-pipeline-run-debug.ts
  src/resources/ha-style.ts
  src/resources/styles-data.ts
  src/resources/styles.ts
  src/translations/translationMetadata.json
  yarn.lock
Labels: hacktoberfest, cla-signed, Dependencies, GitHub Actions

#18087 Make the "icon next/prev" series load faster
  src/components/ha-icon-button-arrow-next.ts
  src/components/ha-icon-button-arrow-prev.ts
  src/components/ha-icon-button-next.ts
  src/components/ha-icon-button-prev.ts
  src/components/ha-icon-next.ts
  src/components/ha-icon-prev.ts
Labels: hacktoberfest, cla-signed

#18068 Preserve ancillary fields in a repeat action when modifying the form
  src/panels/config/automation/action/types/ha-automation-action-repeat.ts
Labels: cla-signed

#18114 Do not clear alias when editing automation action, condition or trigger
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/action/types/ha-automation-action-activate_scene.ts
  src/panels/config/automation/action/types/ha-automation-action-play_media.ts
  src/panels/config/automation/condition/ha-automation-condition-editor.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
Labels: hacktoberfest, cla-signed

#18113 Use restart dialog confirmation for quick command
  src/dialogs/quick-bar/ha-quick-bar.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#18112 Add translations for restore backup dialogs
  hassio/src/backups/hassio-backups.ts
  hassio/src/dialogs/backup/dialog-hassio-backup.ts
  hassio/src/dialogs/backup/dialog-hassio-create-backup.ts
  hassio/src/util/translations.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed, Supervisor

#18103 Hide tooltip after clicking on a chart to display more info (cosmetic change)
  src/components/chart/state-history-chart-line.ts
  src/components/chart/state-history-chart-timeline.ts
  src/panels/lovelace/cards/energy/hui-energy-devices-graph-card.ts
Labels: hacktoberfest, cla-signed

#18121 fix setting wake word to first option everytime
  src/panels/config/voice-assistants/assist-pipeline-detail/assist-pipeline-detail-wakeword.ts
Labels: hacktoberfest, cla-signed

#18118 Fix class field for ha-icon-next/prev
  src/components/ha-icon-next.ts
  src/components/ha-icon-prev.ts
Labels: hacktoberfest, cla-signed

#18124 Set border-radius to 0 for img in thread panel
  src/panels/config/integrations/integration-panels/thread/thread-config-panel.ts
Labels: hacktoberfest, cla-signed

#18126 20231005.0
  hassio/src/backups/hassio-backups.ts
  hassio/src/dialogs/backup/dialog-hassio-backup.ts
  hassio/src/dialogs/backup/dialog-hassio-create-backup.ts
  hassio/src/util/translations.ts
  package.json
  pyproject.toml
  src/components/chart/state-history-chart-line.ts
  src/components/chart/state-history-chart-timeline.ts
  src/components/ha-icon-button-arrow-next.ts
  src/components/ha-icon-button-arrow-prev.ts
  src/components/ha-icon-button-next.ts
  src/components/ha-icon-button-prev.ts
  src/components/ha-icon-next.ts
  src/components/ha-icon-prev.ts
  src/components/ha-outlined-icon-button.ts
  src/dialogs/more-info/components/ha-more-info-control-circular-slider-style.ts
  src/dialogs/quick-bar/ha-quick-bar.ts
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/action/types/ha-automation-action-activate_scene.ts
  src/panels/config/automation/action/types/ha-automation-action-play_media.ts
  src/panels/config/automation/action/types/ha-automation-action-repeat.ts
  src/panels/config/automation/condition/ha-automation-condition-editor.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/panels/config/integrations/integration-panels/thread/thread-config-panel.ts
  src/panels/config/voice-assistants/assist-pipeline-detail/assist-pipeline-detail-wakeword.ts
  src/panels/lovelace/cards/energy/hui-energy-devices-graph-card.ts
  src/resources/locale-data-polyfill.ts
  src/translations/en.json
  yarn.lock
Labels: hacktoberfest, cla-signed, Supervisor, Dependencies

#17740 Expose history replace in action editor
  src/data/lovelace.ts
  src/panels/lovelace/common/handle-action.ts
  src/panels/lovelace/components/hui-action-editor.ts
  src/panels/lovelace/editor/structs/action-struct.ts
Labels: cla-signed, WTH

#17843 Add translations for voice assistant debug page
  src/panels/config/voice-assistants/debug/assist-pipeline-debug.ts
  src/translations/en.json
Labels: cla-signed

#18138 Change help link in statistics pickers in energy dashboard
  src/components/entity/ha-statistic-picker.ts
  src/data/energy.ts
  src/panels/config/energy/dialogs/dialog-energy-battery-settings.ts
  src/panels/config/energy/dialogs/dialog-energy-device-settings.ts
  src/panels/config/energy/dialogs/dialog-energy-gas-settings.ts
  src/panels/config/energy/dialogs/dialog-energy-grid-flow-settings.ts
  src/panels/config/energy/dialogs/dialog-energy-solar-settings.ts
  src/panels/config/energy/dialogs/dialog-energy-water-settings.ts
Labels: hacktoberfest, cla-signed

#17649 more-info: make long states "multilined"
  src/components/entity/state-info.ts
  src/state-summary/state-card-display.ts
Labels: cla-signed

#17826 Add per-set theme coloring to remainder of energy dashboard
  src/panels/lovelace/cards/energy/hui-energy-gas-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-solar-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-sources-table-card.ts
  src/panels/lovelace/cards/energy/hui-energy-water-graph-card.ts
Labels: cla-signed

#17608 Update developer-tools-state.js: fix alignment for ha-tips
  src/panels/developer-tools/state/developer-tools-state.js
Labels: cla-signed

#18066 Update state-badge.ts: change border-radius for media_player
  src/components/entity/state-badge.ts
Labels: cla-signed

#18047 Make it possible to clear an optional select
  src/components/ha-select.ts
  src/components/ha-selector/ha-selector-select.ts
Labels: cla-signed

#18142 Move polyfill time zone data out of bundles
  build-scripts/gulp/locale-data.js
  src/resources/intl-polyfill.ts
  src/resources/locale-data-polyfill.ts
Labels: hacktoberfest, cla-signed, Build

#18101 Replace paper-items in Scene Editor
  src/panels/config/scene/ha-scene-editor.ts
Labels: hacktoberfest, cla-signed

#18137 Remove test language from production (really)
  build-scripts/gulp/translations.js
Labels: hacktoberfest, cla-signed, Build

#18041 Add screen condition to conditional card.
  src/common/array/combinations.ts
  src/panels/lovelace/common/icon-condition.ts
  src/panels/lovelace/common/validate-condition.ts
  src/panels/lovelace/components/hui-conditional-base.ts
  src/panels/lovelace/editor/conditions/ha-card-condition-editor.ts
  src/panels/lovelace/editor/conditions/types.ts
  src/panels/lovelace/editor/conditions/types/ha-card-condition-screen.ts
  src/panels/lovelace/editor/conditions/types/ha-card-condition-state.ts
  src/panels/lovelace/editor/config-elements/hui-conditional-card-editor.ts
  src/translations/en.json
Labels: cla-signed

#18067 Localize durations using Intl.NumberFormat
  src/common/datetime/format_duration.ts
  src/data/automation_i18n.ts
  src/data/script_i18n.ts
  src/panels/mailbox/ha-panel-mailbox.ts
  src/translations/en.json
Labels: cla-signed

#18109 Separate outline color
  src/components/ha-expansion-panel.ts
  src/components/ha-outlined-button.ts
  src/resources/ha-style.ts
  src/resources/styles-data.ts
Labels: hacktoberfest, cla-signed

#18176 Improve password show/hide buttons
  src/auth/ha-auth-form-string.ts
  src/components/ha-form/ha-form-string.ts
  src/components/ha-selector/ha-selector-text.ts
Labels: hacktoberfest, cla-signed

#18187 Fix user name in config page
  src/panels/config/users/ha-config-users.ts
Labels: hacktoberfest, cla-signed

#18143 Tile card current temperature for climate entity
  src/panels/lovelace/cards/hui-tile-card.ts
Labels: hacktoberfest, cla-signed, Tile card

#18169 Update url on tab reorder
  src/panels/lovelace/hui-root.ts
Labels: hacktoberfest, cla-signed

#18190 Move select clearing to ha-select
  src/components/ha-select.ts
  src/components/ha-selector/ha-selector-select.ts
  src/panels/config/entities/entity-registry-settings-editor.ts
Labels: hacktoberfest, cla-signed

#18182 Use progress button when adding/updating mount
  src/components/buttons/ha-progress-button.ts
  src/panels/config/storage/dialog-mount-view.ts
Labels: hacktoberfest, cla-signed

#18178 Create webpack bundle stats for Relative CI
  .github/workflows/ci.yaml
  .github/workflows/nightly.yaml
  .github/workflows/relative-ci.yaml
  build-scripts/bundle.cjs
  build-scripts/webpack.cjs
  package.json
  yarn.lock
Labels: hacktoberfest, cla-signed, Dependencies, GitHub Actions, Build

#18064 Allow Multiple Entities for Numeric State Trigger
  src/data/automation.ts
  src/data/automation_i18n.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-numeric_state.ts
  src/translations/en.json
Labels: cla-signed

#18194 Fix RelativeCI format issues
  .github/workflows/relative-ci.yaml
Labels: hacktoberfest, cla-signed, GitHub Actions

#18196 Fix RelativeCI input issues
  .github/workflows/relative-ci.yaml
Labels: hacktoberfest, cla-signed, GitHub Actions

#18197 Update relative-ci.yaml
  .github/workflows/relative-ci.yaml
Labels: hacktoberfest, cla-signed, GitHub Actions

#18181 Voice assistant dev: fix wake word continue
  src/panels/config/voice-assistants/debug/assist-pipeline-run-debug.ts
Labels: hacktoberfest, cla-signed

#18207 Improve state and name display on state-card-display
  src/components/entity/state-info.ts
  src/state-summary/state-card-display.ts
Labels: hacktoberfest, cla-signed

#18221 Fix lokalise translation upload
  script/translations_upload_base
Labels: hacktoberfest, cla-signed

#18201 Remove narrow from strategies
  cast/src/receiver/layout/hc-main.ts
  src/panels/lovelace/editor/hui-dialog-save-config.ts
  src/panels/lovelace/ha-panel-lovelace.ts
  src/panels/lovelace/strategies/get-strategy.ts
  src/panels/lovelace/strategies/legacy-strategy.ts
  src/panels/lovelace/strategies/original-states-dashboard-strategy.ts
  src/panels/lovelace/strategies/original-states-view-strategy.ts
  src/panels/lovelace/strategies/types.ts
  src/panels/lovelace/views/hui-view.ts
Labels: hacktoberfest, cla-signed, Cast

#18249 Remove SystemJS loader from Webpack builds
  build-scripts/gulp/gather-static.js
Labels: hacktoberfest, cla-signed, Build

#18168 Replace polymer paper-slider
  demo/src/configs/jimpower/theme.ts
  demo/src/configs/kernehed/theme.ts
  demo/src/configs/teachingbirds/theme.ts
  gallery/src/pages/components/ha-control-circular-slider.ts
  gallery/src/pages/components/ha-hs-color-picker.ts
  package.json
  src/components/ha-form/ha-form-integer.ts
  src/components/ha-labeled-slider.js
  src/components/ha-labeled-slider.ts
  src/components/ha-selector/ha-selector-color-temp.ts
  src/components/ha-selector/ha-selector-number.ts
  src/components/ha-slider.js
  src/components/ha-slider.ts
  src/dialogs/more-info/components/lights/light-color-rgb-picker.ts
  src/dialogs/more-info/controls/more-info-media_player.ts
  src/panels/lovelace/entity-rows/hui-input-number-entity-row.ts
  src/panels/lovelace/entity-rows/hui-media-player-entity-row.ts
  src/panels/lovelace/entity-rows/hui-number-entity-row.ts
  src/panels/media-browser/ha-bar-media-player.ts
  src/resources/ha-style.ts
  src/resources/styles-data.ts
  src/state-summary/state-card-input_number.ts
  src/state-summary/state-card-number.js
  yarn.lock
Labels: hacktoberfest, cla-signed, Dependencies, Demo, Design

#18183 An alias editor and overflow menu for choose options
  src/panels/config/automation/action/types/ha-automation-action-choose.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#18134 Migrate developer state tools to LitElement
  src/panels/developer-tools/state/developer-tools-state.js
  src/panels/developer-tools/state/developer-tools-state.ts
Labels: hacktoberfest, cla-signed

#18248 Enable CORS for legacy bundle loading
  build-scripts/webpack.cjs
  src/html/_js_base.html.template
Labels: hacktoberfest, cla-signed, Build

#18263 Fixes alarm dialog inputmode for code input
  src/dialogs/enter-code/dialog-enter-code.ts
Labels: hacktoberfest, cla-signed

#18271 Fix "No visual editor support for action: "
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#18283 Fix yarn lock file
  yarn.lock
Labels: hacktoberfest, cla-signed, Dependencies

#18189 Add multi-path icon support and path attributes
  src/components/ha-icon.ts
  src/components/ha-svg-icon.ts
  src/data/custom_icons.ts
Labels: hacktoberfest, cla-signed

#18278 Load and set Polymer settings asynchronously
  hassio/src/entrypoint.ts
  src/entrypoints/app.ts
  src/entrypoints/authorize.ts
  src/entrypoints/custom-panel.ts
  src/entrypoints/onboarding.ts
Labels: hacktoberfest, cla-signed, Supervisor

#18282 Remove unused imports from ZHA card and alias editor
  src/components/ha-aliases-editor.ts
  src/panels/config/integrations/integration-panels/zha/zha-device-pairing-status-card.ts
Labels: hacktoberfest, cla-signed

#18071 Fix some minor inconsistencies/duplications
  src/html/_style_base.html.template
  src/html/index.html.template
Labels: cla-signed

#18290 Wrap dict attributes
  src/components/ha-attribute-value.ts
Labels: hacktoberfest, cla-signed

#18296 Fix initial theming
  src/common/dom/apply_themes_on_element.ts
  src/state/themes-mixin.ts
Labels: hacktoberfest, cla-signed

#18312 Don't round statistic values before plotting
  src/components/chart/statistics-chart.ts
Labels: hacktoberfest, cla-signed

#18274 Fix missing range labels in date-range-picker
  src/components/ha-date-range-picker.ts
Labels: hacktoberfest, cla-signed

#18313 Only calculate opening direction when we are opening the datepicker
  src/components/ha-date-range-picker.ts
Labels: hacktoberfest, cla-signed

#18332 Fix double load of lovelace resources
  src/panels/lovelace/ha-panel-lovelace.ts
Labels: hacktoberfest, cla-signed

#18306 Fix oscillating handler in more info fan card (#18305)
  src/dialogs/more-info/controls/more-info-fan.ts
Labels: hacktoberfest, cla-signed

#18336 Remove ondemand methods for CodeMirror and SortableJS
  src/components/ha-code-editor.ts
  src/components/ha-sidebar.ts
  src/dialogs/more-info/components/lights/ha-more-info-light-favorite-colors.ts
  src/panels/config/automation/action/ha-automation-action.ts
  src/panels/config/automation/action/types/ha-automation-action-choose.ts
  src/panels/config/automation/condition/ha-automation-condition.ts
  src/panels/config/automation/trigger/ha-automation-trigger.ts
  src/panels/config/helpers/forms/ha-input_select-form.ts
  src/panels/lovelace/cards/hui-shopping-list-card.ts
  src/panels/lovelace/components/hui-entity-editor.ts
  src/panels/lovelace/editor/config-elements/hui-tile-card-features-editor.ts
  src/panels/lovelace/editor/hui-entities-card-row-editor.ts
  src/resources/codemirror.ondemand.ts
  src/resources/sortable.ondemand.ts
Labels: hacktoberfest, cla-signed

#18297 Fix inconsistencies in `slugify` between frontend and core implementation
  src/common/string/slugify.ts
  test/common/string/slugify.ts
Labels: hacktoberfest, cla-signed

#18272 Improve warning messages in conditional card
  src/common/structs/handle-errors.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/common/validate-condition.ts
  src/panels/lovelace/components/hui-conditional-base.ts
  src/panels/lovelace/editor/conditions/ha-card-condition-editor.ts
  src/panels/lovelace/editor/conditions/types.ts
  src/panels/lovelace/editor/conditions/types/ha-card-condition-screen.ts
  src/panels/lovelace/editor/conditions/types/ha-card-condition-state.ts
  src/panels/lovelace/editor/config-elements/hui-conditional-card-editor.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#18099 Use sensor device class for graph and precision
  src/data/history.ts
  src/data/sensor.ts
  src/dialogs/more-info/ha-more-info-history.ts
  src/panels/config/entities/entity-registry-settings-editor.ts
  src/panels/history/ha-panel-history.ts
  src/panels/lovelace/cards/hui-history-graph-card.ts
Labels: hacktoberfest, cla-signed, backend merged

#18340 Move condition editor into its own file
  src/panels/lovelace/editor/conditions/ha-card-condition-editor.ts
  src/panels/lovelace/editor/conditions/ha-card-conditions-editor.ts
  src/panels/lovelace/editor/conditions/types/ha-card-condition-screen.ts
  src/panels/lovelace/editor/conditions/types/ha-card-condition-state.ts
  src/panels/lovelace/editor/config-elements/hui-conditional-card-editor.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#18273 Allow multiple states in conditional card
  src/panels/lovelace/common/validate-condition.ts
  src/panels/lovelace/editor/conditions/types/ha-card-condition-state.ts
Labels: hacktoberfest, cla-signed

#18334 Update statistics chart to respect entity display precision, fix precision bug in history chart
  src/components/chart/state-history-chart-line.ts
  src/components/chart/statistics-chart.ts
Labels: hacktoberfest, cla-signed

#18288 Add numeric state condition for conditional card
  src/panels/lovelace/common/icon-condition.ts
  src/panels/lovelace/common/validate-condition.ts
  src/panels/lovelace/editor/conditions/ha-card-conditions-editor.ts
  src/panels/lovelace/editor/conditions/types/ha-card-condition-numeric_state.ts
  src/panels/lovelace/editor/conditions/types/ha-card-condition-state.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#18289 Add support for todo component
  demo/src/configs/arsaboo/entities.ts
  demo/src/configs/jimpower/entities.ts
  demo/src/configs/kernehed/entities.ts
  demo/src/configs/teachingbirds/entities.ts
  demo/src/ha-demo.ts
  demo/src/stubs/shopping_list.ts
  demo/src/stubs/todo.ts
  gallery/src/pages/lovelace/shopping-list-card.ts
  src/common/const.ts
  src/components/ha-sidebar.ts
  src/data/shopping-list.ts
  src/data/todo.ts
  src/fake_data/demo_config.ts
  src/layouts/partial-panel-resolver.ts
  src/panels/lovelace/cards/hui-shopping-list-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/editor/config-elements/hui-shopping-list-editor.ts
  src/panels/shopping-list/ha-panel-shopping-list.ts
  src/panels/todo/ha-panel-todo.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed, Demo, Design

#18373 Rename status code string for To-do List NEEDS-ACTION status
  src/data/todo.ts
Labels: hacktoberfest, cla-signed

#18180 Add support for state content customization in tile card
  src/components/ha-selector/ha-selector-select.ts
  src/data/entity_attributes.ts
  src/data/selector.ts
  src/panels/lovelace/cards/hui-tile-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/editor/config-elements/hui-tile-card-editor.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed, Noteworthy, Tile card

#18371 Fix complex attribute display in devtools
  src/panels/developer-tools/state/developer-tools-state.ts
Labels: hacktoberfest, cla-signed

#18368 Add bottom padding to code editor
  src/resources/codemirror.ts
Labels: hacktoberfest, cla-signed

#18376 Convert shopping list card editor to ha-form
  src/common/const.ts
  src/panels/lovelace/common/generate-lovelace-config.ts
  src/panels/lovelace/editor/config-elements/hui-shopping-list-editor.ts
Labels: hacktoberfest, cla-signed

#18379 Performance tweaks in energy dashboard
  src/panels/energy/ha-panel-energy.ts
  src/panels/lovelace/components/hui-energy-period-selector.ts
  src/panels/map/ha-panel-map.ts
Labels: hacktoberfest, cla-signed

#18377 Add button to create local calendar in calendar panel
  src/panels/calendar/ha-panel-calendar.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#18381 Add resize observer to full calendar, fix missing styles
  src/panels/calendar/ha-full-calendar.ts
  src/panels/config/helpers/forms/ha-schedule-form.ts
  src/panels/lovelace/cards/hui-calendar-card.ts
Labels: hacktoberfest, cla-signed

#18384 Subscribe to the issue registry as early as possible
  src/entrypoints/core.ts
Labels: hacktoberfest, cla-signed

#18378 Rename shopping-list-card to todo-list-card
  demo/src/configs/teachingbirds/lovelace.ts
  gallery/src/pages/lovelace/shopping-list-card.markdown
  gallery/src/pages/lovelace/todo-list-card.markdown
  gallery/src/pages/lovelace/todo-list-card.ts
  src/panels/lovelace/cards/hui-shopping-list-card.ts
  src/panels/lovelace/cards/hui-todo-list-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/create-element/create-card-element.ts
  src/panels/lovelace/editor/config-elements/hui-todo-list-editor.ts
  src/panels/lovelace/editor/lovelace-cards.ts
  src/panels/todo/ha-panel-todo.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed, Demo, Design

#18383 Redesign about page
  src/panels/config/info/ha-config-info.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#18375 Add restart in safe mode in restart dialog
  src/dialogs/restart/dialog-restart.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed, Noteworthy

#18382 Disable dashboard resources in safe mode
  cast/src/receiver/layout/hc-main.ts
  package.json
  src/fake_data/demo_config.ts
  src/panels/config/lovelace/resources/ha-config-lovelace-resources.ts
  src/panels/lovelace/common/load-resources.ts
  src/panels/lovelace/ha-panel-lovelace.ts
  yarn.lock
Labels: hacktoberfest, cla-signed, Cast, Dependencies, Demo, Design

#18329 Chart updates to improve stability, possible fix for infinite loop
  src/components/chart/ha-chart-base.ts
  src/components/chart/state-history-charts.ts
Labels: hacktoberfest, cla-signed

#18388 Fixes for todo card
  src/data/todo.ts
  src/panels/lovelace/cards/hui-todo-list-card.ts
  src/panels/todo/ha-panel-todo.ts
Labels: hacktoberfest, cla-signed

#18216 Add Z-Wave controller hard reset device action (certification req)
  src/data/zwave_js.ts
  src/panels/config/devices/device-detail/integration-elements/zwave_js/device-actions.ts
  src/panels/config/integrations/integration-panels/zwave_js/dialog-zwave_js-hard-reset-controller.ts
  src/panels/config/integrations/integration-panels/zwave_js/show-dialog-zwave_js-hard-reset-controller.ts
  src/panels/config/integrations/integration-panels/zwave_js/show-dialog-zwave_js-update-firmware-node.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#18385 Restart dialog description: consistently use indicative form
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#18380 Use expansion panel for dashboard conditions
  src/panels/lovelace/editor/conditions/ha-card-condition-editor.ts
  src/panels/lovelace/editor/conditions/ha-card-conditions-editor.ts
Labels: hacktoberfest, cla-signed

#18390 Fix a crash in trace graph generation for if/else
  src/components/trace/hat-script-graph.ts
Labels: hacktoberfest, cla-signed

#18386 Add serial number to the device info card
  gallery/src/pages/components/ha-form.ts
  gallery/src/pages/components/ha-selector.ts
  gallery/src/pages/misc/integration-card.ts
  src/data/device_registry.ts
  src/panels/config/devices/device-detail/ha-device-info-card.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed, Design

#18250 Add Fields to Script UI
  src/components/ha-selector/ha-selector-date.ts
  src/components/ha-selector/ha-selector-datetime.ts
  src/components/ha-selector/ha-selector-number.ts
  src/components/ha-selector/ha-selector-time.ts
  src/data/script.ts
  src/panels/config/script/ha-script-editor.ts
  src/panels/config/script/ha-script-field-row.ts
  src/panels/config/script/ha-script-fields.ts
  src/panels/config/script/manual-script-editor.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed, WTH, Noteworthy

#17840 Cache brand images
  src/components/entity/state-badge.ts
  src/components/ha-config-entry-picker.ts
  src/components/ha-related-items.ts
  src/entrypoints/service_worker.ts
  src/onboarding/integration-badge.ts
  src/panels/config/dashboard/ha-config-updates.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/panels/config/energy/components/ha-energy-grid-settings.ts
  src/panels/config/energy/dialogs/dialog-energy-solar-settings.ts
  src/panels/config/hardware/ha-config-hardware.ts
  src/panels/config/helpers/dialog-helper-detail.ts
  src/panels/config/integrations/ha-config-integration-page.ts
  src/panels/config/integrations/ha-domain-integrations.ts
  src/panels/config/integrations/ha-integration-action-card.ts
  src/panels/config/integrations/ha-integration-header.ts
  src/panels/config/integrations/ha-integration-list-item.ts
  src/panels/config/integrations/integration-panels/thread/thread-config-panel.ts
  src/panels/config/repairs/ha-config-repairs.ts
  src/panels/config/repairs/integrations-startup-time.ts
  src/panels/config/voice-assistants/assist-pref.ts
  src/panels/config/voice-assistants/cloud-alexa-pref.ts
  src/panels/config/voice-assistants/cloud-discover.ts
  src/panels/config/voice-assistants/cloud-google-pref.ts
  src/panels/config/voice-assistants/entity-voice-settings.ts
  src/panels/config/voice-assistants/expose/expose-assistant-icon.ts
Labels: cla-signed

#18387 Add create todo list button
  src/panels/todo/ha-panel-todo.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed, wait for backend

#18394 fix height issue calendar, make default on mobile list
  src/panels/calendar/ha-full-calendar.ts
  src/panels/calendar/ha-panel-calendar.ts
  src/panels/lovelace/cards/hui-calendar-card.ts
Labels: hacktoberfest, cla-signed

#18392 Add mac and bluetooth address to the device info card
  src/panels/config/devices/device-detail/ha-device-info-card.ts
Labels: hacktoberfest, cla-signed

#18397 Fix state not condition for condition card
  src/panels/lovelace/common/validate-condition.ts
Labels: hacktoberfest, cla-signed

#18396 Update todo list card
  src/components/ha-two-pane-top-app-bar-fixed.ts
  src/panels/lovelace/cards/hui-todo-list-card.ts
Labels: hacktoberfest, cla-signed

#18399 20231025.1
  pyproject.toml
  src/components/ha-two-pane-top-app-bar-fixed.ts
  src/panels/lovelace/cards/hui-todo-list-card.ts
  src/panels/lovelace/common/validate-condition.ts
Labels: hacktoberfest, cla-signed

#18401 Fix schedule form rendering after disconnect
  src/panels/config/helpers/forms/ha-schedule-form.ts
Labels: hacktoberfest, cla-signed

#18403 Allow any number in above and below numeric condition
  src/panels/lovelace/editor/conditions/types/ha-card-condition-numeric_state.ts
Labels: hacktoberfest, cla-signed

#18404 Fix an undefined exception in more-info popup for history graph
  src/components/chart/state-history-charts.ts
Labels: hacktoberfest, cla-signed

#18408 Hide reveal icon on edge for text-field
  src/components/ha-textfield.ts
Labels: hacktoberfest, cla-signed

#18407 Compress service worker
  build-scripts/gulp/app.js
Labels: hacktoberfest, cla-signed, Build

#18412 Speed up first load by preloading recorder info
  src/data/lovelace.ts
  src/data/preloads.ts
  src/data/recorder.ts
  src/entrypoints/core.ts
  src/layouts/home-assistant.ts
  src/panels/lovelace/ha-panel-lovelace.ts
Labels: hacktoberfest, cla-signed

#18428 Add translations to tile state content options
  src/panels/lovelace/editor/config-elements/hui-tile-card-editor.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#18427 Reduce slider handle size
  src/components/ha-slider.ts
Labels: hacktoberfest, cla-signed

#18410 Change move item todo API
  src/data/todo.ts
  src/panels/lovelace/cards/hui-todo-list-card.ts
  src/panels/todo/ha-panel-todo.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#18430 Quick fix for lovelace resources not loaded
  src/panels/lovelace/common/load-resources.ts
  src/panels/lovelace/ha-panel-lovelace.ts
Labels: hacktoberfest, cla-signed

#18431 20231026.0
  build-scripts/gulp/app.js
  pyproject.toml
  src/components/chart/state-history-charts.ts
  src/components/ha-slider.ts
  src/components/ha-textfield.ts
  src/data/lovelace.ts
  src/data/preloads.ts
  src/data/recorder.ts
  src/data/todo.ts
  src/entrypoints/core.ts
  src/layouts/home-assistant.ts
  src/panels/config/helpers/forms/ha-schedule-form.ts
  src/panels/lovelace/cards/hui-todo-list-card.ts
  src/panels/lovelace/common/load-resources.ts
  src/panels/lovelace/editor/conditions/types/ha-card-condition-numeric_state.ts
  src/panels/lovelace/editor/config-elements/hui-tile-card-editor.ts
  src/panels/lovelace/ha-panel-lovelace.ts
  src/panels/media-browser/ha-bar-media-player.ts
  src/panels/media-browser/ha-panel-media-browser.ts
  src/panels/todo/ha-panel-todo.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed, Build

#18432 Ensure energy card titles always displayed
  src/panels/energy/ha-panel-energy.ts
Labels: hacktoberfest, cla-signed

#18438 Don't use lookbehind assertion in slugify
  src/common/string/slugify.ts
Labels: hacktoberfest, cla-signed

#18441 Fix change entity in dev tools state
  src/panels/developer-tools/state/developer-tools-state.ts
Labels: hacktoberfest, cla-signed

#18437 Disable resource panel in safe mode
  src/panels/config/lovelace/resources/ha-config-lovelace-resources.ts
  src/panels/lovelace/common/load-resources.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#18440 Fix unit of measurement not displayed in entity settings
  src/panels/config/entities/entity-registry-settings-editor.ts
Labels: hacktoberfest, cla-signed

#18445 Update todo list items when entity changes, only refresh on shopping …
  src/panels/lovelace/cards/hui-todo-list-card.ts
Labels: hacktoberfest, cla-signed

#18444 Don't override ranges provided by parent
  src/components/ha-date-range-picker.ts
  src/panels/lovelace/components/hui-energy-period-selector.ts
Labels: hacktoberfest, cla-signed

#18443 Reload when entering safe mode
  src/state/connection-mixin.ts
Labels: hacktoberfest, cla-signed

#18442 Translate todo panel title, update assist title/icon
  src/components/ha-button.ts
  src/components/ha-dialog.ts
  src/panels/todo/ha-panel-todo.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#18448 20231027.0
  pyproject.toml
  src/common/string/slugify.ts
  src/components/ha-button.ts
  src/components/ha-date-range-picker.ts
  src/components/ha-dialog.ts
  src/panels/config/entities/entity-registry-settings-editor.ts
  src/panels/config/lovelace/resources/ha-config-lovelace-resources.ts
  src/panels/developer-tools/state/developer-tools-state.ts
  src/panels/energy/ha-panel-energy.ts
  src/panels/lovelace/cards/hui-todo-list-card.ts
  src/panels/lovelace/common/load-resources.ts
  src/panels/lovelace/components/hui-energy-period-selector.ts
  src/panels/todo/ha-panel-todo.ts
  src/state/connection-mixin.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#18450 Fix statistics bar chart time axis
  src/components/chart/chart-date-adapter.ts
  src/components/chart/statistics-chart.ts
  src/panels/lovelace/cards/hui-statistics-graph-card.ts
Labels: hacktoberfest, cla-signed

#18472 Fix buttons
  src/components/ha-button.ts
  src/panels/todo/ha-panel-todo.ts
Labels: hacktoberfest, cla-signed

#18464 Allow individual item deletion in To-do list
  src/panels/lovelace/cards/hui-todo-list-card.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#18413 Use trigger and condition type translation labels
  src/data/automation_i18n.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#18477 Adapt to new todo services
  src/data/todo.ts
Labels: hacktoberfest, cla-signed

#18478 20231030.0
  .github/workflows/cast_deployment.yaml
  .github/workflows/ci.yaml
  .github/workflows/demo_deployment.yaml
  .github/workflows/design_deployment.yaml
  .github/workflows/design_preview.yaml
  .github/workflows/nightly.yaml
  .github/workflows/release.yaml
  hassio/src/components/hassio-filter-addons.ts
  package.json
  pyproject.toml
  src/components/chart/chart-date-adapter.ts
  src/components/chart/statistics-chart.ts
  src/components/ha-button.ts
  src/data/automation_i18n.ts
  src/data/todo.ts
  src/panels/config/integrations/dialog-add-integration.ts
  src/panels/config/integrations/ha-config-integrations-dashboard.ts
  src/panels/lovelace/cards/hui-statistics-graph-card.ts
  src/panels/lovelace/cards/hui-todo-list-card.ts
  src/panels/lovelace/editor/card-editor/hui-card-picker.ts
  src/panels/todo/ha-panel-todo.ts
  src/translations/en.json
  yarn.lock
Labels: hacktoberfest, cla-signed, Supervisor, Dependencies, GitHub Actions

#18487 Update ha-dialogs.markdown
  gallery/src/pages/components/ha-dialogs.markdown
Labels: hacktoberfest, cla-signed, Design
