Repository home-assistant/frontend, pull requests merged in 2023-05, with the labels that each got.

#16358 Add icon at unsupported message in voice settings
  src/panels/config/voice-assistants/entity-voice-settings.ts
Labels: cla-signed

#16360 Make sure stt_binary_handler_id is reset
  src/dialogs/voice-command-dialog/ha-voice-command-dialog.ts
Labels: cla-signed

#16359 Fix unused entities
  src/panels/lovelace/hui-root.ts
Labels: cla-signed

#16356 List Core JS polyfills for browserslist environments
  build-scripts/list-plugins-and-polyfills.js
  build-scripts/list-preset-env-plugins.js
Labels: cla-signed

#16354 Fix edits for single instance of all day recurring event
  src/panels/calendar/dialog-calendar-event-editor.ts
Labels: cla-signed

#16364 20230501.0
  build-scripts/list-plugins-and-polyfills.js
  build-scripts/list-preset-env-plugins.js
  pyproject.toml
  src/dialogs/voice-command-dialog/ha-voice-command-dialog.ts
  src/panels/calendar/dialog-calendar-event-editor.ts
  src/panels/config/voice-assistants/dialog-voice-assistant-pipeline-detail.ts
  src/panels/config/voice-assistants/entity-voice-settings.ts
  src/panels/lovelace/hui-root.ts
  src/translations/en.json
Labels: cla-signed

#16365 Clean up imports for some layouts
  hassio/src/entrypoint.ts
  hassio/src/hassio-main.ts
  hassio/src/hassio-panel.ts
  hassio/src/hassio-router.ts
  hassio/src/update-available/update-available-card.ts
  src/layouts/supervisor-error-screen.ts
  src/panels/config/areas/ha-config-areas-dashboard.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/config/ha-panel-config.ts
  src/panels/config/integrations/integration-panels/zha/zha-add-group-page.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-node-config.ts
  src/panels/config/logs/ha-config-logs.ts
  src/panels/config/repairs/ha-config-repairs.ts
  src/panels/config/voice-assistants/ha-config-voice-assistants-assistants.ts
Labels: cla-signed

#16363 Use language picker for cloud tts language
  src/components/media-player/ha-browse-media-tts.ts
  src/data/cloud/tts.ts
  src/panels/config/cloud/account/cloud-tts-pref.ts
Labels: cla-signed

#16368 Fix dashboard theme background
  src/panels/lovelace/hui-root.ts
Labels: cla-signed

#16370 Reduce height for config entry list in integration page
  src/panels/config/integrations/ha-integration-card.ts
Labels: cla-signed

#16378 Add name for google translate tts
  src/components/ha-tts-picker.ts
Labels: cla-signed

#16379 Optimise supervisor entrypoint
  hassio/src/dashboard/hassio-dashboard.ts
  hassio/src/hassio-panel-router.ts
Labels: cla-signed

#16380 fix race in assist pipeline dialog
  src/panels/config/voice-assistants/assist-pipeline-detail/assist-pipeline-detail-config.ts
  src/panels/config/voice-assistants/dialog-voice-assistant-pipeline-detail.ts
Labels: cla-signed

#16377 Update expose for entities not in the entity registry
  src/components/ha-aliases-editor.ts
  src/data/expose.ts
  src/dialogs/more-info/components/voice/ha-more-info-view-voice-assistants.ts
  src/dialogs/more-info/ha-more-info-settings.ts
  src/panels/config/voice-assistants/assist-pref.ts
  src/panels/config/voice-assistants/cloud-alexa-pref.ts
  src/panels/config/voice-assistants/cloud-google-pref.ts
  src/panels/config/voice-assistants/dialog-expose-entity.ts
  src/panels/config/voice-assistants/dialog-voice-settings.ts
  src/panels/config/voice-assistants/entity-voice-settings.ts
  src/panels/config/voice-assistants/expose/expose-assistant-icon.ts
  src/panels/config/voice-assistants/ha-config-voice-assistants-assistants.ts
  src/panels/config/voice-assistants/ha-config-voice-assistants-expose.ts
  src/panels/config/voice-assistants/ha-config-voice-assistants.ts
  src/panels/config/voice-assistants/show-dialog-expose-entity.ts
  src/panels/config/voice-assistants/show-dialog-voice-settings.ts
  src/translations/en.json
Labels: cla-signed

#16382 20230502.0
  hassio/src/dashboard/hassio-dashboard.ts
  hassio/src/entrypoint.ts
  hassio/src/hassio-main.ts
  hassio/src/hassio-panel-router.ts
  hassio/src/hassio-panel.ts
  hassio/src/hassio-router.ts
  hassio/src/update-available/update-available-card.ts
  pyproject.toml
  src/components/ha-aliases-editor.ts
  src/components/ha-tts-picker.ts
  src/components/media-player/ha-browse-media-tts.ts
  src/data/cloud/tts.ts
  src/data/expose.ts
  src/dialogs/more-info/components/voice/ha-more-info-view-voice-assistants.ts
  src/dialogs/more-info/ha-more-info-settings.ts
  src/dialogs/voice-command-dialog/ha-voice-command-dialog.ts
  src/layouts/supervisor-error-screen.ts
  src/panels/config/areas/ha-config-areas-dashboard.ts
  src/panels/config/cloud/account/cloud-tts-pref.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/config/ha-panel-config.ts
  src/panels/config/integrations/ha-integration-card.ts
  src/panels/config/integrations/integration-panels/zha/zha-add-group-page.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-node-config.ts
  src/panels/config/logs/ha-config-logs.ts
  src/panels/config/repairs/ha-config-repairs.ts
  src/panels/config/voice-assistants/assist-pipeline-detail/assist-pipeline-detail-config.ts
  src/panels/config/voice-assistants/assist-pref.ts
  src/panels/config/voice-assistants/cloud-alexa-pref.ts
  src/panels/config/voice-assistants/cloud-google-pref.ts
  src/panels/config/voice-assistants/dialog-expose-entity.ts
  src/panels/config/voice-assistants/dialog-voice-assistant-pipeline-detail.ts
  src/panels/config/voice-assistants/dialog-voice-settings.ts
  src/panels/config/voice-assistants/entity-voice-settings.ts
  src/panels/config/voice-assistants/expose/expose-assistant-icon.ts
  src/panels/config/voice-assistants/ha-config-voice-assistants-assistants.ts
  src/panels/config/voice-assistants/ha-config-voice-assistants-expose.ts
  src/panels/config/voice-assistants/ha-config-voice-assistants.ts
  src/panels/config/voice-assistants/show-dialog-expose-entity.ts
  src/panels/config/voice-assistants/show-dialog-voice-settings.ts
  src/panels/lovelace/hui-root.ts
  src/translations/en.json
Labels: cla-signed

#16388 Fix minor typo on expose entities dialog
  src/translations/en.json
Labels: cla-signed

#16389 keep expose entity dialog modal longer
  src/panels/config/voice-assistants/dialog-expose-entity.ts
Labels: cla-signed

#16391 Only count exposed entities with a state
  src/panels/config/voice-assistants/assist-pref.ts
  src/panels/config/voice-assistants/cloud-alexa-pref.ts
  src/panels/config/voice-assistants/cloud-google-pref.ts
Labels: cla-signed

#16390 Fetch supported items when startup is done
  src/panels/config/voice-assistants/ha-config-voice-assistants-expose.ts
Labels: cla-signed

#16392 Open more info from voice settings
  src/panels/config/voice-assistants/dialog-voice-settings.ts
  src/translations/en.json
Labels: cla-signed

#16393 Add support for native names for other languages than HA has
  src/components/ha-language-picker.ts
Labels: cla-signed

#16395 20230503.0
  pyproject.toml
  src/components/ha-language-picker.ts
  src/panels/config/integrations/ha-integration-card.ts
  src/panels/config/voice-assistants/assist-pref.ts
  src/panels/config/voice-assistants/cloud-alexa-pref.ts
  src/panels/config/voice-assistants/cloud-google-pref.ts
  src/panels/config/voice-assistants/dialog-expose-entity.ts
  src/panels/config/voice-assistants/dialog-voice-settings.ts
  src/panels/config/voice-assistants/ha-config-voice-assistants-expose.ts
  src/translations/en.json
Labels: cla-signed

#16396 Branding adjustment for cloud discover
  src/panels/config/voice-assistants/cloud-discover.ts
  src/translations/en.json
Labels: cla-signed

#16398 RTL fixes for voice assistant page
  src/panels/config/voice-assistants/assist-pref.ts
  src/panels/config/voice-assistants/cloud-alexa-pref.ts
  src/panels/config/voice-assistants/cloud-google-pref.ts
  src/panels/config/voice-assistants/ha-config-voice-assistants-assistants.ts
Labels: cla-signed

#16397 Enable Google assistant no 2fa for all entities
  src/data/google_assistant.ts
  src/panels/config/voice-assistants/entity-voice-settings.ts
Labels: cla-signed

#16402 Fix entity areas in expose
  src/panels/config/voice-assistants/ha-config-voice-assistants-expose.ts
Labels: cla-signed

#16373 Don't hide battery entities in compute card function
  src/panels/lovelace/common/generate-lovelace-config.ts
Labels: cla-signed

#16409 Fix codemirror selection color
  src/resources/codemirror.ts
Labels: cla-signed

#16408 fix expose view for yaml config
  src/panels/config/voice-assistants/ha-config-voice-assistants-expose.ts
Labels: cla-signed

#16387 Convert top gulp modules to ESM
  build-scripts/gulp/app.js
  build-scripts/gulp/cast.js
  build-scripts/gulp/demo.js
  build-scripts/gulp/gallery.js
  build-scripts/gulp/hassio.js
Labels: cla-signed

#16384 Redefine browser requirements for legacy (ES5) builds
  .browserslistrc
Labels: cla-signed

#16412 Bump webpack to 5.82
  package.json
  yarn.lock
Labels: cla-signed

#16351 Collapse empty Masonry columns (#5315, #6632)
  src/panels/lovelace/views/hui-masonry-view.ts
Labels: cla-signed, WTH

#14390 Add frontend support for `time` platform
  src/common/const.ts
  src/common/entity/compute_state_display.ts
  src/data/time.ts
  src/panels/lovelace/create-element/create-row-element.ts
  src/panels/lovelace/entity-rows/hui-time-entity-row.ts
Labels: cla-signed, backend merged

#16385 Remove polymer types, cleanups
  gallery/src/entrypoint.js
  hassio/src/components/supervisor-backup-content.ts
  src/components/device/ha-area-devices-picker.ts
  src/components/device/ha-device-picker.ts
  src/components/device/ha-devices-picker.ts
  src/components/entity/ha-entities-picker.ts
  src/components/entity/ha-entity-attribute-picker.ts
  src/components/entity/ha-entity-picker.ts
  src/components/entity/ha-entity-state-picker.ts
  src/components/entity/ha-statistic-picker.ts
  src/components/entity/ha-statistics-picker.ts
  src/components/ha-addon-picker.ts
  src/components/ha-area-picker.ts
  src/components/ha-config-entry-picker.ts
  src/components/ha-icon-picker.ts
  src/components/ha-navigation-picker.ts
  src/components/ha-service-control.ts
  src/components/user/ha-users-picker.ts
  src/onboarding/onboarding-core-config.ts
  src/onboarding/onboarding-create-user.ts
  src/panels/config/areas/dialog-area-registry-detail.ts
  src/panels/config/automation/action/types/ha-automation-action-activate_scene.ts
  src/panels/config/automation/condition/types/ha-automation-condition-zone.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-zone.ts
  src/panels/config/cloud/ha-config-cloud.ts
  src/panels/config/integrations/integration-panels/zha/zha-add-group-page.ts
  src/panels/config/integrations/integration-panels/zha/zha-network-visualization-page.ts
  src/panels/config/network/ha-config-url-form.ts
  src/panels/config/person/dialog-person-detail.ts
  src/panels/config/users/dialog-add-user.ts
  src/panels/lovelace/editor/config-elements/hui-map-card-editor.ts
  src/panels/profile/ha-long-lived-access-tokens-card.ts
  src/polymer-types.ts
  src/state-summary/state-card-display.ts
  src/types.ts
Labels: cla-signed

#16419 Adapt unsupported microphone message
  src/dialogs/voice-command-dialog/ha-voice-command-dialog.ts
  src/translations/en.json
Labels: cla-signed

#16381 ZHA channel changing dialog and settings redesign
  src/data/zha.ts
  src/panels/config/integrations/integration-panels/zha/dialog-zha-change-channel.ts
  src/panels/config/integrations/integration-panels/zha/show-dialog-zha-change-channel.ts
  src/panels/config/integrations/integration-panels/zha/zha-config-dashboard.ts
  src/translations/en.json
Labels: cla-signed

#16424 Fetch entries integration onboarding
  src/onboarding/onboarding-integrations.ts
Labels: cla-signed

#16427 Update URL
  src/data/integration.ts
Labels: cla-signed

#16460 Fix supervisor loading race
  hassio/src/supervisor-base-element.ts
Labels: cla-signed

#16357 Add UI for network mounts
  src/data/supervisor/mounts.ts
  src/panels/config/storage/dialog-mount-view.ts
  src/panels/config/storage/ha-config-section-storage.ts
  src/panels/config/storage/show-dialog-view-mount.ts
  src/translations/en.json
Labels: cla-signed

#16462 Fix attribute url links
  src/common/entity/compute_attribute_display.ts
Labels: cla-signed

#16466 Use Babel runtime for helpers and regenerator (33%+ bundle reduction)
  build-scripts/bundle.cjs
  cast/src/media/entrypoint.ts
  package.json
  src/resources/array.flat.polyfill.ts
  src/resources/compatibility.ts
  src/resources/roboto.js
  src/resources/safari-14-attachshadow-patch.ts
  src/util/empty.js
  test/common/entity/state_color.ts
  tsconfig.json
  yarn.lock
Labels: cla-signed

#16430 Convert remaining gulp modules to ESM
  build-scripts/gulp/app.js
  build-scripts/gulp/cast.js
  build-scripts/gulp/clean.js
  build-scripts/gulp/compress.js
  build-scripts/gulp/demo.js
  build-scripts/gulp/download-translations.js
  build-scripts/gulp/entry-html.js
  build-scripts/gulp/fetch-nightly-translations.js
  build-scripts/gulp/gallery.js
  build-scripts/gulp/gather-static.js
  build-scripts/gulp/gen-icons-json.js
  build-scripts/gulp/hassio.js
  build-scripts/gulp/locale-data.js
  build-scripts/gulp/rollup.js
  build-scripts/gulp/service-worker.js
  build-scripts/gulp/translations.js
  build-scripts/gulp/wds.cjs
  build-scripts/gulp/wds.js
  build-scripts/gulp/webpack.js
Labels: cla-signed

#16470 Allow supervisor panel to unsubscribe, cleanup
  hassio/src/supervisor-base-element.ts
  src/data/supervisor/supervisor.ts
  src/entrypoints/custom-panel.ts
Labels: cla-signed

#16344 Lock entity options
  src/data/entity_registry.ts
  src/panels/config/entities/entity-registry-settings-editor.ts
  src/translations/en.json
Labels: cla-signed

#16479 Fix link to new automation
  src/panels/config/cloud/account/cloud-webhooks.ts
Labels: cla-signed

#16478 Use "any" as step for add-on configuration floats
  hassio/src/addon-view/config/hassio-addon-config.ts
Labels: cla-signed, Supervisor

#16472 Fix history redraw timer
  src/panels/history/ha-panel-history.ts
Labels: cla-signed

#16483 Add `any` to number selector step typing
  src/components/ha-selector/ha-selector-number.ts
  src/data/selector.ts
Labels: cla-signed

#16484 Use entity id as label in entity picker dev tools
  src/components/entity/ha-entity-picker.ts
  src/panels/developer-tools/state/developer-tools-state.js
Labels: cla-signed

#16004 Add support for filtering service fields
  src/components/device/ha-device-picker.ts
  src/components/ha-service-control.ts
  src/components/ha-target-picker.ts
  src/data/selector.ts
Labels: cla-signed

#16459 Add search to add-ons page
  hassio/src/addon-store/hassio-addon-store.ts
  hassio/src/dashboard/hassio-addons.ts
  hassio/src/dashboard/hassio-dashboard.ts
  src/layouts/hass-subpage.ts
  src/translations/en.json
Labels: cla-signed

#16474 fix supervisor ingress routing
  hassio/src/hassio-router.ts
Labels: cla-signed

#16477 Remove calculation of change from frontend
  src/components/chart/statistics-chart.ts
  src/data/energy.ts
  src/data/recorder.ts
  src/panels/lovelace/cards/energy/hui-energy-devices-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-gas-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-solar-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-usage-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-water-graph-card.ts
  src/panels/lovelace/cards/hui-statistics-graph-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/editor/config-elements/hui-statistics-graph-card-editor.ts
Labels: cla-signed

#16502 Allow adding variable action in the automation UI
  src/data/action.ts
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/translations/en.json
Labels: cla-signed

#16504 Honor entity ordering in statistics graph card
  src/panels/lovelace/cards/hui-statistics-graph-card.ts
Labels: cla-signed

#16513 Fix more info dialog margin for material web button
  package.json
  src/dialogs/more-info/components/ha-more-info-control-style.ts
  yarn.lock
Labels: cla-signed

#16512 Update more info light actions
  public/static/images/color_wheel.png
  src/data/light.ts
  src/dialogs/more-info/controls/more-info-alarm_control_panel.ts
  src/dialogs/more-info/controls/more-info-fan.ts
  src/dialogs/more-info/controls/more-info-light.ts
Labels: cla-signed

#16486 Add interval duration to history tooltip
  src/components/chart/state-history-chart-timeline.ts
  src/translations/en.json
Labels: cla-signed

#16514 Replace onboarding inputs with default inputs
  src/components/country-datalist.ts
  src/components/currency-datalist.ts
  src/components/ha-country-picker.ts
  src/components/ha-currency-picker.ts
  src/components/ha-language-picker.ts
  src/components/ha-timezone-picker.ts
  src/data/currency.ts
  src/onboarding/onboarding-core-config.ts
  src/panels/config/core/ha-config-section-general.ts
  src/resources/intl-polyfill.ts
Labels: cla-signed

#16554 Exclude device trackers from person more info
  src/dialogs/more-info/controls/more-info-person.ts
Labels: cla-signed

#16562 Increase weight of name and domain in add integration search
  src/panels/config/integrations/dialog-add-integration.ts
Labels: cla-signed

#16557 Focus pin input when adding zwave device
  src/panels/config/integrations/integration-panels/zwave_js/dialog-zwave_js-add-node.ts
Labels: cla-signed

#16563 Add entity attribute value translations for remote
  src/dialogs/more-info/controls/more-info-remote.ts
Labels: cla-signed

#16565 Add entity attribute value translations for humidifier
  src/data/humidifier.ts
  src/dialogs/more-info/controls/more-info-humidifier.ts
  src/panels/lovelace/cards/hui-humidifier-card.ts
  src/panels/lovelace/entity-rows/hui-humidifier-entity-row.ts
  src/translations/en.json
Labels: cla-signed

#16564 Add entity attribute value translations for vacuum
  src/dialogs/more-info/controls/more-info-vacuum.ts
Labels: cla-signed

#16559 Add entity attribute value translations for media_player
  src/dialogs/more-info/controls/more-info-media_player.ts
Labels: cla-signed

#16558 Fix overflow menu being above dialogs
  src/components/ha-dialog.ts
  src/components/media-player/dialog-media-manage.ts
  src/components/media-player/dialog-media-player-browse.ts
  src/dialogs/quick-bar/ha-quick-bar.ts
  src/panels/config/devices/ha-config-device-page.ts
Labels: cla-signed

#16556 Add support for external assist
  src/dialogs/voice-command-dialog/show-ha-voice-command-dialog.ts
  src/external_app/external_messaging.ts
  src/panels/lovelace/hui-root.ts
  src/panels/shopping-list/ha-panel-shopping-list.ts
Labels: cla-signed

#16569 Use .nvmrc for GitHub actions
  .github/workflows/cast_deployment.yaml
  .github/workflows/ci.yaml
  .github/workflows/demo_deployment.yaml
  .github/workflows/design_deployment.yaml
  .github/workflows/design_preview.yaml
  .github/workflows/nightly.yaml
  .github/workflows/release.yaml
  .github/workflows/translations.yaml
Labels: cla-signed, GitHub Actions

#16566 Add support for offline db migration
  src/data/recorder.ts
  src/layouts/ha-init-page.ts
  src/layouts/home-assistant.ts
  src/state/connection-mixin.ts
  src/state/hass-base-mixin.ts
Labels: cla-signed

#16537 Avoid entity registry subscribe for the media browser
  src/panels/media-browser/ha-bar-media-player.ts
Labels: cla-signed

#16600 Add WS command for getting a config entry
  src/data/config_entries.ts
Labels: cla-signed

#16595 Add options flow button to conversation agent in assist pipeline dialog
  src/components/ha-conversation-agent-picker.ts
Labels: cla-signed

#16591 Add guards for network storage
  src/data/supervisor/mounts.ts
  src/panels/config/storage/ha-config-section-storage.ts
  src/translations/en.json
Labels: cla-signed

#16567 Add backup location selector
  src/components/ha-addon-picker.ts
  src/components/ha-mount-picker.ts
  src/components/ha-selector/ha-selector-backup-location.ts
  src/components/ha-selector/ha-selector.ts
  src/data/selector.ts
  src/translations/en.json
Labels: cla-signed

#16549 New color picker for HS and color temp
  gallery/src/pages/components/ha-hs-color-picker.markdown
  gallery/src/pages/components/ha-hs-color-picker.ts
  gallery/src/pages/components/ha-temp-color-picker.markdown
  gallery/src/pages/components/ha-temp-color-picker.ts
  src/components/ha-color-picker.js
  src/components/ha-hs-color-picker.ts
  src/components/ha-temp-color-picker.ts
  src/dialogs/more-info/components/lights/ha-more-info-view-light-color-picker.ts
Labels: cla-signed, needs design preview

#16579 Fix compare button for energy cards on manual dashboard
  src/panels/lovelace/components/hui-energy-period-selector.ts
Labels: cla-signed

#16488 Add cut / copy / paste support to automation & script editor
  src/data/automation.ts
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/action/ha-automation-action.ts
  src/panels/config/automation/action/types/ha-automation-action-choose.ts
  src/panels/config/automation/action/types/ha-automation-action-condition.ts
  src/panels/config/automation/action/types/ha-automation-action-if.ts
  src/panels/config/automation/action/types/ha-automation-action-parallel.ts
  src/panels/config/automation/action/types/ha-automation-action-repeat.ts
  src/panels/config/automation/action/types/ha-automation-action-wait_for_trigger.ts
  src/panels/config/automation/condition/ha-automation-condition-editor.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/panels/config/automation/condition/ha-automation-condition.ts
  src/panels/config/automation/condition/types/ha-automation-condition-logical.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/automation/manual-automation-editor.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/panels/config/automation/trigger/ha-automation-trigger.ts
  src/panels/config/script/manual-script-editor.ts
  src/translations/en.json
Labels: cla-signed, WTH

#16605 Fix line chart tooltips to use XY mode
  src/components/chart/state-history-chart-line.ts
Labels: cla-signed

#16611 fix links to scripts from device and area pages
  src/panels/config/areas/ha-config-area-page.ts
  src/panels/config/devices/ha-config-device-page.ts
Labels: cla-signed

#15387 Support entity reg id in device automations
  gallery/src/pages/automation/describe-condition.ts
  gallery/src/pages/automation/describe-trigger.ts
  src/components/device/ha-device-automation-picker.ts
  src/data/automation_i18n.ts
  src/data/context.ts
  src/data/device_automation.ts
  src/data/script_i18n.ts
  src/panels/config/automation/action/types/ha-automation-action-device_id.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/panels/config/automation/condition/types/ha-automation-condition-device.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-device.ts
  src/panels/config/devices/device-detail/ha-device-automation-card.ts
  src/panels/config/ha-panel-config.ts
  src/panels/config/script/ha-config-script.ts
Labels: cla-signed

#16612 Att tip to manage media dialog about network storage
  src/components/media-player/dialog-media-manage.ts
  src/translations/en.json
Labels: cla-signed

#16616 Fix displayed unit for fixed water price
  src/panels/config/energy/dialogs/dialog-energy-water-settings.ts
Labels: cla-signed

#16607 Change OS version for mounts to placeholder
  src/panels/config/storage/ha-config-section-storage.ts
  src/translations/en.json
Labels: cla-signed

#16624 Save automation clipboard in session storage
  src/common/decorators/local-storage.ts
  src/panels/config/automation/manual-automation-editor.ts
Labels: cla-signed

#16625 Use key instead of keycode for key event
  cast/src/launcher/layout/hc-connect.ts
  hassio/src/dialogs/repositories/dialog-hassio-repositories.ts
  src/auth/ha-auth-flow.ts
  src/components/ha-tab.ts
  src/dialogs/config-flow/step-flow-form.ts
  src/dialogs/voice-command-dialog/ha-voice-command-dialog.ts
  src/onboarding/onboarding-analytics.ts
  src/onboarding/onboarding-core-config.ts
  src/onboarding/onboarding-create-user.ts
  src/panels/config/automation/thingtalk/dialog-thingtalk.ts
  src/panels/config/helpers/forms/ha-input_select-form.ts
  src/panels/config/users/dialog-add-user.ts
  src/panels/config/voice-assistants/debug/assist-pipeline-run-debug.ts
  src/panels/lovelace/cards/hui-shopping-list-card.ts
  src/panels/profile/ha-change-password-card.ts
Labels: cla-signed

#16476 Complete persistent notifications migration
  src/data/persistent_notification.ts
Labels: cla-signed, wait for backend

#16613 Don't set name for entities that use device name already
  src/panels/config/devices/ha-config-device-page.ts
Labels: cla-signed

#16629 Always show "polling for updates" switch
  src/dialogs/config-entry-system-options/dialog-config-entry-system-options.ts
Labels: cla-signed

#16592 Add favorite colors to more info light
  package.json
  src/common/color/convert-light-color.ts
  src/components/ha-hs-color-picker.ts
  src/components/ha-temp-color-picker.ts
  src/data/entity_registry.ts
  src/data/light.ts
  src/dialogs/more-info/components/alarm_control_panel/dialog-enter-code.ts
  src/dialogs/more-info/components/lights/dialog-light-color-favorite.ts
  src/dialogs/more-info/components/lights/ha-favorite-color-button.ts
  src/dialogs/more-info/components/lights/ha-more-info-view-light-color-picker.ts
  src/dialogs/more-info/components/lights/light-color-picker.ts
  src/dialogs/more-info/components/lights/show-dialog-light-color-favorite.ts
  src/dialogs/more-info/controls/more-info-light.ts
  src/dialogs/more-info/ha-more-info-dialog.ts
  src/dialogs/more-info/ha-more-info-info.ts
  src/dialogs/more-info/more-info-content.ts
  src/resources/styles.ts
  src/translations/en.json
  yarn.lock
Labels: cla-signed

#16633 Use colored slider background for more info
  src/dialogs/more-info/components/cover/ha-more-info-cover-tilt-position.ts
  src/dialogs/more-info/components/fan/ha-more-info-fan-speed.ts
  src/dialogs/more-info/components/lights/ha-more-info-light-brightness.ts
Labels: cla-signed

#16634 Add missing translations for effect and preset translation in more info
  src/dialogs/more-info/controls/more-info-fan.ts
  src/dialogs/more-info/controls/more-info-light.ts
Labels: cla-signed

#16499 Add a description for time condition
  src/data/automation_i18n.ts
Labels: cla-signed

#16636 Include share as mount usage option
  src/components/ha-mount-picker.ts
  src/data/supervisor/mounts.ts
  src/panels/config/storage/dialog-mount-view.ts
  src/panels/config/storage/ha-config-section-storage.ts
  src/translations/en.json
Labels: cla-signed

#16647 Update WS commands for config entries
  src/data/config_entries.ts
Labels: cla-signed, backend merged

#16637 Fix topbar overflowing card for add-on store
  hassio/src/addon-store/hassio-addon-repository.ts
  hassio/src/dashboard/hassio-addons.ts
Labels: cla-signed

#16655 Use ESM version of hls.js
  src/components/ha-hls-player.ts
Labels: cla-signed

#14391 Add frontend support for `datetime` platform
  src/common/const.ts
  src/common/entity/compute_state_display.ts
  src/data/date.ts
  src/data/datetime.ts
  src/data/input_datetime.ts
  src/data/time.ts
  src/panels/lovelace/create-element/create-row-element.ts
  src/panels/lovelace/entity-rows/hui-datetime-entity-row.ts
Labels: cla-signed, wait for backend

#16665 Use `__STATIC_PATH__` in more places so the supervisor panel can reach paths
  build-scripts/bundle.cjs
  build-scripts/gulp/gather-static.js
  build-scripts/gulp/hassio.js
  hassio/src/supervisor-base-element.ts
  src/resources/locale-data-polyfill.ts
  src/resources/roboto.js
  src/util/common-translation.ts
Labels: cla-signed, Supervisor

#16656 Disable calendar selection when editing existing Calendar Events
  src/panels/calendar/dialog-calendar-event-editor.ts
Labels: cla-signed

#16657 Add a vertical scrollbar for the calendar list
  src/panels/calendar/ha-panel-calendar.ts
Labels: cla-signed

#16662 update `hidden_description` to explain the behavior of the visible setting more clearly.
  src/translations/en.json
Labels: cla-signed

#16667 Fix async update localize
  src/state/translations-mixin.ts
Labels: cla-signed

#16618 Related blueprints
  src/components/ha-related-items.ts
  src/data/search.ts
  src/dialogs/more-info/ha-more-info-dialog.ts
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/blueprint/ha-blueprint-overview.ts
  src/panels/config/script/ha-script-picker.ts
  src/translations/en.json
Labels: cla-signed

#16672 Tweak style of related items
  src/components/ha-related-items.ts
  src/translations/en.json
Labels: cla-signed

#16640 Overhaul Integrations page, add integration page
  src/common/decorators/restore-scroll.ts
  src/components/ha-list-item.ts
  src/components/ha-related-items.ts
  src/data/integration.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/panels/config/energy/components/ha-energy-grid-settings.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/integrations/ha-config-flow-card.ts
  src/panels/config/integrations/ha-config-integration-page.ts
  src/panels/config/integrations/ha-config-integrations-dashboard.ts
  src/panels/config/integrations/ha-config-integrations.ts
  src/panels/config/integrations/ha-disabled-config-entry-card.ts
  src/panels/config/integrations/ha-integration-action-card.ts
  src/panels/config/integrations/ha-integration-card.ts
  src/panels/config/integrations/ha-integration-header.ts
  src/panels/my/ha-panel-my.ts
  src/translations/en.json
Labels: cla-signed, Noteworthy

#16620 Use ES modules and dynamic import for Webpack latest builds
  .browserslistrc
  build-scripts/bundle.cjs
  build-scripts/webpack.cjs
  test/webpack.config.js
Labels: cla-signed, Build

#16673 Light more info enhancement
  .yarn/patches/sortablejs-npm-1.15.0-f3a393abcc.patch
  package.json
  src/components/ha-outlined-icon-button.ts
  src/data/entity_registry.ts
  src/data/light.ts
  src/dialogs/more-info/components/lights/dialog-light-color-favorite.ts
  src/dialogs/more-info/components/lights/ha-favorite-color-button.ts
  src/dialogs/more-info/components/lights/ha-more-info-light-favorite-colors.ts
  src/dialogs/more-info/components/lights/ha-more-info-view-light-color-picker.ts
  src/dialogs/more-info/components/lights/light-color-picker.ts
  src/dialogs/more-info/components/lights/show-dialog-light-color-favorite.ts
  src/dialogs/more-info/components/lights/show-view-light-color-picker.ts
  src/dialogs/more-info/controls/more-info-light.ts
  src/dialogs/more-info/ha-more-info-dialog.ts
  src/dialogs/more-info/ha-more-info-info.ts
  src/dialogs/more-info/more-info-content.ts
  src/translations/en.json
  yarn.lock
Labels: cla-signed

#16489 Add setting to localize numeric dates independent from language (#15770)
  gallery/sidebar.js
  gallery/src/pages/date-time/date.markdown
  gallery/src/pages/date-time/date.ts
  src/common/datetime/format_date.ts
  src/common/datetime/format_date_time.ts
  src/data/translation.ts
  src/fake_data/provide_hass.ts
  src/panels/profile/ha-panel-profile.ts
  src/panels/profile/ha-pick-date-format-row.ts
  src/state/connection-mixin.ts
  src/state/translations-mixin.ts
  src/translations/en.json
  src/util/common-translation.ts
  test/common/datetime/format_date.ts
  test/common/datetime/format_date_time.ts
  test/common/datetime/format_time.ts
  test/common/datetime/relative_time.ts
  test/common/entity/compute_state_display.ts
  test/common/string/format_number.ts
Labels: cla-signed, needs design preview

#16676 Fix my link for integration
  src/panels/my/ha-panel-my.ts
Labels: cla-signed

#16678 Fix integration translations
  src/panels/config/integrations/ha-config-integrations.ts
  src/state/translations-mixin.ts
Labels: cla-signed

#16679 Revert "Use ES modules and dynamic import for Webpack latest builds (…
  .browserslistrc
  build-scripts/bundle.cjs
  build-scripts/webpack.cjs
  test/webpack.config.js
Labels: cla-signed

#16683 Add button bar for light modes
  src/dialogs/more-info/components/lights/ha-more-info-light-favorite-colors.ts
  src/dialogs/more-info/controls/more-info-light.ts
  src/translations/en.json
Labels: cla-signed

#16681 Localize time string in time trigger and condition
  src/data/automation_i18n.ts
Labels: cla-signed

#16686 Use memoize in formatDateNumeric
  src/common/datetime/format_date.ts
Labels: cla-signed

#16687 Fix energy compare
  src/data/energy.ts
Labels: cla-signed

#14728 Make badge colors use the generic error/warning/success/info colors
  src/components/entity/ha-state-label-badge.ts
  src/resources/ha-style.ts
Labels: cla-signed

#16688 Update default colors for more info light favorite colors
  src/data/light.ts
Labels: cla-signed

#16119 Fix ha-combo-box open direction
  src/components/ha-combo-box.ts
Labels: cla-signed

#16196 Fix blueprint script editor defaults handling
  src/panels/config/automation/blueprint-automation-editor.ts
  src/panels/config/script/blueprint-script-editor.ts
Labels: cla-signed

#16690 Close dialog when clicked on link
  src/common/dom/is-navigation-click.ts
  src/dialogs/config-flow/step-flow-form.ts
  src/panels/config/repairs/dialog-repairs-issue.ts
Labels: cla-signed

#16691 Remove unused old code
  src/panels/config/integrations/ha-integration-card.ts
Labels: cla-signed

#16689 Fix my link for config flow start
  src/panels/my/ha-panel-my.ts
Labels: cla-signed

#16693 Throttle replace state in restore scroll
  src/common/decorators/restore-scroll.ts
Labels: cla-signed

#15759 Minor UI bugfixes for selector-datetime and dialog-date-picker
  src/components/ha-dialog-date-picker.ts
  src/components/ha-selector/ha-selector-datetime.ts
Labels: cla-signed

#15071 Support to|from null in UI for ha-automation-trigger-state
  src/components/entity/ha-entity-state-picker.ts
  src/components/ha-selector/ha-selector-state.ts
  src/data/automation_i18n.ts
  src/data/selector.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-state.ts
  src/translations/en.json
Labels: cla-signed

#16695 Reset edit mode when closing more info dialog
  src/dialogs/more-info/ha-more-info-dialog.ts
Labels: cla-signed

#16696 Use delete instead of remove for favorite colors
  src/dialogs/more-info/components/lights/ha-more-info-light-favorite-colors.ts
  src/translations/en.json
Labels: cla-signed

#16698 Set alt attribute to Assistant name in the exposed entities settings
  src/panels/config/voice-assistants/expose/expose-assistant-icon.ts
Labels: cla-signed

#16704 Fix fetching helper config entry
  src/panels/config/entities/entity-registry-settings.ts
Labels: cla-signed
