Repository home-assistant/frontend, pull requests merged in 2023-09, with the labels that each got.

#17767 Fix chart tooltip crash for disabled entity
  src/common/number/format_number.ts
Labels: cla-signed

#17775 Move tile card features logic into its own file
  src/panels/lovelace/cards/hui-tile-card.ts
  src/panels/lovelace/tile-features/hui-tile-features.ts
Labels: cla-signed

#17773 Improve disabled state for select and number button control
  src/components/ha-control-number-buttons.ts
  src/components/ha-control-select.ts
Labels: cla-signed

#17772 Fix target range temperature in tile feature
  src/panels/lovelace/tile-features/hui-target-temperature-tile-feature.ts
Labels: cla-signed

#17771 Use slider for color temp instead of wheel
  gallery/src/pages/components/ha-temp-color-picker.markdown
  gallery/src/pages/components/ha-temp-color-picker.ts
  src/components/ha-hs-color-picker.ts
  src/components/ha-temp-color-picker.ts
  src/dialogs/more-info/components/lights/light-color-rgb-picker.ts
  src/dialogs/more-info/components/lights/light-color-temp-picker.ts
  src/panels/lovelace/tile-features/hui-light-color-temp-tile-feature.ts
Labels: cla-signed, Design

#17757 Use format entity state helpers everywhere
  src/components/entity/ha-entity-state-picker.ts
  src/components/entity/ha-state-label-badge.ts
  src/components/ha-climate-state.ts
  src/components/ha-humidifier-state.ts
  src/components/ha-water_heater-state.js
  src/data/automation_i18n.ts
  src/data/logbook.ts
  src/data/timer.ts
  src/dialogs/config-flow/previews/entity-preview-row.ts
  src/dialogs/more-info/components/climate/ha-more-info-climate-temperature.ts
  src/dialogs/more-info/components/fan/ha-more-info-fan-speed.ts
  src/dialogs/more-info/components/ha-more-info-state-header.ts
  src/dialogs/more-info/components/humidifier/ha-more-info-humidifier-humidity.ts
  src/dialogs/more-info/controls/more-info-cover.ts
  src/dialogs/more-info/controls/more-info-humidifier.ts
  src/dialogs/more-info/controls/more-info-lawn_mower.ts
  src/dialogs/more-info/controls/more-info-media_player.ts
  src/dialogs/more-info/controls/more-info-remote.ts
  src/dialogs/more-info/controls/more-info-vacuum.ts
  src/dialogs/notifications/configurator-notification-item.ts
  src/panels/lovelace/cards/hui-entity-card.ts
  src/panels/lovelace/cards/hui-glance-card.ts
  src/panels/lovelace/cards/hui-humidifier-card.ts
  src/panels/lovelace/cards/hui-light-card.ts
  src/panels/lovelace/cards/hui-picture-entity-card.ts
  src/panels/lovelace/cards/hui-picture-glance-card.ts
  src/panels/lovelace/cards/hui-thermostat-card.ts
  src/panels/lovelace/cards/hui-tile-card.ts
  src/panels/lovelace/cards/hui-weather-forecast-card.ts
  src/panels/lovelace/elements/hui-state-label-element.ts
  src/panels/lovelace/entity-rows/hui-event-entity-row.ts
  src/panels/lovelace/entity-rows/hui-group-entity-row.ts
  src/panels/lovelace/entity-rows/hui-input-number-entity-row.ts
  src/panels/lovelace/entity-rows/hui-media-player-entity-row.ts
  src/panels/lovelace/entity-rows/hui-number-entity-row.ts
  src/panels/lovelace/entity-rows/hui-select-entity-row.ts
  src/panels/lovelace/entity-rows/hui-sensor-entity-row.ts
  src/panels/lovelace/entity-rows/hui-simple-entity-row.ts
  src/panels/lovelace/entity-rows/hui-toggle-entity-row.ts
  src/panels/lovelace/tile-features/hui-fan-speed-tile-feature.ts
  src/state-summary/state-card-alert.ts
  src/state-summary/state-card-display.ts
  src/state-summary/state-card-event.ts
  src/state-summary/state-card-input_number.ts
  src/state-summary/state-card-select.ts
Labels: cla-signed

#17778 Add state color to preview row
  src/dialogs/config-flow/previews/entity-preview-row.ts
Labels: cla-signed

#17777 Use state icon for helpers
  src/panels/config/helpers/ha-config-helpers.ts
Labels: cla-signed

#17781 Sort data using locale in data tables
  src/components/data-table/ha-data-table.ts
  src/components/data-table/sort-filter-worker.ts
  src/components/data-table/sort-filter.ts
Labels: cla-signed

#17803 Fix typo
  src/translations/en.json
Labels: cla-signed

#17806 Fix hide disabled entities button
  src/panels/config/devices/device-detail/ha-device-entities-card.ts
Labels: cla-signed

#17812 Fix combobox selecting wrong item on iOS
  src/components/ha-combo-box.ts
Labels: cla-signed

#17816 Add keyboard support to onboarding links
  src/onboarding/onboarding-welcome-link.ts
  src/onboarding/onboarding-welcome-links.ts
Labels: cla-signed

#17818 Don't report errors while not connected
  src/state/logging-mixin.ts
Labels: cla-signed

#17819 20230904.0
  package.json
  pyproject.toml
  src/components/data-table/ha-data-table.ts
  src/components/data-table/sort-filter-worker.ts
  src/components/data-table/sort-filter.ts
  src/components/ha-combo-box.ts
  src/onboarding/onboarding-welcome-link.ts
  src/onboarding/onboarding-welcome-links.ts
  src/panels/config/devices/device-detail/ha-device-entities-card.ts
  src/state/logging-mixin.ts
  src/translations/en.json
  yarn.lock
Labels: cla-signed

#17786 Guard against empty application credential domain
  src/panels/config/application_credentials/dialog-add-application-credential.ts
Labels: cla-signed

#17813 Start improve restore backup in onboarding
  hassio/src/components/hassio-upload-backup.ts
  src/onboarding/ha-onboarding.ts
  src/onboarding/onboarding-restore-backup.ts
  src/onboarding/onboarding-welcome-link.ts
  src/onboarding/onboarding-welcome-links.ts
  src/translations/en.json
Labels: cla-signed, Supervisor

#17815 Add better localize keys typings for config pages
  src/common/translations/localize.ts
  src/data/automation.ts
  src/data/cloud.ts
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/action/ha-automation-action.ts
  src/panels/config/automation/action/types/ha-automation-action-condition.ts
  src/panels/config/automation/condition/ha-automation-condition.ts
  src/panels/config/automation/condition/types/ha-automation-condition-zone.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/automation/thingtalk/dialog-thingtalk.ts
  src/panels/config/automation/thingtalk/ha-thingtalk-placeholders.ts
  src/panels/config/automation/thingtalk/show-dialog-thingtalk.ts
  src/panels/config/automation/trigger/ha-automation-trigger.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-calendar.ts
  src/panels/config/info/ha-config-info.ts
  src/panels/config/lovelace/dashboards/ha-config-lovelace-dashboards.ts
  src/panels/config/lovelace/resources/ha-config-lovelace-resources.ts
  src/panels/config/scene/ha-scene-editor.ts
  src/panels/config/script/ha-script-editor.ts
  src/translations/en.json
  src/types.ts
Labels: cla-signed

#17822 Fix initial value of select selector
  src/components/ha-form/compute-initial-ha-form-data.ts
Labels: cla-signed

#17823 Add weather forecast options to more info
  src/data/weather.ts
  src/dialogs/more-info/components/lights/light-color-rgb-picker.ts
  src/dialogs/more-info/controls/more-info-weather.ts
  src/dialogs/more-info/ha-more-info-settings.ts
  src/panels/config/network/supervisor-hostname.ts
  src/panels/lovelace/editor/card-editor/hui-card-picker.ts
  src/translations/en.json
Labels: cla-signed

#17828 20230905.0
  hassio/src/components/hassio-upload-backup.ts
  pyproject.toml
  src/common/translations/localize.ts
  src/components/ha-form/compute-initial-ha-form-data.ts
  src/data/automation.ts
  src/data/cloud.ts
  src/data/entity_sources.ts
  src/data/weather.ts
  src/dialogs/more-info/components/lights/light-color-rgb-picker.ts
  src/dialogs/more-info/controls/more-info-weather.ts
  src/dialogs/more-info/ha-more-info-settings.ts
  src/onboarding/ha-onboarding.ts
  src/onboarding/onboarding-restore-backup.ts
  src/onboarding/onboarding-welcome-link.ts
  src/onboarding/onboarding-welcome-links.ts
  src/panels/config/application_credentials/dialog-add-application-credential.ts
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/action/ha-automation-action.ts
  src/panels/config/automation/action/types/ha-automation-action-condition.ts
  src/panels/config/automation/condition/ha-automation-condition.ts
  src/panels/config/automation/condition/types/ha-automation-condition-zone.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/automation/thingtalk/dialog-thingtalk.ts
  src/panels/config/automation/thingtalk/ha-thingtalk-placeholders.ts
  src/panels/config/automation/thingtalk/show-dialog-thingtalk.ts
  src/panels/config/automation/trigger/ha-automation-trigger.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-calendar.ts
  src/panels/config/info/ha-config-info.ts
  src/panels/config/lovelace/dashboards/ha-config-lovelace-dashboards.ts
  src/panels/config/lovelace/resources/ha-config-lovelace-resources.ts
  src/panels/config/network/supervisor-hostname.ts
  src/panels/config/scene/ha-scene-editor.ts
  src/panels/config/script/ha-script-editor.ts
  src/panels/lovelace/editor/card-editor/hui-card-picker.ts
  src/translations/en.json
  src/types.ts
Labels: cla-signed, Supervisor

#17831 Report `Unhandled promise rejection` as debug for now
  src/state/logging-mixin.ts
Labels: cla-signed

#17827 Move translation fetching to gulp action
  build-scripts/gulp/download-translations.js
  package.json
  script/translations_download
  yarn.lock
Labels: cla-signed, Dependencies, Build

#17833 Add listeners to template helper preview
  src/data/ws-templates.ts
  src/dialogs/config-flow/previews/flow-preview-template.ts
  src/panels/developer-tools/template/developer-tools-template.ts
  src/translations/en.json
Labels: cla-signed

#17824 Use report errors instead of strict for template subscription
  src/data/ws-templates.ts
  src/panels/developer-tools/template/developer-tools-template.ts
  src/panels/lovelace/cards/hui-markdown-card.ts
Labels: cla-signed

#17834 20230906.0
  build-scripts/gulp/download-translations.js
  package.json
  pyproject.toml
  script/translations_download
  src/data/ws-templates.ts
  src/dialogs/config-flow/previews/flow-preview-template.ts
  src/panels/developer-tools/template/developer-tools-template.ts
  src/panels/lovelace/cards/hui-markdown-card.ts
  src/state/logging-mixin.ts
  src/translations/en.json
  yarn.lock
Labels: cla-signed, Dependencies, Build

#17835 Subscribe to config entries in helper config
  src/components/ha-conversation-agent-picker.ts
  src/dialogs/config-flow/show-dialog-options-flow.ts
  src/panels/config/entities/entity-registry-settings-editor.ts
  src/panels/config/helpers/ha-config-helpers.ts
  src/panels/config/integrations/ha-config-integration-page.ts
Labels: cla-signed

#17837 Fix no listener margin in flow preview template
  src/dialogs/config-flow/previews/flow-preview-group.ts
  src/dialogs/config-flow/previews/flow-preview-template.ts
Labels: cla-signed

#17838 20230906.1
  pyproject.toml
  src/components/ha-conversation-agent-picker.ts
  src/dialogs/config-flow/previews/flow-preview-group.ts
  src/dialogs/config-flow/previews/flow-preview-template.ts
  src/dialogs/config-flow/show-dialog-options-flow.ts
  src/panels/config/entities/entity-registry-settings-editor.ts
  src/panels/config/helpers/ha-config-helpers.ts
  src/panels/config/integrations/ha-config-integration-page.ts
Labels: cla-signed

#17848 Fix tooltip graph overflow
  src/components/chart/ha-chart-base.ts
Labels: cla-signed

#17849 Clear template result when template changes
  src/panels/developer-tools/template/developer-tools-template.ts
Labels: cla-signed

#17854 update hasChanged for formatEntityState, fix glance card shouldUpdate
  src/panels/lovelace/cards/hui-glance-card.ts
  src/panels/lovelace/common/has-changed.ts
Labels: cla-signed

#17852 Fix default formatEntityState function
  src/state/connection-mixin.ts
Labels: cla-signed

#17866 20230908.0
  package.json
  pyproject.toml
  src/components/chart/ha-chart-base.ts
  src/panels/developer-tools/template/developer-tools-template.ts
  src/panels/lovelace/cards/hui-glance-card.ts
  src/panels/lovelace/common/has-changed.ts
  src/state/connection-mixin.ts
  yarn.lock
Labels: cla-signed

#17868 if select has multiple, make init value an array
  src/components/ha-form/compute-initial-ha-form-data.ts
Labels: cla-signed

#17839 Show alternative names in certificate dialog
  src/data/cloud.ts
  src/panels/config/cloud/dialog-cloud-certificate/dialog-cloud-certificate.ts
  src/translations/en.json
Labels: cla-signed

#17893 Ignore errors during logging
  src/state/logging-mixin.ts
Labels: cla-signed

#17850 Show error when set state fails
  src/panels/developer-tools/state/developer-tools-state.js
Labels: cla-signed

#17898 Allow user to theme all cover states in tile card and more info.
  src/dialogs/more-info/components/cover/ha-more-info-cover-position.ts
  src/dialogs/more-info/components/cover/ha-more-info-cover-tilt-position.ts
  src/panels/lovelace/tile-features/hui-cover-position-tile-feature.ts
  src/panels/lovelace/tile-features/hui-cover-tilt-position-tile-feature.ts
Labels: cla-signed

#17901 20230911.0
  .github/workflows/ci.yaml
  package.json
  pyproject.toml
  src/components/ha-form/compute-initial-ha-form-data.ts
  src/data/cloud.ts
  src/dialogs/more-info/components/cover/ha-more-info-cover-position.ts
  src/dialogs/more-info/components/cover/ha-more-info-cover-tilt-position.ts
  src/panels/config/cloud/dialog-cloud-certificate/dialog-cloud-certificate.ts
  src/panels/developer-tools/state/developer-tools-state.js
  src/panels/lovelace/tile-features/hui-cover-position-tile-feature.ts
  src/panels/lovelace/tile-features/hui-cover-tilt-position-tile-feature.ts
  src/state/logging-mixin.ts
  src/translations/en.json
  yarn.lock
Labels: cla-signed, Dependencies, GitHub Actions

#17900 Fix schedule helper form when resizing or dragging to or past midnight
  src/panels/config/helpers/forms/ha-schedule-form.ts
Labels: cla-signed

#17951 Added new logo design guidelines
  gallery/public/images/brand/README.md
  gallery/public/images/brand/logo-exclusion-zone.png
  gallery/public/images/brand/logo-layout-variants.png
  gallery/public/images/brand/logo.png
  gallery/public/images/logo.png
  gallery/src/pages/brand/logo.markdown
Labels: cla-needed, Design

#17909 Enable shipped proposals in Babel
  build-scripts/bundle.cjs
  build-scripts/list-plugins-and-polyfills.js
Labels: cla-signed, Build

#17830 Adjust password manager polyfill for form injections
  src/auth/ha-password-manager-polyfill.ts
Labels: cla-signed

#17825 Simplify data table template
  gallery/src/pages/misc/entity-state.ts
  hassio/src/backups/hassio-backups.ts
  src/components/data-table/ha-data-table.ts
  src/panels/config/application_credentials/ha-config-application-credentials.ts
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/backup/ha-config-backup.ts
  src/panels/config/blueprint/ha-blueprint-overview.ts
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/helpers/ha-config-helpers.ts
  src/panels/config/integrations/integration-panels/zha/zha-clusters-data-table.ts
  src/panels/config/integrations/integration-panels/zha/zha-device-endpoint-data-table.ts
  src/panels/config/integrations/integration-panels/zha/zha-groups-dashboard.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-provisioned.ts
  src/panels/config/lovelace/dashboards/ha-config-lovelace-dashboards.ts
  src/panels/config/lovelace/resources/ha-config-lovelace-resources.ts
  src/panels/config/scene/ha-scene-dashboard.ts
  src/panels/config/script/ha-script-picker.ts
  src/panels/config/tags/ha-config-tags.ts
  src/panels/config/users/ha-config-users.ts
  src/panels/config/voice-assistants/ha-config-voice-assistants-expose.ts
  src/panels/developer-tools/statistics/developer-tools-statistics.ts
  src/panels/lovelace/editor/card-editor/hui-entity-picker-table.ts
Labels: cla-signed, Supervisor, Design

#17971 Add select option tile feature
  src/components/ha-control-select-menu.ts
  src/panels/lovelace/cards/hui-tile-card.ts
  src/panels/lovelace/create-element/create-tile-feature-element.ts
  src/panels/lovelace/editor/config-elements/hui-tile-card-features-editor.ts
  src/panels/lovelace/tile-features/hui-select-options-tile-feature.ts
  src/panels/lovelace/tile-features/types.ts
  src/state/state-display-mixin.ts
Labels: cla-signed

#17972 don't round update entity images
  src/components/entity/state-badge.ts
  src/panels/config/dashboard/ha-config-updates.ts
Labels: cla-signed

#17946 Add climate preset tile feature
  src/panels/lovelace/create-element/create-tile-feature-element.ts
  src/panels/lovelace/editor/config-elements/hui-tile-card-features-editor.ts
  src/panels/lovelace/tile-features/hui-climate-presets-tile-feature.ts
  src/panels/lovelace/tile-features/types.ts
  src/translations/en.json
Labels: cla-signed, Tile card

#17441 Make pull request template more in line with core
  .github/PULL_REQUEST_TEMPLATE.md
  .prettierignore
Labels: cla-signed

#17977 Add style and preset modes options to climate preset tile feature
  src/panels/lovelace/create-element/create-tile-feature-element.ts
  src/panels/lovelace/editor/config-elements/hui-climate-preset-modes-tile-feature-editor.ts
  src/panels/lovelace/editor/config-elements/hui-tile-card-features-editor.ts
  src/panels/lovelace/tile-features/hui-climate-preset-modes-tile-feature.ts
  src/panels/lovelace/tile-features/hui-climate-presets-tile-feature.ts
  src/panels/lovelace/tile-features/hui-select-options-tile-feature.ts
  src/panels/lovelace/tile-features/types.ts
  src/translations/en.json
Labels: cla-signed, Noteworthy

#17921 Refactor strategy foundation
  cast/src/receiver/layout/hc-main.ts
  src/data/lovelace.ts
  src/panels/energy/strategies/energy-view-strategy.ts
  src/panels/lovelace/editor/hui-dialog-save-config.ts
  src/panels/lovelace/ha-panel-lovelace.ts
  src/panels/lovelace/strategies/get-strategy.ts
  src/panels/lovelace/strategies/legacy-strategy.ts
  src/panels/lovelace/strategies/original-states-dashboard-strategy.ts
  src/panels/lovelace/strategies/original-states-view-strategy.ts
  src/panels/lovelace/strategies/types.ts
  src/panels/lovelace/views/hui-view.ts
Labels: cla-signed, Cast

#17983 Small fixes for tile features
  src/panels/lovelace/tile-features/hui-climate-hvac-modes-tile-feature.ts
  src/panels/lovelace/tile-features/hui-select-options-tile-feature.ts
  src/translations/en.json
Labels: cla-signed

#17980 Fix translations onboarding integration
  src/onboarding/onboarding-integrations.ts
Labels: cla-signed

#17692 Make some triggers translatable
  src/data/automation_i18n.ts
  src/translations/en.json
Labels: cla-signed

#17915 Improve core script and default to upgrade
  script/core
Labels: cla-signed

#17402 Add label to location selector
  src/components/ha-selector/ha-selector-location.ts
Labels: cla-signed

#17938 Add new config options for map entity markers
  src/components/map/ha-entity-marker.ts
  src/components/map/ha-map.ts
  src/panels/lovelace/cards/hui-map-card.ts
  src/panels/lovelace/editor/config-elements/hui-map-card-editor.ts
Labels: cla-signed

#17897 Add wake word to assist pipeline debug
  src/data/assist_pipeline.ts
  src/panels/config/voice-assistants/debug/assist-pipeline-run-debug.ts
  src/panels/config/voice-assistants/debug/assist-render-pipeline-run.ts
Labels: cla-signed

#17928 Ensure computeStateName returns a string type
  src/common/entity/compute_state_name.ts
Labels: cla-signed

#18025 Clear quick bar items with closing the quick bar dialog
  src/dialogs/quick-bar/ha-quick-bar.ts
Labels: cla-signed

#18022 Stop notifications for errors writing to system log
  src/state/connection-mixin.ts
  src/state/logging-mixin.ts
  src/types.ts
Labels: cla-signed

#17964 Update logo
  cast/public/images/favicon.ico
  demo/public/manifest.json
  demo/src/html/index.html.template
  gallery/src/pages/components/ha-chips.ts
  hassio/src/addon-view/info/hassio-addon-info.ts
  hassio/src/components/supervisor-backup-content.ts
  hassio/src/dashboard/hassio-update.ts
  public/static/icons/browserconfig.xml
  public/static/icons/favicon-1024x1024.png
  public/static/icons/favicon-16x16.png
  public/static/icons/favicon-192x192.png
  public/static/icons/favicon-32x32.png
  public/static/icons/favicon-384x384.png
  public/static/icons/favicon-512x512.png
  public/static/icons/favicon-apple-180x180.png
  public/static/icons/favicon.ico
  public/static/icons/mask-icon.svg
  public/static/icons/maskable_icon-128x128.png
  public/static/icons/maskable_icon-192x192.png
  public/static/icons/maskable_icon-384x384.png
  public/static/icons/maskable_icon-48x48.png
  public/static/icons/maskable_icon-512x512.png
  public/static/icons/maskable_icon-72x72.png
  public/static/icons/maskable_icon-96x96.png
  public/static/icons/tile-win-150x150.png
  public/static/icons/tile-win-310x150.png
  public/static/icons/tile-win-310x310.png
  public/static/icons/tile-win-70x70.png
  public/static/images/notification-badge.png
  src/common/const.ts
  src/components/ha-icon.ts
  src/components/ha-logo-svg.ts
  src/data/trigger.ts
  src/html/authorize.html.template
  src/html/index.html.template
  src/panels/config/automation/dialog-new-automation.ts
  src/panels/config/info/ha-config-info.ts
  src/resources/home-assistant-logo-svg.ts
Labels: cla-signed, Supervisor, Demo, Design

#18018 Fix chart not able to setup because canvas in use
  src/components/chart/ha-chart-base.ts
Labels: cla-signed

#18019 Add wake word to assist pipeline settings
  src/common/const.ts
  src/common/entity/compute_state_display.ts
  src/data/assist_pipeline.ts
  src/data/wake_word.ts
  src/panels/config/voice-assistants/assist-pipeline-detail/assist-pipeline-detail-wakeword.ts
  src/panels/config/voice-assistants/dialog-voice-assistant-pipeline-detail.ts
  src/translations/en.json
Labels: cla-signed

#17992 Allow saving the light current color as a favorite
  src/dialogs/more-info/components/lights/dialog-light-color-favorite.ts
  src/dialogs/more-info/components/lights/ha-more-info-light-favorite-colors.ts
  src/dialogs/more-info/components/lights/show-dialog-light-color-favorite.ts
Labels: cla-signed

#18015 Move auth components from shadow DOM to light DOM
  src/auth/ha-auth-flow.ts
  src/auth/ha-auth-form-string.ts
  src/auth/ha-auth-form.ts
  src/auth/ha-auth-textfield.ts
  src/auth/ha-authorize.ts
  src/auth/ha-password-manager-polyfill.ts
  src/components/ha-form/ha-form-string.ts
  src/components/ha-form/ha-form.ts
  src/html/authorize.html.template
Labels: cla-signed

#18023 Fix choose description when a non-list form of conditions is used
  src/panels/config/automation/action/types/ha-automation-action-choose.ts
Labels: cla-signed

#17934 Fix adjust statistic dialog after a period of sensor unavailability
  src/panels/developer-tools/statistics/dialog-statistics-adjust-sum.ts
Labels: cla-signed

#17851 Fix markdown card template handling
  src/panels/developer-tools/template/developer-tools-template.ts
  src/panels/lovelace/cards/hui-markdown-card.ts
  src/panels/lovelace/editor/card-editor/hui-card-preview.ts
Labels: cla-signed

#18032 Fix aria label auth page
  build-scripts/webpack.cjs
  package.json
  src/auth/ha-auth-flow.ts
  src/auth/ha-auth-form-string.ts
  src/auth/ha-auth-form.ts
  src/auth/ha-auth-textfield.ts
  yarn.lock
Labels: cla-signed, Dependencies, Build

#17711 Update Add and Edit area dialog
  src/dialogs/aliases/dialog-aliases.ts
  src/dialogs/aliases/show-dialog-aliases.ts
  src/panels/config/areas/dialog-area-registry-detail.ts
  src/panels/config/areas/ha-config-area-page.ts
  src/panels/config/areas/show-dialog-area-registry-detail.ts
  src/translations/en.json
Labels: cla-signed

#17787 Fix too wide energy chart bars
  src/panels/lovelace/cards/energy/hui-energy-gas-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-solar-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-usage-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-water-graph-card.ts
Labels: cla-signed

#17519 Display an error message when disabling the button in devtools/service
  src/panels/developer-tools/service/developer-tools-service.ts
  src/translations/en.json
Labels: cla-signed

#17422 Enable reorder mode for choose options
  src/panels/config/automation/action/types/ha-automation-action-choose.ts
Labels: cla-signed

#17871 Prevent creating views with duplicate URL
  src/panels/lovelace/editor/config-util.ts
  src/panels/lovelace/editor/view-editor/hui-dialog-edit-view.ts
  src/translations/en.json
Labels: cla-signed

#17959 Add an image fit mode to hui-image and picture-entity-card
  src/panels/lovelace/cards/hui-picture-entity-card.ts
  src/panels/lovelace/components/hui-image.ts
  src/panels/lovelace/editor/config-elements/hui-picture-entity-card-editor.ts
Labels: cla-signed

#18034 Update layout of hardware info
  src/components/ha-clickable-list-item.ts
  src/panels/config/hardware/ha-config-hardware.ts
Labels: cla-signed

#18036 State History Charts - Handle click to chart to open More Info for the clicked entity
  src/components/chart/state-history-chart-line.ts
  src/components/chart/state-history-chart-timeline.ts
  src/components/chart/state-history-charts.ts
  src/dialogs/more-info/ha-more-info-history.ts
Labels: cla-signed

#17956 Debug option to enable logging server calls
  src/fake_data/provide_hass.ts
  src/panels/developer-tools/debug/developer-tools-debug.ts
  src/panels/developer-tools/debug/ha-debug-connection-row.ts
  src/panels/developer-tools/developer-tools-router.ts
  src/panels/developer-tools/ha-panel-developer-tools.ts
  src/state/connection-mixin.ts
  src/translations/en.json
  src/types.ts
  src/util/ha-pref-storage.ts
Labels: cla-signed, Demo, Design

#18039 Use initial color param for favorite color dialog
  src/dialogs/more-info/components/lights/dialog-light-color-favorite.ts
  src/dialogs/more-info/components/lights/ha-more-info-light-favorite-colors.ts
  src/dialogs/more-info/components/lights/show-dialog-light-color-favorite.ts
Labels: cla-signed

#17869 Migrate developer events tools to LitElement
  src/panels/developer-tools/event/developer-tools-event.js
  src/panels/developer-tools/event/developer-tools-event.ts
  src/panels/developer-tools/event/events-list.js
  src/panels/developer-tools/event/events-list.ts
Labels: cla-signed

#18046 Link to docs when no wake word engines
  src/panels/config/voice-assistants/assist-pipeline-detail/assist-pipeline-detail-wakeword.ts
  src/panels/config/voice-assistants/assist-pref.ts
  src/panels/config/voice-assistants/dialog-voice-assistant-pipeline-detail.ts
  src/translations/en.json
Labels: cla-signed

#18009 Handle breaking changes as result of zwave_js lib upgrade
  src/data/zwave_js.ts
  src/panels/config/devices/device-detail/integration-elements/zwave_js/device-actions.ts
  src/panels/config/integrations/integration-panels/zwave_js/dialog-zwave_js-rebuild-network-routes.ts
  src/panels/config/integrations/integration-panels/zwave_js/dialog-zwave_js-rebuild-node-routes.ts
  src/panels/config/integrations/integration-panels/zwave_js/show-dialog-zwave_js-heal-network.ts
  src/panels/config/integrations/integration-panels/zwave_js/show-dialog-zwave_js-heal-node.ts
  src/panels/config/integrations/integration-panels/zwave_js/show-dialog-zwave_js-rebuild-network-routes.ts
  src/panels/config/integrations/integration-panels/zwave_js/show-dialog-zwave_js-rebuild-node-routes.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-config-dashboard.ts
  src/translations/en.json
Labels: cla-signed, backend merged

#18052 20230928.0
  gallery/public/images/brand/logo-exclusion-zone.png
  gallery/public/images/brand/logo-layout-variants.png
  gallery/public/images/brand/logo.png
  package.json
  public/static/icons/favicon-1024x1024.png
  public/static/icons/favicon-512x512.png
  public/static/icons/favicon-apple-180x180.png
  public/static/icons/maskable_icon-128x128.png
  public/static/icons/maskable_icon-192x192.png
  public/static/icons/maskable_icon-384x384.png
  public/static/icons/maskable_icon-48x48.png
  public/static/icons/maskable_icon-512x512.png
  public/static/icons/maskable_icon-72x72.png
  public/static/icons/maskable_icon-96x96.png
  public/static/icons/tile-win-310x150.png
  public/static/icons/tile-win-310x310.png
  public/static/images/color_wheel.png
  public/static/images/notification-badge.png
  pyproject.toml
  src/data/automation_i18n.ts
  src/data/zwave_js.ts
  src/dialogs/more-info/components/lights/dialog-light-color-favorite.ts
  src/dialogs/more-info/components/lights/ha-more-info-light-favorite-colors.ts
  src/dialogs/more-info/components/lights/show-dialog-light-color-favorite.ts
  src/fake_data/provide_hass.ts
  src/panels/config/devices/device-detail/integration-elements/zwave_js/device-actions.ts
  src/panels/config/integrations/integration-panels/zwave_js/dialog-zwave_js-rebuild-network-routes.ts
  src/panels/config/integrations/integration-panels/zwave_js/dialog-zwave_js-rebuild-node-routes.ts
  src/panels/config/integrations/integration-panels/zwave_js/show-dialog-zwave_js-heal-network.ts
  src/panels/config/integrations/integration-panels/zwave_js/show-dialog-zwave_js-heal-node.ts
  src/panels/config/integrations/integration-panels/zwave_js/show-dialog-zwave_js-rebuild-network-routes.ts
  src/panels/config/integrations/integration-panels/zwave_js/show-dialog-zwave_js-rebuild-node-routes.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-config-dashboard.ts
  src/panels/config/voice-assistants/assist-pipeline-detail/assist-pipeline-detail-wakeword.ts
  src/panels/config/voice-assistants/assist-pref.ts
  src/panels/config/voice-assistants/dialog-voice-assistant-pipeline-detail.ts
  src/panels/developer-tools/debug/developer-tools-debug.ts
  src/panels/developer-tools/debug/ha-debug-connection-row.ts
  src/panels/developer-tools/developer-tools-router.ts
  src/panels/developer-tools/event/developer-tools-event.js
  src/panels/developer-tools/event/developer-tools-event.ts
  src/panels/developer-tools/event/events-list.js
  src/panels/developer-tools/event/events-list.ts
  src/panels/developer-tools/ha-panel-developer-tools.ts
  src/state/connection-mixin.ts
  src/translations/en.json
  src/types.ts
  src/util/ha-pref-storage.ts
  yarn.lock
Labels: cla-signed, Dependencies, Demo, Design

#18059 Change linear-progress bar background color for dark mode
  src/resources/styles.ts
Labels: cla-signed

#18058 Clear wake word when new engine is picked, select first wake word. by…
  src/panels/config/voice-assistants/assist-pipeline-detail/assist-pipeline-detail-wakeword.ts
Labels: cla-signed

#18069 Hide shopping list from discovered onboarding integrations
  src/onboarding/onboarding-integrations.ts
Labels: cla-signed
