Repository home-assistant/frontend, pull requests merged in 2023-07, with the labels that each got.

#17133 Fix device automation description
  src/data/automation_i18n.ts
  src/panels/config/automation/action/ha-automation-action-row.ts
Labels: cla-signed

#17123 Gauge card form fields can be decimal
  src/panels/lovelace/editor/config-elements/hui-gauge-card-editor.ts
Labels: cla-signed

#17027 Make automation editor card headers translateable (actions)
  src/common/string/format-list.ts
  src/data/script_i18n.ts
  src/translations/en.json
Labels: cla-signed, needs design preview

#17140 Don't show fractions in energy percentage gauges
  src/panels/lovelace/cards/energy/hui-energy-carbon-consumed-gauge-card.ts
  src/panels/lovelace/cards/energy/hui-energy-self-sufficiency-gauge-card.ts
  src/panels/lovelace/cards/energy/hui-energy-solar-consumed-gauge-card.ts
Labels: cla-signed

#17146 Fix supervisor not loading Firefox
  hassio/src/supervisor-base-element.ts
  src/data/supervisor/supervisor.ts
Labels: cla-signed

#17150 20230703.0
  hassio/src/supervisor-base-element.ts
  package.json
  pyproject.toml
  src/common/string/format-list.ts
  src/data/automation_i18n.ts
  src/data/script_i18n.ts
  src/data/supervisor/supervisor.ts
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/devices/device-detail/ha-device-automation-card.ts
  src/panels/config/devices/device-detail/ha-device-automation-dialog.ts
  src/panels/config/devices/device-detail/show-dialog-device-automation.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/config/integrations/ha-integration-action-card.ts
  src/panels/config/integrations/ha-integration-card.ts
  src/panels/config/integrations/ha-integration-header.ts
  src/panels/config/storage/dialog-mount-view.ts
  src/panels/lovelace/cards/energy/hui-energy-carbon-consumed-gauge-card.ts
  src/panels/lovelace/cards/energy/hui-energy-self-sufficiency-gauge-card.ts
  src/panels/lovelace/cards/energy/hui-energy-solar-consumed-gauge-card.ts
  src/panels/lovelace/editor/config-elements/hui-gauge-card-editor.ts
  src/translations/en.json
  yarn.lock
Labels: cla-signed

#17158 Ask confirmation before deleting a schedule item
  src/panels/config/helpers/forms/ha-schedule-form.ts
  src/translations/en.json
Labels: cla-signed

#17162 Fix cast build
  cast/src/media/entrypoint.ts
  cast/src/receiver/cast_context.ts
  cast/src/receiver/cast_framework.ts
  cast/src/receiver/entrypoint.ts
Labels: cla-signed

#17163 Make voice assistant translatable in dialog
  src/panels/config/entities/entity-registry-settings-editor.ts
  src/translations/en.json
Labels: cla-signed

#17160 Guard for missing translations
  hassio/src/ingress-view/hassio-ingress-view.ts
  src/layouts/hass-loading-screen.ts
  src/translations/en.json
Labels: cla-signed

#17157 Fix schedule and calendar timezone handling
  package.json
  src/panels/calendar/dialog-calendar-event-editor.ts
  src/panels/calendar/ha-full-calendar.ts
  src/panels/config/helpers/forms/ha-schedule-form.ts
  yarn.lock
Labels: cla-signed

#17166 Fix automation translations + gallery
  gallery/src/pages/automation/describe-action.ts
  gallery/src/pages/automation/describe-condition.ts
  gallery/src/pages/automation/describe-trigger.ts
  src/data/automation_i18n.ts
  src/data/script_i18n.ts
Labels: cla-signed

#17161 Convert and filter backend translations to old format
  build-scripts/gulp/download-translations.js
Labels: cla-signed

#17167 Fix integration card design gallery
  gallery/src/pages/misc/integration-card.ts
  src/panels/config/integrations/ha-config-flow-card.ts
  src/panels/config/integrations/ha-ignored-config-entry-card.ts
  src/panels/config/integrations/ha-integration-card.ts
Labels: cla-signed

#17168 Patch leaflet draw
  .yarn/patches/leaflet-draw-npm-1.0.4-0ca0ebcf65.patch
  package.json
  yarn.lock
Labels: cla-signed

#17169 20230705.1
  .yarn/patches/leaflet-draw-npm-1.0.4-0ca0ebcf65.patch
  build-scripts/gulp/download-translations.js
  gallery/src/pages/automation/describe-action.ts
  gallery/src/pages/automation/describe-condition.ts
  gallery/src/pages/automation/describe-trigger.ts
  gallery/src/pages/misc/integration-card.ts
  package.json
  pyproject.toml
  src/data/automation_i18n.ts
  src/data/script_i18n.ts
  src/panels/config/integrations/ha-config-flow-card.ts
  src/panels/config/integrations/ha-ignored-config-entry-card.ts
  src/panels/config/integrations/ha-integration-card.ts
  yarn.lock
Labels: cla-signed

#17171 Fix non optional response service, variable field disabled
  src/panels/config/automation/action/types/ha-automation-action-service.ts
Labels: cla-signed

#17115 Show "Configured" header on integrations dashboard for clarity
  src/panels/config/integrations/ha-config-integrations-dashboard.ts
Labels: cla-signed

#17181 Fix sensor card to not crash when it finds no state history
  src/panels/lovelace/common/graph/coordinates.ts
Labels: cla-signed

#17178 Default the ZHA channel change dialog's preferred channel to `auto`
  src/panels/config/integrations/integration-panels/zha/dialog-zha-change-channel.ts
Labels: cla-signed

#17213 Fix missing translations of password field in cloud signup
  src/panels/config/cloud/register/cloud-register.ts
Labels: cla-signed

#17217 Don't automatically capitalize climate states
  src/components/ha-climate-state.ts
  src/components/ha-humidifier-state.ts
  src/components/ha-water_heater-state.js
Labels: cla-signed, localization

#17223 Localize the statistics search label
  src/components/search-input.ts
  src/layouts/hass-tabs-subpage-data-table.ts
  src/panels/developer-tools/statistics/developer-tools-statistics.ts
  src/translations/en.json
Labels: cla-signed, localization

#17240 humidifier cards: support null target humidity
  src/panels/lovelace/cards/hui-humidifier-card.ts
Labels: cla-signed

#17253 Remove unused device class translations
  src/data/logbook.ts
  src/data/translation.ts
Labels: cla-signed

#17251 Clearly show if there are no ignored or disabled integrations
  src/panels/config/integrations/ha-config-integrations-dashboard.ts
  src/translations/en.json
Labels: cla-signed

#17199 Add pull request labeler
  .github/dependabot.yml
  .github/labeler.yml
  .github/release-drafter.yml
  .github/workflows/labeler.yaml
  renovate.json
Labels: cla-signed, GitHub Actions

#17218 Fix missing autocomplete in energy settings
  src/components/entity/ha-statistic-picker.ts
Labels: cla-signed

#17244 Fix a browser hang with charts in grids
  src/components/chart/state-history-charts.ts
Labels: cla-signed

#17252 Simplify script/automation action description with nested conditions/triggers
  src/data/script_i18n.ts
  src/translations/en.json
Labels: cla-signed

#17255 Fix notification error when calling service
  src/state/connection-mixin.ts
Labels: cla-signed

#17263 Bump HAWS to 8.2.0
  package.json
  src/entrypoints/core.ts
  src/onboarding/ha-onboarding.ts
  yarn.lock
Labels: cla-signed, Dependencies

#17264 Add support for service translations
  src/components/ha-service-control.ts
  src/components/ha-service-description.js
  src/components/ha-service-picker.ts
  src/data/script_i18n.ts
  src/data/translation.ts
  src/panels/config/ha-panel-config.ts
  src/panels/config/integrations/integration-panels/zha/zha-add-devices-page.ts
  src/panels/config/integrations/integration-panels/zha/zha-device-card.ts
  src/panels/config/integrations/integration-panels/zha/zha-device-pairing-status-card.ts
  src/panels/lovelace/common/handle-action.ts
Labels: cla-signed

#17260 Prevent items in add integration dialog from flickering
  src/panels/config/integrations/dialog-add-integration.ts
Labels: cla-signed

#17272 Prune empty value_template field from numeric_state
  src/panels/config/automation/condition/types/ha-automation-condition-numeric_state.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-numeric_state.ts
Labels: cla-signed

#17147 `start_pause` is only supported on entities that don't have `STATE` sup…
  src/dialogs/more-info/controls/more-info-vacuum.ts
  src/panels/lovelace/tile-features/hui-vacuum-commands-tile-feature.ts
Labels: cla-signed

#17265 Add download button to assist sentence parser dev tool
  src/components/ha-button.ts
  src/panels/developer-tools/assist/developer-tools-assist.ts
Labels: cla-signed

#17284 Fix overflow on sensor card
  src/panels/lovelace/cards/hui-sensor-card.ts
Labels: cla-signed

#17289 Consistently treat `standby` as a non-active state for media_player
  src/data/media-player.ts
  src/dialogs/more-info/controls/more-info-media_player.ts
  src/panels/lovelace/cards/hui-media-control-card.ts
  src/panels/lovelace/entity-rows/hui-media-player-entity-row.ts
Labels: cla-signed

#17293 Add icon to edit card overflow menu
  src/panels/lovelace/components/hui-card-options.ts
  src/translations/en.json
Labels: cla-signed

#17294 Use icon button to switch between code and editor
  src/panels/lovelace/editor/config-elements/hui-conditional-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-stack-card-editor.ts
  src/panels/lovelace/editor/hui-sub-element-editor.ts
Labels: cla-signed

#17295 Don't show paste from clipboard card when user search for a card
  src/panels/lovelace/editor/card-editor/hui-card-picker.ts
Labels: cla-signed

#17288 Add current humidity to humidifier history chart
  src/components/chart/state-history-chart-line.ts
  src/data/history.ts
  src/resources/ha-style.ts
  src/translations/en.json
Labels: cla-signed

#17261 Use translation keys for Network configuration pages
  src/panels/config/network/dialog-ip-detail.ts
  src/panels/config/network/ha-config-network.ts
  src/panels/config/network/supervisor-network.ts
  src/translations/en.json
Labels: cla-signed

#17239 Make action-choose options collapsible
  src/panels/config/automation/action/types/ha-automation-action-choose.ts
  src/translations/en.json
Labels: cla-signed

#17319 Update wording in UI when restoring partial backup
  hassio/src/dialogs/backup/dialog-hassio-backup.ts
Labels: cla-signed, Supervisor

#17329 Add last_used option for pipeline and explicit default
  src/components/ha-assist-pipeline-picker.ts
  src/components/ha-selector/ha-selector-assist-pipeline.ts
  src/data/selector.ts
  src/dialogs/voice-command-dialog/ha-voice-command-dialog.ts
  src/dialogs/voice-command-dialog/show-ha-voice-command-dialog.ts
  src/external_app/external_messaging.ts
  src/panels/lovelace/common/handle-action.ts
  src/panels/lovelace/components/hui-action-editor.ts
  src/panels/lovelace/hui-root.ts
  src/panels/shopping-list/ha-panel-shopping-list.ts
  src/translations/en.json
Labels: cla-signed

#17296 Add support for registering config panels
  src/data/integration.ts
  src/panels/config/integrations/ha-config-integration-page.ts
  src/types.ts
Labels: cla-signed, wait for backend

#17335 Add prefix support to text selector
  src/components/ha-selector/ha-selector-text.ts
  src/data/selector.ts
  src/panels/config/script/ha-script-editor.ts
Labels: cla-signed

#17287 Use nominatim from openstreetmap for location search in onboarding
  src/auth/ha-authorize.ts
  src/components/map/ha-locations-editor.ts
  src/components/map/ha-map.ts
  src/data/currency.ts
  src/data/openstreetmap.ts
  src/html/onboarding.html.template
  src/onboarding/onboarding-analytics.ts
  src/onboarding/onboarding-core-config.ts
  src/onboarding/onboarding-integrations.ts
  src/onboarding/onboarding-location.ts
  src/onboarding/onboarding-name.ts
  src/translations/en.json
Labels: cla-signed

#17338 Hide no theme option when required
  src/components/ha-theme-picker.ts
Labels: cla-signed

#17241 Update self-sufficiency card title and tooltip
  src/translations/en.json
Labels: cla-signed

#17339 Use ha-outlined icon button in lock more info
  src/components/ha-outlined-icon-button.ts
  src/dialogs/more-info/controls/more-info-lock.ts
Labels: cla-signed

#17328 Use device battery entity for vacuum more info
  src/data/entity_registry.ts
  src/dialogs/more-info/controls/more-info-vacuum.ts
Labels: cla-signed

#17285 Allow changing channel from the thread configuration panel
  src/data/otbr.ts
  src/panels/config/integrations/integration-panels/thread/thread-config-panel.ts
  src/translations/en.json
Labels: cla-signed, wait for backend

#17351 Add a missing translation
  src/panels/config/integrations/ha-config-integration-page.ts
  src/translations/en.json
Labels: cla-signed

#17342 Add My support for Assist dev tools
  src/panels/my/ha-panel-my.ts
Labels: cla-signed

#17282 Fix guiMode toggle bugs in element-editor
  src/panels/lovelace/editor/hui-element-editor.ts
Labels: cla-signed

#17356 Missing translation in data-table
  src/components/data-table/ha-data-table.ts
Labels: cla-signed

#17360 Always show translated labels for ha-form-multi_select
  src/components/ha-form/ha-form-multi_select.ts
Labels: cla-signed

#17361 Fix Options flow missing submit button & finish button.
  src/dialogs/config-flow/show-dialog-config-flow.ts
  src/dialogs/config-flow/show-dialog-options-flow.ts
Labels: cla-signed

#17374 Fix dialog-edit-view yaml editor
  src/panels/lovelace/editor/view-editor/hui-dialog-edit-view.ts
Labels: cla-signed

#17332 Add event entity
  gallery/src/pages/lovelace/entities-card.ts
  src/common/const.ts
  src/common/entity/compute_state_display.ts
  src/common/entity/domain_icon.ts
  src/common/entity/get_states.ts
  src/common/entity/state_active.ts
  src/data/entity_attributes.ts
  src/data/logbook.ts
  src/data/scene.ts
  src/dialogs/more-info/const.ts
  src/panels/config/automation/condition/types/ha-automation-condition-numeric_state.ts
  src/panels/config/automation/condition/types/ha-automation-condition-state.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-numeric_state.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-state.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/lovelace/create-element/create-row-element.ts
  src/panels/lovelace/entity-rows/hui-event-entity-row.ts
  src/state-summary/state-card-content.js
  src/state-summary/state-card-event.ts
  src/translations/en.json
Labels: cla-signed, needs design preview, Design

#15028 Implement forecast types for Weather
  src/data/weather.ts
  src/dialogs/more-info/controls/more-info-weather.ts
  src/panels/lovelace/cards/hui-weather-forecast-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/editor/config-elements/hui-weather-forecast-card-editor.ts
  src/panels/lovelace/entity-rows/hui-weather-entity-row.ts
  src/translations/en.json
Labels: cla-signed, wait for backend, no-stale

#17384 Enable cache in CI and locally for ESLint and Prettier
  .github/workflows/ci.yaml
  lint-staged.config.js
  package.json
Labels: cla-signed, Dependencies, GitHub Actions

#17385 Add device_class PH, including default icon
  gallery/src/pages/misc/entity-state.ts
  src/common/const.ts
  src/common/entity/get_states.ts
Labels: cla-signed, wait for backend, Design

#17398 Add My support for companion app settings
  src/panels/my/ha-panel-my.ts
  src/translations/en.json
Labels: cla-signed

#17401 Adjust default icon of event entity
  src/common/entity/domain_icon.ts
Labels: cla-signed

#17399 Complete service translation support in service dev tools
  src/panels/developer-tools/service/developer-tools-service.ts
Labels: cla-signed

#17438 Fix demo
  demo/src/stubs/config_entries.ts
  demo/src/stubs/persistent_notification.ts
  demo/src/stubs/recorder.ts
Labels: cla-signed, Demo

#17426 Fix unknown event type bug
  src/data/logbook.ts
Labels: cla-signed

#17440 Fix weather more info date display
  src/dialogs/more-info/controls/more-info-weather.ts
  src/panels/lovelace/cards/hui-weather-forecast-card.ts
Labels: cla-signed

#17442 Align event state display
  src/panels/lovelace/entity-rows/hui-event-entity-row.ts
  src/state-summary/state-card-event.ts
Labels: cla-signed

#17439 Don't show wrong info in logbook
  src/common/const.ts
  src/common/entity/compute_attribute_display.ts
  src/data/logbook.ts
Labels: cla-signed
