Repository home-assistant/frontend, pull requests merged in 2023-12, with the labels that each got.

#18854 Fix for energy cards not refreshing hourly
  src/data/energy.ts
Labels: cla-signed

#18868 Add particles to login, move forgot password link
  src/auth/ha-authorize.ts
  src/auth/ha-local-auth-flow.ts
  src/onboarding/ha-onboarding.ts
  src/resources/particles.ts
Labels: cla-signed

#18871 Make history split by device class option in history card
  src/data/history.ts
  src/panels/history/ha-panel-history.ts
  src/panels/lovelace/cards/hui-history-graph-card.ts
  src/panels/lovelace/cards/types.ts
Labels: cla-signed

#18885 Use resize-controller instead of container queries
  src/components/ha-control-number-buttons.ts
  src/panels/calendar/ha-panel-calendar.ts
  src/panels/todo/ha-panel-todo.ts
  src/state-control/climate/ha-state-control-climate-humidity.ts
  src/state-control/climate/ha-state-control-climate-temperature.ts
  src/state-control/humidifier/ha-state-control-humidifier-humidity.ts
  src/state-control/state-control-circular-slider-style.ts
  src/state-control/water_heater/ha-state-control-water_heater-temperature.ts
Labels: cla-signed

#18706 Fix use of "" on lock entity more info (use default code)
  src/data/lock.ts
  src/dialogs/enter-code/dialog-enter-code.ts
Labels: cla-signed

#18826 Hide battery level and battery icon in tile card
  src/panels/lovelace/editor/config-elements/hui-tile-card-editor.ts
Labels: cla-signed

#18886 Use resize polyfill from lit virtualizer
  package.json
  src/resources/compatibility.ts
  yarn.lock
Labels: cla-signed, Dependencies

#18891 Fix media control card background image
  src/panels/lovelace/cards/hui-media-control-card.ts
Labels: cla-signed

#18905 Confirmation dialog for todo clear checked items
  src/panels/lovelace/cards/hui-todo-list-card.ts
  src/translations/en.json
Labels: cla-signed

#18897 Consistent sortable cursor
  src/dialogs/area-filter/area-filter-dialog.ts
  src/panels/lovelace/cards/hui-todo-list-card.ts
Labels: cla-signed

#18914 wrap config validation
  src/panels/developer-tools/yaml_configuration/developer-yaml-config.ts
Labels: cla-signed

#18913 Add target humidity feature
  src/panels/lovelace/card-features/hui-target-humidity-card-feature.ts
  src/panels/lovelace/card-features/types.ts
  src/panels/lovelace/create-element/create-card-feature-element.ts
  src/panels/lovelace/editor/config-elements/hui-card-features-editor.ts
  src/translations/en.json
Labels: cla-signed

#18912 Add humidifier modes and toggle feature
  src/panels/lovelace/card-features/hui-humidifier-modes-card-feature.ts
  src/panels/lovelace/card-features/hui-humidifier-toggle-card-feature.ts
  src/panels/lovelace/card-features/types.ts
  src/panels/lovelace/cards/hui-humidifier-card.ts
  src/panels/lovelace/create-element/create-card-feature-element.ts
  src/panels/lovelace/editor/config-elements/hui-card-features-editor.ts
  src/panels/lovelace/editor/config-elements/hui-humidifier-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-humidifier-modes-card-feature-editor.ts
  src/translations/en.json
Labels: cla-signed

#18908 Reduce circular slider sensitivity when used in card
  src/components/ha-control-circular-slider.ts
  src/panels/lovelace/cards/hui-humidifier-card.ts
  src/panels/lovelace/cards/hui-thermostat-card.ts
  src/state-control/state-control-circular-slider-style.ts
Labels: cla-signed

#18923 Fix particles over alert in login screen
  src/auth/ha-authorize.ts
Labels: cla-signed

#18924 Add ellipsis to thermostat and humidifier card title
  src/panels/lovelace/cards/hui-humidifier-card.ts
  src/panels/lovelace/cards/hui-thermostat-card.ts
Labels: cla-signed

#18921 Reduce sensitivity of the circular slider on touch devices
  src/components/ha-control-circular-slider.ts
  src/panels/lovelace/cards/hui-humidifier-card.ts
  src/panels/lovelace/cards/hui-thermostat-card.ts
  src/state-control/climate/ha-state-control-climate-humidity.ts
  src/state-control/climate/ha-state-control-climate-temperature.ts
  src/state-control/humidifier/ha-state-control-humidifier-humidity.ts
  src/state-control/state-control-circular-slider-style.ts
  src/state-control/water_heater/ha-state-control-water_heater-temperature.ts
Labels: cla-signed

#18910 Force media player browser dialog re-layout after open animation
  src/components/media-player/dialog-media-player-browse.ts
Labels: cla-signed

#18922 Fix empty classmap in state control
  src/state-control/climate/ha-state-control-climate-humidity.ts
  src/state-control/climate/ha-state-control-climate-temperature.ts
  src/state-control/humidifier/ha-state-control-humidifier-humidity.ts
  src/state-control/water_heater/ha-state-control-water_heater-temperature.ts
Labels: cla-signed

#18925 20231206.0
  package.json
  pyproject.toml
  src/auth/ha-authorize.ts
  src/components/ha-control-circular-slider.ts
  src/components/media-player/dialog-media-player-browse.ts
  src/dialogs/more-info/controls/more-info-update.ts
  src/panels/config/integrations/dialog-add-integration.ts
  src/panels/config/integrations/integration-panels/zha/zha-add-devices-page.ts
  src/panels/lovelace/cards/hui-humidifier-card.ts
  src/panels/lovelace/cards/hui-starting-card.ts
  src/panels/lovelace/cards/hui-thermostat-card.ts
  src/state-control/climate/ha-state-control-climate-humidity.ts
  src/state-control/climate/ha-state-control-climate-temperature.ts
  src/state-control/humidifier/ha-state-control-humidifier-humidity.ts
  src/state-control/state-control-circular-slider-style.ts
  src/state-control/water_heater/ha-state-control-water_heater-temperature.ts
  yarn.lock
Labels: cla-signed, Dependencies

#18939 Revert fetching config flow after subscribe for progress
  src/dialogs/config-flow/dialog-data-entry-flow.ts
Labels: cla-signed

#18943 Center login content for every screen size
  src/html/authorize.html.template
  src/html/onboarding.html.template
Labels: cla-signed

#18944 Revert "Remove card features for humidifier and climate on default dashboard"
  src/panels/lovelace/common/generate-lovelace-config.ts
Labels: cla-signed

#18949 Format number attribute for media player
  src/common/entity/compute_attribute_display.ts
  src/data/entity_attributes.ts
Labels: cla-signed

#18955 Fix area in device picker
  src/components/device/ha-device-picker.ts
Labels: cla-signed

#18962 20231208.1
  package.json
  pyproject.toml
  src/common/entity/compute_attribute_display.ts
  src/components/device/ha-device-picker.ts
  src/components/ha-selector/ha-selector-number.ts
  src/data/entity_attributes.ts
  src/dialogs/config-flow/dialog-data-entry-flow.ts
  src/html/authorize.html.template
  src/html/onboarding.html.template
  src/panels/lovelace/cards/hui-tile-card.ts
  src/panels/lovelace/common/generate-lovelace-config.ts
  yarn.lock
Labels: cla-signed, Dependencies

#18964 Hide climate mode control on default dashboard if there is only one hvac mode
  src/panels/lovelace/common/generate-lovelace-config.ts
Labels: cla-signed

#18963 Add dropdown style to hvac_modes feature
  src/panels/lovelace/card-features/hui-climate-hvac-modes-card-feature.ts
  src/panels/lovelace/card-features/types.ts
  src/panels/lovelace/editor/config-elements/hui-climate-hvac-modes-card-feature-editor.ts
  src/translations/en.json
Labels: cla-signed

#18969 Fix label when there is no target
  src/state-control/climate/ha-state-control-climate-humidity.ts
  src/state-control/climate/ha-state-control-climate-temperature.ts
  src/state-control/humidifier/ha-state-control-humidifier-humidity.ts
  src/state-control/water_heater/ha-state-control-water_heater-temperature.ts
Labels: cla-signed

#18971 20231208.2
  pyproject.toml
  src/panels/lovelace/card-features/hui-climate-hvac-modes-card-feature.ts
  src/panels/lovelace/card-features/types.ts
  src/panels/lovelace/common/generate-lovelace-config.ts
  src/panels/lovelace/editor/config-elements/hui-climate-hvac-modes-card-feature-editor.ts
  src/panels/todo/ha-panel-todo.ts
  src/state-control/climate/ha-state-control-climate-humidity.ts
  src/state-control/climate/ha-state-control-climate-temperature.ts
  src/state-control/humidifier/ha-state-control-humidifier-humidity.ts
  src/state-control/water_heater/ha-state-control-water_heater-temperature.ts
  src/translations/en.json
Labels: cla-signed

#18986 Don't leave empty arrays in the service control target
  src/components/ha-service-control.ts
Labels: cla-signed

#18989 Sort default dashboard area cards by alphabetical order if no order specified
  src/data/area_registry.ts
Labels: cla-signed

#19023 Fix Github Action labeler configuration
  .github/labeler.yml
Labels: cla-signed

#19036 Fixing issue #10581 Automation Debug Trace Graph not displaying right in Safari
  src/components/trace/hat-graph-node.ts
Labels: cla-signed

#19041 No supervisor message: fix typo
  src/translations/en.json
Labels: cla-signed

#19040 Assist, no wake word: point docs link to wake word installation proce…
  src/panels/config/voice-assistants/assist-pipeline-detail/assist-pipeline-detail-wakeword.ts
Labels: cla-signed

#19021 Fix hide legend toggle in stats graph editor
  src/components/chart/statistics-chart.ts
Labels: cla-signed

#19022 Add a safe mode item to the github issue template checkist
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: cla-signed

#19031 Fix missing tooltips in energy-usage-graph
  src/panels/lovelace/cards/energy/hui-energy-usage-graph-card.ts
Labels: cla-signed

#19043 Optional boolean service field defaults to `false`
  src/components/ha-service-control.ts
Labels: cla-signed

#19032 Minor tweak to Z-Wave JS Config Dashboard layout
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-config-dashboard.ts
  src/translations/en.json
Labels: cla-signed

#18929 Replace more polymer paper inputs and remove paper-input style attributes
  src/panels/config/integrations/integration-panels/zha/zha-add-devices-page.ts
  src/panels/config/integrations/integration-panels/zha/zha-add-group-page.ts
  src/panels/config/integrations/integration-panels/zha/zha-cluster-attributes.ts
  src/panels/config/integrations/integration-panels/zha/zha-cluster-commands.ts
  src/panels/config/integrations/integration-panels/zha/zha-device-card.ts
  src/panels/developer-tools/state/developer-tools-state.ts
  src/panels/developer-tools/statistics/developer-tools-statistics.ts
  src/resources/codemirror.ts
Labels: cla-signed

#18864 Localize state condition in automation editor
  src/data/automation_i18n.ts
  src/translations/en.json
Labels: cla-signed

#19026 Fix date-range-picker overflow on energy dashboard small screen
  src/components/date-range-picker.ts
  src/panels/energy/ha-panel-energy.ts
Labels: cla-signed

#19075 Add empty page to automation/script/scene config
  src/layouts/hass-tabs-subpage-data-table.ts
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/scene/ha-scene-dashboard.ts
  src/panels/config/script/ha-script-picker.ts
  src/translations/en.json
Labels: cla-signed

#19078 Fix empty classmap for thermostat card
  src/state-control/climate/ha-state-control-climate-temperature.ts
Labels: cla-signed

#18862 Automation traces localization
  src/components/trace/ha-trace-path-details.ts
  src/panels/config/automation/ha-automation-trace.ts
  src/translations/en.json
Labels: cla-signed

#19077 Fix step any in number selector
  src/components/ha-selector/ha-selector-number.ts
  src/components/ha-selector/ha-selector-selector.ts
Labels: cla-signed

#18932 Add possibility to define group id manually for ZHA
  src/data/zha.ts
  src/panels/config/integrations/integration-panels/zha/zha-add-group-page.ts
  src/translations/en.json
Labels: cla-signed

#18945 Localize date-range-picker
  src/common/datetime/localize_date.ts
  src/components/date-range-picker.ts
  src/components/ha-date-range-picker.ts
Labels: cla-signed

#19079 Add option to show current humidity on humidifier card
  src/components/ha-big-number.ts
  src/panels/lovelace/cards/hui-humidifier-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/editor/config-elements/hui-humidifier-card-editor.ts
  src/state-control/humidifier/ha-state-control-humidifier-humidity.ts
  src/state-control/state-control-circular-slider-style.ts
  src/translations/en.json
Labels: cla-signed

#19088 Clear Area picker when "Add new area" was canceled
  src/components/ha-area-picker.ts
Labels: cla-signed

#19102 Make disabled sliders properly visible
  src/components/ha-slider.ts
Labels: cla-signed

#19095 Update text on empty automation/script/scene pages
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/scene/ha-scene-dashboard.ts
  src/panels/config/script/ha-script-picker.ts
  src/translations/en.json
Labels: cla-signed

#19094 Add climate fan mode feature to thermostat & tile cards
  gallery/src/pages/lovelace/thermostat-card.ts
  gallery/src/pages/more-info/climate.ts
  src/panels/lovelace/card-features/hui-climate-fan-modes-card-feature.ts
  src/panels/lovelace/card-features/types.ts
  src/panels/lovelace/create-element/create-card-feature-element.ts
  src/panels/lovelace/editor/config-elements/hui-card-features-editor.ts
  src/panels/lovelace/editor/config-elements/hui-climate-fan-modes-card-feature-editor.ts
  src/panels/lovelace/editor/config-elements/hui-thermostat-card-editor.ts
  src/translations/en.json
Labels: cla-signed, Feature, Design

#19081 Add descriptions to automation page sections
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/automation/manual-automation-editor.ts
  src/panels/config/script/ha-script-editor.ts
  src/translations/en.json
Labels: cla-signed

#19086 Group add automation elements in dialog
  src/components/ha-list-item.ts
  src/data/action.ts
  src/data/automation.ts
  src/data/condition.ts
  src/data/integration.ts
  src/data/trigger.ts
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/action/ha-automation-action.ts
  src/panels/config/automation/action/types/ha-automation-action-condition.ts
  src/panels/config/automation/add-automation-element-dialog.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/panels/config/automation/condition/ha-automation-condition.ts
  src/panels/config/automation/show-add-automation-element-dialog.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/panels/config/automation/trigger/ha-automation-trigger.ts
  src/panels/config/integrations/ha-config-integration-page.ts
  src/translations/en.json
Labels: cla-signed

#19107 Add description and due support to todo lists
  src/components/ha-check-list-item.ts
  src/data/todo.ts
  src/panels/lovelace/cards/hui-todo-list-card.ts
  src/panels/todo/dialog-todo-item-editor.ts
  src/panels/todo/ha-panel-todo.ts
  src/panels/todo/show-dialog-todo-item-editor.ts
  src/translations/en.json
Labels: cla-signed

#19118 Add valve to switch_as_x domains
  src/panels/config/entities/entity-registry-settings-editor.ts
Labels: cla-signed

#19121 Add automation picker descriptions
  src/translations/en.json
Labels: cla-signed

#19122 Store height and width of dialog, autofocus searchbar
  src/panels/config/automation/action/ha-automation-action.ts
  src/panels/config/automation/add-automation-element-dialog.ts
  src/panels/config/automation/condition/ha-automation-condition.ts
Labels: cla-signed

#19133 Add Oxford comma
  src/translations/en.json
Labels: cla-signed

#19132 HVAC in demo - fix typo
  gallery/src/data/demo_states.js
Labels: cla-signed, Design

#19124 Fix entities sort for hidden/readonly
  src/panels/config/entities/ha-config-entities.ts
  src/translations/en.json
Labels: cla-signed

#19117 Fix trailing energy gaps, refactor chart options
  src/panels/lovelace/cards/energy/common/energy-chart-options.ts
  src/panels/lovelace/cards/energy/hui-energy-gas-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-solar-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-usage-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-water-graph-card.ts
Labels: cla-signed

#19110 Add update actions card feature
  gallery/src/pages/more-info/update.ts
  src/data/update.ts
  src/dialogs/more-info/controls/more-info-update.ts
  src/dialogs/update_backup/dialog-update-backup.ts
  src/dialogs/update_backup/show-update-backup-dialog.ts
  src/panels/lovelace/card-features/hui-update-actions-card-feature.ts
  src/panels/lovelace/card-features/types.ts
  src/panels/lovelace/create-element/create-card-feature-element.ts
  src/panels/lovelace/editor/config-elements/hui-card-features-editor.ts
  src/panels/lovelace/editor/config-elements/hui-update-actions-card-feature-editor.ts
  src/translations/en.json
Labels: cla-signed, Design

#19134 Various RTL fixes
  src/components/ha-check-list-item.ts
  src/components/ha-list-item.ts
  src/components/ha-settings-row.ts
  src/components/ha-two-pane-top-app-bar-fixed.ts
  src/dialogs/voice-command-dialog/ha-voice-command-dialog.ts
  src/panels/lovelace/cards/hui-todo-list-card.ts
  src/panels/lovelace/cards/hui-weather-forecast-card.ts
Labels: cla-signed

#19111 Show +/- volume buttons for media players which support VOLUME_SET
  src/data/media-player.ts
  src/dialogs/more-info/controls/more-info-media_player.ts
  src/panels/lovelace/entity-rows/hui-media-player-entity-row.ts
Labels: cla-signed

#19143 Increase battery column width
  src/panels/config/devices/ha-config-devices-dashboard.ts
Labels: cla-signed

#18983 Circular progress improvement in update area
  src/panels/config/dashboard/ha-config-updates.ts
  src/translations/en.json
Labels: cla-signed

#19150 Todo list layout fixes
  src/panels/calendar/dialog-calendar-event-editor.ts
  src/panels/todo/dialog-todo-item-editor.ts
  src/panels/todo/ha-panel-todo.ts
Labels: cla-signed

#19152 Fix dialog headers
  src/components/ha-dialog.ts
  src/panels/calendar/dialog-calendar-event-detail.ts
  src/panels/calendar/dialog-calendar-event-editor.ts
  src/panels/todo/dialog-todo-item-editor.ts
Labels: cla-signed

#19153 Only focus search when not in fullscreen dialog
  src/panels/config/automation/add-automation-element-dialog.ts
  src/panels/config/integrations/dialog-add-integration.ts
Labels: cla-signed

#19154 Fix ha-combo-box helper text not displaying text
  src/components/ha-combo-box.ts
Labels: cla-signed

#19155 Add QR code element
  .github/workflows/ci.yaml
  hassio/src/dialogs/datadisk/dialog-hassio-datadisk.ts
  src/components/ha-markdown-element.ts
  src/components/ha-markdown.ts
  src/components/ha-qr-code.ts
  src/panels/config/automation/manual-automation-editor.ts
  src/panels/config/storage/dialog-move-datadisk.ts
  src/panels/config/tags/dialog-tag-detail.ts
  src/resources/markdown-worker.ts
Labels: cla-signed, Supervisor, GitHub Actions

#19158 Revert hide automation desc in advanced mode
  src/panels/config/automation/manual-automation-editor.ts
Labels: cla-signed

#19159 Fix self referencing translation
  src/translations/en.json
Labels: cla-signed

#19167 Address feedback of automation editor
  src/components/ha-list-item.ts
  src/data/action.ts
  src/panels/config/automation/add-automation-element-dialog.ts
Labels: cla-signed

#19160 Small automation editor fixes
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/scene/ha-scene-dashboard.ts
  src/panels/config/script/ha-script-picker.ts
  src/translations/en.json
Labels: cla-signed

#19168 Keep todo item selected when checked/unchecked
  src/panels/lovelace/cards/hui-todo-list-card.ts
  src/panels/todo/dialog-todo-item-editor.ts
  src/translations/en.json
Labels: cla-signed

#19169 Update sortable styling
  src/dialogs/area-filter/area-filter-dialog.ts
  src/panels/config/automation/action/ha-automation-action.ts
  src/panels/config/automation/action/types/ha-automation-action-choose.ts
  src/panels/config/automation/condition/ha-automation-condition.ts
  src/panels/config/automation/trigger/ha-automation-trigger.ts
  src/panels/config/helpers/forms/ha-input_select-form.ts
  src/panels/lovelace/cards/hui-todo-list-card.ts
  src/panels/lovelace/components/hui-entity-editor.ts
  src/panels/lovelace/editor/config-elements/hui-card-features-editor.ts
  src/panels/lovelace/editor/hui-entities-card-row-editor.ts
  src/resources/ha-sortable-style.ts
Labels: cla-signed

#19170 20231228.0
  pyproject.toml
  src/components/ha-list-item.ts
  src/data/action.ts
  src/dialogs/area-filter/area-filter-dialog.ts
  src/panels/config/automation/action/ha-automation-action.ts
  src/panels/config/automation/action/types/ha-automation-action-choose.ts
  src/panels/config/automation/add-automation-element-dialog.ts
  src/panels/config/automation/condition/ha-automation-condition.ts
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/automation/manual-automation-editor.ts
  src/panels/config/automation/trigger/ha-automation-trigger.ts
  src/panels/config/helpers/forms/ha-input_select-form.ts
  src/panels/config/scene/ha-scene-dashboard.ts
  src/panels/config/script/ha-script-picker.ts
  src/panels/lovelace/cards/hui-todo-list-card.ts
  src/panels/lovelace/components/hui-entity-editor.ts
  src/panels/lovelace/editor/config-elements/hui-card-features-editor.ts
  src/panels/lovelace/editor/hui-entities-card-row-editor.ts
  src/panels/todo/dialog-todo-item-editor.ts
  src/resources/ha-sortable-style.ts
  src/translations/en.json
Labels: cla-signed

#19179 Exclude hidden entities from scenes
  src/panels/config/scene/ha-scene-editor.ts
Labels: cla-signed

#19187 Fix play media action not shown
  src/panels/config/automation/add-automation-element-dialog.ts
Labels: cla-signed

#19188 dont allow UI editor when templates are used in repeat
  src/panels/config/automation/action/types/ha-automation-action-repeat.ts
Labels: cla-signed

#19189 Use username in example on empty automation page
  src/components/media-player/ha-browse-media-tts.ts
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/automation/manual-automation-editor.ts
  src/translations/en.json
Labels: cla-signed

#19184 Fix iteration index when displaying changed variables
  src/components/trace/ha-trace-path-details.ts
Labels: cla-signed

#19185 Improve message when an automation step was not executed
  src/components/trace/ha-trace-path-details.ts
  src/translations/en.json
Labels: cla-signed

#19186 Fix display of variables tab when automation step not executed
  src/components/trace/ha-trace-path-details.ts
Labels: cla-signed

#19200 Localize some strings in integration panel
  src/panels/config/integrations/dialog-add-integration.ts
  src/translations/en.json
Labels: cla-signed

#19197 Sort domains correctly, scroll to top on back
  src/panels/config/automation/add-automation-element-dialog.ts
Labels: cla-signed

#19198 Only make count field template
  src/panels/config/automation/action/types/ha-automation-action-repeat.ts
Labels: cla-signed

#19201 Allow to clear due date
  src/components/ha-date-input.ts
  src/components/ha-dialog-date-picker.ts
  src/data/todo.ts
  src/panels/todo/dialog-todo-item-editor.ts
  src/translations/en.json
Labels: cla-signed
