Repository home-assistant/frontend, pull requests merged in 2023-02, with the labels that each got.

#14019 Fix RTL icon placement
  src/components/entity/ha-entity-picker.ts
  src/components/ha-button.ts
  src/components/ha-combo-box.ts
  src/panels/config/automation/action/ha-automation-action.ts
  src/panels/config/automation/action/types/ha-automation-action-choose.ts
  src/panels/config/automation/condition/ha-automation-condition.ts
  src/panels/config/automation/trigger/ha-automation-trigger.ts
  src/panels/config/logs/ha-config-logs.ts
  src/panels/lovelace/editor/config-elements/hui-tile-card-features-editor.ts
  src/panels/media-browser/ha-bar-media-player.ts
Labels: hacktoberfest, cla-signed, hacktoberfest-accepted

#15305 Revert "Allow overriding a sensor's precision"
  src/data/entity_registry.ts
  src/panels/config/entities/entity-registry-settings.ts
  src/translations/en.json
Labels: cla-signed

#15301 Add streaming to history panel
  src/components/chart/state-history-chart-timeline.ts
  src/components/chart/state-history-charts.ts
  src/data/history.ts
  src/panels/history/ha-panel-history.ts
Labels: cla-signed

#15304 Remove default commission buttons on Matter config panel (#15304)Co-authored-by: Bram Kragten <mail@bramkragten.nl>
  src/common/config/version.ts
  src/panels/config/integrations/integration-panels/matter/matter-config-panel.ts
Labels: cla-signed

#15307 20230201.0
  package.json
  pyproject.toml
  src/common/config/version.ts
  src/components/chart/state-history-chart-timeline.ts
  src/components/chart/state-history-charts.ts
  src/components/entity/ha-entity-picker.ts
  src/components/ha-button.ts
  src/components/ha-combo-box.ts
  src/data/entity_registry.ts
  src/data/history.ts
  src/panels/config/automation/action/ha-automation-action.ts
  src/panels/config/automation/action/types/ha-automation-action-choose.ts
  src/panels/config/automation/condition/ha-automation-condition.ts
  src/panels/config/automation/trigger/ha-automation-trigger.ts
  src/panels/config/entities/entity-registry-settings.ts
  src/panels/config/integrations/integration-panels/matter/matter-config-panel.ts
  src/panels/config/logs/ha-config-logs.ts
  src/panels/history/ha-panel-history.ts
  src/panels/lovelace/editor/config-elements/hui-tile-card-features-editor.ts
  src/panels/media-browser/ha-bar-media-player.ts
  src/translations/en.json
  yarn.lock
Labels: cla-signed

#15322 Fix ES5 build and fix polyfill of Intl.Locale
  build-scripts/bundle.js
  demo/src/ha-demo.ts
  package.json
  src/common/datetime/first_weekday.ts
  src/common/translations/localize.ts
  src/components/ha-form/ha-form.ts
  src/html/authorize.html.template
  src/html/index.html.template
  src/html/onboarding.html.template
  src/panels/lovelace/header-footer/hui-graph-header-footer.ts
  src/resources/compatibility.ts
  yarn.lock
Labels: cla-signed

#15323 20230202.0
  build-scripts/bundle.js
  demo/src/ha-demo.ts
  package.json
  pyproject.toml
  src/common/datetime/first_weekday.ts
  src/common/translations/localize.ts
  src/components/ha-form/ha-form.ts
  src/components/ha-selector/ha-selector-icon.ts
  src/html/authorize.html.template
  src/html/index.html.template
  src/html/onboarding.html.template
  src/panels/lovelace/editor/config-elements/hui-button-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-entity-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-generic-entity-row-editor.ts
  src/panels/lovelace/editor/config-elements/hui-light-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-sensor-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-statistic-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-tile-card-editor.ts
  src/panels/lovelace/header-footer/hui-graph-header-footer.ts
  src/resources/compatibility.ts
  yarn.lock
Labels: cla-signed

#15325 Fix a coloring issue with climate states
  src/components/entity/state-badge.ts
  src/panels/lovelace/cards/hui-button-card.ts
  src/panels/lovelace/cards/hui-entity-card.ts
Labels: cla-signed

#15339 Rename zwave_js ws API command
  src/data/zwave_js.ts
Labels: cla-signed

#14947 Bump @fullcalendar to version 6.1.1
  .github/dependabot.yml
  package.json
  src/panels/calendar/ha-full-calendar.ts
  src/panels/config/helpers/forms/ha-schedule-form.ts
  src/panels/lovelace/cards/hui-tile-card.ts
  src/panels/lovelace/editor/config-elements/hui-weather-forecast-card-editor.ts
  yarn.lock
Labels: cla-signed, dependencies

#15365 Add "add matter device" link to add integration dialog
  src/common/integrations/protocolIntegrationPicked.ts
  src/data/matter.ts
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/panels/config/integrations/dialog-add-integration.ts
  src/panels/config/integrations/ha-domain-integrations.ts
  src/panels/config/integrations/ha-integration-card.ts
  src/panels/config/integrations/integration-panels/matter/dialog-matter-add-device.ts
  src/panels/config/integrations/integration-panels/matter/matter-config-panel.ts
  src/panels/config/integrations/integration-panels/matter/show-dialog-add-matter-device.ts
  src/translations/en.json
Labels: cla-signed

#15334 Add eslint-plugin-lit-a11y and fix some errors
  .eslintrc.json
  package.json
  src/components/ha-clickable-list-item.ts
  src/components/ha-file-upload.ts
  src/panels/lovelace/editor/header-footer-editor/hui-dialog-create-headerfooter.ts
  yarn.lock
Labels: cla-signed, Accessibility, dependencies

#15326 Missing parenthesis breaks map tooltip format
  src/panels/lovelace/cards/hui-map-card.ts
Labels: cla-signed

#15288 Update create helper dialog
  src/components/ha-dialog.ts
  src/panels/config/helpers/dialog-helper-detail.ts
Labels: cla-signed

#15372 Add my support for matter
  src/common/integrations/protocolIntegrationPicked.ts
  src/panels/config/integrations/ha-config-integrations.ts
  src/panels/config/integrations/integration-panels/matter/matter-add-device.ts
  src/panels/config/integrations/integration-panels/matter/matter-config-dashboard.ts
  src/panels/config/integrations/integration-panels/matter/matter-config-panel.ts
  src/panels/my/ha-panel-my.ts
Labels: cla-signed

#15274 Rerun layoutOptions when input_select options change
  src/panels/lovelace/entity-rows/hui-input-select-entity-row.ts
  src/state-summary/state-card-input_select.ts
Labels: cla-signed

#15379 Use right variable name for light card
  src/panels/lovelace/cards/hui-light-card.ts
Labels: cla-signed

#15380 Bump babel (#15380
  package.json
  yarn.lock
Labels: cla-signed

#15286 Update create automation dialog
  src/components/ha-blueprint-picker.ts
  src/data/blueprint.ts
  src/panels/config/automation/dialog-new-automation.ts
  src/translations/en.json
Labels: cla-signed

#15394 Add tile card to gallery
  gallery/src/pages/lovelace/tile-card.markdown
  gallery/src/pages/lovelace/tile-card.ts
  src/components/tile/ha-tile-info.ts
  src/panels/lovelace/cards/hui-tile-card.ts
Labels: cla-signed, needs design preview

#15382 Move refresh logs button to top
  src/panels/config/logs/error-log-card.ts
  src/panels/config/logs/ha-config-logs.ts
  src/panels/config/logs/system-log-card.ts
Labels: cla-signed

#15363 Allow overriding a sensor's display precision
  demo/src/ha-demo.ts
  gallery/src/pages/misc/integration-card.ts
  src/common/entity/compute_state_display.ts
  src/common/number/format_number.ts
  src/components/entity/ha-state-label-badge.ts
  src/data/entity_registry.ts
  src/panels/config/entities/entity-registry-settings.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/lovelace/cards/hui-entity-card.ts
  src/panels/lovelace/common/has-changed.ts
  src/translations/en.json
  test/common/string/format_number.ts
Labels: cla-signed

#15428 Fix stats data being fetched for all entities when there are no energy/water stat ids
  src/data/energy.ts
Labels: cla-signed

#15439 Fix custom card documentation url
  src/panels/lovelace/create-element/create-element-base.ts
  src/panels/lovelace/editor/get-card-documentation-url.ts
Labels: cla-signed

#15425 Remove firmware target from zwave_js firmware upload UI
  src/data/zwave_js.ts
  src/panels/config/integrations/integration-panels/zwave_js/dialog-zwave_js-update-firmware-node.ts
  src/translations/en.json
Labels: cla-signed

#15410 Use enum for media player features
  src/components/ha-selector/ha-selector-media.ts
  src/data/media-player.ts
  src/dialogs/more-info/controls/more-info-media_player.ts
  src/panels/config/cloud/account/dialog-cloud-tts-try.ts
  src/panels/lovelace/cards/hui-media-control-card.ts
  src/panels/lovelace/entity-rows/hui-media-player-entity-row.ts
  src/panels/media-browser/browser-media-player.ts
  src/panels/media-browser/ha-bar-media-player.ts
Labels: cla-signed

#15321 Add slight hysteresis to chart height to prevent scrollbar juddering
  src/components/chart/ha-chart-base.ts
Labels: cla-signed

#15446 Various RTL fixes
  gallery/src/pages/components/ha-alert.markdown
  src/components/ha-alert.ts
  src/components/ha-textarea.ts
  src/panels/config/automation/ha-automation-trace.ts
Labels: cla-signed

#15399 Make minor workflow revisions and fix dedupe precommit
  .github/workflows/cast_deployment.yaml
  .github/workflows/ci.yaml
  .github/workflows/demo_deployment.yaml
  .github/workflows/design_deployment.yaml
  .github/workflows/design_preview.yaml
  lint-staged.config.js
Labels: cla-signed

#15337 Add restart dialog
  src/dialogs/restart/dialog-restart.ts
  src/dialogs/restart/show-dialog-restart.ts
  src/panels/config/core/ha-config-system-navigation.ts
  src/panels/config/hardware/ha-config-hardware.ts
  src/translations/en.json
Labels: cla-signed, Noteworthy, backend merged

#15458 Fix typo from restart dialog (whitch -> which)
  src/translations/en.json
Labels: cla-signed

#15452 More alarm arming options in more-info dialog
  src/data/alarm_control_panel.ts
  src/dialogs/more-info/controls/more-info-alarm_control_panel.ts
Labels: cla-signed

#15464 Fix typo in water consumption description
  src/translations/en.json
Labels: cla-signed

#15473 Fix initial scroll inside more info dialog
  src/dialogs/more-info/ha-more-info-dialog.ts
Labels: cla-signed

#15474 Add basic Thread network overview page
  src/data/thread.ts
  src/panels/config/integrations/integration-panels/thread/thread-config-panel.ts
  src/translations/en.json
Labels: cla-signed

#15395 Use filter_entity and filter_attribute context
  src/panels/config/automation/condition/types/ha-automation-condition-numeric_state.ts
  src/panels/config/automation/condition/types/ha-automation-condition-state.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-numeric_state.ts
  src/panels/lovelace/editor/config-elements/hui-weather-forecast-card-editor.ts
Labels: cla-signed

#15302 Add filter options to entity and device selectors
  src/common/array/ensure-array.ts
  src/components/device/ha-device-picker.ts
  src/components/ha-area-picker.ts
  src/components/ha-areas-picker.ts
  src/components/ha-selector/ha-selector-area.ts
  src/components/ha-selector/ha-selector-device.ts
  src/components/ha-selector/ha-selector-entity.ts
  src/components/ha-selector/ha-selector-target.ts
  src/components/ha-selector/ha-selector.ts
  src/components/ha-target-picker.ts
  src/data/selector.ts
Labels: cla-signed

#15459 Add support for buffering state in media browser
  src/data/media-player.ts
  src/panels/media-browser/browser-media-player.ts
  src/panels/media-browser/ha-bar-media-player.ts
Labels: cla-signed

#15476 Add better focus style for tile card when theme use box-shadow
  src/components/ha-bar-slider.ts
  src/components/ha-bar-switch.ts
  src/panels/lovelace/cards/hui-tile-card.ts
Labels: cla-signed

#15448 Compact more info header
  hassio/src/dialogs/network/dialog-hassio-network.ts
  src/components/ha-header-bar.ts
  src/dialogs/more-info/ha-more-info-dialog.ts
  src/panels/config/cloud/google-assistant/cloud-google-assistant.ts
  src/panels/config/devices/device-detail/ha-device-entities-card.ts
  src/panels/config/entities/entity-registry-settings.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/helpers/ha-config-helpers.ts
  src/panels/config/network/supervisor-hostname.ts
  src/panels/config/network/supervisor-network.ts
  src/state/more-info-mixin.ts
  src/translations/en.json
Labels: cla-signed

#15292 Support for timestamp sensors in time trigger automation UI
  src/panels/config/automation/condition/types/ha-automation-condition-time.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-time.ts
  src/translations/en.json
Labels: cla-signed

#15485 Convert tile button into more generic button
  gallery/src/pages/components/ha-bar-button.markdown
  gallery/src/pages/components/ha-bar-button.ts
  src/components/ha-bar-button-group.ts
  src/components/ha-bar-button.ts
  src/panels/lovelace/tile-features/hui-cover-open-close-tile-feature.ts
  src/panels/lovelace/tile-features/hui-cover-tilt-tile-feature.ts
  src/panels/lovelace/tile-features/hui-vacuum-commands-tile-feature.ts
Labels: cla-signed, needs design preview

#14970 Render target picker combo-box in overlaying menu surface
  src/components/device/ha-device-picker.ts
  src/components/device/ha-devices-picker.ts
  src/components/ha-area-picker.ts
  src/components/ha-target-picker.ts
  src/panels/history/ha-panel-history.ts
  src/panels/logbook/ha-panel-logbook.ts
Labels: cla-signed

#15508 Rename bar components to control components
  gallery/src/pages/components/ha-bar-button.markdown
  gallery/src/pages/components/ha-bar-slider.markdown
  gallery/src/pages/components/ha-bar-switch.markdown
  gallery/src/pages/components/ha-control-button.markdown
  gallery/src/pages/components/ha-control-button.ts
  gallery/src/pages/components/ha-control-slider.markdown
  gallery/src/pages/components/ha-control-slider.ts
  gallery/src/pages/components/ha-control-switch.markdown
  gallery/src/pages/components/ha-control-switch.ts
  src/components/ha-control-button-group.ts
  src/components/ha-control-button.ts
  src/components/ha-control-slider.ts
  src/components/ha-control-switch.ts
  src/components/tile/ha-tile-slider.ts
  src/panels/lovelace/tile-features/hui-cover-open-close-tile-feature.ts
  src/panels/lovelace/tile-features/hui-cover-tilt-tile-feature.ts
  src/panels/lovelace/tile-features/hui-vacuum-commands-tile-feature.ts
Labels: cla-signed, needs design preview

#15511 Fix area name in target picker
  src/components/ha-target-picker.ts
Labels: cla-signed

#15509 Block target picker from adding badly formatted entity (fix history crash)
  src/components/ha-target-picker.ts
Labels: cla-signed

#15486 Fix promise constructors with returns
  .eslintrc.json
  src/components/data-table/ha-data-table.ts
  src/components/ha-related-items.ts
  src/data/update.ts
  src/dialogs/more-info/controls/more-info-climate.ts
  src/dialogs/more-info/controls/more-info-humidifier.ts
  src/onboarding/ha-onboarding.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-edit-card.ts
  src/panels/media-browser/ha-bar-media-player.ts
  src/state/translations-mixin.ts
Labels: cla-signed

#15487 Rtl fixes feb23
  gallery/src/pages/components/ha-tip.ts
  src/components/ha-tip.ts
  src/dialogs/quick-bar/ha-quick-bar.ts
  src/layouts/hass-tabs-subpage-data-table.ts
  src/panels/config/dashboard/ha-config-dashboard.ts
  src/panels/developer-tools/state/developer-tools-state.js
  src/panels/lovelace/editor/select-view/hui-dialog-select-view.ts
Labels: cla-signed

#15383 Allow for custom submit button text in data flows
  src/dialogs/config-flow/show-dialog-config-flow.ts
  src/dialogs/config-flow/show-dialog-data-entry-flow.ts
  src/dialogs/config-flow/show-dialog-options-flow.ts
  src/dialogs/config-flow/step-flow-form.ts
  src/panels/config/repairs/show-dialog-repair-flow.ts
Labels: cla-signed, backend merged

#15512 Add reload all service to quick bar and dev tools
  src/dialogs/quick-bar/ha-quick-bar.ts
  src/panels/developer-tools/yaml_configuration/developer-yaml-config.ts
  src/translations/en.json
Labels: cla-signed

#15338 Update ZWaveJSNodeStatus interface and firmware logic
  src/data/zwave_js.ts
  src/panels/config/devices/device-detail/integration-elements/zwave_js/device-actions.ts
Labels: cla-signed

#15422 Fix errors in duration data processing in Automation UI Editor
  src/common/datetime/create_duration_data.ts
  src/panels/config/automation/condition/types/ha-automation-condition-state.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-state.ts
Labels: cla-signed

#15290 Fix map sizing in grids and h-stacks
  src/panels/lovelace/cards/hui-map-card.ts
Labels: cla-signed

#15514 Add message when no preferred network
  src/panels/config/integrations/integration-panels/thread/thread-config-panel.ts
  src/translations/en.json
Labels: cla-signed

#15497 Resync thermostat card setpoint values if service call fails
  src/panels/lovelace/cards/hui-thermostat-card.ts
Labels: cla-signed

#15516 Bump webpack to v5.72.1 and tweak stats scripts
  demo/script/size_stats
  package.json
  script/size_stats
  yarn.lock
Labels: cla-signed, dependencies

#15230 Update ZWaveJSController interface
  src/data/zwave_js.ts
Labels: cla-signed

#15526 Bump babel (#15526
  package.json
  src/panels/lovelace/cards/hui-thermostat-card.ts
  yarn.lock
Labels: cla-signed

#15411 Add support for custom tile features (#15411
  src/common/structs/is-custom-type.ts
  src/data/lovelace_custom_cards.ts
  src/panels/lovelace/cards/hui-tile-card.ts
  src/panels/lovelace/create-element/create-element-base.ts
  src/panels/lovelace/editor/config-elements/hui-entities-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-tile-card-features-editor.ts
  src/panels/lovelace/editor/get-card-documentation-url.ts
  src/panels/lovelace/tile-features/hui-cover-open-close-tile-feature.ts
  src/panels/lovelace/tile-features/hui-cover-tilt-tile-feature.ts
  src/panels/lovelace/tile-features/hui-light-brightness-tile-feature.ts
  src/panels/lovelace/tile-features/hui-vacuum-commands-tile-feature.ts
  src/panels/lovelace/tile-features/tile-features.ts
  src/panels/lovelace/types.ts
Labels: cla-signed

#15528 Fix a typo: Add OpenTread Border Router
  src/translations/en.json
Labels: cla-signed

#15527 Bump formatjs intl polyfills
  package.json
  yarn.lock
Labels: cla-signed

#15530 Use new restart dialog in dev tools
  src/dialogs/restart/dialog-restart.ts
  src/panels/developer-tools/yaml_configuration/developer-yaml-config.ts
  src/translations/en.json
Labels: cla-signed

#15532 Use @egjs/hammerjs
  package.json
  src/components/ha-control-slider.ts
  yarn.lock
Labels: cla-signed

#15533 fix more info history tooltips
  src/dialogs/more-info/ha-more-info-dialog.ts
Labels: cla-signed

#15534 Add `for` to UI for template trigger
  src/data/automation.ts
  src/data/automation_i18n.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-template.ts
  src/translations/en.json
Labels: cla-signed

#15535 bump eslint
  package.json
  yarn.lock
Labels: cla-signed

#15537 Fix double defined cloud-account
  demo/src/custom-cards/ha-demo-card.ts
  demo/src/ha-demo.ts
  hassio/src/addon-store/hassio-addon-repository.ts
  hassio/src/addon-store/hassio-addon-store.ts
  src/auth/ha-auth-flow.ts
  src/auth/ha-authorize.ts
  src/auth/ha-pick-auth-provider.ts
  src/components/buttons/ha-call-api-button.ts
  src/components/ha-icon-next.ts
  src/components/ha-icon-prev.ts
  src/components/ha-label-badge.ts
  src/components/ha-service-picker.ts
  src/components/ha-toast.ts
  src/panels/calendar/ha-full-calendar.ts
  src/panels/config/cloud/account/cloud-account.ts
  src/panels/lovelace/ha-panel-lovelace.ts
  src/panels/lovelace/hui-root.ts
  src/panels/map/ha-panel-map.ts
Labels: cla-signed

#15482 More info light redesign
  package.json
  src/components/ha-control-slider.ts
  src/components/ha-control-switch.ts
  src/dialogs/more-info/components/ha-more-info-state-header.ts
  src/dialogs/more-info/components/ha-more-info-toggle.ts
  src/dialogs/more-info/components/lights/ha-more-info-light-brightness.ts
  src/dialogs/more-info/components/lights/ha-more-info-view-light-color-picker.ts
  src/dialogs/more-info/components/lights/show-view-light-color-picker.ts
  src/dialogs/more-info/const.ts
  src/dialogs/more-info/controls/more-info-light.ts
  src/dialogs/more-info/ha-more-info-dialog.ts
  src/dialogs/more-info/ha-more-info-info.ts
  src/dialogs/more-info/state_more_info_control.ts
  src/translations/en.json
  yarn.lock
Labels: cla-signed, Noteworthy

#15541 Center icon in md-icon-button
  src/dialogs/more-info/controls/more-info-light.ts
Labels: cla-signed

#15543 Add group support to new more info light
  src/data/group.ts
  src/dialogs/more-info/components/ha-more-info-toggle.ts
  src/dialogs/more-info/const.ts
  src/dialogs/more-info/controls/more-info-group.ts
  src/dialogs/more-info/controls/more-info-light.ts
  src/dialogs/more-info/ha-more-info-dialog.ts
  src/dialogs/more-info/ha-more-info-info.ts
Labels: cla-signed

#15548 Fix more info control assumed state color
  src/dialogs/more-info/components/ha-more-info-toggle.ts
  src/dialogs/more-info/controls/more-info-light.ts
Labels: cla-signed

#15546 Fix a bug in cast launcher that hassURL and path are incorrectly passed
  cast/src/launcher/layout/hc-cast.ts
Labels: cla-signed

#15545 Only show heading divider on more info dialog scroll
  src/components/ha-dialog.ts
  src/dialogs/more-info/ha-more-info-dialog.ts
Labels: cla-signed

#15547 Add more info for switch and siren
  src/dialogs/more-info/components/ha-more-info-toggle.ts
  src/dialogs/more-info/const.ts
  src/dialogs/more-info/controls/more-info-light.ts
  src/dialogs/more-info/controls/more-info-siren.ts
  src/dialogs/more-info/controls/more-info-switch.ts
  src/dialogs/more-info/state_more_info_control.ts
Labels: cla-signed

#15550 Add download diagnostics to Thread panel
  src/panels/config/integrations/integration-panels/thread/thread-config-panel.ts
Labels: cla-signed

#15515 Add support for zwave_js controller firmware updates
  src/data/zwave_js.ts
  src/panels/config/devices/device-detail/integration-elements/zwave_js/device-actions.ts
  src/panels/config/integrations/integration-panels/zwave_js/dialog-zwave_js-update-firmware-node.ts
  src/translations/en.json
Labels: cla-signed

#15517 Re-add target option to zwave-js firmware upload
  src/data/zwave_js.ts
  src/panels/config/integrations/integration-panels/zwave_js/dialog-zwave_js-update-firmware-node.ts
  src/translations/en.json
Labels: cla-signed, wait for backend

#15397 Allow energy dashboard to be cast
  cast/src/receiver/layout/hc-main.ts
  src/panels/energy/ha-panel-energy.ts
  src/panels/energy/strategies/energy-strategy.ts
  src/panels/lovelace/cards/energy/hui-energy-distribution-card.ts
  src/panels/lovelace/editor/config-elements/hui-entities-card-editor.ts
  src/panels/lovelace/entity-rows/types.ts
  src/panels/lovelace/special-rows/hui-cast-row.ts
Labels: cla-signed

#15553 Prefer regex literals over constructors
  .eslintrc.json
  demo/src/stubs/history.ts
  src/common/string/has-template.ts
  src/entrypoints/service_worker.ts
  src/fake_data/provide_hass.ts
Labels: cla-signed

#15564 Center new more info controls
  src/dialogs/more-info/components/ha-more-info-control-style.ts
  src/dialogs/more-info/components/lights/ha-more-info-view-light-color-picker.ts
  src/dialogs/more-info/const.ts
  src/dialogs/more-info/controls/more-info-group.ts
  src/dialogs/more-info/controls/more-info-light.ts
  src/dialogs/more-info/controls/more-info-siren.ts
  src/dialogs/more-info/controls/more-info-switch.ts
  src/dialogs/more-info/ha-more-info-dialog.ts
  src/dialogs/more-info/ha-more-info-info.ts
Labels: cla-signed

#15569 Add haptic support to light toggle button
  src/dialogs/more-info/controls/more-info-light.ts
Labels: cla-signed

#15571 Add margin between logbook and history
  src/dialogs/more-info/ha-more-info-history-and-logbook.ts
Labels: cla-signed

#15549 Use entity registry display api
  gallery/src/pages/automation/describe-action.ts
  src/common/entity/compute_attribute_display.ts
  src/common/entity/compute_state_display.ts
  src/common/number/format_number.ts
  src/components/entity/ha-state-label-badge.ts
  src/components/ha-area-picker.ts
  src/components/ha-selector/ha-selector-area.ts
  src/components/ha-selector/ha-selector-attribute.ts
  src/components/ha-selector/ha-selector-device.ts
  src/components/ha-target-picker.ts
  src/components/trace/hat-trace-timeline.ts
  src/data/device_registry.ts
  src/data/entity_registry.ts
  src/data/script_i18n.ts
  src/dialogs/more-info/ha-more-info-dialog.ts
  src/dialogs/more-info/ha-more-info-settings.ts
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/script/ha-config-script.ts
  src/panels/config/script/ha-script-editor.ts
  src/panels/config/script/ha-script-picker.ts
  src/panels/config/script/ha-script-trace.ts
  src/panels/lovelace/cards/hui-gauge-card.ts
  src/panels/lovelace/common/generate-lovelace-config.ts
  src/state/connection-mixin.ts
  src/types.ts
Labels: cla-signed

#15566 Fix area picker
  src/components/ha-area-picker.ts
Labels: cla-signed

#15567 Add swipe gesture to control switch
  src/components/ha-control-switch.ts
Labels: cla-signed

#15574 Fix dialog stopping scrolling
  src/components/ha-dialog.ts
Labels: cla-signed

#15575 20230223.0
  .eslintrc.json
  cast/src/receiver/layout/hc-main.ts
  demo/src/stubs/history.ts
  gallery/src/pages/automation/describe-action.ts
  package.json
  pyproject.toml
  src/common/entity/compute_attribute_display.ts
  src/common/entity/compute_state_display.ts
  src/common/number/format_number.ts
  src/common/string/has-template.ts
  src/components/entity/ha-state-label-badge.ts
  src/components/ha-area-picker.ts
  src/components/ha-control-switch.ts
  src/components/ha-dialog.ts
  src/components/ha-gauge.ts
  src/components/ha-selector/ha-selector-area.ts
  src/components/ha-selector/ha-selector-attribute.ts
  src/components/ha-selector/ha-selector-device.ts
  src/components/ha-target-picker.ts
  src/components/trace/hat-trace-timeline.ts
  src/data/device_registry.ts
  src/data/entity_registry.ts
  src/data/script_i18n.ts
  src/data/thread.ts
  src/data/zwave_js.ts
  src/dialogs/more-info/components/ha-more-info-control-style.ts
  src/dialogs/more-info/components/lights/ha-more-info-view-light-color-picker.ts
  src/dialogs/more-info/const.ts
  src/dialogs/more-info/controls/more-info-group.ts
  src/dialogs/more-info/controls/more-info-light.ts
  src/dialogs/more-info/controls/more-info-siren.ts
  src/dialogs/more-info/controls/more-info-switch.ts
  src/dialogs/more-info/ha-more-info-dialog.ts
  src/dialogs/more-info/ha-more-info-history-and-logbook.ts
  src/dialogs/more-info/ha-more-info-info.ts
  src/dialogs/more-info/ha-more-info-settings.ts
  src/entrypoints/service_worker.ts
  src/fake_data/provide_hass.ts
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/integrations/integration-panels/zwave_js/dialog-zwave_js-update-firmware-node.ts
  src/panels/config/script/ha-config-script.ts
  src/panels/config/script/ha-script-editor.ts
  src/panels/config/script/ha-script-picker.ts
  src/panels/config/script/ha-script-trace.ts
  src/panels/energy/ha-panel-energy.ts
  src/panels/energy/strategies/energy-strategy.ts
  src/panels/lovelace/cards/energy/hui-energy-distribution-card.ts
  src/panels/lovelace/cards/hui-gauge-card.ts
  src/panels/lovelace/common/generate-lovelace-config.ts
  src/panels/lovelace/editor/config-elements/hui-entities-card-editor.ts
  src/panels/lovelace/entity-rows/types.ts
  src/panels/lovelace/special-rows/hui-cast-row.ts
  src/state/connection-mixin.ts
  src/translations/en.json
  src/types.ts
  yarn.lock
Labels: cla-signed

#15579 Fix all hardware button
  src/panels/config/hardware/ha-config-hardware.ts
Labels: cla-signed

#15577 Fix entity settings for entity with no entity reg
  src/dialogs/more-info/ha-more-info-dialog.ts
Labels: cla-signed

#15581 Get all entity reg categories
  src/state/connection-mixin.ts
Labels: cla-signed

#15588 20230224.0
  pyproject.toml
  src/dialogs/more-info/ha-more-info-dialog.ts
  src/panels/config/hardware/ha-config-hardware.ts
  src/state/connection-mixin.ts
  yarn.lock
Labels: cla-signed

#15610 Fix display precision label when unknown or unavailable
  src/panels/config/entities/entity-registry-settings.ts
Labels: cla-signed

#15604 Fix unsafe optional chaining
  .eslintrc.json
  src/panels/config/integrations/integration-panels/zha/dialog-zha-reconfigure-device.ts
  src/panels/lovelace/cards/hui-gauge-card.ts
Labels: cla-signed

#15603 Fix invalid style in password manager polyfill and ha-bar
  src/auth/ha-password-manager-polyfill.ts
  src/components/ha-bar.ts
Labels: cla-signed

#15590 Fix duplicate fetch of stats metadata in more info
  src/components/chart/statistics-chart.ts
  src/dialogs/more-info/ha-more-info-history.ts
Labels: cla-signed

#15611 Restart dialog improvements
  src/components/ha-list-item.ts
  src/dialogs/restart/dialog-restart.ts
  src/translations/en.json
Labels: cla-signed

#15617 Show all hardware button for supervised installs
  src/panels/config/hardware/ha-config-hardware.ts
  src/translations/en.json
Labels: cla-signed

#15597 Add --ha-label-badge-border-radius
  src/components/ha-label-badge.ts
Labels: cla-signed

#15619 Add delete and add thread dataset
  src/data/thread.ts
  src/panels/config/integrations/integration-panels/thread/thread-config-panel.ts
  src/translations/en.json
Labels: cla-signed

#15625 20230227.0
  .eslintrc.json
  package.json
  pyproject.toml
  src/auth/ha-password-manager-polyfill.ts
  src/common/const.ts
  src/common/entity/domain_icon.ts
  src/components/chart/statistics-chart.ts
  src/components/ha-bar.ts
  src/components/ha-label-badge.ts
  src/components/ha-list-item.ts
  src/data/thread.ts
  src/dialogs/more-info/ha-more-info-history.ts
  src/dialogs/restart/dialog-restart.ts
  src/panels/config/entities/entity-registry-settings.ts
  src/panels/config/hardware/ha-config-hardware.ts
  src/panels/config/integrations/integration-panels/thread/thread-config-panel.ts
  src/panels/config/integrations/integration-panels/zha/dialog-zha-reconfigure-device.ts
  src/panels/lovelace/cards/hui-gauge-card.ts
  src/translations/en.json
  yarn.lock
Labels: cla-signed

#15624 Minify HTML and CSS template literals
  build-scripts/bundle.js
  build-scripts/rollup.js
  build-scripts/webpack.js
  package.json
  yarn.lock
Labels: cla-signed, dependencies, Build

#15631 Temp patch to fix Rollup build
  build-scripts/rollup.js
Labels: cla-signed

#15591 Avoid fetching all stats metadata when there are no entities on the energy panel
  src/data/energy.ts
Labels: cla-signed

#15627 Avoid loading the whole entity registry for more info
  src/dialogs/more-info/ha-more-info-info.ts
Labels: cla-signed

#15623 Fix a hang in history graph card editor
  src/components/chart/state-history-chart-timeline.ts
Labels: cla-signed

#15622 Fix lock more info with attributes
  src/dialogs/more-info/controls/more-info-lock.ts
Labels: cla-signed
