Repository home-assistant/frontend, pull requests merged in 2024-10, with the labels that each got.

#22169 Use finishes_at in timer remaining calculation
  src/data/timer.ts
  test/common/entity/timer_time_remaining_test.ts
Labels: cla-signed

#22173 Use radio buttons for heading style
  src/panels/lovelace/editor/config-elements/hui-heading-card-editor.ts
Labels: hacktoberfest, cla-signed

#22176 Don't handle UI editor event when using yaml editor
  src/panels/lovelace/editor/hui-element-editor.ts
Labels: hacktoberfest, cla-signed

#22174 Add support for custom color display in color picker
  src/components/ha-color-picker.ts
Labels: hacktoberfest, cla-signed

#22177 Fix display elements field in heading badge editor
  src/panels/lovelace/editor/heading-badge-editor/hui-entity-heading-badge-editor.ts
Labels: hacktoberfest, cla-signed

#22178 Update update entity in voice flow
  src/dialogs/voice-assistant-setup/voice-assistant-setup-step-update.ts
Labels: hacktoberfest, cla-signed

#22182 Put rename entities in expandable when renaming device
  src/panels/config/devices/ha-config-device-page.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#22167 Await removal of statistics when fixing
  src/data/recorder.ts
  src/panels/config/repairs/ha-config-repairs.ts
  src/panels/developer-tools/statistics/developer-tools-statistics.ts
  src/panels/developer-tools/statistics/dialog-statistics-fix.ts
  src/panels/developer-tools/statistics/fix-statistics.ts
  src/panels/developer-tools/statistics/show-dialog-statistics-fix.ts
  src/panels/lovelace/editor/section-editor/hui-dialog-edit-section.ts
  src/panels/lovelace/editor/view-editor/hui-dialog-edit-view.ts
  src/translations/en.json
Labels: cla-signed

#22185 20241002.0
  package.json
  pyproject.toml
  src/components/ha-color-picker.ts
  src/data/recorder.ts
  src/data/timer.ts
  src/dialogs/voice-assistant-setup/voice-assistant-setup-step-update.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/config/repairs/ha-config-repairs.ts
  src/panels/developer-tools/statistics/developer-tools-statistics.ts
  src/panels/developer-tools/statistics/dialog-statistics-fix.ts
  src/panels/developer-tools/statistics/fix-statistics.ts
  src/panels/developer-tools/statistics/show-dialog-statistics-fix.ts
  src/panels/lovelace/editor/config-elements/hui-heading-card-editor.ts
  src/panels/lovelace/editor/heading-badge-editor/hui-entity-heading-badge-editor.ts
  src/panels/lovelace/editor/hui-element-editor.ts
  src/panels/lovelace/editor/section-editor/hui-dialog-edit-section.ts
  src/panels/lovelace/editor/view-editor/hui-dialog-edit-view.ts
  src/translations/en.json
  test/common/entity/timer_time_remaining_test.ts
  yarn.lock
Labels: hacktoberfest, cla-signed

#21813 Devtools statistics - new style, multi-select, & multi-delete
  src/components/data-table/ha-data-table.ts
  src/panels/developer-tools/statistics/developer-tools-statistics.ts
  src/translations/en.json
Labels: cla-signed

#22189 20241002.1
  pyproject.toml
  src/components/data-table/ha-data-table.ts
  src/panels/developer-tools/statistics/developer-tools-statistics.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#22183 Allow to transfer all Thread datasets with TLV
  src/data/thread.ts
  src/external_app/external_messaging.ts
  src/panels/config/integrations/integration-panels/thread/thread-config-panel.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#22190 Simplify create automation from device dialog
  src/data/automation.ts
  src/data/script.ts
  src/panels/config/automation/action/ha-automation-action.ts
  src/panels/config/automation/condition/ha-automation-condition.ts
  src/panels/config/automation/manual-automation-editor.ts
  src/panels/config/automation/trigger/ha-automation-trigger.ts
  src/panels/config/devices/device-detail/ha-device-actions-card.ts
  src/panels/config/devices/device-detail/ha-device-automation-card.ts
  src/panels/config/devices/device-detail/ha-device-automation-dialog.ts
  src/panels/config/devices/device-detail/ha-device-conditions-card.ts
  src/panels/config/devices/device-detail/ha-device-triggers-card.ts
  src/panels/config/script/manual-script-editor.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#22187 Alert user when auto update is enabled instead of hiding the button
  src/dialogs/more-info/controls/more-info-update.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#22193 Use heading card in demo dashboard
  demo/src/configs/sections/entities.ts
  demo/src/configs/sections/lovelace.ts
Labels: hacktoberfest, cla-signed, Demo

#22194 Fix hassio entrypoint
  hassio/src/entrypoint.js.template
Labels: hacktoberfest, cla-signed, Supervisor

#22191 Handle exceptions when subscribing from the event dev tool
  src/panels/developer-tools/event/event-subscribe-card.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#22196 handle unknown state for update voice assitant
  src/dialogs/voice-assistant-setup/voice-assistant-setup-step-update.ts
Labels: hacktoberfest, cla-signed

#22197 20241002.2
  demo/src/configs/sections/entities.ts
  demo/src/configs/sections/lovelace.ts
  hassio/src/entrypoint.js.template
  pyproject.toml
  src/data/automation.ts
  src/data/script.ts
  src/data/thread.ts
  src/dialogs/more-info/controls/more-info-update.ts
  src/dialogs/voice-assistant-setup/voice-assistant-setup-step-update.ts
  src/external_app/external_messaging.ts
  src/panels/config/automation/action/ha-automation-action.ts
  src/panels/config/automation/condition/ha-automation-condition.ts
  src/panels/config/automation/manual-automation-editor.ts
  src/panels/config/automation/trigger/ha-automation-trigger.ts
  src/panels/config/devices/device-detail/ha-device-actions-card.ts
  src/panels/config/devices/device-detail/ha-device-automation-card.ts
  src/panels/config/devices/device-detail/ha-device-automation-dialog.ts
  src/panels/config/devices/device-detail/ha-device-conditions-card.ts
  src/panels/config/devices/device-detail/ha-device-triggers-card.ts
  src/panels/config/integrations/integration-panels/thread/thread-config-panel.ts
  src/panels/config/script/manual-script-editor.ts
  src/panels/developer-tools/event/event-subscribe-card.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#22009 Use camera ws endpoint to get WebRTC config
  src/components/ha-web-rtc-player.ts
  src/data/camera.ts
  src/data/rtsp_to_webrtc.ts
Labels: cla-signed

#22204 Disable backdrop filter on Heading Card
  src/panels/lovelace/cards/hui-heading-card.ts
Labels: hacktoberfest, cla-signed

#22211 Update heading entity schema to allow empty entity id
  src/panels/lovelace/editor/heading-badge-editor/hui-entity-heading-badge-editor.ts
Labels: hacktoberfest, cla-signed

#22212 Fix potential undefined select element in color picker
  src/components/ha-color-picker.ts
Labels: hacktoberfest, cla-signed

#22213 Add temporary logging to webrtc player
  src/components/ha-web-rtc-player.ts
Labels: hacktoberfest, cla-signed

#22259 Fixup service/action when entity is picked in activate scene
  src/panels/config/automation/action/types/ha-automation-action-activate_scene.ts
Labels: hacktoberfest, cla-signed

#22274 Fix unused entities view
  src/panels/lovelace/common/compute-unused-entities.ts
Labels: hacktoberfest, cla-signed

#22275 Hide service dropdown for predefined actions in automations
  src/panels/config/automation/action/types/ha-automation-action-service.ts
Labels: hacktoberfest, cla-signed

#22271 Add minimal size for badges and cards in edit mode
  src/panels/lovelace/badges/hui-view-badges.ts
  src/panels/lovelace/sections/hui-grid-section.ts
Labels: hacktoberfest, cla-signed

#22249 Add support for relative start and end time displays in state-display
  src/state-display/state-display.ts
Labels: hacktoberfest, cla-signed

#22291 Fix drag and drop when using action and trigger selector
  src/components/ha-selector/ha-selector-action.ts
  src/components/ha-selector/ha-selector-trigger.ts
Labels: hacktoberfest, cla-signed

#22279 Fix ZHA group dashboard display on mobile
  src/panels/config/integrations/integration-panels/zha/zha-groups-dashboard.ts
Labels: hacktoberfest, cla-signed

#22294 Fix erroneous addition of `service:` key in `ha-automation-action-play_media` element
  src/panels/config/automation/action/types/ha-automation-action-play_media.ts
Labels: hacktoberfest, cla-signed

#22286 Update statistics issues from dev tools
  src/panels/developer-tools/statistics/developer-tools-statistics.ts
Labels: hacktoberfest, cla-signed

#22296 Revert "Fix drag and drop when using action and trigger selector"
  src/components/ha-selector/ha-selector-action.ts
  src/components/ha-selector/ha-selector-trigger.ts
Labels: hacktoberfest, cla-signed

#22318 Fix command selection for OTBRs without dataset
  src/panels/config/integrations/integration-panels/thread/thread-config-panel.ts
Labels: hacktoberfest, cla-signed, Bug Fix

#22273 Fix ha-selector-action drag and drop
  src/common/util/array-move.ts
Labels: hacktoberfest, cla-signed

#22322 Use default font for heading card
  src/panels/lovelace/cards/hui-heading-card.ts
Labels: hacktoberfest, cla-signed

#22308 fix(script/bootstrap): Improve missing Yarn error
  script/bootstrap
Labels: hacktoberfest, cla-signed

#22276 Improve zigbee remove device dialog
  src/panels/config/devices/device-detail/integration-elements/zha/device-actions.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#22323 Add hide completed option to hui-todo-list-card
  src/panels/lovelace/cards/hui-todo-list-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/editor/config-elements/hui-todo-list-editor.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#22272 Fix entity id setting on newly created scripts, handle update of enti…
  src/panels/config/script/ha-script-editor.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#22334 Fix a case where developer-tools/action can get stuck in an error loop
  src/panels/developer-tools/action/developer-tools-action.ts
Labels: hacktoberfest, cla-signed

#22332 Refine automation action search with ignoreLocation
  src/panels/config/automation/add-automation-element-dialog.ts
Labels: hacktoberfest, cla-signed

#21957 Add sensor offset to time trigger UI
  src/data/automation.ts
  src/data/automation_i18n.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-time.ts
  src/translations/en.json
Labels: cla-signed

#22277 Hide fields section when all fields inside are filtered
  src/components/ha-service-control.ts
Labels: hacktoberfest, cla-signed

#22348 Update build-system
  pyproject.toml
Labels: hacktoberfest, cla-signed, wait for backend

#22353 fix: correct typos in en.json file
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#22363 Fix tooltip firefox bug in persistent-notification-item
  src/dialogs/notifications/persistent-notification-item.ts
Labels: hacktoberfest, cla-signed

#22378 Prefer Thread border router instance name
  src/data/thread.ts
  src/panels/config/integrations/integration-panels/thread/thread-config-panel.ts
Labels: hacktoberfest, cla-signed, Feature

#22377 Forward change event in password field
  src/components/ha-password-field.ts
Labels: hacktoberfest, cla-signed

#22371 Update devtools/statistics for renamed issue type
  src/panels/developer-tools/statistics/developer-tools-statistics.ts
Labels: hacktoberfest, cla-signed

#22338 Update Assist config page
  src/dialogs/voice-assistant-setup/voice-assistant-setup-step-success.ts
  src/panels/config/voice-assistants/assist-pref.ts
  src/panels/config/voice-assistants/dialog-voice-assistant-pipeline-detail.ts
  src/panels/config/voice-assistants/show-dialog-voice-assistant-pipeline-detail.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#22387 Discovered integration: configure -> add
  src/panels/config/integrations/ha-config-flow-card.ts
  src/panels/config/integrations/ha-config-integration-page.ts
Labels: hacktoberfest, cla-signed

#22390 Fix type in matter integration translation "end_device"
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#22384 box-shadow for stack in panel: fix typo
  src/panels/lovelace/cards/hui-stack-card.ts
Labels: hacktoberfest, cla-signed

#22372 Change background for collapsible rows in data tables
  src/components/data-table/ha-data-table.ts
Labels: hacktoberfest, cla-signed

#22393 Updated design for integration icons
  src/panels/config/integrations/ha-integration-card.ts
  src/panels/config/integrations/ha-integration-list-item.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#22402 Fix small typographical issues in UI translations
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#22413 Improve card and badge edit mode
  src/panels/lovelace/badges/hui-view-badges.ts
  src/panels/lovelace/components/hui-badge-edit-mode.ts
  src/panels/lovelace/components/hui-card-edit-mode.ts
  src/panels/lovelace/components/hui-card-options.ts
  src/panels/lovelace/sections/hui-grid-section.ts
  src/panels/lovelace/views/hui-sections-view.ts
Labels: hacktoberfest, cla-signed

#22383 Fix translations for YAML-only alert when adding new integrations
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#22357 Hide integration logo on device page when load error occurs
  src/panels/config/devices/ha-config-device-page.ts
Labels: hacktoberfest, cla-signed

#22438 Change triggered by service to triggered by action
  src/common/translations/localize.ts
  src/data/logbook.ts
  src/panels/logbook/ha-logbook-renderer.ts
Labels: hacktoberfest, cla-signed

#22443 Fix zwave node config toggle switch
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-node-config.ts
Labels: hacktoberfest, cla-signed

#22434 Remove close_select_mode key from transladtions and corresponding code
  src/layouts/hass-tabs-subpage-data-table.ts
  src/panels/developer-tools/statistics/developer-tools-statistics.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#22447 Fix label filters from URL
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/panels/config/entities/ha-config-entities.ts
Labels: hacktoberfest, cla-signed

#22412 Center ha-toast
  src/components/ha-toast.ts
Labels: hacktoberfest, cla-signed

#22407 Fix integration configure on failed setup
  src/panels/config/integrations/ha-config-integration-page.ts
Labels: hacktoberfest, cla-signed

#22451 Place icon next to the text in control button
  src/components/ha-control-button.ts
Labels: hacktoberfest, cla-signed

#22458 Reduce margin between badges and cards
  src/panels/lovelace/views/hui-masonry-view.ts
  src/panels/lovelace/views/hui-sections-view.ts
  src/panels/lovelace/views/hui-sidebar-view.ts
Labels: hacktoberfest, cla-signed

#22320 Improve IP configuration UI
  src/data/hassio/network.ts
  src/panels/config/network/dialog-ip-detail.ts
  src/panels/config/network/show-ip-detail-dialog.ts
  src/panels/config/network/supervisor-network.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#22382 Use sections view when creating a new view
  src/panels/lovelace/components/hui-card-options.ts
  src/panels/lovelace/editor/view-editor/hui-dialog-edit-view.ts
  src/panels/lovelace/editor/view-editor/hui-view-editor.ts
  src/panels/lovelace/views/const.ts
  src/panels/lovelace/views/default-section.ts
  src/panels/lovelace/views/get-view-type.ts
  src/panels/lovelace/views/hui-view.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed, Noteworthy

#22461 Dont attempt to add devices to disabled zwave config
  src/common/integrations/protocolIntegrationPicked.ts
Labels: hacktoberfest, cla-signed

#22457 Fix old safari but for relative time
  src/components/ha-relative-time.ts
Labels: hacktoberfest, cla-signed

#22475 Fix Venezuela currency (VEF to VED)
  src/data/currency.ts
Labels: hacktoberfest, cla-signed

#22192 Reintroduce floor context
  gallery/src/pages/automation/describe-action.ts
  src/components/trace/hat-trace-timeline.ts
  src/data/context.ts
  src/data/script_i18n.ts
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/state/context-mixin.ts
Labels: hacktoberfest, cla-signed, Design

#22268 Add option to delete add-on config on uninstall
  hassio/src/addon-view/info/hassio-addon-info.ts
  src/data/hassio/addon.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed, Supervisor

#22476 Fix a crash in energy csv export
  src/panels/energy/ha-panel-energy.ts
Labels: hacktoberfest, cla-signed

#22486 Migrate assist device count to satellite entity
  src/panels/config/voice-assistants/assist-pref.ts
Labels: hacktoberfest, cla-signed

#22482 Fix invalid var references
  cast/src/launcher/layout/hc-layout.ts
  hassio/src/addon-view/config/hassio-addon-config.ts
  hassio/src/addon-view/info/hassio-addon-info.ts
  src/components/ha-card.ts
  src/components/ha-sidebar.ts
  src/panels/config/logs/error-log-card.ts
  src/panels/config/logs/system-log-card.ts
  src/panels/lovelace/cards/hui-calendar-card.ts
  src/panels/lovelace/editor/badge-editor/hui-badge-picker.ts
  src/panels/lovelace/editor/card-editor/hui-card-picker.ts
Labels: hacktoberfest, cla-signed, Supervisor, Cast

#22453 Add support for update entity's update_percentage state attribute
  src/data/update.ts
  src/dialogs/more-info/controls/more-info-update.ts
  src/dialogs/voice-assistant-setup/voice-assistant-setup-step-update.ts
Labels: hacktoberfest, cla-signed, backend merged

#22172 Config logs streaming
  hassio/src/addon-view/hassio-addon-dashboard.ts
  hassio/src/addon-view/log/hassio-addon-log-tab.ts
  hassio/src/addon-view/log/hassio-addon-logs.ts
  hassio/src/system/hassio-supervisor-log.ts
  src/components/ha-ansi-to-html.ts
  src/data/hassio/supervisor.ts
  src/panels/config/logs/dialog-download-logs.ts
  src/panels/config/logs/error-log-card.ts
  src/panels/config/logs/ha-config-logs.ts
  src/panels/config/logs/show-dialog-download-logs.ts
  src/state/connection-mixin.ts
  src/translations/en.json
  src/types.ts
  src/util/hass-call-api.ts
Labels: hacktoberfest, cla-signed, Supervisor, Backend Change Required

#22496 Fix issue #22450: Corrected two inaccurate messages
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#22500 Fix issue #22473: Fixed the typo
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#22499 Fix issue #22495: Corrected the broken grammar
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#22507 Fix zwave_js provisioned table for narrow
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-provisioned.ts
Labels: hacktoberfest, cla-signed

#22471 Improve Wifi configuration UI
  src/data/hassio/network.ts
  src/panels/config/network/supervisor-network.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#22501 Update picture glance card descriptions
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#22497 Streamline condition summary messages in automation editor
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#22532 Set "add card" button width to 1
  src/panels/lovelace/sections/hui-grid-section.ts
Labels: hacktoberfest, cla-signed

#22549 Fix a crash in compute-unused-entities
  src/panels/lovelace/common/compute-unused-entities.ts
Labels: hacktoberfest, cla-signed

#22543 Fix configStruct for conditional entities row
  src/panels/lovelace/editor/config-elements/hui-entities-card-editor.ts
Labels: hacktoberfest, cla-signed

#22042 Add hold_action to Tile card's visual config editor
  src/panels/lovelace/editor/config-elements/hui-tile-card-editor.ts
Labels: cla-signed

#21453 Add confirmations to some interactive entity-rows
  src/panels/lovelace/common/confirm-action.ts
  src/panels/lovelace/editor/structs/action-struct.ts
  src/panels/lovelace/editor/structs/entities-struct.ts
  src/panels/lovelace/entity-rows/hui-button-entity-row.ts
  src/panels/lovelace/entity-rows/hui-input-button-entity-row.ts
  src/panels/lovelace/entity-rows/hui-lock-entity-row.ts
  src/panels/lovelace/entity-rows/hui-scene-entity-row.ts
  src/panels/lovelace/entity-rows/hui-script-entity-row.ts
  src/panels/lovelace/entity-rows/types.ts
Labels: cla-signed

#22399 Allow to move card from other view to section view
  src/panels/lovelace/components/hui-card-options.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#22312 Make web rtc player ice resolving async
  src/components/ha-web-rtc-player.ts
  src/data/camera.ts
Labels: hacktoberfest, cla-signed

#22569 Show buttons in cover and valve more info if it supports position
  src/dialogs/more-info/controls/more-info-cover.ts
  src/dialogs/more-info/controls/more-info-valve.ts
Labels: hacktoberfest, cla-signed

#22528 Add select prev boots in error-log-card
  src/data/hassio/supervisor.ts
  src/panels/config/logs/dialog-download-logs.ts
  src/panels/config/logs/error-log-card.ts
  src/panels/config/logs/show-dialog-download-logs.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed, Backend Change Required

#22299 Fix enable checkbox in service field subsections
  src/components/ha-service-control.ts
Labels: hacktoberfest, cla-signed

#22392 Add outline to a label
  src/components/data-table/ha-data-table-labels.ts
  src/components/ha-labels-picker.ts
  src/panels/config/labels/ha-config-labels.ts
Labels: hacktoberfest, cla-signed

#22568 Fix header title padding
  src/components/ha-header-bar.ts
  src/components/ha-top-app-bar-fixed.ts
  src/components/ha-two-pane-top-app-bar-fixed.ts
Labels: hacktoberfest, cla-signed

#22574 Fix misalignment on "create person" page
  src/panels/config/person/ha-config-person.ts
Labels: hacktoberfest, cla-signed

#22521 Preserve device elements in automation when device is missing
  src/panels/config/automation/action/types/ha-automation-action-device_id.ts
  src/panels/config/automation/condition/types/ha-automation-condition-device.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-device.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#22485 Show loading spinner when waiting for backups (re)load
  hassio/src/backups/hassio-backups.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed, Supervisor

#22502 Improve more info update release note display
  hassio/src/update-available/update-available-card.ts
  src/components/ha-markdown.ts
  src/components/ha-settings-row.ts
  src/dialogs/more-info/const.ts
  src/dialogs/more-info/controls/more-info-update.ts
  src/dialogs/more-info/ha-more-info-info.ts
  src/translations/en.json
Labels: cla-signed, Supervisor

#22531 Add fixed background support in iOS and improve the way we set view background
  cast/src/launcher/layout/hc-cast.ts
  cast/src/receiver/layout/hc-lovelace.ts
  src/panels/energy/ha-panel-energy.ts
  src/panels/lovelace/editor/unused-entities/hui-unused-entities.ts
  src/panels/lovelace/hui-root.ts
  src/panels/lovelace/views/hui-view-container.ts
  src/panels/lovelace/views/hui-view.ts
Labels: hacktoberfest, cla-signed, Cast

#22576 Fix margins for disabled entities on a device card
  src/panels/config/devices/device-detail/ha-device-entities-card.ts
Labels: hacktoberfest, cla-signed

#22577 Fix a disabled entity row's height on a device card
  src/panels/config/devices/device-detail/ha-device-entities-card.ts
Labels: hacktoberfest, cla-signed

#21878 Shrink title space on mobile if needed
  src/layouts/hass-subpage.ts
Labels: cla-signed

#22479 fix(data-range-picker): select element is hard to read in dark mode
  src/components/date-range-picker.ts
Labels: hacktoberfest, cla-signed

#22580 Fix text-align in map marker
  src/components/map/ha-entity-marker.ts
Labels: hacktoberfest, cla-signed

#22379 Show local network URL used in Home Assistant URL settings
  src/components/ha-settings-row.ts
  src/data/network.ts
  src/panels/config/cloud/account/cloud-remote-pref.ts
  src/panels/config/network/ha-config-url-form.ts
  src/translations/en.json
  src/util/url.ts
Labels: hacktoberfest, cla-signed, wait for backend

#22429 Fix an infinite loop in automation numeric_state
  src/panels/config/automation/condition/types/ha-automation-condition-numeric_state.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-numeric_state.ts
Labels: hacktoberfest, cla-signed

#22587 Fix an uncaught error in ha-config-entities
  src/panels/config/entities/ha-config-entities.ts
Labels: hacktoberfest, cla-signed

#22411 Restore disabled entities to the statistics table
  src/panels/developer-tools/statistics/developer-tools-statistics.ts
Labels: hacktoberfest, cla-signed

#22585 Try both HLS and webRTC and pick best stream
  src/components/ha-camera-stream.ts
  src/components/ha-hls-player.ts
  src/components/ha-web-rtc-player.ts
  src/data/camera.ts
  src/panels/config/entities/editor-tabs/settings/entity-settings-helper-tab.ts
  src/panels/config/entities/entity-registry-settings-editor.ts
Labels: hacktoberfest, cla-signed

#22593 Fix height for horizontal-stack-card
  src/panels/lovelace/cards/hui-horizontal-stack-card.ts
Labels: hacktoberfest, cla-signed, Bug Fix

#22519 ZwaveJS: Resume adding a device if the page is refreshed
  src/panels/config/integrations/integration-panels/zwave_js/dialog-zwave_js-add-node.ts
  src/panels/config/integrations/integration-panels/zwave_js/dialog-zwave_js-remove-node.ts
  src/panels/config/integrations/integration-panels/zwave_js/show-dialog-zwave_js-remove-node.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-config-dashboard.ts
Labels: hacktoberfest, cla-signed, integration: zwave_js

#22596 update regex for check html
  build-scripts/gulp/download-translations.js
Labels: hacktoberfest, cla-signed, Build

#22589 Remove ripple for disabled entities on a device card
  src/panels/config/devices/device-detail/ha-device-entities-card.ts
Labels: hacktoberfest, cla-signed

#22578 Don't push a duplicate entry to select selector when filtering
  src/components/ha-selector/ha-selector-select.ts
Labels: hacktoberfest, cla-signed

#22594 Allow to convert a view to sections view
  src/data/lovelace.ts
  src/panels/lovelace/components/hui-card-edit-mode.ts
  src/panels/lovelace/components/hui-card-options.ts
  src/panels/lovelace/editor/view-editor/hui-dialog-edit-view.ts
  src/panels/lovelace/editor/view-editor/hui-view-editor.ts
  src/panels/lovelace/hui-root.ts
  src/panels/lovelace/sections/hui-grid-section.ts
  src/panels/lovelace/sections/hui-section.ts
  src/panels/lovelace/views/hui-sections-view.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#22366 Add precise resizing mode for card inside section
  src/components/ha-grid-size-picker.ts
  src/data/lovelace/config/card.ts
  src/panels/lovelace/cards/hui-card.ts
  src/panels/lovelace/common/compute-card-grid-size.ts
  src/panels/lovelace/editor/card-editor/hui-card-layout-editor.ts
  src/panels/lovelace/editor/structs/base-card-struct.ts
  src/panels/lovelace/sections/hui-grid-section.ts
  src/panels/lovelace/types.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed, Noteworthy

#22527 Add setting for enableing/disabling cloud ICE servers
  src/data/cloud.ts
  src/panels/config/cloud/account/cloud-account.ts
  src/panels/config/cloud/account/cloud-ice-servers-pref.ts
  src/panels/config/cloud/account/cloud-remote-pref.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed, backend merged

#22600 Add fallback for missing logs boot result.
  src/data/hassio/supervisor.ts
  src/panels/config/logs/dialog-download-logs.ts
  src/panels/config/logs/error-log-card.ts
Labels: hacktoberfest, cla-signed

#22606 Add theme variable for text in heading badge, fix font family
  src/components/ha-heading-badge.ts
Labels: hacktoberfest, cla-signed

#22609 Fix hassio backups translations
  hassio/src/backups/hassio-backups.ts
  src/layouts/hass-tabs-subpage-data-table.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed, Supervisor

#22610 Fix hassio repositories tooltip
  hassio/src/dialogs/repositories/dialog-hassio-repositories.ts
  src/components/ha-md-list-item.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed, Supervisor

#22611 Remove get layout options warning in console
  src/panels/lovelace/cards/hui-card.ts
Labels: hacktoberfest, cla-signed

#22613 20241031.0
  hassio/src/backups/hassio-backups.ts
  hassio/src/dialogs/repositories/dialog-hassio-repositories.ts
  package.json
  pyproject.toml
  src/components/ha-heading-badge.ts
  src/components/ha-md-list-item.ts
  src/data/hassio/supervisor.ts
  src/data/lovelace/config/action.ts
  src/layouts/hass-tabs-subpage-data-table.ts
  src/panels/config/logs/dialog-download-logs.ts
  src/panels/config/logs/error-log-card.ts
  src/panels/lovelace/cards/hui-card.ts
  src/panels/lovelace/common/handle-action.ts
  src/panels/lovelace/editor/structs/action-struct.ts
  src/translations/en.json
  yarn.lock
Labels: hacktoberfest, cla-signed, Supervisor
