Repository home-assistant/frontend, pull requests merged in 2024-01, with the labels that each got.

#19217 20240101.0
  package.json
  pyproject.toml
  src/components/ha-date-input.ts
  src/components/ha-dialog-date-picker.ts
  src/components/media-player/ha-browse-media-tts.ts
  src/components/trace/ha-trace-path-details.ts
  src/data/todo.ts
  src/panels/config/automation/action/types/ha-automation-action-repeat.ts
  src/panels/config/automation/add-automation-element-dialog.ts
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/automation/manual-automation-editor.ts
  src/panels/config/integrations/dialog-add-integration.ts
  src/panels/config/scene/ha-scene-editor.ts
  src/panels/todo/dialog-todo-item-editor.ts
  src/translations/en.json
  yarn.lock
Labels: cla-signed, Dependencies

#19223 Review on automation editor text
  src/translations/en.json
Labels: cla-signed

#19225 Automation editor tweaks
  src/data/condition.ts
  src/panels/config/automation/add-automation-element-dialog.ts
  src/panels/config/automation/condition/ha-automation-condition.ts
  src/panels/config/automation/condition/types/ha-automation-condition-device.ts
  src/panels/config/automation/show-add-automation-element-dialog.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-device.ts
Labels: cla-signed

#19203 Localize a device action string
  src/data/script_i18n.ts
  src/translations/en.json
Labels: cla-signed, localization

#19226 Remove references to "service call" from actions
  src/components/ha-service-control.ts
  src/data/script.ts
  src/data/script_i18n.ts
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/action/ha-automation-action.ts
  src/translations/en.json
Labels: cla-signed

#19227 Use brand icons in actions
  src/common/const.ts
  src/panels/config/automation/add-automation-element-dialog.ts
Labels: cla-signed

#19229 Change format of service description
  src/data/script_i18n.ts
  src/translations/en.json
Labels: cla-signed

#19232 New copy for device trigger in automation editor
  src/translations/en.json
Labels: cla-signed

#19233 Give todo and calendar edit static header
  src/panels/calendar/dialog-calendar-event-editor.ts
  src/panels/todo/dialog-todo-item-editor.ts
Labels: cla-signed

#19235 Move notification services to main list
  src/panels/config/automation/add-automation-element-dialog.ts
Labels: cla-signed

#19246 Set default values for required and disabled for labeled slider
  src/components/ha-labeled-slider.ts
Labels: cla-signed

#19234 20240102.0
  pyproject.toml
  src/common/const.ts
  src/components/ha-labeled-slider.ts
  src/components/ha-service-control.ts
  src/data/condition.ts
  src/data/script.ts
  src/data/script_i18n.ts
  src/panels/calendar/dialog-calendar-event-editor.ts
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/action/ha-automation-action.ts
  src/panels/config/automation/add-automation-element-dialog.ts
  src/panels/config/automation/condition/ha-automation-condition.ts
  src/panels/config/automation/condition/types/ha-automation-condition-device.ts
  src/panels/config/automation/show-add-automation-element-dialog.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-device.ts
  src/panels/config/entities/entity-registry-settings-editor.ts
  src/panels/todo/dialog-todo-item-editor.ts
  src/translations/en.json
Labels: cla-signed

#19255 Calculate used domains on open of action dialog
  src/panels/config/automation/add-automation-element-dialog.ts
Labels: cla-signed

#19256 20240103.0
  pyproject.toml
  src/panels/config/automation/add-automation-element-dialog.ts
Labels: cla-signed

#19257 Revert conditional rendering of condition
  src/data/condition.ts
  src/panels/config/automation/add-automation-element-dialog.ts
  src/panels/config/automation/condition/ha-automation-condition.ts
  src/panels/config/automation/show-add-automation-element-dialog.ts
Labels: cla-signed

#19258 20240103.1
  pyproject.toml
  src/data/condition.ts
  src/panels/config/automation/add-automation-element-dialog.ts
  src/panels/config/automation/condition/ha-automation-condition.ts
  src/panels/config/automation/show-add-automation-element-dialog.ts
Labels: cla-signed

#19259 Display edit button for climate fan mode feature
  src/panels/lovelace/editor/config-elements/hui-card-features-editor.ts
Labels: cla-signed

#19262 Fix checking todo item that dont support due date
  src/data/todo.ts
  src/panels/lovelace/cards/hui-todo-list-card.ts
  src/panels/todo/dialog-todo-item-editor.ts
Labels: cla-signed

#19137 Remove tile pointer/ripple/index when it has no action
  src/panels/lovelace/cards/hui-tile-card.ts
Labels: cla-signed, Tile card

#19263 20240103.3
  pyproject.toml
  src/data/todo.ts
  src/panels/lovelace/cards/hui-tile-card.ts
  src/panels/lovelace/cards/hui-todo-list-card.ts
  src/panels/lovelace/editor/config-elements/hui-card-features-editor.ts
  src/panels/todo/dialog-todo-item-editor.ts
Labels: cla-signed

#19264 Fix version bump script
  script/version_bump.js
Labels: cla-signed

#19266 Fix supervisor dev build
  build-scripts/gulp/translations.js
Labels: cla-signed, Build

#19267 Fix select view dialog
  src/panels/lovelace/editor/select-view/hui-dialog-select-view.ts
  src/translations/en.json
Labels: cla-signed

#19268 Fix circular progress size + fix bug in assist pipeline debug
  src/auth/ha-auth-textfield.ts
  src/components/media-player/ha-media-upload-button.ts
  src/panels/config/repairs/dialog-system-information.ts
  src/panels/config/voice-assistants/debug/assist-pipeline-run-debug.ts
  src/panels/config/voice-assistants/debug/assist-render-pipeline-run.ts
Labels: cla-signed

#19269 Fix turning valve on/off
  src/common/const.ts
  src/panels/lovelace/common/entity/turn-on-off-entity.ts
Labels: cla-signed

#19277 Update getStates to support valves
  src/common/entity/get_states.ts
Labels: cla-signed

#19278 fix valve entities row
  src/common/const.ts
  src/data/valve.ts
Labels: cla-signed

#19279 Remove overflow hidden from profile
  src/panels/profile/ha-panel-profile.ts
Labels: cla-signed

#19280 Fix due date when no time in certain timezones
  src/panels/lovelace/cards/hui-todo-list-card.ts
  src/panels/todo/dialog-todo-item-editor.ts
Labels: cla-signed

#19281 Fix thermostat and humidifier card rendering when off
  src/state-control/climate/ha-state-control-climate-temperature.ts
  src/state-control/humidifier/ha-state-control-humidifier-humidity.ts
  src/state-control/state-control-circular-slider-style.ts
Labels: cla-signed

#19284 20240104.0
  package.json
  pyproject.toml
  src/auth/ha-auth-textfield.ts
  src/common/const.ts
  src/common/entity/get_states.ts
  src/components/media-player/ha-media-upload-button.ts
  src/data/valve.ts
  src/panels/config/repairs/dialog-system-information.ts
  src/panels/config/voice-assistants/debug/assist-pipeline-run-debug.ts
  src/panels/config/voice-assistants/debug/assist-render-pipeline-run.ts
  src/panels/lovelace/cards/hui-todo-list-card.ts
  src/panels/lovelace/common/entity/turn-on-off-entity.ts
  src/panels/lovelace/editor/select-view/hui-dialog-select-view.ts
  src/panels/profile/ha-panel-profile.ts
  src/panels/todo/dialog-todo-item-editor.ts
  src/state-control/climate/ha-state-control-climate-temperature.ts
  src/state-control/humidifier/ha-state-control-humidifier-humidity.ts
  src/state-control/state-control-circular-slider-style.ts
  src/translations/en.json
  yarn.lock
Labels: cla-signed, Dependencies

#19292 Replace remaining paper inputs
  hassio/src/components/supervisor-backup-content.ts
  hassio/src/dialogs/network/dialog-hassio-network.ts
  hassio/src/dialogs/repositories/dialog-hassio-repositories.ts
  package.json
  yarn.lock
Labels: cla-signed, Supervisor, Dependencies

#19290 Fix for RTL in Supervisor dashboards
  hassio/src/dashboard/hassio-addons.ts
  hassio/src/dashboard/hassio-dashboard.ts
  hassio/src/supervisor-base-element.ts
Labels: cla-signed, Supervisor

#19289 Localize statistics datatable string
  src/panels/developer-tools/statistics/developer-tools-statistics.ts
  src/translations/en.json
Labels: cla-signed, localization

#19294 Add ha-sortable component
  src/components/ha-selector/ha-selector-select.ts
  src/components/ha-sidebar.ts
  src/components/ha-sortable.ts
  src/dialogs/area-filter/area-filter-dialog.ts
  src/dialogs/more-info/components/lights/ha-more-info-light-favorite-colors.ts
  src/panels/config/automation/action/ha-automation-action.ts
  src/panels/config/automation/action/types/ha-automation-action-choose.ts
  src/panels/config/automation/condition/ha-automation-condition.ts
  src/panels/config/automation/trigger/ha-automation-trigger.ts
  src/panels/config/helpers/forms/ha-input_select-form.ts
  src/panels/config/script/ha-script-fields.ts
  src/panels/lovelace/cards/hui-todo-list-card.ts
  src/panels/lovelace/components/hui-entity-editor.ts
  src/panels/lovelace/editor/config-elements/hui-card-features-editor.ts
  src/panels/lovelace/editor/hui-entities-card-row-editor.ts
  src/resources/ha-sidebar-edit-style.ts
Labels: cla-signed

#19207 Allow TLA for legacy build and remove static Intl polyfills
  build-scripts/webpack.cjs
  package.json
  src/resources/intl-polyfill-legacy.ts
  yarn.lock
Labels: cla-signed, Build

#19319 Better restrict applying dependencies label
  .github/labeler.yml
Labels: cla-signed, GitHub Actions

#19298 Cleanup else/default block when deleting all actions
  src/panels/config/automation/action/types/ha-automation-action-choose.ts
  src/panels/config/automation/action/types/ha-automation-action-if.ts
Labels: cla-signed

#19302 Start linting with lit-analyzer
  .github/workflows/ci.yaml
  lint-staged.config.js
  package.json
  tsconfig.json
Labels: cla-signed, GitHub Actions

#19173 Localize time pattern trigger in automation editor
  src/data/automation_i18n.ts
  src/translations/en.json
Labels: cla-signed, localization

#19296 Fix various missing component imports
  src/onboarding/onboarding-core-config.ts
  src/panels/calendar/dialog-calendar-event-detail.ts
  src/panels/calendar/dialog-calendar-event-editor.ts
  src/panels/config/core/ha-config-section-general.ts
  src/panels/todo/dialog-todo-item-editor.ts
Labels: cla-signed

#19329 Fix missing element tag definitions
  gallery/src/pages/automation/editor-condition.ts
  gallery/src/pages/automation/editor-trigger.ts
  gallery/src/pages/lovelace/media-player-row.ts
  gallery/src/pages/misc/util-long-press.ts
  hassio/src/addon-store/hassio-addon-repository.ts
  hassio/src/addon-store/hassio-addon-store.ts
  hassio/src/dashboard/hassio-update.ts
  src/auth/ha-authorize.ts
  src/auth/ha-pick-auth-provider.ts
  src/components/entity/ha-entity-toggle.ts
  src/components/ha-gauge.ts
  src/components/ha-qr-code.ts
  src/components/ha-selector/ha-selector-backup-location.ts
  src/components/ha-selector/ha-selector-tts-voice.ts
  src/components/ha-selector/ha-selector-ui-action.ts
  src/components/ha-selector/ha-selector-ui-color.ts
  src/components/ha-two-pane-top-app-bar-fixed.ts
  src/panels/config/devices/device-detail/integration-elements/zha/ha-device-info-zha.ts
  src/panels/config/entities/editor-tabs/settings/entity-settings-helper-tab.ts
  src/panels/config/helpers/ha-config-helpers.ts
  src/panels/config/integrations/integration-panels/matter/matter-config-dashboard.ts
  src/panels/config/integrations/integration-panels/mqtt/mqtt-config-panel.ts
  src/panels/config/integrations/integration-panels/zha/zha-add-group-page.ts
  src/panels/config/integrations/integration-panels/zha/zha-group-page.ts
  src/panels/config/integrations/integration-panels/zha/zha-network-visualization-page.ts
  src/panels/config/lovelace/dashboards/ha-config-lovelace-dashboards.ts
  src/panels/config/lovelace/resources/ha-config-lovelace-resources.ts
  src/panels/config/person/ha-config-person.ts
  src/panels/config/voice-assistants/ha-config-voice-assistants-assistants.ts
  src/panels/config/zone/ha-config-zone.ts
  src/panels/energy/strategies/energy-view-strategy.ts
  src/panels/logbook/ha-panel-logbook.ts
  src/panels/lovelace/badges/hui-entity-filter-badge.ts
  src/panels/lovelace/cards/hui-entity-filter-card.ts
  src/panels/lovelace/cards/hui-horizontal-stack-card.ts
  src/panels/lovelace/components/hui-generic-entity-row.ts
  src/panels/lovelace/ha-panel-lovelace.ts
  src/panels/lovelace/strategies/original-states-dashboard-strategy.ts
  src/panels/lovelace/strategies/original-states-view-strategy.ts
  src/state-summary/state-card-update.ts
  tsconfig.json
Labels: cla-signed, Supervisor, Design

#19330 Fix invalid directive bindings
  src/dialogs/generic/dialog-box.ts
  tsconfig.json
Labels: cla-signed

#19326 Remove Intl polyfill on connection and consistently resolve time zone
  src/common/datetime/format_date.ts
  src/common/datetime/format_date_time.ts
  src/common/datetime/format_time.ts
  src/common/datetime/localize_date.ts
  src/common/datetime/resolve-time-zone.ts
  src/onboarding/onboarding-core-config.ts
  src/panels/calendar/dialog-calendar-event-detail.ts
  src/panels/calendar/dialog-calendar-event-editor.ts
  src/panels/config/core/ha-config-section-general.ts
  src/panels/profile/ha-pick-time-zone-row.ts
  src/panels/todo/dialog-todo-item-editor.ts
  src/state/connection-mixin.ts
Labels: cla-signed

#19342 Use switch for valve in entity row
  src/components/entity/ha-entity-toggle.ts
  src/panels/lovelace/entity-rows/hui-valve-entity-row.ts
Labels: cla-signed

#19349 Fix incompatible number property types
  src/components/chart/state-history-charts.ts
  src/components/ha-big-number.ts
  src/components/ha-labeled-slider.ts
  src/components/ha-selector/ha-selector-boolean.ts
  src/components/ha-selector/ha-selector-number.ts
  src/state-summary/state-card-timer.ts
Labels: cla-signed

#19343 Fix unclosed HTML tags
  src/components/ha-label.ts
  src/panels/config/devices/device-detail/integration-elements/mqtt/dialog-mqtt-device-debug-info.ts
  src/panels/developer-tools/assist/developer-tools-assist.ts
  src/panels/developer-tools/debug/developer-tools-debug.ts
  tsconfig.json
Labels: cla-signed

#19355 Fix logs, dont require advanced mode, allow provider in url and my
  src/common/url/search-params.ts
  src/layouts/hass-subpage.ts
  src/panels/config/logs/ha-config-logs.ts
  src/panels/my/ha-panel-my.ts
  src/state/quick-bar-mixin.ts
  src/translations/en.json
Labels: cla-signed

#19301 Add page to list assist devices
  src/data/assist_pipeline.ts
  src/panels/config/voice-assistants/assist-pref.ts
  src/panels/config/voice-assistants/assist/ha-config-voice-assistants-assist-devices.ts
  src/panels/config/voice-assistants/ha-config-voice-assistants.ts
  src/translations/en.json
Labels: cla-signed

#19359 Assist devices: Move logic from column to data
  src/panels/config/voice-assistants/assist/ha-config-voice-assistants-assist-devices.ts
Labels: cla-signed

#19356 Load registries in core, wait them to be loaded before generating das…
  src/data/area_registry.ts
  src/data/device_registry.ts
  src/data/entity_registry.ts
  src/data/ws-area_registry.ts
  src/data/ws-device_registry.ts
  src/data/ws-entity_registry_display.ts
  src/entrypoints/core.ts
  src/panels/lovelace/ha-panel-lovelace.ts
Labels: cla-signed

#19354 Clean up local auth flow, preselect remember me
  src/auth/ha-auth-flow.ts
  src/auth/ha-authorize.ts
  src/auth/ha-local-auth-flow.ts
  src/data/person.ts
Labels: cla-signed

#19386 Fix nightly builds
  .github/workflows/nightly.yaml
Labels: cla-signed, GitHub Actions

#19391 Fix dependencies labeler
  .github/labeler.yml
Labels: cla-signed, GitHub Actions

#19397 Fix blank_before_percent
  src/common/entity/compute_state_display.ts
  src/common/translations/blank_before_percent.ts
  src/common/translations/blank_before_unit.ts
  src/components/ha-big-number.ts
  src/components/ha-control-number-buttons.ts
  src/state-control/climate/ha-state-control-climate-temperature.ts
Labels: cla-signed

#19394 RTL stack card fix
  src/panels/lovelace/cards/hui-horizontal-stack-card.ts
  src/panels/lovelace/editor/config-elements/hui-stack-card-editor.ts
Labels: cla-signed

#19396 Honor display_precision over duration-type format
  src/common/entity/compute_state_display.ts
Labels: cla-signed

#19390 Remove fire-dom-event from action struct
  src/panels/lovelace/editor/structs/action-struct.ts
Labels: cla-signed

#19363 Fix missing imports (1 of 2)
  gallery/src/pages/components/ha-expansion-panel.ts
  gallery/src/pages/date-time/date-time-numeric.ts
  gallery/src/pages/date-time/date-time-seconds.ts
  gallery/src/pages/date-time/date-time-short-year.ts
  gallery/src/pages/date-time/date-time-short.ts
  gallery/src/pages/date-time/date-time.ts
  gallery/src/pages/date-time/time-seconds.ts
  gallery/src/pages/date-time/time-weekday.ts
  gallery/src/pages/date-time/time.ts
  hassio/src/system/hassio-supervisor-log.ts
  src/components/ha-control-number-buttons.ts
  src/components/ha-icon-picker.ts
  src/components/ha-labeled-slider.ts
  src/panels/config/voice-assistants/cloud-google-pref.ts
  src/panels/developer-tools/assist/developer-tools-assist.ts
  src/panels/developer-tools/yaml_configuration/developer-yaml-config.ts
  src/panels/lovelace/editor/select-view/hui-dialog-select-view.ts
  src/panels/lovelace/entity-rows/hui-valve-entity-row.ts
  src/state-summary/state-card-alert.ts
Labels: cla-signed, Supervisor, needs design preview, Design

#19381 Cache Typescript runs for faster checks
  .github/workflows/ci.yaml
  tsconfig.json
Labels: cla-signed, GitHub Actions

#19378 Display that entity is disabled in more info
  src/dialogs/more-info/ha-more-info-info.ts
Labels: cla-signed

#19340 fix not showing base error bug
  src/dialogs/config-flow/show-dialog-options-flow.ts
Labels: cla-signed

#19376 Fix property visibility mismatches (1 of 2)
  gallery/src/ha-gallery.ts
  hassio/src/addon-view/config/hassio-addon-config.ts
  src/auth/ha-auth-flow.ts
  src/components/ha-file-upload.ts
  src/panels/config/dashboard/ha-config-updates.ts
  src/panels/config/integrations/integration-panels/zha/zha-config-dashboard.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-node-config.ts
  src/panels/config/users/ha-config-users.ts
  src/panels/lovelace/components/hui-action-editor.ts
  src/panels/lovelace/components/hui-entities-toggle.ts
  src/panels/lovelace/components/hui-entity-editor.ts
  src/panels/lovelace/components/hui-input-list-editor.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-create-card.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-delete-card.ts
  src/panels/lovelace/editor/header-footer-editor/hui-dialog-create-headerfooter.ts
  src/panels/lovelace/editor/hui-entities-card-row-editor.ts
Labels: cla-signed, Supervisor, Design

#19314 Replace some paper-items by list-item
  src/panels/config/cloud/account/cloud-account.ts
  src/panels/config/cloud/login/cloud-login.ts
  src/panels/config/devices/device-detail/ha-device-entities-card.ts
  src/panels/config/logs/system-log-card.ts
  src/panels/config/person/ha-config-person.ts
  src/panels/config/voice-assistants/ha-config-voice-assistants-assistants.ts
Labels: cla-signed

#19131 Custom device_classes for alert icons in Area Card
  src/panels/lovelace/cards/hui-area-card.ts
  src/panels/lovelace/editor/config-elements/hui-area-card-editor.ts
  src/translations/en.json
Labels: cla-signed

#19348 Fix complex attribute and expressionless property bindings
  src/components/ha-date-range-picker.ts
  src/panels/config/integrations/integration-panels/zwave_js/dialog-zwave_js-hard-reset-controller.ts
  src/panels/config/network/supervisor-network.ts
  src/panels/lovelace/card-features/hui-target-temperature-card-feature.ts
  tsconfig.json
Labels: cla-signed

#19367 Wrap descriptions in automation list descriptions
  src/components/ha-list-item-new.ts
  src/components/ha-list-new.ts
  src/panels/config/automation/add-automation-element-dialog.ts
Labels: cla-signed

#19408 Restrict adding todo list and calendars to admin users
  src/panels/calendar/ha-panel-calendar.ts
  src/panels/todo/ha-panel-todo.ts
Labels: cla-signed

#19417 Fix missing imports (2 of 2)
  src/components/ha-combo-box.ts
  src/components/ha-multi-textfield.ts
  src/components/ha-navigation-picker.ts
  src/components/ha-qr-code.ts
  src/components/ha-service-picker.ts
  src/dialogs/area-filter/area-filter-dialog.ts
  src/dialogs/config-flow/previews/entity-preview-row.ts
  src/onboarding/onboarding-analytics.ts
  src/onboarding/onboarding-location.ts
  src/onboarding/onboarding-welcome-link.ts
  src/panels/config/areas/dialog-area-registry-detail.ts
  src/panels/config/automation/condition/types/ha-automation-condition-trigger.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/config/helpers/forms/ha-timer-form.ts
  src/panels/config/integrations/integration-panels/zha/zha-group-page.ts
  src/panels/config/repairs/dialog-repairs-issue.ts
  src/panels/lovelace/editor/conditions/ha-card-condition-editor.ts
  src/panels/lovelace/editor/conditions/types/ha-card-condition-and.ts
  src/panels/lovelace/editor/conditions/types/ha-card-condition-or.ts
  tsconfig.json
Labels: cla-signed

#19414 Fix incorrect padding on bottom of empty list
  src/panels/lovelace/cards/hui-todo-list-card.ts
Labels: cla-signed

#19410 Use new mdi oscillating icon
  src/data/climate.ts
  src/data/icons/haOscillating.ts
  src/data/icons/haOscillatingOff.ts
  src/dialogs/more-info/controls/more-info-climate.ts
  src/dialogs/more-info/controls/more-info-fan.ts
Labels: cla-signed

#19419 Add per domain style for tile card image
  src/components/tile/ha-tile-image.ts
  src/panels/lovelace/cards/hui-tile-card.ts
Labels: cla-signed

#19300 Localize show_password in auth form
  src/auth/ha-auth-flow.ts
  src/auth/ha-auth-form.ts
  src/components/ha-form/ha-form-string.ts
  src/components/ha-form/ha-form.ts
Labels: cla-signed, localization

#19422 Don't show duplicates in statistics picker
  src/components/entity/ha-statistic-picker.ts
  src/components/entity/ha-statistics-picker.ts
Labels: cla-signed

#19429 Add title to grid card editor
  src/panels/lovelace/editor/config-elements/hui-grid-card-editor.ts
  src/translations/en.json
Labels: cla-signed

#19432 Fix boolean and nullable attribute bindings
  gallery/src/pages/components/ha-control-button.ts
  gallery/src/pages/components/ha-control-select.ts
  gallery/src/pages/components/ha-control-switch.ts
  src/components/data-table/ha-data-table.ts
  src/components/ha-control-number-buttons.ts
  src/components/ha-date-range-picker.ts
  src/panels/config/automation/add-automation-element-dialog.ts
  src/panels/lovelace/header-footer/hui-picture-header-footer.ts
  tsconfig.json
Labels: cla-signed, Design

#19421 Custom device_classes for Area Card sensors
  src/panels/lovelace/cards/hui-area-card.ts
  src/panels/lovelace/editor/config-elements/hui-area-card-editor.ts
  src/translations/en.json
Labels: cla-signed

#19434 Minor form localizations
  src/auth/ha-auth-form-string.ts
  src/components/ha-form/ha-form-float.ts
  src/components/ha-form/ha-form-integer.ts
  src/components/ha-form/ha-form-string.ts
  src/translations/en.json
Labels: cla-signed, localization

#19437 Compress static HTML/XML
  build-scripts/gulp/compress.js
Labels: cla-signed, Build

#19338 Automation nested drag and drop
  src/common/util/array-move.ts
  src/components/ha-selector/ha-selector-action.ts
  src/components/ha-selector/ha-selector-condition.ts
  src/components/ha-selector/ha-selector-trigger.ts
  src/components/ha-service-control.ts
  src/components/ha-sortable.ts
  src/data/selector.ts
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/action/ha-automation-action.ts
  src/panels/config/automation/action/types/ha-automation-action-choose.ts
  src/panels/config/automation/action/types/ha-automation-action-if.ts
  src/panels/config/automation/action/types/ha-automation-action-parallel.ts
  src/panels/config/automation/action/types/ha-automation-action-repeat.ts
  src/panels/config/automation/action/types/ha-automation-action-wait_for_trigger.ts
  src/panels/config/automation/blueprint-automation-editor.ts
  src/panels/config/automation/condition/ha-automation-condition-editor.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/panels/config/automation/condition/ha-automation-condition.ts
  src/panels/config/automation/condition/types/ha-automation-condition-logical.ts
  src/panels/config/automation/manual-automation-editor.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/panels/config/automation/trigger/ha-automation-trigger.ts
  src/panels/config/script/blueprint-script-editor.ts
  src/panels/config/script/manual-script-editor.ts
  src/state/reorder-mode-mixin.ts
  src/translations/en.json
  src/types.ts
Labels: cla-signed, Noteworthy

#19439 Lint for unknown tags and turn off unknow attribute check
  src/panels/lovelace/cards/hui-light-card.ts
  tsconfig.json
Labels: cla-signed

#19423 Avoid thermostat card interaction on scroll on touch devices
  src/components/ha-control-circular-slider.ts
  src/panels/lovelace/common/directives/action-handler-directive.ts
  src/state-control/state-control-circular-slider-style.ts
  src/util/is_touch.ts
Labels: cla-signed

#19443 Update cast idle logo
  cast/public/images/nabu-loves-hass.png
  cast/src/receiver/layout/hc-launch-screen.ts
Labels: cla-signed, Cast

#19448 Fix property visibility mismatches (2 of 2)
  gallery/src/components/demo-more-infos.ts
  hassio/src/dialogs/backup/dialog-hassio-backup-location.ts
  src/components/entity/ha-entity-attribute-picker.ts
  src/components/entity/ha-entity-state-picker.ts
  src/components/entity/state-badge.ts
  src/components/ha-date-range-picker.ts
  src/components/media-player/ha-media-player-browse.ts
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/cloud/dialog-cloud-certificate/dialog-cloud-certificate.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/integrations/ha-config-integrations.ts
  src/panels/config/integrations/integration-panels/zha/zha-groups-dashboard.ts
  src/panels/config/scene/ha-scene-dashboard.ts
  src/panels/lovelace/badges/hui-state-label-badge.ts
  src/panels/lovelace/cards/hui-calendar-card.ts
  src/panels/lovelace/cards/hui-picture-card.ts
  src/panels/lovelace/cards/hui-stack-card.ts
  src/panels/lovelace/cards/hui-weather-forecast-card.ts
  src/panels/lovelace/components/hui-conditional-base.ts
  src/panels/lovelace/components/hui-marquee.ts
  src/panels/lovelace/editor/view-editor/hui-view-visibility-editor.ts
  src/panels/lovelace/entity-rows/hui-humidifier-entity-row.ts
  src/panels/lovelace/ha-panel-lovelace.ts
  src/panels/lovelace/header-footer/hui-graph-header-footer.ts
  src/panels/lovelace/header-footer/hui-picture-header-footer.ts
  src/panels/media-browser/hui-dialog-web-browser-play-media.ts
  tsconfig.json
Labels: cla-signed, Supervisor, Design

#19452 Initialize more boolean properties
  src/components/ha-area-picker.ts
  src/components/ha-areas-picker.ts
  src/components/ha-attribute-value.ts
  src/components/ha-combo-box.ts
  src/components/ha-control-circular-slider.ts
  src/components/ha-control-select-menu.ts
  src/components/ha-control-switch.ts
  src/components/ha-multi-textfield.ts
  src/components/ha-service-control.ts
  src/components/trace/hat-graph-branch.ts
  src/components/trace/hat-graph-node.ts
  src/components/trace/hat-graph-spacer.ts
  src/onboarding/onboarding-welcome-link.ts
  src/panels/calendar/ha-panel-calendar.ts
  src/panels/config/automation/blueprint-automation-editor.ts
  src/panels/config/core/ha-config-system-navigation.ts
  src/panels/config/dashboard/ha-config-dashboard.ts
  src/panels/config/script/blueprint-script-editor.ts
  src/panels/history/ha-panel-history.ts
  src/panels/logbook/ha-panel-logbook.ts
  src/panels/lovelace/editor/conditions/ha-card-conditions-editor.ts
  src/panels/media-browser/ha-bar-media-player.ts
  src/panels/media-browser/ha-panel-media-browser.ts
  src/state-control/climate/ha-state-control-climate-humidity.ts
  src/state-control/climate/ha-state-control-climate-temperature.ts
  src/state-control/humidifier/ha-state-control-humidifier-humidity.ts
  src/state-control/water_heater/ha-state-control-water_heater-temperature.ts
Labels: cla-signed

#19406 Add support for icon translations
  gallery/src/pages/misc/entity-state.ts
  src/common/entity/attribute_icon_path.ts
  src/common/entity/state_icon_path.ts
  src/components/entity/ha-entity-picker.ts
  src/components/entity/ha-state-label-badge.ts
  src/components/entity/ha-statistic-picker.ts
  src/components/entity/state-badge.ts
  src/components/entity/state-info.ts
  src/components/ha-attribute-icon.ts
  src/components/ha-control-select-menu.ts
  src/components/ha-related-items.ts
  src/components/ha-selector/ha-selector-icon.ts
  src/components/ha-state-icon.ts
  src/components/ha-target-picker.ts
  src/data/context.ts
  src/data/icons.ts
  src/dialogs/more-info/controls/more-info-climate.ts
  src/layouts/home-assistant.ts
  src/panels/calendar/ha-panel-calendar.ts
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/dashboard/ha-config-updates.ts
  src/panels/config/devices/device-detail/ha-device-entities-card.ts
  src/panels/config/energy/components/ha-energy-device-settings.ts
  src/panels/config/entities/entity-registry-settings-editor.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/helpers/ha-config-helpers.ts
  src/panels/config/integrations/integration-panels/zha/zha-device-card.ts
  src/panels/config/scene/ha-scene-dashboard.ts
  src/panels/config/scene/ha-scene-editor.ts
  src/panels/config/script/ha-script-picker.ts
  src/panels/config/voice-assistants/dialog-expose-entity.ts
  src/panels/config/voice-assistants/ha-config-voice-assistants-expose.ts
  src/panels/lovelace/cards/hui-area-card.ts
  src/panels/lovelace/cards/hui-button-card.ts
  src/panels/lovelace/cards/hui-entity-card.ts
  src/panels/lovelace/cards/hui-light-card.ts
  src/panels/lovelace/cards/hui-media-control-card.ts
  src/panels/lovelace/cards/hui-picture-entity-card.ts
  src/panels/lovelace/cards/hui-picture-glance-card.ts
  src/panels/lovelace/cards/hui-statistic-card.ts
  src/panels/lovelace/cards/hui-weather-forecast-card.ts
  src/panels/lovelace/components/hui-image.ts
  src/panels/lovelace/editor/config-elements/hui-entities-card-editor.ts
  src/panels/lovelace/elements/hui-state-icon-element.ts
  src/panels/lovelace/entity-rows/hui-weather-entity-row.ts
  src/panels/lovelace/special-rows/hui-button-row.ts
  src/panels/todo/ha-panel-todo.ts
  src/state-summary/state-card-input_select.ts
  src/state-summary/state-card-select.ts
  src/state-summary/state-card-text.ts
  src/state/context-mixin.ts
Labels: cla-signed, wait for backend, Design

#19454 Remove wrong usage of aria-hidden
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/action/types/ha-automation-action-choose.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
Labels: cla-signed

#19466 Use entity registry icon directly
  src/components/ha-state-icon.ts
  src/data/entity_registry.ts
  src/data/icons.ts
  src/state/connection-mixin.ts
Labels: cla-signed

#19470 Add support for new GitHub alerts
  gallery/src/pages/lovelace/markdown-card.ts
  src/components/ha-markdown-element.ts
Labels: cla-signed, needs design preview, Design

#19469 Implement more attribute icons
  lint-staged.config.js
  src/common/entity/attribute_icon_path.ts
  src/components/ha-control-select.ts
  src/dialogs/more-info/controls/more-info-fan.ts
  src/dialogs/more-info/controls/more-info-humidifier.ts
  src/dialogs/more-info/controls/more-info-light.ts
  src/panels/lovelace/card-features/hui-climate-fan-modes-card-feature.ts
  src/panels/lovelace/card-features/hui-climate-hvac-modes-card-feature.ts
  src/panels/lovelace/card-features/hui-climate-preset-modes-card-feature.ts
  src/panels/lovelace/card-features/hui-humidifier-modes-card-feature.ts
Labels: cla-signed

#19478 Do not "load" forever if null is returned for release notes
  src/dialogs/more-info/controls/more-info-update.ts
Labels: cla-signed

#19477 Update hassio-addon-dashboard.ts to fix back button issue
  hassio/src/addon-view/hassio-addon-dashboard.ts
Labels: cla-signed, Supervisor

#19450 Fix incompatible object/array property types (1 of 3)
  gallery/src/components/demo-card.ts
  src/components/device/ha-device-automation-picker.ts
  src/components/ha-file-upload.ts
  src/components/ha-selector/ha-selector-action.ts
  src/components/ha-selector/ha-selector-condition.ts
  src/components/ha-selector/ha-selector-location.ts
  src/components/ha-selector/ha-selector-target.ts
  src/components/ha-selector/ha-selector-trigger.ts
  src/components/ha-selector/ha-selector-ui-action.ts
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/action/ha-automation-action.ts
  src/panels/config/automation/action/types/ha-automation-action-repeat.ts
  src/panels/config/automation/blueprint-automation-editor.ts
  src/panels/config/automation/condition/ha-automation-condition-editor.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/panels/config/automation/condition/ha-automation-condition.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/panels/config/automation/trigger/ha-automation-trigger.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-event.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-persistent_notification.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-tag.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-webhook.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-zone.ts
  src/panels/config/cloud/account/cloud-remote-pref.ts
  src/panels/config/cloud/account/cloud-tts-pref.ts
  src/panels/config/cloud/ha-config-cloud.ts
  src/panels/config/dashboard/ha-config-dashboard.ts
  src/panels/config/devices/device-detail/ha-device-info-card.ts
  src/panels/config/devices/device-detail/integration-elements/zha/ha-device-info-zha.ts
  src/panels/config/integrations/integration-panels/zha/zha-cluster-attributes.ts
  src/panels/config/integrations/integration-panels/zha/zha-cluster-commands.ts
  src/panels/config/integrations/integration-panels/zha/zha-device-binding.ts
  src/panels/config/integrations/integration-panels/zha/zha-device-card.ts
  src/panels/config/integrations/integration-panels/zha/zha-device-neighbors.ts
  src/panels/config/integrations/integration-panels/zha/zha-device-pairing-status-card.ts
  src/panels/config/integrations/integration-panels/zha/zha-device-signature.ts
  src/panels/config/integrations/integration-panels/zha/zha-group-binding.ts
  src/panels/config/integrations/integration-panels/zha/zha-manage-clusters.ts
  src/panels/config/voice-assistants/assist-pref.ts
  src/panels/config/voice-assistants/cloud-alexa-pref.ts
  src/panels/lovelace/components/hui-action-editor.ts
  src/panels/lovelace/components/hui-card-options.ts
  src/panels/lovelace/components/hui-generic-entity-row.ts
  src/panels/lovelace/editor/card-editor/hui-card-preview.ts
  src/panels/lovelace/editor/lovelace-editor/hui-lovelace-editor.ts
Labels: cla-signed, Design

#19501 Clean up updater remains
  src/common/const.ts
  src/components/entity/ha-state-label-badge.ts
Labels: cla-signed

#19472 Adjust check focus behaviour for todo list
  src/panels/lovelace/cards/hui-todo-list-card.ts
Labels: cla-signed

#19480 Revert "Add a button to delete all refresh tokens"
  src/panels/profile/ha-refresh-tokens-card.ts
  src/translations/en.json
Labels: cla-signed

#19505 Allow for lists inside GitHub alerts when redered in markdown
  gallery/src/pages/lovelace/markdown-card.ts
  src/components/ha-markdown-element.ts
Labels: cla-signed, Design

#19510 Fix incompatible object/array property types (3 of 3)
  src/components/chart/state-history-chart-line.ts
  src/components/chart/state-history-chart-timeline.ts
  src/components/chart/state-history-charts.ts
  src/components/chart/statistics-chart.ts
  src/components/ha-form/ha-form-boolean.ts
  src/components/ha-form/ha-form-expandable.ts
  src/components/ha-form/ha-form-grid.ts
  src/components/ha-form/ha-form-multi_select.ts
  src/components/ha-form/ha-form-select.ts
  src/components/ha-form/ha-form.ts
  src/components/ha-hs-color-picker.ts
  src/components/ha-selector/ha-selector-constant.ts
  src/components/ha-selector/ha-selector-icon.ts
  src/components/ha-selector/ha-selector-select.ts
  src/components/ha-selector/ha-selector-state.ts
  src/components/ha-selector/ha-selector.ts
  src/components/ha-sortable.ts
  src/components/trace/ha-trace-path-details.ts
  src/components/user/ha-user-picker.ts
  src/components/user/ha-users-picker.ts
  src/dialogs/config-flow/previews/flow-preview-group.ts
  src/dialogs/config-flow/previews/flow-preview-template.ts
  src/dialogs/more-info/components/lights/ha-favorite-color-button.ts
  src/dialogs/notifications/configurator-notification-item.ts
  src/dialogs/notifications/notification-item.ts
  src/dialogs/notifications/persistent-notification-item.ts
  src/layouts/hass-tabs-subpage-data-table.ts
  src/layouts/hass-tabs-subpage.ts
  src/panels/calendar/ha-recurrence-rule-editor.ts
  src/panels/config/automation/action/types/ha-automation-action-activate_scene.ts
  src/panels/config/automation/action/types/ha-automation-action-choose.ts
  src/panels/config/automation/action/types/ha-automation-action-condition.ts
  src/panels/config/automation/action/types/ha-automation-action-event.ts
  src/panels/config/automation/action/types/ha-automation-action-stop.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/automation/ha-config-automation.ts
  src/panels/config/blueprint/ha-config-blueprint.ts
  src/panels/config/devices/device-detail/ha-device-entities-card.ts
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/panels/config/entities/editor-tabs/settings/entity-settings-helper-tab.ts
  src/panels/config/entities/entity-registry-settings-editor.ts
  src/panels/config/integrations/ha-config-flow-card.ts
  src/panels/config/integrations/ha-config-integration-page.ts
  src/panels/config/integrations/ha-disabled-config-entry-card.ts
  src/panels/config/integrations/ha-ignored-config-entry-card.ts
  src/panels/config/integrations/ha-integration-action-card.ts
  src/panels/config/integrations/ha-integration-card.ts
  src/panels/config/voice-assistants/assist-pipeline-detail/assist-pipeline-detail-config.ts
  src/panels/config/voice-assistants/assist-pipeline-detail/assist-pipeline-detail-conversation.ts
  src/panels/config/voice-assistants/assist-pipeline-detail/assist-pipeline-detail-stt.ts
  src/panels/config/voice-assistants/assist-pipeline-detail/assist-pipeline-detail-tts.ts
  src/panels/config/voice-assistants/assist-pipeline-detail/assist-pipeline-detail-wakeword.ts
  src/panels/config/voice-assistants/debug/assist-render-pipeline-events.ts
  src/panels/config/voice-assistants/debug/assist-render-pipeline-run.ts
  tsconfig.json
Labels: cla-signed

#19473 Localize sun condition in automation editor
  src/data/automation_i18n.ts
  src/translations/en.json
Labels: cla-signed

#19481 Allow expanding a history graph card
  src/panels/lovelace/cards/hui-history-graph-card.ts
Labels: cla-signed

#19476 Preview for time_date helper
  src/data/time_date.ts
  src/dialogs/config-flow/previews/flow-preview-time_date.ts
Labels: cla-signed

#19516 Improve icon translations support
  src/common/entity/attribute_icon_path.ts
  src/components/ha-attribute-icon.ts
  src/components/ha-icon-picker.ts
  src/components/ha-selector/ha-selector-icon.ts
  src/data/climate.ts
  src/data/humidifier.ts
  src/data/icons.ts
  src/dialogs/more-info/controls/more-info-climate.ts
  src/dialogs/more-info/controls/more-info-fan.ts
  src/dialogs/more-info/controls/more-info-humidifier.ts
  src/dialogs/more-info/controls/more-info-light.ts
  src/panels/config/devices/device-detail/ha-device-entities-card.ts
  src/panels/config/entities/entity-registry-settings-editor.ts
  src/panels/lovelace/card-features/hui-climate-hvac-modes-card-feature.ts
  src/panels/lovelace/cards/tile/badges/tile-badge-humidifier.ts
Labels: cla-signed, backend merged

#19324 Allow inverting switch_as_x cover, lock, valve
  src/data/entity_registry.ts
  src/panels/config/entities/entity-registry-settings-editor.ts
  src/translations/en.json
Labels: cla-signed

#19507 Add support for service icons
  src/components/ha-service-control.ts
  src/components/ha-service-icon.ts
  src/components/ha-service-picker.ts
  src/data/icons.ts
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/add-automation-element-dialog.ts
Labels: cla-signed

#19524 Add `automation/editor/show` command to external bus
  src/external_app/external_app_entrypoint.ts
  src/external_app/external_messaging.ts
Labels: cla-signed

#19526 Handle cast connect different instance better
  cast/src/receiver/layout/hc-main.ts
  src/common/dom/apply_themes_on_element.ts
Labels: cla-signed, Cast

#19528 Refactor suggest card function
  src/panels/config/devices/device-detail/ha-device-entities-card.ts
  src/panels/lovelace/editor/add-entities-to-view.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-suggest-card.ts
  src/panels/lovelace/editor/card-editor/show-suggest-card-dialog.ts
Labels: cla-signed

#19479 Add info about removing of unused tokens
  src/translations/en.json
Labels: cla-signed, backend merged

#19517 Fix text alignment on mobile devices for zha-add-devices-page.ts
  src/panels/config/integrations/integration-panels/zha/zha-add-devices-page.ts
Labels: cla-signed

#19534 Fixed volume slider alignment
  src/panels/lovelace/entity-rows/hui-media-player-entity-row.ts
Labels: cla-signed

#19547 Delete all refresh tokens (attempt #2)
  src/data/auth.ts
  src/data/refresh_token.ts
  src/panels/profile/ha-refresh-tokens-card.ts
  src/translations/en.json
Labels: cla-signed

#19522 Allow config flow to show error per field
  src/components/ha-alert.ts
  src/components/ha-form/ha-form.ts
  src/dialogs/config-flow/step-flow-form.ts
Labels: cla-signed

#19552 Fix QR codes
  src/panels/config/tags/dialog-tag-detail.ts
Labels: cla-signed

#19557 Fix trace graph for non-safari & safari
  src/components/trace/hat-graph-node.ts
Labels: cla-signed

#19536 Simplify GtHub markdown alerts
  src/components/ha-markdown-element.ts
  src/components/ha-markdown.ts
Labels: cla-signed, needs design preview

#19518 Add documentation link to ZHA pairing mode page
  src/panels/config/integrations/integration-panels/zha/zha-add-devices-page.ts
  src/translations/en.json
Labels: cla-signed

#19575 Fix more info remote
  src/dialogs/more-info/controls/more-info-remote.ts
Labels: cla-signed

#19569 Bigger touch target for mobile map history trace
  src/components/map/ha-map.ts
Labels: cla-signed

#19564 Clarify wording of Thread network messaging
  src/translations/en.json
Labels: cla-signed

#19533 Clean domain icons
  src/common/const.ts
  src/common/entity/alarm_panel_icon.ts
  src/common/entity/battery_icon.ts
  src/common/entity/binary_sensor_icon.ts
  src/common/entity/cover_icon.ts
  src/common/entity/device_tracker_icon.ts
  src/common/entity/domain_icon.ts
  src/common/entity/number_icon.ts
  src/common/entity/sensor_icon.ts
  src/common/entity/state_icon.ts
  src/common/entity/state_icon_path.ts
  src/common/entity/update_icon.ts
  src/components/data-table/ha-data-table.ts
  src/components/entity/ha-battery-icon.ts
  src/components/ha-domain-icon.ts
  src/components/ha-service-icon.ts
  src/components/ha-state-icon.ts
  src/components/trace/hat-script-graph.ts
  src/data/icons.ts
  src/data/weather.ts
  src/dialogs/quick-bar/ha-quick-bar.ts
  src/panels/config/automation/add-automation-element-dialog.ts
  src/panels/lovelace/cards/hui-alarm-panel-card.ts
  src/panels/lovelace/cards/hui-area-card.ts
  src/panels/lovelace/cards/hui-plant-status-card.ts
  src/panels/media-browser/ha-bar-media-player.ts
Labels: cla-signed

#19344 Add volume flow rate
  gallery/src/pages/misc/entity-state.ts
  src/common/const.ts
  src/common/entity/get_states.ts
Labels: cla-signed, Design

#19574 Always allow reorder for triggers, conditions, actions and options
  src/components/ha-service-control.ts
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/action/ha-automation-action.ts
  src/panels/config/automation/action/types/ha-automation-action-choose.ts
  src/panels/config/automation/blueprint-automation-editor.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/panels/config/automation/condition/ha-automation-condition.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/automation/manual-automation-editor.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/panels/config/automation/trigger/ha-automation-trigger.ts
  src/panels/config/script/blueprint-script-editor.ts
  src/panels/config/script/manual-script-editor.ts
  src/state/reorder-mode-mixin.ts
  src/translations/en.json
Labels: cla-signed

#19523 Add new TURN_ON and TURN_OFF Climate feature flags
  src/data/climate.ts
Labels: cla-signed

#19554 Localize trigger state in automation editor
  src/data/automation.ts
  src/data/automation_i18n.ts
  src/translations/en.json
Labels: cla-signed

#19567 Fix map icon color
  src/components/map/ha-locations-editor.ts
  src/components/map/ha-map.ts
  src/panels/lovelace/cards/hui-map-card.ts
Labels: cla-signed

#19297 Add Y axis limits options for historical charts
  src/components/chart/state-history-chart-line.ts
  src/components/chart/state-history-charts.ts
  src/panels/lovelace/cards/hui-history-graph-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/editor/config-elements/hui-history-graph-card-editor.ts
  src/translations/en.json
Labels: cla-signed

#19485 Combine climate graph with temperature device_classes
  src/data/history.ts
Labels: cla-signed

#19580 Update thread preferred router
  src/data/thread.ts
  src/panels/config/integrations/integration-panels/thread/thread-config-panel.ts
Labels: cla-signed

#19527 Update ZHA reconfigure device dialog to show accurate cluster configuration statuses
  src/data/zha.ts
  src/panels/config/integrations/integration-panels/zha/dialog-zha-reconfigure-device.ts
Labels: cla-signed, backend merged

#19570 Allow mobile apps to provide QR code functionality
  src/external_app/external_messaging.ts
Labels: cla-signed

#19345 Promote edit dashboard button out of overflow menu
  src/panels/lovelace/hui-root.ts
Labels: cla-signed

#19584 Simplify MFA onboarding styling & flow
  src/panels/profile/dialog-ha-mfa-module-setup-flow.ts
Labels: cla-signed

#19585 Add icon to areas
  gallery/src/pages/components/ha-form.ts
  gallery/src/pages/components/ha-selector.ts
  src/components/ha-area-picker.ts
  src/components/ha-target-picker.ts
  src/data/area_registry.ts
  src/data/ws-area_registry.ts
  src/panels/config/areas/dialog-area-registry-detail.ts
  src/panels/config/areas/ha-config-area-page.ts
  src/panels/config/areas/ha-config-areas-dashboard.ts
  src/translations/en.json
Labels: cla-signed, Design

#19587 Add support for re-auth flows in repairs
  src/data/repairs.ts
  src/panels/config/repairs/ha-config-repairs.ts
Labels: cla-signed, wait for backend

#19590 Fix disabled users picker
  src/components/user/ha-users-picker.ts
Labels: cla-signed

#19589 Don't allow dragging parent into child element in automation editor
  .yarn/patches/sortablejs-npm-1.15.0-f3a393abcc.patch
  .yarn/patches/sortablejs-npm-1.15.2-73347ae85a.patch
  package.json
  yarn.lock
Labels: cla-signed

#19588 Add QR code selector
  src/components/ha-selector/ha-selector-qr-code.ts
  src/components/ha-selector/ha-selector.ts
  src/data/selector.ts
Labels: cla-signed

#19593 Default to error correction Q when there is a center image
  src/components/ha-qr-code.ts
Labels: cla-signed

#19591 Update button card styles
  src/panels/lovelace/cards/hui-button-card.ts
Labels: cla-signed
