Repository home-assistant/frontend, pull requests merged in 2024-08, with the labels that each got.

#21512 Picture elements editor minor adjustments
  src/components/ha-selector/ha-selector-image.ts
  src/panels/lovelace/editor/config-elements/elements/hui-image-element-editor.ts
  src/panels/lovelace/editor/config-elements/hui-picture-elements-card-editor.ts
  src/translations/en.json
Labels: cla-signed

#21525 Skip database migration check on demo
  src/layouts/home-assistant.ts
Labels: cla-signed

#21526 Add ping to mock hass
  src/fake_data/provide_hass.ts
Labels: cla-signed, Demo, Design

#21527 Fix demo service worker
  cast/public/sw-legacy.js
  cast/public/sw-modern.js
  demo/public/sw-legacy.js
  demo/public/sw-modern.js
Labels: cla-signed

#21528 Minify ohf logo
  public/static/icons/ohf.svg
Labels: cla-signed

#21543 Fix width of numeric features in tile card
  src/components/ha-control-number-buttons.ts
Labels: cla-signed

#21537 Add help links to helper integration config flow forms
  src/panels/config/entities/entity-registry-settings-editor.ts
  src/panels/config/helpers/dialog-helper-detail.ts
  src/panels/config/helpers/ha-config-helpers.ts
Labels: cla-signed

#21541 Add a destructive confirmation when deleting a picture-elements element
  src/panels/lovelace/editor/hui-picture-elements-card-row-editor.ts
  src/translations/en.json
Labels: cla-signed

#21545 Add a warning for improper usage of the template selector
  src/components/ha-selector/ha-selector-template.ts
  src/translations/en.json
Labels: cla-signed

#21549 Show in Assist dialog if assistant is unable to control Home Assistant
  src/data/conversation.ts
  src/dialogs/voice-command-dialog/ha-voice-command-dialog.ts
  src/translations/en.json
Labels: cla-signed

#21556 migrate script sequence to new format
  src/panels/config/script/ha-script-editor.ts
Labels: cla-signed

#21557 Await starting audio recorder
  src/dialogs/voice-command-dialog/ha-voice-command-dialog.ts
Labels: cla-signed

#21559 Fix tabs not shown in edit card dialog
  src/panels/lovelace/editor/badge-editor/hui-badge-element-editor.ts
  src/panels/lovelace/editor/card-editor/hui-card-element-editor.ts
Labels: cla-signed

#21560 fix hui-action-editor
  src/panels/lovelace/components/hui-action-editor.ts
Labels: cla-signed

#21561 Try to force refresh if old service worker is used
  src/util/register-service-worker.ts
Labels: cla-signed

#21562 20240802.0
  package.json
  public/static/icons/ohf.svg
  pyproject.toml
  src/components/ha-control-number-buttons.ts
  src/components/ha-selector/ha-selector-template.ts
  src/data/conversation.ts
  src/dialogs/voice-command-dialog/ha-voice-command-dialog.ts
  src/panels/config/entities/entity-registry-settings-editor.ts
  src/panels/config/helpers/dialog-helper-detail.ts
  src/panels/config/helpers/ha-config-helpers.ts
  src/panels/config/script/ha-script-editor.ts
  src/panels/lovelace/components/hui-action-editor.ts
  src/panels/lovelace/editor/badge-editor/hui-badge-element-editor.ts
  src/panels/lovelace/editor/card-editor/hui-card-element-editor.ts
  src/panels/lovelace/editor/hui-picture-elements-card-row-editor.ts
  src/translations/en.json
  src/util/register-service-worker.ts
  yarn.lock
Labels: cla-signed

#21563 Add some other tile cards to design page
  gallery/src/pages/lovelace/tile-card.ts
Labels: cla-signed, Design

#21581 Link old service worker to new name
  build-scripts/gulp/compress.js
  build-scripts/gulp/service-worker.js
  src/util/register-service-worker.ts
Labels: cla-signed, Build

#21586 Change yaml integration icon
  src/panels/config/integrations/ha-integration-card.ts
Labels: cla-signed

#21573 Dont load unnecessary translations for helper dialog
  src/panels/config/helpers/dialog-helper-detail.ts
Labels: cla-signed

#21579 Use getStubConfig for picture-elements (and more fixes)
  src/panels/lovelace/cards/picture-elements/create-styled-hui-element.ts
  src/panels/lovelace/create-element/create-picture-element.ts
  src/panels/lovelace/editor/config-elements/elements/hui-conditional-element-editor.ts
  src/panels/lovelace/editor/config-elements/hui-picture-elements-card-editor.ts
  src/panels/lovelace/editor/get-element-stub-config.ts
  src/panels/lovelace/editor/hui-picture-elements-card-row-editor.ts
  src/panels/lovelace/editor/hui-sub-element-editor.ts
  src/panels/lovelace/elements/hui-icon-element.ts
  src/panels/lovelace/elements/hui-service-button-element.ts
  src/panels/lovelace/elements/hui-state-badge-element.ts
  src/panels/lovelace/elements/hui-state-icon-element.ts
  src/panels/lovelace/elements/hui-state-label-element.ts
  src/panels/lovelace/elements/types.ts
  src/panels/lovelace/types.ts
  src/translations/en.json
Labels: cla-signed

#21587 Fix pointer cursor issues
  src/panels/lovelace/cards/hui-gauge-card.ts
  src/panels/lovelace/cards/hui-glance-card.ts
  src/panels/lovelace/common/has-action.ts
  src/panels/lovelace/components/hui-generic-entity-row.ts
  src/panels/lovelace/entity-rows/hui-number-entity-row.ts
  src/panels/lovelace/entity-rows/hui-scene-entity-row.ts
  src/panels/lovelace/entity-rows/hui-simple-entity-row.ts
  src/panels/lovelace/entity-rows/hui-update-entity-row.ts
  src/panels/lovelace/entity-rows/hui-weather-entity-row.ts
Labels: cla-signed

#21588 Show name for badges without config
  src/data/lovelace/config/badge.ts
  src/panels/lovelace/badges/hui-badge.ts
Labels: cla-signed

#21576 Allow name in state content for badges
  src/components/entity/ha-entity-state-content-picker.ts
  src/components/ha-selector/ha-selector-ui-state-content.ts
  src/data/selector.ts
  src/panels/lovelace/badges/hui-entity-badge.ts
  src/panels/lovelace/cards/hui-tile-card.ts
  src/panels/lovelace/editor/config-elements/hui-entity-badge-editor.ts
  src/state-display/state-display.ts
  src/translations/en.json
Labels: cla-signed

#21589 fix broken perform-action translation in gauge card editor
  src/panels/lovelace/editor/config-elements/hui-gauge-card-editor.ts
Labels: cla-signed

#21598 Add badge label
  src/panels/lovelace/badges/hui-view-badges.ts
  src/translations/en.json
Labels: cla-signed

#21604 Update weather card layout options
  src/panels/lovelace/cards/hui-weather-forecast-card.ts
Labels: cla-signed

#21603 Improve state badge migration
  src/panels/lovelace/badges/hui-badge.ts
  src/panels/lovelace/badges/hui-state-label-badge.ts
  src/panels/lovelace/editor/badge-editor/hui-dialog-edit-badge.ts
  src/panels/lovelace/editor/config-elements/hui-state-label-badge-editor.ts
Labels: cla-signed

#21606 Condition testing display fix
  src/panels/lovelace/editor/conditions/ha-card-condition-editor.ts
Labels: cla-signed

#21607 Add indicator/alert to YAML integrations on integration page
  src/panels/config/integrations/ha-config-integration-page.ts
Labels: cla-signed

#21610 Fix webhook textfield icon color for dark mode
  src/panels/config/automation/trigger/types/ha-automation-trigger-webhook.ts
Labels: cla-signed

#21620 Fix typo in assist-render-pipeline-events.ts
  src/panels/config/voice-assistants/debug/assist-render-pipeline-events.ts
Labels: cla-signed

#21622 Localize some column headers
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/blueprint/ha-blueprint-overview.ts
  src/panels/config/helpers/ha-config-helpers.ts
  src/panels/config/scene/ha-scene-dashboard.ts
  src/panels/config/script/ha-script-picker.ts
  src/translations/en.json
Labels: cla-signed

#21593 Clean up OHF badge for splash screen
  demo/src/html/index.html.template
  public/static/images/ohf-badge.svg
  src/html/index.html.template
Labels: cla-signed, Demo

#21595 Fix logout button text color on confirmation dialog
  src/panels/profile/ha-profile-section-general.ts
Labels: cla-signed

#21649 Fix scripted blueprints
  src/panels/config/script/ha-script-editor.ts
Labels: cla-signed

#21650 Fix left over "script" in default config when using perform action
  src/panels/config/automation/action/types/ha-automation-action-service.ts
Labels: cla-signed

#21667 Enable background transparency & effects on badges
  src/panels/lovelace/badges/hui-entity-badge.ts
Labels: cla-signed

#21689 Remove deprecated mailbox
  gallery/src/data/demo_states.js
  src/common/const.ts
  src/layouts/partial-panel-resolver.ts
  src/panels/mailbox/ha-dialog-show-audio-message.ts
  src/panels/mailbox/ha-panel-mailbox.ts
  src/translations/en.json
Labels: cla-signed, wait for backend, Design

#21661 Update styling on Template dev-tools
  src/panels/developer-tools/template/developer-tools-template.ts
  src/translations/en.json
Labels: cla-signed

#21708 Make delete button red when removing todo item (#21466)
  src/panels/todo/dialog-todo-item-editor.ts
Labels: cla-signed

#21711 fix ha-card-condition-state invert selector
  src/panels/lovelace/editor/conditions/types/ha-card-condition-state.ts
Labels: cla-signed

#21705 Use defined response_variable for json copy_to_clipboard button
  src/panels/developer-tools/action/developer-tools-action.ts
Labels: cla-signed

#21714 Add missing box shadow theme variable to entity badge
  src/panels/lovelace/badges/hui-entity-badge.ts
Labels: cla-signed

#21715 Add badges for sidebar view
  src/panels/lovelace/views/hui-sidebar-view.ts
Labels: cla-signed

#21736 Add check for conversation entity
  src/dialogs/voice-command-dialog/ha-voice-command-dialog.ts
Labels: cla-signed

#21751 Remove old ha-form-style
  src/panels/config/ha-form-style.js
Labels: cla-signed

#21740 add returning lawn mower state
  src/common/entity/get_states.ts
  src/components/ha-lawn_mower-action-button.ts
  src/data/lawn_mower.ts
  src/translations/en.json
Labels: cla-signed

#21724 Correct serving modern build to macOS companion app
  build-scripts/gulp/entry-html.js
Labels: cla-signed, Build

#21753 Add missing label_id and floor_id key in action struct
  src/panels/lovelace/editor/structs/action-struct.ts
Labels: cla-signed

#21746 Fix migration from call-service to perform-action
  src/panels/lovelace/components/hui-action-editor.ts
Labels: cla-signed

#21729 fix: Add destructive styling to delete button in dashboard config rem…
  src/panels/lovelace/hui-editor.ts
  src/translations/en.json
Labels: cla-signed

#21769 Render the label on the target selector
  src/components/ha-selector/ha-selector-target.ts
Labels: cla-signed

#21779 Fix tile alarm modes when wrong code entered
  src/panels/lovelace/card-features/hui-alarm-modes-card-feature.ts
Labels: cla-signed

#21757 Show error badge when an unknown entity is used in badges
  src/panels/lovelace/badges/hui-entity-badge.ts
  src/translations/en.json
Labels: cla-signed

#21793 Hide tag entities from default dashboard
  src/panels/lovelace/common/generate-lovelace-config.ts
Labels: cla-signed

#21759 Add description to service translations
  src/components/ha-service-control.ts
Labels: cla-signed

#21788 Fix duplicate and non lazy loading of hui-calendar-card
  src/panels/lovelace/create-element/create-card-element.ts
Labels: cla-signed

#21801 Expand the ZHA channel selection dialog text
  src/panels/config/integrations/integration-panels/zha/dialog-zha-change-channel.ts
  src/translations/en.json
Labels: cla-signed

#21796 Fix Assist pipeline defaults
  src/components/ha-conversation-agent-picker.ts
  src/components/ha-stt-picker.ts
  src/components/ha-tts-picker.ts
  src/panels/config/voice-assistants/dialog-voice-assistant-pipeline-detail.ts
Labels: cla-signed

#21704 Fallback data flow label translation
  src/dialogs/config-flow/show-dialog-config-flow.ts
  src/dialogs/config-flow/show-dialog-options-flow.ts
Labels: cla-signed

#21805 Hide deprecated stt/tts engines, use name provided by core
  src/components/ha-stt-picker.ts
  src/components/ha-tts-picker.ts
  src/data/stt.ts
  src/data/tts.ts
Labels: cla-signed

#21646 Adds throttler to config pages for state entity updates
  src/panels/config/ha-panel-config.ts
Labels: cla-signed

#21755 Revert display_precision override for duration format
  src/common/entity/compute_state_display.ts
Labels: cla-signed

#21073 Adjust schedule helper UI with minute granularity
  src/components/ha-selector/ha-selector-time.ts
  src/data/selector.ts
  src/panels/config/helpers/forms/dialog-schedule-block-info.ts
  src/panels/config/helpers/forms/ha-schedule-form.ts
  src/panels/config/helpers/forms/show-dialog-schedule-block-info.ts
  src/translations/en.json
Labels: cla-signed

#21737 Add more-info click to energy table and detail device graph
  src/components/chart/click_is_touch.ts
  src/components/chart/state-history-chart-line.ts
  src/components/chart/state-history-chart-timeline.ts
  src/components/chart/statistics-chart.ts
  src/panels/lovelace/cards/energy/hui-energy-devices-detail-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-devices-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-sources-table-card.ts
Labels: cla-signed

#21742 Allow resizing section to span multiple columns
  src/data/lovelace/config/section.ts
  src/panels/lovelace/editor/section-editor/hui-section-settings-editor.ts
  src/panels/lovelace/sections/hui-grid-section.ts
  src/panels/lovelace/views/hui-sections-view.ts
Labels: cla-signed

#21758 Allow a card to span the full width of a section
  src/components/ha-grid-size-picker.ts
  src/panels/lovelace/cards/hui-iframe-card.ts
  src/panels/lovelace/cards/hui-map-card.ts
  src/panels/lovelace/common/compute-card-grid-size.ts
  src/panels/lovelace/editor/card-editor/hui-card-layout-editor.ts
  src/panels/lovelace/sections/hui-grid-section.ts
  src/panels/lovelace/types.ts
  src/translations/en.json
Labels: cla-signed

#21632 Plot 'untracked consumption' on devices detail energy graph
  src/data/energy.ts
  src/panels/lovelace/cards/energy/hui-energy-devices-detail-graph-card.ts
  src/translations/en.json
Labels: cla-signed

#21745 Add title and description translation support to expandable form
  src/components/ha-form/ha-form-expandable.ts
  src/components/ha-form/ha-form.ts
  src/components/ha-form/types.ts
  src/components/ha-selector/ha-selector-location.ts
  src/dialogs/config-flow/show-dialog-config-flow.ts
  src/dialogs/config-flow/show-dialog-data-entry-flow.ts
  src/dialogs/config-flow/show-dialog-options-flow.ts
  src/dialogs/config-flow/step-flow-form.ts
  src/panels/config/repairs/show-dialog-repair-flow.ts
  src/panels/lovelace/editor/config-elements/hui-entity-badge-editor.ts
  src/panels/lovelace/editor/config-elements/hui-tile-card-editor.ts
Labels: cla-signed

#21657 Add default config automation typings
  gallery/src/pages/automation/editor-condition.ts
  gallery/src/pages/automation/editor-trigger.ts
  src/panels/config/automation/action/types/ha-automation-action-choose.ts
  src/panels/config/automation/action/types/ha-automation-action-condition.ts
  src/panels/config/automation/action/types/ha-automation-action-delay.ts
  src/panels/config/automation/action/types/ha-automation-action-device_id.ts
  src/panels/config/automation/action/types/ha-automation-action-if.ts
  src/panels/config/automation/action/types/ha-automation-action-parallel.ts
  src/panels/config/automation/action/types/ha-automation-action-repeat.ts
  src/panels/config/automation/action/types/ha-automation-action-sequence.ts
  src/panels/config/automation/action/types/ha-automation-action-service.ts
  src/panels/config/automation/action/types/ha-automation-action-set_conversation_response.ts
  src/panels/config/automation/action/types/ha-automation-action-stop.ts
  src/panels/config/automation/action/types/ha-automation-action-wait_for_trigger.ts
  src/panels/config/automation/action/types/ha-automation-action-wait_template.ts
  src/panels/config/automation/condition/ha-automation-condition.ts
  src/panels/config/automation/condition/types/ha-automation-condition-and.ts
  src/panels/config/automation/condition/types/ha-automation-condition-device.ts
  src/panels/config/automation/condition/types/ha-automation-condition-logical.ts
  src/panels/config/automation/condition/types/ha-automation-condition-not.ts
  src/panels/config/automation/condition/types/ha-automation-condition-numeric_state.ts
  src/panels/config/automation/condition/types/ha-automation-condition-or.ts
  src/panels/config/automation/condition/types/ha-automation-condition-state.ts
  src/panels/config/automation/condition/types/ha-automation-condition-sun.ts
  src/panels/config/automation/condition/types/ha-automation-condition-template.ts
  src/panels/config/automation/condition/types/ha-automation-condition-time.ts
  src/panels/config/automation/condition/types/ha-automation-condition-trigger.ts
  src/panels/config/automation/condition/types/ha-automation-condition-zone.ts
  src/panels/config/automation/trigger/ha-automation-trigger.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-calendar.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-conversation.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-device.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-event.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-geo_location.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-homeassistant.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-mqtt.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-numeric_state.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-persistent_notification.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-state.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-sun.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-tag.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-template.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-time.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-time_pattern.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-webhook.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-zone.ts
Labels: cla-signed, Design

#21627 Migrate polymer paper tab in badge card editor
  src/panels/lovelace/editor/badge-editor/hui-badge-element-editor.ts
Labels: cla-signed

#21825 Fix untracked consumption string
  src/panels/lovelace/cards/energy/hui-energy-devices-detail-graph-card.ts
  src/translations/en.json
Labels: cla-signed

#21827 Take column span into account to determine the max number of columns
  src/panels/lovelace/views/hui-sections-view.ts
Labels: cla-signed

#21831 Put boolean selector helper inside field
  src/components/ha-formfield.ts
  src/components/ha-selector/ha-selector-boolean.ts
Labels: cla-signed

#21834 Don't use the word column in section view
  src/panels/lovelace/editor/section-editor/hui-section-settings-editor.ts
  src/translations/en.json
Labels: cla-signed

#21835 Put number selector label above the input
  src/components/ha-selector/ha-selector-number.ts
  src/components/ha-slider.ts
  src/data/selector.ts
  src/panels/lovelace/editor/section-editor/hui-section-settings-editor.ts
  src/panels/lovelace/editor/view-editor/hui-view-editor.ts
Labels: cla-signed

#21830 Use dense layout for section view
  src/data/lovelace/config/view.ts
  src/panels/lovelace/editor/view-editor/hui-view-editor.ts
  src/panels/lovelace/views/hui-sections-view.ts
  src/translations/en.json
Labels: cla-signed

#21836 20240829.0
  gallery/src/pages/automation/editor-condition.ts
  gallery/src/pages/automation/editor-trigger.ts
  pyproject.toml
  src/components/ha-formfield.ts
  src/components/ha-selector/ha-selector-boolean.ts
  src/components/ha-selector/ha-selector-number.ts
  src/components/ha-slider.ts
  src/data/lovelace/config/view.ts
  src/data/selector.ts
  src/panels/config/automation/action/types/ha-automation-action-choose.ts
  src/panels/config/automation/action/types/ha-automation-action-condition.ts
  src/panels/config/automation/action/types/ha-automation-action-delay.ts
  src/panels/config/automation/action/types/ha-automation-action-device_id.ts
  src/panels/config/automation/action/types/ha-automation-action-if.ts
  src/panels/config/automation/action/types/ha-automation-action-parallel.ts
  src/panels/config/automation/action/types/ha-automation-action-repeat.ts
  src/panels/config/automation/action/types/ha-automation-action-sequence.ts
  src/panels/config/automation/action/types/ha-automation-action-service.ts
  src/panels/config/automation/action/types/ha-automation-action-set_conversation_response.ts
  src/panels/config/automation/action/types/ha-automation-action-stop.ts
  src/panels/config/automation/action/types/ha-automation-action-wait_for_trigger.ts
  src/panels/config/automation/action/types/ha-automation-action-wait_template.ts
  src/panels/config/automation/condition/ha-automation-condition.ts
  src/panels/config/automation/condition/types/ha-automation-condition-and.ts
  src/panels/config/automation/condition/types/ha-automation-condition-device.ts
  src/panels/config/automation/condition/types/ha-automation-condition-logical.ts
  src/panels/config/automation/condition/types/ha-automation-condition-not.ts
  src/panels/config/automation/condition/types/ha-automation-condition-numeric_state.ts
  src/panels/config/automation/condition/types/ha-automation-condition-or.ts
  src/panels/config/automation/condition/types/ha-automation-condition-state.ts
  src/panels/config/automation/condition/types/ha-automation-condition-sun.ts
  src/panels/config/automation/condition/types/ha-automation-condition-template.ts
  src/panels/config/automation/condition/types/ha-automation-condition-time.ts
  src/panels/config/automation/condition/types/ha-automation-condition-trigger.ts
  src/panels/config/automation/condition/types/ha-automation-condition-zone.ts
  src/panels/config/automation/trigger/ha-automation-trigger.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-calendar.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-conversation.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-device.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-event.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-geo_location.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-homeassistant.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-mqtt.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-numeric_state.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-persistent_notification.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-state.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-sun.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-tag.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-template.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-time.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-time_pattern.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-webhook.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-zone.ts
  src/panels/config/ha-panel-config.ts
  src/panels/lovelace/cards/energy/hui-energy-devices-detail-graph-card.ts
  src/panels/lovelace/editor/badge-editor/hui-badge-element-editor.ts
  src/panels/lovelace/editor/section-editor/hui-section-settings-editor.ts
  src/panels/lovelace/editor/view-editor/hui-view-editor.ts
  src/panels/lovelace/views/hui-sections-view.ts
  src/translations/en.json
Labels: cla-signed, Design
