Repository home-assistant/frontend, pull requests merged in 2024-12, with the labels that each got.

#23082 Add shortcut to open the voice assist dialog
  src/panels/config/dashboard/ha-config-dashboard.ts
  src/state/quick-bar-mixin.ts
  src/translations/en.json
Labels: cla-signed, WTH

#23051 Init new scenes in live edit mode
  src/panels/config/scene/ha-scene-editor.ts
  src/translations/en.json
Labels: cla-signed

#23091 Change "Energy usage" to "Electricity usage"
  src/translations/en.json
Labels: cla-signed

#23090 `history-graph-card-editor`: Correct `hours_to_show` validation
  src/panels/lovelace/editor/config-elements/hui-history-graph-card-editor.ts
Labels: cla-signed

#23061 Store Media Browser view in localStorage
  src/panels/media-browser/ha-panel-media-browser.ts
Labels: cla-signed

#23094 Save scene before switching to live edit
  src/panels/config/scene/ha-scene-editor.ts
  src/translations/en.json
Labels: cla-signed

#23062 Made it easier to test the frontend against an existing core instance.
  build-scripts/bundle.cjs
  script/develop_and_serve
  src/data/auth.ts
  src/types.ts
Labels: cla-signed, Build

#23097 Don't show alert in voice assistant dialog
  src/dialogs/voice-command-dialog/ha-voice-command-dialog.ts
Labels: cla-signed

#23096 Change "Low-carbon energy consumed" to "… electricity …"
  src/translations/en.json
Labels: cla-signed, localization

#23103 Voice wizard local: Add error message, fix hostname
  src/dialogs/voice-assistant-setup/voice-assistant-setup-step-local.ts
Labels: cla-signed

#23098 Add automatic retry to stream logs
  src/data/hassio/supervisor.ts
  src/panels/config/logs/error-log-card.ts
Labels: cla-signed

#23104 20241127.2
  pyproject.toml
  src/data/hassio/supervisor.ts
  src/dialogs/voice-assistant-setup/voice-assistant-setup-step-local.ts
  src/dialogs/voice-command-dialog/ha-voice-command-dialog.ts
  src/panels/config/logs/error-log-card.ts
  src/panels/config/scene/ha-scene-editor.ts
  src/panels/lovelace/editor/config-elements/hui-history-graph-card-editor.ts
  src/translations/en.json
Labels: cla-signed

#23095 Add device search to quick bar
  src/dialogs/quick-bar/ha-quick-bar.ts
  src/dialogs/quick-bar/show-dialog-quick-bar.ts
  src/panels/config/dashboard/ha-config-dashboard.ts
  src/panels/lovelace/hui-root.ts
  src/state/quick-bar-mixin.ts
  src/translations/en.json
Labels: cla-signed, WTH

#23110 Updated English translations for scene editor.
  src/translations/en.json
Labels: cla-signed, localization

#23107 Simplify mediaBrowserPreferredLayout @storage
  src/panels/media-browser/ha-panel-media-browser.ts
Labels: cla-signed

#23113 Voice local: Small refactor and return when local already exists
  src/dialogs/voice-assistant-setup/voice-assistant-setup-step-local.ts
  src/dialogs/voice-assistant-setup/voice-assistant-setup-step-pipeline.ts
Labels: cla-signed

#23106 ZWaveJS: abort S2 bootstrapping when inclusion is canceled
  src/data/zwave_js.ts
  src/panels/config/integrations/integration-panels/zwave_js/dialog-zwave_js-add-node.ts
Labels: cla-signed, integration: zwave_js

#23116 Fix ha-target-picker hideTitle
  src/components/ha-target-picker.ts
Labels: cla-signed

#23109 Update default backup settings
  src/data/backup.ts
  src/panels/config/backup/components/ha-backup-addons-picker.ts
  src/panels/config/backup/components/ha-backup-config-agents.ts
  src/panels/config/backup/components/ha-backup-config-data.ts
  src/panels/config/backup/components/ha-backup-config-encryption-key.ts
  src/panels/config/backup/components/ha-backup-config-schedule.ts
  src/panels/config/backup/components/ha-backup-data-picker.ts
  src/panels/config/backup/dialogs/dialog-change-backup-encryption-key.ts
  src/panels/config/backup/dialogs/dialog-generate-backup.ts
  src/panels/config/backup/dialogs/show-dialog-change-backup-encryption-key.ts
  src/panels/config/backup/ha-config-backup-default-config.ts
  src/util/file_download.ts
Labels: cla-signed

#23118 Only display addons and folder for hassio
  src/panels/config/backup/components/ha-backup-config-agents.ts
  src/panels/config/backup/components/ha-backup-config-data.ts
Labels: cla-signed

#23123 Fix create section on iOS
  src/panels/lovelace/views/hui-sections-view.ts
Labels: cla-signed

#23121 Fix Markdown cards in Grid not taking full height
  src/panels/lovelace/cards/hui-markdown-card.ts
Labels: cla-signed

#23124 Explicitly set file name for camera snapshot
  src/dialogs/more-info/controls/more-info-camera.ts
Labels: cla-signed

#23130 Reduce button target zone in media player more info
  src/dialogs/more-info/controls/more-info-media_player.ts
Labels: cla-signed

#23131 Revert translation change for device quick bar
  src/dialogs/quick-bar/ha-quick-bar.ts
  src/translations/en.json
Labels: cla-signed

#23101 Show unit for number domains
  src/common/entity/compute_state_display.ts
  test/common/entity/compute_state_display.test.ts
Labels: cla-signed

#23137 20241127.4
  package.json
  pyproject.toml
  src/common/datetime/format_duration.ts
  src/components/ha-badge.ts
  src/data/assist_pipeline.ts
  src/dialogs/more-info/controls/more-info-camera.ts
  src/dialogs/more-info/controls/more-info-media_player.ts
  src/dialogs/voice-assistant-setup/voice-assistant-setup-step-local.ts
  src/dialogs/voice-assistant-setup/voice-assistant-setup-step-pipeline.ts
  src/panels/config/voice-assistants/debug/assist-render-pipeline-run.ts
  src/panels/config/zone/ha-config-zone.ts
  src/panels/lovelace/entity-rows/hui-select-entity-row.ts
  src/panels/lovelace/views/hui-sections-view.ts
  test/common/datetime/format_duration.test.ts
  yarn.lock
Labels: cla-signed

#23134 Fix time input with helper text width
  src/components/ha-base-time-input.ts
Labels: cla-signed

#22959 Automate supervisor & landing-page release
  .github/workflows/release.yaml
Labels: cla-signed, GitHub Actions

#23138 Require underscore for private methods
  demo/src/custom-cards/cast-demo-row.ts
  eslint.config.mjs
  gallery/src/pages/automation/editor-condition.ts
  gallery/src/pages/components/ha-selector.ts
  src/common/dom/fire_event.ts
  src/common/dom/scroll-to-target.ts
  src/components/ha-ansi-to-html.ts
  src/components/ha-form/ha-form-string.ts
  src/components/ha-navigation-picker.ts
  src/data/onboarding.ts
  src/dialogs/restart/show-dialog-restart.ts
  src/entrypoints/service-worker.ts
  src/layouts/home-assistant-main.ts
  src/panels/config/cloud/account/cloud-remote-pref.ts
  src/panels/lovelace/cards/hui-card.ts
  src/panels/lovelace/cards/hui-empty-state-card.ts
  src/panels/lovelace/cards/hui-starting-card.ts
  src/panels/lovelace/components/hui-marquee.ts
  src/panels/lovelace/elements/hui-image-element.ts
  src/panels/media-browser/browser-media-player.ts
  src/state/hass-base-mixin.ts
  src/state/quick-bar-mixin.ts
  src/types.ts
Labels: cla-signed, Build

#22198 Location selector: Move location on map click
  src/components/ha-selector/ha-selector-location.ts
  src/components/map/ha-locations-editor.ts
  src/components/map/ha-map.ts
Labels: hacktoberfest, cla-signed, Noteworthy

#23146 Voice addon install: try to find discovered flow
  src/dialogs/voice-assistant-setup/voice-assistant-setup-step-local.ts
Labels: cla-signed

#23157 Remove Zopfli compression
  build-scripts/gulp/compress.js
  package.json
  yarn.lock
Labels: cla-signed, Build

#23161 Use new backup dashboard page for hassio backup
  src/panels/config/ha-panel-config.ts
Labels: cla-signed

#23128 Add support for copies and days for backup retention
  src/components/ha-md-textfield.ts
  src/panels/config/backup/components/ha-backup-config-schedule.ts
  src/panels/config/backup/ha-config-backup-default-config.ts
Labels: cla-signed

#23139 Add upload dialog for backup
  src/data/backup.ts
  src/dialogs/backup/dialog-backup-upload.ts
  src/dialogs/backup/show-dialog-backup-upload.ts
  src/panels/config/backup/dialogs/dialog-upload-backup.ts
  src/panels/config/backup/dialogs/show-dialog-upload-backup.ts
  src/panels/config/backup/ha-config-backup-dashboard.ts
Labels: cla-signed

#23168 Missing horiz swing mode import
  src/panels/lovelace/create-element/create-card-feature-element.ts
Labels: cla-signed

#23169 Add localisation to voice wizard
  src/dialogs/voice-assistant-setup/cloud/cloud-step-intro.ts
  src/dialogs/voice-assistant-setup/cloud/cloud-step-signin.ts
  src/dialogs/voice-assistant-setup/cloud/cloud-step-signup.ts
  src/dialogs/voice-assistant-setup/voice-assistant-setup-dialog.ts
  src/dialogs/voice-assistant-setup/voice-assistant-setup-step-area.ts
  src/dialogs/voice-assistant-setup/voice-assistant-setup-step-change-wake-word.ts
  src/dialogs/voice-assistant-setup/voice-assistant-setup-step-check.ts
  src/dialogs/voice-assistant-setup/voice-assistant-setup-step-local.ts
  src/dialogs/voice-assistant-setup/voice-assistant-setup-step-pipeline.ts
  src/dialogs/voice-assistant-setup/voice-assistant-setup-step-success.ts
  src/dialogs/voice-assistant-setup/voice-assistant-setup-step-update.ts
  src/dialogs/voice-assistant-setup/voice-assistant-setup-step-wake-word.ts
  src/translations/en.json
Labels: cla-signed

#23174 Fix text color in ha-md-select in dark mode
  src/components/ha-md-select.ts
Labels: cla-signed

#23155 Cleanup unused WDS deps and config
  build-scripts/env.cjs
  build-scripts/gulp/app.js
  build-scripts/gulp/entry-html.js
  build-scripts/gulp/wds.js
  package.json
  renovate.json
  src/html/_header.html.template
  src/html/_script_loader.html.template
  src/html/index.html.template
  yarn.lock
Labels: cla-signed, Build

#23100 ZwaveJS: Handle S2 inclusion via Inclusion Controller
  src/data/zwave_js.ts
  src/panels/config/integrations/integration-panels/zwave_js/dialog-zwave_js-add-node.ts
  src/panels/config/integrations/integration-panels/zwave_js/show-dialog-zwave_js-add-node.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-config-dashboard.ts
Labels: cla-signed, integration: zwave_js

#23178 20241127.5
  pyproject.toml
  src/components/ha-md-select.ts
  src/data/automation_i18n.ts
  src/data/script_i18n.ts
  src/dialogs/voice-assistant-setup/cloud/cloud-step-intro.ts
  src/dialogs/voice-assistant-setup/cloud/cloud-step-signin.ts
  src/dialogs/voice-assistant-setup/cloud/cloud-step-signup.ts
  src/dialogs/voice-assistant-setup/voice-assistant-setup-dialog.ts
  src/dialogs/voice-assistant-setup/voice-assistant-setup-step-area.ts
  src/dialogs/voice-assistant-setup/voice-assistant-setup-step-change-wake-word.ts
  src/dialogs/voice-assistant-setup/voice-assistant-setup-step-check.ts
  src/dialogs/voice-assistant-setup/voice-assistant-setup-step-local.ts
  src/dialogs/voice-assistant-setup/voice-assistant-setup-step-pipeline.ts
  src/dialogs/voice-assistant-setup/voice-assistant-setup-step-success.ts
  src/dialogs/voice-assistant-setup/voice-assistant-setup-step-update.ts
  src/dialogs/voice-assistant-setup/voice-assistant-setup-step-wake-word.ts
  src/panels/lovelace/create-element/create-card-feature-element.ts
  src/translations/en.json
Labels: cla-signed

#23179 Remove @web/dev-server
  package.json
  yarn.lock
Labels: cla-signed

#23167 Improve generate backup dialog
  src/data/backup.ts
  src/panels/config/backup/components/ha-backup-agents-picker.ts
  src/panels/config/backup/components/ha-backup-config-agents.ts
  src/panels/config/backup/dialogs/dialog-generate-backup.ts
  src/panels/config/backup/ha-config-backup-details.ts
Labels: cla-signed

#23164 Propose to use encryption key if available when restoring a backup
  src/panels/config/backup/dialogs/dialog-restore-backup-encryption-key.ts
  src/panels/config/backup/dialogs/show-dialog-restore-backup-encryption-key.ts
  src/panels/config/backup/ha-config-backup-details.ts
Labels: cla-signed

#23181 Don't allow any more eslint warnings
  eslint.config.mjs
  package.json
Labels: cla-signed

#23186 Fix label selector when required
  src/components/ha-form/compute-initial-ha-form-data.ts
  src/components/ha-selector/ha-selector-label.ts
Labels: cla-signed

#23187 Fix has-secondary attribute
  src/components/ha-navigation-list.ts
  src/panels/config/core/ha-config-system-navigation.ts
  src/panels/config/dashboard/ha-config-navigation.ts
Labels: cla-signed

#23192 No script entities in scenes
  src/data/scene.ts
Labels: cla-signed

#23206 Correct overwriting integration labelling on integrations page
  src/panels/config/integrations/ha-config-integration-page.ts
Labels: cla-signed

#23214 Fix voice debug link
  src/panels/config/voice-assistants/assist-pref.ts
Labels: cla-signed

#23201 Fix "Integration entries" page for yaml-based integrations
  src/panels/config/integrations/ha-config-integration-page.ts
Labels: cla-signed

#23213 Improve "Restore?" option for Timer helpers
  src/translations/en.json
Labels: cla-signed, localization

#23227 Fix typo in translations build script
  build-scripts/gulp/fetch-nightly-translations.js
Labels: cla-signed, Build

#23224 Use dedicated endpoint to generate backup with default settings
  src/data/backup.ts
  src/panels/config/backup/ha-config-backup-dashboard.ts
Labels: cla-signed

#17765 Update developer-tools-template.ts: add independent scrollbars for left & right panels for large screens
  src/panels/developer-tools/template/developer-tools-template.ts
Labels: cla-signed

#23234 Drop support for IE 11 and Samsung 4
  .browserslistrc
Labels: cla-signed, Build

#23237 Revert "Update developer-tools-template.ts: add independent scrollbars for left & right panels for large screens"
  src/panels/developer-tools/template/developer-tools-template.ts
Labels: cla-signed

#23223 Fix landingpage, supervisor release permission
  .github/workflows/release.yaml
Labels: cla-signed, GitHub Actions

#23225 Add onboarding dialog for backups
  src/panels/config/backup/components/ha-backup-config-data.ts
  src/panels/config/backup/dialogs/dialog-backup-onboarding.ts
  src/panels/config/backup/dialogs/show-dialog-backup_onboarding.ts
  src/panels/config/backup/ha-config-backup-dashboard.ts
Labels: cla-signed

#23222 Add progress and status for backup dashboard
  src/components/ha-file-upload.ts
  src/data/backup.ts
  src/data/backup_manager.ts
  src/panels/config/backup/components/ha-backup-summary-card.ts
  src/panels/config/backup/components/ha-backup-summary-progress.ts
  src/panels/config/backup/components/ha-backup-summary-status.ts
  src/panels/config/backup/ha-config-backup-dashboard.ts
Labels: cla-signed

#23238 Rename local backups and show icon
  src/data/backup.ts
  src/panels/config/backup/components/ha-backup-agents-picker.ts
  src/panels/config/backup/components/ha-backup-config-agents.ts
  src/panels/config/backup/ha-config-backup-dashboard.ts
  src/panels/config/backup/ha-config-backup-details.ts
Labels: cla-signed

#23184 Extract assist-chat out of voice-command-dialog
  src/components/ha-assist-chat.ts
  src/dialogs/voice-command-dialog/ha-voice-command-dialog.ts
  src/translations/en.json
Labels: cla-signed

#23220 Simplify dialog navigation to fix back button
  src/common/navigate.ts
  src/dialogs/make-dialog-manager.ts
  src/state/url-sync-mixin.ts
Labels: cla-signed, WTH, Bug Fix

#23236 Use list item for integration quality scale
  src/panels/config/integrations/ha-config-integration-page.ts
Labels: cla-signed

#23241 Improve backup onboarding
  src/panels/config/backup/dialogs/dialog-backup-onboarding.ts
  src/panels/config/backup/ha-config-backup-dashboard.ts
Labels: cla-signed

#23199 Added "Media player volume slider" card feature.
  gallery/src/pages/lovelace/tile-card.ts
  src/panels/lovelace/card-features/hui-media-player-volume-slider-card-feature.ts
  src/panels/lovelace/card-features/types.ts
  src/panels/lovelace/create-element/create-card-feature-element.ts
  src/panels/lovelace/editor/config-elements/hui-card-features-editor.ts
  src/translations/en.json
Labels: cla-signed, Tile card, Design

#23209 Intercept default search shortcut and focus our search input on data table pages
  src/layouts/hass-tabs-subpage-data-table.ts
  src/mixins/keyboard-shortcut-mixin.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/scene/ha-scene-editor.ts
  src/panels/config/script/ha-script-editor.ts
Labels: cla-signed

#23142 Combine Edit in yaml and Edit in visual editor (1/2)
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/panels/config/scene/ha-scene-editor.ts
  src/panels/config/script/ha-script-editor.ts
  src/panels/config/script/ha-script-field-row.ts
Labels: cla-signed

#23143 Combine Edit in yaml and Edit in visual editor (2/2)
  src/panels/lovelace/editor/card-editor/hui-card-layout-editor.ts
  src/panels/lovelace/editor/conditions/ha-card-condition-editor.ts
  src/panels/lovelace/editor/section-editor/hui-dialog-edit-section.ts
  src/panels/lovelace/editor/view-editor/hui-dialog-edit-view.ts
Labels: cla-signed

#23245 Move view to another dashboard
  src/panels/lovelace/editor/config-util.ts
  src/panels/lovelace/editor/select-dashboard/hui-dialog-select-dashboard.ts
  src/panels/lovelace/editor/select-dashboard/show-select-dashboard-dialog.ts
  src/panels/lovelace/editor/view-editor/hui-dialog-edit-view.ts
  src/translations/en.json
Labels: cla-signed, WTH, Noteworthy

#23233 Compress legacy build and shared static files using Brotli
  build-scripts/gulp/compress.js
Labels: cla-signed, Build

#23254 Fix dialog navigation by making `navigate()` async
  src/common/navigate.ts
  src/dialogs/make-dialog-manager.ts
Labels: cla-signed

#23242 Update developer-tools-template.ts: add independent scrollbars for left & right panels for large screens
  src/panels/developer-tools/template/developer-tools-template.ts
Labels: cla-signed

#23257 Rename stored and default to strategy backup
  src/data/backup.ts
  src/panels/config/backup/dialogs/dialog-new-backup.ts
  src/panels/config/backup/dialogs/show-dialog-new-backup.ts
  src/panels/config/backup/ha-config-backup-dashboard.ts
  src/panels/config/backup/ha-config-backup-default-config.ts
Labels: cla-signed

#23259 Remove not needed admin checks
  src/panels/lovelace/editor/select-dashboard/hui-dialog-select-dashboard.ts
  src/panels/lovelace/editor/select-view/hui-dialog-select-view.ts
Labels: cla-signed

#23260 Some fixes and improvements for backups
  src/data/backup.ts
  src/panels/config/backup/components/ha-backup-config-agents.ts
  src/panels/config/backup/components/ha-backup-config-data.ts
  src/panels/config/backup/components/ha-backup-config-schedule.ts
  src/panels/config/backup/components/ha-backup-summary-status.ts
  src/panels/config/backup/dialogs/dialog-backup-onboarding.ts
  src/panels/config/backup/ha-config-backup-dashboard.ts
  src/panels/config/backup/ha-config-backup-strategy.ts
  src/panels/config/backup/ha-config-backup.ts
Labels: cla-signed

#23170 Prevent leaving the editor if there are unsaved changes
  src/components/ha-sidebar.ts
  src/mixins/prevent-unsaved-mixin.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/scene/ha-scene-editor.ts
  src/panels/config/script/ha-script-editor.ts
Labels: cla-signed, WTH

#23239 Merge feature branch with backup changes to dev
  src/components/ha-circular-progress.ts
  src/components/ha-file-upload.ts
  src/components/ha-md-textfield.ts
  src/components/ha-password-field.ts
  src/data/backup.ts
  src/data/backup_manager.ts
  src/layouts/hass-tabs-subpage-data-table.ts
  src/panels/config/backup/components/ha-backup-addons-picker.ts
  src/panels/config/backup/components/ha-backup-agents-picker.ts
  src/panels/config/backup/components/ha-backup-config-agents.ts
  src/panels/config/backup/components/ha-backup-config-data.ts
  src/panels/config/backup/components/ha-backup-config-encryption-key.ts
  src/panels/config/backup/components/ha-backup-config-schedule.ts
  src/panels/config/backup/components/ha-backup-data-picker.ts
  src/panels/config/backup/components/ha-backup-formfield-label.ts
  src/panels/config/backup/components/ha-backup-summary-card.ts
  src/panels/config/backup/components/ha-backup-summary-progress.ts
  src/panels/config/backup/components/ha-backup-summary-status.ts
  src/panels/config/backup/dialogs/dialog-backup-onboarding.ts
  src/panels/config/backup/dialogs/dialog-change-backup-encryption-key.ts
  src/panels/config/backup/dialogs/dialog-generate-backup.ts
  src/panels/config/backup/dialogs/dialog-new-backup.ts
  src/panels/config/backup/dialogs/dialog-restore-backup-encryption-key.ts
  src/panels/config/backup/dialogs/dialog-set-backup-encryption-key.ts
  src/panels/config/backup/dialogs/dialog-upload-backup.ts
  src/panels/config/backup/dialogs/show-dialog-backup_onboarding.ts
  src/panels/config/backup/dialogs/show-dialog-change-backup-encryption-key.ts
  src/panels/config/backup/dialogs/show-dialog-generate-backup.ts
  src/panels/config/backup/dialogs/show-dialog-new-backup.ts
  src/panels/config/backup/dialogs/show-dialog-restore-backup-encryption-key.ts
  src/panels/config/backup/dialogs/show-dialog-set-backup-encryption-key.ts
  src/panels/config/backup/dialogs/show-dialog-upload-backup.ts
  src/panels/config/backup/ha-config-backup-dashboard.ts
  src/panels/config/backup/ha-config-backup-details.ts
  src/panels/config/backup/ha-config-backup-locations.ts
  src/panels/config/backup/ha-config-backup-strategy.ts
  src/panels/config/backup/ha-config-backup.ts
  src/panels/config/ha-panel-config.ts
  src/util/file_download.ts
Labels: cla-signed

#23262 Fix for auto closing dialogs on `navigate`
  src/dialogs/make-dialog-manager.ts
Labels: cla-signed

#23261 Fix navigate timing when dialogs where opened
  src/components/ha-related-items.ts
  src/dialogs/more-info/ha-more-info-history.ts
  src/dialogs/more-info/ha-more-info-logbook.ts
  src/panels/config/integrations/ha-domain-integrations.ts
Labels: cla-signed

#23273 Fix more dialogs
  src/dialogs/voice-command-dialog/ha-voice-command-dialog.ts
  src/panels/calendar/dialog-calendar-event-detail.ts
  src/panels/config/person/dialog-person-detail.ts
  src/panels/config/voice-assistants/dialog-voice-assistant-pipeline-detail.ts
Labels: cla-signed

#23271 Simplify dialog history logic
  src/dialogs/make-dialog-manager.ts
  src/state/url-sync-mixin.ts
Labels: cla-signed

#23270 Remove custom TimeLineScale for chartjs
  src/components/chart/state-history-chart-timeline.ts
  src/components/chart/timeline-chart/const.ts
  src/components/chart/timeline-chart/timeline-scale.ts
  src/resources/chartjs.ts
Labels: cla-signed

#23244 Fix getting custom config parameters for Z-Wave JS
  src/data/zwave_js.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-custom-param.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-node-config.ts
Labels: cla-signed, Bug Fix, integration: zwave_js

#23267 Automation/Script editor border-radius fix
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/panels/config/script/ha-script-field-row.ts
Labels: cla-signed

#23264 Remove unused polyfills and adjust support for Intl.getCanonicalLocales
  build-scripts/babel-plugins/custom-polyfill-plugin.js
  package.json
  src/resources/polyfills/element-append.ts
  yarn.lock
Labels: cla-signed, Build

#23258 Common-color-tests
  src/common/color/convert-color.ts
  src/common/color/convert-light-color.ts
  src/common/color/hex.ts
  src/common/color/lab.ts
  test/common/color/colors.test.ts
  test/common/color/compute-color.test.ts
  test/common/color/convert-color.test.ts
  test/common/color/convert-light-color.test.ts
  test/common/color/hex.test.ts
  test/common/color/lab.test.ts
  test/common/color/rgb.test.ts
Labels: cla-signed

#23279 Fix create custom backup twice on dialog-new-backup
  src/panels/config/backup/dialogs/dialog-new-backup.ts
Labels: cla-signed

#23276 Mobile styles for backup summary
  src/panels/config/backup/components/ha-backup-summary-card.ts
Labels: cla-signed

#23278 Add missing translations to voice wizard
  src/translations/en.json
Labels: cla-signed

#23272 Automation/Script editor add settings,category overflow actions
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/script/ha-script-editor.ts
Labels: cla-signed

#23281 Improve piper audio generation
  src/dialogs/voice-assistant-setup/voice-assistant-setup-step-pipeline.ts
Labels: cla-signed

#23293 Make Device Condition description consistent with Trigger and Action
  src/translations/en.json
Labels: cla-signed

#23291 Remove fixed device class icons
  src/common/const.ts
Labels: cla-signed

#23297 Fix grammar mismatch in OAuth description
  src/translations/en.json
Labels: cla-signed

#23301 Fix ha-button-menu menuCorner attribute
  src/components/ha-button-menu.ts
  src/dialogs/more-info/ha-more-info-dialog.ts
  src/panels/config/voice-assistants/dialog-voice-assistant-pipeline-detail.ts
  src/panels/lovelace/components/hui-badge-edit-mode.ts
  src/panels/lovelace/components/hui-card-edit-mode.ts
  src/panels/lovelace/editor/card-editor/hui-card-layout-editor.ts
  src/panels/lovelace/editor/conditions/ha-card-condition-editor.ts
  src/panels/lovelace/editor/dashboard-strategy-editor/dialogs/dialog-dashboard-strategy-editor.ts
  src/panels/lovelace/editor/section-editor/hui-dialog-edit-section.ts
  src/panels/lovelace/editor/view-editor/hui-dialog-edit-view.ts
  src/panels/profile/ha-refresh-tokens-card.ts
Labels: cla-signed

#23303 Fix typo "dasboard" and missing hyphen in en.json
  src/translations/en.json
Labels: cla-signed

#23283 Improve backup data-table on mobile
  src/layouts/hass-tabs-subpage-data-table.ts
  src/panels/config/backup/ha-config-backup-dashboard.ts
  src/panels/config/backup/ha-config-backup.ts
Labels: cla-signed

#23307 Disable backup by default for update more info
  src/dialogs/more-info/controls/more-info-update.ts
Labels: cla-signed, Breaking Change, Noteworthy

#23310 Cloud login: Wait with navigate until confirm action is done
  src/panels/config/cloud/login/cloud-login.ts
Labels: cla-signed

#23282 Improve backup onboarding
  src/data/backup.ts
  src/panels/config/backup/components/ha-backup-agents-picker.ts
  src/panels/config/backup/components/ha-backup-config-agents.ts
  src/panels/config/backup/dialogs/dialog-backup-onboarding.ts
  src/panels/config/backup/dialogs/dialog-change-backup-encryption-key.ts
  src/panels/config/backup/dialogs/show-dialog-backup_onboarding.ts
  src/panels/config/backup/ha-config-backup-dashboard.ts
  src/panels/config/backup/ha-config-backup-details.ts
  src/panels/config/backup/ha-config-backup-strategy.ts
  src/panels/config/backup/ha-config-backup.ts
Labels: cla-signed

#23298 Defer loading of fallback domain icons
  src/common/const.ts
  src/components/ha-domain-icon.ts
  src/components/ha-service-icon.ts
  src/components/ha-state-icon.ts
  src/data/icons.ts
Labels: cla-signed

#23284 For consistency align close button to the left in `ha-dialog`
  src/components/ha-dialog.ts
Labels: cla-signed

#23312 Add backup sync status in detail page
  src/data/backup.ts
  src/panels/config/backup/ha-config-backup-dashboard.ts
  src/panels/config/backup/ha-config-backup-details.ts
Labels: cla-signed

#23311 Enable chart animations
  src/components/chart/state-history-chart-line.ts
  src/components/chart/state-history-chart-timeline.ts
  src/components/chart/statistics-chart.ts
  src/panels/config/hardware/ha-config-hardware.ts
  src/panels/lovelace/cards/energy/common/energy-chart-options.ts
  src/panels/lovelace/cards/energy/hui-energy-devices-graph-card.ts
Labels: cla-signed

#23309 Focus on card search input when adding new card
  src/panels/lovelace/editor/card-editor/hui-card-picker.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-create-card.ts
Labels: cla-signed

#23086 Allow for deleting image_upload images in media panel
  src/components/media-player/dialog-media-manage.ts
  src/components/media-player/ha-media-manage-button.ts
  src/data/image_upload.ts
  src/data/media_source.ts
Labels: cla-signed, Noteworthy, backend merged

#23302 Fix touch control of chart zoom
  src/components/chart/ha-chart-base.ts
  src/components/chart/state-history-chart-line.ts
Labels: cla-signed

#23319 Fix new automation dialog in Firefox
  src/common/navigate.ts
  src/panels/config/automation/dialog-new-automation.ts
Labels: cla-signed

#23320 Only use pipelines that have the default coversation agent
  src/dialogs/voice-assistant-setup/voice-assistant-setup-step-local.ts
  src/dialogs/voice-assistant-setup/voice-assistant-setup-step-pipeline.ts
Labels: cla-signed

#23228 Date-range-picker Design to use Prev and Next Buttons in History and Logbook on mobiles
  src/common/datetime/calc_date.ts
  src/components/ha-date-range-picker.ts
  src/components/ha-textarea.ts
  src/panels/history/ha-panel-history.ts
  src/panels/logbook/ha-panel-logbook.ts
  src/panels/lovelace/components/hui-energy-period-selector.ts
  src/translations/en.json
Labels: cla-signed, Noteworthy

#22416 Fix inconsistency in Thermostat and Humidifier card names
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#23188 Add MFA login flow support for cloud component
  src/data/cloud.ts
  src/dialogs/voice-assistant-setup/cloud/cloud-step-signin.ts
  src/dialogs/voice-assistant-setup/cloud/cloud-step-signup.ts
  src/panels/config/cloud/login/cloud-login.ts
  src/translations/en.json
Labels: cla-signed

#23322 Fix costs in energy csv download
  src/panels/energy/ha-panel-energy.ts
Labels: cla-signed, panel: energy

#23326 Improve chart zoom
  src/components/chart/ha-chart-base.ts
Labels: cla-signed

#23328 Fix integrations dialog
  src/dialogs/make-dialog-manager.ts
Labels: cla-signed

#23329 Rename backup strategy
  src/data/backup.ts
  src/panels/config/backup/components/ha-backup-summary-status.ts
  src/panels/config/backup/dialogs/dialog-backup-onboarding.ts
  src/panels/config/backup/dialogs/dialog-new-backup.ts
  src/panels/config/backup/dialogs/show-dialog-new-backup.ts
  src/panels/config/backup/ha-config-backup-dashboard.ts
  src/panels/config/backup/ha-config-backup-settings.ts
  src/panels/config/backup/ha-config-backup.ts
Labels: cla-signed

#23332 Optimize the style of hui-energy-period-selector
  src/panels/energy/ha-panel-energy.ts
Labels: cla-signed

#23333 Only show local addons folder settings if at least one addon is local
  src/panels/config/backup/components/ha-backup-config-data.ts
  src/panels/config/backup/components/ha-backup-data-picker.ts
Labels: cla-signed

#23007 Introduce a target picker for the logbook card
  src/data/script.ts
  src/panels/lovelace/cards/hui-logbook-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/editor/config-elements/hui-logbook-card-editor.ts
Labels: cla-signed, Noteworthy

#23330 Sortable energy individual devices
  src/panels/config/energy/components/ha-energy-device-settings.ts
Labels: cla-signed, WTH, panel: energy

#23343 Add overview summary for backups
  src/panels/config/backup/components/ha-backup-summary-card.ts
  src/panels/config/backup/components/overview/ha-backup-overview-backups.ts
  src/panels/config/backup/components/overview/ha-backup-overview-onboarding.ts
  src/panels/config/backup/components/overview/ha-backup-overview-progress.ts
  src/panels/config/backup/components/overview/ha-backup-overview-summary.ts
  src/panels/config/backup/dialogs/dialog-backup-onboarding.ts
  src/panels/config/backup/dialogs/dialog-new-backup.ts
  src/panels/config/backup/dialogs/show-dialog-backup_onboarding.ts
  src/panels/config/backup/ha-config-backup-backups.ts
  src/panels/config/backup/ha-config-backup-locations.ts
  src/panels/config/backup/ha-config-backup-overview.ts
  src/panels/config/backup/ha-config-backup-settings.ts
  src/panels/config/backup/ha-config-backup.ts
Labels: cla-signed

#23344 Remove leftover packages from Rollup builds
  build-scripts/gulp/gather-static.js
  package.json
  yarn.lock
Labels: cla-signed, Build

#23198 Fix visibility for shown entities on device card (2)
  src/panels/config/devices/device-detail/ha-device-entities-card.ts
Labels: cla-signed, Needs UX

#23072 Allow selecting previously uploaded image for picture upload
  src/components/ha-file-upload.ts
  src/components/ha-picture-upload.ts
  src/components/ha-selector/ha-selector-image.ts
  src/components/media-player/dialog-media-player-browse.ts
  src/components/media-player/show-media-browser-dialog.ts
  src/data/image_upload.ts
  src/dialogs/image-cropper-dialog/image-cropper-dialog.ts
  src/panels/config/areas/dialog-area-registry-detail.ts
  src/panels/config/person/dialog-person-detail.ts
  src/translations/en.json
Labels: cla-signed, Noteworthy, backend merged

#23351 Update icons for backups
  src/panels/config/backup/components/config/ha-backup-config-agents.ts
  src/panels/config/backup/components/ha-backup-agents-picker.ts
  src/panels/config/backup/components/overview/ha-backup-overview-settings.ts
  src/panels/config/backup/ha-config-backup-backups.ts
  src/panels/config/backup/ha-config-backup-details.ts
  src/state/connection-mixin.ts
Labels: cla-signed

#23348 Set default netmask when parsing an address
  src/data/hassio/network.ts
Labels: cla-signed, WTH

#23340 Improve onboarding backup restore
  hassio/src/components/hassio-upload-backup.ts
  hassio/src/components/supervisor-backup-content.ts
  hassio/src/dialogs/backup/dialog-hassio-backup.ts
  src/components/ha-file-upload.ts
  src/data/hassio/backup.ts
  src/onboarding/onboarding-restore-backup.ts
  src/translations/en.json
Labels: cla-signed, Supervisor

#23357 Fix duplicate agents ids during onboarding
  src/panels/config/backup/components/config/ha-backup-config-agents.ts
  src/panels/config/backup/dialogs/dialog-backup-onboarding.ts
Labels: cla-signed

#23356 Revert remove hass debug connection in dev
  src/state/connection-mixin.ts
Labels: cla-signed

#23212 border-radius fixes for state-badge
  src/components/entity/state-badge.ts
Labels: cla-signed

#23359 Fix spacing of markdown textfield helpers
  src/components/ha-textfield.ts
Labels: cla-signed

#23361 Multiple backup adjustments
  src/components/ha-mount-picker.ts
  src/data/selector.ts
  src/panels/config/backup/components/config/ha-backup-config-agents.ts
  src/panels/config/backup/components/config/ha-backup-config-data.ts
  src/panels/config/backup/components/config/ha-backup-config-schedule.ts
  src/panels/config/backup/components/ha-backup-addons-picker.ts
  src/panels/config/backup/components/ha-backup-formfield-label.ts
  src/panels/config/backup/components/overview/ha-backup-overview-backups.ts
  src/panels/config/backup/components/overview/ha-backup-overview-onboarding.ts
  src/panels/config/backup/components/overview/ha-backup-overview-settings.ts
  src/panels/config/backup/dialogs/dialog-backup-onboarding.ts
  src/panels/config/backup/dialogs/dialog-change-backup-encryption-key.ts
  src/panels/config/backup/dialogs/dialog-local-backup-location.ts
  src/panels/config/backup/dialogs/dialog-new-backup.ts
  src/panels/config/backup/dialogs/dialog-restore-backup-encryption-key.ts
  src/panels/config/backup/dialogs/dialog-set-backup-encryption-key.ts
  src/panels/config/backup/dialogs/show-dialog-backup_onboarding.ts
  src/panels/config/backup/dialogs/show-dialog-local-backup-location.ts
  src/panels/config/backup/ha-config-backup-details.ts
  src/panels/config/backup/ha-config-backup-overview.ts
  src/panels/config/backup/ha-config-backup-settings.ts
  src/translations/en.json
Labels: cla-signed

#23363 Rspack v1.1.8
  package.json
  yarn.lock
Labels: cla-signed

#23364 Don't allow user to choose cloud if ha settings is not set
  src/panels/config/backup/components/ha-backup-agents-picker.ts
  src/panels/config/backup/dialogs/dialog-generate-backup.ts
  src/panels/config/backup/dialogs/dialog-upload-backup.ts
  src/panels/config/backup/dialogs/show-dialog-generate-backup.ts
  src/panels/config/backup/ha-config-backup-backups.ts
  src/panels/config/backup/ha-config-backup-overview.ts
Labels: cla-signed

#23354 Change backup restore flow
  src/panels/config/backup/dialogs/dialog-restore-backup-encryption-key.ts
  src/panels/config/backup/dialogs/dialog-restore-backup.ts
  src/panels/config/backup/dialogs/show-dialog-restore-backup-encryption-key.ts
  src/panels/config/backup/dialogs/show-dialog-restore-backup.ts
  src/panels/config/backup/ha-config-backup-details.ts
Labels: cla-signed

#23368 Add links to backup overview settings
  src/panels/config/backup/components/config/ha-backup-config-data.ts
  src/panels/config/backup/components/overview/ha-backup-overview-settings.ts
  src/panels/config/backup/ha-config-backup-settings.ts
Labels: cla-signed

#23371 Add state completion support for Assist Satellite entities
  src/common/entity/get_states.ts
Labels: cla-signed

#23247 Ability to show map icons for geolocation sources
  src/components/map/ha-entity-marker.ts
  src/components/map/ha-map.ts
  src/panels/lovelace/cards/hui-map-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/editor/config-elements/hui-map-card-editor.ts
Labels: cla-signed

#23374 Fix link on all backups button
  src/panels/config/backup/components/overview/ha-backup-overview-backups.ts
Labels: cla-signed

#23352 Improve picture select crop error handling
  src/components/ha-picture-upload.ts
  src/data/image_upload.ts
  test/data/image_upload.test.ts
Labels: cla-signed

#23349 Add tests for common/config
  src/common/config/can_show_page.ts
  test/common/config/can_show_page.test.ts
  test/common/config/components_with_service.test.ts
  test/common/config/is_component_loaded.test.ts
  test/common/config/is_pwa.test.ts
  test/common/config/is_service_loaded.test.ts
  test/common/config/location_name.test.ts
  test/common/config/version.test.ts
Labels: cla-signed

#23240 Add category and labels to automation/script save and rename dialog
  src/common/util/debounce.ts
  src/components/ha-fab.ts
  src/mixins/prevent-unsaved-mixin.ts
  src/panels/config/automation/automation-rename-dialog/dialog-automation-rename.ts
  src/panels/config/automation/automation-rename-dialog/show-dialog-automation-rename.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/script/ha-script-editor.ts
  src/translations/en.json
Labels: cla-signed, WTH

#23360 Use "limit" instead of "mode" for Numeric state trigger and condition
  src/panels/config/automation/condition/types/ha-automation-condition-numeric_state.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-numeric_state.ts
  src/translations/en.json
Labels: cla-signed

#23127 Add toggle switch for exposing of new entities to Assist
  src/panels/config/voice-assistants/assist-pref.ts
  src/translations/en.json
Labels: cla-signed, WTH, Needs UX

#23133 View background settings
  cast/src/receiver/layout/hc-lovelace.ts
  src/components/ha-selector/ha-selector-button-toggle.ts
  src/components/ha-selector/ha-selector.ts
  src/data/lovelace/config/view.ts
  src/data/selector.ts
  src/panels/lovelace/editor/view-editor/hui-view-background-editor.ts
  src/panels/lovelace/hui-root.ts
  src/panels/lovelace/views/hui-view-background.ts
  src/panels/lovelace/views/hui-view-container.ts
  src/translations/en.json
Labels: cla-signed, Cast, Noteworthy

#23002 Energy Sankey chart card
  src/components/chart/sankey-chart.ts
  src/panels/lovelace/cards/energy/hui-energy-sankey-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/create-element/create-card-element.ts
  src/translations/en.json
Labels: cla-signed, New Card, panel: energy, Noteworthy

#23377 Show all disabled helpers in config/helpers
  src/panels/config/helpers/ha-config-helpers.ts
Labels: cla-signed

#21463 Add stream preview element to generic camera
  src/components/ha-hls-player.ts
  src/data/preview.ts
  src/dialogs/config-flow/previews/flow-preview-generic.ts
  src/dialogs/config-flow/previews/flow-preview-generic_camera.ts
Labels: cla-signed
