Repository home-assistant/frontend, pull requests merged in 2024-04, with the labels that each got.

#20291 Add multi select to automations
  src/components/chips/ha-assist-chip.ts
  src/components/data-table/ha-data-table.ts
  src/components/ha-button-menu-new.ts
  src/components/ha-sub-menu.ts
  src/layouts/hass-tabs-subpage-data-table.ts
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/entities/ha-config-entities.ts
  src/resources/styles-data.ts
  src/translations/en.json
Labels: cla-signed

#20310 fix floor icon color dark mode
  src/panels/config/areas/dialog-floor-registry-detail.ts
Labels: cla-signed

#20289 Add drag and drop to area dashboard
  src/panels/config/areas/ha-config-areas-dashboard.ts
Labels: cla-signed

#20293 Fix and optimize automation overflow
  src/components/data-table/ha-data-table.ts
  src/panels/config/automation/add-automation-element-dialog.ts
  src/panels/config/automation/ha-automation-picker.ts
Labels: cla-signed

#20311 Use area and floor dialog when adding item in picker
  src/components/ha-area-picker.ts
  src/components/ha-floor-picker.ts
  src/panels/config/areas/dialog-area-registry-detail.ts
  src/panels/config/areas/dialog-floor-registry-detail.ts
  src/panels/config/areas/show-dialog-area-registry-detail.ts
  src/panels/config/areas/show-dialog-floor-registry-detail.ts
  src/translations/en.json
Labels: cla-signed

#20313 Add shortcut to label filter from label config page
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/labels/ha-config-labels.ts
  src/panels/config/scene/ha-scene-dashboard.ts
  src/panels/config/script/ha-script-picker.ts
Labels: cla-signed

#20315 Fix pickers
  src/components/ha-area-picker.ts
  src/components/ha-floor-picker.ts
  src/panels/config/category/ha-category-picker.ts
  src/translations/en.json
Labels: cla-signed

#20312 Improve more info dialog navigation for specific view
  src/dialogs/more-info/ha-more-info-dialog.ts
  src/translations/en.json
Labels: cla-signed

#20316 Sort labels by name
  src/components/data-table/ha-data-table-labels.ts
  src/components/ha-labels-picker.ts
Labels: cla-signed

#20317 Add warning color for menu item
  src/components/ha-menu-item.ts
  src/panels/config/automation/ha-automation-picker.ts
Labels: cla-signed

#20321 Add multi select to devices
  src/panels/config/devices/ha-config-devices-dashboard.ts
Labels: cla-signed

#20319 Update multi select of entities config
  src/panels/config/entities/ha-config-entities.ts
  src/translations/en.json
Labels: cla-signed

#20323 Fix label wrap
  src/components/ha-label.ts
  src/components/ha-menu-item.ts
Labels: cla-signed

#20325 Load translations when adding item in pickers
  src/components/ha-area-picker.ts
  src/components/ha-floor-picker.ts
  src/components/ha-label-picker.ts
  src/components/ha-selector/ha-selector-label.ts
  src/panels/config/category/ha-category-picker.ts
Labels: cla-signed

#20326 20240402.1
  gallery/src/pages/components/ha-control-select.ts
  gallery/src/pages/components/ha-control-slider.ts
  gallery/src/pages/components/ha-control-switch.ts
  pyproject.toml
  src/components/data-table/ha-data-table-labels.ts
  src/components/ha-area-picker.ts
  src/components/ha-floor-picker.ts
  src/components/ha-label-picker.ts
  src/components/ha-label.ts
  src/components/ha-labels-picker.ts
  src/components/ha-menu-item.ts
  src/components/ha-selector/ha-selector-label.ts
  src/dialogs/more-info/components/lights/light-color-temp-picker.ts
  src/dialogs/more-info/controls/more-info-alarm_control_panel.ts
  src/dialogs/more-info/controls/more-info-lock.ts
  src/dialogs/more-info/ha-more-info-dialog.ts
  src/panels/config/areas/dialog-area-registry-detail.ts
  src/panels/config/areas/dialog-floor-registry-detail.ts
  src/panels/config/areas/show-dialog-area-registry-detail.ts
  src/panels/config/areas/show-dialog-floor-registry-detail.ts
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/category/ha-category-picker.ts
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/labels/ha-config-labels.ts
  src/panels/config/scene/ha-scene-dashboard.ts
  src/panels/config/script/ha-script-picker.ts
  src/state-control/alarm_control_panel/ha-state-control-alarm_control_panel-modes.ts
  src/state-control/cover/ha-state-control-cover-position.ts
  src/state-control/cover/ha-state-control-cover-tilt-position.ts
  src/state-control/cover/ha-state-control-cover-toggle.ts
  src/state-control/fan/ha-state-control-fan-speed.ts
  src/state-control/ha-state-control-toggle.ts
  src/state-control/light/ha-state-control-light-brightness.ts
  src/state-control/lock/ha-state-control-lock-toggle.ts
  src/state-control/valve/ha-state-control-valve-position.ts
  src/state-control/valve/ha-state-control-valve-toggle.ts
  src/translations/en.json
Labels: cla-signed, Design

#20329 Fix error in console when taking control of the strategy
  src/panels/lovelace/editor/dashboard-strategy-editor/dialogs/dialog-dashboard-strategy-editor.ts
Labels: cla-signed

#20330 Replace add label by manage labels in filters
  src/components/ha-filter-labels.ts
  src/translations/en.json
Labels: cla-signed

#20332 Add clear button to search field
  src/components/search-input-outlined.ts
Labels: cla-signed

#20339 Add edit button to areas in area dashboard + color add floor fab
  src/panels/config/areas/ha-config-areas-dashboard.ts
Labels: cla-signed

#20341 Add search to device and entity filters
  src/components/ha-filter-devices.ts
  src/components/ha-filter-entities.ts
Labels: cla-signed

#20343 Add clear filter button to individual filters
  src/components/ha-filter-blueprints.ts
  src/components/ha-filter-categories.ts
  src/components/ha-filter-devices.ts
  src/components/ha-filter-entities.ts
  src/components/ha-filter-floor-areas.ts
  src/components/ha-filter-integrations.ts
  src/components/ha-filter-labels.ts
  src/components/ha-filter-states.ts
  src/layouts/hass-tabs-subpage-data-table.ts
Labels: cla-signed

#20345 Add my link support for labels
  src/panels/my/ha-panel-my.ts
Labels: cla-signed

#20348 20240402.2
  pyproject.toml
  src/components/ha-filter-blueprints.ts
  src/components/ha-filter-categories.ts
  src/components/ha-filter-devices.ts
  src/components/ha-filter-entities.ts
  src/components/ha-filter-floor-areas.ts
  src/components/ha-filter-integrations.ts
  src/components/ha-filter-labels.ts
  src/components/ha-filter-states.ts
  src/components/search-input-outlined.ts
  src/layouts/hass-tabs-subpage-data-table.ts
  src/panels/config/areas/ha-config-areas-dashboard.ts
  src/panels/lovelace/common/generate-lovelace-config.ts
  src/panels/lovelace/common/validate-condition.ts
  src/panels/lovelace/editor/dashboard-strategy-editor/dialogs/dialog-dashboard-strategy-editor.ts
  src/panels/my/ha-panel-my.ts
  src/translations/en.json
Labels: cla-signed

#20354 Fix removing labels
  src/components/ha-labels-picker.ts
Labels: cla-signed

#20355 Take lang into account when sorting groups
  src/components/data-table/ha-data-table.ts
Labels: cla-signed

#20358 make subpage data table full height
  src/layouts/hass-tabs-subpage-data-table.ts
Labels: cla-signed

#20359 Fix elements above filter dialog
  src/layouts/hass-tabs-subpage-data-table.ts
Labels: cla-signed

#20360 Fix toggles in automation datatable on firefox
  src/panels/config/automation/ha-automation-picker.ts
Labels: cla-signed

#20361 Prevent line break in selection menu
  src/layouts/hass-tabs-subpage-data-table.ts
Labels: cla-signed

#20363 Use tree for nested floor instead of icon
  src/components/ha-area-floor-picker.ts
  src/components/ha-filter-floor-areas.ts
  src/components/ha-tree-indicator.ts
Labels: cla-signed

#20367 Add search to integration filter
  src/components/ha-filter-integrations.ts
Labels: cla-signed

#20366 Add area to automation, scene, script tables
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/scene/ha-scene-dashboard.ts
  src/panels/config/script/ha-script-picker.ts
  src/translations/en.json
Labels: cla-signed

#20369 Set input and button background color to white for toolbar
  src/components/chips/ha-assist-chip.ts
  src/components/ha-outlined-text-field.ts
  src/components/search-input-outlined.ts
  src/layouts/hass-tabs-subpage-data-table.ts
Labels: cla-signed

#20346 Add category and filters to helpers
  src/data/search.ts
  src/panels/config/helpers/ha-config-helpers.ts
  src/translations/en.json
Labels: cla-signed

#20365 Add create category and label to multi select
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/scene/ha-scene-dashboard.ts
  src/panels/config/script/ha-script-picker.ts
Labels: cla-signed

#20368 Allow to remove labels in multi select
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/helpers/ha-config-helpers.ts
  src/panels/config/scene/ha-scene-dashboard.ts
  src/panels/config/script/ha-script-picker.ts
Labels: cla-signed

#20347 Manage areas from floor dialog
  src/components/ha-floor-picker.ts
  src/panels/config/areas/dialog-floor-registry-detail.ts
  src/panels/config/areas/ha-config-areas-dashboard.ts
  src/panels/config/areas/show-dialog-floor-registry-detail.ts
  src/translations/en.json
Labels: cla-signed

#20371 Handle disabled entities in multi select label
  src/panels/config/entities/ha-config-entities.ts
Labels: cla-signed

#20372 Improve entity integration filter
  src/panels/config/entities/ha-config-entities.ts
Labels: cla-signed

#20373 Faulty helpers should not be selectable
  src/panels/config/helpers/ha-config-helpers.ts
Labels: cla-signed

#20375 Add settings shortcut to scene and script table
  src/panels/config/scene/ha-scene-dashboard.ts
  src/panels/config/script/ha-script-picker.ts
Labels: cla-signed

#20380 20240403.1
  pyproject.toml
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/helpers/ha-config-helpers.ts
  src/panels/config/scene/ha-scene-dashboard.ts
  src/panels/config/script/ha-script-picker.ts
Labels: cla-signed

#20382 Adjust integration filter height for search bar
  src/components/ha-filter-integrations.ts
Labels: cla-signed

#20388 Add floor and label support to history panel
  src/panels/history/ha-panel-history.ts
Labels: cla-signed

#20402 Avoid duplicate entity ids in history
  src/panels/history/ha-panel-history.ts
Labels: cla-signed

#20406 Fix z-index create category dialog
  src/layouts/hass-tabs-subpage-data-table.ts
Labels: cla-signed

#20394 Fix calendar range selection
  src/components/date-range-picker.ts
Labels: cla-signed

#20403 Add floor and label support to describe action
  gallery/src/pages/automation/describe-action.ts
  src/components/trace/hat-trace-timeline.ts
  src/data/context.ts
  src/data/script_i18n.ts
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/ha-panel-config.ts
  src/translations/en.json
Labels: cla-signed, Design

#20405 Fix icons in entity settings
  src/panels/config/entities/ha-config-entities.ts
Labels: cla-signed

#20410 Add count of items
  src/layouts/hass-tabs-subpage-data-table.ts
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/helpers/ha-config-helpers.ts
  src/panels/config/scene/ha-scene-dashboard.ts
  src/panels/config/script/ha-script-picker.ts
  src/translations/en.json
Labels: cla-signed

#20414 20240404.0
  build-scripts/webpack.cjs
  gallery/src/pages/automation/describe-action.ts
  pyproject.toml
  src/components/ha-filter-integrations.ts
  src/components/ha-outlined-field.ts
  src/components/ha-outlined-text-field.ts
  src/components/search-input-outlined.ts
  src/components/trace/hat-trace-timeline.ts
  src/data/context.ts
  src/data/script_i18n.ts
  src/layouts/hass-tabs-subpage-data-table.ts
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/ha-panel-config.ts
  src/panels/config/helpers/ha-config-helpers.ts
  src/panels/config/scene/ha-scene-dashboard.ts
  src/panels/config/script/ha-script-picker.ts
  src/panels/history/ha-panel-history.ts
  src/translations/en.json
Labels: cla-signed, Build, Design

#20415 Fix overflow on submenus
  src/components/ha-sub-menu.ts
Labels: cla-signed

#20429 Remove unused type
  src/panels/lovelace/cards/types.ts
Labels: cla-signed

#20430 Write log on translation error
  src/common/translations/localize.ts
  src/layouts/hass-tabs-subpage-data-table.ts
Labels: cla-signed

#20454 Don't duplicate the label as the description in Z-Wave Config
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-node-config.ts
Labels: cla-signed

#20456 Don't display keyboard shortcut hints if keyboard shortcuts are disabled
  src/panels/config/dashboard/ha-config-dashboard.ts
  src/panels/developer-tools/state/developer-tools-state.ts
Labels: cla-signed

#20463 Change tile to display "last triggered" in relative time
  src/panels/lovelace/cards/hui-tile-card.ts
Labels: cla-signed

#20447 Make it possible for themes to blur backgrounds
  src/components/ha-card.ts
  src/components/ha-dialog.ts
Labels: cla-signed

#20484 Match on correct entity ID of HA conversation agent
  src/panels/developer-tools/assist/developer-tools-assist.ts
Labels: cla-signed

#20491 Fix missing argument in voice assistant expose search label
  src/panels/config/voice-assistants/ha-config-voice-assistants-expose.ts
Labels: cla-signed

#20495 Fix issues with application credentials
  src/panels/config/application_credentials/ha-config-application-credentials.ts
Labels: cla-signed

#20494 Handle errors in multi select
  src/common/util/promise-all-settled-results.ts
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/helpers/ha-config-helpers.ts
  src/panels/config/scene/ha-scene-dashboard.ts
  src/panels/config/script/ha-script-picker.ts
  src/translations/en.json
Labels: cla-signed

#20492 Add spacing between icon and name in entity button bar
  src/panels/lovelace/components/hui-buttons-base.ts
Labels: cla-signed

#20499 Group date-fns packages
  renovate.json
Labels: cla-signed, Dependencies

#19988 Speed up and simplify translations build
  build-scripts/gulp/translations.js
  build-scripts/gulp/webpack.js
  build-scripts/util.cjs
  gulpfile.js
  package.json
  yarn.lock
Labels: cla-signed, Build

#20421 Add support for setting label description
  gallery/src/pages/components/ha-selector.ts
  src/components/ha-label-picker.ts
  src/data/label_registry.ts
  src/panels/config/labels/dialog-label-detail.ts
  src/panels/config/labels/ha-config-labels.ts
Labels: cla-signed, Design

#20033 Allow customizing display name for energy device
  src/data/energy.ts
  src/panels/config/energy/components/ha-energy-device-settings.ts
  src/panels/config/energy/dialogs/dialog-energy-device-settings.ts
  src/panels/config/energy/dialogs/show-dialogs-energy.ts
  src/panels/lovelace/cards/energy/hui-energy-devices-detail-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-devices-graph-card.ts
  src/translations/en.json
Labels: cla-signed, Backend Change Required, WTH

#19287 Create helpers from automation editor
  src/components/entity/ha-entity-picker.ts
  src/components/ha-selector/ha-selector-target.ts
  src/components/ha-service-control.ts
  src/components/ha-target-picker.ts
  src/data/selector.ts
  src/panels/config/helpers/dialog-helper-detail.ts
  src/panels/config/helpers/show-dialog-helper-detail.ts
  src/translations/en.json
Labels: cla-signed

#19994 Location/zone editor updates
  src/components/ha-selector/ha-selector-location.ts
  src/data/selector.ts
  src/data/zone.ts
  src/panels/config/core/ha-config-section-general.ts
  src/panels/config/zone/dialog-home-zone-detail.ts
  src/panels/config/zone/dialog-zone-detail.ts
  src/panels/config/zone/ha-config-zone.ts
  src/panels/config/zone/show-dialog-home-zone-detail.ts
  src/translations/en.json
Labels: cla-signed

#19861 Rebuild stack card when a child card rebuilds
  src/panels/lovelace/cards/hui-stack-card.ts
Labels: cla-signed

#19955 Replace paper-listbox in zone area
  src/panels/config/zone/ha-config-zone.ts
Labels: cla-signed

#20517 Sort custom cards in card picker
  src/panels/lovelace/editor/card-editor/hui-card-picker.ts
Labels: cla-signed

#20519 Fix malformed CSS in dialog surface
  src/components/ha-dialog.ts
Labels: cla-signed

#20511 ZHA (Zigbee) visualization enhancement
  src/panels/config/integrations/integration-panels/zha/zha-network-visualization-page.ts
Labels: cla-signed

#20525 Fix zones on mobile, align mobile and non mobile view
  src/panels/config/core/ha-config-section-general.ts
  src/panels/config/zone/ha-config-zone.ts
Labels: cla-signed

#20527 Don't display keyboard shortcut hints in quickbar if keyboard shortcuts are disabled
  src/panels/lovelace/hui-root.ts
Labels: cla-signed

#20542 Fix entity picker delete entity
  src/components/entity/ha-entity-picker.ts
Labels: cla-signed

#20536 Remove legacy state translations
  src/data/translation.ts
  src/layouts/home-assistant.ts
  src/state/translations-mixin.ts
Labels: cla-signed

#20557 Fix stopped_unknown_reason localization message
  src/components/trace/hat-trace-timeline.ts
Labels: cla-signed

#19128 Add translation to integration setup failures
  gallery/src/pages/misc/integration-card.ts
  src/data/config_entries.ts
  src/panels/config/integrations/ha-config-integration-page.ts
Labels: cla-signed, backend merged, Design

#20565 Only create sortable when not disabled
  src/components/ha-sortable.ts
Labels: cla-signed

#20566 Wrap unbreakable area names in ha-card header
  src/panels/config/areas/ha-config-areas-dashboard.ts
Labels: cla-signed

#20573 Hide beta toggle when unsupervised
  src/panels/config/core/ha-config-section-updates.ts
Labels: cla-signed

#20543 Enhance webpack transform async plugin to use babel runtime
  build-scripts/webpack.cjs
  package.json
  yarn.lock
Labels: cla-signed, Build

#20544 When munging statistics to history, assume always numeric
  src/data/history.ts
  src/panels/history/ha-panel-history.ts
Labels: cla-signed

#20555 Apply initial values to forms of device trigger extra fields
  src/panels/config/automation/trigger/types/ha-automation-trigger-device.ts
Labels: cla-signed

#20558 Add css var for meta theme-color attribute
  src/resources/styles-data.ts
  src/state/themes-mixin.ts
Labels: cla-signed

#20470 Update external barcode scanning API
  src/external_app/external_app_entrypoint.ts
  src/external_app/external_messaging.ts
Labels: cla-signed

#20584 Add new timestamp state domains
  src/common/entity/compute_state_display.ts
Labels: cla-signed

#20583 Store grouping and sorting for device table
  src/components/data-table/ha-data-table.ts
  src/layouts/hass-tabs-subpage-data-table.ts
  src/panels/config/devices/ha-config-devices-dashboard.ts
Labels: cla-signed

#20586 Fix more info slider in iOS
  src/components/ha-control-slider.ts
  src/components/ha-control-switch.ts
  src/dialogs/more-info/components/lights/light-color-temp-picker.ts
  src/state-control/cover/ha-state-control-cover-position.ts
  src/state-control/cover/ha-state-control-cover-tilt-position.ts
  src/state-control/cover/ha-state-control-cover-toggle.ts
  src/state-control/fan/ha-state-control-fan-speed.ts
  src/state-control/ha-state-control-toggle.ts
  src/state-control/light/ha-state-control-light-brightness.ts
  src/state-control/lock/ha-state-control-lock-toggle.ts
  src/state-control/valve/ha-state-control-valve-position.ts
  src/state-control/valve/ha-state-control-valve-toggle.ts
Labels: cla-signed

#20580 Allow to group entities by domain
  src/panels/config/entities/ha-config-entities.ts
  src/translations/en.json
Labels: cla-signed, Noteworthy

#20579 Allow groups in data table to be collapsed
  src/components/data-table/ha-data-table.ts
  src/translations/en.json
Labels: cla-signed, Noteworthy

#20582 Add option for custom group order to data table
  src/components/data-table/ha-data-table.ts
  src/layouts/hass-tabs-subpage-data-table.ts
Labels: cla-signed

#20581 Add bulk area assignment to device dashboard
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/translations/en.json
Labels: cla-signed, Noteworthy

#20590 Add title when text in datatable doesnt fit
  src/components/data-table/ha-data-table.ts
Labels: cla-signed

#20596 Make fallback translations work
  src/state/translations-mixin.ts
Labels: cla-signed

#20598 Rollback gulp to version 4
  package.json
  yarn.lock
Labels: cla-signed

#20597 Restore getHassTranslationsPre109
  src/data/translation.ts
  src/state/translations-mixin.ts
Labels: cla-signed

#20599 Fix `ha-filter-states` clear filter behaviour
  src/components/ha-filter-devices.ts
  src/components/ha-filter-entities.ts
  src/components/ha-filter-states.ts
Labels: cla-signed

#20594 Implement storing sorting and grouping for all tables
  src/components/data-table/ha-data-table.ts
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/blueprint/ha-blueprint-overview.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/helpers/ha-config-helpers.ts
  src/panels/config/labels/ha-config-labels.ts
  src/panels/config/lovelace/dashboards/ha-config-lovelace-dashboards.ts
  src/panels/config/lovelace/resources/ha-config-lovelace-resources.ts
  src/panels/config/scene/ha-scene-dashboard.ts
  src/panels/config/script/ha-script-picker.ts
  src/panels/config/users/ha-config-users.ts
  src/panels/config/voice-assistants/ha-config-voice-assistants-expose.ts
Labels: cla-signed, Noteworthy

#20585 Add strict connection cloud settings
  package.json
  src/data/cloud.ts
  src/panels/config/cloud/account/cloud-remote-pref.ts
  src/state/connection-mixin.ts
  src/translations/en.json
  src/types.ts
  yarn.lock
Labels: cla-signed

#20541 Fix visual map issues
  src/components/map/ha-locations-editor.ts
  src/components/map/ha-map.ts
  src/panels/lovelace/cards/hui-map-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/editor/config-elements/hui-map-card-editor.ts
  src/translations/en.json
  src/types.ts
Labels: cla-signed

#20603 Fix text alignment for open lock card feature
  src/panels/lovelace/card-features/hui-lock-open-door-card-feature.ts
Labels: cla-signed

#20604 Add multiselect area to automation/scene/script
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/scene/ha-scene-dashboard.ts
  src/panels/config/script/ha-script-picker.ts
Labels: cla-signed

#20606 Use theme mode property for ha-map
  src/components/map/ha-locations-editor.ts
  src/components/map/ha-map.ts
  src/onboarding/onboarding-location.ts
  src/panels/lovelace/cards/hui-map-card.ts
Labels: cla-signed

#20617 Fix wrong chevron icon direction for groups in data tables
  src/components/data-table/ha-data-table.ts
Labels: cla-signed

#20620 add inital data for language selector
  src/components/ha-form/compute-initial-ha-form-data.ts
Labels: cla-signed

#20622 Fix ZHA UI issues
  src/panels/config/integrations/integration-panels/zha/dialog-zha-reconfigure-device.ts
  src/panels/config/integrations/integration-panels/zha/zha-network-visualization-page.ts
Labels: cla-signed

#20624 Disable counter more-info dec/inc buttons when min/max reached
  src/dialogs/more-info/controls/more-info-counter.ts
Labels: cla-signed

#20626 Add mock area registry to demo to fix card picker
  demo/src/ha-demo.ts
Labels: cla-signed, Demo

#20619 Update cloud remote settings
  src/components/ha-formfield.ts
  src/panels/config/cloud/account/cloud-remote-pref.ts
  src/translations/en.json
Labels: cla-signed

#20636 20240426.0
  demo/src/ha-demo.ts
  package.json
  pyproject.toml
  src/components/data-table/ha-data-table.ts
  src/components/ha-form/compute-initial-ha-form-data.ts
  src/components/ha-formfield.ts
  src/dialogs/more-info/controls/more-info-counter.ts
  src/panels/config/automation/manual-automation-editor.ts
  src/panels/config/cloud/account/cloud-remote-pref.ts
  src/panels/config/integrations/integration-panels/zha/dialog-zha-reconfigure-device.ts
  src/panels/config/integrations/integration-panels/zha/zha-network-visualization-page.ts
  src/panels/config/script/manual-script-editor.ts
  src/translations/en.json
  yarn.lock
Labels: cla-signed, Demo

#20625 Add details for offset format to sun trigger
  src/translations/en.json
Labels: cla-signed

#20632 Align lawn-mower and vacuum more-info layouts
  src/dialogs/more-info/controls/more-info-lawn_mower.ts
  src/dialogs/more-info/controls/more-info-vacuum.ts
Labels: cla-signed

#20629 Hide "Browse Media" button for unavailable media players
  src/dialogs/more-info/controls/more-info-media_player.ts
Labels: cla-signed

#20661 Fix cloud page design on mobile
  src/components/ha-settings-row.ts
  src/panels/config/cloud/account/cloud-account.ts
  src/panels/config/cloud/account/cloud-remote-pref.ts
  src/panels/config/cloud/account/cloud-tts-pref.ts
Labels: cla-signed

#20663 fix list items cloud account
  src/panels/config/cloud/account/cloud-account.ts
Labels: cla-signed

#20662 Remove strict connections
  src/panels/config/cloud/account/cloud-remote-pref.ts
Labels: cla-signed

#20664 Show abort reason when no translation
  src/dialogs/config-flow/show-dialog-config-flow.ts
  src/dialogs/config-flow/show-dialog-data-entry-flow.ts
  src/dialogs/config-flow/show-dialog-options-flow.ts
  src/panels/config/repairs/show-dialog-repair-flow.ts
Labels: cla-signed

#20665 20240429.0
  .github/workflows/cast_deployment.yaml
  .github/workflows/ci.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/demo_deployment.yaml
  .github/workflows/design_deployment.yaml
  .github/workflows/design_preview.yaml
  .github/workflows/nightly.yaml
  .github/workflows/release.yaml
  .github/workflows/translations.yaml
  package.json
  pyproject.toml
  src/components/ha-settings-row.ts
  src/dialogs/config-flow/show-dialog-config-flow.ts
  src/dialogs/config-flow/show-dialog-data-entry-flow.ts
  src/dialogs/config-flow/show-dialog-options-flow.ts
  src/dialogs/more-info/controls/more-info-lawn_mower.ts
  src/dialogs/more-info/controls/more-info-media_player.ts
  src/dialogs/more-info/controls/more-info-vacuum.ts
  src/panels/config/cloud/account/cloud-account.ts
  src/panels/config/cloud/account/cloud-remote-pref.ts
  src/panels/config/cloud/account/cloud-tts-pref.ts
  src/panels/config/repairs/show-dialog-repair-flow.ts
  src/translations/en.json
  yarn.lock
Labels: cla-signed, GitHub Actions

#20647 Reorderable card-feature modes
  src/panels/lovelace/card-features/common/filter-modes.ts
  src/panels/lovelace/card-features/hui-climate-fan-modes-card-feature.ts
  src/panels/lovelace/card-features/hui-climate-hvac-modes-card-feature.ts
  src/panels/lovelace/card-features/hui-climate-preset-modes-card-feature.ts
  src/panels/lovelace/card-features/hui-climate-swing-modes-card-feature.ts
  src/panels/lovelace/card-features/hui-fan-preset-modes-card-feature.ts
  src/panels/lovelace/card-features/hui-humidifier-modes-card-feature.ts
  src/panels/lovelace/card-features/hui-water-heater-operation-modes-card-feature.ts
  src/panels/lovelace/editor/config-elements/hui-climate-fan-modes-card-feature-editor.ts
  src/panels/lovelace/editor/config-elements/hui-climate-hvac-modes-card-feature-editor.ts
  src/panels/lovelace/editor/config-elements/hui-climate-preset-modes-card-feature-editor.ts
  src/panels/lovelace/editor/config-elements/hui-climate-swing-modes-card-feature-editor.ts
  src/panels/lovelace/editor/config-elements/hui-fan-preset-modes-card-feature-editor.ts
  src/panels/lovelace/editor/config-elements/hui-humidifier-modes-card-feature-editor.ts
  src/panels/lovelace/editor/config-elements/hui-water-heater-operation-modes-card-feature-editor.ts
Labels: cla-signed

#20667 Update unlock icon for tile card lock features
  src/panels/lovelace/card-features/hui-lock-commands-card-feature.ts
Labels: cla-signed

#20652 Display version info for custom integrations
  src/data/integration.ts
  src/panels/config/integrations/ha-config-integration-page.ts
Labels: cla-signed

#20668 Fallback to raw config entry reason if localize returns an empty string
  src/panels/config/integrations/ha-config-integration-page.ts
Labels: cla-signed

#20638 More config/entities status filters
  src/panels/config/entities/ha-config-entities.ts
Labels: cla-signed

#20671 Fix an inconsistency in dark mode
  src/common/dom/apply_themes_on_element.ts
Labels: cla-signed

#20654 Fix visual differences between regular and energy dashboards
  src/panels/energy/ha-panel-energy.ts
  src/panels/lovelace/hui-root.ts
Labels: cla-signed

#20670 Add customize mode option to card features with modes
  src/panels/lovelace/card-features/common/filter-modes.ts
  src/panels/lovelace/card-features/hui-climate-fan-modes-card-feature.ts
  src/panels/lovelace/card-features/hui-climate-hvac-modes-card-feature.ts
  src/panels/lovelace/card-features/hui-climate-preset-modes-card-feature.ts
  src/panels/lovelace/card-features/hui-climate-swing-modes-card-feature.ts
  src/panels/lovelace/card-features/hui-fan-preset-modes-card-feature.ts
  src/panels/lovelace/card-features/hui-humidifier-modes-card-feature.ts
  src/panels/lovelace/card-features/hui-water-heater-operation-modes-card-feature.ts
  src/panels/lovelace/editor/config-elements/hui-climate-fan-modes-card-feature-editor.ts
  src/panels/lovelace/editor/config-elements/hui-climate-hvac-modes-card-feature-editor.ts
  src/panels/lovelace/editor/config-elements/hui-climate-preset-modes-card-feature-editor.ts
  src/panels/lovelace/editor/config-elements/hui-climate-swing-modes-card-feature-editor.ts
  src/panels/lovelace/editor/config-elements/hui-fan-preset-modes-card-feature-editor.ts
  src/panels/lovelace/editor/config-elements/hui-humidifier-modes-card-feature-editor.ts
  src/panels/lovelace/editor/config-elements/hui-water-heater-operation-modes-card-feature-editor.ts
  src/translations/en.json
Labels: cla-signed

#20653 Add theme support for dialog surface background
  src/components/ha-dialog.ts
Labels: cla-signed

#20675 Allow to reorder and filter options in select options card feature
  src/panels/lovelace/card-features/hui-select-options-card-feature.ts
  src/panels/lovelace/card-features/types.ts
  src/panels/lovelace/editor/config-elements/hui-card-features-editor.ts
  src/panels/lovelace/editor/config-elements/hui-select-options-card-feature-editor.ts
  src/translations/en.json
Labels: cla-signed

#20677 Update check update icon and add toast when checking update
  hassio/src/dashboard/hassio-dashboard.ts
  src/data/update.ts
  src/panels/config/core/ha-config-section-updates.ts
  src/panels/config/dashboard/ha-config-dashboard.ts
  src/translations/en.json
Labels: cla-signed, Supervisor

#20679 Update entity status filter and grouping
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/helpers/ha-config-helpers.ts
  src/translations/en.json
Labels: cla-signed

#20680 Fix ha settings row display in more info settings
  src/components/ha-settings-row.ts
Labels: cla-signed
