Repository home-assistant/frontend, pull requests merged in 2024-11, with the labels that each got.

#22620 Fix NFS proper name
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#22623 Fix map zone focus issues
  src/components/map/ha-map.ts
  src/panels/lovelace/editor/config-elements/hui-map-card-editor.ts
Labels: cla-signed

#21926 Render preview based of entity domain
  src/dialogs/config-flow/previews/entity-preview-row.ts
Labels: cla-signed

#22614 Make duration input clearable
  src/components/ha-duration-input.ts
  src/panels/config/automation/action/types/ha-automation-action-delay.ts
  src/panels/config/automation/action/types/ha-automation-action-wait_for_trigger.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-calendar.ts
Labels: hacktoberfest, cla-signed

#22615 Collection of localization issues
  hassio/src/addon-view/info/hassio-addon-info.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/integrations/dialog-add-integration.ts
  src/panels/config/integrations/ha-config-integration-page.ts
  src/panels/config/integrations/ha-config-integrations-dashboard.ts
  src/panels/config/integrations/integration-panels/matter/matter-add-device/matter-add-device-google-home.ts
  src/panels/config/script/ha-script-editor.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed, Supervisor

#22639 CSS Fixes for ha-toast
  src/components/ha-toast.ts
Labels: cla-signed

#22640 CSS Fixes for hui-energy-date-selection-card
  src/panels/lovelace/cards/energy/hui-energy-date-selection-card.ts
Labels: cla-signed

#22637 Delay loading IndexedDB to when first icon is requested
  src/components/ha-icon.ts
  src/data/iconsets.ts
Labels: cla-signed

#22652 Fix create backup toggle ignored
  src/dialogs/more-info/controls/more-info-update.ts
Labels: cla-signed

#22656 Update voice wizard animations
  public/static/images/voice-assistant/area.gif
  public/static/images/voice-assistant/area.png
  public/static/images/voice-assistant/change-wake-word.gif
  public/static/images/voice-assistant/change-wake-word.png
  public/static/images/voice-assistant/error.gif
  public/static/images/voice-assistant/error.png
  public/static/images/voice-assistant/great-job.png
  public/static/images/voice-assistant/heart.gif
  public/static/images/voice-assistant/heart.png
  public/static/images/voice-assistant/hi.gif
  public/static/images/voice-assistant/hi.png
  public/static/images/voice-assistant/ok-nabu.gif
  public/static/images/voice-assistant/ok-nabu.png
  public/static/images/voice-assistant/sleep.gif
  public/static/images/voice-assistant/sleep.png
  public/static/images/voice-assistant/update.gif
  public/static/images/voice-assistant/update.png
  src/dialogs/voice-assistant-setup/voice-assistant-setup-dialog.ts
  src/dialogs/voice-assistant-setup/voice-assistant-setup-step-area.ts
  src/dialogs/voice-assistant-setup/voice-assistant-setup-step-change-wake-word.ts
  src/dialogs/voice-assistant-setup/voice-assistant-setup-step-check.ts
  src/dialogs/voice-assistant-setup/voice-assistant-setup-step-success.ts
  src/dialogs/voice-assistant-setup/voice-assistant-setup-step-update.ts
  src/dialogs/voice-assistant-setup/voice-assistant-setup-step-wake-word.ts
Labels: cla-signed

#22659 Only show webrtc if it has video
  src/components/ha-camera-stream.ts
Labels: cla-signed

#22657 Fix load older logs at boot 0 in error-log-card
  src/data/hassio/supervisor.ts
  src/panels/config/logs/dialog-download-logs.ts
  src/panels/config/logs/error-log-card.ts
Labels: cla-signed

#22663 Remove sections blog post link
  demo/src/configs/sections/description.ts
  demo/src/configs/sections/index.ts
  src/translations/en.json
Labels: cla-signed, Demo

#22671 Restrict webrtc logging to dev
  src/components/ha-web-rtc-player.ts
Labels: cla-signed

#22651 Fix scanning of small QR codes with JS
  build-scripts/gulp/gather-static.js
  package.json
  src/components/ha-qr-scanner.ts
  src/panels/config/integrations/integration-panels/zwave_js/dialog-zwave_js-add-node.ts
  src/panels/config/integrations/integration-panels/zwave_js/show-dialog-zwave_js-add-node.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-config-dashboard.ts
  yarn.lock
Labels: cla-signed, integration: zwave_js, Build

#22670 Migrate select in md-dialog to md-select
  src/components/ha-md-dialog.ts
  src/components/ha-md-select-option.ts
  src/components/ha-md-select.ts
  src/panels/config/logs/dialog-download-logs.ts
Labels: cla-signed

#22674 Group stream picking logic
  src/components/ha-camera-stream.ts
Labels: cla-signed

#22678 fix height of header table rows
  src/components/data-table/ha-data-table.ts
Labels: cla-signed

#22676 Use grid options instead of layout options for all cards.
  src/panels/lovelace/cards/energy/hui-energy-date-selection-card.ts
  src/panels/lovelace/cards/hui-area-card.ts
  src/panels/lovelace/cards/hui-button-card.ts
  src/panels/lovelace/cards/hui-entity-card.ts
  src/panels/lovelace/cards/hui-heading-card.ts
  src/panels/lovelace/cards/hui-humidifier-card.ts
  src/panels/lovelace/cards/hui-iframe-card.ts
  src/panels/lovelace/cards/hui-map-card.ts
  src/panels/lovelace/cards/hui-sensor-card.ts
  src/panels/lovelace/cards/hui-statistic-card.ts
  src/panels/lovelace/cards/hui-thermostat-card.ts
  src/panels/lovelace/cards/hui-tile-card.ts
  src/panels/lovelace/cards/hui-weather-forecast-card.ts
Labels: cla-signed

#22685 Localize automation logbook text
  src/components/trace/ha-trace-logbook.ts
  src/components/trace/ha-trace-path-details.ts
  src/components/trace/ha-trace-timeline.ts
  src/components/trace/hat-logbook-note.ts
  src/translations/en.json
Labels: cla-signed

#22687 Revert "More flexible translation keys for logbook binary sensors"
  src/data/logbook.ts
  src/translations/en.json
Labels: cla-signed

#22686 Fix icon click in edit card overflow
  src/panels/lovelace/components/hui-card-edit-mode.ts
Labels: cla-signed

#22675 Check for empty logs
  src/external_app/external_messaging.ts
  src/panels/config/logs/dialog-download-logs.ts
  src/panels/config/logs/error-log-card.ts
  src/translations/en.json
  src/util/file_download.ts
  src/util/is_ios.ts
Labels: cla-signed

#22684 Add overflow menu to error-log-card
  src/components/ha-ansi-to-html.ts
  src/panels/config/logs/error-log-card.ts
  src/translations/en.json
Labels: cla-signed

#22691 Fix update more info margin
  src/dialogs/more-info/controls/more-info-update.ts
Labels: cla-signed

#22689 Fix action descriptions switch to English when using search
  src/panels/config/automation/add-automation-element-dialog.ts
Labels: cla-signed

#22694 Fix logs overflow when there are 0 boots
  src/panels/config/logs/error-log-card.ts
Labels: cla-signed

#22693 Fix hassio logs translations
  hassio/src/addon-view/log/hassio-addon-log-tab.ts
  src/panels/config/logs/error-log-card.ts
  src/translations/en.json
Labels: cla-signed, Supervisor

#22695 20241106.0
  hassio/src/addon-view/log/hassio-addon-log-tab.ts
  pyproject.toml
  src/components/ha-ansi-to-html.ts
  src/components/trace/ha-trace-logbook.ts
  src/components/trace/ha-trace-path-details.ts
  src/components/trace/ha-trace-timeline.ts
  src/components/trace/hat-logbook-note.ts
  src/dialogs/more-info/controls/more-info-update.ts
  src/external_app/external_messaging.ts
  src/panels/config/automation/add-automation-element-dialog.ts
  src/panels/config/logs/dialog-download-logs.ts
  src/panels/config/logs/error-log-card.ts
  src/panels/lovelace/cards/energy/hui-energy-date-selection-card.ts
  src/panels/lovelace/cards/hui-area-card.ts
  src/panels/lovelace/cards/hui-button-card.ts
  src/panels/lovelace/cards/hui-entity-card.ts
  src/panels/lovelace/cards/hui-heading-card.ts
  src/panels/lovelace/cards/hui-humidifier-card.ts
  src/panels/lovelace/cards/hui-iframe-card.ts
  src/panels/lovelace/cards/hui-map-card.ts
  src/panels/lovelace/cards/hui-sensor-card.ts
  src/panels/lovelace/cards/hui-statistic-card.ts
  src/panels/lovelace/cards/hui-thermostat-card.ts
  src/panels/lovelace/cards/hui-tile-card.ts
  src/panels/lovelace/cards/hui-weather-forecast-card.ts
  src/panels/lovelace/components/hui-card-edit-mode.ts
  src/translations/en.json
  src/util/file_download.ts
  src/util/is_ios.ts
Labels: cla-signed, Supervisor

#21897 Add zwave expert UI / Installer settings
  src/data/zwave_js.ts
  src/panels/config/devices/device-detail/integration-elements/zwave_js/device-actions.ts
  src/panels/config/integrations/integration-panels/zwave_js/capability-controls/zwave_js-capability-control-multilevel-switch.ts
  src/panels/config/integrations/integration-panels/zwave_js/capability-controls/zwave_js-capability-control-thermostat-setback.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-config-router.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-node-installer.ts
  src/translations/en.json
Labels: cla-signed, integration: zwave_js, backend merged

#22702 Fix `import type` linter issues
  src/panels/config/integrations/integration-panels/zwave_js/capability-controls/zwave_js-capability-control-multilevel-switch.ts
  src/panels/config/integrations/integration-panels/zwave_js/capability-controls/zwave_js-capability-control-thermostat-setback.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-node-installer.ts
Labels: cla-signed

#22707 Fix typo for fixed background attribute
  src/panels/lovelace/views/hui-view-container.ts
Labels: cla-signed

#22708 Fix hassio logs for core < 2024.11
  src/data/hassio/supervisor.ts
  src/panels/config/logs/error-log-card.ts
  src/state/connection-mixin.ts
  src/types.ts
Labels: cla-signed

#22706 Update value of password field on change event
  src/components/ha-password-field.ts
Labels: cla-signed

#22711 Add support for helper text in form boolean
  gallery/src/pages/components/ha-form.ts
  src/components/ha-form/ha-form-boolean.ts
Labels: cla-signed, Design

#22719 Fix logs live-indicator on older boots
  src/panels/config/logs/error-log-card.ts
Labels: cla-signed

#22725 Enable auto-scroll for drag and drop
  src/components/ha-sortable.ts
  src/resources/sortable.ts
Labels: cla-signed

#22721 move download logs button, switch between raw and normal logs
  hassio/src/addon-view/log/hassio-addon-log-tab.ts
  src/panels/config/logs/error-log-card.ts
  src/panels/config/logs/ha-config-logs.ts
  src/panels/config/logs/system-log-card.ts
  src/panels/lovelace/cards/hui-recovery-mode-card.ts
  src/translations/en.json
Labels: cla-signed, Supervisor

#22727 Fix for RTL languages in logs
  src/panels/config/logs/error-log-card.ts
Labels: cla-signed

#22181 Remove rollup build configuration
  build-scripts/README.md
  build-scripts/bundle.cjs
  build-scripts/env.cjs
  build-scripts/gulp/app.js
  build-scripts/gulp/cast.js
  build-scripts/gulp/demo.js
  build-scripts/gulp/entry-html.js
  build-scripts/gulp/gallery.js
  build-scripts/gulp/gather-static.js
  build-scripts/gulp/hassio.js
  build-scripts/gulp/rollup.js
  build-scripts/rollup-plugins/dont-hash-plugin.cjs
  build-scripts/rollup-plugins/ignore-plugin.cjs
  build-scripts/rollup-plugins/manifest-plugin.cjs
  build-scripts/rollup-plugins/worker-plugin.cjs
  build-scripts/rollup.cjs
  cast/rollup.config.js
  demo/rollup.config.js
  gallery/rollup.config.js
  hassio/rollup.config.js
  package.json
  rollup.config.js
  src/data/entity_registry.ts
  src/html/_script_loader.html.template
  src/html/index.html.template
  src/state/connection-mixin.ts
  web-dev-server.config.js
  yarn.lock
Labels: hacktoberfest, cla-signed, Build

#22733 Fix join-beta text
  src/panels/config/core/updates/dialog-join-beta.ts
Labels: cla-signed

#22737 Fix live-logs loading
  src/panels/config/logs/error-log-card.ts
Labels: cla-signed

#21991 Add reset to default to zwave node config
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-node-config.ts
  src/translations/en.json
Labels: cla-signed, integration: zwave_js

#22237 Better disabled/error handling on `config/helpers` page
  src/panels/config/helpers/ha-config-helpers.ts
  src/panels/config/integrations/ha-config-integration-page.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#22758 Collection of localization issues (2)
  src/data/logbook.ts
  src/panels/lovelace/editor/config-elements/hui-statistics-graph-card-editor.ts
  src/translations/en.json
Labels: cla-signed

#22760 Fix typo in Czech language for blank before percent
  src/common/translations/blank_before_percent.ts
Labels: cla-signed

#22767 Fix calendar add/edit event dialogs not saving via keyboard
  src/panels/calendar/dialog-calendar-event-editor.ts
Labels: cla-signed

#22769 Improve choose description in automation editor
  src/translations/en.json
Labels: cla-signed

#22638 CSS Fixes for md-dialog
  src/components/ha-md-dialog.ts
Labels: cla-signed

#22696 More flexible translation keys for logbook binary sensors
  src/common/translations/localize.ts
  src/data/logbook.ts
  src/translations/en.json
Labels: cla-signed

#22364 Allow GET/SET custom config param in Z-Wave device configuration
  src/data/zwave_js.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-custom-param.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-node-config.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed, Backend Change Required

#22753 Show YAML parsing errors in automation editor
  src/components/ha-yaml-editor.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/translations/en.json
Labels: cla-signed

#22780 Warn on switching to automation UI mode with yaml errors
  src/panels/config/automation/ha-automation-editor.ts
  src/translations/en.json
Labels: cla-signed

#22704 Add download snapshot button to camera more info dialog
  src/dialogs/more-info/controls/more-info-camera.ts
  src/translations/en.json
Labels: cla-signed

#22789 Z-Wave JS: Fix validation/parsing for custom config param UI
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-custom-param.ts
Labels: cla-signed

#22722 ZWaveJS: Color Switch support fot the expert UI
  src/panels/config/integrations/integration-panels/zwave_js/capability-controls/zwave_js-capability-control-color-switch.ts
  src/panels/config/integrations/integration-panels/zwave_js/capability-controls/zwave_js-capability-control-multilevel-switch.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-node-installer.ts
  src/translations/en.json
Labels: cla-signed, integration: zwave_js

#22248 Allow entities table to delete helpers
  src/common/entity/delete_entity.ts
  src/panels/config/entities/ha-config-entities.ts
Labels: hacktoberfest, cla-signed

#22809 Increase ZwaveJS add device timeout to 5 mins
  src/panels/config/integrations/integration-panels/zwave_js/dialog-zwave_js-add-node.ts
Labels: cla-signed, integration: zwave_js

#22321 Early pushout of changes to the backup panel
  src/data/backup.ts
  src/panels/config/backup/ha-config-backup-dashboard.ts
  src/panels/config/backup/ha-config-backup-details.ts
  src/panels/config/backup/ha-config-backup-list.ts
  src/panels/config/backup/ha-config-backup.ts
Labels: hacktoberfest, cla-signed

#22803 Add outline to a label (2)
  src/components/data-table/ha-data-table-labels.ts
  src/components/ha-label.ts
Labels: cla-signed

#22812 Add outline to a label (3) - consistency
  src/panels/config/labels/ha-config-labels.ts
Labels: cla-signed

#22816 Confirm uses to if for clarity
  src/translations/en.json
Labels: cla-signed

#22815 Fix swapped plural and singular match use in and condition
  src/translations/en.json
Labels: cla-signed

#22814 Introduce calendar trigger description
  src/common/datetime/format_duration.ts
  src/data/automation_i18n.ts
  src/translations/en.json
Labels: cla-signed

#22798 Allow attaching additional data to schedule in UI
  src/panels/config/helpers/forms/dialog-schedule-block-info.ts
  src/panels/config/helpers/forms/show-dialog-schedule-block-info.ts
  src/translations/en.json
Labels: cla-signed

#22823 ZWaveJS: Configuration.resetAll is only supported on CC v4+
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-node-config.ts
Labels: cla-signed, integration: zwave_js

#22819 ZWaveJS: Add names to colors in Installer Settings
  src/panels/config/integrations/integration-panels/zwave_js/capability-controls/zwave_js-capability-control-color-switch.ts
  src/translations/en.json
Labels: cla-signed, integration: zwave_js

#22844 Only download verified translations
  build-scripts/gulp/download-translations.js
Labels: cla-signed, Build

#22853 Catch yaml errors in script editor
  src/panels/config/script/ha-script-editor.ts
Labels: cla-signed

#22852 Fix back gesture on Android activating buttons
  src/panels/lovelace/common/directives/action-handler-directive.ts
Labels: cla-signed

#22790 Create a section when dropping card on the create section button
  src/panels/lovelace/views/hui-sections-view.ts
  src/translations/en.json
Labels: cla-signed

#22827 Improve backup screen and navigation
  src/components/ha-circular-progress.ts
  src/data/backup.ts
  src/dialogs/backup/dialog-backup-upload.ts
  src/layouts/hass-tabs-subpage-data-table.ts
  src/panels/config/backup/components/ha-backup-summary-card.ts
  src/panels/config/backup/ha-config-backup-automatic-config.ts
  src/panels/config/backup/ha-config-backup-dashboard.ts
  src/panels/config/backup/ha-config-backup-details.ts
  src/panels/config/backup/ha-config-backup-list.ts
  src/panels/config/backup/ha-config-backup-locations.ts
  src/panels/config/backup/ha-config-backup.ts
Labels: cla-signed

#22851 Logbook target picker
  src/data/selector.ts
  src/panels/history/ha-panel-history.ts
  src/panels/logbook/ha-panel-logbook.ts
Labels: cla-signed

#22221 ESLint Flat Config
  .eslintrc.json
  build-scripts/.eslintrc.json
  build-scripts/eslint.config.mjs
  eslint.config.mjs
  gallery/.eslintrc.json
  gallery/eslint.config.mjs
  gallery/src/pages/automation/editor-trigger.ts
  package.json
  src/components/ha-form/ha-form.ts
  src/panels/lovelace/types.ts
  yarn.lock
Labels: hacktoberfest, cla-signed, Build, Design

#22802 add previous and next button to History and Logbook
  src/components/ha-date-range-picker.ts
Labels: cla-signed, Noteworthy

#22877 Fix logbook date range alignment
  src/panels/logbook/ha-panel-logbook.ts
Labels: cla-signed

#22867 Add delete backup action to datatable
  src/panels/config/backup/components/ha-backup-summary-card.ts
  src/panels/config/backup/ha-config-backup-dashboard.ts
Labels: cla-signed

#22786 Add tone,volume & duration selector to more-info dialog for sirens
  src/data/entity_attributes.ts
  src/data/siren.ts
  src/dialogs/more-info/components/siren/ha-more-info-siren-advanced-controls.ts
  src/dialogs/more-info/components/siren/show-dialog-siren-advanced-controls.ts
  src/dialogs/more-info/controls/more-info-siren.ts
  src/translations/en.json
Labels: cla-signed

#22771 Add Y-Axis limits functionality from history graphs card to statistics graph card
  src/components/chart/statistics-chart.ts
  src/panels/lovelace/cards/hui-statistics-graph-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/editor/config-elements/hui-statistics-graph-card-editor.ts
  src/translations/en.json
Labels: cla-signed

#22875 Fix media browser
  src/components/ha-hls-player.ts
Labels: cla-signed

#22866 Create generate backup dialog
  src/panels/config/backup/components/ha-backup-agents-select.ts
  src/panels/config/backup/dialogs/dialog-generate-backup.ts
  src/panels/config/backup/dialogs/show-dialog-generate-backup.ts
  src/panels/config/backup/ha-config-backup-dashboard.ts
  src/panels/config/backup/ha-config-backup-locations.ts
Labels: cla-signed

#22880 Fix lint-staged with eslint v9
  lint-staged.config.js
Labels: cla-signed

#22879 Hide wake word in pipeline settings
  src/panels/config/voice-assistants/assist-pipeline-detail/assist-pipeline-detail-wakeword.ts
  src/panels/config/voice-assistants/dialog-voice-assistant-pipeline-detail.ts
  src/translations/en.json
Labels: cla-signed

#22883 Update en.json to make all automation conditions use "if", not "when"
  src/translations/en.json
Labels: cla-signed

#22884 Add backup details page
  src/panels/config/backup/ha-config-backup-dashboard.ts
  src/panels/config/backup/ha-config-backup-details.ts
  src/panels/config/backup/ha-config-backup-locations.ts
Labels: cla-signed

#22885 Use ICU string for proper singular vs. plural of "listener(s)"
  src/translations/en.json
Labels: cla-signed

#22894 Dashboard: Fix description of the Tile card
  src/translations/en.json
Labels: cla-signed

#22710 Show ZwaveJS "Installer settings" based on `installer_mode` option
  src/data/zwave_js.ts
  src/panels/config/devices/device-detail/integration-elements/zwave_js/device-actions.ts
Labels: cla-signed, integration: zwave_js

#22905 Improve download backup
  src/data/backup.ts
  src/panels/config/backup/ha-config-backup-dashboard.ts
  src/panels/config/backup/ha-config-backup-details.ts
Labels: cla-signed

#22890 Make sidebar (app) settings items consistent by replacing 'configuration'
  src/translations/en.json
Labels: cla-signed

#22893 Replace wrong uses of "energy" with "electricity" in Energy dashboard
  src/translations/en.json
Labels: cla-signed

#22896 Entity settings for helpers: avoid repeating "options" in explanation
  src/translations/en.json
Labels: cla-signed

#22904 Clarify 'updates_refreshed' message
  src/translations/en.json
Labels: cla-signed

#22901 Fix grammar issue in remove_fabric_confirm_text
  src/translations/en.json
Labels: cla-signed

#22899 Update 'mqtt_device_debug_info' strings to use ICU syntax
  src/translations/en.json
Labels: cla-signed

#22897 Update the explanation for setting up the Google Home integration
  src/translations/en.json
Labels: cla-signed

#22847 Update Scene Editor
  src/panels/config/scene/ha-scene-dashboard.ts
  src/panels/config/scene/ha-scene-editor.ts
  src/translations/en.json
Labels: cla-signed, Noteworthy

#22906 Better explain the "Push notification" option in the browser settings
  src/translations/en.json
Labels: cla-signed

#22889 Fixes #17769, #22503: Improved subscription handling
  src/panels/logbook/ha-logbook.ts
Labels: cla-signed

#22887 Remove display of 'Current state' in ha-card-condition-state
  src/panels/lovelace/editor/conditions/types/ha-card-condition-state.ts
  src/translations/en.json
Labels: cla-signed

#22910 Improve scene editor UI
  src/panels/config/ha-config-section.ts
  src/panels/config/scene/ha-scene-editor.ts
  src/translations/en.json
Labels: cla-signed

#22909 Use bytes for backup size
  src/panels/config/backup/ha-config-backup-dashboard.ts
  src/panels/config/backup/ha-config-backup-details.ts
Labels: cla-signed

#22882 Voice wizard: Use test message in tts language
  src/dialogs/voice-assistant-setup/voice-assistant-setup-step-success.ts
  src/util/common-translation.ts
Labels: cla-signed

#22907 Use consistent name "Entity search" for that part of "Quick Search"
  src/translations/en.json
Labels: cla-signed

#22258 Remove activate scene in automation editor
  gallery/src/pages/automation/editor-action.ts
  src/data/action.ts
  src/data/script.ts
  src/data/script_i18n.ts
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/action/types/ha-automation-action-activate_scene.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed, Design

#22598 Landing page
  .vscode/tasks.json
  build-scripts/bundle.cjs
  build-scripts/gulp/clean.js
  build-scripts/gulp/entry-html.js
  build-scripts/gulp/gather-static.js
  build-scripts/gulp/landing-page.js
  build-scripts/gulp/translations.js
  build-scripts/gulp/webpack.js
  build-scripts/paths.cjs
  build-scripts/webpack.cjs
  landing-page/README.md
  landing-page/eslintrc.config.mjs
  landing-page/public/static/icons/favicon-192x192.png
  landing-page/public/static/icons/favicon.ico
  landing-page/public/static/icons/logo_ohf.svg
  landing-page/public/static/icons/ohf.svg
  landing-page/public/static/images/appstore.svg
  landing-page/public/static/images/logo_discord.png
  landing-page/public/static/images/logo_mastodon.svg
  landing-page/public/static/images/logo_x.svg
  landing-page/public/static/images/playstore.svg
  landing-page/public/static/images/qr-appstore.svg
  landing-page/public/static/images/qr-playstore.svg
  landing-page/script/build_landing_page
  landing-page/script/develop
  landing-page/src/components/landing-page-logs.ts
  landing-page/src/components/landing-page-network.ts
  landing-page/src/data/observer.ts
  landing-page/src/data/supervisor.ts
  landing-page/src/entrypoint.js
  landing-page/src/ha-landing-page.ts
  landing-page/src/html/index.html.template
  landing-page/src/landing-page-base-element.ts
  landing-page/webpack.config.js
  public/static/icons/logo_ohf.svg
  public/static/images/logo_mastodon.svg
  src/common/translations/localize.ts
  src/onboarding/dialogs/app-dialog.ts
  src/onboarding/dialogs/community-dialog.ts
  src/onboarding/onboarding-welcome-links.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed, Build

#22912 Handle empty trigger or action in migration path
  src/data/automation.ts
  src/data/script.ts
Labels: cla-signed

#22913 Change "Run" command for automation to "Run actions"
  src/translations/en.json
Labels: cla-signed

#22915 Use default backup instead of automatic backup
  src/panels/config/backup/dialogs/dialog-generate-backup.ts
  src/panels/config/backup/dialogs/dialog-new-backup.ts
  src/panels/config/backup/dialogs/show-dialog-generate-backup.ts
  src/panels/config/backup/dialogs/show-dialog-new-backup.ts
  src/panels/config/backup/ha-config-backup-dashboard.ts
  src/panels/config/backup/ha-config-backup-default-config.ts
  src/panels/config/backup/ha-config-backup.ts
Labels: cla-signed

#22868 Add support for unit_of_measurement translation
  src/common/entity/compute_state_display.ts
  test/common/entity/compute_state_display.ts
Labels: cla-signed, Noteworthy

#22916 Fix two strings for Settings > Tags
  src/translations/en.json
Labels: cla-signed

#22561 Add local processing option to pipeline for LLM conversation agents
  src/data/assist_pipeline.ts
  src/panels/config/voice-assistants/assist-pipeline-detail/assist-pipeline-detail-conversation.ts
  src/panels/config/voice-assistants/dialog-voice-assistant-pipeline-detail.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#22917 Change "Find my value" to "Find my ISO Code" for the currency field
  src/translations/en.json
Labels: cla-signed

#22919 Change "Elevation" to "Elevation above sea level" for clarity
  src/translations/en.json
Labels: cla-signed

#22922 Change "Add script" and "Add scene" to "Create …"
  src/translations/en.json
Labels: cla-signed

#22928 Fix broken grammar in confirm_unsaved_comments alert
  src/translations/en.json
Labels: cla-signed

#22933 Voice wizard: prevent flash of hardware screen when cloud is active
  src/dialogs/voice-assistant-setup/voice-assistant-setup-step-pipeline.ts
Labels: cla-signed

#22934 Add warning for muted voice assistant or when not heard wakeword in 1…
  src/dialogs/voice-assistant-setup/voice-assistant-setup-dialog.ts
  src/dialogs/voice-assistant-setup/voice-assistant-setup-step-wake-word.ts
Labels: cla-signed

#22932 Fix landing-page dns update request
  landing-page/src/components/landing-page-network.ts
  landing-page/src/data/supervisor.ts
Labels: cla-signed

#22942 Change "Add" to "Create" for Labels and Zones following HA Design guidelines
  src/translations/en.json
Labels: cla-signed

#22878 Improv external flow
  src/external_app/external_app_entrypoint.ts
  src/external_app/external_messaging.ts
  src/panels/config/integrations/ha-config-flow-card.ts
  src/panels/config/integrations/ha-config-integrations-dashboard.ts
Labels: cla-signed

#22940 Disable devices/entities click in scene review mode
  src/panels/config/scene/ha-scene-editor.ts
Labels: cla-signed

#22938 Fix disable fields in general config
  src/panels/config/core/ha-config-section-general.ts
Labels: cla-signed

#22939 Fix disable ha-progress button
  src/components/buttons/ha-progress-button.ts
Labels: cla-signed, Bug Fix

#22948 Tolerant env vars
  build-scripts/env.cjs
Labels: cla-signed, Build

#22946 Improve details page for new backup
  src/data/backup.ts
  src/panels/config/backup/components/ha-backup-data-picker.ts
  src/panels/config/backup/components/ha-backup-formfield-label.ts
  src/panels/config/backup/dialogs/dialog-generate-backup.ts
  src/panels/config/backup/ha-config-backup-details.ts
Labels: cla-signed

#22950 Use options to WS command backup/restore
  src/data/backup.ts
  src/panels/config/backup/ha-config-backup-details.ts
Labels: cla-signed

#22941 Add cloud signup to voice flow
  src/dialogs/voice-assistant-setup/cloud/cloud-step-intro.ts
  src/dialogs/voice-assistant-setup/cloud/cloud-step-signin.ts
  src/dialogs/voice-assistant-setup/cloud/cloud-step-signup.ts
  src/dialogs/voice-assistant-setup/voice-assistant-setup-step-cloud.ts
Labels: cla-signed

#22951 Add addons picker in generate backup dialog
  src/panels/config/backup/components/ha-backup-addons-picker.ts
  src/panels/config/backup/components/ha-backup-agents-picker.ts
  src/panels/config/backup/components/ha-backup-data-picker.ts
  src/panels/config/backup/components/ha-backup-formfield-label.ts
  src/panels/config/backup/dialogs/dialog-generate-backup.ts
  src/panels/config/backup/ha-config-backup-details.ts
Labels: cla-signed

#22958 Restrict generate backup content for core backup
  src/data/backup.ts
  src/panels/config/backup/dialogs/dialog-generate-backup.ts
  src/panels/config/backup/ha-config-backup-dashboard.ts
Labels: cla-signed

#22960 Use event to check if a backup is in progress
  src/data/backup.ts
  src/panels/config/backup/ha-config-backup-dashboard.ts
Labels: cla-signed

#22956 Ha-alert-narrow-action
  src/components/ha-alert.ts
  src/panels/config/scene/ha-scene-editor.ts
Labels: cla-signed

#22667 Webrtc use RTCIceCandidateInit messages with backend
  src/components/ha-web-rtc-player.ts
  src/data/camera.ts
Labels: cla-signed

#22971 Make key_c_hint strings consistent
  src/translations/en.json
Labels: cla-signed

#22979 Fix inconsistent capitalization in Device info
  src/translations/en.json
Labels: cla-signed

#22975 Remove redundant action handler and wrapper from sensor entity row
  src/panels/lovelace/entity-rows/hui-sensor-entity-row.ts
Labels: cla-signed

#22993 Add workflow_dispatch to release workflow
  .github/workflows/release.yaml
Labels: cla-signed, GitHub Actions

#22983 Cancels page retry loop with negative intervals.
  src/layouts/ha-init-page.ts
Labels: cla-signed

#22954 Backup default config
  src/components/ha-password-field.ts
  src/data/backup.ts
  src/panels/config/backup/dialogs/dialog-change-backup-password.ts
  src/panels/config/backup/dialogs/dialog-generate-backup.ts
  src/panels/config/backup/dialogs/dialog-new-backup.ts
  src/panels/config/backup/dialogs/show-dialog-change-backup-password.ts
  src/panels/config/backup/dialogs/show-dialog-new-backup.ts
  src/panels/config/backup/ha-config-backup-dashboard.ts
  src/panels/config/backup/ha-config-backup-default-config.ts
Labels: cla-signed

#22999 Fix padding top for logbook panel
  src/panels/logbook/ha-panel-logbook.ts
Labels: cla-signed

#23003 Improve tags datatable
  src/panels/config/tags/ha-config-tags.ts
  src/translations/en.json
Labels: cla-signed

#23008 Mark delete backup dialog as destructive
  hassio/src/backups/hassio-backups.ts
  hassio/src/dialogs/backup/dialog-hassio-backup.ts
Labels: cla-signed, Supervisor

#23009 Mark reset addon options dialog as destructive
  hassio/src/addon-view/config/hassio-addon-config.ts
Labels: cla-signed, Supervisor

#23010 Use "No traces found" automation translation in ha-script-trace
  src/panels/config/script/ha-script-trace.ts
Labels: cla-signed

#23006 Add unit tests for common/array files
  .gitignore
  package.json
  src/common/array/combinations.ts
  src/common/array/ensure-array.ts
  src/common/array/literal-includes.ts
  test/common/array/combination.test.ts
  test/common/array/ensure-array.test.ts
  test/common/array/literal-includes.test.ts
  test/vitest.config.ts
  yarn.lock
Labels: cla-signed

#23017 Use explicit duration format for state formatting
  build-scripts/babel-plugins/custom-polyfill-plugin.js
  build-scripts/gulp/locale-data.js
  package.json
  src/common/datetime/duration.ts
  src/common/datetime/format_duration.ts
  src/common/entity/compute_state_display.ts
  src/data/automation_i18n.ts
  src/data/entity_attributes.ts
  src/data/script_i18n.ts
  src/resources/polyfills/intl-polyfill.ts
  test/common/datetime/duration.test.ts
  yarn.lock
Labels: cla-signed, Build

#23020 Use DurationFormat for calendar trigger
  src/common/datetime/format_duration.ts
Labels: cla-signed

#23018 Add add-on installation to voice setup flow
  src/dialogs/voice-assistant-setup/cloud/cloud-step-intro.ts
  src/dialogs/voice-assistant-setup/voice-assistant-setup-dialog.ts
  src/dialogs/voice-assistant-setup/voice-assistant-setup-step-local.ts
  src/dialogs/voice-assistant-setup/voice-assistant-setup-step-pipeline.ts
Labels: cla-signed

#23023 Fix timeout error handling local voice
  src/dialogs/voice-assistant-setup/voice-assistant-setup-step-local.ts
Labels: cla-signed

#23021 Fix error on hardware page
  src/panels/config/hardware/ha-config-hardware.ts
Labels: cla-signed
