Repository home-assistant/frontend, pull requests merged in 2024-03, with the labels that each got.

#19932 Use max column count instead of max width for section grid
  src/panels/lovelace/views/hui-sections-view.ts
Labels: cla-signed

#19934 Transform helper to warning for edit view type
  src/panels/lovelace/editor/view-editor/hui-dialog-edit-view.ts
  src/panels/lovelace/editor/view-editor/hui-view-editor.ts
  src/translations/en.json
Labels: cla-signed

#19936 Support max_devices for energy-devices-detail-graph
  src/panels/lovelace/cards/energy/hui-energy-devices-detail-graph-card.ts
Labels: cla-signed

#19970 Make migration warning alert sticky at the top for views
  src/panels/lovelace/editor/view-editor/hui-dialog-edit-view.ts
Labels: cla-signed

#19972 Fix masonry badges not centered
  src/panels/lovelace/views/hui-masonry-view.ts
Labels: cla-signed

#19969 Expose dialog to custom card helpers
  src/data/lock.ts
  src/dialogs/enter-code/show-enter-code-dialog.ts
  src/dialogs/more-info/controls/more-info-alarm_control_panel.ts
  src/panels/lovelace/card-features/hui-alarm-modes-card-feature.ts
  src/panels/lovelace/custom-card-helpers.ts
  src/state-control/alarm_control_panel/ha-state-control-alarm_control_panel-modes.ts
Labels: cla-signed

#19971 Fix badges not saved in view editor
  src/panels/lovelace/editor/view-editor/hui-dialog-edit-view.ts
Labels: cla-signed

#19977 Don't suggest to pick another card for sections
  src/panels/lovelace/editor/card-editor/hui-dialog-suggest-card.ts
Labels: cla-signed

#19933 Use icon in area card if there is no image
  src/panels/lovelace/cards/hui-area-card.ts
Labels: cla-signed

#19973 Do not reserve space for condition card in grid section
  src/panels/lovelace/sections/hui-grid-section.ts
Labels: cla-signed

#19958 Fix a bug in energy batteryToGrid calculation
  src/panels/lovelace/cards/energy/hui-energy-distribution-card.ts
  src/panels/lovelace/cards/energy/hui-energy-self-sufficiency-gauge-card.ts
  src/panels/lovelace/cards/energy/hui-energy-usage-graph-card.ts
Labels: cla-signed, panel: energy

#19754 Update cast launch screen colors
  cast/src/receiver/layout/hc-launch-screen.ts
Labels: cla-signed, Cast

#19974 Clean generated config for tile in sections
  src/panels/lovelace/common/generate-lovelace-config.ts
Labels: cla-signed

#19978 Change wording from add section to create section
  src/panels/lovelace/views/hui-sections-view.ts
  src/translations/en.json
Labels: cla-signed

#19980 Use shorter name for dashboard
  demo/src/configs/sections/entities.ts
  demo/src/configs/sections/lovelace.ts
Labels: cla-signed, Demo

#19794 Add reconfigure config entry
  demo/src/stubs/config_entries.ts
  gallery/src/pages/misc/integration-card.ts
  src/data/config_entries.ts
  src/data/config_flow.ts
  src/dialogs/config-flow/show-dialog-config-flow.ts
  src/dialogs/config-flow/show-dialog-data-entry-flow.ts
  src/panels/config/integrations/ha-config-integration-page.ts
  src/translations/en.json
Labels: cla-signed, backend merged, Demo, Design

#19982 Run script in script editor open more info if fields
  src/data/script.ts
  src/panels/config/script/ha-script-editor.ts
  src/panels/lovelace/entity-rows/hui-script-entity-row.ts
  src/state-summary/state-card-script.ts
Labels: cla-signed

#19979 Fix margin on browse media button
  src/dialogs/more-info/controls/more-info-media_player.ts
Labels: cla-signed

#19178 Add clickForMoreInfo to statistics graph card
  src/components/chart/statistics-chart.ts
  src/dialogs/more-info/ha-more-info-history.ts
Labels: cla-signed

#19995 Add section max width variable to section view
  src/panels/lovelace/views/hui-sections-view.ts
Labels: cla-signed

#19991 Add description to sections demo
  demo/src/configs/sections/description.ts
  demo/src/configs/sections/index.ts
  demo/src/configs/types.ts
  demo/src/custom-cards/ha-demo-card.ts
  src/translations/en.json
Labels: cla-signed, Demo

#20007 Sections RTL fixes
  src/panels/lovelace/components/hui-card-edit-mode.ts
  src/panels/lovelace/views/hui-sections-view.ts
Labels: cla-signed

#20001 Add layout options to cards and improve grid and sections defaults
  src/data/lovelace/config/card.ts
  src/panels/lovelace/cards/hui-button-card.ts
  src/panels/lovelace/cards/hui-sensor-card.ts
  src/panels/lovelace/cards/hui-tile-card.ts
  src/panels/lovelace/editor/structs/base-card-struct.ts
  src/panels/lovelace/sections/hui-grid-section.ts
  src/panels/lovelace/types.ts
  src/panels/lovelace/views/hui-sections-view.ts
Labels: cla-signed

#20013 Fix visibility save in dashboard edit
  src/panels/lovelace/editor/view-editor/hui-dialog-edit-view.ts
Labels: cla-signed

#20012 Fix removal of badges after yaml dashboard change
  src/panels/lovelace/editor/view-editor/hui-dialog-edit-view.ts
Labels: cla-signed

#20015 Fix width of create section button
  src/panels/lovelace/views/hui-sections-view.ts
Labels: cla-signed

#20016 Block moving card to a section view or a strategy view
  src/panels/lovelace/components/hui-card-options.ts
  src/panels/lovelace/editor/select-view/hui-dialog-select-view.ts
  src/panels/lovelace/editor/select-view/show-select-view-dialog.ts
  src/translations/en.json
Labels: cla-signed

#20039 Update simple-tooltip to 8.0.2 with RTL fix (remove patch)
  .yarn/patches/@lrnwebcomponents-simple-tooltip-npm-8.0.0-77591f2e0c.patch
  package.json
  yarn.lock
Labels: cla-signed

#20036 Add azimuth to sun.sun dialog's more-info section
  src/data/entity_attributes.ts
  src/dialogs/more-info/controls/more-info-sun.ts
  src/translations/en.json
Labels: cla-signed

#19999 Add swing modes card feature
  gallery/src/pages/lovelace/thermostat-card.ts
  src/panels/lovelace/card-features/hui-climate-swing-modes-card-feature.ts
  src/panels/lovelace/card-features/types.ts
  src/panels/lovelace/create-element/create-card-feature-element.ts
  src/panels/lovelace/editor/config-elements/hui-card-features-editor.ts
  src/panels/lovelace/editor/config-elements/hui-climate-swing-modes-card-feature-editor.ts
  src/panels/lovelace/editor/config-elements/hui-thermostat-card-editor.ts
  src/translations/en.json
Labels: cla-signed, Design

#20056 RTL fixes for state info
  src/state-summary/state-card-alert.ts
  src/state-summary/state-card-toggle.ts
Labels: cla-signed

#19648 Avoid starting config flow and show alert dialog early if single config entry only
  src/data/integration.ts
  src/data/integrations.ts
  src/panels/config/integrations/dialog-add-integration.ts
  src/panels/config/integrations/ha-config-integration-page.ts
  src/panels/config/integrations/ha-config-integrations-dashboard.ts
  src/translations/en.json
Labels: cla-signed, backend merged

#20044 Fix spelling mistake of Changelog in About
  src/translations/en.json
Labels: cla-signed

#20076 Small reorganization of profile settings
  src/panels/profile/ha-panel-profile.ts
  src/translations/en.json
Labels: cla-signed

#20067 Add map strategy
  src/panels/config/dashboard/dialog-new-dashboard.ts
  src/panels/lovelace/editor/dashboard-strategy-editor/dialogs/dialog-dashboard-strategy-editor.ts
  src/panels/lovelace/editor/dashboard-strategy-editor/dialogs/show-dialog-dashboard-strategy-editor.ts
  src/panels/lovelace/editor/dashboard-strategy-editor/hui-original-states-dashboard-strategy-editor.ts
  src/panels/lovelace/hui-root.ts
  src/panels/lovelace/strategies/get-strategy.ts
  src/panels/lovelace/strategies/map/map-dashboard-strategy.ts
  src/panels/lovelace/strategies/map/map-view-strategy.ts
  src/panels/lovelace/strategies/original-states/original-states-dashboard-strategy.ts
  src/panels/lovelace/strategies/original-states/original-states-view-strategy.ts
  src/panels/lovelace/strategies/types.ts
  src/translations/en.json
Labels: cla-signed, Noteworthy

#20084 Bump Python version to 3.12
  .devcontainer/Dockerfile
  .github/workflows/nightly.yaml
  .github/workflows/release.yaml
  pyproject.toml
Labels: cla-signed, GitHub Actions

#20083 Use the entityId in the legacy shopping cart
  src/panels/lovelace/cards/hui-todo-list-card.ts
Labels: cla-signed

#20077 Fix broken state_color in Entities card
  src/panels/lovelace/components/hui-buttons-base.ts
Labels: cla-signed

#20028 Fix html5 notification toggle
  src/components/ha-push-notifications-toggle.ts
  src/panels/profile/ha-push-notifications-row.ts
Labels: cla-signed

#20117 Fix hidden entity filter card in section
  src/panels/lovelace/cards/hui-entity-filter-card.ts
  src/panels/lovelace/components/hui-conditional-base.ts
Labels: cla-signed

#19182 `conditional` & `entity-filter`: add ability to filter through `entity_id` & add `entity-filter` `conditional`'s conditions
  gallery/src/pages/automation/describe-condition.ts
  gallery/src/pages/lovelace/entity-filter-card.ts
  src/data/automation.ts
  src/panels/lovelace/badges/hui-entity-filter-badge.ts
  src/panels/lovelace/badges/types.ts
  src/panels/lovelace/cards/hui-entity-filter-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/common/evaluate-filter.ts
  src/panels/lovelace/common/validate-condition.ts
  src/panels/lovelace/entity-rows/types.ts
Labels: cla-signed, Documentation Added, second-opinion-wanted, Design

#20142 Center title in zha pairing page
  src/panels/config/integrations/integration-panels/zha/zha-add-devices-page.ts
Labels: cla-signed

#20143 Fix drag and drop when switching views
  src/components/ha-sortable.ts
Labels: cla-signed

#20057 Change gender to voice for cloud tts settings
  src/data/cloud/tts.ts
  src/panels/config/cloud/account/cloud-tts-pref.ts
  src/panels/config/cloud/account/dialog-cloud-tts-try.ts
  src/translations/en.json
Labels: cla-signed, wait for backend

#20068 Add iframe strategy
  src/panels/config/dashboard/dialog-new-dashboard.ts
  src/panels/config/lovelace/dashboards/dialog-lovelace-dashboard-configure-strategy.ts
  src/panels/config/lovelace/dashboards/ha-config-lovelace-dashboards.ts
  src/panels/config/lovelace/dashboards/show-dialog-lovelace-dashboard-configure-strategy.ts
  src/panels/iframe/ha-panel-iframe.ts
  src/panels/lovelace/cards/hui-iframe-card.ts
  src/panels/lovelace/editor/dashboard-strategy-editor/hui-iframe-dashboard-strategy-editor.ts
  src/panels/lovelace/strategies/get-strategy.ts
  src/panels/lovelace/strategies/iframe/iframe-dashboard-strategy.ts
  src/panels/lovelace/strategies/iframe/iframe-view-strategy.ts
  src/panels/lovelace/strategies/types.ts
  src/translations/en.json
  src/util/iframe.ts
Labels: cla-signed, Noteworthy

#20103 Split profile page
  src/panels/profile/ha-panel-profile.ts
  src/panels/profile/ha-profile-section-general.ts
  src/panels/profile/ha-profile-section-security.ts
  src/translations/en.json
Labels: cla-signed

#20088 Allow commas in state of history download
  src/panels/history/ha-panel-history.ts
Labels: cla-signed

#20123 Fix header on take control dialog
  src/components/ha-dialog.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-edit-card.ts
  src/panels/lovelace/editor/hui-dialog-save-config.ts
Labels: cla-signed

#20124 Update control slider color
  gallery/src/pages/components/ha-control-button.ts
  gallery/src/pages/components/ha-control-number-buttons.ts
  gallery/src/pages/components/ha-control-select.ts
  gallery/src/pages/components/ha-control-slider.ts
  gallery/src/pages/components/ha-control-switch.ts
  src/components/ha-control-slider.ts
  src/dialogs/more-info/components/lights/light-color-temp-picker.ts
  src/state-control/alarm_control_panel/ha-state-control-alarm_control_panel-modes.ts
  src/state-control/cover/ha-state-control-cover-buttons.ts
  src/state-control/cover/ha-state-control-cover-position.ts
  src/state-control/cover/ha-state-control-cover-tilt-position.ts
  src/state-control/cover/ha-state-control-cover-toggle.ts
  src/state-control/fan/ha-state-control-fan-speed.ts
  src/state-control/ha-state-control-toggle.ts
  src/state-control/light/ha-state-control-light-brightness.ts
  src/state-control/lock/ha-state-control-lock-toggle.ts
  src/state-control/valve/ha-state-control-valve-buttons.ts
  src/state-control/valve/ha-state-control-valve-position.ts
  src/state-control/valve/ha-state-control-valve-toggle.ts
Labels: cla-signed, Design

#20135 Fix stack style in panel view
  src/panels/lovelace/cards/hui-stack-card.ts
  src/panels/lovelace/views/hui-panel-view.ts
Labels: cla-signed

#20093 Add confirmation button in lock more info
  src/components/ha-control-button.ts
  src/dialogs/more-info/controls/more-info-lock.ts
  src/state-control/lock/ha-state-control-lock-toggle.ts
  src/translations/en.json
Labels: cla-signed

#20107 Show integration page if no integrations are configured
  src/panels/config/integrations/ha-config-integrations.ts
Labels: cla-signed

#20194 Add image domain to sensors
  src/common/const.ts
Labels: cla-signed

#20188 Add question based matter commissioning flow
  public/static/images/appstore.svg
  public/static/images/logo_apple_home.png
  public/static/images/logo_google_home.png
  public/static/images/playstore.svg
  public/static/images/qr-appstore.svg
  public/static/images/qr-playstore.svg
  src/onboarding/dialogs/app-dialog.ts
  src/panels/config/integrations/integration-panels/matter/dialog-matter-add-device.ts
  src/panels/config/integrations/integration-panels/matter/matter-add-device/matter-add-device-apple-home.ts
  src/panels/config/integrations/integration-panels/matter/matter-add-device/matter-add-device-commissioning.ts
  src/panels/config/integrations/integration-panels/matter/matter-add-device/matter-add-device-existing.ts
  src/panels/config/integrations/integration-panels/matter/matter-add-device/matter-add-device-generic.ts
  src/panels/config/integrations/integration-panels/matter/matter-add-device/matter-add-device-google-home-fallback.ts
  src/panels/config/integrations/integration-panels/matter/matter-add-device/matter-add-device-google-home.ts
  src/panels/config/integrations/integration-panels/matter/matter-add-device/matter-add-device-main.ts
  src/panels/config/integrations/integration-panels/matter/matter-add-device/matter-add-device-new.ts
  src/panels/config/integrations/integration-panels/matter/matter-add-device/matter-add-device-shared-styles.ts
  src/translations/en.json
Labels: cla-signed

#20145 Add maximum number of columns option for section view
  src/data/lovelace/config/view.ts
  src/panels/lovelace/editor/view-editor/hui-view-editor.ts
  src/panels/lovelace/views/hui-sections-view.ts
  src/translations/en.json
Labels: cla-signed

#20198 Update matter app translations
  src/panels/config/integrations/integration-panels/matter/matter-add-device/matter-add-device-apple-home.ts
  src/translations/en.json
Labels: cla-signed

#20199 Fix profile page
  src/panels/profile/ha-panel-profile.ts
  src/panels/profile/ha-profile-section-security.ts
Labels: cla-signed

#20200 Update en.json - fix expand_label_id, use areas instead of area
  src/translations/en.json
Labels: cla-signed

#19092 climate: Add preset exemple
  gallery/src/pages/lovelace/thermostat-card.ts
  gallery/src/pages/more-info/climate.ts
Labels: cla-signed, stale, needs design preview, Design

#20191 Fix energy dates when using server TZ
  src/common/datetime/calc_date.ts
  src/data/energy.ts
  src/panels/lovelace/components/hui-energy-period-selector.ts
Labels: cla-signed

#20197 Add categories, filtering, grouping to automation panel
  demo/src/ha-demo.ts
  gallery/src/pages/misc/integration-card.ts
  src/components/chips/ha-assist-chip.ts
  src/components/data-table/ha-data-table-labels.ts
  src/components/data-table/ha-data-table.ts
  src/components/ha-area-floor-picker.ts
  src/components/ha-button-related-filter-menu.ts
  src/components/ha-expansion-panel.ts
  src/components/ha-filter-blueprints.ts
  src/components/ha-filter-categories.ts
  src/components/ha-filter-devices.ts
  src/components/ha-filter-entities.ts
  src/components/ha-filter-floor-areas.ts
  src/components/ha-filter-integrations.ts
  src/components/ha-filter-labels.ts
  src/components/ha-filter-states.ts
  src/components/search-input-outlined.ts
  src/data/category_registry.ts
  src/data/entity_registry.ts
  src/data/search.ts
  src/layouts/hass-tabs-subpage-data-table.ts
  src/layouts/hass-tabs-subpage.ts
  src/panels/config/automation/add-automation-element-dialog.ts
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/blueprint/ha-blueprint-overview.ts
  src/panels/config/category/dialog-assign-category.ts
  src/panels/config/category/dialog-category-registry-detail.ts
  src/panels/config/category/ha-category-picker.ts
  src/panels/config/category/show-dialog-assign-category.ts
  src/panels/config/category/show-dialog-category-registry-detail.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/helpers/ha-config-helpers.ts
  src/panels/config/integrations/ha-config-integrations-dashboard.ts
  src/panels/config/scene/ha-scene-dashboard.ts
  src/panels/config/script/ha-script-picker.ts
  src/panels/config/voice-assistants/ha-config-voice-assistants-expose.ts
  src/translations/en.json
Labels: cla-signed, Demo, Design

#20203 Add filtering and grouping to scenes and scripts
  src/components/data-table/ha-data-table.ts
  src/panels/config/scene/ha-scene-dashboard.ts
  src/panels/config/script/ha-script-picker.ts
  src/translations/en.json
Labels: cla-signed

#20160 Fix missing column headers for various data tables
  src/panels/config/backup/ha-config-backup.ts
  src/panels/config/blueprint/ha-blueprint-overview.ts
  src/panels/config/lovelace/dashboards/ha-config-lovelace-dashboards.ts
  src/panels/config/lovelace/resources/ha-config-lovelace-resources.ts
  src/panels/config/tags/ha-config-tags.ts
  src/panels/config/voice-assistants/ha-config-voice-assistants-expose.ts
Labels: cla-signed

#20206 Support no level on floors
  src/data/floor_registry.ts
  src/panels/config/areas/dialog-floor-registry-detail.ts
Labels: cla-signed

#20204 Add filtering and grouping to device and entities config pages
  src/layouts/hass-tabs-subpage-data-table.ts
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/voice-assistants/ha-config-voice-assistants-expose.ts
  src/translations/en.json
Labels: cla-signed

#20207 Use primary color for user message in assist dialog
  src/dialogs/voice-command-dialog/ha-voice-command-dialog.ts
Labels: cla-signed

#20205 Remove border from chip and use ha-label for label
  src/components/data-table/ha-data-table-labels.ts
  src/components/ha-filter-labels.ts
  src/components/ha-label.ts
  src/components/ha-labels-picker.ts
Labels: cla-signed

#20208 Allow delete floor
  src/panels/config/areas/ha-config-areas-dashboard.ts
  src/translations/en.json
Labels: cla-signed

#20209 Fix translations for label and category
  src/translations/en.json
Labels: cla-signed

#20213 Add label and floor to target struct
  src/data/script.ts
Labels: cla-signed

#20215 Add default icons to categories
  src/components/ha-filter-categories.ts
  src/components/ha-filter-entities.ts
  src/components/ha-filter-floor-areas.ts
  src/panels/config/category/ha-category-picker.ts
Labels: cla-signed

#20233 Fix label creation in label picker
  src/components/ha-label-picker.ts
Labels: cla-signed

#20232 Fix default label color
  src/components/data-table/ha-data-table-labels.ts
  src/components/ha-filter-labels.ts
  src/components/ha-labels-picker.ts
Labels: cla-signed

#20235 Fix unassign category action
  src/panels/config/category/dialog-assign-category.ts
Labels: cla-signed

#20234 Display category dialog in category picker
  src/components/ha-filter-categories.ts
  src/panels/config/category/dialog-category-registry-detail.ts
  src/panels/config/category/ha-category-picker.ts
  src/panels/config/category/show-dialog-category-registry-detail.ts
Labels: cla-signed

#20214 Add default icons for area and floors
  src/components/ha-area-filter.ts
  src/components/ha-area-floor-picker.ts
  src/components/ha-area-picker.ts
  src/components/ha-filter-floor-areas.ts
  src/components/ha-floor-icon.ts
  src/components/ha-floor-picker.ts
  src/components/ha-icon-picker.ts
  src/components/ha-target-picker.ts
  src/data/floor_registry.ts
  src/panels/config/areas/dialog-floor-registry-detail.ts
  src/panels/config/areas/ha-config-areas-dashboard.ts
Labels: cla-signed

#20250 20240328.0
  pyproject.toml
  src/components/data-table/ha-data-table-labels.ts
  src/components/ha-area-filter.ts
  src/components/ha-area-floor-picker.ts
  src/components/ha-area-picker.ts
  src/components/ha-filter-categories.ts
  src/components/ha-filter-entities.ts
  src/components/ha-filter-floor-areas.ts
  src/components/ha-filter-labels.ts
  src/components/ha-floor-icon.ts
  src/components/ha-floor-picker.ts
  src/components/ha-icon-picker.ts
  src/components/ha-label-picker.ts
  src/components/ha-labels-picker.ts
  src/components/ha-target-picker.ts
  src/data/floor_registry.ts
  src/data/script.ts
  src/panels/config/areas/dialog-floor-registry-detail.ts
  src/panels/config/areas/ha-config-areas-dashboard.ts
  src/panels/config/category/dialog-assign-category.ts
  src/panels/config/category/dialog-category-registry-detail.ts
  src/panels/config/category/ha-category-picker.ts
  src/panels/config/category/show-dialog-category-registry-detail.ts
Labels: cla-signed

#20251 Add label button to ha-filter-labels
  src/components/ha-filter-labels.ts
  src/translations/en.json
Labels: cla-signed

#20255 Hide show all categories button is no categories
  src/components/ha-filter-categories.ts
Labels: cla-signed

#20262 Fix search for labels and categories
  src/components/ha-label-picker.ts
  src/panels/config/category/ha-category-picker.ts
Labels: cla-signed

#20261 Add delete action in label overflow menu
  src/panels/config/labels/ha-config-labels.ts
Labels: cla-signed

#20264 Restore theme usage in stack card in panel view
  src/panels/lovelace/cards/hui-stack-card.ts
  src/panels/lovelace/views/hui-panel-view.ts
Labels: cla-signed

#20265 Reapply filters if entity registry change
  src/data/entity_registry.ts
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/scene/ha-scene-dashboard.ts
  src/panels/config/script/ha-script-picker.ts
Labels: cla-signed

#20272 Fix add category and add label animation
  src/components/ha-filter-categories.ts
  src/components/ha-filter-labels.ts
Labels: cla-signed

#20271 Improve data table search bar style
  src/components/ha-outlined-text-field.ts
  src/components/search-input-outlined.ts
  src/resources/ha-style.ts
  src/resources/styles-data.ts
Labels: cla-signed

#20263 Use primary color for filter badge color
  src/components/ha-filter-blueprints.ts
  src/components/ha-filter-categories.ts
  src/components/ha-filter-devices.ts
  src/components/ha-filter-entities.ts
  src/components/ha-filter-floor-areas.ts
  src/components/ha-filter-integrations.ts
  src/components/ha-filter-labels.ts
  src/components/ha-filter-states.ts
  src/layouts/hass-tabs-subpage-data-table.ts
Labels: cla-signed

#20273 Fix empty line in data table when using group_by
  src/components/data-table/ha-data-table.ts
Labels: cla-signed

#20253 Label filters for devices & entities
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/panels/config/entities/ha-config-entities.ts
Labels: cla-signed

#20276 Fix floor creation in floor picker
  src/components/ha-floor-picker.ts
Labels: cla-signed

#20275 Add labels on devices datatable
  src/panels/config/devices/ha-config-devices-dashboard.ts
Labels: cla-signed

#20274 Add labels on entities datatable
  src/panels/config/entities/ha-config-entities.ts
Labels: cla-signed

#20277 20240329.0
  package.json
  pyproject.toml
  src/components/data-table/ha-data-table.ts
  src/components/ha-filter-blueprints.ts
  src/components/ha-filter-categories.ts
  src/components/ha-filter-devices.ts
  src/components/ha-filter-entities.ts
  src/components/ha-filter-floor-areas.ts
  src/components/ha-filter-integrations.ts
  src/components/ha-filter-labels.ts
  src/components/ha-filter-states.ts
  src/components/ha-floor-picker.ts
  src/components/ha-label-picker.ts
  src/components/ha-outlined-text-field.ts
  src/components/search-input-outlined.ts
  src/data/entity_registry.ts
  src/layouts/hass-tabs-subpage-data-table.ts
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/category/ha-category-picker.ts
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/labels/ha-config-labels.ts
  src/panels/config/scene/ha-scene-dashboard.ts
  src/panels/config/script/ha-script-picker.ts
  src/panels/lovelace/cards/hui-stack-card.ts
  src/panels/lovelace/views/hui-panel-view.ts
  src/resources/ha-style.ts
  src/resources/styles-data.ts
  src/translations/en.json
  yarn.lock
Labels: cla-signed

#20278 Fix stack card border radius reset on iOS
  src/panels/lovelace/cards/hui-stack-card.ts
  src/panels/lovelace/views/hui-panel-view.ts
Labels: cla-signed

#20280 20240329.1
  pyproject.toml
  src/panels/lovelace/cards/hui-stack-card.ts
  src/panels/lovelace/views/hui-panel-view.ts
Labels: cla-signed

#20281 Add label filter for helper page
  src/panels/config/helpers/ha-config-helpers.ts
Labels: cla-signed

#20283 RTL fixes to new data table
  src/components/chips/ha-assist-chip.ts
  src/components/ha-color-picker.ts
  src/components/ha-outlined-text-field.ts
  src/layouts/hass-tabs-subpage-data-table.ts
Labels: cla-signed

#20287 Fix flickering toast
  src/managers/notification-manager.ts
Labels: cla-signed

#20285 Fix uncaught keyFunction errors when data table filtering
  src/components/data-table/ha-data-table.ts
Labels: cla-signed

#20288 Fix clearing of filters
  src/components/ha-filter-blueprints.ts
  src/components/ha-filter-devices.ts
  src/components/ha-filter-entities.ts
  src/components/ha-filter-integrations.ts
  src/components/ha-filter-labels.ts
Labels: cla-signed

#20294 Clean menu implementation
  src/components/ha-menu-item.ts
  src/components/ha-menu.ts
  src/layouts/hass-tabs-subpage-data-table.ts
Labels: cla-signed
