Repository home-assistant/frontend, pull requests merged in 2024-06, with the labels that each got.

#20941 Revert "Filter unrecorded entities from history panel (#19621)"
  src/data/recorder.ts
  src/panels/history/ha-panel-history.ts
Labels: cla-signed

#20960 Tweak styles Assist dialog
  src/dialogs/voice-command-dialog/ha-voice-command-dialog.ts
Labels: cla-signed

#20971 Fix broken config switch in demo
  demo/src/stubs/lovelace.ts
  src/panels/lovelace/cards/hui-card.ts
  src/panels/lovelace/views/hui-view.ts
Labels: cla-signed, Demo

#20969 Fix fallback icon color in dark mode
  src/components/ha-icon-picker.ts
Labels: cla-signed

#20914 Update ha-entity-marker.ts: add CSS variable for border-radius
  src/components/map/ha-entity-marker.ts
Labels: cla-signed

#20972 Fix card display in view panel
  src/panels/lovelace/cards/hui-card.ts
Labels: cla-signed

#20967 Use event for section visibility instead of mutation observer
  src/panels/lovelace/sections/hui-section.ts
  src/panels/lovelace/views/hui-sections-view.ts
Labels: cla-signed

#20970 Make lovelace optional in card and section
  src/panels/lovelace/cards/hui-card.ts
  src/panels/lovelace/sections/hui-section.ts
Labels: cla-signed

#20934 Improve error messages in config entries
  src/panels/config/integrations/ha-config-integration-page.ts
Labels: cla-signed

#20953 Fix filters for entity/device from integrations dashboard
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/panels/config/entities/ha-config-entities.ts
Labels: cla-signed

#20966 Fix conditional card visiblity inside section
  src/panels/lovelace/cards/hui-card.ts
  src/panels/lovelace/cards/hui-conditional-card.ts
  src/panels/lovelace/cards/hui-entity-filter-card.ts
  src/panels/lovelace/components/hui-conditional-base.ts
Labels: cla-signed

#20926 Add visibility editor to card editor
  src/panels/lovelace/editor/card-editor/hui-card-element-editor.ts
  src/panels/lovelace/editor/card-editor/hui-card-visibility-editor.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-edit-card.ts
  src/panels/lovelace/editor/hui-element-editor.ts
  src/translations/en.json
Labels: cla-signed

#20973 Save search filter in session storage
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/blueprint/ha-blueprint-overview.ts
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/helpers/ha-config-helpers.ts
  src/panels/config/labels/ha-config-labels.ts
  src/panels/config/lovelace/dashboards/ha-config-lovelace-dashboards.ts
  src/panels/config/lovelace/resources/ha-config-lovelace-resources.ts
  src/panels/config/scene/ha-scene-dashboard.ts
  src/panels/config/script/ha-script-picker.ts
  src/panels/config/tags/ha-config-tags.ts
  src/panels/config/users/ha-config-users.ts
  src/panels/config/voice-assistants/ha-config-voice-assistants-expose.ts
Labels: cla-signed

#20974 20240603.0
  .github/workflows/relative-ci.yaml
  demo/src/stubs/lovelace.ts
  package.json
  pyproject.toml
  src/components/ha-icon-picker.ts
  src/components/map/ha-entity-marker.ts
  src/data/recorder.ts
  src/dialogs/voice-command-dialog/ha-voice-command-dialog.ts
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/blueprint/ha-blueprint-overview.ts
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/helpers/ha-config-helpers.ts
  src/panels/config/integrations/ha-config-integration-page.ts
  src/panels/config/labels/ha-config-labels.ts
  src/panels/config/lovelace/dashboards/ha-config-lovelace-dashboards.ts
  src/panels/config/lovelace/resources/ha-config-lovelace-resources.ts
  src/panels/config/scene/ha-scene-dashboard.ts
  src/panels/config/script/ha-script-picker.ts
  src/panels/config/tags/ha-config-tags.ts
  src/panels/config/users/ha-config-users.ts
  src/panels/config/voice-assistants/ha-config-voice-assistants-expose.ts
  src/panels/history/ha-panel-history.ts
  src/panels/lovelace/cards/hui-card.ts
  src/panels/lovelace/cards/hui-conditional-card.ts
  src/panels/lovelace/cards/hui-entity-filter-card.ts
  src/panels/lovelace/cards/hui-todo-list-card.ts
  src/panels/lovelace/components/hui-conditional-base.ts
  src/panels/lovelace/editor/card-editor/hui-card-element-editor.ts
  src/panels/lovelace/editor/card-editor/hui-card-visibility-editor.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-edit-card.ts
  src/panels/lovelace/editor/hui-element-editor.ts
  src/panels/lovelace/sections/hui-section.ts
  src/panels/lovelace/views/hui-sections-view.ts
  src/panels/lovelace/views/hui-view.ts
  src/translations/en.json
  yarn.lock
Labels: cla-signed, GitHub Actions, Demo

#20981 Fix parameter name in zwave_js WS API
  src/data/zwave_js.ts
Labels: cla-signed

#20975 Add missing hui-root callback, fixes #20854
  src/panels/lovelace/hui-root.ts
Labels: cla-signed

#20976 Fix card editor size on mobile
  src/panels/lovelace/editor/card-editor/hui-dialog-edit-card.ts
Labels: cla-signed

#20984 Fix max option saving using keyboard for script mode
  src/panels/config/automation/automation-mode-dialog/dialog-automation-mode.ts
Labels: cla-signed

#20985 Fix filter card visibility when show empty is false
  src/panels/lovelace/cards/hui-entity-filter-card.ts
Labels: cla-signed

#20997 Fix Assist styling
  src/dialogs/voice-command-dialog/ha-voice-command-dialog.ts
  src/translations/en.json
Labels: cla-signed

#20998 Increase check update timeout to 15s
  src/data/update.ts
Labels: cla-signed

#20996 Todo button menu: add stop propagation
  src/panels/lovelace/cards/hui-todo-list-card.ts
Labels: cla-signed

#21016 Add floor selector to script fields
  src/components/ha-selector/ha-selector-selector.ts
  src/translations/en.json
Labels: cla-signed

#21045 Fix cancel button in section edit
  src/panels/lovelace/editor/section-editor/hui-dialog-edit-section.ts
Labels: cla-signed

#21046 Add a title to triggered dialog
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/translations/en.json
Labels: cla-signed

#21052 Fix automation describeCondition for number state type
  src/data/automation_i18n.ts
Labels: cla-signed

#21058 Hide hidden updates from sidebar/settings
  src/components/ha-sidebar.ts
  src/panels/config/dashboard/ha-config-dashboard.ts
Labels: cla-signed

#21062 Fix "canImportKeychain" boolean for thread panel
  src/panels/config/integrations/integration-panels/thread/dialog-thread-dataset.ts
Labels: cla-signed

#21066 Move send credentials to phone to main Thread configuration panel
  src/data/otbr.ts
  src/panels/config/integrations/integration-panels/thread/dialog-thread-dataset.ts
  src/panels/config/integrations/integration-panels/thread/thread-config-panel.ts
Labels: cla-signed

#21018 Move card loading logic into hui-card
  demo/src/custom-cards/ha-demo-card.ts
  demo/src/stubs/lovelace.ts
  gallery/src/components/demo-card.ts
  src/panels/lovelace/cards/hui-card.ts
  src/panels/lovelace/cards/hui-conditional-card.ts
  src/panels/lovelace/cards/hui-entity-filter-card.ts
  src/panels/lovelace/cards/hui-error-card.ts
  src/panels/lovelace/cards/hui-stack-card.ts
  src/panels/lovelace/components/hui-conditional-base.ts
  src/panels/lovelace/create-element/create-element-base.ts
  src/panels/lovelace/editor/card-editor/hui-card-preview.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-delete-card.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-edit-card.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-suggest-card.ts
  src/panels/lovelace/editor/card-editor/hui-section-preview.ts
  src/panels/lovelace/sections/hui-grid-section.ts
  src/panels/lovelace/sections/hui-section.ts
  src/panels/lovelace/types.ts
  src/panels/lovelace/views/hui-masonry-view.ts
  src/panels/lovelace/views/hui-panel-view.ts
  src/panels/lovelace/views/hui-sidebar-view.ts
  src/panels/lovelace/views/hui-view.ts
  src/panels/todo/ha-panel-todo.ts
Labels: cla-signed, Demo, Design

#21053 Make update actions sticky on more info
  src/dialogs/more-info/controls/more-info-update.ts
Labels: cla-signed

#21063 Fix current mode not selected in card feature
  src/panels/lovelace/card-features/common/filter-modes.ts
  src/panels/lovelace/card-features/hui-alarm-modes-card-feature.ts
Labels: cla-signed

#20999 Z-Wave: Prevent closing the Add Device dialog when user input is required
  src/panels/config/integrations/integration-panels/zwave_js/dialog-zwave_js-add-node.ts
  src/translations/en.json
Labels: cla-signed, wait for backend

#20567 Translation support for device automation extra fields
  src/data/device_automation.ts
  src/panels/config/automation/action/types/ha-automation-action-device_id.ts
  src/panels/config/automation/condition/types/ha-automation-condition-device.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-device.ts
  src/translations/en.json
Labels: cla-signed, localization

#21074 Do not inject Intl polyfill into ecma402-abstract package
  build-scripts/bundle.cjs
Labels: cla-signed, Build

#21075 Hide notify entities from generated dashboard
  src/panels/lovelace/common/generate-lovelace-config.ts
Labels: cla-signed

#21078 Fix diagnostic download not downloading
  src/panels/config/integrations/ha-config-integration-page.ts
Labels: cla-signed

#21079 Fix selected state for selected config entries
  src/panels/config/integrations/ha-config-integration-page.ts
Labels: cla-signed

#21097 Update home-assistant-js-websocket to 9.4.0
  package.json
  src/fake_data/demo_config.ts
  yarn.lock
Labels: cla-signed, Demo, Design

#21096 Make the radius of the home zone configurable
  src/data/core.ts
  src/data/zone.ts
  src/panels/config/zone/dialog-home-zone-detail.ts
  src/panels/config/zone/ha-config-zone.ts
  src/translations/en.json
Labels: cla-signed, backend merged

#21088 Update hui-grid-section.ts
  src/panels/lovelace/sections/hui-grid-section.ts
Labels: cla-signed

#21104 Wrap code editor for template selector
  src/components/ha-code-editor.ts
  src/components/ha-selector/ha-selector-template.ts
  src/resources/codemirror.ts
Labels: cla-signed

#21076 Split out service entities
  src/common/const.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/lovelace/common/generate-lovelace-config.ts
  src/translations/en.json
Labels: cla-signed

#21112 Fix back paths
  src/panels/config/application_credentials/ha-config-application-credentials.ts
  src/panels/config/users/ha-config-users.ts
Labels: cla-signed

#20676 Add CoreJS polyfills to modern build
  build-scripts/bundle.cjs
  src/entrypoints/authorize.ts
  src/entrypoints/core.ts
  src/entrypoints/onboarding.ts
  src/resources/array.flat.polyfill.ts
  src/resources/log-message.ts
Labels: cla-signed, Build

#20896 Use EnergyCardBaseConfig where appropriate
  src/panels/lovelace/cards/energy/hui-energy-grid-neutrality-gauge-card.ts
  src/panels/lovelace/cards/types.ts
Labels: cla-signed

#21065 Show card preview inside section in card editor
  src/panels/lovelace/cards/hui-card.ts
  src/panels/lovelace/cards/hui-conditional-card.ts
  src/panels/lovelace/cards/hui-entity-filter-card.ts
  src/panels/lovelace/cards/hui-error-card.ts
  src/panels/lovelace/cards/hui-markdown-card.ts
  src/panels/lovelace/cards/hui-stack-card.ts
  src/panels/lovelace/components/hui-conditional-base.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-delete-card.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-edit-card.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-suggest-card.ts
  src/panels/lovelace/entity-rows/types.ts
  src/panels/lovelace/sections/hui-section.ts
  src/panels/lovelace/types.ts
  src/panels/lovelace/views/hui-masonry-view.ts
  src/panels/lovelace/views/hui-panel-view.ts
  src/panels/lovelace/views/hui-sidebar-view.ts
  src/panels/lovelace/views/hui-view.ts
Labels: cla-signed

#19954 Replace paper-listbox in cast frontend
  cast/src/launcher/layout/hc-cast.ts
Labels: cla-signed, Cast

#20935 Various fixes in dialogs
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/config/entities/editor-tabs/settings/entity-settings-helper-tab.ts
  src/panels/config/entities/entity-registry-settings.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/repairs/dialog-integration-startup.ts
  src/panels/config/repairs/dialog-system-information.ts
  src/panels/profile/ha-refresh-tokens-card.ts
  src/translations/en.json
Labels: cla-signed

#21119 Offer to delete no-longer-recorded statistics
  src/panels/developer-tools/statistics/developer-tools-statistics.ts
  src/translations/en.json
Labels: cla-signed

#19845 Add preview to Threshold config & option flow
  src/data/threshold.ts
  src/dialogs/config-flow/previews/flow-preview-threshold.ts
Labels: cla-signed

#21133 Add some weather attribute icons and units
  src/data/weather.ts
Labels: cla-signed

#21142 Fix 'Move to view' operation
  src/panels/lovelace/components/hui-card-options.ts
Labels: cla-signed

#21153 Support expandable in initial form data
  src/components/ha-form/compute-initial-ha-form-data.ts
Labels: cla-signed

#21152 Allow to change username
  src/data/auth.ts
  src/panels/config/person/dialog-person-detail.ts
  src/panels/config/users/dialog-user-detail.ts
  src/panels/config/users/ha-config-users.ts
  src/panels/config/users/show-dialog-user-detail.ts
  src/translations/en.json
Labels: cla-signed

#21115 Resize card editor
  src/common/dom/prevent_default.ts
  src/components/ha-grid-size-picker.ts
  src/data/lovelace.ts
  src/panels/lovelace/cards/hui-card.ts
  src/panels/lovelace/editor/card-editor/ha-grid-layout-slider.ts
  src/panels/lovelace/editor/card-editor/hui-card-element-editor.ts
  src/panels/lovelace/editor/card-editor/hui-card-layout-editor.ts
  src/panels/lovelace/editor/card-editor/hui-card-visibility-editor.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-edit-card.ts
  src/panels/lovelace/editor/conditions/ha-card-condition-editor.ts
  src/panels/lovelace/sections/hui-grid-section.ts
  src/panels/lovelace/sections/hui-section.ts
  src/panels/lovelace/views/hui-view.ts
  src/translations/en.json
Labels: cla-signed, Noteworthy

#21161 Fix grid size picker size
  src/panels/lovelace/editor/card-editor/hui-card-layout-editor.ts
Labels: cla-signed

#21157 Add support for sections in filters
  src/components/ha-service-control.ts
Labels: cla-signed

#21139 Add menu with remove option to application credentials
  src/panels/config/application_credentials/ha-config-application-credentials.ts
  src/translations/en.json
Labels: cla-signed

#21120 Better resizing support for thermostat card
  src/panels/lovelace/cards/hui-humidifier-card.ts
  src/panels/lovelace/cards/hui-thermostat-card.ts
Labels: cla-signed

#21156 Replace octal escape sequences
  src/components/ha-ansi-to-html.ts
Labels: cla-signed

#21151 Take convert of blueprint automation and script
  src/data/automation.ts
  src/data/blueprint.ts
  src/panels/config/automation/blueprint-automation-editor.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/script/blueprint-script-editor.ts
  src/panels/config/script/ha-script-editor.ts
  src/translations/en.json
Labels: cla-signed, Noteworthy

#21168 Allow to hide and sort columns in data tables
  src/components/data-table/dialog-data-table-settings.ts
  src/components/data-table/ha-data-table.ts
  src/components/data-table/show-dialog-data-table-settings.ts
  src/layouts/hass-tabs-subpage-data-table.ts
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/backup/ha-config-backup.ts
  src/panels/config/blueprint/ha-blueprint-overview.ts
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/helpers/ha-config-helpers.ts
  src/panels/config/labels/ha-config-labels.ts
  src/panels/config/lovelace/dashboards/ha-config-lovelace-dashboards.ts
  src/panels/config/lovelace/resources/ha-config-lovelace-resources.ts
  src/panels/config/scene/ha-scene-dashboard.ts
  src/panels/config/script/ha-script-picker.ts
  src/panels/config/tags/ha-config-tags.ts
  src/panels/config/users/ha-config-users.ts
  src/panels/config/voice-assistants/ha-config-voice-assistants-expose.ts
  src/translations/en.json
Labels: cla-signed

#19806 Use resize controller for weather card
  src/panels/lovelace/cards/hui-weather-forecast-card.ts
Labels: cla-signed

#21175 Fix undefined value in search
  hassio/src/components/hassio-filter-addons.ts
  src/common/string/strip-diacritics.ts
  src/panels/config/automation/add-automation-element-dialog.ts
  src/panels/config/integrations/dialog-add-integration.ts
  src/panels/config/integrations/ha-config-integrations-dashboard.ts
  src/panels/lovelace/editor/card-editor/hui-card-picker.ts
  src/util/fuse.ts
Labels: cla-signed, Supervisor

#21178 Fix hass object in nested hui-card
  src/panels/lovelace/cards/hui-card.ts
Labels: cla-signed

#21179 20240626.1
  hassio/src/components/hassio-filter-addons.ts
  pyproject.toml
  src/common/string/strip-diacritics.ts
  src/panels/config/automation/add-automation-element-dialog.ts
  src/panels/config/integrations/dialog-add-integration.ts
  src/panels/config/integrations/ha-config-integrations-dashboard.ts
  src/panels/lovelace/cards/hui-card.ts
  src/panels/lovelace/editor/card-editor/hui-card-picker.ts
  src/util/fuse.ts
Labels: cla-signed, Supervisor

#21180 Revert "20240626.1"
  hassio/src/components/hassio-filter-addons.ts
  pyproject.toml
  src/common/string/strip-diacritics.ts
  src/panels/config/automation/add-automation-element-dialog.ts
  src/panels/config/integrations/dialog-add-integration.ts
  src/panels/config/integrations/ha-config-integrations-dashboard.ts
  src/panels/lovelace/cards/hui-card.ts
  src/panels/lovelace/editor/card-editor/hui-card-picker.ts
  src/util/fuse.ts
Labels: cla-signed

#21181 20240626.2
  hassio/src/components/hassio-filter-addons.ts
  pyproject.toml
  src/common/string/strip-diacritics.ts
  src/panels/config/automation/add-automation-element-dialog.ts
  src/panels/config/integrations/dialog-add-integration.ts
  src/panels/config/integrations/ha-config-integrations-dashboard.ts
  src/panels/lovelace/cards/hui-card.ts
  src/panels/lovelace/editor/card-editor/hui-card-picker.ts
  src/util/fuse.ts
Labels: cla-signed, Supervisor

#21136 Fix device integration filter for entityless devices
  src/components/ha-selector/ha-selector-area.ts
  src/components/ha-selector/ha-selector-device.ts
  src/components/ha-selector/ha-selector-floor.ts
  src/data/device_registry.ts
  src/data/selector.ts
Labels: cla-signed

#21189 Don't set hass to undefined in lovelace cards.
  src/panels/lovelace/cards/hui-card.ts
  src/panels/lovelace/cards/hui-conditional-card.ts
  src/panels/lovelace/cards/hui-entity-filter-card.ts
  src/panels/lovelace/cards/hui-stack-card.ts
  src/panels/lovelace/editor/card-editor/hui-card-layout-editor.ts
  src/panels/lovelace/sections/hui-section.ts
  src/panels/lovelace/views/hui-view.ts
Labels: cla-signed

#21187 Add support for native QR code scanner
  src/components/ha-qr-scanner.ts
  src/panels/config/integrations/integration-panels/zwave_js/dialog-zwave_js-add-node.ts
Labels: cla-signed

#21191 Add last updated property to tile card state content
  src/panels/lovelace/cards/hui-tile-card.ts
  src/panels/lovelace/editor/config-elements/hui-tile-card-editor.ts
  src/translations/en.json
Labels: cla-signed

#21190 Fix size of cards inside stack cards
  src/panels/lovelace/cards/hui-card.ts
  src/panels/lovelace/cards/hui-grid-card.ts
  src/panels/lovelace/cards/hui-horizontal-stack-card.ts
Labels: cla-signed

#21192 20240627.0
  package.json
  pyproject.toml
  src/components/ha-qr-scanner.ts
  src/components/ha-selector/ha-selector-area.ts
  src/components/ha-selector/ha-selector-device.ts
  src/components/ha-selector/ha-selector-floor.ts
  src/data/device_registry.ts
  src/data/selector.ts
  src/panels/config/integrations/integration-panels/zwave_js/dialog-zwave_js-add-node.ts
  src/panels/lovelace/cards/hui-card.ts
  src/panels/lovelace/cards/hui-conditional-card.ts
  src/panels/lovelace/cards/hui-entity-filter-card.ts
  src/panels/lovelace/cards/hui-grid-card.ts
  src/panels/lovelace/cards/hui-horizontal-stack-card.ts
  src/panels/lovelace/cards/hui-stack-card.ts
  src/panels/lovelace/cards/hui-tile-card.ts
  src/panels/lovelace/editor/card-editor/hui-card-layout-editor.ts
  src/panels/lovelace/editor/config-elements/hui-tile-card-editor.ts
  src/panels/lovelace/sections/hui-section.ts
  src/panels/lovelace/views/hui-view.ts
  src/translations/en.json
  yarn.lock
Labels: cla-signed

#21205 Fix add application credential keyboard handling
  src/panels/config/application_credentials/dialog-add-application-credential.ts
Labels: cla-signed

#21215 Add storage variables for application credentials config table
  src/panels/config/application_credentials/ha-config-application-credentials.ts
Labels: cla-signed

#21216 Reload application credentials after single delete
  src/panels/config/application_credentials/ha-config-application-credentials.ts
Labels: cla-signed

#21218 Fix update config mecanism in hui-card
  src/panels/lovelace/cards/hui-card.ts
Labels: cla-signed

#21217 Use display contents in horizontal stack only
  src/panels/lovelace/cards/hui-card.ts
  src/panels/lovelace/cards/hui-horizontal-stack-card.ts
Labels: cla-signed

#21221 Add credential to user after creation
  src/panels/config/users/dialog-add-user.ts
Labels: cla-signed

#21219 Implement search in application credentials table
  src/panels/config/application_credentials/ha-config-application-credentials.ts
Labels: cla-signed

#21223 20240628.0
  package.json
  pyproject.toml
  src/panels/config/application_credentials/dialog-add-application-credential.ts
  src/panels/config/application_credentials/ha-config-application-credentials.ts
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/scene/ha-scene-dashboard.ts
  src/panels/config/script/ha-script-picker.ts
  src/panels/config/users/dialog-add-user.ts
  src/panels/lovelace/cards/hui-card.ts
  src/panels/lovelace/cards/hui-horizontal-stack-card.ts
  src/translations/en.json
  yarn.lock
Labels: cla-signed
