Repository home-assistant/frontend, pull requests merged in 2024-07, with the labels that each got.

#21241 Improve take control of automation/script wording
  src/translations/en.json
Labels: cla-signed

#21242 Remove ga.js
  cast/src/html/faq.html.template
  cast/src/html/media.html.template
  cast/src/html/receiver.html.template
  demo/src/html/index.html.template
Labels: cla-signed, Cast, Demo

#21233 Application credentials: small improvements
  src/panels/config/application_credentials/ha-config-application-credentials.ts
Labels: cla-signed

#21239 Fix Webpack bundling of recorder worklet
  build-scripts/webpack.cjs
  src/util/audio-recorder.ts
  src/util/recorder-worklet.js
Labels: cla-signed, Build

#21243 Hide demo card when showing demo from frontpage
  demo/src/configs/sections/lovelace.ts
  demo/src/entrypoint.ts
  demo/src/util/is_frontpage.ts
Labels: cla-signed, Demo

#21245 Fix English only translations build
  build-scripts/gulp/translations.js
Labels: Build

#21249 Tweak first section in section demo
  demo/src/configs/sections/lovelace.ts
  src/fake_data/entity.ts
Labels: cla-signed, Demo, Design

#21253 Fix logbook card display/reloading issues
  src/panels/logbook/ha-logbook.ts
Labels: cla-signed

#21248 Ignore aspect ratio in grid section
  src/panels/lovelace/cards/hui-area-card.ts
  src/panels/lovelace/cards/hui-card.ts
  src/panels/lovelace/cards/hui-iframe-card.ts
  src/panels/lovelace/cards/hui-map-card.ts
  src/panels/lovelace/sections/hui-grid-section.ts
  src/panels/lovelace/types.ts
Labels: cla-signed

#21254 Change take control of blueprint UX
  src/panels/config/automation/blueprint-automation-editor.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/automation/manual-automation-editor.ts
  src/panels/config/blueprint/blueprint-generic-editor.ts
  src/panels/config/script/blueprint-script-editor.ts
  src/panels/config/script/ha-script-editor.ts
  src/panels/config/script/manual-script-editor.ts
  src/translations/en.json
Labels: cla-signed

#21244 Add min/max row/columns to resize card editor
  src/components/ha-grid-size-picker.ts
  src/panels/lovelace/cards/hui-button-card.ts
  src/panels/lovelace/cards/hui-entity-card.ts
  src/panels/lovelace/cards/hui-humidifier-card.ts
  src/panels/lovelace/cards/hui-iframe-card.ts
  src/panels/lovelace/cards/hui-map-card.ts
  src/panels/lovelace/cards/hui-media-control-card.ts
  src/panels/lovelace/cards/hui-sensor-card.ts
  src/panels/lovelace/cards/hui-statistic-card.ts
  src/panels/lovelace/cards/hui-thermostat-card.ts
  src/panels/lovelace/cards/hui-tile-card.ts
  src/panels/lovelace/cards/hui-weather-forecast-card.ts
  src/panels/lovelace/editor/card-editor/ha-grid-layout-slider.ts
  src/panels/lovelace/editor/card-editor/hui-card-layout-editor.ts
  src/panels/lovelace/sections/hui-grid-section.ts
  src/panels/lovelace/types.ts
Labels: cla-signed

#21255 20240702.0
  build-scripts/gulp/translations.js
  build-scripts/webpack.cjs
  cast/src/html/faq.html.template
  cast/src/html/media.html.template
  cast/src/html/receiver.html.template
  demo/src/configs/sections/lovelace.ts
  demo/src/entrypoint.ts
  demo/src/html/index.html.template
  demo/src/util/is_frontpage.ts
  package.json
  pyproject.toml
  src/components/ha-grid-size-picker.ts
  src/fake_data/entity.ts
  src/panels/config/application_credentials/ha-config-application-credentials.ts
  src/panels/config/automation/blueprint-automation-editor.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/automation/manual-automation-editor.ts
  src/panels/config/blueprint/blueprint-generic-editor.ts
  src/panels/config/script/blueprint-script-editor.ts
  src/panels/config/script/ha-script-editor.ts
  src/panels/config/script/manual-script-editor.ts
  src/panels/logbook/ha-logbook.ts
  src/panels/lovelace/cards/hui-area-card.ts
  src/panels/lovelace/cards/hui-button-card.ts
  src/panels/lovelace/cards/hui-card.ts
  src/panels/lovelace/cards/hui-entity-card.ts
  src/panels/lovelace/cards/hui-humidifier-card.ts
  src/panels/lovelace/cards/hui-iframe-card.ts
  src/panels/lovelace/cards/hui-map-card.ts
  src/panels/lovelace/cards/hui-media-control-card.ts
  src/panels/lovelace/cards/hui-sensor-card.ts
  src/panels/lovelace/cards/hui-statistic-card.ts
  src/panels/lovelace/cards/hui-thermostat-card.ts
  src/panels/lovelace/cards/hui-tile-card.ts
  src/panels/lovelace/cards/hui-weather-forecast-card.ts
  src/panels/lovelace/editor/card-editor/ha-grid-layout-slider.ts
  src/panels/lovelace/editor/card-editor/hui-card-layout-editor.ts
  src/panels/lovelace/sections/hui-grid-section.ts
  src/panels/lovelace/types.ts
  src/translations/en.json
  src/util/audio-recorder.ts
  src/util/recorder-worklet.js
  yarn.lock
Labels: cla-signed, Cast, Build, Demo, Design

#21247 Remove Safari 14.0 patch for delegatesFocus
  cast/src/launcher/entrypoint.ts
  demo/src/entrypoint.ts
  hassio/src/entrypoint.ts
  src/entrypoints/authorize.ts
  src/entrypoints/core.ts
  src/entrypoints/custom-panel.ts
  src/entrypoints/onboarding.ts
  src/resources/safari-14-attachshadow-patch.ts
Labels: cla-signed, Supervisor, Cast, Demo

#21258 Remove layout options for media player
  src/panels/lovelace/cards/hui-media-control-card.ts
Labels: cla-signed

#21259 Fix area card background and improve grid support
  src/panels/lovelace/cards/hui-area-card.ts
Labels: cla-signed

#21261 Fix demo development inside a dev container
  .devcontainer/devcontainer.json
  build-scripts/env.cjs
  build-scripts/gulp/webpack.js
Labels: cla-signed, Build

#21263 Add support for capability attributes in demo
  src/fake_data/entity.ts
  src/fake_data/provide_hass.ts
Labels: cla-signed, Demo, Design

#21262 Make sure unhidden columns are put at the correct place
  src/components/data-table/dialog-data-table-settings.ts
Labels: cla-signed

#21265 Fix demo map panel
  demo/src/stubs/entities.ts
  demo/src/stubs/lovelace.ts
  src/fake_data/demo_panels.ts
Labels: cla-signed, Demo, Design

#21268 Hide some things in demo
  src/dialogs/more-info/controls/more-info-media_player.ts
  src/dialogs/more-info/ha-more-info-dialog.ts
  src/dialogs/more-info/ha-more-info-history.ts
Labels: cla-signed

#21048 Fix automation picker overflow menu for keyboard
  src/components/ha-menu-item.ts
  src/components/ha-menu.ts
  src/panels/config/automation/ha-automation-picker.ts
Labels: cla-signed, Accessibility

#21275 Set min column size to 1 for vertical tile card
  src/panels/lovelace/cards/hui-tile-card.ts
Labels: cla-signed

#21271 Tweak demo, add some translations, tweak media players
  demo/public/assets/sections/images/media_player_family_room.jpg
  demo/src/configs/sections/entities.ts
  demo/src/configs/sections/lovelace.ts
  src/dialogs/more-info/controls/more-info-media_player.ts
  src/translations/en.json
Labels: cla-signed, Demo

#21270 Allow custom localize function for datatable
  src/components/data-table/ha-data-table.ts
  src/layouts/hass-tabs-subpage-data-table.ts
Labels: cla-signed

#21260 Better handle auto height in card resize editor
  src/components/ha-grid-size-picker.ts
  src/panels/lovelace/editor/card-editor/ha-grid-layout-slider.ts
  src/panels/lovelace/editor/card-editor/hui-card-layout-editor.ts
  src/panels/lovelace/sections/hui-grid-section.ts
  src/panels/lovelace/types.ts
Labels: cla-signed, smash

#21299 Change delete/remove wording in tag area to be consistent
  src/panels/config/tags/ha-config-tags.ts
  src/translations/en.json
Labels: cla-signed, smash

#21293 Fix energy selection date card in grid layout
  src/panels/lovelace/cards/energy/hui-energy-date-selection-card.ts
Labels: cla-signed, smash

#21297 Clarify remove vs. delete
  gallery/src/pages/Text/remove-delete-add-create.markdown
Labels: cla-signed, Design, smash

#21289 Improve sensor card graph inside section grid
  src/panels/lovelace/cards/hui-entity-card.ts
Labels: cla-signed

#21306 20240705.0
  demo/public/assets/sections/images/media_player_family_room.jpg
  demo/src/configs/sections/entities.ts
  demo/src/configs/sections/lovelace.ts
  demo/src/stubs/entities.ts
  demo/src/stubs/lovelace.ts
  gallery/src/pages/Text/remove-delete-add-create.markdown
  package.json
  pyproject.toml
  src/components/data-table/ha-data-table.ts
  src/components/ha-grid-size-picker.ts
  src/components/ha-menu-item.ts
  src/components/ha-menu.ts
  src/dialogs/more-info/ha-more-info-dialog.ts
  src/dialogs/more-info/ha-more-info-history.ts
  src/fake_data/demo_panels.ts
  src/layouts/hass-tabs-subpage-data-table.ts
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/config/tags/ha-config-tags.ts
  src/panels/lovelace/cards/energy/hui-energy-date-selection-card.ts
  src/panels/lovelace/cards/hui-entity-card.ts
  src/panels/lovelace/cards/hui-iframe-card.ts
  src/panels/lovelace/cards/hui-tile-card.ts
  src/panels/lovelace/editor/card-editor/ha-grid-layout-slider.ts
  src/panels/lovelace/editor/card-editor/hui-card-layout-editor.ts
  src/panels/lovelace/sections/hui-grid-section.ts
  src/panels/lovelace/types.ts
  src/translations/en.json
  yarn.lock
Labels: cla-signed, Demo, Design

#21313 Fix sensor card display
  src/panels/lovelace/cards/hui-entity-card.ts
Labels: cla-signed

#21330 Add defrosting to HVAC actions for ClimateEntity
  gallery/src/pages/misc/entity-state.ts
  src/common/entity/get_states.ts
  src/data/climate.ts
  src/fake_data/entity_component_icons.ts
Labels: cla-signed, wait for backend, Demo, Design

#21335 Use localize func in table settings dialog
  src/components/data-table/dialog-data-table-settings.ts
  src/components/data-table/show-dialog-data-table-settings.ts
  src/layouts/hass-tabs-subpage-data-table.ts
Labels: cla-signed

#21339 Add turn_on/off to FanEntity
  src/data/fan.ts
Labels: cla-signed, wait for backend

#21344 Fix hidden conditional card in editor preview
  src/panels/lovelace/cards/hui-card.ts
Labels: cla-signed

#21347 Don't block interaction on disabled automation selector
  src/components/ha-selector/ha-selector-action.ts
  src/components/ha-selector/ha-selector-condition.ts
  src/components/ha-selector/ha-selector-trigger.ts
Labels: cla-signed

#21350 20240710.0
  .github/workflows/ci.yaml
  .github/workflows/nightly.yaml
  gallery/src/pages/misc/entity-state.ts
  package.json
  pyproject.toml
  src/common/entity/get_states.ts
  src/components/data-table/dialog-data-table-settings.ts
  src/components/data-table/show-dialog-data-table-settings.ts
  src/components/ha-selector/ha-selector-action.ts
  src/components/ha-selector/ha-selector-condition.ts
  src/components/ha-selector/ha-selector-trigger.ts
  src/data/climate.ts
  src/data/fan.ts
  src/fake_data/entity_component_icons.ts
  src/layouts/hass-tabs-subpage-data-table.ts
  src/panels/lovelace/cards/hui-card.ts
  src/panels/lovelace/cards/hui-entity-card.ts
  src/panels/lovelace/editor/config-elements/hui-grid-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-stack-card-editor.ts
  src/translations/en.json
  yarn.lock
Labels: cla-signed, GitHub Actions, Demo, Design

#21351 Reload the card when changing the configuration in editor
  src/panels/lovelace/cards/hui-card.ts
Labels: cla-signed

#21354 Fix unhiding default hidden columns
  src/components/data-table/dialog-data-table-settings.ts
Labels: cla-signed

#21358 Fix unhiding default hidden column
  src/components/data-table/dialog-data-table-settings.ts
Labels: cla-signed

#21362 Rename service call to action
  src/components/ha-service-control.ts
  src/components/ha-service-picker.ts
  src/panels/config/cloud/account/cloud-tts-pref.ts
  src/panels/config/entities/entity-registry-settings-editor.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/developer-tools/action/developer-tools-action.ts
  src/panels/developer-tools/developer-tools-router.ts
  src/panels/developer-tools/ha-panel-developer-tools.ts
  src/panels/lovelace/common/compute-tooltip.ts
  src/panels/lovelace/common/handle-action.ts
  src/panels/lovelace/editor/config-elements/hui-tile-card-editor.ts
  src/state/connection-mixin.ts
  src/translations/en.json
Labels: cla-signed

#21290 Display live remaining time for timer on tile card
  src/data/timer.ts
  src/panels/lovelace/cards/hui-tile-card.ts
  src/panels/lovelace/entity-rows/hui-timer-entity-row.ts
  src/state-display/state-display-timer.ts
  src/state-summary/state-card-timer.ts
Labels: cla-signed, smash

#21369 Fix state color for locking and unlocking state
  src/resources/ha-style.ts
Labels: cla-signed

#21382 Make config flow previews more generic
  src/data/group.ts
  src/data/preview.ts
  src/data/threshold.ts
  src/dialogs/config-flow/previews/flow-preview-generic.ts
  src/dialogs/config-flow/previews/flow-preview-threshold.ts
  src/dialogs/config-flow/previews/flow-preview-time_date.ts
  src/dialogs/config-flow/step-flow-form.ts
Labels: cla-signed

#21389 Add on primary color to ha-slider
  src/components/ha-slider.ts
Labels: cla-signed

#21370 Add state content component
  src/components/entity/ha-entity-state-content-picker.ts
  src/components/ha-selector/ha-selector-ui-state-content.ts
  src/components/ha-selector/ha-selector.ts
  src/data/selector.ts
  src/panels/lovelace/cards/hui-tile-card.ts
  src/panels/lovelace/editor/config-elements/hui-tile-card-editor.ts
  src/panels/lovelace/entity-rows/hui-timer-entity-row.ts
  src/state-display/ha-timer-remaining-time.ts
  src/state-display/state-display.ts
  src/state-summary/state-card-timer.ts
  src/translations/en.json
Labels: cla-signed

#21311 Adjust row height in grid
  src/components/ha-grid-size-picker.ts
  src/components/tile/ha-tile-icon.ts
  src/components/tile/ha-tile-image.ts
  src/components/tile/ha-tile-info.ts
  src/panels/lovelace/card-features/common/card-feature-styles.ts
  src/panels/lovelace/card-features/hui-alarm-modes-card-feature.ts
  src/panels/lovelace/card-features/hui-card-feature.ts
  src/panels/lovelace/card-features/hui-card-features.ts
  src/panels/lovelace/card-features/hui-climate-fan-modes-card-feature.ts
  src/panels/lovelace/card-features/hui-climate-hvac-modes-card-feature.ts
  src/panels/lovelace/card-features/hui-climate-preset-modes-card-feature.ts
  src/panels/lovelace/card-features/hui-climate-swing-modes-card-feature.ts
  src/panels/lovelace/card-features/hui-cover-open-close-card-feature.ts
  src/panels/lovelace/card-features/hui-cover-position-card-feature.ts
  src/panels/lovelace/card-features/hui-cover-tilt-card-feature.ts
  src/panels/lovelace/card-features/hui-cover-tilt-position-card-feature.ts
  src/panels/lovelace/card-features/hui-fan-preset-modes-card-feature.ts
  src/panels/lovelace/card-features/hui-fan-speed-card-feature.ts
  src/panels/lovelace/card-features/hui-humidifier-modes-card-feature.ts
  src/panels/lovelace/card-features/hui-humidifier-toggle-card-feature.ts
  src/panels/lovelace/card-features/hui-lawn-mower-commands-card-feature.ts
  src/panels/lovelace/card-features/hui-light-brightness-card-feature.ts
  src/panels/lovelace/card-features/hui-light-color-temp-card-feature.ts
  src/panels/lovelace/card-features/hui-lock-commands-card-feature.ts
  src/panels/lovelace/card-features/hui-lock-open-door-card-feature.ts
  src/panels/lovelace/card-features/hui-numeric-input-card-feature.ts
  src/panels/lovelace/card-features/hui-select-options-card-feature.ts
  src/panels/lovelace/card-features/hui-target-humidity-card-feature.ts
  src/panels/lovelace/card-features/hui-target-temperature-card-feature.ts
  src/panels/lovelace/card-features/hui-update-actions-card-feature.ts
  src/panels/lovelace/card-features/hui-vacuum-commands-card-feature.ts
  src/panels/lovelace/card-features/hui-water-heater-operation-modes-card-feature.ts
  src/panels/lovelace/cards/hui-tile-card.ts
  src/panels/lovelace/sections/hui-grid-section.ts
Labels: cla-signed

#21172 Use Thread BR extended address in WS API calls
  src/data/otbr.ts
  src/panels/config/integrations/integration-panels/thread/thread-config-panel.ts
  src/translations/en.json
Labels: cla-signed, wait for backend, Feature, smash

#21424 Stop closed event propagating in automation editor elements
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/action/types/ha-automation-action-choose.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-webhook.ts
Labels: cla-signed

#21403 Add error handling to device delete
  src/panels/config/devices/ha-config-device-page.ts
  src/translations/en.json
Labels: cla-signed, Bug Fix

#21405 Fix persistent notification count on server restart
  src/components/ha-sidebar.ts
Labels: cla-signed

#21409 Fix tile card padding in vertical mode
  src/panels/lovelace/cards/hui-tile-card.ts
Labels: cla-signed

#21177 Enable service worker for legacy build
  .browserslistrc
  .yarn/patches/workbox-build-npm-7.1.1-a854f3faae.patch
  build-scripts/bundle.cjs
  build-scripts/gulp/service-worker.js
  build-scripts/webpack.cjs
  package.json
  src/entrypoints/custom-panel.ts
  src/entrypoints/service-worker.ts
  src/panels/config/info/ha-config-info.ts
  src/types.ts
  src/util/custom-panel/load-custom-panel.ts
  src/util/register-service-worker.ts
  yarn.lock
Labels: cla-signed, Backend Change Required, Build

#21400 Show a fallback string when repair translation fails
  src/panels/config/repairs/dialog-repairs-issue.ts
  src/panels/config/repairs/ha-config-repairs.ts
Labels: cla-signed

#21431 Allow use trigger/condition selector in config flows
  src/components/ha-form/compute-initial-ha-form-data.ts
Labels: cla-signed

#21418 Use layout property for panel view
  src/panels/lovelace/cards/hui-card.ts
  src/panels/lovelace/cards/hui-entity-filter-card.ts
  src/panels/lovelace/cards/hui-iframe-card.ts
  src/panels/lovelace/cards/hui-map-card.ts
  src/panels/lovelace/cards/hui-stack-card.ts
  src/panels/lovelace/types.ts
  src/panels/lovelace/views/hui-panel-view.ts
Labels: cla-signed

#21410 Fix quirks in URL field in view editor
  src/panels/lovelace/editor/view-editor/hui-view-editor.ts
Labels: cla-signed

#21433 Remove badges configuration from view settings
  src/panels/lovelace/editor/hui-badge-preview.ts
  src/panels/lovelace/editor/view-editor/hui-dialog-edit-view.ts
  src/panels/lovelace/views/const.ts
  src/translations/en.json
Labels: cla-signed

#18934 Fix halfopen websocket
  src/state/connection-mixin.ts
Labels: cla-signed

#21420 Tell mobile app to scan for Improv devices when 'Add Integration' tap
  src/external_app/external_messaging.ts
  src/panels/config/integrations/ha-config-integrations-dashboard.ts
Labels: cla-signed

#21406 Remember hidden detailed energy device statistics
  src/panels/lovelace/cards/energy/hui-energy-devices-detail-graph-card.ts
Labels: cla-signed

#21435 Change abi of wheel to cp312
  .github/workflows/release.yaml
Labels: cla-signed, GitHub Actions

#21437 Fix state content options when opening
  src/components/entity/ha-entity-state-content-picker.ts
Labels: cla-signed

#16506 Redefine browser requirements for modern (latest) builds
  .browserslistrc
  build-scripts/bundle.cjs
  build-scripts/gulp/entry-html.js
  cast/src/html/faq.html.template
  cast/src/html/index.html.template
  cast/src/html/media.html.template
  demo/src/html/index.html.template
  hassio/src/entrypoint.js.template
  package.json
  src/html/_js_base.html.template
  src/html/_script_loader.html.template
  src/html/authorize.html.template
  src/html/index.html.template
  src/html/onboarding.html.template
  yarn.lock
Labels: cla-signed, Supervisor, Cast, Build, Demo

#21235 Fix last point of line charts. And small other fixes to line charts.
  src/panels/lovelace/common/graph/coordinates.ts
Labels: cla-signed

#21423 Leave climate humidity mode if entity stops supporting it
  src/dialogs/more-info/controls/more-info-climate.ts
Labels: cla-signed

#21447 Show yaml setup integrations in the UI
  src/components/ha-related-items.ts
  src/data/repairs.ts
  src/data/search.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/integrations/ha-config-integration-page.ts
  src/panels/config/integrations/ha-config-integrations-dashboard.ts
  src/panels/config/integrations/ha-integration-card.ts
  src/translations/en.json
Labels: cla-signed, Noteworthy

#21449 Don't show badge container if all badges are hidden
  src/panels/lovelace/badges/hui-badge.ts
  src/panels/lovelace/badges/hui-view-badges.ts
  src/panels/lovelace/views/hui-sections-view.ts
Labels: cla-signed

#21226 Button to copy service response as json for templates
  src/components/ha-yaml-editor.ts
  src/panels/developer-tools/action/developer-tools-action.ts
  src/translations/en.json
Labels: cla-signed

#20593 picture cards: add person image support
  gallery/public/images/paulus.jpg
  gallery/src/pages/lovelace/picture-card.markdown
  gallery/src/pages/lovelace/picture-card.ts
  gallery/src/pages/lovelace/picture-elements-card.ts
  gallery/src/pages/lovelace/picture-entity-card.ts
  gallery/src/pages/lovelace/picture-glance-card.ts
  src/data/person.ts
  src/panels/lovelace/cards/hui-picture-card.ts
  src/panels/lovelace/cards/hui-picture-elements-card.ts
  src/panels/lovelace/cards/hui-picture-entity-card.ts
  src/panels/lovelace/cards/hui-picture-glance-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/common/generate-lovelace-config.ts
  src/panels/lovelace/editor/config-elements/hui-picture-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-picture-glance-card-editor.ts
Labels: cla-signed, Documentation Added, Feature, frontend, Design

#21452 Fix offline db migration support
  src/layouts/home-assistant.ts
Labels: cla-signed

#21456 Set 56px row height for new section button and title
  src/panels/lovelace/sections/hui-grid-section.ts
  src/panels/lovelace/views/hui-sections-view.ts
Labels: cla-signed

#21460 Adjust message about offline database migration
  src/layouts/ha-init-page.ts
Labels: cla-signed

#18590 Clearable time selector
  src/components/ha-base-time-input.ts
  src/components/ha-selector/ha-selector-time.ts
  src/components/ha-time-input.ts
Labels: cla-signed

#21501 Fix translation loading and manifest fetching for integration page
  src/layouts/hass-tabs-subpage-data-table.ts
  src/panels/config/integrations/ha-config-integration-page.ts
  src/panels/config/integrations/ha-config-integrations-dashboard.ts
  src/panels/config/integrations/ha-config-integrations.ts
  src/panels/config/integrations/ha-integration-card.ts
Labels: cla-signed

#21500 Show helpers setup in YAML also in the UI
  src/panels/config/helpers/ha-config-helpers.ts
Labels: cla-signed, Noteworthy

#21390 Move some polymer paper-tabs to mwc-tabs
  src/panels/lovelace/editor/card-editor/hui-card-element-editor.ts
  src/panels/lovelace/editor/section-editor/hui-dialog-edit-section.ts
  src/panels/lovelace/editor/view-editor/hui-dialog-edit-view.ts
Labels: cla-signed

#17906 Use Brotli compression for modern build
  build-scripts/gulp/compress.js
  package.json
  yarn.lock
Labels: cla-signed, Backend Change Required, no-stale, Build

#21379 Implement show_empty functionality for the markdown card
  src/panels/lovelace/cards/hui-markdown-card.ts
  src/panels/lovelace/cards/types.ts
Labels: cla-signed

#21484 Add translation for unknown entity
  src/data/device_automation.ts
  src/translations/en.json
Labels: cla-signed

#21504 Show OHF logo on loading and about screen
  demo/src/html/index.html.template
  public/static/icons/ohf.svg
  src/html/index.html.template
  src/panels/config/info/ha-config-info.ts
Labels: cla-signed, Demo

#19718 Picture Elements Visual editor
  src/components/ha-selector/ha-selector-boolean.ts
  src/panels/lovelace/cards/hui-picture-elements-card.ts
  src/panels/lovelace/create-element/create-element-base.ts
  src/panels/lovelace/create-element/create-picture-element.ts
  src/panels/lovelace/editor/config-elements/elements/hui-conditional-element-editor.ts
  src/panels/lovelace/editor/config-elements/elements/hui-icon-element-editor.ts
  src/panels/lovelace/editor/config-elements/elements/hui-image-element-editor.ts
  src/panels/lovelace/editor/config-elements/elements/hui-service-button-element-editor.ts
  src/panels/lovelace/editor/config-elements/elements/hui-state-badge-element-editor.ts
  src/panels/lovelace/editor/config-elements/elements/hui-state-icon-element-editor.ts
  src/panels/lovelace/editor/config-elements/elements/hui-state-label-element-editor.ts
  src/panels/lovelace/editor/config-elements/hui-picture-elements-card-editor.ts
  src/panels/lovelace/editor/hui-element-editor.ts
  src/panels/lovelace/editor/hui-picture-elements-card-row-editor.ts
  src/panels/lovelace/editor/hui-sub-element-editor.ts
  src/panels/lovelace/editor/picture-element-editor/hui-picture-element-element-editor.ts
  src/panels/lovelace/editor/types.ts
  src/panels/lovelace/elements/hui-conditional-element.ts
  src/panels/lovelace/elements/hui-icon-element.ts
  src/panels/lovelace/elements/hui-image-element.ts
  src/panels/lovelace/elements/hui-service-button-element.ts
  src/panels/lovelace/elements/hui-state-badge-element.ts
  src/panels/lovelace/elements/hui-state-icon-element.ts
  src/panels/lovelace/elements/hui-state-label-element.ts
  src/panels/lovelace/elements/types.ts
  src/panels/lovelace/types.ts
  src/translations/en.json
Labels: cla-signed, Noteworthy

#21505 rename actions in UI editors to interactions
  src/panels/lovelace/editor/config-elements/hui-entity-badge-editor.ts
  src/panels/lovelace/editor/config-elements/hui-tile-card-editor.ts
  src/translations/en.json
Labels: cla-signed

#21498 Add enable_millisecond to duration selector
  src/components/ha-selector/ha-selector-duration.ts
  src/components/ha-selector/ha-selector-selector.ts
  src/data/selector.ts
Labels: cla-signed

#21508 Change yaml config of UI service call actions
  gallery/src/pages/lovelace/entities-card.ts
  src/data/lovelace/config/action.ts
  src/panels/lovelace/cards/hui-entities-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/common/handle-action.ts
  src/panels/lovelace/components/hui-action-editor.ts
  src/panels/lovelace/editor/config-elements/hui-entities-card-editor.ts
  src/panels/lovelace/editor/entity-row-editor/hui-row-element-editor.ts
  src/panels/lovelace/editor/structs/action-struct.ts
  src/panels/lovelace/entity-rows/types.ts
  src/panels/lovelace/special-rows/hui-call-service-row.ts
  src/translations/en.json
Labels: cla-signed, Design

#21507 Migrate state label badge to entity badge
  src/panels/lovelace/badges/hui-badge.ts
  src/panels/lovelace/create-element/create-badge-element.ts
  src/panels/lovelace/editor/badge-editor/hui-dialog-edit-badge.ts
  src/panels/lovelace/editor/config-elements/hui-entity-badge-editor.ts
Labels: cla-signed

#21503 Allow and migrate action key in service action
  src/components/ha-service-control.ts
  src/components/trace/hat-script-graph.ts
  src/data/automation.ts
  src/data/script.ts
  src/data/script_i18n.ts
  src/dialogs/more-info/controls/more-info-script.ts
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/action/ha-automation-action.ts
  src/panels/config/automation/action/types/ha-automation-action-activate_scene.ts
  src/panels/config/automation/action/types/ha-automation-action-play_media.ts
  src/panels/config/automation/action/types/ha-automation-action-service.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/developer-tools/action/developer-tools-action.ts
  src/panels/lovelace/components/hui-action-editor.ts
  src/translations/en.json
Labels: cla-signed, wait for backend

#21506 Migrate service call element to use action key
  src/panels/lovelace/editor/config-elements/elements/hui-service-button-element-editor.ts
  src/panels/lovelace/elements/hui-service-button-element.ts
  src/panels/lovelace/elements/types.ts
  src/translations/en.json
Labels: cla-signed

#21509 Update OHF logo on loading screen
  demo/src/html/index.html.template
  public/static/icons/ohf.svg
  src/html/index.html.template
Labels: cla-signed, Demo

#21511 Rename service button to action button
  src/components/ha-service-control.ts
  src/panels/lovelace/create-element/create-hui-element.ts
  src/panels/lovelace/editor/config-elements/elements/hui-service-button-element-editor.ts
  src/panels/lovelace/editor/hui-picture-elements-card-row-editor.ts
  src/panels/lovelace/editor/picture-element-editor/hui-picture-element-element-editor.ts
  src/translations/en.json
Labels: cla-signed
