Repository home-assistant/frontend, pull requests merged in 2024-02, with the labels that each got.

#19596 Add error checking to download button
  src/panels/history/ha-panel-history.ts
  src/translations/en.json
Labels: cla-signed

#19602 Fix item path for default in choose automation action
  src/panels/config/automation/action/types/ha-automation-action-choose.ts
Labels: cla-signed

#19607 Matter tweaks
  src/panels/config/integrations/integration-panels/matter/dialog-matter-manage-fabrics.ts
  src/panels/config/integrations/integration-panels/matter/dialog-matter-open-commissioning-window.ts
  src/translations/en.json
Labels: cla-signed

#19609 Fix race in lovelace
  src/panels/lovelace/ha-panel-lovelace.ts
Labels: cla-signed

#19606 Only show more info on graphs when mouse is used
  src/components/chart/ha-chart-base.ts
  src/components/chart/state-history-chart-line.ts
  src/components/chart/state-history-chart-timeline.ts
Labels: cla-signed

#19624 Improve automation drag and drop interaction
  src/components/ha-sortable.ts
  src/panels/config/automation/action/ha-automation-action.ts
  src/panels/config/automation/action/types/ha-automation-action-choose.ts
  src/panels/config/automation/condition/ha-automation-condition.ts
  src/panels/config/automation/trigger/ha-automation-trigger.ts
Labels: cla-signed

#19565 Add names to map path tooltip
  src/components/map/ha-map.ts
  src/panels/lovelace/cards/hui-map-card.ts
Labels: cla-signed

#19608 Update button focus style to match tile focus style
  src/panels/lovelace/cards/hui-button-card.ts
Labels: cla-signed

#19627 Fix assist devices search bar color
  src/components/data-table/ha-data-table.ts
Labels: cla-signed

#19631 Remove refresh button from history panel
  src/panels/history/ha-panel-history.ts
Labels: cla-signed

#19622 Clean up the overlapping history in the CSV download
  src/panels/history/ha-panel-history.ts
Labels: cla-signed

#19629 Reload entity component icons when missing
  src/data/icons.ts
Labels: cla-signed

#19644 Fix grammar of Storage area messages
  src/translations/en.json
Labels: cla-signed

#19687 Increase drop zone for automation editor
  src/panels/config/automation/action/ha-automation-action.ts
  src/panels/config/automation/action/types/ha-automation-action-choose.ts
  src/panels/config/automation/condition/ha-automation-condition.ts
  src/panels/config/automation/trigger/ha-automation-trigger.ts
Labels: cla-signed

#19685 Fix button card color when off
  src/panels/lovelace/cards/hui-button-card.ts
Labels: cla-signed

#19677 Allow deselecting all values
  src/panels/history/ha-panel-history.ts
Labels: cla-signed

#19689 Remove comments from css
  src/components/data-table/ha-data-table.ts
Labels: cla-signed

#19640 Remove flag that sets icon as required when creating a new dashboard
  src/panels/config/lovelace/dashboards/dialog-lovelace-dashboard-detail.ts
Labels: cla-signed

#19659 Fix last input margins in supervisor-network.ts
  src/panels/config/network/supervisor-network.ts
Labels: cla-signed

#19693 Improve matter share device dialog
  src/panels/config/integrations/integration-panels/matter/dialog-matter-open-commissioning-window.ts
  src/translations/en.json
Labels: cla-signed

#19667 Include climate attributes in history download
  src/panels/history/ha-panel-history.ts
Labels: cla-signed

#19700 Fix horizontal stack margin
  src/panels/lovelace/cards/hui-horizontal-stack-card.ts
  src/panels/lovelace/cards/hui-stack-card.ts
Labels: cla-signed

#19703 Fix ha-state-badge name in picture element card
  src/components/entity/ha-state-label-badge.ts
  src/panels/lovelace/badges/hui-state-label-badge.ts
  src/panels/lovelace/badges/types.ts
  src/panels/lovelace/elements/hui-state-badge-element.ts
Labels: cla-signed

#19714 Matter cleanup on close dialog
  src/panels/config/integrations/integration-panels/matter/dialog-matter-ping-node.ts
Labels: cla-signed

#19699 Use gap instead of margin for vertical and horizontal card
  src/panels/lovelace/cards/hui-horizontal-stack-card.ts
  src/panels/lovelace/cards/hui-vertical-stack-card.ts
Labels: cla-signed

#19715 Improve matter ping dialog
  src/panels/config/integrations/integration-panels/matter/dialog-matter-ping-node.ts
Labels: cla-signed

#19717 Show icon of disabled entities
  src/panels/config/entities/entity-registry-settings-editor.ts
  src/panels/config/entities/ha-config-entities.ts
Labels: cla-signed

#19726 Use rgb theme variables for qrcode
  src/components/ha-qr-code.ts
Labels: cla-signed

#19728 Add service icons to traces (again :D)
  gallery/src/pages/automation/trace-timeline.ts
  src/components/trace/hat-graph-node.ts
  src/components/trace/hat-script-graph.ts
  src/panels/config/automation/ha-automation-trace.ts
  src/panels/config/script/ha-script-trace.ts
Labels: cla-signed, Design

#19731 Don't use ES5 build for dev server
  build-scripts/gulp/webpack.js
Labels: cla-signed, Build

#19730 Add QR and constant selector to gallery
  gallery/src/components/demo-black-white-row.ts
  gallery/src/pages/components/ha-selector.ts
Labels: cla-signed, Design

#19735 Fix suggest card dialog
  src/panels/lovelace/editor/card-editor/hui-dialog-create-card.ts
  src/panels/lovelace/editor/card-editor/show-suggest-card-dialog.ts
  src/panels/lovelace/editor/unused-entities/hui-unused-entities.ts
Labels: cla-signed

#19734 Fix demo dashboard
  demo/src/ha-demo.ts
  demo/src/stubs/sensor.ts
  demo/src/stubs/todo.ts
  src/panels/lovelace/entity-rows/hui-input-select-entity-row.ts
Labels: cla-signed, Demo

#19732 Fix icons in gallery, demo and cast
  demo/src/ha-demo.ts
  demo/src/stubs/icons.ts
  gallery/src/pages/lovelace/alarm-panel-card.ts
  gallery/src/pages/lovelace/area-card.ts
  gallery/src/pages/lovelace/conditional-card.ts
  gallery/src/pages/lovelace/entities-card.ts
  gallery/src/pages/lovelace/entity-button-card.ts
  gallery/src/pages/lovelace/entity-filter-card.ts
  gallery/src/pages/lovelace/gauge-card.ts
  gallery/src/pages/lovelace/glance-card.ts
  gallery/src/pages/lovelace/grid-and-stack-card.ts
  gallery/src/pages/lovelace/light-card.ts
  gallery/src/pages/lovelace/picture-elements-card.ts
  gallery/src/pages/lovelace/picture-entity-card.ts
  gallery/src/pages/lovelace/picture-glance-card.ts
  gallery/src/pages/lovelace/plant-card.ts
  gallery/src/pages/lovelace/thermostat-card.ts
  gallery/src/pages/lovelace/tile-card.ts
  gallery/src/pages/lovelace/todo-list-card.ts
  gallery/src/pages/misc/entity-state.ts
  src/data/icons.ts
  src/fake_data/demo_config.ts
  src/fake_data/entity_component_icons.ts
Labels: cla-signed, Demo, Design

#19739 cast allow empty view, pick first
  cast/src/receiver/layout/hc-lovelace.ts
  cast/src/receiver/layout/hc-main.ts
Labels: cla-signed, Cast

#19789 Drawer fix
  src/components/ha-drawer.ts
  src/dialogs/notifications/notification-drawer.ts
  src/layouts/home-assistant-main.ts
Labels: cla-signed

#19780 Fix My redirect for supervisor_logs
  src/panels/my/ha-panel-my.ts
Labels: cla-signed

#19788 Fix chart alignments
  src/components/chart/ha-chart-base.ts
Labels: cla-signed

#19743 Change how external QR code scanning works
  src/external_app/external_messaging.ts
Labels: cla-signed

#19767 Patch simple tooltip for RTL
  .yarn/patches/@lrnwebcomponents-simple-tooltip-npm-8.0.0-77591f2e0c.patch
  package.json
  yarn.lock
Labels: cla-signed

#19748 Fix status text centering for cast launch screen
  cast/src/receiver/layout/hc-launch-screen.ts
Labels: cla-signed, Cast

#19750 Fix to display correct weather attribute unit
  src/common/entity/compute_attribute_display.ts
Labels: cla-signed

#19785 Improve lovelace card events
  src/panels/lovelace/components/hui-card-options.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-create-card.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-edit-card.ts
  src/panels/lovelace/editor/card-editor/show-create-card-dialog.ts
  src/panels/lovelace/editor/card-editor/show-edit-card-dialog.ts
  src/panels/lovelace/views/hui-view.ts
Labels: cla-signed

#19787 Install libpcap for core in devcontainers
  .devcontainer/devcontainer.json
Labels: cla-signed

#19761 Allowed ObjectSelector to work in forms
  src/components/ha-form/compute-initial-ha-form-data.ts
Labels: cla-signed

#19691 Cloud: allow remote enable
  src/data/cloud.ts
  src/panels/config/cloud/account/cloud-remote-pref.ts
Labels: cla-signed

#19804 stopPropagation on automation moveUp/moveDown
  src/panels/config/automation/action/ha-automation-action.ts
  src/panels/config/automation/condition/ha-automation-condition.ts
  src/panels/config/automation/trigger/ha-automation-trigger.ts
Labels: cla-signed

#19812 Localize assist pipeline debug
  src/panels/config/voice-assistants/debug/assist-pipeline-run-debug.ts
  src/translations/en.json
Labels: cla-signed, localization

#19618 Add fan preset modes feature to Tile cards
  src/panels/lovelace/card-features/hui-fan-preset-modes-card-feature.ts
  src/panels/lovelace/card-features/types.ts
  src/panels/lovelace/create-element/create-card-feature-element.ts
  src/panels/lovelace/editor/config-elements/hui-card-features-editor.ts
  src/panels/lovelace/editor/config-elements/hui-fan-preset-modes-card-feature-editor.ts
  src/translations/en.json
Labels: cla-signed, Tile card

#19089 Compact legend mode for statistics-graph-card
  src/components/chart/ha-chart-base.ts
  src/components/chart/statistics-chart.ts
Labels: cla-signed

#19813 Localize system log detail
  src/panels/config/logs/dialog-system-log-detail.ts
  src/translations/en.json
Labels: cla-signed, localization

#19692 Check active matter fabric by index
  src/data/matter.ts
  src/panels/config/integrations/integration-panels/matter/dialog-matter-manage-fabrics.ts
Labels: cla-signed, backend merged

#19793 Bring back backend translations in devcontainer
  script/core
Labels: cla-signed

#19821 Remove cancel button on edit view dialog
  src/panels/lovelace/editor/view-editor/hui-dialog-edit-view.ts
Labels: cla-signed

#19830 Localize Long Lived Token Dialog
  src/panels/profile/ha-long-lived-access-token-dialog.ts
  src/translations/en.json
Labels: cla-signed

#19068 Detail view for energy devices graph
  src/components/chart/ha-chart-base.ts
  src/panels/energy/strategies/energy-view-strategy.ts
  src/panels/lovelace/cards/energy/hui-energy-devices-detail-graph-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/create-element/create-card-element.ts
  src/translations/en.json
Labels: cla-signed, WTH

#19853 More accurate cardSize for Tile card
  src/panels/lovelace/cards/hui-tile-card.ts
Labels: cla-signed, Tile card

#19753 Allow unhiding entity hidden by integration
  src/panels/config/entities/entity-registry-settings-editor.ts
Labels: cla-signed

#19854 Fix device class icon not showing in entities config page
  src/data/icons.ts
Labels: cla-signed

#19849 Add devices to energy collection
  src/data/energy.ts
  src/panels/lovelace/cards/energy/hui-energy-devices-detail-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-devices-graph-card.ts
Labels: cla-signed

#19846 Add experimental sections view
  src/common/util/array-move.ts
  src/components/ha-sortable.ts
  src/data/lovelace.ts
  src/data/lovelace/config/section.ts
  src/data/lovelace/config/view.ts
  src/panels/config/devices/device-detail/ha-device-entities-card.ts
  src/panels/lovelace/cards/hui-button-card.ts
  src/panels/lovelace/cards/hui-sensor-card.ts
  src/panels/lovelace/cards/hui-tile-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/common/generate-lovelace-config.ts
  src/panels/lovelace/components/hui-card-edit-mode.ts
  src/panels/lovelace/components/hui-card-options.ts
  src/panels/lovelace/create-element/create-card-element.ts
  src/panels/lovelace/create-element/create-element-base.ts
  src/panels/lovelace/create-element/create-section-element.ts
  src/panels/lovelace/create-element/create-view-element.ts
  src/panels/lovelace/editor/add-entities-to-view.ts
  src/panels/lovelace/editor/card-editor/hui-card-picker.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-create-card.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-edit-card.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-suggest-card.ts
  src/panels/lovelace/editor/card-editor/hui-section-preview.ts
  src/panels/lovelace/editor/card-editor/show-create-card-dialog.ts
  src/panels/lovelace/editor/card-editor/show-edit-card-dialog.ts
  src/panels/lovelace/editor/card-editor/show-suggest-card-dialog.ts
  src/panels/lovelace/editor/config-util.ts
  src/panels/lovelace/editor/delete-card.ts
  src/panels/lovelace/editor/lovelace-path.ts
  src/panels/lovelace/editor/types.ts
  src/panels/lovelace/editor/unused-entities/hui-unused-entities.ts
  src/panels/lovelace/editor/view-editor/hui-view-editor.ts
  src/panels/lovelace/sections/const.ts
  src/panels/lovelace/sections/hui-error-section.ts
  src/panels/lovelace/sections/hui-grid-section.ts
  src/panels/lovelace/sections/hui-section.ts
  src/panels/lovelace/strategies/get-strategy.ts
  src/panels/lovelace/strategies/types.ts
  src/panels/lovelace/types.ts
  src/panels/lovelace/views/const.ts
  src/panels/lovelace/views/hui-sections-view.ts
  src/panels/lovelace/views/hui-view.ts
  src/translations/en.json
  test/panels/lovelace/editor/config-util.spec.ts
Labels: cla-signed

#19848 RTL updates
  src/components/ha-climate-state.ts
  src/components/ha-metric.ts
  src/components/ha-qr-scanner.ts
  src/components/ha-textfield.ts
  src/components/media-player/dialog-media-player-browse.ts
  src/components/media-player/ha-media-player-browse.ts
  src/dialogs/more-info/components/lights/ha-more-info-light-favorite-colors.ts
  src/dialogs/more-info/components/lights/light-color-rgb-picker.ts
  src/dialogs/voice-command-dialog/ha-voice-command-dialog.ts
  src/layouts/hass-tabs-subpage-data-table.ts
  src/onboarding/onboarding-location.ts
  src/panels/config/areas/ha-config-area-page.ts
  src/panels/config/cloud/account/cloud-remote-pref.ts
  src/panels/config/hardware/dialog-hardware-available.ts
  src/panels/config/integrations/ha-config-integrations-dashboard.ts
  src/panels/config/integrations/ha-integration-action-card.ts
  src/panels/config/integrations/integration-panels/zha/zha-add-devices-page.ts
  src/panels/config/integrations/integration-panels/zha/zha-cluster-commands.ts
  src/panels/config/storage/ha-config-section-storage.ts
  src/panels/config/voice-assistants/expose/expose-assistant-icon.ts
  src/panels/developer-tools/template/developer-tools-template.ts
  src/panels/lovelace/cards/hui-media-control-card.ts
  src/panels/lovelace/cards/hui-todo-list-card.ts
  src/panels/lovelace/entity-rows/hui-number-entity-row.ts
  src/panels/media-browser/ha-panel-media-browser.ts
Labels: cla-signed

#19835 Directly prompt for lock code in dashboards
  src/panels/lovelace/entity-rows/hui-lock-entity-row.ts
  src/state-summary/state-card-lock.ts
Labels: cla-signed

#19887 Fix button card and sensor card in grid section
  src/panels/lovelace/cards/hui-button-card.ts
  src/panels/lovelace/cards/hui-sensor-card.ts
Labels: cla-signed

#19888 Reduce drag and drop delay on touch
  src/panels/lovelace/sections/hui-grid-section.ts
Labels: cla-signed

#19889 Focus cancel button on destructive confirmation dialog
  src/dialogs/generic/dialog-box.ts
Labels: cla-signed

#19884 Resolve iframe CORS errors - Fix #19724
  src/common/dom/get_main_window.ts
Labels: cla-signed

#19879 Show script fields in Script more info dialog
  src/components/ha-service-control.ts
  src/dialogs/more-info/const.ts
  src/dialogs/more-info/controls/more-info-script.ts
  src/panels/lovelace/entity-rows/hui-script-entity-row.ts
  src/state-summary/state-card-script.ts
Labels: cla-signed

#19776 Fix issues with state_color as false
  src/components/entity/state-badge.ts
  src/panels/lovelace/cards/hui-button-card.ts
  src/panels/lovelace/cards/hui-entities-card.ts
  src/panels/lovelace/cards/hui-entity-card.ts
  src/panels/lovelace/cards/hui-glance-card.ts
  src/panels/lovelace/cards/types.ts
Labels: cla-signed

#19740 Improve map/zone navigation
  src/panels/config/zone/ha-config-zone.ts
  src/panels/map/ha-panel-map.ts
Labels: cla-signed

#19833 Hide the core backup integration if hassio is loaded
  src/common/config/can_show_page.ts
  src/layouts/hass-tabs-subpage.ts
  src/panels/config/ha-panel-config.ts
Labels: cla-signed

#19894 Fix script data
  src/dialogs/more-info/controls/more-info-script.ts
Labels: cla-signed

#19863 Download energy panel data to CSV
  src/data/energy.ts
  src/panels/energy/ha-panel-energy.ts
  src/translations/en.json
Labels: cla-signed

#19900 Add support for translation domain in data entry flows
  src/data/data_entry_flow.ts
  src/dialogs/config-flow/show-dialog-config-flow.ts
  src/dialogs/config-flow/show-dialog-options-flow.ts
Labels: cla-signed

#19890 Combine component/components PageNavigation keys
  src/common/config/can_show_page.ts
  src/layouts/hass-tabs-subpage.ts
  src/panels/config/ha-panel-config.ts
Labels: cla-signed

#19892 Automatically add section to empty section view and improve delete wording
  src/panels/lovelace/editor/view-editor/hui-dialog-edit-view.ts
  src/panels/lovelace/views/hui-sections-view.ts
  src/translations/en.json
Labels: cla-signed

#19897 Restore alphabetical sorting to Areas
  src/data/ws-area_registry.ts
Labels: cla-signed

#19901 Clear Matter ping result when closing the dialog
  src/panels/config/integrations/integration-panels/matter/dialog-matter-ping-node.ts
Labels: cla-signed

#19811 Improve service filtering
  src/components/ha-service-picker.ts
Labels: cla-signed

#19898 Mark paste button list item as interactive
  src/panels/config/automation/add-automation-element-dialog.ts
Labels: cla-signed

#19707 Replace more paper-items
  hassio/src/dialogs/repositories/dialog-hassio-repositories.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/config/integrations/integration-panels/zha/zha-group-page.ts
  src/panels/mailbox/ha-panel-mailbox.ts
Labels: cla-signed, Supervisor

#19641 Update dashboard resources title to reflect translations
  src/panels/config/lovelace/ha-config-lovelace.ts
  src/panels/config/lovelace/resources/ha-config-lovelace-resources.ts
Labels: cla-signed

#19581 Fix MFA module name not showing on step completion
  src/panels/profile/dialog-ha-mfa-module-setup-flow.ts
Labels: cla-signed

#19647 Automation editor: clarify multiple triggers logic
  src/translations/en.json
Labels: cla-signed

#19903 Replace button to manually add a Thread border router with more info button
  src/panels/config/integrations/integration-panels/thread/thread-config-panel.ts
  src/translations/en.json
Labels: cla-signed

#19902 Disable the ability to change the view type to sections and the other way around
  src/components/ha-formfield.ts
  src/components/ha-selector/ha-selector-select.ts
  src/panels/lovelace/editor/view-editor/hui-view-editor.ts
  src/translations/en.json
Labels: cla-signed

#18723 Automated outlier detection for adjust sum dialog
  src/panels/developer-tools/statistics/dialog-statistics-adjust-sum.ts
  src/translations/en.json
Labels: cla-signed

#19791 Deduplicate blueprint editor code
  src/panels/config/automation/blueprint-automation-editor.ts
  src/panels/config/blueprint/blueprint-generic-editor.ts
  src/panels/config/script/blueprint-script-editor.ts
Labels: cla-signed

#19904 Center section in section view
  src/panels/lovelace/views/hui-sections-view.ts
Labels: cla-signed

#19218 Mobile view calendar improvements
  src/panels/calendar/ha-full-calendar.ts
  src/panels/lovelace/cards/hui-calendar-card.ts
Labels: cla-signed

#19649 Always show "create new zone from current location" option
  src/dialogs/more-info/controls/more-info-person.ts
Labels: cla-signed

#19790 Escape special characters of automation ID in URL
  src/panels/config/areas/ha-config-area-page.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/automation/ha-automation-trace.ts
  src/panels/config/devices/ha-config-device-page.ts
Labels: cla-signed

#19176 Infer a limited history chart from state object
  src/components/chart/state-history-chart-line.ts
  src/components/chart/state-history-chart-timeline.ts
  src/components/chart/state-history-charts.ts
  src/components/chart/timeline-chart/timeline-controller.ts
  src/components/chart/timeline-chart/timeline-scale.ts
  src/data/history.ts
  src/dialogs/more-info/ha-more-info-history.ts
  src/panels/history/ha-panel-history.ts
  src/panels/lovelace/cards/hui-history-graph-card.ts
Labels: cla-signed

#19907 Add advanced options block to cloud remote connection
  src/panels/config/cloud/account/cloud-remote-pref.ts
  src/translations/en.json
Labels: cla-signed

#19899 Update script more info
  src/components/ha-control-button.ts
  src/dialogs/more-info/components/ha-more-info-state-header.ts
  src/dialogs/more-info/const.ts
  src/dialogs/more-info/controls/more-info-script.ts
  src/translations/en.json
Labels: cla-signed

#19579 Replace paper-toast with mwc-snackbar
  package.json
  src/components/ha-toast.ts
  src/dialogs/restart/dialog-restart.ts
  src/managers/notification-manager.ts
  src/panels/config/script/ha-script-editor.ts
  src/panels/lovelace/ha-panel-lovelace.ts
  src/panels/lovelace/hui-editor.ts
  src/state/disconnect-toast-mixin.ts
  src/util/register-service-worker.ts
  yarn.lock
Labels: cla-signed

#19912 Add allow changing type of empty views
  src/panels/lovelace/editor/view-editor/hui-view-editor.ts
  src/translations/en.json
Labels: cla-signed

#19836 Lokalize automation trace area
  gallery/src/data/traces/basic_trace.ts
  gallery/src/data/traces/motion-light-trace.ts
  gallery/src/pages/automation/trace-timeline.ts
  gallery/src/pages/automation/trace.ts
  src/components/trace/hat-trace-timeline.ts
  src/translations/en.json
Labels: cla-signed, Design

#19917 Fix section editing after disconnect/reconnect
  src/components/ha-sortable.ts
Labels: cla-signed

#19920 Improve error display in automation/script traces
  src/components/trace/ha-trace-path-details.ts
  src/components/trace/hat-graph-node.ts
  src/components/trace/hat-script-graph.ts
  src/panels/config/automation/ha-automation-trace.ts
Labels: cla-signed
