Repository home-assistant/frontend, pull requests merged in 2024-05, with the labels that each got.

#20683 Make sure lovelace theme background is set on it's container
  src/panels/lovelace/hui-root.ts
  src/panels/lovelace/views/hui-view.ts
Labels: cla-signed

#20684 Allow to reorder alarm modes in card feature
  src/data/alarm_control_panel.ts
  src/panels/lovelace/card-features/hui-alarm-modes-card-feature.ts
  src/panels/lovelace/editor/config-elements/hui-alarm-modes-card-feature-editor.ts
  src/translations/en.json
Labels: cla-signed

#20685 Revert "Remove strict connections"
  src/panels/config/cloud/account/cloud-remote-pref.ts
Labels: cla-signed

#20688 Remove alarm modes list when adding a alarm modes card feature
  src/panels/lovelace/card-features/hui-alarm-modes-card-feature.ts
Labels: cla-signed

#20702 Always save custom display name in energy dashboard when hitting Enter
  src/panels/config/energy/dialogs/dialog-energy-device-settings.ts
Labels: cla-signed

#20706 Add spacer for FAB under the zone list
  src/panels/config/zone/ha-config-zone.ts
Labels: cla-signed

#20704 Energy CSV download should not require admin
  src/panels/energy/ha-panel-energy.ts
Labels: cla-signed

#20718 Fix self-injection for custom polyfills
  build-scripts/bundle.cjs
Labels: cla-signed, Build

#20741 Revert usage of babel runtime for legacy bundle
  build-scripts/webpack.cjs
Labels: cla-signed, Build

#20736 Fix showing options button on conversation agent picker
  src/components/ha-conversation-agent-picker.ts
Labels: cla-signed

#20716 Show ungrouped group when there are results
  src/components/data-table/ha-data-table.ts
Labels: cla-signed

#20714 Expand createDomains to more selectors
  src/components/entity/ha-entities-picker.ts
  src/components/ha-selector/ha-selector-entity.ts
  src/components/ha-selector/ha-selector-target.ts
  src/components/ha-service-control.ts
  src/data/selector.ts
Labels: cla-signed

#20563 Add header text align theme variable to stack cards
  src/panels/lovelace/cards/hui-stack-card.ts
Labels: cla-signed

#20482 Font updates in new filters
  src/components/chips/ha-input-chip.ts
  src/components/ha-menu-item.ts
Labels: cla-signed

#20745 Enhance webpack transform async plugin to use babel runtime (with fix)
  build-scripts/webpack.cjs
  package.json
  yarn.lock
Labels: cla-signed, Build

#20751 Use Material 3 ripple
  package.json
  src/components/ha-control-button.ts
  src/components/ha-control-select-menu.ts
  src/components/ha-label.ts
  src/components/ha-ripple.ts
  src/components/ha-tab.ts
  src/layouts/hass-tabs-subpage.ts
  src/onboarding/onboarding-welcome-link.ts
  src/panels/config/integrations/ha-integration-card.ts
  src/panels/lovelace/cards/hui-area-card.ts
  src/panels/lovelace/cards/hui-button-card.ts
  src/panels/lovelace/cards/hui-tile-card.ts
  src/panels/lovelace/common/directives/action-handler-directive.ts
  yarn.lock
Labels: cla-signed

#20752 Logical property style fixes
  src/components/data-table/ha-data-table.ts
  src/components/ha-filter-domains.ts
  src/panels/config/cloud/account/cloud-remote-pref.ts
Labels: cla-signed

#19582 Allow adding card from history panel
  src/panels/history/ha-panel-history.ts
  src/translations/en.json
Labels: cla-signed

#20733 Minor improvements to service call descriptions.
  src/data/script_i18n.ts
  src/translations/en.json
Labels: cla-signed

#19944 Support open / opening state in LockEntity
  src/common/entity/get_states.ts
  src/data/logbook.ts
  src/fake_data/entity_component_icons.ts
  src/translations/en.json
Labels: cla-signed, backend merged, Demo, Design

#20788 Show tag ID if no name, sort by last updated on mobile
  src/panels/config/tags/ha-config-tags.ts
Labels: cla-signed

#20765 Show descriptions in script editor
  src/data/script.ts
  src/panels/config/automation/blueprint-automation-editor.ts
  src/panels/config/automation/manual-automation-editor.ts
  src/panels/config/script/blueprint-script-editor.ts
  src/panels/config/script/manual-script-editor.ts
Labels: cla-signed

#20785 Minor fixes to energy sources behavior
  src/panels/energy/strategies/energy-view-strategy.ts
  src/panels/lovelace/cards/energy/hui-energy-sources-table-card.ts
Labels: cla-signed

#19765 Add checks to energy dashboard for when preferences are empty
  src/panels/energy/cards/energy-setup-wizard-card.ts
  src/panels/energy/strategies/energy-view-strategy.ts
  src/translations/en.json
Labels: cla-signed

#20797 Add grouping by area and domain in voice assistant expose data table
  src/panels/config/voice-assistants/ha-config-voice-assistants-expose.ts
  src/translations/en.json
Labels: cla-signed

#20743 Allow storing thread credentials in phone keychain
  src/external_app/external_messaging.ts
  src/panels/config/integrations/integration-panels/thread/dialog-thread-dataset.ts
  src/panels/config/integrations/integration-panels/thread/show-dialog-thread-dataset.ts
  src/panels/config/integrations/integration-panels/thread/thread-config-panel.ts
Labels: cla-signed

#20763 Use domain translation in filter for domain search
  src/components/ha-filter-domains.ts
Labels: cla-signed

#20821 Reset select-selector to undefined when cleared
  src/components/ha-selector/ha-selector-select.ts
Labels: cla-signed

#20805 Add visibility option to sections (conditional section)
  src/common/dom/media_query.ts
  src/components/chart/ha-chart-base.ts
  src/components/map/ha-map.ts
  src/data/lovelace/config/section.ts
  src/panels/lovelace/common/validate-condition.ts
  src/panels/lovelace/components/hui-conditional-base.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-create-card.ts
  src/panels/lovelace/editor/conditions/ha-card-conditions-editor.ts
  src/panels/lovelace/editor/config-elements/hui-conditional-card-editor.ts
  src/panels/lovelace/editor/config-util.ts
  src/panels/lovelace/editor/lovelace-path.ts
  src/panels/lovelace/editor/section-editor/hui-dialog-edit-section.ts
  src/panels/lovelace/editor/section-editor/hui-section-settings-editor.ts
  src/panels/lovelace/editor/section-editor/hui-section-visibility-editor.ts
  src/panels/lovelace/editor/section-editor/show-edit-section-dialog.ts
  src/panels/lovelace/sections/hui-section.ts
  src/panels/lovelace/views/hui-sections-view.ts
  src/panels/lovelace/views/hui-view.ts
  src/translations/en.json
Labels: cla-signed

#20841 Missing checkbox in zwave dialog
  src/panels/config/integrations/integration-panels/zwave_js/dialog-zwave_js-add-node.ts
Labels: cla-signed

#20791 Script editor updates (match automation editor)
  src/panels/config/automation/automation-mode-dialog/dialog-automation-mode.ts
  src/panels/config/automation/automation-mode-dialog/show-dialog-automation-mode.ts
  src/panels/config/automation/automation-rename-dialog/dialog-automation-rename.ts
  src/panels/config/automation/automation-rename-dialog/show-dialog-automation-rename.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/script/ha-script-editor.ts
  src/translations/en.json
Labels: cla-signed

#20843 Fix voice assistant expose datatable storage key
  src/panels/config/voice-assistants/ha-config-voice-assistants-expose.ts
Labels: cla-signed

#20825 Trim search inputs
  src/components/entity/ha-entity-picker.ts
  src/components/search-input-outlined.ts
  src/components/search-input.ts
Labels: cla-signed

#20833 Add configurable actions to Gauge Card
  src/panels/lovelace/cards/hui-gauge-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/editor/config-elements/hui-gauge-card-editor.ts
Labels: cla-signed, WTH

#20851 Z-Wave JS: Sort security classes from highest to lowest
  src/panels/config/integrations/integration-panels/zwave_js/dialog-zwave_js-add-node.ts
Labels: cla-signed

#20758 Fix app-theme-color not following header color
  src/common/dom/apply_themes_on_element.ts
  src/resources/styles-data.ts
Labels: cla-signed

#20773 Modify the way the update shows available updates
  src/data/update.ts
Labels: cla-signed

#20855 Apply sentence-style capitalization to headings
  src/translations/en.json
Labels: cla-signed

#20857 Sort yaml reloads on translated domain
  src/panels/developer-tools/yaml_configuration/developer-yaml-config.ts
Labels: cla-signed

#20818 Inject ElementInternals polyfill where needed
  build-scripts/babel-plugins/custom-polyfill-plugin.js
  build-scripts/bundle.cjs
  src/components/chips/ha-assist-chip.ts
  src/components/chips/ha-chip-set.ts
  src/components/chips/ha-filter-chip.ts
  src/components/chips/ha-input-chip.ts
  src/components/ha-circular-progress.ts
  src/components/ha-list-item-new.ts
  src/components/ha-list-new.ts
  src/components/ha-menu-item.ts
  src/components/ha-menu.ts
  src/components/ha-outlined-button.ts
  src/components/ha-outlined-field.ts
  src/components/ha-outlined-icon-button.ts
  src/components/ha-outlined-text-field.ts
  src/components/ha-ripple.ts
  src/components/ha-slider.ts
  src/components/ha-sub-menu.ts
Labels: cla-signed, Build

#20863 Fix long title for section in add card dialog
  src/panels/lovelace/editor/card-editor/hui-dialog-create-card.ts
Labels: cla-signed

#20850 Z-Wave JS: Title-Case "S2 Access Control"
  src/translations/en.json
Labels: cla-signed

#20861 Remove strict connection
  src/panels/config/cloud/account/cloud-remote-pref.ts
  src/translations/en.json
Labels: cla-signed, wait for backend

#20783 Fix pick-theme-row and behavior of default theme mode
  src/panels/profile/ha-pick-theme-row.ts
  src/state/themes-mixin.ts
Labels: cla-signed

#19878 Bake numeric device classes into formatEntityState
  gallery/src/pages/misc/entity-state.ts
  src/common/entity/compute_state_display.ts
  src/common/number/format_number.ts
  src/common/translations/entity-state.ts
  src/data/history.ts
  src/data/sensor.ts
  src/fake_data/provide_hass.ts
  src/panels/lovelace/cards/hui-button-card.ts
  src/state-summary/state-card-media_player.ts
  src/state/state-display-mixin.ts
  test/common/entity/compute_state_display.ts
Labels: cla-signed, Demo, Design

#20794 Remove empty electricity grid state
  src/data/energy.ts
  src/panels/config/energy/components/ha-energy-grid-settings.ts
Labels: cla-signed

#20754 Inject ResizeObserver polyfill where needed
  build-scripts/babel-plugins/custom-polyfill-plugin.js
  build-scripts/bundle.cjs
  src/components/map/ha-map.ts
  src/components/media-player/ha-media-player-browse.ts
  src/panels/lovelace/cards/hui-calendar-card.ts
  src/panels/lovelace/cards/hui-media-control-card.ts
  src/panels/lovelace/cards/hui-weather-forecast-card.ts
  src/panels/lovelace/components/hui-energy-period-selector.ts
  src/panels/lovelace/entity-rows/hui-input-number-entity-row.ts
  src/panels/lovelace/entity-rows/hui-media-player-entity-row.ts
  src/panels/lovelace/entity-rows/hui-number-entity-row.ts
  src/resources/compatibility.ts
  src/resources/polyfills/resize-observer.ts
  src/resources/resize-observer.polyfill.ts
  src/resources/virtualizer.ts
  src/state-summary/state-card-input_number.ts
  src/state-summary/state-card-number.ts
Labels: cla-signed, Build

#20875 Fix entity picker delete button
  src/components/entity/ha-entity-picker.ts
Labels: cla-signed

#20874 Add sequence action building block
  gallery/src/pages/automation/describe-action.ts
  gallery/src/pages/automation/editor-action.ts
  src/components/trace/hat-script-graph.ts
  src/components/trace/hat-trace-timeline.ts
  src/data/action.ts
  src/data/script.ts
  src/data/script_i18n.ts
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/action/types/ha-automation-action-sequence.ts
  src/translations/en.json
Labels: cla-signed, needs design preview, backend merged, Design

#20880 RTL fixes
  src/components/ha-icon-picker.ts
  src/components/ha-list-item.ts
  src/components/ha-textfield.ts
Labels: cla-signed

#20871 Rename energy 'Today' button to 'Now'
  src/panels/lovelace/components/hui-energy-period-selector.ts
  src/translations/en.json
Labels: cla-signed

#20846 Allowing toggle of expiration date for refresh token
  src/data/refresh_token.ts
  src/panels/profile/ha-refresh-tokens-card.ts
  src/translations/en.json
Labels: cla-signed, wait for backend

#20891 Add collapse & expand all groups
  src/components/data-table/ha-data-table.ts
  src/layouts/hass-tabs-subpage-data-table.ts
  src/translations/en.json
Labels: cla-signed, Noteworthy

#20793 Change Z-Wave JS API model to match zwave-js
  src/data/zwave_js.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-provisioned.ts
Labels: cla-signed, backend merged

#20062 Add default code to alarm_control_panel
  src/data/alarm_control_panel.ts
  src/data/entity_registry.ts
  src/dialogs/more-info/controls/more-info-alarm_control_panel.ts
  src/panels/config/entities/entity-registry-settings-editor.ts
  src/panels/lovelace/card-features/hui-alarm-modes-card-feature.ts
  src/panels/lovelace/cards/hui-alarm-panel-card.ts
  src/state-control/alarm_control_panel/ha-state-control-alarm_control_panel-modes.ts
Labels: cla-signed

#20894 Save data table filters in session storage
  src/common/decorators/storage.ts
  src/common/navigate.ts
  src/components/ha-filter-blueprints.ts
  src/components/ha-filter-devices.ts
  src/components/ha-filter-entities.ts
  src/components/ha-filter-floor-areas.ts
  src/data/data_table_filters.ts
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/helpers/ha-config-helpers.ts
  src/panels/config/scene/ha-scene-dashboard.ts
  src/panels/config/script/ha-script-picker.ts
Labels: cla-signed, Noteworthy

#20708 Add UI for setting view background
  src/components/ha-picture-upload.ts
  src/data/image_upload.ts
  src/panels/lovelace/editor/view-editor/hui-dialog-edit-view.ts
  src/panels/lovelace/editor/view-editor/hui-view-background-editor.ts
  src/translations/en.json
Labels: cla-signed, backend merged

#20853 Unify usage of dashboard title
  cast/src/launcher/layout/hc-cast.ts
  cast/src/receiver/layout/hc-lovelace.ts
  cast/src/receiver/layout/hc-main.ts
  src/data/lovelace/config/types.ts
  src/data/panel.ts
  src/panels/config/lovelace/dashboards/dialog-lovelace-dashboard-detail.ts
  src/panels/config/lovelace/dashboards/ha-config-lovelace-dashboards.ts
  src/panels/config/lovelace/dashboards/show-dialog-lovelace-dashboard-detail.ts
  src/panels/lovelace/editor/lovelace-editor/hui-dialog-edit-lovelace.ts
  src/panels/lovelace/editor/lovelace-editor/hui-lovelace-editor.ts
  src/panels/lovelace/editor/lovelace-editor/show-edit-lovelace-dialog.ts
  src/panels/lovelace/ha-panel-lovelace.ts
  src/panels/lovelace/hui-root.ts
  src/panels/lovelace/strategies/iframe/iframe-dashboard-strategy.ts
  src/panels/lovelace/strategies/map/map-dashboard-strategy.ts
  src/panels/lovelace/strategies/original-states/original-states-dashboard-strategy.ts
  src/state/panel-title-mixin.ts
Labels: cla-signed, Cast

#20895 Fix `type` value on Interface for the energy-usage-graph
  src/panels/lovelace/cards/types.ts
Labels: cla-signed

#20885 Script change icon
  src/panels/config/automation/automation-rename-dialog/dialog-automation-rename.ts
  src/panels/config/automation/automation-rename-dialog/show-dialog-automation-rename.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/script/ha-script-editor.ts
  src/translations/en.json
Labels: cla-signed

#20798 Inject Intl polyfills where used
  build-scripts/babel-plugins/custom-polyfill-plugin.js
  build-scripts/bundle.cjs
  src/common/datetime/first_weekday.ts
  src/common/datetime/format_date.ts
  src/common/datetime/format_date_time.ts
  src/common/datetime/format_duration.ts
  src/common/datetime/format_time.ts
  src/common/datetime/localize_date.ts
  src/common/datetime/relative_time.ts
  src/common/language/format_language.ts
  src/common/number/format_number.ts
  src/common/string/format-list.ts
  src/common/translations/localize.ts
  src/components/ha-country-picker.ts
  src/components/ha-currency-picker.ts
  src/components/ha-language-picker.ts
  src/data/automation_i18n.ts
  src/resources/polyfills/intl-polyfill.ts
  src/resources/polyfills/locale-data-polyfill.ts
Labels: cla-signed, Build

#20689 Inject element polyfills where used using Babel
  build-scripts/babel-plugins/custom-polyfill-plugin.js
  src/resources/compatibility.ts
  src/resources/polyfills/element-append.ts
  src/resources/polyfills/element-getattributenames.ts
  src/resources/polyfills/element-toggleattribute.ts
Labels: cla-signed, Build

#20764 Show detailed config entry error inline
  src/panels/config/integrations/ha-config-integration-page.ts
Labels: cla-signed

#20701 Add Macedonian (Македонски) to the frontend.
  src/translations/translationMetadata.json
Labels: cla-signed

#19621 Filter unrecorded entities from history panel
  src/data/recorder.ts
  src/panels/history/ha-panel-history.ts
Labels: cla-signed, backend merged

#19946 Collapsible blueprint input sections
  src/components/ha-expansion-panel.ts
  src/data/blueprint.ts
  src/panels/config/blueprint/blueprint-generic-editor.ts
Labels: cla-signed, wait for backend, backend merged

#20899 Use valid locale for translation test
  build-scripts/gulp/translations.js
  gallery/src/pages/date-time/date-time-numeric.ts
  gallery/src/pages/date-time/date-time-seconds.ts
  gallery/src/pages/date-time/date-time-short-year.ts
  gallery/src/pages/date-time/date-time-short.ts
  gallery/src/pages/date-time/date-time.ts
  gallery/src/pages/date-time/date.ts
  gallery/src/pages/date-time/time-seconds.ts
  gallery/src/pages/date-time/time-weekday.ts
  gallery/src/pages/date-time/time.ts
  src/common/number/format_number.ts
Labels: cla-signed, needs design preview, Build, Design

#20900 Fix area card editor when an entity have an unknown device
  src/panels/lovelace/editor/config-elements/hui-area-card-editor.ts
Labels: cla-signed

#20898 use image selector for view background
  cast/src/receiver/layout/hc-lovelace.ts
  src/components/ha-selector/ha-selector-image.ts
  src/data/lovelace/config/view.ts
  src/data/selector.ts
  src/panels/lovelace/editor/view-editor/hui-view-background-editor.ts
  src/panels/lovelace/hui-root.ts
Labels: cla-signed, Cast

#20840 Add visibility option to dashboard cards
  src/data/lovelace.ts
  src/data/lovelace/config/card.ts
  src/panels/lovelace/cards/hui-card.ts
  src/panels/lovelace/common/compute-card-size.ts
  src/panels/lovelace/common/validate-condition.ts
  src/panels/lovelace/components/hui-conditional-base.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-suggest-card.ts
  src/panels/lovelace/editor/structs/base-card-struct.ts
  src/panels/lovelace/sections/hui-grid-section.ts
  src/panels/lovelace/sections/hui-section.ts
  src/panels/lovelace/views/hui-masonry-view.ts
  src/panels/lovelace/views/hui-panel-view.ts
  src/panels/lovelace/views/hui-sidebar-view.ts
  src/panels/lovelace/views/hui-view.ts
Labels: cla-signed

#20908 Fix config entry menu
  src/panels/config/integrations/ha-config-integration-page.ts
Labels: cla-signed

#20902 Remove eslint-plugin-disable
  .eslintrc.json
  package.json
  yarn.lock
Labels: cla-signed

#20917 Improve refresh token dialogs
  src/panels/profile/ha-long-lived-access-tokens-card.ts
  src/panels/profile/ha-refresh-tokens-card.ts
  src/translations/en.json
Labels: cla-signed

#20925 20240530.0
  .eslintrc.json
  package.json
  pyproject.toml
  src/panels/config/core/ha-config-section-updates.ts
  src/panels/config/integrations/ha-config-integration-page.ts
  src/panels/profile/ha-long-lived-access-tokens-card.ts
  src/panels/profile/ha-refresh-tokens-card.ts
  src/translations/en.json
  yarn.lock
Labels: cla-signed

#20928 Fix double unsubscribe in todo list card
  src/panels/lovelace/cards/hui-todo-list-card.ts
Labels: cla-signed
