Repository home-assistant/frontend, pull requests merged in 2025-01, with the labels that each got.

#23533 Device info: Add localizable string for "Set up voice assistant"
  src/panels/config/devices/ha-config-device-page.ts
  src/translations/en.json
Labels: cla-signed

#23545 Add space for the fab on datatable without tabs
  src/components/data-table/ha-data-table.ts
  src/layouts/hass-tabs-subpage.ts
Labels: cla-signed

#23546 Fix copy on button to clear the selected background image
  src/components/ha-picture-upload.ts
  src/translations/en.json
Labels: cla-signed

#23527 Display an error if saving new script times out
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/script/ha-script-editor.ts
  src/translations/en.json
Labels: cla-signed

#23550 Add warning when no backup location is selected
  src/panels/config/backup/ha-config-backup-settings.ts
Labels: cla-signed

#23551 Update change encryption key dialog
  src/panels/config/backup/dialogs/dialog-change-backup-encryption-key.ts
Labels: cla-signed

#23547 Backup text updates
  src/panels/config/backup/components/overview/ha-backup-overview-onboarding.ts
  src/panels/config/backup/components/overview/ha-backup-overview-settings.ts
  src/panels/config/backup/dialogs/dialog-backup-onboarding.ts
  src/panels/config/backup/dialogs/show-dialog-backup_onboarding.ts
  src/panels/config/backup/ha-config-backup-backups.ts
  src/panels/config/backup/ha-config-backup-details.ts
  src/panels/config/backup/ha-config-backup-overview.ts
  src/panels/config/backup/ha-config-backup-settings.ts
Labels: cla-signed

#23549 Backup with db requires config, disabled next if no data is selected
  src/panels/config/backup/components/config/ha-backup-config-data.ts
  src/panels/config/backup/dialogs/dialog-generate-backup.ts
  src/panels/config/backup/ha-config-backup-overview.ts
Labels: cla-signed

#23553 Match UI with core and don't allow restore config without db and vice …
  src/panels/config/backup/components/ha-backup-data-picker.ts
Labels: cla-signed

#23536 Changes to the valueText should also rescale ha-gauge text
  src/components/ha-gauge.ts
Labels: cla-signed

#23534 Fix media management delete button misalignment
  src/components/media-player/dialog-media-manage.ts
Labels: cla-signed

#23548 Move local location backup setting
  src/panels/config/backup/ha-config-backup-overview.ts
  src/panels/config/backup/ha-config-backup-settings.ts
  src/translations/en.json
Labels: cla-signed

#23554 always zoom timeline charts on x axis
  src/components/chart/ha-chart-base.ts
Labels: cla-signed

#23552 Add show encryption key dialog
  src/panels/config/backup/components/config/ha-backup-config-encryption-key.ts
  src/panels/config/backup/dialogs/dialog-show-backup-encryption-key.ts
  src/panels/config/backup/dialogs/show-dialog-show-backup-encryption-key.ts
Labels: cla-signed

#23555 Add back zopfli compression
  build-scripts/gulp/compress.js
  package.json
  yarn.lock
Labels: cla-signed, Build

#23556 Update and add backup my links
  src/panels/my/ha-panel-my.ts
  src/state/quick-bar-mixin.ts
Labels: cla-signed

#23564 Fix tabs subpage height on desktop
  src/layouts/hass-tabs-subpage.ts
Labels: cla-signed

#23565 fix error display upload backup
  src/panels/config/backup/dialogs/dialog-upload-backup.ts
Labels: cla-signed

#23566 Close restore dialog if done
  src/panels/config/backup/dialogs/dialog-restore-backup.ts
  src/panels/config/backup/ha-config-backup.ts
Labels: cla-signed

#23567 Backup onboarding: Show close button when welcome is skipped
  src/panels/config/backup/dialogs/dialog-backup-onboarding.ts
Labels: cla-signed

#23568 Fix restore progress check logic
  src/panels/config/backup/dialogs/dialog-restore-backup.ts
Labels: cla-signed

#23569 Fix restoring backup during onboarding
  hassio/src/dialogs/backup/dialog-hassio-backup.ts
  src/data/hassio/backup.ts
Labels: cla-signed, Supervisor

#23570 Add change of encryption key warning
  src/panels/config/backup/dialogs/dialog-restore-backup.ts
Labels: cla-signed

#23571 Option to hide create box on todo card
  src/panels/lovelace/cards/hui-todo-list-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/editor/config-elements/hui-todo-list-editor.ts
Labels: cla-signed

#23517 Add missing `ui.panel.config.labels.headers.description`
  src/translations/en.json
Labels: cla-signed

#23452 Add missing localizations for Voice Assistants > Expose headers
  src/panels/config/voice-assistants/ha-config-voice-assistants-expose.ts
  src/translations/en.json
Labels: cla-signed

#23598 Spelling and grammar fixes
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  cast/README.md
  cast/src/launcher/layout/hc-connect.ts
  gallery/src/pages/Text/remove-delete-add-create.markdown
  gallery/src/pages/components/ha-alert.markdown
  gallery/src/pages/components/ha-faded.ts
  gallery/src/pages/components/ha-hs-color-picker.ts
  script/develop_and_serve
  src/common/decorators/transform.ts
  src/common/entity/compute_attribute_display.ts
  src/common/entity/get_states.ts
  src/common/entity/state_color.ts
  src/common/string/filter/filter.ts
  src/components/chart/sankey-chart.ts
  src/components/ha-hls-player.ts
  src/components/ha-icon.ts
  src/components/ha-md-dialog.ts
  src/components/ha-sidebar.ts
  src/data/energy.ts
  src/data/logbook.ts
  src/data/zwave_js.ts
  src/entrypoints/service-worker.ts
  src/fake_data/demo_services.ts
  src/panels/config/backup/components/config/ha-backup-config-schedule.ts
  src/panels/config/backup/dialogs/dialog-restore-backup.ts
  src/panels/config/integrations/dialog-add-integration.ts
  src/panels/config/integrations/ha-config-integrations-dashboard.ts
  src/panels/lovelace/common/validate-condition.ts
  src/panels/lovelace/create-element/create-element-base.ts
  src/panels/lovelace/elements/hui-service-button-element.ts
  src/panels/lovelace/views/hui-masonry-view.ts
  src/state/translations-mixin.ts
  src/translations/en.json
  src/util/common-translation.ts
  test/common/entity/attribute_class_names.test.ts
Labels: cla-signed, Cast, Demo, Design

#23600 Rename base sankey chart tag so it doesn't conflict with the custom card
  src/components/chart/ha-sankey-chart.ts
  src/panels/lovelace/cards/energy/hui-energy-sankey-card.ts
Labels: cla-signed

#23602 Remove backup toggle from supervisor addon page when update available
  hassio/src/update-available/update-available-card.ts
  src/data/hassio/addon.ts
  src/data/supervisor/core.ts
  src/translations/en.json
Labels: cla-signed, Supervisor

#23604 Improve error handling in backup status banner
  src/panels/config/backup/components/overview/ha-backup-overview-summary.ts
  src/panels/config/backup/ha-config-backup.ts
Labels: cla-signed

#23605 Fix tooltip more info
  src/components/entity/state-info.ts
Labels: cla-signed

#23603 Restore attributes removed from ha-entity-marker in ha-map
  src/components/map/ha-entity-marker.ts
Labels: cla-signed

#23611 Minor RTL Fix
  src/panels/config/devices/ha-config-device-page.ts
Labels: cla-signed

#23616 Fix tooltip scrolling
  src/components/chart/ha-chart-base.ts
Labels: cla-signed

#23618 Set fixed width for automation save dialog
  src/panels/config/automation/automation-rename-dialog/dialog-automation-rename.ts
Labels: cla-signed

#23615 Improve background-editor background-attachment alignment
  src/components/ha-button-toggle-group.ts
  src/components/ha-selector/ha-selector-button-toggle.ts
  src/panels/lovelace/editor/view-editor/hui-view-background-editor.ts
Labels: cla-signed

#23624 Fix two occurrences of lowercase "id" and two wrong uses of "an"
  src/translations/en.json
Labels: cla-signed

#22997 Show logbook component in more info for non-numeric values
  src/data/history.ts
  src/dialogs/more-info/const.ts
  src/dialogs/more-info/ha-more-info-dialog.ts
  src/dialogs/more-info/ha-more-info-history-and-logbook.ts
  src/dialogs/more-info/ha-more-info-info.ts
Labels: cla-signed

#23634 Fix typo in "unprovison" key name and string for zwave
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-provisioned.ts
  src/translations/en.json
Labels: cla-signed

#23621 Retain event data when moving/resizing schedule item
  src/panels/config/helpers/forms/ha-schedule-form.ts
Labels: cla-signed

#23637 Voice assistants config: Filter unavailable assists
  src/panels/config/voice-assistants/assist-pref.ts
Labels: cla-signed

#23639 Decrease min_columns to 8 for hui-statistics-graph-card
  src/panels/lovelace/cards/hui-statistics-graph-card.ts
Labels: cla-signed

#23636 Use ICU string for proper countdown via "1 minute"
  src/translations/en.json
Labels: cla-signed

#23365 Add backup translations
  src/data/backup.ts
  src/panels/config/backup/components/config/ha-backup-config-agents.ts
  src/panels/config/backup/components/config/ha-backup-config-data.ts
  src/panels/config/backup/components/config/ha-backup-config-encryption-key.ts
  src/panels/config/backup/components/config/ha-backup-config-schedule.ts
  src/panels/config/backup/components/ha-backup-data-picker.ts
  src/panels/config/backup/components/overview/ha-backup-overview-backups.ts
  src/panels/config/backup/components/overview/ha-backup-overview-onboarding.ts
  src/panels/config/backup/components/overview/ha-backup-overview-progress.ts
  src/panels/config/backup/components/overview/ha-backup-overview-settings.ts
  src/panels/config/backup/components/overview/ha-backup-overview-summary.ts
  src/panels/config/backup/dialogs/dialog-backup-onboarding.ts
  src/panels/config/backup/dialogs/dialog-change-backup-encryption-key.ts
  src/panels/config/backup/dialogs/dialog-generate-backup.ts
  src/panels/config/backup/dialogs/dialog-new-backup.ts
  src/panels/config/backup/dialogs/dialog-restore-backup.ts
  src/panels/config/backup/dialogs/dialog-set-backup-encryption-key.ts
  src/panels/config/backup/dialogs/dialog-show-backup-encryption-key.ts
  src/panels/config/backup/dialogs/dialog-upload-backup.ts
  src/panels/config/backup/ha-config-backup-backups.ts
  src/panels/config/backup/ha-config-backup-details.ts
  src/panels/config/backup/ha-config-backup-overview.ts
  src/panels/config/backup/ha-config-backup-settings.ts
  src/translations/en.json
Labels: cla-signed

#23648 Remove ! from backup translation
  src/translations/en.json
Labels: cla-signed

#23633 Simplify dashboard background upload
  src/components/ha-file-upload.ts
  src/components/ha-selector/ha-selector-background.ts
  src/components/ha-selector/ha-selector.ts
  src/data/selector.ts
  src/panels/lovelace/editor/view-editor/hui-view-background-editor.ts
  src/translations/en.json
Labels: cla-signed

#23654 Fix backup translations key issues
  src/panels/config/backup/components/overview/ha-backup-overview-backups.ts
  src/panels/config/backup/components/overview/ha-backup-overview-summary.ts
  src/panels/config/backup/dialogs/dialog-new-backup.ts
Labels: cla-signed

#23656 Backup text changes for the english translation
  src/translations/en.json
Labels: cla-signed

#23658 Add tests for common/datetime
  src/common/datetime/create_duration_data.ts
  test/common/datetime/absolute_time.test.ts
  test/common/datetime/calc_date.test.ts
  test/common/datetime/create_duration_data.test.ts
  test/common/datetime/first_weekday.test.ts
  test/common/datetime/format_date.test.ts
  test/common/datetime/format_date_time.test.ts
  test/common/datetime/format_duration.test.ts
  test/common/datetime/format_time.test.ts
  test/common/datetime/localize_date.test.ts
  test/common/datetime/seconds_to_duration.test.ts
  test/common/datetime/use_am_pm.test.ts
Labels: cla-signed

#23659 Fix preferred agent for backup download
  src/data/backup.ts
Labels: cla-signed

#23665 Make timeout for save automation/script longer
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/script/ha-script-editor.ts
Labels: cla-signed

#23612 Use statistics data in History graph card to fill gaps
  src/components/chart/state-history-charts.ts
  src/data/history.ts
  src/panels/history/ha-panel-history.ts
  src/panels/lovelace/cards/hui-history-graph-card.ts
Labels: cla-signed

#23691 Minor fixes for backup translations
  src/panels/config/backup/components/config/ha-backup-config-data.ts
  src/panels/config/backup/dialogs/dialog-upload-backup.ts
  src/translations/en.json
Labels: cla-signed

#23701 Fix history translation in backup
  src/translations/en.json
Labels: cla-signed

#23700 No matching link found for developer-tools/action
  src/panels/my/ha-panel-my.ts
Labels: cla-signed

#23696 Add outline for ha-color-picker
  src/components/ha-color-picker.ts
Labels: cla-signed

#23710 Newline behavior for date-range-picker history and logbook
  src/components/ha-date-range-picker.ts
Labels: cla-signed

#23459 Use consistent "More info" for To-do-lists and automations etc.
  src/translations/en.json
Labels: cla-signed, Needs UX

#23317 Replace label on refactored MQTT option flow button
  src/panels/config/integrations/integration-panels/mqtt/mqtt-config-panel.ts
  src/translations/en.json
Labels: cla-signed

#23690 Show yaml parsing errors in hui-element-editor
  src/panels/lovelace/editor/hui-element-editor.ts
Labels: cla-signed

#23698 Fix navigation from stacked dialogs with the same name
  src/dialogs/make-dialog-manager.ts
Labels: cla-signed

#23619 Fix more-info chart rendering
  src/components/chart/ha-chart-base.ts
  src/components/chart/state-history-chart-line.ts
  src/components/chart/state-history-chart-timeline.ts
  src/components/chart/state-history-charts.ts
  src/components/chart/statistics-chart.ts
  src/dialogs/more-info/ha-more-info-dialog.ts
  src/dialogs/more-info/ha-more-info-history-and-logbook.ts
  src/dialogs/more-info/ha-more-info-history.ts
  src/dialogs/more-info/ha-more-info-info.ts
Labels: cla-signed

#23731 Fix background on cast devices
  cast/src/html/receiver.html.template
  src/panels/lovelace/views/hui-view-background.ts
Labels: cla-signed, Cast

#23687 Fix ERR_REQUIRE_ASYNC_MODULE error when executing gulp
  build-scripts/gulp/index.mjs
  gulpfile.js
Labels: cla-signed, Build

#23688 Make the title fonts consistent across different pages
  src/components/ha-header-bar.ts
  src/components/ha-top-app-bar-fixed.ts
  src/components/ha-two-pane-top-app-bar-fixed.ts
Labels: cla-signed

#23736 Fix background
  cast/src/receiver/layout/hc-lovelace.ts
  src/panels/lovelace/hui-root.ts
Labels: cla-signed, Cast

#23738 Focus search input on dev tools statistics page when using search shortcut
  src/panels/developer-tools/statistics/developer-tools-statistics.ts
Labels: cla-signed

#23737 Use `ha-formfield` in `ha-form-boolean`
  src/components/ha-form/ha-form-boolean.ts
Labels: cla-signed

#23728 Add search to add helper dialog
  src/panels/config/helpers/dialog-helper-detail.ts
  src/translations/en.json
Labels: cla-signed, WTH

#23652 Overflow fix
  src/panels/history/ha-panel-history.ts
  src/panels/logbook/ha-panel-logbook.ts
Labels: cla-signed

#23724 Fix cast views not showing a background
  cast/src/receiver/layout/hc-lovelace.ts
Labels: cla-signed, Cast

#23748 Use autoCaseNoun for domainName
  src/panels/config/entities/entity-registry-settings-editor.ts
Labels: cla-signed

#23751 Fix-ha-form-float-validate
  src/components/ha-form/ha-form-float.ts
Labels: cla-signed

#23682 Add more info dialog for conversation agent
  src/components/ha-assist-chat.ts
  src/dialogs/more-info/const.ts
  src/dialogs/more-info/controls/more-info-conversation.ts
  src/dialogs/more-info/state_more_info_control.ts
  src/dialogs/voice-command-dialog/ha-voice-command-dialog.ts
Labels: cla-signed

#23754 Use-consume-scene-editor
  src/panels/config/scene/ha-scene-editor.ts
Labels: cla-signed

#23713 Externalize ha-assist-chat styling
  src/components/ha-assist-chat.ts
  src/dialogs/voice-command-dialog/ha-voice-command-dialog.ts
Labels: cla-signed

#23579 Option to sort todo lists
  src/data/todo.ts
  src/panels/lovelace/cards/hui-todo-list-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/editor/config-elements/hui-todo-list-editor.ts
  src/translations/en.json
Labels: cla-signed, WTH, Needs UX

#23760 Make media play button in media browser more visible when hovering
  src/components/media-player/ha-media-player-browse.ts
Labels: cla-signed, Noteworthy

#23763 Remove unused b64ToBlob
  src/common/file/b64-to-blob.ts
Labels: cla-signed

#23702 Don't close 2 dialogs from 1 escape keydown (more-info)
  src/dialogs/more-info/ha-more-info-dialog.ts
Labels: cla-signed

#23770 Add missing localize
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/helpers/ha-config-helpers.ts
  src/panels/config/scene/ha-scene-dashboard.ts
  src/panels/config/script/ha-script-picker.ts
Labels: cla-signed

#23774 Add clear button to Assist debug page
  src/components/ha-button.ts
  src/panels/developer-tools/assist/developer-tools-assist.ts
Labels: cla-signed

#23787 Add missing localization on info page
  src/panels/config/info/ha-config-info.ts
  src/translations/en.json
Labels: cla-signed

#23788 Add translatable string for "Learn how it works"
  src/panels/config/voice-assistants/assist-pref.ts
  src/translations/en.json
Labels: cla-signed

#23739 Add shortcut hint to assist dialog
  src/dialogs/voice-command-dialog/ha-voice-command-dialog.ts
  src/dialogs/voice-command-dialog/show-ha-voice-command-dialog.ts
  src/panels/lovelace/hui-root.ts
Labels: cla-signed

#23799 system-log-card: make a header & card-content similar to error-log-card
  src/panels/config/logs/system-log-card.ts
Labels: cla-signed

#23793 Picture glance alignment fix
  src/panels/lovelace/cards/hui-picture-glance-card.ts
Labels: cla-signed

#23786 Use `destructive` attribute from `ha-button`
  src/dialogs/generic/dialog-box.ts
  src/panels/calendar/confirm-event-dialog-box.ts
  src/panels/config/backup/dialogs/dialog-restore-backup.ts
Labels: cla-signed

#23790 Update ha-assist-chat.ts
  src/components/ha-assist-chat.ts
Labels: cla-signed

#23778 Fix flickering media play button
  src/components/media-player/ha-media-player-browse.ts
Labels: cla-signed

#23773 Improve add cards dialog user experience
  src/panels/lovelace/editor/card-editor/hui-card-picker.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-create-card.ts
  src/translations/en.json
Labels: cla-signed

#23757 Add time option for backup schedule
  src/components/ha-base-time-input.ts
  src/components/ha-md-list-item.ts
  src/data/backup.ts
  src/panels/config/backup/components/config/ha-backup-config-schedule.ts
  src/panels/config/backup/components/overview/ha-backup-overview-settings.ts
  src/panels/config/backup/components/overview/ha-backup-overview-summary.ts
  src/panels/config/backup/dialogs/dialog-backup-onboarding.ts
  src/panels/config/backup/ha-config-backup-settings.ts
  src/translations/en.json
Labels: cla-signed

#23826 Fix backup data picker translations
  src/panels/config/backup/components/ha-backup-data-picker.ts
  src/translations/en.json
Labels: cla-signed

#23756 Check if we can decrypt backup on download
  src/data/backup.ts
  src/panels/config/backup/ha-config-backup-backups.ts
  src/panels/config/backup/ha-config-backup-details.ts
  src/panels/config/backup/helper/download_backup.ts
  src/translations/en.json
Labels: cla-signed

#23822 Allow storing temperature/humidity entities on an area
  gallery/src/pages/components/ha-form.ts
  gallery/src/pages/components/ha-selector.ts
  src/components/ha-area-picker.ts
  src/data/area_registry.ts
  src/data/sensor.ts
  src/panels/config/areas/dialog-area-registry-detail.ts
  src/translations/en.json
Labels: cla-signed, Design

#23531 Initial bluetooth integration panel
  src/data/bluetooth.ts
  src/data/integration.ts
  src/panels/config/ha-panel-config.ts
  src/panels/config/integrations/integration-panels/bluetooth/bluetooth-config-panel.ts
  src/panels/config/integrations/integration-panels/bluetooth/dialog-bluetooth-device-info.ts
  src/panels/config/integrations/integration-panels/bluetooth/show-dialog-bluetooth-device-info.ts
  src/panels/my/ha-panel-my.ts
  src/translations/en.json
Labels: cla-signed, backend merged

#23827 Add label for add badge button in masonry and sidebar view
  src/panels/lovelace/badges/hui-view-badges.ts
  src/panels/lovelace/views/hui-masonry-view.ts
  src/panels/lovelace/views/hui-sidebar-view.ts
Labels: cla-signed

#23462 Don't hide location entities that are "home" in the MapViewStrategy
  src/panels/lovelace/strategies/map/map-view-strategy.ts
Labels: cla-signed, Needs UX

#23830 Temporarily disable Bluetooth panel to restore access to options flow, additional fixes
  src/data/integration.ts
  src/panels/config/ha-panel-config.ts
Labels: cla-signed

#23832 Clear filter in add helper dialog when closing
  src/panels/config/helpers/dialog-helper-detail.ts
Labels: cla-signed

#23836 Remember selection "Don't Group" in data-tables
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/helpers/ha-config-helpers.ts
  src/panels/config/scene/ha-scene-dashboard.ts
  src/panels/config/script/ha-script-picker.ts
Labels: cla-signed

#23829 Make add integration dialog keyboard accessible
  src/panels/config/integrations/dialog-add-integration.ts
Labels: cla-signed

#23473 Update hidden_explanation to include labels
  src/translations/en.json
Labels: cla-signed

#23839 Fix delete button for state content in iOS
  src/components/entity/ha-entity-state-content-picker.ts
  src/components/ha-selector/ha-selector-select.ts
Labels: cla-signed

#23847 Fix delete button for state content in iOS and Android
  src/components/entity/ha-entity-state-content-picker.ts
  src/components/ha-selector/ha-selector-select.ts
Labels: cla-signed

#23843 Add additional backup schedule description
  src/data/backup.ts
  src/panels/config/backup/components/overview/ha-backup-overview-summary.ts
  src/panels/config/backup/dialogs/dialog-backup-onboarding.ts
  src/translations/en.json
Labels: cla-signed, backend merged

#23589 Improve automation save dialog when leaving editor dirty
  src/panels/config/automation/automation-save-dialog/dialog-automation-save.ts
  src/panels/config/automation/automation-save-dialog/show-dialog-automation-save.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/script/ha-script-editor.ts
  src/translations/en.json
Labels: cla-signed

#23844 Add helper text to inputs of time pattern trigger
  src/panels/config/automation/trigger/types/ha-automation-trigger-time_pattern.ts
  src/translations/en.json
Labels: cla-signed

#23855 Support offset on input_datetime time trigger
  src/panels/config/automation/trigger/types/ha-automation-trigger-time.ts
  src/translations/en.json
Labels: cla-signed, backend merged

#23842 Use area entities in area card for temperature and humidity
  src/panels/lovelace/cards/hui-area-card.ts
Labels: Noteworthy

#23759 Don't check for promise when processing DataEntryFlowStep
  src/dialogs/config-flow/dialog-data-entry-flow.ts
Labels: cla-signed

#23772 Display year for created_at and modified_at of entities
  src/panels/config/entities/ha-config-entities.ts
Labels: cla-signed

#23858 20250109.1
  cast/src/html/receiver.html.template
  cast/src/receiver/layout/hc-lovelace.ts
  pyproject.toml
  src/components/chart/ha-chart-base.ts
  src/components/chart/state-history-chart-line.ts
  src/components/chart/state-history-chart-timeline.ts
  src/components/chart/state-history-charts.ts
  src/components/chart/statistics-chart.ts
  src/dialogs/generic/dialog-box.ts
  src/dialogs/make-dialog-manager.ts
  src/dialogs/more-info/ha-more-info-dialog.ts
  src/dialogs/more-info/ha-more-info-history-and-logbook.ts
  src/dialogs/more-info/ha-more-info-history.ts
  src/dialogs/more-info/ha-more-info-info.ts
  src/panels/config/backup/components/config/ha-backup-config-data.ts
  src/panels/config/backup/components/ha-backup-data-picker.ts
  src/panels/config/backup/dialogs/dialog-upload-backup.ts
  src/panels/lovelace/hui-root.ts
  src/panels/lovelace/views/hui-view-background.ts
  src/translations/en.json
Labels: cla-signed, Cast

#23859 20250109.2
  pyproject.toml
  src/components/entity/ha-entity-state-content-picker.ts
  src/components/ha-selector/ha-selector-select.ts
  src/panels/config/backup/components/ha-backup-data-picker.ts
  src/translations/en.json
Labels: cla-signed

#23809 Migrate from chart.js to echarts
  package.json
  src/components/chart/axis-label.ts
  src/components/chart/chart-date-adapter.ts
  src/components/chart/click_is_touch.ts
  src/components/chart/ha-chart-base.ts
  src/components/chart/ha-sankey-chart.ts
  src/components/chart/state-history-chart-line.ts
  src/components/chart/state-history-chart-timeline.ts
  src/components/chart/state-history-charts.ts
  src/components/chart/statistics-chart.ts
  src/components/chart/timeline-chart/const.ts
  src/components/chart/timeline-chart/textbar-element.ts
  src/components/chart/timeline-chart/timeline-controller.ts
  src/components/chart/timeline-color.ts
  src/panels/config/hardware/ha-config-hardware.ts
  src/panels/history/ha-panel-history.ts
  src/panels/logbook/ha-logbook-renderer.ts
  src/panels/lovelace/cards/energy/common/energy-chart-options.ts
  src/panels/lovelace/cards/energy/hui-energy-devices-detail-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-devices-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-gas-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-solar-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-usage-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-water-graph-card.ts
  src/panels/lovelace/cards/hui-history-graph-card.ts
  src/panels/lovelace/cards/hui-statistics-graph-card.ts
  src/resources/chartjs.ts
  src/resources/echarts.ts
  src/translations/en.json
  src/util/text.ts
  yarn.lock
Labels: cla-signed, Noteworthy

#23853 Logbook card loading fix
  src/panels/logbook/ha-logbook.ts
Labels: cla-signed

#23864 Display year when automation was last triggered in automation list
  src/panels/config/automation/ha-automation-picker.ts
Labels: cla-signed

#23878 Preheating support in History Chart
  src/components/chart/state-history-chart-line.ts
Labels: cla-signed

#23881 Add button filter to energy devices sortable
  src/panels/config/energy/components/ha-energy-device-settings.ts
Labels: cla-signed

#23862 Use new improved save dialog when leaving script editor dirty
  src/panels/config/script/ha-script-editor.ts
  src/translations/en.json
Labels: cla-signed

#23880 Include query params in url when default page is added
  src/layouts/hass-router-page.ts
Labels: cla-signed

#23877 Restore Bluetooth configuration panel
  src/data/integration.ts
  src/panels/config/ha-panel-config.ts
  src/panels/config/integrations/integration-panels/bluetooth/bluetooth-advertisement-monitor.ts
  src/panels/config/integrations/integration-panels/bluetooth/bluetooth-config-dashboard-router.ts
  src/panels/config/integrations/integration-panels/bluetooth/bluetooth-config-dashboard.ts
  src/translations/en.json
Labels: cla-signed

#23814 Reintroduce backup switch when updating core and addons
  hassio/src/update-available/update-available-card.ts
  src/data/hassio/addon.ts
  src/data/supervisor/core.ts
  src/data/update.ts
  src/dialogs/more-info/controls/more-info-update.ts
  src/translations/en.json
Labels: cla-signed, Supervisor

#23887 Reword incompatible media message
  src/translations/en.json
Labels: cla-signed

#23894 Increase generic entity row touch target
  src/panels/lovelace/components/hui-generic-entity-row.ts
Labels: cla-signed

#23891 Re-remove time picker for Energy
  src/components/ha-date-range-picker.ts
  src/panels/history/ha-panel-history.ts
  src/panels/logbook/ha-panel-logbook.ts
  src/panels/lovelace/components/hui-energy-period-selector.ts
Labels: cla-signed

#23909 Fix millisecond attributes
  src/panels/config/automation/action/types/ha-automation-action-delay.ts
  src/panels/config/automation/action/types/ha-automation-action-wait_for_trigger.ts
Labels: cla-signed

#23910 Looser layout limits for graph cards
  src/panels/lovelace/cards/hui-history-graph-card.ts
  src/panels/lovelace/cards/hui-statistics-graph-card.ts
Labels: cla-signed

#23867 Fix keyboard in automation-picker menus
  src/panels/config/automation/ha-automation-picker.ts
Labels: cla-signed, Accessibility

#23915 Update settings button icon on tables to mdi-table-cog.
  src/layouts/hass-tabs-subpage-data-table.ts
  src/panels/developer-tools/statistics/developer-tools-statistics.ts
Labels: cla-signed

#23916 Use name property when formatting backup location
  src/data/backup.ts
  src/panels/config/backup/components/config/ha-backup-config-agents.ts
  src/panels/config/backup/components/ha-backup-agents-picker.ts
  src/panels/config/backup/components/overview/ha-backup-overview-settings.ts
  src/panels/config/backup/dialogs/dialog-generate-backup.ts
  src/panels/config/backup/ha-config-backup-backups.ts
  src/panels/config/backup/ha-config-backup-details.ts
  src/panels/config/backup/ha-config-backup-overview.ts
  src/panels/config/backup/ha-config-backup-settings.ts
  src/panels/config/backup/ha-config-backup.ts
Labels: cla-signed, backend merged

#23906 Fixes for echarts
  src/components/chart/ha-chart-base.ts
  src/components/chart/state-history-chart-line.ts
  src/components/chart/state-history-chart-timeline.ts
  src/components/chart/state-history-charts.ts
  src/components/chart/statistics-chart.ts
  src/panels/lovelace/cards/energy/hui-energy-devices-detail-graph-card.ts
  src/panels/lovelace/cards/hui-history-graph-card.ts
  src/panels/lovelace/cards/hui-statistics-graph-card.ts
  src/state/logging-mixin.ts
  src/util/text.ts
Labels: cla-signed

#23918 Revert "Add shortcut hint to assist dialog"
  src/dialogs/voice-command-dialog/ha-voice-command-dialog.ts
  src/dialogs/voice-command-dialog/show-ha-voice-command-dialog.ts
  src/panels/lovelace/hui-root.ts
Labels: cla-signed

#23899 Add support for showing Bluetooth connection slot allocations
  src/data/bluetooth.ts
  src/panels/config/integrations/integration-panels/bluetooth/bluetooth-config-dashboard.ts
  src/translations/en.json
Labels: cla-signed, backend merged

#23926 Show scanner name in the Bluetooth Advertisement Monitor
  src/data/bluetooth.ts
  src/panels/config/integrations/integration-panels/bluetooth/bluetooth-advertisement-monitor.ts
Labels: cla-signed

#23924 Fix misspelling for humidifier card description
  src/translations/en.json
Labels: cla-signed

#23929 fix overflow for ha-map
  src/panels/lovelace/cards/hui-map-card.ts
Labels: cla-signed

#23928 Include addresses of Bluetooth devices in the connection slots tooltip
  src/panels/config/integrations/integration-panels/bluetooth/bluetooth-config-dashboard.ts
Labels: cla-signed

#23923 fix padding for error-log-card
  src/panels/config/logs/error-log-card.ts
Labels: cla-signed

#23931 Fix backup time supporting-text
  src/panels/config/backup/components/config/ha-backup-config-schedule.ts
  src/translations/en.json
Labels: cla-signed

#23935 Only restore config and database for core install
  src/panels/config/backup/dialogs/dialog-restore-backup.ts
Labels: cla-signed

#23922 Fix statistics chart stacking and colors
  src/components/chart/statistics-chart.ts
Labels: cla-signed

#23861 Allow to change encryption for each backup location
  src/data/backup.ts
  src/panels/config/backup/components/config/ha-backup-config-agents.ts
  src/panels/config/backup/components/overview/ha-backup-overview-backups.ts
  src/panels/config/backup/components/overview/ha-backup-overview-summary.ts
  src/panels/config/backup/dialogs/dialog-backup-onboarding.ts
  src/panels/config/backup/dialogs/dialog-restore-backup.ts
  src/panels/config/backup/ha-config-backup-backups.ts
  src/panels/config/backup/ha-config-backup-details.ts
  src/panels/config/backup/ha-config-backup-location.ts
  src/panels/config/backup/ha-config-backup-settings.ts
  src/panels/config/backup/ha-config-backup.ts
  src/panels/config/backup/helper/download_backup.ts
  src/translations/en.json
Labels: cla-signed, backend merged

#23921 Open more-info on label click in echarts
  src/components/chart/ha-chart-base.ts
  src/components/chart/state-history-chart-line.ts
  src/components/chart/state-history-chart-timeline.ts
  src/components/chart/statistics-chart.ts
  src/panels/lovelace/cards/energy/hui-energy-devices-detail-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-devices-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-gas-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-solar-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-usage-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-water-graph-card.ts
Labels: cla-signed

#23942 Reduce size of address column on Bluetooth Advertisement monitor
  src/panels/config/integrations/integration-panels/bluetooth/bluetooth-advertisement-monitor.ts
Labels: cla-signed

#23955 Restore scroll position go back to backup settings page
  src/panels/config/backup/ha-config-backup-settings.ts
  src/panels/config/backup/ha-config-backup.ts
Labels: cla-signed

#23949 Fix untracked energy in compare
  src/panels/lovelace/cards/energy/hui-energy-devices-detail-graph-card.ts
Labels: cla-signed

#23954 Add node memory to allow commit
  .devcontainer/devcontainer.json
Labels: cla-signed

#23959 Add correct link to backup.create_automatic
  src/panels/config/backup/components/config/ha-backup-config-schedule.ts
Labels: cla-signed

#23960 Display device name in bluetooth panel
  src/panels/config/integrations/integration-panels/bluetooth/bluetooth-advertisement-monitor.ts
  src/panels/config/integrations/integration-panels/bluetooth/dialog-bluetooth-device-info.ts
  src/translations/en.json
Labels: cla-signed
