Repository home-assistant/frontend, pull requests merged in 2025-05, with the labels that each got.

#25259 Fix typo in energy calculation
  src/data/energy.ts
  test/data/energy.test.ts
Labels: cla-signed

#25256 Hide the tab when view is a subview
  src/panels/lovelace/hui-root.ts
Labels: cla-signed

#25261 Always show backup location retention settings
  src/panels/config/backup/ha-config-backup-location.ts
Labels: cla-signed

#25266 Improve error handling in automation i18n
  src/components/entity/ha-entity-attribute-picker.ts
  src/data/automation_i18n.ts
Labels: cla-signed

#25271 Add save shortcut to shortcuts dialog
  src/dialogs/shortcuts/dialog-shortcuts.ts
  src/translations/en.json
Labels: cla-signed

#25278 Fix disabled language picker
  src/components/ha-language-picker.ts
Labels: cla-signed

#25279 Fix alignment of ha-labeled-slider
  src/components/ha-labeled-slider.ts
Labels: cla-signed

#25282 Fix decorators with properties
  src/common/decorators/storage.ts
  src/common/decorators/transform.ts
  src/components/ha-sidebar.ts
  src/components/media-player/ha-browse-media-tts.ts
  src/dialogs/voice-command-dialog/ha-voice-command-dialog.ts
  src/panels/calendar/ha-panel-calendar.ts
  src/panels/config/application_credentials/ha-config-application-credentials.ts
  src/panels/config/automation/action/ha-automation-action.ts
  src/panels/config/automation/condition/ha-automation-condition.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/automation/option/ha-automation-option.ts
  src/panels/config/automation/trigger/ha-automation-trigger.ts
  src/panels/config/backup/ha-config-backup-backups.ts
  src/panels/config/blueprint/ha-blueprint-overview.ts
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/helpers/ha-config-helpers.ts
  src/panels/config/integrations/integration-panels/mqtt/mqtt-config-panel.ts
  src/panels/config/integrations/integration-panels/mqtt/mqtt-subscribe-card.ts
  src/panels/config/labels/ha-config-labels.ts
  src/panels/config/lovelace/dashboards/ha-config-lovelace-dashboards.ts
  src/panels/config/lovelace/resources/ha-config-lovelace-resources.ts
  src/panels/config/scene/ha-scene-dashboard.ts
  src/panels/config/script/ha-script-editor.ts
  src/panels/config/script/ha-script-picker.ts
  src/panels/config/tags/ha-config-tags.ts
  src/panels/config/voice-assistants/ha-config-voice-assistants-expose.ts
  src/panels/developer-tools/action/developer-tools-action.ts
  src/panels/developer-tools/assist/developer-tools-assist.ts
  src/panels/developer-tools/state/developer-tools-state.ts
  src/panels/history/ha-panel-history.ts
  src/panels/logbook/ha-panel-logbook.ts
  src/panels/lovelace/cards/energy/hui-energy-devices-detail-graph-card.ts
  src/panels/lovelace/cards/hui-button-card.ts
  src/panels/lovelace/editor/badge-editor/hui-badge-picker.ts
  src/panels/lovelace/editor/card-editor/hui-card-picker.ts
  src/panels/media-browser/ha-panel-media-browser.ts
  src/panels/todo/ha-panel-todo.ts
Labels: cla-signed

#25293 Fix display of disabled items in traces
  src/components/trace/ha-timeline.ts
  src/components/trace/hat-graph-node.ts
Labels: cla-signed

#25292 Fix select entity row opening more info on select
  src/panels/lovelace/entity-rows/hui-select-entity-row.ts
Labels: cla-signed

#25258 Add a feature to display any attribute of an entity in the Gauge Card
  src/data/entity_attributes.ts
  src/panels/config/automation/condition/types/ha-automation-condition-numeric_state.ts
  src/panels/lovelace/cards/hui-gauge-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/editor/config-elements/hui-gauge-card-editor.ts
  src/translations/en.json
Labels: cla-signed

#25288 Keyboard accessible panel sorting
  src/components/ha-sidebar.ts
  src/resources/ha-sidebar-edit-style.ts
  src/translations/en.json
Labels: cla-signed, Accessibility, WTH

#25303 Add profile security link to My Home Assistant
  src/panels/my/ha-panel-my.ts
Labels: cla-signed

#25305 Fix flow-form header
  src/dialogs/config-flow/step-flow-form.ts
Labels: cla-signed

#25307 Use md-select for entity-row and state-card
  src/panels/lovelace/entity-rows/hui-input-select-entity-row.ts
  src/state-summary/state-card-input_select.ts
  src/state-summary/state-card-select.ts
Labels: cla-signed

#25308 Revert "Use md-select for entity-row and state-card"
  src/panels/lovelace/entity-rows/hui-input-select-entity-row.ts
  src/state-summary/state-card-input_select.ts
  src/state-summary/state-card-select.ts
Labels: cla-signed

#25265 Use new entity picker style in quick bar
  src/dialogs/quick-bar/ha-quick-bar.ts
Labels: cla-signed

#25310 Fix select entity change
  src/panels/lovelace/components/hui-generic-entity-row.ts
  src/panels/lovelace/entity-rows/hui-select-entity-row.ts
Labels: cla-signed

#25309 Fix pasting yaml in automation code editor
  src/common/dom/can-override-input.ts
Labels: cla-signed

#25319 reorder my links
  src/panels/my/ha-panel-my.ts
Labels: cla-signed

#25315 Add energy hourly calculations to CSV report
  src/panels/energy/ha-panel-energy.ts
Labels: cla-signed

#25312 Fix options and repair flow success
  src/dialogs/config-flow/step-flow-create-entry.ts
Labels: cla-signed

#25321 Clean up network browser nav
  src/panels/config/network/ha-config-network-dhcp.ts
  src/panels/config/network/ha-config-network-ssdp.ts
  src/panels/config/network/ha-config-network-zeroconf.ts
  src/panels/config/network/ha-config-section-network.ts
  src/translations/en.json
Labels: cla-signed

#25316 Use new entity naming in card entity picker
  src/panels/lovelace/editor/badge-editor/hui-dialog-create-badge.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-create-card.ts
  src/panels/lovelace/editor/card-editor/hui-entity-picker-table.ts
  src/panels/lovelace/editor/unused-entities/hui-unused-entities.ts
Labels: cla-signed

#25322 Populate integration domain My link
  src/state/quick-bar-mixin.ts
Labels: cla-signed

#25324 Show voice ID in TTS media browser
  src/components/media-player/ha-browse-media-tts.ts
  src/translations/en.json
Labels: cla-signed

#25262 Bump the sortable patch
  .yarn/patches/sortablejs-npm-1.15.6-3235a8f83b.patch
  package.json
  yarn.lock
Labels: cla-signed

#25330 Align side bar title with items
  src/components/ha-sidebar.ts
Labels: cla-signed

#25331 Revert "Keyboard accessible panel sorting"
  src/components/ha-sidebar.ts
  src/resources/ha-sidebar-edit-style.ts
  src/translations/en.json
Labels: cla-signed

#25318 Add custom retention info to backup locations
  src/panels/config/backup/components/config/ha-backup-config-agents.ts
  src/translations/en.json
Labels: cla-signed

#25328 Fix flow form padding end
  src/dialogs/config-flow/dialog-data-entry-flow.ts
  src/dialogs/config-flow/step-flow-abort.ts
  src/dialogs/config-flow/step-flow-create-entry.ts
  src/dialogs/config-flow/step-flow-external.ts
  src/dialogs/config-flow/step-flow-form.ts
  src/dialogs/config-flow/step-flow-menu.ts
  src/dialogs/config-flow/step-flow-progress.ts
  src/dialogs/config-flow/styles.ts
Labels: cla-signed

#25332 Fix sidebar item text width
  src/components/ha-sidebar.ts
Labels: cla-signed

#25339 Use right theme variable for dashboard tab color in edit mode
  src/panels/lovelace/hui-root.ts
Labels: cla-signed

#25338 Simplify entity combo-box code
  src/components/entity/ha-entity-combo-box.ts
  src/components/entity/ha-statistic-combo-box.ts
  src/components/ha-combo-box-item.ts
  src/dialogs/quick-bar/ha-quick-bar.ts
Labels: cla-signed

#25348 Fix data-table search clear button alignment
  src/components/search-input-outlined.ts
Labels: cla-signed

#25345 Update network browser descriptions
  src/translations/en.json
Labels: cla-signed

#25347 Set <=0 chart values to null so they render as gaps on a log graph
  src/components/chart/ha-chart-base.ts
Labels: cla-signed

#25351 Only enable drag scroll controller when needed
  src/common/controllers/drag-scroll-controller.ts
  src/panels/lovelace/views/hui-view-header.ts
Labels: cla-signed

#25352 Fix badge overlay in scrolling mode
  src/panels/lovelace/badges/hui-view-badges.ts
  src/panels/lovelace/views/hui-view-header.ts
Labels: cla-signed

#25358 Add UoM to location selector
  src/components/ha-selector/ha-selector-location.ts
  src/translations/en.json
Labels: cla-signed

#25326 New solar-consumed-gauge algorithm
  src/data/energy.ts
  src/panels/lovelace/cards/energy/hui-energy-solar-consumed-gauge-card.ts
  test/data/energy.test.ts
Labels: cla-signed

#25355 Use ha-font-family typography css token
  hassio/src/entrypoint.ts
  src/components/chips/ha-assist-chip.ts
  src/components/data-table/ha-data-table.ts
  src/components/ha-base-time-input.ts
  src/components/ha-control-button.ts
  src/components/ha-outlined-text-field.ts
  src/components/ha-settings-row.ts
  src/dialogs/config-flow/styles.ts
  src/html/_style_base.html.template
  src/onboarding/onboarding-location.ts
  src/panels/config/backup/dialogs/dialog-backup-onboarding.ts
  src/panels/config/backup/dialogs/dialog-change-backup-encryption-key.ts
  src/panels/config/backup/dialogs/dialog-set-backup-encryption-key.ts
  src/panels/config/backup/dialogs/dialog-show-backup-encryption-key.ts
  src/panels/config/integrations/integration-panels/matter/dialog-matter-open-commissioning-window.ts
  src/panels/config/integrations/integration-panels/zwave_js/add-node/zwave-js-add-node-code-input.ts
  src/panels/developer-tools/template/developer-tools-template.ts
  src/resources/codemirror.ts
  src/resources/theme/typography.globals.ts
Labels: cla-signed, Supervisor

#25359 Fix ha-dialog actions padding to use safe-area-inset
  src/components/ha-dialog.ts
Labels: cla-signed

#25362 Add a dialog to SSDP to show raw data
  src/panels/config/integrations/integration-panels/ssdp/dialog-ssdp-discovery-info.ts
  src/panels/config/integrations/integration-panels/ssdp/dialog-ssdp-raw-data.ts
  src/panels/config/integrations/integration-panels/ssdp/show-dialog-ssdp-raw-data.ts
  src/translations/en.json
Labels: cla-signed

#24846 Add left text alignment to call service button
  src/components/buttons/ha-call-service-button.ts
  src/components/ha-button.ts
Labels: cla-signed

#25367 Font style in side bar
  src/components/ha-sidebar.ts
Labels: cla-signed

#25366 Fix backup settings undefined cloudStatus
  src/panels/config/backup/components/config/ha-backup-config-agents.ts
  src/panels/config/backup/ha-config-backup-settings.ts
Labels: cla-signed

#25369 Improve ha-spinner gallery docs
  gallery/src/pages/components/ha-spinner.ts
Labels: cla-signed, Design

#25373 Add tests for common name utils
  test/common/entity/compute_area_name.test.ts
  test/common/entity/compute_device_name.test.ts
  test/common/entity/compute_entity_name.test.ts
  test/common/entity/compute_floor_name.test.ts
Labels: cla-signed

#25364 Use ha-font-smoothing typography css tokens
  hassio/src/entrypoint.ts
  hassio/src/resources/hassio-style.ts
  src/components/data-table/ha-data-table.ts
  src/components/ha-base-time-input.ts
  src/components/ha-settings-row.ts
  src/dialogs/config-flow/styles.ts
  src/dialogs/notifications/notification-item-template.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/config/ha-config-section.ts
  src/panels/config/integrations/integration-panels/zha/zha-add-group-page.ts
  src/panels/config/integrations/integration-panels/zha/zha-group-page.ts
  src/panels/config/voice-assistants/dialog-expose-entity.ts
  src/panels/developer-tools/template/developer-tools-template.ts
  src/panels/lovelace/cards/hui-plant-status-card.ts
  src/resources/styles.ts
  src/resources/theme/typography.globals.ts
Labels: cla-signed, Supervisor

#25368 Fix backup custom retention save issue
  src/panels/config/backup/components/config/ha-backup-config-retention.ts
  src/panels/config/backup/ha-config-backup-location.ts
Labels: cla-signed

#25306 Use the new `included_in_stat` hierarchy in the Energy Sankey card
  src/components/chart/ha-sankey-chart.ts
  src/panels/lovelace/cards/energy/hui-energy-sankey-card.ts
Labels: cla-signed

#25264 Bump the hls patch
  .yarn/patches/hls.js-npm-1.5.7-f5bbd3d060.patch
  package.json
  yarn.lock
Labels: cla-signed

#25378 Add installation method to the about page
  src/data/system_health.ts
  src/panels/config/info/ha-config-info.ts
  src/panels/config/repairs/dialog-system-information.ts
  src/translations/en.json
Labels: cla-signed

#25390 Fix bottom padding in service control when in narrow mode
  src/components/ha-service-control.ts
Labels: cla-signed

#25392 Fix width of device in create entry step
  src/dialogs/config-flow/step-flow-create-entry.ts
Labels: cla-signed

#25398 Move vaadin typography vars to typography globals
  src/common/style/derived-css-vars.ts
  src/resources/theme/color.globals.ts
  src/resources/theme/main.globals.ts
  src/resources/theme/typography.globals.ts
Labels: cla-signed

#25404 Fallback to preferred pipeline if the pipeline doesn't exist
  src/dialogs/voice-command-dialog/ha-voice-command-dialog.ts
Labels: cla-signed

#25405 Fix selected entity in the entity picker dropdown
  src/components/entity/ha-entity-combo-box.ts
  src/components/entity/ha-statistic-combo-box.ts
Labels: cla-signed

#25406 Fix devices graph max_devices
  src/panels/lovelace/cards/energy/hui-energy-devices-graph-card.ts
Labels: cla-signed

#25400 Fix domain max-width in entity picker
  src/components/entity/ha-entity-combo-box.ts
  src/components/ha-combo-box-item.ts
  src/dialogs/quick-bar/ha-quick-bar.ts
Labels: cla-signed

#25408 Fix card editor help links
  src/panels/lovelace/editor/card-editor/hui-dialog-edit-card.ts
  src/panels/lovelace/editor/get-dashboard-documentation-url.ts
Labels: cla-signed

#25411 Render choose and if action correctly on mobile
  src/panels/config/automation/action/types/ha-automation-action-choose.ts
  src/panels/config/automation/action/types/ha-automation-action-if.ts
  src/panels/config/automation/option/ha-automation-option-row.ts
Labels: cla-signed

#25419 Fix typo in lint config
  lint-staged.config.js
Labels: cla-signed

#25399 Remove getCandidatesUpfront
  src/components/ha-web-rtc-player.ts
  src/data/camera.ts
Labels: cla-signed

#25445 Subscribe to frontend user data
  src/data/frontend.ts
  src/data/translation.ts
  src/panels/profile/ha-advanced-mode-row.ts
  src/panels/profile/ha-entity-id-picker-row.ts
  src/panels/profile/ha-profile-section-general.ts
  src/state/connection-mixin.ts
  src/state/translations-mixin.ts
  src/util/common-translation.ts
Labels: cla-signed

#25444 Fix domain not translated in entity picker and quick bar
  src/components/entity/ha-entity-picker.ts
  src/dialogs/quick-bar/ha-quick-bar.ts
Labels: cla-signed

#25453 Fix zwave creating nvm backup translation
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-config-dashboard.ts
  src/translations/en.json
Labels: cla-signed

#25452 Update network_adapter_info translation as all core discovery integrations will now use network
  src/translations/en.json
Labels: cla-signed

#25024 Allow for shift click in data table checkboxes
  src/components/data-table/ha-data-table.ts
Labels: cla-signed, Noteworthy

#25454 Hide map cluster toggle when there is just one entry
  src/panels/lovelace/cards/hui-map-card.ts
Labels: cla-signed

#25403 Use ha-dialog-header for data-entry-flow
  src/dialogs/config-flow/dialog-data-entry-flow.ts
  src/dialogs/config-flow/show-dialog-data-entry-flow.ts
  src/dialogs/config-flow/step-flow-abort.ts
  src/dialogs/config-flow/step-flow-create-entry.ts
  src/dialogs/config-flow/step-flow-external.ts
  src/dialogs/config-flow/step-flow-form.ts
  src/dialogs/config-flow/step-flow-menu.ts
  src/dialogs/config-flow/step-flow-progress.ts
  src/dialogs/config-flow/styles.ts
  src/panels/config/repairs/show-dialog-repair-flow.ts
  src/translations/en.json
Labels: cla-signed

#25429 Make map card clustering configurable
  src/panels/lovelace/cards/hui-map-card.ts
  src/panels/lovelace/cards/types.ts
Labels: cla-signed

#25385 Periodically refresh alerts on the device page
  src/panels/config/devices/ha-config-device-page.ts
Labels: cla-signed, integration: zwave_js

#25375 Keep screen on while adding new ZwaveJS device
  src/mixins/wakelock-mixin.ts
  src/panels/config/integrations/integration-panels/zwave_js/add-node/dialog-zwave_js-add-node.ts
  src/panels/config/integrations/integration-panels/zwave_js/add-node/zwave-js-add-node-loading.ts
  src/panels/config/integrations/integration-panels/zwave_js/add-node/zwave-js-add-node-searching-devices.ts
Labels: cla-signed, Noteworthy, integration: zwave_js

#25425 Add ZHA status details to configuration dashboard
  src/panels/config/integrations/integration-panels/zha/zha-config-dashboard.ts
  src/translations/en.json
Labels: cla-signed

#25467 Prioritize battery consumption before solar consumption
  src/data/energy.ts
  test/data/energy.test.ts
Labels: cla-signed

#25465 Keep screen on while adding new ZHA device
  src/panels/config/integrations/integration-panels/zha/zha-add-devices-page.ts
Labels: cla-signed, Noteworthy

#25476 Fix label for Thermostat Setback in Z-Wave JS installer panel
  src/translations/en.json
Labels: cla-signed

#25480 Preload Roboto for Chrome OS
  src/html/_preload_roboto.html.template
Labels: cla-signed

#25472 Improve area picker UI and search
  src/components/entity/ha-entity-picker.ts
  src/components/ha-area-picker.ts
Labels: cla-signed

#25484 Use generic picker for statistic picker
  src/components/entity/ha-statistic-combo-box.ts
  src/components/entity/ha-statistic-picker.ts
Labels: cla-signed

#25489 Update media content type for picked TTS
  src/components/media-player/ha-browse-media-tts.ts
Labels: cla-signed

#25478 RTL base font fix
  src/components/ha-sidebar.ts
  src/resources/theme/typography.globals.ts
Labels: cla-signed

#25496 Force wrap too long expansion panel headers
  src/components/ha-expansion-panel.ts
Labels: cla-signed

#25495 Don't access hidden tabs via left/right arrow
  src/panels/lovelace/hui-root.ts
Labels: cla-signed

#25503 Fix duplicate_id in energy-usage-graph
  src/panels/lovelace/cards/energy/hui-energy-usage-graph-card.ts
Labels: cla-signed

#25502 Fix loading behavior when manually typing card type
  src/panels/lovelace/editor/hui-element-editor.ts
Labels: cla-signed

#25401 Improve device picker UI and search
  src/components/device/ha-device-picker.ts
  src/components/device/ha-devices-picker.ts
  src/components/ha-picker-combo-box.ts
  src/components/ha-target-picker.ts
  src/dialogs/quick-bar/ha-quick-bar.ts
  src/translations/en.json
Labels: cla-signed, Noteworthy

#25510 Fix labels in duration input
  src/components/ha-base-time-input.ts
  src/components/ha-duration-input.ts
  src/components/ha-time-input.ts
Labels: cla-signed

#25494 Tweaks to Assist chat dialog
  src/components/ha-assist-chat.ts
  src/data/assist_pipeline.ts
Labels: cla-signed

#25511 Fix clear area action in area-picker
  src/components/ha-area-picker.ts
Labels: cla-signed

#25531 Fix entity picker in footer graph and media card
  src/panels/lovelace/editor/config-elements/hui-graph-footer-editor.ts
  src/panels/lovelace/editor/config-elements/hui-media-control-card-editor.ts
Labels: cla-signed

#25522 Improve label picker UI and search
  src/components/ha-label-picker.ts
  src/components/ha-labels-picker.ts
  src/components/ha-target-picker.ts
  src/panels/config/areas/dialog-area-registry-detail.ts
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/helpers/ha-config-helpers.ts
  src/panels/config/labels/dialog-label-detail.ts
  src/panels/config/labels/show-dialog-label-detail.ts
  src/panels/config/scene/ha-scene-dashboard.ts
  src/panels/config/script/ha-script-picker.ts
  src/translations/en.json
Labels: cla-signed

#25536 Add has-fab to hass-tabs-subpage
  src/layouts/hass-tabs-subpage.ts
  src/panels/config/areas/ha-config-areas-dashboard.ts
  src/panels/config/integrations/ha-config-integrations-dashboard.ts
  src/panels/config/integrations/integration-panels/zha/zha-config-dashboard.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-config-dashboard.ts
  src/panels/config/person/ha-config-person.ts
  src/panels/config/zone/ha-config-zone.ts
Labels: cla-signed

#25538 Added Albanian (Shqip) Language
  src/translations/translationMetadata.json
Labels: cla-signed

#25535 Improve floor picker UI and search
  src/components/ha-floor-picker.ts
Labels: cla-signed

#25539 Remote access strings: tiny typo fix
  src/translations/en.json
Labels: cla-signed

#25512 Bluetooth network visualization
  src/components/chart/ha-network-graph.ts
  src/panels/config/integrations/integration-panels/bluetooth/bluetooth-advertisement-monitor.ts
  src/panels/config/integrations/integration-panels/bluetooth/bluetooth-config-dashboard-router.ts
  src/panels/config/integrations/integration-panels/bluetooth/bluetooth-config-dashboard.ts
  src/panels/config/integrations/integration-panels/bluetooth/bluetooth-network-visualization.ts
  src/panels/config/integrations/integration-panels/zha/zha-network-visualization-page.ts
  src/panels/my/ha-panel-my.ts
  src/translations/en.json
Labels: cla-signed, Noteworthy

#25528 Add hint helpers to fields that support markdown
  src/common/translations/markdown_support.ts
  src/panels/config/automation/automation-save-dialog/dialog-automation-save.ts
  src/panels/todo/dialog-todo-item-editor.ts
  src/translations/en.json
Labels: cla-signed

#25532 Edit sidebar in a dialog
  src/components/ha-items-display-editor.ts
  src/components/ha-sidebar.ts
  src/dialogs/sidebar/dialog-edit-sidebar.ts
  src/dialogs/sidebar/show-dialog-edit-sidebar.ts
  src/layouts/home-assistant-main.ts
  src/panels/profile/ha-profile-section-general.ts
  src/resources/ha-sidebar-edit-style.ts
  src/translations/en.json
Labels: cla-signed

#25547 Add comma
  src/translations/en.json
Labels: cla-signed

#25541 Add range support to icon translations
  src/common/entity/state_icon.ts
  src/data/icons.ts
Labels: cla-signed

#25553 Restore screen readers support on pickers
  src/components/entity/ha-entity-picker.ts
  src/components/entity/ha-statistic-picker.ts
  src/components/ha-combo-box-textfield.ts
  src/components/ha-combo-box.ts
  src/components/ha-generic-picker.ts
  src/components/ha-picker-combo-box.ts
Labels: cla-signed

#25560 Improve category picker UI and search
  src/components/ha-label-picker.ts
  src/panels/config/category/ha-category-picker.ts
Labels: cla-signed

#25540 Improve area floor picker UI and search
  src/components/ha-area-floor-picker.ts
  src/components/ha-picker-combo-box.ts
  src/components/ha-target-picker.ts
Labels: cla-signed

#25546 Enable keyboard sorting for items-display-editor
  src/components/ha-items-display-editor.ts
Labels: cla-signed

#25572 Fix chart labels for multi year periods
  src/components/chart/ha-chart-base.ts
Labels: cla-signed

#25561 Custom variable down sampling for line charts
  src/components/chart/down-sample.ts
  src/components/chart/ha-chart-base.ts
Labels: cla-signed

#25578 Sort discoveries by title on integration page
  src/panels/config/integrations/ha-config-integration-page.ts
Labels: cla-signed

#25575 rename `android-safe-area-inset` to `app-safe-area-inset`
  src/resources/theme/main.globals.ts
Labels: cla-signed

#25558 Add actions section and add domains to other section in area dashboard
  src/panels/lovelace/strategies/areas/area-view-strategy.ts
  src/panels/lovelace/strategies/areas/areas-overview-view-strategy.ts
  src/panels/lovelace/strategies/areas/helpers/areas-strategy-helper.ts
  src/translations/en.json
Labels: cla-signed

#25595 Use constant for Home Assistant bluetooth node in graph
  src/panels/config/integrations/integration-panels/bluetooth/bluetooth-network-visualization.ts
Labels: cla-signed

#25559 Allow href="data:..." in config flow step description
  src/components/ha-markdown-element.ts
  src/components/ha-markdown.ts
  src/dialogs/config-flow/show-dialog-config-flow.ts
  src/resources/markdown-worker.ts
Labels: cla-signed

#25555 Save sidebar in user data
  src/components/ha-sidebar.ts
  src/data/frontend.ts
  src/data/translation.ts
  src/dialogs/sidebar/dialog-edit-sidebar.ts
  src/dialogs/sidebar/show-dialog-edit-sidebar.ts
  src/layouts/home-assistant-main.ts
  src/panels/profile/ha-profile-section-general.ts
  src/translations/en.json
Labels: cla-signed, Breaking Change, Noteworthy

#25548 Use failed add-ons and folders of backup
  src/data/backup.ts
  src/panels/config/backup/components/ha-backup-details-summary.ts
  src/panels/config/backup/components/overview/ha-backup-overview-summary.ts
  src/translations/en.json
Labels: cla-signed

#24900 Make weather-forecast card more responsive
  src/panels/lovelace/cards/hui-weather-forecast-card.ts
Labels: cla-signed

#25577 Use context instead of stateObj for card features
  src/data/lovelace_custom_cards.ts
  src/panels/lovelace/card-features/hui-alarm-modes-card-feature.ts
  src/panels/lovelace/card-features/hui-card-feature.ts
  src/panels/lovelace/card-features/hui-card-features.ts
  src/panels/lovelace/card-features/hui-climate-fan-modes-card-feature.ts
  src/panels/lovelace/card-features/hui-climate-hvac-modes-card-feature.ts
  src/panels/lovelace/card-features/hui-climate-preset-modes-card-feature.ts
  src/panels/lovelace/card-features/hui-climate-swing-horizontal-modes-card-feature.ts
  src/panels/lovelace/card-features/hui-climate-swing-modes-card-feature.ts
  src/panels/lovelace/card-features/hui-counter-actions-card-feature.ts
  src/panels/lovelace/card-features/hui-cover-open-close-card-feature.ts
  src/panels/lovelace/card-features/hui-cover-position-card-feature.ts
  src/panels/lovelace/card-features/hui-cover-tilt-card-feature.ts
  src/panels/lovelace/card-features/hui-cover-tilt-position-card-feature.ts
  src/panels/lovelace/card-features/hui-fan-preset-modes-card-feature.ts
  src/panels/lovelace/card-features/hui-fan-speed-card-feature.ts
  src/panels/lovelace/card-features/hui-humidifier-modes-card-feature.ts
  src/panels/lovelace/card-features/hui-humidifier-toggle-card-feature.ts
  src/panels/lovelace/card-features/hui-lawn-mower-commands-card-feature.ts
  src/panels/lovelace/card-features/hui-light-brightness-card-feature.ts
  src/panels/lovelace/card-features/hui-light-color-temp-card-feature.ts
  src/panels/lovelace/card-features/hui-lock-commands-card-feature.ts
  src/panels/lovelace/card-features/hui-lock-open-door-card-feature.ts
  src/panels/lovelace/card-features/hui-media-player-volume-slider-card-feature.ts
  src/panels/lovelace/card-features/hui-numeric-input-card-feature.ts
  src/panels/lovelace/card-features/hui-select-options-card-feature.ts
  src/panels/lovelace/card-features/hui-target-humidity-card-feature.ts
  src/panels/lovelace/card-features/hui-target-temperature-card-feature.ts
  src/panels/lovelace/card-features/hui-toggle-card-feature.ts
  src/panels/lovelace/card-features/hui-update-actions-card-feature.ts
  src/panels/lovelace/card-features/hui-vacuum-commands-card-feature.ts
  src/panels/lovelace/card-features/hui-water-heater-operation-modes-card-feature.ts
  src/panels/lovelace/cards/hui-humidifier-card.ts
  src/panels/lovelace/cards/hui-thermostat-card.ts
  src/panels/lovelace/cards/hui-tile-card.ts
  src/panels/lovelace/editor/config-elements/hui-card-features-editor.ts
  src/panels/lovelace/editor/config-elements/hui-humidifier-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-thermostat-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-tile-card-editor.ts
  src/panels/lovelace/strategies/areas/helpers/areas-strategy-helper.ts
  src/panels/lovelace/types.ts
Labels: cla-signed

#25598 Update alarm card styling
  src/dialogs/enter-code/dialog-enter-code.ts
  src/panels/lovelace/cards/hui-alarm-panel-card.ts
Labels: cla-signed

#25600 Fix duplicated items in strategy editor
  src/components/ha-items-display-editor.ts
Labels: cla-signed

#25604 Fix double history graphs for a disabled entity
  src/data/history.ts
Labels: cla-signed

#25612 Fix for history graph with tiny values
  src/components/chart/state-history-chart-line.ts
Labels: cla-signed

#25611 More error handling for preview flow
  src/data/preview.ts
  src/dialogs/config-flow/previews/flow-preview-generic.ts
Labels: cla-signed

#25623 Fix picker field height
  src/components/ha-picker-field.ts
Labels: cla-signed

#25626 Improve search in add automation element dialog
  src/panels/config/automation/add-automation-element-dialog.ts
Labels: cla-signed

#25625 Put item at the top of picker result if there is an exact match with entity id
  src/components/entity/ha-entity-picker.ts
  src/components/entity/ha-statistic-picker.ts
  src/components/ha-generic-picker.ts
  src/components/ha-picker-combo-box.ts
Labels: cla-signed

#25634 Use theme variables for network graph labels
  src/components/chart/ha-chart-base.ts
Labels: cla-signed

#25638 Spelling fixes
  src/translations/en.json
Labels: cla-signed

#25647 Add cyrilic letters to slugify()
  src/common/string/slugify.ts
Labels: cla-signed

#25643 Revert #25027 "more-info-camera: disable download_snapshot if idle"
  src/dialogs/more-info/controls/more-info-camera.ts
Labels: cla-signed

#25652 fix line height entity card
  src/panels/lovelace/cards/hui-entity-card.ts
Labels: cla-signed

#25653 Add label to collapse button in data table groups
  src/components/data-table/ha-data-table.ts
  src/translations/en.json
Labels: cla-signed

#25063 Fix "unavailable" state in Area card
  src/panels/lovelace/cards/hui-area-card.ts
Labels: cla-signed
