Repository home-assistant/frontend, pull requests merged in 2025-03, with the labels that each got.

#23746 Add model_id filter to device selector
  src/data/selector.ts
Labels: cla-signed, backend merged

#24480 Update currency for Zambia
  src/data/currency.ts
Labels: cla-signed

#24476 Fix inconsistent color picker height across browsers
  src/components/ha-textfield.ts
Labels: cla-signed

#24486 Use fire-event for copy, cut and duplicate
  src/panels/lovelace/components/hui-card-edit-mode.ts
  src/panels/lovelace/components/hui-card-options.ts
  src/panels/lovelace/sections/hui-grid-section.ts
  src/panels/lovelace/sections/hui-section.ts
  src/panels/lovelace/views/hui-view.ts
Labels: cla-signed

#24492 Include name and version in already connected dialog if present
  src/panels/config/cloud/dialog-cloud-already-connected/dialog-cloud-already-connected.ts
  src/panels/config/cloud/dialog-cloud-already-connected/show-dialog-cloud-already-connected.ts
  src/translations/en.json
Labels: cla-signed

#24497 Remove brackets
  src/panels/config/cloud/dialog-cloud-already-connected/dialog-cloud-already-connected.ts
Labels: cla-signed

#24484 Tweak legend expand/collapse button
  src/components/chart/ha-chart-base.ts
Labels: cla-signed

#24463 Add panel to show Bluetooth connection overview
  src/data/bluetooth.ts
  src/panels/config/integrations/integration-panels/bluetooth/bluetooth-config-dashboard-router.ts
  src/panels/config/integrations/integration-panels/bluetooth/bluetooth-config-dashboard.ts
  src/panels/config/integrations/integration-panels/bluetooth/bluetooth-connection-monitor.ts
  src/translations/en.json
Labels: cla-signed

#24509 Avoid URL and email fields getting masked in add-on config view
  hassio/src/addon-view/config/hassio-addon-config.ts
Labels: cla-signed, Supervisor

#24507 Show script description in the more info dialog
  src/dialogs/more-info/controls/more-info-script.ts
Labels: cla-signed

#24511 Support continue conversation in Assist dialog
  src/components/ha-assist-chat.ts
  src/data/conversation.ts
Labels: cla-signed

#24501 No integer validation on ha-form-float
  src/components/ha-form/ha-form-float.ts
Labels: cla-signed

#24514 Remove touch action none for toggle feature
  src/panels/lovelace/card-features/hui-toggle-card-feature.ts
Labels: cla-signed

#24470 Remember hidden energy devices from storage
  src/components/chart/ha-chart-base.ts
Labels: cla-signed

#24494 Set chart axis pointer line to --info-color
  src/components/chart/ha-chart-base.ts
Labels: cla-signed

#24519 Fix height of chart legend
  src/components/chart/ha-chart-base.ts
  src/panels/lovelace/cards/hui-history-graph-card.ts
Labels: cla-signed

#24523 Ignore excessive keydown events in charts
  src/components/chart/ha-chart-base.ts
Labels: cla-signed

#24493 Landingpage add core checks before show errors
  landing-page/src/components/landing-page-logs.ts
  landing-page/src/components/landing-page-network.ts
  landing-page/src/data/supervisor.ts
  landing-page/src/ha-landing-page.ts
  src/common/util/wait.ts
  src/data/hassio/network.ts
Labels: cla-signed

#24530 Only recreate stack editor when the type or index change
  src/panels/lovelace/editor/config-elements/hui-stack-card-editor.ts
Labels: cla-signed

#24551 Update country picker dialog in onboarding
  src/components/ha-country-picker.ts
  src/onboarding/onboarding-core-config.ts
  src/translations/en.json
Labels: cla-signed

#24490 Add missing margin to protection mode alert in addon info panel.
  hassio/src/addon-view/info/hassio-addon-info.ts
Labels: cla-signed, Supervisor

#24554 Show statistics in history card on first load
  src/panels/lovelace/cards/hui-history-graph-card.ts
Labels: cla-signed

#24563 Fix some issues with energy period update scheduling
  src/data/energy.ts
Labels: cla-signed

#24567 Add some type checking to demo
  demo/src/stubs/config.ts
  demo/src/stubs/config_entries.ts
  src/fake_data/provide_hass.ts
Labels: cla-signed, Demo, Design

#24580 Make element-preview sticky
  src/panels/lovelace/editor/card-editor/hui-dialog-edit-card.ts
Labels: cla-signed

#24579 Perform action in slider and switch if it's a long press
  src/components/ha-control-slider.ts
  src/components/ha-control-switch.ts
Labels: cla-signed

#24587 Rename entity filter to entity domain filter
  src/common/entity/entity_domain_filter.ts
  src/data/cloud.ts
  src/panels/config/voice-assistants/cloud-alexa-pref.ts
  src/panels/config/voice-assistants/cloud-google-pref.ts
  src/panels/config/voice-assistants/entity-voice-settings.ts
  src/panels/config/voice-assistants/ha-config-voice-assistants-expose.ts
  test/common/entity/entity_domain_filter.test.ts
Labels: cla-signed

#24087 Update ZHA device websocket API types
  src/data/zha.ts
Labels: cla-signed

#24581 Disable energy distribution animation if `prefers-reduced-motion` is set
  src/panels/lovelace/cards/energy/hui-energy-distribution-card.ts
Labels: cla-signed

#24597 Use proper capitalization for "WPA-PSK"
  src/translations/en.json
Labels: cla-signed

#24566 Simplify CO2Signal check
  src/data/energy.ts
Labels: cla-signed

#24604 Increase core start seconds
  landing-page/src/ha-landing-page.ts
Labels: cla-signed

#24602 Fix issues with develop and serve
  build-scripts/bundle.cjs
  build-scripts/gulp/entry-html.js
  src/components/ha-hls-player.ts
  src/components/ha-picture-upload.ts
  src/components/user/ha-person-badge.ts
  src/components/user/ha-user-badge.ts
  src/data/backup_onboarding.ts
  src/data/hassio/backup.ts
  src/data/image_upload.ts
  src/data/onboarding.ts
  src/html/_header.html.template
  src/html/authorize.html.template
  src/html/index.html.template
  src/html/onboarding.html.template
  test/data/image_upload.test.ts
Labels: cla-signed, Build

#24606 Energy self sufficiency gauge needs grid consumption
  src/panels/energy/strategies/energy-view-strategy.ts
Labels: cla-signed

#23811 Unified safe area (insets) for Android and iOS
  demo/src/html/index.html.template
  hassio/src/dashboard/hassio-dashboard.ts
  hassio/src/dialogs/network/dialog-hassio-network.ts
  src/components/ha-dialog.ts
  src/components/ha-md-dialog.ts
  src/components/ha-sidebar.ts
  src/components/ha-toast.ts
  src/dialogs/more-info/controls/more-info-update.ts
  src/dialogs/more-info/ha-more-info-info.ts
  src/dialogs/notifications/notification-drawer.ts
  src/html/index.html.template
  src/layouts/hass-subpage.ts
  src/layouts/hass-tabs-subpage-data-table.ts
  src/layouts/hass-tabs-subpage.ts
  src/layouts/home-assistant-main.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/backup/components/overview/ha-backup-overview-backups.ts
  src/panels/config/core/ha-config-section-updates.ts
  src/panels/config/core/ha-config-system-navigation.ts
  src/panels/config/dashboard/ha-config-dashboard.ts
  src/panels/config/devices/device-detail/integration-elements/mqtt/dialog-mqtt-device-debug-info.ts
  src/panels/config/entities/entity-registry-settings.ts
  src/panels/config/info/ha-config-info.ts
  src/panels/config/integrations/integration-panels/matter/dialog-matter-add-device.ts
  src/panels/config/repairs/ha-config-repairs-dashboard.ts
  src/panels/config/scene/ha-scene-editor.ts
  src/panels/config/script/ha-script-editor.ts
  src/panels/config/voice-assistants/dialog-expose-entity.ts
  src/panels/config/zone/dialog-home-zone-detail.ts
  src/panels/config/zone/dialog-zone-detail.ts
  src/panels/developer-tools/action/developer-tools-action.ts
  src/panels/developer-tools/assist/developer-tools-assist.ts
  src/panels/developer-tools/event/developer-tools-event.ts
  src/panels/developer-tools/ha-panel-developer-tools.ts
  src/panels/developer-tools/state/developer-tools-state.ts
  src/panels/developer-tools/statistics/developer-tools-statistics.ts
  src/panels/developer-tools/template/developer-tools-template.ts
  src/panels/developer-tools/yaml_configuration/developer-yaml-config.ts
  src/panels/energy/ha-panel-energy.ts
  src/panels/history/ha-panel-history.ts
  src/panels/lovelace/editor/unused-entities/hui-unused-entities.ts
  src/panels/lovelace/hui-root.ts
  src/panels/lovelace/views/hui-masonry-view.ts
  src/panels/lovelace/views/hui-panel-view.ts
  src/panels/lovelace/views/hui-sidebar-view.ts
  src/panels/media-browser/ha-bar-media-player.ts
  src/panels/profile/ha-profile-section-general.ts
  src/panels/profile/ha-profile-section-security.ts
  src/resources/styles.ts
Labels: cla-signed, Supervisor, Demo

#24582 Add foundation for areas dashboard strategy
  src/common/entity/context/get_entity_context.ts
  src/common/entity/entity_filter.ts
  src/panels/lovelace/strategies/area/area-view-strategy.ts
  src/panels/lovelace/strategies/areas/areas-dashboard-strategy.ts
  src/panels/lovelace/strategies/areas/areas-view-strategy.ts
  src/panels/lovelace/strategies/get-strategy.ts
Labels: cla-signed

#24351 Fix logbook keeps loading
  src/data/logbook.ts
  src/panels/logbook/ha-logbook.ts
Labels: cla-signed

#24628 Fix `short_weekdays::sun` in Backup settings
  src/translations/en.json
Labels: cla-signed

#24627 Fix accessibility in add helper dialog
  src/panels/config/helpers/dialog-helper-detail.ts
Labels: cla-signed, Accessibility

#24620 Add yaml option to disable iFrame sandbox to embed PDFs
  src/panels/lovelace/cards/hui-iframe-card.ts
  src/panels/lovelace/cards/types.ts
Labels: cla-signed

#24277 Backup/Restore NVM in Z-WaveJS dashboard
  src/data/zwave_js.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-config-dashboard.ts
  src/translations/en.json
Labels: cla-signed, integration: zwave_js

#24642 Handle short form hex colors in conversion functions
  src/common/color/convert-color.ts
  test/common/color/convert-color.test.ts
Labels: cla-signed

#24645 Fix describing device conditions in trace viewer
  src/components/trace/ha-trace-path-details.ts
Labels: cla-signed

#24654 Save preferred energy period in localStorage
  src/common/datetime/calc_date_range.ts
  src/components/ha-date-range-picker.ts
  src/data/energy.ts
  src/panels/lovelace/components/hui-energy-period-selector.ts
Labels: cla-signed

#24658 Fix for 0 values in line chart tooltip
  src/components/chart/state-history-chart-line.ts
Labels: cla-signed

#24660 Fix update list item spinner
  src/panels/config/dashboard/ha-config-updates.ts
Labels: cla-signed

#24643 Show hide create option in todo card editor
  src/panels/lovelace/editor/config-elements/hui-todo-list-editor.ts
  src/translations/en.json
Labels: cla-signed

#24635 Add leading icon slot to expansion panel and fix left-chevron property
  gallery/src/pages/components/ha-expansion-panel.ts
  src/components/ha-expansion-panel.ts
  src/components/ha-filter-blueprints.ts
  src/components/ha-filter-categories.ts
  src/components/ha-filter-devices.ts
  src/components/ha-filter-domains.ts
  src/components/ha-filter-entities.ts
  src/components/ha-filter-floor-areas.ts
  src/components/ha-filter-integrations.ts
  src/components/ha-filter-labels.ts
  src/components/ha-filter-states.ts
  src/components/ha-form/ha-form-expandable.ts
  src/components/ha-service-control.ts
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/panels/config/automation/option/ha-automation-option-row.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/panels/config/blueprint/blueprint-generic-editor.ts
  src/panels/config/script/ha-script-field-row.ts
  src/panels/lovelace/editor/conditions/ha-card-condition-editor.ts
  src/panels/lovelace/editor/config-elements/config-elements-style.ts
  src/panels/lovelace/editor/config-elements/hui-heading-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-humidifier-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-thermostat-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-tile-card-editor.ts
  src/panels/lovelace/editor/heading-badge-editor/hui-entity-heading-badge-editor.ts
Labels: cla-signed, Design

#24663 Display all entities in the areas strategy overview
  src/common/entity/entity_filter.ts
  src/panels/lovelace/strategies/area/area-view-strategy.ts
  src/panels/lovelace/strategies/areas/areas-dashboard-strategy.ts
  src/panels/lovelace/strategies/areas/areas-view-strategy.ts
Labels: cla-signed

#24619 Add area dashboard settings
  src/common/entity/context/get_area_context.ts
  src/common/entity/entity_filter.ts
  src/components/ha-area-filter.ts
  src/components/ha-areas-display-editor.ts
  src/components/ha-items-display-editor.ts
  src/components/ha-selector/ha-selector-areas-display.ts
  src/components/ha-selector/ha-selector.ts
  src/data/selector.ts
  src/dialogs/area-filter/area-filter-dialog.ts
  src/dialogs/area-filter/show-area-filter-dialog.ts
  src/panels/config/dashboard/dialog-new-dashboard.ts
  src/panels/lovelace/common/generate-lovelace-config.ts
  src/panels/lovelace/editor/dashboard-strategy-editor/dialogs/dialog-dashboard-strategy-editor.ts
  src/panels/lovelace/editor/dashboard-strategy-editor/hui-original-states-dashboard-strategy-editor.ts
  src/panels/lovelace/strategies/area/area-view-strategy.ts
  src/panels/lovelace/strategies/areas/areas-dashboard-strategy.ts
  src/panels/lovelace/strategies/areas/areas-view-strategy.ts
  src/panels/lovelace/strategies/areas/editor/hui-areas-dashboard-strategy-editor.ts
  src/panels/lovelace/strategies/areas/helpers/areas-strategy-helpers.ts
  src/panels/lovelace/strategies/original-states/original-states-view-strategy.ts
  src/translations/en.json
Labels: cla-signed

#24672 Fix energy units
  src/data/energy.ts
  src/panels/energy/ha-panel-energy.ts
  src/panels/lovelace/cards/energy/hui-energy-distribution-card.ts
  src/panels/lovelace/cards/energy/hui-energy-gas-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-sources-table-card.ts
Labels: cla-signed

#24603 Fix behavior of select dropdowns when options change
  src/components/ha-control-select-menu.ts
  src/components/ha-select.ts
  src/panels/lovelace/card-features/hui-select-options-card-feature.ts
  src/panels/lovelace/entity-rows/hui-input-select-entity-row.ts
  src/panels/lovelace/entity-rows/hui-select-entity-row.ts
  src/state-summary/state-card-input_select.ts
  src/state-summary/state-card-select.ts
Labels: cla-signed

#24674 developer-tools-template: allow "select" for ha-alert
  src/panels/developer-tools/template/developer-tools-template.ts
Labels: cla-signed

#24669 Add shoelace z-index value
  src/components/ha-tooltip.ts
Labels: cla-signed

#24679 integrations-startup-time: set "border-radius: 0" for "img"
  src/panels/config/repairs/integrations-startup-time.ts
Labels: cla-signed

#24683 history-graph: do not set "max-width" for a single legend item
  src/components/chart/ha-chart-base.ts
Labels: cla-signed

#24691 Rename last_non_idle_event to last_action_event
  src/data/backup.ts
  src/data/backup_onboarding.ts
  src/onboarding/onboarding-restore-backup.ts
  src/onboarding/restore-backup/onboarding-restore-backup-status.ts
Labels: cla-signed

#24677 Add entities filtering and reordering for areas strategy dashboard
  src/common/string/compare.ts
  src/components/ha-areas-display-editor.ts
  src/components/ha-entities-display-editor.ts
  src/components/ha-items-display-editor.ts
  src/panels/lovelace/strategies/areas/area-view-strategy.ts
  src/panels/lovelace/strategies/areas/areas-dashboard-strategy.ts
  src/panels/lovelace/strategies/areas/areas-view-strategy.ts
  src/panels/lovelace/strategies/areas/editor/hui-areas-dashboard-strategy-editor.ts
  src/panels/lovelace/strategies/areas/helpers/area-strategy-helper.ts
  src/panels/lovelace/strategies/get-strategy.ts
Labels: cla-signed

#24690 Area dashboard improvement
  src/common/entity/entity_filter.ts
  src/panels/lovelace/strategies/areas/area-view-strategy.ts
  src/panels/lovelace/strategies/areas/areas-view-strategy.ts
  src/panels/lovelace/strategies/areas/helpers/area-strategy-helper.ts
Labels: cla-signed

#24701 Update project metadata for PEP 639
  pyproject.toml
Labels: cla-signed

#24702 Remove old setuptools keys from metadata
  pyproject.toml
Labels: cla-signed

#24700 Area strategy fixes
  src/panels/lovelace/strategies/areas/area-view-strategy.ts
  src/panels/lovelace/strategies/areas/areas-dashboard-strategy.ts
  src/panels/lovelace/strategies/areas/areas-overview-view-strategy.ts
  src/panels/lovelace/strategies/areas/editor/hui-areas-dashboard-strategy-editor.ts
  src/panels/lovelace/strategies/areas/helpers/areas-strategy-helper.ts
  src/panels/lovelace/strategies/areas/helpers/areas-strategy-helpers.ts
  src/panels/lovelace/strategies/get-strategy.ts
Labels: cla-signed

#24687 Fix race condition when saving url config
  src/panels/config/network/ha-config-url-form.ts
Labels: cla-signed

#24743 Show cameras on 2 rows in areas strategy
  src/panels/lovelace/strategies/areas/helpers/areas-strategy-helper.ts
Labels: cla-signed

#24749 fix validate-condition: unavailable -> unknown
  src/panels/lovelace/common/validate-condition.ts
Labels: cla-signed

#24688 Update tsparticles to use new repo
  package.json
  renovate.json
  src/resources/particles.ts
  yarn.lock
Labels: cla-signed

#23185 Support for hierarchy of individual energy devices
  src/data/energy.ts
  src/panels/config/energy/components/ha-energy-device-settings.ts
  src/panels/config/energy/dialogs/dialog-energy-device-settings.ts
  src/panels/config/energy/dialogs/show-dialogs-energy.ts
  src/panels/lovelace/cards/energy/hui-energy-devices-detail-graph-card.ts
  src/translations/en.json
Labels: cla-signed, WTH, panel: energy

#24716 Short-format numbers in energy-distribution-card
  src/data/energy.ts
  src/panels/lovelace/cards/energy/hui-energy-distribution-card.ts
  test/data/energy.test.ts
Labels: cla-signed

#24707 Add hold and double tap actions in hui-entity-heading-badge
  src/panels/lovelace/editor/heading-badge-editor/hui-entity-heading-badge-editor.ts
  src/panels/lovelace/heading-badges/hui-entity-heading-badge.ts
Labels: cla-signed

#24731 dialog-media-player-browse: fix height
  src/components/media-player/dialog-media-player-browse.ts
Labels: cla-signed

#24730 ha-config-devices-dashboard: add "disabled" column
  src/panels/config/devices/ha-config-devices-dashboard.ts
Labels: cla-signed

#24739 Device page: use different prompts for "device = enabled" & "device = disabled" cases
  src/panels/config/devices/ha-config-device-page.ts
  src/translations/en.json
Labels: cla-signed

#24733 Process expandable initial data also for none required expandables
  src/components/ha-form/compute-initial-ha-form-data.ts
  src/dialogs/config-flow/step-flow-form.ts
Labels: cla-signed

#24760 Fix state display mixin
  src/state/state-display-mixin.ts
Labels: cla-signed

#24759 Save login after onboarding
  src/layouts/home-assistant.ts
  src/onboarding/ha-onboarding.ts
Labels: cla-signed

#24738 Use ha-md-button-menu in tabs subpage data table
  src/layouts/hass-tabs-subpage-data-table.ts
Labels: cla-signed

#24757 Improve strategy editor
  src/panels/lovelace/editor/dashboard-strategy-editor/dialogs/dialog-dashboard-strategy-editor.ts
  src/panels/lovelace/editor/dashboard-strategy-editor/dialogs/show-dialog-dashboard-strategy-editor.ts
  src/panels/lovelace/hui-root.ts
Labels: cla-signed

#24772 Fix selector filtering for entity not in state machine
  src/data/selector.ts
Labels: cla-signed

#24722 Dev tools -> yaml: use "pre" instead of "span" for "validate-log"
  src/panels/developer-tools/yaml_configuration/developer-yaml-config.ts
Labels: cla-signed

#24712 computeAttributeValueDisplay: process "undefined" like "null"
  src/common/entity/compute_attribute_display.ts
Labels: cla-signed

#24708 Add "label_mode = attribute" for Map card
  src/components/map/ha-map.ts
  src/panels/lovelace/cards/hui-map-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/editor/config-elements/hui-map-card-editor.ts
Labels: cla-signed

#24713 dev-tools-template: allow "select" for whole right panel (except header)
  src/panels/developer-tools/template/developer-tools-template.ts
Labels: cla-signed

#24773 fix cloud login mfa inProgress
  src/panels/config/cloud/login/cloud-login.ts
Labels: cla-signed

#24777 Restore scroll position when using back navigation in dashboard
  src/panels/lovelace/hui-root.ts
Labels: cla-signed

#24780 Fix device config tooltips
  src/panels/config/devices/ha-config-device-page.ts
Labels: cla-signed

#24783 Dont show quality scale for custom integrations
  src/panels/config/integrations/ha-config-integration-page.ts
Labels: cla-signed

#24754 Add optional interaction for cards (hold, double tap) in the UI
  src/components/ha-form/ha-form-optional_actions.ts
  src/components/ha-form/ha-form.ts
  src/components/ha-form/types.ts
  src/panels/lovelace/editor/config-elements/hui-entity-badge-editor.ts
  src/panels/lovelace/editor/config-elements/hui-tile-card-editor.ts
  src/panels/lovelace/editor/heading-badge-editor/hui-entity-heading-badge-editor.ts
  src/panels/lovelace/heading-badges/hui-entity-heading-badge.ts
  src/panels/lovelace/heading-badges/types.ts
  src/translations/en.json
Labels: cla-signed

#24737 Allow passing data as template in devtools/action
  src/panels/developer-tools/action/developer-tools-action.ts
Labels: cla-signed

#24775 Move compatibility to static polyfill handling
  build-scripts/bundle.cjs
  build-scripts/gulp/gather-static.js
  build-scripts/rspack.cjs
  demo/src/ha-demo.ts
  hassio/src/entrypoint.ts
  src/common/feature-detect/support-web-components.ts
  src/entrypoints/app.ts
  src/entrypoints/authorize.ts
  src/entrypoints/custom-panel.ts
  src/entrypoints/onboarding.ts
  src/html/_js_base.html.template
  src/resources/compatibility.ts
Labels: cla-signed, Supervisor, Build, Demo

#24697 style changes to the zigbee graph, without touching the physics
  src/panels/config/integrations/integration-panels/zha/zha-network-visualization-page.ts
Labels: cla-signed

#24769 Add hidden "entity_id" column to "Settings -> Automations"
  src/panels/config/automation/ha-automation-picker.ts
Labels: cla-signed

#24766 Remove "filterable" from "created_at", "modified_at", "battery_entity" from data tables
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/labels/ha-config-labels.ts
Labels: cla-signed

#24758 Statistics: Add support for mean type
  src/data/recorder.ts
  src/panels/developer-tools/statistics/developer-tools-statistics.ts
  src/panels/developer-tools/statistics/dialog-statistics-fix.ts
  src/panels/lovelace/editor/config-elements/hui-statistic-card-editor.ts
  src/translations/en.json
Labels: cla-signed, backend merged

#24750 Update voice wizard
  src/components/ha-language-picker.ts
  src/data/conversation.ts
  src/data/wyoming.ts
  src/dialogs/voice-assistant-setup/voice-assistant-setup-dialog.ts
  src/dialogs/voice-assistant-setup/voice-assistant-setup-step-local.ts
  src/dialogs/voice-assistant-setup/voice-assistant-setup-step-pipeline.ts
  src/state/quick-bar-mixin.ts
  src/translations/en.json
Labels: cla-signed

#21951 Separate entity, device and area name in more info dialog header
  build-scripts/rspack.cjs
  src/common/entity/compute_area_name.ts
  src/common/entity/compute_device_name.ts
  src/common/entity/compute_entity_name.ts
  src/common/entity/compute_floor_name.ts
  src/common/entity/get_area_context.ts
  src/common/entity/get_device_context.ts
  src/common/entity/get_entity_context.ts
  src/common/entity/strip_prefix_from_entity_name.ts
  src/components/device/ha-device-picker.ts
  src/components/ha-filter-devices.ts
  src/components/ha-target-picker.ts
  src/data/device_registry.ts
  src/data/entity_registry.ts
  src/data/script_i18n.ts
  src/dialogs/config-flow/step-flow-create-entry.ts
  src/dialogs/more-info/ha-more-info-dialog.ts
  src/dialogs/quick-bar/ha-quick-bar.ts
  src/panels/config/areas/ha-config-area-page.ts
  src/panels/config/dashboard/ha-config-updates.ts
  src/panels/config/devices/device-detail/ha-device-entities-card.ts
  src/panels/config/devices/device-detail/ha-device-info-card.ts
  src/panels/config/devices/device-detail/ha-device-via-devices-card.ts
  src/panels/config/devices/device-detail/integration-elements/mqtt/dialog-mqtt-device-debug-info.ts
  src/panels/config/devices/device-registry-detail/dialog-device-registry-detail.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/panels/config/integrations/integration-panels/zwave_js/dialog-zwave_js-node-statistics.ts
  src/panels/config/integrations/integration-panels/zwave_js/dialog-zwave_js-rebuild-node-routes.ts
  src/panels/config/integrations/integration-panels/zwave_js/dialog-zwave_js-update-firmware-node.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-node-config.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-node-installer.ts
  src/panels/config/scene/ha-scene-editor.ts
  src/panels/config/voice-assistants/assist/ha-config-voice-assistants-assist-devices.ts
  src/state-display/state-display.ts
  src/state/connection-mixin.ts
Labels: cla-signed, backend merged, Build

#24599 Add simple clock card
  src/panels/lovelace/cards/hui-clock-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/create-element/create-card-element.ts
  src/panels/lovelace/editor/config-elements/hui-clock-card-editor.ts
  src/panels/lovelace/editor/lovelace-cards.ts
  src/translations/en.json
Labels: cla-signed

#24786 Fix typo in Arithmetic
  src/data/recorder.ts
  src/translations/en.json
Labels: cla-signed

#24789 Fix more info for disabled entities
  src/common/entity/get_entity_context.ts
  src/dialogs/more-info/ha-more-info-dialog.ts
Labels: cla-signed

#24795 Revert "Restore scroll position when using back navigation in dashboard"
  src/panels/lovelace/hui-root.ts
Labels: cla-signed

#24787 Remove fixed height in ha tile info
  src/components/tile/ha-tile-info.ts
Labels: cla-signed

#24800 Fix take control of the dashboard
  cast/src/receiver/layout/hc-main.ts
  src/panels/lovelace/ha-panel-lovelace.ts
  src/panels/lovelace/sections/hui-section.ts
  src/panels/lovelace/strategies/get-strategy.ts
  src/panels/lovelace/views/hui-view.ts
Labels: cla-signed, Cast

#24796 Align behavior of template selector with text selector
  src/components/ha-selector/ha-selector-template.ts
Labels: cla-signed

#24801 Energy device settings fixes
  src/panels/config/energy/components/ha-energy-device-settings.ts
  src/panels/config/energy/dialogs/dialog-energy-device-settings.ts
  src/translations/en.json
Labels: cla-signed

#24802 Set the max number of columns to 3 for area dashboard
  src/panels/lovelace/strategies/areas/area-view-strategy.ts
  src/panels/lovelace/strategies/areas/areas-overview-view-strategy.ts
Labels: cla-signed, Needs UX

#24805 Fallback to state name when the entry doesn't have name
  src/common/entity/compute_entity_name.ts
  src/dialogs/more-info/ha-more-info-dialog.ts
Labels: cla-signed

#24808 Fix dashboard strategy
  src/panels/lovelace/strategies/get-strategy.ts
Labels: cla-signed

#24820 Show hardware integrations in the integration list
  src/panels/config/integrations/ha-config-integrations.ts
Labels: cla-signed

#24821 Fix hide clear icon of entity picker
  src/components/entity/ha-entity-picker.ts
  src/components/ha-combo-box.ts
Labels: cla-signed

#24822 Add scroll restoration when using back navigation in dashboard
  src/panels/lovelace/hui-root.ts
Labels: cla-signed

#24824 Add hold and double tap action in the UI for every card that supports it.
  src/panels/lovelace/cards/hui-button-card.ts
  src/panels/lovelace/cards/hui-picture-card.ts
  src/panels/lovelace/cards/hui-picture-entity-card.ts
  src/panels/lovelace/cards/hui-picture-glance-card.ts
  src/panels/lovelace/editor/config-elements/elements/hui-icon-element-editor.ts
  src/panels/lovelace/editor/config-elements/elements/hui-image-element-editor.ts
  src/panels/lovelace/editor/config-elements/elements/hui-state-badge-element-editor.ts
  src/panels/lovelace/editor/config-elements/elements/hui-state-icon-element-editor.ts
  src/panels/lovelace/editor/config-elements/elements/hui-state-label-element-editor.ts
  src/panels/lovelace/editor/config-elements/hui-button-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-gauge-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-light-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-picture-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-picture-entity-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-picture-glance-card-editor.ts
  src/panels/lovelace/elements/hui-icon-element.ts
  src/panels/lovelace/elements/hui-image-element.ts
  src/panels/lovelace/elements/hui-state-badge-element.ts
  src/panels/lovelace/elements/hui-state-icon-element.ts
  src/panels/lovelace/elements/hui-state-label-element.ts
Labels: cla-signed

#24827 Do not play pre-announce sound when testing voice on satellite
  src/data/assist_satellite.ts
  src/dialogs/voice-assistant-setup/voice-assistant-setup-step-success.ts
Labels: cla-signed

#24825 Fix voice flow
  src/dialogs/voice-assistant-setup/voice-assistant-setup-step-local.ts
  src/dialogs/voice-assistant-setup/voice-assistant-setup-step-pipeline.ts
  src/translations/en.json
Labels: cla-signed

#24828 Hide backup from default dashboard
  src/panels/lovelace/common/generate-lovelace-config.ts
Labels: cla-signed

#24829 Update text voice wizard install addons step
  src/translations/en.json
Labels: cla-signed

#24819 Fix default time_format option. Fixes #24798
  src/panels/lovelace/editor/config-elements/hui-clock-card-editor.ts
  src/translations/en.json
Labels: cla-signed

#24830 More info breadcrumb clickable
  src/components/ha-related-items.ts
  src/dialogs/more-info/ha-more-info-dialog.ts
Labels: cla-signed

#24818 Add title and time zone to clock card
  src/panels/lovelace/cards/hui-clock-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/editor/config-elements/hui-clock-card-editor.ts
  src/translations/en.json
Labels: cla-signed

#24832 Remove add-on word in satellite wizard translations for state
  src/translations/en.json
Labels: cla-signed

#24834 Update lang support text in voice wizard
  src/translations/en.json
Labels: cla-signed

#24836 Only use button for breadcrumb for admin users
  src/dialogs/more-info/ha-more-info-dialog.ts
Labels: cla-signed

#24835 Name local pipeline based on local or full choice
  src/dialogs/voice-assistant-setup/voice-assistant-setup-step-local.ts
  src/translations/en.json
Labels: cla-signed

#24840 Fix inner border radius for disabled bar in automation/script rows
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/panels/config/script/ha-script-field-row.ts
  src/panels/lovelace/editor/conditions/ha-card-condition-editor.ts
Labels: cla-signed

#24854 Bar charts start from 0
  src/components/chart/statistics-chart.ts
Labels: cla-signed

#24866 Take lang into account when search existing pipeline
  src/dialogs/voice-assistant-setup/voice-assistant-setup-step-local.ts
  src/dialogs/voice-assistant-setup/voice-assistant-setup-step-pipeline.ts
Labels: cla-signed

#24865 Force clock card to display time LTR
  src/panels/lovelace/cards/hui-clock-card.ts
Labels: cla-signed

#24864 Add interactions for weather card editor
  src/panels/lovelace/editor/config-elements/hui-weather-forecast-card-editor.ts
Labels: cla-signed

#24868 Handle date range shift during daylight saving time days
  src/common/datetime/calc_date.ts
Labels: cla-signed

#24867 fix spinner in tts try dialog
  src/components/buttons/ha-progress-button.ts
  src/dialogs/tts-try/dialog-tts-try.ts
Labels: cla-signed

#24871 Fix add zwave device my link
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-add-node.ts
Labels: cla-signed

#24872 Properly sentence-case "assistant" / "pipeline"
  src/translations/en.json
Labels: cla-signed
