Repository home-assistant/frontend, pull requests merged in 2025-09, with the labels that each got.

#26806 Handle negative values in History chart card feature
  src/panels/lovelace/card-features/hui-history-chart-card-feature.ts
Labels: cla-signed

#26805 Enable drag and drop on mobile for automations
  src/panels/config/automation/action/ha-automation-action.ts
  src/panels/config/automation/condition/ha-automation-condition.ts
  src/panels/config/automation/option/ha-automation-option.ts
  src/panels/config/automation/paste-replace-dialog/dialog-paste-replace.ts
  src/panels/config/automation/trigger/ha-automation-trigger.ts
Labels: cla-signed

#26808 Update heading subtitle height to better fix grid
  src/panels/lovelace/cards/hui-heading-card.ts
Labels: cla-signed

#26775 Use summary card in home dashboard
  src/panels/lovelace/cards/hui-home-summary-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/create-element/create-card-element.ts
  src/panels/lovelace/strategies/home/home-main-view-strategy.ts
  src/translations/en.json
Labels: cla-signed

#26810 Fix automation sidebar z index
  src/panels/config/automation/ha-automation-sidebar.ts
Labels: cla-signed

#26815 Add automation testing logic to sidebar
  src/panels/config/automation/sidebar/ha-automation-sidebar-condition.ts
Labels: cla-signed

#26811 Force energy distribution to display the data of today
  src/panels/lovelace/strategies/home/home-main-view-strategy.ts
Labels: cla-signed

#26822 Change drag selected styling
  src/components/ha-automation-row.ts
  src/components/ha-items-display-editor.ts
Labels: cla-signed

#26762 Automation-keybindings
  src/components/ha-automation-row.ts
  src/dialogs/generic/dialog-box.ts
  src/mixins/keyboard-shortcut-mixin.ts
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/action/ha-automation-action.ts
  src/panels/config/automation/add-automation-element-dialog.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/panels/config/automation/condition/ha-automation-condition.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/automation/manual-automation-editor.ts
  src/panels/config/automation/option/ha-automation-option-row.ts
  src/panels/config/automation/option/ha-automation-option.ts
  src/panels/config/automation/sidebar/ha-automation-sidebar-action.ts
  src/panels/config/automation/sidebar/ha-automation-sidebar-condition.ts
  src/panels/config/automation/sidebar/ha-automation-sidebar-option.ts
  src/panels/config/automation/sidebar/ha-automation-sidebar-script-field-selector.ts
  src/panels/config/automation/sidebar/ha-automation-sidebar-script-field.ts
  src/panels/config/automation/sidebar/ha-automation-sidebar-trigger.ts
  src/panels/config/automation/styles.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/panels/config/automation/trigger/ha-automation-trigger.ts
  src/panels/config/script/ha-script-editor.ts
  src/panels/config/script/ha-script-field-row.ts
  src/panels/config/script/manual-script-editor.ts
  src/translations/en.json
Labels: cla-signed

#26826 prevent keyboard shortcuts with more modifier keys
  src/components/ha-automation-row.ts
  src/mixins/keyboard-shortcut-mixin.ts
Labels: cla-signed

#26829 Fix capitalization on data table filter button
  src/translations/en.json
Labels: cla-signed

#26823 Differentate service vs device in more-info link
  src/components/ha-related-items.ts
  src/dialogs/more-info/ha-more-info-dialog.ts
  src/translations/en.json
Labels: cla-signed

#26831 Home dashboard: Ensure temperature sensor entity exists
  src/panels/lovelace/cards/hui-home-summary-card.ts
Labels: cla-signed

#26830 Fix scrolling items in the bottom into view
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/panels/config/automation/manual-automation-editor.ts
  src/panels/config/automation/option/ha-automation-option-row.ts
  src/panels/config/automation/styles.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/panels/config/script/ha-script-field-row.ts
  src/panels/config/script/ha-script-fields.ts
  src/panels/config/script/manual-script-editor.ts
Labels: cla-signed

#26825 Add support for option descriptions in config flows
  src/dialogs/config-flow/show-dialog-config-flow.ts
  src/dialogs/config-flow/show-dialog-data-entry-flow.ts
  src/dialogs/config-flow/show-dialog-options-flow.ts
  src/dialogs/config-flow/show-dialog-sub-config-flow.ts
  src/dialogs/config-flow/step-flow-menu.ts
  src/panels/config/repairs/show-dialog-repair-flow.ts
Labels: cla-signed

#26837 Remove expand all/collapse all options from overflow
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/script/ha-script-editor.ts
Labels: cla-signed

#26839 Change home summaries color
  src/panels/lovelace/cards/hui-home-summary-card.ts
Labels: cla-signed

#26842 20250902.0
  pyproject.toml
  src/components/ha-automation-row.ts
  src/components/ha-bottom-sheet.ts
  src/components/ha-items-display-editor.ts
  src/components/ha-md-dialog.ts
  src/components/ha-related-items.ts
  src/components/ha-sortable.ts
  src/data/automation.ts
  src/dialogs/generic/dialog-box.ts
  src/dialogs/more-info/ha-more-info-dialog.ts
  src/dialogs/shortcuts/dialog-shortcuts.ts
  src/mixins/keyboard-shortcut-mixin.ts
  src/panels/config/automation/action/ha-automation-action-editor.ts
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/action/ha-automation-action.ts
  src/panels/config/automation/add-automation-element-dialog.ts
  src/panels/config/automation/condition/ha-automation-condition-editor.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/panels/config/automation/condition/ha-automation-condition.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/automation/ha-automation-sidebar.ts
  src/panels/config/automation/manual-automation-editor.ts
  src/panels/config/automation/option/ha-automation-option-row.ts
  src/panels/config/automation/option/ha-automation-option.ts
  src/panels/config/automation/paste-replace-dialog/dialog-paste-replace.ts
  src/panels/config/automation/sidebar/ha-automation-sidebar-action.ts
  src/panels/config/automation/sidebar/ha-automation-sidebar-card.ts
  src/panels/config/automation/sidebar/ha-automation-sidebar-condition.ts
  src/panels/config/automation/sidebar/ha-automation-sidebar-option.ts
  src/panels/config/automation/sidebar/ha-automation-sidebar-script-field-selector.ts
  src/panels/config/automation/sidebar/ha-automation-sidebar-script-field.ts
  src/panels/config/automation/sidebar/ha-automation-sidebar-trigger.ts
  src/panels/config/automation/styles.ts
  src/panels/config/automation/trigger/ha-automation-trigger-editor.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/panels/config/automation/trigger/ha-automation-trigger.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-tag.ts
  src/panels/config/script/ha-script-editor.ts
  src/panels/config/script/ha-script-field-editor.ts
  src/panels/config/script/ha-script-field-row.ts
  src/panels/config/script/ha-script-field-selector-editor.ts
  src/panels/config/script/ha-script-fields.ts
  src/panels/config/script/manual-script-editor.ts
  src/panels/lovelace/card-features/hui-history-chart-card-feature.ts
  src/panels/lovelace/cards/hui-heading-card.ts
  src/panels/lovelace/cards/hui-home-summary-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/create-element/create-card-element.ts
  src/panels/lovelace/hui-root.ts
  src/panels/lovelace/strategies/areas/helpers/areas-strategy-helper.ts
  src/panels/lovelace/strategies/home/home-climate-view-strategy.ts
  src/panels/lovelace/strategies/home/home-main-view-strategy.ts
  src/panels/lovelace/strategies/home/home-security-view-strategy.ts
  src/resources/theme/color/color.globals.ts
  src/translations/en.json
Labels: cla-signed

#26843 20250902.1
  pyproject.toml
  src/panels/lovelace/card-features/hui-history-chart-card-feature.ts
  src/panels/lovelace/components/hui-graph-base.ts
Labels: cla-signed

#26847 Show scanner-type-specific power cycle instructions in Bluetooth UI
  src/data/bluetooth.ts
  src/panels/config/integrations/integration-panels/bluetooth/bluetooth-config-dashboard.ts
  src/translations/en.json
Labels: cla-signed

#26850 Fix automation narrow bottom sheet close animation
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/panels/config/automation/ha-automation-sidebar.ts
  src/panels/config/automation/manual-automation-editor.ts
  src/panels/config/automation/option/ha-automation-option-row.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/panels/config/script/ha-script-field-row.ts
  src/panels/config/script/manual-script-editor.ts
Labels: cla-signed

#26855 Dont align with clipboard on copy/cut automation item
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/panels/config/automation/manual-automation-editor.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
Labels: cla-signed

#26856 Home dashboard: Climate fix
  src/panels/lovelace/strategies/home/home-climate-view-strategy.ts
Labels: cla-signed

#26861 Do not allow filtering by automation labels on mobile
  src/panels/config/automation/ha-automation-picker.ts
Labels: cla-signed

#26764 Fix weather more info forecast layout jump when loading data
  src/dialogs/more-info/controls/more-info-weather.ts
Labels: cla-signed

#26229 Pass first weekday to recorder/statistic_during_period
  src/data/recorder.ts
Labels: cla-signed

#26400 Add MCF as another volume unit
  src/data/recorder.ts
Labels: cla-signed

#26863 Display area with only sensors in climate view in home dashboard
  src/panels/lovelace/strategies/home/home-climate-view-strategy.ts
  src/panels/lovelace/strategies/home/home-lights-view-strategy.ts
  src/panels/lovelace/strategies/home/home-media-players-view-strategy.ts
  src/panels/lovelace/strategies/home/home-security-view-strategy.ts
Labels: cla-signed

#26878 Fix highlighting issue in Energy Sankey card
  src/panels/lovelace/cards/energy/hui-energy-sankey-card.ts
Labels: cla-signed

#26865 Translate del in shortcut dialog
  src/dialogs/shortcuts/dialog-shortcuts.ts
  src/translations/en.json
Labels: cla-signed

#26908 Remove an unused translation
  src/translations/en.json
Labels: cla-signed

#26929 Fix condition action in config flow dialog
  src/panels/config/automation/action/types/ha-automation-action-condition.ts
Labels: cla-signed

#26814 Safe area: dialogs
  src/components/ha-dialog.ts
  src/dialogs/more-info/controls/more-info-update.ts
  src/dialogs/more-info/ha-more-info-dialog.ts
  src/dialogs/quick-bar/ha-quick-bar.ts
  src/layouts/hass-tabs-subpage-data-table.ts
  src/panels/config/devices/device-detail/integration-elements/mqtt/dialog-mqtt-device-debug-info.ts
  src/panels/config/helpers/dialog-helper-detail.ts
  src/panels/config/integrations/dialog-add-integration.ts
  src/panels/config/voice-assistants/dialog-expose-entity.ts
  src/panels/config/zone/dialog-home-zone-detail.ts
  src/panels/config/zone/dialog-zone-detail.ts
Labels: cla-signed

#26944 Update missing border radius variables
  src/resources/theme/core.globals.ts
Labels: cla-signed

#26816 Safe area: bars
  src/components/ha-top-app-bar-fixed.ts
  src/components/ha-top-app-bar.ts
  src/components/ha-two-pane-top-app-bar-fixed.ts
  src/layouts/hass-subpage.ts
  src/layouts/hass-tabs-subpage.ts
  src/panels/developer-tools/ha-panel-developer-tools.ts
  src/panels/lovelace/hui-root.ts
Labels: cla-signed

#26960 Hide useless configure bluetooth options button for remote scanners
  src/panels/config/integrations/integration-panels/bluetooth/bluetooth-config-dashboard.ts
Labels: cla-signed

#26711 Add analog card clock style options
  src/panels/lovelace/cards/clock/hui-clock-card-analog.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/editor/config-elements/hui-clock-card-editor.ts
  src/translations/en.json
Labels: cla-signed, Noteworthy

#26973 Fix battery to grid connection in Sankey card
  src/panels/lovelace/cards/energy/hui-energy-sankey-card.ts
Labels: cla-signed

#26972 Fix for batteries with long names in energy dashboard
  src/panels/config/energy/components/ha-energy-battery-settings.ts
Labels: cla-signed

#26959 Allow storing AI Task generate image preferred entity
  src/data/ai_task.ts
  src/panels/config/core/ai-task-pref.ts
  src/translations/en.json
Labels: cla-signed

#26982 Fix Webhook Trigger doesn't display correctly
  src/panels/config/automation/trigger/types/ha-automation-trigger-webhook.ts
Labels: cla-signed

#26974 Filter entities from energy sources table with no data
  src/data/recorder.ts
  src/panels/lovelace/cards/energy/hui-energy-sources-table-card.ts
Labels: cla-signed

#26987 Don't show "condition did not pass" before testing
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/panels/config/automation/sidebar/ha-automation-sidebar-condition.ts
Labels: cla-signed

#26994 nitpick: Rename `HaFormExpendable` to `HaFormExpandable`
  src/components/ha-form/ha-form-expandable.ts
Labels: cla-signed

#27034 Revert SHA pinning for home-assistant/wheels
  .github/workflows/release.yaml
Labels: cla-signed, GitHub Actions

#27026 Add disabled option for cards and sections
  src/data/lovelace/config/card.ts
  src/data/lovelace/config/section.ts
  src/panels/lovelace/cards/hui-card.ts
  src/panels/lovelace/sections/hui-section.ts
Labels: cla-signed

#26809 Migrate from date-fns-tz to @date-fns/tz
  package.json
  src/common/datetime/calc_date.ts
  src/components/ha-date-range-picker.ts
  src/panels/calendar/dialog-calendar-event-detail.ts
  src/panels/calendar/dialog-calendar-event-editor.ts
  src/panels/calendar/ha-recurrence-rule-editor.ts
  src/panels/todo/dialog-todo-item-editor.ts
  yarn.lock
Labels: cla-signed

#27007 Unit tests for common/entity/get_states
  test/common/entity/get_states.test.ts
Labels: cla-signed

#27050 Fix calendar toggle group button sizes
  src/panels/calendar/ha-full-calendar.ts
Labels: cla-signed

#26978 Improve device section organization in energy Sankey card
  src/panels/lovelace/cards/energy/hui-energy-sankey-card.ts
Labels: cla-signed

#27049 Fix calendar toggle group wrapping
  src/components/ha-button-toggle-group.ts
  src/panels/calendar/ha-full-calendar.ts
Labels: cla-signed

#26753 Manual entry mode for media selector
  src/components/ha-selector/ha-selector-media.ts
  src/components/media-player/dialog-media-player-browse.ts
  src/components/media-player/ha-browse-media-manual.ts
  src/components/media-player/ha-media-player-browse.ts
  src/components/media-player/show-media-browser-dialog.ts
  src/data/media-player.ts
  src/data/media_source.ts
Labels: cla-signed, Noteworthy

#27056 Sort installed addons by name in the ha-config-logs component
  src/panels/config/logs/ha-config-logs.ts
Labels: cla-signed

#27064 Add External app version into ha-config-info
  src/external_app/external_messaging.ts
  src/panels/config/info/ha-config-info.ts
  src/translations/en.json
Labels: cla-signed

#27060 Order tile card config according to struct
  src/common/util/order-properties.ts
  src/panels/lovelace/editor/config-elements/hui-tile-card-editor.ts
  test/common/util/order-properties.test.ts
Labels: cla-signed

#27069 Automation editor: Copy always enabled
  src/panels/config/automation/sidebar/ha-automation-sidebar-action.ts
  src/panels/config/automation/sidebar/ha-automation-sidebar-condition.ts
  src/panels/config/automation/sidebar/ha-automation-sidebar-trigger.ts
Labels: cla-signed

#27009 Add safe areas to bottom sheets and sidebar
  src/components/ha-bottom-sheet.ts
  src/components/ha-resizable-bottom-sheet.ts
  src/panels/config/automation/ha-automation-sidebar.ts
  src/panels/config/automation/styles.ts
Labels: cla-signed, has-parent

#27071 Use computed config for strategy visibility and disabled flag
  src/panels/lovelace/sections/hui-section.ts
Labels: cla-signed

#27072 Wrap overflowing menu step option descriptions
  src/dialogs/config-flow/step-flow-menu.ts
Labels: cla-signed

#27078 Safe area: Fix double padding for sidebar
  src/components/ha-sidebar.ts
Labels: cla-signed

#27077 Add diagnostics download to helpers menu
  src/panels/config/helpers/ha-config-helpers.ts
Labels: cla-signed

#27041 Add more binary sensors to security dashboard
  src/panels/lovelace/strategies/home/helpers/home-summaries.ts
Labels: cla-signed

#26927 Show generated media in action dev tools
  src/panels/developer-tools/action/developer-tools-action.ts
  src/translations/en.json
Labels: cla-signed

#27082 Limit to 4 common entities on landing page.
  src/panels/lovelace/strategies/home/home-main-view-strategy.ts
Labels: cla-signed

#27068 Only show devices dialog at the end of a flow chain
  src/dialogs/config-flow/dialog-data-entry-flow.ts
  src/dialogs/config-flow/show-dialog-data-entry-flow.ts
  src/dialogs/config-flow/step-flow-create-entry.ts
Labels: cla-signed

#27090 Fix minification errors in ha-tab-group-tab and ha-slider styles
  src/components/ha-slider.ts
  src/components/ha-tab-group-tab.ts
Labels: cla-signed

#26992 Expand pasting capabilities of automation editor
  src/data/automation.ts
  src/data/script.ts
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/action/ha-automation-action.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/panels/config/automation/condition/ha-automation-condition.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/automation/manual-automation-editor.ts
  src/panels/config/automation/option/ha-automation-option.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/panels/config/automation/trigger/ha-automation-trigger.ts
  src/panels/config/script/manual-script-editor.ts
Labels: cla-signed

#27087 Clarify sidebar setting / column header for dashboards
  src/translations/en.json
Labels: cla-signed

#27123 Fix header positioning for media players domain dashboard
  src/panels/lovelace/strategies/home/home-media-players-view-strategy.ts
Labels: cla-signed

#27128 Add disabled info to subtitle, fixed disabled overflow
  src/panels/config/automation/sidebar/ha-automation-sidebar-action.ts
  src/panels/config/automation/sidebar/ha-automation-sidebar-condition.ts
  src/panels/config/automation/sidebar/ha-automation-sidebar-trigger.ts
  src/panels/config/automation/trigger/ha-automation-trigger-editor.ts
Labels: cla-signed

#27132 Do not show delete confirm on default choose
  src/panels/config/automation/option/ha-automation-option-row.ts
Labels: cla-signed

#27134 Fix ha-target-picker remove/expad buttons after tooltip migration
  src/components/ha-target-picker.ts
Labels: cla-signed

#27093 Revive automation row overflow menu
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/panels/config/automation/option/ha-automation-option-row.ts
  src/panels/config/automation/sidebar/ha-automation-sidebar-action.ts
  src/panels/config/automation/sidebar/ha-automation-sidebar-condition.ts
  src/panels/config/automation/sidebar/ha-automation-sidebar-option.ts
  src/panels/config/automation/sidebar/ha-automation-sidebar-script-field.ts
  src/panels/config/automation/sidebar/ha-automation-sidebar-trigger.ts
  src/panels/config/automation/styles.ts
  src/panels/config/automation/trigger/ha-automation-trigger-editor.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/panels/config/script/ha-script-field-row.ts
  src/translations/en.json
Labels: cla-signed, Noteworthy

#27096 Support water_heater in thermostat card
  src/panels/lovelace/cards/hui-thermostat-card.ts
  src/panels/lovelace/editor/config-elements/hui-thermostat-card-editor.ts
  src/translations/en.json
Labels: cla-signed, WTH

#26580 Add toolbar to YAML/template editors
  src/components/ha-code-editor.ts
  src/components/ha-icon-button-toolbar.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/script/ha-script-editor.ts
  src/panels/developer-tools/action/developer-tools-action.ts
  src/translations/en.json
Labels: cla-signed, Noteworthy

#27055 Visually differentiate statistics graph in more-info
  src/dialogs/more-info/ha-more-info-history.ts
  src/translations/en.json
Labels: cla-signed

#27153 Fix pixel gap on mobile for automation card
  src/panels/config/automation/sidebar/ha-automation-sidebar-card.ts
Labels: cla-signed

#27131 Hassio core logs latest endpoint
  src/data/hassio/supervisor.ts
  src/panels/config/logs/system-log-card.ts
Labels: cla-signed

#27158 Avoid invalid entities in common controls
  src/panels/lovelace/strategies/usage_prediction/common-controls-section-strategy.ts
Labels: cla-signed

#27165 Fix safe padding for bottom sheet and add scroll lock
  src/components/ha-bottom-sheet.ts
  src/resources/theme/wa.globals.ts
Labels: cla-signed

#27170 20250925.0
  pyproject.toml
  src/components/ha-bottom-sheet.ts
  src/data/service.ts
  src/panels/config/automation/ha-automation-sidebar.ts
  src/panels/config/person/dialog-person-detail.ts
  src/panels/developer-tools/action/developer-tools-action.ts
  src/panels/lovelace/strategies/usage_prediction/common-controls-section-strategy.ts
  src/resources/theme/wa.globals.ts
  src/translations/en.json
Labels: cla-signed

#27173 Reduce default tab padding in tab-group
  src/components/ha-tab-group-tab.ts
Labels: cla-signed

#27183 Fix storage bar not displayed
  src/components/ha-segmented-bar.ts
Labels: cla-signed

#27180 Add icon option to common controls section strategy
  src/panels/lovelace/strategies/usage_prediction/common-controls-section-strategy.ts
Labels: cla-signed

#27172 Disabled config badge
  src/data/lovelace/config/badge.ts
  src/panels/lovelace/badges/hui-badge.ts
  src/panels/lovelace/editor/structs/base-badge-struct.ts
  src/panels/lovelace/editor/structs/base-card-struct.ts
Labels: cla-signed

#27191 20250925.1
  cast/src/media/entrypoint.ts
  cast/src/receiver/entrypoint.ts
  package.json
  pyproject.toml
  src/components/ha-analytics.ts
  src/components/ha-segmented-bar.ts
  src/components/ha-tab-group-tab.ts
  src/data/lovelace/config/badge.ts
  src/panels/lovelace/badges/hui-badge.ts
  src/panels/lovelace/editor/structs/base-badge-struct.ts
  src/panels/lovelace/editor/structs/base-card-struct.ts
  src/panels/lovelace/strategies/usage_prediction/common-controls-section-strategy.ts
  yarn.lock
Labels: cla-signed, Cast

#27198 Fix typos in media player more info
  src/dialogs/more-info/controls/more-info-media_player.ts
Labels: cla-signed

#27203 Add validation issues to energy diagnostic
  src/panels/config/energy/ha-config-energy.ts
Labels: cla-signed

#27184 Migrate hex color helper functions to culori
  src/common/color/hex.ts
Labels: cla-signed

#27208 Fix try tts dialog max width
  src/dialogs/tts-try/dialog-tts-try.ts
Labels: cla-signed

#27213 20250926.0
  pyproject.toml
  src/components/ha-selector/ha-selector-number.ts
  src/dialogs/more-info/controls/more-info-media_player.ts
  src/dialogs/tts-try/dialog-tts-try.ts
  src/panels/config/energy/ha-config-energy.ts
  src/panels/lovelace/card-features/hui-water-heater-operation-modes-card-feature.ts
  src/panels/lovelace/card-features/types.ts
  src/panels/lovelace/editor/config-elements/hui-water-heater-operation-modes-card-feature-editor.ts
  src/translations/en.json
Labels: cla-signed

#27206 Align dashboard data table with other data tables
  src/panels/config/lovelace/dashboards/ha-config-lovelace-dashboards.ts
  src/translations/en.json
Labels: cla-signed

#27244 Replace legacy hass icons to mdi icons
  cast/src/receiver/demo/cast-demo-entities.ts
  cast/src/receiver/demo/cast-demo-lovelace.ts
  demo/src/configs/arsaboo/entities.ts
  demo/src/configs/arsaboo/lovelace.ts
  demo/src/configs/jimpower/lovelace.ts
  src/components/ha-selector/ha-selector-color-temp.ts
  src/data/panel.ts
  src/dialogs/more-info/components/lights/light-color-rgb-picker.ts
  src/fake_data/demo_panels.ts
  src/panels/config/lovelace/dashboards/ha-config-lovelace-dashboards.ts
  src/panels/lovelace/special-rows/hui-weblink-row.ts
Labels: cla-signed, Cast, Demo, Design

#27246 Fix `--ha-space-13` spacing token
  src/resources/theme/core.globals.ts
Labels: cla-signed

#27248 Refactor ha-config-labels to use `styleMap`
  src/panels/config/labels/ha-config-labels.ts
Labels: cla-signed

#27250 Let text scroll in markdown card
  src/panels/lovelace/cards/hui-markdown-card.ts
Labels: cla-signed

#27255 Update WA to fix tab group scrolling
  package.json
  yarn.lock
Labels: cla-signed
