Repository home-assistant/frontend, pull requests merged in 2025-08, with the labels that each got.

#26345 Add Bruno and Timo as codeowners of the external_app folders
  CODEOWNERS
Labels: cla-signed

#26336 Add support for sub config flows in conversation agent picker
  src/components/ha-conversation-agent-picker.ts
Labels: cla-signed

#26341 Fix diagnostic download on integration level
  src/panels/config/devices/ha-config-device-page.ts
Labels: cla-signed

#26357 Do not show AI suggestion button when no inputs in save dialog
  src/panels/config/automation/automation-save-dialog/dialog-automation-save.ts
Labels: cla-signed

#26368 Improve Z-Wave JS config dashboard styling
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-config-dashboard.ts
Labels: cla-signed

#26352 Fix picture-glance card icon styling for unavailable/unknown entities
  src/panels/lovelace/cards/hui-picture-glance-card.ts
Labels: cla-signed

#26373 Fix ha-buttons
  landing-page/src/components/landing-page-logs.ts
  src/panels/config/logs/error-log-card.ts
  src/panels/config/logs/ha-config-logs.ts
  src/panels/config/network/supervisor-network.ts
  src/panels/lovelace/entity-rows/hui-scene-entity-row.ts
  src/panels/lovelace/entity-rows/hui-script-entity-row.ts
Labels: cla-signed

#26381 Improve neutral color palette
  src/resources/theme/color/core.globals.ts
  src/resources/theme/color/semantic.globals.ts
Labels: cla-signed

#26384 Fix energy now button
  src/panels/lovelace/components/hui-energy-period-selector.ts
Labels: cla-signed

#26379 Remove eMMC specific references in disk life time handling
  hassio/src/dialogs/datadisk/dialog-hassio-datadisk.ts
  hassio/src/system/hassio-host-info.ts
  src/data/hassio/host.ts
  src/panels/config/storage/dialog-move-datadisk.ts
  src/panels/config/storage/ha-config-section-storage.ts
  src/translations/en.json
Labels: cla-signed, Supervisor

#26393 Fix System information dialog unhealthy/unsupported list
  src/common/translations/localize.ts
  src/panels/config/repairs/dialog-system-information.ts
Labels: cla-signed, Bug Fix

#26395 Add localization for third-party data reporting in the Z-Wave JS dashboard
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-config-dashboard.ts
  src/translations/en.json
Labels: cla-signed

#26396 Fix network graph not rendering
  src/components/chart/ha-chart-base.ts
  src/components/chart/ha-network-graph.ts
Labels: cla-signed

#26397 Fix colors in network graphs
  src/components/chart/ha-chart-base.ts
  src/panels/config/integrations/integration-panels/bluetooth/bluetooth-network-visualization.ts
  src/panels/config/integrations/integration-panels/zha/zha-network-visualization-page.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-network-visualization.ts
  src/resources/theme/color/color.globals.ts
Labels: cla-signed

#26403 Update color variables
  src/components/buttons/ha-progress-button.ts
  src/components/ha-button.ts
  src/resources/theme/color/color.globals.ts
  src/resources/theme/color/core.globals.ts
  src/resources/theme/color/semantic.globals.ts
  src/resources/theme/color/wa.globals.ts
Labels: cla-signed

#26404 Update zwave js buttons
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-config-dashboard.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-logs.ts
Labels: cla-signed

#26407 add save button to AI suggestions settings
  src/panels/config/core/ai-task-pref.ts
  src/translations/en.json
Labels: cla-signed

#26409 Fix summary for Choose building block by counting options
  src/translations/en.json
Labels: cla-signed

#26412 Fix Mod-S (Ctrl-S/Cmd-S) support for automation/scene/script YAML editors
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/scene/ha-scene-editor.ts
  src/panels/config/script/ha-script-editor.ts
Labels: cla-signed

#26426 Fix plain button in legacy browsers
  src/components/ha-button.ts
Labels: cla-signed

#26431 Fix button start/end slot margins, add reduce-left-padding flag
  hassio/src/dialogs/registries/dialog-hassio-registries.ts
  hassio/src/dialogs/repositories/dialog-hassio-repositories.ts
  src/components/ha-button.ts
  src/components/ha-multi-textfield.ts
  src/components/media-player/ha-media-player-browse.ts
  src/panels/config/automation/action/ha-automation-action.ts
  src/panels/config/automation/condition/ha-automation-condition.ts
  src/panels/config/automation/option/ha-automation-option.ts
  src/panels/config/automation/trigger/ha-automation-trigger.ts
  src/panels/config/integrations/ha-config-integration-page.ts
Labels: cla-signed, Supervisor

#26433 Fix css var naming --ha-color-border-primary
  src/resources/theme/color/semantic.globals.ts
Labels: cla-signed

#26432 Revert "Add Mobile team and design has codeowner of the theme colors"
  CODEOWNERS
Labels: cla-signed

#26437 Add missing button feature translation
  src/translations/en.json
Labels: cla-signed

#26441 Fix some date-range bugs
  src/common/datetime/calc_date.ts
  src/components/ha-date-range-picker.ts
  src/panels/history/ha-panel-history.ts
  src/panels/logbook/ha-panel-logbook.ts
Labels: cla-signed

#26444 Support button feature for input_button
  src/panels/lovelace/card-features/hui-button-card-feature.ts
Labels: cla-signed

#26485 Fix first letter uppercase in some buttons
  src/translations/en.json
  src/util/register-service-worker.ts
Labels: cla-signed

#26385 Split `repeat` building blocks in picker
  src/data/action.ts
  src/panels/config/automation/action/ha-automation-action.ts
  src/panels/config/automation/action/types/ha-automation-action-repeat.ts
  src/panels/config/automation/show-add-automation-element-dialog.ts
  src/translations/en.json
Labels: cla-signed, Noteworthy

#26487 Translate service worker update toast notification
  src/managers/notification-manager.ts
  src/translations/en.json
  src/util/register-service-worker.ts
Labels: cla-signed

#26491 Fix default alarm modes order when customizing it in card feature
  src/panels/lovelace/editor/config-elements/hui-alarm-modes-card-feature-editor.ts
Labels: cla-signed

#26383 Add area, device, floor and formatted state to template editor completions
  src/components/ha-code-editor-completion-items.ts
  src/components/ha-code-editor.ts
Labels: cla-signed

#26467 Add fan direction feature
  src/data/fan.ts
  src/panels/lovelace/card-features/hui-fan-direction-card-feature.ts
  src/panels/lovelace/card-features/types.ts
  src/panels/lovelace/create-element/create-card-feature-element.ts
  src/panels/lovelace/editor/config-elements/hui-card-features-editor.ts
  src/translations/en.json
Labels: cla-signed

#26497 Sort subentries within integration devices by title
  src/panels/config/integrations/ha-config-entry-row.ts
Labels: cla-signed

#26495 Fix invalid loading margin while variables are loading
  demo/src/html/index.html.template
  src/html/index.html.template
Labels: cla-signed, Demo

#26496 Fix search in raw configuration editor
  src/panels/lovelace/hui-editor.ts
Labels: cla-signed

#26515 Fix handling empty release notes in more-info-update
  src/dialogs/more-info/controls/more-info-update.ts
Labels: cla-signed

#26511 Add valve position card feature
  src/panels/lovelace/card-features/hui-valve-position-card-feature.ts
  src/panels/lovelace/card-features/types.ts
  src/panels/lovelace/create-element/create-card-feature-element.ts
  src/panels/lovelace/editor/config-elements/hui-card-features-editor.ts
  src/translations/en.json
Labels: cla-signed, Documentation Added

#26526 Show password forgot link on mobile
  src/auth/ha-auth-flow.ts
Labels: cla-signed

#26523 Add small amount of extra padding to ohf card in about section
  src/panels/config/info/ha-config-info.ts
Labels: cla-signed

#26527 Filter hidden entities from group more-info
  src/dialogs/more-info/more-info-content.ts
Labels: cla-signed, second-opinion-wanted

#26504 Create overview dashboard with lights, covers, energy and favorite entities
  src/panels/config/dashboard/dialog-new-dashboard.ts
  src/panels/energy/ha-panel-energy.ts
  src/panels/lovelace/strategies/get-strategy.ts
  src/panels/lovelace/strategies/overview/editor/hui-overview-dashboard-strategy-editor.ts
  src/panels/lovelace/strategies/overview/overview-area-view-strategy.ts
  src/panels/lovelace/strategies/overview/overview-covers-view-strategy.ts
  src/panels/lovelace/strategies/overview/overview-dashboard-strategy.ts
  src/panels/lovelace/strategies/overview/overview-home-view-strategy.ts
  src/panels/lovelace/strategies/overview/overview-lights-view-strategy.ts
  src/translations/en.json
Labels: cla-signed

#26506 Migrate ha-button-toggle-group to webawesome
  package.json
  src/components/ha-button-group.ts
  src/components/ha-button-toggle-group.ts
  src/components/ha-button.ts
  src/panels/calendar/ha-full-calendar.ts
  src/panels/config/core/ai-task-pref.ts
  src/translations/en.json
  yarn.lock
Labels: cla-signed

#26539 Fix missing sentence-casing in People settings
  src/translations/en.json
Labels: cla-signed

#26541 Fix Inconsistent naming of "Input button" in Quickbar navigation
  src/translations/en.json
Labels: cla-signed

#26547 Fix missing sentence-case in a few strings
  src/translations/en.json
Labels: cla-signed

#26543 Migrate ha-fade-in to webawesome
  src/components/ha-fade-in.ts
Labels: cla-signed

#26572 Update theme color in web app manifests
  cast/public/manifest.json
  demo/public/manifest.json
Labels: cla-signed

#26555 History chart card feature
  src/panels/lovelace/card-features/hui-history-chart-card-feature.ts
  src/panels/lovelace/card-features/types.ts
  src/panels/lovelace/create-element/create-card-feature-element.ts
  src/panels/lovelace/editor/config-elements/hui-card-features-editor.ts
  src/translations/en.json
Labels: cla-signed, Noteworthy

#26618 Fix space in overview welcome caption
  src/panels/lovelace/strategies/overview/overview-home-view-strategy.ts
Labels: cla-signed

#26620 Add home structure helper to overview dashboard
  src/panels/lovelace/strategies/overview/helpers/overview-home-structure.ts
  src/panels/lovelace/strategies/overview/overview-climate-view-strategy.ts
  src/panels/lovelace/strategies/overview/overview-home-view-strategy.ts
  src/panels/lovelace/strategies/overview/overview-lights-view-strategy.ts
  src/panels/lovelace/strategies/overview/overview-media-players-view-strategy.ts
  src/panels/lovelace/strategies/overview/overview-security-view-strategy.ts
Labels: cla-signed

#26585 Bar gauge card feature for sensors
  src/panels/lovelace/card-features/hui-bar-gauge-card-feature.ts
  src/panels/lovelace/card-features/types.ts
  src/panels/lovelace/create-element/create-card-feature-element.ts
  src/panels/lovelace/editor/config-elements/hui-card-features-editor.ts
  src/translations/en.json
Labels: cla-signed, Noteworthy, Needs UX

#26630 Replace deprecated ESLint flag to remove warning
  lint-staged.config.js
  package.json
Labels: cla-signed

#26613 Add show-automation-editor event for custom cards & panels
  src/data/automation.ts
  src/state/automation-editor-mixin.ts
  src/state/hass-element.ts
Labels: cla-signed

#26634 Refactor automation editor event naming for consistency
  src/data/automation.ts
  src/state/automation-editor-mixin.ts
Labels: cla-signed

#26608 Media player playback controls card feature
  src/panels/lovelace/card-features/hui-media-player-playback-card-feature.ts
  src/panels/lovelace/card-features/types.ts
  src/panels/lovelace/create-element/create-card-feature-element.ts
  src/panels/lovelace/editor/config-elements/hui-card-features-editor.ts
  src/translations/en.json
Labels: cla-signed, Noteworthy

#26644 Add "add" button to lovelace dashboard toolbar
  src/panels/config/person/dialog-person-detail.ts
  src/panels/config/person/show-dialog-person-detail.ts
  src/panels/lovelace/hui-root.ts
  src/translations/en.json
Labels: cla-signed

#26369 Add background styling options to section settings
  src/data/lovelace/config/section.ts
  src/panels/lovelace/editor/section-editor/hui-section-settings-editor.ts
  src/panels/lovelace/sections/hui-grid-section.ts
  src/translations/en.json
Labels: cla-signed, Noteworthy

#26652 Use dedicated translation key for none option in section background type
  src/panels/lovelace/editor/section-editor/hui-section-settings-editor.ts
  src/translations/en.json
Labels: cla-signed

#26677 Fix invalid CSS
  src/components/ha-filter-floor-areas.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
Labels: cla-signed

#26673 Fix: Enable tile button feature for entities with 'unknown' state
  src/panels/lovelace/card-features/hui-button-card-feature.ts
Labels: cla-signed

#26665 Indirect -> direct use of @rspack/dev-server
  package.json
  yarn.lock
Labels: cla-signed

#26685 Fix ha-alert icon z-index overlapping over other elements
  src/components/ha-alert.ts
Labels: cla-signed

#26675 Fix: Volume bar cut off at 100% in media player entity row
  src/panels/lovelace/entity-rows/hui-media-player-entity-row.ts
Labels: cla-signed

#26680 Automation editor mobile bottom sheet
  src/components/ha-bottom-sheet.ts
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/action/ha-automation-action.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/panels/config/automation/condition/ha-automation-condition.ts
  src/panels/config/automation/ha-automation-sidebar.ts
  src/panels/config/automation/manual-automation-editor.ts
  src/panels/config/automation/option/ha-automation-option-row.ts
  src/panels/config/automation/option/ha-automation-option.ts
  src/panels/config/automation/sidebar/ha-automation-sidebar-action.ts
  src/panels/config/automation/sidebar/ha-automation-sidebar-card.ts
  src/panels/config/automation/sidebar/ha-automation-sidebar-condition.ts
  src/panels/config/automation/sidebar/ha-automation-sidebar-option.ts
  src/panels/config/automation/sidebar/ha-automation-sidebar-script-field-selector.ts
  src/panels/config/automation/sidebar/ha-automation-sidebar-script-field.ts
  src/panels/config/automation/sidebar/ha-automation-sidebar-trigger.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/panels/config/automation/trigger/ha-automation-trigger.ts
  src/panels/config/script/ha-script-field-row.ts
  src/panels/config/script/ha-script-fields.ts
  src/panels/config/script/manual-script-editor.ts
  src/resources/theme/wa.globals.ts
Labels: cla-signed

#26647 Fix hold action for picture element card in Android app
  src/panels/lovelace/cards/hui-picture-entity-card.ts
  src/panels/lovelace/cards/hui-picture-glance-card.ts
  src/panels/lovelace/elements/hui-image-element.ts
Labels: cla-signed

#26690 Fixes dahsboard tab bar on mobile
  src/panels/lovelace/hui-root.ts
  src/translations/en.json
Labels: cla-signed

#26698 Adjust top-level spacing to move description a bit closer
  src/panels/config/automation/manual-automation-editor.ts
Labels: cla-signed

#26703 Fix action condition
  src/data/automation.ts
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/action/types/ha-automation-action-condition.ts
  src/panels/config/automation/ha-automation-sidebar.ts
  src/panels/config/automation/sidebar/ha-automation-sidebar-action.ts
Labels: cla-signed

#26702 Tweak choose spacing
  src/panels/config/automation/action/types/ha-automation-action-choose.ts
  src/panels/config/automation/option/ha-automation-option-row.ts
Labels: cla-signed

#26574 Rename subentry
  src/data/config_entries.ts
  src/panels/config/integrations/ha-config-sub-entry-row.ts
Labels: cla-signed

#26707 Automation Editor: Move overflow actions to sidebar only
  src/data/automation.ts
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/panels/config/automation/option/ha-automation-option-row.ts
  src/panels/config/automation/sidebar/ha-automation-sidebar-action.ts
  src/panels/config/automation/sidebar/ha-automation-sidebar-condition.ts
  src/panels/config/automation/sidebar/ha-automation-sidebar-option.ts
  src/panels/config/automation/sidebar/ha-automation-sidebar-trigger.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/panels/config/script/ha-script-field-row.ts
Labels: cla-signed

#26709 Add indent style to automation action, condition, and option editors
  src/panels/config/automation/action/ha-automation-action-editor.ts
  src/panels/config/automation/condition/ha-automation-condition-editor.ts
  src/panels/config/automation/option/ha-automation-option-row.ts
  src/panels/config/automation/styles.ts
  src/panels/config/script/ha-script-field-row.ts
  src/panels/config/script/ha-script-field-selector-editor.ts
Labels: cla-signed

#26714 Fix description of battery energy sensors
  src/translations/en.json
Labels: cla-signed

#26706 Always show compact header for dashboards
  src/components/ha-dialog.ts
  src/dialogs/dialog-list-items/dialog-list-items.ts
  src/dialogs/dialog-list-items/show-list-items-dialog.ts
  src/panels/lovelace/hui-root.ts
Labels: cla-signed

#26719 Capitalize "Assist" as feature name in "Assist pipeline"
  src/translations/en.json
Labels: cla-signed

#26712 Automation editor: expand only root rows per default
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/action/ha-automation-action.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/panels/config/automation/condition/ha-automation-condition.ts
  src/panels/config/automation/manual-automation-editor.ts
  src/panels/config/automation/option/ha-automation-option-row.ts
  src/panels/config/automation/option/ha-automation-option.ts
  src/panels/config/script/manual-script-editor.ts
Labels: cla-signed

#26715 Rename overview to home and add widget section
  public/static/images/dashboard-options/dark/icon-dashboard-overview.svg
  public/static/images/dashboard-options/light/icon-dashboard-overview.svg
  src/panels/config/dashboard/dialog-new-dashboard.ts
  src/panels/lovelace/strategies/get-strategy.ts
  src/panels/lovelace/strategies/home/editor/hui-home-dashboard-strategy-editor.ts
  src/panels/lovelace/strategies/home/helpers/home-structure.ts
  src/panels/lovelace/strategies/home/helpers/home-summaries.ts
  src/panels/lovelace/strategies/home/home-area-view-strategy.ts
  src/panels/lovelace/strategies/home/home-climate-view-strategy.ts
  src/panels/lovelace/strategies/home/home-dashboard-strategy.ts
  src/panels/lovelace/strategies/home/home-lights-view-strategy.ts
  src/panels/lovelace/strategies/home/home-main-view-strategy.ts
  src/panels/lovelace/strategies/home/home-media-players-view-strategy.ts
  src/panels/lovelace/strategies/home/home-security-view-strategy.ts
  src/translations/en.json
Labels: cla-signed

#26708 Automation editor: New choose default styles and style fixes
  src/components/ha-selector/ha-selector-action.ts
  src/components/ha-selector/ha-selector-condition.ts
  src/data/automation.ts
  src/panels/config/automation/action/ha-automation-action.ts
  src/panels/config/automation/action/types/ha-automation-action-choose.ts
  src/panels/config/automation/action/types/ha-automation-action-if.ts
  src/panels/config/automation/condition/ha-automation-condition-editor.ts
  src/panels/config/automation/condition/ha-automation-condition.ts
  src/panels/config/automation/manual-automation-editor.ts
  src/panels/config/automation/option/ha-automation-option-row.ts
  src/panels/config/automation/option/ha-automation-option.ts
  src/panels/config/automation/sidebar/ha-automation-sidebar-action.ts
  src/panels/config/automation/sidebar/ha-automation-sidebar-condition.ts
  src/panels/config/automation/sidebar/ha-automation-sidebar-option.ts
  src/panels/config/automation/sidebar/ha-automation-sidebar-script-field-selector.ts
  src/panels/config/automation/sidebar/ha-automation-sidebar-script-field.ts
  src/panels/config/automation/sidebar/ha-automation-sidebar-trigger.ts
  src/panels/config/automation/styles.ts
  src/panels/config/automation/trigger/ha-automation-trigger.ts
  src/panels/config/script/manual-script-editor.ts
  src/translations/en.json
Labels: cla-signed

#26727 Fix close automation bottom sheet on add
  src/panels/config/automation/action/ha-automation-action.ts
  src/panels/config/automation/condition/ha-automation-condition.ts
  src/panels/config/automation/manual-automation-editor.ts
  src/panels/config/automation/trigger/ha-automation-trigger.ts
Labels: cla-signed

#26721 Display sum/median labels in area card editor
  src/panels/lovelace/cards/hui-area-card.ts
  src/panels/lovelace/editor/config-elements/hui-area-card-editor.ts
  src/translations/en.json
Labels: cla-signed

#26730 Revert background section
  src/data/lovelace/config/section.ts
  src/panels/lovelace/editor/section-editor/hui-section-settings-editor.ts
  src/panels/lovelace/sections/hui-grid-section.ts
  src/translations/en.json
Labels: cla-signed

#26734 Improve network adapter configuration discoverability
  src/components/ha-network.ts
  src/panels/config/network/ha-config-network.ts
  src/translations/en.json
Labels: cla-signed

#26738 Show binary sensors with graphs on the security dashboard
  src/panels/lovelace/strategies/home/helpers/home-summaries.ts
  src/panels/lovelace/strategies/home/home-security-view-strategy.ts
Labels: cla-signed

#26737 Show configured area sensors on climate domain dashboard
  src/panels/lovelace/card-features/types.ts
  src/panels/lovelace/strategies/areas/helpers/areas-strategy-helper.ts
  src/panels/lovelace/strategies/home/home-climate-view-strategy.ts
Labels: cla-signed

#26740 Fix automation editor drag selected row in/out nested
  src/components/ha-sortable.ts
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/action/ha-automation-action.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/panels/config/automation/condition/ha-automation-condition.ts
  src/panels/config/automation/option/ha-automation-option-row.ts
  src/panels/config/automation/option/ha-automation-option.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/panels/config/automation/trigger/ha-automation-trigger.ts
Labels: cla-signed

#26735 Move automation and script `ha-alert`s to main flow
  src/components/ha-alert.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/automation/manual-automation-editor.ts
  src/panels/config/script/ha-script-editor.ts
  src/panels/config/script/manual-script-editor.ts
Labels: cla-signed

#26749 Change loading detailed storage to use `ha-alert` with spinner
  src/panels/config/storage/ha-config-section-storage.ts
  src/translations/en.json
Labels: cla-signed

#26736 Hide 'options' from enum more info
  src/components/ha-attributes.ts
  src/data/entity_attributes.ts
Labels: cla-signed

#26744 Automation editor: overflow changes and style fixes
  src/components/ha-automation-row.ts
  src/components/ha-bottom-sheet.ts
  src/components/ha-md-button-menu.ts
  src/panels/config/automation/action/ha-automation-action-editor.ts
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/action/ha-automation-action.ts
  src/panels/config/automation/condition/ha-automation-condition-editor.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/panels/config/automation/condition/ha-automation-condition.ts
  src/panels/config/automation/option/ha-automation-option-row.ts
  src/panels/config/automation/option/ha-automation-option.ts
  src/panels/config/automation/sidebar/ha-automation-sidebar-card.ts
  src/panels/config/automation/sidebar/ha-automation-sidebar-condition.ts
  src/panels/config/automation/sidebar/ha-automation-sidebar-option.ts
  src/panels/config/automation/sidebar/ha-automation-sidebar-trigger.ts
  src/panels/config/automation/styles.ts
  src/panels/config/automation/trigger/ha-automation-trigger-editor.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/panels/config/automation/trigger/ha-automation-trigger.ts
  src/panels/config/script/ha-script-field-row.ts
Labels: cla-signed

#26718 Fix: Keep buttons active in picture-glance-card regardless of state
  src/panels/lovelace/cards/hui-picture-glance-card.ts
Labels: cla-signed

#26758 Improve OAuth setup explanation
  src/translations/en.json
Labels: cla-signed

#26759 Fix alert z-index for automation and script
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/script/ha-script-editor.ts
Labels: cla-signed

#26751 Use fixed layout for automation sidebar to have scrollbar on the side
  src/panels/config/automation/action/ha-automation-action.ts
  src/panels/config/automation/condition/ha-automation-condition.ts
  src/panels/config/automation/ha-automation-editor.ts
  src/panels/config/automation/manual-automation-editor.ts
  src/panels/config/automation/styles.ts
  src/panels/config/automation/trigger/ha-automation-trigger.ts
  src/panels/config/script/manual-script-editor.ts
Labels: cla-signed

#26773 Don't use context for media selector with 'accept'
  src/components/ha-selector/ha-selector-media.ts
Labels: cla-signed

#26765 Adjust states set state layout
  src/panels/developer-tools/state/developer-tools-state.ts
Labels: cla-signed

#26777 Bugfix: Fixed column widths in the dashboard config page
  src/panels/config/lovelace/dashboards/ha-config-lovelace-dashboards.ts
Labels: cla-signed
