Repository home-assistant/frontend, pull requests merged in 2025-07, with the labels that each got.

#26009 Fix translation in the integration page for entities
  src/panels/config/integrations/ha-config-entry-row.ts
Labels: cla-signed

#26022 Add missing area helper
  src/components/ha-area-picker.ts
Labels: cla-signed

#26030 Disable fullscreen in trigger detail dialog
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
Labels: cla-signed

#26021 Fix glitchy 'show' checkboxes on integration page
  src/panels/config/integrations/ha-config-integrations-dashboard.ts
Labels: cla-signed

#26033 Reduce media selector size
  src/components/ha-selector/ha-selector-media.ts
Labels: cla-signed

#26035 Fix play media action
  src/panels/config/automation/action/types/ha-automation-action-play_media.ts
Labels: cla-signed

#26038 Prevent uncaught TypeError on HuiWeatherForecastCard render
  src/panels/lovelace/cards/hui-weather-forecast-card.ts
Labels: cla-signed

#26069 Fix default range icon
  src/data/icons.ts
Labels: cla-signed

#26075 Remove deprecated dependency @types/glob
  package.json
  yarn.lock
Labels: cla-signed

#26071 Automation save dialog to suggest name, description and labels
  src/data/ai_task.ts
  src/panels/config/automation/automation-save-dialog/dialog-automation-save.ts
Labels: cla-signed

#26082 Weather card smallest width is not set correctly
  src/panels/lovelace/cards/hui-weather-forecast-card.ts
Labels: cla-signed

#26084 Fix flickering Edit sidebar dialog by locking content padding
  src/dialogs/sidebar/dialog-edit-sidebar.ts
Labels: cla-signed

#26096 Add extra margin AI Task pref
  src/panels/config/core/ha-config-section-general.ts
Labels: cla-signed

#26099 Use query params instead of path for media browser navigate ids
  src/panels/media-browser/ha-panel-media-browser.ts
Labels: cla-signed

#26109 Capitalize "REST", remove excessive commas
  src/translations/en.json
Labels: cla-signed

#26117 Coerce all energy distribution values to the same unit
  src/data/energy.ts
  src/panels/lovelace/cards/energy/hui-energy-distribution-card.ts
  test/data/energy.test.ts
Labels: cla-signed

#26115 add unit tests for common/url/search-params.ts
  test/common/url/search-params.test.ts
Labels: cla-signed

#26103 add floor column to datatable in config devices page
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/translations/en.json
Labels: cla-signed

#25984 Revert changes to persistent notification in sidebar
  src/components/ha-sidebar.ts
Labels: cla-signed

#26132 Handle disabled ZWave provisionning entries
  src/data/zwave_js.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-config-dashboard.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-provisioned.ts
  src/translations/en.json
Labels: cla-signed

#26141 Render energy-water in the display unit of the sources
  src/data/energy.ts
  src/data/recorder.ts
  src/panels/energy/ha-panel-energy.ts
  src/panels/lovelace/cards/energy/hui-energy-distribution-card.ts
  src/panels/lovelace/cards/energy/hui-energy-sources-table-card.ts
  src/panels/lovelace/cards/energy/hui-energy-water-graph-card.ts
Labels: cla-signed

#26176 Fix number format in statistics charts
  src/components/chart/statistics-chart.ts
Labels: cla-signed

#26178 Show group members in more info
  src/dialogs/more-info/ha-more-info-dialog.ts
  src/dialogs/more-info/more-info-content.ts
Labels: cla-signed

#26186 Remove vis-data dependency
  package.json
  yarn.lock
Labels: cla-signed, Dependencies

#26177 Fix entity renaming when adding a new device
  src/dialogs/config-flow/step-flow-create-entry.ts
  src/panels/config/integrations/integration-panels/zha/zha-device-card.ts
  src/panels/config/integrations/integration-panels/zwave_js/add-node/dialog-zwave_js-add-node.ts
Labels: cla-signed

#26189 Fix spelling of "to log in to" (verb) and "login" (noun)
  src/translations/en.json
Labels: cla-signed

#26195 Remove specific icons for area controls card features
  src/panels/lovelace/card-features/hui-area-controls-card-feature.ts
Labels: cla-signed

#26184 Include card error message in card error
  src/panels/lovelace/create-element/create-element-base.ts
Labels: cla-signed

#26188 Fix "Cancel exclusion" button for Z-Wave
  src/panels/config/integrations/integration-panels/zwave_js/dialog-zwave_js-remove-node.ts
Labels: cla-signed

#26200 Different sentence-casing fixes in user-facing strings
  src/translations/en.json
Labels: cla-signed

#26199 Add option to change the area card size for area dashboard
  src/components/ha-areas-floors-display-editor.ts
  src/components/ha-items-display-editor.ts
  src/panels/lovelace/strategies/areas/areas-dashboard-strategy.ts
  src/panels/lovelace/strategies/areas/areas-overview-view-strategy.ts
  src/panels/lovelace/strategies/areas/editor/hui-areas-dashboard-strategy-editor.ts
  src/resources/ha-icons.ts
  src/translations/en.json
Labels: cla-signed

#26205 Increase area card default height when using camera and features
  src/panels/lovelace/cards/hui-area-card.ts
  src/panels/lovelace/strategies/areas/areas-overview-view-strategy.ts
Labels: cla-signed

#26203 Fix description of Picture elements card
  src/translations/en.json
Labels: cla-signed

#26190 Add Supervisor unhealthy reason translations
  src/translations/en.json
Labels: cla-signed, Supervisor

#26206 Small improvements for area strategy editor
  src/components/ha-items-display-editor.ts
  src/panels/lovelace/editor/dashboard-strategy-editor/dialogs/dialog-dashboard-strategy-editor.ts
  src/panels/lovelace/strategies/areas/editor/hui-areas-dashboard-strategy-editor.ts
Labels: cla-signed

#26112 ZWaveJS network graph
  src/components/chart/ha-network-graph.ts
  src/data/zwave_js.ts
  src/panels/config/integrations/integration-panels/zha/zha-network-visualization-page.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-config-router.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-network-visualization.ts
  src/translations/en.json
Labels: cla-signed, Noteworthy, integration: zwave_js

#26218 Fix interactions translation in area card editor
  src/panels/lovelace/editor/config-elements/hui-area-card-editor.ts
Labels: cla-signed

#26223 Fix history for energy_storage device class
  src/data/history.ts
Labels: cla-signed

#26097 Handle predefined options in Z-Wave config panel
  src/components/ha-combo-box.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-node-config.ts
  src/translations/en.json
Labels: cla-signed, integration: zwave_js

#26224 Fix missing sentence-casing in Quickbar navigation items
  src/translations/en.json
Labels: cla-signed

#26241 Show more details in statistics legend when only 1 entity
  src/components/chart/statistics-chart.ts
Labels: cla-signed

#26242 Tweak the color of sum/change lines in statistics chart
  src/components/chart/statistics-chart.ts
Labels: cla-signed

#26251 Download core logs via supervisor
  src/panels/config/logs/system-log-card.ts
Labels: cla-signed

#26258 Stabilize step flow errors
  src/dialogs/config-flow/step-flow-form.ts
Labels: cla-signed

#26187 Add features to light & cover groups more-info
  src/dialogs/more-info/more-info-content.ts
Labels: cla-signed

#26088 Add handle to axis pointer in charts on mobile
  src/components/chart/ha-chart-base.ts
Labels: cla-signed

#26270 Improve ZHA routes vizualization
  src/panels/config/integrations/integration-panels/zha/zha-network-visualization-page.ts
Labels: cla-signed

#26235 Handle visibility changes in camera players
  src/components/ha-hls-player.ts
  src/components/ha-web-rtc-player.ts
Labels: cla-signed

#26276 Three smaller fixes in user-facing strings
  src/translations/en.json
Labels: cla-signed

#26277 Fix spelling, remove errant apostrophe
  src/translations/en.json
Labels: cla-signed

#26280 Disallow special characters in view URL
  src/panels/lovelace/editor/types.ts
  src/panels/lovelace/editor/view-editor/hui-dialog-edit-view.ts
  src/panels/lovelace/editor/view-editor/hui-view-editor.ts
  src/translations/en.json
Labels: cla-signed

#26285 Fix for integration 'Add entry' unnecessary dialogs
  src/panels/config/integrations/dialog-add-integration.ts
Labels: cla-signed

#26303 Fix typo in attribute
  src/panels/lovelace/components/hui-action-editor.ts
Labels: cla-signed

#26302 Cleanup some selectors firing double value-changed events
  src/components/ha-selector/ha-selector-color-temp.ts
  src/components/ha-selector/ha-selector-object.ts
  src/components/ha-selector/ha-selector-template.ts
  src/components/ha-selector/ha-selector-text.ts
  src/components/ha-selector/ha-selector-ui-action.ts
  src/components/ha-selector/ha-selector-ui-color.ts
Labels: cla-signed

#26301 Fix some instability in ha-selector-object
  src/components/ha-selector/ha-selector-object.ts
Labels: cla-signed

#25908 Add weekdays to time trigger
  src/data/automation.ts
  src/data/automation_i18n.ts
  src/panels/config/automation/trigger/types/ha-automation-trigger-time.ts
  src/translations/en.json
Labels: cla-signed, backend merged

#26327 Use underscores in AI task name
  src/panels/config/automation/automation-save-dialog/dialog-automation-save.ts
Labels: cla-signed

#26330 Fix area picker text alignment in voice wizard
  src/dialogs/voice-assistant-setup/voice-assistant-setup-step-area.ts
Labels: cla-signed

#26337 Fix line-height, fix script editor buttons
  src/components/ha-button.ts
  src/panels/config/script/manual-script-editor.ts
Labels: cla-signed
