Repository home-assistant/frontend, pull requests merged in 2025-06, with the labels that each got.

#25726 fix spelling of JavaScript in bug report template
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: cla-signed

#25739 Z-Wave: apply sentence-style capitalization
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-config-dashboard.ts
  src/translations/en.json
Labels: cla-signed

#25747 Display full error for card preview mode
  src/panels/lovelace/cards/hui-card.ts
  src/panels/lovelace/cards/hui-error-card.ts
  src/panels/lovelace/types.ts
Labels: cla-signed

#25751 Fix edit card not working in chrome after editing
  src/panels/lovelace/components/hui-badge-edit-mode.ts
  src/panels/lovelace/components/hui-card-edit-mode.ts
Labels: cla-signed

#25759 Change backup type order
  src/data/backup.ts
Labels: cla-signed

#25764 20250531.3
  pyproject.toml
  src/data/backup.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/lovelace/cards/hui-card.ts
Labels: cla-signed

#25781 Add perform action with to translations
  src/data/script_i18n.ts
  src/translations/en.json
Labels: cla-signed

#25811 Fix automation drag&drop loses item
  src/panels/config/automation/action/ha-automation-action.ts
  src/panels/config/automation/condition/ha-automation-condition.ts
  src/panels/config/automation/trigger/ha-automation-trigger.ts
Labels: cla-signed

#25805 Fix sankey total calculation to account for `included_in_stat`
  src/panels/lovelace/cards/energy/hui-energy-sankey-card.ts
Labels: cla-signed

#25834 Fix combobox helper
  src/components/ha-base-time-input.ts
  src/components/ha-combo-box.ts
  src/components/ha-form/ha-form-integer.ts
  src/components/ha-input-helper-text.ts
  src/components/ha-labeled-slider.ts
  src/components/ha-selector/ha-selector-datetime.ts
  src/components/ha-selector/ha-selector-number.ts
  src/components/ha-selector/ha-selector-object.ts
  src/components/ha-selector/ha-selector-select.ts
  src/components/ha-selector/ha-selector-template.ts
  src/components/ha-target-picker.ts
Labels: cla-signed

#25840 Add hyphen to all compounds with "-powered"
  src/translations/en.json
Labels: cla-signed

#25839 Improve explanation of 'Ping a Matter device' dialog
  src/translations/en.json
Labels: cla-signed

#25841 Fix for my links ending with a slash
  src/panels/my/ha-panel-my.ts
Labels: cla-signed

#25846 Fix sentence-casing of Z-Wave strings
  src/translations/en.json
Labels: cla-signed

#25799 Fix/dhcp config network sort
  src/common/string/compare.ts
  src/components/data-table/ha-data-table.ts
  src/components/data-table/sort-filter-worker.ts
  src/panels/config/integrations/integration-panels/dhcp/dhcp-config-panel.ts
  test/common/string/compare_ip.test.ts
Labels: cla-signed

#25802 Redesign area card
  src/components/ha-aspect-ratio.ts
  src/panels/lovelace/card-features/hui-area-controls-card-feature.ts
  src/panels/lovelace/card-features/types.ts
  src/panels/lovelace/cards/hui-area-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/components/hui-image.ts
  src/panels/lovelace/create-element/create-card-feature-element.ts
  src/panels/lovelace/editor/config-elements/hui-area-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-area-controls-card-feature-editor.ts
  src/panels/lovelace/editor/config-elements/hui-card-features-editor.ts
  src/translations/en.json
Labels: cla-signed, Noteworthy

#25843 Add `fields` and `multiple` support to object selector
  gallery/src/pages/components/ha-selector.ts
  src/components/ha-selector/ha-selector-object.ts
  src/data/selector.ts
  src/data/selector/format_selector_value.ts
  src/dialogs/form/dialog-form.ts
  src/dialogs/form/show-form-dialog.ts
Labels: cla-signed, Design

#25779 Allow changing LLM Task preferences
  src/data/ai_task.ts
  src/data/icons.ts
  src/panels/config/voice-assistants/ai-task-pref.ts
  src/panels/config/voice-assistants/ha-config-voice-assistants-assistants.ts
  src/translations/en.json
  src/types.ts
Labels: cla-signed

#25855 Fix spelling of "to log in", "to set up" and more
  src/translations/en.json
Labels: cla-signed

#25856 Update people dashboard intro
  src/translations/en.json
Labels: cla-signed

#25859 allow previews in config_subentries_flow
  src/data/preview.ts
  src/dialogs/config-flow/previews/flow-preview-generic.ts
Labels: cla-signed

#25852 Another fix for history chart axis rounding
  src/components/chart/state-history-chart-line.ts
Labels: cla-signed

#25808 Add support for accept keyword in media selector
  src/components/ha-selector/ha-selector-media.ts
  src/components/ha-selector/ha-selector-selector.ts
  src/components/media-player/dialog-media-player-browse.ts
  src/components/media-player/ha-media-player-browse.ts
  src/components/media-player/show-media-browser-dialog.ts
  src/data/selector.ts
Labels: cla-signed

#25877 Hide AI Task from default dashboard
  src/panels/lovelace/common/generate-lovelace-config.ts
Labels: cla-signed

#24742 Device page: sort related automations, scenes, scripts
  src/panels/config/devices/ha-config-device-page.ts
Labels: cla-signed

#25894 Update buttons in Z-Wave firmware update dialog
  src/panels/config/integrations/integration-panels/zwave_js/dialog-zwave_js-update-firmware-node.ts
Labels: cla-signed

#25880 Update integration page layout
  src/panels/config/entities/ha-config-entities.ts
  src/panels/config/integrations/dialog-pick-config-entry.ts
  src/panels/config/integrations/ha-config-entry-device-row.ts
  src/panels/config/integrations/ha-config-entry-row.ts
  src/panels/config/integrations/ha-config-integration-page.ts
  src/panels/config/integrations/ha-config-sub-entry-row.ts
  src/panels/config/integrations/show-pick-config-entry-dialog.ts
  src/resources/theme/color.globals.ts
  src/translations/en.json
Labels: cla-signed

#25896 Add container arch to system health data
  src/data/system_health.ts
Labels: cla-signed

#25895 Group area per floor in the areas strategy editor
  src/components/ha-areas-floors-display-editor.ts
  src/panels/lovelace/strategies/areas/areas-overview-view-strategy.ts
  src/panels/lovelace/strategies/areas/editor/hui-areas-dashboard-strategy-editor.ts
  src/translations/en.json
Labels: cla-signed

#25898 Fix warnings raised when migrating incomplete automation configuration
  src/data/script.ts
Labels: cla-signed

#25897 Improve alerts padding in area card
  src/panels/lovelace/cards/hui-area-card.ts
Labels: cla-signed

#25900 Also show sub entry services when sub entry expanded
  src/panels/config/integrations/ha-config-sub-entry-row.ts
Labels: cla-signed

#25901 Improve Entity ID auto-complete in YAML mode
  src/components/ha-code-editor.ts
Labels: cla-signed

#25904 Move AI task prefs to system -> general
  src/data/ai_task.ts
  src/panels/config/automation/automation-save-dialog/dialog-automation-save.ts
  src/panels/config/core/ai-task-pref.ts
  src/panels/config/core/ha-config-section-general.ts
  src/panels/config/voice-assistants/ha-config-voice-assistants-assistants.ts
  src/translations/en.json
Labels: cla-signed

#25903 Add full-screen button to code editors
  src/components/ha-code-editor.ts
Labels: cla-signed

#25854 Fix entity selector slicing value on load
  src/components/ha-selector/ha-selector-area.ts
  src/components/ha-selector/ha-selector-device.ts
  src/components/ha-selector/ha-selector-entity.ts
  src/components/ha-selector/ha-selector-floor.ts
Labels: cla-signed

#25862 Short-format negative and small numbers in energy-distribution-card
  src/data/energy.ts
  test/data/energy.test.ts
Labels: cla-signed

#25909 Move exclude entities config to area card
  src/panels/lovelace/card-features/hui-area-controls-card-feature.ts
  src/panels/lovelace/card-features/types.ts
  src/panels/lovelace/cards/hui-area-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/editor/config-elements/hui-area-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-area-controls-card-feature-editor.ts
  src/panels/lovelace/strategies/areas/areas-overview-view-strategy.ts
Labels: cla-signed

#25910 make debug mode better visible, improve disabling device
  src/panels/config/integrations/ha-config-entry-device-row.ts
  src/panels/config/integrations/ha-config-integration-page.ts
  src/translations/en.json
Labels: cla-signed

#25920 Only show own devices when there are devices...
  src/panels/config/integrations/ha-config-entry-row.ts
  src/panels/config/integrations/ha-config-integration-page.ts
Labels: cla-signed

#25915 Deduplicate weekdays in time conditions
  src/translations/en.json
Labels: cla-signed

#25919 Update confirm disable messages
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/config/integrations/ha-config-entry-device-row.ts
  src/translations/en.json
Labels: cla-signed

#25924 Make the config entry row section wider on mobile
  src/panels/config/integrations/ha-config-entry-row.ts
Labels: cla-signed

#25927 Fix logbook stream subscription
  src/data/logbook.ts
  src/panels/logbook/ha-logbook.ts
Labels: cla-signed

#25940 add version number to integration page
  src/panels/config/integrations/ha-config-integration-page.ts
Labels: cla-signed

#25941 make sure header is always shown in data entry flow
  src/dialogs/config-flow/dialog-data-entry-flow.ts
Labels: cla-signed

#25942 Add label to version number
  src/panels/config/integrations/ha-config-integration-page.ts
  src/translations/en.json
Labels: cla-signed

#25953 Revert vaadin to 24.7.7
  package.json
  yarn.lock
Labels: cla-signed

#25948 Fix filtering on device in entities config panel
  src/common/decorators/storage.ts
  src/components/ha-filter-blueprints.ts
  src/components/ha-filter-devices.ts
  src/components/ha-filter-entities.ts
  src/components/ha-filter-floor-areas.ts
  src/panels/config/entities/ha-config-entities.ts
Labels: cla-signed

#25955 Fix expand icon for entries and sub entries
  src/panels/config/integrations/ha-config-entry-row.ts
  src/panels/config/integrations/ha-config-sub-entry-row.ts
Labels: cla-signed

#25966 Add Claude to gitignore
  .gitignore
Labels: cla-signed

#25964 Use entity format state if only one entity for that domain in the area card
  src/panels/lovelace/cards/hui-area-card.ts
Labels: cla-signed

#25965 Improve settings page accessibility (No. 2)
  src/panels/config/dashboard/ha-config-navigation.ts
  src/panels/config/dashboard/ha-config-updates.ts
Labels: cla-signed

#25981 Fix sentence-casing, spelling and grammar issues
  src/translations/en.json
Labels: cla-signed

#25986 Pass area control service calls through hass
  src/common/entity/group_entities.ts
Labels: cla-signed

#25917 Fix use of numeric option for collator
  src/common/string/compare.ts
  test/common/string/sort.test.ts
Labels: cla-signed

#26006 Do not display quality scale for custom integrations
  src/panels/config/integrations/ha-config-integration-page.ts
Labels: cla-signed

#26007 Fix object selector not displayed
  src/components/ha-selector/ha-selector-object.ts
Labels: cla-signed
