Repository home-assistant/frontend, pull requests merged in 2025-04, with the labels that each got.

#24879 Revert "Update rspack monorepo to v1.3.0"
  package.json
  yarn.lock
Labels: cla-signed

#24874 Add area and category as columns in automation, scenes and scripts
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/scene/ha-scene-dashboard.ts
  src/panels/config/script/ha-script-picker.ts
Labels: cla-signed

#24882 Add ellipsis for more info breadcrumb
  src/dialogs/more-info/ha-more-info-dialog.ts
Labels: cla-signed

#24876 Developer tools action fixes
  src/panels/developer-tools/action/developer-tools-action.ts
Labels: cla-signed

#24885 Use md list in config navigation
  src/components/entity/state-badge.ts
  src/components/ha-navigation-list.ts
  src/panels/config/core/ha-config-section-updates.ts
  src/panels/config/dashboard/ha-config-updates.ts
Labels: cla-signed

#24843 Improve toggle button for disabled combo boxes
  src/components/ha-combo-box.ts
Labels: cla-signed

#24886 Render autogenerated step descriptions in trace path viewer
  src/components/trace/ha-trace-path-details.ts
  src/components/trace/hat-script-graph.ts
Labels: cla-signed

#24902 Refresh dashboard strategy when registries changed
  src/panels/lovelace/ha-panel-lovelace.ts
Labels: cla-signed

#24905 Add missing translations for areas strategy
  src/panels/lovelace/strategies/areas/area-view-strategy.ts
  src/panels/lovelace/strategies/areas/editor/hui-areas-dashboard-strategy-editor.ts
  src/panels/lovelace/strategies/areas/helpers/areas-strategy-helper.ts
  src/translations/en.json
Labels: cla-signed

#24913 Show the correct area icon in entity breadcrumb
  src/components/ha-related-items.ts
Labels: cla-signed, Needs UX

#24929 Import missing ha-tip in quick bar dialog
  src/dialogs/quick-bar/ha-quick-bar.ts
Labels: cla-signed

#24918 Add dialog to show keyboard shortcuts
  src/dialogs/shortcuts/dialog-shortcuts.ts
  src/dialogs/shortcuts/show-shortcuts-dialog.ts
  src/panels/config/dashboard/ha-config-dashboard.ts
  src/panels/config/info/ha-config-info.ts
  src/panels/developer-tools/state/developer-tools-state.ts
  src/panels/lovelace/hui-root.ts
  src/panels/profile/ha-profile-section-general.ts
  src/translations/en.json
Labels: cla-signed, Noteworthy

#24949 Use `--outline-color` in shortcuts dialog
  src/dialogs/shortcuts/dialog-shortcuts.ts
Labels: cla-signed

#24950 Fix voice wizard bugs
  src/data/assist_satellite.ts
  src/dialogs/voice-assistant-setup/voice-assistant-setup-dialog.ts
  src/dialogs/voice-assistant-setup/voice-assistant-setup-step-success.ts
  src/translations/en.json
Labels: cla-signed

#24947 Restore default hold action for some cards
  src/panels/lovelace/cards/hui-picture-glance-card.ts
  src/panels/lovelace/editor/config-elements/elements/hui-icon-element-editor.ts
  src/panels/lovelace/editor/config-elements/elements/hui-image-element-editor.ts
  src/panels/lovelace/editor/config-elements/elements/hui-state-badge-element-editor.ts
  src/panels/lovelace/editor/config-elements/elements/hui-state-icon-element-editor.ts
  src/panels/lovelace/editor/config-elements/elements/hui-state-label-element-editor.ts
  src/panels/lovelace/editor/config-elements/hui-picture-glance-card-editor.ts
  src/panels/lovelace/elements/hui-icon-element.ts
  src/panels/lovelace/elements/hui-image-element.ts
  src/panels/lovelace/elements/hui-state-badge-element.ts
  src/panels/lovelace/elements/hui-state-icon-element.ts
  src/panels/lovelace/elements/hui-state-label-element.ts
Labels: cla-signed

#24956 Allow to turn of `debugConnection` in dev
  src/state/connection-mixin.ts
Labels: cla-signed

#24955 Make some parts of shortcuts in dialog translatable
  src/dialogs/shortcuts/dialog-shortcuts.ts
  src/translations/en.json
Labels: cla-signed

#24969 Fix submit spinner in config-flow-form
  src/dialogs/config-flow/step-flow-form.ts
Labels: cla-signed

#24965 Fix data-table sort by unknown column
  src/components/data-table/ha-data-table.ts
  src/layouts/hass-tabs-subpage-data-table.ts
Labels: cla-signed

#24967 Update datatable in devices config page
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/translations/en.json
Labels: cla-signed, Noteworthy

#24968 Make the full generic entity row clickable
  src/panels/lovelace/components/hui-generic-entity-row.ts
Labels: cla-signed

#24974 Align automation trace tab order with script tab order
  src/panels/config/automation/ha-automation-trace.ts
Labels: cla-signed

#24973 Migrate icon overflow menu to `ha-md-button-menu`
  src/components/ha-icon-overflow-menu.ts
Labels: cla-signed

#24978 Improve background settings and fix save button
  src/components/ha-selector/ha-selector-background.ts
  src/panels/lovelace/editor/view-editor/hui-dialog-edit-view.ts
  src/panels/lovelace/editor/view-editor/hui-view-background-editor.ts
Labels: cla-signed

#24982 Restore media browser to browser when entity is not in state machine
  src/panels/media-browser/ha-panel-media-browser.ts
Labels: cla-signed

#24979 Restore no grouping from local storage from datatable
  src/layouts/hass-tabs-subpage-data-table.ts
Labels: cla-signed

#24952 Add shortcuts item to command quick bar
  src/dialogs/quick-bar/ha-quick-bar.ts
Labels: cla-signed

#24983 Allow to copy IP address of Matter devices to clipboard
  src/panels/config/integrations/integration-panels/matter/dialog-matter-ping-node.ts
Labels: cla-signed

#24987 Fix data-table group by unknown column
  src/layouts/hass-tabs-subpage-data-table.ts
Labels: cla-signed

#24989 Fix now-7d history to include today
  src/common/datetime/calc_date_range.ts
Labels: cla-signed

#24986 Hide hardware integrations without entities
  src/panels/config/integrations/ha-config-integrations-dashboard.ts
Labels: cla-signed

#24984 Fix refresh strategy config on HA start-up
  src/panels/lovelace/ha-panel-lovelace.ts
Labels: cla-signed

#24966 Update entity naming in entities config page
  src/common/entity/compute_device_name.ts
  src/common/string/get_duplicates.ts
  src/panels/config/devices/ha-config-devices-dashboard.ts
  src/panels/config/entities/ha-config-entities.ts
  src/translations/en.json
Labels: cla-signed, Noteworthy

#24992 Render low carbon gauge when only solar consumption
  src/panels/lovelace/cards/energy/hui-energy-carbon-consumed-gauge-card.ts
Labels: cla-signed

#24998 Fix dragging in tab bar
  src/components/sl-tab-group.ts
Labels: cla-signed

#25002 Fix automation action row describing template targets
  src/data/script_i18n.ts
Labels: cla-signed

#24994 Add tests for get duplicates function
  test/common/string/get_duplicate.test.ts
Labels: cla-signed

#25006 Also show hardware integration if it has options
  src/panels/config/integrations/ha-config-integrations-dashboard.ts
Labels: cla-signed

#24997 Wait for cloud and backup in onboarding
  src/data/onboarding.ts
  src/onboarding/onboarding-restore-backup.ts
Labels: cla-signed

#24993 Only ask to refresh dashboard if necessary
  src/panels/lovelace/ha-panel-lovelace.ts
  src/panels/lovelace/views/hui-view.ts
Labels: cla-signed

#24995 Add automatic backup toggle to OS update
  src/data/update.ts
  src/dialogs/more-info/controls/more-info-update.ts
Labels: cla-signed

#25013 Add reconnection information when an instance is already connected
  src/translations/en.json
Labels: cla-signed

#25012 Wait for backup integration to setup before subscribing
  package.json
  src/data/backup_manager.ts
  src/data/integration.ts
  src/panels/config/backup/dialogs/dialog-restore-backup.ts
  yarn.lock
Labels: cla-signed

#25015 Support more templates in action visual editor
  src/components/ha-service-control.ts
  src/panels/config/automation/action/types/ha-automation-action-service.ts
  src/panels/developer-tools/action/developer-tools-action.ts
Labels: cla-signed

#25029 No particles when prefers-reduced-motion
  src/auth/ha-authorize.ts
  src/onboarding/ha-onboarding.ts
Labels: cla-signed

#25031 ha-map-card: fit_zones tiny fix
  src/panels/lovelace/cards/hui-map-card.ts
Labels: cla-signed

#25027 more-info-camera: disable "download_snapshot" if idle
  src/dialogs/more-info/controls/more-info-camera.ts
Labels: cla-signed

#24248 If entity has "entity_picture" - allow using a CSS theme var for border-radius
  src/components/entity/state-badge.ts
Labels: cla-signed

#25044 Link the device info BLE address to the Advertisement Monitor
  src/panels/config/devices/device-detail/ha-device-info-card.ts
  src/panels/config/integrations/integration-panels/bluetooth/bluetooth-advertisement-monitor.ts
Labels: cla-signed

#25045 codemirror: set cursor color to "--primary-color", set indent marker color to "--divider-color"
  src/resources/codemirror.ts
Labels: cla-signed

#25020 Do not show tips for shortcuts on a client with a touch screen
  src/panels/config/dashboard/ha-config-dashboard.ts
  src/panels/developer-tools/state/developer-tools-state.ts
  src/panels/profile/ha-profile-section-general.ts
  src/util/is_mobile.ts
Labels: cla-signed, Needs UX

#25034 Use codemirror in dialog-import-blueprint
  src/panels/config/blueprint/dialog-import-blueprint.ts
Labels: cla-signed

#25052 Use expandable instead of advanced mode toggle
  src/panels/config/helpers/dialog-helper-detail.ts
  src/panels/config/helpers/forms/dialog-schedule-block-info.ts
  src/panels/config/helpers/forms/ha-counter-form.ts
  src/panels/config/helpers/forms/ha-input_number-form.ts
  src/panels/config/helpers/forms/ha-input_text-form.ts
  src/translations/en.json
Labels: cla-signed

#25054 Remove advanced mode from scenes editor
  src/panels/config/scene/ha-config-scene.ts
  src/panels/config/scene/ha-scene-editor.ts
Labels: cla-signed

#25051 Don't use advanced mode in hardware dialog
  hassio/src/dialogs/hardware/dialog-hassio-hardware.ts
Labels: cla-signed, Supervisor

#25055 Add suffix to addon copies setting
  src/panels/config/backup/components/config/ha-backup-config-addon.ts
Labels: cla-signed

#25066 Fix theme variables for ha-tabs
  src/panels/developer-tools/ha-panel-developer-tools.ts
Labels: cla-signed

#25035 Add padding back to weather forecast card for non-masonry layout
  src/panels/lovelace/cards/hui-weather-forecast-card.ts
Labels: cla-signed

#25068 Avoid generic entity row with control to open more info
  src/panels/lovelace/components/hui-generic-entity-row.ts
Labels: cla-signed

#25043 fix ha-textfield (max-width, text-overflow, padding)
  src/components/ha-textfield.ts
Labels: cla-signed

#25074 Fix safe area inset in sidebar
  src/components/ha-sidebar.ts
Labels: cla-signed

#25073 Create covers section in area strategy dashboard
  src/panels/lovelace/strategies/areas/area-view-strategy.ts
  src/panels/lovelace/strategies/areas/helpers/areas-strategy-helper.ts
  src/translations/en.json
Labels: cla-signed

#25080 Translate "Unnamed view"
  src/panels/lovelace/hui-root.ts
  src/translations/en.json
Labels: cla-signed

#25078 Fix and improve remove z-wave node
  src/panels/config/integrations/integration-panels/zwave_js/dialog-zwave_js-remove-node.ts
  src/translations/en.json
Labels: cla-signed

#25079 Improve ha cloud info buttons
  src/panels/config/voice-assistants/cloud-discover.ts
Labels: cla-signed

#25082 Add support for exact % progress reports in options flow
  src/data/data_entry_flow.ts
  src/dialogs/config-flow/dialog-data-entry-flow.ts
  src/dialogs/config-flow/step-flow-abort.ts
  src/dialogs/config-flow/step-flow-progress.ts
  src/translations/en.json
Labels: cla-signed, backend merged

#24667 Implement new Z-Wave add device flow
  public/static/images/z-wave-add-node/long-range.svg
  public/static/images/z-wave-add-node/long-range_dark.svg
  public/static/images/z-wave-add-node/mesh.svg
  public/static/images/z-wave-add-node/mesh_dark.svg
  src/common/integrations/protocolIntegrationPicked.ts
  src/components/ha-qr-scanner.ts
  src/data/zwave_js.ts
  src/panels/config/integrations/integration-panels/zwave_js/add-node/data.ts
  src/panels/config/integrations/integration-panels/zwave_js/add-node/dialog-zwave_js-add-node.ts
  src/panels/config/integrations/integration-panels/zwave_js/add-node/show-dialog-zwave_js-add-node.ts
  src/panels/config/integrations/integration-panels/zwave_js/add-node/zwave-js-add-node-added-insecure.ts
  src/panels/config/integrations/integration-panels/zwave_js/add-node/zwave-js-add-node-code-input.ts
  src/panels/config/integrations/integration-panels/zwave_js/add-node/zwave-js-add-node-configure-device.ts
  src/panels/config/integrations/integration-panels/zwave_js/add-node/zwave-js-add-node-failed.ts
  src/panels/config/integrations/integration-panels/zwave_js/add-node/zwave-js-add-node-grant-security-classes.ts
  src/panels/config/integrations/integration-panels/zwave_js/add-node/zwave-js-add-node-loading.ts
  src/panels/config/integrations/integration-panels/zwave_js/add-node/zwave-js-add-node-searching-devices.ts
  src/panels/config/integrations/integration-panels/zwave_js/add-node/zwave-js-add-node-select-method.ts
  src/panels/config/integrations/integration-panels/zwave_js/add-node/zwave-js-add-node-select-security-strategy.ts
  src/panels/config/integrations/integration-panels/zwave_js/add-node/zwave_js-add-node.ts
  src/panels/config/integrations/integration-panels/zwave_js/dialog-zwave_js-add-node.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-config-dashboard.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-config-router.ts
  src/translations/en.json
Labels: cla-signed, Noteworthy

#25003 ZwaveJS controller migration flow
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-config-dashboard.ts
  src/translations/en.json
Labels: cla-signed, integration: zwave_js

#25005 Add fit mode support to picture glance card and picture entity card
  src/components/ha-camera-stream.ts
  src/components/ha-hls-player.ts
  src/components/ha-web-rtc-player.ts
  src/panels/lovelace/cards/hui-area-card.ts
  src/panels/lovelace/cards/hui-picture-entity-card.ts
  src/panels/lovelace/cards/hui-picture-glance-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/components/hui-image.ts
  src/panels/lovelace/editor/config-elements/hui-picture-entity-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-picture-glance-card-editor.ts
  src/translations/en.json
Labels: cla-signed

#24971 Update entity naming in entity picker
  src/components/entity/ha-entity-picker.ts
  src/components/ha-combo-box-item.ts
  src/data/frontend.ts
  src/panels/profile/ha-entity-id-picker-row.ts
  src/panels/profile/ha-profile-section-general.ts
  src/translations/en.json
Labels: cla-signed, Noteworthy

#25096 Use ha-combox-box-list-item in all combo box components
  src/components/device/ha-device-picker.ts
  src/components/entity/ha-statistic-picker.ts
  src/components/ha-addon-picker.ts
  src/components/ha-area-floor-picker.ts
  src/components/ha-area-picker.ts
  src/components/ha-combo-box-item.ts
  src/components/ha-combo-box.ts
  src/components/ha-config-entry-picker.ts
  src/components/ha-floor-picker.ts
  src/components/ha-icon-picker.ts
  src/components/ha-label-picker.ts
  src/components/ha-navigation-picker.ts
  src/components/ha-service-picker.ts
  src/panels/config/application_credentials/dialog-add-application-credential.ts
  src/panels/config/category/ha-category-picker.ts
Labels: cla-signed

#25097 Fix spinner in quick bar
  src/dialogs/quick-bar/ha-quick-bar.ts
Labels: cla-signed

#25101 Area strategy: Translate no entities in this area
  src/panels/lovelace/strategies/areas/areas-overview-view-strategy.ts
  src/translations/en.json
Labels: cla-signed

#25117 Translation for number of occurrences
  src/panels/config/logs/dialog-system-log-detail.ts
  src/translations/en.json
Labels: cla-signed

#25107 Fix some min/mean/max issues with statistics line charts
  src/components/chart/statistics-chart.ts
Labels: cla-signed

#25118 Sensor card: Graph types options translated
  src/panels/lovelace/editor/config-elements/hui-sensor-card-editor.ts
  src/translations/en.json
Labels: cla-signed

#25119 Camera view options translated
  src/panels/lovelace/editor/config-elements/elements/hui-image-element-editor.ts
  src/panels/lovelace/editor/config-elements/hui-area-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-picture-elements-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-picture-entity-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-picture-glance-card-editor.ts
Labels: cla-signed

#25086 Add initial DHCP discovery panel
  src/data/dhcp.ts
  src/data/integration.ts
  src/panels/config/devices/device-detail/ha-device-info-card.ts
  src/panels/config/ha-panel-config.ts
  src/panels/config/integrations/integration-panels/dhcp/dhcp-config-panel.ts
  src/panels/my/ha-panel-my.ts
  src/translations/en.json
Labels: cla-signed

#25116 Delete entity/device to Remove entity/device in scene editor
  src/translations/en.json
Labels: cla-signed

#25134 Fix event propagation in generic entity row
  src/panels/lovelace/components/hui-generic-entity-row.ts
Labels: cla-signed

#24815 Change netlify actions
  .github/workflows/cast_deployment.yaml
  .github/workflows/demo_deployment.yaml
  .github/workflows/design_deployment.yaml
  .github/workflows/design_preview.yaml
Labels: cla-signed, needs design preview, GitHub Actions

#25106 Fix stuck onboarding when no devices are discovered
  src/onboarding/onboarding-integrations.ts
Labels: cla-signed

#25140 convert-color: color names should be case insensitive
  src/common/color/convert-color.ts
  test/common/color/convert-color.test.ts
Labels: cla-signed

#25137 Use new entity naming in statistic picker
  src/components/entity/ha-statistic-picker.ts
  src/translations/en.json
Labels: cla-signed

#25115 Extend usage of Data Entry Flow forms description_placeholders to field labels
  src/dialogs/config-flow/show-dialog-config-flow.ts
  src/dialogs/config-flow/show-dialog-options-flow.ts
  src/dialogs/config-flow/show-dialog-sub-config-flow.ts
Labels: cla-signed

#25148 Improve landingpage translation loading
  landing-page/src/ha-landing-page.ts
  landing-page/src/landing-page-base-element.ts
Labels: cla-signed

#25146 Add automation loading indicator
  src/panels/config/automation/ha-automation-editor.ts
Labels: cla-signed

#25147 Improve onboarding styling
  src/onboarding/onboarding-welcome.ts
Labels: cla-signed

#25132 Add system-managed addon info
  hassio/src/addon-view/config/hassio-addon-audio.ts
  hassio/src/addon-view/config/hassio-addon-config-tab.ts
  hassio/src/addon-view/config/hassio-addon-config.ts
  hassio/src/addon-view/config/hassio-addon-network.ts
  hassio/src/addon-view/hassio-addon-dashboard.ts
  hassio/src/addon-view/hassio-addon-router.ts
  hassio/src/addon-view/info/hassio-addon-info-tab.ts
  hassio/src/addon-view/info/hassio-addon-info.ts
  hassio/src/addon-view/info/hassio-addon-system-managed.ts
  hassio/src/dialogs/markdown/dialog-hassio-markdown.ts
  hassio/src/dialogs/system-managed/dialog-system-managed.ts
  hassio/src/dialogs/system-managed/show-dialog-system-managed.ts
  src/data/hassio/addon.ts
  src/translations/en.json
Labels: cla-signed, Supervisor

#25154 Add badges section on the areas strategy editor
  src/panels/lovelace/strategies/areas/editor/hui-areas-dashboard-strategy-editor.ts
  src/translations/en.json
Labels: cla-signed

#25010 Add prevent restart when backup is ongoing
  src/data/backup_manager.ts
  src/dialogs/restart/dialog-restart-wait.ts
  src/dialogs/restart/dialog-restart.ts
  src/dialogs/restart/show-dialog-restart.ts
  src/translations/en.json
Labels: cla-signed, Noteworthy

#25130 Use numeric prefix for IPv6 mask
  src/data/hassio/network.ts
  src/panels/config/network/supervisor-network.ts
  src/translations/en.json
Labels: cla-signed

#25084 Add typography tokens
  demo/src/configs/jimpower/theme.ts
  demo/src/configs/kernehed/theme.ts
  demo/src/configs/teachingbirds/theme.ts
  demo/src/custom-cards/cast-demo-row.ts
  gallery/src/pages/components/ha-selector.ts
  gallery/src/pages/components/ha-tooltip.markdown
  hassio/src/components/hassio-card-content.ts
  hassio/src/dashboard/hassio-update.ts
  hassio/src/dialogs/hardware/dialog-hassio-hardware.ts
  hassio/src/resources/hassio-style.ts
  src/components/entity/state-badge.ts
  src/components/ha-markdown.ts
  src/components/ha-network.ts
  src/components/ha-service-control.ts
  src/components/ha-settings-row.ts
  src/components/ha-tooltip.ts
  src/components/sl-tab-group.ts
  src/dialogs/more-info/controls/more-info-weather.ts
  src/dialogs/notifications/notification-item-template.ts
  src/panels/calendar/ha-full-calendar.ts
  src/panels/config/automation/action/types/ha-automation-action-service.ts
  src/panels/config/automation/ha-automation-picker.ts
  src/panels/config/blueprint/blueprint-generic-editor.ts
  src/panels/config/devices/device-detail/ha-device-entities-card.ts
  src/panels/config/devices/device-detail/integration-elements/mqtt/mqtt-discovery-payload.ts
  src/panels/config/devices/device-detail/integration-elements/mqtt/mqtt-messages.ts
  src/panels/config/devices/ha-config-device-page.ts
  src/panels/config/ha-config-section.ts
  src/panels/config/hardware/dialog-hardware-available.ts
  src/panels/config/integrations/integration-panels/mqtt/mqtt-subscribe-card.ts
  src/panels/config/integrations/integration-panels/zha/zha-add-group-page.ts
  src/panels/config/integrations/integration-panels/zha/zha-config-dashboard.ts
  src/panels/config/integrations/integration-panels/zha/zha-group-page.ts
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-node-config.ts
  src/panels/config/logs/dialog-system-log-detail.ts
  src/panels/config/logs/error-log-card.ts
  src/panels/config/scene/ha-scene-dashboard.ts
  src/panels/config/script/ha-script-picker.ts
  src/panels/developer-tools/event/event-subscribe-card.ts
  src/panels/developer-tools/ha-panel-developer-tools.ts
  src/panels/developer-tools/template/developer-tools-template.ts
  src/panels/logbook/ha-logbook-renderer.ts
  src/panels/lovelace/badges/hui-error-badge.ts
  src/panels/lovelace/cards/hui-button-card.ts
  src/panels/lovelace/cards/hui-entity-card.ts
  src/panels/lovelace/cards/hui-error-card.ts
  src/panels/lovelace/cards/hui-glance-card.ts
  src/panels/lovelace/cards/hui-light-card.ts
  src/panels/lovelace/cards/hui-plant-status-card.ts
  src/panels/lovelace/heading-badges/hui-error-heading-badge.ts
  src/panels/lovelace/special-rows/hui-button-row.ts
  src/panels/lovelace/special-rows/hui-cast-row.ts
  src/panels/lovelace/special-rows/hui-text-row.ts
  src/panels/lovelace/special-rows/hui-weblink-row.ts
  src/resources/codemirror.ts
  src/resources/ha-style.ts
  src/resources/styles-data.ts
  src/resources/styles.ts
Labels: cla-signed, Breaking Change, Supervisor, Demo, Design

#25158 Add unit tests and docs for common/context
  src/common/entity/context/get_area_context.ts
  src/common/entity/context/get_entity_context.ts
  test/common/entity/context/get_area_context.test.ts
  test/common/entity/context/get_entity_context.test.ts
Labels: cla-signed

#24709 Add Option to wrap or scroll section header badges
  public/static/images/form/view_header_badges_wrap_scroll.svg
  public/static/images/form/view_header_badges_wrap_scroll_dark.svg
  public/static/images/form/view_header_badges_wrap_wrap.svg
  public/static/images/form/view_header_badges_wrap_wrap_dark.svg
  src/data/lovelace/config/view.ts
  src/panels/lovelace/badges/hui-view-badges.ts
  src/panels/lovelace/editor/view-header/hui-view-header-settings-editor.ts
  src/panels/lovelace/views/hui-view-header.ts
  src/translations/en.json
Labels: cla-signed

#25159 Add a drag-scroll controller
  package.json
  src/common/controllers/drag-scroll-controller.ts
  src/components/sl-tab-group.ts
  src/dialogs/more-info/controls/more-info-weather.ts
  src/panels/lovelace/views/hui-view-header.ts
  yarn.lock
Labels: cla-signed

#25165 Replace clickable list item
  src/components/ha-clickable-list-item.ts
  src/panels/config/hardware/ha-config-hardware.ts
  src/panels/config/info/ha-config-info.ts
  src/panels/config/integrations/ha-integration-overflow-menu.ts
  src/panels/config/lovelace/dashboards/ha-config-lovelace-dashboards.ts
  src/panels/config/repairs/integrations-startup-time.ts
Labels: cla-signed

#25142 Allow to change device names during config flow
  src/dialogs/config-flow/show-dialog-config-flow.ts
  src/dialogs/config-flow/show-dialog-sub-config-flow.ts
  src/dialogs/config-flow/step-flow-create-entry.ts
  src/panels/config/integrations/integration-panels/zha/zha-device-card.ts
  src/translations/en.json
Labels: cla-signed, Noteworthy

#25170 Always use target ES2021
  build-scripts/bundle.cjs
  build-scripts/rspack.cjs
Labels: cla-signed, Build

#24896 Clean up polymer paper item CSS variables
  demo/src/configs/jimpower/theme.ts
  demo/src/configs/kernehed/theme.ts
  demo/src/configs/teachingbirds/theme.ts
  hassio/src/dialogs/repositories/dialog-hassio-repositories.ts
  src/components/ha-combo-box-item.ts
  src/components/ha-duration-input.ts
  src/panels/config/devices/device-detail/ha-device-entities-card.ts
  src/resources/styles-data.ts
Labels: cla-signed, Breaking Change, Supervisor, Demo

#25172 Improve sidebar styling
  src/components/ha-sidebar.ts
Labels: cla-signed

#25174 Use refactored Z-Wave reconfigure flow
  src/panels/config/integrations/integration-panels/zwave_js/zwave_js-config-dashboard.ts
Labels: cla-signed

#25173 remove wait for person in onboarding user
  src/onboarding/onboarding-create-user.ts
Labels: cla-signed

#25042 Fix height & scroll in hui-dialog-create-card
  src/panels/lovelace/editor/card-editor/hui-card-picker.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-create-card.ts
Labels: cla-signed

#25175 Improve handling of batteries in sankey chart
  src/panels/lovelace/cards/energy/hui-energy-sankey-card.ts
Labels: cla-signed

#25164 render voice names for Cloud voices
  src/data/cloud/tts.ts
  src/panels/config/cloud/account/cloud-tts-pref.ts
Labels: cla-signed

#25166 Replace mwc-tab -> sl-tab
  src/dialogs/more-info/controls/more-info-weather.ts
  src/panels/lovelace/editor/badge-editor/hui-badge-element-editor.ts
  src/panels/lovelace/editor/badge-editor/hui-dialog-create-badge.ts
  src/panels/lovelace/editor/card-editor/hui-card-element-editor.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-create-card.ts
  src/panels/lovelace/editor/config-elements/hui-conditional-card-editor.ts
  src/panels/lovelace/editor/section-editor/hui-dialog-edit-section.ts
  src/panels/lovelace/editor/view-editor/hui-dialog-edit-view.ts
Labels: cla-signed

#25151 Add initial zeroconf panel
  src/data/integration.ts
  src/data/zeroconf.ts
  src/panels/config/ha-panel-config.ts
  src/panels/config/integrations/integration-panels/zeroconf/dialog-zeroconf-discovery-info.ts
  src/panels/config/integrations/integration-panels/zeroconf/show-dialog-zeroconf-discovery-info.ts
  src/panels/config/integrations/integration-panels/zeroconf/zeroconf-config-panel.ts
  src/panels/config/network/ha-config-network-discovery.ts
  src/panels/config/network/ha-config-section-network.ts
  src/panels/my/ha-panel-my.ts
  src/translations/en.json
Labels: cla-signed

#25180 Fix wrong label selected when filtering labels
  src/components/ha-filter-labels.ts
Labels: cla-signed

#25181 Align add-view button in edit dashboard
  src/panels/lovelace/hui-root.ts
Labels: cla-signed

#25184 Share energy sum calculation across all cards
  src/data/energy.ts
  src/panels/lovelace/cards/energy/hui-energy-carbon-consumed-gauge-card.ts
  src/panels/lovelace/cards/energy/hui-energy-distribution-card.ts
  src/panels/lovelace/cards/energy/hui-energy-grid-neutrality-gauge-card.ts
  src/panels/lovelace/cards/energy/hui-energy-sankey-card.ts
  src/panels/lovelace/cards/energy/hui-energy-self-sufficiency-gauge-card.ts
  src/panels/lovelace/cards/energy/hui-energy-solar-consumed-gauge-card.ts
  src/panels/lovelace/cards/energy/hui-energy-usage-graph-card.ts
Labels: cla-signed

#25179 Replace remaining mwc-tabs
  hassio/src/dialogs/network/dialog-hassio-network.ts
  package.json
  src/panels/config/integrations/integration-panels/zha/dialog-zha-manage-zigbee-device.ts
  src/panels/config/integrations/integration-panels/zha/zha-manage-clusters.ts
  src/panels/config/network/supervisor-network.ts
  yarn.lock
Labels: cla-signed, Supervisor

#25186 Rename entity ids when updating device name during config flow
  src/dialogs/config-flow/step-flow-create-entry.ts
  src/translations/en.json
Labels: cla-signed

#25156 Scripts - Fix the run button to check if the script has fields
  src/panels/config/script/ha-script-picker.ts
Labels: cla-signed

#25199 Fix storage decorator timing
  src/common/decorators/storage.ts
Labels: cla-signed

#25188 Wait for backup integration when doing a restore
  src/onboarding/onboarding-restore-backup.ts
Labels: cla-signed

#25203 Update ha cloud backup info translation
  src/translations/en.json
Labels: cla-signed

#25171 Add typography styles
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  cast/src/launcher/entrypoint.ts
  cast/src/receiver/layout/hc-main.ts
  demo/src/entrypoint.ts
  hassio/src/entrypoint.ts
  src/common/dom/apply_themes_on_element.ts
  src/common/style/derived-css-vars.ts
  src/entrypoints/app.ts
  src/entrypoints/authorize.ts
  src/entrypoints/onboarding.ts
  src/panels/config/hardware/ha-config-hardware.ts
  src/panels/profile/ha-pick-theme-row.ts
  src/resources/append-ha-style.ts
  src/resources/ha-style.ts
  src/resources/particles.ts
  src/resources/roboto.ts
  src/resources/styles-data.ts
  src/resources/theme/color.globals.ts
  src/resources/theme/main.globals.ts
  src/resources/theme/theme.ts
  src/resources/theme/typography.globals.ts
Labels: cla-signed, Supervisor, Cast, Demo

#24917 History tooltip RTL fix
  src/components/chart/ha-chart-base.ts
  src/components/chart/state-history-chart-line.ts
  src/components/chart/state-history-chart-timeline.ts
Labels: cla-signed

#25185 Themeable badge icon size and badge font size
  src/components/ha-badge.ts
Labels: cla-signed

#25208 Add context to config update entries
  src/panels/config/dashboard/ha-config-updates.ts
  src/translations/en.json
Labels: cla-signed

#25213 Guard against unknown entities in automation compare functions
  src/data/device_automation.ts
Labels: cla-signed

#25218 Add ha-badge docs to gallery
  gallery/src/entrypoint.js
  gallery/src/pages/components/ha-badge.markdown
  gallery/src/pages/components/ha-badge.ts
  src/components/ha-badge.ts
Labels: cla-signed, Design

#25176 Use list item for entity picker
  landing-page/src/entrypoint.js
  src/components/entity/ha-entities-picker.ts
  src/components/entity/ha-entity-combo-box.ts
  src/components/entity/ha-entity-picker.ts
  src/components/ha-combo-box-item.ts
  src/components/ha-combo-box.ts
  src/components/ha-md-list-item.ts
  src/components/ha-target-picker.ts
  src/data/logbook.ts
  src/panels/developer-tools/state/developer-tools-state.ts
  src/panels/lovelace/components/hui-entity-editor.ts
  src/panels/lovelace/editor/config-elements/hui-heading-badges-editor.ts
  src/translations/en.json
Labels: cla-signed, Noteworthy

#25221 Change --ha-font-weight-bold
  src/resources/theme/theme.ts
  src/resources/theme/typography.globals.ts
Labels: cla-signed

#25222 Add message when no entities found in the entity picker
  src/components/entity/ha-entity-combo-box.ts
Labels: cla-signed

#25217 Add initial SSDP discovery panel
  src/data/integration.ts
  src/data/ssdp.ts
  src/panels/config/ha-panel-config.ts
  src/panels/config/integrations/integration-panels/ssdp/dialog-ssdp-discovery-info.ts
  src/panels/config/integrations/integration-panels/ssdp/show-dialog-ssdp-discovery-info.ts
  src/panels/config/integrations/integration-panels/ssdp/ssdp-config-panel.ts
  src/panels/config/network/ha-config-network-discovery.ts
  src/panels/config/network/ha-config-network-ssdp.ts
  src/panels/config/network/ha-config-network-zeroconf.ts
  src/panels/config/network/ha-config-section-network.ts
  src/panels/my/ha-panel-my.ts
  src/translations/en.json
Labels: cla-signed, Feature, backend merged

#25197 Centralize energy usage calculations
  src/data/energy.ts
  src/panels/lovelace/cards/energy/hui-energy-devices-detail-graph-card.ts
  src/panels/lovelace/cards/energy/hui-energy-distribution-card.ts
  src/panels/lovelace/cards/energy/hui-energy-self-sufficiency-gauge-card.ts
  src/panels/lovelace/cards/energy/hui-energy-usage-graph-card.ts
  test/data/energy.test.ts
Labels: cla-signed

#25232 Make name a top level field for the SSDP panel
  src/data/ssdp.ts
  src/panels/config/integrations/integration-panels/ssdp/dialog-ssdp-discovery-info.ts
  src/panels/config/integrations/integration-panels/ssdp/ssdp-config-panel.ts
  src/translations/en.json
Labels: cla-signed

#25207 Grouping options for hui-energy-sankey-card
  src/components/chart/ha-sankey-chart.ts
  src/panels/lovelace/cards/energy/hui-energy-sankey-card.ts
  src/panels/lovelace/cards/types.ts
Labels: cla-signed

#25228 Use list item for statistic picker
  src/components/entity/ha-entities-picker.ts
  src/components/entity/ha-entity-picker.ts
  src/components/entity/ha-statistic-combo-box.ts
  src/components/entity/ha-statistic-picker.ts
  src/components/entity/ha-statistics-picker.ts
  src/components/ha-selector/ha-selector-entity.ts
  src/panels/lovelace/editor/config-elements/hui-statistics-graph-card-editor.ts
  src/translations/en.json
Labels: cla-signed

#25235 Add DHCP Browser entry point to network
  src/panels/config/network/ha-config-network-dhcp.ts
  src/panels/config/network/ha-config-section-network.ts
  src/translations/en.json
Labels: cla-signed

#25239 Allow pasting more automation config formats
  src/panels/config/automation/manual-automation-editor.ts
Labels: cla-signed

#25240 Allow pasting more script config
  src/panels/config/script/manual-script-editor.ts
Labels: cla-signed

#25241 Improve trigger condition check on paste
  src/data/automation.ts
  src/panels/config/automation/manual-automation-editor.ts
Labels: cla-signed

#25244 20250430.1
  pyproject.toml
  src/data/automation.ts
  src/panels/config/automation/manual-automation-editor.ts
  src/panels/config/network/ha-config-network-dhcp.ts
  src/panels/config/network/ha-config-section-network.ts
  src/panels/config/script/manual-script-editor.ts
  src/translations/en.json
Labels: cla-signed

#25243 Use code font family variable in combo-box
  src/components/entity/ha-entity-combo-box.ts
  src/components/entity/ha-statistic-combo-box.ts
Labels: cla-signed

#25245 Handle errrors/wrong values on paste
  src/components/ha-toast.ts
  src/panels/config/automation/manual-automation-editor.ts
  src/panels/config/script/manual-script-editor.ts
  src/translations/en.json
Labels: cla-signed

#25246 20250430.2
  pyproject.toml
  src/components/entity/ha-entity-combo-box.ts
  src/components/entity/ha-statistic-combo-box.ts
  src/components/ha-toast.ts
  src/panels/config/automation/manual-automation-editor.ts
  src/panels/config/script/manual-script-editor.ts
  src/translations/en.json
Labels: cla-signed

#25242 New energy calculation formula
  src/data/energy.ts
  test/data/energy.test.ts
Labels: cla-signed

#25251 Fix formatting of mac address fields in device info
  src/panels/config/devices/device-detail/ha-device-info-card.ts
Labels: cla-signed

#25252 Improve message when no discovery data is found
  src/panels/config/integrations/integration-panels/bluetooth/bluetooth-advertisement-monitor.ts
  src/panels/config/integrations/integration-panels/dhcp/dhcp-config-panel.ts
  src/panels/config/integrations/integration-panels/ssdp/ssdp-config-panel.ts
  src/panels/config/integrations/integration-panels/zeroconf/zeroconf-config-panel.ts
  src/translations/en.json
Labels: cla-signed

#25253 Add `?` as shortcut for shortcuts dialog
  src/state/quick-bar-mixin.ts
Labels: cla-signed
