Repository home-assistant/frontend, pull requests merged in 2025-10, with the labels that each got.

#27271 Add alert to fixed domain states
  src/common/entity/get_states.ts
Labels: cla-signed

#26874 ha-refresh-tokens-card: Replace ha-button-menu to ha-md-button-menu
  src/panels/profile/ha-refresh-tokens-card.ts
Labels: cla-signed

#27157 Add a sub-editor to hui-entity-editor
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/components/hui-entity-editor.ts
  src/panels/lovelace/editor/config-elements/hui-generic-entity-row-editor.ts
  src/panels/lovelace/editor/config-elements/hui-glance-card-editor.ts
  src/panels/lovelace/editor/config-elements/hui-history-graph-card-editor.ts
  src/panels/lovelace/editor/hui-element-editor.ts
  src/panels/lovelace/editor/hui-sub-element-editor.ts
  src/panels/lovelace/editor/structs/entities-struct.ts
  src/panels/lovelace/types.ts
  src/translations/en.json
Labels: cla-signed

#27289 Remove @shoelace-style from babelOptions exclusion list
  build-scripts/bundle.cjs
Labels: hacktoberfest, cla-signed, Build

#25037 Add energy compare with previous year
  src/data/energy.ts
  src/panels/lovelace/cards/energy/common/energy-chart-options.ts
  src/panels/lovelace/cards/energy/hui-energy-compare-card.ts
  src/panels/lovelace/components/hui-energy-period-selector.ts
  src/translations/en.json
Labels: cla-signed, WTH, Noteworthy

#27297 Add a placeholder hint for template selector
  src/components/ha-code-editor.ts
  src/components/ha-selector/ha-selector-template.ts
Labels: cla-signed

#27314 Capitalize two occurrences of "YAML" abbreviation
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#27298 Fix mobile ha-dialog height in Browser
  src/components/ha-dialog.ts
  src/resources/styles.ts
Labels: hacktoberfest, cla-signed

#27294 Make ha-slider not depend on font sizes
  src/components/ha-slider.ts
Labels: hacktoberfest, cla-signed

#27327 Add ESPHome to discovery sources
  src/data/config_flow.ts
Labels: hacktoberfest, cla-signed

#27325 Add "media_stop" action to media player controls in more info
  src/dialogs/more-info/controls/more-info-media_player.ts
Labels: hacktoberfest, cla-signed

#27264 Move home subview to dedicated dashboard
  src/common/entity/entity_filter.ts
  src/components/ha-icon-overflow-menu.ts
  src/layouts/partial-panel-resolver.ts
  src/panels/climate/ha-panel-climate.ts
  src/panels/climate/strategies/climate-view-strategy.ts
  src/panels/config/lovelace/dashboards/ha-config-lovelace-dashboards.ts
  src/panels/light/ha-panel-light.ts
  src/panels/light/strategies/light-view-strategy.ts
  src/panels/lovelace/cards/hui-home-summary-card.ts
  src/panels/lovelace/strategies/get-strategy.ts
  src/panels/lovelace/strategies/home/helpers/home-structure.ts
  src/panels/lovelace/strategies/home/helpers/home-summaries.ts
  src/panels/lovelace/strategies/home/home-area-view-strategy.ts
  src/panels/lovelace/strategies/home/home-dashboard-strategy.ts
  src/panels/lovelace/strategies/home/home-main-view-strategy.ts
  src/panels/lovelace/strategies/home/home-media-players-view-strategy.ts
  src/panels/my/ha-panel-my.ts
  src/panels/security/ha-panel-security.ts
  src/panels/security/strategies/security-view-strategy.ts
  src/translations/en.json
Labels: cla-signed

#27335 Fix ARIA role typo: Change 'seperator' to 'separator' in todo-list card
  src/panels/lovelace/cards/hui-todo-list-card.ts
Labels: hacktoberfest, cla-signed

#27333 Fix grammar: Change 'can not' to 'cannot' in English translations
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#27331 Fix comment typo: Change 'remplace' to 'replace' in developer-tools
  src/panels/developer-tools/action/developer-tools-action.ts
Labels: hacktoberfest, cla-signed, invalid

#27334 Improve type safety: Replace 'any[]' with generic type parameter in a…
  src/panels/lovelace/common/find-entities.ts
Labels: hacktoberfest, cla-signed

#27340 Fix inconsistent variable naming: lokalize localize
  src/panels/developer-tools/action/developer-tools-action.ts
  src/state/connection-mixin.ts
Labels: hacktoberfest, cla-signed

#27356 Fix typo in variable name: enityA entityA in script config
  src/panels/config/script/ha-config-script.ts
Labels: hacktoberfest, cla-signed

#27361 Update Mauritania currency
  src/components/ha-currency-picker.ts
  src/data/currency.ts
Labels: hacktoberfest, cla-signed

#27357 Fix typo in parameter name: entites entities in MockHomeAssistant in…
  src/fake_data/provide_hass.ts
Labels: hacktoberfest, cla-signed, Demo, Design

#27350 Give a warning body in preview for empty stack cards
  src/panels/lovelace/cards/hui-error-card.ts
  src/panels/lovelace/cards/hui-stack-card.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#27249 Refactor overflow menu in labels data table to have a single instance
  src/panels/config/labels/ha-config-labels.ts
Labels: cla-signed

#27362 Refactor: Simplify boolean return in isSeparatorAtPos
  src/common/string/filter/filter.ts
Labels: hacktoberfest, cla-signed

#27339 Fix/assist debug interface typo
  src/data/conversation.ts
  src/panels/developer-tools/assist/developer-tools-assist.ts
Labels: hacktoberfest, cla-signed

#27369 Refactor: Replace Object.keys().includes() with 'in' operator
  src/dialogs/more-info/ha-more-info-settings.ts
  src/onboarding/onboarding-restore-backup.ts
  src/panels/config/integrations/ha-config-integration-page.ts
  src/panels/lovelace/editor/badge-editor/hui-dialog-create-badge.ts
  src/panels/lovelace/editor/card-editor/hui-dialog-create-card.ts
  src/panels/lovelace/editor/config-elements/hui-statistic-card-editor.ts
Labels: hacktoberfest, cla-signed

#27368 Refactor: Replace string concatenation with template literals
  src/components/ha-hls-player.ts
  src/panels/config/integrations/integration-panels/zha/zha-cluster-commands.ts
Labels: hacktoberfest, cla-signed

#27377 Move duplicate css to shared styles for state control toggles
  src/resources/state-control-styles.ts
  src/state-control/cover/ha-state-control-cover-toggle.ts
  src/state-control/ha-state-control-toggle.ts
  src/state-control/lock/ha-state-control-lock-toggle.ts
  src/state-control/valve/ha-state-control-valve-toggle.ts
Labels: hacktoberfest, cla-signed

#27324 Replace confirm dialogs with toast for delete actions in automation/script editor
  src/panels/config/automation/action/ha-automation-action-row.ts
  src/panels/config/automation/condition/ha-automation-condition-row.ts
  src/panels/config/automation/option/ha-automation-option-row.ts
  src/panels/config/automation/trigger/ha-automation-trigger-row.ts
  src/panels/config/script/ha-script-field-row.ts
  src/translations/en.json
Labels: hacktoberfest, cla-signed

#27382 Fix android tap highlight border radius
  src/components/ha-button.ts
Labels: hacktoberfest, cla-signed

#27391 Add ellipsis to ha-button label
  src/components/ha-button.ts
  src/panels/config/devices/ha-config-device-page.ts
Labels: hacktoberfest, cla-signed

#26355 Fix hui-conditional-row causing varying row margins.
  src/panels/lovelace/cards/hui-entities-card.ts
  src/panels/lovelace/special-rows/hui-conditional-row.ts
Labels: cla-signed

#27398 Add plus and minus button for media player more info
  src/dialogs/more-info/controls/more-info-media_player.ts
Labels: hacktoberfest, cla-signed

#27400 Use right variable for content color in tooltip
  src/components/ha-tooltip.ts
Labels: hacktoberfest, cla-signed

#27065 Add name preset to tile card
  src/common/entity/compute_entity_name.ts
  src/common/entity/compute_entity_name_display.ts
  src/common/translations/entity-state.ts
  src/components/entity/ha-entity-name-picker.ts
  src/components/entity/ha-entity-picker.ts
  src/components/entity/ha-statistic-picker.ts
  src/components/ha-selector/ha-selector-entity-name.ts
  src/components/ha-selector/ha-selector.ts
  src/data/selector.ts
  src/data/selector/format_selector_value.ts
  src/dialogs/more-info/ha-more-info-dialog.ts
  src/dialogs/quick-bar/ha-quick-bar.ts
  src/panels/lovelace/cards/hui-tile-card.ts
  src/panels/lovelace/cards/types.ts
  src/panels/lovelace/components/hui-entity-editor.ts
  src/panels/lovelace/editor/card-editor/hui-entity-picker-table.ts
  src/panels/lovelace/editor/config-elements/hui-tile-card-editor.ts
  src/panels/lovelace/editor/structs/entity-name-struct.ts
  src/panels/lovelace/strategies/home/home-area-view-strategy.ts
  src/translations/en.json
  src/types.ts
  test/common/entity/compute_entity_name_display.test.ts
Labels: cla-signed

#27396 Improved data-table search
  src/components/data-table/sort-filter-worker.ts
Labels: hacktoberfest, cla-signed, Noteworthy
